/* This project uses Cavepaint! (MIT License) */
/* https://github.com/cavepaint/cavepaintCSS */
* {
  margin: 0 0 1.62rem 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}
.button,
button {
  border-style: solid;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(2, 4, 41, 0.16);
  display: inline;
  position: relative;
  font-family: inherit;
  font-size: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  color: inherit;
  background-color: inherit;
  border-color: #998521;
  border-width: 1px;
  line-height: 1.6;
  text-align: center;
  vertical-align: middle;
  outline: none;
  white-space: nowrap;
  text-decoration: none;
  touch-action: manipulation;
  cursor: pointer;
  transform: scale(1);
  transition: 0.08s linear;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.button:active,
button:active {
  transform: scale(0.99);
  box-shadow: unset;
}
.bar {
  position: relative;
  width: 100%;
  display: block;
  vertical-align: middle;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.bar > * {
  display: inline;
  margin-right: 0.3236em;
  margin-left: 0.3236em;
  margin-bottom: 0;
}
.card {
  position: relative;
  overflow: hidden;
  padding: 1.62rem;
  border: 1px solid #d4ba37;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(2, 4, 41, 0.16);
}
.card > *:first-child {
  margin-top: 0;
}
.card > *:last-child {
  margin-bottom: 0;
}
.badge {
  border-radius: 0.5em;
  line-height: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  padding-right: 0.6472em;
  padding-left: 0.6472em;
  vertical-align: middle;
  border-radius: 99px;
  white-space: nowrap;
}
.modal {
  display: none;
  max-width: none;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  position: fixed;
  bottom: 0;
  justify-content: center;
  flex: 0 1 auto;
  flex-direction: column;
  height: 100vh;
}
.modal > * {
  flex-direction: column;
  color: #292702;
  position: relative;
  background: #fffef1;
  padding: 1.62rem;
  margin-bottom: 3.24rem;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(2, 4, 41, 0.16);
  margin: 1.62rem;
}
@media screen and (min-width: 42.24rem) {
  .modal > * {
    max-width: 63rem;
    margin: 0 auto;
  }
}
.overlay {
  margin: 0;
  padding: 0;
  position: relative;
}
.overlay .top,
.overlay .bottom,
.overlay .left,
.overlay .right {
  position: absolute;
}
.overlay .top {
  top: 0.3236em;
}
.overlay .bottom {
  bottom: 0.3236em;
}
.overlay .left {
  left: 0.3236em;
}
.overlay .right {
  right: 0.3236em;
}
.overlay.stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.overlay * {
  margin: 0;
  display: block;
}
.grid,
.two-column,
.three-column {
  display: grid;
  grid-gap: 1.62rem;
}
.grid.tablet,
.two-column.tablet,
.three-column.tablet,
.grid.mobile.tablet,
.two-column.mobile.tablet,
.three-column.mobile.tablet,
.grid.desktop,
.two-column.desktop,
.three-column.desktop {
  display: initial;
}
.grid {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.two-column {
  grid-template-columns: 1fr 1fr;
}
.two-column.golden {
  grid-template-columns: 1.618fr 1fr;
}
.two-column.golden.reverse {
  grid-template-columns: 1fr 1.618fr;
}
.three-column {
  grid-template-columns: 1fr 1fr 1fr;
}
.three-column.golden {
  grid-template-columns: 1fr 1.618fr 1fr;
}
.three-column.golden.leading {
  grid-template-columns: 1.618fr 1fr 1fr;
}
.three-column.golden.trailing {
  grid-template-columns: 1fr 1fr 1.618fr;
}
.grid .grid-width-one {
  grid-column: auto / span 1;
}
.grid .grid-width-two {
  grid-column: auto / span 2;
}
.grid .grid-width-three {
  grid-column: auto / span 3;
}
.grid .grid-width-four {
  grid-column: auto / span 4;
}
.grid .grid-width-five {
  grid-column: auto / span 5;
}
.grid .grid-width-six {
  grid-column: auto / span 6;
}
.grid .grid-width-seven {
  grid-column: auto / span 7;
}
.grid .grid-width-eight {
  grid-column: auto / span 8;
}
.grid .grid-width-nine {
  grid-column: auto / span 9;
}
.grid .grid-width-ten {
  grid-column: auto / span 10;
}
.grid .grid-width-eleven {
  grid-column: auto / span 11;
}
.grid .grid-width-twelve {
  grid-column: auto / span 12;
}
@media screen and (max-width: calc(42.24rem - 1px)) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: grid;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 42.24rem) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: initial;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: initial;
  }
  .grid.tablet,
  .two-column.tablet,
  .three-column.tablet {
    display: grid;
  }
  .grid.tablet > *,
  .two-column.tablet > *,
  .three-column.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (max-width: calc(63rem - 1px)) {
  .grid.mobile.tablet,
  .two-column.mobile.tablet,
  .three-column.mobile.tablet {
    display: grid;
  }
  .grid.mobile.tablet > *,
  .two-column.mobile.tablet > *,
  .three-column.mobile.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 63rem) {
  .grid.desktop,
  .two-column.desktop,
  .three-column.desktop {
    display: grid;
  }
  .grid.desktop > *,
  .two-column.desktop > *,
  .three-column.desktop > * {
    margin-bottom: 0;
  }
}
.responsive {
  column-gap: 0.619rem;
  grid-gap: 0.619rem;
}
.responsive.padding,
.modal,
.container {
  padding: 0.619rem;
}
.responsive.margin,
.container {
  margin: 0.619rem;
}
.responsive.gutter {
  margin: 1.238rem;
}
@media screen and (min-width: 42.24rem) {
  .responsive {
    column-gap: 1.001rem;
    grid-gap: 1.001rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.001rem;
  }
  .responsive.margin,
  .container {
    margin: 1.001rem;
  }
  .responsive.gutter {
    margin: 2.002rem;
  }
}
@media screen and (min-width: 63rem) {
  .responsive {
    column-gap: 1.62rem;
    grid-gap: 1.62rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.62rem;
  }
  .responsive.margin,
  .container {
    margin: 1.62rem;
  }
  .responsive.gutter {
    margin: 3.24rem;
  }
}
.background {
  background: #fffef1;
}
.background-color {
  background-color: #fffef1;
}
.border {
  border: 1px solid #d4ba37;
}
.border-radius,
.rounded {
  border-radius: 0.5em;
}
.border-bottom {
  border-bottom: 1px solid #d4ba37;
}
.border-left {
  border-left: 1px solid #d4ba37;
}
.border-right {
  border-right: 1px solid #d4ba37;
}
.border-style,
.button.border,
button.border {
  border-style: solid;
}
.border-top {
  border-top: 1px solid #d4ba37;
}
.border-width,
.button.border,
button.border {
  border-width: 1px;
}
.max-width {
  max-width: 63rem;
}
.min-width {
  min-width: 24rem;
}
.align-content {
  align-content: stretch;
}
.align-items {
  align-items: stretch;
}
.align-self {
  align-self: auto;
}
.flex,
.vertical-center,
.center-vertical {
  flex: 0 1 auto;
}
.flex-basis {
  flex-basis: auto;
}
.flex-direction,
.vertical-center,
.center-vertical {
  flex-direction: column;
}
.flex-flow {
  flex-flow: column nowrap;
}
.flex-grow {
  flex-grow: 0;
}
.flex-shrink {
  flex-shrink: 1;
}
.flex-wrap {
  flex-wrap: nowrap;
}
.justify-content,
.vertical-center,
.center-vertical {
  justify-content: center;
}
.font-family {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.font-size {
  font-size: 20px;
}
.font-weight {
  font-weight: normal;
}
.list-style {
  list-style: disc inside none;
}
.list-style-type {
  list-style-type: disc;
}
.margin {
  margin: 1.62rem;
}
.margin-bottom {
  margin-bottom: 1.62rem;
}
.margin-left {
  margin-left: 1.62rem;
}
.margin-right {
  margin-right: 1.62rem;
}
.margin-top {
  margin-top: 1.62rem;
}
.column-gap {
  column-gap: 1.94em;
}
.column-rule {
  column-rule: 1px solid #d4ba37;
}
.padding {
  padding: 1.62rem;
}
.padding-bottom {
  padding-bottom: 1.62rem;
}
.padding-left {
  padding-left: 1.62rem;
}
.padding-right {
  padding-right: 1.62rem;
}
.padding-top {
  padding-top: 1.62rem;
}
.text-align {
  text-align: left;
}
.text-align-last {
  text-align-last: left;
}
.text-indent {
  text-indent: 2ch;
}
.text-justify {
  text-justify: justify;
}
.text-overflow {
  text-overflow: hidden;
}
.text-shadow {
  text-shadow: 1.41px 1.41px 1.41px rgba(2, 4, 41, 0.16);
}
.line-height {
  line-height: 1.8;
}
.vertical-align {
  vertical-align: middle;
}
.letter-spacing {
  letter-spacing: 0;
}
.word-spacing {
  word-spacing: normal;
}
.white-space {
  white-space: nowrap;
}
.word-break {
  word-break: break-all;
}
.word-wrap {
  word-wrap: break-word;
}
.transform {
  transform: none;
}
.transition {
  transition: all 0s ease 0s;
}
.display {
  display: block;
}
.position {
  position: absolute;
}
.top {
  top: 0;
}
.right {
  right: 0;
}
.bottom {
  bottom: 0;
}
.left {
  left: 0;
}
.float {
  float: left;
}
.clear {
  clear: both;
}
.z-index {
  z-index: 10;
}
.overflow {
  overflow: hidden;
}
.overflow-x {
  overflow-x: hidden;
}
.cursor {
  cursor: pointer;
}
.box-shadow {
  box-shadow: 1.41px 1.41px 1.41px rgba(2, 4, 41, 0.16);
}
.gutter {
  margin: 3.24rem;
}
.gutter-top {
  margin-top: 3.24rem;
}
.gutter-right {
  margin-right: 3.24rem;
}
.gutter-bottom {
  margin-bottom: 3.24rem;
}
.gutter-left {
  margin-left: 3.24rem;
}
.text-padding {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-padding-top {
  padding-top: 0.18em;
}
.text-padding-right {
  padding-right: 0.3236em;
}
.text-padding-bottom {
  padding-bottom: 0.22em;
}
.text-padding-left {
  padding-left: 0.3236em;
}
.text-margin {
  margin: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-margin-top {
  margin-top: 0.18em;
}
.text-margin-right {
  margin-right: 0.3236em;
}
.text-margin-bottom {
  margin-bottom: 0.22em;
}
.text-margin-left {
  margin-left: 0.3236em;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.initial {
  display: initial;
}
.table {
  display: table;
}
.flex,
.vertical-center,
.center-vertical {
  display: flex;
}
.inline-block {
  display: inline-block;
}
.static {
  position: static;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.margin-auto,
.container {
  margin-left: auto;
  margin-right: auto;
}
.width-auto {
  width: auto;
}
.inset {
  box-shadow: inset 1.41px 1.41px 1.41px rgba(2, 4, 41, 0.16);
}
.viewport-height {
  height: 100vh;
}
.min-viewport-height {
  min-height: 100vh;
}
.overflow-hidden {
  overflow: hidden;
}
.dashed {
  border-style: dashed;
}
.dotted {
  border-style: dotted;
}
.thick {
  border-width: 2px;
}
.thin {
  border-width: 0.5px;
}
.current-color {
  border-color: currentColor;
}
.fade {
  opacity: 0.65;
}
.serif,
.font-family-serif {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "Droid Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
.monospace,
.font-family-monospace {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
}
.sans-serif,
.font-family-sans-serif {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.text-transparent {
  color: transparent;
}
.reset {
  all: initial;
}
.big {
  font-size: 125%;
  line-height: 2.25;
}
.big.font-size {
  font-size: 25px;
}
.small,
.badge {
  font-size: 87.5%;
  line-height: 1.575;
}
.small.font-size {
  font-size: 17.5px;
}
.huge {
  font-size: 160%;
}
.huge.font-size {
  font-size: 32px;
}
.text-trim {
  line-height: 1;
}
.text-align-center,
.text-center {
  text-align: center;
}
.text-align-left,
.text-left {
  text-align: left;
}
.text-align-right,
.text-right {
  text-align: right;
}
.text-align-justify,
.text-justify {
  text-align: justify;
}
.grid-gap-margin {
  grid-gap: 1.62rem;
}
.grid-gap-border-width {
  grid-gap: 1px;
}
.grid-gap-text-padding,
.grid-gap-text-margin {
  grid-gap: 0.3236em;
}
.shade,
.white,
.orange,
.yellow,
.olive,
.light.green,
.teal,
.cyan,
.skyblue,
.violet,
.light.gray,
.light.magenta,
.lavender,
.cream,
.clover,
.light.cobalt,
.pewter,
.hotpink,
.neongreen,
.electricblue,
.lemon,
.lime,
.tangerine,
.light.grapefruit,
.default,
body,
input,
textarea,
.info,
.warning,
.light.success {
  color: #292702;
}
.tint,
.black,
.red,
.dark.olive,
.green,
.dark.teal,
.blue,
.indigo,
.purple,
.gray,
.brown,
.magenta,
.charcoal,
.crimson,
.dark.clover,
.cobalt,
.graphite,
.ruby,
.onyx,
.gunmetal,
.dark.hotpink,
.royalpurple,
.grapefruit,
.reaction,
.success,
.failure {
  color: #fffef1;
}
.transparent {
  background-color: transparent;
  color: inherit;
  border-color: inherit;
}
.transparent.light {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23FFF%22%20fill-opacity%3D%220.16%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.transparent.dark,
.modal {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23000%22%20fill-opacity%3D%220.25%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.trim,
.trim-inner *,
.trim-all,
.trim-all * {
  margin-bottom: 0;
}
.hidden {
  display: none !important;
}
.clearfix,
.clear {
  clear: both;
}
.clearfix::after,
.clear::after {
  display: block;
  clear: both;
  content: "";
}
.golden-width {
  max-width: calc(62% - 3.24rem);
}
.golden-width.reverse {
  max-width: 38%;
}
.aside-width {
  max-width: 24rem;
}
@media screen and (min-width: 42.24rem) {
  .text-width {
    max-width: 39rem;
  }
}
.page-width,
.container {
  max-width: 63rem;
}
.full-width,
.aside-width .aside-width,
.text-width .text-width,
.page-width .page-width {
  display: block;
  width: 100%;
}
.inner-aside-width {
  padding-left: calc(50% - 12rem);
  padding-right: calc(50% - 12rem);
}
.inner-aside-width.padding {
  padding-left: calc(50% - 10.38rem);
  padding-right: calc(50% - 10.38rem);
}
.inner-aside-width.responsive.padding {
  padding-left: calc(50% - 11.38rem);
  padding-right: calc(50% - 11.38rem);
}
.inner-text-width {
  padding-left: calc(50% - 19.5rem);
  padding-right: calc(50% - 19.5rem);
}
.inner-text-width.padding {
  padding-left: calc(50% - 17.88rem);
  padding-right: calc(50% - 17.88rem);
}
.inner-text-width.responsive.padding {
  padding-left: calc(50% - 18.88rem);
  padding-right: calc(50% - 18.88rem);
}
.inner-page-width {
  padding-left: calc(50% - 31.5rem);
  padding-right: calc(50% - 31.5rem);
}
.inner-page-width.padding {
  padding-left: calc(50% - 29.88rem);
  padding-right: calc(50% - 29.88rem);
}
.inner-page-width.responsive.padding {
  padding-left: calc(50% - 30.88rem);
  padding-right: calc(50% - 30.88rem);
}
@media screen and (max-width: calc(42.24rem - 1px)) {
  .inner-text-width {
    padding-left: initial;
    padding-right: initial;
  }
  .inner-text-width.padding {
    padding-left: 1.62rem;
    padding-right: 1.62rem;
  }
  .inner-text-width.responsive.padding {
    padding-left: 0.619rem;
    padding-right: 0.619rem;
  }
}
@media screen and (min-width: 42.24rem) {
  .inner-aside-width.tablet.padding {
    padding-left: calc(50% - 10.38rem);
    padding-right: calc(50% - 10.38rem);
  }
  .inner-aside-width.tablet.responsive.padding {
    padding-left: calc(50% - 11rem);
    padding-right: calc(50% - 11rem);
  }
  .inner-text-width.tablet.padding {
    padding-left: calc(50% - 17.88rem);
    padding-right: calc(50% - 17.88rem);
  }
  .inner-text-width.tablet.responsive.padding {
    padding-left: calc(50% - 18.5rem);
    padding-right: calc(50% - 18.5rem);
  }
  .inner-page-width.tablet.padding {
    padding-left: calc(50% - 29.88rem);
    padding-right: calc(50% - 29.88rem);
  }
  .inner-page-width.tablet.responsive.padding {
    padding-left: calc(50% - 30.5rem);
    padding-right: calc(50% - 30.5rem);
  }
}
@media screen and (min-width: 63rem) {
  .inner-aside-width.desktop.padding {
    padding-left: calc(50% - 10.38rem);
    padding-right: calc(50% - 10.38rem);
  }
  .inner-aside-width.desktop.responsive.padding {
    padding-left: calc(50% - 10.38rem);
    padding-right: calc(50% - 10.38rem);
  }
  .inner-text-width.desktop.padding {
    padding-left: calc(50% - 17.88rem);
    padding-right: calc(50% - 17.88rem);
  }
  .inner-text-width.desktop.responsive.padding {
    padding-left: calc(50% - 17.88rem);
    padding-right: calc(50% - 17.88rem);
  }
  .inner-page-width.desktop.padding {
    padding-left: calc(50% - 29.88rem);
    padding-right: calc(50% - 29.88rem);
  }
  .inner-page-width.desktop.responsive.padding {
    padding-left: calc(50% - 29.88rem);
    padding-right: calc(50% - 29.88rem);
  }
}
@media screen and (max-width: calc(63rem - 1px)) {
  .inner-page-width {
    padding-left: initial;
    padding-right: initial;
  }
  .inner-page-width.padding {
    padding-left: 1.62rem;
    padding-right: 1.62rem;
  }
  .inner-page-width.responsive.padding {
    padding-left: 0.619rem;
    padding-right: 0.619rem;
  }
}
.texture,
.pattern {
  background-position: top center;
}
.texture {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20viewBox%3D'0%200%203.175%201.588'%20height%3D'20'%20width%3D'40'%3E%3Cg%20fill%3D'%23292702'%20fill-opacity%3D'0.16'%3E%3Cpath%20d%3D'M1.317%201.194h-.92l.23-.399.23-.398.23.398zM2.312%201.194l-.23-.399-.23-.398h.92l-.23.398z'/%3E%3C/g%3E%3C/svg%3E");
}
.pattern {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20width%3D'80'%20height%3D'50'%20viewBox%3D'0%200%2021.167%2013.229'%3E%3Cpath%20opacity%3D'0.16'%20fill%3D'%23292702'%20d%3D'M0%200h10.583v13.229H0z'/%3E%3C/svg%3E");
}
.placeholder::before {
  content: " ";
  white-space: pre;
}
.placeholder::after {
  content: "";
}
.placeholder.image,
.placeholder.video,
.placeholder.avatar {
  position: relative;
}
.placeholder.image::before,
.placeholder.video::before,
.placeholder.avatar::before {
  position: absolute;
  top: calc(50% - 4rem);
  right: 0;
  bottom: 0;
  left: 0;
  display: inline-block;
  text-align: center;
  font-size: 4rem;
  vertical-align: middle;
}
.placeholder.image.small::before,
.placeholder.video.small::before,
.placeholder.avatar.small::before {
  top: calc(50% - 2rem);
  font-size: 2rem;
}
.placeholder.image.big::before,
.placeholder.video.big::before,
.placeholder.avatar.big::before {
  top: calc(50% - 6rem);
  font-size: 6rem;
}
.placeholder.image.huge::before,
.placeholder.video.huge::before,
.placeholder.avatar.huge::before {
  top: calc(50% - 8rem);
  font-size: 8rem;
}
.placeholder.image::after,
.placeholder.video::after,
.placeholder.avatar::after {
  display: block;
}
.placeholder.image::before {
  content: "\1f5bc";
}
.placeholder.image::after {
  padding-top: 75%;
}
.placeholder.video::before {
  content: "\25B6";
}
.placeholder.video::after {
  padding-top: 56.25%;
}
.placeholder.avatar::before {
  content: "\263B";
}
.placeholder.avatar::after {
  padding-top: 100%;
}
.placeholder.no-icon::before {
  content: "";
}
.hide {
  display: none;
}
.hide.tablet {
  display: initial;
}
.hide.desktop {
  display: initial;
}
@media screen and (max-width: calc(42.24rem - 1px)) {
  .hide.mobile {
    display: none;
  }
}
@media screen and (min-width: 42.24rem) {
  .hide.mobile {
    display: initial;
  }
  .hide.tablet {
    display: none;
  }
}
@media screen and (min-width: 63rem) {
  .hide.desktop {
    display: none;
  }
  .hide.mobile.tablet {
    display: initial;
  }
}
@media screen and (max-width: calc(63rem - 1px)) {
  .hide.mobile.tablet {
    display: none;
  }
}
body {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
  font-size: 20px;
  line-height: 1.8;
  margin: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
nav {
  z-index: 99;
}
nav a {
  text-decoration: none;
}
aside {
  margin: 0 auto;
  margin-bottom: 1.62rem;
  max-width: 24rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
  font-weight: bold;
  margin-top: 0.49443758em;
  margin-bottom: 0.74165637em;
  letter-spacing: -0.025em;
  color: inherit;
  line-height: 1.618;
}
h1 {
  font-size: 2.4em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1em;
}
p {
  margin-bottom: 1em;
}
p.gutter-bottom {
  margin-bottom: 1.618em;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: inherit;
  text-decoration: underline;
}
a.target-blank::after,
a.new-tab::after,
a.external-link::after {
  content: "\00A0\1F855";
}
form {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
  font-size: 20px;
  line-height: 1.8;
  border: 1px solid #d4ba37;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input:focus {
  box-shadow: 0 0 2px #90d2c9;
}
fieldset {
  border: none;
  outline: none;
}
ol {
  padding-left: 4ch;
  margin-bottom: 1.62rem;
}
ol li {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
ul {
  margin-left: 1.62rem;
  margin-bottom: 1.62rem;
}
li {
  margin-bottom: 0.44em;
}
kbd {
  color: #fffef1;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  white-space: nowrap;
}
b {
  padding: 0.18em 0 0.22em 0;
}
pre {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
  overflow: hidden;
  border-radius: 0.5em;
  background: #474335;
  color: #fffef1;
}
pre.white-space,
pre.word-break {
  white-space: pre-wrap;
}
pre > code {
  background: transparent;
  padding: 0;
}
code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
  color: #fffef1;
  background-color: #3d4559;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
code.terminal::before {
  content: "$ ";
}
textarea {
  font-size: 20px;
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
  line-height: 1.8;
  border: 1px solid #d4ba37;
  border-radius: 0.5em;
  margin-bottom: 1.62rem;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
textarea:focus {
  box-shadow: 0 0 2px #90d2c9;
}
.white,
body,
input,
textarea {
  background-color: #fffef1;
  border-color: #8d8c79;
}
.black {
  background-color: #292702;
  border-color: #141401;
}
.ambient {
  color: #292702;
  background: #fff50f;
  border-color: #8c8708;
}
.ambient.light {
  color: #292702;
  background: #fff738;
  border-color: #8d881c;
}
.ambient.dark {
  color: #292702;
  background: #e5dc00;
  border-color: #807a00;
}
.red,
.failure {
  background-color: #fe2e08;
  border-color: #8c1904;
}
.light.red,
.light.failure {
  background-color: #ff5031;
  border-color: #8c2a19;
}
.dark.red,
.dark.failure {
  background-color: #de2200;
  border-color: #7c1300;
}
.orange,
.warning {
  background-color: #ffb302;
  border-color: #8d6301;
}
.light.orange,
.light.warning {
  background-color: #ffbf2b;
  border-color: #8d6916;
}
.dark.orange,
.dark.warning {
  background-color: #d89700;
  border-color: #795500;
}
.yellow {
  background-color: #ffff04;
  border-color: #8c8c02;
}
.light.yellow {
  background-color: #ffff2d;
  border-color: #8c8c17;
}
.dark.yellow {
  background-color: #dada00;
  border-color: #7a7a00;
}
.olive {
  background-color: #b3b208;
  border-color: #666605;
}
.light.olive {
  background-color: #dad90a;
  border-color: #7a7906;
}
.dark.olive {
  background-color: #8c8c07;
  border-color: #535204;
}
.green,
.success {
  background-color: #2faa06;
  border-color: #1b6204;
}
.light.green,
.light.success {
  background-color: #3ad208;
  border-color: #207604;
}
.dark.green,
.dark.success {
  background-color: #248305;
  border-color: #164e03;
}
.teal {
  background-color: #31b28e;
  border-color: #1b644f;
}
.light.teal {
  background-color: #41cba4;
  border-color: #23705b;
}
.dark.teal {
  background-color: #289274;
  border-color: #165443;
}
.cyan {
  background-color: #42ffc8;
  border-color: #218c6d;
}
.light.cyan {
  background-color: #6bffd4;
  border-color: #358c73;
}
.dark.cyan {
  background-color: #19ffbc;
  border-color: #0d8c67;
}
.skyblue,
.info {
  background-color: #90d2c9;
  border-color: #4b736e;
}
.light.skyblue,
.light.info {
  background-color: #added7;
  border-color: #5a7975;
}
.dark.skyblue,
.dark.info {
  background-color: #73c6bb;
  border-color: #3d6d67;
}
.blue {
  background-color: #2d2adb;
  border-color: #181779;
}
.light.blue {
  background-color: #4f4de1;
  border-color: #29287c;
}
.dark.blue {
  background-color: #2320bc;
  border-color: #13126a;
}
.indigo {
  background-color: #782c87;
  border-color: #45194e;
}
.light.indigo {
  background-color: #9336a6;
  border-color: #531e5e;
}
.dark.indigo {
  background-color: #5c2268;
  border-color: #37143f;
}
.purple {
  background-color: #c3329e;
  border-color: #6d1b58;
}
.light.purple {
  background-color: #d14daf;
  border-color: #742960;
}
.dark.purple {
  background-color: #a22a83;
  border-color: #5c174a;
}
.violet {
  background-color: #f08bcc;
  border-color: #84476e;
}
.light.violet {
  background-color: #f5afdc;
  border-color: #865976;
}
.dark.violet {
  background-color: #eb67bc;
  border-color: #823566;
}
.gray {
  background-color: #99916d;
  border-color: #56513b;
}
.light.gray {
  background-color: #aaa385;
  border-color: #5e5a47;
}
.dark.gray {
  background-color: #837b5b;
  border-color: #4a4632;
}
.brown {
  background-color: #af632d;
  border-color: #623719;
}
.light.brown {
  background-color: #cc7639;
  border-color: #71411f;
}
.dark.brown {
  background-color: #8e5125;
  border-color: #522e15;
}
.magenta {
  background-color: #fe45c7;
  border-color: #8c236d;
}
.light.magenta {
  background-color: #fe6dd4;
  border-color: #8c3773;
}
.dark.magenta {
  background-color: #fe1cbb;
  border-color: #8c0e67;
}
.lavender {
  background-color: #d2c0da;
  border-color: #716476;
}
.light.lavender {
  background-color: #e5dae9;
  border-color: #7a717e;
}
.dark.lavender {
  background-color: #c0a7cb;
  border-color: #68576f;
}
.cream {
  background-color: #f9f9c1;
  border-color: #898961;
}
.light.cream {
  background-color: #fdfde6;
  border-color: #8b8b74;
}
.dark.cream {
  background-color: #f6f59c;
  border-color: #87874f;
}
.charcoal {
  background-color: #745a2b;
  border-color: #443519;
}
.light.charcoal {
  background-color: #927136;
  border-color: #53401e;
}
.dark.charcoal {
  background-color: #574320;
  border-color: #362913;
}
.crimson {
  background-color: #c42022;
  border-color: #6e1213;
}
.light.crimson {
  background-color: #dd3032;
  border-color: #7a1a1b;
}
.dark.crimson {
  background-color: #a11b1c;
  border-color: #5c0f10;
}
.clover {
  background-color: #65c719;
  border-color: #396f0e;
}
.light.clover {
  background-color: #79e425;
  border-color: #427e14;
}
.dark.clover {
  background-color: #53a315;
  border-color: #2f5d0c;
}
.cobalt {
  background-color: #3b87ce;
  border-color: #204b72;
}
.light.cobalt {
  background-color: #5c9bd6;
  border-color: #305476;
}
.dark.cobalt {
  background-color: #2d73b3;
  border-color: #194065;
}
.graphite {
  background-color: #3d4559;
  border-color: #232836;
}
.light.graphite {
  background-color: #4e5872;
  border-color: #2b3242;
}
.dark.graphite {
  background-color: #2d3341;
  border-color: #1b1f2a;
}
.ruby {
  background-color: #c71634;
  border-color: #700c1d;
}
.light.ruby {
  background-color: #e62042;
  border-color: #7f1124;
}
.dark.ruby {
  background-color: #a3122a;
  border-color: #5d0a18;
}
.onyx {
  background-color: #474335;
  border-color: #2c291f;
}
.light.onyx {
  background-color: #5f5946;
  border-color: #383428;
}
.dark.onyx {
  background-color: #302d24;
  border-color: #211e16;
}
.pewter {
  background-color: #b8b888;
  border-color: #666548;
}
.light.pewter {
  background-color: #c8c7a1;
  border-color: #6d6d55;
}
.dark.pewter {
  background-color: #a9a96e;
  border-color: #5e5e3b;
}
.gunmetal {
  background-color: #667a68;
  border-color: #384639;
}
.light.gunmetal {
  background-color: #7a907c;
  border-color: #425043;
}
.dark.gunmetal {
  background-color: #546455;
  border-color: #2f3b30;
}
.hotpink {
  background-color: #ff65a0;
  border-color: #8c3355;
}
.light.hotpink {
  background-color: #ff8db9;
  border-color: #8c4762;
}
.dark.hotpink {
  background-color: #fe3c87;
  border-color: #8c1e49;
}
.neongreen {
  background-color: #4aff15;
  border-color: #288c0b;
}
.light.neongreen {
  background-color: #6aff3e;
  border-color: #388c1f;
}
.dark.neongreen {
  background-color: #36eb00;
  border-color: #1e8200;
}
.electricblue {
  background-color: #48cde4;
  border-color: #25717e;
}
.light.electricblue {
  background-color: #6bd7ea;
  border-color: #377681;
}
.dark.electricblue {
  background-color: #24c3df;
  border-color: #146c7b;
}
.royalpurple {
  background-color: #7d489f;
  border-color: #462759;
}
.light.royalpurple {
  background-color: #925bb5;
  border-color: #503164;
}
.dark.royalpurple {
  background-color: #673b83;
  border-color: #3b214b;
}
.lemon {
  background-color: #fffd87;
  border-color: #8d8b44;
}
.light.lemon {
  background-color: #fffeb0;
  border-color: #8d8c58;
}
.dark.lemon {
  background-color: #fffd5e;
  border-color: #8c8b2f;
}
.lime {
  background-color: #a6f576;
  border-color: #58873c;
}
.light.lime {
  background-color: #bff89c;
  border-color: #65884f;
}
.dark.lime {
  background-color: #8df250;
  border-color: #4c8529;
}
.tangerine {
  background-color: #ffb34d;
  border-color: #8c6127;
}
.light.tangerine {
  background-color: #ffc476;
  border-color: #8c6a3b;
}
.dark.tangerine {
  background-color: #ffa124;
  border-color: #8c5812;
}
.grapefruit {
  background-color: #e45344;
  border-color: #7e2c23;
}
.light.grapefruit {
  background-color: #e97468;
  border-color: #803c35;
}
.dark.grapefruit {
  background-color: #df3220;
  border-color: #7b1b12;
}
.action,
.base-color {
  color: #292702;
  background: #f6c418;
  border-color: #886c0d;
}
.action.light,
.base-color.light {
  color: #292702;
  background: #f8ce3f;
  border-color: #887120;
}
.action.dark,
.base-color.dark {
  color: #292702;
  background: #ddad09;
  border-color: #7b6005;
}
.reaction {
  background-color: #4a6fd4;
  border-color: #273c75;
}
.light.reaction {
  background-color: #6b89dc;
  border-color: #374979;
}
.dark.reaction {
  background-color: #2f58c6;
  border-color: #1a306e;
}
.default {
  background-color: #d4ba37;
  border-color: #75671e;
}
.light.default {
  background-color: #dbc659;
  border-color: #796d2e;
}
.dark.default {
  background-color: #baa228;
  border-color: #685b16;
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-margin-right {
  margin-right: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.no-margin-left {
  margin-left: 0 !important;
}
.no-padding {
  padding: 0;
}
.no-margin,
.no-gutter {
  margin: 0;
}
.no-side-margin,
.no-side-margins {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.no-margins {
  margin: 0 !important;
}
.no-margins * {
  margin: 0 !important;
}
.no-box-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  box-shadow: unset;
}
.no-text-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  text-shadow: unset;
}
.no-border,
.no-borders,
.no-borders * {
  border-width: 0 !important;
}
.no-background {
  background: transparent;
}
.no-text-indent {
  text-indent: 0;
}
.no-text-align {
  text-align: initial;
}
.no-user-select {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.no-pointer-events {
  pointer-events: none;
}
.no-list-style {
  list-style-type: none;
  margin-left: 0;
}
.no-grid-gap,
.no-column-gap {
  grid-gap: 0;
  column-gap: 0;
}
@media print {
  html {
    font-size: 62.5%;
  }
  * {
    box-shadow: unset !important;
    border: unset !important;
  }
  nav {
    display: none !important;
  }
  .page-width,
  .text-width,
  .container {
    all: unset;
  }
  .inner-page-width,
  .inner-text-width,
  .inner-aside-width {
    all: unset;
  }
}
