/* This project uses Cavepaint (MIT License) by Rex Riepe */
/* https://github.com/cavepaint/cavepaintCSS */
* {
  margin: 0 0 1.62rem 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  margin-bottom: 0;
}
.button,
button {
  border-style: solid;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(37, 27, 16, 0.16);
  display: inline;
  position: relative;
  font-family: inherit;
  font-size: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  color: inherit;
  background-color: inherit;
  border-color: #475a75;
  border-width: 1px;
  line-height: 1.6;
  text-align: center;
  vertical-align: middle;
  outline: none;
  white-space: nowrap;
  text-decoration: none;
  touch-action: manipulation;
  cursor: pointer;
  transform: scale(1);
  transition: 0.08s linear;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.button:active,
button:active {
  transform: scale(0.99);
  box-shadow: unset;
}
.bar {
  position: relative;
  width: 100%;
  display: block;
  vertical-align: middle;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.bar > * {
  display: inline;
  margin-right: 0.3236em;
  margin-left: 0.3236em;
  margin-bottom: 0;
}
.card {
  position: relative;
  overflow: hidden;
  padding: 1.62rem;
  border: 1px solid #6a81a4;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(37, 27, 16, 0.16);
}
.card > *:first-child {
  margin-top: 0;
}
.card > *:last-child {
  margin-bottom: 0;
}
.badge {
  border-radius: 0.5em;
  line-height: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  padding-right: 0.6472em;
  padding-left: 0.6472em;
  vertical-align: middle;
  border-radius: 99px;
  white-space: nowrap;
}
.modal {
  display: none;
  max-width: none;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  position: fixed;
  bottom: 0;
  justify-content: center;
  flex: 0 1 auto;
  flex-direction: column;
  height: 100vh;
}
.modal > * {
  flex-direction: column;
  color: #101925;
  position: relative;
  background: #f6f9fd;
  padding: 1.62rem;
  margin-bottom: 3.24rem;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(37, 27, 16, 0.16);
  margin: 1.62rem;
}
@media screen and (min-width: 38.24rem) {
  .modal > * {
    max-width: 56rem;
    margin: 0 auto;
  }
}
.overlay {
  margin: 0;
  padding: 0;
  position: relative;
}
.overlay .top,
.overlay .bottom,
.overlay .left,
.overlay .right {
  position: absolute;
}
.overlay .top {
  top: 0.3236em;
}
.overlay .bottom {
  bottom: 0.3236em;
}
.overlay .left {
  left: 0.3236em;
}
.overlay .right {
  right: 0.3236em;
}
.overlay.stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.overlay * {
  margin: 0;
  display: block;
}
.grid,
.two-column,
.three-column {
  display: grid;
  grid-gap: 1.62rem;
}
.grid.tablet,
.two-column.tablet,
.three-column.tablet,
.grid.mobile.tablet,
.two-column.mobile.tablet,
.three-column.mobile.tablet,
.grid.desktop,
.two-column.desktop,
.three-column.desktop {
  display: initial;
}
.grid {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.two-column {
  grid-template-columns: 1fr 1fr;
}
.two-column.golden {
  grid-template-columns: 1.618fr 1fr;
}
.two-column.golden.reverse {
  grid-template-columns: 1fr 1.618fr;
}
.three-column {
  grid-template-columns: 1fr 1fr 1fr;
}
.three-column.golden {
  grid-template-columns: 1fr 1.618fr 1fr;
}
.three-column.golden.leading {
  grid-template-columns: 1.618fr 1fr 1fr;
}
.three-column.golden.trailing {
  grid-template-columns: 1fr 1fr 1.618fr;
}
.grid-width-one {
  grid-column: auto / span 1;
}
.grid-width-two {
  grid-column: auto / span 2;
}
.grid-width-three {
  grid-column: auto / span 3;
}
.grid-width-four {
  grid-column: auto / span 4;
}
.grid-width-five {
  grid-column: auto / span 5;
}
.grid-width-six {
  grid-column: auto / span 6;
}
.grid-width-seven {
  grid-column: auto / span 7;
}
.grid-width-eight {
  grid-column: auto / span 8;
}
.grid-width-nine {
  grid-column: auto / span 9;
}
.grid-width-ten {
  grid-column: auto / span 10;
}
.grid-width-eleven {
  grid-column: auto / span 11;
}
.grid-width-twelve {
  grid-column: auto / span 12;
}
@media screen and (max-width: calc(38.24rem - 1px)) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: grid;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 38.24rem) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: initial;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: initial;
  }
  .grid.tablet,
  .two-column.tablet,
  .three-column.tablet {
    display: grid;
  }
  .grid.tablet > *,
  .two-column.tablet > *,
  .three-column.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (max-width: calc(56rem - 1px)) {
  .grid.mobile.tablet,
  .two-column.mobile.tablet,
  .three-column.mobile.tablet {
    display: grid;
  }
  .grid.mobile.tablet > *,
  .two-column.mobile.tablet > *,
  .three-column.mobile.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 56rem) {
  .grid.desktop,
  .two-column.desktop,
  .three-column.desktop {
    display: grid;
  }
  .grid.desktop > *,
  .two-column.desktop > *,
  .three-column.desktop > * {
    margin-bottom: 0;
  }
}
.responsive {
  column-gap: 0.619rem;
  grid-gap: 0.619rem;
}
.responsive.padding,
.modal,
.container {
  padding: 0.619rem;
}
.responsive.margin,
.container {
  margin: 0.619rem;
}
.responsive.gutter {
  margin: 1.238rem;
}
@media screen and (min-width: 38.24rem) {
  .responsive {
    column-gap: 1.001rem;
    grid-gap: 1.001rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.001rem;
  }
  .responsive.margin,
  .container {
    margin: 1.001rem;
  }
  .responsive.gutter {
    margin: 2.002rem;
  }
}
@media screen and (min-width: 56rem) {
  .responsive {
    column-gap: 1.62rem;
    grid-gap: 1.62rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.62rem;
  }
  .responsive.margin,
  .container {
    margin: 1.62rem;
  }
  .responsive.gutter {
    margin: 3.24rem;
  }
}
.background {
  background: #f6f9fd;
}
.background-color {
  background-color: #f6f9fd;
}
.border {
  border: 1px solid #6a81a4;
}
.border-radius,
.rounded {
  border-radius: 0.5em;
}
.border-bottom {
  border-bottom: 1px solid #6a81a4;
}
.border-left {
  border-left: 1px solid #6a81a4;
}
.border-right {
  border-right: 1px solid #6a81a4;
}
.border-style,
.button.border,
button.border {
  border-style: solid;
}
.border-top {
  border-top: 1px solid #6a81a4;
}
.border-width,
.button.border,
button.border {
  border-width: 1px;
}
.max-width {
  max-width: 56rem;
}
.min-width {
  min-width: 21rem;
}
.align-content {
  align-content: stretch;
}
.align-items {
  align-items: stretch;
}
.align-self {
  align-self: auto;
}
.flex,
.vertical-center,
.center-vertical {
  flex: 0 1 auto;
}
.flex-basis {
  flex-basis: auto;
}
.flex-direction,
.vertical-center,
.center-vertical {
  flex-direction: column;
}
.flex-flow {
  flex-flow: column nowrap;
}
.flex-grow {
  flex-grow: 0;
}
.flex-shrink {
  flex-shrink: 1;
}
.flex-wrap {
  flex-wrap: nowrap;
}
.justify-content,
.vertical-center,
.center-vertical {
  justify-content: center;
}
.font-family,
body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.font-size {
  font-size: 24px;
}
.font-weight {
  font-weight: normal;
}
.list-style {
  list-style: disc inside none;
}
.list-style-type {
  list-style-type: disc;
}
.margin {
  margin: 1.62rem;
}
.margin-bottom {
  margin-bottom: 1.62rem;
}
.margin-left {
  margin-left: 1.62rem;
}
.margin-right {
  margin-right: 1.62rem;
}
.margin-top {
  margin-top: 1.62rem;
}
.column-gap {
  column-gap: 1.94em;
}
.column-rule {
  column-rule: 1px solid #6a81a4;
}
.padding {
  padding: 1.62rem;
}
.padding-bottom {
  padding-bottom: 1.62rem;
}
.padding-left {
  padding-left: 1.62rem;
}
.padding-right {
  padding-right: 1.62rem;
}
.padding-top {
  padding-top: 1.62rem;
}
.text-align {
  text-align: left;
}
.text-align-last {
  text-align-last: left;
}
.text-indent {
  text-indent: 2ch;
}
.text-justify {
  text-justify: justify;
}
.text-overflow {
  text-overflow: hidden;
}
.text-shadow {
  text-shadow: 1.41px 1.41px 1.41px rgba(37, 27, 16, 0.16);
}
.line-height {
  line-height: 1.8;
}
.vertical-align {
  vertical-align: middle;
}
.letter-spacing {
  letter-spacing: 0;
}
.word-spacing {
  word-spacing: normal;
}
.white-space {
  white-space: nowrap;
}
.word-break {
  word-break: break-all;
}
.word-wrap {
  word-wrap: break-word;
}
.transform {
  transform: none;
}
.transition {
  transition: all 0s ease 0s;
}
.display {
  display: block;
}
.position {
  position: absolute;
}
.top {
  top: 0;
}
.right {
  right: 0;
}
.bottom {
  bottom: 0;
}
.left {
  left: 0;
}
.float {
  float: left;
}
.clear {
  clear: both;
}
.z-index {
  z-index: 10;
}
.overflow {
  overflow: hidden;
}
.overflow-x {
  overflow-x: hidden;
}
.cursor {
  cursor: pointer;
}
.box-shadow {
  box-shadow: 1.41px 1.41px 1.41px rgba(37, 27, 16, 0.16);
}
.gutter {
  margin: 3.24rem;
}
.gutter-top {
  margin-top: 3.24rem;
}
.gutter-right {
  margin-right: 3.24rem;
}
.gutter-bottom {
  margin-bottom: 3.24rem;
}
.gutter-left {
  margin-left: 3.24rem;
}
.text-padding {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-padding-top {
  padding-top: 0.18em;
}
.text-padding-right {
  padding-right: 0.3236em;
}
.text-padding-bottom {
  padding-bottom: 0.22em;
}
.text-padding-left {
  padding-left: 0.3236em;
}
.text-margin {
  margin: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-margin-top {
  margin-top: 0.18em;
}
.text-margin-right {
  margin-right: 0.3236em;
}
.text-margin-bottom {
  margin-bottom: 0.22em;
}
.text-margin-left {
  margin-left: 0.3236em;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.initial {
  display: initial;
}
.table {
  display: table;
}
.flex,
.vertical-center,
.center-vertical {
  display: flex;
}
.inline-block {
  display: inline-block;
}
.static {
  position: static;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.margin-auto,
.container {
  margin-left: auto;
  margin-right: auto;
}
.width-auto {
  width: auto;
}
.inset {
  box-shadow: inset 1.41px 1.41px 1.41px rgba(37, 27, 16, 0.16);
}
.viewport-height {
  height: 100vh;
}
.min-viewport-height {
  min-height: 100vh;
}
.overflow-hidden {
  overflow: hidden;
}
.dashed {
  border-style: dashed;
}
.dotted {
  border-style: dotted;
}
.thick {
  border-width: 2px;
}
.thin {
  border-width: 0.5px;
}
.current-color {
  border-color: currentColor;
}
.fade {
  opacity: 0.65;
}
.serif,
.font-family-serif {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "Droid Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
.monospace,
.font-family-monospace,
pre,
code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
}
.sans-serif,
.font-family-sans-serif {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.text-transparent {
  color: transparent;
}
.reset {
  all: initial;
}
.big {
  font-size: 125%;
  line-height: 2.25;
}
.big.font-size {
  font-size: 30px;
}
.small,
.badge {
  font-size: 87.5%;
  line-height: 1.575;
}
.small.font-size {
  font-size: 21px;
}
.huge {
  font-size: 160%;
}
.huge.font-size {
  font-size: 38.4px;
}
.text-trim {
  line-height: 1;
}
.text-align-center,
.text-center {
  text-align: center;
}
.text-align-left,
.text-left {
  text-align: left;
}
.text-align-right,
.text-right {
  text-align: right;
}
.text-align-justify,
.text-justify {
  text-align: justify;
}
.grid-gap-margin {
  grid-gap: 1.62rem;
}
.grid-gap-border-width {
  grid-gap: 1px;
}
.grid-gap-text-padding,
.grid-gap-text-margin {
  grid-gap: 0.3236em;
}
.shade,
.white,
.orange,
.yellow,
.light.olive,
.light.green,
.light.teal,
.cyan,
.skyblue,
.violet,
.light.gray,
.lavender,
.cream,
.clover,
.pewter,
.light.hotpink,
.neongreen,
.electricblue,
.lemon,
.lime,
.tangerine,
.light.default,
.cool,
.neutral,
.second.accent,
body,
input,
textarea,
.info,
.warning,
.light.success {
  color: #101925;
}
.tint,
.black,
.red,
.olive,
.green,
.teal,
.blue,
.indigo,
.purple,
.dark.violet,
.gray,
.brown,
.magenta,
.charcoal,
.crimson,
.dark.clover,
.cobalt,
.graphite,
.ruby,
.onyx,
.dark.pewter,
.gunmetal,
.hotpink,
.dark.electricblue,
.royalpurple,
.grapefruit,
.reaction,
.default,
.warm,
.dark.neutral,
.complement,
.accent,
.split,
.second.split,
.triad,
.third.triad,
.tetrad,
.second.tetrad,
.third.tetrad,
.fourth.tetrad,
.highlight,
.success,
.failure,
.second.triad {
  color: #f6f9fd;
}
.transparent {
  background-color: transparent;
  color: inherit;
  border-color: inherit;
}
.transparent.light {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23FFF%22%20fill-opacity%3D%220.16%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.transparent.dark,
.modal {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23000%22%20fill-opacity%3D%220.25%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.trim,
.trim-inner *,
.trim-all,
.trim-all * {
  margin-bottom: 0;
}
.hidden {
  display: none !important;
}
.clearfix,
.clear {
  clear: both;
}
.clearfix::after,
.clear::after {
  display: block;
  clear: both;
  content: "";
}
.golden-width {
  max-width: calc(62% - 3.24rem);
}
.golden-width.reverse {
  max-width: 38%;
}
.aside-width {
  max-width: 21rem;
}
@media screen and (min-width: 38.24rem) {
  .text-width {
    max-width: 35rem;
  }
}
.page-width,
.container {
  max-width: 56rem;
}
.full-width,
.aside-width .aside-width,
.text-width .text-width,
.page-width .page-width {
  display: block;
  width: 100%;
}
.inner-aside-width {
  padding-left: calc(50% - 10.5rem);
  padding-right: calc(50% - 10.5rem);
}
.inner-aside-width.padding {
  padding-left: calc(50% - 8.88rem);
  padding-right: calc(50% - 8.88rem);
}
.inner-aside-width.responsive.padding {
  padding-left: calc(50% - 9.88rem);
  padding-right: calc(50% - 9.88rem);
}
@media screen and (max-width: calc(38.24rem - 1px)) {
  .inner-text-width {
    padding-left: initial;
    padding-right: initial;
  }
  .inner-text-width.padding {
    padding-left: 1.62rem;
    padding-right: 1.62rem;
  }
  .inner-text-width.responsive.padding {
    padding-left: 0.619rem;
    padding-right: 0.619rem;
  }
}
@media screen and (min-width: 38.24rem) {
  .inner-aside-width.tablet.padding {
    padding-left: calc(50% - 8.88rem);
    padding-right: calc(50% - 8.88rem);
  }
  .inner-aside-width.tablet.responsive.padding {
    padding-left: calc(50% - 9.5rem);
    padding-right: calc(50% - 9.5rem);
  }
  .inner-text-width {
    padding-left: calc(50% - 17.5rem);
    padding-right: calc(50% - 17.5rem);
  }
  .inner-text-width.padding {
    padding-left: calc(50% - 15.88rem);
    padding-right: calc(50% - 15.88rem);
  }
  .inner-text-width.responsive.padding {
    padding-left: calc(50% - 16.5rem);
    padding-right: calc(50% - 16.5rem);
  }
}
@media screen and (min-width: 56rem) {
  .inner-aside-width.desktop.padding {
    padding-left: calc(50% - 8.88rem);
    padding-right: calc(50% - 8.88rem);
  }
  .inner-aside-width.desktop.responsive.padding {
    padding-left: calc(50% - 8.88rem);
    padding-right: calc(50% - 8.88rem);
  }
  .inner-text-width.desktop.padding {
    padding-left: calc(50% - 15.88rem);
    padding-right: calc(50% - 15.88rem);
  }
  .inner-text-width.desktop.responsive.padding {
    padding-left: calc(50% - 15.88rem);
    padding-right: calc(50% - 15.88rem);
  }
  .inner-page-width {
    padding-left: calc(50% - 28rem);
    padding-right: calc(50% - 28rem);
  }
  .inner-page-width.padding {
    padding-left: calc(50% - 26.38rem);
    padding-right: calc(50% - 26.38rem);
  }
  .inner-page-width.responsive.padding {
    padding-left: calc(50% - 26.38rem);
    padding-right: calc(50% - 26.38rem);
  }
}
.texture,
.pattern {
  background-position: top center;
}
.texture {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20width%3D'80'%20height%3D'48'%3E%3Cpath%20d%3D'M19%200v11H0v26h19v11h2V37h38v11h2V37h19V11H61V0h-2v11H21V0h-2zM1%2013h38v22H1V13zm40%200h38v22H41V13z'%20fill%3D'%23f6f9fd'%20fill-opacity%3D'0.05'/%3E%3C/svg%3E");
}
.pattern {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20width%3D'80'%20height%3D'50'%20viewBox%3D'0%200%2021.167%2013.229'%3E%3Cpath%20fill%3D'%23f6f9fd'%20opacity%3D'0.05'%20d%3D'M0%200h21.167v6.615H0z'/%3E%3C/svg%3E");
}
.placeholder::before {
  content: " ";
  white-space: pre;
}
.placeholder::after {
  content: "";
}
.placeholder.image,
.placeholder.video,
.placeholder.avatar {
  position: relative;
}
.placeholder.image::before,
.placeholder.video::before,
.placeholder.avatar::before {
  position: absolute;
  top: calc(50% - 4rem);
  right: 0;
  bottom: 0;
  left: 0;
  display: inline-block;
  text-align: center;
  font-size: 4rem;
  vertical-align: middle;
}
.placeholder.image.small::before,
.placeholder.video.small::before,
.placeholder.avatar.small::before {
  top: calc(50% - 2rem);
  font-size: 2rem;
}
.placeholder.image.big::before,
.placeholder.video.big::before,
.placeholder.avatar.big::before {
  top: calc(50% - 6rem);
  font-size: 6rem;
}
.placeholder.image.huge::before,
.placeholder.video.huge::before,
.placeholder.avatar.huge::before {
  top: calc(50% - 8rem);
  font-size: 8rem;
}
.placeholder.image::after,
.placeholder.video::after,
.placeholder.avatar::after {
  display: block;
}
.placeholder.image::before {
  content: "\1f5bc";
}
.placeholder.image::after {
  padding-top: 75%;
}
.placeholder.video::before {
  content: "\25B6";
}
.placeholder.video::after {
  padding-top: 56.25%;
}
.placeholder.avatar::before {
  content: "\263A";
}
.placeholder.avatar::after {
  padding-top: 100%;
}
.placeholder.no-icon::before {
  content: "";
}
.hide {
  display: none;
}
.hide.tablet {
  display: initial;
}
.hide.desktop {
  display: initial;
}
@media screen and (max-width: calc(38.24rem - 1px)) {
  .hide.mobile {
    display: none;
  }
}
@media screen and (min-width: 38.24rem) {
  .hide.mobile {
    display: initial;
  }
  .hide.tablet {
    display: none;
  }
}
@media screen and (min-width: 56rem) {
  .hide.desktop {
    display: none;
  }
  .hide.mobile.tablet {
    display: initial;
  }
}
@media screen and (max-width: calc(56rem - 1px)) {
  .hide.mobile.tablet {
    display: none;
  }
}
body {
  font-size: 24px;
  line-height: 1.8;
  margin: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
nav {
  z-index: 99;
}
nav a {
  text-decoration: none;
}
aside {
  margin: 0 auto;
  margin-bottom: 1.62rem;
  max-width: 21rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-top: 0.49443758em;
  margin-bottom: 0.74165637em;
  letter-spacing: -0.025em;
  color: inherit;
  line-height: 1.618;
}
h1 {
  font-size: 2.4em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1em;
}
p {
  margin-bottom: 1em;
}
p.gutter-bottom {
  margin-bottom: 1.618em;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: inherit;
  text-decoration: underline;
}
a.target-blank::after,
a.new-tab::after,
a.external-link::after {
  content: "\00A0\1F855";
}
form {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input {
  font-size: 24px;
  line-height: 1.8;
  border: 1px solid #6a81a4;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input:focus {
  box-shadow: 0 0 2px #74c2e1;
}
fieldset {
  border: none;
  outline: none;
}
ol {
  padding-left: 4ch;
  margin-bottom: 1.62rem;
}
ol li {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
ul {
  margin-left: 1.62rem;
  margin-bottom: 1.62rem;
}
li {
  margin-bottom: 0.44em;
}
kbd {
  color: #f6f9fd;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  white-space: nowrap;
}
b {
  padding: 0.18em 0 0.22em 0;
}
pre {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  overflow: hidden;
  border-radius: 0.5em;
  background: #35373e;
  color: #f6f9fd;
}
pre.white-space,
pre.word-break {
  white-space: pre-wrap;
}
pre > code {
  background: transparent;
  padding: 0;
}
code {
  color: #f6f9fd;
  background-color: #27345d;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
code.terminal::before {
  content: "$ ";
}
textarea {
  font-size: 24px;
  line-height: 1.8;
  border: 1px solid #6a81a4;
  border-radius: 0.5em;
  margin-bottom: 1.62rem;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
textarea:focus {
  box-shadow: 0 0 2px #74c2e1;
}
.white,
body,
input,
textarea {
  background-color: #f6f9fd;
  border-color: #7d838b;
}
.black {
  background-color: #101925;
  border-color: #080d12;
}
.ambient {
  color: #101925;
  background: #649ee6;
  border-color: #34567f;
}
.ambient.light {
  color: #101925;
  background: #87b4ec;
  border-color: #466182;
}
.ambient.dark {
  color: #f6f9fd;
  background: #4188e0;
  border-color: #234b7c;
}
.red,
.failure {
  background-color: #d90d24;
  border-color: #790815;
}
.light.red,
.light.failure {
  background-color: #f11e35;
  border-color: #85111d;
}
.dark.red,
.dark.failure {
  background-color: #b30b1d;
  border-color: #660712;
}
.orange,
.warning {
  background-color: #efa421;
  border-color: #845b13;
}
.light.orange,
.light.warning {
  background-color: #f2b448;
  border-color: #856326;
}
.dark.orange,
.dark.warning {
  background-color: #d88f10;
  border-color: #79500a;
}
.yellow {
  background-color: #e8f122;
  border-color: #808513;
}
.light.yellow {
  background-color: #ecf349;
  border-color: #828626;
}
.dark.yellow {
  background-color: #d3dc0e;
  border-color: #767b09;
}
.olive {
  background-color: #808a24;
  border-color: #4b5015;
}
.light.olive {
  background-color: #9faa2c;
  border-color: #5a6019;
}
.dark.olive {
  background-color: #62691b;
  border-color: #3b4011;
}
.green,
.success {
  background-color: #028823;
  border-color: #025116;
}
.light.green,
.light.success {
  background-color: #03b12d;
  border-color: #03651b;
}
.dark.green,
.dark.success {
  background-color: #026019;
  border-color: #023d10;
}
.teal {
  background-color: #038a95;
  border-color: #035157;
}
.light.teal {
  background-color: #04afbd;
  border-color: #03646b;
}
.dark.teal {
  background-color: #02656d;
  border-color: #023f43;
}
.cyan {
  background-color: #02f1f3;
  border-color: #028687;
}
.light.cyan {
  background-color: #20fcfe;
  border-color: #118b8c;
}
.dark.cyan {
  background-color: #01c9ca;
  border-color: #027272;
}
.skyblue,
.info {
  background-color: #74c2e1;
  border-color: #3d6a7c;
}
.light.skyblue,
.light.info {
  background-color: #96d1e8;
  border-color: #4e717f;
}
.dark.skyblue,
.dark.info {
  background-color: #53b3da;
  border-color: #2c6378;
}
.blue {
  background-color: #020bf2;
  border-color: #020786;
}
.light.blue {
  background-color: #1f28fe;
  border-color: #11168c;
}
.dark.blue {
  background-color: #010ac9;
  border-color: #020672;
}
.indigo {
  background-color: #4b0c95;
  border-color: #2c0857;
}
.light.indigo {
  background-color: #5e0fbb;
  border-color: #360a6a;
}
.dark.indigo {
  background-color: #38096f;
  border-color: #230644;
}
.purple {
  background-color: #830f97;
  border-color: #4c0958;
}
.light.purple {
  background-color: #a312bc;
  border-color: #5c0b6a;
}
.dark.purple {
  background-color: #620b72;
  border-color: #3c0845;
}
.violet {
  background-color: #d879e4;
  border-color: #76407d;
}
.light.violet {
  background-color: #e29bea;
  border-color: #7b5081;
}
.dark.violet {
  background-color: #ce57dd;
  border-color: #712f7a;
}
.gray {
  background-color: #767d8a;
  border-color: #41464d;
}
.light.gray {
  background-color: #8c929c;
  border-color: #4c5057;
}
.dark.gray {
  background-color: #636974;
  border-color: #383c42;
}
.brown {
  background-color: #985339;
  border-color: #562f20;
}
.light.brown {
  background-color: #b66344;
  border-color: #653726;
}
.dark.brown {
  background-color: #7a432e;
  border-color: #48271b;
}
.magenta {
  background-color: #c714db;
  border-color: #6f0c7a;
}
.light.magenta {
  background-color: #d92cec;
  border-color: #781882;
}
.dark.magenta {
  background-color: #a510b6;
  border-color: #5e0a67;
}
.lavender {
  background-color: #c4badf;
  border-color: #686179;
}
.light.lavender {
  background-color: #dcd6ec;
  border-color: #746f80;
}
.dark.lavender {
  background-color: #ad9ed2;
  border-color: #5c5373;
}
.cream {
  background-color: #e7ebd0;
  border-color: #7d806c;
}
.light.cream {
  background-color: #f6f7ed;
  border-color: #84867b;
}
.dark.cream {
  background-color: #d9dfb3;
  border-color: #767a5e;
}
.charcoal {
  background-color: #4a3d48;
  border-color: #2d252c;
}
.light.charcoal {
  background-color: #60505d;
  border-color: #382e37;
}
.dark.charcoal {
  background-color: #332b32;
  border-color: #221b21;
}
.crimson {
  background-color: #aa102c;
  border-color: #610a1a;
}
.light.crimson {
  background-color: #cf1336;
  border-color: #740c1f;
}
.dark.crimson {
  background-color: #850c22;
  border-color: #4f0815;
}
.clover {
  background-color: #3cab35;
  border-color: #22601e;
}
.light.clover {
  background-color: #4bc544;
  border-color: #2a6d26;
}
.dark.clover {
  background-color: #318c2b;
  border-color: #1d5119;
}
.cobalt {
  background-color: #2677cf;
  border-color: #164273;
}
.light.cobalt {
  background-color: #418bdd;
  border-color: #234d7a;
}
.dark.cobalt {
  background-color: #1f63ad;
  border-color: #123862;
}
.graphite {
  background-color: #27345d;
  border-color: #182038;
}
.light.graphite {
  background-color: #334479;
  border-color: #1e2847;
}
.dark.graphite {
  background-color: #1b2440;
  border-color: #12182a;
}
.ruby {
  background-color: #9e0651;
  border-color: #5c0530;
}
.light.ruby {
  background-color: #c50865;
  border-color: #70053a;
}
.dark.ruby {
  background-color: #77053d;
  border-color: #480426;
}
.onyx {
  background-color: #35373e;
  border-color: #202227;
}
.light.onyx {
  background-color: #484b54;
  border-color: #2a2c32;
}
.dark.onyx {
  background-color: #222428;
  border-color: #17181c;
}
.pewter {
  background-color: #999d8e;
  border-color: #54574d;
}
.light.pewter {
  background-color: #adb0a4;
  border-color: #5e6058;
}
.dark.pewter {
  background-color: #858a78;
  border-color: #4a4d42;
}
.gunmetal {
  background-color: #3e5c7a;
  border-color: #243547;
}
.light.gunmetal {
  background-color: #4c7095;
  border-color: #2b3f54;
}
.dark.gunmetal {
  background-color: #30475f;
  border-color: #1d2b39;
}
.hotpink {
  background-color: #e559a5;
  border-color: #7e2f5a;
}
.light.hotpink {
  background-color: #ea7cb8;
  border-color: #814164;
}
.dark.hotpink {
  background-color: #df3692;
  border-color: #7b1d51;
}
.neongreen {
  background-color: #33e921;
  border-color: #1d8112;
}
.light.neongreen {
  background-color: #55ed46;
  border-color: #2e8325;
}
.dark.neongreen {
  background-color: #25cd14;
  border-color: #16730c;
}
.electricblue {
  background-color: #32b3db;
  border-color: #1c6379;
}
.light.electricblue {
  background-color: #55c0e1;
  border-color: #2d6a7c;
}
.dark.electricblue {
  background-color: #229dc2;
  border-color: #14586c;
}
.royalpurple {
  background-color: #5e3496;
  border-color: #361e55;
}
.light.royalpurple {
  background-color: #713fb4;
  border-color: #3f2365;
}
.dark.royalpurple {
  background-color: #4b2a78;
  border-color: #2c1946;
}
.lemon {
  background-color: #f3f696;
  border-color: #86874d;
}
.light.lemon {
  background-color: #f8f9bc;
  border-color: #888960;
}
.dark.lemon {
  background-color: #eff371;
  border-color: #84863a;
}
.lime {
  background-color: #8de697;
  border-color: #497e4f;
}
.light.lime {
  background-color: #aeedb5;
  border-color: #5a825f;
}
.dark.lime {
  background-color: #6bdf78;
  border-color: #397b40;
}
.tangerine {
  background-color: #eca65b;
  border-color: #825a30;
}
.light.tangerine {
  background-color: #f0ba80;
  border-color: #846442;
}
.dark.tangerine {
  background-color: #e89237;
  border-color: #80501d;
}
.grapefruit {
  background-color: #c3375f;
  border-color: #6c1f35;
}
.light.grapefruit {
  background-color: #cf5577;
  border-color: #722e41;
}
.dark.grapefruit {
  background-color: #a32e4f;
  border-color: #5d1b2d;
}
.action,
.base-color {
  color: #f6f9fd;
  background: #4a6aa8;
  border-color: #293b5e;
}
.action.light,
.base-color.light {
  color: #f6f9fd;
  background: #617fba;
  border-color: #354667;
}
.action.dark,
.base-color.dark {
  color: #f6f9fd;
  background: #3e588c;
  border-color: #233250;
}
.reaction {
  background-color: #6a5f4b;
  border-color: #3e372b;
}
.light.reaction {
  background-color: #82755c;
  border-color: #4a4233;
}
.dark.reaction {
  background-color: #524a3a;
  border-color: #322d23;
}
.default {
  background-color: #6a81a4;
  border-color: #3a475b;
}
.light.default {
  background-color: #8397b4;
  border-color: #475263;
}
.dark.default {
  background-color: #576d8f;
  border-color: #313d51;
}
.warm {
  background-color: #d0225b;
  border-color: #741433;
}
.light.warm {
  background-color: #df3c71;
  border-color: #7b213e;
}
.dark.warm {
  background-color: #ad1c4c;
  border-color: #62112b;
}
.cool {
  background-color: #05f0f4;
  border-color: #048587;
}
.light.cool {
  background-color: #28f7fa;
  border-color: #15888a;
}
.dark.cool {
  background-color: #04c9cc;
  border-color: #047173;
}
.neutral {
  background-color: #07b8cf;
  border-color: #056875;
}
.light.neutral {
  background-color: #09dbf6;
  border-color: #067988;
}
.dark.neutral {
  background-color: #0695a8;
  border-color: #045661;
}
.complement,
.second.triad {
  background-color: #7b6d52;
  border-color: #463e2e;
}
.light.complement,
.light.second.triad {
  background-color: #938262;
  border-color: #534936;
}
.dark.complement,
.dark.second.triad {
  background-color: #625741;
  border-color: #3a3326;
}
.accent {
  background-color: #5249c0;
  border-color: #2d286b;
}
.light.accent {
  background-color: #6e67cb;
  border-color: #3c3870;
}
.dark.accent {
  background-color: #413aa7;
  border-color: #25215e;
}
.second.accent {
  background-color: #3fa8c0;
  border-color: #235d6b;
}
.light.second.accent {
  background-color: #5eb6ca;
  border-color: #336470;
}
.dark.second.accent {
  background-color: #358da2;
  border-color: #1e505c;
}
.split {
  background-color: #86458f;
  border-color: #4c2751;
}
.light.split {
  background-color: #a052ab;
  border-color: #592e5f;
}
.dark.split {
  background-color: #6c3773;
  border-color: #3f2044;
}
.second.split {
  background-color: #3b8f61;
  border-color: #225237;
}
.light.second.split {
  background-color: #47ac74;
  border-color: #286041;
}
.dark.second.split {
  background-color: #2f724d;
  border-color: #1c432e;
}
.triad {
  background-color: #6d459a;
  border-color: #3d2757;
}
.light.triad {
  background-color: #8154b3;
  border-color: #472f63;
}
.dark.triad {
  background-color: #59387e;
  border-color: #332049;
}
.third.triad {
  background-color: #3b8f83;
  border-color: #22524b;
}
.light.third.triad {
  background-color: #47ac9d;
  border-color: #286058;
}
.dark.third.triad {
  background-color: #2f7268;
  border-color: #1c433d;
}
.tetrad {
  background-color: #5a459a;
  border-color: #332757;
}
.light.tetrad {
  background-color: #6c54b3;
  border-color: #3c2f63;
}
.dark.tetrad {
  background-color: #49387e;
  border-color: #2a2049;
}
.second.tetrad {
  background-color: #86455c;
  border-color: #4d2735;
}
.light.second.tetrad {
  background-color: #a1526f;
  border-color: #5a2e3e;
}
.dark.second.tetrad {
  background-color: #6b374a;
  border-color: #3f202b;
}
.third.tetrad {
  background-color: #678f56;
  border-color: #3a5130;
}
.light.third.tetrad {
  background-color: #7ba569;
  border-color: #445c3a;
}
.dark.third.tetrad {
  background-color: #557647;
  border-color: #314429;
}
.fourth.tetrad {
  background-color: #3b8f94;
  border-color: #225254;
}
.light.fourth.tetrad {
  background-color: #47acb1;
  border-color: #286063;
}
.dark.fourth.tetrad {
  background-color: #2f7377;
  border-color: #1c4346;
}
.highlight {
  background-color: #c426ed;
  border-color: #6c1583;
}
.light.highlight {
  background-color: #ce4bf0;
  border-color: #712885;
}
.dark.highlight {
  background-color: #af12d8;
  border-color: #620b78;
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-margin-right {
  margin-right: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.no-margin-left {
  margin-left: 0 !important;
}
.no-padding {
  padding: 0;
}
.no-margin,
.no-gutter {
  margin: 0;
}
.no-side-margin,
.no-side-margins {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.no-margins {
  margin: 0 !important;
}
.no-margins * {
  margin: 0 !important;
}
.no-box-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  box-shadow: unset;
}
.no-text-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  text-shadow: unset;
}
.no-border,
.no-borders,
.no-borders * {
  border-width: 0 !important;
}
.no-background {
  background: transparent;
}
.no-text-indent {
  text-indent: 0;
}
.no-text-align {
  text-align: initial;
}
.no-user-select {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.no-pointer-events {
  pointer-events: none;
}
.no-list-style {
  list-style-type: none;
  margin-left: 0;
}
.no-grid-gap,
.no-column-gap {
  grid-gap: 0;
  column-gap: 0;
}
@media print {
  html {
    font-size: 62.5%;
  }
  * {
    box-shadow: unset !important;
    border: unset !important;
  }
  nav {
    display: none !important;
  }
  .page-width,
  .text-width,
  .container {
    all: unset;
  }
  .inner-page-width,
  .inner-text-width,
  .inner-aside-width {
    all: unset;
  }
}
