/* This project uses Cavepaint! (MIT License) */
/* https://github.com/cavepaint/cavepaintCSS */
* {
  margin: 0 0 1.62rem 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}
.button,
button {
  border-style: solid;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(22, 37, 22, 0.16);
  display: inline;
  position: relative;
  font-family: inherit;
  font-size: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  color: inherit;
  background-color: inherit;
  border-color: #674052;
  border-width: 1px;
  line-height: 1.6;
  text-align: center;
  vertical-align: middle;
  outline: none;
  white-space: nowrap;
  text-decoration: none;
  touch-action: manipulation;
  cursor: pointer;
  transform: scale(1);
  transition: 0.08s linear;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.button:active,
button:active {
  transform: scale(0.99);
  box-shadow: unset;
}
.bar {
  position: relative;
  width: 100%;
  display: block;
  vertical-align: middle;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.bar > * {
  display: inline;
  margin-right: 0.3236em;
  margin-left: 0.3236em;
  margin-bottom: 0;
}
.card {
  position: relative;
  overflow: hidden;
  padding: 1.62rem;
  border: 1px solid #9a5f7a;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(22, 37, 22, 0.16);
}
.card > *:first-child {
  margin-top: 0;
}
.card > *:last-child {
  margin-bottom: 0;
}
.badge {
  border-radius: 0.5em;
  line-height: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  padding-right: 0.6472em;
  padding-left: 0.6472em;
  vertical-align: middle;
  border-radius: 99px;
  white-space: nowrap;
}
.modal {
  display: none;
  max-width: none;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  position: fixed;
  bottom: 0;
  justify-content: center;
  flex: 0 1 auto;
  flex-direction: column;
  height: 100vh;
}
.modal > * {
  flex-direction: column;
  color: #251625;
  position: relative;
  background: #fef8fd;
  padding: 1.62rem;
  margin-bottom: 3.24rem;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(22, 37, 22, 0.16);
  margin: 1.62rem;
}
@media screen and (min-width: 39.24rem) {
  .modal > * {
    max-width: 58rem;
    margin: 0 auto;
  }
}
.overlay {
  margin: 0;
  padding: 0;
  position: relative;
}
.overlay .top,
.overlay .bottom,
.overlay .left,
.overlay .right {
  position: absolute;
}
.overlay .top {
  top: 0.3236em;
}
.overlay .bottom {
  bottom: 0.3236em;
}
.overlay .left {
  left: 0.3236em;
}
.overlay .right {
  right: 0.3236em;
}
.overlay.stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.overlay * {
  margin: 0;
  display: block;
}
.grid,
.two-column,
.three-column {
  display: grid;
  grid-gap: 1.62rem;
}
.grid.tablet,
.two-column.tablet,
.three-column.tablet,
.grid.mobile.tablet,
.two-column.mobile.tablet,
.three-column.mobile.tablet,
.grid.desktop,
.two-column.desktop,
.three-column.desktop {
  display: initial;
}
.grid {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.two-column {
  grid-template-columns: 1fr 1fr;
}
.two-column.golden {
  grid-template-columns: 1.618fr 1fr;
}
.two-column.golden.reverse {
  grid-template-columns: 1fr 1.618fr;
}
.three-column {
  grid-template-columns: 1fr 1fr 1fr;
}
.three-column.golden {
  grid-template-columns: 1fr 1.618fr 1fr;
}
.three-column.golden.leading {
  grid-template-columns: 1.618fr 1fr 1fr;
}
.three-column.golden.trailing {
  grid-template-columns: 1fr 1fr 1.618fr;
}
.grid .grid-width-one {
  grid-column: auto / span 1;
}
.grid .grid-width-two {
  grid-column: auto / span 2;
}
.grid .grid-width-three {
  grid-column: auto / span 3;
}
.grid .grid-width-four {
  grid-column: auto / span 4;
}
.grid .grid-width-five {
  grid-column: auto / span 5;
}
.grid .grid-width-six {
  grid-column: auto / span 6;
}
.grid .grid-width-seven {
  grid-column: auto / span 7;
}
.grid .grid-width-eight {
  grid-column: auto / span 8;
}
.grid .grid-width-nine {
  grid-column: auto / span 9;
}
.grid .grid-width-ten {
  grid-column: auto / span 10;
}
.grid .grid-width-eleven {
  grid-column: auto / span 11;
}
.grid .grid-width-twelve {
  grid-column: auto / span 12;
}
@media screen and (max-width: calc(39.24rem - 1px)) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: grid;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 39.24rem) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: initial;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: initial;
  }
  .grid.tablet,
  .two-column.tablet,
  .three-column.tablet {
    display: grid;
  }
  .grid.tablet > *,
  .two-column.tablet > *,
  .three-column.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (max-width: calc(58rem - 1px)) {
  .grid.mobile.tablet,
  .two-column.mobile.tablet,
  .three-column.mobile.tablet {
    display: grid;
  }
  .grid.mobile.tablet > *,
  .two-column.mobile.tablet > *,
  .three-column.mobile.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 58rem) {
  .grid.desktop,
  .two-column.desktop,
  .three-column.desktop {
    display: grid;
  }
  .grid.desktop > *,
  .two-column.desktop > *,
  .three-column.desktop > * {
    margin-bottom: 0;
  }
}
.responsive {
  column-gap: 0.619rem;
  grid-gap: 0.619rem;
}
.responsive.padding,
.modal,
.container {
  padding: 0.619rem;
}
.responsive.margin,
.container {
  margin: 0.619rem;
}
.responsive.gutter {
  margin: 1.238rem;
}
@media screen and (min-width: 39.24rem) {
  .responsive {
    column-gap: 1.001rem;
    grid-gap: 1.001rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.001rem;
  }
  .responsive.margin,
  .container {
    margin: 1.001rem;
  }
  .responsive.gutter {
    margin: 2.002rem;
  }
}
@media screen and (min-width: 58rem) {
  .responsive {
    column-gap: 1.62rem;
    grid-gap: 1.62rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.62rem;
  }
  .responsive.margin,
  .container {
    margin: 1.62rem;
  }
  .responsive.gutter {
    margin: 3.24rem;
  }
}
.background {
  background: #fef8fd;
}
.background-color {
  background-color: #fef8fd;
}
.border {
  border: 1px solid #9a5f7a;
}
.border-radius,
.rounded {
  border-radius: 0.5em;
}
.border-bottom {
  border-bottom: 1px solid #9a5f7a;
}
.border-left {
  border-left: 1px solid #9a5f7a;
}
.border-right {
  border-right: 1px solid #9a5f7a;
}
.border-style,
.button.border,
button.border {
  border-style: solid;
}
.border-top {
  border-top: 1px solid #9a5f7a;
}
.border-width,
.button.border,
button.border {
  border-width: 1px;
}
.max-width {
  max-width: 58rem;
}
.min-width {
  min-width: 22rem;
}
.align-content {
  align-content: stretch;
}
.align-items {
  align-items: stretch;
}
.align-self {
  align-self: auto;
}
.flex,
.vertical-center,
.center-vertical {
  flex: 0 1 auto;
}
.flex-basis {
  flex-basis: auto;
}
.flex-direction,
.vertical-center,
.center-vertical {
  flex-direction: column;
}
.flex-flow {
  flex-flow: column nowrap;
}
.flex-grow {
  flex-grow: 0;
}
.flex-shrink {
  flex-shrink: 1;
}
.flex-wrap {
  flex-wrap: nowrap;
}
.justify-content,
.vertical-center,
.center-vertical {
  justify-content: center;
}
.font-family {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.font-size {
  font-size: 20px;
}
.font-weight {
  font-weight: normal;
}
.list-style {
  list-style: disc inside none;
}
.list-style-type {
  list-style-type: disc;
}
.margin {
  margin: 1.62rem;
}
.margin-bottom {
  margin-bottom: 1.62rem;
}
.margin-left {
  margin-left: 1.62rem;
}
.margin-right {
  margin-right: 1.62rem;
}
.margin-top {
  margin-top: 1.62rem;
}
.column-gap {
  column-gap: 1.94em;
}
.column-rule {
  column-rule: 1px solid #9a5f7a;
}
.padding {
  padding: 1.62rem;
}
.padding-bottom {
  padding-bottom: 1.62rem;
}
.padding-left {
  padding-left: 1.62rem;
}
.padding-right {
  padding-right: 1.62rem;
}
.padding-top {
  padding-top: 1.62rem;
}
.text-align {
  text-align: left;
}
.text-align-last {
  text-align-last: left;
}
.text-indent {
  text-indent: 2ch;
}
.text-justify {
  text-justify: justify;
}
.text-overflow {
  text-overflow: hidden;
}
.text-shadow {
  text-shadow: 1.41px 1.41px 1.41px rgba(22, 37, 22, 0.16);
}
.line-height {
  line-height: 1.8;
}
.vertical-align {
  vertical-align: middle;
}
.letter-spacing {
  letter-spacing: 0;
}
.word-spacing {
  word-spacing: normal;
}
.white-space {
  white-space: nowrap;
}
.word-break {
  word-break: break-all;
}
.word-wrap {
  word-wrap: break-word;
}
.transform {
  transform: none;
}
.transition {
  transition: all 0s ease 0s;
}
.display {
  display: block;
}
.position {
  position: absolute;
}
.top {
  top: 0;
}
.right {
  right: 0;
}
.bottom {
  bottom: 0;
}
.left {
  left: 0;
}
.float {
  float: left;
}
.clear {
  clear: both;
}
.z-index {
  z-index: 10;
}
.overflow {
  overflow: hidden;
}
.overflow-x {
  overflow-x: hidden;
}
.cursor {
  cursor: pointer;
}
.box-shadow {
  box-shadow: 1.41px 1.41px 1.41px rgba(22, 37, 22, 0.16);
}
.gutter {
  margin: 3.24rem;
}
.gutter-top {
  margin-top: 3.24rem;
}
.gutter-right {
  margin-right: 3.24rem;
}
.gutter-bottom {
  margin-bottom: 3.24rem;
}
.gutter-left {
  margin-left: 3.24rem;
}
.text-padding {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-padding-top {
  padding-top: 0.18em;
}
.text-padding-right {
  padding-right: 0.3236em;
}
.text-padding-bottom {
  padding-bottom: 0.22em;
}
.text-padding-left {
  padding-left: 0.3236em;
}
.text-margin {
  margin: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-margin-top {
  margin-top: 0.18em;
}
.text-margin-right {
  margin-right: 0.3236em;
}
.text-margin-bottom {
  margin-bottom: 0.22em;
}
.text-margin-left {
  margin-left: 0.3236em;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.initial {
  display: initial;
}
.table {
  display: table;
}
.flex,
.vertical-center,
.center-vertical {
  display: flex;
}
.inline-block {
  display: inline-block;
}
.static {
  position: static;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.margin-auto,
.container {
  margin-left: auto;
  margin-right: auto;
}
.width-auto {
  width: auto;
}
.inset {
  box-shadow: inset 1.41px 1.41px 1.41px rgba(22, 37, 22, 0.16);
}
.viewport-height {
  height: 100vh;
}
.min-viewport-height {
  min-height: 100vh;
}
.overflow-hidden {
  overflow: hidden;
}
.dashed {
  border-style: dashed;
}
.dotted {
  border-style: dotted;
}
.thick {
  border-width: 2px;
}
.thin {
  border-width: 0.5px;
}
.current-color {
  border-color: currentColor;
}
.fade {
  opacity: 0.65;
}
.serif,
.font-family-serif {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "Droid Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
.monospace,
.font-family-monospace {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
}
.sans-serif,
.font-family-sans-serif {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.text-transparent {
  color: transparent;
}
.reset {
  all: initial;
}
.big {
  font-size: 125%;
  line-height: 2.25;
}
.big.font-size {
  font-size: 25px;
}
.small,
.badge {
  font-size: 87.5%;
  line-height: 1.575;
}
.small.font-size {
  font-size: 17.5px;
}
.huge {
  font-size: 160%;
}
.huge.font-size {
  font-size: 32px;
}
.text-trim {
  line-height: 1;
}
.text-align-center,
.text-center {
  text-align: center;
}
.text-align-left,
.text-left {
  text-align: left;
}
.text-align-right,
.text-right {
  text-align: right;
}
.text-align-justify,
.text-justify {
  text-align: justify;
}
.grid-gap-margin {
  grid-gap: 1.62rem;
}
.grid-gap-border-width {
  grid-gap: 1px;
}
.grid-gap-text-padding,
.grid-gap-text-margin {
  grid-gap: 0.3236em;
}
.shade,
.white,
.orange,
.yellow,
.light.olive,
.light.green,
.light.teal,
.cyan,
.skyblue,
.violet,
.light.gray,
.lavender,
.cream,
.clover,
.pewter,
.light.hotpink,
.neongreen,
.electricblue,
.lemon,
.lime,
.tangerine,
body,
input,
textarea,
.info,
.warning,
.light.success {
  color: #251625;
}
.tint,
.black,
.red,
.olive,
.green,
.teal,
.blue,
.indigo,
.purple,
.dark.violet,
.gray,
.brown,
.magenta,
.charcoal,
.crimson,
.dark.clover,
.cobalt,
.graphite,
.ruby,
.onyx,
.dark.pewter,
.gunmetal,
.hotpink,
.royalpurple,
.grapefruit,
.reaction,
.default,
.success,
.failure {
  color: #fef8fd;
}
.transparent {
  background-color: transparent;
  color: inherit;
  border-color: inherit;
}
.transparent.light {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23FFF%22%20fill-opacity%3D%220.16%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.transparent.dark,
.modal {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23000%22%20fill-opacity%3D%220.25%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.trim,
.trim-inner *,
.trim-all,
.trim-all * {
  margin-bottom: 0;
}
.hidden {
  display: none !important;
}
.clearfix,
.clear {
  clear: both;
}
.clearfix::after,
.clear::after {
  display: block;
  clear: both;
  content: "";
}
.golden-width {
  max-width: calc(62% - 3.24rem);
}
.golden-width.reverse {
  max-width: 38%;
}
.aside-width {
  max-width: 22rem;
}
@media screen and (min-width: 39.24rem) {
  .text-width {
    max-width: 36rem;
  }
}
.page-width,
.container {
  max-width: 58rem;
}
.full-width,
.aside-width .aside-width,
.text-width .text-width,
.page-width .page-width {
  display: block;
  width: 100%;
}
.inner-aside-width {
  padding-left: calc(50% - 11rem);
  padding-right: calc(50% - 11rem);
}
.inner-aside-width.padding {
  padding-left: calc(50% - 9.38rem);
  padding-right: calc(50% - 9.38rem);
}
.inner-aside-width.responsive.padding {
  padding-left: calc(50% - 10.38rem);
  padding-right: calc(50% - 10.38rem);
}
.inner-text-width {
  padding-left: calc(50% - 18rem);
  padding-right: calc(50% - 18rem);
}
.inner-text-width.padding {
  padding-left: calc(50% - 16.38rem);
  padding-right: calc(50% - 16.38rem);
}
.inner-text-width.responsive.padding {
  padding-left: calc(50% - 17.38rem);
  padding-right: calc(50% - 17.38rem);
}
.inner-page-width {
  padding-left: calc(50% - 29rem);
  padding-right: calc(50% - 29rem);
}
.inner-page-width.padding {
  padding-left: calc(50% - 27.38rem);
  padding-right: calc(50% - 27.38rem);
}
.inner-page-width.responsive.padding {
  padding-left: calc(50% - 28.38rem);
  padding-right: calc(50% - 28.38rem);
}
@media screen and (max-width: calc(39.24rem - 1px)) {
  .inner-text-width {
    padding-left: initial;
    padding-right: initial;
  }
  .inner-text-width.padding {
    padding-left: 1.62rem;
    padding-right: 1.62rem;
  }
  .inner-text-width.responsive.padding {
    padding-left: 0.619rem;
    padding-right: 0.619rem;
  }
}
@media screen and (min-width: 39.24rem) {
  .inner-aside-width.tablet.padding {
    padding-left: calc(50% - 9.38rem);
    padding-right: calc(50% - 9.38rem);
  }
  .inner-aside-width.tablet.responsive.padding {
    padding-left: calc(50% - 10rem);
    padding-right: calc(50% - 10rem);
  }
  .inner-text-width.tablet.padding {
    padding-left: calc(50% - 16.38rem);
    padding-right: calc(50% - 16.38rem);
  }
  .inner-text-width.tablet.responsive.padding {
    padding-left: calc(50% - 17rem);
    padding-right: calc(50% - 17rem);
  }
  .inner-page-width.tablet.padding {
    padding-left: calc(50% - 27.38rem);
    padding-right: calc(50% - 27.38rem);
  }
  .inner-page-width.tablet.responsive.padding {
    padding-left: calc(50% - 28rem);
    padding-right: calc(50% - 28rem);
  }
}
@media screen and (min-width: 58rem) {
  .inner-aside-width.desktop.padding {
    padding-left: calc(50% - 9.38rem);
    padding-right: calc(50% - 9.38rem);
  }
  .inner-aside-width.desktop.responsive.padding {
    padding-left: calc(50% - 9.38rem);
    padding-right: calc(50% - 9.38rem);
  }
  .inner-text-width.desktop.padding {
    padding-left: calc(50% - 16.38rem);
    padding-right: calc(50% - 16.38rem);
  }
  .inner-text-width.desktop.responsive.padding {
    padding-left: calc(50% - 16.38rem);
    padding-right: calc(50% - 16.38rem);
  }
  .inner-page-width.desktop.padding {
    padding-left: calc(50% - 27.38rem);
    padding-right: calc(50% - 27.38rem);
  }
  .inner-page-width.desktop.responsive.padding {
    padding-left: calc(50% - 27.38rem);
    padding-right: calc(50% - 27.38rem);
  }
}
@media screen and (max-width: calc(58rem - 1px)) {
  .inner-page-width {
    padding-left: initial;
    padding-right: initial;
  }
  .inner-page-width.padding {
    padding-left: 1.62rem;
    padding-right: 1.62rem;
  }
  .inner-page-width.responsive.padding {
    padding-left: 0.619rem;
    padding-right: 0.619rem;
  }
}
.texture,
.pattern {
  background-position: top center;
}
.texture {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20width%3D'40'%20height%3D'20'%20viewBox%3D'0%200%203.175%201.588'%3E%3Cg%20fill%3D'%23fef8fd'%20fill-opacity%3D'0.16'%3E%3Ccircle%20cx%3D'.397'%20cy%3D'.397'%20r%3D'.397'/%3E%3Ccircle%20r%3D'.397'%20cy%3D'.397'%20cx%3D'1.191'/%3E%3Ccircle%20r%3D'.397'%20cy%3D'.397'%20cx%3D'1.984'/%3E%3Ccircle%20cx%3D'2.778'%20cy%3D'.397'%20r%3D'.397'/%3E%3Ccircle%20r%3D'.397'%20cy%3D'1.191'/%3E%3Ccircle%20cx%3D'.794'%20cy%3D'1.191'%20r%3D'.397'/%3E%3Ccircle%20cx%3D'1.587'%20cy%3D'1.191'%20r%3D'.397'/%3E%3Ccircle%20r%3D'.397'%20cy%3D'1.191'%20cx%3D'2.381'/%3E%3Ccircle%20cx%3D'3.175'%20cy%3D'1.191'%20r%3D'.397'/%3E%3C/g%3E%3C/svg%3E");
}
.pattern {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20viewBox%3D'0%200%203.175%203.175'%20height%3D'12'%20width%3D'12'%3E%3Cpath%20opacity%3D'0.16'%20fill%3D'%23fef8fd'%20d%3D'M0%200h1.587v1.587H0z'/%3E%3C/svg%3E");
}
.placeholder::before {
  content: " ";
  white-space: pre;
}
.placeholder::after {
  content: "";
}
.placeholder.image,
.placeholder.video,
.placeholder.avatar {
  position: relative;
}
.placeholder.image::before,
.placeholder.video::before,
.placeholder.avatar::before {
  position: absolute;
  top: calc(50% - 4rem);
  right: 0;
  bottom: 0;
  left: 0;
  display: inline-block;
  text-align: center;
  font-size: 4rem;
  vertical-align: middle;
}
.placeholder.image.small::before,
.placeholder.video.small::before,
.placeholder.avatar.small::before {
  top: calc(50% - 2rem);
  font-size: 2rem;
}
.placeholder.image.big::before,
.placeholder.video.big::before,
.placeholder.avatar.big::before {
  top: calc(50% - 6rem);
  font-size: 6rem;
}
.placeholder.image.huge::before,
.placeholder.video.huge::before,
.placeholder.avatar.huge::before {
  top: calc(50% - 8rem);
  font-size: 8rem;
}
.placeholder.image::after,
.placeholder.video::after,
.placeholder.avatar::after {
  display: block;
}
.placeholder.image::before {
  content: "\1f5bc";
}
.placeholder.image::after {
  padding-top: 75%;
}
.placeholder.video::before {
  content: "\25B6";
}
.placeholder.video::after {
  padding-top: 56.25%;
}
.placeholder.avatar::before {
  content: "\263A";
}
.placeholder.avatar::after {
  padding-top: 100%;
}
.placeholder.no-icon::before {
  content: "";
}
.hide {
  display: none;
}
.hide.tablet {
  display: initial;
}
.hide.desktop {
  display: initial;
}
@media screen and (max-width: calc(39.24rem - 1px)) {
  .hide.mobile {
    display: none;
  }
}
@media screen and (min-width: 39.24rem) {
  .hide.mobile {
    display: initial;
  }
  .hide.tablet {
    display: none;
  }
}
@media screen and (min-width: 58rem) {
  .hide.desktop {
    display: none;
  }
  .hide.mobile.tablet {
    display: initial;
  }
}
@media screen and (max-width: calc(58rem - 1px)) {
  .hide.mobile.tablet {
    display: none;
  }
}
body {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
  font-size: 20px;
  line-height: 1.8;
  margin: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
nav {
  z-index: 99;
}
nav a {
  text-decoration: none;
}
aside {
  margin: 0 auto;
  margin-bottom: 1.62rem;
  max-width: 22rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
  font-weight: bold;
  margin-top: 0.49443758em;
  margin-bottom: 0.74165637em;
  letter-spacing: -0.025em;
  color: inherit;
  line-height: 1.618;
}
h1 {
  font-size: 2.4em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1em;
}
p {
  margin-bottom: 1em;
}
p.gutter-bottom {
  margin-bottom: 1.618em;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: inherit;
  text-decoration: underline;
}
a.target-blank::after,
a.new-tab::after,
a.external-link::after {
  content: "\00A0\1F855";
}
form {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
  font-size: 20px;
  line-height: 1.8;
  border: 1px solid #9a5f7a;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input:focus {
  box-shadow: 0 0 2px #8bc2e3;
}
fieldset {
  border: none;
  outline: none;
}
ol {
  padding-left: 4ch;
  margin-bottom: 1.62rem;
}
ol li {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
ul {
  margin-left: 1.62rem;
  margin-bottom: 1.62rem;
}
li {
  margin-bottom: 0.44em;
}
kbd {
  color: #fef8fd;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  white-space: nowrap;
}
b {
  padding: 0.18em 0 0.22em 0;
}
pre {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
  overflow: hidden;
  border-radius: 0.5em;
  background: #40363f;
  color: #fef8fd;
}
pre.white-space,
pre.word-break {
  white-space: pre-wrap;
}
pre > code {
  background: transparent;
  padding: 0;
}
code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
  color: #fef8fd;
  background-color: #36335e;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
code.terminal::before {
  content: "$ ";
}
textarea {
  font-size: 20px;
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
  line-height: 1.8;
  border: 1px solid #9a5f7a;
  border-radius: 0.5em;
  margin-bottom: 1.62rem;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
textarea:focus {
  box-shadow: 0 0 2px #8bc2e3;
}
.white,
body,
input,
textarea {
  background-color: #fef8fd;
  border-color: #8b7f8b;
}
.black {
  background-color: #251625;
  border-color: #120b12;
}
.ambient {
  color: #251625;
  background: #e787e4;
  border-color: #80477f;
}
.ambient.light {
  color: #251625;
  background: #eeaaec;
  border-color: #845882;
}
.ambient.dark {
  color: #251625;
  background: #e065dd;
  border-color: #7d367b;
}
.red,
.failure {
  background-color: #e90724;
  border-color: #830515;
}
.light.red,
.light.failure {
  background-color: #f9203c;
  border-color: #8a1222;
}
.dark.red,
.dark.failure {
  background-color: #c2061e;
  border-color: #6f0512;
}
.orange,
.warning {
  background-color: #faa221;
  border-color: #8b5a12;
}
.light.orange,
.light.warning {
  background-color: #fbb349;
  border-color: #8c6326;
}
.dark.orange,
.dark.warning {
  background-color: #ec8f06;
  border-color: #845105;
}
.yellow {
  background-color: #f4f322;
  border-color: #888713;
}
.light.yellow {
  background-color: #f6f549;
  border-color: #898827;
}
.dark.yellow {
  background-color: #e2e10b;
  border-color: #7f7e08;
}
.olive {
  background-color: #998b24;
  border-color: #595116;
}
.light.olive {
  background-color: #baa92c;
  border-color: #69601a;
}
.dark.olive {
  background-color: #786d1c;
  border-color: #484212;
}
.green,
.success {
  background-color: #248923;
  border-color: #165116;
}
.light.green,
.light.success {
  background-color: #2da92b;
  border-color: #1a611a;
}
.dark.green,
.dark.success {
  background-color: #1b681b;
  border-color: #124011;
}
.teal {
  background-color: #258b99;
  border-color: #165159;
}
.light.teal {
  background-color: #2da9ba;
  border-color: #1a6069;
}
.dark.teal {
  background-color: #1d6d78;
  border-color: #124248;
}
.cyan {
  background-color: #34f3f5;
  border-color: #1c8788;
}
.light.cyan {
  background-color: #5bf5f7;
  border-color: #308889;
}
.dark.cyan {
  background-color: #0df0f3;
  border-color: #098688;
}
.skyblue,
.info {
  background-color: #8bc2e3;
  border-color: #496a7e;
}
.light.skyblue,
.light.info {
  background-color: #abd3eb;
  border-color: #5a7382;
}
.dark.skyblue,
.dark.info {
  background-color: #6ab1db;
  border-color: #39617a;
}
.blue {
  background-color: #2305f4;
  border-color: #150488;
}
.light.blue {
  background-color: #4227fb;
  border-color: #24158c;
}
.dark.blue {
  background-color: #1d04cc;
  border-color: #120474;
}
.indigo {
  background-color: #670698;
  border-color: #3e055a;
}
.light.indigo {
  background-color: #8207bf;
  border-color: #4b066e;
}
.dark.indigo {
  background-color: #4d0471;
  border-color: #300447;
}
.purple {
  background-color: #9e099d;
  border-color: #5d075d;
}
.light.purple {
  background-color: #c40bc4;
  border-color: #700870;
}
.dark.purple {
  background-color: #770777;
  border-color: #4a0549;
}
.violet {
  background-color: #e576e5;
  border-color: #7f3e7f;
}
.light.violet {
  background-color: #ec98ec;
  border-color: #834f83;
}
.dark.violet {
  background-color: #df53df;
  border-color: #7c2d7c;
}
.gray {
  background-color: #8d7b8b;
  border-color: #4f454e;
}
.light.gray {
  background-color: #a0919e;
  border-color: #595058;
}
.dark.gray {
  background-color: #786876;
  border-color: #453b44;
}
.brown {
  background-color: #a3523a;
  border-color: #5d2f21;
}
.light.brown {
  background-color: #be6247;
  border-color: #6a3728;
}
.dark.brown {
  background-color: #85432f;
  border-color: #4e271c;
}
.magenta {
  background-color: #e10ae1;
  border-color: #7f077e;
}
.light.magenta {
  background-color: #f51ff5;
  border-color: #881288;
}
.dark.magenta {
  background-color: #ba08ba;
  border-color: #6b066b;
}
.lavender {
  background-color: #ccbae1;
  border-color: #6e627b;
}
.light.lavender {
  background-color: #e1d6ed;
  border-color: #787081;
}
.dark.lavender {
  background-color: #b89dd4;
  border-color: #645475;
}
.cream {
  background-color: #eeedd0;
  border-color: #83826d;
}
.light.cream {
  background-color: #f9f9ee;
  border-color: #88887c;
}
.dark.cream {
  background-color: #e4e2b2;
  border-color: #7d7c5e;
}
.charcoal {
  background-color: #653948;
  border-color: #3d222c;
}
.light.charcoal {
  background-color: #7f475b;
  border-color: #4a2a35;
}
.dark.charcoal {
  background-color: #4b2a36;
  border-color: #301b22;
}
.crimson {
  background-color: #b50d2d;
  border-color: #68091b;
}
.light.crimson {
  background-color: #db1036;
  border-color: #7b0a20;
}
.dark.crimson {
  background-color: #8f0a23;
  border-color: #550816;
}
.clover {
  background-color: #59ac36;
  border-color: #33621f;
}
.light.clover {
  background-color: #6bc545;
  border-color: #3c6e27;
}
.dark.clover {
  background-color: #498d2c;
  border-color: #2b521a;
}
.cobalt {
  background-color: #3576d2;
  border-color: #1e4375;
}
.light.cobalt {
  background-color: #568dd9;
  border-color: #2f4e79;
}
.dark.cobalt {
  background-color: #2863b5;
  border-color: #183967;
}
.graphite {
  background-color: #36335e;
  border-color: #211f39;
}
.light.graphite {
  background-color: #464179;
  border-color: #292647;
}
.dark.graphite {
  background-color: #272444;
  border-color: #1a182c;
}
.ruby {
  background-color: #b80351;
  border-color: #6a0330;
}
.light.ruby {
  background-color: #e00463;
  border-color: #7e0439;
}
.dark.ruby {
  background-color: #90033f;
  border-color: #560327;
}
.onyx {
  background-color: #40363f;
  border-color: #292228;
}
.light.onyx {
  background-color: #564954;
  border-color: #342b33;
}
.dark.onyx {
  background-color: #2a2329;
  border-color: #1e191d;
}
.pewter {
  background-color: #a49f91;
  border-color: #5b584f;
}
.light.pewter {
  background-color: #b7b2a7;
  border-color: #65625a;
}
.dark.pewter {
  background-color: #928b7a;
  border-color: #524e44;
}
.gunmetal {
  background-color: #5b597c;
  border-color: #343347;
}
.light.gunmetal {
  background-color: #6d6a93;
  border-color: #3d3c53;
}
.dark.gunmetal {
  background-color: #4a4864;
  border-color: #2b2a3b;
}
.hotpink {
  background-color: #ed57a7;
  border-color: #842e5c;
}
.light.hotpink {
  background-color: #f17cba;
  border-color: #864166;
}
.dark.hotpink {
  background-color: #ea3294;
  border-color: #821c52;
}
.neongreen {
  background-color: #42ec21;
  border-color: #258413;
}
.light.neongreen {
  background-color: #62f047;
  border-color: #358526;
}
.dark.neongreen {
  background-color: #31d312;
  border-color: #1d770b;
}
.electricblue {
  background-color: #41b6df;
  border-color: #23657c;
}
.light.electricblue {
  background-color: #63c4e5;
  border-color: #356c7f;
}
.dark.electricblue {
  background-color: #23a6d3;
  border-color: #155d76;
}
.royalpurple {
  background-color: #6c3499;
  border-color: #3f1e58;
}
.light.royalpurple {
  background-color: #823eb8;
  border-color: #492368;
}
.dark.royalpurple {
  background-color: #57297b;
  border-color: #341949;
}
.lemon {
  background-color: #f9f797;
  border-color: #8b894d;
}
.light.lemon {
  background-color: #fbfabd;
  border-color: #8c8b61;
}
.dark.lemon {
  background-color: #f7f470;
  border-color: #89883a;
}
.lime {
  background-color: #a0e797;
  border-color: #55804f;
}
.light.lime {
  background-color: #bfefb8;
  border-color: #648460;
}
.dark.lime {
  background-color: #82e076;
  border-color: #467c3f;
}
.tangerine {
  background-color: #f3a65b;
  border-color: #875b30;
}
.light.tangerine {
  background-color: #f6bb81;
  border-color: #896543;
}
.dark.tangerine {
  background-color: #f19135;
  border-color: #86511d;
}
.grapefruit {
  background-color: #d43360;
  border-color: #761d36;
}
.light.grapefruit {
  background-color: #db547a;
  border-color: #7a2e43;
}
.dark.grapefruit {
  background-color: #b7274f;
  border-color: #68172e;
}
.action,
.base-color {
  color: #fef8fd;
  background: #aa5da6;
  border-color: #5f345d;
}
.action.light,
.base-color.light {
  color: #fef8fd;
  background: #b878b5;
  border-color: #664265;
}
.action.dark,
.base-color.dark {
  color: #fef8fd;
  background: #924c8e;
  border-color: #532c51;
}
.reaction {
  background-color: #577859;
  border-color: #324533;
}
.light.reaction {
  background-color: #688f6b;
  border-color: #3b513c;
}
.dark.reaction {
  background-color: #466047;
  border-color: #2a392a;
}
.default {
  background-color: #9a5f7a;
  border-color: #573645;
}
.light.default {
  background-color: #ab778f;
  border-color: #5f414f;
}
.dark.default {
  background-color: #804f66;
  border-color: #4a2e3b;
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-margin-right {
  margin-right: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.no-margin-left {
  margin-left: 0 !important;
}
.no-padding {
  padding: 0;
}
.no-margin,
.no-gutter {
  margin: 0;
}
.no-side-margin,
.no-side-margins {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.no-margins {
  margin: 0 !important;
}
.no-margins * {
  margin: 0 !important;
}
.no-box-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  box-shadow: unset;
}
.no-text-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  text-shadow: unset;
}
.no-border,
.no-borders,
.no-borders * {
  border-width: 0 !important;
}
.no-background {
  background: transparent;
}
.no-text-indent {
  text-indent: 0;
}
.no-text-align {
  text-align: initial;
}
.no-user-select {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.no-pointer-events {
  pointer-events: none;
}
.no-list-style {
  list-style-type: none;
  margin-left: 0;
}
.no-grid-gap,
.no-column-gap {
  grid-gap: 0;
  column-gap: 0;
}
@media print {
  html {
    font-size: 62.5%;
  }
  * {
    box-shadow: unset !important;
    border: unset !important;
  }
  nav {
    display: none !important;
  }
  .page-width,
  .text-width,
  .container {
    all: unset;
  }
  .inner-page-width,
  .inner-text-width,
  .inner-aside-width {
    all: unset;
  }
}
