/* This project uses Cavepaint (MIT License) by Rex Riepe */
/* https://github.com/cavepaint/cavepaintCSS */
* {
  margin: 0 0 1.62rem 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  margin-bottom: 0;
}
.button,
button {
  border-style: solid;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(35, 33, 32, 0.16);
  display: inline;
  position: relative;
  font-family: inherit;
  font-size: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  color: inherit;
  background-color: inherit;
  border-color: #727b7c;
  border-width: 1px;
  line-height: 1.6;
  text-align: center;
  vertical-align: middle;
  outline: none;
  white-space: nowrap;
  text-decoration: none;
  touch-action: manipulation;
  cursor: pointer;
  transform: scale(1);
  transition: 0.08s linear;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.button:active,
button:active {
  transform: scale(0.99);
  box-shadow: unset;
}
.bar {
  position: relative;
  width: 100%;
  display: block;
  vertical-align: middle;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.bar > * {
  display: inline;
  margin-right: 0.3236em;
  margin-left: 0.3236em;
  margin-bottom: 0;
}
.card {
  position: relative;
  overflow: hidden;
  padding: 1.62rem;
  border: 1px solid #9ca3a4;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(35, 33, 32, 0.16);
}
.card > *:first-child {
  margin-top: 0;
}
.card > *:last-child {
  margin-bottom: 0;
}
.badge {
  border-radius: 0.5em;
  line-height: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  padding-right: 0.6472em;
  padding-left: 0.6472em;
  vertical-align: middle;
  border-radius: 99px;
  white-space: nowrap;
}
.modal {
  display: none;
  max-width: none;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  position: fixed;
  bottom: 0;
  justify-content: center;
  flex: 0 1 auto;
  flex-direction: column;
  height: 100vh;
}
.modal > * {
  flex-direction: column;
  color: #202223;
  position: relative;
  background: #fcfdfd;
  padding: 1.62rem;
  margin-bottom: 3.24rem;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(35, 33, 32, 0.16);
  margin: 1.62rem;
}
@media screen and (min-width: 49.24rem) {
  .modal > * {
    max-width: 74rem;
    margin: 0 auto;
  }
}
.overlay {
  margin: 0;
  padding: 0;
  position: relative;
}
.overlay .top,
.overlay .bottom,
.overlay .left,
.overlay .right {
  position: absolute;
}
.overlay .top {
  top: 0.3236em;
}
.overlay .bottom {
  bottom: 0.3236em;
}
.overlay .left {
  left: 0.3236em;
}
.overlay .right {
  right: 0.3236em;
}
.overlay.stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.overlay * {
  margin: 0;
  display: block;
}
.grid,
.two-column,
.three-column {
  display: grid;
  grid-gap: 1.62rem;
}
.grid.tablet,
.two-column.tablet,
.three-column.tablet,
.grid.mobile.tablet,
.two-column.mobile.tablet,
.three-column.mobile.tablet,
.grid.desktop,
.two-column.desktop,
.three-column.desktop {
  display: initial;
}
.grid {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.two-column {
  grid-template-columns: 1fr 1fr;
}
.two-column.golden {
  grid-template-columns: 1.618fr 1fr;
}
.two-column.golden.reverse {
  grid-template-columns: 1fr 1.618fr;
}
.three-column {
  grid-template-columns: 1fr 1fr 1fr;
}
.three-column.golden {
  grid-template-columns: 1fr 1.618fr 1fr;
}
.three-column.golden.leading {
  grid-template-columns: 1.618fr 1fr 1fr;
}
.three-column.golden.trailing {
  grid-template-columns: 1fr 1fr 1.618fr;
}
.grid-width-one {
  grid-column: auto / span 1;
}
.grid-width-two {
  grid-column: auto / span 2;
}
.grid-width-three {
  grid-column: auto / span 3;
}
.grid-width-four {
  grid-column: auto / span 4;
}
.grid-width-five {
  grid-column: auto / span 5;
}
.grid-width-six {
  grid-column: auto / span 6;
}
.grid-width-seven {
  grid-column: auto / span 7;
}
.grid-width-eight {
  grid-column: auto / span 8;
}
.grid-width-nine {
  grid-column: auto / span 9;
}
.grid-width-ten {
  grid-column: auto / span 10;
}
.grid-width-eleven {
  grid-column: auto / span 11;
}
.grid-width-twelve {
  grid-column: auto / span 12;
}
@media screen and (max-width: calc(49.24rem - 1px)) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: grid;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 49.24rem) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: initial;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: initial;
  }
  .grid.tablet,
  .two-column.tablet,
  .three-column.tablet {
    display: grid;
  }
  .grid.tablet > *,
  .two-column.tablet > *,
  .three-column.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (max-width: calc(74rem - 1px)) {
  .grid.mobile.tablet,
  .two-column.mobile.tablet,
  .three-column.mobile.tablet {
    display: grid;
  }
  .grid.mobile.tablet > *,
  .two-column.mobile.tablet > *,
  .three-column.mobile.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 74rem) {
  .grid.desktop,
  .two-column.desktop,
  .three-column.desktop {
    display: grid;
  }
  .grid.desktop > *,
  .two-column.desktop > *,
  .three-column.desktop > * {
    margin-bottom: 0;
  }
}
.responsive {
  column-gap: 0.619rem;
  grid-gap: 0.619rem;
}
.responsive.padding,
.modal,
.container {
  padding: 0.619rem;
}
.responsive.margin,
.container {
  margin: 0.619rem;
}
.responsive.gutter {
  margin: 1.238rem;
}
@media screen and (min-width: 49.24rem) {
  .responsive {
    column-gap: 1.001rem;
    grid-gap: 1.001rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.001rem;
  }
  .responsive.margin,
  .container {
    margin: 1.001rem;
  }
  .responsive.gutter {
    margin: 2.002rem;
  }
}
@media screen and (min-width: 74rem) {
  .responsive {
    column-gap: 1.62rem;
    grid-gap: 1.62rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.62rem;
  }
  .responsive.margin,
  .container {
    margin: 1.62rem;
  }
  .responsive.gutter {
    margin: 3.24rem;
  }
}
.background {
  background: #fcfdfd;
}
.background-color {
  background-color: #fcfdfd;
}
.border {
  border: 1px solid #9ca3a4;
}
.border-radius,
.rounded {
  border-radius: 0.5em;
}
.border-bottom {
  border-bottom: 1px solid #9ca3a4;
}
.border-left {
  border-left: 1px solid #9ca3a4;
}
.border-right {
  border-right: 1px solid #9ca3a4;
}
.border-style,
.button.border,
button.border {
  border-style: solid;
}
.border-top {
  border-top: 1px solid #9ca3a4;
}
.border-width,
.button.border,
button.border {
  border-width: 1px;
}
.max-width {
  max-width: 74rem;
}
.min-width {
  min-width: 28rem;
}
.align-content {
  align-content: stretch;
}
.align-items {
  align-items: stretch;
}
.align-self {
  align-self: auto;
}
.flex,
.vertical-center,
.center-vertical {
  flex: 0 1 auto;
}
.flex-basis {
  flex-basis: auto;
}
.flex-direction,
.vertical-center,
.center-vertical {
  flex-direction: column;
}
.flex-flow {
  flex-flow: column nowrap;
}
.flex-grow {
  flex-grow: 0;
}
.flex-shrink {
  flex-shrink: 1;
}
.flex-wrap {
  flex-wrap: nowrap;
}
.justify-content,
.vertical-center,
.center-vertical {
  justify-content: center;
}
.font-family,
body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.font-size {
  font-size: 15px;
}
.font-weight {
  font-weight: normal;
}
.list-style {
  list-style: disc inside none;
}
.list-style-type {
  list-style-type: disc;
}
.margin {
  margin: 1.62rem;
}
.margin-bottom {
  margin-bottom: 1.62rem;
}
.margin-left {
  margin-left: 1.62rem;
}
.margin-right {
  margin-right: 1.62rem;
}
.margin-top {
  margin-top: 1.62rem;
}
.column-gap {
  column-gap: 1.94em;
}
.column-rule {
  column-rule: 1px solid #9ca3a4;
}
.padding {
  padding: 1.62rem;
}
.padding-bottom {
  padding-bottom: 1.62rem;
}
.padding-left {
  padding-left: 1.62rem;
}
.padding-right {
  padding-right: 1.62rem;
}
.padding-top {
  padding-top: 1.62rem;
}
.text-align {
  text-align: left;
}
.text-align-last {
  text-align-last: left;
}
.text-indent {
  text-indent: 2ch;
}
.text-justify {
  text-justify: justify;
}
.text-overflow {
  text-overflow: hidden;
}
.text-shadow {
  text-shadow: 1.41px 1.41px 1.41px rgba(35, 33, 32, 0.16);
}
.line-height {
  line-height: 1.8;
}
.vertical-align {
  vertical-align: middle;
}
.letter-spacing {
  letter-spacing: 0;
}
.word-spacing {
  word-spacing: normal;
}
.white-space {
  white-space: nowrap;
}
.word-break {
  word-break: break-all;
}
.word-wrap {
  word-wrap: break-word;
}
.transform {
  transform: none;
}
.transition {
  transition: all 0s ease 0s;
}
.display {
  display: block;
}
.position {
  position: absolute;
}
.top {
  top: 0;
}
.right {
  right: 0;
}
.bottom {
  bottom: 0;
}
.left {
  left: 0;
}
.float {
  float: left;
}
.clear {
  clear: both;
}
.z-index {
  z-index: 10;
}
.overflow {
  overflow: hidden;
}
.overflow-x {
  overflow-x: hidden;
}
.cursor {
  cursor: pointer;
}
.box-shadow {
  box-shadow: 1.41px 1.41px 1.41px rgba(35, 33, 32, 0.16);
}
.gutter {
  margin: 3.24rem;
}
.gutter-top {
  margin-top: 3.24rem;
}
.gutter-right {
  margin-right: 3.24rem;
}
.gutter-bottom {
  margin-bottom: 3.24rem;
}
.gutter-left {
  margin-left: 3.24rem;
}
.text-padding {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-padding-top {
  padding-top: 0.18em;
}
.text-padding-right {
  padding-right: 0.3236em;
}
.text-padding-bottom {
  padding-bottom: 0.22em;
}
.text-padding-left {
  padding-left: 0.3236em;
}
.text-margin {
  margin: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-margin-top {
  margin-top: 0.18em;
}
.text-margin-right {
  margin-right: 0.3236em;
}
.text-margin-bottom {
  margin-bottom: 0.22em;
}
.text-margin-left {
  margin-left: 0.3236em;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.initial {
  display: initial;
}
.table {
  display: table;
}
.flex,
.vertical-center,
.center-vertical {
  display: flex;
}
.inline-block {
  display: inline-block;
}
.static {
  position: static;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.margin-auto,
.container {
  margin-left: auto;
  margin-right: auto;
}
.width-auto {
  width: auto;
}
.inset {
  box-shadow: inset 1.41px 1.41px 1.41px rgba(35, 33, 32, 0.16);
}
.viewport-height {
  height: 100vh;
}
.min-viewport-height {
  min-height: 100vh;
}
.overflow-hidden {
  overflow: hidden;
}
.dashed {
  border-style: dashed;
}
.dotted {
  border-style: dotted;
}
.thick {
  border-width: 2px;
}
.thin {
  border-width: 0.5px;
}
.current-color {
  border-color: currentColor;
}
.fade {
  opacity: 0.65;
}
.serif,
.font-family-serif {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "Droid Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
.monospace,
.font-family-monospace,
pre,
code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
}
.sans-serif,
.font-family-sans-serif {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.text-transparent {
  color: transparent;
}
.reset {
  all: initial;
}
.big {
  font-size: 125%;
  line-height: 2.25;
}
.big.font-size {
  font-size: 18.75px;
}
.small,
.badge {
  font-size: 87.5%;
  line-height: 1.575;
}
.small.font-size {
  font-size: 13.125px;
}
.huge {
  font-size: 160%;
}
.huge.font-size {
  font-size: 24px;
}
.text-trim {
  line-height: 1;
}
.text-align-center,
.text-center {
  text-align: center;
}
.text-align-left,
.text-left {
  text-align: left;
}
.text-align-right,
.text-right {
  text-align: right;
}
.text-align-justify,
.text-justify {
  text-align: justify;
}
.grid-gap-margin {
  grid-gap: 1.62rem;
}
.grid-gap-border-width {
  grid-gap: 1px;
}
.grid-gap-text-padding,
.grid-gap-text-margin {
  grid-gap: 0.3236em;
}
.shade,
.white,
.orange,
.yellow,
.olive,
.light.green,
.light.teal,
.cyan,
.skyblue,
.violet,
.light.gray,
.light.magenta,
.lavender,
.cream,
.clover,
.pewter,
.hotpink,
.neongreen,
.electricblue,
.lemon,
.lime,
.tangerine,
.default,
.warm,
.cool,
.neutral,
.accent,
.second.accent,
.highlight,
body,
input,
textarea,
.info,
.warning,
.light.success {
  color: #202223;
}
.tint,
.black,
.red,
.dark.olive,
.green,
.teal,
.blue,
.indigo,
.purple,
.gray,
.brown,
.magenta,
.charcoal,
.crimson,
.dark.clover,
.cobalt,
.graphite,
.ruby,
.onyx,
.dark.pewter,
.gunmetal,
.dark.hotpink,
.royalpurple,
.grapefruit,
.reaction,
.dark.default,
.complement,
.split,
.second.split,
.triad,
.third.triad,
.tetrad,
.second.tetrad,
.third.tetrad,
.fourth.tetrad,
.dark.highlight,
.success,
.failure,
.second.triad {
  color: #fcfdfd;
}
.transparent {
  background-color: transparent;
  color: inherit;
  border-color: inherit;
}
.transparent.light {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23FFF%22%20fill-opacity%3D%220.16%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.transparent.dark,
.modal {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23000%22%20fill-opacity%3D%220.25%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.trim,
.trim-inner *,
.trim-all,
.trim-all * {
  margin-bottom: 0;
}
.hidden {
  display: none !important;
}
.clearfix,
.clear {
  clear: both;
}
.clearfix::after,
.clear::after {
  display: block;
  clear: both;
  content: "";
}
.golden-width {
  max-width: calc(62% - 3.24rem);
}
.golden-width.reverse {
  max-width: 38%;
}
.aside-width {
  max-width: 28rem;
}
@media screen and (min-width: 49.24rem) {
  .text-width {
    max-width: 46rem;
  }
}
.page-width,
.container {
  max-width: 74rem;
}
.full-width,
.aside-width .aside-width,
.text-width .text-width,
.page-width .page-width {
  display: block;
  width: 100%;
}
.inner-aside-width {
  padding-left: calc(50% - 14rem);
  padding-right: calc(50% - 14rem);
}
.inner-aside-width.padding {
  padding-left: calc(50% - 12.38rem);
  padding-right: calc(50% - 12.38rem);
}
.inner-aside-width.responsive.padding {
  padding-left: calc(50% - 13.38rem);
  padding-right: calc(50% - 13.38rem);
}
@media screen and (max-width: calc(49.24rem - 1px)) {
  .inner-text-width {
    padding-left: initial;
    padding-right: initial;
  }
  .inner-text-width.padding {
    padding-left: 1.62rem;
    padding-right: 1.62rem;
  }
  .inner-text-width.responsive.padding {
    padding-left: 0.619rem;
    padding-right: 0.619rem;
  }
}
@media screen and (min-width: 49.24rem) {
  .inner-aside-width.tablet.padding {
    padding-left: calc(50% - 12.38rem);
    padding-right: calc(50% - 12.38rem);
  }
  .inner-aside-width.tablet.responsive.padding {
    padding-left: calc(50% - 13rem);
    padding-right: calc(50% - 13rem);
  }
  .inner-text-width {
    padding-left: calc(50% - 23rem);
    padding-right: calc(50% - 23rem);
  }
  .inner-text-width.padding {
    padding-left: calc(50% - 21.38rem);
    padding-right: calc(50% - 21.38rem);
  }
  .inner-text-width.responsive.padding {
    padding-left: calc(50% - 22rem);
    padding-right: calc(50% - 22rem);
  }
}
@media screen and (min-width: 74rem) {
  .inner-aside-width.desktop.padding {
    padding-left: calc(50% - 12.38rem);
    padding-right: calc(50% - 12.38rem);
  }
  .inner-aside-width.desktop.responsive.padding {
    padding-left: calc(50% - 12.38rem);
    padding-right: calc(50% - 12.38rem);
  }
  .inner-text-width.desktop.padding {
    padding-left: calc(50% - 21.38rem);
    padding-right: calc(50% - 21.38rem);
  }
  .inner-text-width.desktop.responsive.padding {
    padding-left: calc(50% - 21.38rem);
    padding-right: calc(50% - 21.38rem);
  }
  .inner-page-width {
    padding-left: calc(50% - 37rem);
    padding-right: calc(50% - 37rem);
  }
  .inner-page-width.padding {
    padding-left: calc(50% - 35.38rem);
    padding-right: calc(50% - 35.38rem);
  }
  .inner-page-width.responsive.padding {
    padding-left: calc(50% - 35.38rem);
    padding-right: calc(50% - 35.38rem);
  }
}
.texture,
.pattern {
  background-position: top center;
}
.texture {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20width%3D'30'%20height%3D'15'%20viewBox%3D'0%200%203.175%201.588'%3E%3Cg%20fill%3D'%23fcfdfd'%20fill-opacity%3D'0.05'%3E%3Ccircle%20cx%3D'.397'%20cy%3D'.397'%20r%3D'.397'/%3E%3Ccircle%20r%3D'.397'%20cy%3D'.397'%20cx%3D'1.191'/%3E%3Ccircle%20r%3D'.397'%20cy%3D'.397'%20cx%3D'1.984'/%3E%3Ccircle%20cx%3D'2.778'%20cy%3D'.397'%20r%3D'.397'/%3E%3Ccircle%20r%3D'.397'%20cy%3D'1.191'/%3E%3Ccircle%20cx%3D'.794'%20cy%3D'1.191'%20r%3D'.397'/%3E%3Ccircle%20cx%3D'1.587'%20cy%3D'1.191'%20r%3D'.397'/%3E%3Ccircle%20r%3D'.397'%20cy%3D'1.191'%20cx%3D'2.381'/%3E%3Ccircle%20cx%3D'3.175'%20cy%3D'1.191'%20r%3D'.397'/%3E%3C/g%3E%3C/svg%3E");
}
.pattern {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20width%3D'80'%20height%3D'50'%20viewBox%3D'0%200%2021.167%2013.229'%3E%3Cpath%20opacity%3D'0.05'%20fill%3D'%23fcfdfd'%20d%3D'M0%200h10.583v13.229H0z'/%3E%3C/svg%3E");
}
.placeholder::before {
  content: " ";
  white-space: pre;
}
.placeholder::after {
  content: "";
}
.placeholder.image,
.placeholder.video,
.placeholder.avatar {
  position: relative;
}
.placeholder.image::before,
.placeholder.video::before,
.placeholder.avatar::before {
  position: absolute;
  top: calc(50% - 4rem);
  right: 0;
  bottom: 0;
  left: 0;
  display: inline-block;
  text-align: center;
  font-size: 4rem;
  vertical-align: middle;
}
.placeholder.image.small::before,
.placeholder.video.small::before,
.placeholder.avatar.small::before {
  top: calc(50% - 2rem);
  font-size: 2rem;
}
.placeholder.image.big::before,
.placeholder.video.big::before,
.placeholder.avatar.big::before {
  top: calc(50% - 6rem);
  font-size: 6rem;
}
.placeholder.image.huge::before,
.placeholder.video.huge::before,
.placeholder.avatar.huge::before {
  top: calc(50% - 8rem);
  font-size: 8rem;
}
.placeholder.image::after,
.placeholder.video::after,
.placeholder.avatar::after {
  display: block;
}
.placeholder.image::before {
  content: "\1f5bc";
}
.placeholder.image::after {
  padding-top: 75%;
}
.placeholder.video::before {
  content: "\25B6";
}
.placeholder.video::after {
  padding-top: 56.25%;
}
.placeholder.avatar::before {
  content: "\263A";
}
.placeholder.avatar::after {
  padding-top: 100%;
}
.placeholder.no-icon::before {
  content: "";
}
.hide {
  display: none;
}
.hide.tablet {
  display: initial;
}
.hide.desktop {
  display: initial;
}
@media screen and (max-width: calc(49.24rem - 1px)) {
  .hide.mobile {
    display: none;
  }
}
@media screen and (min-width: 49.24rem) {
  .hide.mobile {
    display: initial;
  }
  .hide.tablet {
    display: none;
  }
}
@media screen and (min-width: 74rem) {
  .hide.desktop {
    display: none;
  }
  .hide.mobile.tablet {
    display: initial;
  }
}
@media screen and (max-width: calc(74rem - 1px)) {
  .hide.mobile.tablet {
    display: none;
  }
}
body {
  font-size: 15px;
  line-height: 1.8;
  margin: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
nav {
  z-index: 99;
}
nav a {
  text-decoration: none;
}
aside {
  margin: 0 auto;
  margin-bottom: 1.62rem;
  max-width: 28rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-top: 0.49443758em;
  margin-bottom: 0.74165637em;
  letter-spacing: -0.025em;
  color: inherit;
  line-height: 1.618;
}
h1 {
  font-size: 2.4em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1em;
}
p {
  margin-bottom: 1em;
}
p.gutter-bottom {
  margin-bottom: 1.618em;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: inherit;
  text-decoration: underline;
}
a.target-blank::after,
a.new-tab::after,
a.external-link::after {
  content: "\00A0\1F855";
}
form {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input {
  font-size: 15px;
  line-height: 1.8;
  border: 1px solid #9ca3a4;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input:focus {
  box-shadow: 0 0 2px #87cae5;
}
fieldset {
  border: none;
  outline: none;
}
ol {
  padding-left: 4ch;
  margin-bottom: 1.62rem;
}
ol li {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
ul {
  margin-left: 1.62rem;
  margin-bottom: 1.62rem;
}
li {
  margin-bottom: 0.44em;
}
kbd {
  color: #fcfdfd;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  white-space: nowrap;
}
b {
  padding: 0.18em 0 0.22em 0;
}
pre {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  overflow: hidden;
  border-radius: 0.5em;
  background: #3e3f3f;
  color: #fcfdfd;
}
pre.white-space,
pre.word-break {
  white-space: pre-wrap;
}
pre > code {
  background: transparent;
  padding: 0;
}
code {
  color: #fcfdfd;
  background-color: #353f5f;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
code.terminal::before {
  content: "$ ";
}
textarea {
  font-size: 15px;
  line-height: 1.8;
  border: 1px solid #9ca3a4;
  border-radius: 0.5em;
  margin-bottom: 1.62rem;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
textarea:focus {
  box-shadow: 0 0 2px #87cae5;
}
.white,
body,
input,
textarea {
  background-color: #fcfdfd;
  border-color: #868989;
}
.black {
  background-color: #202223;
  border-color: #101111;
}
.ambient {
  color: #202223;
  background: #cad6d8;
  border-color: #6d7577;
}
.ambient.light {
  color: #202223;
  background: #e2e9ea;
  border-color: #797f7f;
}
.ambient.dark {
  color: #202223;
  background: #b3c4c7;
  border-color: #626c6e;
}
.red,
.failure {
  background-color: #ef2223;
  border-color: #871415;
}
.light.red,
.light.failure {
  background-color: #f24849;
  border-color: #882728;
}
.dark.red,
.dark.failure {
  background-color: #d91010;
  border-color: #7c0b0b;
}
.orange,
.warning {
  background-color: #fbad1e;
  border-color: #8e6212;
}
.light.orange,
.light.warning {
  background-color: #fcbb46;
  border-color: #8e6926;
}
.dark.orange,
.dark.warning {
  background-color: #ec9a04;
  border-color: #865805;
}
.yellow {
  background-color: #f7f720;
  border-color: #8c8c13;
}
.light.yellow {
  background-color: #f8f947;
  border-color: #8c8c26;
}
.dark.yellow {
  background-color: #e6e608;
  border-color: #838307;
}
.olive {
  background-color: #9c9e23;
  border-color: #5c5d16;
}
.light.olive {
  background-color: #bdbf2a;
  border-color: #6d6e1a;
}
.dark.olive {
  background-color: #7b7d1b;
  border-color: #4b4c13;
}
.green,
.success {
  background-color: #1d9a21;
  border-color: #135b15;
}
.light.green,
.light.success {
  background-color: #23bc29;
  border-color: #166c19;
}
.dark.green,
.dark.success {
  background-color: #16781a;
  border-color: #104a12;
}
.teal {
  background-color: #1e9e9e;
  border-color: #145d5d;
}
.light.teal {
  background-color: #25c0c0;
  border-color: #176e6e;
}
.dark.teal {
  background-color: #187c7c;
  border-color: #104c4c;
}
.cyan {
  background-color: #28f8f8;
  border-color: #178c8c;
}
.light.cyan {
  background-color: #4ff9f9;
  border-color: #2a8d8d;
}
.dark.cyan {
  background-color: #08eeee;
  border-color: #078787;
}
.skyblue,
.info {
  background-color: #87cae5;
  border-color: #487180;
}
.light.skyblue,
.light.info {
  background-color: #a9d9ec;
  border-color: #597884;
}
.dark.skyblue,
.dark.info {
  background-color: #66bcde;
  border-color: #38697d;
}
.blue {
  background-color: #1b1ff7;
  border-color: #10128c;
}
.light.blue {
  background-color: #4346f9;
  border-color: #24268c;
}
.dark.blue {
  background-color: #080ce2;
  border-color: #070981;
}
.indigo {
  background-color: #65219c;
  border-color: #3c155c;
}
.light.indigo {
  background-color: #7b28bd;
  border-color: #47196d;
}
.dark.indigo {
  background-color: #4f1a7a;
  border-color: #31114b;
}
.purple {
  background-color: #a525a6;
  border-color: #601861;
}
.light.purple {
  background-color: #c62dc8;
  border-color: #711b72;
}
.dark.purple {
  background-color: #841e85;
  border-color: #501450;
}
.violet {
  background-color: #e785e8;
  border-color: #824782;
}
.light.violet {
  background-color: #eea7ee;
  border-color: #855885;
}
.dark.violet {
  background-color: #e163e1;
  border-color: #7f367f;
}
.gray {
  background-color: #8a8b8c;
  border-color: #4e4f4f;
}
.light.gray {
  background-color: #9ea0a0;
  border-color: #585959;
}
.dark.gray {
  background-color: #757777;
  border-color: #444545;
}
.brown {
  background-color: #a45c3a;
  border-color: #5f3623;
}
.light.brown {
  background-color: #be6f49;
  border-color: #6c3f2a;
}
.dark.brown {
  background-color: #864b30;
  border-color: #502e1e;
}
.magenta {
  background-color: #e833e9;
  border-color: #831d84;
}
.light.magenta {
  background-color: #ed58ed;
  border-color: #853086;
}
.dark.magenta {
  background-color: #db18dc;
  border-color: #7d0f7d;
}
.lavender {
  background-color: #cebfe3;
  border-color: #70667e;
}
.light.lavender {
  background-color: #e3dbef;
  border-color: #7b7484;
}
.dark.lavender {
  background-color: #b8a3d6;
  border-color: #655877;
}
.cream {
  background-color: #f1f1d1;
  border-color: #86866e;
}
.light.cream {
  background-color: #fbfbf1;
  border-color: #8a8b7e;
}
.dark.cream {
  background-color: #e7e8b2;
  border-color: #81815f;
}
.charcoal {
  background-color: #614f48;
  border-color: #3b302c;
}
.light.charcoal {
  background-color: #796259;
  border-color: #473a35;
}
.dark.charcoal {
  background-color: #4a3c36;
  border-color: #2f2723;
}
.crimson {
  background-color: #b81b2d;
  border-color: #6b111c;
}
.light.crimson {
  background-color: #db2036;
  border-color: #7c1420;
}
.dark.crimson {
  background-color: #941525;
  border-color: #590f18;
}
.clover {
  background-color: #55b935;
  border-color: #326a20;
}
.light.clover {
  background-color: #6acc4a;
  border-color: #3c732b;
}
.dark.clover {
  background-color: #46992c;
  border-color: #2a5a1b;
}
.cobalt {
  background-color: #3380d5;
  border-color: #1e4979;
}
.light.cobalt {
  background-color: #5595dc;
  border-color: #2f547c;
}
.dark.cobalt {
  background-color: #266cb9;
  border-color: #183f6b;
}
.graphite {
  background-color: #353f5f;
  border-color: #22283b;
}
.light.graphite {
  background-color: #44507a;
  border-color: #293048;
}
.dark.graphite {
  background-color: #272e45;
  border-color: #1b1f2e;
}
.ruby {
  background-color: #b71151;
  border-color: #6b0c31;
}
.light.ruby {
  background-color: #dc1462;
  border-color: #7d0d39;
}
.dark.ruby {
  background-color: #910d41;
  border-color: #580a28;
}
.onyx {
  background-color: #3e3f3f;
  border-color: #282929;
}
.light.onyx {
  background-color: #525454;
  border-color: #323333;
}
.dark.onyx {
  background-color: #2a2b2b;
  border-color: #1e1f1f;
}
.pewter {
  background-color: #a6a795;
  border-color: #5d5e53;
}
.light.pewter {
  background-color: #b9baac;
  border-color: #67675e;
}
.dark.pewter {
  background-color: #94957f;
  border-color: #545448;
}
.gunmetal {
  background-color: #586d7c;
  border-color: #344049;
}
.light.gunmetal {
  background-color: #698294;
  border-color: #3d4b55;
}
.dark.gunmetal {
  background-color: #475865;
  border-color: #2c363d;
}
.hotpink {
  background-color: #f261aa;
  border-color: #89345e;
}
.light.hotpink {
  background-color: #f587be;
  border-color: #8a4768;
}
.dark.hotpink {
  background-color: #ef3b95;
  border-color: #872154;
}
.neongreen {
  background-color: #41f322;
  border-color: #258914;
}
.light.neongreen {
  background-color: #62f548;
  border-color: #368a27;
}
.dark.neongreen {
  background-color: #2cdf0d;
  border-color: #1b7f09;
}
.electricblue {
  background-color: #40bfe5;
  border-color: #246c82;
}
.light.electricblue {
  background-color: #64cbea;
  border-color: #367284;
}
.dark.electricblue {
  background-color: #1eb2df;
  border-color: #13667e;
}
.royalpurple {
  background-color: #6f429e;
  border-color: #41275b;
}
.light.royalpurple {
  background-color: #8352b7;
  border-color: #4b2f68;
}
.dark.royalpurple {
  background-color: #5b3681;
  border-color: #37214d;
}
.lemon {
  background-color: #fbf996;
  border-color: #8d8c4e;
}
.light.lemon {
  background-color: #fcfbbd;
  border-color: #8e8d62;
}
.dark.lemon {
  background-color: #f9f76f;
  border-color: #8d8b3a;
}
.lime {
  background-color: #9eed96;
  border-color: #548550;
}
.light.lime {
  background-color: #bef3b9;
  border-color: #648861;
}
.dark.lime {
  background-color: #7ee774;
  border-color: #44823e;
}
.tangerine {
  background-color: #f7ad5b;
  border-color: #8b6031;
}
.light.tangerine {
  background-color: #f9c082;
  border-color: #8c6a44;
}
.dark.tangerine {
  background-color: #f59934;
  border-color: #8a561d;
}
.grapefruit {
  background-color: #d64a60;
  border-color: #792a36;
}
.light.grapefruit {
  background-color: #de6b7d;
  border-color: #7d3a45;
}
.dark.grapefruit {
  background-color: #ca2d46;
  border-color: #731c29;
}
.action,
.base-color {
  color: #fcfdfd;
  background: #899597;
  border-color: #4d5455;
}
.action.light,
.base-color.light {
  color: #202223;
  background: #9fa8aa;
  border-color: #585e5f;
}
.action.dark,
.base-color.dark {
  color: #fcfdfd;
  background: #748183;
  border-color: #434a4c;
}
.reaction {
  background-color: #817977;
  border-color: #4a4545;
}
.light.reaction {
  background-color: #958d8c;
  border-color: #54504f;
}
.dark.reaction {
  background-color: #6c6564;
  border-color: #403c3b;
}
.default {
  background-color: #9ca3a4;
  border-color: #575b5c;
}
.light.default {
  background-color: #b1b7b8;
  border-color: #626566;
}
.dark.default {
  background-color: #868f91;
  border-color: #4c5152;
}
.warm {
  background-color: #f5f579;
  border-color: #8a8a40;
}
.light.warm {
  background-color: #f8f89f;
  border-color: #8b8b53;
}
.dark.warm {
  background-color: #f2f253;
  border-color: #88892d;
}
.cool {
  background-color: #77f5f5;
  border-color: #3f8a8a;
}
.light.cool {
  background-color: #9df8f8;
  border-color: #528c8c;
}
.dark.cool {
  background-color: #51f2f3;
  border-color: #2c8989;
}
.neutral {
  background-color: #c9cc80;
  border-color: #717246;
}
.light.neutral {
  background-color: #d5d89d;
  border-color: #777855;
}
.dark.neutral {
  background-color: #bdc063;
  border-color: #6b6c38;
}
.complement,
.second.triad {
  background-color: #8a8280;
  border-color: #4f4a49;
}
.light.complement,
.light.second.triad {
  background-color: #9e9796;
  border-color: #585454;
}
.dark.complement,
.dark.second.triad {
  background-color: #756e6c;
  border-color: #44403f;
}
.accent {
  background-color: #bec2c9;
  border-color: #686b6f;
}
.light.accent {
  background-color: #d4d7dc;
  border-color: #737578;
}
.dark.accent {
  background-color: #a7aeb7;
  border-color: #5c6065;
}
.second.accent {
  background-color: #bec9c6;
  border-color: #686f6c;
}
.light.second.accent {
  background-color: #d4dbd9;
  border-color: #737876;
}
.dark.second.accent {
  background-color: #a7b7b2;
  border-color: #5c6563;
}
.split {
  background-color: #8c8693;
  border-color: #504c53;
}
.light.split {
  background-color: #a19ca6;
  border-color: #5a575d;
}
.dark.split {
  background-color: #78727f;
  border-color: #454249;
}
.second.split {
  background-color: #899387;
  border-color: #4d534c;
}
.light.second.split {
  background-color: #9ea69c;
  border-color: #585d57;
}
.dark.second.split {
  background-color: #747f72;
  border-color: #434942;
}
.triad {
  background-color: #868693;
  border-color: #4c4c53;
}
.light.triad {
  background-color: #9c9ca6;
  border-color: #57575d;
}
.dark.triad {
  background-color: #71727f;
  border-color: #424249;
}
.third.triad {
  background-color: #849388;
  border-color: #4b534d;
}
.light.third.triad {
  background-color: #9aa69d;
  border-color: #565d58;
}
.dark.third.triad {
  background-color: #707f74;
  border-color: #414943;
}
.tetrad {
  background-color: #848893;
  border-color: #4b4d53;
}
.light.tetrad {
  background-color: #9a9da6;
  border-color: #56575d;
}
.dark.tetrad {
  background-color: #70737f;
  border-color: #414349;
}
.second.tetrad {
  background-color: #91868e;
  border-color: #524c51;
}
.light.second.tetrad {
  background-color: #a49ca2;
  border-color: #5c575b;
}
.dark.second.tetrad {
  background-color: #7d727a;
  border-color: #484247;
}
.third.tetrad {
  background-color: #919187;
  border-color: #52524c;
}
.light.third.tetrad {
  background-color: #a4a59c;
  border-color: #5c5c57;
}
.dark.third.tetrad {
  background-color: #7d7d72;
  border-color: #484842;
}
.fourth.tetrad {
  background-color: #84938c;
  border-color: #4b534f;
}
.light.fourth.tetrad {
  background-color: #9aa6a0;
  border-color: #565d59;
}
.dark.fourth.tetrad {
  background-color: #707f77;
  border-color: #414945;
}
.highlight {
  background-color: #ef4ff0;
  border-color: #872b88;
}
.light.highlight {
  background-color: #f274f3;
  border-color: #893d89;
}
.dark.highlight {
  background-color: #ec29ed;
  border-color: #851886;
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-margin-right {
  margin-right: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.no-margin-left {
  margin-left: 0 !important;
}
.no-padding {
  padding: 0;
}
.no-margin,
.no-gutter {
  margin: 0;
}
.no-side-margin,
.no-side-margins {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.no-margins {
  margin: 0 !important;
}
.no-margins * {
  margin: 0 !important;
}
.no-box-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  box-shadow: unset;
}
.no-text-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  text-shadow: unset;
}
.no-border,
.no-borders,
.no-borders * {
  border-width: 0 !important;
}
.no-background {
  background: transparent;
}
.no-text-indent {
  text-indent: 0;
}
.no-text-align {
  text-align: initial;
}
.no-user-select {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.no-pointer-events {
  pointer-events: none;
}
.no-list-style {
  list-style-type: none;
  margin-left: 0;
}
.no-grid-gap,
.no-column-gap {
  grid-gap: 0;
  column-gap: 0;
}
@media print {
  html {
    font-size: 62.5%;
  }
  * {
    box-shadow: unset !important;
    border: unset !important;
  }
  nav {
    display: none !important;
  }
  .page-width,
  .text-width,
  .container {
    all: unset;
  }
  .inner-page-width,
  .inner-text-width,
  .inner-aside-width {
    all: unset;
  }
}
