/* This project uses Cavepaint (MIT License) by Rex Riepe */
/* https://github.com/cavepaint/cavepaintCSS */
* {
  margin: 0 0 1.62rem 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  margin-bottom: 0;
}
.button,
button {
  border-style: solid;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(13, 34, 19, 0.16);
  display: inline;
  position: relative;
  font-family: inherit;
  font-size: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  color: inherit;
  background-color: inherit;
  border-color: #66425b;
  border-width: 1px;
  line-height: 1.6;
  text-align: center;
  vertical-align: middle;
  outline: none;
  white-space: nowrap;
  text-decoration: none;
  touch-action: manipulation;
  cursor: pointer;
  transform: scale(1);
  transition: 0.08s linear;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.button:active,
button:active {
  transform: scale(0.99);
  box-shadow: unset;
}
.bar {
  position: relative;
  width: 100%;
  display: block;
  vertical-align: middle;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.bar > * {
  display: inline;
  margin-right: 0.3236em;
  margin-left: 0.3236em;
  margin-bottom: 0;
}
.card {
  position: relative;
  overflow: hidden;
  padding: 1.62rem;
  border: 1px solid #986287;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(13, 34, 19, 0.16);
}
.card > *:first-child {
  margin-top: 0;
}
.card > *:last-child {
  margin-bottom: 0;
}
.badge {
  border-radius: 0.5em;
  line-height: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  padding-right: 0.6472em;
  padding-left: 0.6472em;
  vertical-align: middle;
  border-radius: 99px;
  white-space: nowrap;
}
.modal {
  display: none;
  max-width: none;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  position: fixed;
  bottom: 0;
  justify-content: center;
  flex: 0 1 auto;
  flex-direction: column;
  height: 100vh;
}
.modal > * {
  flex-direction: column;
  color: #220d1c;
  position: relative;
  background: #fcf5fa;
  padding: 1.62rem;
  margin-bottom: 3.24rem;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(13, 34, 19, 0.16);
  margin: 1.62rem;
}
@media screen and (min-width: 43.24rem) {
  .modal > * {
    max-width: 64rem;
    margin: 0 auto;
  }
}
.overlay {
  margin: 0;
  padding: 0;
  position: relative;
}
.overlay .top,
.overlay .bottom,
.overlay .left,
.overlay .right {
  position: absolute;
}
.overlay .top {
  top: 0.3236em;
}
.overlay .bottom {
  bottom: 0.3236em;
}
.overlay .left {
  left: 0.3236em;
}
.overlay .right {
  right: 0.3236em;
}
.overlay.stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.overlay * {
  margin: 0;
  display: block;
}
.grid,
.two-column,
.three-column {
  display: grid;
  grid-gap: 1.62rem;
}
.grid.tablet,
.two-column.tablet,
.three-column.tablet,
.grid.mobile.tablet,
.two-column.mobile.tablet,
.three-column.mobile.tablet,
.grid.desktop,
.two-column.desktop,
.three-column.desktop {
  display: initial;
}
.grid {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.two-column {
  grid-template-columns: 1fr 1fr;
}
.two-column.golden {
  grid-template-columns: 1.618fr 1fr;
}
.two-column.golden.reverse {
  grid-template-columns: 1fr 1.618fr;
}
.three-column {
  grid-template-columns: 1fr 1fr 1fr;
}
.three-column.golden {
  grid-template-columns: 1fr 1.618fr 1fr;
}
.three-column.golden.leading {
  grid-template-columns: 1.618fr 1fr 1fr;
}
.three-column.golden.trailing {
  grid-template-columns: 1fr 1fr 1.618fr;
}
.grid-width-one {
  grid-column: auto / span 1;
}
.grid-width-two {
  grid-column: auto / span 2;
}
.grid-width-three {
  grid-column: auto / span 3;
}
.grid-width-four {
  grid-column: auto / span 4;
}
.grid-width-five {
  grid-column: auto / span 5;
}
.grid-width-six {
  grid-column: auto / span 6;
}
.grid-width-seven {
  grid-column: auto / span 7;
}
.grid-width-eight {
  grid-column: auto / span 8;
}
.grid-width-nine {
  grid-column: auto / span 9;
}
.grid-width-ten {
  grid-column: auto / span 10;
}
.grid-width-eleven {
  grid-column: auto / span 11;
}
.grid-width-twelve {
  grid-column: auto / span 12;
}
@media screen and (max-width: calc(43.24rem - 1px)) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: grid;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 43.24rem) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: initial;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: initial;
  }
  .grid.tablet,
  .two-column.tablet,
  .three-column.tablet {
    display: grid;
  }
  .grid.tablet > *,
  .two-column.tablet > *,
  .three-column.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (max-width: calc(64rem - 1px)) {
  .grid.mobile.tablet,
  .two-column.mobile.tablet,
  .three-column.mobile.tablet {
    display: grid;
  }
  .grid.mobile.tablet > *,
  .two-column.mobile.tablet > *,
  .three-column.mobile.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 64rem) {
  .grid.desktop,
  .two-column.desktop,
  .three-column.desktop {
    display: grid;
  }
  .grid.desktop > *,
  .two-column.desktop > *,
  .three-column.desktop > * {
    margin-bottom: 0;
  }
}
.responsive {
  column-gap: 0.619rem;
  grid-gap: 0.619rem;
}
.responsive.padding,
.modal,
.container {
  padding: 0.619rem;
}
.responsive.margin,
.container {
  margin: 0.619rem;
}
.responsive.gutter {
  margin: 1.238rem;
}
@media screen and (min-width: 43.24rem) {
  .responsive {
    column-gap: 1.001rem;
    grid-gap: 1.001rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.001rem;
  }
  .responsive.margin,
  .container {
    margin: 1.001rem;
  }
  .responsive.gutter {
    margin: 2.002rem;
  }
}
@media screen and (min-width: 64rem) {
  .responsive {
    column-gap: 1.62rem;
    grid-gap: 1.62rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.62rem;
  }
  .responsive.margin,
  .container {
    margin: 1.62rem;
  }
  .responsive.gutter {
    margin: 3.24rem;
  }
}
.background {
  background: #fcf5fa;
}
.background-color {
  background-color: #fcf5fa;
}
.border {
  border: 1px solid #986287;
}
.border-radius,
.rounded {
  border-radius: 0.5em;
}
.border-bottom {
  border-bottom: 1px solid #986287;
}
.border-left {
  border-left: 1px solid #986287;
}
.border-right {
  border-right: 1px solid #986287;
}
.border-style,
.button.border,
button.border {
  border-style: solid;
}
.border-top {
  border-top: 1px solid #986287;
}
.border-width,
.button.border,
button.border {
  border-width: 1px;
}
.max-width {
  max-width: 64rem;
}
.min-width {
  min-width: 24rem;
}
.align-content {
  align-content: stretch;
}
.align-items {
  align-items: stretch;
}
.align-self {
  align-self: auto;
}
.flex,
.vertical-center,
.center-vertical {
  flex: 0 1 auto;
}
.flex-basis {
  flex-basis: auto;
}
.flex-direction,
.vertical-center,
.center-vertical {
  flex-direction: column;
}
.flex-flow {
  flex-flow: column nowrap;
}
.flex-grow {
  flex-grow: 0;
}
.flex-shrink {
  flex-shrink: 1;
}
.flex-wrap {
  flex-wrap: nowrap;
}
.justify-content,
.vertical-center,
.center-vertical {
  justify-content: center;
}
.font-family,
body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
}
.font-size {
  font-size: 16px;
}
.font-weight {
  font-weight: normal;
}
.list-style {
  list-style: disc inside none;
}
.list-style-type {
  list-style-type: disc;
}
.margin {
  margin: 1.62rem;
}
.margin-bottom {
  margin-bottom: 1.62rem;
}
.margin-left {
  margin-left: 1.62rem;
}
.margin-right {
  margin-right: 1.62rem;
}
.margin-top {
  margin-top: 1.62rem;
}
.column-gap {
  column-gap: 1.94em;
}
.column-rule {
  column-rule: 1px solid #986287;
}
.padding {
  padding: 1.62rem;
}
.padding-bottom {
  padding-bottom: 1.62rem;
}
.padding-left {
  padding-left: 1.62rem;
}
.padding-right {
  padding-right: 1.62rem;
}
.padding-top {
  padding-top: 1.62rem;
}
.text-align {
  text-align: left;
}
.text-align-last {
  text-align-last: left;
}
.text-indent {
  text-indent: 2ch;
}
.text-justify {
  text-justify: justify;
}
.text-overflow {
  text-overflow: hidden;
}
.text-shadow {
  text-shadow: 1.41px 1.41px 1.41px rgba(13, 34, 19, 0.16);
}
.line-height {
  line-height: 1.8;
}
.vertical-align {
  vertical-align: middle;
}
.letter-spacing {
  letter-spacing: 0;
}
.word-spacing {
  word-spacing: normal;
}
.white-space {
  white-space: nowrap;
}
.word-break {
  word-break: break-all;
}
.word-wrap {
  word-wrap: break-word;
}
.transform {
  transform: none;
}
.transition {
  transition: all 0s ease 0s;
}
.display {
  display: block;
}
.position {
  position: absolute;
}
.top {
  top: 0;
}
.right {
  right: 0;
}
.bottom {
  bottom: 0;
}
.left {
  left: 0;
}
.float {
  float: left;
}
.clear {
  clear: both;
}
.z-index {
  z-index: 10;
}
.overflow {
  overflow: hidden;
}
.overflow-x {
  overflow-x: hidden;
}
.cursor {
  cursor: pointer;
}
.box-shadow {
  box-shadow: 1.41px 1.41px 1.41px rgba(13, 34, 19, 0.16);
}
.gutter {
  margin: 3.24rem;
}
.gutter-top {
  margin-top: 3.24rem;
}
.gutter-right {
  margin-right: 3.24rem;
}
.gutter-bottom {
  margin-bottom: 3.24rem;
}
.gutter-left {
  margin-left: 3.24rem;
}
.text-padding {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-padding-top {
  padding-top: 0.18em;
}
.text-padding-right {
  padding-right: 0.3236em;
}
.text-padding-bottom {
  padding-bottom: 0.22em;
}
.text-padding-left {
  padding-left: 0.3236em;
}
.text-margin {
  margin: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-margin-top {
  margin-top: 0.18em;
}
.text-margin-right {
  margin-right: 0.3236em;
}
.text-margin-bottom {
  margin-bottom: 0.22em;
}
.text-margin-left {
  margin-left: 0.3236em;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.initial {
  display: initial;
}
.table {
  display: table;
}
.flex,
.vertical-center,
.center-vertical {
  display: flex;
}
.inline-block {
  display: inline-block;
}
.static {
  position: static;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.margin-auto,
.container {
  margin-left: auto;
  margin-right: auto;
}
.width-auto {
  width: auto;
}
.inset {
  box-shadow: inset 1.41px 1.41px 1.41px rgba(13, 34, 19, 0.16);
}
.viewport-height {
  height: 100vh;
}
.min-viewport-height {
  min-height: 100vh;
}
.overflow-hidden {
  overflow: hidden;
}
.dashed {
  border-style: dashed;
}
.dotted {
  border-style: dotted;
}
.thick {
  border-width: 2px;
}
.thin {
  border-width: 0.5px;
}
.current-color {
  border-color: currentColor;
}
.fade {
  opacity: 0.65;
}
.serif,
.font-family-serif {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "Droid Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
.monospace,
.font-family-monospace,
pre,
code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
}
.sans-serif,
.font-family-sans-serif {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.text-transparent {
  color: transparent;
}
.reset {
  all: initial;
}
.big {
  font-size: 125%;
  line-height: 2.25;
}
.big.font-size {
  font-size: 20px;
}
.small,
.badge {
  font-size: 87.5%;
  line-height: 1.575;
}
.small.font-size {
  font-size: 14px;
}
.huge {
  font-size: 160%;
}
.huge.font-size {
  font-size: 25.6px;
}
.text-trim {
  line-height: 1;
}
.text-align-center,
.text-center {
  text-align: center;
}
.text-align-left,
.text-left {
  text-align: left;
}
.text-align-right,
.text-right {
  text-align: right;
}
.text-align-justify,
.text-justify {
  text-align: justify;
}
.grid-gap-margin {
  grid-gap: 1.62rem;
}
.grid-gap-border-width {
  grid-gap: 1px;
}
.grid-gap-text-padding,
.grid-gap-text-margin {
  grid-gap: 0.3236em;
}
.shade,
.white,
.orange,
.yellow,
.light.olive,
.cyan,
.skyblue,
.violet,
.lavender,
.cream,
.light.clover,
.pewter,
.light.hotpink,
.neongreen,
.electricblue,
.lemon,
.lime,
.tangerine,
.warm,
.light.highlight,
body,
input,
textarea,
.info,
.warning {
  color: #220d1c;
}
.tint,
.black,
.red,
.olive,
.green,
.teal,
.blue,
.indigo,
.purple,
.dark.violet,
.gray,
.brown,
.magenta,
.charcoal,
.crimson,
.clover,
.cobalt,
.graphite,
.ruby,
.onyx,
.dark.pewter,
.gunmetal,
.hotpink,
.dark.electricblue,
.royalpurple,
.grapefruit,
.reaction,
.default,
.cool,
.neutral,
.complement,
.accent,
.second.accent,
.split,
.second.split,
.triad,
.third.triad,
.tetrad,
.second.tetrad,
.third.tetrad,
.fourth.tetrad,
.highlight,
.success,
.failure,
.second.triad {
  color: #fcf5fa;
}
.transparent {
  background-color: transparent;
  color: inherit;
  border-color: inherit;
}
.transparent.light {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23FFF%22%20fill-opacity%3D%220.16%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.transparent.dark,
.modal {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23000%22%20fill-opacity%3D%220.25%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.trim,
.trim-inner *,
.trim-all,
.trim-all * {
  margin-bottom: 0;
}
.hidden {
  display: none !important;
}
.clearfix,
.clear {
  clear: both;
}
.clearfix::after,
.clear::after {
  display: block;
  clear: both;
  content: "";
}
.golden-width {
  max-width: calc(62% - 3.24rem);
}
.golden-width.reverse {
  max-width: 38%;
}
.aside-width {
  max-width: 24rem;
}
@media screen and (min-width: 43.24rem) {
  .text-width {
    max-width: 40rem;
  }
}
.page-width,
.container {
  max-width: 64rem;
}
.full-width,
.aside-width .aside-width,
.text-width .text-width,
.page-width .page-width {
  display: block;
  width: 100%;
}
.inner-aside-width {
  padding-left: calc(50% - 12rem);
  padding-right: calc(50% - 12rem);
}
.inner-aside-width.padding {
  padding-left: calc(50% - 10.38rem);
  padding-right: calc(50% - 10.38rem);
}
.inner-aside-width.responsive.padding {
  padding-left: calc(50% - 11.38rem);
  padding-right: calc(50% - 11.38rem);
}
@media screen and (max-width: calc(43.24rem - 1px)) {
  .inner-text-width {
    padding-left: initial;
    padding-right: initial;
  }
  .inner-text-width.padding {
    padding-left: 1.62rem;
    padding-right: 1.62rem;
  }
  .inner-text-width.responsive.padding {
    padding-left: 0.619rem;
    padding-right: 0.619rem;
  }
}
@media screen and (min-width: 43.24rem) {
  .inner-aside-width.tablet.padding {
    padding-left: calc(50% - 10.38rem);
    padding-right: calc(50% - 10.38rem);
  }
  .inner-aside-width.tablet.responsive.padding {
    padding-left: calc(50% - 11rem);
    padding-right: calc(50% - 11rem);
  }
  .inner-text-width {
    padding-left: calc(50% - 20rem);
    padding-right: calc(50% - 20rem);
  }
  .inner-text-width.padding {
    padding-left: calc(50% - 18.38rem);
    padding-right: calc(50% - 18.38rem);
  }
  .inner-text-width.responsive.padding {
    padding-left: calc(50% - 19rem);
    padding-right: calc(50% - 19rem);
  }
}
@media screen and (min-width: 64rem) {
  .inner-aside-width.desktop.padding {
    padding-left: calc(50% - 10.38rem);
    padding-right: calc(50% - 10.38rem);
  }
  .inner-aside-width.desktop.responsive.padding {
    padding-left: calc(50% - 10.38rem);
    padding-right: calc(50% - 10.38rem);
  }
  .inner-text-width.desktop.padding {
    padding-left: calc(50% - 18.38rem);
    padding-right: calc(50% - 18.38rem);
  }
  .inner-text-width.desktop.responsive.padding {
    padding-left: calc(50% - 18.38rem);
    padding-right: calc(50% - 18.38rem);
  }
  .inner-page-width {
    padding-left: calc(50% - 32rem);
    padding-right: calc(50% - 32rem);
  }
  .inner-page-width.padding {
    padding-left: calc(50% - 30.38rem);
    padding-right: calc(50% - 30.38rem);
  }
  .inner-page-width.responsive.padding {
    padding-left: calc(50% - 30.38rem);
    padding-right: calc(50% - 30.38rem);
  }
}
.texture,
.pattern {
  background-position: top center;
}
.texture {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20width%3D'32'%20height%3D'16'%20viewBox%3D'0%200%203.175%201.588'%3E%3Cg%20fill%3D'%23fcf5fa'%20fill-opacity%3D'0.05'%3E%3Ccircle%20cx%3D'.397'%20cy%3D'.397'%20r%3D'.397'/%3E%3Ccircle%20r%3D'.397'%20cy%3D'.397'%20cx%3D'1.191'/%3E%3Ccircle%20r%3D'.397'%20cy%3D'.397'%20cx%3D'1.984'/%3E%3Ccircle%20cx%3D'2.778'%20cy%3D'.397'%20r%3D'.397'/%3E%3Ccircle%20r%3D'.397'%20cy%3D'1.191'/%3E%3Ccircle%20cx%3D'.794'%20cy%3D'1.191'%20r%3D'.397'/%3E%3Ccircle%20cx%3D'1.587'%20cy%3D'1.191'%20r%3D'.397'/%3E%3Ccircle%20r%3D'.397'%20cy%3D'1.191'%20cx%3D'2.381'/%3E%3Ccircle%20cx%3D'3.175'%20cy%3D'1.191'%20r%3D'.397'/%3E%3C/g%3E%3C/svg%3E");
}
.pattern {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20width%3D'80'%20height%3D'50'%20viewBox%3D'0%200%2021.167%2013.229'%3E%3Cpath%20fill%3D'%23fcf5fa'%20opacity%3D'0.05'%20d%3D'M0%200h21.167v6.615H0z'/%3E%3C/svg%3E");
}
.placeholder::before {
  content: " ";
  white-space: pre;
}
.placeholder::after {
  content: "";
}
.placeholder.image,
.placeholder.video,
.placeholder.avatar {
  position: relative;
}
.placeholder.image::before,
.placeholder.video::before,
.placeholder.avatar::before {
  position: absolute;
  top: calc(50% - 4rem);
  right: 0;
  bottom: 0;
  left: 0;
  display: inline-block;
  text-align: center;
  font-size: 4rem;
  vertical-align: middle;
}
.placeholder.image.small::before,
.placeholder.video.small::before,
.placeholder.avatar.small::before {
  top: calc(50% - 2rem);
  font-size: 2rem;
}
.placeholder.image.big::before,
.placeholder.video.big::before,
.placeholder.avatar.big::before {
  top: calc(50% - 6rem);
  font-size: 6rem;
}
.placeholder.image.huge::before,
.placeholder.video.huge::before,
.placeholder.avatar.huge::before {
  top: calc(50% - 8rem);
  font-size: 8rem;
}
.placeholder.image::after,
.placeholder.video::after,
.placeholder.avatar::after {
  display: block;
}
.placeholder.image::before {
  content: "\1f5bc";
}
.placeholder.image::after {
  padding-top: 75%;
}
.placeholder.video::before {
  content: "\25B6";
}
.placeholder.video::after {
  padding-top: 56.25%;
}
.placeholder.avatar::before {
  content: "\263A";
}
.placeholder.avatar::after {
  padding-top: 100%;
}
.placeholder.no-icon::before {
  content: "";
}
.hide {
  display: none;
}
.hide.tablet {
  display: initial;
}
.hide.desktop {
  display: initial;
}
@media screen and (max-width: calc(43.24rem - 1px)) {
  .hide.mobile {
    display: none;
  }
}
@media screen and (min-width: 43.24rem) {
  .hide.mobile {
    display: initial;
  }
  .hide.tablet {
    display: none;
  }
}
@media screen and (min-width: 64rem) {
  .hide.desktop {
    display: none;
  }
  .hide.mobile.tablet {
    display: initial;
  }
}
@media screen and (max-width: calc(64rem - 1px)) {
  .hide.mobile.tablet {
    display: none;
  }
}
body {
  font-size: 16px;
  line-height: 1.8;
  margin: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
nav {
  z-index: 99;
}
nav a {
  text-decoration: none;
}
aside {
  margin: 0 auto;
  margin-bottom: 1.62rem;
  max-width: 24rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-top: 0.49443758em;
  margin-bottom: 0.74165637em;
  letter-spacing: -0.025em;
  color: inherit;
  line-height: 1.618;
}
h1 {
  font-size: 2.4em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1em;
}
p {
  margin-bottom: 1em;
}
p.gutter-bottom {
  margin-bottom: 1.618em;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: inherit;
  text-decoration: underline;
}
a.target-blank::after,
a.new-tab::after,
a.external-link::after {
  content: "\00A0\1F855";
}
form {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input {
  font-size: 16px;
  line-height: 1.8;
  border: 1px solid #986287;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input:focus {
  box-shadow: 0 0 2px #86b3dc;
}
fieldset {
  border: none;
  outline: none;
}
ol {
  padding-left: 4ch;
  margin-bottom: 1.62rem;
}
ol li {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
ul {
  margin-left: 1.62rem;
  margin-bottom: 1.62rem;
}
li {
  margin-bottom: 0.44em;
}
kbd {
  color: #fcf5fa;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  white-space: nowrap;
}
b {
  padding: 0.18em 0 0.22em 0;
}
pre {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  overflow: hidden;
  border-radius: 0.5em;
  background: #3d3338;
  color: #fcf5fa;
}
pre.white-space,
pre.word-break {
  white-space: pre-wrap;
}
pre > code {
  background: transparent;
  padding: 0;
}
code {
  color: #fcf5fa;
  background-color: #322e55;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
code.terminal::before {
  content: "$ ";
}
textarea {
  font-size: 16px;
  line-height: 1.8;
  border: 1px solid #986287;
  border-radius: 0.5em;
  margin-bottom: 1.62rem;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
textarea:focus {
  box-shadow: 0 0 2px #86b3dc;
}
.white,
body,
input,
textarea {
  background-color: #fcf5fa;
  border-color: #887d85;
}
.black {
  background-color: #220d1c;
  border-color: #11070e;
}
.ambient {
  color: #fcf5fa;
  background: #d553b1;
  border-color: #742c61;
}
.ambient.light {
  color: #220d1c;
  background: #dd73c0;
  border-color: #783c68;
}
.ambient.dark {
  color: #fcf5fa;
  background: #cc32a3;
  border-color: #701c59;
}
.red,
.failure {
  background-color: #df0313;
  border-color: #7b020b;
}
.light.red,
.light.failure {
  background-color: #fc0f20;
  border-color: #8a0812;
}
.dark.red,
.dark.failure {
  background-color: #b7020f;
  border-color: #670209;
}
.orange,
.warning {
  background-color: #f79711;
  border-color: #87520a;
}
.light.orange,
.light.warning {
  background-color: #f8a838;
  border-color: #885b1d;
}
.dark.orange,
.dark.warning {
  background-color: #d88007;
  border-color: #774705;
}
.yellow {
  background-color: #efe011;
  border-color: #837a0a;
}
.light.yellow {
  background-color: #f2e538;
  border-color: #847d1d;
}
.dark.yellow {
  background-color: #cabd0e;
  border-color: #706908;
}
.olive {
  background-color: #8d7813;
  border-color: #51450b;
}
.light.olive {
  background-color: #b19717;
  border-color: #63550e;
}
.dark.olive {
  background-color: #69590e;
  border-color: #3f3609;
}
.green,
.success {
  background-color: #1d7812;
  border-color: #12470b;
}
.light.green,
.light.success {
  background-color: #269c17;
  border-color: #16580e;
}
.dark.green,
.dark.success {
  background-color: #15550d;
  border-color: #0d3508;
}
.teal {
  background-color: #1e7887;
  border-color: #11454e;
}
.light.teal {
  background-color: #2596a9;
  border-color: #15545e;
}
.dark.teal {
  background-color: #165a66;
  border-color: #0e363d;
}
.cyan {
  background-color: #2bd9ef;
  border-color: #177683;
}
.light.cyan {
  background-color: #51e0f2;
  border-color: #2a7a84;
}
.dark.cyan {
  background-color: #11c9e0;
  border-color: #0a6e7b;
}
.skyblue,
.info {
  background-color: #86b3dc;
  border-color: #466078;
}
.light.skyblue,
.light.info {
  background-color: #a6c7e5;
  border-color: #566a7c;
}
.dark.skyblue,
.dark.info {
  background-color: #679fd3;
  border-color: #365673;
}
.blue {
  background-color: #1c01ee;
  border-color: #100283;
}
.light.blue {
  background-color: #351bfe;
  border-color: #1d0e8b;
}
.dark.blue {
  background-color: #1801c6;
  border-color: #0e016f;
}
.indigo {
  background-color: #5e0289;
  border-color: #380250;
}
.light.indigo {
  background-color: #7a03b1;
  border-color: #450264;
}
.dark.indigo {
  background-color: #430161;
  border-color: #2a023c;
}
.purple {
  background-color: #8c0487;
  border-color: #52034e;
}
.light.purple {
  background-color: #b405ad;
  border-color: #660461;
}
.dark.purple {
  background-color: #650361;
  border-color: #3e033b;
}
.violet {
  background-color: #e16ddf;
  border-color: #7a397a;
}
.light.violet {
  background-color: #e88fe6;
  border-color: #7e4a7d;
}
.dark.violet {
  background-color: #d94bd8;
  border-color: #772876;
}
.gray {
  background-color: #87707f;
  border-color: #4b3d46;
}
.light.gray {
  background-color: #9a8693;
  border-color: #554850;
}
.dark.gray {
  background-color: #715e6a;
  border-color: #40343c;
}
.brown {
  background-color: #9d4c32;
  border-color: #582b1c;
}
.light.brown {
  background-color: #bc5b3b;
  border-color: #683221;
}
.dark.brown {
  background-color: #7e3d28;
  border-color: #492317;
}
.magenta {
  background-color: #d204cf;
  border-color: #750373;
}
.light.magenta {
  background-color: #fa05f6;
  border-color: #890387;
}
.dark.magenta {
  background-color: #aa03a7;
  border-color: #61035f;
}
.lavender {
  background-color: #c9b3dc;
  border-color: #6b5d77;
}
.light.lavender {
  background-color: #ddcfe9;
  border-color: #756b7d;
}
.dark.lavender {
  background-color: #b697cf;
  border-color: #614f70;
}
.cream {
  background-color: #eae2ce;
  border-color: #7e796b;
}
.light.cream {
  background-color: #f6f3ea;
  border-color: #848179;
}
.dark.cream {
  background-color: #ddd2b2;
  border-color: #78705d;
}
.charcoal {
  background-color: #5e3139;
  border-color: #371d21;
}
.light.charcoal {
  background-color: #783f49;
  border-color: #452429;
}
.dark.charcoal {
  background-color: #432328;
  border-color: #2a1619;
}
.crimson {
  background-color: #ae0b24;
  border-color: #620715;
}
.light.crimson {
  background-color: #d40d2c;
  border-color: #750819;
}
.dark.crimson {
  background-color: #88081c;
  border-color: #4f0611;
}
.clover {
  background-color: #519a25;
  border-color: #2e5715;
}
.light.clover {
  background-color: #62bb2d;
  border-color: #376819;
}
.dark.clover {
  background-color: #407a1d;
  border-color: #254711;
}
.cobalt {
  background-color: #316fcb;
  border-color: #1b3d6f;
}
.light.cobalt {
  background-color: #4f86d5;
  border-color: #2a4874;
}
.dark.cobalt {
  background-color: #295daa;
  border-color: #17345f;
}
.graphite {
  background-color: #322e55;
  border-color: #1e1b33;
}
.light.graphite {
  background-color: #413c70;
  border-color: #252240;
}
.dark.graphite {
  background-color: #221f3a;
  border-color: #161426;
}
.ruby {
  background-color: #b00145;
  border-color: #640227;
}
.light.ruby {
  background-color: #d80254;
  border-color: #78022f;
}
.dark.ruby {
  background-color: #870135;
  border-color: #4f0120;
}
.onyx {
  background-color: #3d3338;
  border-color: #261f23;
}
.light.onyx {
  background-color: #53454d;
  border-color: #31282d;
}
.dark.onyx {
  background-color: #262024;
  border-color: #1b1518;
}
.pewter {
  background-color: #9d9488;
  border-color: #565049;
}
.light.pewter {
  background-color: #afa89e;
  border-color: #5f5a54;
}
.dark.pewter {
  background-color: #8a8072;
  border-color: #4d463e;
}
.gunmetal {
  background-color: #534e6d;
  border-color: #2f2c3e;
}
.light.gunmetal {
  background-color: #655f85;
  border-color: #38344a;
}
.dark.gunmetal {
  background-color: #413d55;
  border-color: #262332;
}
.hotpink {
  background-color: #e653a0;
  border-color: #7d2c57;
}
.light.hotpink {
  background-color: #eb77b4;
  border-color: #803e60;
}
.dark.hotpink {
  background-color: #e0308c;
  border-color: #7b1a4d;
}
.neongreen {
  background-color: #3dde19;
  border-color: #227a0e;
}
.light.neongreen {
  background-color: #58e838;
  border-color: #307f1e;
}
.dark.neongreen {
  background-color: #33ba15;
  border-color: #1d680c;
}
.electricblue {
  background-color: #3da9d4;
  border-color: #215c74;
}
.light.electricblue {
  background-color: #5eb8dc;
  border-color: #326478;
}
.dark.electricblue {
  background-color: #2a94be;
  border-color: #185269;
}
.royalpurple {
  background-color: #652e8e;
  border-color: #391a50;
}
.light.royalpurple {
  background-color: #7b37ad;
  border-color: #441f60;
}
.dark.royalpurple {
  background-color: #4f246f;
  border-color: #2e1541;
}
.lemon {
  background-color: #f7ee93;
  border-color: #86814b;
}
.light.lemon {
  background-color: #faf4b9;
  border-color: #88845e;
}
.dark.lemon {
  background-color: #f4e86d;
  border-color: #857e38;
}
.lime {
  background-color: #9dd68e;
  border-color: #53744b;
}
.light.lime {
  background-color: #b7e1ac;
  border-color: #607a5a;
}
.dark.lime {
  background-color: #83cb71;
  border-color: #466f3c;
}
.tangerine {
  background-color: #ee9e56;
  border-color: #82552d;
}
.light.tangerine {
  background-color: #f2b37b;
  border-color: #84603f;
}
.dark.tangerine {
  background-color: #ea8930;
  border-color: #804b1a;
}
.grapefruit {
  background-color: #cc2c51;
  border-color: #70182d;
}
.light.grapefruit {
  background-color: #d8496b;
  border-color: #76273a;
}
.dark.grapefruit {
  background-color: #ab2544;
  border-color: #601526;
}
.action,
.base-color {
  color: #fcf5fa;
  background: #934176;
  border-color: #522442;
}
.action.light,
.base-color.light {
  color: #fcf5fa;
  background: #af4e8d;
  border-color: #612b4d;
}
.action.dark,
.base-color.dark {
  color: #fcf5fa;
  background: #77345f;
  border-color: #441e37;
}
.reaction {
  background-color: #405848;
  border-color: #25342a;
}
.light.reaction {
  background-color: #51705b;
  border-color: #2e4034;
}
.dark.reaction {
  background-color: #2f4135;
  border-color: #1c2820;
}
.default {
  background-color: #986287;
  border-color: #54364b;
}
.light.default {
  background-color: #a97a9b;
  border-color: #5d4254;
}
.dark.default {
  background-color: #7f5271;
  border-color: #482e40;
}
.warm {
  background-color: #deb22f;
  border-color: #79611a;
}
.light.warm {
  background-color: #e3bf53;
  border-color: #7c682b;
}
.dark.warm {
  background-color: #c59b20;
  border-color: #6d5612;
}
.cool {
  background-color: #9006b1;
  border-color: #520464;
}
.light.cool {
  background-color: #b008d8;
  border-color: #620577;
}
.dark.cool {
  background-color: #700589;
  border-color: #420450;
}
.neutral {
  background-color: #4f78a5;
  border-color: #2b425b;
}
.light.neutral {
  background-color: #668db6;
  border-color: #374d64;
}
.dark.neutral {
  background-color: #416489;
  border-color: #25384d;
}
.complement,
.second.triad {
  background-color: #466752;
  border-color: #283c2f;
}
.light.complement,
.light.second.triad {
  background-color: #577f65;
  border-color: #304838;
}
.dark.complement,
.dark.second.triad {
  background-color: #364f3e;
  border-color: #202f25;
}
.accent {
  background-color: #a13753;
  border-color: #5a1f2e;
}
.light.accent {
  background-color: #bf4163;
  border-color: #692436;
}
.dark.accent {
  background-color: #822c43;
  border-color: #4b1926;
}
.second.accent {
  background-color: #95379c;
  border-color: #531f57;
}
.light.second.accent {
  background-color: #b141ba;
  border-color: #622466;
}
.dark.second.accent {
  background-color: #782c7e;
  border-color: #451948;
}
.split {
  background-color: #876842;
  border-color: #4c3b25;
}
.light.split {
  background-color: #a27d4f;
  border-color: #5a452c;
}
.dark.split {
  background-color: #6b5334;
  border-color: #3e301e;
}
.second.split {
  background-color: #4b3b81;
  border-color: #2a2249;
}
.light.second.split {
  background-color: #5b489d;
  border-color: #322857;
}
.dark.second.split {
  background-color: #3b2f65;
  border-color: #221b3b;
}
.triad {
  background-color: #874942;
  border-color: #4c2925;
}
.light.triad {
  background-color: #a2574f;
  border-color: #5a302c;
}
.dark.triad {
  background-color: #6b3a34;
  border-color: #3e211e;
}
.third.triad {
  background-color: #603281;
  border-color: #371d4a;
}
.light.third.triad {
  background-color: #763e9e;
  border-color: #422258;
}
.dark.third.triad {
  background-color: #4a2763;
  border-color: #2c173b;
}
.tetrad {
  background-color: #873942;
  border-color: #4c2025;
}
.light.tetrad {
  background-color: #a34550;
  border-color: #5b262c;
}
.dark.tetrad {
  background-color: #6a2d34;
  border-color: #3e1a1e;
}
.second.tetrad {
  background-color: #627142;
  border-color: #384125;
}
.light.second.tetrad {
  background-color: #798b51;
  border-color: #444e2d;
}
.dark.second.tetrad {
  background-color: #4c5833;
  border-color: #2d341e;
}
.third.tetrad {
  background-color: #4b6b81;
  border-color: #2a3c49;
}
.light.third.tetrad {
  background-color: #5a809b;
  border-color: #314756;
}
.dark.third.tetrad {
  background-color: #3c5567;
  border-color: #22313c;
}
.fourth.tetrad {
  background-color: #6f3281;
  border-color: #3f1d4a;
}
.light.fourth.tetrad {
  background-color: #883e9e;
  border-color: #4c2258;
}
.dark.fourth.tetrad {
  background-color: #562763;
  border-color: #33173b;
}
.highlight {
  background-color: #ee05e8;
  border-color: #820380;
}
.light.highlight {
  background-color: #fb20f6;
  border-color: #891186;
}
.dark.highlight {
  background-color: #c604c1;
  border-color: #6e036c;
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-margin-right {
  margin-right: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.no-margin-left {
  margin-left: 0 !important;
}
.no-padding {
  padding: 0;
}
.no-margin,
.no-gutter {
  margin: 0;
}
.no-side-margin,
.no-side-margins {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.no-margins {
  margin: 0 !important;
}
.no-margins * {
  margin: 0 !important;
}
.no-box-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  box-shadow: unset;
}
.no-text-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  text-shadow: unset;
}
.no-border,
.no-borders,
.no-borders * {
  border-width: 0 !important;
}
.no-background {
  background: transparent;
}
.no-text-indent {
  text-indent: 0;
}
.no-text-align {
  text-align: initial;
}
.no-user-select {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.no-pointer-events {
  pointer-events: none;
}
.no-list-style {
  list-style-type: none;
  margin-left: 0;
}
.no-grid-gap,
.no-column-gap {
  grid-gap: 0;
  column-gap: 0;
}
@media print {
  html {
    font-size: 62.5%;
  }
  * {
    box-shadow: unset !important;
    border: unset !important;
  }
  nav {
    display: none !important;
  }
  .page-width,
  .text-width,
  .container {
    all: unset;
  }
  .inner-page-width,
  .inner-text-width,
  .inner-aside-width {
    all: unset;
  }
}
