/* This project uses Cavepaint (MIT License) by Rex Riepe */
/* https://github.com/cavepaint/cavepaintCSS */
* {
  margin: 0 0 1.62rem 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  margin-bottom: 0;
}
.button,
button {
  border-style: solid;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(40, 1, 12, 0.16);
  display: inline;
  position: relative;
  font-family: inherit;
  font-size: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  color: inherit;
  background-color: inherit;
  border-color: #186a4a;
  border-width: 1px;
  line-height: 1.6;
  text-align: center;
  vertical-align: middle;
  outline: none;
  white-space: nowrap;
  text-decoration: none;
  touch-action: manipulation;
  cursor: pointer;
  transform: scale(1);
  transition: 0.08s linear;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.button:active,
button:active {
  transform: scale(0.99);
  box-shadow: unset;
}
.bar {
  position: relative;
  width: 100%;
  display: block;
  vertical-align: middle;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.bar > * {
  display: inline;
  margin-right: 0.3236em;
  margin-left: 0.3236em;
  margin-bottom: 0;
}
.card {
  position: relative;
  overflow: hidden;
  padding: 1.62rem;
  border: 1px solid #27ad78;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(40, 1, 12, 0.16);
}
.card > *:first-child {
  margin-top: 0;
}
.card > *:last-child {
  margin-bottom: 0;
}
.badge {
  border-radius: 0.5em;
  line-height: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  padding-right: 0.6472em;
  padding-left: 0.6472em;
  vertical-align: middle;
  border-radius: 99px;
  white-space: nowrap;
}
.modal {
  display: none;
  max-width: none;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  position: fixed;
  bottom: 0;
  justify-content: center;
  flex: 0 1 auto;
  flex-direction: column;
  height: 100vh;
}
.modal > * {
  flex-direction: column;
  color: #01281d;
  position: relative;
  background: #f0fffb;
  padding: 1.62rem;
  margin-bottom: 3.24rem;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(40, 1, 12, 0.16);
  margin: 1.62rem;
}
@media screen and (min-width: 36.24rem) {
  .modal > * {
    max-width: 53rem;
    margin: 0 auto;
  }
}
.overlay {
  margin: 0;
  padding: 0;
  position: relative;
}
.overlay .top,
.overlay .bottom,
.overlay .left,
.overlay .right {
  position: absolute;
}
.overlay .top {
  top: 0.3236em;
}
.overlay .bottom {
  bottom: 0.3236em;
}
.overlay .left {
  left: 0.3236em;
}
.overlay .right {
  right: 0.3236em;
}
.overlay.stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.overlay * {
  margin: 0;
  display: block;
}
.grid,
.two-column,
.three-column {
  display: grid;
  grid-gap: 1.62rem;
}
.grid.tablet,
.two-column.tablet,
.three-column.tablet,
.grid.mobile.tablet,
.two-column.mobile.tablet,
.three-column.mobile.tablet,
.grid.desktop,
.two-column.desktop,
.three-column.desktop {
  display: initial;
}
.grid {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.two-column {
  grid-template-columns: 1fr 1fr;
}
.two-column.golden {
  grid-template-columns: 1.618fr 1fr;
}
.two-column.golden.reverse {
  grid-template-columns: 1fr 1.618fr;
}
.three-column {
  grid-template-columns: 1fr 1fr 1fr;
}
.three-column.golden {
  grid-template-columns: 1fr 1.618fr 1fr;
}
.three-column.golden.leading {
  grid-template-columns: 1.618fr 1fr 1fr;
}
.three-column.golden.trailing {
  grid-template-columns: 1fr 1fr 1.618fr;
}
.grid-width-one {
  grid-column: auto / span 1;
}
.grid-width-two {
  grid-column: auto / span 2;
}
.grid-width-three {
  grid-column: auto / span 3;
}
.grid-width-four {
  grid-column: auto / span 4;
}
.grid-width-five {
  grid-column: auto / span 5;
}
.grid-width-six {
  grid-column: auto / span 6;
}
.grid-width-seven {
  grid-column: auto / span 7;
}
.grid-width-eight {
  grid-column: auto / span 8;
}
.grid-width-nine {
  grid-column: auto / span 9;
}
.grid-width-ten {
  grid-column: auto / span 10;
}
.grid-width-eleven {
  grid-column: auto / span 11;
}
.grid-width-twelve {
  grid-column: auto / span 12;
}
@media screen and (max-width: calc(36.24rem - 1px)) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: grid;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 36.24rem) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: initial;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: initial;
  }
  .grid.tablet,
  .two-column.tablet,
  .three-column.tablet {
    display: grid;
  }
  .grid.tablet > *,
  .two-column.tablet > *,
  .three-column.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (max-width: calc(53rem - 1px)) {
  .grid.mobile.tablet,
  .two-column.mobile.tablet,
  .three-column.mobile.tablet {
    display: grid;
  }
  .grid.mobile.tablet > *,
  .two-column.mobile.tablet > *,
  .three-column.mobile.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 53rem) {
  .grid.desktop,
  .two-column.desktop,
  .three-column.desktop {
    display: grid;
  }
  .grid.desktop > *,
  .two-column.desktop > *,
  .three-column.desktop > * {
    margin-bottom: 0;
  }
}
.responsive {
  column-gap: 0.619rem;
  grid-gap: 0.619rem;
}
.responsive.padding,
.modal,
.container {
  padding: 0.619rem;
}
.responsive.margin,
.container {
  margin: 0.619rem;
}
.responsive.gutter {
  margin: 1.238rem;
}
@media screen and (min-width: 36.24rem) {
  .responsive {
    column-gap: 1.001rem;
    grid-gap: 1.001rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.001rem;
  }
  .responsive.margin,
  .container {
    margin: 1.001rem;
  }
  .responsive.gutter {
    margin: 2.002rem;
  }
}
@media screen and (min-width: 53rem) {
  .responsive {
    column-gap: 1.62rem;
    grid-gap: 1.62rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.62rem;
  }
  .responsive.margin,
  .container {
    margin: 1.62rem;
  }
  .responsive.gutter {
    margin: 3.24rem;
  }
}
.background {
  background: #f0fffb;
}
.background-color {
  background-color: #f0fffb;
}
.border {
  border: 1px solid #27ad78;
}
.border-radius,
.rounded {
  border-radius: 0.5em;
}
.border-bottom {
  border-bottom: 1px solid #27ad78;
}
.border-left {
  border-left: 1px solid #27ad78;
}
.border-right {
  border-right: 1px solid #27ad78;
}
.border-style,
.button.border,
button.border {
  border-style: solid;
}
.border-top {
  border-top: 1px solid #27ad78;
}
.border-width,
.button.border,
button.border {
  border-width: 1px;
}
.max-width {
  max-width: 53rem;
}
.min-width {
  min-width: 20rem;
}
.align-content {
  align-content: stretch;
}
.align-items {
  align-items: stretch;
}
.align-self {
  align-self: auto;
}
.flex,
.vertical-center,
.center-vertical {
  flex: 0 1 auto;
}
.flex-basis {
  flex-basis: auto;
}
.flex-direction,
.vertical-center,
.center-vertical {
  flex-direction: column;
}
.flex-flow {
  flex-flow: column nowrap;
}
.flex-grow {
  flex-grow: 0;
}
.flex-shrink {
  flex-shrink: 1;
}
.flex-wrap {
  flex-wrap: nowrap;
}
.justify-content,
.vertical-center,
.center-vertical {
  justify-content: center;
}
.font-family,
body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
}
.font-size {
  font-size: 16px;
}
.font-weight {
  font-weight: normal;
}
.list-style {
  list-style: disc inside none;
}
.list-style-type {
  list-style-type: disc;
}
.margin {
  margin: 1.62rem;
}
.margin-bottom {
  margin-bottom: 1.62rem;
}
.margin-left {
  margin-left: 1.62rem;
}
.margin-right {
  margin-right: 1.62rem;
}
.margin-top {
  margin-top: 1.62rem;
}
.column-gap {
  column-gap: 1.94em;
}
.column-rule {
  column-rule: 1px solid #27ad78;
}
.padding {
  padding: 1.62rem;
}
.padding-bottom {
  padding-bottom: 1.62rem;
}
.padding-left {
  padding-left: 1.62rem;
}
.padding-right {
  padding-right: 1.62rem;
}
.padding-top {
  padding-top: 1.62rem;
}
.text-align {
  text-align: left;
}
.text-align-last {
  text-align-last: left;
}
.text-indent {
  text-indent: 2ch;
}
.text-justify {
  text-justify: justify;
}
.text-overflow {
  text-overflow: hidden;
}
.text-shadow {
  text-shadow: 1.41px 1.41px 1.41px rgba(40, 1, 12, 0.16);
}
.line-height {
  line-height: 1.8;
}
.vertical-align {
  vertical-align: middle;
}
.letter-spacing {
  letter-spacing: 0;
}
.word-spacing {
  word-spacing: normal;
}
.white-space {
  white-space: nowrap;
}
.word-break {
  word-break: break-all;
}
.word-wrap {
  word-wrap: break-word;
}
.transform {
  transform: none;
}
.transition {
  transition: all 0s ease 0s;
}
.display {
  display: block;
}
.position {
  position: absolute;
}
.top {
  top: 0;
}
.right {
  right: 0;
}
.bottom {
  bottom: 0;
}
.left {
  left: 0;
}
.float {
  float: left;
}
.clear {
  clear: both;
}
.z-index {
  z-index: 10;
}
.overflow {
  overflow: hidden;
}
.overflow-x {
  overflow-x: hidden;
}
.cursor {
  cursor: pointer;
}
.box-shadow {
  box-shadow: 1.41px 1.41px 1.41px rgba(40, 1, 12, 0.16);
}
.gutter {
  margin: 3.24rem;
}
.gutter-top {
  margin-top: 3.24rem;
}
.gutter-right {
  margin-right: 3.24rem;
}
.gutter-bottom {
  margin-bottom: 3.24rem;
}
.gutter-left {
  margin-left: 3.24rem;
}
.text-padding {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-padding-top {
  padding-top: 0.18em;
}
.text-padding-right {
  padding-right: 0.3236em;
}
.text-padding-bottom {
  padding-bottom: 0.22em;
}
.text-padding-left {
  padding-left: 0.3236em;
}
.text-margin {
  margin: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-margin-top {
  margin-top: 0.18em;
}
.text-margin-right {
  margin-right: 0.3236em;
}
.text-margin-bottom {
  margin-bottom: 0.22em;
}
.text-margin-left {
  margin-left: 0.3236em;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.initial {
  display: initial;
}
.table {
  display: table;
}
.flex,
.vertical-center,
.center-vertical {
  display: flex;
}
.inline-block {
  display: inline-block;
}
.static {
  position: static;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.margin-auto,
.container {
  margin-left: auto;
  margin-right: auto;
}
.width-auto {
  width: auto;
}
.inset {
  box-shadow: inset 1.41px 1.41px 1.41px rgba(40, 1, 12, 0.16);
}
.viewport-height {
  height: 100vh;
}
.min-viewport-height {
  min-height: 100vh;
}
.overflow-hidden {
  overflow: hidden;
}
.dashed {
  border-style: dashed;
}
.dotted {
  border-style: dotted;
}
.thick {
  border-width: 2px;
}
.thin {
  border-width: 0.5px;
}
.current-color {
  border-color: currentColor;
}
.fade {
  opacity: 0.65;
}
.serif,
.font-family-serif {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "Droid Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
.monospace,
.font-family-monospace,
pre,
code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
}
.sans-serif,
.font-family-sans-serif {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.text-transparent {
  color: transparent;
}
.reset {
  all: initial;
}
.big {
  font-size: 125%;
  line-height: 2.25;
}
.big.font-size {
  font-size: 20px;
}
.small,
.badge {
  font-size: 87.5%;
  line-height: 1.575;
}
.small.font-size {
  font-size: 14px;
}
.huge {
  font-size: 160%;
}
.huge.font-size {
  font-size: 25.6px;
}
.text-trim {
  line-height: 1;
}
.text-align-center,
.text-center {
  text-align: center;
}
.text-align-left,
.text-left {
  text-align: left;
}
.text-align-right,
.text-right {
  text-align: right;
}
.text-align-justify,
.text-justify {
  text-align: justify;
}
.grid-gap-margin {
  grid-gap: 1.62rem;
}
.grid-gap-border-width {
  grid-gap: 1px;
}
.grid-gap-text-padding,
.grid-gap-text-margin {
  grid-gap: 0.3236em;
}
.shade,
.white,
.orange,
.yellow,
.olive,
.light.green,
.teal,
.cyan,
.skyblue,
.violet,
.light.gray,
.lavender,
.cream,
.clover,
.light.cobalt,
.pewter,
.light.hotpink,
.neongreen,
.electricblue,
.lemon,
.lime,
.tangerine,
.default,
.warm,
.light.neutral,
.accent,
.second.accent,
.second.split,
.third.triad,
.tetrad,
.fourth.tetrad,
.highlight,
body,
input,
textarea,
.info,
.warning,
.light.success {
  color: #01281d;
}
.tint,
.black,
.red,
.dark.olive,
.green,
.dark.teal,
.blue,
.indigo,
.purple,
.dark.violet,
.gray,
.brown,
.magenta,
.charcoal,
.crimson,
.dark.clover,
.cobalt,
.graphite,
.ruby,
.onyx,
.gunmetal,
.hotpink,
.royalpurple,
.grapefruit,
.reaction,
.dark.default,
.dark.warm,
.cool,
.neutral,
.complement,
.split,
.triad,
.second.tetrad,
.third.tetrad,
.success,
.failure,
.second.triad {
  color: #f0fffb;
}
.transparent {
  background-color: transparent;
  color: inherit;
  border-color: inherit;
}
.transparent.light {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23FFF%22%20fill-opacity%3D%220.16%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.transparent.dark,
.modal {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23000%22%20fill-opacity%3D%220.25%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.trim,
.trim-inner *,
.trim-all,
.trim-all * {
  margin-bottom: 0;
}
.hidden {
  display: none !important;
}
.clearfix,
.clear {
  clear: both;
}
.clearfix::after,
.clear::after {
  display: block;
  clear: both;
  content: "";
}
.golden-width {
  max-width: calc(62% - 3.24rem);
}
.golden-width.reverse {
  max-width: 38%;
}
.aside-width {
  max-width: 20rem;
}
@media screen and (min-width: 36.24rem) {
  .text-width {
    max-width: 33rem;
  }
}
.page-width,
.container {
  max-width: 53rem;
}
.full-width,
.aside-width .aside-width,
.text-width .text-width,
.page-width .page-width {
  display: block;
  width: 100%;
}
.inner-aside-width {
  padding-left: calc(50% - 10rem);
  padding-right: calc(50% - 10rem);
}
.inner-aside-width.padding {
  padding-left: calc(50% - 8.38rem);
  padding-right: calc(50% - 8.38rem);
}
.inner-aside-width.responsive.padding {
  padding-left: calc(50% - 9.38rem);
  padding-right: calc(50% - 9.38rem);
}
@media screen and (max-width: calc(36.24rem - 1px)) {
  .inner-text-width {
    padding-left: initial;
    padding-right: initial;
  }
  .inner-text-width.padding {
    padding-left: 1.62rem;
    padding-right: 1.62rem;
  }
  .inner-text-width.responsive.padding {
    padding-left: 0.619rem;
    padding-right: 0.619rem;
  }
}
@media screen and (min-width: 36.24rem) {
  .inner-aside-width.tablet.padding {
    padding-left: calc(50% - 8.38rem);
    padding-right: calc(50% - 8.38rem);
  }
  .inner-aside-width.tablet.responsive.padding {
    padding-left: calc(50% - 9rem);
    padding-right: calc(50% - 9rem);
  }
  .inner-text-width {
    padding-left: calc(50% - 16.5rem);
    padding-right: calc(50% - 16.5rem);
  }
  .inner-text-width.padding {
    padding-left: calc(50% - 14.88rem);
    padding-right: calc(50% - 14.88rem);
  }
  .inner-text-width.responsive.padding {
    padding-left: calc(50% - 15.5rem);
    padding-right: calc(50% - 15.5rem);
  }
}
@media screen and (min-width: 53rem) {
  .inner-aside-width.desktop.padding {
    padding-left: calc(50% - 8.38rem);
    padding-right: calc(50% - 8.38rem);
  }
  .inner-aside-width.desktop.responsive.padding {
    padding-left: calc(50% - 8.38rem);
    padding-right: calc(50% - 8.38rem);
  }
  .inner-text-width.desktop.padding {
    padding-left: calc(50% - 14.88rem);
    padding-right: calc(50% - 14.88rem);
  }
  .inner-text-width.desktop.responsive.padding {
    padding-left: calc(50% - 14.88rem);
    padding-right: calc(50% - 14.88rem);
  }
  .inner-page-width {
    padding-left: calc(50% - 26.5rem);
    padding-right: calc(50% - 26.5rem);
  }
  .inner-page-width.padding {
    padding-left: calc(50% - 24.88rem);
    padding-right: calc(50% - 24.88rem);
  }
  .inner-page-width.responsive.padding {
    padding-left: calc(50% - 24.88rem);
    padding-right: calc(50% - 24.88rem);
  }
}
.texture,
.pattern {
  background-position: top center;
}
.texture {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20viewBox%3D'0%200%203.175%201.588'%20height%3D'16'%20width%3D'32'%3E%3Cg%20fill%3D'%2301281d'%20fill-opacity%3D'0.05'%3E%3Cpath%20d%3D'M1.317%201.194h-.92l.23-.399.23-.398.23.398zM2.312%201.194l-.23-.399-.23-.398h.92l-.23.398z'/%3E%3C/g%3E%3C/svg%3E");
}
.pattern {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20viewBox%3D'0%200%203.175%203.175'%20height%3D'12'%20width%3D'12'%3E%3Cpath%20opacity%3D'0.05'%20fill%3D'%2301281d'%20d%3D'M0%200h1.587v1.587H0z'/%3E%3C/svg%3E");
}
.placeholder::before {
  content: " ";
  white-space: pre;
}
.placeholder::after {
  content: "";
}
.placeholder.image,
.placeholder.video,
.placeholder.avatar {
  position: relative;
}
.placeholder.image::before,
.placeholder.video::before,
.placeholder.avatar::before {
  position: absolute;
  top: calc(50% - 4rem);
  right: 0;
  bottom: 0;
  left: 0;
  display: inline-block;
  text-align: center;
  font-size: 4rem;
  vertical-align: middle;
}
.placeholder.image.small::before,
.placeholder.video.small::before,
.placeholder.avatar.small::before {
  top: calc(50% - 2rem);
  font-size: 2rem;
}
.placeholder.image.big::before,
.placeholder.video.big::before,
.placeholder.avatar.big::before {
  top: calc(50% - 6rem);
  font-size: 6rem;
}
.placeholder.image.huge::before,
.placeholder.video.huge::before,
.placeholder.avatar.huge::before {
  top: calc(50% - 8rem);
  font-size: 8rem;
}
.placeholder.image::after,
.placeholder.video::after,
.placeholder.avatar::after {
  display: block;
}
.placeholder.image::before {
  content: "\1f5bc";
}
.placeholder.image::after {
  padding-top: 75%;
}
.placeholder.video::before {
  content: "\25B6";
}
.placeholder.video::after {
  padding-top: 56.25%;
}
.placeholder.avatar::before {
  content: "\263A";
}
.placeholder.avatar::after {
  padding-top: 100%;
}
.placeholder.no-icon::before {
  content: "";
}
.hide {
  display: none;
}
.hide.tablet {
  display: initial;
}
.hide.desktop {
  display: initial;
}
@media screen and (max-width: calc(36.24rem - 1px)) {
  .hide.mobile {
    display: none;
  }
}
@media screen and (min-width: 36.24rem) {
  .hide.mobile {
    display: initial;
  }
  .hide.tablet {
    display: none;
  }
}
@media screen and (min-width: 53rem) {
  .hide.desktop {
    display: none;
  }
  .hide.mobile.tablet {
    display: initial;
  }
}
@media screen and (max-width: calc(53rem - 1px)) {
  .hide.mobile.tablet {
    display: none;
  }
}
body {
  font-size: 16px;
  line-height: 1.8;
  margin: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
nav {
  z-index: 99;
}
nav a {
  text-decoration: none;
}
aside {
  margin: 0 auto;
  margin-bottom: 1.62rem;
  max-width: 20rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-top: 0.49443758em;
  margin-bottom: 0.74165637em;
  letter-spacing: -0.025em;
  color: inherit;
  line-height: 1.618;
}
h1 {
  font-size: 2.4em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1em;
}
p {
  margin-bottom: 1em;
}
p.gutter-bottom {
  margin-bottom: 1.618em;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: inherit;
  text-decoration: underline;
}
a.target-blank::after,
a.new-tab::after,
a.external-link::after {
  content: "\00A0\1F855";
}
form {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input {
  font-size: 16px;
  line-height: 1.8;
  border: 1px solid #27ad78;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input:focus {
  box-shadow: 0 0 2px #66d0e9;
}
fieldset {
  border: none;
  outline: none;
}
ol {
  padding-left: 4ch;
  margin-bottom: 1.62rem;
}
ol li {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
ul {
  margin-left: 1.62rem;
  margin-bottom: 1.62rem;
}
li {
  margin-bottom: 0.44em;
}
kbd {
  color: #f0fffb;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  white-space: nowrap;
}
b {
  padding: 0.18em 0 0.22em 0;
}
pre {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  overflow: hidden;
  border-radius: 0.5em;
  background: #37423b;
  color: #f0fffb;
}
pre.white-space,
pre.word-break {
  white-space: pre-wrap;
}
pre > code {
  background: transparent;
  padding: 0;
}
code {
  color: #f0fffb;
  background-color: #274362;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
code.terminal::before {
  content: "$ ";
}
textarea {
  font-size: 16px;
  line-height: 1.8;
  border: 1px solid #27ad78;
  border-radius: 0.5em;
  margin-bottom: 1.62rem;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
textarea:focus {
  box-shadow: 0 0 2px #66d0e9;
}
.white,
body,
input,
textarea {
  background-color: #f0fffb;
  border-color: #788c86;
}
.black {
  background-color: #01281d;
  border-color: #01140f;
}
.ambient {
  color: #01281d;
  background: #09fab6;
  border-color: #058964;
}
.ambient.light {
  color: #01281d;
  background: #31fbc2;
  border-color: #198a6a;
}
.ambient.dark {
  color: #01281d;
  background: #04d79b;
  border-color: #027756;
}
.red,
.failure {
  background-color: #d42813;
  border-color: #76160a;
}
.light.red,
.light.failure {
  background-color: #ec3b24;
  border-color: #811f13;
}
.dark.red,
.dark.failure {
  background-color: #af210f;
  border-color: #631309;
}
.orange,
.warning {
  background-color: #d8b212;
  border-color: #78630a;
}
.light.orange,
.light.warning {
  background-color: #edc725;
  border-color: #826d13;
}
.dark.orange,
.dark.warning {
  background-color: #b2930f;
  border-color: #655308;
}
.yellow {
  background-color: #d7fd12;
  border-color: #768b09;
}
.light.yellow {
  background-color: #defd3a;
  border-color: #798b1d;
}
.dark.yellow {
  background-color: #bfe402;
  border-color: #6a7e01;
}
.olive {
  background-color: #88ae13;
  border-color: #4d630a;
}
.light.olive {
  background-color: #a4d317;
  border-color: #5b750c;
}
.dark.olive {
  background-color: #6b890f;
  border-color: #3e5008;
}
.green,
.success {
  background-color: #01a812;
  border-color: #01600b;
}
.light.green,
.light.success {
  background-color: #01d017;
  border-color: #01740d;
}
.dark.green,
.dark.success {
  background-color: #017f0e;
  border-color: #004c08;
}
.teal {
  background-color: #01aea6;
  border-color: #01635f;
}
.light.teal {
  background-color: #01d7cd;
  border-color: #017872;
}
.dark.teal {
  background-color: #01867f;
  border-color: #014f4b;
}
.cyan {
  background-color: #01fdfd;
  border-color: #008b8b;
}
.light.cyan {
  background-color: #28fffe;
  border-color: #148c8b;
}
.dark.cyan {
  background-color: #00d4d4;
  border-color: #007676;
}
.skyblue,
.info {
  background-color: #66d0e9;
  border-color: #347180;
}
.light.skyblue,
.light.info {
  background-color: #8adbee;
  border-color: #467782;
}
.dark.skyblue,
.dark.info {
  background-color: #42c5e4;
  border-color: #226c7d;
}
.blue {
  background-color: #0128fc;
  border-color: #00168b;
}
.light.blue {
  background-color: #2749ff;
  border-color: #14268c;
}
.dark.blue {
  background-color: #0021d4;
  border-color: #001376;
}
.indigo {
  background-color: #4c28a0;
  border-color: #2a165b;
}
.light.indigo {
  background-color: #5b30c1;
  border-color: #321a6b;
}
.dark.indigo {
  background-color: #3c2080;
  border-color: #23124a;
}
.purple {
  background-color: #9529b5;
  border-color: #531665;
}
.light.purple {
  background-color: #ae35d1;
  border-color: #601d73;
}
.dark.purple {
  background-color: #7a2293;
  border-color: #451354;
}
.violet {
  background-color: #c889ec;
  border-color: #6b4681;
}
.light.violet {
  background-color: #d8acf2;
  border-color: #745784;
}
.dark.violet {
  background-color: #b765e6;
  border-color: #63347e;
}
.gray {
  background-color: #6f9084;
  border-color: #3c5049;
}
.light.gray {
  background-color: #86a198;
  border-color: #475953;
}
.dark.gray {
  background-color: #5d796f;
  border-color: #33453e;
}
.brown {
  background-color: #9a6034;
  border-color: #57361c;
}
.light.brown {
  background-color: #b8733e;
  border-color: #663f21;
}
.dark.brown {
  background-color: #7b4d29;
  border-color: #482c17;
}
.magenta {
  background-color: #bf3ef8;
  border-color: #681f88;
}
.light.magenta {
  background-color: #cc65f9;
  border-color: #6e3389;
}
.dark.magenta {
  background-color: #b216f6;
  border-color: #610c87;
}
.lavender {
  background-color: #bdbee7;
  border-color: #61617e;
}
.light.lavender {
  background-color: #dbdbf2;
  border-color: #707083;
}
.dark.lavender {
  background-color: #9fa0dd;
  border-color: #525378;
}
.cream {
  background-color: #e5f7cd;
  border-color: #798668;
}
.light.cream {
  background-color: #f7fcf0;
  border-color: #828979;
}
.dark.cream {
  background-color: #d2f1aa;
  border-color: #708356;
}
.charcoal {
  background-color: #4a583d;
  border-color: #2b3522;
}
.light.charcoal {
  background-color: #5e704e;
  border-color: #35412b;
}
.dark.charcoal {
  background-color: #35402c;
  border-color: #21291a;
}
.crimson {
  background-color: #ae1d27;
  border-color: #621016;
}
.light.crimson {
  background-color: #d1222f;
  border-color: #741319;
}
.dark.crimson {
  background-color: #8b171f;
  border-color: #510d12;
}
.clover {
  background-color: #39c427;
  border-color: #1f6d15;
}
.light.clover {
  background-color: #4dd83c;
  border-color: #297720;
}
.dark.clover {
  background-color: #2fa220;
  border-color: #1a5c12;
}
.cobalt {
  background-color: #2484db;
  border-color: #134978;
}
.light.cobalt {
  background-color: #4698e1;
  border-color: #25527b;
}
.dark.cobalt {
  background-color: #1e6fb8;
  border-color: #103e67;
}
.graphite {
  background-color: #274362;
  border-color: #16273b;
}
.light.graphite {
  background-color: #32577f;
  border-color: #1c3149;
}
.dark.graphite {
  background-color: #1b2f44;
  border-color: #101d2c;
}
.ruby {
  background-color: #98134d;
  border-color: #570b2c;
}
.light.ruby {
  background-color: #bc185f;
  border-color: #690d35;
}
.dark.ruby {
  background-color: #730f3b;
  border-color: #450923;
}
.onyx {
  background-color: #37423b;
  border-color: #202924;
}
.light.onyx {
  background-color: #49584f;
  border-color: #29342e;
}
.dark.onyx {
  background-color: #242b27;
  border-color: #161e1a;
}
.pewter {
  background-color: #a0b28f;
  border-color: #56624b;
}
.light.pewter {
  background-color: #b4c3a7;
  border-color: #606a57;
}
.dark.pewter {
  background-color: #8ba277;
  border-color: #4c593f;
}
.gunmetal {
  background-color: #3a777e;
  border-color: #204448;
}
.light.gunmetal {
  background-color: #47929a;
  border-color: #265256;
}
.dark.gunmetal {
  background-color: #2d5d62;
  border-color: #1a373a;
}
.hotpink {
  background-color: #e960aa;
  border-color: #80315c;
}
.light.hotpink {
  background-color: #ee84bd;
  border-color: #824365;
}
.dark.hotpink {
  background-color: #e43c97;
  border-color: #7d1f52;
}
.neongreen {
  background-color: #32fb18;
  border-color: #1a8a0c;
}
.light.neongreen {
  background-color: #55fc41;
  border-color: #2c8a21;
}
.dark.neongreen {
  background-color: #1de704;
  border-color: #108002;
}
.electricblue {
  background-color: #2dc8f0;
  border-color: #176d84;
}
.light.electricblue {
  background-color: #54d2f3;
  border-color: #2a7285;
}
.dark.electricblue {
  background-color: #10b9e5;
  border-color: #09667e;
}
.royalpurple {
  background-color: #6442a7;
  border-color: #37245d;
}
.light.royalpurple {
  background-color: #7855bc;
  border-color: #412d68;
}
.dark.royalpurple {
  background-color: #52368a;
  border-color: #2e1e4f;
}
.lemon {
  background-color: #ecfc92;
  border-color: #808a49;
}
.light.lemon {
  background-color: #f3fdba;
  border-color: #848b5d;
}
.dark.lemon {
  background-color: #e5fb6a;
  border-color: #7d8a36;
}
.lime {
  background-color: #7cf38e;
  border-color: #3f854a;
}
.light.lime {
  background-color: #a1f6ae;
  border-color: #52875a;
}
.dark.lime {
  background-color: #57ef6e;
  border-color: #2c833a;
}
.tangerine {
  background-color: #eab054;
  border-color: #815f2b;
}
.light.tangerine {
  background-color: #efc179;
  border-color: #83683e;
}
.dark.tangerine {
  background-color: #e69f30;
  border-color: #7e5719;
}
.grapefruit {
  background-color: #ba4f56;
  border-color: #672a2e;
}
.light.grapefruit {
  background-color: #c66d72;
  border-color: #6d393c;
}
.dark.grapefruit {
  background-color: #a13f45;
  border-color: #5a2226;
}
.action,
.base-color {
  color: #01281d;
  background: #12d579;
  border-color: #0a7643;
}
.action.light,
.base-color.light {
  color: #01281d;
  background: #23ec8e;
  border-color: #13824d;
}
.action.dark,
.base-color.dark {
  color: #01281d;
  background: #0faf64;
  border-color: #086338;
}
.reaction {
  background-color: #bd377c;
  border-color: #691e44;
}
.light.reaction {
  background-color: #cc5190;
  border-color: #702b4f;
}
.dark.reaction {
  background-color: #9d2e67;
  border-color: #59193a;
}
.default {
  background-color: #27ad78;
  border-color: #156143;
}
.light.default {
  background-color: #2fce8f;
  border-color: #19724f;
}
.dark.default {
  background-color: #208c61;
  border-color: #125038;
}
.warm {
  background-color: #8996ed;
  border-color: #464e82;
}
.light.warm {
  background-color: #acb5f3;
  border-color: #575d85;
}
.dark.warm {
  background-color: #6576e8;
  border-color: #343e7f;
}
.cool {
  background-color: #4a77c9;
  border-color: #27406e;
}
.light.cool {
  background-color: #698ed2;
  border-color: #374c73;
}
.dark.cool {
  background-color: #3662b4;
  border-color: #1d3664;
}
.neutral {
  background-color: #7d76d2;
  border-color: #413e73;
}
.light.neutral {
  background-color: #9a95dd;
  border-color: #504d78;
}
.dark.neutral {
  background-color: #5f57c8;
  border-color: #332e6e;
}
.complement,
.second.triad {
  background-color: #bb377b;
  border-color: #681e44;
}
.light.complement,
.light.second.triad {
  background-color: #cb4f8f;
  border-color: #702a4e;
}
.dark.complement,
.dark.second.triad {
  background-color: #9b2e66;
  border-color: #581939;
}
.accent {
  background-color: #3cf0f3;
  border-color: #1f8486;
}
.light.accent {
  background-color: #63f3f6;
  border-color: #328587;
}
.dark.accent {
  background-color: #16eef1;
  border-color: #0c8284;
}
.second.accent {
  background-color: #3cf558;
  border-color: #1f862e;
}
.light.second.accent {
  background-color: #63f779;
  border-color: #32873f;
}
.dark.second.accent {
  background-color: #16f237;
  border-color: #0b851e;
}
.split {
  background-color: #1437dc;
  border-color: #0b1e7a;
}
.light.split {
  background-color: #2e4eec;
  border-color: #182a81;
}
.dark.split {
  background-color: #112eb7;
  border-color: #091a67;
}
.second.split {
  background-color: #b4df23;
  border-color: #637b13;
}
.light.second.split {
  background-color: #c0e446;
  border-color: #697d24;
}
.dark.second.split {
  background-color: #99be1b;
  border-color: #556a0f;
}
.triad {
  background-color: #1086dc;
  border-color: #094a7a;
}
.light.triad {
  background-color: #259bef;
  border-color: #135483;
}
.dark.triad {
  background-color: #0d6fb6;
  border-color: #073f67;
}
.third.triad {
  background-color: #60df23;
  border-color: #347b13;
}
.light.third.triad {
  background-color: #79e446;
  border-color: #417d24;
}
.dark.third.triad {
  background-color: #50be1b;
  border-color: #2c6a0f;
}
.tetrad {
  background-color: #10b0dc;
  border-color: #09627a;
}
.light.tetrad {
  background-color: #25c4ef;
  border-color: #136c83;
}
.dark.tetrad {
  background-color: #0d92b6;
  border-color: #075267;
}
.second.tetrad {
  background-color: #9437dc;
  border-color: #511d79;
}
.light.second.tetrad {
  background-color: #a65ae2;
  border-color: #5a2e7c;
}
.dark.second.tetrad {
  background-color: #7f23c7;
  border-color: #46136f;
}
.third.tetrad {
  background-color: #b96623;
  border-color: #673913;
}
.light.third.tetrad {
  background-color: #d8792d;
  border-color: #774218;
}
.dark.third.tetrad {
  background-color: #97531c;
  border-color: #562f10;
}
.fourth.tetrad {
  background-color: #35df23;
  border-color: #1d7b13;
}
.light.fourth.tetrad {
  background-color: #56e446;
  border-color: #2d7d24;
}
.dark.fourth.tetrad {
  background-color: #2bbe1b;
  border-color: #186a0f;
}
.highlight {
  background-color: #04eeea;
  border-color: #028381;
}
.light.highlight {
  background-color: #1efcf8;
  border-color: #0f8a88;
}
.dark.highlight {
  background-color: #03c5c2;
  border-color: #026f6d;
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-margin-right {
  margin-right: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.no-margin-left {
  margin-left: 0 !important;
}
.no-padding {
  padding: 0;
}
.no-margin,
.no-gutter {
  margin: 0;
}
.no-side-margin,
.no-side-margins {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.no-margins {
  margin: 0 !important;
}
.no-margins * {
  margin: 0 !important;
}
.no-box-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  box-shadow: unset;
}
.no-text-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  text-shadow: unset;
}
.no-border,
.no-borders,
.no-borders * {
  border-width: 0 !important;
}
.no-background {
  background: transparent;
}
.no-text-indent {
  text-indent: 0;
}
.no-text-align {
  text-align: initial;
}
.no-user-select {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.no-pointer-events {
  pointer-events: none;
}
.no-list-style {
  list-style-type: none;
  margin-left: 0;
}
.no-grid-gap,
.no-column-gap {
  grid-gap: 0;
  column-gap: 0;
}
@media print {
  html {
    font-size: 62.5%;
  }
  * {
    box-shadow: unset !important;
    border: unset !important;
  }
  nav {
    display: none !important;
  }
  .page-width,
  .text-width,
  .container {
    all: unset;
  }
  .inner-page-width,
  .inner-text-width,
  .inner-aside-width {
    all: unset;
  }
}
