/* This project uses Cavepaint (MIT License) by Rex Riepe */
/* https://github.com/cavepaint/cavepaintCSS */
* {
  margin: 0 0 1.62rem 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  margin-bottom: 0;
}
.button,
button {
  border-style: solid;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(21, 13, 3, 0.16);
  display: inline;
  position: relative;
  font-family: inherit;
  font-size: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  color: inherit;
  background-color: inherit;
  border-color: #29323d;
  border-width: 1px;
  line-height: 1.6;
  text-align: center;
  vertical-align: middle;
  outline: none;
  white-space: nowrap;
  text-decoration: none;
  touch-action: manipulation;
  cursor: pointer;
  transform: scale(1);
  transition: 0.08s linear;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.button:active,
button:active {
  transform: scale(0.99);
  box-shadow: unset;
}
.bar {
  position: relative;
  width: 100%;
  display: block;
  vertical-align: middle;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.bar > * {
  display: inline;
  margin-right: 0.3236em;
  margin-left: 0.3236em;
  margin-bottom: 0;
}
.card {
  position: relative;
  overflow: hidden;
  padding: 1.62rem;
  border: 1px solid #4a596d;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(21, 13, 3, 0.16);
}
.card > *:first-child {
  margin-top: 0;
}
.card > *:last-child {
  margin-bottom: 0;
}
.badge {
  border-radius: 0.5em;
  line-height: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  padding-right: 0.6472em;
  padding-left: 0.6472em;
  vertical-align: middle;
  border-radius: 99px;
  white-space: nowrap;
}
.modal {
  display: none;
  max-width: none;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  position: fixed;
  bottom: 0;
  justify-content: center;
  flex: 0 1 auto;
  flex-direction: column;
  height: 100vh;
}
.modal > * {
  flex-direction: column;
  color: #030c15;
  position: relative;
  background: #f1f4f8;
  padding: 1.62rem;
  margin-bottom: 3.24rem;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(21, 13, 3, 0.16);
  margin: 1.62rem;
}
@media screen and (min-width: 41.24rem) {
  .modal > * {
    max-width: 61rem;
    margin: 0 auto;
  }
}
.overlay {
  margin: 0;
  padding: 0;
  position: relative;
}
.overlay .top,
.overlay .bottom,
.overlay .left,
.overlay .right {
  position: absolute;
}
.overlay .top {
  top: 0.3236em;
}
.overlay .bottom {
  bottom: 0.3236em;
}
.overlay .left {
  left: 0.3236em;
}
.overlay .right {
  right: 0.3236em;
}
.overlay.stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.overlay * {
  margin: 0;
  display: block;
}
.grid,
.two-column,
.three-column {
  display: grid;
  grid-gap: 1.62rem;
}
.grid.tablet,
.two-column.tablet,
.three-column.tablet,
.grid.mobile.tablet,
.two-column.mobile.tablet,
.three-column.mobile.tablet,
.grid.desktop,
.two-column.desktop,
.three-column.desktop {
  display: initial;
}
.grid {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.two-column {
  grid-template-columns: 1fr 1fr;
}
.two-column.golden {
  grid-template-columns: 1.618fr 1fr;
}
.two-column.golden.reverse {
  grid-template-columns: 1fr 1.618fr;
}
.three-column {
  grid-template-columns: 1fr 1fr 1fr;
}
.three-column.golden {
  grid-template-columns: 1fr 1.618fr 1fr;
}
.three-column.golden.leading {
  grid-template-columns: 1.618fr 1fr 1fr;
}
.three-column.golden.trailing {
  grid-template-columns: 1fr 1fr 1.618fr;
}
.grid-width-one {
  grid-column: auto / span 1;
}
.grid-width-two {
  grid-column: auto / span 2;
}
.grid-width-three {
  grid-column: auto / span 3;
}
.grid-width-four {
  grid-column: auto / span 4;
}
.grid-width-five {
  grid-column: auto / span 5;
}
.grid-width-six {
  grid-column: auto / span 6;
}
.grid-width-seven {
  grid-column: auto / span 7;
}
.grid-width-eight {
  grid-column: auto / span 8;
}
.grid-width-nine {
  grid-column: auto / span 9;
}
.grid-width-ten {
  grid-column: auto / span 10;
}
.grid-width-eleven {
  grid-column: auto / span 11;
}
.grid-width-twelve {
  grid-column: auto / span 12;
}
@media screen and (max-width: calc(41.24rem - 1px)) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: grid;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 41.24rem) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: initial;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: initial;
  }
  .grid.tablet,
  .two-column.tablet,
  .three-column.tablet {
    display: grid;
  }
  .grid.tablet > *,
  .two-column.tablet > *,
  .three-column.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (max-width: calc(61rem - 1px)) {
  .grid.mobile.tablet,
  .two-column.mobile.tablet,
  .three-column.mobile.tablet {
    display: grid;
  }
  .grid.mobile.tablet > *,
  .two-column.mobile.tablet > *,
  .three-column.mobile.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 61rem) {
  .grid.desktop,
  .two-column.desktop,
  .three-column.desktop {
    display: grid;
  }
  .grid.desktop > *,
  .two-column.desktop > *,
  .three-column.desktop > * {
    margin-bottom: 0;
  }
}
.responsive {
  column-gap: 0.619rem;
  grid-gap: 0.619rem;
}
.responsive.padding,
.modal,
.container {
  padding: 0.619rem;
}
.responsive.margin,
.container {
  margin: 0.619rem;
}
.responsive.gutter {
  margin: 1.238rem;
}
@media screen and (min-width: 41.24rem) {
  .responsive {
    column-gap: 1.001rem;
    grid-gap: 1.001rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.001rem;
  }
  .responsive.margin,
  .container {
    margin: 1.001rem;
  }
  .responsive.gutter {
    margin: 2.002rem;
  }
}
@media screen and (min-width: 61rem) {
  .responsive {
    column-gap: 1.62rem;
    grid-gap: 1.62rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.62rem;
  }
  .responsive.margin,
  .container {
    margin: 1.62rem;
  }
  .responsive.gutter {
    margin: 3.24rem;
  }
}
.background {
  background: #f1f4f8;
}
.background-color {
  background-color: #f1f4f8;
}
.border {
  border: 1px solid #4a596d;
}
.border-radius,
.rounded {
  border-radius: 0.5em;
}
.border-bottom {
  border-bottom: 1px solid #4a596d;
}
.border-left {
  border-left: 1px solid #4a596d;
}
.border-right {
  border-right: 1px solid #4a596d;
}
.border-style,
.button.border,
button.border {
  border-style: solid;
}
.border-top {
  border-top: 1px solid #4a596d;
}
.border-width,
.button.border,
button.border {
  border-width: 1px;
}
.max-width {
  max-width: 61rem;
}
.min-width {
  min-width: 23rem;
}
.align-content {
  align-content: stretch;
}
.align-items {
  align-items: stretch;
}
.align-self {
  align-self: auto;
}
.flex,
.vertical-center,
.center-vertical {
  flex: 0 1 auto;
}
.flex-basis {
  flex-basis: auto;
}
.flex-direction,
.vertical-center,
.center-vertical {
  flex-direction: column;
}
.flex-flow {
  flex-flow: column nowrap;
}
.flex-grow {
  flex-grow: 0;
}
.flex-shrink {
  flex-shrink: 1;
}
.flex-wrap {
  flex-wrap: nowrap;
}
.justify-content,
.vertical-center,
.center-vertical {
  justify-content: center;
}
.font-family,
body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "Droid Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
.font-size {
  font-size: 24px;
}
.font-weight {
  font-weight: normal;
}
.list-style {
  list-style: disc inside none;
}
.list-style-type {
  list-style-type: disc;
}
.margin {
  margin: 1.62rem;
}
.margin-bottom {
  margin-bottom: 1.62rem;
}
.margin-left {
  margin-left: 1.62rem;
}
.margin-right {
  margin-right: 1.62rem;
}
.margin-top {
  margin-top: 1.62rem;
}
.column-gap {
  column-gap: 1.94em;
}
.column-rule {
  column-rule: 1px solid #4a596d;
}
.padding {
  padding: 1.62rem;
}
.padding-bottom {
  padding-bottom: 1.62rem;
}
.padding-left {
  padding-left: 1.62rem;
}
.padding-right {
  padding-right: 1.62rem;
}
.padding-top {
  padding-top: 1.62rem;
}
.text-align {
  text-align: left;
}
.text-align-last {
  text-align-last: left;
}
.text-indent {
  text-indent: 2ch;
}
.text-justify {
  text-justify: justify;
}
.text-overflow {
  text-overflow: hidden;
}
.text-shadow {
  text-shadow: 1.41px 1.41px 1.41px rgba(21, 13, 3, 0.16);
}
.line-height {
  line-height: 1.8;
}
.vertical-align {
  vertical-align: middle;
}
.letter-spacing {
  letter-spacing: 0;
}
.word-spacing {
  word-spacing: normal;
}
.white-space {
  white-space: nowrap;
}
.word-break {
  word-break: break-all;
}
.word-wrap {
  word-wrap: break-word;
}
.transform {
  transform: none;
}
.transition {
  transition: all 0s ease 0s;
}
.display {
  display: block;
}
.position {
  position: absolute;
}
.top {
  top: 0;
}
.right {
  right: 0;
}
.bottom {
  bottom: 0;
}
.left {
  left: 0;
}
.float {
  float: left;
}
.clear {
  clear: both;
}
.z-index {
  z-index: 10;
}
.overflow {
  overflow: hidden;
}
.overflow-x {
  overflow-x: hidden;
}
.cursor {
  cursor: pointer;
}
.box-shadow {
  box-shadow: 1.41px 1.41px 1.41px rgba(21, 13, 3, 0.16);
}
.gutter {
  margin: 3.24rem;
}
.gutter-top {
  margin-top: 3.24rem;
}
.gutter-right {
  margin-right: 3.24rem;
}
.gutter-bottom {
  margin-bottom: 3.24rem;
}
.gutter-left {
  margin-left: 3.24rem;
}
.text-padding {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-padding-top {
  padding-top: 0.18em;
}
.text-padding-right {
  padding-right: 0.3236em;
}
.text-padding-bottom {
  padding-bottom: 0.22em;
}
.text-padding-left {
  padding-left: 0.3236em;
}
.text-margin {
  margin: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-margin-top {
  margin-top: 0.18em;
}
.text-margin-right {
  margin-right: 0.3236em;
}
.text-margin-bottom {
  margin-bottom: 0.22em;
}
.text-margin-left {
  margin-left: 0.3236em;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.initial {
  display: initial;
}
.table {
  display: table;
}
.flex,
.vertical-center,
.center-vertical {
  display: flex;
}
.inline-block {
  display: inline-block;
}
.static {
  position: static;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.margin-auto,
.container {
  margin-left: auto;
  margin-right: auto;
}
.width-auto {
  width: auto;
}
.inset {
  box-shadow: inset 1.41px 1.41px 1.41px rgba(21, 13, 3, 0.16);
}
.viewport-height {
  height: 100vh;
}
.min-viewport-height {
  min-height: 100vh;
}
.overflow-hidden {
  overflow: hidden;
}
.dashed {
  border-style: dashed;
}
.dotted {
  border-style: dotted;
}
.thick {
  border-width: 2px;
}
.thin {
  border-width: 0.5px;
}
.current-color {
  border-color: currentColor;
}
.fade {
  opacity: 0.65;
}
.serif,
.font-family-serif {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "Droid Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
.monospace,
.font-family-monospace,
pre,
code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
}
.sans-serif,
.font-family-sans-serif {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.text-transparent {
  color: transparent;
}
.reset {
  all: initial;
}
.big {
  font-size: 125%;
  line-height: 2.25;
}
.big.font-size {
  font-size: 30px;
}
.small,
.badge {
  font-size: 87.5%;
  line-height: 1.575;
}
.small.font-size {
  font-size: 21px;
}
.huge {
  font-size: 160%;
}
.huge.font-size {
  font-size: 38.4px;
}
.text-trim {
  line-height: 1;
}
.text-align-center,
.text-center {
  text-align: center;
}
.text-align-left,
.text-left {
  text-align: left;
}
.text-align-right,
.text-right {
  text-align: right;
}
.text-align-justify,
.text-justify {
  text-align: justify;
}
.grid-gap-margin {
  grid-gap: 1.62rem;
}
.grid-gap-border-width {
  grid-gap: 1px;
}
.grid-gap-text-padding,
.grid-gap-text-margin {
  grid-gap: 0.3236em;
}
.shade,
.white,
.orange,
.yellow,
.cyan,
.skyblue,
.light.violet,
.lavender,
.cream,
.light.clover,
.light.pewter,
.light.hotpink,
.neongreen,
.electricblue,
.lemon,
.lime,
.tangerine,
body,
input,
textarea,
.info,
.warning {
  color: #030c15;
}
.tint,
.black,
.red,
.dark.orange,
.olive,
.green,
.teal,
.blue,
.indigo,
.purple,
.violet,
.gray,
.brown,
.magenta,
.charcoal,
.crimson,
.clover,
.cobalt,
.graphite,
.ruby,
.onyx,
.pewter,
.gunmetal,
.hotpink,
.dark.electricblue,
.royalpurple,
.grapefruit,
.reaction,
.default,
.warm,
.cool,
.neutral,
.complement,
.accent,
.second.accent,
.split,
.second.split,
.triad,
.third.triad,
.tetrad,
.second.tetrad,
.third.tetrad,
.fourth.tetrad,
.highlight,
.dark.warning,
.success,
.failure,
.second.triad {
  color: #f1f4f8;
}
.transparent {
  background-color: transparent;
  color: inherit;
  border-color: inherit;
}
.transparent.light {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23FFF%22%20fill-opacity%3D%220.16%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.transparent.dark,
.modal {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23000%22%20fill-opacity%3D%220.25%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.trim,
.trim-inner *,
.trim-all,
.trim-all * {
  margin-bottom: 0;
}
.hidden {
  display: none !important;
}
.clearfix,
.clear {
  clear: both;
}
.clearfix::after,
.clear::after {
  display: block;
  clear: both;
  content: "";
}
.golden-width {
  max-width: calc(62% - 3.24rem);
}
.golden-width.reverse {
  max-width: 38%;
}
.aside-width {
  max-width: 23rem;
}
@media screen and (min-width: 41.24rem) {
  .text-width {
    max-width: 38rem;
  }
}
.page-width,
.container {
  max-width: 61rem;
}
.full-width,
.aside-width .aside-width,
.text-width .text-width,
.page-width .page-width {
  display: block;
  width: 100%;
}
.inner-aside-width {
  padding-left: calc(50% - 11.5rem);
  padding-right: calc(50% - 11.5rem);
}
.inner-aside-width.padding {
  padding-left: calc(50% - 9.88rem);
  padding-right: calc(50% - 9.88rem);
}
.inner-aside-width.responsive.padding {
  padding-left: calc(50% - 10.88rem);
  padding-right: calc(50% - 10.88rem);
}
@media screen and (max-width: calc(41.24rem - 1px)) {
  .inner-text-width {
    padding-left: initial;
    padding-right: initial;
  }
  .inner-text-width.padding {
    padding-left: 1.62rem;
    padding-right: 1.62rem;
  }
  .inner-text-width.responsive.padding {
    padding-left: 0.619rem;
    padding-right: 0.619rem;
  }
}
@media screen and (min-width: 41.24rem) {
  .inner-aside-width.tablet.padding {
    padding-left: calc(50% - 9.88rem);
    padding-right: calc(50% - 9.88rem);
  }
  .inner-aside-width.tablet.responsive.padding {
    padding-left: calc(50% - 10.5rem);
    padding-right: calc(50% - 10.5rem);
  }
  .inner-text-width {
    padding-left: calc(50% - 19rem);
    padding-right: calc(50% - 19rem);
  }
  .inner-text-width.padding {
    padding-left: calc(50% - 17.38rem);
    padding-right: calc(50% - 17.38rem);
  }
  .inner-text-width.responsive.padding {
    padding-left: calc(50% - 18rem);
    padding-right: calc(50% - 18rem);
  }
}
@media screen and (min-width: 61rem) {
  .inner-aside-width.desktop.padding {
    padding-left: calc(50% - 9.88rem);
    padding-right: calc(50% - 9.88rem);
  }
  .inner-aside-width.desktop.responsive.padding {
    padding-left: calc(50% - 9.88rem);
    padding-right: calc(50% - 9.88rem);
  }
  .inner-text-width.desktop.padding {
    padding-left: calc(50% - 17.38rem);
    padding-right: calc(50% - 17.38rem);
  }
  .inner-text-width.desktop.responsive.padding {
    padding-left: calc(50% - 17.38rem);
    padding-right: calc(50% - 17.38rem);
  }
  .inner-page-width {
    padding-left: calc(50% - 30.5rem);
    padding-right: calc(50% - 30.5rem);
  }
  .inner-page-width.padding {
    padding-left: calc(50% - 28.88rem);
    padding-right: calc(50% - 28.88rem);
  }
  .inner-page-width.responsive.padding {
    padding-left: calc(50% - 28.88rem);
    padding-right: calc(50% - 28.88rem);
  }
}
.texture,
.pattern {
  background-position: top center;
}
.texture {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20viewBox%3D'0%200%203.175%201.588'%20height%3D'24'%20width%3D'48'%3E%3Cg%20fill%3D'%23f1f4f8'%20fill-opacity%3D'0.05'%3E%3Cpath%20d%3D'M1.317%201.194h-.92l.23-.399.23-.398.23.398zM2.312%201.194l-.23-.399-.23-.398h.92l-.23.398z'/%3E%3C/g%3E%3C/svg%3E");
}
.pattern {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20width%3D'80'%20height%3D'50'%20viewBox%3D'0%200%2021.167%2013.229'%3E%3Cpath%20fill%3D'%23f1f4f8'%20opacity%3D'0.05'%20d%3D'M0%200h21.167v6.615H0z'/%3E%3C/svg%3E");
}
.placeholder::before {
  content: " ";
  white-space: pre;
}
.placeholder::after {
  content: "";
}
.placeholder.image,
.placeholder.video,
.placeholder.avatar {
  position: relative;
}
.placeholder.image::before,
.placeholder.video::before,
.placeholder.avatar::before {
  position: absolute;
  top: calc(50% - 4rem);
  right: 0;
  bottom: 0;
  left: 0;
  display: inline-block;
  text-align: center;
  font-size: 4rem;
  vertical-align: middle;
}
.placeholder.image.small::before,
.placeholder.video.small::before,
.placeholder.avatar.small::before {
  top: calc(50% - 2rem);
  font-size: 2rem;
}
.placeholder.image.big::before,
.placeholder.video.big::before,
.placeholder.avatar.big::before {
  top: calc(50% - 6rem);
  font-size: 6rem;
}
.placeholder.image.huge::before,
.placeholder.video.huge::before,
.placeholder.avatar.huge::before {
  top: calc(50% - 8rem);
  font-size: 8rem;
}
.placeholder.image::after,
.placeholder.video::after,
.placeholder.avatar::after {
  display: block;
}
.placeholder.image::before {
  content: "\1f5bc";
}
.placeholder.image::after {
  padding-top: 75%;
}
.placeholder.video::before {
  content: "\25B6";
}
.placeholder.video::after {
  padding-top: 56.25%;
}
.placeholder.avatar::before {
  content: "\263A";
}
.placeholder.avatar::after {
  padding-top: 100%;
}
.placeholder.no-icon::before {
  content: "";
}
.hide {
  display: none;
}
.hide.tablet {
  display: initial;
}
.hide.desktop {
  display: initial;
}
@media screen and (max-width: calc(41.24rem - 1px)) {
  .hide.mobile {
    display: none;
  }
}
@media screen and (min-width: 41.24rem) {
  .hide.mobile {
    display: initial;
  }
  .hide.tablet {
    display: none;
  }
}
@media screen and (min-width: 61rem) {
  .hide.desktop {
    display: none;
  }
  .hide.mobile.tablet {
    display: initial;
  }
}
@media screen and (max-width: calc(61rem - 1px)) {
  .hide.mobile.tablet {
    display: none;
  }
}
body {
  font-size: 24px;
  line-height: 1.8;
  margin: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
nav {
  z-index: 99;
}
nav a {
  text-decoration: none;
}
aside {
  margin: 0 auto;
  margin-bottom: 1.62rem;
  max-width: 23rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-top: 0.49443758em;
  margin-bottom: 0.74165637em;
  letter-spacing: -0.025em;
  color: inherit;
  line-height: 1.618;
}
h1 {
  font-size: 2.4em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1em;
}
p {
  margin-bottom: 1em;
}
p.gutter-bottom {
  margin-bottom: 1.618em;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: inherit;
  text-decoration: underline;
}
a.target-blank::after,
a.new-tab::after,
a.external-link::after {
  content: "\00A0\1F855";
}
form {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input {
  font-size: 24px;
  line-height: 1.8;
  border: 1px solid #4a596d;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input:focus {
  box-shadow: 0 0 2px #67acd4;
}
fieldset {
  border: none;
  outline: none;
}
ol {
  padding-left: 4ch;
  margin-bottom: 1.62rem;
}
ol li {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
ul {
  margin-left: 1.62rem;
  margin-bottom: 1.62rem;
}
li {
  margin-bottom: 0.44em;
}
kbd {
  color: #f1f4f8;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  white-space: nowrap;
}
b {
  padding: 0.18em 0 0.22em 0;
}
pre {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  overflow: hidden;
  border-radius: 0.5em;
  background: #303032;
  color: #f1f4f8;
}
pre.white-space,
pre.word-break {
  white-space: pre-wrap;
}
pre > code {
  background: transparent;
  padding: 0;
}
code {
  color: #f1f4f8;
  background-color: #222a4b;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
code.terminal::before {
  content: "$ ";
}
textarea {
  font-size: 24px;
  line-height: 1.8;
  border: 1px solid #4a596d;
  border-radius: 0.5em;
  margin-bottom: 1.62rem;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
textarea:focus {
  box-shadow: 0 0 2px #67acd4;
}
.white,
body,
input,
textarea {
  background-color: #f1f4f8;
  border-color: #7a7d81;
}
.black {
  background-color: #030c15;
  border-color: #02060b;
}
.ambient {
  color: #f1f4f8;
  background: #164986;
  border-color: #0c2849;
}
.ambient.light {
  color: #f1f4f8;
  background: #1b5ca9;
  border-color: #0f315a;
}
.ambient.dark {
  color: #f1f4f8;
  background: #103663;
  border-color: #091e37;
}
.red,
.failure {
  background-color: #b10103;
  border-color: #5f0102;
}
.light.red,
.light.failure {
  background-color: #da0104;
  border-color: #730102;
}
.dark.red,
.dark.failure {
  background-color: #890102;
  border-color: #4b0102;
}
.orange,
.warning {
  background-color: #d29202;
  border-color: #6f4e01;
}
.light.orange,
.light.warning {
  background-color: #fbae03;
  border-color: #845c02;
}
.dark.orange,
.dark.warning {
  background-color: #aa7602;
  border-color: #5b4001;
}
.yellow {
  background-color: #c7d603;
  border-color: #6a7102;
}
.light.yellow {
  background-color: #ebfc05;
  border-color: #7b8403;
}
.dark.yellow {
  background-color: #a2ae02;
  border-color: #575d01;
}
.olive {
  background-color: #616803;
  border-color: #363a02;
}
.light.olive {
  background-color: #869004;
  border-color: #494e03;
}
.dark.olive {
  background-color: #3c4002;
  border-color: #242601;
}
.green,
.success {
  background-color: #016c03;
  border-color: #013c02;
}
.light.green,
.light.success {
  background-color: #019404;
  border-color: #015102;
}
.dark.green,
.dark.success {
  background-color: #004302;
  border-color: #002801;
}
.teal {
  background-color: #016871;
  border-color: #013a3f;
}
.light.teal {
  background-color: #018d99;
  border-color: #014d53;
}
.dark.teal {
  background-color: #014348;
  border-color: #01272b;
}
.cyan {
  background-color: #00cee6;
  border-color: #006d79;
}
.light.cyan {
  background-color: #11e5ff;
  border-color: #097886;
}
.dark.cyan {
  background-color: #00a9bd;
  border-color: #005a65;
}
.skyblue,
.info {
  background-color: #67acd4;
  border-color: #355a6f;
}
.light.skyblue,
.light.info {
  background-color: #86bddd;
  border-color: #456274;
}
.dark.skyblue,
.dark.info {
  background-color: #479bcb;
  border-color: #25516b;
}
.blue {
  background-color: #0001e6;
  border-color: #000179;
}
.light.blue {
  background-color: #1111fe;
  border-color: #090986;
}
.dark.blue {
  background-color: #0000bd;
  border-color: #000065;
}
.indigo {
  background-color: #3b0176;
  border-color: #210142;
}
.light.indigo {
  background-color: #4f019f;
  border-color: #2b0156;
}
.dark.indigo {
  background-color: #27014e;
  border-color: #17012d;
}
.purple {
  background-color: #5a0269;
  border-color: #32013b;
}
.light.purple {
  background-color: #7c0291;
  border-color: #44014f;
}
.dark.purple {
  background-color: #370140;
  border-color: #210127;
}
.violet {
  background-color: #ba6ad6;
  border-color: #613671;
}
.light.violet {
  background-color: #c98adf;
  border-color: #694675;
}
.dark.violet {
  background-color: #ab4ace;
  border-color: #5a266c;
}
.gray {
  background-color: #656b74;
  border-color: #35393e;
}
.light.gray {
  background-color: #787f8a;
  border-color: #3e4349;
}
.dark.gray {
  background-color: #52575e;
  border-color: #2b2f33;
}
.brown {
  background-color: #89482a;
  border-color: #4a2716;
}
.light.brown {
  background-color: #a85933;
  border-color: #592f1b;
}
.dark.brown {
  background-color: #693820;
  border-color: #3a1f12;
}
.magenta {
  background-color: #8f02b4;
  border-color: #4d0160;
}
.light.magenta {
  background-color: #af02dd;
  border-color: #5d0175;
}
.dark.magenta {
  background-color: #6f018c;
  border-color: #3c014c;
}
.lavender {
  background-color: #b6b0d5;
  border-color: #5e5a6f;
}
.light.lavender {
  background-color: #cfcae3;
  border-color: #6a6776;
}
.dark.lavender {
  background-color: #9e95c7;
  border-color: #514c68;
}
.cream {
  background-color: #d4dbcb;
  border-color: #6d7268;
}
.light.cream {
  background-color: #e8ebe3;
  border-color: #777a74;
}
.dark.cream {
  background-color: #c0cab3;
  border-color: #63695c;
}
.charcoal {
  background-color: #3c2d2a;
  border-color: #221917;
}
.light.charcoal {
  background-color: #543f3b;
  border-color: #2e2220;
}
.dark.charcoal {
  background-color: #241b19;
  border-color: #16100f;
}
.crimson {
  background-color: #97091c;
  border-color: #51050f;
}
.light.crimson {
  background-color: #bd0c23;
  border-color: #650613;
}
.dark.crimson {
  background-color: #700715;
  border-color: #3e040c;
}
.clover {
  background-color: #308f16;
  border-color: #1a4d0c;
}
.light.clover {
  background-color: #3cb21b;
  border-color: #205f0f;
}
.dark.clover {
  background-color: #246c11;
  border-color: #143c09;
}
.cobalt {
  background-color: #216ac1;
  border-color: #123866;
}
.light.cobalt {
  background-color: #307edb;
  border-color: #194273;
}
.dark.cobalt {
  background-color: #1b579f;
  border-color: #0f2f55;
}
.graphite {
  background-color: #222a4b;
  border-color: #13172a;
}
.light.graphite {
  background-color: #2e3a67;
  border-color: #191f38;
}
.dark.graphite {
  background-color: #151a2f;
  border-color: #0c101c;
}
.ruby {
  background-color: #840139;
  border-color: #48011f;
}
.light.ruby {
  background-color: #ad014b;
  border-color: #5d0128;
}
.dark.ruby {
  background-color: #5b0028;
  border-color: #340017;
}
.onyx {
  background-color: #303032;
  border-color: #1b1b1d;
}
.light.onyx {
  background-color: #444547;
  border-color: #252528;
}
.dark.onyx {
  background-color: #1c1c1d;
  border-color: #111113;
}
.pewter {
  background-color: #858a7e;
  border-color: #464941;
}
.light.pewter {
  background-color: #9a9d93;
  border-color: #50534c;
}
.dark.pewter {
  background-color: #71756a;
  border-color: #3c3e38;
}
.gunmetal {
  background-color: #32475d;
  border-color: #1b2733;
}
.light.gunmetal {
  background-color: #405b77;
  border-color: #223140;
}
.dark.gunmetal {
  background-color: #243342;
  border-color: #141d26;
}
.hotpink {
  background-color: #cb5297;
  border-color: #6b2a4f;
}
.light.hotpink {
  background-color: #d571aa;
  border-color: #703a59;
}
.dark.hotpink {
  background-color: #bc3884;
  border-color: #631d45;
}
.neongreen {
  background-color: #2dd212;
  border-color: #186f09;
}
.light.neongreen {
  background-color: #3eec20;
  border-color: #207c11;
}
.dark.neongreen {
  background-color: #25ac0f;
  border-color: #145c08;
}
.electricblue {
  background-color: #2d9dc5;
  border-color: #185368;
}
.light.electricblue {
  background-color: #46afd5;
  border-color: #245c70;
}
.dark.electricblue {
  background-color: #2682a3;
  border-color: #144657;
}
.royalpurple {
  background-color: #4f297f;
  border-color: #2b1645;
}
.light.royalpurple {
  background-color: #62339e;
  border-color: #341b54;
}
.dark.royalpurple {
  background-color: #3c1f60;
  border-color: #211135;
}
.lemon {
  background-color: #e3e990;
  border-color: #777a49;
}
.light.lemon {
  background-color: #ecf0b2;
  border-color: #7b7d5a;
}
.dark.lemon {
  background-color: #dbe26e;
  border-color: #737738;
}
.lime {
  background-color: #7ccd87;
  border-color: #406b45;
}
.light.lime {
  background-color: #9ad8a2;
  border-color: #4e7153;
}
.dark.lime {
  background-color: #5fc16c;
  border-color: #316638;
}
.tangerine {
  background-color: #d79950;
  border-color: #715029;
}
.light.tangerine {
  background-color: #dfad72;
  border-color: #755a3a;
}
.dark.tangerine {
  background-color: #cf862f;
  border-color: #6d4619;
}
.grapefruit {
  background-color: #a32944;
  border-color: #571624;
}
.light.grapefruit {
  background-color: #c43151;
  border-color: #671a2b;
}
.dark.grapefruit {
  background-color: #832136;
  border-color: #47121d;
}
.action,
.base-color {
  color: #f1f4f8;
  background: #1d3c5c;
  border-color: #102133;
}
.action.light,
.base-color.light {
  color: #f1f4f8;
  background: #27507b;
  border-color: #152b43;
}
.action.dark,
.base-color.dark {
  color: #f1f4f8;
  background: #13283d;
  border-color: #0b1724;
}
.reaction {
  background-color: #2f2213;
  border-color: #1c140b;
}
.light.reaction {
  background-color: #4c361f;
  border-color: #2b1f11;
}
.dark.reaction {
  background-color: #120d07;
  border-color: #0e0a05;
}
.default {
  background-color: #4a596d;
  border-color: #27303b;
}
.light.default {
  background-color: #5a6d86;
  border-color: #2f3a47;
}
.dark.default {
  background-color: #394655;
  border-color: #1f262f;
}
.warm {
  background-color: #5d3693;
  border-color: #311d4f;
}
.light.warm {
  background-color: #6f41b1;
  border-color: #3b225d;
}
.dark.warm {
  background-color: #4a2b75;
  border-color: #281740;
}
.cool {
  background-color: #28026b;
  border-color: #16013c;
}
.light.cool {
  background-color: #370393;
  border-color: #1e0250;
}
.dark.cool {
  background-color: #190143;
  border-color: #0f0128;
}
.neutral {
  background-color: #025608;
  border-color: #013105;
}
.light.neutral {
  background-color: #027e0c;
  border-color: #024507;
}
.dark.neutral {
  background-color: #012e04;
  border-color: #011d03;
}
.complement,
.second.triad {
  background-color: #392816;
  border-color: #21180d;
}
.light.complement,
.light.second.triad {
  background-color: #563d22;
  border-color: #302213;
}
.dark.complement,
.dark.second.triad {
  background-color: #1c140b;
  border-color: #130d07;
}
.accent {
  background-color: #12134c;
  border-color: #0a0b2b;
}
.light.accent {
  background-color: #1a1b6d;
  border-color: #0e0f3c;
}
.dark.accent {
  background-color: #0a0b2b;
  border-color: #06071b;
}
.second.accent {
  background-color: #12454c;
  border-color: #0a272b;
}
.light.second.accent {
  background-color: #19636d;
  border-color: #0e363c;
}
.dark.second.accent {
  background-color: #0a272b;
  border-color: #06181b;
}
.split {
  background-color: #3f154a;
  border-color: #240c2a;
}
.light.split {
  background-color: #5a1f6a;
  border-color: #32113a;
}
.dark.split {
  background-color: #240c2b;
  border-color: #17081b;
}
.second.split {
  background-color: #144419;
  border-color: #0b270e;
}
.light.second.split {
  background-color: #1d6425;
  border-color: #103714;
}
.dark.second.split {
  background-color: #0b250e;
  border-color: #071809;
}
.triad {
  background-color: #2a154b;
  border-color: #180c2b;
}
.light.triad {
  background-color: #3c1f6a;
  border-color: #21113a;
}
.dark.triad {
  background-color: #180c2b;
  border-color: #0f081b;
}
.third.triad {
  background-color: #144432;
  border-color: #0b271d;
}
.light.third.triad {
  background-color: #1d6449;
  border-color: #103728;
}
.dark.third.triad {
  background-color: #0b251b;
  border-color: #071811;
}
.tetrad {
  background-color: #1f154b;
  border-color: #120c2b;
}
.light.tetrad {
  background-color: #2c1f6a;
  border-color: #18113a;
}
.dark.tetrad {
  background-color: #120c2b;
  border-color: #0b081b;
}
.second.tetrad {
  background-color: #3f1525;
  border-color: #250c15;
}
.light.second.tetrad {
  background-color: #5e2037;
  border-color: #34111e;
}
.dark.second.tetrad {
  background-color: #210b13;
  border-color: #16070c;
}
.third.tetrad {
  background-color: #344419;
  border-color: #1e270e;
}
.light.third.tetrad {
  background-color: #4b6224;
  border-color: #293613;
}
.dark.third.tetrad {
  background-color: #1d260e;
  border-color: #121809;
}
.fourth.tetrad {
  background-color: #14443f;
  border-color: #0b2724;
}
.light.fourth.tetrad {
  background-color: #1d645b;
  border-color: #103733;
}
.dark.fourth.tetrad {
  background-color: #0b2522;
  border-color: #071816;
}
.highlight {
  background-color: #7302c1;
  border-color: #3d0167;
}
.light.highlight {
  background-color: #8b02e9;
  border-color: #49017b;
}
.dark.highlight {
  background-color: #5a0199;
  border-color: #310153;
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-margin-right {
  margin-right: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.no-margin-left {
  margin-left: 0 !important;
}
.no-padding {
  padding: 0;
}
.no-margin,
.no-gutter {
  margin: 0;
}
.no-side-margin,
.no-side-margins {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.no-margins {
  margin: 0 !important;
}
.no-margins * {
  margin: 0 !important;
}
.no-box-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  box-shadow: unset;
}
.no-text-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  text-shadow: unset;
}
.no-border,
.no-borders,
.no-borders * {
  border-width: 0 !important;
}
.no-background {
  background: transparent;
}
.no-text-indent {
  text-indent: 0;
}
.no-text-align {
  text-align: initial;
}
.no-user-select {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.no-pointer-events {
  pointer-events: none;
}
.no-list-style {
  list-style-type: none;
  margin-left: 0;
}
.no-grid-gap,
.no-column-gap {
  grid-gap: 0;
  column-gap: 0;
}
@media print {
  html {
    font-size: 62.5%;
  }
  * {
    box-shadow: unset !important;
    border: unset !important;
  }
  nav {
    display: none !important;
  }
  .page-width,
  .text-width,
  .container {
    all: unset;
  }
  .inner-page-width,
  .inner-text-width,
  .inner-aside-width {
    all: unset;
  }
}
