/* This project uses Cavepaint (MIT License) by Rex Riepe */
/* https://github.com/cavepaint/cavepaintCSS */
* {
  margin: 0 0 1.62rem 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  margin-bottom: 0;
}
.button,
button {
  border-style: solid;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(36, 32, 24, 0.16);
  display: inline;
  position: relative;
  font-family: inherit;
  font-size: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  color: inherit;
  background-color: inherit;
  border-color: #586078;
  border-width: 1px;
  line-height: 1.6;
  text-align: center;
  vertical-align: middle;
  outline: none;
  white-space: nowrap;
  text-decoration: none;
  touch-action: manipulation;
  cursor: pointer;
  transform: scale(1);
  transition: 0.08s linear;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.button:active,
button:active {
  transform: scale(0.99);
  box-shadow: unset;
}
.bar {
  position: relative;
  width: 100%;
  display: block;
  vertical-align: middle;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.bar > * {
  display: inline;
  margin-right: 0.3236em;
  margin-left: 0.3236em;
  margin-bottom: 0;
}
.card {
  position: relative;
  overflow: hidden;
  padding: 1.62rem;
  border: 1px solid #8088a2;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(36, 32, 24, 0.16);
}
.card > *:first-child {
  margin-top: 0;
}
.card > *:last-child {
  margin-bottom: 0;
}
.badge {
  border-radius: 0.5em;
  line-height: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  padding-right: 0.6472em;
  padding-left: 0.6472em;
  vertical-align: middle;
  border-radius: 99px;
  white-space: nowrap;
}
.modal {
  display: none;
  max-width: none;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  position: fixed;
  bottom: 0;
  justify-content: center;
  flex: 0 1 auto;
  flex-direction: column;
  height: 100vh;
}
.modal > * {
  flex-direction: column;
  color: #181b24;
  position: relative;
  background: #f9fafd;
  padding: 1.62rem;
  margin-bottom: 3.24rem;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(36, 32, 24, 0.16);
  margin: 1.62rem;
}
@media screen and (min-width: 40.24rem) {
  .modal > * {
    max-width: 59rem;
    margin: 0 auto;
  }
}
.overlay {
  margin: 0;
  padding: 0;
  position: relative;
}
.overlay .top,
.overlay .bottom,
.overlay .left,
.overlay .right {
  position: absolute;
}
.overlay .top {
  top: 0.3236em;
}
.overlay .bottom {
  bottom: 0.3236em;
}
.overlay .left {
  left: 0.3236em;
}
.overlay .right {
  right: 0.3236em;
}
.overlay.stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.overlay * {
  margin: 0;
  display: block;
}
.grid,
.two-column,
.three-column {
  display: grid;
  grid-gap: 1.62rem;
}
.grid.tablet,
.two-column.tablet,
.three-column.tablet,
.grid.mobile.tablet,
.two-column.mobile.tablet,
.three-column.mobile.tablet,
.grid.desktop,
.two-column.desktop,
.three-column.desktop {
  display: initial;
}
.grid {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.two-column {
  grid-template-columns: 1fr 1fr;
}
.two-column.golden {
  grid-template-columns: 1.618fr 1fr;
}
.two-column.golden.reverse {
  grid-template-columns: 1fr 1.618fr;
}
.three-column {
  grid-template-columns: 1fr 1fr 1fr;
}
.three-column.golden {
  grid-template-columns: 1fr 1.618fr 1fr;
}
.three-column.golden.leading {
  grid-template-columns: 1.618fr 1fr 1fr;
}
.three-column.golden.trailing {
  grid-template-columns: 1fr 1fr 1.618fr;
}
.grid-width-one {
  grid-column: auto / span 1;
}
.grid-width-two {
  grid-column: auto / span 2;
}
.grid-width-three {
  grid-column: auto / span 3;
}
.grid-width-four {
  grid-column: auto / span 4;
}
.grid-width-five {
  grid-column: auto / span 5;
}
.grid-width-six {
  grid-column: auto / span 6;
}
.grid-width-seven {
  grid-column: auto / span 7;
}
.grid-width-eight {
  grid-column: auto / span 8;
}
.grid-width-nine {
  grid-column: auto / span 9;
}
.grid-width-ten {
  grid-column: auto / span 10;
}
.grid-width-eleven {
  grid-column: auto / span 11;
}
.grid-width-twelve {
  grid-column: auto / span 12;
}
@media screen and (max-width: calc(40.24rem - 1px)) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: grid;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 40.24rem) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: initial;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: initial;
  }
  .grid.tablet,
  .two-column.tablet,
  .three-column.tablet {
    display: grid;
  }
  .grid.tablet > *,
  .two-column.tablet > *,
  .three-column.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (max-width: calc(59rem - 1px)) {
  .grid.mobile.tablet,
  .two-column.mobile.tablet,
  .three-column.mobile.tablet {
    display: grid;
  }
  .grid.mobile.tablet > *,
  .two-column.mobile.tablet > *,
  .three-column.mobile.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 59rem) {
  .grid.desktop,
  .two-column.desktop,
  .three-column.desktop {
    display: grid;
  }
  .grid.desktop > *,
  .two-column.desktop > *,
  .three-column.desktop > * {
    margin-bottom: 0;
  }
}
.responsive {
  column-gap: 0.619rem;
  grid-gap: 0.619rem;
}
.responsive.padding,
.modal,
.container {
  padding: 0.619rem;
}
.responsive.margin,
.container {
  margin: 0.619rem;
}
.responsive.gutter {
  margin: 1.238rem;
}
@media screen and (min-width: 40.24rem) {
  .responsive {
    column-gap: 1.001rem;
    grid-gap: 1.001rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.001rem;
  }
  .responsive.margin,
  .container {
    margin: 1.001rem;
  }
  .responsive.gutter {
    margin: 2.002rem;
  }
}
@media screen and (min-width: 59rem) {
  .responsive {
    column-gap: 1.62rem;
    grid-gap: 1.62rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.62rem;
  }
  .responsive.margin,
  .container {
    margin: 1.62rem;
  }
  .responsive.gutter {
    margin: 3.24rem;
  }
}
.background {
  background: #f9fafd;
}
.background-color {
  background-color: #f9fafd;
}
.border {
  border: 1px solid #8088a2;
}
.border-radius,
.rounded {
  border-radius: 0.5em;
}
.border-bottom {
  border-bottom: 1px solid #8088a2;
}
.border-left {
  border-left: 1px solid #8088a2;
}
.border-right {
  border-right: 1px solid #8088a2;
}
.border-style,
.button.border,
button.border {
  border-style: solid;
}
.border-top {
  border-top: 1px solid #8088a2;
}
.border-width,
.button.border,
button.border {
  border-width: 1px;
}
.max-width {
  max-width: 59rem;
}
.min-width {
  min-width: 22rem;
}
.align-content {
  align-content: stretch;
}
.align-items {
  align-items: stretch;
}
.align-self {
  align-self: auto;
}
.flex,
.vertical-center,
.center-vertical {
  flex: 0 1 auto;
}
.flex-basis {
  flex-basis: auto;
}
.flex-direction,
.vertical-center,
.center-vertical {
  flex-direction: column;
}
.flex-flow {
  flex-flow: column nowrap;
}
.flex-grow {
  flex-grow: 0;
}
.flex-shrink {
  flex-shrink: 1;
}
.flex-wrap {
  flex-wrap: nowrap;
}
.justify-content,
.vertical-center,
.center-vertical {
  justify-content: center;
}
.font-family,
body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.font-size {
  font-size: 16px;
}
.font-weight {
  font-weight: normal;
}
.list-style {
  list-style: disc inside none;
}
.list-style-type {
  list-style-type: disc;
}
.margin {
  margin: 1.62rem;
}
.margin-bottom {
  margin-bottom: 1.62rem;
}
.margin-left {
  margin-left: 1.62rem;
}
.margin-right {
  margin-right: 1.62rem;
}
.margin-top {
  margin-top: 1.62rem;
}
.column-gap {
  column-gap: 1.94em;
}
.column-rule {
  column-rule: 1px solid #8088a2;
}
.padding {
  padding: 1.62rem;
}
.padding-bottom {
  padding-bottom: 1.62rem;
}
.padding-left {
  padding-left: 1.62rem;
}
.padding-right {
  padding-right: 1.62rem;
}
.padding-top {
  padding-top: 1.62rem;
}
.text-align {
  text-align: left;
}
.text-align-last {
  text-align-last: left;
}
.text-indent {
  text-indent: 2ch;
}
.text-justify {
  text-justify: justify;
}
.text-overflow {
  text-overflow: hidden;
}
.text-shadow {
  text-shadow: 1.41px 1.41px 1.41px rgba(36, 32, 24, 0.16);
}
.line-height {
  line-height: 1.8;
}
.vertical-align {
  vertical-align: middle;
}
.letter-spacing {
  letter-spacing: 0;
}
.word-spacing {
  word-spacing: normal;
}
.white-space {
  white-space: nowrap;
}
.word-break {
  word-break: break-all;
}
.word-wrap {
  word-wrap: break-word;
}
.transform {
  transform: none;
}
.transition {
  transition: all 0s ease 0s;
}
.display {
  display: block;
}
.position {
  position: absolute;
}
.top {
  top: 0;
}
.right {
  right: 0;
}
.bottom {
  bottom: 0;
}
.left {
  left: 0;
}
.float {
  float: left;
}
.clear {
  clear: both;
}
.z-index {
  z-index: 10;
}
.overflow {
  overflow: hidden;
}
.overflow-x {
  overflow-x: hidden;
}
.cursor {
  cursor: pointer;
}
.box-shadow {
  box-shadow: 1.41px 1.41px 1.41px rgba(36, 32, 24, 0.16);
}
.gutter {
  margin: 3.24rem;
}
.gutter-top {
  margin-top: 3.24rem;
}
.gutter-right {
  margin-right: 3.24rem;
}
.gutter-bottom {
  margin-bottom: 3.24rem;
}
.gutter-left {
  margin-left: 3.24rem;
}
.text-padding {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-padding-top {
  padding-top: 0.18em;
}
.text-padding-right {
  padding-right: 0.3236em;
}
.text-padding-bottom {
  padding-bottom: 0.22em;
}
.text-padding-left {
  padding-left: 0.3236em;
}
.text-margin {
  margin: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-margin-top {
  margin-top: 0.18em;
}
.text-margin-right {
  margin-right: 0.3236em;
}
.text-margin-bottom {
  margin-bottom: 0.22em;
}
.text-margin-left {
  margin-left: 0.3236em;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.initial {
  display: initial;
}
.table {
  display: table;
}
.flex,
.vertical-center,
.center-vertical {
  display: flex;
}
.inline-block {
  display: inline-block;
}
.static {
  position: static;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.margin-auto,
.container {
  margin-left: auto;
  margin-right: auto;
}
.width-auto {
  width: auto;
}
.inset {
  box-shadow: inset 1.41px 1.41px 1.41px rgba(36, 32, 24, 0.16);
}
.viewport-height {
  height: 100vh;
}
.min-viewport-height {
  min-height: 100vh;
}
.overflow-hidden {
  overflow: hidden;
}
.dashed {
  border-style: dashed;
}
.dotted {
  border-style: dotted;
}
.thick {
  border-width: 2px;
}
.thin {
  border-width: 0.5px;
}
.current-color {
  border-color: currentColor;
}
.fade {
  opacity: 0.65;
}
.serif,
.font-family-serif {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "Droid Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
.monospace,
.font-family-monospace,
pre,
code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
}
.sans-serif,
.font-family-sans-serif {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.text-transparent {
  color: transparent;
}
.reset {
  all: initial;
}
.big {
  font-size: 125%;
  line-height: 2.25;
}
.big.font-size {
  font-size: 20px;
}
.small,
.badge {
  font-size: 87.5%;
  line-height: 1.575;
}
.small.font-size {
  font-size: 14px;
}
.huge {
  font-size: 160%;
}
.huge.font-size {
  font-size: 25.6px;
}
.text-trim {
  line-height: 1;
}
.text-align-center,
.text-center {
  text-align: center;
}
.text-align-left,
.text-left {
  text-align: left;
}
.text-align-right,
.text-right {
  text-align: right;
}
.text-align-justify,
.text-justify {
  text-align: justify;
}
.grid-gap-margin {
  grid-gap: 1.62rem;
}
.grid-gap-border-width {
  grid-gap: 1px;
}
.grid-gap-text-padding,
.grid-gap-text-margin {
  grid-gap: 0.3236em;
}
.shade,
.white,
.orange,
.yellow,
.light.olive,
.light.green,
.light.teal,
.cyan,
.skyblue,
.violet,
.light.gray,
.lavender,
.cream,
.clover,
.pewter,
.light.hotpink,
.neongreen,
.electricblue,
.lemon,
.lime,
.tangerine,
.light.default,
.cool,
.neutral,
.second.accent,
.light.highlight,
body,
input,
textarea,
.info,
.warning,
.light.success {
  color: #181b24;
}
.tint,
.black,
.red,
.olive,
.green,
.teal,
.blue,
.indigo,
.purple,
.dark.violet,
.gray,
.brown,
.magenta,
.charcoal,
.crimson,
.dark.clover,
.cobalt,
.graphite,
.ruby,
.onyx,
.dark.pewter,
.gunmetal,
.hotpink,
.royalpurple,
.grapefruit,
.reaction,
.default,
.warm,
.dark.neutral,
.complement,
.accent,
.split,
.second.split,
.triad,
.third.triad,
.tetrad,
.second.tetrad,
.third.tetrad,
.fourth.tetrad,
.highlight,
.success,
.failure,
.second.triad {
  color: #f9fafd;
}
.transparent {
  background-color: transparent;
  color: inherit;
  border-color: inherit;
}
.transparent.light {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23FFF%22%20fill-opacity%3D%220.16%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.transparent.dark,
.modal {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23000%22%20fill-opacity%3D%220.25%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.trim,
.trim-inner *,
.trim-all,
.trim-all * {
  margin-bottom: 0;
}
.hidden {
  display: none !important;
}
.clearfix,
.clear {
  clear: both;
}
.clearfix::after,
.clear::after {
  display: block;
  clear: both;
  content: "";
}
.golden-width {
  max-width: calc(62% - 3.24rem);
}
.golden-width.reverse {
  max-width: 38%;
}
.aside-width {
  max-width: 22rem;
}
@media screen and (min-width: 40.24rem) {
  .text-width {
    max-width: 37rem;
  }
}
.page-width,
.container {
  max-width: 59rem;
}
.full-width,
.aside-width .aside-width,
.text-width .text-width,
.page-width .page-width {
  display: block;
  width: 100%;
}
.inner-aside-width {
  padding-left: calc(50% - 11rem);
  padding-right: calc(50% - 11rem);
}
.inner-aside-width.padding {
  padding-left: calc(50% - 9.38rem);
  padding-right: calc(50% - 9.38rem);
}
.inner-aside-width.responsive.padding {
  padding-left: calc(50% - 10.38rem);
  padding-right: calc(50% - 10.38rem);
}
@media screen and (max-width: calc(40.24rem - 1px)) {
  .inner-text-width {
    padding-left: initial;
    padding-right: initial;
  }
  .inner-text-width.padding {
    padding-left: 1.62rem;
    padding-right: 1.62rem;
  }
  .inner-text-width.responsive.padding {
    padding-left: 0.619rem;
    padding-right: 0.619rem;
  }
}
@media screen and (min-width: 40.24rem) {
  .inner-aside-width.tablet.padding {
    padding-left: calc(50% - 9.38rem);
    padding-right: calc(50% - 9.38rem);
  }
  .inner-aside-width.tablet.responsive.padding {
    padding-left: calc(50% - 10rem);
    padding-right: calc(50% - 10rem);
  }
  .inner-text-width {
    padding-left: calc(50% - 18.5rem);
    padding-right: calc(50% - 18.5rem);
  }
  .inner-text-width.padding {
    padding-left: calc(50% - 16.88rem);
    padding-right: calc(50% - 16.88rem);
  }
  .inner-text-width.responsive.padding {
    padding-left: calc(50% - 17.5rem);
    padding-right: calc(50% - 17.5rem);
  }
}
@media screen and (min-width: 59rem) {
  .inner-aside-width.desktop.padding {
    padding-left: calc(50% - 9.38rem);
    padding-right: calc(50% - 9.38rem);
  }
  .inner-aside-width.desktop.responsive.padding {
    padding-left: calc(50% - 9.38rem);
    padding-right: calc(50% - 9.38rem);
  }
  .inner-text-width.desktop.padding {
    padding-left: calc(50% - 16.88rem);
    padding-right: calc(50% - 16.88rem);
  }
  .inner-text-width.desktop.responsive.padding {
    padding-left: calc(50% - 16.88rem);
    padding-right: calc(50% - 16.88rem);
  }
  .inner-page-width {
    padding-left: calc(50% - 29.5rem);
    padding-right: calc(50% - 29.5rem);
  }
  .inner-page-width.padding {
    padding-left: calc(50% - 27.88rem);
    padding-right: calc(50% - 27.88rem);
  }
  .inner-page-width.responsive.padding {
    padding-left: calc(50% - 27.88rem);
    padding-right: calc(50% - 27.88rem);
  }
}
.texture,
.pattern {
  background-position: top center;
}
.texture {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20xmlns%3Axlink%3D'http%3A//www.w3.org/1999/xlink'%20viewBox%3D'0%200%202.646%204.233'%20height%3D'16'%20width%3D'10'%3E%3Crect%20ry%3D'.269'%20rx%3D'.279'%20y%3D'-.529'%20x%3D'-.265'%20height%3D'1.058'%20width%3D'.529'%20id%3D'a'%20opacity%3D'1'%20fill%3D'%23000'%20stroke-width%3D'0'%20stroke-linecap%3D'round'%20fill-opacity%3D'0.05'/%3E%3Cuse%20height%3D'100%25'%20width%3D'100%25'%20transform%3D'translate%280%204.233%29'%20xlink%3Ahref%3D'%23a'/%3E%3Cuse%20height%3D'100%25'%20width%3D'100%25'%20transform%3D'translate%281.323%202.117%29'%20xlink%3Ahref%3D'%23a'/%3E%3Cuse%20height%3D'100%25'%20width%3D'100%25'%20transform%3D'translate%282.646%29'%20xlink%3Ahref%3D'%23a'/%3E%3Cuse%20height%3D'100%25'%20width%3D'100%25'%20transform%3D'translate%282.646%204.233%29'%20xlink%3Ahref%3D'%23a'/%3E%3C/svg%3E");
}
.pattern {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20viewBox%3D'0%200%2021.167%2013.229'%20height%3D'80'%20width%3D'128'%3E%3Cg%20fill%3D'%23f9fafd'%20fill-opacity%3D'0.05'%3E%3Ccircle%20cx%3D'13.759'%20cy%3D'4.498'%20r%3D'1.323'/%3E%3Ccircle%20cy%3D'1.587'%20cx%3D'8.202'%20r%3D'.794'/%3E%3Ccircle%20r%3D'.794'%20cx%3D'4.498'%20cy%3D'9.26'/%3E%3Ccircle%20r%3D'.794'%20cx%3D'18.521'%20cy%3D'11.377'/%3E%3Ccircle%20cy%3D'11.112'%20cx%3D'12.171'%20r%3D'.529'/%3E%3Ccircle%20r%3D'.529'%20cx%3D'18.521'%20cy%3D'5.027'/%3E%3Ccircle%20r%3D'.529'%20cx%3D'8.731'%20cy%3D'6.614'/%3E%3Ccircle%20r%3D'.529'%20cx%3D'3.175'%20cy%3D'3.969'/%3E%3Ccircle%20r%3D'.529'%20cx%3D'.794'%20cy%3D'12.435'/%3E%3C/g%3E%3C/svg%3E");
}
.placeholder::before {
  content: " ";
  white-space: pre;
}
.placeholder::after {
  content: "";
}
.placeholder.image,
.placeholder.video,
.placeholder.avatar {
  position: relative;
}
.placeholder.image::before,
.placeholder.video::before,
.placeholder.avatar::before {
  position: absolute;
  top: calc(50% - 4rem);
  right: 0;
  bottom: 0;
  left: 0;
  display: inline-block;
  text-align: center;
  font-size: 4rem;
  vertical-align: middle;
}
.placeholder.image.small::before,
.placeholder.video.small::before,
.placeholder.avatar.small::before {
  top: calc(50% - 2rem);
  font-size: 2rem;
}
.placeholder.image.big::before,
.placeholder.video.big::before,
.placeholder.avatar.big::before {
  top: calc(50% - 6rem);
  font-size: 6rem;
}
.placeholder.image.huge::before,
.placeholder.video.huge::before,
.placeholder.avatar.huge::before {
  top: calc(50% - 8rem);
  font-size: 8rem;
}
.placeholder.image::after,
.placeholder.video::after,
.placeholder.avatar::after {
  display: block;
}
.placeholder.image::before {
  content: "\1f5bc";
}
.placeholder.image::after {
  padding-top: 75%;
}
.placeholder.video::before {
  content: "\25B6";
}
.placeholder.video::after {
  padding-top: 56.25%;
}
.placeholder.avatar::before {
  content: "\263A";
}
.placeholder.avatar::after {
  padding-top: 100%;
}
.placeholder.no-icon::before {
  content: "";
}
.hide {
  display: none;
}
.hide.tablet {
  display: initial;
}
.hide.desktop {
  display: initial;
}
@media screen and (max-width: calc(40.24rem - 1px)) {
  .hide.mobile {
    display: none;
  }
}
@media screen and (min-width: 40.24rem) {
  .hide.mobile {
    display: initial;
  }
  .hide.tablet {
    display: none;
  }
}
@media screen and (min-width: 59rem) {
  .hide.desktop {
    display: none;
  }
  .hide.mobile.tablet {
    display: initial;
  }
}
@media screen and (max-width: calc(59rem - 1px)) {
  .hide.mobile.tablet {
    display: none;
  }
}
body {
  font-size: 16px;
  line-height: 1.8;
  margin: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
nav {
  z-index: 99;
}
nav a {
  text-decoration: none;
}
aside {
  margin: 0 auto;
  margin-bottom: 1.62rem;
  max-width: 22rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-top: 0.49443758em;
  margin-bottom: 0.74165637em;
  letter-spacing: -0.025em;
  color: inherit;
  line-height: 1.618;
}
h1 {
  font-size: 2.4em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1em;
}
p {
  margin-bottom: 1em;
}
p.gutter-bottom {
  margin-bottom: 1.618em;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: inherit;
  text-decoration: underline;
}
a.target-blank::after,
a.new-tab::after,
a.external-link::after {
  content: "\00A0\1F855";
}
form {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input {
  font-size: 16px;
  line-height: 1.8;
  border: 1px solid #8088a2;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input:focus {
  box-shadow: 0 0 2px #7dc4e2;
}
fieldset {
  border: none;
  outline: none;
}
ol {
  padding-left: 4ch;
  margin-bottom: 1.62rem;
}
ol li {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
ul {
  margin-left: 1.62rem;
  margin-bottom: 1.62rem;
}
li {
  margin-bottom: 0.44em;
}
kbd {
  color: #f9fafd;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  white-space: nowrap;
}
b {
  padding: 0.18em 0 0.22em 0;
}
pre {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  overflow: hidden;
  border-radius: 0.5em;
  background: #38393e;
  color: #f9fafd;
}
pre.white-space,
pre.word-break {
  white-space: pre-wrap;
}
pre > code {
  background: transparent;
  padding: 0;
}
code {
  color: #f9fafd;
  background-color: #2c375d;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
code.terminal::before {
  content: "$ ";
}
textarea {
  font-size: 16px;
  line-height: 1.8;
  border: 1px solid #8088a2;
  border-radius: 0.5em;
  margin-bottom: 1.62rem;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
textarea:focus {
  box-shadow: 0 0 2px #7dc4e2;
}
.white,
body,
input,
textarea {
  background-color: #f9fafd;
  border-color: #81848a;
}
.black {
  background-color: #181b24;
  border-color: #0c0e12;
}
.ambient {
  color: #181b24;
  background: #97abde;
  border-color: #505c7b;
}
.ambient.light {
  color: #181b24;
  background: #b6c4e8;
  border-color: #606980;
}
.ambient.dark {
  color: #181b24;
  background: #7892d5;
  border-color: #415076;
}
.red,
.failure {
  background-color: #e51222;
  border-color: #800c15;
}
.light.red,
.light.failure {
  background-color: #ee3240;
  border-color: #851b23;
}
.dark.red,
.dark.failure {
  background-color: #bf0f1d;
  border-color: #6d0a12;
}
.orange,
.warning {
  background-color: #f8a61f;
  border-color: #8b5d12;
}
.light.orange,
.light.warning {
  background-color: #fab647;
  border-color: #8b6526;
}
.dark.orange,
.dark.warning {
  background-color: #e89307;
  border-color: #835305;
}
.yellow {
  background-color: #f2f220;
  border-color: #878713;
}
.light.yellow {
  background-color: #f4f447;
  border-color: #888826;
}
.dark.yellow {
  background-color: #dddd0d;
  border-color: #7d7d09;
}
.olive {
  background-color: #8c8f22;
  border-color: #525415;
}
.light.olive {
  background-color: #acaf2a;
  border-color: #626419;
}
.dark.olive {
  background-color: #6b6e1b;
  border-color: #424311;
}
.green,
.success {
  background-color: #0b8d21;
  border-color: #085415;
}
.light.green,
.light.success {
  background-color: #0eb32a;
  border-color: #0a671a;
}
.dark.green,
.dark.success {
  background-color: #086718;
  border-color: #074111;
}
.teal {
  background-color: #0c8f96;
  border-color: #095459;
}
.light.teal {
  background-color: #0fb2bc;
  border-color: #0a666c;
}
.dark.teal {
  background-color: #096b70;
  border-color: #074346;
}
.cyan {
  background-color: #0ef3f4;
  border-color: #098788;
}
.light.cyan {
  background-color: #35f5f6;
  border-color: #1d8889;
}
.dark.cyan {
  background-color: #09ced0;
  border-color: #077576;
}
.skyblue,
.info {
  background-color: #7dc4e2;
  border-color: #436c7d;
}
.light.skyblue,
.light.info {
  background-color: #9fd3e9;
  border-color: #537481;
}
.dark.skyblue,
.dark.info {
  background-color: #5cb5da;
  border-color: #32647a;
}
.blue {
  background-color: #0a10f3;
  border-color: #070b88;
}
.light.blue {
  background-color: #2f35f7;
  border-color: #1a1d8a;
}
.dark.blue {
  background-color: #080ecc;
  border-color: #060974;
}
.indigo {
  background-color: #551196;
  border-color: #330c58;
}
.light.indigo {
  background-color: #6a16ba;
  border-color: #3d0e6b;
}
.dark.indigo {
  background-color: #400d71;
  border-color: #280946;
}
.purple {
  background-color: #90159a;
  border-color: #540d5a;
}
.light.purple {
  background-color: #b119be;
  border-color: #65106c;
}
.dark.purple {
  background-color: #6e1076;
  border-color: #430b48;
}
.violet {
  background-color: #e27ce4;
  border-color: #7d427f;
}
.light.violet {
  background-color: #e99eeb;
  border-color: #815382;
}
.dark.violet {
  background-color: #da5add;
  border-color: #79317b;
}
.gray {
  background-color: #7f818a;
  border-color: #47484e;
}
.light.gray {
  background-color: #94969d;
  border-color: #525357;
}
.dark.gray {
  background-color: #6b6d75;
  border-color: #3d3e43;
}
.brown {
  background-color: #9d5539;
  border-color: #5a3121;
}
.light.brown {
  background-color: #bb6544;
  border-color: #693a27;
}
.dark.brown {
  background-color: #7f452e;
  border-color: #4b291c;
}
.magenta {
  background-color: #d81cde;
  border-color: #79117c;
}
.light.magenta {
  background-color: #e23ce7;
  border-color: #7e2181;
}
.dark.magenta {
  background-color: #b517ba;
  border-color: #680f6a;
}
.lavender {
  background-color: #c9bbe0;
  border-color: #6c637b;
}
.light.lavender {
  background-color: #e0d7ed;
  border-color: #777181;
}
.dark.lavender {
  background-color: #b39fd3;
  border-color: #615574;
}
.cream {
  background-color: #ededd0;
  border-color: #82826d;
}
.light.cream {
  background-color: #f8f8ee;
  border-color: #87877c;
}
.dark.cream {
  background-color: #e1e1b3;
  border-color: #7c7c5f;
}
.charcoal {
  background-color: #534247;
  border-color: #33282b;
}
.light.charcoal {
  background-color: #69545a;
  border-color: #3e3135;
}
.dark.charcoal {
  background-color: #3c2f33;
  border-color: #271f21;
}
.crimson {
  background-color: #b0132c;
  border-color: #650c1b;
}
.light.crimson {
  background-color: #d51735;
  border-color: #780e1f;
}
.dark.crimson {
  background-color: #8b0f23;
  border-color: #530a16;
}
.clover {
  background-color: #45ae34;
  border-color: #28631e;
}
.light.clover {
  background-color: #56c744;
  border-color: #317026;
}
.dark.clover {
  background-color: #398f2b;
  border-color: #22531a;
}
.cobalt {
  background-color: #2a79d0;
  border-color: #194475;
}
.light.cobalt {
  background-color: #4a8eda;
  border-color: #284f7a;
}
.dark.cobalt {
  background-color: #2365af;
  border-color: #153b64;
}
.graphite {
  background-color: #2c375d;
  border-color: #1c2239;
}
.light.graphite {
  background-color: #394778;
  border-color: #222a47;
}
.dark.graphite {
  background-color: #1f2641;
  border-color: #151a2b;
}
.ruby {
  background-color: #aa0950;
  border-color: #630730;
}
.light.ruby {
  background-color: #d10b62;
  border-color: #760839;
}
.dark.ruby {
  background-color: #83073e;
  border-color: #500626;
}
.onyx {
  background-color: #38393e;
  border-color: #242428;
}
.light.onyx {
  background-color: #4b4d53;
  border-color: #2d2e33;
}
.dark.onyx {
  background-color: #252529;
  border-color: #1a1b1d;
}
.pewter {
  background-color: #9ea090;
  border-color: #58594f;
}
.light.pewter {
  background-color: #b1b2a6;
  border-color: #62625a;
}
.dark.pewter {
  background-color: #8b8d7a;
  border-color: #4f4f44;
}
.gunmetal {
  background-color: #486079;
  border-color: #2a3847;
}
.light.gunmetal {
  background-color: #577493;
  border-color: #324254;
}
.dark.gunmetal {
  background-color: #394c60;
  border-color: #232e3a;
}
.hotpink {
  background-color: #eb5ba6;
  border-color: #83315b;
}
.light.hotpink {
  background-color: #f080ba;
  border-color: #854365;
}
.dark.hotpink {
  background-color: #e73792;
  border-color: #811e52;
}
.neongreen {
  background-color: #38eb21;
  border-color: #208313;
}
.light.neongreen {
  background-color: #5aef46;
  border-color: #318526;
}
.dark.neongreen {
  background-color: #29d112;
  border-color: #18760c;
}
.electricblue {
  background-color: #37b6dd;
  border-color: #1f667b;
}
.light.electricblue {
  background-color: #5ac3e3;
  border-color: #306c7e;
}
.dark.electricblue {
  background-color: #22a2c9;
  border-color: #155c72;
}
.royalpurple {
  background-color: #643897;
  border-color: #3a2157;
}
.light.royalpurple {
  background-color: #7843b5;
  border-color: #442666;
}
.dark.royalpurple {
  background-color: #502d7a;
  border-color: #301b48;
}
.lemon {
  background-color: #f8f796;
  border-color: #8a894e;
}
.light.lemon {
  background-color: #fbfabd;
  border-color: #8b8b61;
}
.dark.lemon {
  background-color: #f6f470;
  border-color: #89883a;
}
.lime {
  background-color: #96e896;
  border-color: #4f804f;
}
.light.lime {
  background-color: #b7efb7;
  border-color: #5f8460;
}
.dark.lime {
  background-color: #74e075;
  border-color: #3e7d3e;
}
.tangerine {
  background-color: #f2a85b;
  border-color: #875c30;
}
.light.tangerine {
  background-color: #f5bc81;
  border-color: #886643;
}
.dark.tangerine {
  background-color: #ef9335;
  border-color: #85521d;
}
.grapefruit {
  background-color: #ce3c5e;
  border-color: #732235;
}
.light.grapefruit {
  background-color: #d65d79;
  border-color: #773243;
}
.dark.grapefruit {
  background-color: #b32d4d;
  border-color: #661b2d;
}
.action,
.base-color {
  color: #f9fafd;
  background: #66729e;
  border-color: #394059;
}
.action.light,
.base-color.light {
  color: #f9fafd;
  background: #7f89ae;
  border-color: #464c61;
}
.action.dark,
.base-color.dark {
  color: #f9fafd;
  background: #556086;
  border-color: #31374d;
}
.reaction {
  background-color: #6f6b5a;
  border-color: #413e34;
}
.light.reaction {
  background-color: #86816c;
  border-color: #4c493d;
}
.dark.reaction {
  background-color: #595548;
  border-color: #35332b;
}
.default {
  background-color: #8088a2;
  border-color: #474c5a;
}
.light.default {
  background-color: #979eb3;
  border-color: #525763;
}
.dark.default {
  background-color: #69738f;
  border-color: #3b4151;
}
.warm {
  background-color: #e73f64;
  border-color: #812337;
}
.light.warm {
  background-color: #eb6381;
  border-color: #833546;
}
.dark.warm {
  background-color: #e11c47;
  border-color: #7e1129;
}
.cool {
  background-color: #30f0f3;
  border-color: #1b8687;
}
.light.cool {
  background-color: #57f3f5;
  border-color: #2e8789;
}
.dark.cool {
  background-color: #0ee9ed;
  border-color: #098384;
}
.neutral {
  background-color: #32bdcd;
  border-color: #1d6a73;
}
.light.neutral {
  background-color: #53c8d5;
  border-color: #2d7077;
}
.dark.neutral {
  background-color: #2a9fac;
  border-color: #195b62;
}
.complement,
.second.triad {
  background-color: #7e7863;
  border-color: #484539;
}
.light.complement,
.light.second.triad {
  background-color: #938d76;
  border-color: #534f42;
}
.dark.complement,
.dark.second.triad {
  background-color: #676251;
  border-color: #3d3a30;
}
.accent {
  background-color: #8879bc;
  border-color: #4b4268;
}
.light.accent {
  background-color: #a094c9;
  border-color: #57506f;
}
.dark.accent {
  background-color: #6f5eae;
  border-color: #3f3562;
}
.second.accent {
  background-color: #76a5bc;
  border-color: #415c68;
}
.light.second.accent {
  background-color: #91b7c9;
  border-color: #4e656f;
}
.dark.second.accent {
  background-color: #5a93ae;
  border-color: #335362;
}
.split {
  background-color: #885e87;
  border-color: #4e364d;
}
.light.split {
  background-color: #9d729c;
  border-color: #584058;
}
.dark.split {
  background-color: #704d6f;
  border-color: #422d41;
}
.second.split {
  background-color: #5a8b75;
  border-color: #334f43;
}
.light.second.split {
  background-color: #6da18a;
  border-color: #3d5a4d;
}
.dark.second.split {
  background-color: #4a7260;
  border-color: #2b4338;
}
.triad {
  background-color: #7e5e93;
  border-color: #483653;
}
.light.triad {
  background-color: #9274a6;
  border-color: #52405d;
}
.dark.triad {
  background-color: #694e7a;
  border-color: #3d2e47;
}
.third.triad {
  background-color: #5a8b8a;
  border-color: #334f4f;
}
.light.third.triad {
  background-color: #6da19f;
  border-color: #3d5a5a;
}
.dark.third.triad {
  background-color: #4a7271;
  border-color: #2b4343;
}
.tetrad {
  background-color: #735e93;
  border-color: #413653;
}
.light.tetrad {
  background-color: #8774a6;
  border-color: #4b405d;
}
.dark.tetrad {
  background-color: #5f4e7a;
  border-color: #372e47;
}
.second.tetrad {
  background-color: #886069;
  border-color: #4e373c;
}
.light.second.tetrad {
  background-color: #9d747d;
  border-color: #584146;
}
.dark.second.tetrad {
  background-color: #704f57;
  border-color: #422e33;
}
.third.tetrad {
  background-color: #6f8b69;
  border-color: #3f4f3b;
}
.light.third.tetrad {
  background-color: #859e7f;
  border-color: #4a5846;
}
.dark.third.tetrad {
  background-color: #5d7457;
  border-color: #364333;
}
.fourth.tetrad {
  background-color: #5a8993;
  border-color: #334e54;
}
.light.fourth.tetrad {
  background-color: #6f9da7;
  border-color: #3e585d;
}
.dark.fourth.tetrad {
  background-color: #4a727a;
  border-color: #2c4247;
}
.highlight {
  background-color: #e435ee;
  border-color: #7f1d85;
}
.light.highlight {
  background-color: #e95af1;
  border-color: #823086;
}
.dark.highlight {
  background-color: #db14e6;
  border-color: #7b0d81;
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-margin-right {
  margin-right: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.no-margin-left {
  margin-left: 0 !important;
}
.no-padding {
  padding: 0;
}
.no-margin,
.no-gutter {
  margin: 0;
}
.no-side-margin,
.no-side-margins {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.no-margins {
  margin: 0 !important;
}
.no-margins * {
  margin: 0 !important;
}
.no-box-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  box-shadow: unset;
}
.no-text-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  text-shadow: unset;
}
.no-border,
.no-borders,
.no-borders * {
  border-width: 0 !important;
}
.no-background {
  background: transparent;
}
.no-text-indent {
  text-indent: 0;
}
.no-text-align {
  text-align: initial;
}
.no-user-select {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.no-pointer-events {
  pointer-events: none;
}
.no-list-style {
  list-style-type: none;
  margin-left: 0;
}
.no-grid-gap,
.no-column-gap {
  grid-gap: 0;
  column-gap: 0;
}
@media print {
  html {
    font-size: 62.5%;
  }
  * {
    box-shadow: unset !important;
    border: unset !important;
  }
  nav {
    display: none !important;
  }
  .page-width,
  .text-width,
  .container {
    all: unset;
  }
  .inner-page-width,
  .inner-text-width,
  .inner-aside-width {
    all: unset;
  }
}
