/* This project uses Cavepaint! (MIT License) */
/* https://github.com/cavepaint/cavepaintCSS */
* {
  margin: 0 0 1.62rem 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}
.button,
button {
  border-style: solid;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(11, 36, 11, 0.16);
  display: inline;
  position: relative;
  font-family: inherit;
  font-size: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  color: inherit;
  background-color: inherit;
  border-color: #572847;
  border-width: 1px;
  line-height: 1.6;
  text-align: center;
  vertical-align: middle;
  outline: none;
  white-space: nowrap;
  text-decoration: none;
  touch-action: manipulation;
  cursor: pointer;
  transform: scale(1);
  transition: 0.08s linear;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.button:active,
button:active {
  transform: scale(0.99);
  box-shadow: unset;
}
.bar {
  position: relative;
  width: 100%;
  display: block;
  vertical-align: middle;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.bar > * {
  display: inline;
  margin-right: 0.3236em;
  margin-left: 0.3236em;
  margin-bottom: 0;
}
.card {
  position: relative;
  overflow: hidden;
  padding: 1.62rem;
  border: 1px solid #8f4274;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(11, 36, 11, 0.16);
}
.card > *:first-child {
  margin-top: 0;
}
.card > *:last-child {
  margin-bottom: 0;
}
.badge {
  border-radius: 0.5em;
  line-height: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  padding-right: 0.6472em;
  padding-left: 0.6472em;
  vertical-align: middle;
  border-radius: 99px;
  white-space: nowrap;
}
.modal {
  display: none;
  max-width: none;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  position: fixed;
  bottom: 0;
  justify-content: center;
  flex: 0 1 auto;
  flex-direction: column;
  height: 100vh;
}
.modal > * {
  flex-direction: column;
  color: #240b24;
  position: relative;
  background: #fdf4fd;
  padding: 1.62rem;
  margin-bottom: 3.24rem;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(11, 36, 11, 0.16);
  margin: 1.62rem;
}
@media screen and (min-width: 48.24rem) {
  .modal > * {
    max-width: 72rem;
    margin: 0 auto;
  }
}
.overlay {
  margin: 0;
  padding: 0;
  position: relative;
}
.overlay .top,
.overlay .bottom,
.overlay .left,
.overlay .right {
  position: absolute;
}
.overlay .top {
  top: 0.3236em;
}
.overlay .bottom {
  bottom: 0.3236em;
}
.overlay .left {
  left: 0.3236em;
}
.overlay .right {
  right: 0.3236em;
}
.overlay.stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.overlay * {
  margin: 0;
  display: block;
}
.grid,
.two-column,
.three-column {
  display: grid;
  grid-gap: 1.62rem;
}
.grid.tablet,
.two-column.tablet,
.three-column.tablet,
.grid.mobile.tablet,
.two-column.mobile.tablet,
.three-column.mobile.tablet,
.grid.desktop,
.two-column.desktop,
.three-column.desktop {
  display: initial;
}
.grid {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.two-column {
  grid-template-columns: 1fr 1fr;
}
.two-column.golden {
  grid-template-columns: 1.618fr 1fr;
}
.two-column.golden.reverse {
  grid-template-columns: 1fr 1.618fr;
}
.three-column {
  grid-template-columns: 1fr 1fr 1fr;
}
.three-column.golden {
  grid-template-columns: 1fr 1.618fr 1fr;
}
.three-column.golden.leading {
  grid-template-columns: 1.618fr 1fr 1fr;
}
.three-column.golden.trailing {
  grid-template-columns: 1fr 1fr 1.618fr;
}
.grid .grid-width-one {
  grid-column: auto / span 1;
}
.grid .grid-width-two {
  grid-column: auto / span 2;
}
.grid .grid-width-three {
  grid-column: auto / span 3;
}
.grid .grid-width-four {
  grid-column: auto / span 4;
}
.grid .grid-width-five {
  grid-column: auto / span 5;
}
.grid .grid-width-six {
  grid-column: auto / span 6;
}
.grid .grid-width-seven {
  grid-column: auto / span 7;
}
.grid .grid-width-eight {
  grid-column: auto / span 8;
}
.grid .grid-width-nine {
  grid-column: auto / span 9;
}
.grid .grid-width-ten {
  grid-column: auto / span 10;
}
.grid .grid-width-eleven {
  grid-column: auto / span 11;
}
.grid .grid-width-twelve {
  grid-column: auto / span 12;
}
@media screen and (max-width: calc(48.24rem - 1px)) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: grid;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 48.24rem) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: initial;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: initial;
  }
  .grid.tablet,
  .two-column.tablet,
  .three-column.tablet {
    display: grid;
  }
  .grid.tablet > *,
  .two-column.tablet > *,
  .three-column.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (max-width: calc(72rem - 1px)) {
  .grid.mobile.tablet,
  .two-column.mobile.tablet,
  .three-column.mobile.tablet {
    display: grid;
  }
  .grid.mobile.tablet > *,
  .two-column.mobile.tablet > *,
  .three-column.mobile.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 72rem) {
  .grid.desktop,
  .two-column.desktop,
  .three-column.desktop {
    display: grid;
  }
  .grid.desktop > *,
  .two-column.desktop > *,
  .three-column.desktop > * {
    margin-bottom: 0;
  }
}
.responsive {
  column-gap: 0.619rem;
  grid-gap: 0.619rem;
}
.responsive.padding,
.modal,
.container {
  padding: 0.619rem;
}
.responsive.margin,
.container {
  margin: 0.619rem;
}
.responsive.gutter {
  margin: 1.238rem;
}
@media screen and (min-width: 48.24rem) {
  .responsive {
    column-gap: 1.001rem;
    grid-gap: 1.001rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.001rem;
  }
  .responsive.margin,
  .container {
    margin: 1.001rem;
  }
  .responsive.gutter {
    margin: 2.002rem;
  }
}
@media screen and (min-width: 72rem) {
  .responsive {
    column-gap: 1.62rem;
    grid-gap: 1.62rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.62rem;
  }
  .responsive.margin,
  .container {
    margin: 1.62rem;
  }
  .responsive.gutter {
    margin: 3.24rem;
  }
}
.background {
  background: #fdf4fd;
}
.background-color {
  background-color: #fdf4fd;
}
.border {
  border: 1px solid #8f4274;
}
.border-radius,
.rounded {
  border-radius: 0.5em;
}
.border-bottom {
  border-bottom: 1px solid #8f4274;
}
.border-left {
  border-left: 1px solid #8f4274;
}
.border-right {
  border-right: 1px solid #8f4274;
}
.border-style,
.button.border,
button.border {
  border-style: solid;
}
.border-top {
  border-top: 1px solid #8f4274;
}
.border-width,
.button.border,
button.border {
  border-width: 1px;
}
.max-width {
  max-width: 72rem;
}
.min-width {
  min-width: 27rem;
}
.align-content {
  align-content: stretch;
}
.align-items {
  align-items: stretch;
}
.align-self {
  align-self: auto;
}
.flex,
.vertical-center,
.center-vertical {
  flex: 0 1 auto;
}
.flex-basis {
  flex-basis: auto;
}
.flex-direction,
.vertical-center,
.center-vertical {
  flex-direction: column;
}
.flex-flow {
  flex-flow: column nowrap;
}
.flex-grow {
  flex-grow: 0;
}
.flex-shrink {
  flex-shrink: 1;
}
.flex-wrap {
  flex-wrap: nowrap;
}
.justify-content,
.vertical-center,
.center-vertical {
  justify-content: center;
}
.font-family {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
}
.font-size {
  font-size: 17px;
}
.font-weight {
  font-weight: normal;
}
.list-style {
  list-style: disc inside none;
}
.list-style-type {
  list-style-type: disc;
}
.margin {
  margin: 1.62rem;
}
.margin-bottom {
  margin-bottom: 1.62rem;
}
.margin-left {
  margin-left: 1.62rem;
}
.margin-right {
  margin-right: 1.62rem;
}
.margin-top {
  margin-top: 1.62rem;
}
.column-gap {
  column-gap: 1.94em;
}
.column-rule {
  column-rule: 1px solid #8f4274;
}
.padding {
  padding: 1.62rem;
}
.padding-bottom {
  padding-bottom: 1.62rem;
}
.padding-left {
  padding-left: 1.62rem;
}
.padding-right {
  padding-right: 1.62rem;
}
.padding-top {
  padding-top: 1.62rem;
}
.text-align {
  text-align: left;
}
.text-align-last {
  text-align-last: left;
}
.text-indent {
  text-indent: 2ch;
}
.text-justify {
  text-justify: justify;
}
.text-overflow {
  text-overflow: hidden;
}
.text-shadow {
  text-shadow: 1.41px 1.41px 1.41px rgba(11, 36, 11, 0.16);
}
.line-height {
  line-height: 1.8;
}
.vertical-align {
  vertical-align: middle;
}
.letter-spacing {
  letter-spacing: 0;
}
.word-spacing {
  word-spacing: normal;
}
.white-space {
  white-space: nowrap;
}
.word-break {
  word-break: break-all;
}
.word-wrap {
  word-wrap: break-word;
}
.transform {
  transform: none;
}
.transition {
  transition: all 0s ease 0s;
}
.display {
  display: block;
}
.position {
  position: absolute;
}
.top {
  top: 0;
}
.right {
  right: 0;
}
.bottom {
  bottom: 0;
}
.left {
  left: 0;
}
.float {
  float: left;
}
.clear {
  clear: both;
}
.z-index {
  z-index: 10;
}
.overflow {
  overflow: hidden;
}
.overflow-x {
  overflow-x: hidden;
}
.cursor {
  cursor: pointer;
}
.box-shadow {
  box-shadow: 1.41px 1.41px 1.41px rgba(11, 36, 11, 0.16);
}
.gutter {
  margin: 3.24rem;
}
.gutter-top {
  margin-top: 3.24rem;
}
.gutter-right {
  margin-right: 3.24rem;
}
.gutter-bottom {
  margin-bottom: 3.24rem;
}
.gutter-left {
  margin-left: 3.24rem;
}
.text-padding {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-padding-top {
  padding-top: 0.18em;
}
.text-padding-right {
  padding-right: 0.3236em;
}
.text-padding-bottom {
  padding-bottom: 0.22em;
}
.text-padding-left {
  padding-left: 0.3236em;
}
.text-margin {
  margin: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-margin-top {
  margin-top: 0.18em;
}
.text-margin-right {
  margin-right: 0.3236em;
}
.text-margin-bottom {
  margin-bottom: 0.22em;
}
.text-margin-left {
  margin-left: 0.3236em;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.initial {
  display: initial;
}
.table {
  display: table;
}
.flex,
.vertical-center,
.center-vertical {
  display: flex;
}
.inline-block {
  display: inline-block;
}
.static {
  position: static;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.margin-auto,
.container {
  margin-left: auto;
  margin-right: auto;
}
.width-auto {
  width: auto;
}
.inset {
  box-shadow: inset 1.41px 1.41px 1.41px rgba(11, 36, 11, 0.16);
}
.viewport-height {
  height: 100vh;
}
.min-viewport-height {
  min-height: 100vh;
}
.overflow-hidden {
  overflow: hidden;
}
.dashed {
  border-style: dashed;
}
.dotted {
  border-style: dotted;
}
.thick {
  border-width: 2px;
}
.thin {
  border-width: 0.5px;
}
.current-color {
  border-color: currentColor;
}
.fade {
  opacity: 0.65;
}
.serif,
.font-family-serif {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "Droid Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
.monospace,
.font-family-monospace {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
}
.sans-serif,
.font-family-sans-serif {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.text-transparent {
  color: transparent;
}
.reset {
  all: initial;
}
.big {
  font-size: 125%;
  line-height: 2.25;
}
.big.font-size {
  font-size: 21.25px;
}
.small,
.badge {
  font-size: 87.5%;
  line-height: 1.575;
}
.small.font-size {
  font-size: 14.875px;
}
.huge {
  font-size: 160%;
}
.huge.font-size {
  font-size: 27.2px;
}
.text-trim {
  line-height: 1;
}
.text-align-center,
.text-center {
  text-align: center;
}
.text-align-left,
.text-left {
  text-align: left;
}
.text-align-right,
.text-right {
  text-align: right;
}
.text-align-justify,
.text-justify {
  text-align: justify;
}
.grid-gap-margin {
  grid-gap: 1.62rem;
}
.grid-gap-border-width {
  grid-gap: 1px;
}
.grid-gap-text-padding,
.grid-gap-text-margin {
  grid-gap: 0.3236em;
}
.shade,
.white,
.orange,
.yellow,
.light.olive,
.cyan,
.skyblue,
.violet,
.light.magenta,
.lavender,
.cream,
.light.clover,
.pewter,
.light.hotpink,
.neongreen,
.electricblue,
.lemon,
.lime,
.tangerine,
body,
input,
textarea,
.info,
.warning {
  color: #240b24;
}
.tint,
.black,
.red,
.olive,
.green,
.teal,
.blue,
.indigo,
.purple,
.dark.violet,
.gray,
.brown,
.magenta,
.charcoal,
.crimson,
.clover,
.cobalt,
.graphite,
.ruby,
.onyx,
.dark.pewter,
.gunmetal,
.hotpink,
.dark.electricblue,
.royalpurple,
.grapefruit,
.reaction,
.default,
.success,
.failure {
  color: #fdf4fd;
}
.transparent {
  background-color: transparent;
  color: inherit;
  border-color: inherit;
}
.transparent.light {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23FFF%22%20fill-opacity%3D%220.16%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.transparent.dark,
.modal {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23000%22%20fill-opacity%3D%220.25%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.trim,
.trim-inner *,
.trim-all,
.trim-all * {
  margin-bottom: 0;
}
.hidden {
  display: none !important;
}
.clearfix,
.clear {
  clear: both;
}
.clearfix::after,
.clear::after {
  display: block;
  clear: both;
  content: "";
}
.golden-width {
  max-width: calc(62% - 3.24rem);
}
.golden-width.reverse {
  max-width: 38%;
}
.aside-width {
  max-width: 27rem;
}
@media screen and (min-width: 48.24rem) {
  .text-width {
    max-width: 45rem;
  }
}
.page-width,
.container {
  max-width: 72rem;
}
.full-width,
.aside-width .aside-width,
.text-width .text-width,
.page-width .page-width {
  display: block;
  width: 100%;
}
.inner-aside-width {
  padding-left: calc(50% - 13.5rem);
  padding-right: calc(50% - 13.5rem);
}
.inner-aside-width.padding {
  padding-left: calc(50% - 11.88rem);
  padding-right: calc(50% - 11.88rem);
}
.inner-aside-width.responsive.padding {
  padding-left: calc(50% - 12.88rem);
  padding-right: calc(50% - 12.88rem);
}
.inner-text-width {
  padding-left: calc(50% - 22.5rem);
  padding-right: calc(50% - 22.5rem);
}
.inner-text-width.padding {
  padding-left: calc(50% - 20.88rem);
  padding-right: calc(50% - 20.88rem);
}
.inner-text-width.responsive.padding {
  padding-left: calc(50% - 21.88rem);
  padding-right: calc(50% - 21.88rem);
}
.inner-page-width {
  padding-left: calc(50% - 36rem);
  padding-right: calc(50% - 36rem);
}
.inner-page-width.padding {
  padding-left: calc(50% - 34.38rem);
  padding-right: calc(50% - 34.38rem);
}
.inner-page-width.responsive.padding {
  padding-left: calc(50% - 35.38rem);
  padding-right: calc(50% - 35.38rem);
}
@media screen and (max-width: calc(48.24rem - 1px)) {
  .inner-text-width {
    padding-left: initial;
    padding-right: initial;
  }
  .inner-text-width.padding {
    padding-left: 1.62rem;
    padding-right: 1.62rem;
  }
  .inner-text-width.responsive.padding {
    padding-left: 0.619rem;
    padding-right: 0.619rem;
  }
}
@media screen and (min-width: 48.24rem) {
  .inner-aside-width.tablet.padding {
    padding-left: calc(50% - 11.88rem);
    padding-right: calc(50% - 11.88rem);
  }
  .inner-aside-width.tablet.responsive.padding {
    padding-left: calc(50% - 12.5rem);
    padding-right: calc(50% - 12.5rem);
  }
  .inner-text-width.tablet.padding {
    padding-left: calc(50% - 20.88rem);
    padding-right: calc(50% - 20.88rem);
  }
  .inner-text-width.tablet.responsive.padding {
    padding-left: calc(50% - 21.5rem);
    padding-right: calc(50% - 21.5rem);
  }
  .inner-page-width.tablet.padding {
    padding-left: calc(50% - 34.38rem);
    padding-right: calc(50% - 34.38rem);
  }
  .inner-page-width.tablet.responsive.padding {
    padding-left: calc(50% - 35rem);
    padding-right: calc(50% - 35rem);
  }
}
@media screen and (min-width: 72rem) {
  .inner-aside-width.desktop.padding {
    padding-left: calc(50% - 11.88rem);
    padding-right: calc(50% - 11.88rem);
  }
  .inner-aside-width.desktop.responsive.padding {
    padding-left: calc(50% - 11.88rem);
    padding-right: calc(50% - 11.88rem);
  }
  .inner-text-width.desktop.padding {
    padding-left: calc(50% - 20.88rem);
    padding-right: calc(50% - 20.88rem);
  }
  .inner-text-width.desktop.responsive.padding {
    padding-left: calc(50% - 20.88rem);
    padding-right: calc(50% - 20.88rem);
  }
  .inner-page-width.desktop.padding {
    padding-left: calc(50% - 34.38rem);
    padding-right: calc(50% - 34.38rem);
  }
  .inner-page-width.desktop.responsive.padding {
    padding-left: calc(50% - 34.38rem);
    padding-right: calc(50% - 34.38rem);
  }
}
@media screen and (max-width: calc(72rem - 1px)) {
  .inner-page-width {
    padding-left: initial;
    padding-right: initial;
  }
  .inner-page-width.padding {
    padding-left: 1.62rem;
    padding-right: 1.62rem;
  }
  .inner-page-width.responsive.padding {
    padding-left: 0.619rem;
    padding-right: 0.619rem;
  }
}
.texture,
.pattern {
  background-position: top center;
}
.texture {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20width%3D'80'%20height%3D'48'%3E%3Cpath%20d%3D'M19%200v11H0v26h19v11h2V37h38v11h2V37h19V11H61V0h-2v11H21V0h-2zM1%2013h38v22H1V13zm40%200h38v22H41V13z'%20fill%3D'%23fdf4fd'%20fill-opacity%3D'0.16'/%3E%3C/svg%3E");
}
.pattern {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20width%3D'80'%20height%3D'50'%20viewBox%3D'0%200%2021.167%2013.229'%3E%3Cpath%20fill%3D'%23fdf4fd'%20opacity%3D'0.16'%20d%3D'M0%200h21.167v6.615H0z'/%3E%3C/svg%3E");
}
.placeholder::before {
  content: " ";
  white-space: pre;
}
.placeholder::after {
  content: "";
}
.placeholder.image,
.placeholder.video,
.placeholder.avatar {
  position: relative;
}
.placeholder.image::before,
.placeholder.video::before,
.placeholder.avatar::before {
  position: absolute;
  top: calc(50% - 4rem);
  right: 0;
  bottom: 0;
  left: 0;
  display: inline-block;
  text-align: center;
  font-size: 4rem;
  vertical-align: middle;
}
.placeholder.image.small::before,
.placeholder.video.small::before,
.placeholder.avatar.small::before {
  top: calc(50% - 2rem);
  font-size: 2rem;
}
.placeholder.image.big::before,
.placeholder.video.big::before,
.placeholder.avatar.big::before {
  top: calc(50% - 6rem);
  font-size: 6rem;
}
.placeholder.image.huge::before,
.placeholder.video.huge::before,
.placeholder.avatar.huge::before {
  top: calc(50% - 8rem);
  font-size: 8rem;
}
.placeholder.image::after,
.placeholder.video::after,
.placeholder.avatar::after {
  display: block;
}
.placeholder.image::before {
  content: "\1f5bc";
}
.placeholder.image::after {
  padding-top: 75%;
}
.placeholder.video::before {
  content: "\25B6";
}
.placeholder.video::after {
  padding-top: 56.25%;
}
.placeholder.avatar::before {
  content: "\263A";
}
.placeholder.avatar::after {
  padding-top: 100%;
}
.placeholder.no-icon::before {
  content: "";
}
.hide {
  display: none;
}
.hide.tablet {
  display: initial;
}
.hide.desktop {
  display: initial;
}
@media screen and (max-width: calc(48.24rem - 1px)) {
  .hide.mobile {
    display: none;
  }
}
@media screen and (min-width: 48.24rem) {
  .hide.mobile {
    display: initial;
  }
  .hide.tablet {
    display: none;
  }
}
@media screen and (min-width: 72rem) {
  .hide.desktop {
    display: none;
  }
  .hide.mobile.tablet {
    display: initial;
  }
}
@media screen and (max-width: calc(72rem - 1px)) {
  .hide.mobile.tablet {
    display: none;
  }
}
body {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
  font-size: 17px;
  line-height: 1.8;
  margin: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
nav {
  z-index: 99;
}
nav a {
  text-decoration: none;
}
aside {
  margin: 0 auto;
  margin-bottom: 1.62rem;
  max-width: 27rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
  font-weight: bold;
  margin-top: 0.49443758em;
  margin-bottom: 0.74165637em;
  letter-spacing: -0.025em;
  color: inherit;
  line-height: 1.618;
}
h1 {
  font-size: 2.4em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1em;
}
p {
  margin-bottom: 1em;
}
p.gutter-bottom {
  margin-bottom: 1.618em;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: inherit;
  text-decoration: underline;
}
a.target-blank::after,
a.new-tab::after,
a.external-link::after {
  content: "\00A0\1F855";
}
form {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
  font-size: 17px;
  line-height: 1.8;
  border: 1px solid #8f4274;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input:focus {
  box-shadow: 0 0 2px #88b1e0;
}
fieldset {
  border: none;
  outline: none;
}
ol {
  padding-left: 4ch;
  margin-bottom: 1.62rem;
}
ol li {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
ul {
  margin-left: 1.62rem;
  margin-bottom: 1.62rem;
}
li {
  margin-bottom: 0.44em;
}
kbd {
  color: #fdf4fd;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  white-space: nowrap;
}
b {
  padding: 0.18em 0 0.22em 0;
}
pre {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
  overflow: hidden;
  border-radius: 0.5em;
  background: #3e323d;
  color: #fdf4fd;
}
pre.white-space,
pre.word-break {
  white-space: pre-wrap;
}
pre > code {
  background: transparent;
  padding: 0;
}
code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
  color: #fdf4fd;
  background-color: #332e5b;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
code.terminal::before {
  content: "$ ";
}
textarea {
  font-size: 17px;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
  line-height: 1.8;
  border: 1px solid #8f4274;
  border-radius: 0.5em;
  margin-bottom: 1.62rem;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
textarea:focus {
  box-shadow: 0 0 2px #88b1e0;
}
.white,
body,
input,
textarea {
  background-color: #fdf4fd;
  border-color: #897c89;
}
.black {
  background-color: #240b24;
  border-color: #120612;
}
.ambient {
  color: #fdf4fd;
  background: #e145e2;
  border-color: #7b257c;
}
.ambient.light {
  color: #240b24;
  background: #e669e8;
  border-color: #7e367f;
}
.ambient.dark {
  color: #fdf4fd;
  background: #db22dd;
  border-color: #781379;
}
.red,
.failure {
  background-color: #e20222;
  border-color: #7d0213;
}
.light.red,
.light.failure {
  background-color: #fc1132;
  border-color: #8a091b;
}
.dark.red,
.dark.failure {
  background-color: #ba021c;
  border-color: #690210;
}
.orange,
.warning {
  background-color: #f89420;
  border-color: #885111;
}
.light.orange,
.light.warning {
  background-color: #f9a748;
  border-color: #885a25;
}
.dark.orange,
.dark.warning {
  background-color: #e88007;
  border-color: #804705;
}
.yellow {
  background-color: #f1dd21;
  border-color: #847912;
}
.light.yellow {
  background-color: #f3e347;
  border-color: #857c25;
}
.dark.yellow {
  background-color: #dac70e;
  border-color: #796e08;
}
.olive {
  background-color: #917822;
  border-color: #534513;
}
.light.olive {
  background-color: #b2942a;
  border-color: #635217;
}
.dark.olive {
  background-color: #705d1a;
  border-color: #423710;
}
.green,
.success {
  background-color: #217821;
  border-color: #134614;
}
.light.green,
.light.success {
  background-color: #2a982a;
  border-color: #185618;
}
.dark.green,
.dark.success {
  background-color: #185818;
  border-color: #0f360f;
}
.teal {
  background-color: #217891;
  border-color: #134553;
}
.light.teal {
  background-color: #2994b3;
  border-color: #175264;
}
.dark.teal {
  background-color: #1a5d70;
  border-color: #0f3742;
}
.cyan {
  background-color: #31d4f2;
  border-color: #1a7484;
}
.light.cyan {
  background-color: #57dcf4;
  border-color: #2d7886;
}
.dark.cyan {
  background-color: #0fc9ea;
  border-color: #096e81;
}
.skyblue,
.info {
  background-color: #88b1e0;
  border-color: #475e7a;
}
.light.skyblue,
.light.info {
  background-color: #a9c6e8;
  border-color: #57697e;
}
.dark.skyblue,
.dark.info {
  background-color: #689bd7;
  border-color: #375476;
}
.blue {
  background-color: #2001f1;
  border-color: #120184;
}
.light.blue {
  background-color: #3a1dfe;
  border-color: #1f0f8b;
}
.dark.blue {
  background-color: #1b01c8;
  border-color: #100170;
}
.indigo {
  background-color: #620292;
  border-color: #390255;
}
.light.indigo {
  background-color: #7d02bb;
  border-color: #470269;
}
.dark.indigo {
  background-color: #47016a;
  border-color: #2c0241;
}
.purple {
  background-color: #920492;
  border-color: #550355;
}
.light.purple {
  background-color: #ba05ba;
  border-color: #690369;
}
.dark.purple {
  background-color: #6a036a;
  border-color: #410241;
}
.violet {
  background-color: #e26be2;
  border-color: #7c387c;
}
.light.violet {
  background-color: #e98de9;
  border-color: #7f497f;
}
.dark.violet {
  background-color: #db49dc;
  border-color: #782778;
}
.gray {
  background-color: #8a6e88;
  border-color: #4d3c4c;
}
.light.gray {
  background-color: #9d849b;
  border-color: #564755;
}
.dark.gray {
  background-color: #735c72;
  border-color: #413340;
}
.brown {
  background-color: #9f4c38;
  border-color: #592a1f;
}
.light.brown {
  background-color: #bd5b43;
  border-color: #683225;
}
.dark.brown {
  background-color: #813e2d;
  border-color: #4a231a;
}
.magenta {
  background-color: #d703d7;
  border-color: #770377;
}
.light.magenta {
  background-color: #fb08fb;
  border-color: #890589;
}
.dark.magenta {
  background-color: #af03af;
  border-color: #630263;
}
.lavender {
  background-color: #cab2de;
  border-color: #6c5c78;
}
.light.lavender {
  background-color: #deceea;
  border-color: #756b7e;
}
.dark.lavender {
  background-color: #b795d2;
  border-color: #624e72;
}
.cream {
  background-color: #ebe2cf;
  border-color: #7f786b;
}
.light.cream {
  background-color: #f7f3ec;
  border-color: #85817a;
}
.dark.cream {
  background-color: #dfd0b3;
  border-color: #796f5d;
}
.charcoal {
  background-color: #613146;
  border-color: #391c29;
}
.light.charcoal {
  background-color: #7d3e59;
  border-color: #472333;
}
.dark.charcoal {
  background-color: #462332;
  border-color: #2c151f;
}
.crimson {
  background-color: #b00a2b;
  border-color: #640719;
}
.light.crimson {
  background-color: #d70d34;
  border-color: #77081e;
}
.dark.crimson {
  background-color: #8a0822;
  border-color: #500514;
}
.clover {
  background-color: #559933;
  border-color: #30561d;
}
.light.clover {
  background-color: #65b83e;
  border-color: #386622;
}
.dark.clover {
  background-color: #447b29;
  border-color: #274718;
}
.cobalt {
  background-color: #326fce;
  border-color: #1c3d71;
}
.light.cobalt {
  background-color: #5386d6;
  border-color: #2c4975;
}
.dark.cobalt {
  background-color: #2a5dad;
  border-color: #173461;
}
.graphite {
  background-color: #332e5b;
  border-color: #1e1b36;
}
.light.graphite {
  background-color: #433b76;
  border-color: #262244;
}
.dark.graphite {
  background-color: #242040;
  border-color: #171429;
}
.ruby {
  background-color: #b3014f;
  border-color: #65012d;
}
.light.ruby {
  background-color: #db0261;
  border-color: #7a0236;
}
.dark.ruby {
  background-color: #8a013d;
  border-color: #510124;
}
.onyx {
  background-color: #3e323d;
  border-color: #271e26;
}
.light.onyx {
  background-color: #554553;
  border-color: #322731;
}
.dark.onyx {
  background-color: #282027;
  border-color: #1c151b;
}
.pewter {
  background-color: #a0948c;
  border-color: #57504b;
}
.light.pewter {
  background-color: #b2a9a2;
  border-color: #615b56;
}
.dark.pewter {
  background-color: #8d8076;
  border-color: #4e4640;
}
.gunmetal {
  background-color: #574d78;
  border-color: #312b44;
}
.light.gunmetal {
  background-color: #685d90;
  border-color: #3a3351;
}
.dark.gunmetal {
  background-color: #453d5f;
  border-color: #282338;
}
.hotpink {
  background-color: #e852a4;
  border-color: #7f2b59;
}
.light.hotpink {
  background-color: #ed76b7;
  border-color: #813d62;
}
.dark.hotpink {
  background-color: #e32e91;
  border-color: #7c194f;
}
.neongreen {
  background-color: #3fde20;
  border-color: #237a12;
}
.light.neongreen {
  background-color: #5de443;
  border-color: #327d23;
}
.dark.neongreen {
  background-color: #35bb1b;
  border-color: #1e680f;
}
.electricblue {
  background-color: #3eaad8;
  border-color: #215d76;
}
.light.electricblue {
  background-color: #60b9df;
  border-color: #32647a;
}
.dark.electricblue {
  background-color: #2896c5;
  border-color: #16536d;
}
.royalpurple {
  background-color: #672d93;
  border-color: #3a1a53;
}
.light.royalpurple {
  background-color: #7d37b3;
  border-color: #451f63;
}
.dark.royalpurple {
  background-color: #512474;
  border-color: #301544;
}
.lemon {
  background-color: #f7ed96;
  border-color: #87814c;
}
.light.lemon {
  background-color: #faf3bc;
  border-color: #88845f;
}
.dark.lemon {
  background-color: #f4e670;
  border-color: #867d39;
}
.lime {
  background-color: #9ed396;
  border-color: #54734e;
}
.light.lime {
  background-color: #b9dfb3;
  border-color: #61795d;
}
.dark.lime {
  background-color: #84c779;
  border-color: #466d40;
}
.tangerine {
  background-color: #f09e5a;
  border-color: #83552f;
}
.light.tangerine {
  background-color: #f3b480;
  border-color: #856041;
}
.dark.tangerine {
  background-color: #ec8735;
  border-color: #814a1c;
}
.grapefruit {
  background-color: #cf2b5d;
  border-color: #721833;
}
.light.grapefruit {
  background-color: #d94a75;
  border-color: #772740;
}
.dark.grapefruit {
  background-color: #ad244e;
  border-color: #61142c;
}
.action,
.base-color {
  color: #fdf4fd;
  background: #a13aa3;
  border-color: #5a205b;
}
.action.light,
.base-color.light {
  color: #fdf4fd;
  background: #bc48be;
  border-color: #672768;
}
.action.dark,
.base-color.dark {
  color: #fdf4fd;
  background: #832f85;
  border-color: #4b1b4c;
}
.reaction {
  background-color: #426341;
  border-color: #253a25;
}
.light.reaction {
  background-color: #527b51;
  border-color: #2e462d;
}
.dark.reaction {
  background-color: #314a31;
  border-color: #1d2d1d;
}
.default {
  background-color: #8f4274;
  border-color: #512541;
}
.light.default {
  background-color: #ab4f8b;
  border-color: #5f2b4d;
}
.dark.default {
  background-color: #73355e;
  border-color: #431e36;
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-margin-right {
  margin-right: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.no-margin-left {
  margin-left: 0 !important;
}
.no-padding {
  padding: 0;
}
.no-margin,
.no-gutter {
  margin: 0;
}
.no-side-margin,
.no-side-margins {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.no-margins {
  margin: 0 !important;
}
.no-margins * {
  margin: 0 !important;
}
.no-box-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  box-shadow: unset;
}
.no-text-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  text-shadow: unset;
}
.no-border,
.no-borders,
.no-borders * {
  border-width: 0 !important;
}
.no-background {
  background: transparent;
}
.no-text-indent {
  text-indent: 0;
}
.no-text-align {
  text-align: initial;
}
.no-user-select {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.no-pointer-events {
  pointer-events: none;
}
.no-list-style {
  list-style-type: none;
  margin-left: 0;
}
.no-grid-gap,
.no-column-gap {
  grid-gap: 0;
  column-gap: 0;
}
@media print {
  html {
    font-size: 62.5%;
  }
  * {
    box-shadow: unset !important;
    border: unset !important;
  }
  nav {
    display: none !important;
  }
  .page-width,
  .text-width,
  .container {
    all: unset;
  }
  .inner-page-width,
  .inner-text-width,
  .inner-aside-width {
    all: unset;
  }
}
