/* This project uses Cavepaint (MIT License) by Rex Riepe */
/* https://github.com/cavepaint/cavepaintCSS */
* {
  margin: 0 0 1.62rem 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  margin-bottom: 0;
}
.button,
button {
  border-style: solid;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(28, 1, 40, 0.16);
  display: inline;
  position: relative;
  font-family: inherit;
  font-size: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  color: inherit;
  background-color: inherit;
  border-color: #2e6f16;
  border-width: 1px;
  line-height: 1.6;
  text-align: center;
  vertical-align: middle;
  outline: none;
  white-space: nowrap;
  text-decoration: none;
  touch-action: manipulation;
  cursor: pointer;
  transform: scale(1);
  transition: 0.08s linear;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.button:active,
button:active {
  transform: scale(0.99);
  box-shadow: unset;
}
.bar {
  position: relative;
  width: 100%;
  display: block;
  vertical-align: middle;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.bar > * {
  display: inline;
  margin-right: 0.3236em;
  margin-left: 0.3236em;
  margin-bottom: 0;
}
.card {
  position: relative;
  overflow: hidden;
  padding: 1.62rem;
  border: 1px solid #4ab323;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(28, 1, 40, 0.16);
}
.card > *:first-child {
  margin-top: 0;
}
.card > *:last-child {
  margin-bottom: 0;
}
.badge {
  border-radius: 0.5em;
  line-height: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  padding-right: 0.6472em;
  padding-left: 0.6472em;
  vertical-align: middle;
  border-radius: 99px;
  white-space: nowrap;
}
.modal {
  display: none;
  max-width: none;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  position: fixed;
  bottom: 0;
  justify-content: center;
  flex: 0 1 auto;
  flex-direction: column;
  height: 100vh;
}
.modal > * {
  flex-direction: column;
  color: #0d2801;
  position: relative;
  background: #f5fff0;
  padding: 1.62rem;
  margin-bottom: 3.24rem;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(28, 1, 40, 0.16);
  margin: 1.62rem;
}
@media screen and (min-width: 48.24rem) {
  .modal > * {
    max-width: 72rem;
    margin: 0 auto;
  }
}
.overlay {
  margin: 0;
  padding: 0;
  position: relative;
}
.overlay .top,
.overlay .bottom,
.overlay .left,
.overlay .right {
  position: absolute;
}
.overlay .top {
  top: 0.3236em;
}
.overlay .bottom {
  bottom: 0.3236em;
}
.overlay .left {
  left: 0.3236em;
}
.overlay .right {
  right: 0.3236em;
}
.overlay.stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.overlay * {
  margin: 0;
  display: block;
}
.grid,
.two-column,
.three-column {
  display: grid;
  grid-gap: 1.62rem;
}
.grid.tablet,
.two-column.tablet,
.three-column.tablet,
.grid.mobile.tablet,
.two-column.mobile.tablet,
.three-column.mobile.tablet,
.grid.desktop,
.two-column.desktop,
.three-column.desktop {
  display: initial;
}
.grid {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.two-column {
  grid-template-columns: 1fr 1fr;
}
.two-column.golden {
  grid-template-columns: 1.618fr 1fr;
}
.two-column.golden.reverse {
  grid-template-columns: 1fr 1.618fr;
}
.three-column {
  grid-template-columns: 1fr 1fr 1fr;
}
.three-column.golden {
  grid-template-columns: 1fr 1.618fr 1fr;
}
.three-column.golden.leading {
  grid-template-columns: 1.618fr 1fr 1fr;
}
.three-column.golden.trailing {
  grid-template-columns: 1fr 1fr 1.618fr;
}
.grid-width-one {
  grid-column: auto / span 1;
}
.grid-width-two {
  grid-column: auto / span 2;
}
.grid-width-three {
  grid-column: auto / span 3;
}
.grid-width-four {
  grid-column: auto / span 4;
}
.grid-width-five {
  grid-column: auto / span 5;
}
.grid-width-six {
  grid-column: auto / span 6;
}
.grid-width-seven {
  grid-column: auto / span 7;
}
.grid-width-eight {
  grid-column: auto / span 8;
}
.grid-width-nine {
  grid-column: auto / span 9;
}
.grid-width-ten {
  grid-column: auto / span 10;
}
.grid-width-eleven {
  grid-column: auto / span 11;
}
.grid-width-twelve {
  grid-column: auto / span 12;
}
@media screen and (max-width: calc(48.24rem - 1px)) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: grid;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 48.24rem) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: initial;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: initial;
  }
  .grid.tablet,
  .two-column.tablet,
  .three-column.tablet {
    display: grid;
  }
  .grid.tablet > *,
  .two-column.tablet > *,
  .three-column.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (max-width: calc(72rem - 1px)) {
  .grid.mobile.tablet,
  .two-column.mobile.tablet,
  .three-column.mobile.tablet {
    display: grid;
  }
  .grid.mobile.tablet > *,
  .two-column.mobile.tablet > *,
  .three-column.mobile.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 72rem) {
  .grid.desktop,
  .two-column.desktop,
  .three-column.desktop {
    display: grid;
  }
  .grid.desktop > *,
  .two-column.desktop > *,
  .three-column.desktop > * {
    margin-bottom: 0;
  }
}
.responsive {
  column-gap: 0.619rem;
  grid-gap: 0.619rem;
}
.responsive.padding,
.modal,
.container {
  padding: 0.619rem;
}
.responsive.margin,
.container {
  margin: 0.619rem;
}
.responsive.gutter {
  margin: 1.238rem;
}
@media screen and (min-width: 48.24rem) {
  .responsive {
    column-gap: 1.001rem;
    grid-gap: 1.001rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.001rem;
  }
  .responsive.margin,
  .container {
    margin: 1.001rem;
  }
  .responsive.gutter {
    margin: 2.002rem;
  }
}
@media screen and (min-width: 72rem) {
  .responsive {
    column-gap: 1.62rem;
    grid-gap: 1.62rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.62rem;
  }
  .responsive.margin,
  .container {
    margin: 1.62rem;
  }
  .responsive.gutter {
    margin: 3.24rem;
  }
}
.background {
  background: #f5fff0;
}
.background-color {
  background-color: #f5fff0;
}
.border {
  border: 1px solid #4ab323;
}
.border-radius,
.rounded {
  border-radius: 0.5em;
}
.border-bottom {
  border-bottom: 1px solid #4ab323;
}
.border-left {
  border-left: 1px solid #4ab323;
}
.border-right {
  border-right: 1px solid #4ab323;
}
.border-style,
.button.border,
button.border {
  border-style: solid;
}
.border-top {
  border-top: 1px solid #4ab323;
}
.border-width,
.button.border,
button.border {
  border-width: 1px;
}
.max-width {
  max-width: 72rem;
}
.min-width {
  min-width: 27rem;
}
.align-content {
  align-content: stretch;
}
.align-items {
  align-items: stretch;
}
.align-self {
  align-self: auto;
}
.flex,
.vertical-center,
.center-vertical {
  flex: 0 1 auto;
}
.flex-basis {
  flex-basis: auto;
}
.flex-direction,
.vertical-center,
.center-vertical {
  flex-direction: column;
}
.flex-flow {
  flex-flow: column nowrap;
}
.flex-grow {
  flex-grow: 0;
}
.flex-shrink {
  flex-shrink: 1;
}
.flex-wrap {
  flex-wrap: nowrap;
}
.justify-content,
.vertical-center,
.center-vertical {
  justify-content: center;
}
.font-family,
body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
}
.font-size {
  font-size: 15px;
}
.font-weight {
  font-weight: normal;
}
.list-style {
  list-style: disc inside none;
}
.list-style-type {
  list-style-type: disc;
}
.margin {
  margin: 1.62rem;
}
.margin-bottom {
  margin-bottom: 1.62rem;
}
.margin-left {
  margin-left: 1.62rem;
}
.margin-right {
  margin-right: 1.62rem;
}
.margin-top {
  margin-top: 1.62rem;
}
.column-gap {
  column-gap: 1.94em;
}
.column-rule {
  column-rule: 1px solid #4ab323;
}
.padding {
  padding: 1.62rem;
}
.padding-bottom {
  padding-bottom: 1.62rem;
}
.padding-left {
  padding-left: 1.62rem;
}
.padding-right {
  padding-right: 1.62rem;
}
.padding-top {
  padding-top: 1.62rem;
}
.text-align {
  text-align: left;
}
.text-align-last {
  text-align-last: left;
}
.text-indent {
  text-indent: 2ch;
}
.text-justify {
  text-justify: justify;
}
.text-overflow {
  text-overflow: hidden;
}
.text-shadow {
  text-shadow: 1.41px 1.41px 1.41px rgba(28, 1, 40, 0.16);
}
.line-height {
  line-height: 1.8;
}
.vertical-align {
  vertical-align: middle;
}
.letter-spacing {
  letter-spacing: 0;
}
.word-spacing {
  word-spacing: normal;
}
.white-space {
  white-space: nowrap;
}
.word-break {
  word-break: break-all;
}
.word-wrap {
  word-wrap: break-word;
}
.transform {
  transform: none;
}
.transition {
  transition: all 0s ease 0s;
}
.display {
  display: block;
}
.position {
  position: absolute;
}
.top {
  top: 0;
}
.right {
  right: 0;
}
.bottom {
  bottom: 0;
}
.left {
  left: 0;
}
.float {
  float: left;
}
.clear {
  clear: both;
}
.z-index {
  z-index: 10;
}
.overflow {
  overflow: hidden;
}
.overflow-x {
  overflow-x: hidden;
}
.cursor {
  cursor: pointer;
}
.box-shadow {
  box-shadow: 1.41px 1.41px 1.41px rgba(28, 1, 40, 0.16);
}
.gutter {
  margin: 3.24rem;
}
.gutter-top {
  margin-top: 3.24rem;
}
.gutter-right {
  margin-right: 3.24rem;
}
.gutter-bottom {
  margin-bottom: 3.24rem;
}
.gutter-left {
  margin-left: 3.24rem;
}
.text-padding {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-padding-top {
  padding-top: 0.18em;
}
.text-padding-right {
  padding-right: 0.3236em;
}
.text-padding-bottom {
  padding-bottom: 0.22em;
}
.text-padding-left {
  padding-left: 0.3236em;
}
.text-margin {
  margin: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-margin-top {
  margin-top: 0.18em;
}
.text-margin-right {
  margin-right: 0.3236em;
}
.text-margin-bottom {
  margin-bottom: 0.22em;
}
.text-margin-left {
  margin-left: 0.3236em;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.initial {
  display: initial;
}
.table {
  display: table;
}
.flex,
.vertical-center,
.center-vertical {
  display: flex;
}
.inline-block {
  display: inline-block;
}
.static {
  position: static;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.margin-auto,
.container {
  margin-left: auto;
  margin-right: auto;
}
.width-auto {
  width: auto;
}
.inset {
  box-shadow: inset 1.41px 1.41px 1.41px rgba(28, 1, 40, 0.16);
}
.viewport-height {
  height: 100vh;
}
.min-viewport-height {
  min-height: 100vh;
}
.overflow-hidden {
  overflow: hidden;
}
.dashed {
  border-style: dashed;
}
.dotted {
  border-style: dotted;
}
.thick {
  border-width: 2px;
}
.thin {
  border-width: 0.5px;
}
.current-color {
  border-color: currentColor;
}
.fade {
  opacity: 0.65;
}
.serif,
.font-family-serif {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "Droid Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
.monospace,
.font-family-monospace,
pre,
code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
}
.sans-serif,
.font-family-sans-serif {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.text-transparent {
  color: transparent;
}
.reset {
  all: initial;
}
.big {
  font-size: 125%;
  line-height: 2.25;
}
.big.font-size {
  font-size: 18.75px;
}
.small,
.badge {
  font-size: 87.5%;
  line-height: 1.575;
}
.small.font-size {
  font-size: 13.125px;
}
.huge {
  font-size: 160%;
}
.huge.font-size {
  font-size: 24px;
}
.text-trim {
  line-height: 1;
}
.text-align-center,
.text-center {
  text-align: center;
}
.text-align-left,
.text-left {
  text-align: left;
}
.text-align-right,
.text-right {
  text-align: right;
}
.text-align-justify,
.text-justify {
  text-align: justify;
}
.grid-gap-margin {
  grid-gap: 1.62rem;
}
.grid-gap-border-width {
  grid-gap: 1px;
}
.grid-gap-text-padding,
.grid-gap-text-margin {
  grid-gap: 0.3236em;
}
.shade,
.white,
.orange,
.yellow,
.olive,
.light.green,
.teal,
.cyan,
.skyblue,
.violet,
.light.gray,
.light.magenta,
.lavender,
.cream,
.clover,
.pewter,
.hotpink,
.neongreen,
.electricblue,
.lemon,
.lime,
.tangerine,
.default,
.light.warm,
.light.neutral,
.accent,
.second.accent,
.split,
.triad,
.third.triad,
.tetrad,
.fourth.tetrad,
.highlight,
body,
input,
textarea,
.info,
.warning,
.light.success {
  color: #0d2801;
}
.tint,
.black,
.red,
.dark.olive,
.green,
.dark.teal,
.blue,
.indigo,
.purple,
.dark.violet,
.gray,
.brown,
.magenta,
.charcoal,
.crimson,
.dark.clover,
.cobalt,
.graphite,
.ruby,
.onyx,
.gunmetal,
.dark.hotpink,
.royalpurple,
.grapefruit,
.reaction,
.dark.default,
.warm,
.cool,
.neutral,
.complement,
.second.split,
.second.tetrad,
.third.tetrad,
.success,
.failure,
.second.triad {
  color: #f5fff0;
}
.transparent {
  background-color: transparent;
  color: inherit;
  border-color: inherit;
}
.transparent.light {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23FFF%22%20fill-opacity%3D%220.16%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.transparent.dark,
.modal {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23000%22%20fill-opacity%3D%220.25%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.trim,
.trim-inner *,
.trim-all,
.trim-all * {
  margin-bottom: 0;
}
.hidden {
  display: none !important;
}
.clearfix,
.clear {
  clear: both;
}
.clearfix::after,
.clear::after {
  display: block;
  clear: both;
  content: "";
}
.golden-width {
  max-width: calc(62% - 3.24rem);
}
.golden-width.reverse {
  max-width: 38%;
}
.aside-width {
  max-width: 27rem;
}
@media screen and (min-width: 48.24rem) {
  .text-width {
    max-width: 45rem;
  }
}
.page-width,
.container {
  max-width: 72rem;
}
.full-width,
.aside-width .aside-width,
.text-width .text-width,
.page-width .page-width {
  display: block;
  width: 100%;
}
.inner-aside-width {
  padding-left: calc(50% - 13.5rem);
  padding-right: calc(50% - 13.5rem);
}
.inner-aside-width.padding {
  padding-left: calc(50% - 11.88rem);
  padding-right: calc(50% - 11.88rem);
}
.inner-aside-width.responsive.padding {
  padding-left: calc(50% - 12.88rem);
  padding-right: calc(50% - 12.88rem);
}
@media screen and (max-width: calc(48.24rem - 1px)) {
  .inner-text-width {
    padding-left: initial;
    padding-right: initial;
  }
  .inner-text-width.padding {
    padding-left: 1.62rem;
    padding-right: 1.62rem;
  }
  .inner-text-width.responsive.padding {
    padding-left: 0.619rem;
    padding-right: 0.619rem;
  }
}
@media screen and (min-width: 48.24rem) {
  .inner-aside-width.tablet.padding {
    padding-left: calc(50% - 11.88rem);
    padding-right: calc(50% - 11.88rem);
  }
  .inner-aside-width.tablet.responsive.padding {
    padding-left: calc(50% - 12.5rem);
    padding-right: calc(50% - 12.5rem);
  }
  .inner-text-width {
    padding-left: calc(50% - 22.5rem);
    padding-right: calc(50% - 22.5rem);
  }
  .inner-text-width.padding {
    padding-left: calc(50% - 20.88rem);
    padding-right: calc(50% - 20.88rem);
  }
  .inner-text-width.responsive.padding {
    padding-left: calc(50% - 21.5rem);
    padding-right: calc(50% - 21.5rem);
  }
}
@media screen and (min-width: 72rem) {
  .inner-aside-width.desktop.padding {
    padding-left: calc(50% - 11.88rem);
    padding-right: calc(50% - 11.88rem);
  }
  .inner-aside-width.desktop.responsive.padding {
    padding-left: calc(50% - 11.88rem);
    padding-right: calc(50% - 11.88rem);
  }
  .inner-text-width.desktop.padding {
    padding-left: calc(50% - 20.88rem);
    padding-right: calc(50% - 20.88rem);
  }
  .inner-text-width.desktop.responsive.padding {
    padding-left: calc(50% - 20.88rem);
    padding-right: calc(50% - 20.88rem);
  }
  .inner-page-width {
    padding-left: calc(50% - 36rem);
    padding-right: calc(50% - 36rem);
  }
  .inner-page-width.padding {
    padding-left: calc(50% - 34.38rem);
    padding-right: calc(50% - 34.38rem);
  }
  .inner-page-width.responsive.padding {
    padding-left: calc(50% - 34.38rem);
    padding-right: calc(50% - 34.38rem);
  }
}
.texture,
.pattern {
  background-position: top center;
}
.texture {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20viewBox%3D'0%200%203.175%201.588'%20height%3D'15'%20width%3D'30'%3E%3Cg%20fill%3D'%230d2801'%20fill-opacity%3D'0.05'%3E%3Cpath%20d%3D'M1.317%201.194h-.92l.23-.399.23-.398.23.398zM2.312%201.194l-.23-.399-.23-.398h.92l-.23.398z'/%3E%3C/g%3E%3C/svg%3E");
}
.pattern {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20width%3D'80'%20height%3D'50'%20viewBox%3D'0%200%2021.167%2013.229'%3E%3Cpath%20opacity%3D'0.05'%20fill%3D'%230d2801'%20d%3D'M0%200h10.583v13.229H0z'/%3E%3C/svg%3E");
}
.placeholder::before {
  content: " ";
  white-space: pre;
}
.placeholder::after {
  content: "";
}
.placeholder.image,
.placeholder.video,
.placeholder.avatar {
  position: relative;
}
.placeholder.image::before,
.placeholder.video::before,
.placeholder.avatar::before {
  position: absolute;
  top: calc(50% - 4rem);
  right: 0;
  bottom: 0;
  left: 0;
  display: inline-block;
  text-align: center;
  font-size: 4rem;
  vertical-align: middle;
}
.placeholder.image.small::before,
.placeholder.video.small::before,
.placeholder.avatar.small::before {
  top: calc(50% - 2rem);
  font-size: 2rem;
}
.placeholder.image.big::before,
.placeholder.video.big::before,
.placeholder.avatar.big::before {
  top: calc(50% - 6rem);
  font-size: 6rem;
}
.placeholder.image.huge::before,
.placeholder.video.huge::before,
.placeholder.avatar.huge::before {
  top: calc(50% - 8rem);
  font-size: 8rem;
}
.placeholder.image::after,
.placeholder.video::after,
.placeholder.avatar::after {
  display: block;
}
.placeholder.image::before {
  content: "\1f5bc";
}
.placeholder.image::after {
  padding-top: 75%;
}
.placeholder.video::before {
  content: "\25B6";
}
.placeholder.video::after {
  padding-top: 56.25%;
}
.placeholder.avatar::before {
  content: "\263B";
}
.placeholder.avatar::after {
  padding-top: 100%;
}
.placeholder.no-icon::before {
  content: "";
}
.hide {
  display: none;
}
.hide.tablet {
  display: initial;
}
.hide.desktop {
  display: initial;
}
@media screen and (max-width: calc(48.24rem - 1px)) {
  .hide.mobile {
    display: none;
  }
}
@media screen and (min-width: 48.24rem) {
  .hide.mobile {
    display: initial;
  }
  .hide.tablet {
    display: none;
  }
}
@media screen and (min-width: 72rem) {
  .hide.desktop {
    display: none;
  }
  .hide.mobile.tablet {
    display: initial;
  }
}
@media screen and (max-width: calc(72rem - 1px)) {
  .hide.mobile.tablet {
    display: none;
  }
}
body {
  font-size: 15px;
  line-height: 1.8;
  margin: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
nav {
  z-index: 99;
}
nav a {
  text-decoration: none;
}
aside {
  margin: 0 auto;
  margin-bottom: 1.62rem;
  max-width: 27rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-top: 0.49443758em;
  margin-bottom: 0.74165637em;
  letter-spacing: -0.025em;
  color: inherit;
  line-height: 1.618;
}
h1 {
  font-size: 2.4em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1em;
}
p {
  margin-bottom: 1em;
}
p.gutter-bottom {
  margin-bottom: 1.618em;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: inherit;
  text-decoration: underline;
}
a.target-blank::after,
a.new-tab::after,
a.external-link::after {
  content: "\00A0\1F855";
}
form {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input {
  font-size: 15px;
  line-height: 1.8;
  border: 1px solid #4ab323;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input:focus {
  box-shadow: 0 0 2px #71d1c4;
}
fieldset {
  border: none;
  outline: none;
}
ol {
  padding-left: 4ch;
  margin-bottom: 1.62rem;
}
ol li {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
ul {
  margin-left: 1.62rem;
  margin-bottom: 1.62rem;
}
li {
  margin-bottom: 0.44em;
}
kbd {
  color: #f5fff0;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  white-space: nowrap;
}
b {
  padding: 0.18em 0 0.22em 0;
}
pre {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  overflow: hidden;
  border-radius: 0.5em;
  background: #394233;
  color: #f5fff0;
}
pre.white-space,
pre.word-break {
  white-space: pre-wrap;
}
pre > code {
  background: transparent;
  padding: 0;
}
code {
  color: #f5fff0;
  background-color: #294357;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
code.terminal::before {
  content: "$ ";
}
textarea {
  font-size: 15px;
  line-height: 1.8;
  border: 1px solid #4ab323;
  border-radius: 0.5em;
  margin-bottom: 1.62rem;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
textarea:focus {
  box-shadow: 0 0 2px #71d1c4;
}
.white,
body,
input,
textarea {
  background-color: #f5fff0;
  border-color: #7e8c78;
}
.black {
  background-color: #0d2801;
  border-color: #071400;
}
.ambient {
  color: #0d2801;
  background: #53fc04;
  border-color: #2d8a02;
}
.ambient.light {
  color: #0d2801;
  background: #6efc2c;
  border-color: #3b8a16;
}
.ambient.dark {
  color: #0d2801;
  background: #45d403;
  border-color: #277601;
}
.red,
.failure {
  background-color: #ee2901;
  border-color: #831600;
}
.light.red,
.light.failure {
  background-color: #fe4019;
  border-color: #8b220d;
}
.dark.red,
.dark.failure {
  background-color: #c52201;
  border-color: #6f1300;
}
.orange,
.warning {
  background-color: #f0b300;
  border-color: #846300;
}
.light.orange,
.light.warning {
  background-color: #ffc41a;
  border-color: #8c6b0d;
}
.dark.orange,
.dark.warning {
  background-color: #c79400;
  border-color: #705300;
}
.yellow {
  background-color: #effe00;
  border-color: #838b00;
}
.light.yellow {
  background-color: #f2ff28;
  border-color: #858c14;
}
.dark.yellow {
  background-color: #c9d500;
  border-color: #707700;
}
.olive {
  background-color: #99b101;
  border-color: #576500;
}
.light.olive {
  background-color: #bdda01;
  border-color: #697901;
}
.dark.olive {
  background-color: #768801;
  border-color: #465000;
}
.green,
.success {
  background-color: #01aa01;
  border-color: #006100;
}
.light.green,
.light.success {
  background-color: #01d201;
  border-color: #007500;
}
.dark.green,
.dark.success {
  background-color: #008100;
  border-color: #004d00;
}
.teal {
  background-color: #01b189;
  border-color: #00654e;
}
.light.teal {
  background-color: #01daa9;
  border-color: #01795e;
}
.dark.teal {
  background-color: #01886a;
  border-color: #00503e;
}
.cyan {
  background-color: #00fec1;
  border-color: #008b6a;
}
.light.cyan {
  background-color: #29ffcc;
  border-color: #148c6f;
}
.dark.cyan {
  background-color: #00d5a2;
  border-color: #00775b;
}
.skyblue,
.info {
  background-color: #71d1c4;
  border-color: #3b726b;
}
.light.skyblue,
.light.info {
  background-color: #90dbd1;
  border-color: #4a7772;
}
.dark.skyblue,
.dark.info {
  background-color: #52c6b8;
  border-color: #2b6d65;
}
.blue {
  background-color: #0028d6;
  border-color: #001677;
}
.light.blue {
  background-color: #0130ff;
  border-color: #011a8b;
}
.dark.blue {
  background-color: #0021ad;
  border-color: #001363;
}
.indigo {
  background-color: #552883;
  border-color: #31164c;
}
.light.indigo {
  background-color: #6932a2;
  border-color: #3b1b5b;
}
.dark.indigo {
  background-color: #411f64;
  border-color: #26123c;
}
.purple {
  background-color: #aa2998;
  border-color: #5f1655;
}
.light.purple {
  background-color: #cb31b5;
  border-color: #701a64;
}
.dark.purple {
  background-color: #89217a;
  border-color: #4f1246;
}
.violet {
  background-color: #df89c7;
  border-color: #7a466c;
}
.light.violet {
  background-color: #e7a9d6;
  border-color: #7e5673;
}
.dark.violet {
  background-color: #d669b8;
  border-color: #753664;
}
.gray {
  background-color: #7c9068;
  border-color: #445038;
}
.light.gray {
  background-color: #91a27f;
  border-color: #4e5943;
}
.dark.gray {
  background-color: #687857;
  border-color: #3a452f;
}
.brown {
  background-color: #a2612a;
  border-color: #5b3617;
}
.light.brown {
  background-color: #c37432;
  border-color: #6c401b;
}
.dark.brown {
  background-color: #824d21;
  border-color: #4b2c13;
}
.magenta {
  background-color: #e53ebf;
  border-color: #7e2069;
}
.light.magenta {
  background-color: #ea62cb;
  border-color: #80326f;
}
.dark.magenta {
  background-color: #dd1db2;
  border-color: #7a1062;
}
.lavender {
  background-color: #c7bed7;
  border-color: #696274;
}
.light.lavender {
  background-color: #dcd7e6;
  border-color: #746f7c;
}
.dark.lavender {
  background-color: #b1a4c7;
  border-color: #5e566c;
}
.cream {
  background-color: #f1f8bc;
  border-color: #82875f;
}
.light.cream {
  background-color: #f9fce1;
  border-color: #868971;
}
.dark.cream {
  background-color: #e9f497;
  border-color: #7e854c;
}
.charcoal {
  background-color: #535928;
  border-color: #323617;
}
.light.charcoal {
  background-color: #6d7534;
  border-color: #3f441d;
}
.dark.charcoal {
  background-color: #383d1b;
  border-color: #252810;
}
.crimson {
  background-color: #b81d1d;
  border-color: #671010;
}
.light.crimson {
  background-color: #dc2223;
  border-color: #791213;
}
.dark.crimson {
  background-color: #951718;
  border-color: #560d0d;
}
.clover {
  background-color: #3fc613;
  border-color: #236e0b;
}
.light.clover {
  background-color: #4ce81a;
  border-color: #2a800e;
}
.dark.clover {
  background-color: #33a110;
  border-color: #1d5c09;
}
.cobalt {
  background-color: #2585cb;
  border-color: #144970;
}
.light.cobalt {
  background-color: #3d99dc;
  border-color: #205379;
}
.dark.cobalt {
  background-color: #1f6ea8;
  border-color: #113e5f;
}
.graphite {
  background-color: #294357;
  border-color: #172835;
}
.light.graphite {
  background-color: #365972;
  border-color: #1e3343;
}
.dark.graphite {
  background-color: #1c2e3b;
  border-color: #111d27;
}
.ruby {
  background-color: #a91331;
  border-color: #600b1b;
}
.light.ruby {
  background-color: #cd183b;
  border-color: #720d21;
}
.dark.ruby {
  background-color: #840f26;
  border-color: #4d0916;
}
.onyx {
  background-color: #394233;
  border-color: #22291e;
}
.light.onyx {
  background-color: #4d5945;
  border-color: #2c3527;
}
.dark.onyx {
  background-color: #252b21;
  border-color: #181e15;
}
.pewter {
  background-color: #aab481;
  border-color: #5c6344;
}
.light.pewter {
  background-color: #bbc39a;
  border-color: #656a51;
}
.dark.pewter {
  background-color: #98a567;
  border-color: #545b37;
}
.gunmetal {
  background-color: #407864;
  border-color: #234539;
}
.light.gunmetal {
  background-color: #4f937a;
  border-color: #2b5244;
}
.dark.gunmetal {
  background-color: #325e4e;
  border-color: #1c382e;
}
.hotpink {
  background-color: #f65f9b;
  border-color: #873053;
}
.light.hotpink {
  background-color: #f886b4;
  border-color: #88445f;
}
.dark.hotpink {
  background-color: #f43983;
  border-color: #861d47;
}
.neongreen {
  background-color: #34fd0f;
  border-color: #1c8b08;
}
.light.neongreen {
  background-color: #56fd38;
  border-color: #2d8b1c;
}
.dark.neongreen {
  background-color: #25e202;
  border-color: #147d01;
}
.electricblue {
  background-color: #2fcae1;
  border-color: #196f7b;
}
.light.electricblue {
  background-color: #53d3e6;
  border-color: #2b737e;
}
.dark.electricblue {
  background-color: #1db3ca;
  border-color: #106470;
}
.royalpurple {
  background-color: #6a429a;
  border-color: #3b2457;
}
.light.royalpurple {
  background-color: #7d50b5;
  border-color: #452b64;
}
.dark.royalpurple {
  background-color: #56367e;
  border-color: #311e48;
}
.lemon {
  background-color: #f8fd84;
  border-color: #878a42;
}
.light.lemon {
  background-color: #fafdac;
  border-color: #898b56;
}
.dark.lemon {
  background-color: #f5fc5c;
  border-color: #868a2e;
}
.lime {
  background-color: #89f471;
  border-color: #478539;
}
.light.lime {
  background-color: #a9f797;
  border-color: #57874c;
}
.dark.lime {
  background-color: #6af14b;
  border-color: #388426;
}
.tangerine {
  background-color: #f7b149;
  border-color: #876025;
}
.light.tangerine {
  background-color: #f9c170;
  border-color: #886838;
}
.dark.tangerine {
  background-color: #f5a022;
  border-color: #865711;
}
.grapefruit {
  background-color: #d0503e;
  border-color: #732b21;
}
.light.grapefruit {
  background-color: #d86d5f;
  border-color: #773a31;
}
.dark.grapefruit {
  background-color: #b93d2d;
  border-color: #672218;
}
.action,
.base-color {
  color: #0d2801;
  background: #41dc0b;
  border-color: #247a06;
}
.action.light,
.base-color.light {
  color: #0d2801;
  background: #54f41c;
  border-color: #2d860f;
}
.action.dark,
.base-color.dark {
  color: #0d2801;
  background: #36b509;
  border-color: #1e6605;
}
.reaction {
  background-color: #a932c8;
  border-color: #5d1b6f;
}
.light.reaction {
  background-color: #b850d3;
  border-color: #652a74;
}
.dark.reaction {
  background-color: #8d2aa8;
  border-color: #4f175e;
}
.default {
  background-color: #4ab323;
  border-color: #296413;
}
.light.default {
  background-color: #58d629;
  border-color: #307616;
}
.dark.default {
  background-color: #3c911c;
  border-color: #225310;
}
.warm {
  background-color: #db7814;
  border-color: #79420b;
}
.light.warm {
  background-color: #ec8c2c;
  border-color: #814c17;
}
.dark.warm {
  background-color: #b66311;
  border-color: #663809;
}
.cool {
  background-color: #1979a7;
  border-color: #0e445f;
}
.light.cool {
  background-color: #1e92ca;
  border-color: #105170;
}
.dark.cool {
  background-color: #145f83;
  border-color: #0b374d;
}
.neutral {
  background-color: #b0767f;
  border-color: #613e44;
}
.light.neutral {
  background-color: #bf9098;
  border-color: #684b50;
}
.dark.neutral {
  background-color: #a05d68;
  border-color: #593238;
}
.complement,
.second.triad {
  background-color: #a532c4;
  border-color: #5b1b6c;
}
.light.complement,
.light.second.triad {
  background-color: #b64dd2;
  border-color: #642873;
}
.dark.complement,
.dark.second.triad {
  background-color: #8a29a4;
  border-color: #4e175c;
}
.accent {
  background-color: #3bf85b;
  border-color: #1e8830;
}
.light.accent {
  background-color: #63fa7c;
  border-color: #328940;
}
.dark.accent {
  background-color: #14f739;
  border-color: #0a881f;
}
.second.accent {
  background-color: #bff835;
  border-color: #68881b;
}
.light.second.accent {
  background-color: #ccfa5c;
  border-color: #6e892f;
}
.dark.second.accent {
  background-color: #b3f70d;
  border-color: #628807;
}
.split {
  background-color: #0bbcc1;
  border-color: #066a6c;
}
.light.split {
  background-color: #0de2e8;
  border-color: #077d80;
}
.dark.split {
  background-color: #09979a;
  border-color: #055759;
}
.second.split {
  background-color: #d85e0a;
  border-color: #783405;
}
.light.second.split {
  background-color: #f57116;
  border-color: #863d0b;
}
.dark.second.split {
  background-color: #b14d08;
  border-color: #642b04;
}
.triad {
  background-color: #0be992;
  border-color: #068050;
}
.light.triad {
  background-color: #27f5a4;
  border-color: #14865a;
}
.dark.triad {
  background-color: #09c279;
  border-color: #056d44;
}
.third.triad {
  background-color: #d8b90a;
  border-color: #786705;
}
.light.third.triad {
  background-color: #f5d416;
  border-color: #86740b;
}
.dark.third.triad {
  background-color: #b19808;
  border-color: #645604;
}
.tetrad {
  background-color: #0be964;
  border-color: #068037;
}
.light.tetrad {
  background-color: #27f57a;
  border-color: #148642;
}
.dark.tetrad {
  background-color: #09c253;
  border-color: #056d2f;
}
.second.tetrad {
  background-color: #0b33c1;
  border-color: #061d6c;
}
.light.second.tetrad {
  background-color: #0d3de8;
  border-color: #072280;
}
.dark.second.tetrad {
  background-color: #09299a;
  border-color: #051759;
}
.third.tetrad {
  background-color: #d83167;
  border-color: #771a38;
}
.light.third.tetrad {
  background-color: #de5480;
  border-color: #7a2b45;
}
.dark.third.tetrad {
  background-color: #bc2455;
  border-color: #69142f;
}
.fourth.tetrad {
  background-color: #d8e70a;
  border-color: #777f05;
}
.light.fourth.tetrad {
  background-color: #e7f624;
  border-color: #7f8712;
}
.dark.fourth.tetrad {
  background-color: #b3c008;
  border-color: #656c04;
}
.highlight {
  background-color: #00fb87;
  border-color: #008a4a;
}
.light.highlight {
  background-color: #25ff9a;
  border-color: #138c54;
}
.dark.highlight {
  background-color: #00d271;
  border-color: #00753f;
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-margin-right {
  margin-right: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.no-margin-left {
  margin-left: 0 !important;
}
.no-padding {
  padding: 0;
}
.no-margin,
.no-gutter {
  margin: 0;
}
.no-side-margin,
.no-side-margins {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.no-margins {
  margin: 0 !important;
}
.no-margins * {
  margin: 0 !important;
}
.no-box-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  box-shadow: unset;
}
.no-text-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  text-shadow: unset;
}
.no-border,
.no-borders,
.no-borders * {
  border-width: 0 !important;
}
.no-background {
  background: transparent;
}
.no-text-indent {
  text-indent: 0;
}
.no-text-align {
  text-align: initial;
}
.no-user-select {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.no-pointer-events {
  pointer-events: none;
}
.no-list-style {
  list-style-type: none;
  margin-left: 0;
}
.no-grid-gap,
.no-column-gap {
  grid-gap: 0;
  column-gap: 0;
}
@media print {
  html {
    font-size: 62.5%;
  }
  * {
    box-shadow: unset !important;
    border: unset !important;
  }
  nav {
    display: none !important;
  }
  .page-width,
  .text-width,
  .container {
    all: unset;
  }
  .inner-page-width,
  .inner-text-width,
  .inner-aside-width {
    all: unset;
  }
}
