/* This project uses Cavepaint! (MIT License) */
/* https://github.com/cavepaint/cavepaintCSS */
* {
  margin: 0 0 1.62rem 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}
.button,
button {
  border-style: solid;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(0, 33, 41, 0.16);
  display: inline;
  position: relative;
  font-family: inherit;
  font-size: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  color: inherit;
  background-color: inherit;
  border-color: #6e2810;
  border-width: 1px;
  line-height: 1.6;
  text-align: center;
  vertical-align: middle;
  outline: none;
  white-space: nowrap;
  text-decoration: none;
  touch-action: manipulation;
  cursor: pointer;
  transform: scale(1);
  transition: 0.08s linear;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.button:active,
button:active {
  transform: scale(0.99);
  box-shadow: unset;
}
.bar {
  position: relative;
  width: 100%;
  display: block;
  vertical-align: middle;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.bar > * {
  display: inline;
  margin-right: 0.3236em;
  margin-left: 0.3236em;
  margin-bottom: 0;
}
.card {
  position: relative;
  overflow: hidden;
  padding: 1.62rem;
  border: 1px solid #b5421b;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(0, 33, 41, 0.16);
}
.card > *:first-child {
  margin-top: 0;
}
.card > *:last-child {
  margin-bottom: 0;
}
.badge {
  border-radius: 0.5em;
  line-height: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  padding-right: 0.6472em;
  padding-left: 0.6472em;
  vertical-align: middle;
  border-radius: 99px;
  white-space: nowrap;
}
.modal {
  display: none;
  max-width: none;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  position: fixed;
  bottom: 0;
  justify-content: center;
  flex: 0 1 auto;
  flex-direction: column;
  height: 100vh;
}
.modal > * {
  flex-direction: column;
  color: #290700;
  position: relative;
  background: #fff2f0;
  padding: 1.62rem;
  margin-bottom: 3.24rem;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(0, 33, 41, 0.16);
  margin: 1.62rem;
}
@media screen and (min-width: 50.24rem) {
  .modal > * {
    max-width: 76rem;
    margin: 0 auto;
  }
}
.overlay {
  margin: 0;
  padding: 0;
  position: relative;
}
.overlay .top,
.overlay .bottom,
.overlay .left,
.overlay .right {
  position: absolute;
}
.overlay .top {
  top: 0.3236em;
}
.overlay .bottom {
  bottom: 0.3236em;
}
.overlay .left {
  left: 0.3236em;
}
.overlay .right {
  right: 0.3236em;
}
.overlay.stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.overlay * {
  margin: 0;
  display: block;
}
.grid,
.two-column,
.three-column {
  display: grid;
  grid-gap: 1.62rem;
}
.grid.tablet,
.two-column.tablet,
.three-column.tablet,
.grid.mobile.tablet,
.two-column.mobile.tablet,
.three-column.mobile.tablet,
.grid.desktop,
.two-column.desktop,
.three-column.desktop {
  display: initial;
}
.grid {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.two-column {
  grid-template-columns: 1fr 1fr;
}
.two-column.golden {
  grid-template-columns: 1.618fr 1fr;
}
.two-column.golden.reverse {
  grid-template-columns: 1fr 1.618fr;
}
.three-column {
  grid-template-columns: 1fr 1fr 1fr;
}
.three-column.golden {
  grid-template-columns: 1fr 1.618fr 1fr;
}
.three-column.golden.leading {
  grid-template-columns: 1.618fr 1fr 1fr;
}
.three-column.golden.trailing {
  grid-template-columns: 1fr 1fr 1.618fr;
}
.grid .grid-width-one {
  grid-column: auto / span 1;
}
.grid .grid-width-two {
  grid-column: auto / span 2;
}
.grid .grid-width-three {
  grid-column: auto / span 3;
}
.grid .grid-width-four {
  grid-column: auto / span 4;
}
.grid .grid-width-five {
  grid-column: auto / span 5;
}
.grid .grid-width-six {
  grid-column: auto / span 6;
}
.grid .grid-width-seven {
  grid-column: auto / span 7;
}
.grid .grid-width-eight {
  grid-column: auto / span 8;
}
.grid .grid-width-nine {
  grid-column: auto / span 9;
}
.grid .grid-width-ten {
  grid-column: auto / span 10;
}
.grid .grid-width-eleven {
  grid-column: auto / span 11;
}
.grid .grid-width-twelve {
  grid-column: auto / span 12;
}
@media screen and (max-width: calc(50.24rem - 1px)) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: grid;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 50.24rem) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: initial;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: initial;
  }
  .grid.tablet,
  .two-column.tablet,
  .three-column.tablet {
    display: grid;
  }
  .grid.tablet > *,
  .two-column.tablet > *,
  .three-column.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (max-width: calc(76rem - 1px)) {
  .grid.mobile.tablet,
  .two-column.mobile.tablet,
  .three-column.mobile.tablet {
    display: grid;
  }
  .grid.mobile.tablet > *,
  .two-column.mobile.tablet > *,
  .three-column.mobile.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 76rem) {
  .grid.desktop,
  .two-column.desktop,
  .three-column.desktop {
    display: grid;
  }
  .grid.desktop > *,
  .two-column.desktop > *,
  .three-column.desktop > * {
    margin-bottom: 0;
  }
}
.responsive {
  column-gap: 0.619rem;
  grid-gap: 0.619rem;
}
.responsive.padding,
.modal,
.container {
  padding: 0.619rem;
}
.responsive.margin,
.container {
  margin: 0.619rem;
}
.responsive.gutter {
  margin: 1.238rem;
}
@media screen and (min-width: 50.24rem) {
  .responsive {
    column-gap: 1.001rem;
    grid-gap: 1.001rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.001rem;
  }
  .responsive.margin,
  .container {
    margin: 1.001rem;
  }
  .responsive.gutter {
    margin: 2.002rem;
  }
}
@media screen and (min-width: 76rem) {
  .responsive {
    column-gap: 1.62rem;
    grid-gap: 1.62rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.62rem;
  }
  .responsive.margin,
  .container {
    margin: 1.62rem;
  }
  .responsive.gutter {
    margin: 3.24rem;
  }
}
.background {
  background: #fff2f0;
}
.background-color {
  background-color: #fff2f0;
}
.border {
  border: 1px solid #b5421b;
}
.border-radius,
.rounded {
  border-radius: 0.5em;
}
.border-bottom {
  border-bottom: 1px solid #b5421b;
}
.border-left {
  border-left: 1px solid #b5421b;
}
.border-right {
  border-right: 1px solid #b5421b;
}
.border-style,
.button.border,
button.border {
  border-style: solid;
}
.border-top {
  border-top: 1px solid #b5421b;
}
.border-width,
.button.border,
button.border {
  border-width: 1px;
}
.max-width {
  max-width: 76rem;
}
.min-width {
  min-width: 29rem;
}
.align-content {
  align-content: stretch;
}
.align-items {
  align-items: stretch;
}
.align-self {
  align-self: auto;
}
.flex,
.vertical-center,
.center-vertical {
  flex: 0 1 auto;
}
.flex-basis {
  flex-basis: auto;
}
.flex-direction,
.vertical-center,
.center-vertical {
  flex-direction: column;
}
.flex-flow {
  flex-flow: column nowrap;
}
.flex-grow {
  flex-grow: 0;
}
.flex-shrink {
  flex-shrink: 1;
}
.flex-wrap {
  flex-wrap: nowrap;
}
.justify-content,
.vertical-center,
.center-vertical {
  justify-content: center;
}
.font-family {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
}
.font-size {
  font-size: 22px;
}
.font-weight {
  font-weight: normal;
}
.list-style {
  list-style: disc inside none;
}
.list-style-type {
  list-style-type: disc;
}
.margin {
  margin: 1.62rem;
}
.margin-bottom {
  margin-bottom: 1.62rem;
}
.margin-left {
  margin-left: 1.62rem;
}
.margin-right {
  margin-right: 1.62rem;
}
.margin-top {
  margin-top: 1.62rem;
}
.column-gap {
  column-gap: 1.94em;
}
.column-rule {
  column-rule: 1px solid #b5421b;
}
.padding {
  padding: 1.62rem;
}
.padding-bottom {
  padding-bottom: 1.62rem;
}
.padding-left {
  padding-left: 1.62rem;
}
.padding-right {
  padding-right: 1.62rem;
}
.padding-top {
  padding-top: 1.62rem;
}
.text-align {
  text-align: left;
}
.text-align-last {
  text-align-last: left;
}
.text-indent {
  text-indent: 2ch;
}
.text-justify {
  text-justify: justify;
}
.text-overflow {
  text-overflow: hidden;
}
.text-shadow {
  text-shadow: 1.41px 1.41px 1.41px rgba(0, 33, 41, 0.16);
}
.line-height {
  line-height: 1.8;
}
.vertical-align {
  vertical-align: middle;
}
.letter-spacing {
  letter-spacing: 0;
}
.word-spacing {
  word-spacing: normal;
}
.white-space {
  white-space: nowrap;
}
.word-break {
  word-break: break-all;
}
.word-wrap {
  word-wrap: break-word;
}
.transform {
  transform: none;
}
.transition {
  transition: all 0s ease 0s;
}
.display {
  display: block;
}
.position {
  position: absolute;
}
.top {
  top: 0;
}
.right {
  right: 0;
}
.bottom {
  bottom: 0;
}
.left {
  left: 0;
}
.float {
  float: left;
}
.clear {
  clear: both;
}
.z-index {
  z-index: 10;
}
.overflow {
  overflow: hidden;
}
.overflow-x {
  overflow-x: hidden;
}
.cursor {
  cursor: pointer;
}
.box-shadow {
  box-shadow: 1.41px 1.41px 1.41px rgba(0, 33, 41, 0.16);
}
.gutter {
  margin: 3.24rem;
}
.gutter-top {
  margin-top: 3.24rem;
}
.gutter-right {
  margin-right: 3.24rem;
}
.gutter-bottom {
  margin-bottom: 3.24rem;
}
.gutter-left {
  margin-left: 3.24rem;
}
.text-padding {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-padding-top {
  padding-top: 0.18em;
}
.text-padding-right {
  padding-right: 0.3236em;
}
.text-padding-bottom {
  padding-bottom: 0.22em;
}
.text-padding-left {
  padding-left: 0.3236em;
}
.text-margin {
  margin: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-margin-top {
  margin-top: 0.18em;
}
.text-margin-right {
  margin-right: 0.3236em;
}
.text-margin-bottom {
  margin-bottom: 0.22em;
}
.text-margin-left {
  margin-left: 0.3236em;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.initial {
  display: initial;
}
.table {
  display: table;
}
.flex,
.vertical-center,
.center-vertical {
  display: flex;
}
.inline-block {
  display: inline-block;
}
.static {
  position: static;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.margin-auto,
.container {
  margin-left: auto;
  margin-right: auto;
}
.width-auto {
  width: auto;
}
.inset {
  box-shadow: inset 1.41px 1.41px 1.41px rgba(0, 33, 41, 0.16);
}
.viewport-height {
  height: 100vh;
}
.min-viewport-height {
  min-height: 100vh;
}
.overflow-hidden {
  overflow: hidden;
}
.dashed {
  border-style: dashed;
}
.dotted {
  border-style: dotted;
}
.thick {
  border-width: 2px;
}
.thin {
  border-width: 0.5px;
}
.current-color {
  border-color: currentColor;
}
.fade {
  opacity: 0.65;
}
.serif,
.font-family-serif {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "Droid Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
.monospace,
.font-family-monospace {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
}
.sans-serif,
.font-family-sans-serif {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.text-transparent {
  color: transparent;
}
.reset {
  all: initial;
}
.big {
  font-size: 125%;
  line-height: 2.25;
}
.big.font-size {
  font-size: 27.5px;
}
.small,
.badge {
  font-size: 87.5%;
  line-height: 1.575;
}
.small.font-size {
  font-size: 19.25px;
}
.huge {
  font-size: 160%;
}
.huge.font-size {
  font-size: 35.2px;
}
.text-trim {
  line-height: 1;
}
.text-align-center,
.text-center {
  text-align: center;
}
.text-align-left,
.text-left {
  text-align: left;
}
.text-align-right,
.text-right {
  text-align: right;
}
.text-align-justify,
.text-justify {
  text-align: justify;
}
.grid-gap-margin {
  grid-gap: 1.62rem;
}
.grid-gap-border-width {
  grid-gap: 1px;
}
.grid-gap-text-padding,
.grid-gap-text-margin {
  grid-gap: 0.3236em;
}
.shade,
.white,
.orange,
.yellow,
.light.olive,
.cyan,
.skyblue,
.violet,
.lavender,
.cream,
.light.clover,
.pewter,
.light.hotpink,
.neongreen,
.electricblue,
.lemon,
.lime,
.tangerine,
body,
input,
textarea,
.info,
.warning {
  color: #290700;
}
.tint,
.black,
.red,
.olive,
.green,
.teal,
.blue,
.indigo,
.purple,
.dark.violet,
.gray,
.brown,
.magenta,
.charcoal,
.crimson,
.clover,
.cobalt,
.graphite,
.ruby,
.onyx,
.dark.pewter,
.gunmetal,
.hotpink,
.dark.electricblue,
.royalpurple,
.grapefruit,
.reaction,
.default,
.success,
.failure {
  color: #fff2f0;
}
.transparent {
  background-color: transparent;
  color: inherit;
  border-color: inherit;
}
.transparent.light {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23FFF%22%20fill-opacity%3D%220.16%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.transparent.dark,
.modal {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23000%22%20fill-opacity%3D%220.25%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.trim,
.trim-inner *,
.trim-all,
.trim-all * {
  margin-bottom: 0;
}
.hidden {
  display: none !important;
}
.clearfix,
.clear {
  clear: both;
}
.clearfix::after,
.clear::after {
  display: block;
  clear: both;
  content: "";
}
.golden-width {
  max-width: calc(62% - 3.24rem);
}
.golden-width.reverse {
  max-width: 38%;
}
.aside-width {
  max-width: 29rem;
}
@media screen and (min-width: 50.24rem) {
  .text-width {
    max-width: 47rem;
  }
}
.page-width,
.container {
  max-width: 76rem;
}
.full-width,
.aside-width .aside-width,
.text-width .text-width,
.page-width .page-width {
  display: block;
  width: 100%;
}
.inner-aside-width {
  padding-left: calc(50% - 14.5rem);
  padding-right: calc(50% - 14.5rem);
}
.inner-aside-width.padding {
  padding-left: calc(50% - 12.88rem);
  padding-right: calc(50% - 12.88rem);
}
.inner-aside-width.responsive.padding {
  padding-left: calc(50% - 13.88rem);
  padding-right: calc(50% - 13.88rem);
}
.inner-text-width {
  padding-left: calc(50% - 23.5rem);
  padding-right: calc(50% - 23.5rem);
}
.inner-text-width.padding {
  padding-left: calc(50% - 21.88rem);
  padding-right: calc(50% - 21.88rem);
}
.inner-text-width.responsive.padding {
  padding-left: calc(50% - 22.88rem);
  padding-right: calc(50% - 22.88rem);
}
.inner-page-width {
  padding-left: calc(50% - 38rem);
  padding-right: calc(50% - 38rem);
}
.inner-page-width.padding {
  padding-left: calc(50% - 36.38rem);
  padding-right: calc(50% - 36.38rem);
}
.inner-page-width.responsive.padding {
  padding-left: calc(50% - 37.38rem);
  padding-right: calc(50% - 37.38rem);
}
@media screen and (max-width: calc(50.24rem - 1px)) {
  .inner-text-width {
    padding-left: initial;
    padding-right: initial;
  }
  .inner-text-width.padding {
    padding-left: 1.62rem;
    padding-right: 1.62rem;
  }
  .inner-text-width.responsive.padding {
    padding-left: 0.619rem;
    padding-right: 0.619rem;
  }
}
@media screen and (min-width: 50.24rem) {
  .inner-aside-width.tablet.padding {
    padding-left: calc(50% - 12.88rem);
    padding-right: calc(50% - 12.88rem);
  }
  .inner-aside-width.tablet.responsive.padding {
    padding-left: calc(50% - 13.5rem);
    padding-right: calc(50% - 13.5rem);
  }
  .inner-text-width.tablet.padding {
    padding-left: calc(50% - 21.88rem);
    padding-right: calc(50% - 21.88rem);
  }
  .inner-text-width.tablet.responsive.padding {
    padding-left: calc(50% - 22.5rem);
    padding-right: calc(50% - 22.5rem);
  }
  .inner-page-width.tablet.padding {
    padding-left: calc(50% - 36.38rem);
    padding-right: calc(50% - 36.38rem);
  }
  .inner-page-width.tablet.responsive.padding {
    padding-left: calc(50% - 37rem);
    padding-right: calc(50% - 37rem);
  }
}
@media screen and (min-width: 76rem) {
  .inner-aside-width.desktop.padding {
    padding-left: calc(50% - 12.88rem);
    padding-right: calc(50% - 12.88rem);
  }
  .inner-aside-width.desktop.responsive.padding {
    padding-left: calc(50% - 12.88rem);
    padding-right: calc(50% - 12.88rem);
  }
  .inner-text-width.desktop.padding {
    padding-left: calc(50% - 21.88rem);
    padding-right: calc(50% - 21.88rem);
  }
  .inner-text-width.desktop.responsive.padding {
    padding-left: calc(50% - 21.88rem);
    padding-right: calc(50% - 21.88rem);
  }
  .inner-page-width.desktop.padding {
    padding-left: calc(50% - 36.38rem);
    padding-right: calc(50% - 36.38rem);
  }
  .inner-page-width.desktop.responsive.padding {
    padding-left: calc(50% - 36.38rem);
    padding-right: calc(50% - 36.38rem);
  }
}
@media screen and (max-width: calc(76rem - 1px)) {
  .inner-page-width {
    padding-left: initial;
    padding-right: initial;
  }
  .inner-page-width.padding {
    padding-left: 1.62rem;
    padding-right: 1.62rem;
  }
  .inner-page-width.responsive.padding {
    padding-left: 0.619rem;
    padding-right: 0.619rem;
  }
}
.texture,
.pattern {
  background-position: top center;
}
.texture {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20viewBox%3D'0%200%203.175%201.588'%20height%3D'22'%20width%3D'44'%3E%3Cg%20fill%3D'%23fff2f0'%20fill-opacity%3D'0.16'%3E%3Cpath%20d%3D'M1.317%201.194h-.92l.23-.399.23-.398.23.398zM2.312%201.194l-.23-.399-.23-.398h.92l-.23.398z'/%3E%3C/g%3E%3C/svg%3E");
}
.pattern {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20width%3D'80'%20height%3D'50'%20viewBox%3D'0%200%2021.167%2013.229'%3E%3Cpath%20fill%3D'%23fff2f0'%20opacity%3D'0.16'%20d%3D'M0%200h21.167v6.615H0z'/%3E%3C/svg%3E");
}
.placeholder::before {
  content: " ";
  white-space: pre;
}
.placeholder::after {
  content: "";
}
.placeholder.image,
.placeholder.video,
.placeholder.avatar {
  position: relative;
}
.placeholder.image::before,
.placeholder.video::before,
.placeholder.avatar::before {
  position: absolute;
  top: calc(50% - 4rem);
  right: 0;
  bottom: 0;
  left: 0;
  display: inline-block;
  text-align: center;
  font-size: 4rem;
  vertical-align: middle;
}
.placeholder.image.small::before,
.placeholder.video.small::before,
.placeholder.avatar.small::before {
  top: calc(50% - 2rem);
  font-size: 2rem;
}
.placeholder.image.big::before,
.placeholder.video.big::before,
.placeholder.avatar.big::before {
  top: calc(50% - 6rem);
  font-size: 6rem;
}
.placeholder.image.huge::before,
.placeholder.video.huge::before,
.placeholder.avatar.huge::before {
  top: calc(50% - 8rem);
  font-size: 8rem;
}
.placeholder.image::after,
.placeholder.video::after,
.placeholder.avatar::after {
  display: block;
}
.placeholder.image::before {
  content: "\1f5bc";
}
.placeholder.image::after {
  padding-top: 75%;
}
.placeholder.video::before {
  content: "\25B6";
}
.placeholder.video::after {
  padding-top: 56.25%;
}
.placeholder.avatar::before {
  content: "\263A";
}
.placeholder.avatar::after {
  padding-top: 100%;
}
.placeholder.no-icon::before {
  content: "";
}
.hide {
  display: none;
}
.hide.tablet {
  display: initial;
}
.hide.desktop {
  display: initial;
}
@media screen and (max-width: calc(50.24rem - 1px)) {
  .hide.mobile {
    display: none;
  }
}
@media screen and (min-width: 50.24rem) {
  .hide.mobile {
    display: initial;
  }
  .hide.tablet {
    display: none;
  }
}
@media screen and (min-width: 76rem) {
  .hide.desktop {
    display: none;
  }
  .hide.mobile.tablet {
    display: initial;
  }
}
@media screen and (max-width: calc(76rem - 1px)) {
  .hide.mobile.tablet {
    display: none;
  }
}
body {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
  font-size: 22px;
  line-height: 1.8;
  margin: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
nav {
  z-index: 99;
}
nav a {
  text-decoration: none;
}
aside {
  margin: 0 auto;
  margin-bottom: 1.62rem;
  max-width: 29rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
  font-weight: bold;
  margin-top: 0.49443758em;
  margin-bottom: 0.74165637em;
  letter-spacing: -0.025em;
  color: inherit;
  line-height: 1.618;
}
h1 {
  font-size: 2.4em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1em;
}
p {
  margin-bottom: 1em;
}
p.gutter-bottom {
  margin-bottom: 1.618em;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: inherit;
  text-decoration: underline;
}
a.target-blank::after,
a.new-tab::after,
a.external-link::after {
  content: "\00A0\1F855";
}
form {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
  font-size: 22px;
  line-height: 1.8;
  border: 1px solid #b5421b;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input:focus {
  box-shadow: 0 0 2px #8dadbc;
}
fieldset {
  border: none;
  outline: none;
}
ol {
  padding-left: 4ch;
  margin-bottom: 1.62rem;
}
ol li {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
ul {
  margin-left: 1.62rem;
  margin-bottom: 1.62rem;
}
li {
  margin-bottom: 0.44em;
}
kbd {
  color: #fff2f0;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  white-space: nowrap;
}
b {
  padding: 0.18em 0 0.22em 0;
}
pre {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
  overflow: hidden;
  border-radius: 0.5em;
  background: #423231;
  color: #fff2f0;
}
pre.white-space,
pre.word-break {
  white-space: pre-wrap;
}
pre > code {
  background: transparent;
  padding: 0;
}
code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
  color: #fff2f0;
  background-color: #372e4e;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
code.terminal::before {
  content: "$ ";
}
textarea {
  font-size: 22px;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
  line-height: 1.8;
  border: 1px solid #b5421b;
  border-radius: 0.5em;
  margin-bottom: 1.62rem;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
textarea:focus {
  box-shadow: 0 0 2px #8dadbc;
}
.white,
body,
input,
textarea {
  background-color: #fff2f0;
  border-color: #8a7b78;
}
.black {
  background-color: #290700;
  border-color: #140400;
}
.ambient {
  color: #fff2f0;
  background: #fe2e01;
  border-color: #8a1900;
}
.ambient.light {
  color: #fff2f0;
  background: #fe4f29;
  border-color: #8a2a15;
}
.ambient.dark {
  color: #fff2f0;
  background: #d52701;
  border-color: #761500;
}
.red,
.failure {
  background-color: #eb0000;
  border-color: #800000;
}
.light.red,
.light.failure {
  background-color: #ff1515;
  border-color: #8a0b0b;
}
.dark.red,
.dark.failure {
  background-color: #c20000;
  border-color: #6c0000;
}
.orange,
.warning {
  background-color: #fa9100;
  border-color: #884f00;
}
.light.orange,
.light.warning {
  background-color: #ffa324;
  border-color: #8a5812;
}
.dark.orange,
.dark.warning {
  background-color: #d17900;
  border-color: #744300;
}
.yellow {
  background-color: #f5da00;
  border-color: #857700;
}
.light.yellow {
  background-color: #ffe61f;
  border-color: #8a7d0f;
}
.dark.yellow {
  background-color: #ccb600;
  border-color: #716500;
}
.olive {
  background-color: #9d7d00;
  border-color: #5a4700;
}
.light.olive {
  background-color: #c69d00;
  border-color: #6e5700;
}
.dark.olive {
  background-color: #755d00;
  border-color: #453700;
}
.green,
.success {
  background-color: #297a00;
  border-color: #184800;
}
.light.green,
.light.success {
  background-color: #36a300;
  border-color: #1f5d00;
}
.dark.green,
.dark.success {
  background-color: #1b5200;
  border-color: #113400;
}
.teal {
  background-color: #297d75;
  border-color: #164743;
}
.light.teal {
  background-color: #339c92;
  border-color: #1b5751;
}
.dark.teal {
  background-color: #1f5e58;
  border-color: #113834;
}
.cyan {
  background-color: #3ecdb8;
  border-color: #217064;
}
.light.cyan {
  background-color: #5ed5c4;
  border-color: #31746a;
}
.dark.cyan {
  background-color: #2eb4a0;
  border-color: #196358;
}
.skyblue,
.info {
  background-color: #8dadbc;
  border-color: #495d66;
}
.light.skyblue,
.light.info {
  background-color: #a6c0cb;
  border-color: #56666d;
}
.dark.skyblue,
.dark.info {
  background-color: #739bad;
  border-color: #3c545e;
}
.blue {
  background-color: #2900cc;
  border-color: #160071;
}
.light.blue {
  background-color: #3100f5;
  border-color: #1b0086;
}
.dark.blue {
  background-color: #2000a4;
  border-color: #12005d;
}
.indigo {
  background-color: #6b0074;
  border-color: #400045;
}
.light.indigo {
  background-color: #91009d;
  border-color: #530059;
}
.dark.indigo {
  background-color: #46004b;
  border-color: #2d0031;
}
.purple {
  background-color: #a2007a;
  border-color: #5c0045;
}
.light.purple {
  background-color: #cb0098;
  border-color: #700054;
}
.dark.purple {
  background-color: #79005b;
  border-color: #480036;
}
.violet {
  background-color: #e767be;
  border-color: #7d3466;
}
.light.violet {
  background-color: #ec8acd;
  border-color: #80466e;
}
.dark.violet {
  background-color: #e143af;
  border-color: #7a235f;
}
.gray {
  background-color: #916b64;
  border-color: #503a35;
}
.light.gray {
  background-color: #a4817b;
  border-color: #5a4441;
}
.dark.gray {
  background-color: #795954;
  border-color: #44312d;
}
.brown {
  background-color: #a54c28;
  border-color: #5c2a15;
}
.light.brown {
  background-color: #c65b2f;
  border-color: #6c3119;
}
.dark.brown {
  background-color: #843d20;
  border-color: #4b2211;
}
.magenta {
  background-color: #e400a6;
  border-color: #7d005b;
}
.light.magenta {
  background-color: #ff0ebd;
  border-color: #8a0767;
}
.dark.magenta {
  background-color: #bb0088;
  border-color: #68004c;
}
.lavender {
  background-color: #ccaecf;
  border-color: #6e5a6f;
}
.light.lavender {
  background-color: #dcc8de;
  border-color: #766777;
}
.dark.lavender {
  background-color: #bc95bf;
  border-color: #664d68;
}
.cream {
  background-color: #efe2bc;
  border-color: #817960;
}
.light.cream {
  background-color: #f7f0dd;
  border-color: #858070;
}
.dark.cream {
  background-color: #e7d49b;
  border-color: #7d724f;
}
.charcoal {
  background-color: #6b3024;
  border-color: #3e1b14;
}
.light.charcoal {
  background-color: #893d2f;
  border-color: #4e221a;
}
.dark.charcoal {
  background-color: #4d221a;
  border-color: #2f140f;
}
.crimson {
  background-color: #b6091b;
  border-color: #66050f;
}
.light.crimson {
  background-color: #dd0b21;
  border-color: #790612;
}
.dark.crimson {
  background-color: #900715;
  border-color: #52040c;
}
.clover {
  background-color: #5c9a12;
  border-color: #34570a;
}
.light.clover {
  background-color: #72bf16;
  border-color: #3f6a0c;
}
.dark.clover {
  background-color: #46760e;
  border-color: #294508;
}
.cobalt {
  background-color: #356fc0;
  border-color: #1c3c69;
}
.light.cobalt {
  background-color: #4f84ce;
  border-color: #294770;
}
.dark.cobalt {
  background-color: #2c5da0;
  border-color: #183359;
}
.graphite {
  background-color: #372e4e;
  border-color: #201a2f;
}
.light.graphite {
  background-color: #493c68;
  border-color: #29213c;
}
.dark.graphite {
  background-color: #251f35;
  border-color: #171222;
}
.ruby {
  background-color: #bc002c;
  border-color: #690019;
}
.light.ruby {
  background-color: #e40036;
  border-color: #7d001d;
}
.dark.ruby {
  background-color: #930022;
  border-color: #540014;
}
.onyx {
  background-color: #423231;
  border-color: #291d1c;
}
.light.onyx {
  background-color: #5a4442;
  border-color: #342625;
}
.dark.onyx {
  background-color: #2b2020;
  border-color: #1d1413;
}
.pewter {
  background-color: #a7997a;
  border-color: #5b5340;
}
.light.pewter {
  background-color: #b8ac93;
  border-color: #645c4d;
}
.dark.pewter {
  background-color: #968563;
  border-color: #534935;
}
.gunmetal {
  background-color: #5d4d59;
  border-color: #362a33;
}
.light.gunmetal {
  background-color: #74606e;
  border-color: #41343d;
}
.dark.gunmetal {
  background-color: #473b44;
  border-color: #2b2128;
}
.hotpink {
  background-color: #ee4f94;
  border-color: #81284f;
}
.light.hotpink {
  background-color: #f275ab;
  border-color: #833b5a;
}
.dark.hotpink {
  background-color: #eb2a7d;
  border-color: #801644;
}
.neongreen {
  background-color: #42e10f;
  border-color: #247b08;
}
.light.neongreen {
  background-color: #59f128;
  border-color: #308315;
}
.dark.neongreen {
  background-color: #37bb0c;
  border-color: #1e6807;
}
.electricblue {
  background-color: #3fadcd;
  border-color: #215e70;
}
.light.electricblue {
  background-color: #60bbd6;
  border-color: #326574;
}
.dark.electricblue {
  background-color: #2f96b5;
  border-color: #195364;
}
.royalpurple {
  background-color: #6d2c89;
  border-color: #3d184e;
}
.light.royalpurple {
  background-color: #8636a8;
  border-color: #4a1d5d;
}
.dark.royalpurple {
  background-color: #54226a;
  border-color: #31133e;
}
.lemon {
  background-color: #f9eb84;
  border-color: #877f42;
}
.light.lemon {
  background-color: #fbf2ab;
  border-color: #888256;
}
.dark.lemon {
  background-color: #f8e55d;
  border-color: #867c2f;
}
.lime {
  background-color: #a2d070;
  border-color: #57713a;
}
.light.lime {
  background-color: #b6da8f;
  border-color: #61764a;
}
.dark.lime {
  background-color: #8ec652;
  border-color: #4d6c2b;
}
.tangerine {
  background-color: #f49d49;
  border-color: #845425;
}
.light.tangerine {
  background-color: #f6b26f;
  border-color: #865e38;
}
.dark.tangerine {
  background-color: #f28822;
  border-color: #834912;
}
.grapefruit {
  background-color: #d6293b;
  border-color: #751620;
}
.light.grapefruit {
  background-color: #dd4b5a;
  border-color: #78272f;
}
.dark.grapefruit {
  background-color: #b42231;
  border-color: #64121b;
}
.action,
.base-color {
  color: #fff2f0;
  background: #ea2d05;
  border-color: #801903;
}
.action.light,
.base-color.light {
  color: #fff2f0;
  background: #fa441e;
  border-color: #88240f;
}
.action.dark,
.base-color.dark {
  color: #fff2f0;
  background: #c22504;
  border-color: #6c1502;
}
.reaction {
  background-color: #2b7b8b;
  border-color: #18454f;
}
.light.reaction {
  background-color: #3597aa;
  border-color: #1d535e;
}
.dark.reaction {
  background-color: #22606c;
  border-color: #13383f;
}
.default {
  background-color: #b5421b;
  border-color: #65240f;
}
.light.default {
  background-color: #d94f20;
  border-color: #762b11;
}
.dark.default {
  background-color: #923516;
  border-color: #531e0c;
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-margin-right {
  margin-right: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.no-margin-left {
  margin-left: 0 !important;
}
.no-padding {
  padding: 0;
}
.no-margin,
.no-gutter {
  margin: 0;
}
.no-side-margin,
.no-side-margins {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.no-margins {
  margin: 0 !important;
}
.no-margins * {
  margin: 0 !important;
}
.no-box-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  box-shadow: unset;
}
.no-text-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  text-shadow: unset;
}
.no-border,
.no-borders,
.no-borders * {
  border-width: 0 !important;
}
.no-background {
  background: transparent;
}
.no-text-indent {
  text-indent: 0;
}
.no-text-align {
  text-align: initial;
}
.no-user-select {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.no-pointer-events {
  pointer-events: none;
}
.no-list-style {
  list-style-type: none;
  margin-left: 0;
}
.no-grid-gap,
.no-column-gap {
  grid-gap: 0;
  column-gap: 0;
}
@media print {
  html {
    font-size: 62.5%;
  }
  * {
    box-shadow: unset !important;
    border: unset !important;
  }
  nav {
    display: none !important;
  }
  .page-width,
  .text-width,
  .container {
    all: unset;
  }
  .inner-page-width,
  .inner-text-width,
  .inner-aside-width {
    all: unset;
  }
}
