/* This project uses Cavepaint (MIT License) by Rex Riepe */
/* https://github.com/cavepaint/cavepaintCSS */
.background {
  background: #fdf5ff;
}
.background-color {
  background-color: #fdf5ff;
}
.border {
  border: 1px solid #c186dc;
}
.border-radius,
.rounded {
  border-radius: 0.5em;
}
.border-bottom {
  border-bottom: 1px solid #c186dc;
}
.border-left {
  border-left: 1px solid #c186dc;
}
.border-right {
  border-right: 1px solid #c186dc;
}
.border-style,
.button.border,
button.border {
  border-style: solid;
}
.border-top {
  border-top: 1px solid #c186dc;
}
.border-width,
.button.border,
button.border {
  border-width: 1px;
}
.max-width {
  max-width: 59rem;
}
.min-width {
  min-width: 22rem;
}
.align-content {
  align-content: stretch;
}
.align-items {
  align-items: stretch;
}
.align-self {
  align-self: auto;
}
.flex,
.vertical-center,
.center-vertical {
  flex: 0 1 auto;
}
.flex-direction,
.vertical-center,
.center-vertical {
  flex-direction: column;
}
.justify-content,
.vertical-center,
.center-vertical {
  justify-content: center;
}
.font-family,
body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.font-size {
  font-size: 18px;
}
.font-weight {
  font-weight: normal;
}
.list-style {
  list-style: disc inside none;
}
.list-style-type {
  list-style-type: disc;
}
.margin {
  margin: 2rem;
}
.margin-bottom,
pre,
.bar,
.card {
  margin-bottom: 2rem;
}
.margin-left {
  margin-left: 2rem;
}
.margin-right {
  margin-right: 2rem;
}
.margin-top {
  margin-top: 2rem;
}
.column-gap {
  column-gap: 1.94em;
}
.column-rule {
  column-rule: 1px solid #c186dc;
}
.padding {
  padding: 1rem;
}
.padding-bottom {
  padding-bottom: 1rem;
}
.padding-left {
  padding-left: 1rem;
}
.padding-right {
  padding-right: 1rem;
}
.padding-top {
  padding-top: 1rem;
}
.text-align {
  text-align: left;
}
.text-align-last {
  text-align-last: left;
}
.text-indent {
  text-indent: 2ch;
}
.text-justify {
  text-justify: justify;
}
.text-overflow {
  text-overflow: hidden;
}
.text-shadow {
  text-shadow: 1px 1px 1px rgba(36, 13, 41, 0.2);
}
.line-height {
  line-height: 1.8;
}
.vertical-align {
  vertical-align: middle;
}
.letter-spacing {
  letter-spacing: 0;
}
.word-spacing {
  word-spacing: normal;
}
.white-space {
  white-space: nowrap;
}
.word-break {
  word-break: break-all;
}
.word-wrap {
  word-wrap: break-word;
}
.transform {
  transform: none;
}
.transition {
  transition: all 0s ease 0s;
}
.display {
  display: block;
}
.position {
  position: absolute;
}
.top {
  top: 0;
}
.right {
  right: 0;
}
.bottom {
  bottom: 0;
}
.left {
  left: 0;
}
.float {
  float: left;
}
.clear {
  clear: both;
}
.z-index {
  z-index: 10;
}
.overflow {
  overflow: hidden;
}
.cursor {
  cursor: pointer;
}
.box-shadow {
  box-shadow: 1px 1px 1px rgba(36, 13, 41, 0.2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-size: 18px;
  line-height: 1.8;
  margin: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
nav {
  z-index: 99;
}
nav a {
  text-decoration: none;
}
aside {
  margin: 0 auto;
  margin-bottom: 2rem;
  max-width: 22rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-top: 0.49443758em;
  margin-bottom: 0.74165637em;
  letter-spacing: -0.025em;
  color: inherit;
  line-height: 1.618;
}
h1 {
  font-size: 2.4em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1em;
}
p {
  margin-bottom: 1em;
}
p.gutter-bottom {
  margin-bottom: 1.618em;
}
p.gutter {
  margin-bottom: 4rem;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: inherit;
  text-decoration: underline;
}
form {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input {
  font-size: 18px;
  line-height: 1.8;
  border: 1px solid #c186dc;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input:focus {
  box-shadow: 0 0 2px #2ee8ff;
}
fieldset {
  border: none;
  outline: none;
}
ol {
  padding-left: 4ch;
  margin-bottom: 2rem;
}
ol li {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
ul {
  margin-left: 1rem;
  margin-bottom: 2rem;
}
li {
  margin-bottom: 0.44em;
}
kbd {
  color: #fdf5ff;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  white-space: nowrap;
}
b {
  padding: 0.18em 0 0.22em 0;
}
pre {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  overflow: hidden;
  border-radius: 0.5em;
  background: #240d29;
  color: #fdf5ff;
}
pre.white-space,
pre.word-break {
  white-space: pre-wrap;
}
pre > code {
  background: transparent;
  padding: 0;
}
code {
  color: #fdf5ff;
  background-color: #240d29;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
code.terminal::before {
  content: "$ ";
}
textarea {
  font-size: 18px;
  line-height: 1.8;
  border: 1px solid #c186dc;
  border-radius: 0.5em;
  margin-bottom: 2rem;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
textarea:focus {
  box-shadow: 0 0 2px #2ee8ff;
}
.button,
button {
  border-style: solid;
  border-radius: 0.5em;
  box-shadow: 1px 1px 1px rgba(36, 13, 41, 0.2);
  display: inline;
  position: relative;
  font-family: inherit;
  font-size: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  color: inherit;
  background-color: inherit;
  border-color: #a047c9;
  border-width: 1px;
  line-height: 1.6;
  text-align: center;
  vertical-align: middle;
  outline: none;
  white-space: nowrap;
  text-decoration: none;
  touch-action: manipulation;
  cursor: pointer;
  transform: scale(1);
  transition: 0.08s linear;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.button:active,
button:active {
  transform: scale(0.99);
  box-shadow: unset;
}
.bar {
  position: relative;
  width: 100%;
  display: block;
  vertical-align: middle;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.bar > * {
  display: inline;
  margin-right: 0.3236em;
  margin-left: 0.3236em;
}
.card {
  position: relative;
  overflow: hidden;
  padding: 1rem;
  border: 1px solid #c186dc;
  border-radius: 0.5em;
  box-shadow: 1px 1px 1px rgba(36, 13, 41, 0.2);
}
.card > *:first-child {
  margin-top: 0;
}
.badge {
  border-radius: 0.5em;
  line-height: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  padding-right: 0.6472em;
  padding-left: 0.6472em;
  vertical-align: middle;
  border-radius: 99px;
  white-space: nowrap;
}
.modal {
  display: none;
  max-width: none;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  position: fixed;
  bottom: 0;
  justify-content: center;
  flex: 0 1 auto;
  flex-direction: column;
  height: 100vh;
}
.modal > * {
  flex-direction: column;
  color: #240d29;
  position: relative;
  background: #fdf5ff;
  padding: 1rem;
  margin-bottom: 4rem;
  border-radius: 0.5em;
  box-shadow: 1px 1px 1px rgba(36, 13, 41, 0.2);
  margin: 1rem;
}
@media screen and (min-width: 41rem) {
  .modal > * {
    max-width: 59rem;
    margin: 0 auto;
  }
}
.overlay {
  margin: 0;
  padding: 0;
  position: relative;
}
.overlay .top,
.overlay .bottom,
.overlay .left,
.overlay .right {
  position: absolute;
}
.overlay .top {
  top: 0.3236em;
}
.overlay .bottom {
  bottom: 0.3236em;
}
.overlay .left {
  left: 0.3236em;
}
.overlay .right {
  right: 0.3236em;
}
.overlay.stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.overlay * {
  margin: 0;
  display: block;
}
.white,
body,
input,
textarea {
  background-color: #fdf5ff;
  border-color: #8a7b8d;
}
.white.light,
body.light,
input.light,
textarea.light {
  color: #240d29;
  background-color: #fefaff;
  border-color: #8a7e8d;
}
.white.dark,
body.dark,
input.dark,
textarea.dark {
  color: #240d29;
  background-color: #fcecff;
  border-color: #89778d;
}
.black {
  background-color: #240d29;
  border-color: #120614;
}
.black.light {
  color: #fdf5ff;
  background-color: #5d2a65;
  border-color: #38193d;
}
.black.dark {
  color: #fdf5ff;
  background-color: #050106;
  border-color: #0c0210;
}
.ambient {
  color: #240d29;
  background-color: #de51fe;
  border-color: #7a298d;
}
.ambient.light {
  color: #240d29;
  background-color: #ee8aff;
  border-color: #83468d;
}
.ambient.dark {
  color: #fdf5ff;
  background-color: #ca1ffe;
  border-color: #6f108c;
}
.ambient.bright {
  color: #240d29;
  background-color: #f2a3ff;
  border-color: #85538d;
}
.red,
.failure {
  background-color: #ff003e;
  border-color: #8d0123;
}
.light.red,
.light.failure {
  background-color: #ff4678;
  border-color: #8d2440;
}
.dark.red,
.dark.failure {
  background-color: #ce0032;
  border-color: #75011d;
}
.bright.red,
.bright.failure {
  background-color: #ff1935;
  border-color: #8d0e1d;
}
.orange,
.warning {
  background-color: #ff9b29;
  border-color: #8d5515;
}
.light.orange,
.light.warning {
  background-color: #ffb669;
  border-color: #8d6335;
}
.dark.orange,
.dark.warning {
  background-color: #cf7322;
  border-color: #734013;
}
.bright.orange,
.bright.warning {
  background-color: #ffb926;
  border-color: #8d6614;
}
.yellow {
  background-color: #fff029;
  border-color: #8d8515;
}
.light.yellow {
  background-color: #fff369;
  border-color: #8d8635;
}
.dark.yellow {
  background-color: #cfb422;
  border-color: #736513;
}
.bright.yellow {
  background-color: #fffd26;
  border-color: #8d8c14;
}
.green,
.success {
  background-color: #2e753e;
  border-color: #1b4524;
}
.light.green,
.light.success {
  background-color: #6c9b78;
  border-color: #3b5742;
}
.dark.green,
.dark.success {
  background-color: #255532;
  border-color: #17351f;
}
.bright.green,
.bright.success {
  background-color: #148124;
  border-color: #0c4d16;
}
.teal {
  background-color: #1e7994;
  border-color: #124656;
}
.light.teal {
  background-color: #619eb4;
  border-color: #355764;
}
.dark.teal {
  background-color: #195877;
  border-color: #0f3547;
}
.bright.teal {
  background-color: #0883be;
  border-color: #054b6c;
}
.cyan,
.info {
  background-color: #2ee8ff;
  border-color: #18808d;
}
.light.cyan,
.light.info {
  background-color: #6cedff;
  border-color: #37828d;
}
.dark.cyan,
.dark.info {
  background-color: #25aed1;
  border-color: #156174;
}
.bright.cyan,
.bright.info {
  background-color: #2afbff;
  border-color: #168b8d;
}
.blue {
  background-color: #2e00ff;
  border-color: #1a018d;
}
.light.blue {
  background-color: #6c46ff;
  border-color: #39248d;
}
.dark.blue {
  background-color: #2500d1;
  border-color: #160176;
}
.bright.blue {
  background-color: #2919ff;
  border-color: #160e8d;
}
.purple {
  background-color: #8f0094;
  border-color: #550158;
}
.light.purple {
  background-color: #b046b4;
  border-color: #622765;
}
.dark.purple {
  background-color: #710077;
  border-color: #460149;
}
.bright.purple {
  background-color: #b500bf;
  border-color: #68016d;
}
.magenta {
  background-color: #ff00ff;
  border-color: #8d018d;
}
.light.magenta {
  background-color: #ff46ff;
  border-color: #8d248d;
}
.dark.magenta {
  background-color: #cf00d1;
  border-color: #750176;
}
.bright.magenta {
  background-color: #ff19ff;
  border-color: #8d0e8d;
}
.gray {
  background-color: #8f7894;
  border-color: #504253;
}
.light.gray {
  background-color: #b09db4;
  border-color: #605463;
}
.dark.gray {
  background-color: #715877;
  border-color: #413144;
}
.bright.gray {
  background-color: #a881af;
  border-color: #5c4661;
}
.action,
.base-color {
  color: #fdf5ff;
  background-color: #9e40ed;
  border-color: #572283;
}
.action.light,
.base-color.light {
  color: #240d29;
  background-color: #c87bf6;
  border-color: #6d3f88;
}
.action.dark,
.base-color.dark {
  color: #fdf5ff;
  background-color: #7315e2;
  border-color: #400c7d;
}
.action.bright,
.base-color.bright {
  color: #240d29;
  background-color: #bb6ffb;
  border-color: #65398b;
}
.reaction {
  background-color: #6ea737;
  border-color: #3e5e1f;
}
.light.reaction {
  background-color: #99bf73;
  border-color: #54693e;
}
.dark.reaction {
  background-color: #567c2d;
  border-color: #32481a;
}
.bright.reaction {
  background-color: #69d91a;
  border-color: #3b790f;
}
.default {
  background-color: #c186dc;
  border-color: #694679;
}
.light.default {
  background-color: #d3a7e6;
  border-color: #72577e;
}
.dark.default {
  background-color: #9b62b3;
  border-color: #563664;
}
.bright.default {
  background-color: #e7a4f7;
  border-color: #7e5488;
}
.complement,
.second.triad {
  background-color: #8dcc51;
  border-color: #4d712c;
}
.light.complement,
.light.second.triad {
  color: #240d29;
  background-color: #aed985;
  border-color: #5e7846;
}
.dark.complement,
.dark.second.triad {
  color: #fdf5ff;
  background-color: #6f9941;
  border-color: #3f5725;
}
.bright.complement,
.bright.second.triad {
  color: #240d29;
  background-color: #a4ed4b;
  border-color: #5a8327;
}
.accent {
  background-color: #e40fde;
  border-color: #7f097b;
}
.light.accent {
  color: #240d29;
  background-color: #ec51e8;
  border-color: #822a80;
}
.dark.accent {
  color: #fdf5ff;
  background-color: #b80bb5;
  border-color: #690767;
}
.bright.accent {
  color: #240d29;
  background-color: #fd17fb;
  border-color: #8c0d8b;
}
.second.accent {
  background-color: #340fe5;
  border-color: #1e0980;
}
.light.second.accent {
  color: #fdf5ff;
  background-color: #7051ed;
  border-color: #3c2a83;
}
.dark.second.accent {
  color: #fdf5ff;
  background-color: #2a0bbb;
  border-color: #18076b;
}
.bright.second.accent {
  color: #fdf5ff;
  background-color: #2a18fd;
  border-color: #170d8c;
}
.split {
  background-color: #de3451;
  border-color: #7b1d2d;
}
.light.split {
  color: #240d29;
  background-color: #e76c85;
  border-color: #803947;
}
.dark.split {
  color: #fdf5ff;
  background-color: #b32641;
  border-color: #651625;
}
.bright.split {
  color: #fdf5ff;
  background-color: #f72e49;
  border-color: #891827;
}
.second.split {
  background-color: #49c6df;
  border-color: #276d7c;
}
.light.second.split {
  color: #240d29;
  background-color: #7fd5e9;
  border-color: #427480;
}
.dark.second.split {
  color: #fdf5ff;
  background-color: #3a93b6;
  border-color: #205366;
}
.bright.second.split {
  color: #240d29;
  background-color: #42e8f8;
  border-color: #228089;
}
.triad {
  background-color: #de2e92;
  border-color: #7b1951;
}
.light.triad {
  color: #240d29;
  background-color: #e767b3;
  border-color: #803661;
}
.dark.triad {
  color: #fdf5ff;
  background-color: #b32175;
  border-color: #651342;
}
.bright.triad {
  color: #fdf5ff;
  background-color: #f729ac;
  border-color: #89165f;
}
.third.triad {
  background-color: #4976df;
  border-color: #27407c;
}
.light.third.triad {
  color: #240d29;
  background-color: #7f9ce9;
  border-color: #425380;
}
.dark.third.triad {
  color: #fdf5ff;
  background-color: #3a56b6;
  border-color: #203066;
}
.bright.third.triad {
  color: #fdf5ff;
  background-color: #427ef8;
  border-color: #224489;
}
.tetrad {
  background-color: #de2eb6;
  border-color: #7b1965;
}
.light.tetrad {
  color: #240d29;
  background-color: #e767cc;
  border-color: #803670;
}
.dark.tetrad {
  color: #fdf5ff;
  background-color: #b32193;
  border-color: #651353;
}
.bright.tetrad {
  color: #fdf5ff;
  background-color: #f729d9;
  border-color: #891678;
}
.second.tetrad {
  background-color: #deac51;
  border-color: #7b5e2b;
}
.light.second.tetrad {
  color: #240d29;
  background-color: #e7c285;
  border-color: #7f6945;
}
.dark.second.tetrad {
  color: #fdf5ff;
  background-color: #b37f41;
  border-color: #644724;
}
.bright.second.tetrad {
  color: #240d29;
  background-color: #f7cf4c;
  border-color: #897227;
}
.third.tetrad {
  background-color: #49cd7b;
  border-color: #287144;
}
.light.third.tetrad {
  color: #240d29;
  background-color: #7fd9a3;
  border-color: #437858;
}
.dark.third.tetrad {
  color: #fdf5ff;
  background-color: #3a9962;
  border-color: #215738;
}
.bright.third.tetrad {
  color: #240d29;
  background-color: #41ed85;
  border-color: #228349;
}
.fourth.tetrad {
  background-color: #494edf;
  border-color: #272a7c;
}
.light.fourth.tetrad {
  color: #fdf5ff;
  background-color: #7f7fe9;
  border-color: #424280;
}
.dark.fourth.tetrad {
  color: #fdf5ff;
  background-color: #3a39b6;
  border-color: #202066;
}
.bright.fourth.tetrad {
  color: #fdf5ff;
  background-color: #4248f8;
  border-color: #222689;
}
.warm {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201%201%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23f19b6c%22%20opacity%3D%220.2%22%20d%3D%22M0%200h1v1H0z%22%2F%3E%3C%2Fsvg%3E");
}
.cool {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201%201%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%2335bde3%22%20opacity%3D%220.2%22%20d%3D%22M0%200h1v1H0z%22%2F%3E%3C%2Fsvg%3E");
}
.neutral {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201%201%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%2341955f%22%20opacity%3D%220.16%22%20d%3D%22M0%200h1v1H0z%22%2F%3E%3C%2Fsvg%3E");
}
.dull {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201%201%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23a787ad%22%20opacity%3D%220.38%22%20d%3D%22M0%200h1v1H0z%22%2F%3E%3C%2Fsvg%3E");
}
.responsive {
  column-gap: 0.382rem;
  grid-gap: 0.382rem;
}
.responsive.padding,
.modal,
.container {
  padding: 0.382rem;
}
.responsive.margin,
.container {
  margin: 0.764rem;
}
.responsive.gutter {
  margin: 1.528rem;
}
@media screen and (min-width: 41rem) {
  .responsive {
    column-gap: 0.618rem;
    grid-gap: 0.618rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 0.618rem;
  }
  .responsive.margin,
  .container {
    margin: 1.236rem;
  }
  .responsive.gutter {
    margin: 2.472rem;
  }
}
@media screen and (min-width: 59rem) {
  .responsive {
    column-gap: 1rem;
    grid-gap: 1rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1rem;
  }
  .responsive.margin,
  .container {
    margin: 2rem;
  }
  .responsive.gutter {
    margin: 4rem;
  }
}
.grid,
.two-column,
.three-column {
  display: grid;
  grid-gap: 2rem;
  margin-bottom: 2rem;
}
.grid.tablet,
.two-column.tablet,
.three-column.tablet,
.grid.mobile.tablet,
.two-column.mobile.tablet,
.three-column.mobile.tablet,
.grid.desktop,
.two-column.desktop,
.three-column.desktop {
  display: unset;
}
.grid {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.two-column {
  grid-template-columns: 1fr 1fr;
}
.two-column.golden {
  grid-template-columns: 1.618fr 1fr;
}
.two-column.golden.reverse {
  grid-template-columns: 1fr 1.618fr;
}
.three-column {
  grid-template-columns: 1fr 1fr 1fr;
}
.three-column.golden {
  grid-template-columns: 1fr 1.618fr 1fr;
}
.three-column.golden.leading {
  grid-template-columns: 1.618fr 1fr 1fr;
}
.three-column.golden.trailing {
  grid-template-columns: 1fr 1fr 1.618fr;
}
.grid-width-one {
  grid-column: auto / span 1;
}
.grid-width-two {
  grid-column: auto / span 2;
}
.grid-width-three {
  grid-column: auto / span 3;
}
.grid-width-four {
  grid-column: auto / span 4;
}
.grid-width-five {
  grid-column: auto / span 5;
}
.grid-width-six {
  grid-column: auto / span 6;
}
.grid-width-seven {
  grid-column: auto / span 7;
}
.grid-width-eight {
  grid-column: auto / span 8;
}
.grid-width-nine {
  grid-column: auto / span 9;
}
.grid-width-ten {
  grid-column: auto / span 10;
}
.grid-width-eleven {
  grid-column: auto / span 11;
}
.grid-width-twelve {
  grid-column: auto / span 12;
}
@media screen and (max-width: calc(41rem - 1px)) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: grid;
  }
}
@media screen and (min-width: 41rem) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: initial;
  }
  .grid.tablet,
  .two-column.tablet,
  .three-column.tablet {
    display: grid;
  }
}
@media screen and (max-width: calc(59rem - 1px)) {
  .grid.mobile.tablet,
  .two-column.mobile.tablet,
  .three-column.mobile.tablet {
    display: grid;
  }
}
@media screen and (min-width: 59rem) {
  .grid.desktop,
  .two-column.desktop,
  .three-column.desktop {
    display: grid;
  }
}
.gutter {
  margin: 4rem;
}
.gutter-top {
  margin-top: 4rem;
}
.gutter-right {
  margin-right: 4rem;
}
.gutter-bottom {
  margin-bottom: 4rem;
}
.gutter-left {
  margin-left: 4rem;
}
.text-padding {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-padding-top {
  padding-top: 0.18em;
}
.text-padding-right {
  padding-right: 0.3236em;
}
.text-padding-bottom {
  padding-bottom: 0.22em;
}
.text-padding-left {
  padding-left: 0.3236em;
}
.text-margin {
  margin: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-margin-top {
  margin-top: 0.18em;
}
.text-margin-right {
  margin-right: 0.3236em;
}
.text-margin-bottom {
  margin-bottom: 0.22em;
}
.text-margin-left {
  margin-left: 0.3236em;
}
.bottom-margins * {
  margin-bottom: 2rem;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.initial {
  display: initial;
}
.table {
  display: table;
}
.flex,
.vertical-center,
.center-vertical {
  display: flex;
}
.inline-block {
  display: inline-block;
}
.static {
  position: static;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.margin-auto,
.container {
  margin-left: auto;
  margin-right: auto;
}
.width-auto {
  width: auto;
}
.inset {
  box-shadow: inset 1px 1px 1px rgba(36, 13, 41, 0.2);
}
.viewport-height {
  height: 100vh;
}
.min-viewport-height {
  min-height: 100vh;
}
.overflow-hidden {
  overflow: hidden;
}
.dashed {
  border-style: dashed;
}
.dotted {
  border-style: dotted;
}
.thick {
  border-width: 2px;
}
.thin {
  border-width: 0.5px;
}
.current-color {
  border-color: currentColor;
}
.fade {
  opacity: 0.65;
}
.monospace,
pre,
code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
}
.sans-serif {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.serif {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "Droid Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.text-transparent {
  color: transparent;
}
.big {
  font-size: 125%;
  line-height: 2.25;
}
.big.font-size {
  font-size: 22.5px;
}
.small,
.badge {
  font-size: 87.5%;
  line-height: 1.575;
}
.small.font-size {
  font-size: 15.75px;
}
.huge {
  font-size: 160%;
}
.huge.font-size {
  font-size: 28.8px;
}
.text-trim {
  line-height: 1;
}
.text-align-center,
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.grid-gap-margin {
  grid-gap: 2rem;
}
.grid-gap-border-width {
  grid-gap: 1px;
}
.grid-gap-text-padding,
.grid-gap-text-margin {
  grid-gap: 0.3236em;
}
.shade,
.white,
.orange,
.bright.orange,
.yellow,
.bright.yellow,
.light.green,
.light.teal,
.cyan,
.bright.cyan,
.magenta,
.bright.magenta,
.light.gray,
.reaction,
.bright.reaction,
.default,
.bright.default,
.complement,
.second.split,
.second.tetrad,
.third.tetrad,
body,
input,
textarea,
.info,
.bright.info,
.warning,
.bright.warning,
.light.success,
.second.triad {
  color: #240d29;
}
.tint,
.black,
.red,
.bright.red,
.dark.orange,
.green,
.bright.green,
.teal,
.bright.teal,
.blue,
.bright.blue,
.purple,
.bright.purple,
.dark.magenta,
.gray,
.bright.gray,
.dark.reaction,
.dark.default,
.accent,
.second.accent,
.split,
.triad,
.third.triad,
.tetrad,
.fourth.tetrad,
.dark.warning,
.success,
.bright.success,
.failure,
.bright.failure {
  color: #fdf5ff;
}
.transparent {
  background-color: transparent;
  color: inherit;
  border-color: inherit;
}
.transparent.light {
  background-color: rgba(253, 245, 255, 0.16);
}
.transparent.dark,
.modal {
  background-color: rgba(36, 13, 41, 0.25);
}
.trim,
.trim-inner *,
.trim-all,
.trim-all * {
  margin-bottom: 0;
}
.bump {
  position: relative;
}
.bump.up {
  top: -2px;
}
.bump.down {
  top: 2px;
}
.bump.left {
  left: -2px;
}
.bump.right {
  right: initial;
  left: 2px;
}
.hidden {
  display: none !important;
}
.clearfix,
.clear {
  clear: both;
}
.clearfix::after,
.clear::after {
  display: block;
  clear: both;
  content: "";
}
.character-width {
  max-width: 1ch;
}
.golden-width {
  max-width: calc(62% - 4rem);
}
.golden-width.reverse {
  max-width: 38%;
}
.aside-width {
  max-width: 22rem;
}
@media screen and (min-width: 41rem) {
  .text-width {
    max-width: 37rem;
  }
}
.page-width,
.container {
  max-width: 59rem;
}
.full-width,
.page-width .page-width {
  display: block;
  width: 100%;
}
.inner-aside-width {
  padding-left: calc(50% - 11rem);
  padding-right: calc(50% - 11rem);
}
.inner-aside-width.padding {
  padding-left: calc(50% - 10rem);
  padding-right: calc(50% - 10rem);
}
.inner-aside-width.responsive.padding {
  padding-left: calc(50% - 10.62rem);
  padding-right: calc(50% - 10.62rem);
}
@media screen and (max-width: calc(41rem - 1px)) {
  .inner-text-width {
    padding-left: initial;
    padding-right: initial;
  }
  .inner-text-width.padding {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .inner-text-width.responsive.padding {
    padding-left: 0.382rem;
    padding-right: 0.382rem;
  }
}
@media screen and (min-width: 41rem) {
  .inner-aside-width.tablet.padding {
    padding-left: calc(50% - 10rem);
    padding-right: calc(50% - 10rem);
  }
  .inner-aside-width.tablet.responsive.padding {
    padding-left: calc(50% - 10.38rem);
    padding-right: calc(50% - 10.38rem);
  }
  .inner-text-width {
    padding-left: calc(50% - 18.5rem);
    padding-right: calc(50% - 18.5rem);
  }
  .inner-text-width.padding {
    padding-left: calc(50% - 17.5rem);
    padding-right: calc(50% - 17.5rem);
  }
  .inner-text-width.responsive.padding {
    padding-left: calc(50% - 17.88rem);
    padding-right: calc(50% - 17.88rem);
  }
}
@media screen and (min-width: 59rem) {
  .inner-aside-width.desktop.padding {
    padding-left: calc(50% - 10rem);
    padding-right: calc(50% - 10rem);
  }
  .inner-aside-width.desktop.responsive.padding {
    padding-left: calc(50% - 10rem);
    padding-right: calc(50% - 10rem);
  }
  .inner-text-width.desktop.padding {
    padding-left: calc(50% - 17.5rem);
    padding-right: calc(50% - 17.5rem);
  }
  .inner-text-width.desktop.responsive.padding {
    padding-left: calc(50% - 17.5rem);
    padding-right: calc(50% - 17.5rem);
  }
  .inner-page-width {
    padding-left: calc(50% - 29.5rem);
    padding-right: calc(50% - 29.5rem);
  }
  .inner-page-width.padding {
    padding-left: calc(50% - 28.5rem);
    padding-right: calc(50% - 28.5rem);
  }
  .inner-page-width.responsive.padding {
    padding-left: calc(50% - 28.5rem);
    padding-right: calc(50% - 28.5rem);
  }
}
.placeholder {
  min-height: 10px;
}
.placeholder::before {
  content: " ";
  white-space: pre;
}
.placeholder::after {
  content: "";
  display: block;
}
.placeholder.square::after,
.placeholder.one-to-one::after {
  padding-top: 100%;
}
.placeholder.four-to-three::after {
  padding-top: 75%;
}
.placeholder.sixteen-to-nine::after {
  padding-top: 56.25%;
}
.hide {
  display: none;
}
.hide.tablet {
  display: initial;
}
.hide.desktop {
  display: initial;
}
@media screen and (max-width: calc(41rem - 1px)) {
  .hide.mobile {
    display: none;
  }
}
@media screen and (min-width: 41rem) {
  .hide.mobile {
    display: initial;
  }
  .hide.tablet {
    display: none;
  }
}
@media screen and (min-width: 59rem) {
  .hide.desktop {
    display: none;
  }
  .hide.mobile.tablet {
    display: initial;
  }
}
@media screen and (max-width: calc(59rem - 1px)) {
  .hide.mobile.tablet {
    display: none;
  }
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-margin-right {
  margin-right: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.no-margin-left {
  margin-left: 0 !important;
}
.no-padding {
  padding: 0;
}
.no-margin,
.no-gutter {
  margin: 0;
}
.no-side-margin,
.no-side-margins {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.no-margins {
  margin: 0 !important;
}
.no-margins * {
  margin: 0 !important;
}
.no-box-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  box-shadow: unset;
}
.no-text-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  text-shadow: unset;
}
.no-border,
.no-borders,
.no-borders * {
  border-width: 0 !important;
}
.no-background {
  background: transparent;
}
.no-text-indent {
  text-indent: 0;
}
.no-text,
.no-text * {
  text-indent: -9999px;
}
.no-text-align {
  text-align: initial;
}
.no-user-select {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.no-pointer-events {
  pointer-events: none;
}
.no-list-style {
  list-style-type: none;
  margin-left: 0;
}
.no-grid-gap,
.no-column-gap {
  grid-gap: 0;
  column-gap: 0;
}
