/* This project uses Cavepaint! (MIT License) */
/* https://github.com/cavepaint/cavepaintCSS */
* {
  margin: 0 0 1.62rem 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}
.button,
button {
  border-style: solid;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(41, 37, 14, 0.16);
  display: inline;
  position: relative;
  font-family: inherit;
  font-size: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  color: inherit;
  background-color: inherit;
  border-color: #3c3967;
  border-width: 1px;
  line-height: 1.6;
  text-align: center;
  vertical-align: middle;
  outline: none;
  white-space: nowrap;
  text-decoration: none;
  touch-action: manipulation;
  cursor: pointer;
  transform: scale(1);
  transition: 0.08s linear;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.button:active,
button:active {
  transform: scale(0.99);
  box-shadow: unset;
}
.bar {
  position: relative;
  width: 100%;
  display: block;
  vertical-align: middle;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.bar > * {
  display: inline;
  margin-right: 0.3236em;
  margin-left: 0.3236em;
  margin-bottom: 0;
}
.card {
  position: relative;
  overflow: hidden;
  padding: 1.62rem;
  border: 1px solid #5a569c;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(41, 37, 14, 0.16);
}
.card > *:first-child {
  margin-top: 0;
}
.card > *:last-child {
  margin-bottom: 0;
}
.badge {
  border-radius: 0.5em;
  line-height: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  padding-right: 0.6472em;
  padding-left: 0.6472em;
  vertical-align: middle;
  border-radius: 99px;
  white-space: nowrap;
}
.modal {
  display: none;
  max-width: none;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  position: fixed;
  bottom: 0;
  justify-content: center;
  flex: 0 1 auto;
  flex-direction: column;
  height: 100vh;
}
.modal > * {
  flex-direction: column;
  color: #0e1229;
  position: relative;
  background: #f5f6ff;
  padding: 1.62rem;
  margin-bottom: 3.24rem;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(41, 37, 14, 0.16);
  margin: 1.62rem;
}
@media screen and (min-width: 43.24rem) {
  .modal > * {
    max-width: 64rem;
    margin: 0 auto;
  }
}
.overlay {
  margin: 0;
  padding: 0;
  position: relative;
}
.overlay .top,
.overlay .bottom,
.overlay .left,
.overlay .right {
  position: absolute;
}
.overlay .top {
  top: 0.3236em;
}
.overlay .bottom {
  bottom: 0.3236em;
}
.overlay .left {
  left: 0.3236em;
}
.overlay .right {
  right: 0.3236em;
}
.overlay.stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.overlay * {
  margin: 0;
  display: block;
}
.grid,
.two-column,
.three-column {
  display: grid;
  grid-gap: 1.62rem;
}
.grid.tablet,
.two-column.tablet,
.three-column.tablet,
.grid.mobile.tablet,
.two-column.mobile.tablet,
.three-column.mobile.tablet,
.grid.desktop,
.two-column.desktop,
.three-column.desktop {
  display: initial;
}
.grid {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.two-column {
  grid-template-columns: 1fr 1fr;
}
.two-column.golden {
  grid-template-columns: 1.618fr 1fr;
}
.two-column.golden.reverse {
  grid-template-columns: 1fr 1.618fr;
}
.three-column {
  grid-template-columns: 1fr 1fr 1fr;
}
.three-column.golden {
  grid-template-columns: 1fr 1.618fr 1fr;
}
.three-column.golden.leading {
  grid-template-columns: 1.618fr 1fr 1fr;
}
.three-column.golden.trailing {
  grid-template-columns: 1fr 1fr 1.618fr;
}
.grid .grid-width-one {
  grid-column: auto / span 1;
}
.grid .grid-width-two {
  grid-column: auto / span 2;
}
.grid .grid-width-three {
  grid-column: auto / span 3;
}
.grid .grid-width-four {
  grid-column: auto / span 4;
}
.grid .grid-width-five {
  grid-column: auto / span 5;
}
.grid .grid-width-six {
  grid-column: auto / span 6;
}
.grid .grid-width-seven {
  grid-column: auto / span 7;
}
.grid .grid-width-eight {
  grid-column: auto / span 8;
}
.grid .grid-width-nine {
  grid-column: auto / span 9;
}
.grid .grid-width-ten {
  grid-column: auto / span 10;
}
.grid .grid-width-eleven {
  grid-column: auto / span 11;
}
.grid .grid-width-twelve {
  grid-column: auto / span 12;
}
@media screen and (max-width: calc(43.24rem - 1px)) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: grid;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 43.24rem) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: initial;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: initial;
  }
  .grid.tablet,
  .two-column.tablet,
  .three-column.tablet {
    display: grid;
  }
  .grid.tablet > *,
  .two-column.tablet > *,
  .three-column.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (max-width: calc(64rem - 1px)) {
  .grid.mobile.tablet,
  .two-column.mobile.tablet,
  .three-column.mobile.tablet {
    display: grid;
  }
  .grid.mobile.tablet > *,
  .two-column.mobile.tablet > *,
  .three-column.mobile.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 64rem) {
  .grid.desktop,
  .two-column.desktop,
  .three-column.desktop {
    display: grid;
  }
  .grid.desktop > *,
  .two-column.desktop > *,
  .three-column.desktop > * {
    margin-bottom: 0;
  }
}
.responsive {
  column-gap: 0.619rem;
  grid-gap: 0.619rem;
}
.responsive.padding,
.modal,
.container {
  padding: 0.619rem;
}
.responsive.margin,
.container {
  margin: 0.619rem;
}
.responsive.gutter {
  margin: 1.238rem;
}
@media screen and (min-width: 43.24rem) {
  .responsive {
    column-gap: 1.001rem;
    grid-gap: 1.001rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.001rem;
  }
  .responsive.margin,
  .container {
    margin: 1.001rem;
  }
  .responsive.gutter {
    margin: 2.002rem;
  }
}
@media screen and (min-width: 64rem) {
  .responsive {
    column-gap: 1.62rem;
    grid-gap: 1.62rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.62rem;
  }
  .responsive.margin,
  .container {
    margin: 1.62rem;
  }
  .responsive.gutter {
    margin: 3.24rem;
  }
}
.background {
  background: #f5f6ff;
}
.background-color {
  background-color: #f5f6ff;
}
.border {
  border: 1px solid #5a569c;
}
.border-radius,
.rounded {
  border-radius: 0.5em;
}
.border-bottom {
  border-bottom: 1px solid #5a569c;
}
.border-left {
  border-left: 1px solid #5a569c;
}
.border-right {
  border-right: 1px solid #5a569c;
}
.border-style,
.button.border,
button.border {
  border-style: solid;
}
.border-top {
  border-top: 1px solid #5a569c;
}
.border-width,
.button.border,
button.border {
  border-width: 1px;
}
.max-width {
  max-width: 64rem;
}
.min-width {
  min-width: 24rem;
}
.align-content {
  align-content: stretch;
}
.align-items {
  align-items: stretch;
}
.align-self {
  align-self: auto;
}
.flex,
.vertical-center,
.center-vertical {
  flex: 0 1 auto;
}
.flex-basis {
  flex-basis: auto;
}
.flex-direction,
.vertical-center,
.center-vertical {
  flex-direction: column;
}
.flex-flow {
  flex-flow: column nowrap;
}
.flex-grow {
  flex-grow: 0;
}
.flex-shrink {
  flex-shrink: 1;
}
.flex-wrap {
  flex-wrap: nowrap;
}
.justify-content,
.vertical-center,
.center-vertical {
  justify-content: center;
}
.font-family {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
}
.font-size {
  font-size: 20px;
}
.font-weight {
  font-weight: normal;
}
.list-style {
  list-style: disc inside none;
}
.list-style-type {
  list-style-type: disc;
}
.margin {
  margin: 1.62rem;
}
.margin-bottom {
  margin-bottom: 1.62rem;
}
.margin-left {
  margin-left: 1.62rem;
}
.margin-right {
  margin-right: 1.62rem;
}
.margin-top {
  margin-top: 1.62rem;
}
.column-gap {
  column-gap: 1.94em;
}
.column-rule {
  column-rule: 1px solid #5a569c;
}
.padding {
  padding: 1.62rem;
}
.padding-bottom {
  padding-bottom: 1.62rem;
}
.padding-left {
  padding-left: 1.62rem;
}
.padding-right {
  padding-right: 1.62rem;
}
.padding-top {
  padding-top: 1.62rem;
}
.text-align {
  text-align: left;
}
.text-align-last {
  text-align-last: left;
}
.text-indent {
  text-indent: 2ch;
}
.text-justify {
  text-justify: justify;
}
.text-overflow {
  text-overflow: hidden;
}
.text-shadow {
  text-shadow: 1.41px 1.41px 1.41px rgba(41, 37, 14, 0.16);
}
.line-height {
  line-height: 1.8;
}
.vertical-align {
  vertical-align: middle;
}
.letter-spacing {
  letter-spacing: 0;
}
.word-spacing {
  word-spacing: normal;
}
.white-space {
  white-space: nowrap;
}
.word-break {
  word-break: break-all;
}
.word-wrap {
  word-wrap: break-word;
}
.transform {
  transform: none;
}
.transition {
  transition: all 0s ease 0s;
}
.display {
  display: block;
}
.position {
  position: absolute;
}
.top {
  top: 0;
}
.right {
  right: 0;
}
.bottom {
  bottom: 0;
}
.left {
  left: 0;
}
.float {
  float: left;
}
.clear {
  clear: both;
}
.z-index {
  z-index: 10;
}
.overflow {
  overflow: hidden;
}
.overflow-x {
  overflow-x: hidden;
}
.cursor {
  cursor: pointer;
}
.box-shadow {
  box-shadow: 1.41px 1.41px 1.41px rgba(41, 37, 14, 0.16);
}
.gutter {
  margin: 3.24rem;
}
.gutter-top {
  margin-top: 3.24rem;
}
.gutter-right {
  margin-right: 3.24rem;
}
.gutter-bottom {
  margin-bottom: 3.24rem;
}
.gutter-left {
  margin-left: 3.24rem;
}
.text-padding {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-padding-top {
  padding-top: 0.18em;
}
.text-padding-right {
  padding-right: 0.3236em;
}
.text-padding-bottom {
  padding-bottom: 0.22em;
}
.text-padding-left {
  padding-left: 0.3236em;
}
.text-margin {
  margin: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-margin-top {
  margin-top: 0.18em;
}
.text-margin-right {
  margin-right: 0.3236em;
}
.text-margin-bottom {
  margin-bottom: 0.22em;
}
.text-margin-left {
  margin-left: 0.3236em;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.initial {
  display: initial;
}
.table {
  display: table;
}
.flex,
.vertical-center,
.center-vertical {
  display: flex;
}
.inline-block {
  display: inline-block;
}
.static {
  position: static;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.margin-auto,
.container {
  margin-left: auto;
  margin-right: auto;
}
.width-auto {
  width: auto;
}
.inset {
  box-shadow: inset 1.41px 1.41px 1.41px rgba(41, 37, 14, 0.16);
}
.viewport-height {
  height: 100vh;
}
.min-viewport-height {
  min-height: 100vh;
}
.overflow-hidden {
  overflow: hidden;
}
.dashed {
  border-style: dashed;
}
.dotted {
  border-style: dotted;
}
.thick {
  border-width: 2px;
}
.thin {
  border-width: 0.5px;
}
.current-color {
  border-color: currentColor;
}
.fade {
  opacity: 0.65;
}
.serif,
.font-family-serif {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "Droid Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
.monospace,
.font-family-monospace {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
}
.sans-serif,
.font-family-sans-serif {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.text-transparent {
  color: transparent;
}
.reset {
  all: initial;
}
.big {
  font-size: 125%;
  line-height: 2.25;
}
.big.font-size {
  font-size: 25px;
}
.small,
.badge {
  font-size: 87.5%;
  line-height: 1.575;
}
.small.font-size {
  font-size: 17.5px;
}
.huge {
  font-size: 160%;
}
.huge.font-size {
  font-size: 32px;
}
.text-trim {
  line-height: 1;
}
.text-align-center,
.text-center {
  text-align: center;
}
.text-align-left,
.text-left {
  text-align: left;
}
.text-align-right,
.text-right {
  text-align: right;
}
.text-align-justify,
.text-justify {
  text-align: justify;
}
.grid-gap-margin {
  grid-gap: 1.62rem;
}
.grid-gap-border-width {
  grid-gap: 1px;
}
.grid-gap-text-padding,
.grid-gap-text-margin {
  grid-gap: 0.3236em;
}
.shade,
.white,
.orange,
.yellow,
.light.olive,
.light.green,
.light.teal,
.cyan,
.skyblue,
.violet,
.lavender,
.cream,
.clover,
.pewter,
.light.hotpink,
.neongreen,
.electricblue,
.lemon,
.lime,
.tangerine,
.reaction,
body,
input,
textarea,
.info,
.warning,
.light.success {
  color: #0e1229;
}
.tint,
.black,
.red,
.olive,
.green,
.teal,
.blue,
.indigo,
.purple,
.dark.violet,
.gray,
.brown,
.magenta,
.charcoal,
.crimson,
.dark.clover,
.cobalt,
.graphite,
.ruby,
.onyx,
.dark.pewter,
.gunmetal,
.hotpink,
.royalpurple,
.grapefruit,
.dark.reaction,
.default,
.success,
.failure {
  color: #f5f6ff;
}
.transparent {
  background-color: transparent;
  color: inherit;
  border-color: inherit;
}
.transparent.light {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23FFF%22%20fill-opacity%3D%220.16%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.transparent.dark,
.modal {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23000%22%20fill-opacity%3D%220.25%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.trim,
.trim-inner *,
.trim-all,
.trim-all * {
  margin-bottom: 0;
}
.hidden {
  display: none !important;
}
.clearfix,
.clear {
  clear: both;
}
.clearfix::after,
.clear::after {
  display: block;
  clear: both;
  content: "";
}
.golden-width {
  max-width: calc(62% - 3.24rem);
}
.golden-width.reverse {
  max-width: 38%;
}
.aside-width {
  max-width: 24rem;
}
@media screen and (min-width: 43.24rem) {
  .text-width {
    max-width: 40rem;
  }
}
.page-width,
.container {
  max-width: 64rem;
}
.full-width,
.aside-width .aside-width,
.text-width .text-width,
.page-width .page-width {
  display: block;
  width: 100%;
}
.inner-aside-width {
  padding-left: calc(50% - 12rem);
  padding-right: calc(50% - 12rem);
}
.inner-aside-width.padding {
  padding-left: calc(50% - 10.38rem);
  padding-right: calc(50% - 10.38rem);
}
.inner-aside-width.responsive.padding {
  padding-left: calc(50% - 11.38rem);
  padding-right: calc(50% - 11.38rem);
}
.inner-text-width {
  padding-left: calc(50% - 20rem);
  padding-right: calc(50% - 20rem);
}
.inner-text-width.padding {
  padding-left: calc(50% - 18.38rem);
  padding-right: calc(50% - 18.38rem);
}
.inner-text-width.responsive.padding {
  padding-left: calc(50% - 19.38rem);
  padding-right: calc(50% - 19.38rem);
}
.inner-page-width {
  padding-left: calc(50% - 32rem);
  padding-right: calc(50% - 32rem);
}
.inner-page-width.padding {
  padding-left: calc(50% - 30.38rem);
  padding-right: calc(50% - 30.38rem);
}
.inner-page-width.responsive.padding {
  padding-left: calc(50% - 31.38rem);
  padding-right: calc(50% - 31.38rem);
}
@media screen and (max-width: calc(43.24rem - 1px)) {
  .inner-text-width {
    padding-left: initial;
    padding-right: initial;
  }
  .inner-text-width.padding {
    padding-left: 1.62rem;
    padding-right: 1.62rem;
  }
  .inner-text-width.responsive.padding {
    padding-left: 0.619rem;
    padding-right: 0.619rem;
  }
}
@media screen and (min-width: 43.24rem) {
  .inner-aside-width.tablet.padding {
    padding-left: calc(50% - 10.38rem);
    padding-right: calc(50% - 10.38rem);
  }
  .inner-aside-width.tablet.responsive.padding {
    padding-left: calc(50% - 11rem);
    padding-right: calc(50% - 11rem);
  }
  .inner-text-width.tablet.padding {
    padding-left: calc(50% - 18.38rem);
    padding-right: calc(50% - 18.38rem);
  }
  .inner-text-width.tablet.responsive.padding {
    padding-left: calc(50% - 19rem);
    padding-right: calc(50% - 19rem);
  }
  .inner-page-width.tablet.padding {
    padding-left: calc(50% - 30.38rem);
    padding-right: calc(50% - 30.38rem);
  }
  .inner-page-width.tablet.responsive.padding {
    padding-left: calc(50% - 31rem);
    padding-right: calc(50% - 31rem);
  }
}
@media screen and (min-width: 64rem) {
  .inner-aside-width.desktop.padding {
    padding-left: calc(50% - 10.38rem);
    padding-right: calc(50% - 10.38rem);
  }
  .inner-aside-width.desktop.responsive.padding {
    padding-left: calc(50% - 10.38rem);
    padding-right: calc(50% - 10.38rem);
  }
  .inner-text-width.desktop.padding {
    padding-left: calc(50% - 18.38rem);
    padding-right: calc(50% - 18.38rem);
  }
  .inner-text-width.desktop.responsive.padding {
    padding-left: calc(50% - 18.38rem);
    padding-right: calc(50% - 18.38rem);
  }
  .inner-page-width.desktop.padding {
    padding-left: calc(50% - 30.38rem);
    padding-right: calc(50% - 30.38rem);
  }
  .inner-page-width.desktop.responsive.padding {
    padding-left: calc(50% - 30.38rem);
    padding-right: calc(50% - 30.38rem);
  }
}
@media screen and (max-width: calc(64rem - 1px)) {
  .inner-page-width {
    padding-left: initial;
    padding-right: initial;
  }
  .inner-page-width.padding {
    padding-left: 1.62rem;
    padding-right: 1.62rem;
  }
  .inner-page-width.responsive.padding {
    padding-left: 0.619rem;
    padding-right: 0.619rem;
  }
}
.texture,
.pattern {
  background-position: top center;
}
.texture {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20width%3D'40'%20height%3D'20'%20viewBox%3D'0%200%203.175%201.588'%3E%3Cg%20fill%3D'%23f5f6ff'%20fill-opacity%3D'0.16'%3E%3Ccircle%20cx%3D'.397'%20cy%3D'.397'%20r%3D'.397'/%3E%3Ccircle%20r%3D'.397'%20cy%3D'.397'%20cx%3D'1.191'/%3E%3Ccircle%20r%3D'.397'%20cy%3D'.397'%20cx%3D'1.984'/%3E%3Ccircle%20cx%3D'2.778'%20cy%3D'.397'%20r%3D'.397'/%3E%3Ccircle%20r%3D'.397'%20cy%3D'1.191'/%3E%3Ccircle%20cx%3D'.794'%20cy%3D'1.191'%20r%3D'.397'/%3E%3Ccircle%20cx%3D'1.587'%20cy%3D'1.191'%20r%3D'.397'/%3E%3Ccircle%20r%3D'.397'%20cy%3D'1.191'%20cx%3D'2.381'/%3E%3Ccircle%20cx%3D'3.175'%20cy%3D'1.191'%20r%3D'.397'/%3E%3C/g%3E%3C/svg%3E");
}
.pattern {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20viewBox%3D'0%200%203.175%203.175'%20height%3D'12'%20width%3D'12'%3E%3Cpath%20opacity%3D'0.16'%20fill%3D'%23f5f6ff'%20d%3D'M0%200h1.587v1.587H0z'/%3E%3C/svg%3E");
}
.placeholder::before {
  content: " ";
  white-space: pre;
}
.placeholder::after {
  content: "";
}
.placeholder.image,
.placeholder.video,
.placeholder.avatar {
  position: relative;
}
.placeholder.image::before,
.placeholder.video::before,
.placeholder.avatar::before {
  position: absolute;
  top: calc(50% - 4rem);
  right: 0;
  bottom: 0;
  left: 0;
  display: inline-block;
  text-align: center;
  font-size: 4rem;
  vertical-align: middle;
}
.placeholder.image.small::before,
.placeholder.video.small::before,
.placeholder.avatar.small::before {
  top: calc(50% - 2rem);
  font-size: 2rem;
}
.placeholder.image.big::before,
.placeholder.video.big::before,
.placeholder.avatar.big::before {
  top: calc(50% - 6rem);
  font-size: 6rem;
}
.placeholder.image.huge::before,
.placeholder.video.huge::before,
.placeholder.avatar.huge::before {
  top: calc(50% - 8rem);
  font-size: 8rem;
}
.placeholder.image::after,
.placeholder.video::after,
.placeholder.avatar::after {
  display: block;
}
.placeholder.image::before {
  content: "\1f5bc";
}
.placeholder.image::after {
  padding-top: 75%;
}
.placeholder.video::before {
  content: "\25B6";
}
.placeholder.video::after {
  padding-top: 56.25%;
}
.placeholder.avatar::before {
  content: "\263A";
}
.placeholder.avatar::after {
  padding-top: 100%;
}
.placeholder.no-icon::before {
  content: "";
}
.hide {
  display: none;
}
.hide.tablet {
  display: initial;
}
.hide.desktop {
  display: initial;
}
@media screen and (max-width: calc(43.24rem - 1px)) {
  .hide.mobile {
    display: none;
  }
}
@media screen and (min-width: 43.24rem) {
  .hide.mobile {
    display: initial;
  }
  .hide.tablet {
    display: none;
  }
}
@media screen and (min-width: 64rem) {
  .hide.desktop {
    display: none;
  }
  .hide.mobile.tablet {
    display: initial;
  }
}
@media screen and (max-width: calc(64rem - 1px)) {
  .hide.mobile.tablet {
    display: none;
  }
}
body {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
  font-size: 20px;
  line-height: 1.8;
  margin: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
nav {
  z-index: 99;
}
nav a {
  text-decoration: none;
}
aside {
  margin: 0 auto;
  margin-bottom: 1.62rem;
  max-width: 24rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
  font-weight: bold;
  margin-top: 0.49443758em;
  margin-bottom: 0.74165637em;
  letter-spacing: -0.025em;
  color: inherit;
  line-height: 1.618;
}
h1 {
  font-size: 2.4em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1em;
}
p {
  margin-bottom: 1em;
}
p.gutter-bottom {
  margin-bottom: 1.618em;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: inherit;
  text-decoration: underline;
}
a.target-blank::after,
a.new-tab::after,
a.external-link::after {
  content: "\00A0\1F855";
}
form {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
  font-size: 20px;
  line-height: 1.8;
  border: 1px solid #5a569c;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input:focus {
  box-shadow: 0 0 2px #72bee5;
}
fieldset {
  border: none;
  outline: none;
}
ol {
  padding-left: 4ch;
  margin-bottom: 1.62rem;
}
ol li {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
ul {
  margin-left: 1.62rem;
  margin-bottom: 1.62rem;
}
li {
  margin-bottom: 0.44em;
}
kbd {
  color: #f5f6ff;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  white-space: nowrap;
}
b {
  padding: 0.18em 0 0.22em 0;
}
pre {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
  overflow: hidden;
  border-radius: 0.5em;
  background: #363440;
  color: #f5f6ff;
}
pre.white-space,
pre.word-break {
  white-space: pre-wrap;
}
pre > code {
  background: transparent;
  padding: 0;
}
code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
  color: #f5f6ff;
  background-color: #273062;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
code.terminal::before {
  content: "$ ";
}
textarea {
  font-size: 20px;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
  line-height: 1.8;
  border: 1px solid #5a569c;
  border-radius: 0.5em;
  margin-bottom: 1.62rem;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
textarea:focus {
  box-shadow: 0 0 2px #72bee5;
}
.white,
body,
input,
textarea {
  background-color: #f5f6ff;
  border-color: #7c7e8d;
}
.black {
  background-color: #0e1229;
  border-color: #070914;
}
.ambient {
  color: #f5f6ff;
  background: #5a6ffe;
  border-color: #2e3a8c;
}
.ambient.light {
  color: #0e1229;
  background: #8393fe;
  border-color: #424c8d;
}
.ambient.dark {
  color: #f5f6ff;
  background: #324cfd;
  border-color: #1a298c;
}
.red,
.failure {
  background-color: #df012a;
  border-color: #7d0218;
}
.light.red,
.light.failure {
  background-color: #fd0c37;
  border-color: #8c071f;
}
.dark.red,
.dark.failure {
  background-color: #b60122;
  border-color: #690214;
}
.orange,
.warning {
  background-color: #ee9e29;
  border-color: #845816;
}
.light.orange,
.light.warning {
  background-color: #f1af4e;
  border-color: #856029;
}
.dark.orange,
.dark.warning {
  background-color: #dc8b11;
  border-color: #7b4e0a;
}
.yellow {
  background-color: #e9ef29;
  border-color: #818516;
}
.light.yellow {
  background-color: #edf24f;
  border-color: #838629;
}
.dark.yellow {
  background-color: #d9df10;
  border-color: #797d0a;
}
.olive {
  background-color: #878b2a;
  border-color: #4e5018;
}
.light.olive {
  background-color: #a5aa33;
  border-color: #5e601d;
}
.dark.olive {
  background-color: #686b20;
  border-color: #3f4114;
}
.green,
.success {
  background-color: #018729;
  border-color: #025119;
}
.light.green,
.light.success {
  background-color: #01b036;
  border-color: #026520;
}
.dark.green,
.dark.success {
  background-color: #015f1d;
  border-color: #013d13;
}
.teal {
  background-color: #018b9f;
  border-color: #02515d;
}
.light.teal {
  background-color: #02aec8;
  border-color: #026372;
}
.dark.teal {
  background-color: #016777;
  border-color: #024049;
}
.cyan {
  background-color: #01edf7;
  border-color: #018489;
}
.light.cyan {
  background-color: #22f5fe;
  border-color: #12888d;
}
.dark.cyan {
  background-color: #01c6ce;
  border-color: #017075;
}
.skyblue,
.info {
  background-color: #72bee5;
  border-color: #3c687f;
}
.light.skyblue,
.light.info {
  background-color: #95ceec;
  border-color: #4d7082;
}
.dark.skyblue,
.dark.info {
  background-color: #50aedf;
  border-color: #2b607b;
}
.blue {
  background-color: #0101f6;
  border-color: #010189;
}
.light.blue {
  background-color: #2121fe;
  border-color: #12128d;
}
.dark.blue {
  background-color: #0101cd;
  border-color: #010174;
}
.indigo {
  background-color: #4d019e;
  border-color: #2e025d;
}
.light.indigo {
  background-color: #6101c6;
  border-color: #380271;
}
.dark.indigo {
  background-color: #390175;
  border-color: #240148;
}
.purple {
  background-color: #8d02a5;
  border-color: #520260;
}
.light.purple {
  background-color: #b003cd;
  border-color: #640274;
}
.dark.purple {
  background-color: #6b027d;
  border-color: #41024c;
}
.violet {
  background-color: #d971e8;
  border-color: #773b80;
}
.light.violet {
  background-color: #e294ee;
  border-color: #7c4c83;
}
.dark.violet {
  background-color: #cf4ee2;
  border-color: #73297d;
}
.gray {
  background-color: #78768e;
  border-color: #424150;
}
.light.gray {
  background-color: #8e8ca0;
  border-color: #4d4c59;
}
.dark.gray {
  background-color: #646378;
  border-color: #383845;
}
.brown {
  background-color: #9b503c;
  border-color: #582d22;
}
.light.brown {
  background-color: #b85f47;
  border-color: #673527;
}
.dark.brown {
  background-color: #7d4130;
  border-color: #49261c;
}
.magenta {
  background-color: #cf02e7;
  border-color: #740281;
}
.light.magenta {
  background-color: #e515fd;
  border-color: #7f0b8c;
}
.dark.magenta {
  background-color: #ab02be;
  border-color: #62026d;
}
.lavender {
  background-color: #c5b7e3;
  border-color: #685f7c;
}
.light.lavender {
  background-color: #dcd4ee;
  border-color: #746e82;
}
.dark.lavender {
  background-color: #ad99d7;
  border-color: #5d5176;
}
.cream {
  background-color: #eaedd0;
  border-color: #7f816c;
}
.light.cream {
  background-color: #f7f8ee;
  border-color: #85877b;
}
.dark.cream {
  background-color: #dce1b3;
  border-color: #787b5d;
}
.charcoal {
  background-color: #4c354e;
  border-color: #2f2030;
}
.light.charcoal {
  background-color: #644666;
  border-color: #3b283c;
}
.dark.charcoal {
  background-color: #342536;
  border-color: #231824;
}
.crimson {
  background-color: #ae0a2f;
  border-color: #64071c;
}
.light.crimson {
  background-color: #d50d3a;
  border-color: #770821;
}
.dark.crimson {
  background-color: #870825;
  border-color: #510616;
}
.clover {
  background-color: #3caa3b;
  border-color: #226021;
}
.light.clover {
  background-color: #4ec14d;
  border-color: #2b6b2a;
}
.dark.clover {
  background-color: #318c31;
  border-color: #1c511c;
}
.cobalt {
  background-color: #2575d4;
  border-color: #154176;
}
.light.cobalt {
  background-color: #438adf;
  border-color: #244c7b;
}
.dark.cobalt {
  background-color: #1f62b2;
  border-color: #123865;
}
.graphite {
  background-color: #273062;
  border-color: #171d3c;
}
.light.graphite {
  background-color: #323f7f;
  border-color: #1d244a;
}
.dark.graphite {
  background-color: #1b2245;
  border-color: #12162d;
}
.ruby {
  background-color: #a00157;
  border-color: #5e0133;
}
.light.ruby {
  background-color: #c9016d;
  border-color: #72013e;
}
.dark.ruby {
  background-color: #780141;
  border-color: #490128;
}
.onyx {
  background-color: #363440;
  border-color: #212029;
}
.light.onyx {
  background-color: #494657;
  border-color: #2b2934;
}
.dark.onyx {
  background-color: #23222a;
  border-color: #18171e;
}
.pewter {
  background-color: #9ea090;
  border-color: #57594e;
}
.light.pewter {
  background-color: #b1b3a6;
  border-color: #616259;
}
.dark.pewter {
  background-color: #8b8d7a;
  border-color: #4e4f43;
}
.gunmetal {
  background-color: #3e5682;
  border-color: #23314b;
}
.light.gunmetal {
  background-color: #4b689e;
  border-color: #2a3b59;
}
.dark.gunmetal {
  background-color: #304467;
  border-color: #1d283d;
}
.hotpink {
  background-color: #ea54a9;
  border-color: #812c5c;
}
.light.hotpink {
  background-color: #ee78bb;
  border-color: #843e66;
}
.dark.hotpink {
  background-color: #e52f97;
  border-color: #7f1a53;
}
.neongreen {
  background-color: #33ed23;
  border-color: #1c8313;
}
.light.neongreen {
  background-color: #56f049;
  border-color: #2e8526;
}
.dark.neongreen {
  background-color: #21d512;
  border-color: #13770b;
}
.electricblue {
  background-color: #30b6e3;
  border-color: #1a657e;
}
.light.electricblue {
  background-color: #54c3e8;
  border-color: #2c6b80;
}
.dark.electricblue {
  background-color: #1ca2ce;
  border-color: #105b74;
}
.royalpurple {
  background-color: #612f9e;
  border-color: #371b5a;
}
.light.royalpurple {
  background-color: #7439be;
  border-color: #41206a;
}
.dark.royalpurple {
  background-color: #4e267f;
  border-color: #2e164b;
}
.lemon {
  background-color: #f4f698;
  border-color: #87884e;
}
.light.lemon {
  background-color: #f8f9bd;
  border-color: #898960;
}
.dark.lemon {
  background-color: #f0f272;
  border-color: #85863b;
}
.lime {
  background-color: #8be49a;
  border-color: #487e51;
}
.light.lime {
  background-color: #acecb7;
  border-color: #598260;
}
.dark.lime {
  background-color: #69dd7d;
  border-color: #387a43;
}
.tangerine {
  background-color: #efa45d;
  border-color: #845930;
}
.light.tangerine {
  background-color: #f3b982;
  border-color: #866443;
}
.dark.tangerine {
  background-color: #eb9038;
  border-color: #824f1e;
}
.grapefruit {
  background-color: #c62d64;
  border-color: #6f1a38;
}
.light.grapefruit {
  background-color: #d5487a;
  border-color: #762743;
}
.dark.grapefruit {
  background-color: #a52654;
  border-color: #5e1630;
}
.action,
.base-color {
  color: #f5f6ff;
  background: #4550e7;
  border-color: #252b80;
}
.action.light,
.base-color.light {
  color: #f5f6ff;
  background: #6972ec;
  border-color: #373c82;
}
.action.dark,
.base-color.dark {
  color: #f5f6ff;
  background: #212ee2;
  border-color: #131a7e;
}
.reaction {
  background-color: #9a953a;
  border-color: #585521;
}
.light.reaction {
  background-color: #b8b245;
  border-color: #676326;
}
.dark.reaction {
  background-color: #7c782f;
  border-color: #49461b;
}
.default {
  background-color: #5a569c;
  border-color: #323058;
}
.light.default {
  background-color: #716dae;
  border-color: #3d3b61;
}
.dark.default {
  background-color: #4b4881;
  border-color: #2b294a;
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-margin-right {
  margin-right: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.no-margin-left {
  margin-left: 0 !important;
}
.no-padding {
  padding: 0;
}
.no-margin,
.no-gutter {
  margin: 0;
}
.no-side-margin,
.no-side-margins {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.no-margins {
  margin: 0 !important;
}
.no-margins * {
  margin: 0 !important;
}
.no-box-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  box-shadow: unset;
}
.no-text-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  text-shadow: unset;
}
.no-border,
.no-borders,
.no-borders * {
  border-width: 0 !important;
}
.no-background {
  background: transparent;
}
.no-text-indent {
  text-indent: 0;
}
.no-text-align {
  text-align: initial;
}
.no-user-select {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.no-pointer-events {
  pointer-events: none;
}
.no-list-style {
  list-style-type: none;
  margin-left: 0;
}
.no-grid-gap,
.no-column-gap {
  grid-gap: 0;
  column-gap: 0;
}
@media print {
  html {
    font-size: 62.5%;
  }
  * {
    box-shadow: unset !important;
    border: unset !important;
  }
  nav {
    display: none !important;
  }
  .page-width,
  .text-width,
  .container {
    all: unset;
  }
  .inner-page-width,
  .inner-text-width,
  .inner-aside-width {
    all: unset;
  }
}
