/* This project uses Cavepaint (MIT License) by Rex Riepe */
/* https://github.com/cavepaint/cavepaintCSS */
* {
  margin: 0 0 1.62rem 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  margin-bottom: 0;
}
.button,
button {
  border-style: solid;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(39, 23, 5, 0.16);
  display: inline;
  position: relative;
  font-family: inherit;
  font-size: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  color: inherit;
  background-color: inherit;
  border-color: #374f75;
  border-width: 1px;
  line-height: 1.6;
  text-align: center;
  vertical-align: middle;
  outline: none;
  white-space: nowrap;
  text-decoration: none;
  touch-action: manipulation;
  cursor: pointer;
  transform: scale(1);
  transition: 0.08s linear;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.button:active,
button:active {
  transform: scale(0.99);
  box-shadow: unset;
}
.bar {
  position: relative;
  width: 100%;
  display: block;
  vertical-align: middle;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.bar > * {
  display: inline;
  margin-right: 0.3236em;
  margin-left: 0.3236em;
  margin-bottom: 0;
}
.card {
  position: relative;
  overflow: hidden;
  padding: 1.62rem;
  border: 1px solid #5175ac;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(39, 23, 5, 0.16);
}
.card > *:first-child {
  margin-top: 0;
}
.card > *:last-child {
  margin-bottom: 0;
}
.badge {
  border-radius: 0.5em;
  line-height: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  padding-right: 0.6472em;
  padding-left: 0.6472em;
  vertical-align: middle;
  border-radius: 99px;
  white-space: nowrap;
}
.modal {
  display: none;
  max-width: none;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  position: fixed;
  bottom: 0;
  justify-content: center;
  flex: 0 1 auto;
  flex-direction: column;
  height: 100vh;
}
.modal > * {
  flex-direction: column;
  color: #051527;
  position: relative;
  background: #f1f8fe;
  padding: 1.62rem;
  margin-bottom: 3.24rem;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(39, 23, 5, 0.16);
  margin: 1.62rem;
}
@media screen and (min-width: 36.24rem) {
  .modal > * {
    max-width: 53rem;
    margin: 0 auto;
  }
}
.overlay {
  margin: 0;
  padding: 0;
  position: relative;
}
.overlay .top,
.overlay .bottom,
.overlay .left,
.overlay .right {
  position: absolute;
}
.overlay .top {
  top: 0.3236em;
}
.overlay .bottom {
  bottom: 0.3236em;
}
.overlay .left {
  left: 0.3236em;
}
.overlay .right {
  right: 0.3236em;
}
.overlay.stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.overlay * {
  margin: 0;
  display: block;
}
.grid,
.two-column,
.three-column {
  display: grid;
  grid-gap: 1.62rem;
}
.grid.tablet,
.two-column.tablet,
.three-column.tablet,
.grid.mobile.tablet,
.two-column.mobile.tablet,
.three-column.mobile.tablet,
.grid.desktop,
.two-column.desktop,
.three-column.desktop {
  display: initial;
}
.grid {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.two-column {
  grid-template-columns: 1fr 1fr;
}
.two-column.golden {
  grid-template-columns: 1.618fr 1fr;
}
.two-column.golden.reverse {
  grid-template-columns: 1fr 1.618fr;
}
.three-column {
  grid-template-columns: 1fr 1fr 1fr;
}
.three-column.golden {
  grid-template-columns: 1fr 1.618fr 1fr;
}
.three-column.golden.leading {
  grid-template-columns: 1.618fr 1fr 1fr;
}
.three-column.golden.trailing {
  grid-template-columns: 1fr 1fr 1.618fr;
}
.grid-width-one {
  grid-column: auto / span 1;
}
.grid-width-two {
  grid-column: auto / span 2;
}
.grid-width-three {
  grid-column: auto / span 3;
}
.grid-width-four {
  grid-column: auto / span 4;
}
.grid-width-five {
  grid-column: auto / span 5;
}
.grid-width-six {
  grid-column: auto / span 6;
}
.grid-width-seven {
  grid-column: auto / span 7;
}
.grid-width-eight {
  grid-column: auto / span 8;
}
.grid-width-nine {
  grid-column: auto / span 9;
}
.grid-width-ten {
  grid-column: auto / span 10;
}
.grid-width-eleven {
  grid-column: auto / span 11;
}
.grid-width-twelve {
  grid-column: auto / span 12;
}
@media screen and (max-width: calc(36.24rem - 1px)) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: grid;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 36.24rem) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: initial;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: initial;
  }
  .grid.tablet,
  .two-column.tablet,
  .three-column.tablet {
    display: grid;
  }
  .grid.tablet > *,
  .two-column.tablet > *,
  .three-column.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (max-width: calc(53rem - 1px)) {
  .grid.mobile.tablet,
  .two-column.mobile.tablet,
  .three-column.mobile.tablet {
    display: grid;
  }
  .grid.mobile.tablet > *,
  .two-column.mobile.tablet > *,
  .three-column.mobile.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 53rem) {
  .grid.desktop,
  .two-column.desktop,
  .three-column.desktop {
    display: grid;
  }
  .grid.desktop > *,
  .two-column.desktop > *,
  .three-column.desktop > * {
    margin-bottom: 0;
  }
}
.responsive {
  column-gap: 0.619rem;
  grid-gap: 0.619rem;
}
.responsive.padding,
.modal,
.container {
  padding: 0.619rem;
}
.responsive.margin,
.container {
  margin: 0.619rem;
}
.responsive.gutter {
  margin: 1.238rem;
}
@media screen and (min-width: 36.24rem) {
  .responsive {
    column-gap: 1.001rem;
    grid-gap: 1.001rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.001rem;
  }
  .responsive.margin,
  .container {
    margin: 1.001rem;
  }
  .responsive.gutter {
    margin: 2.002rem;
  }
}
@media screen and (min-width: 53rem) {
  .responsive {
    column-gap: 1.62rem;
    grid-gap: 1.62rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.62rem;
  }
  .responsive.margin,
  .container {
    margin: 1.62rem;
  }
  .responsive.gutter {
    margin: 3.24rem;
  }
}
.background {
  background: #f1f8fe;
}
.background-color {
  background-color: #f1f8fe;
}
.border {
  border: 1px solid #5175ac;
}
.border-radius,
.rounded {
  border-radius: 0.5em;
}
.border-bottom {
  border-bottom: 1px solid #5175ac;
}
.border-left {
  border-left: 1px solid #5175ac;
}
.border-right {
  border-right: 1px solid #5175ac;
}
.border-style,
.button.border,
button.border {
  border-style: solid;
}
.border-top {
  border-top: 1px solid #5175ac;
}
.border-width,
.button.border,
button.border {
  border-width: 1px;
}
.max-width {
  max-width: 53rem;
}
.min-width {
  min-width: 20rem;
}
.align-content {
  align-content: stretch;
}
.align-items {
  align-items: stretch;
}
.align-self {
  align-self: auto;
}
.flex,
.vertical-center,
.center-vertical {
  flex: 0 1 auto;
}
.flex-basis {
  flex-basis: auto;
}
.flex-direction,
.vertical-center,
.center-vertical {
  flex-direction: column;
}
.flex-flow {
  flex-flow: column nowrap;
}
.flex-grow {
  flex-grow: 0;
}
.flex-shrink {
  flex-shrink: 1;
}
.flex-wrap {
  flex-wrap: nowrap;
}
.justify-content,
.vertical-center,
.center-vertical {
  justify-content: center;
}
.font-family,
body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.font-size {
  font-size: 22px;
}
.font-weight {
  font-weight: normal;
}
.list-style {
  list-style: disc inside none;
}
.list-style-type {
  list-style-type: disc;
}
.margin {
  margin: 1.62rem;
}
.margin-bottom {
  margin-bottom: 1.62rem;
}
.margin-left {
  margin-left: 1.62rem;
}
.margin-right {
  margin-right: 1.62rem;
}
.margin-top {
  margin-top: 1.62rem;
}
.column-gap {
  column-gap: 1.94em;
}
.column-rule {
  column-rule: 1px solid #5175ac;
}
.padding {
  padding: 1.62rem;
}
.padding-bottom {
  padding-bottom: 1.62rem;
}
.padding-left {
  padding-left: 1.62rem;
}
.padding-right {
  padding-right: 1.62rem;
}
.padding-top {
  padding-top: 1.62rem;
}
.text-align {
  text-align: left;
}
.text-align-last {
  text-align-last: left;
}
.text-indent {
  text-indent: 2ch;
}
.text-justify {
  text-justify: justify;
}
.text-overflow {
  text-overflow: hidden;
}
.text-shadow {
  text-shadow: 1.41px 1.41px 1.41px rgba(39, 23, 5, 0.16);
}
.line-height {
  line-height: 1.8;
}
.vertical-align {
  vertical-align: middle;
}
.letter-spacing {
  letter-spacing: 0;
}
.word-spacing {
  word-spacing: normal;
}
.white-space {
  white-space: nowrap;
}
.word-break {
  word-break: break-all;
}
.word-wrap {
  word-wrap: break-word;
}
.transform {
  transform: none;
}
.transition {
  transition: all 0s ease 0s;
}
.display {
  display: block;
}
.position {
  position: absolute;
}
.top {
  top: 0;
}
.right {
  right: 0;
}
.bottom {
  bottom: 0;
}
.left {
  left: 0;
}
.float {
  float: left;
}
.clear {
  clear: both;
}
.z-index {
  z-index: 10;
}
.overflow {
  overflow: hidden;
}
.overflow-x {
  overflow-x: hidden;
}
.cursor {
  cursor: pointer;
}
.box-shadow {
  box-shadow: 1.41px 1.41px 1.41px rgba(39, 23, 5, 0.16);
}
.gutter {
  margin: 3.24rem;
}
.gutter-top {
  margin-top: 3.24rem;
}
.gutter-right {
  margin-right: 3.24rem;
}
.gutter-bottom {
  margin-bottom: 3.24rem;
}
.gutter-left {
  margin-left: 3.24rem;
}
.text-padding {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-padding-top {
  padding-top: 0.18em;
}
.text-padding-right {
  padding-right: 0.3236em;
}
.text-padding-bottom {
  padding-bottom: 0.22em;
}
.text-padding-left {
  padding-left: 0.3236em;
}
.text-margin {
  margin: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-margin-top {
  margin-top: 0.18em;
}
.text-margin-right {
  margin-right: 0.3236em;
}
.text-margin-bottom {
  margin-bottom: 0.22em;
}
.text-margin-left {
  margin-left: 0.3236em;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.initial {
  display: initial;
}
.table {
  display: table;
}
.flex,
.vertical-center,
.center-vertical {
  display: flex;
}
.inline-block {
  display: inline-block;
}
.static {
  position: static;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.margin-auto,
.container {
  margin-left: auto;
  margin-right: auto;
}
.width-auto {
  width: auto;
}
.inset {
  box-shadow: inset 1.41px 1.41px 1.41px rgba(39, 23, 5, 0.16);
}
.viewport-height {
  height: 100vh;
}
.min-viewport-height {
  min-height: 100vh;
}
.overflow-hidden {
  overflow: hidden;
}
.dashed {
  border-style: dashed;
}
.dotted {
  border-style: dotted;
}
.thick {
  border-width: 2px;
}
.thin {
  border-width: 0.5px;
}
.current-color {
  border-color: currentColor;
}
.fade {
  opacity: 0.65;
}
.serif,
.font-family-serif {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "Droid Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
.monospace,
.font-family-monospace,
pre,
code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
}
.sans-serif,
.font-family-sans-serif {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.text-transparent {
  color: transparent;
}
.reset {
  all: initial;
}
.big {
  font-size: 125%;
  line-height: 2.25;
}
.big.font-size {
  font-size: 27.5px;
}
.small,
.badge {
  font-size: 87.5%;
  line-height: 1.575;
}
.small.font-size {
  font-size: 19.25px;
}
.huge {
  font-size: 160%;
}
.huge.font-size {
  font-size: 35.2px;
}
.text-trim {
  line-height: 1;
}
.text-align-center,
.text-center {
  text-align: center;
}
.text-align-left,
.text-left {
  text-align: left;
}
.text-align-right,
.text-right {
  text-align: right;
}
.text-align-justify,
.text-justify {
  text-align: justify;
}
.grid-gap-margin {
  grid-gap: 1.62rem;
}
.grid-gap-border-width {
  grid-gap: 1px;
}
.grid-gap-text-padding,
.grid-gap-text-margin {
  grid-gap: 0.3236em;
}
.shade,
.white,
.orange,
.yellow,
.light.olive,
.light.green,
.light.teal,
.cyan,
.skyblue,
.violet,
.lavender,
.cream,
.clover,
.pewter,
.light.hotpink,
.neongreen,
.electricblue,
.lemon,
.lime,
.tangerine,
.cool,
.light.neutral,
body,
input,
textarea,
.info,
.warning,
.light.success {
  color: #051527;
}
.tint,
.black,
.red,
.dark.orange,
.olive,
.green,
.teal,
.blue,
.indigo,
.purple,
.dark.violet,
.gray,
.brown,
.magenta,
.charcoal,
.crimson,
.dark.clover,
.cobalt,
.graphite,
.ruby,
.onyx,
.dark.pewter,
.gunmetal,
.hotpink,
.dark.electricblue,
.royalpurple,
.grapefruit,
.reaction,
.default,
.warm,
.neutral,
.complement,
.accent,
.second.accent,
.split,
.second.split,
.triad,
.third.triad,
.tetrad,
.second.tetrad,
.third.tetrad,
.fourth.tetrad,
.highlight,
.dark.warning,
.success,
.failure,
.second.triad {
  color: #f1f8fe;
}
.transparent {
  background-color: transparent;
  color: inherit;
  border-color: inherit;
}
.transparent.light {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23FFF%22%20fill-opacity%3D%220.16%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.transparent.dark,
.modal {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23000%22%20fill-opacity%3D%220.25%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.trim,
.trim-inner *,
.trim-all,
.trim-all * {
  margin-bottom: 0;
}
.hidden {
  display: none !important;
}
.clearfix,
.clear {
  clear: both;
}
.clearfix::after,
.clear::after {
  display: block;
  clear: both;
  content: "";
}
.golden-width {
  max-width: calc(62% - 3.24rem);
}
.golden-width.reverse {
  max-width: 38%;
}
.aside-width {
  max-width: 20rem;
}
@media screen and (min-width: 36.24rem) {
  .text-width {
    max-width: 33rem;
  }
}
.page-width,
.container {
  max-width: 53rem;
}
.full-width,
.aside-width .aside-width,
.text-width .text-width,
.page-width .page-width {
  display: block;
  width: 100%;
}
.inner-aside-width {
  padding-left: calc(50% - 10rem);
  padding-right: calc(50% - 10rem);
}
.inner-aside-width.padding {
  padding-left: calc(50% - 8.38rem);
  padding-right: calc(50% - 8.38rem);
}
.inner-aside-width.responsive.padding {
  padding-left: calc(50% - 9.38rem);
  padding-right: calc(50% - 9.38rem);
}
@media screen and (max-width: calc(36.24rem - 1px)) {
  .inner-text-width {
    padding-left: initial;
    padding-right: initial;
  }
  .inner-text-width.padding {
    padding-left: 1.62rem;
    padding-right: 1.62rem;
  }
  .inner-text-width.responsive.padding {
    padding-left: 0.619rem;
    padding-right: 0.619rem;
  }
}
@media screen and (min-width: 36.24rem) {
  .inner-aside-width.tablet.padding {
    padding-left: calc(50% - 8.38rem);
    padding-right: calc(50% - 8.38rem);
  }
  .inner-aside-width.tablet.responsive.padding {
    padding-left: calc(50% - 9rem);
    padding-right: calc(50% - 9rem);
  }
  .inner-text-width {
    padding-left: calc(50% - 16.5rem);
    padding-right: calc(50% - 16.5rem);
  }
  .inner-text-width.padding {
    padding-left: calc(50% - 14.88rem);
    padding-right: calc(50% - 14.88rem);
  }
  .inner-text-width.responsive.padding {
    padding-left: calc(50% - 15.5rem);
    padding-right: calc(50% - 15.5rem);
  }
}
@media screen and (min-width: 53rem) {
  .inner-aside-width.desktop.padding {
    padding-left: calc(50% - 8.38rem);
    padding-right: calc(50% - 8.38rem);
  }
  .inner-aside-width.desktop.responsive.padding {
    padding-left: calc(50% - 8.38rem);
    padding-right: calc(50% - 8.38rem);
  }
  .inner-text-width.desktop.padding {
    padding-left: calc(50% - 14.88rem);
    padding-right: calc(50% - 14.88rem);
  }
  .inner-text-width.desktop.responsive.padding {
    padding-left: calc(50% - 14.88rem);
    padding-right: calc(50% - 14.88rem);
  }
  .inner-page-width {
    padding-left: calc(50% - 26.5rem);
    padding-right: calc(50% - 26.5rem);
  }
  .inner-page-width.padding {
    padding-left: calc(50% - 24.88rem);
    padding-right: calc(50% - 24.88rem);
  }
  .inner-page-width.responsive.padding {
    padding-left: calc(50% - 24.88rem);
    padding-right: calc(50% - 24.88rem);
  }
}
.texture,
.pattern {
  background-position: top center;
}
.texture {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20width%3D'44'%20height%3D'22'%20viewBox%3D'0%200%203.175%201.588'%3E%3Cg%20fill%3D'%23f1f8fe'%20fill-opacity%3D'0.05'%3E%3Ccircle%20cx%3D'.397'%20cy%3D'.397'%20r%3D'.397'/%3E%3Ccircle%20r%3D'.397'%20cy%3D'.397'%20cx%3D'1.191'/%3E%3Ccircle%20r%3D'.397'%20cy%3D'.397'%20cx%3D'1.984'/%3E%3Ccircle%20cx%3D'2.778'%20cy%3D'.397'%20r%3D'.397'/%3E%3Ccircle%20r%3D'.397'%20cy%3D'1.191'/%3E%3Ccircle%20cx%3D'.794'%20cy%3D'1.191'%20r%3D'.397'/%3E%3Ccircle%20cx%3D'1.587'%20cy%3D'1.191'%20r%3D'.397'/%3E%3Ccircle%20r%3D'.397'%20cy%3D'1.191'%20cx%3D'2.381'/%3E%3Ccircle%20cx%3D'3.175'%20cy%3D'1.191'%20r%3D'.397'/%3E%3C/g%3E%3C/svg%3E");
}
.pattern {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20viewBox%3D'0%200%203.175%203.175'%20height%3D'12'%20width%3D'12'%3E%3Cpath%20opacity%3D'0.05'%20fill%3D'%23f1f8fe'%20d%3D'M0%200h1.587v1.587H0z'/%3E%3C/svg%3E");
}
.placeholder::before {
  content: " ";
  white-space: pre;
}
.placeholder::after {
  content: "";
}
.placeholder.image,
.placeholder.video,
.placeholder.avatar {
  position: relative;
}
.placeholder.image::before,
.placeholder.video::before,
.placeholder.avatar::before {
  position: absolute;
  top: calc(50% - 4rem);
  right: 0;
  bottom: 0;
  left: 0;
  display: inline-block;
  text-align: center;
  font-size: 4rem;
  vertical-align: middle;
}
.placeholder.image.small::before,
.placeholder.video.small::before,
.placeholder.avatar.small::before {
  top: calc(50% - 2rem);
  font-size: 2rem;
}
.placeholder.image.big::before,
.placeholder.video.big::before,
.placeholder.avatar.big::before {
  top: calc(50% - 6rem);
  font-size: 6rem;
}
.placeholder.image.huge::before,
.placeholder.video.huge::before,
.placeholder.avatar.huge::before {
  top: calc(50% - 8rem);
  font-size: 8rem;
}
.placeholder.image::after,
.placeholder.video::after,
.placeholder.avatar::after {
  display: block;
}
.placeholder.image::before {
  content: "\1f5bc";
}
.placeholder.image::after {
  padding-top: 75%;
}
.placeholder.video::before {
  content: "\25B6";
}
.placeholder.video::after {
  padding-top: 56.25%;
}
.placeholder.avatar::before {
  content: "\263A";
}
.placeholder.avatar::after {
  padding-top: 100%;
}
.placeholder.no-icon::before {
  content: "";
}
.hide {
  display: none;
}
.hide.tablet {
  display: initial;
}
.hide.desktop {
  display: initial;
}
@media screen and (max-width: calc(36.24rem - 1px)) {
  .hide.mobile {
    display: none;
  }
}
@media screen and (min-width: 36.24rem) {
  .hide.mobile {
    display: initial;
  }
  .hide.tablet {
    display: none;
  }
}
@media screen and (min-width: 53rem) {
  .hide.desktop {
    display: none;
  }
  .hide.mobile.tablet {
    display: initial;
  }
}
@media screen and (max-width: calc(53rem - 1px)) {
  .hide.mobile.tablet {
    display: none;
  }
}
body {
  font-size: 22px;
  line-height: 1.8;
  margin: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
nav {
  z-index: 99;
}
nav a {
  text-decoration: none;
}
aside {
  margin: 0 auto;
  margin-bottom: 1.62rem;
  max-width: 20rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-top: 0.49443758em;
  margin-bottom: 0.74165637em;
  letter-spacing: -0.025em;
  color: inherit;
  line-height: 1.618;
}
h1 {
  font-size: 2.4em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1em;
}
p {
  margin-bottom: 1em;
}
p.gutter-bottom {
  margin-bottom: 1.618em;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: inherit;
  text-decoration: underline;
}
a.target-blank::after,
a.new-tab::after,
a.external-link::after {
  content: "\00A0\1F855";
}
form {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input {
  font-size: 22px;
  line-height: 1.8;
  border: 1px solid #5175ac;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input:focus {
  box-shadow: 0 0 2px #69bfe1;
}
fieldset {
  border: none;
  outline: none;
}
ol {
  padding-left: 4ch;
  margin-bottom: 1.62rem;
}
ol li {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
ul {
  margin-left: 1.62rem;
  margin-bottom: 1.62rem;
}
li {
  margin-bottom: 0.44em;
}
kbd {
  color: #f1f8fe;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  white-space: nowrap;
}
b {
  padding: 0.18em 0 0.22em 0;
}
pre {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  overflow: hidden;
  border-radius: 0.5em;
  background: #33343f;
  color: #f1f8fe;
}
pre.white-space,
pre.word-break {
  white-space: pre-wrap;
}
pre > code {
  background: transparent;
  padding: 0;
}
code {
  color: #f1f8fe;
  background-color: #24305d;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
code.terminal::before {
  content: "$ ";
}
textarea {
  font-size: 22px;
  line-height: 1.8;
  border: 1px solid #5175ac;
  border-radius: 0.5em;
  margin-bottom: 1.62rem;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
textarea:focus {
  box-shadow: 0 0 2px #69bfe1;
}
.white,
body,
input,
textarea {
  background-color: #f1f8fe;
  border-color: #79818a;
}
.black {
  background-color: #051527;
  border-color: #020b13;
}
.ambient {
  color: #f1f8fe;
  background: #1e84f4;
  border-color: #104885;
}
.ambient.light {
  color: #051527;
  background: #4599f6;
  border-color: #235286;
}
.ambient.dark {
  color: #f1f8fe;
  background: #0b6fde;
  border-color: #063d7a;
}
.red,
.failure {
  background-color: #c40326;
  border-color: #6d0216;
}
.light.red,
.light.failure {
  background-color: #ec032e;
  border-color: #81021a;
}
.dark.red,
.dark.failure {
  background-color: #9c021f;
  border-color: #590212;
}
.orange,
.warning {
  background-color: #d9a126;
  border-color: #775814;
}
.light.orange,
.light.warning {
  background-color: #dfb048;
  border-color: #7a5f26;
}
.dark.orange,
.dark.warning {
  background-color: #b6871f;
  border-color: #654b11;
}
.yellow {
  background-color: #d2ef26;
  border-color: #728314;
}
.light.yellow {
  background-color: #daf24c;
  border-color: #768427;
}
.dark.yellow {
  background-color: #bedc10;
  border-color: #697909;
}
.olive {
  background-color: #738326;
  border-color: #424b16;
}
.light.olive {
  background-color: #8ea330;
  border-color: #4f5b1a;
}
.dark.olive {
  background-color: #57641d;
  border-color: #343b11;
}
.green,
.success {
  background-color: #018326;
  border-color: #014d17;
}
.light.green,
.light.success {
  background-color: #01ab32;
  border-color: #01611d;
}
.dark.green,
.dark.success {
  background-color: #015a1a;
  border-color: #013911;
}
.teal {
  background-color: #018395;
  border-color: #014c56;
}
.light.teal {
  background-color: #02a7bd;
  border-color: #015e6a;
}
.dark.teal {
  background-color: #01606c;
  border-color: #013a42;
}
.cyan {
  background-color: #01eff3;
  border-color: #018385;
}
.light.cyan {
  background-color: #1efbfe;
  border-color: #0f898b;
}
.dark.cyan {
  background-color: #01c7ca;
  border-color: #016f70;
}
.skyblue,
.info {
  background-color: #69bfe1;
  border-color: #36677a;
}
.light.skyblue,
.light.info {
  background-color: #8bcde8;
  border-color: #476e7e;
}
.dark.skyblue,
.dark.info {
  background-color: #47b1da;
  border-color: #256077;
}
.blue {
  background-color: #0102f1;
  border-color: #010184;
}
.light.blue {
  background-color: #1c1efe;
  border-color: #0f0f8b;
}
.dark.blue {
  background-color: #0102c9;
  border-color: #010170;
}
.indigo {
  background-color: #430396;
  border-color: #270256;
}
.light.indigo {
  background-color: #5503be;
  border-color: #30026a;
}
.dark.indigo {
  background-color: #31026e;
  border-color: #1e0142;
}
.purple {
  background-color: #740496;
  border-color: #430256;
}
.light.purple {
  background-color: #9305be;
  border-color: #52036a;
}
.dark.purple {
  background-color: #55036e;
  border-color: #330242;
}
.violet {
  background-color: #c374e3;
  border-color: #693c7c;
}
.light.violet {
  background-color: #d296ea;
  border-color: #714d7f;
}
.dark.violet {
  background-color: #b552dd;
  border-color: #622b78;
}
.gray {
  background-color: #6b778b;
  border-color: #3a414d;
}
.light.gray {
  background-color: #818c9e;
  border-color: #454c56;
}
.dark.gray {
  background-color: #596474;
  border-color: #313741;
}
.brown {
  background-color: #914f3a;
  border-color: #512c20;
}
.light.brown {
  background-color: #ae5f45;
  border-color: #603425;
}
.dark.brown {
  background-color: #743f2e;
  border-color: #43241a;
}
.magenta {
  background-color: #a904da;
  border-color: #5d0378;
}
.light.magenta {
  background-color: #c30dfa;
  border-color: #6b0788;
}
.dark.magenta {
  background-color: #8a04b2;
  border-color: #4e0264;
}
.lavender {
  background-color: #bbb8df;
  border-color: #615f78;
}
.light.lavender {
  background-color: #d6d4eb;
  border-color: #6f6d7e;
}
.dark.lavender {
  background-color: #a19cd2;
  border-color: #545172;
}
.cream {
  background-color: #ddeacf;
  border-color: #747e6b;
}
.light.cream {
  background-color: #f1f7ec;
  border-color: #7e8479;
}
.dark.cream {
  background-color: #c8deb3;
  border-color: #6a785d;
}
.charcoal {
  background-color: #43354a;
  border-color: #281f2d;
}
.light.charcoal {
  background-color: #584662;
  border-color: #322739;
}
.dark.charcoal {
  background-color: #2d2432;
  border-color: #1d1621;
}
.crimson {
  background-color: #a20b2d;
  border-color: #5c061a;
}
.light.crimson {
  background-color: #c80d38;
  border-color: #6f081f;
}
.dark.crimson {
  background-color: #7c0822;
  border-color: #490514;
}
.clover {
  background-color: #35a738;
  border-color: #1d5d1e;
}
.light.clover {
  background-color: #42c345;
  border-color: #236b25;
}
.dark.clover {
  background-color: #2b882d;
  border-color: #184d19;
}
.cobalt {
  background-color: #2373cf;
  border-color: #133f72;
}
.light.cobalt {
  background-color: #3c88de;
  border-color: #204a79;
}
.dark.cobalt {
  background-color: #1d60ac;
  border-color: #103660;
}
.graphite {
  background-color: #24305d;
  border-color: #151c38;
}
.light.graphite {
  background-color: #303e7b;
  border-color: #1b2346;
}
.dark.graphite {
  background-color: #192140;
  border-color: #0f1429;
}
.ruby {
  background-color: #8f0153;
  border-color: #530130;
}
.light.ruby {
  background-color: #b7026b;
  border-color: #67013c;
}
.dark.ruby {
  background-color: #66013c;
  border-color: #3f0125;
}
.onyx {
  background-color: #33343f;
  border-color: #1e1f27;
}
.light.onyx {
  background-color: #454755;
  border-color: #272832;
}
.dark.onyx {
  background-color: #212128;
  border-color: #15151c;
}
.pewter {
  background-color: #929b8c;
  border-color: #4e554b;
}
.light.pewter {
  background-color: #a7aea2;
  border-color: #595e56;
}
.dark.pewter {
  background-color: #7d8877;
  border-color: #444b40;
}
.gunmetal {
  background-color: #37547c;
  border-color: #1e3047;
}
.light.gunmetal {
  background-color: #436898;
  border-color: #253955;
}
.dark.gunmetal {
  background-color: #2a415f;
  border-color: #182639;
}
.hotpink {
  background-color: #da55a5;
  border-color: #772c59;
}
.light.hotpink {
  background-color: #e177b6;
  border-color: #7a3d62;
}
.dark.hotpink {
  background-color: #d23493;
  border-color: #731c50;
}
.neongreen {
  background-color: #30e722;
  border-color: #1a7e12;
}
.light.neongreen {
  background-color: #52eb46;
  border-color: #2b8024;
}
.dark.neongreen {
  background-color: #23ca16;
  border-color: #13700c;
}
.electricblue {
  background-color: #2eb0d9;
  border-color: #196077;
}
.light.electricblue {
  background-color: #51bde0;
  border-color: #2a677a;
}
.dark.electricblue {
  background-color: #2298bd;
  border-color: #135468;
}
.royalpurple {
  background-color: #582e95;
  border-color: #311a54;
}
.light.royalpurple {
  background-color: #6b38b5;
  border-color: #3b1f64;
}
.dark.royalpurple {
  background-color: #462576;
  border-color: #281545;
}
.lemon {
  background-color: #e9f597;
  border-color: #7e854d;
}
.light.lemon {
  background-color: #f1f9bc;
  border-color: #82875f;
}
.dark.lemon {
  background-color: #e1f272;
  border-color: #7a843a;
}
.lime {
  background-color: #7fe498;
  border-color: #417c50;
}
.light.lime {
  background-color: #a1ebb3;
  border-color: #52805d;
}
.dark.lime {
  background-color: #5ddd7d;
  border-color: #307942;
}
.tangerine {
  background-color: #e1a35c;
  border-color: #7b5830;
}
.light.tangerine {
  background-color: #e8b77e;
  border-color: #7e6241;
}
.dark.tangerine {
  background-color: #db9039;
  border-color: #784e1e;
}
.grapefruit {
  background-color: #b02f61;
  border-color: #621a35;
}
.light.grapefruit {
  background-color: #cb3d73;
  border-color: #6f203f;
}
.dark.grapefruit {
  background-color: #90264f;
  border-color: #52152d;
}
.action,
.base-color {
  color: #f1f8fe;
  background: #235bc1;
  border-color: #13326b;
}
.action.light,
.base-color.light {
  color: #f1f8fe;
  background: #336eda;
  border-color: #1b3c77;
}
.action.dark,
.base-color.dark {
  color: #f1f8fe;
  background: #1d4b9e;
  border-color: #102a59;
}
.reaction {
  background-color: #6b5738;
  border-color: #3e321f;
}
.light.reaction {
  background-color: #866d46;
  border-color: #4b3d26;
}
.dark.reaction {
  background-color: #50412a;
  border-color: #312718;
}
.default {
  background-color: #5175ac;
  border-color: #2c405f;
}
.light.default {
  background-color: #6c8bba;
  border-color: #394b66;
}
.dark.default {
  background-color: #446290;
  border-color: #253651;
}
.warm {
  background-color: #7d49d6;
  border-color: #432775;
}
.light.warm {
  background-color: #956add;
  border-color: #4f3779;
}
.dark.warm {
  background-color: #662dc9;
  border-color: #38196e;
}
.cool {
  background-color: #01d7e4;
  border-color: #01777e;
}
.light.cool {
  background-color: #10f0fe;
  border-color: #09838a;
}
.dark.cool {
  background-color: #01b1bb;
  border-color: #016369;
}
.neutral {
  background-color: #0298c2;
  border-color: #01556c;
}
.light.neutral {
  background-color: #02b8ea;
  border-color: #026580;
}
.dark.neutral {
  background-color: #027899;
  border-color: #014558;
}
.complement,
.second.triad {
  background-color: #7d663b;
  border-color: #473a21;
}
.light.complement,
.light.second.triad {
  background-color: #997d48;
  border-color: #554527;
}
.dark.complement,
.dark.second.triad {
  background-color: #62502e;
  border-color: #392f1a;
}
.accent {
  background-color: #291ab7;
  border-color: #170f66;
}
.light.accent {
  background-color: #301fdb;
  border-color: #1a1178;
}
.dark.accent {
  background-color: #211594;
  border-color: #130c54;
}
.second.accent {
  background-color: #1696b7;
  border-color: #0c5466;
}
.light.second.accent {
  background-color: #1ab4dc;
  border-color: #0e6379;
}
.dark.second.accent {
  background-color: #127993;
  border-color: #0a4554;
}
.split {
  background-color: #8a1e9c;
  border-color: #4e1158;
}
.light.split {
  background-color: #a924be;
  border-color: #5d1469;
}
.dark.split {
  background-color: #6c1779;
  border-color: #3f0d47;
}
.second.split {
  background-color: #199e4e;
  border-color: #0e592c;
}
.light.second.split {
  background-color: #1fc15f;
  border-color: #116b34;
}
.dark.second.split {
  background-color: #137b3c;
  border-color: #0b4823;
}
.triad {
  background-color: #621eac;
  border-color: #371160;
}
.light.triad {
  background-color: #7624ce;
  border-color: #411471;
}
.dark.triad {
  background-color: #4e1889;
  border-color: #2d0e4f;
}
.third.triad {
  background-color: #199e85;
  border-color: #0e594b;
}
.light.third.triad {
  background-color: #1fc1a2;
  border-color: #116b5a;
}
.dark.third.triad {
  background-color: #137b67;
  border-color: #0b483c;
}
.tetrad {
  background-color: #461eac;
  border-color: #271160;
}
.light.tetrad {
  background-color: #5424ce;
  border-color: #2e1471;
}
.dark.tetrad {
  background-color: #381889;
  border-color: #200e4f;
}
.second.tetrad {
  background-color: #8a1e49;
  border-color: #4f112a;
}
.light.second.tetrad {
  background-color: #ac255b;
  border-color: #601433;
}
.dark.second.tetrad {
  background-color: #691737;
  border-color: #3e0d21;
}
.third.tetrad {
  background-color: #5d9e3e;
  border-color: #345822;
}
.light.third.tetrad {
  background-color: #70b94b;
  border-color: #3d6628;
}
.dark.third.tetrad {
  background-color: #4c8132;
  border-color: #2b491c;
}
.fourth.tetrad {
  background-color: #199ea0;
  border-color: #0e595a;
}
.light.fourth.tetrad {
  background-color: #1fc1c3;
  border-color: #116b6c;
}
.dark.fourth.tetrad {
  background-color: #147b7d;
  border-color: #0b4849;
}
.highlight {
  background-color: #830ee4;
  border-color: #48087d;
}
.light.highlight {
  background-color: #972af1;
  border-color: #521684;
}
.dark.highlight {
  background-color: #6d0cbd;
  border-color: #3d076a;
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-margin-right {
  margin-right: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.no-margin-left {
  margin-left: 0 !important;
}
.no-padding {
  padding: 0;
}
.no-margin,
.no-gutter {
  margin: 0;
}
.no-side-margin,
.no-side-margins {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.no-margins {
  margin: 0 !important;
}
.no-margins * {
  margin: 0 !important;
}
.no-box-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  box-shadow: unset;
}
.no-text-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  text-shadow: unset;
}
.no-border,
.no-borders,
.no-borders * {
  border-width: 0 !important;
}
.no-background {
  background: transparent;
}
.no-text-indent {
  text-indent: 0;
}
.no-text-align {
  text-align: initial;
}
.no-user-select {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.no-pointer-events {
  pointer-events: none;
}
.no-list-style {
  list-style-type: none;
  margin-left: 0;
}
.no-grid-gap,
.no-column-gap {
  grid-gap: 0;
  column-gap: 0;
}
@media print {
  html {
    font-size: 62.5%;
  }
  * {
    box-shadow: unset !important;
    border: unset !important;
  }
  nav {
    display: none !important;
  }
  .page-width,
  .text-width,
  .container {
    all: unset;
  }
  .inner-page-width,
  .inner-text-width,
  .inner-aside-width {
    all: unset;
  }
}
