/* This project uses Cavepaint (MIT License) by Rex Riepe */
/* https://github.com/cavepaint/cavepaintCSS */
.background {
  background: #fbf9f2;
}
.background-color {
  background-color: #fbf9f2;
}
.border {
  border: 1px solid #b2a677;
}
.border-radius,
.rounded {
  border-radius: 0.5em;
}
.border-bottom {
  border-bottom: 1px solid #b2a677;
}
.border-left {
  border-left: 1px solid #b2a677;
}
.border-right {
  border-right: 1px solid #b2a677;
}
.border-style,
.button.border,
button.border {
  border-style: solid;
}
.border-top {
  border-top: 1px solid #b2a677;
}
.border-width,
.button.border,
button.border {
  border-width: 1px;
}
.max-width {
  max-width: 59rem;
}
.min-width {
  min-width: 22rem;
}
.align-content {
  align-content: stretch;
}
.align-items {
  align-items: stretch;
}
.align-self {
  align-self: auto;
}
.flex,
.vertical-center,
.center-vertical {
  flex: 0 1 auto;
}
.flex-direction,
.vertical-center,
.center-vertical {
  flex-direction: column;
}
.justify-content,
.vertical-center,
.center-vertical {
  justify-content: center;
}
.font-family,
body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.font-size {
  font-size: 18px;
}
.font-weight {
  font-weight: normal;
}
.list-style {
  list-style: disc inside none;
}
.list-style-type {
  list-style-type: disc;
}
.margin {
  margin: 2rem;
}
.margin-bottom,
pre,
.bar,
.card {
  margin-bottom: 2rem;
}
.margin-left {
  margin-left: 2rem;
}
.margin-right {
  margin-right: 2rem;
}
.margin-top {
  margin-top: 2rem;
}
.column-gap {
  column-gap: 1.94em;
}
.column-rule {
  column-rule: 1px solid #b2a677;
}
.padding {
  padding: 1rem;
}
.padding-bottom {
  padding-bottom: 1rem;
}
.padding-left {
  padding-left: 1rem;
}
.padding-right {
  padding-right: 1rem;
}
.padding-top {
  padding-top: 1rem;
}
.text-align {
  text-align: left;
}
.text-align-last {
  text-align-last: left;
}
.text-indent {
  text-indent: 2ch;
}
.text-justify {
  text-justify: justify;
}
.text-overflow {
  text-overflow: hidden;
}
.text-shadow {
  text-shadow: 1px 1px 1px rgba(30, 26, 7, 0.2);
}
.line-height {
  line-height: 1.8;
}
.vertical-align {
  vertical-align: middle;
}
.letter-spacing {
  letter-spacing: 0;
}
.word-spacing {
  word-spacing: normal;
}
.white-space {
  white-space: nowrap;
}
.word-break {
  word-break: break-all;
}
.word-wrap {
  word-wrap: break-word;
}
.transform {
  transform: none;
}
.transition {
  transition: all 0s ease 0s;
}
.display {
  display: block;
}
.position {
  position: absolute;
}
.top {
  top: 0;
}
.right {
  right: 0;
}
.bottom {
  bottom: 0;
}
.left {
  left: 0;
}
.float {
  float: left;
}
.clear {
  clear: both;
}
.z-index {
  z-index: 10;
}
.overflow {
  overflow: hidden;
}
.cursor {
  cursor: pointer;
}
.box-shadow {
  box-shadow: 1px 1px 1px rgba(30, 26, 7, 0.2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-size: 18px;
  line-height: 1.8;
  margin: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
nav {
  z-index: 99;
}
nav a {
  text-decoration: none;
}
aside {
  margin: 0 auto;
  margin-bottom: 2rem;
  max-width: 22rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-top: 0.49443758em;
  margin-bottom: 0.74165637em;
  letter-spacing: -0.025em;
  color: inherit;
  line-height: 1.618;
}
h1 {
  font-size: 2.4em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1em;
}
p {
  margin-bottom: 1em;
}
p.gutter-bottom {
  margin-bottom: 1.618em;
}
p.gutter {
  margin-bottom: 4rem;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: inherit;
  text-decoration: underline;
}
form {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input {
  font-size: 18px;
  line-height: 1.8;
  border: 1px solid #b2a677;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input:focus {
  box-shadow: 0 0 2px #1efed6;
}
fieldset {
  border: none;
  outline: none;
}
ol {
  padding-left: 4ch;
  margin-bottom: 2rem;
}
ol li {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
ul {
  margin-left: 1rem;
  margin-bottom: 2rem;
}
li {
  margin-bottom: 0.44em;
}
kbd {
  color: #fbf9f2;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  white-space: nowrap;
}
b {
  padding: 0.18em 0 0.22em 0;
}
pre {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  overflow: hidden;
  border-radius: 0.5em;
  background: #1e1a07;
  color: #fbf9f2;
}
pre.white-space,
pre.word-break {
  white-space: pre-wrap;
}
pre > code {
  background: transparent;
  padding: 0;
}
code {
  color: #fbf9f2;
  background-color: #1e1a07;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
code.terminal::before {
  content: "$ ";
}
textarea {
  font-size: 18px;
  line-height: 1.8;
  border: 1px solid #b2a677;
  border-radius: 0.5em;
  margin-bottom: 2rem;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
textarea:focus {
  box-shadow: 0 0 2px #1efed6;
}
.button,
button {
  border-style: solid;
  border-radius: 0.5em;
  box-shadow: 1px 1px 1px rgba(30, 26, 7, 0.2);
  display: inline;
  position: relative;
  font-family: inherit;
  font-size: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  color: inherit;
  background-color: inherit;
  border-color: #897e4e;
  border-width: 1px;
  line-height: 1.6;
  text-align: center;
  vertical-align: middle;
  outline: none;
  white-space: nowrap;
  text-decoration: none;
  touch-action: manipulation;
  cursor: pointer;
  transform: scale(1);
  transition: 0.08s linear;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.button:active,
button:active {
  transform: scale(0.99);
  box-shadow: unset;
}
.bar {
  position: relative;
  width: 100%;
  display: block;
  vertical-align: middle;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.bar > * {
  display: inline;
  margin-right: 0.3236em;
  margin-left: 0.3236em;
}
.card {
  position: relative;
  overflow: hidden;
  padding: 1rem;
  border: 1px solid #b2a677;
  border-radius: 0.5em;
  box-shadow: 1px 1px 1px rgba(30, 26, 7, 0.2);
}
.card > *:first-child {
  margin-top: 0;
}
.badge {
  border-radius: 0.5em;
  line-height: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  padding-right: 0.6472em;
  padding-left: 0.6472em;
  vertical-align: middle;
  border-radius: 99px;
  white-space: nowrap;
}
.modal {
  display: none;
  max-width: none;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  position: fixed;
  bottom: 0;
  justify-content: center;
  flex: 0 1 auto;
  flex-direction: column;
  height: 100vh;
}
.modal > * {
  flex-direction: column;
  color: #1e1a07;
  position: relative;
  background: #fbf9f2;
  padding: 1rem;
  margin-bottom: 4rem;
  border-radius: 0.5em;
  box-shadow: 1px 1px 1px rgba(30, 26, 7, 0.2);
  margin: 1rem;
}
@media screen and (min-width: 41rem) {
  .modal > * {
    max-width: 59rem;
    margin: 0 auto;
  }
}
.overlay {
  margin: 0;
  padding: 0;
  position: relative;
}
.overlay .top,
.overlay .bottom,
.overlay .left,
.overlay .right {
  position: absolute;
}
.overlay .top {
  top: 0.3236em;
}
.overlay .bottom {
  bottom: 0.3236em;
}
.overlay .left {
  left: 0.3236em;
}
.overlay .right {
  right: 0.3236em;
}
.overlay.stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.overlay * {
  margin: 0;
  display: block;
}
.white,
body,
input,
textarea {
  background-color: #fbf9f2;
  border-color: #86847c;
}
.white.light,
body.light,
input.light,
textarea.light {
  color: #1e1a07;
  background-color: #fdfcf9;
  border-color: #87857f;
}
.white.dark,
body.dark,
input.dark,
textarea.dark {
  color: #1e1a07;
  background-color: #f8f5e7;
  border-color: #848276;
}
.black {
  background-color: #1e1a07;
  border-color: #0f0d04;
}
.black.light {
  color: #fbf9f2;
  background-color: #534918;
  border-color: #322c0e;
}
.black.dark {
  color: #fbf9f2;
  background-color: #040300;
  border-color: #0c0801;
}
.ambient {
  color: #1e1a07;
  background-color: #bda02c;
  border-color: #675718;
}
.ambient.light {
  color: #1e1a07;
  background-color: #dbc864;
  border-color: #766c34;
}
.ambient.dark {
  color: #fbf9f2;
  background-color: #98700a;
  border-color: #563f06;
}
.ambient.bright {
  color: #1e1a07;
  background-color: #e4d275;
  border-color: #7b713c;
}
.red,
.failure {
  background-color: #fe1000;
  border-color: #890901;
}
.light.red,
.light.failure {
  background-color: #fe5445;
  border-color: #892c23;
}
.dark.red,
.dark.failure {
  background-color: #cb0d00;
  border-color: #700701;
}
.bright.red,
.bright.failure {
  background-color: #ff1b19;
  border-color: #8a0e0d;
}
.orange,
.warning {
  background-color: #ffa900;
  border-color: #8a5b01;
}
.light.orange,
.light.warning {
  background-color: #fec145;
  border-color: #896723;
}
.dark.orange,
.dark.warning {
  background-color: #cc8300;
  border-color: #704801;
}
.bright.orange,
.bright.warning {
  background-color: #ffca19;
  border-color: #8a6d0d;
}
.yellow {
  background-color: #ffff00;
  border-color: #8a8a01;
}
.light.yellow {
  background-color: #fefe45;
  border-color: #898923;
}
.dark.yellow {
  background-color: #ccc900;
  border-color: #706f01;
}
.bright.yellow {
  background-color: #ffff19;
  border-color: #8a8a0d;
}
.green,
.success {
  background-color: #1e8800;
  border-color: #124e01;
}
.light.green,
.light.success {
  background-color: #60aa45;
  border-color: #345d25;
}
.dark.green,
.dark.success {
  background-color: #186800;
  border-color: #0f3e01;
}
.bright.green,
.bright.success {
  background-color: #08a900;
  border-color: #055f01;
}
.teal {
  background-color: #148573;
  border-color: #0b4c41;
}
.light.teal {
  background-color: #58a899;
  border-color: #2f5b53;
}
.dark.teal {
  background-color: #106652;
  border-color: #0a3c30;
}
.bright.teal {
  background-color: #04a37a;
  border-color: #025c44;
}
.cyan,
.info {
  background-color: #1efed6;
  border-color: #108973;
}
.light.cyan,
.light.info {
  background-color: #60fee0;
  border-color: #308978;
}
.dark.cyan,
.dark.info {
  background-color: #18c99c;
  border-color: #0d6e55;
}
.bright.cyan,
.bright.info {
  background-color: #21fff3;
  border-color: #118a83;
}
.blue {
  background-color: #1e10d6;
  border-color: #110974;
}
.light.blue {
  background-color: #6054e0;
  border-color: #322c79;
}
.dark.blue {
  background-color: #180d9c;
  border-color: #0e0757;
}
.bright.blue {
  background-color: #1510fd;
  border-color: #0b0989;
}
.purple {
  background-color: #8a0a73;
  border-color: #4e0641;
}
.light.purple {
  background-color: #ac5199;
  border-color: #5d2b53;
}
.dark.purple {
  background-color: #6b0952;
  border-color: #3f0530;
}
.bright.purple {
  background-color: #ad0179;
  border-color: #600144;
}
.magenta {
  background-color: #ff10d6;
  border-color: #890874;
}
.light.magenta {
  background-color: #fe54e0;
  border-color: #892b78;
}
.dark.magenta {
  background-color: #cc0d9c;
  border-color: #700755;
}
.bright.magenta {
  background-color: #ff1bf3;
  border-color: #8a0e83;
}
.gray {
  background-color: #8a8573;
  border-color: #4b493d;
}
.light.gray {
  background-color: #aca899;
  border-color: #5c5a50;
}
.dark.gray {
  background-color: #6b6552;
  border-color: #3c392d;
}
.bright.gray {
  background-color: #9f9675;
  border-color: #56513e;
}
.action,
.base-color {
  color: #fbf9f2;
  background-color: #7e6b2c;
  border-color: #473c19;
}
.action.light,
.base-color.light {
  color: #1e1a07;
  background-color: #b2a364;
  border-color: #605835;
}
.action.dark,
.base-color.dark {
  color: #fbf9f2;
  background-color: #4d390a;
  border-color: #302406;
}
.action.bright,
.base-color.bright {
  color: #1e1a07;
  background-color: #b9992e;
  border-color: #655419;
}
.reaction {
  background-color: #313652;
  border-color: #1c1f30;
}
.light.reaction {
  background-color: #6d7081;
  border-color: #3b3c47;
}
.dark.reaction {
  background-color: #272a3b;
  border-color: #171924;
}
.bright.reaction {
  background-color: #1a1f48;
  border-color: #10132c;
}
.default {
  background-color: #b2a677;
  border-color: #605a3f;
}
.light.default {
  background-color: #c8c09c;
  border-color: #6b6651;
}
.dark.default {
  background-color: #8c8156;
  border-color: #4d472e;
}
.bright.default {
  background-color: #d6ca83;
  border-color: #736c44;
}
.complement,
.second.triad {
  background-color: #394167;
  border-color: #20253b;
}
.light.complement,
.light.second.triad {
  color: #fbf9f2;
  background-color: #727890;
  border-color: #3d404f;
}
.dark.complement,
.dark.second.triad {
  color: #fbf9f2;
  background-color: #2c324a;
  border-color: #1a1d2c;
}
.bright.complement,
.bright.second.triad {
  color: #fbf9f2;
  background-color: #1f2966;
  border-color: #12183b;
}
.accent {
  background-color: #8ba22d;
  border-color: #4d5a19;
}
.light.accent {
  color: #1e1a07;
  background-color: #adbd66;
  border-color: #5d6636;
}
.dark.accent {
  color: #fbf9f2;
  background-color: #6c7d20;
  border-color: #3d4712;
}
.bright.accent {
  color: #1e1a07;
  background-color: #a9d312;
  border-color: #5c730a;
}
.second.accent {
  background-color: #a6572d;
  border-color: #5b3019;
}
.light.second.accent {
  color: #1e1a07;
  background-color: #c08766;
  border-color: #684836;
}
.dark.second.accent {
  color: #fbf9f2;
  background-color: #824220;
  border-color: #4a2512;
}
.bright.second.accent {
  color: #fbf9f2;
  background-color: #d84212;
  border-color: #76240a;
}
.split {
  background-color: #397836;
  border-color: #20441e;
}
.light.split {
  color: #1e1a07;
  background-color: #729f6c;
  border-color: #3d563a;
}
.dark.split {
  color: #fbf9f2;
  background-color: #2c5c27;
  border-color: #1a3616;
}
.bright.split {
  color: #fbf9f2;
  background-color: #1e871b;
  border-color: #114c0f;
}
.second.split {
  background-color: #7e3155;
  border-color: #471b30;
}
.light.second.split {
  color: #fbf9f2;
  background-color: #a36c83;
  border-color: #593a46;
}
.dark.second.split {
  color: #fbf9f2;
  background-color: #61263d;
  border-color: #381623;
}
.bright.second.split {
  color: #fbf9f2;
  background-color: #921642;
  border-color: #520d25;
}
.triad {
  background-color: #497824;
  border-color: #294414;
}
.light.triad {
  color: #1e1a07;
  background-color: #7e9f5f;
  border-color: #445733;
}
.dark.triad {
  color: #fbf9f2;
  background-color: #385c1a;
  border-color: #21360f;
}
.bright.triad {
  color: #fbf9f2;
  background-color: #32890c;
  border-color: #1d4e07;
}
.third.triad {
  background-color: #7e3133;
  border-color: #471b1d;
}
.light.third.triad {
  color: #fbf9f2;
  background-color: #a36c6a;
  border-color: #593a39;
}
.dark.third.triad {
  color: #fbf9f2;
  background-color: #612625;
  border-color: #381615;
}
.bright.third.triad {
  color: #fbf9f2;
  background-color: #921618;
  border-color: #520d0e;
}
.tetrad {
  background-color: #5a7824;
  border-color: #334414;
}
.light.tetrad {
  color: #1e1a07;
  background-color: #8a9f5f;
  border-color: #4b5733;
}
.dark.tetrad {
  color: #fbf9f2;
  background-color: #465c1a;
  border-color: #29360f;
}
.bright.tetrad {
  color: #fbf9f2;
  background-color: #4c890c;
  border-color: #2c4e07;
}
.second.tetrad {
  background-color: #397767;
  border-color: #1f433a;
}
.light.second.tetrad {
  color: #1e1a07;
  background-color: #729e90;
  border-color: #3d564e;
}
.dark.second.tetrad {
  color: #fbf9f2;
  background-color: #2c5b4a;
  border-color: #19352b;
}
.bright.second.tetrad {
  color: #fbf9f2;
  background-color: #1e8462;
  border-color: #114b38;
}
.third.tetrad {
  background-color: #5c3167;
  border-color: #351b3b;
}
.light.third.tetrad {
  color: #fbf9f2;
  background-color: #8c6c90;
  border-color: #4c3a4f;
}
.dark.third.tetrad {
  color: #fbf9f2;
  background-color: #48264a;
  border-color: #2b162c;
}
.bright.third.tetrad {
  color: #fbf9f2;
  background-color: #541768;
  border-color: #310e3c;
}
.fourth.tetrad {
  background-color: #7e3224;
  border-color: #471c14;
}
.light.fourth.tetrad {
  color: #fbf9f2;
  background-color: #a36d5f;
  border-color: #593b33;
}
.dark.fourth.tetrad {
  color: #fbf9f2;
  background-color: #61271a;
  border-color: #39170f;
}
.bright.fourth.tetrad {
  color: #fbf9f2;
  background-color: #93170c;
  border-color: #530e07;
}
.warm {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201%201%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23df634b%22%20opacity%3D%220.2%22%20d%3D%22M0%200h1v1H0z%22%2F%3E%3C%2Fsvg%3E");
}
.cool {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201%201%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%234c3ca0%22%20opacity%3D%220.2%22%20d%3D%22M0%200h1v1H0z%22%2F%3E%3C%2Fsvg%3E");
}
.neutral {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201%201%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%2337a304%22%20opacity%3D%220.16%22%20d%3D%22M0%200h1v1H0z%22%2F%3E%3C%2Fsvg%3E");
}
.dull {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201%201%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23898268%22%20opacity%3D%220.38%22%20d%3D%22M0%200h1v1H0z%22%2F%3E%3C%2Fsvg%3E");
}
.responsive {
  column-gap: 0.382rem;
  grid-gap: 0.382rem;
}
.responsive.padding,
.modal,
.container {
  padding: 0.382rem;
}
.responsive.margin,
.container {
  margin: 0.764rem;
}
.responsive.gutter {
  margin: 1.528rem;
}
@media screen and (min-width: 41rem) {
  .responsive {
    column-gap: 0.618rem;
    grid-gap: 0.618rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 0.618rem;
  }
  .responsive.margin,
  .container {
    margin: 1.236rem;
  }
  .responsive.gutter {
    margin: 2.472rem;
  }
}
@media screen and (min-width: 59rem) {
  .responsive {
    column-gap: 1rem;
    grid-gap: 1rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1rem;
  }
  .responsive.margin,
  .container {
    margin: 2rem;
  }
  .responsive.gutter {
    margin: 4rem;
  }
}
.grid,
.two-column,
.three-column {
  display: grid;
  grid-gap: 2rem;
  margin-bottom: 2rem;
}
.grid.tablet,
.two-column.tablet,
.three-column.tablet,
.grid.mobile.tablet,
.two-column.mobile.tablet,
.three-column.mobile.tablet,
.grid.desktop,
.two-column.desktop,
.three-column.desktop {
  display: unset;
}
.grid {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.two-column {
  grid-template-columns: 1fr 1fr;
}
.two-column.golden {
  grid-template-columns: 1.618fr 1fr;
}
.two-column.golden.reverse {
  grid-template-columns: 1fr 1.618fr;
}
.three-column {
  grid-template-columns: 1fr 1fr 1fr;
}
.three-column.golden {
  grid-template-columns: 1fr 1.618fr 1fr;
}
.three-column.golden.leading {
  grid-template-columns: 1.618fr 1fr 1fr;
}
.three-column.golden.trailing {
  grid-template-columns: 1fr 1fr 1.618fr;
}
.grid-width-one {
  grid-column: auto / span 1;
}
.grid-width-two {
  grid-column: auto / span 2;
}
.grid-width-three {
  grid-column: auto / span 3;
}
.grid-width-four {
  grid-column: auto / span 4;
}
.grid-width-five {
  grid-column: auto / span 5;
}
.grid-width-six {
  grid-column: auto / span 6;
}
.grid-width-seven {
  grid-column: auto / span 7;
}
.grid-width-eight {
  grid-column: auto / span 8;
}
.grid-width-nine {
  grid-column: auto / span 9;
}
.grid-width-ten {
  grid-column: auto / span 10;
}
.grid-width-eleven {
  grid-column: auto / span 11;
}
.grid-width-twelve {
  grid-column: auto / span 12;
}
@media screen and (max-width: calc(41rem - 1px)) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: grid;
  }
}
@media screen and (min-width: 41rem) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: initial;
  }
  .grid.tablet,
  .two-column.tablet,
  .three-column.tablet {
    display: grid;
  }
}
@media screen and (max-width: calc(59rem - 1px)) {
  .grid.mobile.tablet,
  .two-column.mobile.tablet,
  .three-column.mobile.tablet {
    display: grid;
  }
}
@media screen and (min-width: 59rem) {
  .grid.desktop,
  .two-column.desktop,
  .three-column.desktop {
    display: grid;
  }
}
.gutter {
  margin: 4rem;
}
.gutter-top {
  margin-top: 4rem;
}
.gutter-right {
  margin-right: 4rem;
}
.gutter-bottom {
  margin-bottom: 4rem;
}
.gutter-left {
  margin-left: 4rem;
}
.text-padding {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-padding-top {
  padding-top: 0.18em;
}
.text-padding-right {
  padding-right: 0.3236em;
}
.text-padding-bottom {
  padding-bottom: 0.22em;
}
.text-padding-left {
  padding-left: 0.3236em;
}
.text-margin {
  margin: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-margin-top {
  margin-top: 0.18em;
}
.text-margin-right {
  margin-right: 0.3236em;
}
.text-margin-bottom {
  margin-bottom: 0.22em;
}
.text-margin-left {
  margin-left: 0.3236em;
}
.bottom-margins * {
  margin-bottom: 2rem;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.initial {
  display: initial;
}
.table {
  display: table;
}
.flex,
.vertical-center,
.center-vertical {
  display: flex;
}
.inline-block {
  display: inline-block;
}
.static {
  position: static;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.margin-auto,
.container {
  margin-left: auto;
  margin-right: auto;
}
.width-auto {
  width: auto;
}
.inset {
  box-shadow: inset 1px 1px 1px rgba(30, 26, 7, 0.2);
}
.viewport-height {
  height: 100vh;
}
.min-viewport-height {
  min-height: 100vh;
}
.overflow-hidden {
  overflow: hidden;
}
.dashed {
  border-style: dashed;
}
.dotted {
  border-style: dotted;
}
.thick {
  border-width: 2px;
}
.thin {
  border-width: 0.5px;
}
.current-color {
  border-color: currentColor;
}
.fade {
  opacity: 0.65;
}
.monospace,
pre,
code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
}
.sans-serif {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.serif {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "Droid Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.text-transparent {
  color: transparent;
}
.big {
  font-size: 125%;
  line-height: 2.25;
}
.big.font-size {
  font-size: 22.5px;
}
.small,
.badge {
  font-size: 87.5%;
  line-height: 1.575;
}
.small.font-size {
  font-size: 15.75px;
}
.huge {
  font-size: 160%;
}
.huge.font-size {
  font-size: 28.8px;
}
.text-trim {
  line-height: 1;
}
.text-align-center,
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.grid-gap-margin {
  grid-gap: 2rem;
}
.grid-gap-border-width {
  grid-gap: 1px;
}
.grid-gap-text-padding,
.grid-gap-text-margin {
  grid-gap: 0.3236em;
}
.shade,
.white,
.orange,
.bright.orange,
.yellow,
.bright.yellow,
.light.green,
.bright.green,
.light.teal,
.cyan,
.bright.cyan,
.light.magenta,
.bright.magenta,
.light.gray,
.bright.gray,
.default,
.bright.default,
.accent,
body,
input,
textarea,
.info,
.bright.info,
.warning,
.bright.warning,
.light.success,
.bright.success {
  color: #1e1a07;
}
.tint,
.black,
.red,
.bright.red,
.green,
.teal,
.bright.teal,
.blue,
.bright.blue,
.purple,
.bright.purple,
.magenta,
.gray,
.reaction,
.bright.reaction,
.dark.default,
.complement,
.second.accent,
.split,
.second.split,
.triad,
.third.triad,
.tetrad,
.second.tetrad,
.third.tetrad,
.fourth.tetrad,
.success,
.failure,
.bright.failure,
.second.triad {
  color: #fbf9f2;
}
.transparent {
  background-color: transparent;
  color: inherit;
  border-color: inherit;
}
.transparent.light {
  background-color: rgba(251, 249, 242, 0.16);
}
.transparent.dark,
.modal {
  background-color: rgba(30, 26, 7, 0.25);
}
.trim,
.trim-inner *,
.trim-all,
.trim-all * {
  margin-bottom: 0;
}
.bump {
  position: relative;
}
.bump.up {
  top: -2px;
}
.bump.down {
  top: 2px;
}
.bump.left {
  left: -2px;
}
.bump.right {
  right: initial;
  left: 2px;
}
.hidden {
  display: none !important;
}
.clearfix,
.clear {
  clear: both;
}
.clearfix::after,
.clear::after {
  display: block;
  clear: both;
  content: "";
}
.character-width {
  max-width: 1ch;
}
.golden-width {
  max-width: calc(62% - 4rem);
}
.golden-width.reverse {
  max-width: 38%;
}
.aside-width {
  max-width: 22rem;
}
@media screen and (min-width: 41rem) {
  .text-width {
    max-width: 37rem;
  }
}
.page-width,
.container {
  max-width: 59rem;
}
.full-width,
.page-width .page-width {
  display: block;
  width: 100%;
}
.inner-aside-width {
  padding-left: calc(50% - 11rem);
  padding-right: calc(50% - 11rem);
}
.inner-aside-width.padding {
  padding-left: calc(50% - 10rem);
  padding-right: calc(50% - 10rem);
}
.inner-aside-width.responsive.padding {
  padding-left: calc(50% - 10.62rem);
  padding-right: calc(50% - 10.62rem);
}
@media screen and (max-width: calc(41rem - 1px)) {
  .inner-text-width {
    padding-left: initial;
    padding-right: initial;
  }
  .inner-text-width.padding {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .inner-text-width.responsive.padding {
    padding-left: 0.382rem;
    padding-right: 0.382rem;
  }
}
@media screen and (min-width: 41rem) {
  .inner-aside-width.tablet.padding {
    padding-left: calc(50% - 10rem);
    padding-right: calc(50% - 10rem);
  }
  .inner-aside-width.tablet.responsive.padding {
    padding-left: calc(50% - 10.38rem);
    padding-right: calc(50% - 10.38rem);
  }
  .inner-text-width {
    padding-left: calc(50% - 18.5rem);
    padding-right: calc(50% - 18.5rem);
  }
  .inner-text-width.padding {
    padding-left: calc(50% - 17.5rem);
    padding-right: calc(50% - 17.5rem);
  }
  .inner-text-width.responsive.padding {
    padding-left: calc(50% - 17.88rem);
    padding-right: calc(50% - 17.88rem);
  }
}
@media screen and (min-width: 59rem) {
  .inner-aside-width.desktop.padding {
    padding-left: calc(50% - 10rem);
    padding-right: calc(50% - 10rem);
  }
  .inner-aside-width.desktop.responsive.padding {
    padding-left: calc(50% - 10rem);
    padding-right: calc(50% - 10rem);
  }
  .inner-text-width.desktop.padding {
    padding-left: calc(50% - 17.5rem);
    padding-right: calc(50% - 17.5rem);
  }
  .inner-text-width.desktop.responsive.padding {
    padding-left: calc(50% - 17.5rem);
    padding-right: calc(50% - 17.5rem);
  }
  .inner-page-width {
    padding-left: calc(50% - 29.5rem);
    padding-right: calc(50% - 29.5rem);
  }
  .inner-page-width.padding {
    padding-left: calc(50% - 28.5rem);
    padding-right: calc(50% - 28.5rem);
  }
  .inner-page-width.responsive.padding {
    padding-left: calc(50% - 28.5rem);
    padding-right: calc(50% - 28.5rem);
  }
}
.placeholder {
  min-height: 10px;
}
.placeholder::before {
  content: " ";
  white-space: pre;
}
.placeholder::after {
  content: "";
  display: block;
}
.placeholder.square::after,
.placeholder.one-to-one::after {
  padding-top: 100%;
}
.placeholder.four-to-three::after {
  padding-top: 75%;
}
.placeholder.sixteen-to-nine::after {
  padding-top: 56.25%;
}
.hide {
  display: none;
}
.hide.tablet {
  display: initial;
}
.hide.desktop {
  display: initial;
}
@media screen and (max-width: calc(41rem - 1px)) {
  .hide.mobile {
    display: none;
  }
}
@media screen and (min-width: 41rem) {
  .hide.mobile {
    display: initial;
  }
  .hide.tablet {
    display: none;
  }
}
@media screen and (min-width: 59rem) {
  .hide.desktop {
    display: none;
  }
  .hide.mobile.tablet {
    display: initial;
  }
}
@media screen and (max-width: calc(59rem - 1px)) {
  .hide.mobile.tablet {
    display: none;
  }
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-margin-right {
  margin-right: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.no-margin-left {
  margin-left: 0 !important;
}
.no-padding {
  padding: 0;
}
.no-margin,
.no-gutter {
  margin: 0;
}
.no-side-margin,
.no-side-margins {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.no-margins {
  margin: 0 !important;
}
.no-margins * {
  margin: 0 !important;
}
.no-box-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  box-shadow: unset;
}
.no-text-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  text-shadow: unset;
}
.no-border,
.no-borders,
.no-borders * {
  border-width: 0 !important;
}
.no-background {
  background: transparent;
}
.no-text-indent {
  text-indent: 0;
}
.no-text,
.no-text * {
  text-indent: -9999px;
}
.no-text-align {
  text-align: initial;
}
.no-user-select {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.no-pointer-events {
  pointer-events: none;
}
.no-list-style {
  list-style-type: none;
  margin-left: 0;
}
.no-grid-gap,
.no-column-gap {
  grid-gap: 0;
  column-gap: 0;
}
