/* This project uses Cavepaint! (MIT License) */
/* https://github.com/cavepaint/cavepaintCSS */
* {
  margin: 0 0 1.62rem 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}
.button,
button {
  border-style: solid;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(41, 21, 21, 0.16);
  display: inline;
  position: relative;
  font-family: inherit;
  font-size: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  color: inherit;
  background-color: inherit;
  border-color: #55c093;
  border-width: 1px;
  line-height: 1.6;
  text-align: center;
  vertical-align: middle;
  outline: none;
  white-space: nowrap;
  text-decoration: none;
  touch-action: manipulation;
  cursor: pointer;
  transform: scale(1);
  transition: 0.08s linear;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.button:active,
button:active {
  transform: scale(0.99);
  box-shadow: unset;
}
.bar {
  position: relative;
  width: 100%;
  display: block;
  vertical-align: middle;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.bar > * {
  display: inline;
  margin-right: 0.3236em;
  margin-left: 0.3236em;
  margin-bottom: 0;
}
.card {
  position: relative;
  overflow: hidden;
  padding: 1.62rem;
  border: 1px solid #90d6b9;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(41, 21, 21, 0.16);
}
.card > *:first-child {
  margin-top: 0;
}
.card > *:last-child {
  margin-bottom: 0;
}
.badge {
  border-radius: 0.5em;
  line-height: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  padding-right: 0.6472em;
  padding-left: 0.6472em;
  vertical-align: middle;
  border-radius: 99px;
  white-space: nowrap;
}
.modal {
  display: none;
  max-width: none;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  position: fixed;
  bottom: 0;
  justify-content: center;
  flex: 0 1 auto;
  flex-direction: column;
  height: 100vh;
}
.modal > * {
  flex-direction: column;
  color: #152929;
  position: relative;
  background: #f7ffff;
  padding: 1.62rem;
  margin-bottom: 3.24rem;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(41, 21, 21, 0.16);
  margin: 1.62rem;
}
@media screen and (min-width: 36.24rem) {
  .modal > * {
    max-width: 53rem;
    margin: 0 auto;
  }
}
.overlay {
  margin: 0;
  padding: 0;
  position: relative;
}
.overlay .top,
.overlay .bottom,
.overlay .left,
.overlay .right {
  position: absolute;
}
.overlay .top {
  top: 0.3236em;
}
.overlay .bottom {
  bottom: 0.3236em;
}
.overlay .left {
  left: 0.3236em;
}
.overlay .right {
  right: 0.3236em;
}
.overlay.stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.overlay * {
  margin: 0;
  display: block;
}
.grid,
.two-column,
.three-column {
  display: grid;
  grid-gap: 1.62rem;
}
.grid.tablet,
.two-column.tablet,
.three-column.tablet,
.grid.mobile.tablet,
.two-column.mobile.tablet,
.three-column.mobile.tablet,
.grid.desktop,
.two-column.desktop,
.three-column.desktop {
  display: initial;
}
.grid {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.two-column {
  grid-template-columns: 1fr 1fr;
}
.two-column.golden {
  grid-template-columns: 1.618fr 1fr;
}
.two-column.golden.reverse {
  grid-template-columns: 1fr 1.618fr;
}
.three-column {
  grid-template-columns: 1fr 1fr 1fr;
}
.three-column.golden {
  grid-template-columns: 1fr 1.618fr 1fr;
}
.three-column.golden.leading {
  grid-template-columns: 1.618fr 1fr 1fr;
}
.three-column.golden.trailing {
  grid-template-columns: 1fr 1fr 1.618fr;
}
.grid .grid-width-one {
  grid-column: auto / span 1;
}
.grid .grid-width-two {
  grid-column: auto / span 2;
}
.grid .grid-width-three {
  grid-column: auto / span 3;
}
.grid .grid-width-four {
  grid-column: auto / span 4;
}
.grid .grid-width-five {
  grid-column: auto / span 5;
}
.grid .grid-width-six {
  grid-column: auto / span 6;
}
.grid .grid-width-seven {
  grid-column: auto / span 7;
}
.grid .grid-width-eight {
  grid-column: auto / span 8;
}
.grid .grid-width-nine {
  grid-column: auto / span 9;
}
.grid .grid-width-ten {
  grid-column: auto / span 10;
}
.grid .grid-width-eleven {
  grid-column: auto / span 11;
}
.grid .grid-width-twelve {
  grid-column: auto / span 12;
}
@media screen and (max-width: calc(36.24rem - 1px)) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: grid;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 36.24rem) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: initial;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: initial;
  }
  .grid.tablet,
  .two-column.tablet,
  .three-column.tablet {
    display: grid;
  }
  .grid.tablet > *,
  .two-column.tablet > *,
  .three-column.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (max-width: calc(53rem - 1px)) {
  .grid.mobile.tablet,
  .two-column.mobile.tablet,
  .three-column.mobile.tablet {
    display: grid;
  }
  .grid.mobile.tablet > *,
  .two-column.mobile.tablet > *,
  .three-column.mobile.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 53rem) {
  .grid.desktop,
  .two-column.desktop,
  .three-column.desktop {
    display: grid;
  }
  .grid.desktop > *,
  .two-column.desktop > *,
  .three-column.desktop > * {
    margin-bottom: 0;
  }
}
.responsive {
  column-gap: 0.619rem;
  grid-gap: 0.619rem;
}
.responsive.padding,
.modal,
.container {
  padding: 0.619rem;
}
.responsive.margin,
.container {
  margin: 0.619rem;
}
.responsive.gutter {
  margin: 1.238rem;
}
@media screen and (min-width: 36.24rem) {
  .responsive {
    column-gap: 1.001rem;
    grid-gap: 1.001rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.001rem;
  }
  .responsive.margin,
  .container {
    margin: 1.001rem;
  }
  .responsive.gutter {
    margin: 2.002rem;
  }
}
@media screen and (min-width: 53rem) {
  .responsive {
    column-gap: 1.62rem;
    grid-gap: 1.62rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.62rem;
  }
  .responsive.margin,
  .container {
    margin: 1.62rem;
  }
  .responsive.gutter {
    margin: 3.24rem;
  }
}
.background {
  background: #f7ffff;
}
.background-color {
  background-color: #f7ffff;
}
.border {
  border: 1px solid #90d6b9;
}
.border-radius,
.rounded {
  border-radius: 0.5em;
}
.border-bottom {
  border-bottom: 1px solid #90d6b9;
}
.border-left {
  border-left: 1px solid #90d6b9;
}
.border-right {
  border-right: 1px solid #90d6b9;
}
.border-style,
.button.border,
button.border {
  border-style: solid;
}
.border-top {
  border-top: 1px solid #90d6b9;
}
.border-width,
.button.border,
button.border {
  border-width: 1px;
}
.max-width {
  max-width: 53rem;
}
.min-width {
  min-width: 20rem;
}
.align-content {
  align-content: stretch;
}
.align-items {
  align-items: stretch;
}
.align-self {
  align-self: auto;
}
.flex,
.vertical-center,
.center-vertical {
  flex: 0 1 auto;
}
.flex-basis {
  flex-basis: auto;
}
.flex-direction,
.vertical-center,
.center-vertical {
  flex-direction: column;
}
.flex-flow {
  flex-flow: column nowrap;
}
.flex-grow {
  flex-grow: 0;
}
.flex-shrink {
  flex-shrink: 1;
}
.flex-wrap {
  flex-wrap: nowrap;
}
.justify-content,
.vertical-center,
.center-vertical {
  justify-content: center;
}
.font-family {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.font-size {
  font-size: 19px;
}
.font-weight {
  font-weight: normal;
}
.list-style {
  list-style: disc inside none;
}
.list-style-type {
  list-style-type: disc;
}
.margin {
  margin: 1.62rem;
}
.margin-bottom {
  margin-bottom: 1.62rem;
}
.margin-left {
  margin-left: 1.62rem;
}
.margin-right {
  margin-right: 1.62rem;
}
.margin-top {
  margin-top: 1.62rem;
}
.column-gap {
  column-gap: 1.94em;
}
.column-rule {
  column-rule: 1px solid #90d6b9;
}
.padding {
  padding: 1.62rem;
}
.padding-bottom {
  padding-bottom: 1.62rem;
}
.padding-left {
  padding-left: 1.62rem;
}
.padding-right {
  padding-right: 1.62rem;
}
.padding-top {
  padding-top: 1.62rem;
}
.text-align {
  text-align: left;
}
.text-align-last {
  text-align-last: left;
}
.text-indent {
  text-indent: 2ch;
}
.text-justify {
  text-justify: justify;
}
.text-overflow {
  text-overflow: hidden;
}
.text-shadow {
  text-shadow: 1.41px 1.41px 1.41px rgba(41, 21, 21, 0.16);
}
.line-height {
  line-height: 1.8;
}
.vertical-align {
  vertical-align: middle;
}
.letter-spacing {
  letter-spacing: 0;
}
.word-spacing {
  word-spacing: normal;
}
.white-space {
  white-space: nowrap;
}
.word-break {
  word-break: break-all;
}
.word-wrap {
  word-wrap: break-word;
}
.transform {
  transform: none;
}
.transition {
  transition: all 0s ease 0s;
}
.display {
  display: block;
}
.position {
  position: absolute;
}
.top {
  top: 0;
}
.right {
  right: 0;
}
.bottom {
  bottom: 0;
}
.left {
  left: 0;
}
.float {
  float: left;
}
.clear {
  clear: both;
}
.z-index {
  z-index: 10;
}
.overflow {
  overflow: hidden;
}
.overflow-x {
  overflow-x: hidden;
}
.cursor {
  cursor: pointer;
}
.box-shadow {
  box-shadow: 1.41px 1.41px 1.41px rgba(41, 21, 21, 0.16);
}
.gutter {
  margin: 3.24rem;
}
.gutter-top {
  margin-top: 3.24rem;
}
.gutter-right {
  margin-right: 3.24rem;
}
.gutter-bottom {
  margin-bottom: 3.24rem;
}
.gutter-left {
  margin-left: 3.24rem;
}
.text-padding {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-padding-top {
  padding-top: 0.18em;
}
.text-padding-right {
  padding-right: 0.3236em;
}
.text-padding-bottom {
  padding-bottom: 0.22em;
}
.text-padding-left {
  padding-left: 0.3236em;
}
.text-margin {
  margin: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-margin-top {
  margin-top: 0.18em;
}
.text-margin-right {
  margin-right: 0.3236em;
}
.text-margin-bottom {
  margin-bottom: 0.22em;
}
.text-margin-left {
  margin-left: 0.3236em;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.initial {
  display: initial;
}
.table {
  display: table;
}
.flex,
.vertical-center,
.center-vertical {
  display: flex;
}
.inline-block {
  display: inline-block;
}
.static {
  position: static;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.margin-auto,
.container {
  margin-left: auto;
  margin-right: auto;
}
.width-auto {
  width: auto;
}
.inset {
  box-shadow: inset 1.41px 1.41px 1.41px rgba(41, 21, 21, 0.16);
}
.viewport-height {
  height: 100vh;
}
.min-viewport-height {
  min-height: 100vh;
}
.overflow-hidden {
  overflow: hidden;
}
.dashed {
  border-style: dashed;
}
.dotted {
  border-style: dotted;
}
.thick {
  border-width: 2px;
}
.thin {
  border-width: 0.5px;
}
.current-color {
  border-color: currentColor;
}
.fade {
  opacity: 0.65;
}
.serif,
.font-family-serif {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "Droid Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
.monospace,
.font-family-monospace {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
}
.sans-serif,
.font-family-sans-serif {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.text-transparent {
  color: transparent;
}
.reset {
  all: initial;
}
.big {
  font-size: 125%;
  line-height: 2.25;
}
.big.font-size {
  font-size: 23.75px;
}
.small,
.badge {
  font-size: 87.5%;
  line-height: 1.575;
}
.small.font-size {
  font-size: 16.625px;
}
.huge {
  font-size: 160%;
}
.huge.font-size {
  font-size: 30.4px;
}
.text-trim {
  line-height: 1;
}
.text-align-center,
.text-center {
  text-align: center;
}
.text-align-left,
.text-left {
  text-align: left;
}
.text-align-right,
.text-right {
  text-align: right;
}
.text-align-justify,
.text-justify {
  text-align: justify;
}
.grid-gap-margin {
  grid-gap: 1.62rem;
}
.grid-gap-border-width {
  grid-gap: 1px;
}
.grid-gap-text-padding,
.grid-gap-text-margin {
  grid-gap: 0.3236em;
}
.shade,
.white,
.light.red,
.orange,
.yellow,
.olive,
.green,
.teal,
.cyan,
.skyblue,
.violet,
.gray,
.magenta,
.lavender,
.cream,
.clover,
.light.cobalt,
.pewter,
.hotpink,
.neongreen,
.electricblue,
.lemon,
.lime,
.tangerine,
.light.grapefruit,
.reaction,
.default,
body,
input,
textarea,
.info,
.warning,
.success,
.light.failure {
  color: #152929;
}
.tint,
.black,
.red,
.dark.olive,
.dark.green,
.dark.teal,
.blue,
.indigo,
.purple,
.dark.gray,
.brown,
.charcoal,
.crimson,
.cobalt,
.graphite,
.ruby,
.onyx,
.gunmetal,
.dark.hotpink,
.royalpurple,
.grapefruit,
.dark.success,
.failure {
  color: #f7ffff;
}
.transparent {
  background-color: transparent;
  color: inherit;
  border-color: inherit;
}
.transparent.light {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23FFF%22%20fill-opacity%3D%220.16%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.transparent.dark,
.modal {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23000%22%20fill-opacity%3D%220.25%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.trim,
.trim-inner *,
.trim-all,
.trim-all * {
  margin-bottom: 0;
}
.hidden {
  display: none !important;
}
.clearfix,
.clear {
  clear: both;
}
.clearfix::after,
.clear::after {
  display: block;
  clear: both;
  content: "";
}
.golden-width {
  max-width: calc(62% - 3.24rem);
}
.golden-width.reverse {
  max-width: 38%;
}
.aside-width {
  max-width: 20rem;
}
@media screen and (min-width: 36.24rem) {
  .text-width {
    max-width: 33rem;
  }
}
.page-width,
.container {
  max-width: 53rem;
}
.full-width,
.aside-width .aside-width,
.text-width .text-width,
.page-width .page-width {
  display: block;
  width: 100%;
}
.inner-aside-width {
  padding-left: calc(50% - 10rem);
  padding-right: calc(50% - 10rem);
}
.inner-aside-width.padding {
  padding-left: calc(50% - 8.38rem);
  padding-right: calc(50% - 8.38rem);
}
.inner-aside-width.responsive.padding {
  padding-left: calc(50% - 9.38rem);
  padding-right: calc(50% - 9.38rem);
}
.inner-text-width {
  padding-left: calc(50% - 16.5rem);
  padding-right: calc(50% - 16.5rem);
}
.inner-text-width.padding {
  padding-left: calc(50% - 14.88rem);
  padding-right: calc(50% - 14.88rem);
}
.inner-text-width.responsive.padding {
  padding-left: calc(50% - 15.88rem);
  padding-right: calc(50% - 15.88rem);
}
.inner-page-width {
  padding-left: calc(50% - 26.5rem);
  padding-right: calc(50% - 26.5rem);
}
.inner-page-width.padding {
  padding-left: calc(50% - 24.88rem);
  padding-right: calc(50% - 24.88rem);
}
.inner-page-width.responsive.padding {
  padding-left: calc(50% - 25.88rem);
  padding-right: calc(50% - 25.88rem);
}
@media screen and (max-width: calc(36.24rem - 1px)) {
  .inner-text-width {
    padding-left: initial;
    padding-right: initial;
  }
  .inner-text-width.padding {
    padding-left: 1.62rem;
    padding-right: 1.62rem;
  }
  .inner-text-width.responsive.padding {
    padding-left: 0.619rem;
    padding-right: 0.619rem;
  }
}
@media screen and (min-width: 36.24rem) {
  .inner-aside-width.tablet.padding {
    padding-left: calc(50% - 8.38rem);
    padding-right: calc(50% - 8.38rem);
  }
  .inner-aside-width.tablet.responsive.padding {
    padding-left: calc(50% - 9rem);
    padding-right: calc(50% - 9rem);
  }
  .inner-text-width.tablet.padding {
    padding-left: calc(50% - 14.88rem);
    padding-right: calc(50% - 14.88rem);
  }
  .inner-text-width.tablet.responsive.padding {
    padding-left: calc(50% - 15.5rem);
    padding-right: calc(50% - 15.5rem);
  }
  .inner-page-width.tablet.padding {
    padding-left: calc(50% - 24.88rem);
    padding-right: calc(50% - 24.88rem);
  }
  .inner-page-width.tablet.responsive.padding {
    padding-left: calc(50% - 25.5rem);
    padding-right: calc(50% - 25.5rem);
  }
}
@media screen and (min-width: 53rem) {
  .inner-aside-width.desktop.padding {
    padding-left: calc(50% - 8.38rem);
    padding-right: calc(50% - 8.38rem);
  }
  .inner-aside-width.desktop.responsive.padding {
    padding-left: calc(50% - 8.38rem);
    padding-right: calc(50% - 8.38rem);
  }
  .inner-text-width.desktop.padding {
    padding-left: calc(50% - 14.88rem);
    padding-right: calc(50% - 14.88rem);
  }
  .inner-text-width.desktop.responsive.padding {
    padding-left: calc(50% - 14.88rem);
    padding-right: calc(50% - 14.88rem);
  }
  .inner-page-width.desktop.padding {
    padding-left: calc(50% - 24.88rem);
    padding-right: calc(50% - 24.88rem);
  }
  .inner-page-width.desktop.responsive.padding {
    padding-left: calc(50% - 24.88rem);
    padding-right: calc(50% - 24.88rem);
  }
}
@media screen and (max-width: calc(53rem - 1px)) {
  .inner-page-width {
    padding-left: initial;
    padding-right: initial;
  }
  .inner-page-width.padding {
    padding-left: 1.62rem;
    padding-right: 1.62rem;
  }
  .inner-page-width.responsive.padding {
    padding-left: 0.619rem;
    padding-right: 0.619rem;
  }
}
.texture,
.pattern {
  background-position: top center;
}
.texture {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20viewBox%3D'0%200%203.175%201.588'%20height%3D'19'%20width%3D'38'%3E%3Cg%20fill%3D'%23152929'%20fill-opacity%3D'0.16'%3E%3Cpath%20d%3D'M1.317%201.194h-.92l.23-.399.23-.398.23.398zM2.312%201.194l-.23-.399-.23-.398h.92l-.23.398z'/%3E%3C/g%3E%3C/svg%3E");
}
.pattern {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20width%3D'80'%20height%3D'50'%20viewBox%3D'0%200%2021.167%2013.229'%3E%3Cpath%20opacity%3D'0.16'%20fill%3D'%23152929'%20d%3D'M0%200h10.583v13.229H0z'/%3E%3C/svg%3E");
}
.placeholder::before {
  content: " ";
  white-space: pre;
}
.placeholder::after {
  content: "";
}
.placeholder.image,
.placeholder.video,
.placeholder.avatar {
  position: relative;
}
.placeholder.image::before,
.placeholder.video::before,
.placeholder.avatar::before {
  position: absolute;
  top: calc(50% - 4rem);
  right: 0;
  bottom: 0;
  left: 0;
  display: inline-block;
  text-align: center;
  font-size: 4rem;
  vertical-align: middle;
}
.placeholder.image.small::before,
.placeholder.video.small::before,
.placeholder.avatar.small::before {
  top: calc(50% - 2rem);
  font-size: 2rem;
}
.placeholder.image.big::before,
.placeholder.video.big::before,
.placeholder.avatar.big::before {
  top: calc(50% - 6rem);
  font-size: 6rem;
}
.placeholder.image.huge::before,
.placeholder.video.huge::before,
.placeholder.avatar.huge::before {
  top: calc(50% - 8rem);
  font-size: 8rem;
}
.placeholder.image::after,
.placeholder.video::after,
.placeholder.avatar::after {
  display: block;
}
.placeholder.image::before {
  content: "\1f5bc";
}
.placeholder.image::after {
  padding-top: 75%;
}
.placeholder.video::before {
  content: "\25B6";
}
.placeholder.video::after {
  padding-top: 56.25%;
}
.placeholder.avatar::before {
  content: "\263B";
}
.placeholder.avatar::after {
  padding-top: 100%;
}
.placeholder.no-icon::before {
  content: "";
}
.hide {
  display: none;
}
.hide.tablet {
  display: initial;
}
.hide.desktop {
  display: initial;
}
@media screen and (max-width: calc(36.24rem - 1px)) {
  .hide.mobile {
    display: none;
  }
}
@media screen and (min-width: 36.24rem) {
  .hide.mobile {
    display: initial;
  }
  .hide.tablet {
    display: none;
  }
}
@media screen and (min-width: 53rem) {
  .hide.desktop {
    display: none;
  }
  .hide.mobile.tablet {
    display: initial;
  }
}
@media screen and (max-width: calc(53rem - 1px)) {
  .hide.mobile.tablet {
    display: none;
  }
}
body {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
  font-size: 19px;
  line-height: 1.8;
  margin: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
nav {
  z-index: 99;
}
nav a {
  text-decoration: none;
}
aside {
  margin: 0 auto;
  margin-bottom: 1.62rem;
  max-width: 20rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
  font-weight: bold;
  margin-top: 0.49443758em;
  margin-bottom: 0.74165637em;
  letter-spacing: -0.025em;
  color: inherit;
  line-height: 1.618;
}
h1 {
  font-size: 2.4em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1em;
}
p {
  margin-bottom: 1em;
}
p.gutter-bottom {
  margin-bottom: 1.618em;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: inherit;
  text-decoration: underline;
}
a.target-blank::after,
a.new-tab::after,
a.external-link::after {
  content: "\00A0\1F855";
}
form {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
  font-size: 19px;
  line-height: 1.8;
  border: 1px solid #90d6b9;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input:focus {
  box-shadow: 0 0 2px #86d6ef;
}
fieldset {
  border: none;
  outline: none;
}
ol {
  padding-left: 4ch;
  margin-bottom: 1.62rem;
}
ol li {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
ul {
  margin-left: 1.62rem;
  margin-bottom: 1.62rem;
}
li {
  margin-bottom: 0.44em;
}
kbd {
  color: #f7ffff;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  white-space: nowrap;
}
b {
  padding: 0.18em 0 0.22em 0;
}
pre {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
  overflow: hidden;
  border-radius: 0.5em;
  background: #3e4747;
  color: #f7ffff;
}
pre.white-space,
pre.word-break {
  white-space: pre-wrap;
}
pre > code {
  background: transparent;
  padding: 0;
}
code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
  color: #f7ffff;
  background-color: #374e6f;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
code.terminal::before {
  content: "$ ";
}
textarea {
  font-size: 19px;
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
  line-height: 1.8;
  border: 1px solid #90d6b9;
  border-radius: 0.5em;
  margin-bottom: 1.62rem;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
textarea:focus {
  box-shadow: 0 0 2px #86d6ef;
}
.white,
body,
input,
textarea {
  background-color: #f7ffff;
  border-color: #7d9090;
}
.black {
  background-color: #152929;
  border-color: #0a1414;
}
.ambient {
  color: #152929;
  background: #80fffe;
  border-color: #42908f;
}
.ambient.light {
  color: #152929;
  background: #a9fffe;
  border-color: #56908f;
}
.ambient.dark {
  color: #152929;
  background: #57fffe;
  border-color: #2d908f;
}
.red,
.failure {
  background-color: #ff4545;
  border-color: #902424;
}
.light.red,
.light.failure {
  background-color: #ff6e6d;
  border-color: #903838;
}
.dark.red,
.dark.failure {
  background-color: #ff1c1c;
  border-color: #901010;
}
.orange,
.warning {
  background-color: #ffb630;
  border-color: #906619;
}
.light.orange,
.light.warning {
  background-color: #ffc458;
  border-color: #906d2e;
}
.dark.orange,
.dark.warning {
  background-color: #ffa707;
  border-color: #905f05;
}
.yellow {
  background-color: #ffff37;
  border-color: #90901d;
}
.light.yellow {
  background-color: #ffff5f;
  border-color: #909031;
}
.dark.yellow {
  background-color: #ffff0e;
  border-color: #909008;
}
.olive {
  background-color: #a6b545;
  border-color: #5f6728;
}
.light.olive {
  background-color: #b6c260;
  border-color: #676e35;
}
.dark.olive {
  background-color: #8b9739;
  border-color: #515822;
}
.green,
.success {
  background-color: #19ad3e;
  border-color: #106525;
}
.light.green,
.light.success {
  background-color: #1fd04a;
  border-color: #13772b;
}
.dark.green,
.dark.success {
  background-color: #148931;
  border-color: #0d531e;
}
.teal {
  background-color: #22b5b4;
  border-color: #146868;
}
.light.teal {
  background-color: #28d7d7;
  border-color: #187a79;
}
.dark.teal {
  background-color: #1b9292;
  border-color: #115757;
}
.cyan {
  background-color: #11ffff;
  border-color: #0a9090;
}
.light.cyan {
  background-color: #3affff;
  border-color: #1e9090;
}
.dark.cyan {
  background-color: #00e7e7;
  border-color: #028484;
}
.skyblue,
.info {
  background-color: #86d6ef;
  border-color: #467786;
}
.light.skyblue,
.light.info {
  background-color: #aae2f3;
  border-color: #587d88;
}
.dark.skyblue,
.dark.info {
  background-color: #62caea;
  border-color: #347184;
}
.blue {
  background-color: #1137ff;
  border-color: #0a1f90;
}
.light.blue {
  background-color: #3a59ff;
  border-color: #1e3090;
}
.dark.blue {
  background-color: #0025e7;
  border-color: #021684;
}
.indigo {
  background-color: #663eae;
  border-color: #3b2464;
}
.light.indigo {
  background-color: #7b53c2;
  border-color: #452e6e;
}
.dark.indigo {
  background-color: #543390;
  border-color: #321f55;
}
.purple {
  background-color: #ba53c5;
  border-color: #692e6f;
}
.light.purple {
  background-color: #c672cf;
  border-color: #6f3e74;
}
.dark.purple {
  background-color: #a73db2;
  border-color: #602366;
}
.violet {
  background-color: #ee95f1;
  border-color: #864e87;
}
.light.violet {
  background-color: #f4b9f6;
  border-color: #88608a;
}
.dark.violet {
  background-color: #e971ec;
  border-color: #833c85;
}
.gray {
  background-color: #8b9999;
  border-color: #4d5756;
}
.light.gray {
  background-color: #a1acac;
  border-color: #586060;
}
.dark.gray {
  background-color: #758686;
  border-color: #424d4d;
}
.brown {
  background-color: #ab6b49;
  border-color: #623d2a;
}
.light.brown {
  background-color: #bb8062;
  border-color: #6a4836;
}
.dark.brown {
  background-color: #8e593d;
  border-color: #533424;
}
.magenta {
  background-color: #ff64ff;
  border-color: #8f3490;
}
.light.magenta {
  background-color: #ff8dff;
  border-color: #904890;
}
.dark.magenta {
  background-color: #fe3cff;
  border-color: #8f1f8f;
}
.lavender {
  background-color: #d5c9ed;
  border-color: #726984;
}
.light.lavender {
  background-color: #ede8f7;
  border-color: #7e7989;
}
.dark.lavender {
  background-color: #bdaae3;
  border-color: #665a7f;
}
.cream {
  background-color: #fafadb;
  border-color: #8b8c71;
}
.light.cream {
  background-color: #ffffff;
  border-color: #898888;
}
.dark.cream {
  background-color: #f5f5b7;
  border-color: #89895f;
}
.charcoal {
  background-color: #5e635a;
  border-color: #383b35;
}
.light.charcoal {
  background-color: #72786e;
  border-color: #42463f;
}
.dark.charcoal {
  background-color: #4a4d47;
  border-color: #2e302b;
}
.crimson {
  background-color: #c02f40;
  border-color: #6e1b25;
}
.light.crimson {
  background-color: #d24556;
  border-color: #772730;
}
.dark.crimson {
  background-color: #9f2735;
  border-color: #5d1720;
}
.clover {
  background-color: #55ca4f;
  border-color: #2f722c;
}
.light.clover {
  background-color: #73d36e;
  border-color: #3f773c;
}
.dark.clover {
  background-color: #3eb838;
  border-color: #246920;
}
.cobalt {
  background-color: #388fe1;
  border-color: #1f517f;
}
.light.cobalt {
  background-color: #5ba3e6;
  border-color: #315b82;
}
.dark.cobalt {
  background-color: #1f7bd1;
  border-color: #134777;
}
.graphite {
  background-color: #374e6f;
  border-color: #212f43;
}
.light.graphite {
  background-color: #44618a;
  border-color: #283951;
}
.dark.graphite {
  background-color: #293b54;
  border-color: #1a2636;
}
.ruby {
  background-color: #b42364;
  border-color: #68153a;
}
.light.ruby {
  background-color: #d62a77;
  border-color: #791944;
}
.dark.ruby {
  background-color: #921c51;
  border-color: #571231;
}
.onyx {
  background-color: #3e4747;
  border-color: #272e2e;
}
.light.onyx {
  background-color: #515d5d;
  border-color: #303938;
}
.dark.onyx {
  background-color: #2b3131;
  border-color: #1d2323;
}
.pewter {
  background-color: #bbc0a8;
  border-color: #676b5b;
}
.light.pewter {
  background-color: #cdd1bf;
  border-color: #717367;
}
.dark.pewter {
  background-color: #a9af90;
  border-color: #5e624f;
}
.gunmetal {
  background-color: #568494;
  border-color: #314c55;
}
.light.gunmetal {
  background-color: #6a99a8;
  border-color: #3b5660;
}
.dark.gunmetal {
  background-color: #476d7a;
  border-color: #2a4148;
}
.hotpink {
  background-color: #ff76ba;
  border-color: #903c66;
}
.light.hotpink {
  background-color: #ff9ecf;
  border-color: #905170;
}
.dark.hotpink {
  background-color: #ff4da6;
  border-color: #90285c;
}
.neongreen {
  background-color: #4aff39;
  border-color: #28901e;
}
.light.neongreen {
  background-color: #70ff62;
  border-color: #3b9032;
}
.dark.neongreen {
  background-color: #25ff10;
  border-color: #15900a;
}
.electricblue {
  background-color: #4fd3f7;
  border-color: #2a768b;
}
.light.electricblue {
  background-color: #76ddf9;
  border-color: #3d7b8c;
}
.dark.electricblue {
  background-color: #28c9f5;
  border-color: #16718a;
}
.royalpurple {
  background-color: #7e5bb5;
  border-color: #473367;
}
.light.royalpurple {
  background-color: #9577c2;
  border-color: #52416d;
}
.dark.royalpurple {
  background-color: #6a48a0;
  border-color: #3d295c;
}
.lemon {
  background-color: #fffd9e;
  border-color: #908f50;
}
.light.lemon {
  background-color: #fffec7;
  border-color: #908f65;
}
.dark.lemon {
  background-color: #fffd75;
  border-color: #908e3c;
}
.lime {
  background-color: #9ff6a5;
  border-color: #528a56;
}
.light.lime {
  background-color: #c4f9c8;
  border-color: #658c67;
}
.dark.lime {
  background-color: #7af282;
  border-color: #3f8845;
}
.tangerine {
  background-color: #ffb86a;
  border-color: #906537;
}
.light.tangerine {
  background-color: #ffcc93;
  border-color: #906f4b;
}
.dark.tangerine {
  background-color: #ffa542;
  border-color: #905c22;
}
.grapefruit {
  background-color: #e16377;
  border-color: #7f3541;
}
.light.grapefruit {
  background-color: #e88594;
  border-color: #824650;
}
.dark.grapefruit {
  background-color: #da4059;
  border-color: #7b2432;
}
.action,
.base-color {
  color: #152929;
  background: #59fae9;
  border-color: #2e8d83;
}
.action.light,
.base-color.light {
  color: #152929;
  background: #81fbee;
  border-color: #428d86;
}
.action.dark,
.base-color.dark {
  color: #152929;
  background: #31f9e4;
  border-color: #1b8c80;
}
.reaction {
  background-color: #fb8894;
  border-color: #8d464d;
}
.light.reaction {
  background-color: #fcb0b8;
  border-color: #8e5a5f;
}
.dark.reaction {
  background-color: #f96171;
  border-color: #8c323c;
}
.default {
  background-color: #90d6b9;
  border-color: #4d7866;
}
.light.default {
  background-color: #aee1cc;
  border-color: #5c7d6f;
}
.dark.default {
  background-color: #73cba6;
  border-color: #3e725d;
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-margin-right {
  margin-right: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.no-margin-left {
  margin-left: 0 !important;
}
.no-padding {
  padding: 0;
}
.no-margin,
.no-gutter {
  margin: 0;
}
.no-side-margin,
.no-side-margins {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.no-margins {
  margin: 0 !important;
}
.no-margins * {
  margin: 0 !important;
}
.no-box-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  box-shadow: unset;
}
.no-text-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  text-shadow: unset;
}
.no-border,
.no-borders,
.no-borders * {
  border-width: 0 !important;
}
.no-background {
  background: transparent;
}
.no-text-indent {
  text-indent: 0;
}
.no-text-align {
  text-align: initial;
}
.no-user-select {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.no-pointer-events {
  pointer-events: none;
}
.no-list-style {
  list-style-type: none;
  margin-left: 0;
}
.no-grid-gap,
.no-column-gap {
  grid-gap: 0;
  column-gap: 0;
}
@media print {
  html {
    font-size: 62.5%;
  }
  * {
    box-shadow: unset !important;
    border: unset !important;
  }
  nav {
    display: none !important;
  }
  .page-width,
  .text-width,
  .container {
    all: unset;
  }
  .inner-page-width,
  .inner-text-width,
  .inner-aside-width {
    all: unset;
  }
}
