/* This project uses Cavepaint! (MIT License) */
/* https://github.com/cavepaint/cavepaintCSS */
* {
  margin: 0 0 1.62rem 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}
.button,
button {
  border-style: solid;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(33, 32, 1, 0.16);
  display: inline;
  position: relative;
  font-family: inherit;
  font-size: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  color: inherit;
  background-color: inherit;
  border-color: #121027;
  border-width: 1px;
  line-height: 1.6;
  text-align: center;
  vertical-align: middle;
  outline: none;
  white-space: nowrap;
  text-decoration: none;
  touch-action: manipulation;
  cursor: pointer;
  transform: scale(1);
  transition: 0.08s linear;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.button:active,
button:active {
  transform: scale(0.99);
  box-shadow: unset;
}
.bar {
  position: relative;
  width: 100%;
  display: block;
  vertical-align: middle;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.bar > * {
  display: inline;
  margin-right: 0.3236em;
  margin-left: 0.3236em;
  margin-bottom: 0;
}
.card {
  position: relative;
  overflow: hidden;
  padding: 1.62rem;
  border: 1px solid #2e2762;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(33, 32, 1, 0.16);
}
.card > *:first-child {
  margin-top: 0;
}
.card > *:last-child {
  margin-bottom: 0;
}
.badge {
  border-radius: 0.5em;
  line-height: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  padding-right: 0.6472em;
  padding-left: 0.6472em;
  vertical-align: middle;
  border-radius: 99px;
  white-space: nowrap;
}
.modal {
  display: none;
  max-width: none;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  position: fixed;
  bottom: 0;
  justify-content: center;
  flex: 0 1 auto;
  flex-direction: column;
  height: 100vh;
}
.modal > * {
  flex-direction: column;
  color: #010221;
  position: relative;
  background: #f0f0fc;
  padding: 1.62rem;
  margin-bottom: 3.24rem;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(33, 32, 1, 0.16);
  margin: 1.62rem;
}
@media screen and (min-width: 37.24rem) {
  .modal > * {
    max-width: 55rem;
    margin: 0 auto;
  }
}
.overlay {
  margin: 0;
  padding: 0;
  position: relative;
}
.overlay .top,
.overlay .bottom,
.overlay .left,
.overlay .right {
  position: absolute;
}
.overlay .top {
  top: 0.3236em;
}
.overlay .bottom {
  bottom: 0.3236em;
}
.overlay .left {
  left: 0.3236em;
}
.overlay .right {
  right: 0.3236em;
}
.overlay.stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.overlay * {
  margin: 0;
  display: block;
}
.grid,
.two-column,
.three-column {
  display: grid;
  grid-gap: 1.62rem;
}
.grid.tablet,
.two-column.tablet,
.three-column.tablet,
.grid.mobile.tablet,
.two-column.mobile.tablet,
.three-column.mobile.tablet,
.grid.desktop,
.two-column.desktop,
.three-column.desktop {
  display: initial;
}
.grid {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.two-column {
  grid-template-columns: 1fr 1fr;
}
.two-column.golden {
  grid-template-columns: 1.618fr 1fr;
}
.two-column.golden.reverse {
  grid-template-columns: 1fr 1.618fr;
}
.three-column {
  grid-template-columns: 1fr 1fr 1fr;
}
.three-column.golden {
  grid-template-columns: 1fr 1.618fr 1fr;
}
.three-column.golden.leading {
  grid-template-columns: 1.618fr 1fr 1fr;
}
.three-column.golden.trailing {
  grid-template-columns: 1fr 1fr 1.618fr;
}
.grid .grid-width-one {
  grid-column: auto / span 1;
}
.grid .grid-width-two {
  grid-column: auto / span 2;
}
.grid .grid-width-three {
  grid-column: auto / span 3;
}
.grid .grid-width-four {
  grid-column: auto / span 4;
}
.grid .grid-width-five {
  grid-column: auto / span 5;
}
.grid .grid-width-six {
  grid-column: auto / span 6;
}
.grid .grid-width-seven {
  grid-column: auto / span 7;
}
.grid .grid-width-eight {
  grid-column: auto / span 8;
}
.grid .grid-width-nine {
  grid-column: auto / span 9;
}
.grid .grid-width-ten {
  grid-column: auto / span 10;
}
.grid .grid-width-eleven {
  grid-column: auto / span 11;
}
.grid .grid-width-twelve {
  grid-column: auto / span 12;
}
@media screen and (max-width: calc(37.24rem - 1px)) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: grid;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 37.24rem) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: initial;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: initial;
  }
  .grid.tablet,
  .two-column.tablet,
  .three-column.tablet {
    display: grid;
  }
  .grid.tablet > *,
  .two-column.tablet > *,
  .three-column.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (max-width: calc(55rem - 1px)) {
  .grid.mobile.tablet,
  .two-column.mobile.tablet,
  .three-column.mobile.tablet {
    display: grid;
  }
  .grid.mobile.tablet > *,
  .two-column.mobile.tablet > *,
  .three-column.mobile.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 55rem) {
  .grid.desktop,
  .two-column.desktop,
  .three-column.desktop {
    display: grid;
  }
  .grid.desktop > *,
  .two-column.desktop > *,
  .three-column.desktop > * {
    margin-bottom: 0;
  }
}
.responsive {
  column-gap: 0.619rem;
  grid-gap: 0.619rem;
}
.responsive.padding,
.modal,
.container {
  padding: 0.619rem;
}
.responsive.margin,
.container {
  margin: 0.619rem;
}
.responsive.gutter {
  margin: 1.238rem;
}
@media screen and (min-width: 37.24rem) {
  .responsive {
    column-gap: 1.001rem;
    grid-gap: 1.001rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.001rem;
  }
  .responsive.margin,
  .container {
    margin: 1.001rem;
  }
  .responsive.gutter {
    margin: 2.002rem;
  }
}
@media screen and (min-width: 55rem) {
  .responsive {
    column-gap: 1.62rem;
    grid-gap: 1.62rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.62rem;
  }
  .responsive.margin,
  .container {
    margin: 1.62rem;
  }
  .responsive.gutter {
    margin: 3.24rem;
  }
}
.background {
  background: #f0f0fc;
}
.background-color {
  background-color: #f0f0fc;
}
.border {
  border: 1px solid #2e2762;
}
.border-radius,
.rounded {
  border-radius: 0.5em;
}
.border-bottom {
  border-bottom: 1px solid #2e2762;
}
.border-left {
  border-left: 1px solid #2e2762;
}
.border-right {
  border-right: 1px solid #2e2762;
}
.border-style,
.button.border,
button.border {
  border-style: solid;
}
.border-top {
  border-top: 1px solid #2e2762;
}
.border-width,
.button.border,
button.border {
  border-width: 1px;
}
.max-width {
  max-width: 55rem;
}
.min-width {
  min-width: 21rem;
}
.align-content {
  align-content: stretch;
}
.align-items {
  align-items: stretch;
}
.align-self {
  align-self: auto;
}
.flex,
.vertical-center,
.center-vertical {
  flex: 0 1 auto;
}
.flex-basis {
  flex-basis: auto;
}
.flex-direction,
.vertical-center,
.center-vertical {
  flex-direction: column;
}
.flex-flow {
  flex-flow: column nowrap;
}
.flex-grow {
  flex-grow: 0;
}
.flex-shrink {
  flex-shrink: 1;
}
.flex-wrap {
  flex-wrap: nowrap;
}
.justify-content,
.vertical-center,
.center-vertical {
  justify-content: center;
}
.font-family {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
}
.font-size {
  font-size: 20px;
}
.font-weight {
  font-weight: normal;
}
.list-style {
  list-style: disc inside none;
}
.list-style-type {
  list-style-type: disc;
}
.margin {
  margin: 1.62rem;
}
.margin-bottom {
  margin-bottom: 1.62rem;
}
.margin-left {
  margin-left: 1.62rem;
}
.margin-right {
  margin-right: 1.62rem;
}
.margin-top {
  margin-top: 1.62rem;
}
.column-gap {
  column-gap: 1.94em;
}
.column-rule {
  column-rule: 1px solid #2e2762;
}
.padding {
  padding: 1.62rem;
}
.padding-bottom {
  padding-bottom: 1.62rem;
}
.padding-left {
  padding-left: 1.62rem;
}
.padding-right {
  padding-right: 1.62rem;
}
.padding-top {
  padding-top: 1.62rem;
}
.text-align {
  text-align: left;
}
.text-align-last {
  text-align-last: left;
}
.text-indent {
  text-indent: 2ch;
}
.text-justify {
  text-justify: justify;
}
.text-overflow {
  text-overflow: hidden;
}
.text-shadow {
  text-shadow: 1.41px 1.41px 1.41px rgba(33, 32, 1, 0.16);
}
.line-height {
  line-height: 1.8;
}
.vertical-align {
  vertical-align: middle;
}
.letter-spacing {
  letter-spacing: 0;
}
.word-spacing {
  word-spacing: normal;
}
.white-space {
  white-space: nowrap;
}
.word-break {
  word-break: break-all;
}
.word-wrap {
  word-wrap: break-word;
}
.transform {
  transform: none;
}
.transition {
  transition: all 0s ease 0s;
}
.display {
  display: block;
}
.position {
  position: absolute;
}
.top {
  top: 0;
}
.right {
  right: 0;
}
.bottom {
  bottom: 0;
}
.left {
  left: 0;
}
.float {
  float: left;
}
.clear {
  clear: both;
}
.z-index {
  z-index: 10;
}
.overflow {
  overflow: hidden;
}
.overflow-x {
  overflow-x: hidden;
}
.cursor {
  cursor: pointer;
}
.box-shadow {
  box-shadow: 1.41px 1.41px 1.41px rgba(33, 32, 1, 0.16);
}
.gutter {
  margin: 3.24rem;
}
.gutter-top {
  margin-top: 3.24rem;
}
.gutter-right {
  margin-right: 3.24rem;
}
.gutter-bottom {
  margin-bottom: 3.24rem;
}
.gutter-left {
  margin-left: 3.24rem;
}
.text-padding {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-padding-top {
  padding-top: 0.18em;
}
.text-padding-right {
  padding-right: 0.3236em;
}
.text-padding-bottom {
  padding-bottom: 0.22em;
}
.text-padding-left {
  padding-left: 0.3236em;
}
.text-margin {
  margin: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-margin-top {
  margin-top: 0.18em;
}
.text-margin-right {
  margin-right: 0.3236em;
}
.text-margin-bottom {
  margin-bottom: 0.22em;
}
.text-margin-left {
  margin-left: 0.3236em;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.initial {
  display: initial;
}
.table {
  display: table;
}
.flex,
.vertical-center,
.center-vertical {
  display: flex;
}
.inline-block {
  display: inline-block;
}
.static {
  position: static;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.margin-auto,
.container {
  margin-left: auto;
  margin-right: auto;
}
.width-auto {
  width: auto;
}
.inset {
  box-shadow: inset 1.41px 1.41px 1.41px rgba(33, 32, 1, 0.16);
}
.viewport-height {
  height: 100vh;
}
.min-viewport-height {
  min-height: 100vh;
}
.overflow-hidden {
  overflow: hidden;
}
.dashed {
  border-style: dashed;
}
.dotted {
  border-style: dotted;
}
.thick {
  border-width: 2px;
}
.thin {
  border-width: 0.5px;
}
.current-color {
  border-color: currentColor;
}
.fade {
  opacity: 0.65;
}
.serif,
.font-family-serif {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "Droid Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
.monospace,
.font-family-monospace {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
}
.sans-serif,
.font-family-sans-serif {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.text-transparent {
  color: transparent;
}
.reset {
  all: initial;
}
.big {
  font-size: 125%;
  line-height: 2.25;
}
.big.font-size {
  font-size: 25px;
}
.small,
.badge {
  font-size: 87.5%;
  line-height: 1.575;
}
.small.font-size {
  font-size: 17.5px;
}
.huge {
  font-size: 160%;
}
.huge.font-size {
  font-size: 32px;
}
.text-trim {
  line-height: 1;
}
.text-align-center,
.text-center {
  text-align: center;
}
.text-align-left,
.text-left {
  text-align: left;
}
.text-align-right,
.text-right {
  text-align: right;
}
.text-align-justify,
.text-justify {
  text-align: justify;
}
.grid-gap-margin {
  grid-gap: 1.62rem;
}
.grid-gap-border-width {
  grid-gap: 1px;
}
.grid-gap-text-padding,
.grid-gap-text-margin {
  grid-gap: 0.3236em;
}
.shade,
.white,
.orange,
.yellow,
.cyan,
.skyblue,
.light.violet,
.lavender,
.cream,
.light.clover,
.light.pewter,
.light.hotpink,
.neongreen,
.electricblue,
.lemon,
.lime,
.tangerine,
body,
input,
textarea,
.info,
.warning {
  color: #010221;
}
.tint,
.black,
.red,
.dark.orange,
.olive,
.green,
.teal,
.dark.cyan,
.dark.skyblue,
.blue,
.indigo,
.purple,
.violet,
.gray,
.brown,
.magenta,
.charcoal,
.crimson,
.clover,
.cobalt,
.graphite,
.ruby,
.onyx,
.pewter,
.gunmetal,
.hotpink,
.dark.electricblue,
.royalpurple,
.grapefruit,
.reaction,
.default,
.dark.info,
.dark.warning,
.success,
.failure {
  color: #f0f0fc;
}
.transparent {
  background-color: transparent;
  color: inherit;
  border-color: inherit;
}
.transparent.light {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23FFF%22%20fill-opacity%3D%220.16%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.transparent.dark,
.modal {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23000%22%20fill-opacity%3D%220.25%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.trim,
.trim-inner *,
.trim-all,
.trim-all * {
  margin-bottom: 0;
}
.hidden {
  display: none !important;
}
.clearfix,
.clear {
  clear: both;
}
.clearfix::after,
.clear::after {
  display: block;
  clear: both;
  content: "";
}
.golden-width {
  max-width: calc(62% - 3.24rem);
}
.golden-width.reverse {
  max-width: 38%;
}
.aside-width {
  max-width: 21rem;
}
@media screen and (min-width: 37.24rem) {
  .text-width {
    max-width: 34rem;
  }
}
.page-width,
.container {
  max-width: 55rem;
}
.full-width,
.aside-width .aside-width,
.text-width .text-width,
.page-width .page-width {
  display: block;
  width: 100%;
}
.inner-aside-width {
  padding-left: calc(50% - 10.5rem);
  padding-right: calc(50% - 10.5rem);
}
.inner-aside-width.padding {
  padding-left: calc(50% - 8.88rem);
  padding-right: calc(50% - 8.88rem);
}
.inner-aside-width.responsive.padding {
  padding-left: calc(50% - 9.88rem);
  padding-right: calc(50% - 9.88rem);
}
.inner-text-width {
  padding-left: calc(50% - 17rem);
  padding-right: calc(50% - 17rem);
}
.inner-text-width.padding {
  padding-left: calc(50% - 15.38rem);
  padding-right: calc(50% - 15.38rem);
}
.inner-text-width.responsive.padding {
  padding-left: calc(50% - 16.38rem);
  padding-right: calc(50% - 16.38rem);
}
.inner-page-width {
  padding-left: calc(50% - 27.5rem);
  padding-right: calc(50% - 27.5rem);
}
.inner-page-width.padding {
  padding-left: calc(50% - 25.88rem);
  padding-right: calc(50% - 25.88rem);
}
.inner-page-width.responsive.padding {
  padding-left: calc(50% - 26.88rem);
  padding-right: calc(50% - 26.88rem);
}
@media screen and (max-width: calc(37.24rem - 1px)) {
  .inner-text-width {
    padding-left: initial;
    padding-right: initial;
  }
  .inner-text-width.padding {
    padding-left: 1.62rem;
    padding-right: 1.62rem;
  }
  .inner-text-width.responsive.padding {
    padding-left: 0.619rem;
    padding-right: 0.619rem;
  }
}
@media screen and (min-width: 37.24rem) {
  .inner-aside-width.tablet.padding {
    padding-left: calc(50% - 8.88rem);
    padding-right: calc(50% - 8.88rem);
  }
  .inner-aside-width.tablet.responsive.padding {
    padding-left: calc(50% - 9.5rem);
    padding-right: calc(50% - 9.5rem);
  }
  .inner-text-width.tablet.padding {
    padding-left: calc(50% - 15.38rem);
    padding-right: calc(50% - 15.38rem);
  }
  .inner-text-width.tablet.responsive.padding {
    padding-left: calc(50% - 16rem);
    padding-right: calc(50% - 16rem);
  }
  .inner-page-width.tablet.padding {
    padding-left: calc(50% - 25.88rem);
    padding-right: calc(50% - 25.88rem);
  }
  .inner-page-width.tablet.responsive.padding {
    padding-left: calc(50% - 26.5rem);
    padding-right: calc(50% - 26.5rem);
  }
}
@media screen and (min-width: 55rem) {
  .inner-aside-width.desktop.padding {
    padding-left: calc(50% - 8.88rem);
    padding-right: calc(50% - 8.88rem);
  }
  .inner-aside-width.desktop.responsive.padding {
    padding-left: calc(50% - 8.88rem);
    padding-right: calc(50% - 8.88rem);
  }
  .inner-text-width.desktop.padding {
    padding-left: calc(50% - 15.38rem);
    padding-right: calc(50% - 15.38rem);
  }
  .inner-text-width.desktop.responsive.padding {
    padding-left: calc(50% - 15.38rem);
    padding-right: calc(50% - 15.38rem);
  }
  .inner-page-width.desktop.padding {
    padding-left: calc(50% - 25.88rem);
    padding-right: calc(50% - 25.88rem);
  }
  .inner-page-width.desktop.responsive.padding {
    padding-left: calc(50% - 25.88rem);
    padding-right: calc(50% - 25.88rem);
  }
}
@media screen and (max-width: calc(55rem - 1px)) {
  .inner-page-width {
    padding-left: initial;
    padding-right: initial;
  }
  .inner-page-width.padding {
    padding-left: 1.62rem;
    padding-right: 1.62rem;
  }
  .inner-page-width.responsive.padding {
    padding-left: 0.619rem;
    padding-right: 0.619rem;
  }
}
.texture,
.pattern {
  background-position: top center;
}
.texture {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20viewBox%3D'0%200%203.175%201.588'%20height%3D'20'%20width%3D'40'%3E%3Cg%20fill%3D'%23f0f0fc'%20fill-opacity%3D'0.16'%3E%3Cpath%20d%3D'M1.317%201.194h-.92l.23-.399.23-.398.23.398zM2.312%201.194l-.23-.399-.23-.398h.92l-.23.398z'/%3E%3C/g%3E%3C/svg%3E");
}
.pattern {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20width%3D'80'%20height%3D'50'%20viewBox%3D'0%200%2021.167%2013.229'%3E%3Cpath%20fill%3D'%23f0f0fc'%20opacity%3D'0.16'%20d%3D'M0%200h21.167v6.615H0z'/%3E%3C/svg%3E");
}
.placeholder::before {
  content: " ";
  white-space: pre;
}
.placeholder::after {
  content: "";
}
.placeholder.image,
.placeholder.video,
.placeholder.avatar {
  position: relative;
}
.placeholder.image::before,
.placeholder.video::before,
.placeholder.avatar::before {
  position: absolute;
  top: calc(50% - 4rem);
  right: 0;
  bottom: 0;
  left: 0;
  display: inline-block;
  text-align: center;
  font-size: 4rem;
  vertical-align: middle;
}
.placeholder.image.small::before,
.placeholder.video.small::before,
.placeholder.avatar.small::before {
  top: calc(50% - 2rem);
  font-size: 2rem;
}
.placeholder.image.big::before,
.placeholder.video.big::before,
.placeholder.avatar.big::before {
  top: calc(50% - 6rem);
  font-size: 6rem;
}
.placeholder.image.huge::before,
.placeholder.video.huge::before,
.placeholder.avatar.huge::before {
  top: calc(50% - 8rem);
  font-size: 8rem;
}
.placeholder.image::after,
.placeholder.video::after,
.placeholder.avatar::after {
  display: block;
}
.placeholder.image::before {
  content: "\1f5bc";
}
.placeholder.image::after {
  padding-top: 75%;
}
.placeholder.video::before {
  content: "\25B6";
}
.placeholder.video::after {
  padding-top: 56.25%;
}
.placeholder.avatar::before {
  content: "\263A";
}
.placeholder.avatar::after {
  padding-top: 100%;
}
.placeholder.no-icon::before {
  content: "";
}
.hide {
  display: none;
}
.hide.tablet {
  display: initial;
}
.hide.desktop {
  display: initial;
}
@media screen and (max-width: calc(37.24rem - 1px)) {
  .hide.mobile {
    display: none;
  }
}
@media screen and (min-width: 37.24rem) {
  .hide.mobile {
    display: initial;
  }
  .hide.tablet {
    display: none;
  }
}
@media screen and (min-width: 55rem) {
  .hide.desktop {
    display: none;
  }
  .hide.mobile.tablet {
    display: initial;
  }
}
@media screen and (max-width: calc(55rem - 1px)) {
  .hide.mobile.tablet {
    display: none;
  }
}
body {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
  font-size: 20px;
  line-height: 1.8;
  margin: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
nav {
  z-index: 99;
}
nav a {
  text-decoration: none;
}
aside {
  margin: 0 auto;
  margin-bottom: 1.62rem;
  max-width: 21rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
  font-weight: bold;
  margin-top: 0.49443758em;
  margin-bottom: 0.74165637em;
  letter-spacing: -0.025em;
  color: inherit;
  line-height: 1.618;
}
h1 {
  font-size: 2.4em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1em;
}
p {
  margin-bottom: 1em;
}
p.gutter-bottom {
  margin-bottom: 1.618em;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: inherit;
  text-decoration: underline;
}
a.target-blank::after,
a.new-tab::after,
a.external-link::after {
  content: "\00A0\1F855";
}
form {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
  font-size: 20px;
  line-height: 1.8;
  border: 1px solid #2e2762;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input:focus {
  box-shadow: 0 0 2px #659ed9;
}
fieldset {
  border: none;
  outline: none;
}
ol {
  padding-left: 4ch;
  margin-bottom: 1.62rem;
}
ol li {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
ul {
  margin-left: 1.62rem;
  margin-bottom: 1.62rem;
}
li {
  margin-bottom: 0.44em;
}
kbd {
  color: #f0f0fc;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  white-space: nowrap;
}
b {
  padding: 0.18em 0 0.22em 0;
}
pre {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
  overflow: hidden;
  border-radius: 0.5em;
  background: #302f39;
  color: #f0f0fc;
}
pre.white-space,
pre.word-break {
  white-space: pre-wrap;
}
pre > code {
  background: transparent;
  padding: 0;
}
code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
  color: #f0f0fc;
  background-color: #212954;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
code.terminal::before {
  content: "$ ";
}
textarea {
  font-size: 20px;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
  line-height: 1.8;
  border: 1px solid #2e2762;
  border-radius: 0.5em;
  margin-bottom: 1.62rem;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
textarea:focus {
  box-shadow: 0 0 2px #659ed9;
}
.white,
body,
input,
textarea {
  background-color: #f0f0fc;
  border-color: #797985;
}
.black {
  background-color: #010221;
  border-color: #010110;
}
.ambient {
  color: #f0f0fc;
  background: #070acb;
  border-color: #04056e;
}
.ambient.light {
  color: #f0f0fc;
  background: #090cf3;
  border-color: #050682;
}
.ambient.dark {
  color: #f0f0fc;
  background: #0608a4;
  border-color: #03045a;
}
.red,
.failure {
  background-color: #b10019;
  border-color: #61000e;
}
.light.red,
.light.failure {
  background-color: #da011f;
  border-color: #750011;
}
.dark.red,
.dark.failure {
  background-color: #880013;
  border-color: #4d000b;
}
.orange,
.warning {
  background-color: #cf8618;
  border-color: #6f480d;
}
.light.orange,
.light.warning {
  background-color: #e69b2a;
  border-color: #7b5316;
}
.dark.orange,
.dark.warning {
  background-color: #aa6f14;
  border-color: #5d3c0b;
}
.yellow {
  background-color: #c5c619;
  border-color: #6a6b0d;
}
.light.yellow {
  background-color: #e3e423;
  border-color: #797a12;
}
.dark.yellow {
  background-color: #a1a114;
  border-color: #58580b;
}
.olive {
  background-color: #626219;
  border-color: #38380e;
}
.light.olive {
  background-color: #828321;
  border-color: #484912;
}
.dark.olive {
  background-color: #424211;
  border-color: #28280a;
}
.green,
.success {
  background-color: #006519;
  border-color: #003b0e;
}
.light.green,
.light.success {
  background-color: #018e23;
  border-color: #004f13;
}
.dark.green,
.dark.success {
  background-color: #003c0f;
  border-color: #00270a;
}
.teal {
  background-color: #006281;
  border-color: #003849;
}
.light.teal {
  background-color: #0181a9;
  border-color: #00475d;
}
.dark.teal {
  background-color: #004358;
  border-color: #002835;
}
.cyan {
  background-color: #00b4eb;
  border-color: #00607e;
}
.light.cyan {
  background-color: #15c8ff;
  border-color: #0b6a88;
}
.dark.cyan {
  background-color: #0094c2;
  border-color: #00516a;
}
.skyblue,
.info {
  background-color: #659ed9;
  border-color: #345374;
}
.light.skyblue,
.light.info {
  background-color: #85b3e1;
  border-color: #445e78;
}
.dark.skyblue,
.dark.info {
  background-color: #448ad1;
  border-color: #234970;
}
.blue {
  background-color: #0000ea;
  border-color: #00007d;
}
.light.blue {
  background-color: #1414ff;
  border-color: #0a0a88;
}
.dark.blue {
  background-color: #0000c1;
  border-color: #000069;
}
.indigo {
  background-color: #3b0085;
  border-color: #21004b;
}
.light.indigo {
  background-color: #4d00ae;
  border-color: #2a005f;
}
.dark.indigo {
  background-color: #29005c;
  border-color: #180037;
}
.purple {
  background-color: #5d017b;
  border-color: #350046;
}
.light.purple {
  background-color: #7b01a4;
  border-color: #44015a;
}
.dark.purple {
  background-color: #3e0052;
  border-color: #250032;
}
.violet {
  background-color: #b761dc;
  border-color: #613275;
}
.light.violet {
  background-color: #c682e3;
  border-color: #694279;
}
.dark.violet {
  background-color: #a840d4;
  border-color: #5a2171;
}
.gray {
  background-color: #646281;
  border-color: #353446;
}
.light.gray {
  background-color: #777696;
  border-color: #3f3e51;
}
.dark.gray {
  background-color: #525169;
  border-color: #2c2b3a;
}
.brown {
  background-color: #894633;
  border-color: #4b261b;
}
.light.brown {
  background-color: #a7553e;
  border-color: #5a2e21;
}
.dark.brown {
  background-color: #6b3728;
  border-color: #3c1e16;
}
.magenta {
  background-color: #8e01c3;
  border-color: #4d006a;
}
.light.magenta {
  background-color: #ac01ec;
  border-color: #5c017e;
}
.dark.magenta {
  background-color: #71019b;
  border-color: #3f0056;
}
.lavender {
  background-color: #b5a9d8;
  border-color: #5e5773;
}
.light.lavender {
  background-color: #cec5e5;
  border-color: #6a6579;
}
.dark.lavender {
  background-color: #9d8dcc;
  border-color: #52496c;
}
.cream {
  background-color: #d3d4ce;
  border-color: #6f6f6a;
}
.light.cream {
  background-color: #e7e7e3;
  border-color: #797975;
}
.dark.cream {
  background-color: #c0c1b8;
  border-color: #65665f;
}
.charcoal {
  background-color: #3c293d;
  border-color: #241724;
}
.light.charcoal {
  background-color: #543a55;
  border-color: #302030;
}
.dark.charcoal {
  background-color: #241925;
  border-color: #180f18;
}
.crimson {
  background-color: #970926;
  border-color: #540515;
}
.light.crimson {
  background-color: #be0b2f;
  border-color: #67061a;
}
.dark.crimson {
  background-color: #71061c;
  border-color: #410410;
}
.clover {
  background-color: #30852a;
  border-color: #1a4917;
}
.light.clover {
  background-color: #3ba434;
  border-color: #20591c;
}
.dark.clover {
  background-color: #256621;
  border-color: #143a12;
}
.cobalt {
  background-color: #2167c6;
  border-color: #11376b;
}
.light.cobalt {
  background-color: #337bdd;
  border-color: #1a4176;
}
.dark.cobalt {
  background-color: #1b55a3;
  border-color: #0f2e59;
}
.graphite {
  background-color: #212954;
  border-color: #131731;
}
.light.graphite {
  background-color: #2d3771;
  border-color: #181e3f;
}
.dark.graphite {
  background-color: #161b37;
  border-color: #0d1022;
}
.ruby {
  background-color: #830048;
  border-color: #4a0029;
}
.light.ruby {
  background-color: #ac005e;
  border-color: #5e0034;
}
.dark.ruby {
  background-color: #5a0032;
  border-color: #36001d;
}
.onyx {
  background-color: #302f39;
  border-color: #1b1b22;
}
.light.onyx {
  background-color: #43424f;
  border-color: #25242d;
}
.dark.onyx {
  background-color: #1d1d23;
  border-color: #121117;
}
.pewter {
  background-color: #878784;
  border-color: #494945;
}
.light.pewter {
  background-color: #9b9b98;
  border-color: #53534f;
}
.dark.pewter {
  background-color: #72736f;
  border-color: #3e3f3b;
}
.gunmetal {
  background-color: #31426d;
  border-color: #1b243d;
}
.light.gunmetal {
  background-color: #3e5389;
  border-color: #212d4b;
}
.dark.gunmetal {
  background-color: #253151;
  border-color: #141c2f;
}
.hotpink {
  background-color: #cc4e9d;
  border-color: #6d2953;
}
.light.hotpink {
  background-color: #d56eae;
  border-color: #72395c;
}
.dark.hotpink {
  background-color: #bc3689;
  border-color: #651d4a;
}
.neongreen {
  background-color: #2dcd1b;
  border-color: #186e0e;
}
.light.neongreen {
  background-color: #40e32d;
  border-color: #217918;
}
.dark.neongreen {
  background-color: #25a916;
  border-color: #145c0c;
}
.electricblue {
  background-color: #2c99cb;
  border-color: #17526d;
}
.light.electricblue {
  background-color: #49abd7;
  border-color: #265b73;
}
.dark.electricblue {
  background-color: #2580a9;
  border-color: #14465c;
}
.royalpurple {
  background-color: #502787;
  border-color: #2c154b;
}
.light.royalpurple {
  background-color: #6230a7;
  border-color: #351a5b;
}
.dark.royalpurple {
  background-color: #3d1e68;
  border-color: #22113b;
}
.lemon {
  background-color: #e2e194;
  border-color: #78774c;
}
.light.lemon {
  background-color: #ebeab4;
  border-color: #7c7c5c;
}
.dark.lemon {
  background-color: #d9d874;
  border-color: #74733c;
}
.lime {
  background-color: #7abd91;
  border-color: #3f654c;
}
.light.lime {
  background-color: #95caa8;
  border-color: #4d6c57;
}
.dark.lime {
  background-color: #5eaf7b;
  border-color: #315e41;
}
.tangerine {
  background-color: #d79457;
  border-color: #734e2d;
}
.light.tangerine {
  background-color: #dfa978;
  border-color: #77593d;
}
.dark.tangerine {
  background-color: #cf7f36;
  border-color: #6f441d;
}
.grapefruit {
  background-color: #a22554;
  border-color: #58142e;
}
.light.grapefruit {
  background-color: #c32d66;
  border-color: #691836;
}
.dark.grapefruit {
  background-color: #811e43;
  border-color: #481025;
}
.action,
.base-color {
  color: #f0f0fc;
  background: #10138a;
  border-color: #090a4d;
}
.action.light,
.base-color.light {
  color: #f0f0fc;
  background: #1418af;
  border-color: #0b0d5f;
}
.action.dark,
.base-color.dark {
  color: #f0f0fc;
  background: #0c0e65;
  border-color: #07083b;
}
.reaction {
  background-color: #3f3e20;
  border-color: #262512;
}
.light.reaction {
  background-color: #5a592e;
  border-color: #343319;
}
.dark.reaction {
  background-color: #242412;
  border-color: #18180b;
}
.default {
  background-color: #2e2762;
  border-color: #191538;
}
.light.default {
  background-color: #3b337f;
  border-color: #201b46;
}
.dark.default {
  background-color: #201b45;
  border-color: #131029;
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-margin-right {
  margin-right: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.no-margin-left {
  margin-left: 0 !important;
}
.no-padding {
  padding: 0;
}
.no-margin,
.no-gutter {
  margin: 0;
}
.no-side-margin,
.no-side-margins {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.no-margins {
  margin: 0 !important;
}
.no-margins * {
  margin: 0 !important;
}
.no-box-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  box-shadow: unset;
}
.no-text-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  text-shadow: unset;
}
.no-border,
.no-borders,
.no-borders * {
  border-width: 0 !important;
}
.no-background {
  background: transparent;
}
.no-text-indent {
  text-indent: 0;
}
.no-text-align {
  text-align: initial;
}
.no-user-select {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.no-pointer-events {
  pointer-events: none;
}
.no-list-style {
  list-style-type: none;
  margin-left: 0;
}
.no-grid-gap,
.no-column-gap {
  grid-gap: 0;
  column-gap: 0;
}
@media print {
  html {
    font-size: 62.5%;
  }
  * {
    box-shadow: unset !important;
    border: unset !important;
  }
  nav {
    display: none !important;
  }
  .page-width,
  .text-width,
  .container {
    all: unset;
  }
  .inner-page-width,
  .inner-text-width,
  .inner-aside-width {
    all: unset;
  }
}
