/* This project uses Cavepaint (MIT License) by Rex Riepe */
/* https://github.com/cavepaint/cavepaintCSS */
* {
  margin: 0 0 1.62rem 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  margin-bottom: 0;
}
.button,
button {
  border-style: solid;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(41, 10, 25, 0.16);
  display: inline;
  position: relative;
  font-family: inherit;
  font-size: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  color: inherit;
  background-color: inherit;
  border-color: #338653;
  border-width: 1px;
  line-height: 1.6;
  text-align: center;
  vertical-align: middle;
  outline: none;
  white-space: nowrap;
  text-decoration: none;
  touch-action: manipulation;
  cursor: pointer;
  transform: scale(1);
  transition: 0.08s linear;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.button:active,
button:active {
  transform: scale(0.99);
  box-shadow: unset;
}
.bar {
  position: relative;
  width: 100%;
  display: block;
  vertical-align: middle;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.bar > * {
  display: inline;
  margin-right: 0.3236em;
  margin-left: 0.3236em;
  margin-bottom: 0;
}
.card {
  position: relative;
  overflow: hidden;
  padding: 1.62rem;
  border: 1px solid #4fbc78;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(41, 10, 25, 0.16);
}
.card > *:first-child {
  margin-top: 0;
}
.card > *:last-child {
  margin-bottom: 0;
}
.badge {
  border-radius: 0.5em;
  line-height: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  padding-right: 0.6472em;
  padding-left: 0.6472em;
  vertical-align: middle;
  border-radius: 99px;
  white-space: nowrap;
}
.modal {
  display: none;
  max-width: none;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  position: fixed;
  bottom: 0;
  justify-content: center;
  flex: 0 1 auto;
  flex-direction: column;
  height: 100vh;
}
.modal > * {
  flex-direction: column;
  color: #0a291a;
  position: relative;
  background: #f4fff9;
  padding: 1.62rem;
  margin-bottom: 3.24rem;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(41, 10, 25, 0.16);
  margin: 1.62rem;
}
@media screen and (min-width: 36.24rem) {
  .modal > * {
    max-width: 53rem;
    margin: 0 auto;
  }
}
.overlay {
  margin: 0;
  padding: 0;
  position: relative;
}
.overlay .top,
.overlay .bottom,
.overlay .left,
.overlay .right {
  position: absolute;
}
.overlay .top {
  top: 0.3236em;
}
.overlay .bottom {
  bottom: 0.3236em;
}
.overlay .left {
  left: 0.3236em;
}
.overlay .right {
  right: 0.3236em;
}
.overlay.stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.overlay * {
  margin: 0;
  display: block;
}
.grid,
.two-column,
.three-column {
  display: grid;
  grid-gap: 1.62rem;
}
.grid.tablet,
.two-column.tablet,
.three-column.tablet,
.grid.mobile.tablet,
.two-column.mobile.tablet,
.three-column.mobile.tablet,
.grid.desktop,
.two-column.desktop,
.three-column.desktop {
  display: initial;
}
.grid {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.two-column {
  grid-template-columns: 1fr 1fr;
}
.two-column.golden {
  grid-template-columns: 1.618fr 1fr;
}
.two-column.golden.reverse {
  grid-template-columns: 1fr 1.618fr;
}
.three-column {
  grid-template-columns: 1fr 1fr 1fr;
}
.three-column.golden {
  grid-template-columns: 1fr 1.618fr 1fr;
}
.three-column.golden.leading {
  grid-template-columns: 1.618fr 1fr 1fr;
}
.three-column.golden.trailing {
  grid-template-columns: 1fr 1fr 1.618fr;
}
.grid-width-one {
  grid-column: auto / span 1;
}
.grid-width-two {
  grid-column: auto / span 2;
}
.grid-width-three {
  grid-column: auto / span 3;
}
.grid-width-four {
  grid-column: auto / span 4;
}
.grid-width-five {
  grid-column: auto / span 5;
}
.grid-width-six {
  grid-column: auto / span 6;
}
.grid-width-seven {
  grid-column: auto / span 7;
}
.grid-width-eight {
  grid-column: auto / span 8;
}
.grid-width-nine {
  grid-column: auto / span 9;
}
.grid-width-ten {
  grid-column: auto / span 10;
}
.grid-width-eleven {
  grid-column: auto / span 11;
}
.grid-width-twelve {
  grid-column: auto / span 12;
}
@media screen and (max-width: calc(36.24rem - 1px)) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: grid;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 36.24rem) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: initial;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: initial;
  }
  .grid.tablet,
  .two-column.tablet,
  .three-column.tablet {
    display: grid;
  }
  .grid.tablet > *,
  .two-column.tablet > *,
  .three-column.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (max-width: calc(53rem - 1px)) {
  .grid.mobile.tablet,
  .two-column.mobile.tablet,
  .three-column.mobile.tablet {
    display: grid;
  }
  .grid.mobile.tablet > *,
  .two-column.mobile.tablet > *,
  .three-column.mobile.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 53rem) {
  .grid.desktop,
  .two-column.desktop,
  .three-column.desktop {
    display: grid;
  }
  .grid.desktop > *,
  .two-column.desktop > *,
  .three-column.desktop > * {
    margin-bottom: 0;
  }
}
.responsive {
  column-gap: 0.619rem;
  grid-gap: 0.619rem;
}
.responsive.padding,
.modal,
.container {
  padding: 0.619rem;
}
.responsive.margin,
.container {
  margin: 0.619rem;
}
.responsive.gutter {
  margin: 1.238rem;
}
@media screen and (min-width: 36.24rem) {
  .responsive {
    column-gap: 1.001rem;
    grid-gap: 1.001rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.001rem;
  }
  .responsive.margin,
  .container {
    margin: 1.001rem;
  }
  .responsive.gutter {
    margin: 2.002rem;
  }
}
@media screen and (min-width: 53rem) {
  .responsive {
    column-gap: 1.62rem;
    grid-gap: 1.62rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.62rem;
  }
  .responsive.margin,
  .container {
    margin: 1.62rem;
  }
  .responsive.gutter {
    margin: 3.24rem;
  }
}
.background {
  background: #f4fff9;
}
.background-color {
  background-color: #f4fff9;
}
.border {
  border: 1px solid #4fbc78;
}
.border-radius,
.rounded {
  border-radius: 0.5em;
}
.border-bottom {
  border-bottom: 1px solid #4fbc78;
}
.border-left {
  border-left: 1px solid #4fbc78;
}
.border-right {
  border-right: 1px solid #4fbc78;
}
.border-style,
.button.border,
button.border {
  border-style: solid;
}
.border-top {
  border-top: 1px solid #4fbc78;
}
.border-width,
.button.border,
button.border {
  border-width: 1px;
}
.max-width {
  max-width: 53rem;
}
.min-width {
  min-width: 20rem;
}
.align-content {
  align-content: stretch;
}
.align-items {
  align-items: stretch;
}
.align-self {
  align-self: auto;
}
.flex,
.vertical-center,
.center-vertical {
  flex: 0 1 auto;
}
.flex-basis {
  flex-basis: auto;
}
.flex-direction,
.vertical-center,
.center-vertical {
  flex-direction: column;
}
.flex-flow {
  flex-flow: column nowrap;
}
.flex-grow {
  flex-grow: 0;
}
.flex-shrink {
  flex-shrink: 1;
}
.flex-wrap {
  flex-wrap: nowrap;
}
.justify-content,
.vertical-center,
.center-vertical {
  justify-content: center;
}
.font-family,
body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "Droid Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
.font-size {
  font-size: 22px;
}
.font-weight {
  font-weight: normal;
}
.list-style {
  list-style: disc inside none;
}
.list-style-type {
  list-style-type: disc;
}
.margin {
  margin: 1.62rem;
}
.margin-bottom {
  margin-bottom: 1.62rem;
}
.margin-left {
  margin-left: 1.62rem;
}
.margin-right {
  margin-right: 1.62rem;
}
.margin-top {
  margin-top: 1.62rem;
}
.column-gap {
  column-gap: 1.94em;
}
.column-rule {
  column-rule: 1px solid #4fbc78;
}
.padding {
  padding: 1.62rem;
}
.padding-bottom {
  padding-bottom: 1.62rem;
}
.padding-left {
  padding-left: 1.62rem;
}
.padding-right {
  padding-right: 1.62rem;
}
.padding-top {
  padding-top: 1.62rem;
}
.text-align {
  text-align: left;
}
.text-align-last {
  text-align-last: left;
}
.text-indent {
  text-indent: 2ch;
}
.text-justify {
  text-justify: justify;
}
.text-overflow {
  text-overflow: hidden;
}
.text-shadow {
  text-shadow: 1.41px 1.41px 1.41px rgba(41, 10, 25, 0.16);
}
.line-height {
  line-height: 1.8;
}
.vertical-align {
  vertical-align: middle;
}
.letter-spacing {
  letter-spacing: 0;
}
.word-spacing {
  word-spacing: normal;
}
.white-space {
  white-space: nowrap;
}
.word-break {
  word-break: break-all;
}
.word-wrap {
  word-wrap: break-word;
}
.transform {
  transform: none;
}
.transition {
  transition: all 0s ease 0s;
}
.display {
  display: block;
}
.position {
  position: absolute;
}
.top {
  top: 0;
}
.right {
  right: 0;
}
.bottom {
  bottom: 0;
}
.left {
  left: 0;
}
.float {
  float: left;
}
.clear {
  clear: both;
}
.z-index {
  z-index: 10;
}
.overflow {
  overflow: hidden;
}
.overflow-x {
  overflow-x: hidden;
}
.cursor {
  cursor: pointer;
}
.box-shadow {
  box-shadow: 1.41px 1.41px 1.41px rgba(41, 10, 25, 0.16);
}
.gutter {
  margin: 3.24rem;
}
.gutter-top {
  margin-top: 3.24rem;
}
.gutter-right {
  margin-right: 3.24rem;
}
.gutter-bottom {
  margin-bottom: 3.24rem;
}
.gutter-left {
  margin-left: 3.24rem;
}
.text-padding {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-padding-top {
  padding-top: 0.18em;
}
.text-padding-right {
  padding-right: 0.3236em;
}
.text-padding-bottom {
  padding-bottom: 0.22em;
}
.text-padding-left {
  padding-left: 0.3236em;
}
.text-margin {
  margin: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-margin-top {
  margin-top: 0.18em;
}
.text-margin-right {
  margin-right: 0.3236em;
}
.text-margin-bottom {
  margin-bottom: 0.22em;
}
.text-margin-left {
  margin-left: 0.3236em;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.initial {
  display: initial;
}
.table {
  display: table;
}
.flex,
.vertical-center,
.center-vertical {
  display: flex;
}
.inline-block {
  display: inline-block;
}
.static {
  position: static;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.margin-auto,
.container {
  margin-left: auto;
  margin-right: auto;
}
.width-auto {
  width: auto;
}
.inset {
  box-shadow: inset 1.41px 1.41px 1.41px rgba(41, 10, 25, 0.16);
}
.viewport-height {
  height: 100vh;
}
.min-viewport-height {
  min-height: 100vh;
}
.overflow-hidden {
  overflow: hidden;
}
.dashed {
  border-style: dashed;
}
.dotted {
  border-style: dotted;
}
.thick {
  border-width: 2px;
}
.thin {
  border-width: 0.5px;
}
.current-color {
  border-color: currentColor;
}
.fade {
  opacity: 0.65;
}
.serif,
.font-family-serif {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "Droid Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
.monospace,
.font-family-monospace,
pre,
code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
}
.sans-serif,
.font-family-sans-serif {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.text-transparent {
  color: transparent;
}
.reset {
  all: initial;
}
.big {
  font-size: 125%;
  line-height: 2.25;
}
.big.font-size {
  font-size: 27.5px;
}
.small,
.badge {
  font-size: 87.5%;
  line-height: 1.575;
}
.small.font-size {
  font-size: 19.25px;
}
.huge {
  font-size: 160%;
}
.huge.font-size {
  font-size: 35.2px;
}
.text-trim {
  line-height: 1;
}
.text-align-center,
.text-center {
  text-align: center;
}
.text-align-left,
.text-left {
  text-align: left;
}
.text-align-right,
.text-right {
  text-align: right;
}
.text-align-justify,
.text-justify {
  text-align: justify;
}
.grid-gap-margin {
  grid-gap: 1.62rem;
}
.grid-gap-border-width {
  grid-gap: 1px;
}
.grid-gap-text-padding,
.grid-gap-text-margin {
  grid-gap: 0.3236em;
}
.shade,
.white,
.orange,
.yellow,
.olive,
.green,
.teal,
.cyan,
.skyblue,
.violet,
.light.gray,
.magenta,
.lavender,
.cream,
.clover,
.light.cobalt,
.pewter,
.hotpink,
.neongreen,
.electricblue,
.lemon,
.lime,
.tangerine,
.light.grapefruit,
.reaction,
.default,
.warm,
.light.cool,
.neutral,
.complement,
.accent,
.second.accent,
.second.split,
.triad,
.third.triad,
.tetrad,
.fourth.tetrad,
.highlight,
body,
input,
textarea,
.info,
.warning,
.success,
.second.triad {
  color: #0a291a;
}
.tint,
.black,
.red,
.dark.olive,
.dark.green,
.dark.teal,
.blue,
.indigo,
.purple,
.gray,
.brown,
.dark.magenta,
.charcoal,
.crimson,
.dark.clover,
.cobalt,
.graphite,
.ruby,
.onyx,
.gunmetal,
.dark.hotpink,
.royalpurple,
.grapefruit,
.dark.reaction,
.dark.default,
.dark.warm,
.cool,
.dark.neutral,
.split,
.second.tetrad,
.third.tetrad,
.dark.success,
.failure {
  color: #f4fff9;
}
.transparent {
  background-color: transparent;
  color: inherit;
  border-color: inherit;
}
.transparent.light {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23FFF%22%20fill-opacity%3D%220.16%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.transparent.dark,
.modal {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23000%22%20fill-opacity%3D%220.25%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.trim,
.trim-inner *,
.trim-all,
.trim-all * {
  margin-bottom: 0;
}
.hidden {
  display: none !important;
}
.clearfix,
.clear {
  clear: both;
}
.clearfix::after,
.clear::after {
  display: block;
  clear: both;
  content: "";
}
.golden-width {
  max-width: calc(62% - 3.24rem);
}
.golden-width.reverse {
  max-width: 38%;
}
.aside-width {
  max-width: 20rem;
}
@media screen and (min-width: 36.24rem) {
  .text-width {
    max-width: 33rem;
  }
}
.page-width,
.container {
  max-width: 53rem;
}
.full-width,
.aside-width .aside-width,
.text-width .text-width,
.page-width .page-width {
  display: block;
  width: 100%;
}
.inner-aside-width {
  padding-left: calc(50% - 10rem);
  padding-right: calc(50% - 10rem);
}
.inner-aside-width.padding {
  padding-left: calc(50% - 8.38rem);
  padding-right: calc(50% - 8.38rem);
}
.inner-aside-width.responsive.padding {
  padding-left: calc(50% - 9.38rem);
  padding-right: calc(50% - 9.38rem);
}
@media screen and (max-width: calc(36.24rem - 1px)) {
  .inner-text-width {
    padding-left: initial;
    padding-right: initial;
  }
  .inner-text-width.padding {
    padding-left: 1.62rem;
    padding-right: 1.62rem;
  }
  .inner-text-width.responsive.padding {
    padding-left: 0.619rem;
    padding-right: 0.619rem;
  }
}
@media screen and (min-width: 36.24rem) {
  .inner-aside-width.tablet.padding {
    padding-left: calc(50% - 8.38rem);
    padding-right: calc(50% - 8.38rem);
  }
  .inner-aside-width.tablet.responsive.padding {
    padding-left: calc(50% - 9rem);
    padding-right: calc(50% - 9rem);
  }
  .inner-text-width {
    padding-left: calc(50% - 16.5rem);
    padding-right: calc(50% - 16.5rem);
  }
  .inner-text-width.padding {
    padding-left: calc(50% - 14.88rem);
    padding-right: calc(50% - 14.88rem);
  }
  .inner-text-width.responsive.padding {
    padding-left: calc(50% - 15.5rem);
    padding-right: calc(50% - 15.5rem);
  }
}
@media screen and (min-width: 53rem) {
  .inner-aside-width.desktop.padding {
    padding-left: calc(50% - 8.38rem);
    padding-right: calc(50% - 8.38rem);
  }
  .inner-aside-width.desktop.responsive.padding {
    padding-left: calc(50% - 8.38rem);
    padding-right: calc(50% - 8.38rem);
  }
  .inner-text-width.desktop.padding {
    padding-left: calc(50% - 14.88rem);
    padding-right: calc(50% - 14.88rem);
  }
  .inner-text-width.desktop.responsive.padding {
    padding-left: calc(50% - 14.88rem);
    padding-right: calc(50% - 14.88rem);
  }
  .inner-page-width {
    padding-left: calc(50% - 26.5rem);
    padding-right: calc(50% - 26.5rem);
  }
  .inner-page-width.padding {
    padding-left: calc(50% - 24.88rem);
    padding-right: calc(50% - 24.88rem);
  }
  .inner-page-width.responsive.padding {
    padding-left: calc(50% - 24.88rem);
    padding-right: calc(50% - 24.88rem);
  }
}
.texture,
.pattern {
  background-position: top center;
}
.texture {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20width%3D'80'%20height%3D'48'%3E%3Cpath%20d%3D'M19%200v11H0v26h19v11h2V37h38v11h2V37h19V11H61V0h-2v11H21V0h-2zM1%2013h38v22H1V13zm40%200h38v22H41V13z'%20fill%3D'%23f4fff9'%20fill-opacity%3D'0.05'/%3E%3C/svg%3E");
}
.pattern {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20viewBox%3D'0%200%2052.917%2042.333'%20height%3D'160'%20width%3D'200'%3E%3Cpath%20d%3D'M28.07%2015.841a4.194%204.194%200%2000-3.804%202.422%202.936%202.936%200%2000-.824-.12%202.936%202.936%200%2000-2.926%202.729%201.68%201.68%200%2000-1.674%201.68%201.68%201.68%200%20001.68%201.677h11.74a2.517%202.517%200%20002.516-2.517%202.517%202.517%200%2000-2.517-2.517%202.517%202.517%200%2000-.082%200%204.194%204.194%200%2000-4.109-3.354z'%20fill%3D'%23f4fff9'%20fill-opacity%3D'0.05'/%3E%3C/svg%3E");
}
.placeholder::before {
  content: " ";
  white-space: pre;
}
.placeholder::after {
  content: "";
}
.placeholder.image,
.placeholder.video,
.placeholder.avatar {
  position: relative;
}
.placeholder.image::before,
.placeholder.video::before,
.placeholder.avatar::before {
  position: absolute;
  top: calc(50% - 4rem);
  right: 0;
  bottom: 0;
  left: 0;
  display: inline-block;
  text-align: center;
  font-size: 4rem;
  vertical-align: middle;
}
.placeholder.image.small::before,
.placeholder.video.small::before,
.placeholder.avatar.small::before {
  top: calc(50% - 2rem);
  font-size: 2rem;
}
.placeholder.image.big::before,
.placeholder.video.big::before,
.placeholder.avatar.big::before {
  top: calc(50% - 6rem);
  font-size: 6rem;
}
.placeholder.image.huge::before,
.placeholder.video.huge::before,
.placeholder.avatar.huge::before {
  top: calc(50% - 8rem);
  font-size: 8rem;
}
.placeholder.image::after,
.placeholder.video::after,
.placeholder.avatar::after {
  display: block;
}
.placeholder.image::before {
  content: "\1f5bc";
}
.placeholder.image::after {
  padding-top: 75%;
}
.placeholder.video::before {
  content: "\25B6";
}
.placeholder.video::after {
  padding-top: 56.25%;
}
.placeholder.avatar::before {
  content: "\263B";
}
.placeholder.avatar::after {
  padding-top: 100%;
}
.placeholder.no-icon::before {
  content: "";
}
.hide {
  display: none;
}
.hide.tablet {
  display: initial;
}
.hide.desktop {
  display: initial;
}
@media screen and (max-width: calc(36.24rem - 1px)) {
  .hide.mobile {
    display: none;
  }
}
@media screen and (min-width: 36.24rem) {
  .hide.mobile {
    display: initial;
  }
  .hide.tablet {
    display: none;
  }
}
@media screen and (min-width: 53rem) {
  .hide.desktop {
    display: none;
  }
  .hide.mobile.tablet {
    display: initial;
  }
}
@media screen and (max-width: calc(53rem - 1px)) {
  .hide.mobile.tablet {
    display: none;
  }
}
body {
  font-size: 22px;
  line-height: 1.8;
  margin: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
nav {
  z-index: 99;
}
nav a {
  text-decoration: none;
}
aside {
  margin: 0 auto;
  margin-bottom: 1.62rem;
  max-width: 20rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-top: 0.49443758em;
  margin-bottom: 0.74165637em;
  letter-spacing: -0.025em;
  color: inherit;
  line-height: 1.618;
}
h1 {
  font-size: 2.4em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1em;
}
p {
  margin-bottom: 1em;
}
p.gutter-bottom {
  margin-bottom: 1.618em;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: inherit;
  text-decoration: underline;
}
a.target-blank::after,
a.new-tab::after,
a.external-link::after {
  content: "\00A0\1F855";
}
form {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input {
  font-size: 22px;
  line-height: 1.8;
  border: 1px solid #4fbc78;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input:focus {
  box-shadow: 0 0 2px #76d4ec;
}
fieldset {
  border: none;
  outline: none;
}
ol {
  padding-left: 4ch;
  margin-bottom: 1.62rem;
}
ol li {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
ul {
  margin-left: 1.62rem;
  margin-bottom: 1.62rem;
}
li {
  margin-bottom: 0.44em;
}
kbd {
  color: #f4fff9;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  white-space: nowrap;
}
b {
  padding: 0.18em 0 0.22em 0;
}
pre {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  overflow: hidden;
  border-radius: 0.5em;
  background: #3b453d;
  color: #f4fff9;
}
pre.white-space,
pre.word-break {
  white-space: pre-wrap;
}
pre > code {
  background: transparent;
  padding: 0;
}
code {
  color: #f4fff9;
  background-color: #304a65;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
code.terminal::before {
  content: "$ ";
}
textarea {
  font-size: 22px;
  line-height: 1.8;
  border: 1px solid #4fbc78;
  border-radius: 0.5em;
  margin-bottom: 1.62rem;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
textarea:focus {
  box-shadow: 0 0 2px #76d4ec;
}
.white,
body,
input,
textarea {
  background-color: #f4fff9;
  border-color: #7b8e84;
}
.black {
  background-color: #0a291a;
  border-color: #05140d;
}
.ambient {
  color: #0a291a;
  background: #40ffa2;
  border-color: #218e58;
}
.ambient.light {
  color: #0a291a;
  background: #69ffb6;
  border-color: #358e62;
}
.ambient.dark {
  color: #0a291a;
  background: #17ff8e;
  border-color: #0c8e4e;
}
.red,
.failure {
  background-color: #ea3b1f;
  border-color: #822111;
}
.light.red,
.light.failure {
  background-color: #ee5b44;
  border-color: #843124;
}
.dark.red,
.dark.failure {
  background-color: #cd2c13;
  border-color: #74190b;
}
.orange,
.warning {
  background-color: #eab510;
  border-color: #836509;
}
.light.orange,
.light.warning {
  background-color: #f1c232;
  border-color: #866c1b;
}
.dark.orange,
.dark.warning {
  background-color: #c4970d;
  border-color: #705608;
}
.yellow {
  background-color: #eaff15;
  border-color: #828e0b;
}
.light.yellow {
  background-color: #eeff3e;
  border-color: #848e20;
}
.dark.yellow {
  background-color: #d6eb00;
  border-color: #788401;
}
.olive {
  background-color: #98b41f;
  border-color: #576612;
}
.light.olive {
  background-color: #b6d725;
  border-color: #667815;
}
.dark.olive {
  background-color: #7b9119;
  border-color: #48550f;
}
.green,
.success {
  background-color: #0fac1a;
  border-color: #096310;
}
.light.green,
.light.success {
  background-color: #12d220;
  border-color: #0b7612;
}
.dark.green,
.dark.success {
  background-color: #0b8614;
  border-color: #07500d;
}
.teal {
  background-color: #13b4a9;
  border-color: #0c6761;
}
.light.teal {
  background-color: #17d9cc;
  border-color: #0e7972;
}
.dark.teal {
  background-color: #0f8f87;
  border-color: #0a5550;
}
.cyan {
  background-color: #09ffff;
  border-color: #058e8e;
}
.light.cyan {
  background-color: #32ffff;
  border-color: #1a8e8e;
}
.dark.cyan {
  background-color: #00dfdf;
  border-color: #017e7e;
}
.skyblue,
.info {
  background-color: #76d4ec;
  border-color: #3d7583;
}
.light.skyblue,
.light.info {
  background-color: #9adff1;
  border-color: #4f7a85;
}
.dark.skyblue,
.dark.info {
  background-color: #52c9e6;
  border-color: #2b6f80;
}
.blue {
  background-color: #0a32ff;
  border-color: #061c8e;
}
.light.blue {
  background-color: #3254ff;
  border-color: #1a2d8e;
}
.dark.blue {
  background-color: #0025df;
  border-color: #01157e;
}
.indigo {
  background-color: #5a36a2;
  border-color: #331f5c;
}
.light.indigo {
  background-color: #6b41c0;
  border-color: #3c246b;
}
.dark.indigo {
  background-color: #492c83;
  border-color: #2b194d;
}
.purple {
  background-color: #aa43bb;
  border-color: #5f2569;
}
.light.purple {
  background-color: #b761c6;
  border-color: #66346e;
}
.dark.purple {
  background-color: #8e399d;
  border-color: #51205a;
}
.violet {
  background-color: #db91ee;
  border-color: #784a84;
}
.light.violet {
  background-color: #e6b4f4;
  border-color: #7e5c87;
}
.dark.violet {
  background-color: #cf6de9;
  border-color: #723981;
}
.gray {
  background-color: #7d9687;
  border-color: #44544b;
}
.light.gray {
  background-color: #94a89c;
  border-color: #505d55;
}
.dark.gray {
  background-color: #698173;
  border-color: #3a4a41;
}
.brown {
  background-color: #a3673a;
  border-color: #5d3b20;
}
.light.brown {
  background-color: #be7b47;
  border-color: #6a4427;
}
.dark.brown {
  background-color: #85542f;
  border-color: #4e311b;
}
.magenta {
  background-color: #df56fe;
  border-color: #7b2c8d;
}
.light.magenta {
  background-color: #e77ffe;
  border-color: #7f408d;
}
.dark.magenta {
  background-color: #d72efe;
  border-color: #77188d;
}
.lavender {
  background-color: #cac5eb;
  border-color: #696681;
}
.light.lavender {
  background-color: #e6e3f5;
  border-color: #777586;
}
.dark.lavender {
  background-color: #aea6e0;
  border-color: #5c577c;
}
.cream {
  background-color: #f0fad4;
  border-color: #828a6c;
}
.light.cream {
  background-color: #fdfef8;
  border-color: #888c7e;
}
.dark.cream {
  background-color: #e3f5b0;
  border-color: #7b875a;
}
.charcoal {
  background-color: #545f3f;
  border-color: #323925;
}
.light.charcoal {
  background-color: #6a784f;
  border-color: #3d462d;
}
.dark.charcoal {
  background-color: #3f472f;
  border-color: #272d1d;
}
.crimson {
  background-color: #b8282f;
  border-color: #68171a;
}
.light.crimson {
  background-color: #d3363d;
  border-color: #761d22;
}
.dark.crimson {
  background-color: #972126;
  border-color: #571316;
}
.clover {
  background-color: #48c92e;
  border-color: #28701a;
}
.light.clover {
  background-color: #61d54a;
  border-color: #357728;
}
.dark.clover {
  background-color: #3ca727;
  border-color: #226016;
}
.cobalt {
  background-color: #2f8bde;
  border-color: #1a4d7c;
}
.light.cobalt {
  background-color: #529fe4;
  border-color: #2c577f;
}
.dark.cobalt {
  background-color: #1f77c5;
  border-color: #12436f;
}
.graphite {
  background-color: #304a65;
  border-color: #1c2d3d;
}
.light.graphite {
  background-color: #3d5f80;
  border-color: #23374b;
}
.dark.graphite {
  background-color: #233649;
  border-color: #16222f;
}
.ruby {
  background-color: #a61d4f;
  border-color: #5f112e;
}
.light.ruby {
  background-color: #c9235f;
  border-color: #711436;
}
.dark.ruby {
  background-color: #83173e;
  border-color: #4e0e25;
}
.onyx {
  background-color: #3b453d;
  border-color: #232c25;
}
.light.onyx {
  background-color: #4e5b50;
  border-color: #2d372f;
}
.dark.onyx {
  background-color: #282f2a;
  border-color: #1a211b;
}
.pewter {
  background-color: #b0bc9b;
  border-color: #606853;
}
.light.pewter {
  background-color: #c3ccb3;
  border-color: #69705f;
}
.dark.pewter {
  background-color: #9cac82;
  border-color: #565f46;
}
.gunmetal {
  background-color: #498082;
  border-color: #294a4b;
}
.light.gunmetal {
  background-color: #589a9c;
  border-color: #315758;
}
.dark.gunmetal {
  background-color: #3a6668;
  border-color: #223d3e;
}
.hotpink {
  background-color: #f56db1;
  border-color: #883860;
}
.light.hotpink {
  background-color: #f893c6;
  border-color: #894b6a;
}
.dark.hotpink {
  background-color: #f2479d;
  border-color: #872556;
}
.neongreen {
  background-color: #40ff24;
  border-color: #228d13;
}
.light.neongreen {
  background-color: #63ff4d;
  border-color: #348d27;
}
.dark.neongreen {
  background-color: #20f900;
  border-color: #138b01;
}
.electricblue {
  background-color: #41d0f6;
  border-color: #227388;
}
.light.electricblue {
  background-color: #68daf7;
  border-color: #357889;
}
.dark.electricblue {
  background-color: #1ac6f4;
  border-color: #0e6e87;
}
.royalpurple {
  background-color: #7352ae;
  border-color: #402d62;
}
.light.royalpurple {
  background-color: #8a6dbb;
  border-color: #4c3b68;
}
.dark.royalpurple {
  background-color: #614493;
  border-color: #372654;
}
.lemon {
  background-color: #f5fd95;
  border-color: #888d4c;
}
.light.lemon {
  background-color: #f9febd;
  border-color: #898d60;
}
.dark.lemon {
  background-color: #f1fd6d;
  border-color: #868c38;
}
.lime {
  background-color: #8df593;
  border-color: #48884c;
}
.light.lime {
  background-color: #b3f8b7;
  border-color: #5b895e;
}
.dark.lime {
  background-color: #68f270;
  border-color: #36863a;
}
.tangerine {
  background-color: #f5b65c;
  border-color: #88632f;
}
.light.tangerine {
  background-color: #f7c782;
  border-color: #896c42;
}
.dark.tangerine {
  background-color: #f3a435;
  border-color: #875b1c;
}
.grapefruit {
  background-color: #ce5c5d;
  border-color: #723132;
}
.light.grapefruit {
  background-color: #d77b7c;
  border-color: #774141;
}
.dark.grapefruit {
  background-color: #c43c3e;
  border-color: #6e2222;
}
.action,
.base-color {
  color: #0a291a;
  background: #37f66c;
  border-color: #1d893b;
}
.action.light,
.base-color.light {
  color: #0a291a;
  background: #5ef889;
  border-color: #308a49;
}
.action.dark,
.base-color.dark {
  color: #0a291a;
  background: #10f44f;
  border-color: #09882c;
}
.reaction {
  background-color: #e369ca;
  border-color: #7e376f;
}
.light.reaction {
  background-color: #ea8bd6;
  border-color: #814875;
}
.dark.reaction {
  background-color: #dd47be;
  border-color: #7b2669;
}
.default {
  background-color: #4fbc78;
  border-color: #2b6943;
}
.light.default {
  background-color: #6cc78f;
  border-color: #3a6f4e;
}
.dark.default {
  background-color: #3ea365;
  border-color: #235d39;
}
.warm {
  background-color: #b7a5f0;
  border-color: #605585;
}
.light.warm {
  background-color: #d3c8f6;
  border-color: #6e6788;
}
.dark.warm {
  background-color: #9a82eb;
  border-color: #524382;
}
.cool {
  background-color: #698ac7;
  border-color: #384c6e;
}
.light.cool {
  background-color: #87a2d2;
  border-color: #475774;
}
.dark.cool {
  background-color: #4c73bb;
  border-color: #2a4069;
}
.neutral {
  background-color: #a090d2;
  border-color: #564c74;
}
.light.neutral {
  background-color: #b9addd;
  border-color: #625a7a;
}
.dark.neutral {
  background-color: #8873c6;
  border-color: #4a3d6e;
}
.complement,
.second.triad {
  background-color: #e364c8;
  border-color: #7e346e;
}
.light.complement,
.light.second.triad {
  background-color: #e987d4;
  border-color: #814675;
}
.dark.complement,
.dark.second.triad {
  background-color: #dd41bc;
  border-color: #7b2368;
}
.accent {
  background-color: #5dfbda;
  border-color: #2f8b78;
}
.light.accent {
  background-color: #85fce3;
  border-color: #438c7d;
}
.dark.accent {
  background-color: #35fad1;
  border-color: #1c8b74;
}
.second.accent {
  background-color: #7bfb6c;
  border-color: #408b37;
}
.light.second.accent {
  background-color: #9ffc93;
  border-color: #528c4b;
}
.dark.second.accent {
  background-color: #58f944;
  border-color: #2e8b23;
}
.split {
  background-color: #3c82f7;
  border-color: #1f4789;
}
.light.split {
  background-color: #649bf8;
  border-color: #33538a;
}
.dark.split {
  background-color: #1569f5;
  border-color: #0c3a88;
}
.second.split {
  background-color: #e3d64a;
  border-color: #7e7727;
}
.light.second.split {
  background-color: #e8de6d;
  border-color: #817b39;
}
.dark.second.split {
  background-color: #ddce27;
  border-color: #7b7316;
}
.triad {
  background-color: #3ccef7;
  border-color: #1f7289;
}
.light.triad {
  background-color: #64d8f8;
  border-color: #33778a;
}
.dark.triad {
  background-color: #15c4f5;
  border-color: #0c6d88;
}
.third.triad {
  background-color: #b5f84a;
  border-color: #638a26;
}
.light.third.triad {
  background-color: #c5f971;
  border-color: #6b8a3a;
}
.dark.third.triad {
  background-color: #a5f623;
  border-color: #5b8912;
}
.tetrad {
  background-color: #3cf4f7;
  border-color: #1f8789;
}
.light.tetrad {
  background-color: #64f6f8;
  border-color: #33888a;
}
.dark.tetrad {
  background-color: #15f1f5;
  border-color: #0c8688;
}
.second.tetrad {
  background-color: #9460f7;
  border-color: #503189;
}
.light.second.tetrad {
  background-color: #ae87f9;
  border-color: #5d458a;
}
.dark.second.tetrad {
  background-color: #7a39f5;
  border-color: #431e88;
}
.third.tetrad {
  background-color: #e3644a;
  border-color: #7e3627;
}
.light.third.tetrad {
  background-color: #e8826d;
  border-color: #814539;
}
.dark.third.tetrad {
  background-color: #dd4627;
  border-color: #7b2716;
}
.fourth.tetrad {
  background-color: #8bf84a;
  border-color: #4b8a26;
}
.light.fourth.tetrad {
  background-color: #a4f971;
  border-color: #588a3a;
}
.dark.fourth.tetrad {
  background-color: #72f623;
  border-color: #3f8912;
}
.highlight {
  background-color: #c1fb19;
  border-color: #6b8c0e;
}
.light.highlight {
  background-color: #ccfc41;
  border-color: #718c22;
}
.dark.highlight {
  background-color: #aee804;
  border-color: #628203;
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-margin-right {
  margin-right: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.no-margin-left {
  margin-left: 0 !important;
}
.no-padding {
  padding: 0;
}
.no-margin,
.no-gutter {
  margin: 0;
}
.no-side-margin,
.no-side-margins {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.no-margins {
  margin: 0 !important;
}
.no-margins * {
  margin: 0 !important;
}
.no-box-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  box-shadow: unset;
}
.no-text-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  text-shadow: unset;
}
.no-border,
.no-borders,
.no-borders * {
  border-width: 0 !important;
}
.no-background {
  background: transparent;
}
.no-text-indent {
  text-indent: 0;
}
.no-text-align {
  text-align: initial;
}
.no-user-select {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.no-pointer-events {
  pointer-events: none;
}
.no-list-style {
  list-style-type: none;
  margin-left: 0;
}
.no-grid-gap,
.no-column-gap {
  grid-gap: 0;
  column-gap: 0;
}
@media print {
  html {
    font-size: 62.5%;
  }
  * {
    box-shadow: unset !important;
    border: unset !important;
  }
  nav {
    display: none !important;
  }
  .page-width,
  .text-width,
  .container {
    all: unset;
  }
  .inner-page-width,
  .inner-text-width,
  .inner-aside-width {
    all: unset;
  }
}
