/* This project uses Cavepaint (MIT License) by Rex Riepe */
/* https://github.com/cavepaint/cavepaintCSS */
* {
  margin: 0 0 1.62rem 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  margin-bottom: 0;
}
.button,
button {
  border-style: solid;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(38, 6, 11, 0.16);
  display: inline;
  position: relative;
  font-family: inherit;
  font-size: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  color: inherit;
  background-color: inherit;
  border-color: #1c584c;
  border-width: 1px;
  line-height: 1.6;
  text-align: center;
  vertical-align: middle;
  outline: none;
  white-space: nowrap;
  text-decoration: none;
  touch-action: manipulation;
  cursor: pointer;
  transform: scale(1);
  transition: 0.08s linear;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.button:active,
button:active {
  transform: scale(0.99);
  box-shadow: unset;
}
.bar {
  position: relative;
  width: 100%;
  display: block;
  vertical-align: middle;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.bar > * {
  display: inline;
  margin-right: 0.3236em;
  margin-left: 0.3236em;
  margin-bottom: 0;
}
.card {
  position: relative;
  overflow: hidden;
  padding: 1.62rem;
  border: 1px solid #309681;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(38, 6, 11, 0.16);
}
.card > *:first-child {
  margin-top: 0;
}
.card > *:last-child {
  margin-bottom: 0;
}
.badge {
  border-radius: 0.5em;
  line-height: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  padding-right: 0.6472em;
  padding-left: 0.6472em;
  vertical-align: middle;
  border-radius: 99px;
  white-space: nowrap;
}
.modal {
  display: none;
  max-width: none;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  position: fixed;
  bottom: 0;
  justify-content: center;
  flex: 0 1 auto;
  flex-direction: column;
  height: 100vh;
}
.modal > * {
  flex-direction: column;
  color: #062622;
  position: relative;
  background: #f2fefc;
  padding: 1.62rem;
  margin-bottom: 3.24rem;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(38, 6, 11, 0.16);
  margin: 1.62rem;
}
@media screen and (min-width: 38.24rem) {
  .modal > * {
    max-width: 56rem;
    margin: 0 auto;
  }
}
.overlay {
  margin: 0;
  padding: 0;
  position: relative;
}
.overlay .top,
.overlay .bottom,
.overlay .left,
.overlay .right {
  position: absolute;
}
.overlay .top {
  top: 0.3236em;
}
.overlay .bottom {
  bottom: 0.3236em;
}
.overlay .left {
  left: 0.3236em;
}
.overlay .right {
  right: 0.3236em;
}
.overlay.stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.overlay * {
  margin: 0;
  display: block;
}
.grid,
.two-column,
.three-column {
  display: grid;
  grid-gap: 1.62rem;
}
.grid.tablet,
.two-column.tablet,
.three-column.tablet,
.grid.mobile.tablet,
.two-column.mobile.tablet,
.three-column.mobile.tablet,
.grid.desktop,
.two-column.desktop,
.three-column.desktop {
  display: initial;
}
.grid {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.two-column {
  grid-template-columns: 1fr 1fr;
}
.two-column.golden {
  grid-template-columns: 1.618fr 1fr;
}
.two-column.golden.reverse {
  grid-template-columns: 1fr 1.618fr;
}
.three-column {
  grid-template-columns: 1fr 1fr 1fr;
}
.three-column.golden {
  grid-template-columns: 1fr 1.618fr 1fr;
}
.three-column.golden.leading {
  grid-template-columns: 1.618fr 1fr 1fr;
}
.three-column.golden.trailing {
  grid-template-columns: 1fr 1fr 1.618fr;
}
.grid-width-one {
  grid-column: auto / span 1;
}
.grid-width-two {
  grid-column: auto / span 2;
}
.grid-width-three {
  grid-column: auto / span 3;
}
.grid-width-four {
  grid-column: auto / span 4;
}
.grid-width-five {
  grid-column: auto / span 5;
}
.grid-width-six {
  grid-column: auto / span 6;
}
.grid-width-seven {
  grid-column: auto / span 7;
}
.grid-width-eight {
  grid-column: auto / span 8;
}
.grid-width-nine {
  grid-column: auto / span 9;
}
.grid-width-ten {
  grid-column: auto / span 10;
}
.grid-width-eleven {
  grid-column: auto / span 11;
}
.grid-width-twelve {
  grid-column: auto / span 12;
}
@media screen and (max-width: calc(38.24rem - 1px)) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: grid;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 38.24rem) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: initial;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: initial;
  }
  .grid.tablet,
  .two-column.tablet,
  .three-column.tablet {
    display: grid;
  }
  .grid.tablet > *,
  .two-column.tablet > *,
  .three-column.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (max-width: calc(56rem - 1px)) {
  .grid.mobile.tablet,
  .two-column.mobile.tablet,
  .three-column.mobile.tablet {
    display: grid;
  }
  .grid.mobile.tablet > *,
  .two-column.mobile.tablet > *,
  .three-column.mobile.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 56rem) {
  .grid.desktop,
  .two-column.desktop,
  .three-column.desktop {
    display: grid;
  }
  .grid.desktop > *,
  .two-column.desktop > *,
  .three-column.desktop > * {
    margin-bottom: 0;
  }
}
.responsive {
  column-gap: 0.619rem;
  grid-gap: 0.619rem;
}
.responsive.padding,
.modal,
.container {
  padding: 0.619rem;
}
.responsive.margin,
.container {
  margin: 0.619rem;
}
.responsive.gutter {
  margin: 1.238rem;
}
@media screen and (min-width: 38.24rem) {
  .responsive {
    column-gap: 1.001rem;
    grid-gap: 1.001rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.001rem;
  }
  .responsive.margin,
  .container {
    margin: 1.001rem;
  }
  .responsive.gutter {
    margin: 2.002rem;
  }
}
@media screen and (min-width: 56rem) {
  .responsive {
    column-gap: 1.62rem;
    grid-gap: 1.62rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.62rem;
  }
  .responsive.margin,
  .container {
    margin: 1.62rem;
  }
  .responsive.gutter {
    margin: 3.24rem;
  }
}
.background {
  background: #f2fefc;
}
.background-color {
  background-color: #f2fefc;
}
.border {
  border: 1px solid #309681;
}
.border-radius,
.rounded {
  border-radius: 0.5em;
}
.border-bottom {
  border-bottom: 1px solid #309681;
}
.border-left {
  border-left: 1px solid #309681;
}
.border-right {
  border-right: 1px solid #309681;
}
.border-style,
.button.border,
button.border {
  border-style: solid;
}
.border-top {
  border-top: 1px solid #309681;
}
.border-width,
.button.border,
button.border {
  border-width: 1px;
}
.max-width {
  max-width: 56rem;
}
.min-width {
  min-width: 21rem;
}
.align-content {
  align-content: stretch;
}
.align-items {
  align-items: stretch;
}
.align-self {
  align-self: auto;
}
.flex,
.vertical-center,
.center-vertical {
  flex: 0 1 auto;
}
.flex-basis {
  flex-basis: auto;
}
.flex-direction,
.vertical-center,
.center-vertical {
  flex-direction: column;
}
.flex-flow {
  flex-flow: column nowrap;
}
.flex-grow {
  flex-grow: 0;
}
.flex-shrink {
  flex-shrink: 1;
}
.flex-wrap {
  flex-wrap: nowrap;
}
.justify-content,
.vertical-center,
.center-vertical {
  justify-content: center;
}
.font-family,
body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "Droid Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
.font-size {
  font-size: 22px;
}
.font-weight {
  font-weight: normal;
}
.list-style {
  list-style: disc inside none;
}
.list-style-type {
  list-style-type: disc;
}
.margin {
  margin: 1.62rem;
}
.margin-bottom {
  margin-bottom: 1.62rem;
}
.margin-left {
  margin-left: 1.62rem;
}
.margin-right {
  margin-right: 1.62rem;
}
.margin-top {
  margin-top: 1.62rem;
}
.column-gap {
  column-gap: 1.94em;
}
.column-rule {
  column-rule: 1px solid #309681;
}
.padding {
  padding: 1.62rem;
}
.padding-bottom {
  padding-bottom: 1.62rem;
}
.padding-left {
  padding-left: 1.62rem;
}
.padding-right {
  padding-right: 1.62rem;
}
.padding-top {
  padding-top: 1.62rem;
}
.text-align {
  text-align: left;
}
.text-align-last {
  text-align-last: left;
}
.text-indent {
  text-indent: 2ch;
}
.text-justify {
  text-justify: justify;
}
.text-overflow {
  text-overflow: hidden;
}
.text-shadow {
  text-shadow: 1.41px 1.41px 1.41px rgba(38, 6, 11, 0.16);
}
.line-height {
  line-height: 1.8;
}
.vertical-align {
  vertical-align: middle;
}
.letter-spacing {
  letter-spacing: 0;
}
.word-spacing {
  word-spacing: normal;
}
.white-space {
  white-space: nowrap;
}
.word-break {
  word-break: break-all;
}
.word-wrap {
  word-wrap: break-word;
}
.transform {
  transform: none;
}
.transition {
  transition: all 0s ease 0s;
}
.display {
  display: block;
}
.position {
  position: absolute;
}
.top {
  top: 0;
}
.right {
  right: 0;
}
.bottom {
  bottom: 0;
}
.left {
  left: 0;
}
.float {
  float: left;
}
.clear {
  clear: both;
}
.z-index {
  z-index: 10;
}
.overflow {
  overflow: hidden;
}
.overflow-x {
  overflow-x: hidden;
}
.cursor {
  cursor: pointer;
}
.box-shadow {
  box-shadow: 1.41px 1.41px 1.41px rgba(38, 6, 11, 0.16);
}
.gutter {
  margin: 3.24rem;
}
.gutter-top {
  margin-top: 3.24rem;
}
.gutter-right {
  margin-right: 3.24rem;
}
.gutter-bottom {
  margin-bottom: 3.24rem;
}
.gutter-left {
  margin-left: 3.24rem;
}
.text-padding {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-padding-top {
  padding-top: 0.18em;
}
.text-padding-right {
  padding-right: 0.3236em;
}
.text-padding-bottom {
  padding-bottom: 0.22em;
}
.text-padding-left {
  padding-left: 0.3236em;
}
.text-margin {
  margin: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-margin-top {
  margin-top: 0.18em;
}
.text-margin-right {
  margin-right: 0.3236em;
}
.text-margin-bottom {
  margin-bottom: 0.22em;
}
.text-margin-left {
  margin-left: 0.3236em;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.initial {
  display: initial;
}
.table {
  display: table;
}
.flex,
.vertical-center,
.center-vertical {
  display: flex;
}
.inline-block {
  display: inline-block;
}
.static {
  position: static;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.margin-auto,
.container {
  margin-left: auto;
  margin-right: auto;
}
.width-auto {
  width: auto;
}
.inset {
  box-shadow: inset 1.41px 1.41px 1.41px rgba(38, 6, 11, 0.16);
}
.viewport-height {
  height: 100vh;
}
.min-viewport-height {
  min-height: 100vh;
}
.overflow-hidden {
  overflow: hidden;
}
.dashed {
  border-style: dashed;
}
.dotted {
  border-style: dotted;
}
.thick {
  border-width: 2px;
}
.thin {
  border-width: 0.5px;
}
.current-color {
  border-color: currentColor;
}
.fade {
  opacity: 0.65;
}
.serif,
.font-family-serif {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "Droid Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
.monospace,
.font-family-monospace,
pre,
code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
}
.sans-serif,
.font-family-sans-serif {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.text-transparent {
  color: transparent;
}
.reset {
  all: initial;
}
.big {
  font-size: 125%;
  line-height: 2.25;
}
.big.font-size {
  font-size: 27.5px;
}
.small,
.badge {
  font-size: 87.5%;
  line-height: 1.575;
}
.small.font-size {
  font-size: 19.25px;
}
.huge {
  font-size: 160%;
}
.huge.font-size {
  font-size: 35.2px;
}
.text-trim {
  line-height: 1;
}
.text-align-center,
.text-center {
  text-align: center;
}
.text-align-left,
.text-left {
  text-align: left;
}
.text-align-right,
.text-right {
  text-align: right;
}
.text-align-justify,
.text-justify {
  text-align: justify;
}
.grid-gap-margin {
  grid-gap: 1.62rem;
}
.grid-gap-border-width {
  grid-gap: 1px;
}
.grid-gap-text-padding,
.grid-gap-text-margin {
  grid-gap: 0.3236em;
}
.shade,
.white,
.orange,
.yellow,
.olive,
.light.green,
.light.teal,
.cyan,
.skyblue,
.violet,
.light.gray,
.lavender,
.cream,
.clover,
.pewter,
.light.hotpink,
.neongreen,
.electricblue,
.lemon,
.lime,
.tangerine,
.light.default,
.warm,
.cool,
.neutral,
.accent,
.second.accent,
.second.split,
.third.triad,
.fourth.tetrad,
.highlight,
body,
input,
textarea,
.info,
.warning,
.light.success {
  color: #062622;
}
.tint,
.black,
.red,
.dark.olive,
.green,
.teal,
.blue,
.indigo,
.purple,
.dark.violet,
.gray,
.brown,
.magenta,
.charcoal,
.crimson,
.dark.clover,
.cobalt,
.graphite,
.ruby,
.onyx,
.gunmetal,
.hotpink,
.royalpurple,
.grapefruit,
.reaction,
.default,
.dark.warm,
.complement,
.split,
.triad,
.tetrad,
.second.tetrad,
.third.tetrad,
.success,
.failure,
.second.triad {
  color: #f2fefc;
}
.transparent {
  background-color: transparent;
  color: inherit;
  border-color: inherit;
}
.transparent.light {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23FFF%22%20fill-opacity%3D%220.16%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.transparent.dark,
.modal {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23000%22%20fill-opacity%3D%220.25%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.trim,
.trim-inner *,
.trim-all,
.trim-all * {
  margin-bottom: 0;
}
.hidden {
  display: none !important;
}
.clearfix,
.clear {
  clear: both;
}
.clearfix::after,
.clear::after {
  display: block;
  clear: both;
  content: "";
}
.golden-width {
  max-width: calc(62% - 3.24rem);
}
.golden-width.reverse {
  max-width: 38%;
}
.aside-width {
  max-width: 21rem;
}
@media screen and (min-width: 38.24rem) {
  .text-width {
    max-width: 35rem;
  }
}
.page-width,
.container {
  max-width: 56rem;
}
.full-width,
.aside-width .aside-width,
.text-width .text-width,
.page-width .page-width {
  display: block;
  width: 100%;
}
.inner-aside-width {
  padding-left: calc(50% - 10.5rem);
  padding-right: calc(50% - 10.5rem);
}
.inner-aside-width.padding {
  padding-left: calc(50% - 8.88rem);
  padding-right: calc(50% - 8.88rem);
}
.inner-aside-width.responsive.padding {
  padding-left: calc(50% - 9.88rem);
  padding-right: calc(50% - 9.88rem);
}
@media screen and (max-width: calc(38.24rem - 1px)) {
  .inner-text-width {
    padding-left: initial;
    padding-right: initial;
  }
  .inner-text-width.padding {
    padding-left: 1.62rem;
    padding-right: 1.62rem;
  }
  .inner-text-width.responsive.padding {
    padding-left: 0.619rem;
    padding-right: 0.619rem;
  }
}
@media screen and (min-width: 38.24rem) {
  .inner-aside-width.tablet.padding {
    padding-left: calc(50% - 8.88rem);
    padding-right: calc(50% - 8.88rem);
  }
  .inner-aside-width.tablet.responsive.padding {
    padding-left: calc(50% - 9.5rem);
    padding-right: calc(50% - 9.5rem);
  }
  .inner-text-width {
    padding-left: calc(50% - 17.5rem);
    padding-right: calc(50% - 17.5rem);
  }
  .inner-text-width.padding {
    padding-left: calc(50% - 15.88rem);
    padding-right: calc(50% - 15.88rem);
  }
  .inner-text-width.responsive.padding {
    padding-left: calc(50% - 16.5rem);
    padding-right: calc(50% - 16.5rem);
  }
}
@media screen and (min-width: 56rem) {
  .inner-aside-width.desktop.padding {
    padding-left: calc(50% - 8.88rem);
    padding-right: calc(50% - 8.88rem);
  }
  .inner-aside-width.desktop.responsive.padding {
    padding-left: calc(50% - 8.88rem);
    padding-right: calc(50% - 8.88rem);
  }
  .inner-text-width.desktop.padding {
    padding-left: calc(50% - 15.88rem);
    padding-right: calc(50% - 15.88rem);
  }
  .inner-text-width.desktop.responsive.padding {
    padding-left: calc(50% - 15.88rem);
    padding-right: calc(50% - 15.88rem);
  }
  .inner-page-width {
    padding-left: calc(50% - 28rem);
    padding-right: calc(50% - 28rem);
  }
  .inner-page-width.padding {
    padding-left: calc(50% - 26.38rem);
    padding-right: calc(50% - 26.38rem);
  }
  .inner-page-width.responsive.padding {
    padding-left: calc(50% - 26.38rem);
    padding-right: calc(50% - 26.38rem);
  }
}
.texture,
.pattern {
  background-position: top center;
}
.texture {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20width%3D'80'%20height%3D'48'%3E%3Cpath%20d%3D'M19%200v11H0v26h19v11h2V37h38v11h2V37h19V11H61V0h-2v11H21V0h-2zM1%2013h38v22H1V13zm40%200h38v22H41V13z'%20fill%3D'%23f2fefc'%20fill-opacity%3D'0.05'/%3E%3C/svg%3E");
}
.pattern {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20width%3D'80'%20height%3D'50'%20viewBox%3D'0%200%2021.167%2013.229'%3E%3Cpath%20fill%3D'%23062622'%20opacity%3D'0.05'%20d%3D'M0%200h21.167v6.615H0z'/%3E%3C/svg%3E");
}
.placeholder::before {
  content: " ";
  white-space: pre;
}
.placeholder::after {
  content: "";
}
.placeholder.image,
.placeholder.video,
.placeholder.avatar {
  position: relative;
}
.placeholder.image::before,
.placeholder.video::before,
.placeholder.avatar::before {
  position: absolute;
  top: calc(50% - 4rem);
  right: 0;
  bottom: 0;
  left: 0;
  display: inline-block;
  text-align: center;
  font-size: 4rem;
  vertical-align: middle;
}
.placeholder.image.small::before,
.placeholder.video.small::before,
.placeholder.avatar.small::before {
  top: calc(50% - 2rem);
  font-size: 2rem;
}
.placeholder.image.big::before,
.placeholder.video.big::before,
.placeholder.avatar.big::before {
  top: calc(50% - 6rem);
  font-size: 6rem;
}
.placeholder.image.huge::before,
.placeholder.video.huge::before,
.placeholder.avatar.huge::before {
  top: calc(50% - 8rem);
  font-size: 8rem;
}
.placeholder.image::after,
.placeholder.video::after,
.placeholder.avatar::after {
  display: block;
}
.placeholder.image::before {
  content: "\1f5bc";
}
.placeholder.image::after {
  padding-top: 75%;
}
.placeholder.video::before {
  content: "\25B6";
}
.placeholder.video::after {
  padding-top: 56.25%;
}
.placeholder.avatar::before {
  content: "\263A";
}
.placeholder.avatar::after {
  padding-top: 100%;
}
.placeholder.no-icon::before {
  content: "";
}
.hide {
  display: none;
}
.hide.tablet {
  display: initial;
}
.hide.desktop {
  display: initial;
}
@media screen and (max-width: calc(38.24rem - 1px)) {
  .hide.mobile {
    display: none;
  }
}
@media screen and (min-width: 38.24rem) {
  .hide.mobile {
    display: initial;
  }
  .hide.tablet {
    display: none;
  }
}
@media screen and (min-width: 56rem) {
  .hide.desktop {
    display: none;
  }
  .hide.mobile.tablet {
    display: initial;
  }
}
@media screen and (max-width: calc(56rem - 1px)) {
  .hide.mobile.tablet {
    display: none;
  }
}
body {
  font-size: 22px;
  line-height: 1.8;
  margin: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
nav {
  z-index: 99;
}
nav a {
  text-decoration: none;
}
aside {
  margin: 0 auto;
  margin-bottom: 1.62rem;
  max-width: 21rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-top: 0.49443758em;
  margin-bottom: 0.74165637em;
  letter-spacing: -0.025em;
  color: inherit;
  line-height: 1.618;
}
h1 {
  font-size: 2.4em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1em;
}
p {
  margin-bottom: 1em;
}
p.gutter-bottom {
  margin-bottom: 1.618em;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: inherit;
  text-decoration: underline;
}
a.target-blank::after,
a.new-tab::after,
a.external-link::after {
  content: "\00A0\1F855";
}
form {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input {
  font-size: 22px;
  line-height: 1.8;
  border: 1px solid #309681;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input:focus {
  box-shadow: 0 0 2px #6bcce5;
}
fieldset {
  border: none;
  outline: none;
}
ol {
  padding-left: 4ch;
  margin-bottom: 1.62rem;
}
ol li {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
ul {
  margin-left: 1.62rem;
  margin-bottom: 1.62rem;
}
li {
  margin-bottom: 0.44em;
}
kbd {
  color: #f2fefc;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  white-space: nowrap;
}
b {
  padding: 0.18em 0 0.22em 0;
}
pre {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  overflow: hidden;
  border-radius: 0.5em;
  background: #35403d;
  color: #f2fefc;
}
pre.white-space,
pre.word-break {
  white-space: pre-wrap;
}
pre > code {
  background: transparent;
  padding: 0;
}
code {
  color: #f2fefc;
  background-color: #274060;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
code.terminal::before {
  content: "$ ";
}
textarea {
  font-size: 22px;
  line-height: 1.8;
  border: 1px solid #309681;
  border-radius: 0.5em;
  margin-bottom: 1.62rem;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
textarea:focus {
  box-shadow: 0 0 2px #6bcce5;
}
.white,
body,
input,
textarea {
  background-color: #f2fefc;
  border-color: #7a8b89;
}
.black {
  background-color: #062622;
  border-color: #031311;
}
.ambient {
  color: #062622;
  background: #26efd3;
  border-color: #148374;
}
.ambient.light {
  color: #062622;
  background: #4cf2da;
  border-color: #278578;
}
.ambient.dark {
  color: #062622;
  background: #10dcbf;
  border-color: #097a6a;
}
.red,
.failure {
  background-color: #d3261d;
  border-color: #751510;
}
.light.red,
.light.failure {
  background-color: #e33e35;
  border-color: #7d211c;
}
.dark.red,
.dark.failure {
  background-color: #af1f18;
  border-color: #63120e;
}
.orange,
.warning {
  background-color: #deaf1b;
  border-color: #7b610f;
}
.light.orange,
.light.warning {
  background-color: #e7be3b;
  border-color: #7f681f;
}
.dark.orange,
.dark.warning {
  background-color: #ba9317;
  border-color: #69520d;
}
.yellow {
  background-color: #dbf81c;
  border-color: #78880f;
}
.light.yellow {
  background-color: #e1f943;
  border-color: #7b8922;
}
.dark.yellow {
  background-color: #c6e307;
  border-color: #6e7e04;
}
.olive {
  background-color: #83a21d;
  border-color: #4a5c10;
}
.light.olive {
  background-color: #9ec523;
  border-color: #586e13;
}
.dark.olive {
  background-color: #678017;
  border-color: #3c4b0d;
}
.green,
.success {
  background-color: #029e1c;
  border-color: #015c11;
}
.light.green,
.light.success {
  background-color: #02c624;
  border-color: #027014;
}
.dark.green,
.dark.success {
  background-color: #017615;
  border-color: #01470d;
}
.teal {
  background-color: #02a29e;
  border-color: #025e5b;
}
.light.teal {
  background-color: #03cac6;
  border-color: #02726f;
}
.dark.teal {
  background-color: #027a77;
  border-color: #014948;
}
.cyan {
  background-color: #01f8f8;
  border-color: #018988;
}
.light.cyan {
  background-color: #24fefe;
  border-color: #138c8b;
}
.dark.cyan {
  background-color: #01d0cf;
  border-color: #017474;
}
.skyblue,
.info {
  background-color: #6bcce5;
  border-color: #376f7e;
}
.light.skyblue,
.light.info {
  background-color: #8dd8eb;
  border-color: #497581;
}
.dark.skyblue,
.dark.info {
  background-color: #48c0df;
  border-color: #26697b;
}
.blue {
  background-color: #0125f7;
  border-color: #011588;
}
.light.blue {
  background-color: #2343fe;
  border-color: #12248c;
}
.dark.blue {
  background-color: #011fcf;
  border-color: #011274;
}
.indigo {
  background-color: #4a259b;
  border-color: #2a1558;
}
.light.indigo {
  background-color: #5a2dbc;
  border-color: #321969;
}
.dark.indigo {
  background-color: #3b1d7b;
  border-color: #221148;
}
.purple {
  background-color: #8b27a7;
  border-color: #4e165e;
}
.light.purple {
  background-color: #a72fc8;
  border-color: #5c1a6f;
}
.dark.purple {
  background-color: #6f1f86;
  border-color: #41124e;
}
.violet {
  background-color: #cb87e8;
  border-color: #6e457f;
}
.light.violet {
  background-color: #daa9ef;
  border-color: #755782;
}
.dark.violet {
  background-color: #bd65e1;
  border-color: #67347c;
}
.gray {
  background-color: #708d88;
  border-color: #3d4f4c;
}
.light.gray {
  background-color: #879f9b;
  border-color: #485855;
}
.dark.gray {
  background-color: #5e7672;
  border-color: #344341;
}
.brown {
  background-color: #985d37;
  border-color: #56341f;
}
.light.brown {
  background-color: #b67042;
  border-color: #653e24;
}
.dark.brown {
  background-color: #7a4b2c;
  border-color: #472b19;
}
.magenta {
  background-color: #be39e9;
  border-color: #681e80;
}
.light.magenta {
  background-color: #ca5eed;
  border-color: #6e3182;
}
.dark.magenta {
  background-color: #b019e2;
  border-color: #610e7c;
}
.lavender {
  background-color: #bfbde3;
  border-color: #63627b;
}
.light.lavender {
  background-color: #dbdaef;
  border-color: #717081;
}
.dark.lavender {
  background-color: #a3a1d7;
  border-color: #555475;
}
.cream {
  background-color: #e4f2cf;
  border-color: #79836a;
}
.light.cream {
  background-color: #f6faef;
  border-color: #82887a;
}
.dark.cream {
  background-color: #d2e9af;
  border-color: #707f5a;
}
.charcoal {
  background-color: #495444;
  border-color: #2a3227;
}
.light.charcoal {
  background-color: #5c6a56;
  border-color: #343d30;
}
.dark.charcoal {
  background-color: #353d32;
  border-color: #20271e;
}
.crimson {
  background-color: #ab1b2a;
  border-color: #611018;
}
.light.crimson {
  background-color: #ce2133;
  border-color: #72121c;
}
.dark.crimson {
  background-color: #881622;
  border-color: #4f0d14;
}
.clover {
  background-color: #39bc30;
  border-color: #20691a;
}
.light.clover {
  background-color: #4ed045;
  border-color: #2a7225;
}
.dark.clover {
  background-color: #2f9b27;
  border-color: #1b5816;
}
.cobalt {
  background-color: #2481d5;
  border-color: #144776;
}
.light.cobalt {
  background-color: #4494df;
  border-color: #24517b;
}
.dark.cobalt {
  background-color: #1e6cb2;
  border-color: #113c64;
}
.graphite {
  background-color: #274060;
  border-color: #17263a;
}
.light.graphite {
  background-color: #33537d;
  border-color: #1d3048;
}
.dark.graphite {
  background-color: #1b2d43;
  border-color: #111c2b;
}
.ruby {
  background-color: #981250;
  border-color: #570b2e;
}
.light.ruby {
  background-color: #bc1763;
  border-color: #6a0d38;
}
.dark.ruby {
  background-color: #730e3d;
  border-color: #450825;
}
.onyx {
  background-color: #35403d;
  border-color: #202826;
}
.light.onyx {
  background-color: #485653;
  border-color: #293331;
}
.dark.onyx {
  background-color: #232a28;
  border-color: #161d1b;
}
.pewter {
  background-color: #9baa8f;
  border-color: #545d4c;
}
.light.pewter {
  background-color: #b0bca6;
  border-color: #5e6658;
}
.dark.pewter {
  background-color: #879978;
  border-color: #4a5541;
}
.gunmetal {
  background-color: #3b717d;
  border-color: #214148;
}
.light.gunmetal {
  background-color: #488a98;
  border-color: #284e56;
}
.dark.gunmetal {
  background-color: #2e5861;
  border-color: #1b343a;
}
.hotpink {
  background-color: #e560a8;
  border-color: #7e325b;
}
.light.hotpink {
  background-color: #eb83bb;
  border-color: #814364;
}
.dark.hotpink {
  background-color: #e03d95;
  border-color: #7b2051;
}
.neongreen {
  background-color: #32f31d;
  border-color: #1b8610;
}
.light.neongreen {
  background-color: #55f544;
  border-color: #2d8723;
}
.dark.neongreen {
  background-color: #20dc0c;
  border-color: #127a07;
}
.electricblue {
  background-color: #2fc0e6;
  border-color: #19697f;
}
.light.electricblue {
  background-color: #54cbea;
  border-color: #2b6f81;
}
.dark.electricblue {
  background-color: #19acd3;
  border-color: #0e6075;
}
.royalpurple {
  background-color: #61409f;
  border-color: #362359;
}
.light.royalpurple {
  background-color: #734fb9;
  border-color: #3f2b66;
}
.dark.royalpurple {
  background-color: #4f3482;
  border-color: #2d1d4b;
}
.lemon {
  background-color: #edf995;
  border-color: #81894b;
}
.light.lemon {
  background-color: #f4fbbb;
  border-color: #858a5f;
}
.dark.lemon {
  background-color: #e7f76e;
  border-color: #7e8838;
}
.lime {
  background-color: #81ee93;
  border-color: #42824d;
}
.light.lime {
  background-color: #a5f3b2;
  border-color: #54855c;
}
.dark.lime {
  background-color: #5de974;
  border-color: #30803d;
}
.tangerine {
  background-color: #e9ad58;
  border-color: #805e2e;
}
.light.tangerine {
  background-color: #eebf7c;
  border-color: #826740;
}
.dark.tangerine {
  background-color: #e59b34;
  border-color: #7e551c;
}
.grapefruit {
  background-color: #bb4d5c;
  border-color: #672932;
}
.light.grapefruit {
  background-color: #c66a77;
  border-color: #6d383f;
}
.dark.grapefruit {
  background-color: #a13d4b;
  border-color: #5b222a;
}
.action,
.base-color {
  color: #062622;
  background: #28b791;
  border-color: #166651;
}
.action.light,
.base-color.light {
  color: #062622;
  background: #35d3a9;
  border-color: #1d745d;
}
.action.dark,
.base-color.dark {
  color: #f2fefc;
  background: #219676;
  border-color: #135644;
}
.reaction {
  background-color: #95435b;
  border-color: #542533;
}
.light.reaction {
  background-color: #b0516c;
  border-color: #622c3b;
}
.dark.reaction {
  background-color: #793649;
  border-color: #461f2a;
}
.default {
  background-color: #309681;
  border-color: #1b5549;
}
.light.default {
  background-color: #3ab59c;
  border-color: #206457;
}
.dark.default {
  background-color: #267766;
  border-color: #16463c;
}
.warm {
  background-color: #9992eb;
  border-color: #4f4b80;
}
.light.warm {
  background-color: #b9b5f1;
  border-color: #5f5c84;
}
.dark.warm {
  background-color: #7870e4;
  border-color: #3f3a7d;
}
.cool {
  background-color: #17fbfa;
  border-color: #0c8a8a;
}
.light.cool {
  background-color: #3ffcfb;
  border-color: #208a8a;
}
.dark.cool {
  background-color: #04e5e5;
  border-color: #037f7f;
}
.neutral {
  background-color: #80d35e;
  border-color: #457432;
}
.light.neutral {
  background-color: #99dc7e;
  border-color: #517842;
}
.dark.neutral {
  background-color: #66ca3e;
  border-color: #387022;
}
.complement,
.second.triad {
  background-color: #99445c;
  border-color: #562533;
}
.light.complement,
.light.second.triad {
  background-color: #b2536e;
  border-color: #632d3c;
}
.dark.complement,
.dark.second.triad {
  background-color: #7c374b;
  border-color: #481f2b;
}
.accent {
  background-color: #4bc9e4;
  border-color: #276e7d;
}
.light.accent {
  background-color: #6ed3e9;
  border-color: #397380;
}
.dark.accent {
  background-color: #27bede;
  border-color: #15697a;
}
.second.accent {
  background-color: #4be584;
  border-color: #277e47;
}
.light.second.accent {
  background-color: #6eea9c;
  border-color: #398053;
}
.dark.second.accent {
  background-color: #27e06b;
  border-color: #157b3b;
}
.split {
  background-color: #3e45b8;
  border-color: #222666;
}
.light.split {
  background-color: #595ec6;
  border-color: #2f326d;
}
.dark.split {
  background-color: #343999;
  border-color: #1d2057;
}
.second.split {
  background-color: #7fba3d;
  border-color: #466721;
}
.light.second.split {
  background-color: #93c858;
  border-color: #506e2f;
}
.dark.second.split {
  background-color: #6a9c33;
  border-color: #3c581c;
}
.triad {
  background-color: #2264b8;
  border-color: #133867;
}
.light.triad {
  background-color: #2b77d8;
  border-color: #174177;
}
.dark.triad {
  background-color: #1c5195;
  border-color: #102f56;
}
.third.triad {
  background-color: #42ba3d;
  border-color: #246721;
}
.light.third.triad {
  background-color: #5dc858;
  border-color: #316e2f;
}
.dark.third.triad {
  background-color: #379c33;
  border-color: #1f581c;
}
.tetrad {
  background-color: #2281b8;
  border-color: #134867;
}
.light.tetrad {
  background-color: #2b99d8;
  border-color: #175477;
}
.dark.tetrad {
  background-color: #1c6995;
  border-color: #103c56;
}
.second.tetrad {
  background-color: #9a45b8;
  border-color: #552566;
}
.light.second.tetrad {
  background-color: #aa61c4;
  border-color: #5d346c;
}
.dark.second.tetrad {
  background-color: #813a9a;
  border-color: #492057;
}
.third.tetrad {
  background-color: #9c7e3d;
  border-color: #584722;
}
.light.third.tetrad {
  background-color: #b89549;
  border-color: #665228;
}
.dark.third.tetrad {
  background-color: #7e6631;
  border-color: #493b1c;
}
.fourth.tetrad {
  background-color: #24ba3d;
  border-color: #146822;
}
.light.fourth.tetrad {
  background-color: #30d74c;
  border-color: #1a7729;
}
.dark.fourth.tetrad {
  background-color: #1d9832;
  border-color: #11571c;
}
.highlight {
  background-color: #06f1ef;
  border-color: #048584;
}
.light.highlight {
  background-color: #26faf8;
  border-color: #148988;
}
.dark.highlight {
  background-color: #05c9c8;
  border-color: #037170;
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-margin-right {
  margin-right: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.no-margin-left {
  margin-left: 0 !important;
}
.no-padding {
  padding: 0;
}
.no-margin,
.no-gutter {
  margin: 0;
}
.no-side-margin,
.no-side-margins {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.no-margins {
  margin: 0 !important;
}
.no-margins * {
  margin: 0 !important;
}
.no-box-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  box-shadow: unset;
}
.no-text-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  text-shadow: unset;
}
.no-border,
.no-borders,
.no-borders * {
  border-width: 0 !important;
}
.no-background {
  background: transparent;
}
.no-text-indent {
  text-indent: 0;
}
.no-text-align {
  text-align: initial;
}
.no-user-select {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.no-pointer-events {
  pointer-events: none;
}
.no-list-style {
  list-style-type: none;
  margin-left: 0;
}
.no-grid-gap,
.no-column-gap {
  grid-gap: 0;
  column-gap: 0;
}
@media print {
  html {
    font-size: 62.5%;
  }
  * {
    box-shadow: unset !important;
    border: unset !important;
  }
  nav {
    display: none !important;
  }
  .page-width,
  .text-width,
  .container {
    all: unset;
  }
  .inner-page-width,
  .inner-text-width,
  .inner-aside-width {
    all: unset;
  }
}
