/* This project uses Cavepaint! (MIT License) */
/* https://github.com/cavepaint/cavepaintCSS */
* {
  margin: 0 0 1.62rem 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}
.button,
button {
  border-style: solid;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(41, 6, 29, 0.16);
  display: inline;
  position: relative;
  font-family: inherit;
  font-size: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  color: inherit;
  background-color: inherit;
  border-color: #3b9f31;
  border-width: 1px;
  line-height: 1.6;
  text-align: center;
  vertical-align: middle;
  outline: none;
  white-space: nowrap;
  text-decoration: none;
  touch-action: manipulation;
  cursor: pointer;
  transform: scale(1);
  transition: 0.08s linear;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.button:active,
button:active {
  transform: scale(0.99);
  box-shadow: unset;
}
.bar {
  position: relative;
  width: 100%;
  display: block;
  vertical-align: middle;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.bar > * {
  display: inline;
  margin-right: 0.3236em;
  margin-left: 0.3236em;
  margin-bottom: 0;
}
.card {
  position: relative;
  overflow: hidden;
  padding: 1.62rem;
  border: 1px solid #61cb57;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(41, 6, 29, 0.16);
}
.card > *:first-child {
  margin-top: 0;
}
.card > *:last-child {
  margin-bottom: 0;
}
.badge {
  border-radius: 0.5em;
  line-height: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  padding-right: 0.6472em;
  padding-left: 0.6472em;
  vertical-align: middle;
  border-radius: 99px;
  white-space: nowrap;
}
.modal {
  display: none;
  max-width: none;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  position: fixed;
  bottom: 0;
  justify-content: center;
  flex: 0 1 auto;
  flex-direction: column;
  height: 100vh;
}
.modal > * {
  flex-direction: column;
  color: #062911;
  position: relative;
  background: #f2fff6;
  padding: 1.62rem;
  margin-bottom: 3.24rem;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(41, 6, 29, 0.16);
  margin: 1.62rem;
}
@media screen and (min-width: 46.24rem) {
  .modal > * {
    max-width: 69rem;
    margin: 0 auto;
  }
}
.overlay {
  margin: 0;
  padding: 0;
  position: relative;
}
.overlay .top,
.overlay .bottom,
.overlay .left,
.overlay .right {
  position: absolute;
}
.overlay .top {
  top: 0.3236em;
}
.overlay .bottom {
  bottom: 0.3236em;
}
.overlay .left {
  left: 0.3236em;
}
.overlay .right {
  right: 0.3236em;
}
.overlay.stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.overlay * {
  margin: 0;
  display: block;
}
.grid,
.two-column,
.three-column {
  display: grid;
  grid-gap: 1.62rem;
}
.grid.tablet,
.two-column.tablet,
.three-column.tablet,
.grid.mobile.tablet,
.two-column.mobile.tablet,
.three-column.mobile.tablet,
.grid.desktop,
.two-column.desktop,
.three-column.desktop {
  display: initial;
}
.grid {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.two-column {
  grid-template-columns: 1fr 1fr;
}
.two-column.golden {
  grid-template-columns: 1.618fr 1fr;
}
.two-column.golden.reverse {
  grid-template-columns: 1fr 1.618fr;
}
.three-column {
  grid-template-columns: 1fr 1fr 1fr;
}
.three-column.golden {
  grid-template-columns: 1fr 1.618fr 1fr;
}
.three-column.golden.leading {
  grid-template-columns: 1.618fr 1fr 1fr;
}
.three-column.golden.trailing {
  grid-template-columns: 1fr 1fr 1.618fr;
}
.grid .grid-width-one {
  grid-column: auto / span 1;
}
.grid .grid-width-two {
  grid-column: auto / span 2;
}
.grid .grid-width-three {
  grid-column: auto / span 3;
}
.grid .grid-width-four {
  grid-column: auto / span 4;
}
.grid .grid-width-five {
  grid-column: auto / span 5;
}
.grid .grid-width-six {
  grid-column: auto / span 6;
}
.grid .grid-width-seven {
  grid-column: auto / span 7;
}
.grid .grid-width-eight {
  grid-column: auto / span 8;
}
.grid .grid-width-nine {
  grid-column: auto / span 9;
}
.grid .grid-width-ten {
  grid-column: auto / span 10;
}
.grid .grid-width-eleven {
  grid-column: auto / span 11;
}
.grid .grid-width-twelve {
  grid-column: auto / span 12;
}
@media screen and (max-width: calc(46.24rem - 1px)) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: grid;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 46.24rem) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: initial;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: initial;
  }
  .grid.tablet,
  .two-column.tablet,
  .three-column.tablet {
    display: grid;
  }
  .grid.tablet > *,
  .two-column.tablet > *,
  .three-column.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (max-width: calc(69rem - 1px)) {
  .grid.mobile.tablet,
  .two-column.mobile.tablet,
  .three-column.mobile.tablet {
    display: grid;
  }
  .grid.mobile.tablet > *,
  .two-column.mobile.tablet > *,
  .three-column.mobile.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 69rem) {
  .grid.desktop,
  .two-column.desktop,
  .three-column.desktop {
    display: grid;
  }
  .grid.desktop > *,
  .two-column.desktop > *,
  .three-column.desktop > * {
    margin-bottom: 0;
  }
}
.responsive {
  column-gap: 0.619rem;
  grid-gap: 0.619rem;
}
.responsive.padding,
.modal,
.container {
  padding: 0.619rem;
}
.responsive.margin,
.container {
  margin: 0.619rem;
}
.responsive.gutter {
  margin: 1.238rem;
}
@media screen and (min-width: 46.24rem) {
  .responsive {
    column-gap: 1.001rem;
    grid-gap: 1.001rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.001rem;
  }
  .responsive.margin,
  .container {
    margin: 1.001rem;
  }
  .responsive.gutter {
    margin: 2.002rem;
  }
}
@media screen and (min-width: 69rem) {
  .responsive {
    column-gap: 1.62rem;
    grid-gap: 1.62rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.62rem;
  }
  .responsive.margin,
  .container {
    margin: 1.62rem;
  }
  .responsive.gutter {
    margin: 3.24rem;
  }
}
.background {
  background: #f2fff6;
}
.background-color {
  background-color: #f2fff6;
}
.border {
  border: 1px solid #61cb57;
}
.border-radius,
.rounded {
  border-radius: 0.5em;
}
.border-bottom {
  border-bottom: 1px solid #61cb57;
}
.border-left {
  border-left: 1px solid #61cb57;
}
.border-right {
  border-right: 1px solid #61cb57;
}
.border-style,
.button.border,
button.border {
  border-style: solid;
}
.border-top {
  border-top: 1px solid #61cb57;
}
.border-width,
.button.border,
button.border {
  border-width: 1px;
}
.max-width {
  max-width: 69rem;
}
.min-width {
  min-width: 26rem;
}
.align-content {
  align-content: stretch;
}
.align-items {
  align-items: stretch;
}
.align-self {
  align-self: auto;
}
.flex,
.vertical-center,
.center-vertical {
  flex: 0 1 auto;
}
.flex-basis {
  flex-basis: auto;
}
.flex-direction,
.vertical-center,
.center-vertical {
  flex-direction: column;
}
.flex-flow {
  flex-flow: column nowrap;
}
.flex-grow {
  flex-grow: 0;
}
.flex-shrink {
  flex-shrink: 1;
}
.flex-wrap {
  flex-wrap: nowrap;
}
.justify-content,
.vertical-center,
.center-vertical {
  justify-content: center;
}
.font-family {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "Droid Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
.font-size {
  font-size: 21px;
}
.font-weight {
  font-weight: normal;
}
.list-style {
  list-style: disc inside none;
}
.list-style-type {
  list-style-type: disc;
}
.margin {
  margin: 1.62rem;
}
.margin-bottom {
  margin-bottom: 1.62rem;
}
.margin-left {
  margin-left: 1.62rem;
}
.margin-right {
  margin-right: 1.62rem;
}
.margin-top {
  margin-top: 1.62rem;
}
.column-gap {
  column-gap: 1.94em;
}
.column-rule {
  column-rule: 1px solid #61cb57;
}
.padding {
  padding: 1.62rem;
}
.padding-bottom {
  padding-bottom: 1.62rem;
}
.padding-left {
  padding-left: 1.62rem;
}
.padding-right {
  padding-right: 1.62rem;
}
.padding-top {
  padding-top: 1.62rem;
}
.text-align {
  text-align: left;
}
.text-align-last {
  text-align-last: left;
}
.text-indent {
  text-indent: 2ch;
}
.text-justify {
  text-justify: justify;
}
.text-overflow {
  text-overflow: hidden;
}
.text-shadow {
  text-shadow: 1.41px 1.41px 1.41px rgba(41, 6, 29, 0.16);
}
.line-height {
  line-height: 1.8;
}
.vertical-align {
  vertical-align: middle;
}
.letter-spacing {
  letter-spacing: 0;
}
.word-spacing {
  word-spacing: normal;
}
.white-space {
  white-space: nowrap;
}
.word-break {
  word-break: break-all;
}
.word-wrap {
  word-wrap: break-word;
}
.transform {
  transform: none;
}
.transition {
  transition: all 0s ease 0s;
}
.display {
  display: block;
}
.position {
  position: absolute;
}
.top {
  top: 0;
}
.right {
  right: 0;
}
.bottom {
  bottom: 0;
}
.left {
  left: 0;
}
.float {
  float: left;
}
.clear {
  clear: both;
}
.z-index {
  z-index: 10;
}
.overflow {
  overflow: hidden;
}
.overflow-x {
  overflow-x: hidden;
}
.cursor {
  cursor: pointer;
}
.box-shadow {
  box-shadow: 1.41px 1.41px 1.41px rgba(41, 6, 29, 0.16);
}
.gutter {
  margin: 3.24rem;
}
.gutter-top {
  margin-top: 3.24rem;
}
.gutter-right {
  margin-right: 3.24rem;
}
.gutter-bottom {
  margin-bottom: 3.24rem;
}
.gutter-left {
  margin-left: 3.24rem;
}
.text-padding {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-padding-top {
  padding-top: 0.18em;
}
.text-padding-right {
  padding-right: 0.3236em;
}
.text-padding-bottom {
  padding-bottom: 0.22em;
}
.text-padding-left {
  padding-left: 0.3236em;
}
.text-margin {
  margin: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-margin-top {
  margin-top: 0.18em;
}
.text-margin-right {
  margin-right: 0.3236em;
}
.text-margin-bottom {
  margin-bottom: 0.22em;
}
.text-margin-left {
  margin-left: 0.3236em;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.initial {
  display: initial;
}
.table {
  display: table;
}
.flex,
.vertical-center,
.center-vertical {
  display: flex;
}
.inline-block {
  display: inline-block;
}
.static {
  position: static;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.margin-auto,
.container {
  margin-left: auto;
  margin-right: auto;
}
.width-auto {
  width: auto;
}
.inset {
  box-shadow: inset 1.41px 1.41px 1.41px rgba(41, 6, 29, 0.16);
}
.viewport-height {
  height: 100vh;
}
.min-viewport-height {
  min-height: 100vh;
}
.overflow-hidden {
  overflow: hidden;
}
.dashed {
  border-style: dashed;
}
.dotted {
  border-style: dotted;
}
.thick {
  border-width: 2px;
}
.thin {
  border-width: 0.5px;
}
.current-color {
  border-color: currentColor;
}
.fade {
  opacity: 0.65;
}
.serif,
.font-family-serif {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "Droid Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
.monospace,
.font-family-monospace {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
}
.sans-serif,
.font-family-sans-serif {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.text-transparent {
  color: transparent;
}
.reset {
  all: initial;
}
.big {
  font-size: 125%;
  line-height: 2.25;
}
.big.font-size {
  font-size: 26.25px;
}
.small,
.badge {
  font-size: 87.5%;
  line-height: 1.575;
}
.small.font-size {
  font-size: 18.375px;
}
.huge {
  font-size: 160%;
}
.huge.font-size {
  font-size: 33.6px;
}
.text-trim {
  line-height: 1;
}
.text-align-center,
.text-center {
  text-align: center;
}
.text-align-left,
.text-left {
  text-align: left;
}
.text-align-right,
.text-right {
  text-align: right;
}
.text-align-justify,
.text-justify {
  text-align: justify;
}
.grid-gap-margin {
  grid-gap: 1.62rem;
}
.grid-gap-border-width {
  grid-gap: 1px;
}
.grid-gap-text-padding,
.grid-gap-text-margin {
  grid-gap: 0.3236em;
}
.shade,
.white,
.orange,
.yellow,
.olive,
.green,
.teal,
.cyan,
.skyblue,
.violet,
.light.gray,
.light.magenta,
.lavender,
.cream,
.clover,
.light.cobalt,
.pewter,
.hotpink,
.neongreen,
.electricblue,
.lemon,
.lime,
.tangerine,
.light.reaction,
.default,
body,
input,
textarea,
.info,
.warning,
.success {
  color: #062911;
}
.tint,
.black,
.red,
.dark.olive,
.dark.green,
.dark.teal,
.blue,
.indigo,
.purple,
.dark.violet,
.gray,
.brown,
.magenta,
.charcoal,
.crimson,
.dark.clover,
.cobalt,
.graphite,
.ruby,
.onyx,
.gunmetal,
.dark.hotpink,
.royalpurple,
.grapefruit,
.reaction,
.dark.success,
.failure {
  color: #f2fff6;
}
.transparent {
  background-color: transparent;
  color: inherit;
  border-color: inherit;
}
.transparent.light {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23FFF%22%20fill-opacity%3D%220.16%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.transparent.dark,
.modal {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23000%22%20fill-opacity%3D%220.25%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.trim,
.trim-inner *,
.trim-all,
.trim-all * {
  margin-bottom: 0;
}
.hidden {
  display: none !important;
}
.clearfix,
.clear {
  clear: both;
}
.clearfix::after,
.clear::after {
  display: block;
  clear: both;
  content: "";
}
.golden-width {
  max-width: calc(62% - 3.24rem);
}
.golden-width.reverse {
  max-width: 38%;
}
.aside-width {
  max-width: 26rem;
}
@media screen and (min-width: 46.24rem) {
  .text-width {
    max-width: 43rem;
  }
}
.page-width,
.container {
  max-width: 69rem;
}
.full-width,
.aside-width .aside-width,
.text-width .text-width,
.page-width .page-width {
  display: block;
  width: 100%;
}
.inner-aside-width {
  padding-left: calc(50% - 13rem);
  padding-right: calc(50% - 13rem);
}
.inner-aside-width.padding {
  padding-left: calc(50% - 11.38rem);
  padding-right: calc(50% - 11.38rem);
}
.inner-aside-width.responsive.padding {
  padding-left: calc(50% - 12.38rem);
  padding-right: calc(50% - 12.38rem);
}
.inner-text-width {
  padding-left: calc(50% - 21.5rem);
  padding-right: calc(50% - 21.5rem);
}
.inner-text-width.padding {
  padding-left: calc(50% - 19.88rem);
  padding-right: calc(50% - 19.88rem);
}
.inner-text-width.responsive.padding {
  padding-left: calc(50% - 20.88rem);
  padding-right: calc(50% - 20.88rem);
}
.inner-page-width {
  padding-left: calc(50% - 34.5rem);
  padding-right: calc(50% - 34.5rem);
}
.inner-page-width.padding {
  padding-left: calc(50% - 32.88rem);
  padding-right: calc(50% - 32.88rem);
}
.inner-page-width.responsive.padding {
  padding-left: calc(50% - 33.88rem);
  padding-right: calc(50% - 33.88rem);
}
@media screen and (max-width: calc(46.24rem - 1px)) {
  .inner-text-width {
    padding-left: initial;
    padding-right: initial;
  }
  .inner-text-width.padding {
    padding-left: 1.62rem;
    padding-right: 1.62rem;
  }
  .inner-text-width.responsive.padding {
    padding-left: 0.619rem;
    padding-right: 0.619rem;
  }
}
@media screen and (min-width: 46.24rem) {
  .inner-aside-width.tablet.padding {
    padding-left: calc(50% - 11.38rem);
    padding-right: calc(50% - 11.38rem);
  }
  .inner-aside-width.tablet.responsive.padding {
    padding-left: calc(50% - 12rem);
    padding-right: calc(50% - 12rem);
  }
  .inner-text-width.tablet.padding {
    padding-left: calc(50% - 19.88rem);
    padding-right: calc(50% - 19.88rem);
  }
  .inner-text-width.tablet.responsive.padding {
    padding-left: calc(50% - 20.5rem);
    padding-right: calc(50% - 20.5rem);
  }
  .inner-page-width.tablet.padding {
    padding-left: calc(50% - 32.88rem);
    padding-right: calc(50% - 32.88rem);
  }
  .inner-page-width.tablet.responsive.padding {
    padding-left: calc(50% - 33.5rem);
    padding-right: calc(50% - 33.5rem);
  }
}
@media screen and (min-width: 69rem) {
  .inner-aside-width.desktop.padding {
    padding-left: calc(50% - 11.38rem);
    padding-right: calc(50% - 11.38rem);
  }
  .inner-aside-width.desktop.responsive.padding {
    padding-left: calc(50% - 11.38rem);
    padding-right: calc(50% - 11.38rem);
  }
  .inner-text-width.desktop.padding {
    padding-left: calc(50% - 19.88rem);
    padding-right: calc(50% - 19.88rem);
  }
  .inner-text-width.desktop.responsive.padding {
    padding-left: calc(50% - 19.88rem);
    padding-right: calc(50% - 19.88rem);
  }
  .inner-page-width.desktop.padding {
    padding-left: calc(50% - 32.88rem);
    padding-right: calc(50% - 32.88rem);
  }
  .inner-page-width.desktop.responsive.padding {
    padding-left: calc(50% - 32.88rem);
    padding-right: calc(50% - 32.88rem);
  }
}
@media screen and (max-width: calc(69rem - 1px)) {
  .inner-page-width {
    padding-left: initial;
    padding-right: initial;
  }
  .inner-page-width.padding {
    padding-left: 1.62rem;
    padding-right: 1.62rem;
  }
  .inner-page-width.responsive.padding {
    padding-left: 0.619rem;
    padding-right: 0.619rem;
  }
}
.texture,
.pattern {
  background-position: top center;
}
.texture {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20width%3D'42'%20height%3D'21'%20viewBox%3D'0%200%203.175%201.588'%3E%3Cg%20fill%3D'%23062911'%20fill-opacity%3D'0.16'%3E%3Ccircle%20cx%3D'.397'%20cy%3D'.397'%20r%3D'.397'/%3E%3Ccircle%20r%3D'.397'%20cy%3D'.397'%20cx%3D'1.191'/%3E%3Ccircle%20r%3D'.397'%20cy%3D'.397'%20cx%3D'1.984'/%3E%3Ccircle%20cx%3D'2.778'%20cy%3D'.397'%20r%3D'.397'/%3E%3Ccircle%20r%3D'.397'%20cy%3D'1.191'/%3E%3Ccircle%20cx%3D'.794'%20cy%3D'1.191'%20r%3D'.397'/%3E%3Ccircle%20cx%3D'1.587'%20cy%3D'1.191'%20r%3D'.397'/%3E%3Ccircle%20r%3D'.397'%20cy%3D'1.191'%20cx%3D'2.381'/%3E%3Ccircle%20cx%3D'3.175'%20cy%3D'1.191'%20r%3D'.397'/%3E%3C/g%3E%3C/svg%3E");
}
.pattern {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20width%3D'80'%20height%3D'50'%20viewBox%3D'0%200%2021.167%2013.229'%3E%3Cpath%20opacity%3D'0.16'%20fill%3D'%23062911'%20d%3D'M0%200h10.583v13.229H0z'/%3E%3C/svg%3E");
}
.placeholder::before {
  content: " ";
  white-space: pre;
}
.placeholder::after {
  content: "";
}
.placeholder.image,
.placeholder.video,
.placeholder.avatar {
  position: relative;
}
.placeholder.image::before,
.placeholder.video::before,
.placeholder.avatar::before {
  position: absolute;
  top: calc(50% - 4rem);
  right: 0;
  bottom: 0;
  left: 0;
  display: inline-block;
  text-align: center;
  font-size: 4rem;
  vertical-align: middle;
}
.placeholder.image.small::before,
.placeholder.video.small::before,
.placeholder.avatar.small::before {
  top: calc(50% - 2rem);
  font-size: 2rem;
}
.placeholder.image.big::before,
.placeholder.video.big::before,
.placeholder.avatar.big::before {
  top: calc(50% - 6rem);
  font-size: 6rem;
}
.placeholder.image.huge::before,
.placeholder.video.huge::before,
.placeholder.avatar.huge::before {
  top: calc(50% - 8rem);
  font-size: 8rem;
}
.placeholder.image::after,
.placeholder.video::after,
.placeholder.avatar::after {
  display: block;
}
.placeholder.image::before {
  content: "\1f5bc";
}
.placeholder.image::after {
  padding-top: 75%;
}
.placeholder.video::before {
  content: "\25B6";
}
.placeholder.video::after {
  padding-top: 56.25%;
}
.placeholder.avatar::before {
  content: "\263B";
}
.placeholder.avatar::after {
  padding-top: 100%;
}
.placeholder.no-icon::before {
  content: "";
}
.hide {
  display: none;
}
.hide.tablet {
  display: initial;
}
.hide.desktop {
  display: initial;
}
@media screen and (max-width: calc(46.24rem - 1px)) {
  .hide.mobile {
    display: none;
  }
}
@media screen and (min-width: 46.24rem) {
  .hide.mobile {
    display: initial;
  }
  .hide.tablet {
    display: none;
  }
}
@media screen and (min-width: 69rem) {
  .hide.desktop {
    display: none;
  }
  .hide.mobile.tablet {
    display: initial;
  }
}
@media screen and (max-width: calc(69rem - 1px)) {
  .hide.mobile.tablet {
    display: none;
  }
}
body {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "Droid Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  font-size: 21px;
  line-height: 1.8;
  margin: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
nav {
  z-index: 99;
}
nav a {
  text-decoration: none;
}
aside {
  margin: 0 auto;
  margin-bottom: 1.62rem;
  max-width: 26rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "Droid Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  font-weight: bold;
  margin-top: 0.49443758em;
  margin-bottom: 0.74165637em;
  letter-spacing: -0.025em;
  color: inherit;
  line-height: 1.618;
}
h1 {
  font-size: 2.4em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1em;
}
p {
  margin-bottom: 1em;
}
p.gutter-bottom {
  margin-bottom: 1.618em;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: inherit;
  text-decoration: underline;
}
a.target-blank::after,
a.new-tab::after,
a.external-link::after {
  content: "\00A0\1F855";
}
form {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "Droid Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  font-size: 21px;
  line-height: 1.8;
  border: 1px solid #61cb57;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input:focus {
  box-shadow: 0 0 2px #6fd3e5;
}
fieldset {
  border: none;
  outline: none;
}
ol {
  padding-left: 4ch;
  margin-bottom: 1.62rem;
}
ol li {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
ul {
  margin-left: 1.62rem;
  margin-bottom: 1.62rem;
}
li {
  margin-bottom: 0.44em;
}
kbd {
  color: #f2fff6;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  white-space: nowrap;
}
b {
  padding: 0.18em 0 0.22em 0;
}
pre {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
  overflow: hidden;
  border-radius: 0.5em;
  background: #394438;
  color: #f2fff6;
}
pre.white-space,
pre.word-break {
  white-space: pre-wrap;
}
pre > code {
  background: transparent;
  padding: 0;
}
code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
  color: #f2fff6;
  background-color: #2d485f;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
code.terminal::before {
  content: "$ ";
}
textarea {
  font-size: 21px;
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "Droid Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  line-height: 1.8;
  border: 1px solid #61cb57;
  border-radius: 0.5em;
  margin-bottom: 1.62rem;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
textarea:focus {
  box-shadow: 0 0 2px #6fd3e5;
}
.white,
body,
input,
textarea {
  background-color: #f2fff6;
  border-color: #798d80;
}
.black {
  background-color: #062911;
  border-color: #031409;
}
.ambient {
  color: #062911;
  background: #26fe6d;
  border-color: #138c3b;
}
.ambient.light {
  color: #062911;
  background: #4efe89;
  border-color: #288d49;
}
.ambient.dark {
  color: #062911;
  background: #01fb53;
  border-color: #018b2e;
}
.red,
.failure {
  background-color: #e1340e;
  border-color: #7d1d08;
}
.light.red,
.light.failure {
  background-color: #f24b26;
  border-color: #862914;
}
.dark.red,
.dark.failure {
  background-color: #bb2b0b;
  border-color: #6a1907;
}
.orange,
.warning {
  background-color: #e2b403;
  border-color: #7e6502;
}
.light.orange,
.light.warning {
  background-color: #fbcc13;
  border-color: #8b700a;
}
.dark.orange,
.dark.warning {
  background-color: #ba9403;
  border-color: #6a5502;
}
.yellow {
  background-color: #e2ff07;
  border-color: #7d8d04;
}
.light.yellow {
  background-color: #e7ff2f;
  border-color: #7f8d18;
}
.dark.yellow {
  background-color: #c3dc00;
  border-color: #6d7b01;
}
.olive {
  background-color: #92b30e;
  border-color: #536608;
}
.light.olive {
  background-color: #b1d910;
  border-color: #637909;
}
.dark.olive {
  background-color: #738d0b;
  border-color: #445306;
}
.green,
.success {
  background-color: #09ab0a;
  border-color: #066206;
}
.light.green,
.light.success {
  background-color: #0bd20c;
  border-color: #077607;
}
.dark.green,
.dark.success {
  background-color: #078508;
  border-color: #054f05;
}
.teal {
  background-color: #0cb3a1;
  border-color: #07665c;
}
.light.teal {
  background-color: #0fd9c3;
  border-color: #09796d;
}
.dark.teal {
  background-color: #0a8d7f;
  border-color: #06534b;
}
.cyan {
  background-color: #06fff6;
  border-color: #038d88;
}
.light.cyan {
  background-color: #2efff7;
  border-color: #188d88;
}
.dark.cyan {
  background-color: #00dbd3;
  border-color: #017b76;
}
.skyblue,
.info {
  background-color: #6fd3e5;
  border-color: #3a747e;
}
.light.skyblue,
.light.info {
  background-color: #92ddeb;
  border-color: #4b7981;
}
.dark.skyblue,
.dark.info {
  background-color: #4dc8de;
  border-color: #286e7b;
}
.blue {
  background-color: #062ef9;
  border-color: #041a89;
}
.light.blue {
  background-color: #2e50fa;
  border-color: #182b8a;
}
.dark.blue {
  background-color: #0527d1;
  border-color: #031675;
}
.indigo {
  background-color: #543199;
  border-color: #301c58;
}
.light.indigo {
  background-color: #653bb8;
  border-color: #382167;
}
.dark.indigo {
  background-color: #43277b;
  border-color: #271748;
}
.purple {
  background-color: #a23ab3;
  border-color: #5b2064;
}
.light.purple {
  background-color: #b650c6;
  border-color: #652b6e;
}
.dark.purple {
  background-color: #863094;
  border-color: #4d1b55;
}
.violet {
  background-color: #d28ee8;
  border-color: #73497f;
}
.light.violet {
  background-color: #e0b0ef;
  border-color: #795a83;
}
.dark.violet {
  background-color: #c56ce1;
  border-color: #6c387c;
}
.gray {
  background-color: #77947d;
  border-color: #415344;
}
.light.gray {
  background-color: #8ea693;
  border-color: #4c5c4f;
}
.dark.gray {
  background-color: #647f69;
  border-color: #37483a;
}
.brown {
  background-color: #9f6532;
  border-color: #5b391c;
}
.light.brown {
  background-color: #be793c;
  border-color: #6a4321;
}
.dark.brown {
  background-color: #805128;
  border-color: #4b2f17;
}
.magenta {
  background-color: #d24ef4;
  border-color: #732887;
}
.light.magenta {
  background-color: #dc74f7;
  border-color: #783b88;
}
.dark.magenta {
  background-color: #c827f2;
  border-color: #6e1586;
}
.lavender {
  background-color: #c5c2e7;
  border-color: #66657e;
}
.light.lavender {
  background-color: #e1e0f3;
  border-color: #747384;
}
.dark.lavender {
  background-color: #a8a5db;
  border-color: #585678;
}
.cream {
  background-color: #ebf9ce;
  border-color: #7e8969;
}
.light.cream {
  background-color: #fafdf2;
  border-color: #868b7b;
}
.dark.cream {
  background-color: #dcf4aa;
  border-color: #778656;
}
.charcoal {
  background-color: #505d33;
  border-color: #30381e;
}
.light.charcoal {
  background-color: #677841;
  border-color: #3b4525;
}
.dark.charcoal {
  background-color: #394324;
  border-color: #252b16;
}
.crimson {
  background-color: #b52426;
  border-color: #661415;
}
.light.crimson {
  background-color: #d52c2f;
  border-color: #76181a;
}
.dark.crimson {
  background-color: #931d1f;
  border-color: #551112;
}
.clover {
  background-color: #42c81f;
  border-color: #257011;
}
.light.clover {
  background-color: #55df31;
  border-color: #2e7b1a;
}
.dark.clover {
  background-color: #36a41a;
  border-color: #1f5e0f;
}
.cobalt {
  background-color: #2b89da;
  border-color: #174c79;
}
.light.cobalt {
  background-color: #4e9ce0;
  border-color: #29567c;
}
.dark.cobalt {
  background-color: #2174bc;
  border-color: #12416a;
}
.graphite {
  background-color: #2d485f;
  border-color: #1a2b3a;
}
.light.graphite {
  background-color: #3a5d7b;
  border-color: #213647;
}
.dark.graphite {
  background-color: #1f3343;
  border-color: #13212c;
}
.ruby {
  background-color: #a01a43;
  border-color: #5c0f27;
}
.light.ruby {
  background-color: #c31f52;
  border-color: #6d122e;
}
.dark.ruby {
  background-color: #7d1434;
  border-color: #4a0c1f;
}
.onyx {
  background-color: #394438;
  border-color: #222b21;
}
.light.onyx {
  background-color: #4c5b4b;
  border-color: #2c362a;
}
.dark.onyx {
  background-color: #272e26;
  border-color: #192018;
}
.pewter {
  background-color: #aab992;
  border-color: #5c664e;
}
.light.pewter {
  background-color: #bdc9ab;
  border-color: #666e5a;
}
.dark.pewter {
  background-color: #96a97a;
  border-color: #525e41;
}
.gunmetal {
  background-color: #437d77;
  border-color: #264845;
}
.light.gunmetal {
  background-color: #519890;
  border-color: #2d5651;
}
.dark.gunmetal {
  background-color: #35635e;
  border-color: #1e3b38;
}
.hotpink {
  background-color: #f168ab;
  border-color: #85355c;
}
.light.hotpink {
  background-color: #f48dc0;
  border-color: #864867;
}
.dark.hotpink {
  background-color: #ed4396;
  border-color: #832352;
}
.neongreen {
  background-color: #3bfe1a;
  border-color: #208c0d;
}
.light.neongreen {
  background-color: #5dfe42;
  border-color: #318c22;
}
.dark.neongreen {
  background-color: #23ee01;
  border-color: #148401;
}
.electricblue {
  background-color: #39cef2;
  border-color: #1e7186;
}
.light.electricblue {
  background-color: #60d7f4;
  border-color: #317687;
}
.dark.electricblue {
  background-color: #13c4ef;
  border-color: #0b6d84;
}
.royalpurple {
  background-color: #6e4ca9;
  border-color: #3d2a5e;
}
.light.royalpurple {
  background-color: #8364b9;
  border-color: #483667;
}
.dark.royalpurple {
  background-color: #5b3f8c;
  border-color: #342350;
}
.lemon {
  background-color: #f1fd90;
  border-color: #848c49;
}
.light.lemon {
  background-color: #f6feb8;
  border-color: #878c5d;
}
.dark.lemon {
  background-color: #ecfc68;
  border-color: #828b34;
}
.lime {
  background-color: #86f588;
  border-color: #448746;
}
.light.lime {
  background-color: #abf8ad;
  border-color: #578858;
}
.dark.lime {
  background-color: #60f263;
  border-color: #318533;
}
.tangerine {
  background-color: #f1b454;
  border-color: #85622b;
}
.light.tangerine {
  background-color: #f4c479;
  border-color: #876a3e;
}
.dark.tangerine {
  background-color: #eea32e;
  border-color: #835a18;
}
.grapefruit {
  background-color: #c65850;
  border-color: #6e2f2b;
}
.light.grapefruit {
  background-color: #d0756e;
  border-color: #733e3a;
}
.dark.grapefruit {
  background-color: #b2423a;
  border-color: #642520;
}
.action,
.base-color {
  color: #062911;
  background: #28ee4f;
  border-color: #15842b;
}
.action.light,
.base-color.light {
  color: #062911;
  background: #4ef16e;
  border-color: #28853a;
}
.action.dark,
.base-color.dark {
  color: #062911;
  background: #11dc39;
  border-color: #0a7a20;
}
.reaction {
  background-color: #d459c7;
  border-color: #752f6e;
}
.light.reaction {
  background-color: #dd7ad2;
  border-color: #7a4073;
}
.dark.reaction {
  background-color: #cc39bc;
  border-color: #711f68;
}
.default {
  background-color: #61cb57;
  border-color: #34702e;
}
.light.default {
  background-color: #7ed476;
  border-color: #43753e;
}
.dark.default {
  background-color: #46be3b;
  border-color: #276a20;
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-margin-right {
  margin-right: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.no-margin-left {
  margin-left: 0 !important;
}
.no-padding {
  padding: 0;
}
.no-margin,
.no-gutter {
  margin: 0;
}
.no-side-margin,
.no-side-margins {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.no-margins {
  margin: 0 !important;
}
.no-margins * {
  margin: 0 !important;
}
.no-box-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  box-shadow: unset;
}
.no-text-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  text-shadow: unset;
}
.no-border,
.no-borders,
.no-borders * {
  border-width: 0 !important;
}
.no-background {
  background: transparent;
}
.no-text-indent {
  text-indent: 0;
}
.no-text-align {
  text-align: initial;
}
.no-user-select {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.no-pointer-events {
  pointer-events: none;
}
.no-list-style {
  list-style-type: none;
  margin-left: 0;
}
.no-grid-gap,
.no-column-gap {
  grid-gap: 0;
  column-gap: 0;
}
@media print {
  html {
    font-size: 62.5%;
  }
  * {
    box-shadow: unset !important;
    border: unset !important;
  }
  nav {
    display: none !important;
  }
  .page-width,
  .text-width,
  .container {
    all: unset;
  }
  .inner-page-width,
  .inner-text-width,
  .inner-aside-width {
    all: unset;
  }
}
