/* This project uses Cavepaint (MIT License) by Rex Riepe */
/* https://github.com/cavepaint/cavepaintCSS */
* {
  margin: 0 0 1.62rem 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  margin-bottom: 0;
}
.button,
button {
  border-style: solid;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(0, 2, 41, 0.16);
  display: inline;
  position: relative;
  font-family: inherit;
  font-size: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  color: inherit;
  background-color: inherit;
  border-color: #7b6c18;
  border-width: 1px;
  line-height: 1.6;
  text-align: center;
  vertical-align: middle;
  outline: none;
  white-space: nowrap;
  text-decoration: none;
  touch-action: manipulation;
  cursor: pointer;
  transform: scale(1);
  transition: 0.08s linear;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.button:active,
button:active {
  transform: scale(0.99);
  box-shadow: unset;
}
.bar {
  position: relative;
  width: 100%;
  display: block;
  vertical-align: middle;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.bar > * {
  display: inline;
  margin-right: 0.3236em;
  margin-left: 0.3236em;
  margin-bottom: 0;
}
.card {
  position: relative;
  overflow: hidden;
  padding: 1.62rem;
  border: 1px solid #c0a825;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(0, 2, 41, 0.16);
}
.card > *:first-child {
  margin-top: 0;
}
.card > *:last-child {
  margin-bottom: 0;
}
.badge {
  border-radius: 0.5em;
  line-height: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  padding-right: 0.6472em;
  padding-left: 0.6472em;
  vertical-align: middle;
  border-radius: 99px;
  white-space: nowrap;
}
.modal {
  display: none;
  max-width: none;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  position: fixed;
  bottom: 0;
  justify-content: center;
  flex: 0 1 auto;
  flex-direction: column;
  height: 100vh;
}
.modal > * {
  flex-direction: column;
  color: #292700;
  position: relative;
  background: #fffef0;
  padding: 1.62rem;
  margin-bottom: 3.24rem;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(0, 2, 41, 0.16);
  margin: 1.62rem;
}
@media screen and (min-width: 37.24rem) {
  .modal > * {
    max-width: 55rem;
    margin: 0 auto;
  }
}
.overlay {
  margin: 0;
  padding: 0;
  position: relative;
}
.overlay .top,
.overlay .bottom,
.overlay .left,
.overlay .right {
  position: absolute;
}
.overlay .top {
  top: 0.3236em;
}
.overlay .bottom {
  bottom: 0.3236em;
}
.overlay .left {
  left: 0.3236em;
}
.overlay .right {
  right: 0.3236em;
}
.overlay.stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.overlay * {
  margin: 0;
  display: block;
}
.grid,
.two-column,
.three-column {
  display: grid;
  grid-gap: 1.62rem;
}
.grid.tablet,
.two-column.tablet,
.three-column.tablet,
.grid.mobile.tablet,
.two-column.mobile.tablet,
.three-column.mobile.tablet,
.grid.desktop,
.two-column.desktop,
.three-column.desktop {
  display: initial;
}
.grid {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.two-column {
  grid-template-columns: 1fr 1fr;
}
.two-column.golden {
  grid-template-columns: 1.618fr 1fr;
}
.two-column.golden.reverse {
  grid-template-columns: 1fr 1.618fr;
}
.three-column {
  grid-template-columns: 1fr 1fr 1fr;
}
.three-column.golden {
  grid-template-columns: 1fr 1.618fr 1fr;
}
.three-column.golden.leading {
  grid-template-columns: 1.618fr 1fr 1fr;
}
.three-column.golden.trailing {
  grid-template-columns: 1fr 1fr 1.618fr;
}
.grid-width-one {
  grid-column: auto / span 1;
}
.grid-width-two {
  grid-column: auto / span 2;
}
.grid-width-three {
  grid-column: auto / span 3;
}
.grid-width-four {
  grid-column: auto / span 4;
}
.grid-width-five {
  grid-column: auto / span 5;
}
.grid-width-six {
  grid-column: auto / span 6;
}
.grid-width-seven {
  grid-column: auto / span 7;
}
.grid-width-eight {
  grid-column: auto / span 8;
}
.grid-width-nine {
  grid-column: auto / span 9;
}
.grid-width-ten {
  grid-column: auto / span 10;
}
.grid-width-eleven {
  grid-column: auto / span 11;
}
.grid-width-twelve {
  grid-column: auto / span 12;
}
@media screen and (max-width: calc(37.24rem - 1px)) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: grid;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 37.24rem) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: initial;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: initial;
  }
  .grid.tablet,
  .two-column.tablet,
  .three-column.tablet {
    display: grid;
  }
  .grid.tablet > *,
  .two-column.tablet > *,
  .three-column.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (max-width: calc(55rem - 1px)) {
  .grid.mobile.tablet,
  .two-column.mobile.tablet,
  .three-column.mobile.tablet {
    display: grid;
  }
  .grid.mobile.tablet > *,
  .two-column.mobile.tablet > *,
  .three-column.mobile.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 55rem) {
  .grid.desktop,
  .two-column.desktop,
  .three-column.desktop {
    display: grid;
  }
  .grid.desktop > *,
  .two-column.desktop > *,
  .three-column.desktop > * {
    margin-bottom: 0;
  }
}
.responsive {
  column-gap: 0.619rem;
  grid-gap: 0.619rem;
}
.responsive.padding,
.modal,
.container {
  padding: 0.619rem;
}
.responsive.margin,
.container {
  margin: 0.619rem;
}
.responsive.gutter {
  margin: 1.238rem;
}
@media screen and (min-width: 37.24rem) {
  .responsive {
    column-gap: 1.001rem;
    grid-gap: 1.001rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.001rem;
  }
  .responsive.margin,
  .container {
    margin: 1.001rem;
  }
  .responsive.gutter {
    margin: 2.002rem;
  }
}
@media screen and (min-width: 55rem) {
  .responsive {
    column-gap: 1.62rem;
    grid-gap: 1.62rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.62rem;
  }
  .responsive.margin,
  .container {
    margin: 1.62rem;
  }
  .responsive.gutter {
    margin: 3.24rem;
  }
}
.background {
  background: #fffef0;
}
.background-color {
  background-color: #fffef0;
}
.border {
  border: 1px solid #c0a825;
}
.border-radius,
.rounded {
  border-radius: 0.5em;
}
.border-bottom {
  border-bottom: 1px solid #c0a825;
}
.border-left {
  border-left: 1px solid #c0a825;
}
.border-right {
  border-right: 1px solid #c0a825;
}
.border-style,
.button.border,
button.border {
  border-style: solid;
}
.border-top {
  border-top: 1px solid #c0a825;
}
.border-width,
.button.border,
button.border {
  border-width: 1px;
}
.max-width {
  max-width: 55rem;
}
.min-width {
  min-width: 21rem;
}
.align-content {
  align-content: stretch;
}
.align-items {
  align-items: stretch;
}
.align-self {
  align-self: auto;
}
.flex,
.vertical-center,
.center-vertical {
  flex: 0 1 auto;
}
.flex-basis {
  flex-basis: auto;
}
.flex-direction,
.vertical-center,
.center-vertical {
  flex-direction: column;
}
.flex-flow {
  flex-flow: column nowrap;
}
.flex-grow {
  flex-grow: 0;
}
.flex-shrink {
  flex-shrink: 1;
}
.flex-wrap {
  flex-wrap: nowrap;
}
.justify-content,
.vertical-center,
.center-vertical {
  justify-content: center;
}
.font-family,
body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "Droid Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
.font-size {
  font-size: 15px;
}
.font-weight {
  font-weight: normal;
}
.list-style {
  list-style: disc inside none;
}
.list-style-type {
  list-style-type: disc;
}
.margin {
  margin: 1.62rem;
}
.margin-bottom {
  margin-bottom: 1.62rem;
}
.margin-left {
  margin-left: 1.62rem;
}
.margin-right {
  margin-right: 1.62rem;
}
.margin-top {
  margin-top: 1.62rem;
}
.column-gap {
  column-gap: 1.94em;
}
.column-rule {
  column-rule: 1px solid #c0a825;
}
.padding {
  padding: 1.62rem;
}
.padding-bottom {
  padding-bottom: 1.62rem;
}
.padding-left {
  padding-left: 1.62rem;
}
.padding-right {
  padding-right: 1.62rem;
}
.padding-top {
  padding-top: 1.62rem;
}
.text-align {
  text-align: left;
}
.text-align-last {
  text-align-last: left;
}
.text-indent {
  text-indent: 2ch;
}
.text-justify {
  text-justify: justify;
}
.text-overflow {
  text-overflow: hidden;
}
.text-shadow {
  text-shadow: 1.41px 1.41px 1.41px rgba(0, 2, 41, 0.16);
}
.line-height {
  line-height: 1.8;
}
.vertical-align {
  vertical-align: middle;
}
.letter-spacing {
  letter-spacing: 0;
}
.word-spacing {
  word-spacing: normal;
}
.white-space {
  white-space: nowrap;
}
.word-break {
  word-break: break-all;
}
.word-wrap {
  word-wrap: break-word;
}
.transform {
  transform: none;
}
.transition {
  transition: all 0s ease 0s;
}
.display {
  display: block;
}
.position {
  position: absolute;
}
.top {
  top: 0;
}
.right {
  right: 0;
}
.bottom {
  bottom: 0;
}
.left {
  left: 0;
}
.float {
  float: left;
}
.clear {
  clear: both;
}
.z-index {
  z-index: 10;
}
.overflow {
  overflow: hidden;
}
.overflow-x {
  overflow-x: hidden;
}
.cursor {
  cursor: pointer;
}
.box-shadow {
  box-shadow: 1.41px 1.41px 1.41px rgba(0, 2, 41, 0.16);
}
.gutter {
  margin: 3.24rem;
}
.gutter-top {
  margin-top: 3.24rem;
}
.gutter-right {
  margin-right: 3.24rem;
}
.gutter-bottom {
  margin-bottom: 3.24rem;
}
.gutter-left {
  margin-left: 3.24rem;
}
.text-padding {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-padding-top {
  padding-top: 0.18em;
}
.text-padding-right {
  padding-right: 0.3236em;
}
.text-padding-bottom {
  padding-bottom: 0.22em;
}
.text-padding-left {
  padding-left: 0.3236em;
}
.text-margin {
  margin: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-margin-top {
  margin-top: 0.18em;
}
.text-margin-right {
  margin-right: 0.3236em;
}
.text-margin-bottom {
  margin-bottom: 0.22em;
}
.text-margin-left {
  margin-left: 0.3236em;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.initial {
  display: initial;
}
.table {
  display: table;
}
.flex,
.vertical-center,
.center-vertical {
  display: flex;
}
.inline-block {
  display: inline-block;
}
.static {
  position: static;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.margin-auto,
.container {
  margin-left: auto;
  margin-right: auto;
}
.width-auto {
  width: auto;
}
.inset {
  box-shadow: inset 1.41px 1.41px 1.41px rgba(0, 2, 41, 0.16);
}
.viewport-height {
  height: 100vh;
}
.min-viewport-height {
  min-height: 100vh;
}
.overflow-hidden {
  overflow: hidden;
}
.dashed {
  border-style: dashed;
}
.dotted {
  border-style: dotted;
}
.thick {
  border-width: 2px;
}
.thin {
  border-width: 0.5px;
}
.current-color {
  border-color: currentColor;
}
.fade {
  opacity: 0.65;
}
.serif,
.font-family-serif {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "Droid Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
.monospace,
.font-family-monospace,
pre,
code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
}
.sans-serif,
.font-family-sans-serif {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.text-transparent {
  color: transparent;
}
.reset {
  all: initial;
}
.big {
  font-size: 125%;
  line-height: 2.25;
}
.big.font-size {
  font-size: 18.75px;
}
.small,
.badge {
  font-size: 87.5%;
  line-height: 1.575;
}
.small.font-size {
  font-size: 13.125px;
}
.huge {
  font-size: 160%;
}
.huge.font-size {
  font-size: 24px;
}
.text-trim {
  line-height: 1;
}
.text-align-center,
.text-center {
  text-align: center;
}
.text-align-left,
.text-left {
  text-align: left;
}
.text-align-right,
.text-right {
  text-align: right;
}
.text-align-justify,
.text-justify {
  text-align: justify;
}
.grid-gap-margin {
  grid-gap: 1.62rem;
}
.grid-gap-border-width {
  grid-gap: 1px;
}
.grid-gap-text-padding,
.grid-gap-text-margin {
  grid-gap: 0.3236em;
}
.shade,
.white,
.orange,
.yellow,
.olive,
.light.green,
.teal,
.cyan,
.skyblue,
.violet,
.light.gray,
.light.magenta,
.lavender,
.cream,
.clover,
.light.cobalt,
.pewter,
.hotpink,
.neongreen,
.electricblue,
.lemon,
.lime,
.tangerine,
.light.grapefruit,
.default,
.warm,
.light.cool,
.neutral,
.accent,
.second.accent,
.split,
.triad,
.tetrad,
.second.tetrad,
.highlight,
body,
input,
textarea,
.info,
.warning,
.light.success {
  color: #292700;
}
.tint,
.black,
.red,
.dark.olive,
.green,
.dark.teal,
.blue,
.indigo,
.purple,
.gray,
.brown,
.magenta,
.charcoal,
.crimson,
.dark.clover,
.cobalt,
.graphite,
.ruby,
.onyx,
.gunmetal,
.dark.hotpink,
.royalpurple,
.grapefruit,
.reaction,
.dark.default,
.cool,
.complement,
.second.split,
.third.triad,
.third.tetrad,
.fourth.tetrad,
.success,
.failure,
.second.triad {
  color: #fffef0;
}
.transparent {
  background-color: transparent;
  color: inherit;
  border-color: inherit;
}
.transparent.light {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23FFF%22%20fill-opacity%3D%220.16%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.transparent.dark,
.modal {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23000%22%20fill-opacity%3D%220.25%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.trim,
.trim-inner *,
.trim-all,
.trim-all * {
  margin-bottom: 0;
}
.hidden {
  display: none !important;
}
.clearfix,
.clear {
  clear: both;
}
.clearfix::after,
.clear::after {
  display: block;
  clear: both;
  content: "";
}
.golden-width {
  max-width: calc(62% - 3.24rem);
}
.golden-width.reverse {
  max-width: 38%;
}
.aside-width {
  max-width: 21rem;
}
@media screen and (min-width: 37.24rem) {
  .text-width {
    max-width: 34rem;
  }
}
.page-width,
.container {
  max-width: 55rem;
}
.full-width,
.aside-width .aside-width,
.text-width .text-width,
.page-width .page-width {
  display: block;
  width: 100%;
}
.inner-aside-width {
  padding-left: calc(50% - 10.5rem);
  padding-right: calc(50% - 10.5rem);
}
.inner-aside-width.padding {
  padding-left: calc(50% - 8.88rem);
  padding-right: calc(50% - 8.88rem);
}
.inner-aside-width.responsive.padding {
  padding-left: calc(50% - 9.88rem);
  padding-right: calc(50% - 9.88rem);
}
@media screen and (max-width: calc(37.24rem - 1px)) {
  .inner-text-width {
    padding-left: initial;
    padding-right: initial;
  }
  .inner-text-width.padding {
    padding-left: 1.62rem;
    padding-right: 1.62rem;
  }
  .inner-text-width.responsive.padding {
    padding-left: 0.619rem;
    padding-right: 0.619rem;
  }
}
@media screen and (min-width: 37.24rem) {
  .inner-aside-width.tablet.padding {
    padding-left: calc(50% - 8.88rem);
    padding-right: calc(50% - 8.88rem);
  }
  .inner-aside-width.tablet.responsive.padding {
    padding-left: calc(50% - 9.5rem);
    padding-right: calc(50% - 9.5rem);
  }
  .inner-text-width {
    padding-left: calc(50% - 17rem);
    padding-right: calc(50% - 17rem);
  }
  .inner-text-width.padding {
    padding-left: calc(50% - 15.38rem);
    padding-right: calc(50% - 15.38rem);
  }
  .inner-text-width.responsive.padding {
    padding-left: calc(50% - 16rem);
    padding-right: calc(50% - 16rem);
  }
}
@media screen and (min-width: 55rem) {
  .inner-aside-width.desktop.padding {
    padding-left: calc(50% - 8.88rem);
    padding-right: calc(50% - 8.88rem);
  }
  .inner-aside-width.desktop.responsive.padding {
    padding-left: calc(50% - 8.88rem);
    padding-right: calc(50% - 8.88rem);
  }
  .inner-text-width.desktop.padding {
    padding-left: calc(50% - 15.38rem);
    padding-right: calc(50% - 15.38rem);
  }
  .inner-text-width.desktop.responsive.padding {
    padding-left: calc(50% - 15.38rem);
    padding-right: calc(50% - 15.38rem);
  }
  .inner-page-width {
    padding-left: calc(50% - 27.5rem);
    padding-right: calc(50% - 27.5rem);
  }
  .inner-page-width.padding {
    padding-left: calc(50% - 25.88rem);
    padding-right: calc(50% - 25.88rem);
  }
  .inner-page-width.responsive.padding {
    padding-left: calc(50% - 25.88rem);
    padding-right: calc(50% - 25.88rem);
  }
}
.texture,
.pattern {
  background-position: top center;
}
.texture {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20viewBox%3D'0%200%203.175%201.588'%20height%3D'15'%20width%3D'30'%3E%3Cg%20fill%3D'%23292700'%20fill-opacity%3D'0.05'%3E%3Cpath%20d%3D'M1.317%201.194h-.92l.23-.399.23-.398.23.398zM2.312%201.194l-.23-.399-.23-.398h.92l-.23.398z'/%3E%3C/g%3E%3C/svg%3E");
}
.pattern {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20width%3D'80'%20height%3D'50'%20viewBox%3D'0%200%2021.167%2013.229'%3E%3Cpath%20opacity%3D'0.05'%20fill%3D'%23292700'%20d%3D'M0%200h10.583v13.229H0z'/%3E%3C/svg%3E");
}
.placeholder::before {
  content: " ";
  white-space: pre;
}
.placeholder::after {
  content: "";
}
.placeholder.image,
.placeholder.video,
.placeholder.avatar {
  position: relative;
}
.placeholder.image::before,
.placeholder.video::before,
.placeholder.avatar::before {
  position: absolute;
  top: calc(50% - 4rem);
  right: 0;
  bottom: 0;
  left: 0;
  display: inline-block;
  text-align: center;
  font-size: 4rem;
  vertical-align: middle;
}
.placeholder.image.small::before,
.placeholder.video.small::before,
.placeholder.avatar.small::before {
  top: calc(50% - 2rem);
  font-size: 2rem;
}
.placeholder.image.big::before,
.placeholder.video.big::before,
.placeholder.avatar.big::before {
  top: calc(50% - 6rem);
  font-size: 6rem;
}
.placeholder.image.huge::before,
.placeholder.video.huge::before,
.placeholder.avatar.huge::before {
  top: calc(50% - 8rem);
  font-size: 8rem;
}
.placeholder.image::after,
.placeholder.video::after,
.placeholder.avatar::after {
  display: block;
}
.placeholder.image::before {
  content: "\1f5bc";
}
.placeholder.image::after {
  padding-top: 75%;
}
.placeholder.video::before {
  content: "\25B6";
}
.placeholder.video::after {
  padding-top: 56.25%;
}
.placeholder.avatar::before {
  content: "\263B";
}
.placeholder.avatar::after {
  padding-top: 100%;
}
.placeholder.no-icon::before {
  content: "";
}
.hide {
  display: none;
}
.hide.tablet {
  display: initial;
}
.hide.desktop {
  display: initial;
}
@media screen and (max-width: calc(37.24rem - 1px)) {
  .hide.mobile {
    display: none;
  }
}
@media screen and (min-width: 37.24rem) {
  .hide.mobile {
    display: initial;
  }
  .hide.tablet {
    display: none;
  }
}
@media screen and (min-width: 55rem) {
  .hide.desktop {
    display: none;
  }
  .hide.mobile.tablet {
    display: initial;
  }
}
@media screen and (max-width: calc(55rem - 1px)) {
  .hide.mobile.tablet {
    display: none;
  }
}
body {
  font-size: 15px;
  line-height: 1.8;
  margin: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
nav {
  z-index: 99;
}
nav a {
  text-decoration: none;
}
aside {
  margin: 0 auto;
  margin-bottom: 1.62rem;
  max-width: 21rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-top: 0.49443758em;
  margin-bottom: 0.74165637em;
  letter-spacing: -0.025em;
  color: inherit;
  line-height: 1.618;
}
h1 {
  font-size: 2.4em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1em;
}
p {
  margin-bottom: 1em;
}
p.gutter-bottom {
  margin-bottom: 1.618em;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: inherit;
  text-decoration: underline;
}
a.target-blank::after,
a.new-tab::after,
a.external-link::after {
  content: "\00A0\1F855";
}
form {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input {
  font-size: 15px;
  line-height: 1.8;
  border: 1px solid #c0a825;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input:focus {
  box-shadow: 0 0 2px #8fd1c5;
}
fieldset {
  border: none;
  outline: none;
}
ol {
  padding-left: 4ch;
  margin-bottom: 1.62rem;
}
ol li {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
ul {
  margin-left: 1.62rem;
  margin-bottom: 1.62rem;
}
li {
  margin-bottom: 0.44em;
}
kbd {
  color: #fffef0;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  white-space: nowrap;
}
b {
  padding: 0.18em 0 0.22em 0;
}
pre {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  overflow: hidden;
  border-radius: 0.5em;
  background: #474234;
  color: #fffef0;
}
pre.white-space,
pre.word-break {
  white-space: pre-wrap;
}
pre > code {
  background: transparent;
  padding: 0;
}
code {
  color: #fffef0;
  background-color: #3c4458;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
code.terminal::before {
  content: "$ ";
}
textarea {
  font-size: 15px;
  line-height: 1.8;
  border: 1px solid #c0a825;
  border-radius: 0.5em;
  margin-bottom: 1.62rem;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
textarea:focus {
  box-shadow: 0 0 2px #8fd1c5;
}
.white,
body,
input,
textarea {
  background-color: #fffef0;
  border-color: #8c8b78;
}
.black {
  background-color: #292700;
  border-color: #141300;
}
.ambient {
  color: #292700;
  background: #fff400;
  border-color: #8c8600;
}
.ambient.light {
  color: #292700;
  background: #fff629;
  border-color: #8c8715;
}
.ambient.dark {
  color: #292700;
  background: #d6cd00;
  border-color: #787300;
}
.red,
.failure {
  background-color: #ff2a05;
  border-color: #8c1703;
}
.light.red,
.light.failure {
  background-color: #ff4d2e;
  border-color: #8c2817;
}
.dark.red,
.dark.failure {
  background-color: #db2100;
  border-color: #7a1200;
}
.orange,
.warning {
  background-color: #ffb301;
  border-color: #8c6201;
}
.light.orange,
.light.warning {
  background-color: #ffbf2a;
  border-color: #8c6815;
}
.dark.orange,
.dark.warning {
  background-color: #d79700;
  border-color: #785400;
}
.yellow {
  background-color: #ffff03;
  border-color: #8c8c01;
}
.light.yellow {
  background-color: #ffff2b;
  border-color: #8c8c16;
}
.dark.yellow {
  background-color: #d9d900;
  border-color: #797900;
}
.olive {
  background-color: #b4b205;
  border-color: #666603;
}
.light.olive {
  background-color: #dbda06;
  border-color: #7a7903;
}
.dark.olive {
  background-color: #8c8b04;
  border-color: #525202;
}
.green,
.success {
  background-color: #2daa04;
  border-color: #196202;
}
.light.green,
.light.success {
  background-color: #37d205;
  border-color: #1f7603;
}
.dark.green,
.dark.success {
  background-color: #228303;
  border-color: #144e02;
}
.teal {
  background-color: #2eb28b;
  border-color: #19644e;
}
.light.teal {
  background-color: #3ccda2;
  border-color: #207159;
}
.dark.teal {
  background-color: #259272;
  border-color: #155441;
}
.cyan {
  background-color: #40ffc1;
  border-color: #208c69;
}
.light.cyan {
  background-color: #69ffce;
  border-color: #358c70;
}
.dark.cyan {
  background-color: #18ffb4;
  border-color: #0c8c62;
}
.skyblue,
.info {
  background-color: #8fd1c5;
  border-color: #4a736b;
}
.light.skyblue,
.light.info {
  background-color: #acddd4;
  border-color: #597872;
}
.dark.skyblue,
.dark.info {
  background-color: #72c6b6;
  border-color: #3c6d63;
}
.blue {
  background-color: #2b28d6;
  border-color: #171576;
}
.light.blue {
  background-color: #4c49dd;
  border-color: #28267a;
}
.dark.blue {
  background-color: #2421b4;
  border-color: #141265;
}
.indigo {
  background-color: #772984;
  border-color: #45174d;
}
.light.indigo {
  background-color: #9333a4;
  border-color: #531c5c;
}
.dark.indigo {
  background-color: #5b1f65;
  border-color: #37123d;
}
.purple {
  background-color: #c32d9b;
  border-color: #6d1856;
}
.light.purple {
  background-color: #d445ad;
  border-color: #75245f;
}
.dark.purple {
  background-color: #a22580;
  border-color: #5c1449;
}
.violet {
  background-color: #f089c7;
  border-color: #84466b;
}
.light.violet {
  background-color: #f5add8;
  border-color: #865874;
}
.dark.violet {
  background-color: #ec65b6;
  border-color: #813363;
}
.gray {
  background-color: #999069;
  border-color: #555038;
}
.light.gray {
  background-color: #aaa281;
  border-color: #5e5945;
}
.dark.gray {
  background-color: #817a58;
  border-color: #494530;
}
.brown {
  background-color: #af622c;
  border-color: #623618;
}
.light.brown {
  background-color: #cd7436;
  border-color: #71401d;
}
.dark.brown {
  background-color: #8e4f23;
  border-color: #522d14;
}
.magenta {
  background-color: #ff40c1;
  border-color: #8c2069;
}
.light.magenta {
  background-color: #ff68ce;
  border-color: #8c3470;
}
.dark.magenta {
  background-color: #ff17b3;
  border-color: #8c0c62;
}
.lavender {
  background-color: #d2bfd8;
  border-color: #706375;
}
.light.lavender {
  background-color: #e4d8e7;
  border-color: #79707d;
}
.dark.lavender {
  background-color: #c0a6c8;
  border-color: #68576d;
}
.cream {
  background-color: #f9f9bd;
  border-color: #888860;
}
.light.cream {
  background-color: #fcfce3;
  border-color: #8a8a72;
}
.dark.cream {
  background-color: #f6f698;
  border-color: #87874d;
}
.charcoal {
  background-color: #745929;
  border-color: #443417;
}
.light.charcoal {
  background-color: #927034;
  border-color: #533f1c;
}
.dark.charcoal {
  background-color: #56421f;
  border-color: #352812;
}
.crimson {
  background-color: #c41e20;
  border-color: #6d1011;
}
.light.crimson {
  background-color: #df2c2e;
  border-color: #7b1818;
}
.dark.crimson {
  background-color: #a1191a;
  border-color: #5c0e0e;
}
.clover {
  background-color: #64c716;
  border-color: #386f0c;
}
.light.clover {
  background-color: #77e620;
  border-color: #417f11;
}
.dark.clover {
  background-color: #51a212;
  border-color: #2e5d0a;
}
.cobalt {
  background-color: #3986cc;
  border-color: #1f4a71;
}
.light.cobalt {
  background-color: #5a9ad4;
  border-color: #2f5475;
}
.dark.cobalt {
  background-color: #2d72af;
  border-color: #193f62;
}
.graphite {
  background-color: #3c4458;
  border-color: #222735;
}
.light.graphite {
  background-color: #4c5771;
  border-color: #2a3141;
}
.dark.graphite {
  background-color: #2b3140;
  border-color: #1a1e29;
}
.ruby {
  background-color: #c71431;
  border-color: #6f0b1b;
}
.light.ruby {
  background-color: #e81d3d;
  border-color: #800f21;
}
.dark.ruby {
  background-color: #a21128;
  border-color: #5d0917;
}
.onyx {
  background-color: #474234;
  border-color: #2c281e;
}
.light.onyx {
  background-color: #5f5845;
  border-color: #383327;
}
.dark.onyx {
  background-color: #302c23;
  border-color: #201d15;
}
.pewter {
  background-color: #b8b784;
  border-color: #656545;
}
.light.pewter {
  background-color: #c7c69e;
  border-color: #6d6c52;
}
.dark.pewter {
  background-color: #a9a86a;
  border-color: #5e5d39;
}
.gunmetal {
  background-color: #657966;
  border-color: #374537;
}
.light.gunmetal {
  background-color: #788f79;
  border-color: #405041;
}
.dark.gunmetal {
  background-color: #526353;
  border-color: #2d3a2e;
}
.hotpink {
  background-color: #ff629e;
  border-color: #8c3154;
}
.light.hotpink {
  background-color: #ff8bb7;
  border-color: #8c4560;
}
.dark.hotpink {
  background-color: #ff3984;
  border-color: #8c1d47;
}
.neongreen {
  background-color: #48ff13;
  border-color: #278c09;
}
.light.neongreen {
  background-color: #68ff3b;
  border-color: #378c1e;
}
.dark.neongreen {
  background-color: #35e800;
  border-color: #1d8100;
}
.electricblue {
  background-color: #45cde3;
  border-color: #24707d;
}
.light.electricblue {
  background-color: #68d6e8;
  border-color: #35757f;
}
.dark.electricblue {
  background-color: #22c3dd;
  border-color: #126b7a;
}
.royalpurple {
  background-color: #7b459d;
  border-color: #452558;
}
.light.royalpurple {
  background-color: #9056b5;
  border-color: #4f2e64;
}
.dark.royalpurple {
  background-color: #653881;
  border-color: #3a1f4a;
}
.lemon {
  background-color: #fffd85;
  border-color: #8c8b42;
}
.light.lemon {
  background-color: #fffead;
  border-color: #8c8b57;
}
.dark.lemon {
  background-color: #fffd5c;
  border-color: #8c8b2e;
}
.lime {
  background-color: #a5f572;
  border-color: #57863a;
}
.light.lime {
  background-color: #bdf898;
  border-color: #64884d;
}
.dark.lime {
  background-color: #8cf24c;
  border-color: #4b8527;
}
.tangerine {
  background-color: #ffb24b;
  border-color: #8c6025;
}
.light.tangerine {
  background-color: #ffc373;
  border-color: #8c693a;
}
.dark.tangerine {
  background-color: #ffa022;
  border-color: #8c5711;
}
.grapefruit {
  background-color: #e45041;
  border-color: #7d2a22;
}
.light.grapefruit {
  background-color: #e97164;
  border-color: #803b33;
}
.dark.grapefruit {
  background-color: #dd321f;
  border-color: #7a1b11;
}
.action,
.base-color {
  color: #292700;
  background: #f9c103;
  border-color: #896a02;
}
.action.light,
.base-color.light {
  color: #292700;
  background: #fccc28;
  border-color: #8b7014;
}
.action.dark,
.base-color.dark {
  color: #292700;
  background: #d1a203;
  border-color: #755b01;
}
.reaction {
  background-color: #3c65d4;
  border-color: #203775;
}
.light.reaction {
  background-color: #5d7fdb;
  border-color: #304479;
}
.dark.reaction {
  background-color: #2a52bd;
  border-color: #172d69;
}
.default {
  background-color: #c0a825;
  border-color: #6b5d14;
}
.light.default {
  background-color: #d8bf36;
  border-color: #77691d;
}
.dark.default {
  background-color: #9d8a1f;
  border-color: #5a4e11;
}
.warm {
  background-color: #ffd121;
  border-color: #8c7310;
}
.light.warm {
  background-color: #ffda4a;
  border-color: #8c7725;
}
.dark.warm {
  background-color: #f7c400;
  border-color: #886c00;
}
.cool {
  background-color: #827c9f;
  border-color: #464258;
}
.light.cool {
  background-color: #9993b0;
  border-color: #514e61;
}
.dark.cool {
  background-color: #6d668c;
  border-color: #3b374e;
}
.neutral {
  background-color: #e3e123;
  border-color: #7d7c13;
}
.light.neutral {
  background-color: #e8e647;
  border-color: #7f7f25;
}
.dark.neutral {
  background-color: #c5c319;
  border-color: #6e6d0d;
}
.complement,
.second.triad {
  background-color: #3762d3;
  border-color: #1d3574;
}
.light.complement,
.light.second.triad {
  background-color: #597cda;
  border-color: #2e4278;
}
.dark.complement,
.dark.second.triad {
  background-color: #2950b9;
  border-color: #162c67;
}
.accent {
  background-color: #d9fe4e;
  border-color: #768b27;
}
.light.accent {
  background-color: #e2fe77;
  border-color: #7b8c3b;
}
.dark.accent {
  background-color: #d0fd26;
  border-color: #728b13;
}
.second.accent {
  background-color: #fe9a4e;
  border-color: #8b5227;
}
.light.second.accent {
  background-color: #feb177;
  border-color: #8c5e3b;
}
.dark.second.accent {
  background-color: #fd8326;
  border-color: #8b4713;
}
.split {
  background-color: #33fb41;
  border-color: #1a8a22;
}
.light.split {
  background-color: #5cfc67;
  border-color: #2e8a34;
}
.dark.split {
  background-color: #0bfb1c;
  border-color: #068a0f;
}
.second.split {
  background-color: #fb309c;
  border-color: #8a1855;
}
.light.second.split {
  background-color: #fc58af;
  border-color: #8a2c5e;
}
.dark.second.split {
  background-color: #fb0889;
  border-color: #8a044b;
}
.triad {
  background-color: #61fb0b;
  border-color: #358a05;
}
.light.triad {
  background-color: #7bfc33;
  border-color: #428a1a;
}
.dark.triad {
  background-color: #50da03;
  border-color: #2d7902;
}
.third.triad {
  background-color: #fb3038;
  border-color: #8a181d;
}
.light.third.triad {
  background-color: #fc585f;
  border-color: #8a2c30;
}
.dark.third.triad {
  background-color: #fb0812;
  border-color: #8a040a;
}
.tetrad {
  background-color: #93fb0b;
  border-color: #518a05;
}
.light.tetrad {
  background-color: #a5fc33;
  border-color: #598a1a;
}
.dark.tetrad {
  background-color: #7dda03;
  border-color: #467902;
}
.second.tetrad {
  background-color: #33f7d3;
  border-color: #1a8873;
}
.light.second.tetrad {
  background-color: #5bf8db;
  border-color: #2e8878;
}
.dark.second.tetrad {
  background-color: #0cf5ca;
  border-color: #07876f;
}
.third.tetrad {
  background-color: #9c30d3;
  border-color: #561a74;
}
.light.third.tetrad {
  background-color: #ac52da;
  border-color: #5e2b78;
}
.dark.third.tetrad {
  background-color: #8426b3;
  border-color: #4a1565;
}
.fourth.tetrad {
  background-color: #fb350b;
  border-color: #8a1d05;
}
.light.fourth.tetrad {
  background-color: #fc5633;
  border-color: #8a2d1a;
}
.dark.fourth.tetrad {
  background-color: #da2903;
  border-color: #791702;
}
.highlight {
  background-color: #51ff7b;
  border-color: #298c41;
}
.light.highlight {
  background-color: #7aff9a;
  border-color: #3d8c50;
}
.dark.highlight {
  background-color: #29ff5d;
  border-color: #148c31;
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-margin-right {
  margin-right: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.no-margin-left {
  margin-left: 0 !important;
}
.no-padding {
  padding: 0;
}
.no-margin,
.no-gutter {
  margin: 0;
}
.no-side-margin,
.no-side-margins {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.no-margins {
  margin: 0 !important;
}
.no-margins * {
  margin: 0 !important;
}
.no-box-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  box-shadow: unset;
}
.no-text-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  text-shadow: unset;
}
.no-border,
.no-borders,
.no-borders * {
  border-width: 0 !important;
}
.no-background {
  background: transparent;
}
.no-text-indent {
  text-indent: 0;
}
.no-text-align {
  text-align: initial;
}
.no-user-select {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.no-pointer-events {
  pointer-events: none;
}
.no-list-style {
  list-style-type: none;
  margin-left: 0;
}
.no-grid-gap,
.no-column-gap {
  grid-gap: 0;
  column-gap: 0;
}
@media print {
  html {
    font-size: 62.5%;
  }
  * {
    box-shadow: unset !important;
    border: unset !important;
  }
  nav {
    display: none !important;
  }
  .page-width,
  .text-width,
  .container {
    all: unset;
  }
  .inner-page-width,
  .inner-text-width,
  .inner-aside-width {
    all: unset;
  }
}
