/* This project uses Cavepaint (MIT License) by Rex Riepe */
/* https://github.com/cavepaint/cavepaintCSS */
:root {
  --font-size: 18px;
  --headline-size: 1em;
  --spacer: 1rem;
  --padding: calc(0.4 * var(--spacer));
  --margin: calc(0.4 * var(--spacer));
  --gutter: calc(0.8 * var(--spacer));
  --text-padding: 0.25em;
  --grid-gap: var(--spacer);
  --border-width: 1px;
  --border-style: solid;
  --border-color: black;
  --border: var(--border-width) var(--border-style) var(--border-color);
  --border-thin: calc(var(--border-width) / 2);
  --border-thick: calc(var(--border-width) * 2);
  --border-radius: var(--text-padding);
  --tablet: calc(var(--text-width) + var(--gutter));
  --desktop: calc(var(--page-width) + var(--gutter));
  --card-width: 22rem;
  --text-width: 37rem;
  --page-width: 59rem;
  --box-shadow: var(--shadow-position) var(--shadow-position) var(--shadow-blur) var(--shadow-color);
  --shadow-position: 2px;
  --shadow-blur: 2px;
  --shadow-color: rgba(23, 6, 25, 0.2);
}
@media screen and (min-width: 1px) {
  :root {
    --padding: calc(0.4 * var(--spacer));
    --margin: calc(0.4 * var(--spacer));
    --gutter: calc(0.8 * var(--spacer));
    --font-size: 16px;
    --headline-size: 1em;
  }
}
@media screen and (min-width: 39rem) {
  :root {
    --padding: calc(0.6 * var(--spacer));
    --margin: calc(0.6 * var(--spacer));
    --gutter: calc(1.2 * var(--spacer));
    --font-size: 18px;
    --headline-size: 1.1em;
  }
}
@media screen and (min-width: 61rem) {
  :root {
    --padding: calc(1 * var(--spacer));
    --margin: calc(1 * var(--spacer));
    --gutter: calc(2 * var(--spacer));
    --font-size: 20px;
    --headline-size: 1.2em;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-size: var(--font-size);
  line-height: var(--line-height);
  margin: 0;
  -webkit-overflow-scrolling: touch;
}
nav {
  z-index: 99;
}
nav a {
  text-decoration: none;
}
aside {
  max-width: 22rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
  letter-spacing: -0.025em;
  color: inherit;
  line-height: 1.5;
}
h1 {
  font-size: calc(var(--headline-size) * 2.2);
}
h2 {
  font-size: calc(var(--headline-size) * 1.6);
}
h3 {
  font-size: calc(var(--headline-size) * 1.4);
}
h4 {
  font-size: calc(var(--headline-size) * 1.2);
}
h5 {
  font-size: calc(var(--headline-size) * 1.1);
}
h6 {
  font-size: calc(var(--headline-size) * 1);
}
p {
  margin-bottom: 1em;
}
p.gutter-bottom {
  margin-bottom: 1.618em;
}
p.gutter {
  margin-bottom: 2rem;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: inherit;
  text-decoration: underline;
}
input {
  line-height: var(--line-height);
  padding: var(--text-padding);
}
fieldset {
  border: none;
  outline: none;
}
ol {
  padding-left: 4ch;
  margin-bottom: var(--margin);
}
ol li {
  padding: var(--text-padding);
}
ul {
  margin-left: 1rem;
  margin-bottom: var(--margin-bottom);
}
li {
  margin-bottom: var(--text-padding);
}
kbd {
  color: #f8f2f9;
  border-radius: var(--border-radius);
  padding: var(--text-padding);
  white-space: nowrap;
}
b {
  padding: 0.18em 0 0.22em 0;
}
em {
  display: inline;
  font-style: italic;
}
pre {
  padding: var(--text-padding);
  overflow: hidden;
  background: #170619;
  color: #f8f2f9;
}
pre.white-space,
pre.word-break {
  white-space: pre-wrap;
}
pre > code {
  background: transparent;
  padding: 0;
}
code {
  color: #f8f2f9;
  background-color: #170619;
  padding: var(--text-padding);
}
code.terminal::before {
  content: "$ ";
}
textarea {
  font-size: var(--font-size);
  padding: var(--text-padding);
}
.button,
button {
  display: inline;
  box-shadow: var(--box-shadow);
  position: relative;
  font-family: inherit;
  font-size: inherit;
  padding: var(--text-padding) var(--padding);
  color: inherit;
  background-color: inherit;
  border-width: var(--border-width);
  line-height: 1;
  text-align: center;
  vertical-align: middle;
  outline: none;
  white-space: nowrap;
  text-decoration: none;
  touch-action: manipulation;
  cursor: pointer;
  transform: scale(1);
  transition: scale 0.08s linear;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.button:active,
button:active {
  transform: scale(0.96);
  box-shadow: unset;
}
.bar {
  position: relative;
  width: 100%;
  display: block;
  vertical-align: middle;
  padding: var(--text-padding) var(--padding);
}
.bar > * {
  display: inline;
  margin-right: var(--text-margin);
  margin-left: var(--text-margin);
}
.bar > *:first-child {
  margin-left: 0;
}
.bar > *:last-child {
  margin-right: 0;
}
.card {
  position: relative;
  overflow: hidden;
  border: var(--border);
  border-radius: var(--border-radius);
  padding: var(--padding);
  box-shadow: var(--box-shadow);
}
.badge {
  border-radius: var(--text-padding);
  line-height: inherit;
  padding: var(--text-padding);
  vertical-align: middle;
  border-radius: 99px;
  white-space: nowrap;
}
.modal {
  max-width: none;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  position: fixed;
  bottom: 0;
  justify-content: center;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  min-height: 100vh;
}
.modal.force {
  height: 100vh;
}
.overlay {
  padding: 0;
  position: relative;
}
.overlay .top,
.overlay .bottom,
.overlay .left,
.overlay .right {
  position: absolute;
  z-index: 10;
}
.overlay.stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.white,
body,
input,
textarea,
.card {
  --h: 295.5;
  --s: 36.5%;
  --l: 96.2%;
}
.light.white {
  --l: 97.9%;
}
.dark.white {
  --l: 93%;
}
.bright.white {
  --s: 51.8%;
  --l: 96.4%;
}
.dim.white {
  --s: 0.3%;
  --l: 78.1%;
}
.black {
  --h: 295.5;
  --s: 61.8%;
  --l: 5.9%;
}
.light.black {
  --l: 17.8%;
}
.dark.black {
  --l: 1.4%;
}
.bright.black {
  --s: 72.6%;
  --l: 11.4%;
}
.dim.black {
  --s: 54.4%;
  --l: 4.8%;
}
.ambient {
  --h: 295.5;
  --s: 61.8%;
  --l: 37.1%;
}
.light.ambient {
  --l: 55.7%;
}
.dark.ambient {
  --l: 21.6%;
}
.bright.ambient {
  --s: 71.7%;
  --l: 40%;
}
.dim.ambient {
  --s: 54.4%;
  --l: 30.3%;
}
.red,
.failure {
  --h: 356.3;
  --s: 90.5%;
  --l: 47.9%;
}
.light.red,
.light.failure {
  --l: 55%;
}
.dark.red,
.dark.failure {
  --l: 42.5%;
}
.bright.red,
.bright.failure {
  --s: 98.4%;
  --l: 49.4%;
}
.dim.red,
.dim.failure {
  --s: 82.6%;
  --l: 39.1%;
}
.orange,
.warning {
  --h: 38.5;
  --s: 99.9%;
  --l: 50.1%;
}
.light.orange,
.light.warning {
  --l: 50.4%;
}
.dark.orange,
.dark.warning {
  --l: 50%;
}
.bright.orange,
.bright.warning {
  --s: 100%;
  --l: 54.9%;
}
.dim.orange,
.dim.warning {
  --s: 91.6%;
  --l: 41%;
}
.yellow {
  --h: 53.6;
  --s: 99.8%;
  --l: 51.4%;
}
.light.yellow {
  --l: 55.1%;
}
.dark.yellow {
  --l: 50.2%;
}
.bright.yellow {
  --s: 100%;
  --l: 56.1%;
}
.dim.yellow {
  --s: 86.3%;
  --l: 42.1%;
}
.green,
.success {
  --h: 121.9;
  --s: 88.9%;
  --l: 22.9%;
}
.light.green,
.light.success {
  --l: 36.2%;
}
.dark.green,
.dark.success {
  --l: 10.2%;
}
.bright.green,
.bright.success {
  --s: 71.3%;
  --l: 28%;
}
.dim.green,
.dim.success {
  --s: 80.7%;
  --l: 18.4%;
}
.teal {
  --h: 185.5;
  --s: 94.9%;
  --l: 26.2%;
}
.light.teal {
  --l: 37.7%;
}
.dark.teal {
  --l: 15.6%;
}
.bright.teal {
  --s: 80.9%;
  --l: 33.1%;
}
.dim.teal {
  --s: 86.9%;
  --l: 21.5%;
}
.cyan,
.info {
  --h: 189;
  --s: 88.6%;
  --l: 51.1%;
}
.light.cyan,
.light.info {
  --l: 60.5%;
}
.dark.cyan,
.dark.info {
  --l: 46%;
}
.bright.cyan,
.bright.info {
  --s: 100%;
  --l: 55.6%;
}
.dim.cyan,
.dim.info {
  --s: 76.6%;
  --l: 41.9%;
}
.blue {
  --h: 241.7;
  --s: 88.5%;
  --l: 49%;
}
.light.blue {
  --l: 56.7%;
}
.dark.blue {
  --l: 43.6%;
}
.bright.blue {
  --s: 98%;
  --l: 50.4%;
}
.dim.blue {
  --s: 80.7%;
  --l: 40.1%;
}
.purple {
  --h: 299.3;
  --s: 99.9%;
  --l: 26%;
}
.light.purple {
  --l: 35.6%;
}
.dark.purple {
  --l: 15.9%;
}
.bright.purple {
  --s: 100%;
  --l: 29.4%;
}
.dim.purple {
  --s: 91.9%;
  --l: 21.3%;
}
.magenta {
  --h: 299.9;
  --s: 88.5%;
  --l: 48%;
}
.light.magenta {
  --l: 56.1%;
}
.dark.magenta {
  --l: 42.1%;
}
.bright.magenta {
  --s: 96.5%;
  --l: 49.5%;
}
.dim.magenta {
  --s: 80.7%;
  --l: 39.3%;
}
.gray {
  --h: 295.6;
  --s: 4.7%;
  --l: 48.8%;
}
.light.gray {
  --l: 68.3%;
}
.dark.gray {
  --l: 26.9%;
}
.bright.gray {
  --s: 20.4%;
  --l: 51.8%;
}
.dim.gray {
  --s: 0%;
  --l: 39.7%;
}
.action,
.base-color {
  --h: 295.3;
  --s: 45.1%;
  --l: 27.8%;
}
.light.action,
.light.base-color {
  --l: 49.4%;
}
.dark.action,
.dark.base-color {
  --l: 11.9%;
}
.bright.action,
.bright.base-color {
  --s: 57.6%;
  --l: 31.7%;
}
.dim.action,
.dim.base-color {
  --s: 37.8%;
  --l: 22.7%;
}
.reaction {
  --h: 117.2;
  --s: 34.2%;
  --l: 16.5%;
}
.light.reaction {
  --l: 37.4%;
}
.dark.reaction {
  --l: 4.4%;
}
.bright.reaction {
  --s: 22.4%;
  --l: 21.7%;
}
.dim.reaction {
  --s: 25.4%;
  --l: 13.4%;
}
.default {
  --h: 295.8;
  --s: 17.3%;
  --l: 55.9%;
}
.light.default {
  --l: 73.1%;
}
.dark.default {
  --l: 34.7%;
}
.bright.default {
  --s: 33.1%;
  --l: 58.3%;
}
.dim.default {
  --s: 6.5%;
  --l: 45.5%;
}
.complement,
.second.triad {
  --h: 116.3;
  --s: 36.8%;
  --l: 23.7%;
}
.light.complement,
.light.second.triad {
  --l: 45.8%;
}
.dark.complement,
.dark.second.triad {
  --l: 8.1%;
}
.bright.complement,
.bright.second.triad {
  --s: 30.9%;
  --l: 28.5%;
}
.dim.complement,
.dim.second.triad {
  --s: 28%;
  --l: 19.1%;
}
.accent {
  --h: 322;
  --s: 52.9%;
  --l: 23.3%;
}
.light.accent {
  --l: 44%;
}
.dark.accent {
  --l: 9.3%;
}
.bright.accent {
  --s: 64.3%;
  --l: 27.3%;
}
.dim.accent {
  --s: 45.5%;
  --l: 19%;
}
.second.accent {
  --h: 267.7;
  --s: 53.4%;
  --l: 23.6%;
}
.light.second.accent {
  --l: 44.2%;
}
.dark.second.accent {
  --l: 9.6%;
}
.bright.second.accent {
  --s: 64.9%;
  --l: 27.6%;
}
.dim.second.accent {
  --s: 46%;
  --l: 19.2%;
}
.split {
  --h: 16.7;
  --s: 41%;
  --l: 25.4%;
}
.light.split {
  --l: 47.9%;
}
.dark.split {
  --l: 10.8%;
}
.bright.split {
  --s: 41.7%;
  --l: 32.1%;
}
.dim.split {
  --s: 33%;
  --l: 20.8%;
}
.second.split {
  --h: 213.8;
  --s: 43.2%;
  --l: 25.3%;
}
.light.second.split {
  --l: 47.7%;
}
.dark.second.split {
  --l: 10.9%;
}
.bright.second.split {
  --s: 43.4%;
  --l: 32.3%;
}
.dim.second.split {
  --s: 35.2%;
  --l: 20.7%;
}
.triad {
  --h: 348.9;
  --s: 48.9%;
  --l: 24%;
}
.light.triad {
  --l: 45.2%;
}
.dark.triad {
  --l: 9.5%;
}
.bright.triad {
  --s: 60.9%;
  --l: 27.9%;
}
.dim.triad {
  --s: 41.6%;
  --l: 19.6%;
}
.third.triad {
  --h: 241.4;
  --s: 44.7%;
  --l: 25%;
}
.light.third.triad {
  --l: 46.7%;
}
.dark.third.triad {
  --l: 10%;
}
.bright.third.triad {
  --s: 57.7%;
  --l: 29.1%;
}
.dim.third.triad {
  --s: 37.4%;
  --l: 20.4%;
}
.tetrad {
  --h: 335.3;
  --s: 48.9%;
  --l: 24%;
}
.light.tetrad {
  --l: 45.2%;
}
.dark.tetrad {
  --l: 9.5%;
}
.bright.tetrad {
  --s: 60.9%;
  --l: 27.9%;
}
.dim.tetrad {
  --s: 41.6%;
  --l: 19.6%;
}
.second.tetrad {
  --h: 61.1;
  --s: 36.8%;
  --l: 23.7%;
}
.light.second.tetrad {
  --l: 46.3%;
}
.dark.second.tetrad {
  --l: 9.5%;
}
.bright.second.tetrad {
  --s: 36.6%;
  --l: 30.7%;
}
.dim.second.tetrad {
  --s: 28.3%;
  --l: 19.3%;
}
.third.tetrad {
  --h: 169.5;
  --s: 38.6%;
  --l: 23.4%;
}
.light.third.tetrad {
  --l: 45.3%;
}
.dark.third.tetrad {
  --l: 8.4%;
}
.bright.third.tetrad {
  --s: 35.9%;
  --l: 29.1%;
}
.dim.third.tetrad {
  --s: 29.8%;
  --l: 18.9%;
}
.fourth.tetrad {
  --h: 254.5;
  --s: 49.4%;
  --l: 24.3%;
}
.light.fourth.tetrad {
  --l: 45.4%;
}
.dark.fourth.tetrad {
  --l: 9.8%;
}
.bright.fourth.tetrad {
  --s: 61.6%;
  --l: 28.3%;
}
.dim.fourth.tetrad {
  --s: 42.1%;
  --l: 19.8%;
}
.light,
.dark,
.bright,
.dim {
  --border-l: calc(var(--l) * 0.4);
}
.warm {
  background-image: linear-gradient(var(--warm), var(--warm));
}
.cool {
  background-image: linear-gradient(var(--cool), var(--cool));
}
.neutral {
  background-image: linear-gradient(var(--neutral), var(--neutral));
}
.dull {
  background-image: linear-gradient(var(--dull), var(--dull));
}
.grid,
.two-column,
.three-column {
  display: grid;
  grid-gap: var(--grid-gap);
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
@media screen and (min-width: 1px) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: grid;
  }
}
@media screen and (min-width: 39rem) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: initial;
  }
}
.grid.mobile.tablet,
.two-column.mobile.tablet,
.three-column.mobile.tablet {
  display: grid;
}
@media screen and (min-width: 39rem) {
  .grid.mobile.tablet,
  .two-column.mobile.tablet,
  .three-column.mobile.tablet {
    display: grid;
  }
}
@media screen and (min-width: 61rem) {
  .grid.mobile.tablet,
  .two-column.mobile.tablet,
  .three-column.mobile.tablet {
    display: initial;
  }
}
.grid.tablet,
.two-column.tablet,
.three-column.tablet {
  display: initial;
}
@media screen and (min-width: 39rem) {
  .grid.tablet,
  .two-column.tablet,
  .three-column.tablet {
    display: grid;
  }
}
.grid.desktop,
.two-column.desktop,
.three-column.desktop {
  display: initial;
}
@media screen and (min-width: 61rem) {
  .grid.desktop,
  .two-column.desktop,
  .three-column.desktop {
    display: grid;
  }
}
.two-column {
  grid-template-columns: 1fr 1fr;
}
.two-column.golden {
  grid-template-columns: 1.618fr 1fr;
}
.two-column.golden.reverse {
  grid-template-columns: 1fr 1.618fr;
}
.three-column {
  grid-template-columns: 1fr 1fr 1fr;
}
.three-column.golden {
  grid-template-columns: 1fr 1.618fr 1fr;
}
.three-column.golden.leading {
  grid-template-columns: 1.618fr 1fr 1fr;
}
.three-column.golden.trailing {
  grid-template-columns: 1fr 1fr 1.618fr;
}
.grid-width-one {
  grid-column: auto / span 1;
}
.grid-width-two {
  grid-column: auto / span 2;
}
.grid-width-three {
  grid-column: auto / span 3;
}
.grid-width-four {
  grid-column: auto / span 4;
}
.grid-width-five {
  grid-column: auto / span 5;
}
.grid-width-six {
  grid-column: auto / span 6;
}
.grid-width-seven {
  grid-column: auto / span 7;
}
.grid-width-eight {
  grid-column: auto / span 8;
}
.grid-width-nine {
  grid-column: auto / span 9;
}
.grid-width-ten {
  grid-column: auto / span 10;
}
.grid-width-eleven {
  grid-column: auto / span 11;
}
.grid-width-twelve {
  grid-column: auto / span 12;
}
.padding {
  padding: var(--padding);
}
.margin {
  margin: var(--margin);
}
.gutter {
  margin: var(--gutter);
}
.text-padding {
  padding: var(--text-padding);
}
.text-margin {
  margin: var(--text-padding);
}
.padding-top {
  padding-top: var(--padding);
}
.padding-right {
  padding-right: var(--padding);
}
.padding-bottom {
  padding-bottom: var(--padding);
}
.padding-left {
  padding-left: var(--padding);
}
.margin-top {
  margin-top: var(--margin);
}
.margin-right {
  margin-right: var(--margin);
}
.margin-bottom,
pre,
textarea {
  margin-bottom: var(--margin);
}
.margin-left {
  margin-left: var(--margin);
}
.gutter-top {
  margin-top: var(--gutter);
}
.gutter-right {
  margin-right: var(--gutter);
}
.gutter-bottom {
  margin-bottom: var(--gutter);
}
.gutter-left {
  margin-left: var(--gutter);
}
.text-padding-top {
  padding-top: var(--text-padding);
}
.text-padding-right {
  padding-right: var(--text-padding);
}
.text-padding-bottom {
  padding-bottom: var(--text-padding);
}
.text-padding-left {
  padding-left: var(--text-padding);
}
.text-margin-top {
  margin-top: var(--text-padding);
}
.text-margin-right {
  margin-right: var(--text-padding);
}
.text-margin-bottom {
  margin-bottom: var(--text-padding);
}
.text-margin-left {
  margin-left: var(--text-padding);
}
.text-border-radius {
  border-radius: var(--text-padding);
}
.bar {
  top: 0;
  right: 0;
  left: 0;
}
.bar.bottom {
  top: auto;
  bottom: 0;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.inline-all,
.inline-all * {
  display: inline;
}
.inline-break::after {
  content: "\A";
  white-space: pre;
}
.initial {
  display: initial;
}
.table {
  display: table;
}
.flex,
.vertical-center,
.center-vertical {
  display: flex;
}
.inline-block {
  display: inline-block;
}
.static {
  position: static;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.margin-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}
.width-auto {
  width: auto;
}
.inset {
  box-shadow: inset var(--box-shadow);
}
.box-shadow,
.shadow {
  box-shadow: var(--box-shadow);
}
.shallow {
  --shadow-position: 0.5px;
  --box-shadow: var(--shadow-position) var(--shadow-position) var(--shadow-blur) var(--shadow-color);
}
.deep {
  --shadow-position: 2px;
  --box-shadow: var(--shadow-position) var(--shadow-position) var(--shadow-blur) var(--shadow-color);
}
.viewport-height {
  min-height: 100vh;
}
.viewport-height.force {
  height: 100vh;
}
.overflow-scroll {
  overflow-y: auto;
}
.overflow-hidden {
  overflow: hidden;
}
.border,
input,
textarea,
.button,
button {
  border: var(--border);
}
.border-top {
  border-top: var(--border);
}
.border-right {
  border-right: var(--border);
}
.border-bottom {
  border-bottom: var(--border);
}
.border-left {
  border-left: var(--border);
}
.border-radius,
.rounded,
pre,
textarea,
.button,
button {
  border-radius: 0.5em;
}
.dashed {
  border-style: dashed;
}
.dotted {
  border-style: dotted;
}
.thick {
  border-width: var(--border-thick);
}
.thin {
  border-width: var(--border-thin);
}
.current-color {
  border-color: currentColor;
}
.fade {
  opacity: 0.65;
}
.monospace,
pre,
code {
  font-family: var(--monospace);
}
.serif {
  font-family: var(--serif);
}
.bold {
  font-weight: bold;
}
.all-caps {
  text-transform: uppercase;
}
.underline {
  text-decoration: underline;
}
.text-transparent {
  color: transparent;
}
.small,
.badge {
  font-size: 87.5%;
  line-height: 1.575;
}
.medium {
  font-size: var(--font-size);
  line-height: var(--line-height);
}
.big {
  font-size: 125%;
  line-height: 2.25;
}
.huge {
  font-size: 160%;
}
.huge.font-size {
  font-size: 28.8px;
}
.container {
  max-width: var(--page-width);
  margin: var(--margin) auto;
  padding: var(--padding);
}
.text-trim {
  line-height: 1;
}
.text-align-center,
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.grid-gap-padding {
  --grid-gap: var(--padding);
}
.grid-gap-margin {
  --grid-gap: var(--margin);
}
.grid-gap-gutter {
  --grid-gap: var(--gutter);
}
.grid-gap-border-width {
  --grid-gap: var(--border-width);
}
.grid-gap-text-padding,
.grid-gap-text-margin {
  --grid-gap: var(--text-padding);
}
.shade,
.white,
.light.white,
.dark.white,
.bright.white,
.dim.white,
.orange,
.light.orange,
.dark.orange,
.bright.orange,
.dim.orange,
.yellow,
.light.yellow,
.dark.yellow,
.bright.yellow,
.dim.yellow,
.light.teal,
.cyan,
.light.cyan,
.dark.cyan,
.bright.cyan,
.dim.cyan,
.light.magenta,
.light.gray,
.light.default,
.transparent.light,
.user-background,
.light.user-background,
.dark.user-background,
.bright.user-background,
.dim.user-background,
body,
input,
textarea,
.card,
.info,
.light.info,
.dark.info,
.bright.info,
.dim.info,
.warning,
.light.warning,
.dark.warning,
.bright.warning,
.dim.warning {
  color: #170619;
  background-color: hsl(var(--h), var(--s), var(--l));
  border-color: hsl(var(--border-h), var(--border-s), var(--border-l));
  --border-h: var(--h);
  --border-s: var(--s);
  --border-l: calc(var(--l) * 0.4);
}
.tint,
.black,
.light.black,
.dark.black,
.bright.black,
.dim.black,
.ambient,
.light.ambient,
.dark.ambient,
.bright.ambient,
.dim.ambient,
.red,
.light.red,
.dark.red,
.bright.red,
.dim.red,
.green,
.light.green,
.dark.green,
.bright.green,
.dim.green,
.teal,
.dark.teal,
.bright.teal,
.dim.teal,
.blue,
.light.blue,
.dark.blue,
.bright.blue,
.dim.blue,
.purple,
.light.purple,
.dark.purple,
.bright.purple,
.dim.purple,
.magenta,
.dark.magenta,
.bright.magenta,
.dim.magenta,
.gray,
.dark.gray,
.bright.gray,
.dim.gray,
.action,
.base-color,
.light.action,
.light.base-color,
.dark.action,
.dark.base-color,
.bright.action,
.bright.base-color,
.dim.action,
.dim.base-color,
.reaction,
.light.reaction,
.dark.reaction,
.bright.reaction,
.dim.reaction,
.default,
.dark.default,
.bright.default,
.dim.default,
.complement,
.light.complement,
.dark.complement,
.bright.complement,
.dim.complement,
.accent,
.light.accent,
.dark.accent,
.bright.accent,
.dim.accent,
.second.accent,
.light.second.accent,
.dark.second.accent,
.bright.second.accent,
.dim.second.accent,
.split,
.light.split,
.dark.split,
.bright.split,
.dim.split,
.second.split,
.light.second.split,
.dark.second.split,
.bright.second.split,
.dim.second.split,
.triad,
.light.triad,
.dark.triad,
.bright.triad,
.dim.triad,
.third.triad,
.light.third.triad,
.dark.third.triad,
.bright.third.triad,
.dim.third.triad,
.tetrad,
.light.tetrad,
.dark.tetrad,
.bright.tetrad,
.dim.tetrad,
.second.tetrad,
.light.second.tetrad,
.dark.second.tetrad,
.bright.second.tetrad,
.dim.second.tetrad,
.third.tetrad,
.light.third.tetrad,
.dark.third.tetrad,
.bright.third.tetrad,
.dim.third.tetrad,
.fourth.tetrad,
.light.fourth.tetrad,
.dark.fourth.tetrad,
.bright.fourth.tetrad,
.dim.fourth.tetrad,
.transparent.dark,
.success,
.light.success,
.dark.success,
.bright.success,
.dim.success,
.failure,
.light.failure,
.dark.failure,
.bright.failure,
.dim.failure,
.second.triad,
.light.second.triad,
.dark.second.triad,
.bright.second.triad,
.dim.second.triad {
  color: #f8f2f9;
  background-color: hsl(var(--h), var(--s), var(--l));
  border-color: hsl(var(--border-h), var(--border-s), var(--border-l));
  --border-h: var(--h);
  --border-s: var(--s);
  --border-l: calc(var(--l) * 0.4);
}
.transparent {
  background-color: transparent !important;
  color: inherit;
  border-color: inherit;
}
.transparent.light {
  --light: rgba(248, 242, 249, 0.85);
  background-image: linear-gradient(var(--light), var(--light));
}
.transparent.dark {
  --dark: rgba(23, 6, 25, 0.65);
  background-image: linear-gradient(var(--dark), var(--dark));
}
.trim,
.trim-inner *,
.trim-all,
.trim-all * {
  margin-bottom: 0;
}
.bump {
  position: relative;
}
.bump.up {
  top: -2px;
}
.bump.down {
  top: 2px;
}
.bump.left {
  left: -2px;
}
.bump.right {
  right: initial;
  left: 2px;
}
.hidden {
  display: none !important;
}
.clearfix,
.clear {
  clear: both;
}
.clearfix::after,
.clear::after {
  display: block;
  clear: both;
  content: "";
}
.user-background {
  --h: 295.5;
  --s: 36.5%;
  --l: 96.2%;
}
.light.user-background {
  --l: 97.9%;
}
.dark.user-background {
  --l: 93%;
}
.bright.user-background {
  --s: 51.8%;
  --l: 96.4%;
}
.dim.user-background {
  --s: 0.3%;
  --l: 78.1%;
}
@media (prefers-color-scheme: dark) {
  .user-background {
    --h: 295.5;
    --s: 61.8%;
    --l: 5.9%;
  }
  .light.user-background {
    --l: 17.8%;
  }
  .dark.user-background {
    --l: 1.4%;
  }
  .bright.user-background {
    --s: 72.6%;
    --l: 11.4%;
  }
  .dim.user-background {
    --s: 54.4%;
    --l: 4.8%;
  }
}
.align-content {
  align-content: stretch;
}
.align-items {
  align-items: stretch;
}
.align-self {
  align-self: auto;
}
.flex,
.vertical-center,
.center-vertical {
  flex: 0 1 auto;
}
.flex-direction,
.vertical-center,
.center-vertical {
  flex-direction: column;
}
.justify-content,
.vertical-center,
.center-vertical {
  justify-content: center;
}
.font-family,
body,
input,
textarea,
.sans-serif {
  font-family: var(--font-family);
}
.font-size,
input {
  font-size: var(--font-size);
}
.list-style {
  list-style: disc inside none;
}
.list-style-type {
  list-style-type: disc;
}
.text-indent {
  text-indent: 2ch;
}
.text-justify {
  text-justify: justify;
}
.text-overflow {
  text-overflow: ellipsis;
}
.text-shadow {
  text-shadow: 1px 1px 1px rgba(23, 6, 25, 0.2);
}
.line-height,
textarea {
  line-height: var(--line-height);
}
.vertical-align {
  vertical-align: middle;
}
.letter-spacing {
  letter-spacing: 0;
}
.word-spacing {
  word-spacing: normal;
}
.white-space {
  white-space: nowrap;
}
.word-break {
  word-break: break-all;
}
.word-wrap {
  word-wrap: break-word;
}
.transform {
  transform: none;
}
.transition {
  transition: all 0s ease 0s;
}
.display {
  display: block;
}
.position {
  position: absolute;
}
.top {
  top: 0;
}
.right {
  right: 0;
}
.bottom {
  bottom: 0;
}
.left {
  left: 0;
}
.float {
  float: left;
}
.clear {
  clear: both;
}
.z-index {
  z-index: 10;
}
.overflow {
  overflow: hidden;
}
.cursor {
  cursor: pointer;
}
.rem-width {
  width: 1rem;
}
.half-width {
  width: 50%;
}
.third-width {
  width: 33.33%;
}
.fourth-width {
  width: 25%;
}
.fifth-width {
  width: 20%;
}
.sixth-width {
  width: 16.66%;
}
.golden-width {
  max-width: calc(62% - 1rem);
}
.golden-width.force {
  width: calc(62% - 1rem);
}
.golden-width.reverse {
  max-width: calc(38% - 1rem);
}
.golden-width.reverse.force {
  width: calc(38% - 1rem);
}
.card-width {
  max-width: 22rem;
}
@media screen and (min-width: 39rem) {
  .text-width {
    max-width: 37rem;
  }
  .text-width.force {
    width: 37rem;
  }
}
.page-width {
  max-width: 59rem;
}
.page-width.force {
  width: 59rem;
}
.full-width {
  max-width: 100%;
}
.full-width.force {
  width: 100%;
}
.inner-card-width {
  padding-left: calc(50% - var(--card-width)/2 - var(--spacer));
  padding-right: calc(50% - var(--card-width)/2 - var(--spacer));
}
.inner-card-width.padding {
  padding-left: calc(50% - var(--card-width)/2);
  padding-right: calc(50% - var(--card-width)/2);
}
@media screen and (min-width: 39rem) {
  .inner-text-width {
    padding-left: calc(50% - var(--text-width)/2 - var(--spacer));
    padding-right: calc(50% - var(--text-width)/2 - var(--spacer));
  }
  .inner-text-width.padding {
    padding-left: calc(50% - var(--text-width)/2);
    padding-right: calc(50% - var(--text-width)/2);
  }
}
@media screen and (min-width: 61rem) {
  .inner-page-width {
    padding-left: calc(50% - var(--page-width)/2 - var(--spacer));
    padding-right: calc(50% - var(--page-width)/2 - var(--spacer));
  }
  .inner-page-width.padding {
    padding-left: calc(50% - var(--page-width)/2);
    padding-right: calc(50% - var(--page-width)/2);
  }
}
.placeholder {
  min-height: 10px;
}
.placeholder::after {
  content: " ";
  white-space: pre;
}
.square::after,
.one-to-one::after,
.four-to-three::after,
.sixteen-to-nine::after,
.two-to-one::after {
  content: "";
  display: block;
  width: 0;
}
.square::after,
.one-to-one::after {
  padding-top: 100%;
}
.four-to-three::after {
  padding-top: 75%;
}
.sixteen-to-nine::after {
  padding-top: 56.25%;
}
.two-to-one::after {
  padding-top: 50%;
}
.hide {
  display: none;
}
.hide.tablet {
  display: initial;
}
.hide.desktop {
  display: initial;
}
.hide.mobile {
  display: none;
}
@media screen and (min-width: 39rem) {
  .hide.mobile {
    display: initial;
  }
  .hide.tablet {
    display: none;
  }
}
@media screen and (min-width: 61rem) {
  .hide.desktop {
    display: none;
  }
  .hide.mobile.tablet {
    display: initial;
  }
}
.no-padding-top {
  padding-top: 0;
}
.no-padding-right {
  padding-right: 0;
}
.no-padding-bottom {
  padding-bottom: 0;
}
.no-padding-left {
  padding-left: 0;
}
.no-margin-top {
  margin-top: 0;
}
.no-margin-right {
  margin-right: 0;
}
.no-margin-bottom {
  margin-bottom: 0;
}
.no-margin-left {
  margin-left: 0;
}
.no-padding {
  padding: 0;
}
.no-margin,
.no-gutter {
  margin: 0;
}
.no-side-margin,
.no-side-margins {
  margin-left: 0;
  margin-right: 0;
}
.no-margins {
  margin: 0;
}
.no-margins * {
  margin: 0;
}
.no-min-width {
  min-width: 0 !important;
}
.no-max-width {
  max-width: 0 !important;
}
.no-min-height {
  min-height: 0 !important;
}
.no-max-height {
  max-height: 0 !important;
}
.no-box-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  box-shadow: unset;
}
.no-text-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  text-shadow: unset;
}
.no-border-radius {
  border-radius: 0 !important;
}
.no-border,
.no-borders,
.no-borders * {
  border-width: 0 !important;
}
.no-background {
  background: transparent !important;
}
.no-text-indent {
  text-indent: 0;
}
.no-text,
.no-text * {
  text-indent: -9999px;
}
.no-text-align {
  text-align: initial;
}
.no-underline {
  text-decoration: none !important;
}
.no-user-select {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.no-pointer-events {
  pointer-events: none;
}
.no-list-style {
  list-style-type: none;
  margin-left: 0;
}
.no-grid-gap,
.no-column-gap {
  grid-gap: 0;
  column-gap: 0;
}
