/* This project uses Cavepaint (MIT License) by Rex Riepe */
/* https://github.com/cavepaint/cavepaintCSS */
* {
  margin: 0 0 1.62rem 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  margin-bottom: 0;
}
.button,
button {
  border-style: solid;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(0, 34, 41, 0.16);
  display: inline;
  position: relative;
  font-family: inherit;
  font-size: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  color: inherit;
  background-color: inherit;
  border-color: #8c392b;
  border-width: 1px;
  line-height: 1.6;
  text-align: center;
  vertical-align: middle;
  outline: none;
  white-space: nowrap;
  text-decoration: none;
  touch-action: manipulation;
  cursor: pointer;
  transform: scale(1);
  transition: 0.08s linear;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.button:active,
button:active {
  transform: scale(0.99);
  box-shadow: unset;
}
.bar {
  position: relative;
  width: 100%;
  display: block;
  vertical-align: middle;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.bar > * {
  display: inline;
  margin-right: 0.3236em;
  margin-left: 0.3236em;
  margin-bottom: 0;
}
.card {
  position: relative;
  overflow: hidden;
  padding: 1.62rem;
  border: 1px solid #c55643;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(0, 34, 41, 0.16);
}
.card > *:first-child {
  margin-top: 0;
}
.card > *:last-child {
  margin-bottom: 0;
}
.badge {
  border-radius: 0.5em;
  line-height: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  padding-right: 0.6472em;
  padding-left: 0.6472em;
  vertical-align: middle;
  border-radius: 99px;
  white-space: nowrap;
}
.modal {
  display: none;
  max-width: none;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  position: fixed;
  bottom: 0;
  justify-content: center;
  flex: 0 1 auto;
  flex-direction: column;
  height: 100vh;
}
.modal > * {
  flex-direction: column;
  color: #290700;
  position: relative;
  background: #fff2f0;
  padding: 1.62rem;
  margin-bottom: 3.24rem;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(0, 34, 41, 0.16);
  margin: 1.62rem;
}
@media screen and (min-width: 46.24rem) {
  .modal > * {
    max-width: 69rem;
    margin: 0 auto;
  }
}
.overlay {
  margin: 0;
  padding: 0;
  position: relative;
}
.overlay .top,
.overlay .bottom,
.overlay .left,
.overlay .right {
  position: absolute;
}
.overlay .top {
  top: 0.3236em;
}
.overlay .bottom {
  bottom: 0.3236em;
}
.overlay .left {
  left: 0.3236em;
}
.overlay .right {
  right: 0.3236em;
}
.overlay.stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.overlay * {
  margin: 0;
  display: block;
}
.grid,
.two-column,
.three-column {
  display: grid;
  grid-gap: 1.62rem;
}
.grid.tablet,
.two-column.tablet,
.three-column.tablet,
.grid.mobile.tablet,
.two-column.mobile.tablet,
.three-column.mobile.tablet,
.grid.desktop,
.two-column.desktop,
.three-column.desktop {
  display: initial;
}
.grid {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.two-column {
  grid-template-columns: 1fr 1fr;
}
.two-column.golden {
  grid-template-columns: 1.618fr 1fr;
}
.two-column.golden.reverse {
  grid-template-columns: 1fr 1.618fr;
}
.three-column {
  grid-template-columns: 1fr 1fr 1fr;
}
.three-column.golden {
  grid-template-columns: 1fr 1.618fr 1fr;
}
.three-column.golden.leading {
  grid-template-columns: 1.618fr 1fr 1fr;
}
.three-column.golden.trailing {
  grid-template-columns: 1fr 1fr 1.618fr;
}
.grid-width-one {
  grid-column: auto / span 1;
}
.grid-width-two {
  grid-column: auto / span 2;
}
.grid-width-three {
  grid-column: auto / span 3;
}
.grid-width-four {
  grid-column: auto / span 4;
}
.grid-width-five {
  grid-column: auto / span 5;
}
.grid-width-six {
  grid-column: auto / span 6;
}
.grid-width-seven {
  grid-column: auto / span 7;
}
.grid-width-eight {
  grid-column: auto / span 8;
}
.grid-width-nine {
  grid-column: auto / span 9;
}
.grid-width-ten {
  grid-column: auto / span 10;
}
.grid-width-eleven {
  grid-column: auto / span 11;
}
.grid-width-twelve {
  grid-column: auto / span 12;
}
@media screen and (max-width: calc(46.24rem - 1px)) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: grid;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 46.24rem) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: initial;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: initial;
  }
  .grid.tablet,
  .two-column.tablet,
  .three-column.tablet {
    display: grid;
  }
  .grid.tablet > *,
  .two-column.tablet > *,
  .three-column.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (max-width: calc(69rem - 1px)) {
  .grid.mobile.tablet,
  .two-column.mobile.tablet,
  .three-column.mobile.tablet {
    display: grid;
  }
  .grid.mobile.tablet > *,
  .two-column.mobile.tablet > *,
  .three-column.mobile.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 69rem) {
  .grid.desktop,
  .two-column.desktop,
  .three-column.desktop {
    display: grid;
  }
  .grid.desktop > *,
  .two-column.desktop > *,
  .three-column.desktop > * {
    margin-bottom: 0;
  }
}
.responsive {
  column-gap: 0.619rem;
  grid-gap: 0.619rem;
}
.responsive.padding,
.modal,
.container {
  padding: 0.619rem;
}
.responsive.margin,
.container {
  margin: 0.619rem;
}
.responsive.gutter {
  margin: 1.238rem;
}
@media screen and (min-width: 46.24rem) {
  .responsive {
    column-gap: 1.001rem;
    grid-gap: 1.001rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.001rem;
  }
  .responsive.margin,
  .container {
    margin: 1.001rem;
  }
  .responsive.gutter {
    margin: 2.002rem;
  }
}
@media screen and (min-width: 69rem) {
  .responsive {
    column-gap: 1.62rem;
    grid-gap: 1.62rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.62rem;
  }
  .responsive.margin,
  .container {
    margin: 1.62rem;
  }
  .responsive.gutter {
    margin: 3.24rem;
  }
}
.background {
  background: #fff2f0;
}
.background-color {
  background-color: #fff2f0;
}
.border {
  border: 1px solid #c55643;
}
.border-radius,
.rounded {
  border-radius: 0.5em;
}
.border-bottom {
  border-bottom: 1px solid #c55643;
}
.border-left {
  border-left: 1px solid #c55643;
}
.border-right {
  border-right: 1px solid #c55643;
}
.border-style,
.button.border,
button.border {
  border-style: solid;
}
.border-top {
  border-top: 1px solid #c55643;
}
.border-width,
.button.border,
button.border {
  border-width: 1px;
}
.max-width {
  max-width: 69rem;
}
.min-width {
  min-width: 26rem;
}
.align-content {
  align-content: stretch;
}
.align-items {
  align-items: stretch;
}
.align-self {
  align-self: auto;
}
.flex,
.vertical-center,
.center-vertical {
  flex: 0 1 auto;
}
.flex-basis {
  flex-basis: auto;
}
.flex-direction,
.vertical-center,
.center-vertical {
  flex-direction: column;
}
.flex-flow {
  flex-flow: column nowrap;
}
.flex-grow {
  flex-grow: 0;
}
.flex-shrink {
  flex-shrink: 1;
}
.flex-wrap {
  flex-wrap: nowrap;
}
.justify-content,
.vertical-center,
.center-vertical {
  justify-content: center;
}
.font-family,
body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.font-size {
  font-size: 19px;
}
.font-weight {
  font-weight: normal;
}
.list-style {
  list-style: disc inside none;
}
.list-style-type {
  list-style-type: disc;
}
.margin {
  margin: 1.62rem;
}
.margin-bottom {
  margin-bottom: 1.62rem;
}
.margin-left {
  margin-left: 1.62rem;
}
.margin-right {
  margin-right: 1.62rem;
}
.margin-top {
  margin-top: 1.62rem;
}
.column-gap {
  column-gap: 1.94em;
}
.column-rule {
  column-rule: 1px solid #c55643;
}
.padding {
  padding: 1.62rem;
}
.padding-bottom {
  padding-bottom: 1.62rem;
}
.padding-left {
  padding-left: 1.62rem;
}
.padding-right {
  padding-right: 1.62rem;
}
.padding-top {
  padding-top: 1.62rem;
}
.text-align {
  text-align: left;
}
.text-align-last {
  text-align-last: left;
}
.text-indent {
  text-indent: 2ch;
}
.text-justify {
  text-justify: justify;
}
.text-overflow {
  text-overflow: hidden;
}
.text-shadow {
  text-shadow: 1.41px 1.41px 1.41px rgba(0, 34, 41, 0.16);
}
.line-height {
  line-height: 1.8;
}
.vertical-align {
  vertical-align: middle;
}
.letter-spacing {
  letter-spacing: 0;
}
.word-spacing {
  word-spacing: normal;
}
.white-space {
  white-space: nowrap;
}
.word-break {
  word-break: break-all;
}
.word-wrap {
  word-wrap: break-word;
}
.transform {
  transform: none;
}
.transition {
  transition: all 0s ease 0s;
}
.display {
  display: block;
}
.position {
  position: absolute;
}
.top {
  top: 0;
}
.right {
  right: 0;
}
.bottom {
  bottom: 0;
}
.left {
  left: 0;
}
.float {
  float: left;
}
.clear {
  clear: both;
}
.z-index {
  z-index: 10;
}
.overflow {
  overflow: hidden;
}
.overflow-x {
  overflow-x: hidden;
}
.cursor {
  cursor: pointer;
}
.box-shadow {
  box-shadow: 1.41px 1.41px 1.41px rgba(0, 34, 41, 0.16);
}
.gutter {
  margin: 3.24rem;
}
.gutter-top {
  margin-top: 3.24rem;
}
.gutter-right {
  margin-right: 3.24rem;
}
.gutter-bottom {
  margin-bottom: 3.24rem;
}
.gutter-left {
  margin-left: 3.24rem;
}
.text-padding {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-padding-top {
  padding-top: 0.18em;
}
.text-padding-right {
  padding-right: 0.3236em;
}
.text-padding-bottom {
  padding-bottom: 0.22em;
}
.text-padding-left {
  padding-left: 0.3236em;
}
.text-margin {
  margin: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-margin-top {
  margin-top: 0.18em;
}
.text-margin-right {
  margin-right: 0.3236em;
}
.text-margin-bottom {
  margin-bottom: 0.22em;
}
.text-margin-left {
  margin-left: 0.3236em;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.initial {
  display: initial;
}
.table {
  display: table;
}
.flex,
.vertical-center,
.center-vertical {
  display: flex;
}
.inline-block {
  display: inline-block;
}
.static {
  position: static;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.margin-auto,
.container {
  margin-left: auto;
  margin-right: auto;
}
.width-auto {
  width: auto;
}
.inset {
  box-shadow: inset 1.41px 1.41px 1.41px rgba(0, 34, 41, 0.16);
}
.viewport-height {
  height: 100vh;
}
.min-viewport-height {
  min-height: 100vh;
}
.overflow-hidden {
  overflow: hidden;
}
.dashed {
  border-style: dashed;
}
.dotted {
  border-style: dotted;
}
.thick {
  border-width: 2px;
}
.thin {
  border-width: 0.5px;
}
.current-color {
  border-color: currentColor;
}
.fade {
  opacity: 0.65;
}
.serif,
.font-family-serif {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "Droid Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
.monospace,
.font-family-monospace,
pre,
code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
}
.sans-serif,
.font-family-sans-serif {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.text-transparent {
  color: transparent;
}
.reset {
  all: initial;
}
.big {
  font-size: 125%;
  line-height: 2.25;
}
.big.font-size {
  font-size: 23.75px;
}
.small,
.badge {
  font-size: 87.5%;
  line-height: 1.575;
}
.small.font-size {
  font-size: 16.625px;
}
.huge {
  font-size: 160%;
}
.huge.font-size {
  font-size: 30.4px;
}
.text-trim {
  line-height: 1;
}
.text-align-center,
.text-center {
  text-align: center;
}
.text-align-left,
.text-left {
  text-align: left;
}
.text-align-right,
.text-right {
  text-align: right;
}
.text-align-justify,
.text-justify {
  text-align: justify;
}
.grid-gap-margin {
  grid-gap: 1.62rem;
}
.grid-gap-border-width {
  grid-gap: 1px;
}
.grid-gap-text-padding,
.grid-gap-text-margin {
  grid-gap: 0.3236em;
}
.shade,
.white,
.orange,
.yellow,
.light.olive,
.light.green,
.cyan,
.skyblue,
.violet,
.lavender,
.cream,
.light.clover,
.pewter,
.light.hotpink,
.neongreen,
.electricblue,
.lemon,
.lime,
.tangerine,
.light.reaction,
.light.warm,
.light.neutral,
.split,
.triad,
.tetrad,
.second.tetrad,
body,
input,
textarea,
.info,
.warning,
.light.success {
  color: #290700;
}
.tint,
.black,
.red,
.olive,
.green,
.teal,
.blue,
.indigo,
.purple,
.dark.violet,
.gray,
.brown,
.magenta,
.charcoal,
.crimson,
.clover,
.cobalt,
.graphite,
.ruby,
.onyx,
.dark.pewter,
.gunmetal,
.hotpink,
.dark.electricblue,
.royalpurple,
.grapefruit,
.reaction,
.default,
.warm,
.cool,
.neutral,
.complement,
.accent,
.second.accent,
.second.split,
.third.triad,
.third.tetrad,
.fourth.tetrad,
.highlight,
.success,
.failure,
.second.triad {
  color: #fff2f0;
}
.transparent {
  background-color: transparent;
  color: inherit;
  border-color: inherit;
}
.transparent.light {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23FFF%22%20fill-opacity%3D%220.16%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.transparent.dark,
.modal {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23000%22%20fill-opacity%3D%220.25%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.trim,
.trim-inner *,
.trim-all,
.trim-all * {
  margin-bottom: 0;
}
.hidden {
  display: none !important;
}
.clearfix,
.clear {
  clear: both;
}
.clearfix::after,
.clear::after {
  display: block;
  clear: both;
  content: "";
}
.golden-width {
  max-width: calc(62% - 3.24rem);
}
.golden-width.reverse {
  max-width: 38%;
}
.aside-width {
  max-width: 26rem;
}
@media screen and (min-width: 46.24rem) {
  .text-width {
    max-width: 43rem;
  }
}
.page-width,
.container {
  max-width: 69rem;
}
.full-width,
.aside-width .aside-width,
.text-width .text-width,
.page-width .page-width {
  display: block;
  width: 100%;
}
.inner-aside-width {
  padding-left: calc(50% - 13rem);
  padding-right: calc(50% - 13rem);
}
.inner-aside-width.padding {
  padding-left: calc(50% - 11.38rem);
  padding-right: calc(50% - 11.38rem);
}
.inner-aside-width.responsive.padding {
  padding-left: calc(50% - 12.38rem);
  padding-right: calc(50% - 12.38rem);
}
@media screen and (max-width: calc(46.24rem - 1px)) {
  .inner-text-width {
    padding-left: initial;
    padding-right: initial;
  }
  .inner-text-width.padding {
    padding-left: 1.62rem;
    padding-right: 1.62rem;
  }
  .inner-text-width.responsive.padding {
    padding-left: 0.619rem;
    padding-right: 0.619rem;
  }
}
@media screen and (min-width: 46.24rem) {
  .inner-aside-width.tablet.padding {
    padding-left: calc(50% - 11.38rem);
    padding-right: calc(50% - 11.38rem);
  }
  .inner-aside-width.tablet.responsive.padding {
    padding-left: calc(50% - 12rem);
    padding-right: calc(50% - 12rem);
  }
  .inner-text-width {
    padding-left: calc(50% - 21.5rem);
    padding-right: calc(50% - 21.5rem);
  }
  .inner-text-width.padding {
    padding-left: calc(50% - 19.88rem);
    padding-right: calc(50% - 19.88rem);
  }
  .inner-text-width.responsive.padding {
    padding-left: calc(50% - 20.5rem);
    padding-right: calc(50% - 20.5rem);
  }
}
@media screen and (min-width: 69rem) {
  .inner-aside-width.desktop.padding {
    padding-left: calc(50% - 11.38rem);
    padding-right: calc(50% - 11.38rem);
  }
  .inner-aside-width.desktop.responsive.padding {
    padding-left: calc(50% - 11.38rem);
    padding-right: calc(50% - 11.38rem);
  }
  .inner-text-width.desktop.padding {
    padding-left: calc(50% - 19.88rem);
    padding-right: calc(50% - 19.88rem);
  }
  .inner-text-width.desktop.responsive.padding {
    padding-left: calc(50% - 19.88rem);
    padding-right: calc(50% - 19.88rem);
  }
  .inner-page-width {
    padding-left: calc(50% - 34.5rem);
    padding-right: calc(50% - 34.5rem);
  }
  .inner-page-width.padding {
    padding-left: calc(50% - 32.88rem);
    padding-right: calc(50% - 32.88rem);
  }
  .inner-page-width.responsive.padding {
    padding-left: calc(50% - 32.88rem);
    padding-right: calc(50% - 32.88rem);
  }
}
.texture,
.pattern {
  background-position: top center;
}
.texture {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20xmlns%3Axlink%3D'http%3A//www.w3.org/1999/xlink'%20viewBox%3D'0%200%202.646%204.233'%20height%3D'16'%20width%3D'10'%3E%3Crect%20ry%3D'.269'%20rx%3D'.279'%20y%3D'-.529'%20x%3D'-.265'%20height%3D'1.058'%20width%3D'.529'%20id%3D'a'%20opacity%3D'1'%20fill%3D'%23000'%20stroke-width%3D'0'%20stroke-linecap%3D'round'%20fill-opacity%3D'0.05'/%3E%3Cuse%20height%3D'100%25'%20width%3D'100%25'%20transform%3D'translate%280%204.233%29'%20xlink%3Ahref%3D'%23a'/%3E%3Cuse%20height%3D'100%25'%20width%3D'100%25'%20transform%3D'translate%281.323%202.117%29'%20xlink%3Ahref%3D'%23a'/%3E%3Cuse%20height%3D'100%25'%20width%3D'100%25'%20transform%3D'translate%282.646%29'%20xlink%3Ahref%3D'%23a'/%3E%3Cuse%20height%3D'100%25'%20width%3D'100%25'%20transform%3D'translate%282.646%204.233%29'%20xlink%3Ahref%3D'%23a'/%3E%3C/svg%3E");
}
.pattern {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20viewBox%3D'0%200%203.175%203.175'%20height%3D'12'%20width%3D'12'%3E%3Cpath%20opacity%3D'0.05'%20fill%3D'%23fff2f0'%20d%3D'M0%200h1.587v1.587H0z'/%3E%3C/svg%3E");
}
.placeholder::before {
  content: " ";
  white-space: pre;
}
.placeholder::after {
  content: "";
}
.placeholder.image,
.placeholder.video,
.placeholder.avatar {
  position: relative;
}
.placeholder.image::before,
.placeholder.video::before,
.placeholder.avatar::before {
  position: absolute;
  top: calc(50% - 4rem);
  right: 0;
  bottom: 0;
  left: 0;
  display: inline-block;
  text-align: center;
  font-size: 4rem;
  vertical-align: middle;
}
.placeholder.image.small::before,
.placeholder.video.small::before,
.placeholder.avatar.small::before {
  top: calc(50% - 2rem);
  font-size: 2rem;
}
.placeholder.image.big::before,
.placeholder.video.big::before,
.placeholder.avatar.big::before {
  top: calc(50% - 6rem);
  font-size: 6rem;
}
.placeholder.image.huge::before,
.placeholder.video.huge::before,
.placeholder.avatar.huge::before {
  top: calc(50% - 8rem);
  font-size: 8rem;
}
.placeholder.image::after,
.placeholder.video::after,
.placeholder.avatar::after {
  display: block;
}
.placeholder.image::before {
  content: "\1f5bc";
}
.placeholder.image::after {
  padding-top: 75%;
}
.placeholder.video::before {
  content: "\25B6";
}
.placeholder.video::after {
  padding-top: 56.25%;
}
.placeholder.avatar::before {
  content: "\263A";
}
.placeholder.avatar::after {
  padding-top: 100%;
}
.placeholder.no-icon::before {
  content: "";
}
.hide {
  display: none;
}
.hide.tablet {
  display: initial;
}
.hide.desktop {
  display: initial;
}
@media screen and (max-width: calc(46.24rem - 1px)) {
  .hide.mobile {
    display: none;
  }
}
@media screen and (min-width: 46.24rem) {
  .hide.mobile {
    display: initial;
  }
  .hide.tablet {
    display: none;
  }
}
@media screen and (min-width: 69rem) {
  .hide.desktop {
    display: none;
  }
  .hide.mobile.tablet {
    display: initial;
  }
}
@media screen and (max-width: calc(69rem - 1px)) {
  .hide.mobile.tablet {
    display: none;
  }
}
body {
  font-size: 19px;
  line-height: 1.8;
  margin: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
nav {
  z-index: 99;
}
nav a {
  text-decoration: none;
}
aside {
  margin: 0 auto;
  margin-bottom: 1.62rem;
  max-width: 26rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-top: 0.49443758em;
  margin-bottom: 0.74165637em;
  letter-spacing: -0.025em;
  color: inherit;
  line-height: 1.618;
}
h1 {
  font-size: 2.4em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1em;
}
p {
  margin-bottom: 1em;
}
p.gutter-bottom {
  margin-bottom: 1.618em;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: inherit;
  text-decoration: underline;
}
a.target-blank::after,
a.new-tab::after,
a.external-link::after {
  content: "\00A0\1F855";
}
form {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input {
  font-size: 19px;
  line-height: 1.8;
  border: 1px solid #c55643;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input:focus {
  box-shadow: 0 0 2px #8dadbd;
}
fieldset {
  border: none;
  outline: none;
}
ol {
  padding-left: 4ch;
  margin-bottom: 1.62rem;
}
ol li {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
ul {
  margin-left: 1.62rem;
  margin-bottom: 1.62rem;
}
li {
  margin-bottom: 0.44em;
}
kbd {
  color: #fff2f0;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  white-space: nowrap;
}
b {
  padding: 0.18em 0 0.22em 0;
}
pre {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  overflow: hidden;
  border-radius: 0.5em;
  background: #433231;
  color: #fff2f0;
}
pre.white-space,
pre.word-break {
  white-space: pre-wrap;
}
pre > code {
  background: transparent;
  padding: 0;
}
code {
  color: #fff2f0;
  background-color: #372e4f;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
code.terminal::before {
  content: "$ ";
}
textarea {
  font-size: 19px;
  line-height: 1.8;
  border: 1px solid #c55643;
  border-radius: 0.5em;
  margin-bottom: 1.62rem;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
textarea:focus {
  box-shadow: 0 0 2px #8dadbd;
}
.white,
body,
input,
textarea {
  background-color: #fff2f0;
  border-color: #8a7b78;
}
.black {
  background-color: #290700;
  border-color: #140300;
}
.ambient {
  color: #fff2f0;
  background: #ff2b01;
  border-color: #8a1700;
}
.ambient.light {
  color: #fff2f0;
  background: #ff4d2a;
  border-color: #8a2815;
}
.ambient.dark {
  color: #fff2f0;
  background: #d62400;
  border-color: #761400;
}
.red,
.failure {
  background-color: #ed0000;
  border-color: #810000;
}
.light.red,
.light.failure {
  background-color: #ff1717;
  border-color: #8a0b0b;
}
.dark.red,
.dark.failure {
  background-color: #c40000;
  border-color: #6d0000;
}
.orange,
.warning {
  background-color: #fa9000;
  border-color: #884e00;
}
.light.orange,
.light.warning {
  background-color: #ffa224;
  border-color: #8a5712;
}
.dark.orange,
.dark.warning {
  background-color: #d27900;
  border-color: #744300;
}
.yellow {
  background-color: #f6da00;
  border-color: #867700;
}
.light.yellow {
  background-color: #ffe620;
  border-color: #8a7d10;
}
.dark.yellow {
  background-color: #cdb600;
  border-color: #726500;
}
.olive {
  background-color: #9f7e00;
  border-color: #5b4800;
}
.light.olive {
  background-color: #c89f00;
  border-color: #6f5800;
}
.dark.olive {
  background-color: #775e00;
  border-color: #463800;
}
.green,
.success {
  background-color: #297b00;
  border-color: #184900;
}
.light.green,
.light.success {
  background-color: #36a400;
  border-color: #1f5d00;
}
.dark.green,
.dark.success {
  background-color: #1b5300;
  border-color: #113400;
}
.teal {
  background-color: #297e77;
  border-color: #164844;
}
.light.teal {
  background-color: #339d94;
  border-color: #1b5852;
}
.dark.teal {
  background-color: #1f5f5a;
  border-color: #113935;
}
.cyan {
  background-color: #3eccb9;
  border-color: #217065;
}
.light.cyan {
  background-color: #5ed5c5;
  border-color: #31746b;
}
.dark.cyan {
  background-color: #2fb3a1;
  border-color: #196359;
}
.skyblue,
.info {
  background-color: #8dadbd;
  border-color: #495d66;
}
.light.skyblue,
.light.info {
  background-color: #a7c0cc;
  border-color: #56666e;
}
.dark.skyblue,
.dark.info {
  background-color: #739bae;
  border-color: #3d545f;
}
.blue {
  background-color: #2900cd;
  border-color: #170072;
}
.light.blue {
  background-color: #3100f6;
  border-color: #1b0086;
}
.dark.blue {
  background-color: #2100a4;
  border-color: #13005d;
}
.indigo {
  background-color: #6c0075;
  border-color: #400046;
}
.light.indigo {
  background-color: #92009e;
  border-color: #53005a;
}
.dark.indigo {
  background-color: #47004d;
  border-color: #2e0031;
}
.purple {
  background-color: #a5007c;
  border-color: #5e0047;
}
.light.purple {
  background-color: #ce009b;
  border-color: #720056;
}
.dark.purple {
  background-color: #7c005e;
  border-color: #490037;
}
.violet {
  background-color: #e866bf;
  border-color: #7e3467;
}
.light.violet {
  background-color: #ed8ace;
  border-color: #80466e;
}
.dark.violet {
  background-color: #e243b0;
  border-color: #7b225f;
}
.gray {
  background-color: #926b65;
  border-color: #513936;
}
.light.gray {
  background-color: #a4817b;
  border-color: #5a4441;
}
.dark.gray {
  background-color: #7a5954;
  border-color: #45312d;
}
.brown {
  background-color: #a64c28;
  border-color: #5c2a15;
}
.light.brown {
  background-color: #c65b30;
  border-color: #6d3119;
}
.dark.brown {
  background-color: #853d20;
  border-color: #4c2212;
}
.magenta {
  background-color: #e600a8;
  border-color: #7e005c;
}
.light.magenta {
  background-color: #ff11bf;
  border-color: #8a0867;
}
.dark.magenta {
  background-color: #bd008b;
  border-color: #6a004d;
}
.lavender {
  background-color: #cdaecf;
  border-color: #6e5a70;
}
.light.lavender {
  background-color: #ddc8df;
  border-color: #766777;
}
.dark.lavender {
  background-color: #bc94c0;
  border-color: #664d68;
}
.cream {
  background-color: #f0e3bc;
  border-color: #81795f;
}
.light.cream {
  background-color: #f7f1dd;
  border-color: #858070;
}
.dark.cream {
  background-color: #e9d59b;
  border-color: #7e724f;
}
.charcoal {
  background-color: #6c3025;
  border-color: #3f1b14;
}
.light.charcoal {
  background-color: #8a3d2f;
  border-color: #4e221a;
}
.dark.charcoal {
  background-color: #4d221a;
  border-color: #30140f;
}
.crimson {
  background-color: #b8091b;
  border-color: #66050f;
}
.light.crimson {
  background-color: #de0b21;
  border-color: #7a0612;
}
.dark.crimson {
  background-color: #910715;
  border-color: #53040c;
}
.clover {
  background-color: #5d9b12;
  border-color: #34580a;
}
.light.clover {
  background-color: #73c016;
  border-color: #3f6a0c;
}
.dark.clover {
  background-color: #47760e;
  border-color: #294508;
}
.cobalt {
  background-color: #356fc1;
  border-color: #1c3d6a;
}
.light.cobalt {
  background-color: #5085cf;
  border-color: #2a4771;
}
.dark.cobalt {
  background-color: #2c5da1;
  border-color: #18335a;
}
.graphite {
  background-color: #372e4f;
  border-color: #201a30;
}
.light.graphite {
  background-color: #493d69;
  border-color: #29213c;
}
.dark.graphite {
  background-color: #251f35;
  border-color: #171223;
}
.ruby {
  background-color: #bd002c;
  border-color: #690019;
}
.light.ruby {
  background-color: #e60036;
  border-color: #7e001d;
}
.dark.ruby {
  background-color: #940023;
  border-color: #550014;
}
.onyx {
  background-color: #433231;
  border-color: #291d1c;
}
.light.onyx {
  background-color: #5a4442;
  border-color: #352625;
}
.dark.onyx {
  background-color: #2b2020;
  border-color: #1d1413;
}
.pewter {
  background-color: #a99a7b;
  border-color: #5c5341;
}
.light.pewter {
  background-color: #b9ad94;
  border-color: #645d4d;
}
.dark.pewter {
  background-color: #988663;
  border-color: #544935;
}
.gunmetal {
  background-color: #5e4e5a;
  border-color: #362b33;
}
.light.gunmetal {
  background-color: #74606f;
  border-color: #41343e;
}
.dark.gunmetal {
  background-color: #483b45;
  border-color: #2b2129;
}
.hotpink {
  background-color: #f04f95;
  border-color: #82284f;
}
.light.hotpink {
  background-color: #f375ac;
  border-color: #843b5b;
}
.dark.hotpink {
  background-color: #ed2a7e;
  border-color: #811544;
}
.neongreen {
  background-color: #43e30f;
  border-color: #247c08;
}
.light.neongreen {
  background-color: #5af129;
  border-color: #308315;
}
.dark.neongreen {
  background-color: #37bc0c;
  border-color: #1f6907;
}
.electricblue {
  background-color: #40aecf;
  border-color: #215f71;
}
.light.electricblue {
  background-color: #60bcd7;
  border-color: #326675;
}
.dark.electricblue {
  background-color: #2e98b8;
  border-color: #195465;
}
.royalpurple {
  background-color: #6e2c8b;
  border-color: #3e184e;
}
.light.royalpurple {
  background-color: #8736aa;
  border-color: #4a1d5e;
}
.dark.royalpurple {
  background-color: #56226c;
  border-color: #32133f;
}
.lemon {
  background-color: #faeb84;
  border-color: #887f42;
}
.light.lemon {
  background-color: #fcf2ab;
  border-color: #888256;
}
.dark.lemon {
  background-color: #f8e55d;
  border-color: #877c2f;
}
.lime {
  background-color: #a2d070;
  border-color: #57713a;
}
.light.lime {
  background-color: #b6da8f;
  border-color: #61764a;
}
.dark.lime {
  background-color: #8ec652;
  border-color: #4d6c2b;
}
.tangerine {
  background-color: #f59d49;
  border-color: #855425;
}
.light.tangerine {
  background-color: #f7b270;
  border-color: #865e38;
}
.dark.tangerine {
  background-color: #f38822;
  border-color: #844a12;
}
.grapefruit {
  background-color: #d7293b;
  border-color: #751620;
}
.light.grapefruit {
  background-color: #de4b5b;
  border-color: #79272f;
}
.dark.grapefruit {
  background-color: #b52231;
  border-color: #64121b;
}
.action,
.base-color {
  color: #fff2f0;
  background: #f32b05;
  border-color: #841703;
}
.action.light,
.base-color.light {
  color: #fff2f0;
  background: #fb4826;
  border-color: #882613;
}
.action.dark,
.base-color.dark {
  color: #fff2f0;
  background: #cb2404;
  border-color: #701402;
}
.reaction {
  background-color: #2c8392;
  border-color: #184952;
}
.light.reaction {
  background-color: #359fb1;
  border-color: #1c5762;
}
.dark.reaction {
  background-color: #226772;
  border-color: #133b42;
}
.default {
  background-color: #c55643;
  border-color: #6c2e24;
}
.light.default {
  background-color: #cf7262;
  border-color: #703c33;
}
.dark.default {
  background-color: #ab4635;
  border-color: #5f261c;
}
.warm {
  background-color: #e56400;
  border-color: #7e3700;
}
.light.warm {
  background-color: #ff780f;
  border-color: #8a4107;
}
.dark.warm {
  background-color: #bc5300;
  border-color: #692e00;
}
.cool {
  background-color: #66008a;
  border-color: #3b0050;
}
.light.cool {
  background-color: #8500b3;
  border-color: #4a0065;
}
.dark.cool {
  background-color: #480062;
  border-color: #2c003c;
}
.neutral {
  background-color: #6f7b00;
  border-color: #414900;
}
.light.neutral {
  background-color: #94a400;
  border-color: #545d00;
}
.dark.neutral {
  background-color: #4a5300;
  border-color: #2f3400;
}
.complement,
.second.triad {
  background-color: #2c92a3;
  border-color: #18515b;
}
.light.complement,
.light.second.triad {
  background-color: #35afc3;
  border-color: #1c606b;
}
.dark.complement,
.dark.second.triad {
  background-color: #237583;
  border-color: #13434b;
}
.accent {
  background-color: #c36d02;
  border-color: #6c3d01;
}
.light.accent {
  background-color: #eb8303;
  border-color: #804802;
}
.dark.accent {
  background-color: #9a5602;
  border-color: #583101;
}
.second.accent {
  background-color: #c30336;
  border-color: #6c011e;
}
.light.second.accent {
  background-color: #eb0341;
  border-color: #800224;
}
.dark.second.accent {
  background-color: #9a022b;
  border-color: #580118;
}
.split {
  background-color: #67ba04;
  border-color: #396802;
}
.light.split {
  background-color: #7de204;
  border-color: #447c02;
}
.dark.split {
  background-color: #519203;
  border-color: #2e5402;
}
.second.split {
  background-color: #9d04af;
  border-color: #580262;
}
.light.second.split {
  background-color: #c105d7;
  border-color: #6a0376;
}
.dark.second.split {
  background-color: #790387;
  border-color: #46024e;
}
.triad {
  background-color: #bcba04;
  border-color: #696802;
}
.light.triad {
  background-color: #e4e204;
  border-color: #7d7c02;
}
.dark.triad {
  background-color: #949303;
  border-color: #555402;
}
.third.triad {
  background-color: #d80494;
  border-color: #770251;
}
.light.third.triad {
  background-color: #fb0aad;
  border-color: #88055e;
}
.dark.third.triad {
  background-color: #b00378;
  border-color: #630244;
}
.tetrad {
  background-color: #d8aa04;
  border-color: #775d02;
}
.light.tetrad {
  background-color: #fbc609;
  border-color: #886c05;
}
.dark.tetrad {
  background-color: #b08a03;
  border-color: #634e02;
}
.second.tetrad {
  background-color: #2cba4a;
  border-color: #186628;
}
.light.second.tetrad {
  background-color: #3ed15d;
  border-color: #217232;
}
.dark.second.tetrad {
  background-color: #24993d;
  border-color: #145622;
}
.third.tetrad {
  background-color: #2c14af;
  border-color: #180b62;
}
.light.third.tetrad {
  background-color: #3619d4;
  border-color: #1d0d74;
}
.dark.third.tetrad {
  background-color: #23108b;
  border-color: #14094f;
}
.fourth.tetrad {
  background-color: #d80469;
  border-color: #77023a;
}
.light.fourth.tetrad {
  background-color: #fb0a7d;
  border-color: #880544;
}
.dark.fourth.tetrad {
  background-color: #b00355;
  border-color: #630230;
}
.highlight {
  background-color: #ec0076;
  border-color: #810040;
}
.light.highlight {
  background-color: #ff168a;
  border-color: #8a0b4b;
}
.dark.highlight {
  background-color: #c30062;
  border-color: #6d0036;
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-margin-right {
  margin-right: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.no-margin-left {
  margin-left: 0 !important;
}
.no-padding {
  padding: 0;
}
.no-margin,
.no-gutter {
  margin: 0;
}
.no-side-margin,
.no-side-margins {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.no-margins {
  margin: 0 !important;
}
.no-margins * {
  margin: 0 !important;
}
.no-box-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  box-shadow: unset;
}
.no-text-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  text-shadow: unset;
}
.no-border,
.no-borders,
.no-borders * {
  border-width: 0 !important;
}
.no-background {
  background: transparent;
}
.no-text-indent {
  text-indent: 0;
}
.no-text-align {
  text-align: initial;
}
.no-user-select {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.no-pointer-events {
  pointer-events: none;
}
.no-list-style {
  list-style-type: none;
  margin-left: 0;
}
.no-grid-gap,
.no-column-gap {
  grid-gap: 0;
  column-gap: 0;
}
@media print {
  html {
    font-size: 62.5%;
  }
  * {
    box-shadow: unset !important;
    border: unset !important;
  }
  nav {
    display: none !important;
  }
  .page-width,
  .text-width,
  .container {
    all: unset;
  }
  .inner-page-width,
  .inner-text-width,
  .inner-aside-width {
    all: unset;
  }
}
