/* This project uses Cavepaint (MIT License) by Rex Riepe */
/* https://github.com/cavepaint/cavepaintCSS */
* {
  margin: 0 0 1.62rem 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  margin-bottom: 0;
}
.button,
button {
  border-style: solid;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(34, 34, 41, 0.16);
  display: inline;
  position: relative;
  font-family: inherit;
  font-size: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  color: inherit;
  background-color: inherit;
  border-color: #919766;
  border-width: 1px;
  line-height: 1.6;
  text-align: center;
  vertical-align: middle;
  outline: none;
  white-space: nowrap;
  text-decoration: none;
  touch-action: manipulation;
  cursor: pointer;
  transform: scale(1);
  transition: 0.08s linear;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.button:active,
button:active {
  transform: scale(0.99);
  box-shadow: unset;
}
.bar {
  position: relative;
  width: 100%;
  display: block;
  vertical-align: middle;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.bar > * {
  display: inline;
  margin-right: 0.3236em;
  margin-left: 0.3236em;
  margin-bottom: 0;
}
.card {
  position: relative;
  overflow: hidden;
  padding: 1.62rem;
  border: 1px solid #b4b896;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(34, 34, 41, 0.16);
}
.card > *:first-child {
  margin-top: 0;
}
.card > *:last-child {
  margin-bottom: 0;
}
.badge {
  border-radius: 0.5em;
  line-height: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  padding-right: 0.6472em;
  padding-left: 0.6472em;
  vertical-align: middle;
  border-radius: 99px;
  white-space: nowrap;
}
.modal {
  display: none;
  max-width: none;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  position: fixed;
  bottom: 0;
  justify-content: center;
  flex: 0 1 auto;
  flex-direction: column;
  height: 100vh;
}
.modal > * {
  flex-direction: column;
  color: #282922;
  position: relative;
  background: #fffffc;
  padding: 1.62rem;
  margin-bottom: 3.24rem;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(34, 34, 41, 0.16);
  margin: 1.62rem;
}
@media screen and (min-width: 49.24rem) {
  .modal > * {
    max-width: 74rem;
    margin: 0 auto;
  }
}
.overlay {
  margin: 0;
  padding: 0;
  position: relative;
}
.overlay .top,
.overlay .bottom,
.overlay .left,
.overlay .right {
  position: absolute;
}
.overlay .top {
  top: 0.3236em;
}
.overlay .bottom {
  bottom: 0.3236em;
}
.overlay .left {
  left: 0.3236em;
}
.overlay .right {
  right: 0.3236em;
}
.overlay.stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.overlay * {
  margin: 0;
  display: block;
}
.grid,
.two-column,
.three-column {
  display: grid;
  grid-gap: 1.62rem;
}
.grid.tablet,
.two-column.tablet,
.three-column.tablet,
.grid.mobile.tablet,
.two-column.mobile.tablet,
.three-column.mobile.tablet,
.grid.desktop,
.two-column.desktop,
.three-column.desktop {
  display: initial;
}
.grid {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.two-column {
  grid-template-columns: 1fr 1fr;
}
.two-column.golden {
  grid-template-columns: 1.618fr 1fr;
}
.two-column.golden.reverse {
  grid-template-columns: 1fr 1.618fr;
}
.three-column {
  grid-template-columns: 1fr 1fr 1fr;
}
.three-column.golden {
  grid-template-columns: 1fr 1.618fr 1fr;
}
.three-column.golden.leading {
  grid-template-columns: 1.618fr 1fr 1fr;
}
.three-column.golden.trailing {
  grid-template-columns: 1fr 1fr 1.618fr;
}
.grid-width-one {
  grid-column: auto / span 1;
}
.grid-width-two {
  grid-column: auto / span 2;
}
.grid-width-three {
  grid-column: auto / span 3;
}
.grid-width-four {
  grid-column: auto / span 4;
}
.grid-width-five {
  grid-column: auto / span 5;
}
.grid-width-six {
  grid-column: auto / span 6;
}
.grid-width-seven {
  grid-column: auto / span 7;
}
.grid-width-eight {
  grid-column: auto / span 8;
}
.grid-width-nine {
  grid-column: auto / span 9;
}
.grid-width-ten {
  grid-column: auto / span 10;
}
.grid-width-eleven {
  grid-column: auto / span 11;
}
.grid-width-twelve {
  grid-column: auto / span 12;
}
@media screen and (max-width: calc(49.24rem - 1px)) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: grid;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 49.24rem) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: initial;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: initial;
  }
  .grid.tablet,
  .two-column.tablet,
  .three-column.tablet {
    display: grid;
  }
  .grid.tablet > *,
  .two-column.tablet > *,
  .three-column.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (max-width: calc(74rem - 1px)) {
  .grid.mobile.tablet,
  .two-column.mobile.tablet,
  .three-column.mobile.tablet {
    display: grid;
  }
  .grid.mobile.tablet > *,
  .two-column.mobile.tablet > *,
  .three-column.mobile.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 74rem) {
  .grid.desktop,
  .two-column.desktop,
  .three-column.desktop {
    display: grid;
  }
  .grid.desktop > *,
  .two-column.desktop > *,
  .three-column.desktop > * {
    margin-bottom: 0;
  }
}
.responsive {
  column-gap: 0.619rem;
  grid-gap: 0.619rem;
}
.responsive.padding,
.modal,
.container {
  padding: 0.619rem;
}
.responsive.margin,
.container {
  margin: 0.619rem;
}
.responsive.gutter {
  margin: 1.238rem;
}
@media screen and (min-width: 49.24rem) {
  .responsive {
    column-gap: 1.001rem;
    grid-gap: 1.001rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.001rem;
  }
  .responsive.margin,
  .container {
    margin: 1.001rem;
  }
  .responsive.gutter {
    margin: 2.002rem;
  }
}
@media screen and (min-width: 74rem) {
  .responsive {
    column-gap: 1.62rem;
    grid-gap: 1.62rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.62rem;
  }
  .responsive.margin,
  .container {
    margin: 1.62rem;
  }
  .responsive.gutter {
    margin: 3.24rem;
  }
}
.background {
  background: #fffffc;
}
.background-color {
  background-color: #fffffc;
}
.border {
  border: 1px solid #b4b896;
}
.border-radius,
.rounded {
  border-radius: 0.5em;
}
.border-bottom {
  border-bottom: 1px solid #b4b896;
}
.border-left {
  border-left: 1px solid #b4b896;
}
.border-right {
  border-right: 1px solid #b4b896;
}
.border-style,
.button.border,
button.border {
  border-style: solid;
}
.border-top {
  border-top: 1px solid #b4b896;
}
.border-width,
.button.border,
button.border {
  border-width: 1px;
}
.max-width {
  max-width: 74rem;
}
.min-width {
  min-width: 28rem;
}
.align-content {
  align-content: stretch;
}
.align-items {
  align-items: stretch;
}
.align-self {
  align-self: auto;
}
.flex,
.vertical-center,
.center-vertical {
  flex: 0 1 auto;
}
.flex-basis {
  flex-basis: auto;
}
.flex-direction,
.vertical-center,
.center-vertical {
  flex-direction: column;
}
.flex-flow {
  flex-flow: column nowrap;
}
.flex-grow {
  flex-grow: 0;
}
.flex-shrink {
  flex-shrink: 1;
}
.flex-wrap {
  flex-wrap: nowrap;
}
.justify-content,
.vertical-center,
.center-vertical {
  justify-content: center;
}
.font-family,
body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.font-size {
  font-size: 21px;
}
.font-weight {
  font-weight: normal;
}
.list-style {
  list-style: disc inside none;
}
.list-style-type {
  list-style-type: disc;
}
.margin {
  margin: 1.62rem;
}
.margin-bottom {
  margin-bottom: 1.62rem;
}
.margin-left {
  margin-left: 1.62rem;
}
.margin-right {
  margin-right: 1.62rem;
}
.margin-top {
  margin-top: 1.62rem;
}
.column-gap {
  column-gap: 1.94em;
}
.column-rule {
  column-rule: 1px solid #b4b896;
}
.padding {
  padding: 1.62rem;
}
.padding-bottom {
  padding-bottom: 1.62rem;
}
.padding-left {
  padding-left: 1.62rem;
}
.padding-right {
  padding-right: 1.62rem;
}
.padding-top {
  padding-top: 1.62rem;
}
.text-align {
  text-align: left;
}
.text-align-last {
  text-align-last: left;
}
.text-indent {
  text-indent: 2ch;
}
.text-justify {
  text-justify: justify;
}
.text-overflow {
  text-overflow: hidden;
}
.text-shadow {
  text-shadow: 1.41px 1.41px 1.41px rgba(34, 34, 41, 0.16);
}
.line-height {
  line-height: 1.8;
}
.vertical-align {
  vertical-align: middle;
}
.letter-spacing {
  letter-spacing: 0;
}
.word-spacing {
  word-spacing: normal;
}
.white-space {
  white-space: nowrap;
}
.word-break {
  word-break: break-all;
}
.word-wrap {
  word-wrap: break-word;
}
.transform {
  transform: none;
}
.transition {
  transition: all 0s ease 0s;
}
.display {
  display: block;
}
.position {
  position: absolute;
}
.top {
  top: 0;
}
.right {
  right: 0;
}
.bottom {
  bottom: 0;
}
.left {
  left: 0;
}
.float {
  float: left;
}
.clear {
  clear: both;
}
.z-index {
  z-index: 10;
}
.overflow {
  overflow: hidden;
}
.overflow-x {
  overflow-x: hidden;
}
.cursor {
  cursor: pointer;
}
.box-shadow {
  box-shadow: 1.41px 1.41px 1.41px rgba(34, 34, 41, 0.16);
}
.gutter {
  margin: 3.24rem;
}
.gutter-top {
  margin-top: 3.24rem;
}
.gutter-right {
  margin-right: 3.24rem;
}
.gutter-bottom {
  margin-bottom: 3.24rem;
}
.gutter-left {
  margin-left: 3.24rem;
}
.text-padding {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-padding-top {
  padding-top: 0.18em;
}
.text-padding-right {
  padding-right: 0.3236em;
}
.text-padding-bottom {
  padding-bottom: 0.22em;
}
.text-padding-left {
  padding-left: 0.3236em;
}
.text-margin {
  margin: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-margin-top {
  margin-top: 0.18em;
}
.text-margin-right {
  margin-right: 0.3236em;
}
.text-margin-bottom {
  margin-bottom: 0.22em;
}
.text-margin-left {
  margin-left: 0.3236em;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.initial {
  display: initial;
}
.table {
  display: table;
}
.flex,
.vertical-center,
.center-vertical {
  display: flex;
}
.inline-block {
  display: inline-block;
}
.static {
  position: static;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.margin-auto,
.container {
  margin-left: auto;
  margin-right: auto;
}
.width-auto {
  width: auto;
}
.inset {
  box-shadow: inset 1.41px 1.41px 1.41px rgba(34, 34, 41, 0.16);
}
.viewport-height {
  height: 100vh;
}
.min-viewport-height {
  min-height: 100vh;
}
.overflow-hidden {
  overflow: hidden;
}
.dashed {
  border-style: dashed;
}
.dotted {
  border-style: dotted;
}
.thick {
  border-width: 2px;
}
.thin {
  border-width: 0.5px;
}
.current-color {
  border-color: currentColor;
}
.fade {
  opacity: 0.65;
}
.serif,
.font-family-serif {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "Droid Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
.monospace,
.font-family-monospace,
pre,
code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
}
.sans-serif,
.font-family-sans-serif {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.text-transparent {
  color: transparent;
}
.reset {
  all: initial;
}
.big {
  font-size: 125%;
  line-height: 2.25;
}
.big.font-size {
  font-size: 26.25px;
}
.small,
.badge {
  font-size: 87.5%;
  line-height: 1.575;
}
.small.font-size {
  font-size: 18.375px;
}
.huge {
  font-size: 160%;
}
.huge.font-size {
  font-size: 33.6px;
}
.text-trim {
  line-height: 1;
}
.text-align-center,
.text-center {
  text-align: center;
}
.text-align-left,
.text-left {
  text-align: left;
}
.text-align-right,
.text-right {
  text-align: right;
}
.text-align-justify,
.text-justify {
  text-align: justify;
}
.grid-gap-margin {
  grid-gap: 1.62rem;
}
.grid-gap-border-width {
  grid-gap: 1px;
}
.grid-gap-text-padding,
.grid-gap-text-margin {
  grid-gap: 0.3236em;
}
.shade,
.white,
.light.red,
.orange,
.yellow,
.olive,
.green,
.teal,
.cyan,
.skyblue,
.light.purple,
.violet,
.gray,
.magenta,
.lavender,
.cream,
.clover,
.light.cobalt,
.pewter,
.light.gunmetal,
.hotpink,
.neongreen,
.electricblue,
.lemon,
.lime,
.tangerine,
.light.grapefruit,
.reaction,
.default,
.warm,
.cool,
.neutral,
.complement,
.accent,
.second.accent,
.split,
.second.split,
.triad,
.third.triad,
.tetrad,
.second.tetrad,
.third.tetrad,
.fourth.tetrad,
.highlight,
body,
input,
textarea,
.info,
.warning,
.success,
.light.failure,
.second.triad {
  color: #282922;
}
.tint,
.black,
.red,
.dark.olive,
.dark.green,
.dark.teal,
.blue,
.indigo,
.purple,
.dark.gray,
.brown,
.charcoal,
.crimson,
.cobalt,
.graphite,
.ruby,
.onyx,
.gunmetal,
.dark.hotpink,
.royalpurple,
.grapefruit,
.dark.reaction,
.dark.success,
.failure {
  color: #fffffc;
}
.transparent {
  background-color: transparent;
  color: inherit;
  border-color: inherit;
}
.transparent.light {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23FFF%22%20fill-opacity%3D%220.16%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.transparent.dark,
.modal {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23000%22%20fill-opacity%3D%220.25%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.trim,
.trim-inner *,
.trim-all,
.trim-all * {
  margin-bottom: 0;
}
.hidden {
  display: none !important;
}
.clearfix,
.clear {
  clear: both;
}
.clearfix::after,
.clear::after {
  display: block;
  clear: both;
  content: "";
}
.golden-width {
  max-width: calc(62% - 3.24rem);
}
.golden-width.reverse {
  max-width: 38%;
}
.aside-width {
  max-width: 28rem;
}
@media screen and (min-width: 49.24rem) {
  .text-width {
    max-width: 46rem;
  }
}
.page-width,
.container {
  max-width: 74rem;
}
.full-width,
.aside-width .aside-width,
.text-width .text-width,
.page-width .page-width {
  display: block;
  width: 100%;
}
.inner-aside-width {
  padding-left: calc(50% - 14rem);
  padding-right: calc(50% - 14rem);
}
.inner-aside-width.padding {
  padding-left: calc(50% - 12.38rem);
  padding-right: calc(50% - 12.38rem);
}
.inner-aside-width.responsive.padding {
  padding-left: calc(50% - 13.38rem);
  padding-right: calc(50% - 13.38rem);
}
@media screen and (max-width: calc(49.24rem - 1px)) {
  .inner-text-width {
    padding-left: initial;
    padding-right: initial;
  }
  .inner-text-width.padding {
    padding-left: 1.62rem;
    padding-right: 1.62rem;
  }
  .inner-text-width.responsive.padding {
    padding-left: 0.619rem;
    padding-right: 0.619rem;
  }
}
@media screen and (min-width: 49.24rem) {
  .inner-aside-width.tablet.padding {
    padding-left: calc(50% - 12.38rem);
    padding-right: calc(50% - 12.38rem);
  }
  .inner-aside-width.tablet.responsive.padding {
    padding-left: calc(50% - 13rem);
    padding-right: calc(50% - 13rem);
  }
  .inner-text-width {
    padding-left: calc(50% - 23rem);
    padding-right: calc(50% - 23rem);
  }
  .inner-text-width.padding {
    padding-left: calc(50% - 21.38rem);
    padding-right: calc(50% - 21.38rem);
  }
  .inner-text-width.responsive.padding {
    padding-left: calc(50% - 22rem);
    padding-right: calc(50% - 22rem);
  }
}
@media screen and (min-width: 74rem) {
  .inner-aside-width.desktop.padding {
    padding-left: calc(50% - 12.38rem);
    padding-right: calc(50% - 12.38rem);
  }
  .inner-aside-width.desktop.responsive.padding {
    padding-left: calc(50% - 12.38rem);
    padding-right: calc(50% - 12.38rem);
  }
  .inner-text-width.desktop.padding {
    padding-left: calc(50% - 21.38rem);
    padding-right: calc(50% - 21.38rem);
  }
  .inner-text-width.desktop.responsive.padding {
    padding-left: calc(50% - 21.38rem);
    padding-right: calc(50% - 21.38rem);
  }
  .inner-page-width {
    padding-left: calc(50% - 37rem);
    padding-right: calc(50% - 37rem);
  }
  .inner-page-width.padding {
    padding-left: calc(50% - 35.38rem);
    padding-right: calc(50% - 35.38rem);
  }
  .inner-page-width.responsive.padding {
    padding-left: calc(50% - 35.38rem);
    padding-right: calc(50% - 35.38rem);
  }
}
.texture,
.pattern {
  background-position: top center;
}
.texture {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20xmlns%3Axlink%3D'http%3A//www.w3.org/1999/xlink'%20viewBox%3D'0%200%202.646%204.233'%20height%3D'16'%20width%3D'10'%3E%3Crect%20ry%3D'.269'%20rx%3D'.279'%20y%3D'-.529'%20x%3D'-.265'%20height%3D'1.058'%20width%3D'.529'%20id%3D'a'%20opacity%3D'1'%20fill%3D'%23000'%20stroke-width%3D'0'%20stroke-linecap%3D'round'%20fill-opacity%3D'0.05'/%3E%3Cuse%20height%3D'100%25'%20width%3D'100%25'%20transform%3D'translate%280%204.233%29'%20xlink%3Ahref%3D'%23a'/%3E%3Cuse%20height%3D'100%25'%20width%3D'100%25'%20transform%3D'translate%281.323%202.117%29'%20xlink%3Ahref%3D'%23a'/%3E%3Cuse%20height%3D'100%25'%20width%3D'100%25'%20transform%3D'translate%282.646%29'%20xlink%3Ahref%3D'%23a'/%3E%3Cuse%20height%3D'100%25'%20width%3D'100%25'%20transform%3D'translate%282.646%204.233%29'%20xlink%3Ahref%3D'%23a'/%3E%3C/svg%3E");
}
.pattern {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20viewBox%3D'0%200%2021.167%2013.229'%20height%3D'105'%20width%3D'168'%3E%3Cg%20fill%3D'%23fffffc'%20fill-opacity%3D'0.05'%3E%3Ccircle%20cx%3D'13.759'%20cy%3D'4.498'%20r%3D'1.323'/%3E%3Ccircle%20cy%3D'1.587'%20cx%3D'8.202'%20r%3D'.794'/%3E%3Ccircle%20r%3D'.794'%20cx%3D'4.498'%20cy%3D'9.26'/%3E%3Ccircle%20r%3D'.794'%20cx%3D'18.521'%20cy%3D'11.377'/%3E%3Ccircle%20cy%3D'11.112'%20cx%3D'12.171'%20r%3D'.529'/%3E%3Ccircle%20r%3D'.529'%20cx%3D'18.521'%20cy%3D'5.027'/%3E%3Ccircle%20r%3D'.529'%20cx%3D'8.731'%20cy%3D'6.614'/%3E%3Ccircle%20r%3D'.529'%20cx%3D'3.175'%20cy%3D'3.969'/%3E%3Ccircle%20r%3D'.529'%20cx%3D'.794'%20cy%3D'12.435'/%3E%3C/g%3E%3C/svg%3E");
}
.placeholder::before {
  content: " ";
  white-space: pre;
}
.placeholder::after {
  content: "";
}
.placeholder.image,
.placeholder.video,
.placeholder.avatar {
  position: relative;
}
.placeholder.image::before,
.placeholder.video::before,
.placeholder.avatar::before {
  position: absolute;
  top: calc(50% - 4rem);
  right: 0;
  bottom: 0;
  left: 0;
  display: inline-block;
  text-align: center;
  font-size: 4rem;
  vertical-align: middle;
}
.placeholder.image.small::before,
.placeholder.video.small::before,
.placeholder.avatar.small::before {
  top: calc(50% - 2rem);
  font-size: 2rem;
}
.placeholder.image.big::before,
.placeholder.video.big::before,
.placeholder.avatar.big::before {
  top: calc(50% - 6rem);
  font-size: 6rem;
}
.placeholder.image.huge::before,
.placeholder.video.huge::before,
.placeholder.avatar.huge::before {
  top: calc(50% - 8rem);
  font-size: 8rem;
}
.placeholder.image::after,
.placeholder.video::after,
.placeholder.avatar::after {
  display: block;
}
.placeholder.image::before {
  content: "\1f5bc";
}
.placeholder.image::after {
  padding-top: 75%;
}
.placeholder.video::before {
  content: "\25B6";
}
.placeholder.video::after {
  padding-top: 56.25%;
}
.placeholder.avatar::before {
  content: "\263B";
}
.placeholder.avatar::after {
  padding-top: 100%;
}
.placeholder.no-icon::before {
  content: "";
}
.hide {
  display: none;
}
.hide.tablet {
  display: initial;
}
.hide.desktop {
  display: initial;
}
@media screen and (max-width: calc(49.24rem - 1px)) {
  .hide.mobile {
    display: none;
  }
}
@media screen and (min-width: 49.24rem) {
  .hide.mobile {
    display: initial;
  }
  .hide.tablet {
    display: none;
  }
}
@media screen and (min-width: 74rem) {
  .hide.desktop {
    display: none;
  }
  .hide.mobile.tablet {
    display: initial;
  }
}
@media screen and (max-width: calc(74rem - 1px)) {
  .hide.mobile.tablet {
    display: none;
  }
}
body {
  font-size: 21px;
  line-height: 1.8;
  margin: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
nav {
  z-index: 99;
}
nav a {
  text-decoration: none;
}
aside {
  margin: 0 auto;
  margin-bottom: 1.62rem;
  max-width: 28rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-top: 0.49443758em;
  margin-bottom: 0.74165637em;
  letter-spacing: -0.025em;
  color: inherit;
  line-height: 1.618;
}
h1 {
  font-size: 2.4em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1em;
}
p {
  margin-bottom: 1em;
}
p.gutter-bottom {
  margin-bottom: 1.618em;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: inherit;
  text-decoration: underline;
}
a.target-blank::after,
a.new-tab::after,
a.external-link::after {
  content: "\00A0\1F855";
}
form {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input {
  font-size: 21px;
  line-height: 1.8;
  border: 1px solid #b4b896;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input:focus {
  box-shadow: 0 0 2px #9bd6ed;
}
fieldset {
  border: none;
  outline: none;
}
ol {
  padding-left: 4ch;
  margin-bottom: 1.62rem;
}
ol li {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
ul {
  margin-left: 1.62rem;
  margin-bottom: 1.62rem;
}
li {
  margin-bottom: 0.44em;
}
kbd {
  color: #fffffc;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  white-space: nowrap;
}
b {
  padding: 0.18em 0 0.22em 0;
}
pre {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  overflow: hidden;
  border-radius: 0.5em;
  background: #494844;
  color: #fffffc;
}
pre.white-space,
pre.word-break {
  white-space: pre-wrap;
}
pre > code {
  background: transparent;
  padding: 0;
}
code {
  color: #fffffc;
  background-color: #474f6b;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
code.terminal::before {
  content: "$ ";
}
textarea {
  font-size: 21px;
  line-height: 1.8;
  border: 1px solid #b4b896;
  border-radius: 0.5em;
  margin-bottom: 1.62rem;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
textarea:focus {
  box-shadow: 0 0 2px #9bd6ed;
}
.white,
body,
input,
textarea {
  background-color: #fffffc;
  border-color: #919281;
}
.black {
  background-color: #282922;
  border-color: #141411;
}
.ambient {
  color: #282922;
  background: #fbfed5;
  border-color: #8f916d;
}
.ambient.light {
  color: #282922;
  background: #fffffc;
  border-color: #919281;
}
.ambient.dark {
  color: #282922;
  background: #f7fcad;
  border-color: #8d9159;
}
.red,
.failure {
  background-color: #fd493e;
  border-color: #922822;
}
.light.red,
.light.failure {
  background-color: #fe6f66;
  border-color: #923b36;
}
.dark.red,
.dark.failure {
  background-color: #fd2315;
  border-color: #91150d;
}
.orange,
.warning {
  background-color: #ffb624;
  border-color: #926814;
}
.light.orange,
.light.warning {
  background-color: #ffc34d;
  border-color: #926f29;
}
.dark.orange,
.dark.warning {
  background-color: #f9a700;
  border-color: #906103;
}
.yellow {
  background-color: #fefe2d;
  border-color: #929219;
}
.light.yellow {
  background-color: #fefe55;
  border-color: #92922d;
}
.dark.yellow {
  background-color: #fefe04;
  border-color: #929204;
}
.olive {
  background-color: #b3b33e;
  border-color: #686826;
}
.light.olive {
  background-color: #c4c455;
  border-color: #717131;
}
.dark.olive {
  background-color: #949533;
  border-color: #595920;
}
.green,
.success {
  background-color: #40ab35;
  border-color: #276521;
}
.light.green,
.light.success {
  background-color: #50c544;
  border-color: #2f7228;
}
.dark.green,
.dark.success {
  background-color: #348c2c;
  border-color: #21551c;
}
.teal {
  background-color: #48b3ae;
  border-color: #2b6865;
}
.light.teal {
  background-color: #64c0bc;
  border-color: #396e6c;
}
.dark.teal {
  background-color: #3d9692;
  border-color: #255957;
}
.cyan {
  background-color: #4bfefe;
  border-color: #289292;
}
.light.cyan {
  background-color: #74fefe;
  border-color: #3c9292;
}
.dark.cyan {
  background-color: #22fefe;
  border-color: #149292;
}
.skyblue,
.info {
  background-color: #9bd6ed;
  border-color: #527887;
}
.light.skyblue,
.light.info {
  background-color: #bde4f3;
  border-color: #637f8a;
}
.dark.skyblue,
.dark.info {
  background-color: #78c8e7;
  border-color: #417184;
}
.blue {
  background-color: #3839fe;
  border-color: #1e1f92;
}
.light.blue {
  background-color: #6161fe;
  border-color: #333392;
}
.dark.blue {
  background-color: #0f10fe;
  border-color: #0a0b92;
}
.indigo {
  background-color: #7e41a8;
  border-color: #4b2762;
}
.light.indigo {
  background-color: #9354bd;
  border-color: #55316d;
}
.dark.indigo {
  background-color: #68368a;
  border-color: #402254;
}
.purple {
  background-color: #c259bf;
  border-color: #70336e;
}
.light.purple {
  background-color: #cd77ca;
  border-color: #754274;
}
.dark.purple {
  background-color: #b241ae;
  border-color: #672765;
}
.violet {
  background-color: #f197f0;
  border-color: #895089;
}
.light.violet {
  background-color: #f5bbf5;
  border-color: #8c628b;
}
.dark.violet {
  background-color: #ec73ea;
  border-color: #873e86;
}
.gray {
  background-color: #9d9a94;
  border-color: #5a5854;
}
.light.gray {
  background-color: #b0aeaa;
  border-color: #63625f;
}
.dark.gray {
  background-color: #89867f;
  border-color: #504e4a;
}
.brown {
  background-color: #b06c47;
  border-color: #67402a;
}
.light.brown {
  background-color: #bf8261;
  border-color: #6e4b37;
}
.dark.brown {
  background-color: #935a3b;
  border-color: #583725;
}
.magenta {
  background-color: #fd6afd;
  border-color: #913891;
}
.light.magenta {
  background-color: #fd92fd;
  border-color: #914c91;
}
.dark.magenta {
  background-color: #fc42fc;
  border-color: #912391;
}
.lavender {
  background-color: #d9cbec;
  border-color: #776c85;
}
.light.lavender {
  background-color: #efe9f7;
  border-color: #827b8a;
}
.dark.lavender {
  background-color: #c3ade2;
  border-color: #6c5d80;
}
.cream {
  background-color: #fafadd;
  border-color: #8e8e73;
}
.light.cream {
  background-color: #ffffff;
  border-color: #8a8a8a;
}
.dark.cream {
  background-color: #f4f4ba;
  border-color: #8b8b61;
}
.charcoal {
  background-color: #776352;
  border-color: #483c32;
}
.light.charcoal {
  background-color: #8f7863;
  border-color: #54463a;
}
.dark.charcoal {
  background-color: #5e4f41;
  border-color: #3c322a;
}
.crimson {
  background-color: #c4313e;
  border-color: #721e25;
}
.light.crimson {
  background-color: #d24c57;
  border-color: #792c32;
}
.dark.crimson {
  background-color: #a32933;
  border-color: #611a20;
}
.clover {
  background-color: #71c947;
  border-color: #42742a;
}
.light.clover {
  background-color: #89d267;
  border-color: #4e7839;
}
.dark.clover {
  background-color: #5db235;
  border-color: #386920;
}
.cobalt {
  background-color: #4990e0;
  border-color: #295280;
}
.light.cobalt {
  background-color: #6ca5e6;
  border-color: #3b5d83;
}
.dark.cobalt {
  background-color: #267bda;
  border-color: #18487d;
}
.graphite {
  background-color: #474f6b;
  border-color: #2c3142;
}
.light.graphite {
  background-color: #586283;
  border-color: #353a4e;
}
.dark.graphite {
  background-color: #373d52;
  border-color: #242836;
}
.ruby {
  background-color: #c6255d;
  border-color: #741837;
}
.light.ruby {
  background-color: #da3a71;
  border-color: #7d2241;
}
.dark.ruby {
  background-color: #a41f4d;
  border-color: #62142f;
}
.onyx {
  background-color: #494844;
  border-color: #302f2c;
}
.light.onyx {
  background-color: #5e5d58;
  border-color: #3a3936;
}
.dark.onyx {
  background-color: #343331;
  border-color: #252522;
}
.pewter {
  background-color: #c0c0a9;
  border-color: #6c6c5e;
}
.light.pewter {
  background-color: #d1d1c1;
  border-color: #75756a;
}
.dark.pewter {
  background-color: #aeaf92;
  border-color: #636352;
}
.gunmetal {
  background-color: #73858d;
  border-color: #434d52;
}
.light.gunmetal {
  background-color: #89989f;
  border-color: #4e575b;
}
.dark.gunmetal {
  background-color: #607076;
  border-color: #3a4347;
}
.hotpink {
  background-color: #fe79ba;
  border-color: #923f67;
}
.light.hotpink {
  background-color: #fea2cf;
  border-color: #925372;
}
.dark.hotpink {
  background-color: #fd51a5;
  border-color: #912b5d;
}
.neongreen {
  background-color: #5bfe37;
  border-color: #33921e;
}
.light.neongreen {
  background-color: #7cfe60;
  border-color: #439232;
}
.dark.neongreen {
  background-color: #39fd0f;
  border-color: #22920a;
}
.electricblue {
  background-color: #61d3f5;
  border-color: #34788d;
}
.light.electricblue {
  background-color: #87def8;
  border-color: #477e8e;
}
.dark.electricblue {
  background-color: #3bc9f3;
  border-color: #21738b;
}
.royalpurple {
  background-color: #8a5fb3;
  border-color: #503767;
}
.light.royalpurple {
  background-color: #9e7bc0;
  border-color: #5a456e;
}
.dark.royalpurple {
  background-color: #754b9e;
  border-color: #452d5d;
}
.lemon {
  background-color: #fffd9d;
  border-color: #929151;
}
.light.lemon {
  background-color: #fffec5;
  border-color: #929265;
}
.dark.lemon {
  background-color: #fefc74;
  border-color: #92913d;
}
.lime {
  background-color: #aff5a2;
  border-color: #5e8c55;
}
.light.lime {
  background-color: #cff9c7;
  border-color: #6e8e67;
}
.dark.lime {
  background-color: #90f17d;
  border-color: #4e8a42;
}
.tangerine {
  background-color: #feb969;
  border-color: #926837;
}
.light.tangerine {
  background-color: #fecc91;
  border-color: #92714b;
}
.dark.tangerine {
  background-color: #fea640;
  border-color: #925e23;
}
.grapefruit {
  background-color: #e56571;
  border-color: #83373e;
}
.light.grapefruit {
  background-color: #eb8891;
  border-color: #86494e;
}
.dark.grapefruit {
  background-color: #df4351;
  border-color: #80262e;
}
.action,
.base-color {
  color: #282922;
  background: #d7e793;
  border-color: #79844f;
}
.action.light,
.base-color.light {
  color: #282922;
  background: #e3eeb4;
  border-color: #808760;
}
.action.dark,
.base-color.dark {
  color: #282922;
  background: #cbe072;
  border-color: #73803e;
}
.reaction {
  background-color: #b1a3e9;
  border-color: #605785;
}
.light.reaction {
  background-color: #cdc4f1;
  border-color: #6e6888;
}
.dark.reaction {
  background-color: #9482e2;
  border-color: #524781;
}
.default {
  background-color: #b4b896;
  border-color: #666954;
}
.light.default {
  background-color: #c5c9af;
  border-color: #6f7160;
}
.dark.default {
  background-color: #a2a87e;
  border-color: #5d6048;
}
.warm {
  background-color: #ffe19b;
  border-color: #927f50;
}
.light.warm {
  background-color: #ffedc4;
  border-color: #928564;
}
.dark.warm {
  background-color: #ffd572;
  border-color: #92793c;
}
.cool {
  background-color: #b3ffff;
  border-color: #5c9292;
}
.light.cool {
  background-color: #dcffff;
  border-color: #709292;
}
.dark.cool {
  background-color: #8bfefe;
  border-color: #489292;
}
.neutral {
  background-color: #e7bbe2;
  border-color: #82647f;
}
.light.neutral {
  background-color: #f2d9ef;
  border-color: #887385;
}
.dark.neutral {
  background-color: #dc9dd6;
  border-color: #7d5579;
}
.complement,
.second.triad {
  background-color: #b1a4e9;
  border-color: #605785;
}
.light.complement,
.light.second.triad {
  background-color: #cdc5f1;
  border-color: #6e6888;
}
.dark.complement,
.dark.second.triad {
  background-color: #9583e2;
  border-color: #524781;
}
.accent {
  background-color: #eefbe6;
  border-color: #808e78;
}
.light.accent {
  background-color: #ffffff;
  border-color: #928292;
}
.dark.accent {
  background-color: #d5f6c3;
  border-color: #738b66;
}
.second.accent {
  background-color: #fbf5e6;
  border-color: #8e8878;
}
.light.second.accent {
  background-color: #ffffff;
  border-color: #828292;
}
.dark.second.accent {
  background-color: #f5e7c3;
  border-color: #8b8166;
}
.split {
  background-color: #a3ebd2;
  border-color: #578575;
}
.light.split {
  background-color: #c5f2e3;
  border-color: #68897e;
}
.dark.split {
  background-color: #82e3c2;
  border-color: #46826d;
}
.second.split {
  background-color: #eba4b5;
  border-color: #855763;
}
.light.second.split {
  background-color: #f2c5d0;
  border-color: #896870;
}
.dark.second.split {
  background-color: #e3829b;
  border-color: #824755;
}
.triad {
  background-color: #a3ebac;
  border-color: #57855d;
}
.light.triad {
  background-color: #c5f2cb;
  border-color: #68896c;
}
.dark.triad {
  background-color: #82e38e;
  border-color: #46824e;
}
.third.triad {
  background-color: #ebb19e;
  border-color: #856154;
}
.light.third.triad {
  background-color: #f2ccc0;
  border-color: #896e65;
}
.dark.third.triad {
  background-color: #e4967c;
  border-color: #825343;
}
.tetrad {
  background-color: #a8eb9e;
  border-color: #5a8654;
}
.light.tetrad {
  background-color: #c6f2c0;
  border-color: #6a8965;
}
.dark.tetrad {
  background-color: #89e47c;
  border-color: #4b8243;
}
.second.tetrad {
  background-color: #a3cbe9;
  border-color: #577185;
}
.light.second.tetrad {
  background-color: #c4def1;
  border-color: #687a88;
}
.dark.second.tetrad {
  background-color: #82b9e2;
  border-color: #476881;
}
.third.tetrad {
  background-color: #e6a4e9;
  border-color: #835785;
}
.light.third.tetrad {
  background-color: #efc5f1;
  border-color: #876889;
}
.dark.third.tetrad {
  background-color: #dd83e2;
  border-color: #7e4781;
}
.fourth.tetrad {
  background-color: #ebc39e;
  border-color: #856c54;
}
.light.fourth.tetrad {
  background-color: #f2d8c0;
  border-color: #897665;
}
.dark.fourth.tetrad {
  background-color: #e4ae7c;
  border-color: #826243;
}
.highlight {
  background-color: #fefe4c;
  border-color: #929228;
}
.light.highlight {
  background-color: #ffff75;
  border-color: #92923d;
}
.dark.highlight {
  background-color: #fefe23;
  border-color: #929214;
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-margin-right {
  margin-right: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.no-margin-left {
  margin-left: 0 !important;
}
.no-padding {
  padding: 0;
}
.no-margin,
.no-gutter {
  margin: 0;
}
.no-side-margin,
.no-side-margins {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.no-margins {
  margin: 0 !important;
}
.no-margins * {
  margin: 0 !important;
}
.no-box-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  box-shadow: unset;
}
.no-text-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  text-shadow: unset;
}
.no-border,
.no-borders,
.no-borders * {
  border-width: 0 !important;
}
.no-background {
  background: transparent;
}
.no-text-indent {
  text-indent: 0;
}
.no-text-align {
  text-align: initial;
}
.no-user-select {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.no-pointer-events {
  pointer-events: none;
}
.no-list-style {
  list-style-type: none;
  margin-left: 0;
}
.no-grid-gap,
.no-column-gap {
  grid-gap: 0;
  column-gap: 0;
}
@media print {
  html {
    font-size: 62.5%;
  }
  * {
    box-shadow: unset !important;
    border: unset !important;
  }
  nav {
    display: none !important;
  }
  .page-width,
  .text-width,
  .container {
    all: unset;
  }
  .inner-page-width,
  .inner-text-width,
  .inner-aside-width {
    all: unset;
  }
}
