/* This project uses Cavepaint (MIT License) by Rex Riepe */
/* https://github.com/cavepaint/cavepaintCSS */
.background {
  background: #fefff7;
}
.background-color {
  background-color: #fefff7;
}
.border {
  border: 1px solid #8aa351;
}
.border-radius,
.rounded {
  border-radius: 0.5em;
}
.border-bottom {
  border-bottom: 1px solid #8aa351;
}
.border-left {
  border-left: 1px solid #8aa351;
}
.border-right {
  border-right: 1px solid #8aa351;
}
.border-style,
.button.border,
button.border {
  border-style: solid;
}
.border-top {
  border-top: 1px solid #8aa351;
}
.border-width,
.button.border,
button.border {
  border-width: 1px;
}
.max-width {
  max-width: 59rem;
}
.min-width {
  min-width: 22rem;
}
.align-content {
  align-content: stretch;
}
.align-items {
  align-items: stretch;
}
.align-self {
  align-self: auto;
}
.flex,
.vertical-center,
.center-vertical {
  flex: 0 1 auto;
}
.flex-direction,
.vertical-center,
.center-vertical {
  flex-direction: column;
}
.justify-content,
.vertical-center,
.center-vertical {
  justify-content: center;
}
.font-family,
body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.font-size {
  font-size: 18px;
}
.font-weight {
  font-weight: normal;
}
.list-style {
  list-style: disc inside none;
}
.list-style-type {
  list-style-type: disc;
}
.margin {
  margin: 2rem;
}
.margin-bottom,
pre,
.bar,
.card {
  margin-bottom: 2rem;
}
.margin-left {
  margin-left: 2rem;
}
.margin-right {
  margin-right: 2rem;
}
.margin-top {
  margin-top: 2rem;
}
.column-gap {
  column-gap: 1.94em;
}
.column-rule {
  column-rule: 1px solid #8aa351;
}
.padding {
  padding: 1rem;
}
.padding-bottom {
  padding-bottom: 1rem;
}
.padding-left {
  padding-left: 1rem;
}
.padding-right {
  padding-right: 1rem;
}
.padding-top {
  padding-top: 1rem;
}
.text-align {
  text-align: left;
}
.text-align-last {
  text-align-last: left;
}
.text-indent {
  text-indent: 2ch;
}
.text-justify {
  text-justify: justify;
}
.text-overflow {
  text-overflow: hidden;
}
.text-shadow {
  text-shadow: 1px 1px 1px rgba(38, 41, 21, 0.2);
}
.line-height {
  line-height: 1.8;
}
.vertical-align {
  vertical-align: middle;
}
.letter-spacing {
  letter-spacing: 0;
}
.word-spacing {
  word-spacing: normal;
}
.white-space {
  white-space: nowrap;
}
.word-break {
  word-break: break-all;
}
.word-wrap {
  word-wrap: break-word;
}
.transform {
  transform: none;
}
.transition {
  transition: all 0s ease 0s;
}
.display {
  display: block;
}
.position {
  position: absolute;
}
.top {
  top: 0;
}
.right {
  right: 0;
}
.bottom {
  bottom: 0;
}
.left {
  left: 0;
}
.float {
  float: left;
}
.clear {
  clear: both;
}
.z-index {
  z-index: 10;
}
.overflow {
  overflow: hidden;
}
.cursor {
  cursor: pointer;
}
.box-shadow {
  box-shadow: 1px 1px 1px rgba(38, 41, 21, 0.2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-size: 18px;
  line-height: 1.8;
  margin: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
nav {
  z-index: 99;
}
nav a {
  text-decoration: none;
}
aside {
  margin: 0 auto;
  margin-bottom: 2rem;
  max-width: 22rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-top: 0.49443758em;
  margin-bottom: 0.74165637em;
  letter-spacing: -0.025em;
  color: inherit;
  line-height: 1.618;
}
h1 {
  font-size: 2.4em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1em;
}
p {
  margin-bottom: 1em;
}
p.gutter-bottom {
  margin-bottom: 1.618em;
}
p.gutter {
  margin-bottom: 4rem;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: inherit;
  text-decoration: underline;
}
form {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input {
  font-size: 18px;
  line-height: 1.8;
  border: 1px solid #8aa351;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input:focus {
  box-shadow: 0 0 2px #35ffff;
}
fieldset {
  border: none;
  outline: none;
}
ol {
  padding-left: 4ch;
  margin-bottom: 2rem;
}
ol li {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
ul {
  margin-left: 1rem;
  margin-bottom: 2rem;
}
li {
  margin-bottom: 0.44em;
}
kbd {
  color: #fefff7;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  white-space: nowrap;
}
b {
  padding: 0.18em 0 0.22em 0;
}
em {
  display: inline;
  font-style: italic;
}
pre {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  overflow: hidden;
  border-radius: 0.5em;
  background: #262915;
  color: #fefff7;
}
pre.white-space,
pre.word-break {
  white-space: pre-wrap;
}
pre > code {
  background: transparent;
  padding: 0;
}
code {
  color: #fefff7;
  background-color: #262915;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
code.terminal::before {
  content: "$ ";
}
textarea {
  font-size: 18px;
  line-height: 1.8;
  border: 1px solid #8aa351;
  border-radius: 0.5em;
  margin-bottom: 2rem;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
textarea:focus {
  box-shadow: 0 0 2px #35ffff;
}
.button,
button {
  border-style: solid;
  border-radius: 0.5em;
  box-shadow: 1px 1px 1px rgba(38, 41, 21, 0.2);
  display: inline;
  position: relative;
  font-family: inherit;
  font-size: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  color: inherit;
  background-color: inherit;
  border-color: #5c6d36;
  border-width: 1px;
  line-height: 1.6;
  text-align: center;
  vertical-align: middle;
  outline: none;
  white-space: nowrap;
  text-decoration: none;
  touch-action: manipulation;
  cursor: pointer;
  transform: scale(1);
  transition: 0.08s linear;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.button:active,
button:active {
  transform: scale(0.99);
  box-shadow: unset;
}
.bar {
  position: relative;
  width: 100%;
  display: block;
  vertical-align: middle;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.bar > * {
  display: inline;
  margin-right: 0.3236em;
  margin-left: 0.3236em;
}
.card {
  position: relative;
  overflow: hidden;
  padding: 1rem;
  border: 1px solid #8aa351;
  border-radius: 0.5em;
  box-shadow: 1px 1px 1px rgba(38, 41, 21, 0.2);
}
.card > *:first-child {
  margin-top: 0;
}
.badge {
  border-radius: 0.5em;
  line-height: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  padding-right: 0.6472em;
  padding-left: 0.6472em;
  vertical-align: middle;
  border-radius: 99px;
  white-space: nowrap;
}
.modal {
  display: none;
  max-width: none;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  position: fixed;
  bottom: 0;
  justify-content: center;
  flex: 0 1 auto;
  flex-direction: column;
  height: 100vh;
}
.modal > * {
  flex-direction: column;
  color: #262915;
  position: relative;
  background: #fefff7;
  padding: 1rem;
  margin-bottom: 4rem;
  border-radius: 0.5em;
  box-shadow: 1px 1px 1px rgba(38, 41, 21, 0.2);
  margin: 1rem;
}
@media screen and (min-width: 41rem) {
  .modal > * {
    max-width: 59rem;
    margin: 0 auto;
  }
}
.overlay {
  margin: 0;
  padding: 0;
  position: relative;
}
.overlay .top,
.overlay .bottom,
.overlay .left,
.overlay .right {
  position: absolute;
  z-index: 10;
}
.overlay .top {
  top: 0.3236em;
}
.overlay .bottom {
  bottom: 0.3236em;
}
.overlay .left {
  left: 0.3236em;
}
.overlay .right {
  right: 0.3236em;
}
.overlay.stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.overlay > * {
  margin: 0;
  display: block;
}
.white,
body,
input,
textarea {
  background-color: #fefff7;
  border-color: #8d907d;
}
.white.light,
body.light,
input.light,
textarea.light {
  color: #262915;
  background-color: #fefffb;
  border-color: #8d907f;
}
.white.dark,
body.dark,
input.dark,
textarea.dark {
  color: #262915;
  background-color: #fdfff1;
  border-color: #8d907a;
}
.black {
  background-color: #262915;
  border-color: #13140a;
}
.black.light {
  color: #fefff7;
  background-color: #60663e;
  border-color: #3b3e26;
}
.black.dark {
  color: #fefff7;
  background-color: #060702;
  border-color: #0f1105;
}
.ambient {
  color: #262915;
  background-color: #ebff82;
  border-color: #849043;
}
.ambient.light {
  color: #262915;
  background-color: #f5ffb3;
  border-color: #89905b;
}
.ambient.dark {
  color: #262915;
  background-color: #deff4d;
  border-color: #7d9028;
}
.ambient.bright {
  color: #262915;
  background-color: #f8ffcc;
  border-color: #8b9068;
}
.red,
.failure {
  background-color: #ff3f02;
  border-color: #902402;
}
.light.red,
.light.failure {
  background-color: #ff7849;
  border-color: #904226;
}
.dark.red,
.dark.failure {
  background-color: #d03302;
  border-color: #781f03;
}
.bright.red,
.bright.failure {
  background-color: #ff351a;
  border-color: #901e0e;
}
.orange,
.warning {
  background-color: #ffb301;
  border-color: #906602;
}
.light.orange,
.light.warning {
  background-color: #ffca49;
  border-color: #907126;
}
.dark.orange,
.dark.warning {
  background-color: #d09101;
  border-color: #785502;
}
.bright.orange,
.bright.warning {
  background-color: #ffd71a;
  border-color: #90790e;
}
.yellow {
  background-color: #ffff01;
  border-color: #909002;
}
.light.yellow {
  background-color: #ffff49;
  border-color: #909026;
}
.dark.yellow {
  background-color: #d0d101;
  border-color: #787902;
}
.bright.yellow {
  background-color: #ffff1a;
  border-color: #90900e;
}
.green,
.success {
  background-color: #359f02;
  border-color: #216003;
}
.light.green,
.light.success {
  background-color: #71bc49;
  border-color: #406b2a;
}
.dark.green,
.dark.success {
  background-color: #2b8002;
  border-color: #1c5003;
}
.bright.green,
.bright.success {
  background-color: #19d100;
  border-color: #107902;
}
.teal {
  background-color: #239581;
  border-color: #15584d;
}
.light.teal {
  background-color: #64b5a4;
  border-color: #38665d;
}
.dark.teal {
  background-color: #1d7761;
  border-color: #124a3c;
}
.bright.teal {
  background-color: #0bbe95;
  border-color: #086f57;
}
.cyan,
.info {
  background-color: #35ffff;
  border-color: #1c9090;
}
.light.cyan,
.light.info {
  background-color: #71fffe;
  border-color: #3a908f;
}
.dark.cyan,
.dark.info {
  background-color: #2bd1c6;
  border-color: #197770;
}
.bright.cyan,
.bright.info {
  background-color: #2fffff;
  border-color: #199090;
}
.blue {
  background-color: #353fff;
  border-color: #1c2290;
}
.light.blue {
  background-color: #7178fe;
  border-color: #3a3f8f;
}
.dark.blue {
  background-color: #2b33c6;
  border-color: #191e71;
}
.bright.blue {
  background-color: #2f37ff;
  border-color: #191e90;
}
.purple {
  background-color: #922981;
  border-color: #56194d;
}
.light.purple {
  background-color: #b269a5;
  border-color: #653b5d;
}
.dark.purple {
  background-color: #742261;
  border-color: #47163c;
}
.bright.purple {
  background-color: #b90f96;
  border-color: #6c0a58;
}
.magenta {
  background-color: #ff3eff;
  border-color: #902190;
}
.light.magenta {
  background-color: #ff78fe;
  border-color: #903e8f;
}
.dark.magenta {
  background-color: #d033c6;
  border-color: #761d70;
}
.bright.magenta {
  background-color: #ff38ff;
  border-color: #901e90;
}
.gray {
  background-color: #919480;
  border-color: #535448;
}
.light.gray {
  background-color: #b2b4a4;
  border-color: #63655a;
}
.dark.gray {
  background-color: #737760;
  border-color: #444638;
}
.bright.gray {
  background-color: #acb090;
  border-color: #60634f;
}
.action,
.base-color {
  color: #262915;
  background-color: #b0f85a;
  border-color: #628c2f;
}
.action.light,
.base-color.light {
  color: #262915;
  background-color: #d4fb94;
  border-color: #748e4c;
}
.action.dark,
.base-color.dark {
  color: #262915;
  background-color: #8af329;
  border-color: #4d8917;
}
.action.bright,
.base-color.bright {
  color: #262915;
  background-color: #cdff90;
  border-color: #70904a;
}
.reaction {
  background-color: #bb8bf9;
  border-color: #66478c;
}
.light.reaction {
  background-color: #cfaefa;
  border-color: #70598c;
}
.dark.reaction {
  background-color: #976fc1;
  border-color: #543d6d;
}
.bright.reaction {
  background-color: #e4aeff;
  border-color: #7d5990;
}
.default {
  background-color: #8aa351;
  border-color: #4f5e2e;
}
.light.default {
  background-color: #adbf82;
  border-color: #616b47;
}
.dark.default {
  background-color: #6e843d;
  border-color: #414e24;
}
.bright.default {
  background-color: #a1cb3f;
  border-color: #5b7324;
}
.complement,
.second.triad {
  background-color: #b37cf8;
  border-color: #62408c;
}
.light.complement,
.light.second.triad {
  color: #262915;
  background-color: #c9a3f9;
  border-color: #6d548c;
}
.dark.complement,
.dark.second.triad {
  color: #fefff7;
  background-color: #9063c1;
  border-color: #51376d;
}
.bright.complement,
.bright.second.triad {
  color: #262915;
  background-color: #da92ff;
  border-color: #784a90;
}
.accent {
  background-color: #bafdac;
  border-color: #618f58;
}
.light.accent {
  color: #262915;
  background-color: #cefdc3;
  border-color: #6c8f63;
}
.dark.accent {
  color: #262915;
  background-color: #96cf83;
  border-color: #527447;
}
.bright.accent {
  color: #262915;
  background-color: #ebffe2;
  border-color: #7c9073;
}
.second.accent {
  background-color: #fdfaac;
  border-color: #8e8c58;
}
.light.second.accent {
  color: #262915;
  background-color: #fdfbc3;
  border-color: #8f8d63;
}
.dark.second.accent {
  color: #262915;
  background-color: #cecd83;
  border-color: #737347;
}
.bright.second.accent {
  color: #262915;
  background-color: #ffffe2;
  border-color: #909073;
}
.split {
  background-color: #78f9f2;
  border-color: #3e8d88;
}
.light.split {
  color: #262915;
  background-color: #a0fbf4;
  border-color: #528d89;
}
.dark.split {
  color: #262915;
  background-color: #5fccbb;
  border-color: #34736a;
}
.bright.split {
  color: #262915;
  background-color: #8afffe;
  border-color: #47908f;
}
.second.split {
  background-color: #f97c6a;
  border-color: #8d4237;
}
.light.second.split {
  color: #262915;
  background-color: #fba394;
  border-color: #8d564c;
}
.dark.second.split {
  color: #fefff7;
  background-color: #cb634f;
  border-color: #73372c;
}
.bright.second.split {
  color: #262915;
  background-color: #ff8d71;
  border-color: #904b3a;
}
.triad {
  background-color: #78f9a7;
  border-color: #3e8d5b;
}
.light.triad {
  color: #262915;
  background-color: #a0fbc0;
  border-color: #528d67;
}
.dark.triad {
  color: #262915;
  background-color: #5fcc7f;
  border-color: #347347;
}
.bright.triad {
  color: #262915;
  background-color: #8affcd;
  border-color: #479071;
}
.third.triad {
  background-color: #f9b563;
  border-color: #8d6434;
}
.light.third.triad {
  color: #262915;
  background-color: #fbcb8f;
  border-color: #8d6f4a;
}
.dark.third.triad {
  color: #262915;
  background-color: #cb934a;
  border-color: #73532a;
}
.bright.third.triad {
  color: #262915;
  background-color: #ffda67;
  border-color: #907a35;
}
.tetrad {
  background-color: #78f982;
  border-color: #3e8d44;
}
.light.tetrad {
  color: #262915;
  background-color: #a0fba5;
  border-color: #528d55;
}
.dark.tetrad {
  color: #262915;
  background-color: #5fcc61;
  border-color: #347336;
}
.bright.tetrad {
  color: #262915;
  background-color: #8aff9a;
  border-color: #479051;
}
.second.tetrad {
  background-color: #78a1f8;
  border-color: #3e578c;
}
.light.second.tetrad {
  color: #262915;
  background-color: #a0bdf9;
  border-color: #52658c;
}
.dark.second.tetrad {
  color: #fefff7;
  background-color: #5f81c1;
  border-color: #35496d;
}
.bright.second.tetrad {
  color: #262915;
  background-color: #8ac6ff;
  border-color: #476c90;
}
.third.tetrad {
  background-color: #f97cda;
  border-color: #8d4079;
}
.light.third.tetrad {
  color: #262915;
  background-color: #fba3e3;
  border-color: #8d547e;
}
.dark.third.tetrad {
  color: #fefff7;
  background-color: #cb63a8;
  border-color: #72365e;
}
.bright.third.tetrad {
  color: #262915;
  background-color: #ff92f6;
  border-color: #904a8a;
}
.fourth.tetrad {
  background-color: #f9d463;
  border-color: #8d7734;
}
.light.fourth.tetrad {
  color: #262915;
  background-color: #fbe18f;
  border-color: #8d7d4a;
}
.dark.fourth.tetrad {
  color: #262915;
  background-color: #cbad4a;
  border-color: #73622a;
}
.bright.fourth.tetrad {
  color: #262915;
  background-color: #fff367;
  border-color: #908935;
}
.warm {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201%201%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23ffdb6f%22%20opacity%3D%220.2%22%20d%3D%22M0%200h1v1H0z%22%2F%3E%3C%2Fsvg%3E");
}
.cool {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201%201%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%237f88fe%22%20opacity%3D%220.2%22%20d%3D%22M0%200h1v1H0z%22%2F%3E%3C%2Fsvg%3E");
}
.neutral {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201%201%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%2368e3c6%22%20opacity%3D%220.16%22%20d%3D%22M0%200h1v1H0z%22%2F%3E%3C%2Fsvg%3E");
}
.dull {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201%201%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23b4b8a1%22%20opacity%3D%220.38%22%20d%3D%22M0%200h1v1H0z%22%2F%3E%3C%2Fsvg%3E");
}
.responsive {
  column-gap: 0.382rem;
  grid-gap: 0.382rem;
}
.responsive.padding,
.modal,
.container {
  padding: 0.382rem;
}
.responsive.margin,
.container {
  margin: 0.764rem;
}
.responsive.gutter {
  margin: 1.528rem;
}
@media screen and (min-width: 41rem) {
  .responsive {
    column-gap: 0.618rem;
    grid-gap: 0.618rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 0.618rem;
  }
  .responsive.margin,
  .container {
    margin: 1.236rem;
  }
  .responsive.gutter {
    margin: 2.472rem;
  }
}
@media screen and (min-width: 59rem) {
  .responsive {
    column-gap: 1rem;
    grid-gap: 1rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1rem;
  }
  .responsive.margin,
  .container {
    margin: 2rem;
  }
  .responsive.gutter {
    margin: 4rem;
  }
}
.grid,
.two-column,
.three-column {
  display: grid;
  grid-gap: 2rem;
  margin-bottom: 2rem;
}
.grid.tablet,
.two-column.tablet,
.three-column.tablet,
.grid.mobile.tablet,
.two-column.mobile.tablet,
.three-column.mobile.tablet,
.grid.desktop,
.two-column.desktop,
.three-column.desktop {
  display: unset;
}
.grid {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.two-column {
  grid-template-columns: 1fr 1fr;
}
.two-column.golden {
  grid-template-columns: 1.618fr 1fr;
}
.two-column.golden.reverse {
  grid-template-columns: 1fr 1.618fr;
}
.three-column {
  grid-template-columns: 1fr 1fr 1fr;
}
.three-column.golden {
  grid-template-columns: 1fr 1.618fr 1fr;
}
.three-column.golden.leading {
  grid-template-columns: 1.618fr 1fr 1fr;
}
.three-column.golden.trailing {
  grid-template-columns: 1fr 1fr 1.618fr;
}
.grid-width-one {
  grid-column: auto / span 1;
}
.grid-width-two {
  grid-column: auto / span 2;
}
.grid-width-three {
  grid-column: auto / span 3;
}
.grid-width-four {
  grid-column: auto / span 4;
}
.grid-width-five {
  grid-column: auto / span 5;
}
.grid-width-six {
  grid-column: auto / span 6;
}
.grid-width-seven {
  grid-column: auto / span 7;
}
.grid-width-eight {
  grid-column: auto / span 8;
}
.grid-width-nine {
  grid-column: auto / span 9;
}
.grid-width-ten {
  grid-column: auto / span 10;
}
.grid-width-eleven {
  grid-column: auto / span 11;
}
.grid-width-twelve {
  grid-column: auto / span 12;
}
@media screen and (max-width: calc(41rem - 1px)) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: grid;
  }
}
@media screen and (min-width: 41rem) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: initial;
  }
  .grid.tablet,
  .two-column.tablet,
  .three-column.tablet {
    display: grid;
  }
}
@media screen and (max-width: calc(59rem - 1px)) {
  .grid.mobile.tablet,
  .two-column.mobile.tablet,
  .three-column.mobile.tablet {
    display: grid;
  }
}
@media screen and (min-width: 59rem) {
  .grid.desktop,
  .two-column.desktop,
  .three-column.desktop {
    display: grid;
  }
}
.gutter {
  margin: 4rem;
}
.gutter-top {
  margin-top: 4rem;
}
.gutter-right {
  margin-right: 4rem;
}
.gutter-bottom {
  margin-bottom: 4rem;
}
.gutter-left {
  margin-left: 4rem;
}
.text-padding {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-padding-top {
  padding-top: 0.18em;
}
.text-padding-right {
  padding-right: 0.3236em;
}
.text-padding-bottom {
  padding-bottom: 0.22em;
}
.text-padding-left {
  padding-left: 0.3236em;
}
.text-margin {
  margin: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-margin-top {
  margin-top: 0.18em;
}
.text-margin-right {
  margin-right: 0.3236em;
}
.text-margin-bottom {
  margin-bottom: 0.22em;
}
.text-margin-left {
  margin-left: 0.3236em;
}
.bottom-margins * {
  margin-bottom: 2rem;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.inline-break::after {
  content: "\A";
  white-space: pre;
}
.initial {
  display: initial;
}
.table {
  display: table;
}
.flex,
.vertical-center,
.center-vertical {
  display: flex;
}
.inline-block {
  display: inline-block;
}
.static {
  position: static;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.margin-auto,
.container {
  margin-left: auto !important;
  margin-right: auto !important;
}
.width-auto {
  width: auto;
}
.inset {
  box-shadow: inset 1px 1px 1px rgba(38, 41, 21, 0.2);
}
.inset.shallow {
  box-shadow: inset 0.5px 0.5px 1px rgba(38, 41, 21, 0.2);
}
.inset.deep {
  box-shadow: inset 2px 2px 1px rgba(38, 41, 21, 0.2);
}
.box-shadow.shallow {
  box-shadow: 0.5px 0.5px 1px rgba(38, 41, 21, 0.2);
}
.box-shadow.deep {
  box-shadow: 2px 2px 1px rgba(38, 41, 21, 0.2);
}
.viewport-height {
  height: 100vh;
}
.min-viewport-height {
  min-height: 100vh;
}
.overflow-hidden {
  overflow: hidden;
}
.dashed {
  border-style: dashed;
}
.dotted {
  border-style: dotted;
}
.thick {
  border-width: 2px;
}
.thin {
  border-width: 0.5px;
}
.current-color {
  border-color: currentColor;
}
.fade {
  opacity: 0.65;
}
.monospace,
pre,
code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
}
.sans-serif {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.serif {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "Droid Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.text-transparent {
  color: transparent;
}
.big {
  font-size: 125%;
  line-height: 2.25;
}
.big.font-size {
  font-size: 22.5px;
}
.small,
.badge {
  font-size: 87.5%;
  line-height: 1.575;
}
.small.font-size {
  font-size: 15.75px;
}
.huge {
  font-size: 160%;
}
.huge.font-size {
  font-size: 28.8px;
}
.text-trim {
  line-height: 1;
}
.text-align-center,
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.grid-gap-margin {
  grid-gap: 2rem;
}
.grid-gap-border-width {
  grid-gap: 1px;
}
.grid-gap-text-padding,
.grid-gap-text-margin {
  grid-gap: 0.3236em;
}
.shade,
.white,
.light.red,
.orange,
.bright.orange,
.yellow,
.bright.yellow,
.light.green,
.bright.green,
.light.teal,
.bright.teal,
.cyan,
.bright.cyan,
.magenta,
.bright.magenta,
.light.gray,
.bright.gray,
.reaction,
.bright.reaction,
.default,
.bright.default,
.complement,
.accent,
.second.accent,
.split,
.second.split,
.triad,
.third.triad,
.tetrad,
.second.tetrad,
.third.tetrad,
.fourth.tetrad,
body,
input,
textarea,
.info,
.bright.info,
.warning,
.bright.warning,
.light.success,
.bright.success,
.light.failure,
.second.triad {
  color: #262915;
}
.tint,
.black,
.red,
.bright.red,
.green,
.teal,
.blue,
.bright.blue,
.purple,
.bright.purple,
.dark.magenta,
.gray,
.dark.reaction,
.dark.default,
.success,
.failure,
.bright.failure {
  color: #fefff7;
}
.transparent {
  background-color: transparent;
  color: inherit;
  border-color: inherit;
}
.transparent.light {
  background-color: rgba(254, 255, 247, 0.16);
}
.transparent.dark,
.modal {
  background-color: rgba(38, 41, 21, 0.25);
}
.trim,
.trim-inner *,
.trim-all,
.trim-all * {
  margin-bottom: 0;
}
.bump {
  position: relative;
}
.bump.up {
  top: -2px;
}
.bump.down {
  top: 2px;
}
.bump.left {
  left: -2px;
}
.bump.right {
  right: initial;
  left: 2px;
}
.hidden {
  display: none !important;
}
.clearfix,
.clear {
  clear: both;
}
.clearfix::after,
.clear::after {
  display: block;
  clear: both;
  content: "";
}
.character-width {
  max-width: 1ch;
}
.golden-width {
  max-width: calc(62% - 4rem);
}
.golden-width.reverse {
  max-width: 38%;
}
.aside-width {
  max-width: 22rem;
}
@media screen and (min-width: 41rem) {
  .text-width {
    max-width: 37rem;
  }
}
.page-width,
.container {
  max-width: 59rem;
}
.full-width,
.page-width .page-width {
  display: block;
  width: 100%;
}
.inner-aside-width {
  padding-left: calc(50% - 11rem);
  padding-right: calc(50% - 11rem);
}
.inner-aside-width.padding {
  padding-left: calc(50% - 10rem);
  padding-right: calc(50% - 10rem);
}
.inner-aside-width.responsive.padding {
  padding-left: calc(50% - 10.62rem);
  padding-right: calc(50% - 10.62rem);
}
@media screen and (max-width: calc(41rem - 1px)) {
  .inner-text-width {
    padding-left: initial;
    padding-right: initial;
  }
  .inner-text-width.padding {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .inner-text-width.responsive.padding {
    padding-left: 0.382rem;
    padding-right: 0.382rem;
  }
}
@media screen and (min-width: 41rem) {
  .inner-aside-width.tablet.padding {
    padding-left: calc(50% - 10rem);
    padding-right: calc(50% - 10rem);
  }
  .inner-aside-width.tablet.responsive.padding {
    padding-left: calc(50% - 10.38rem);
    padding-right: calc(50% - 10.38rem);
  }
  .inner-text-width {
    padding-left: calc(50% - 18.5rem);
    padding-right: calc(50% - 18.5rem);
  }
  .inner-text-width.padding {
    padding-left: calc(50% - 17.5rem);
    padding-right: calc(50% - 17.5rem);
  }
  .inner-text-width.responsive.padding {
    padding-left: calc(50% - 17.88rem);
    padding-right: calc(50% - 17.88rem);
  }
}
@media screen and (min-width: 59rem) {
  .inner-aside-width.desktop.padding {
    padding-left: calc(50% - 10rem);
    padding-right: calc(50% - 10rem);
  }
  .inner-aside-width.desktop.responsive.padding {
    padding-left: calc(50% - 10rem);
    padding-right: calc(50% - 10rem);
  }
  .inner-text-width.desktop.padding {
    padding-left: calc(50% - 17.5rem);
    padding-right: calc(50% - 17.5rem);
  }
  .inner-text-width.desktop.responsive.padding {
    padding-left: calc(50% - 17.5rem);
    padding-right: calc(50% - 17.5rem);
  }
  .inner-page-width {
    padding-left: calc(50% - 29.5rem);
    padding-right: calc(50% - 29.5rem);
  }
  .inner-page-width.padding {
    padding-left: calc(50% - 28.5rem);
    padding-right: calc(50% - 28.5rem);
  }
  .inner-page-width.responsive.padding {
    padding-left: calc(50% - 28.5rem);
    padding-right: calc(50% - 28.5rem);
  }
}
.placeholder {
  min-height: 10px;
}
.placeholder::after {
  content: " ";
  white-space: pre;
}
.square::before,
.one-to-one::before,
.four-to-three::before,
.sixteen-to-nine::before,
.two-to-one::before {
  content: "";
  display: block;
  width: 0;
}
.square::before,
.one-to-one::before {
  padding-top: 100%;
}
.four-to-three::before {
  padding-top: 75%;
}
.sixteen-to-nine::before {
  padding-top: 56.25%;
}
.two-to-one::before {
  padding-top: 50%;
}
.hide {
  display: none;
}
.hide.tablet {
  display: initial;
}
.hide.desktop {
  display: initial;
}
@media screen and (max-width: calc(41rem - 1px)) {
  .hide.mobile {
    display: none;
  }
}
@media screen and (min-width: 41rem) {
  .hide.mobile {
    display: initial;
  }
  .hide.tablet {
    display: none;
  }
}
@media screen and (min-width: 59rem) {
  .hide.desktop {
    display: none;
  }
  .hide.mobile.tablet {
    display: initial;
  }
}
@media screen and (max-width: calc(59rem - 1px)) {
  .hide.mobile.tablet {
    display: none;
  }
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-margin-right {
  margin-right: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.no-margin-left {
  margin-left: 0 !important;
}
.no-padding {
  padding: 0;
}
.no-margin,
.no-gutter {
  margin: 0;
}
.no-side-margin,
.no-side-margins {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.no-margins {
  margin: 0 !important;
}
.no-margins * {
  margin: 0 !important;
}
.no-box-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  box-shadow: unset;
}
.no-text-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  text-shadow: unset;
}
.no-border,
.no-borders,
.no-borders * {
  border-width: 0 !important;
}
.no-background {
  background: transparent;
}
.no-text-indent {
  text-indent: 0;
}
.no-text,
.no-text * {
  text-indent: -9999px;
}
.no-text-align {
  text-align: initial;
}
.no-underline {
  text-decoration: none;
}
.no-user-select {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.no-pointer-events {
  pointer-events: none;
}
.no-list-style {
  list-style-type: none;
  margin-left: 0;
}
.no-grid-gap,
.no-column-gap {
  grid-gap: 0;
  column-gap: 0;
}
