/* This project uses Cavepaint (MIT License) by Rex Riepe */
/* https://github.com/cavepaint/cavepaintCSS */
* {
  margin: 0 0 1.62rem 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  margin-bottom: 0;
}
.button,
button {
  border-style: solid;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(41, 3, 1, 0.16);
  display: inline;
  position: relative;
  font-family: inherit;
  font-size: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  color: inherit;
  background-color: inherit;
  border-color: #186571;
  border-width: 1px;
  line-height: 1.6;
  text-align: center;
  vertical-align: middle;
  outline: none;
  white-space: nowrap;
  text-decoration: none;
  touch-action: manipulation;
  cursor: pointer;
  transform: scale(1);
  transition: 0.08s linear;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.button:active,
button:active {
  transform: scale(0.99);
  box-shadow: unset;
}
.bar {
  position: relative;
  width: 100%;
  display: block;
  vertical-align: middle;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.bar > * {
  display: inline;
  margin-right: 0.3236em;
  margin-left: 0.3236em;
  margin-bottom: 0;
}
.card {
  position: relative;
  overflow: hidden;
  padding: 1.62rem;
  border: 1px solid #26a1b4;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(41, 3, 1, 0.16);
}
.card > *:first-child {
  margin-top: 0;
}
.card > *:last-child {
  margin-bottom: 0;
}
.badge {
  border-radius: 0.5em;
  line-height: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  padding-right: 0.6472em;
  padding-left: 0.6472em;
  vertical-align: middle;
  border-radius: 99px;
  white-space: nowrap;
}
.modal {
  display: none;
  max-width: none;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  position: fixed;
  bottom: 0;
  justify-content: center;
  flex: 0 1 auto;
  flex-direction: column;
  height: 100vh;
}
.modal > * {
  flex-direction: column;
  color: #012729;
  position: relative;
  background: #f0feff;
  padding: 1.62rem;
  margin-bottom: 3.24rem;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(41, 3, 1, 0.16);
  margin: 1.62rem;
}
@media screen and (min-width: 39.24rem) {
  .modal > * {
    max-width: 58rem;
    margin: 0 auto;
  }
}
.overlay {
  margin: 0;
  padding: 0;
  position: relative;
}
.overlay .top,
.overlay .bottom,
.overlay .left,
.overlay .right {
  position: absolute;
}
.overlay .top {
  top: 0.3236em;
}
.overlay .bottom {
  bottom: 0.3236em;
}
.overlay .left {
  left: 0.3236em;
}
.overlay .right {
  right: 0.3236em;
}
.overlay.stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.overlay * {
  margin: 0;
  display: block;
}
.grid,
.two-column,
.three-column {
  display: grid;
  grid-gap: 1.62rem;
}
.grid.tablet,
.two-column.tablet,
.three-column.tablet,
.grid.mobile.tablet,
.two-column.mobile.tablet,
.three-column.mobile.tablet,
.grid.desktop,
.two-column.desktop,
.three-column.desktop {
  display: initial;
}
.grid {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.two-column {
  grid-template-columns: 1fr 1fr;
}
.two-column.golden {
  grid-template-columns: 1.618fr 1fr;
}
.two-column.golden.reverse {
  grid-template-columns: 1fr 1.618fr;
}
.three-column {
  grid-template-columns: 1fr 1fr 1fr;
}
.three-column.golden {
  grid-template-columns: 1fr 1.618fr 1fr;
}
.three-column.golden.leading {
  grid-template-columns: 1.618fr 1fr 1fr;
}
.three-column.golden.trailing {
  grid-template-columns: 1fr 1fr 1.618fr;
}
.grid-width-one {
  grid-column: auto / span 1;
}
.grid-width-two {
  grid-column: auto / span 2;
}
.grid-width-three {
  grid-column: auto / span 3;
}
.grid-width-four {
  grid-column: auto / span 4;
}
.grid-width-five {
  grid-column: auto / span 5;
}
.grid-width-six {
  grid-column: auto / span 6;
}
.grid-width-seven {
  grid-column: auto / span 7;
}
.grid-width-eight {
  grid-column: auto / span 8;
}
.grid-width-nine {
  grid-column: auto / span 9;
}
.grid-width-ten {
  grid-column: auto / span 10;
}
.grid-width-eleven {
  grid-column: auto / span 11;
}
.grid-width-twelve {
  grid-column: auto / span 12;
}
@media screen and (max-width: calc(39.24rem - 1px)) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: grid;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 39.24rem) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: initial;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: initial;
  }
  .grid.tablet,
  .two-column.tablet,
  .three-column.tablet {
    display: grid;
  }
  .grid.tablet > *,
  .two-column.tablet > *,
  .three-column.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (max-width: calc(58rem - 1px)) {
  .grid.mobile.tablet,
  .two-column.mobile.tablet,
  .three-column.mobile.tablet {
    display: grid;
  }
  .grid.mobile.tablet > *,
  .two-column.mobile.tablet > *,
  .three-column.mobile.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 58rem) {
  .grid.desktop,
  .two-column.desktop,
  .three-column.desktop {
    display: grid;
  }
  .grid.desktop > *,
  .two-column.desktop > *,
  .three-column.desktop > * {
    margin-bottom: 0;
  }
}
.responsive {
  column-gap: 0.619rem;
  grid-gap: 0.619rem;
}
.responsive.padding,
.modal,
.container {
  padding: 0.619rem;
}
.responsive.margin,
.container {
  margin: 0.619rem;
}
.responsive.gutter {
  margin: 1.238rem;
}
@media screen and (min-width: 39.24rem) {
  .responsive {
    column-gap: 1.001rem;
    grid-gap: 1.001rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.001rem;
  }
  .responsive.margin,
  .container {
    margin: 1.001rem;
  }
  .responsive.gutter {
    margin: 2.002rem;
  }
}
@media screen and (min-width: 58rem) {
  .responsive {
    column-gap: 1.62rem;
    grid-gap: 1.62rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.62rem;
  }
  .responsive.margin,
  .container {
    margin: 1.62rem;
  }
  .responsive.gutter {
    margin: 3.24rem;
  }
}
.background {
  background: #f0feff;
}
.background-color {
  background-color: #f0feff;
}
.border {
  border: 1px solid #26a1b4;
}
.border-radius,
.rounded {
  border-radius: 0.5em;
}
.border-bottom {
  border-bottom: 1px solid #26a1b4;
}
.border-left {
  border-left: 1px solid #26a1b4;
}
.border-right {
  border-right: 1px solid #26a1b4;
}
.border-style,
.button.border,
button.border {
  border-style: solid;
}
.border-top {
  border-top: 1px solid #26a1b4;
}
.border-width,
.button.border,
button.border {
  border-width: 1px;
}
.max-width {
  max-width: 58rem;
}
.min-width {
  min-width: 22rem;
}
.align-content {
  align-content: stretch;
}
.align-items {
  align-items: stretch;
}
.align-self {
  align-self: auto;
}
.flex,
.vertical-center,
.center-vertical {
  flex: 0 1 auto;
}
.flex-basis {
  flex-basis: auto;
}
.flex-direction,
.vertical-center,
.center-vertical {
  flex-direction: column;
}
.flex-flow {
  flex-flow: column nowrap;
}
.flex-grow {
  flex-grow: 0;
}
.flex-shrink {
  flex-shrink: 1;
}
.flex-wrap {
  flex-wrap: nowrap;
}
.justify-content,
.vertical-center,
.center-vertical {
  justify-content: center;
}
.font-family,
body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.font-size {
  font-size: 16px;
}
.font-weight {
  font-weight: normal;
}
.list-style {
  list-style: disc inside none;
}
.list-style-type {
  list-style-type: disc;
}
.margin {
  margin: 1.62rem;
}
.margin-bottom {
  margin-bottom: 1.62rem;
}
.margin-left {
  margin-left: 1.62rem;
}
.margin-right {
  margin-right: 1.62rem;
}
.margin-top {
  margin-top: 1.62rem;
}
.column-gap {
  column-gap: 1.94em;
}
.column-rule {
  column-rule: 1px solid #26a1b4;
}
.padding {
  padding: 1.62rem;
}
.padding-bottom {
  padding-bottom: 1.62rem;
}
.padding-left {
  padding-left: 1.62rem;
}
.padding-right {
  padding-right: 1.62rem;
}
.padding-top {
  padding-top: 1.62rem;
}
.text-align {
  text-align: left;
}
.text-align-last {
  text-align-last: left;
}
.text-indent {
  text-indent: 2ch;
}
.text-justify {
  text-justify: justify;
}
.text-overflow {
  text-overflow: hidden;
}
.text-shadow {
  text-shadow: 1.41px 1.41px 1.41px rgba(41, 3, 1, 0.16);
}
.line-height {
  line-height: 1.8;
}
.vertical-align {
  vertical-align: middle;
}
.letter-spacing {
  letter-spacing: 0;
}
.word-spacing {
  word-spacing: normal;
}
.white-space {
  white-space: nowrap;
}
.word-break {
  word-break: break-all;
}
.word-wrap {
  word-wrap: break-word;
}
.transform {
  transform: none;
}
.transition {
  transition: all 0s ease 0s;
}
.display {
  display: block;
}
.position {
  position: absolute;
}
.top {
  top: 0;
}
.right {
  right: 0;
}
.bottom {
  bottom: 0;
}
.left {
  left: 0;
}
.float {
  float: left;
}
.clear {
  clear: both;
}
.z-index {
  z-index: 10;
}
.overflow {
  overflow: hidden;
}
.overflow-x {
  overflow-x: hidden;
}
.cursor {
  cursor: pointer;
}
.box-shadow {
  box-shadow: 1.41px 1.41px 1.41px rgba(41, 3, 1, 0.16);
}
.gutter {
  margin: 3.24rem;
}
.gutter-top {
  margin-top: 3.24rem;
}
.gutter-right {
  margin-right: 3.24rem;
}
.gutter-bottom {
  margin-bottom: 3.24rem;
}
.gutter-left {
  margin-left: 3.24rem;
}
.text-padding {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-padding-top {
  padding-top: 0.18em;
}
.text-padding-right {
  padding-right: 0.3236em;
}
.text-padding-bottom {
  padding-bottom: 0.22em;
}
.text-padding-left {
  padding-left: 0.3236em;
}
.text-margin {
  margin: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-margin-top {
  margin-top: 0.18em;
}
.text-margin-right {
  margin-right: 0.3236em;
}
.text-margin-bottom {
  margin-bottom: 0.22em;
}
.text-margin-left {
  margin-left: 0.3236em;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.initial {
  display: initial;
}
.table {
  display: table;
}
.flex,
.vertical-center,
.center-vertical {
  display: flex;
}
.inline-block {
  display: inline-block;
}
.static {
  position: static;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.margin-auto,
.container {
  margin-left: auto;
  margin-right: auto;
}
.width-auto {
  width: auto;
}
.inset {
  box-shadow: inset 1.41px 1.41px 1.41px rgba(41, 3, 1, 0.16);
}
.viewport-height {
  height: 100vh;
}
.min-viewport-height {
  min-height: 100vh;
}
.overflow-hidden {
  overflow: hidden;
}
.dashed {
  border-style: dashed;
}
.dotted {
  border-style: dotted;
}
.thick {
  border-width: 2px;
}
.thin {
  border-width: 0.5px;
}
.current-color {
  border-color: currentColor;
}
.fade {
  opacity: 0.65;
}
.serif,
.font-family-serif {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "Droid Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
.monospace,
.font-family-monospace,
pre,
code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
}
.sans-serif,
.font-family-sans-serif {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.text-transparent {
  color: transparent;
}
.reset {
  all: initial;
}
.big {
  font-size: 125%;
  line-height: 2.25;
}
.big.font-size {
  font-size: 20px;
}
.small,
.badge {
  font-size: 87.5%;
  line-height: 1.575;
}
.small.font-size {
  font-size: 14px;
}
.huge {
  font-size: 160%;
}
.huge.font-size {
  font-size: 25.6px;
}
.text-trim {
  line-height: 1;
}
.text-align-center,
.text-center {
  text-align: center;
}
.text-align-left,
.text-left {
  text-align: left;
}
.text-align-right,
.text-right {
  text-align: right;
}
.text-align-justify,
.text-justify {
  text-align: justify;
}
.grid-gap-margin {
  grid-gap: 1.62rem;
}
.grid-gap-border-width {
  grid-gap: 1px;
}
.grid-gap-text-padding,
.grid-gap-text-margin {
  grid-gap: 0.3236em;
}
.shade,
.white,
.orange,
.yellow,
.olive,
.light.green,
.teal,
.cyan,
.skyblue,
.violet,
.light.gray,
.lavender,
.cream,
.clover,
.light.cobalt,
.pewter,
.light.hotpink,
.neongreen,
.electricblue,
.lemon,
.lime,
.tangerine,
.default,
.warm,
.cool,
.neutral,
.second.accent,
.second.split,
.third.triad,
.third.tetrad,
.fourth.tetrad,
.highlight,
body,
input,
textarea,
.info,
.warning,
.light.success {
  color: #012729;
}
.tint,
.black,
.red,
.dark.olive,
.green,
.dark.teal,
.blue,
.indigo,
.purple,
.dark.violet,
.gray,
.brown,
.magenta,
.charcoal,
.crimson,
.dark.clover,
.cobalt,
.graphite,
.ruby,
.onyx,
.gunmetal,
.hotpink,
.royalpurple,
.grapefruit,
.reaction,
.dark.default,
.dark.warm,
.complement,
.accent,
.split,
.triad,
.tetrad,
.second.tetrad,
.success,
.failure,
.second.triad {
  color: #f0feff;
}
.transparent {
  background-color: transparent;
  color: inherit;
  border-color: inherit;
}
.transparent.light {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23FFF%22%20fill-opacity%3D%220.16%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.transparent.dark,
.modal {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23000%22%20fill-opacity%3D%220.25%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.trim,
.trim-inner *,
.trim-all,
.trim-all * {
  margin-bottom: 0;
}
.hidden {
  display: none !important;
}
.clearfix,
.clear {
  clear: both;
}
.clearfix::after,
.clear::after {
  display: block;
  clear: both;
  content: "";
}
.golden-width {
  max-width: calc(62% - 3.24rem);
}
.golden-width.reverse {
  max-width: 38%;
}
.aside-width {
  max-width: 22rem;
}
@media screen and (min-width: 39.24rem) {
  .text-width {
    max-width: 36rem;
  }
}
.page-width,
.container {
  max-width: 58rem;
}
.full-width,
.aside-width .aside-width,
.text-width .text-width,
.page-width .page-width {
  display: block;
  width: 100%;
}
.inner-aside-width {
  padding-left: calc(50% - 11rem);
  padding-right: calc(50% - 11rem);
}
.inner-aside-width.padding {
  padding-left: calc(50% - 9.38rem);
  padding-right: calc(50% - 9.38rem);
}
.inner-aside-width.responsive.padding {
  padding-left: calc(50% - 10.38rem);
  padding-right: calc(50% - 10.38rem);
}
@media screen and (max-width: calc(39.24rem - 1px)) {
  .inner-text-width {
    padding-left: initial;
    padding-right: initial;
  }
  .inner-text-width.padding {
    padding-left: 1.62rem;
    padding-right: 1.62rem;
  }
  .inner-text-width.responsive.padding {
    padding-left: 0.619rem;
    padding-right: 0.619rem;
  }
}
@media screen and (min-width: 39.24rem) {
  .inner-aside-width.tablet.padding {
    padding-left: calc(50% - 9.38rem);
    padding-right: calc(50% - 9.38rem);
  }
  .inner-aside-width.tablet.responsive.padding {
    padding-left: calc(50% - 10rem);
    padding-right: calc(50% - 10rem);
  }
  .inner-text-width {
    padding-left: calc(50% - 18rem);
    padding-right: calc(50% - 18rem);
  }
  .inner-text-width.padding {
    padding-left: calc(50% - 16.38rem);
    padding-right: calc(50% - 16.38rem);
  }
  .inner-text-width.responsive.padding {
    padding-left: calc(50% - 17rem);
    padding-right: calc(50% - 17rem);
  }
}
@media screen and (min-width: 58rem) {
  .inner-aside-width.desktop.padding {
    padding-left: calc(50% - 9.38rem);
    padding-right: calc(50% - 9.38rem);
  }
  .inner-aside-width.desktop.responsive.padding {
    padding-left: calc(50% - 9.38rem);
    padding-right: calc(50% - 9.38rem);
  }
  .inner-text-width.desktop.padding {
    padding-left: calc(50% - 16.38rem);
    padding-right: calc(50% - 16.38rem);
  }
  .inner-text-width.desktop.responsive.padding {
    padding-left: calc(50% - 16.38rem);
    padding-right: calc(50% - 16.38rem);
  }
  .inner-page-width {
    padding-left: calc(50% - 29rem);
    padding-right: calc(50% - 29rem);
  }
  .inner-page-width.padding {
    padding-left: calc(50% - 27.38rem);
    padding-right: calc(50% - 27.38rem);
  }
  .inner-page-width.responsive.padding {
    padding-left: calc(50% - 27.38rem);
    padding-right: calc(50% - 27.38rem);
  }
}
.texture,
.pattern {
  background-position: top center;
}
.texture {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20xmlns%3Axlink%3D'http%3A//www.w3.org/1999/xlink'%20viewBox%3D'0%200%202.646%204.233'%20height%3D'16'%20width%3D'10'%3E%3Crect%20ry%3D'.269'%20rx%3D'.279'%20y%3D'-.529'%20x%3D'-.265'%20height%3D'1.058'%20width%3D'.529'%20id%3D'a'%20opacity%3D'1'%20fill%3D'%23000'%20stroke-width%3D'0'%20stroke-linecap%3D'round'%20fill-opacity%3D'0.05'/%3E%3Cuse%20height%3D'100%25'%20width%3D'100%25'%20transform%3D'translate%280%204.233%29'%20xlink%3Ahref%3D'%23a'/%3E%3Cuse%20height%3D'100%25'%20width%3D'100%25'%20transform%3D'translate%281.323%202.117%29'%20xlink%3Ahref%3D'%23a'/%3E%3Cuse%20height%3D'100%25'%20width%3D'100%25'%20transform%3D'translate%282.646%29'%20xlink%3Ahref%3D'%23a'/%3E%3Cuse%20height%3D'100%25'%20width%3D'100%25'%20transform%3D'translate%282.646%204.233%29'%20xlink%3Ahref%3D'%23a'/%3E%3C/svg%3E");
}
.pattern {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20width%3D'80'%20height%3D'50'%20viewBox%3D'0%200%2021.167%2013.229'%3E%3Cpath%20fill%3D'%23012729'%20opacity%3D'0.05'%20d%3D'M0%200h21.167v6.615H0z'/%3E%3C/svg%3E");
}
.placeholder::before {
  content: " ";
  white-space: pre;
}
.placeholder::after {
  content: "";
}
.placeholder.image,
.placeholder.video,
.placeholder.avatar {
  position: relative;
}
.placeholder.image::before,
.placeholder.video::before,
.placeholder.avatar::before {
  position: absolute;
  top: calc(50% - 4rem);
  right: 0;
  bottom: 0;
  left: 0;
  display: inline-block;
  text-align: center;
  font-size: 4rem;
  vertical-align: middle;
}
.placeholder.image.small::before,
.placeholder.video.small::before,
.placeholder.avatar.small::before {
  top: calc(50% - 2rem);
  font-size: 2rem;
}
.placeholder.image.big::before,
.placeholder.video.big::before,
.placeholder.avatar.big::before {
  top: calc(50% - 6rem);
  font-size: 6rem;
}
.placeholder.image.huge::before,
.placeholder.video.huge::before,
.placeholder.avatar.huge::before {
  top: calc(50% - 8rem);
  font-size: 8rem;
}
.placeholder.image::after,
.placeholder.video::after,
.placeholder.avatar::after {
  display: block;
}
.placeholder.image::before {
  content: "\1f5bc";
}
.placeholder.image::after {
  padding-top: 75%;
}
.placeholder.video::before {
  content: "\25B6";
}
.placeholder.video::after {
  padding-top: 56.25%;
}
.placeholder.avatar::before {
  content: "\263A";
}
.placeholder.avatar::after {
  padding-top: 100%;
}
.placeholder.no-icon::before {
  content: "";
}
.hide {
  display: none;
}
.hide.tablet {
  display: initial;
}
.hide.desktop {
  display: initial;
}
@media screen and (max-width: calc(39.24rem - 1px)) {
  .hide.mobile {
    display: none;
  }
}
@media screen and (min-width: 39.24rem) {
  .hide.mobile {
    display: initial;
  }
  .hide.tablet {
    display: none;
  }
}
@media screen and (min-width: 58rem) {
  .hide.desktop {
    display: none;
  }
  .hide.mobile.tablet {
    display: initial;
  }
}
@media screen and (max-width: calc(58rem - 1px)) {
  .hide.mobile.tablet {
    display: none;
  }
}
body {
  font-size: 16px;
  line-height: 1.8;
  margin: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
nav {
  z-index: 99;
}
nav a {
  text-decoration: none;
}
aside {
  margin: 0 auto;
  margin-bottom: 1.62rem;
  max-width: 22rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-top: 0.49443758em;
  margin-bottom: 0.74165637em;
  letter-spacing: -0.025em;
  color: inherit;
  line-height: 1.618;
}
h1 {
  font-size: 2.4em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1em;
}
p {
  margin-bottom: 1em;
}
p.gutter-bottom {
  margin-bottom: 1.618em;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: inherit;
  text-decoration: underline;
}
a.target-blank::after,
a.new-tab::after,
a.external-link::after {
  content: "\00A0\1F855";
}
form {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input {
  font-size: 16px;
  line-height: 1.8;
  border: 1px solid #26a1b4;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input:focus {
  box-shadow: 0 0 2px #66d0ec;
}
fieldset {
  border: none;
  outline: none;
}
ol {
  padding-left: 4ch;
  margin-bottom: 1.62rem;
}
ol li {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
ul {
  margin-left: 1.62rem;
  margin-bottom: 1.62rem;
}
li {
  margin-bottom: 0.44em;
}
kbd {
  color: #f0feff;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  white-space: nowrap;
}
b {
  padding: 0.18em 0 0.22em 0;
}
pre {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  overflow: hidden;
  border-radius: 0.5em;
  background: #374142;
  color: #f0feff;
}
pre.white-space,
pre.word-break {
  white-space: pre-wrap;
}
pre > code {
  background: transparent;
  padding: 0;
}
code {
  color: #f0feff;
  background-color: #274269;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
code.terminal::before {
  content: "$ ";
}
textarea {
  font-size: 16px;
  line-height: 1.8;
  border: 1px solid #26a1b4;
  border-radius: 0.5em;
  margin-bottom: 1.62rem;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
textarea:focus {
  box-shadow: 0 0 2px #66d0ec;
}
.white,
body,
input,
textarea {
  background-color: #f0feff;
  border-color: #788b8c;
}
.black {
  background-color: #012729;
  border-color: #011414;
}
.ambient {
  color: #012729;
  background: #09f4ff;
  border-color: #05868c;
}
.ambient.light {
  color: #012729;
  background: #32f6ff;
  border-color: #19878c;
}
.ambient.dark {
  color: #012729;
  background: #00d5de;
  border-color: #00767c;
}
.red,
.failure {
  background-color: #d5262a;
  border-color: #761516;
}
.light.red,
.light.failure {
  background-color: #de4649;
  border-color: #7a2526;
}
.dark.red,
.dark.failure {
  background-color: #b32023;
  border-color: #641213;
}
.orange,
.warning {
  background-color: #d8b229;
  border-color: #776216;
}
.light.orange,
.light.warning {
  background-color: #debe4b;
  border-color: #7a6827;
}
.dark.orange,
.dark.warning {
  background-color: #b79621;
  border-color: #675412;
}
.yellow {
  background-color: #d7fd29;
  border-color: #768b15;
}
.light.yellow {
  background-color: #dffe52;
  border-color: #7a8b29;
}
.dark.yellow {
  background-color: #cffb02;
  border-color: #728a01;
}
.olive {
  background-color: #89ae2a;
  border-color: #4c6217;
}
.light.olive {
  background-color: #a2ce32;
  border-color: #59721b;
}
.dark.olive {
  background-color: #6f8d22;
  border-color: #405113;
}
.green,
.success {
  background-color: #01a729;
  border-color: #006018;
}
.light.green,
.light.success {
  background-color: #01d033;
  border-color: #01741d;
}
.dark.green,
.dark.success {
  background-color: #017f1f;
  border-color: #004c13;
}
.teal {
  background-color: #01aeaf;
  border-color: #016464;
}
.light.teal {
  background-color: #01d7d8;
  border-color: #017878;
}
.dark.teal {
  background-color: #018687;
  border-color: #004f50;
}
.cyan {
  background-color: #00fdfd;
  border-color: #008b8b;
}
.light.cyan {
  background-color: #28ffff;
  border-color: #148c8c;
}
.dark.cyan {
  background-color: #00d5d5;
  border-color: #007777;
}
.skyblue,
.info {
  background-color: #66d0ec;
  border-color: #347181;
}
.light.skyblue,
.light.info {
  background-color: #8adbf0;
  border-color: #467784;
}
.dark.skyblue,
.dark.info {
  background-color: #42c4e7;
  border-color: #226b7f;
}
.blue {
  background-color: #0026fd;
  border-color: #00158b;
}
.light.blue {
  background-color: #2848ff;
  border-color: #14268c;
}
.dark.blue {
  background-color: #0020d4;
  border-color: #001277;
}
.indigo {
  background-color: #4c26aa;
  border-color: #2a1560;
}
.light.indigo {
  background-color: #5b2dcb;
  border-color: #321970;
}
.dark.indigo {
  background-color: #3d1f89;
  border-color: #23114f;
}
.purple {
  background-color: #9627bd;
  border-color: #541569;
}
.light.purple {
  background-color: #ad37d6;
  border-color: #5f1d76;
}
.dark.purple {
  background-color: #7b209b;
  border-color: #461259;
}
.violet {
  background-color: #c887ee;
  border-color: #6c4582;
}
.light.violet {
  background-color: #d9abf3;
  border-color: #745785;
}
.dark.violet {
  background-color: #b864e9;
  border-color: #633380;
}
.gray {
  background-color: #708f90;
  border-color: #3c4f50;
}
.light.gray {
  background-color: #87a1a2;
  border-color: #475859;
}
.dark.gray {
  background-color: #5e7879;
  border-color: #334445;
}
.brown {
  background-color: #9a603d;
  border-color: #573521;
}
.light.brown {
  background-color: #b77249;
  border-color: #653e27;
}
.dark.brown {
  background-color: #7d4d31;
  border-color: #482c1b;
}
.magenta {
  background-color: #c03afa;
  border-color: #691d89;
}
.light.magenta {
  background-color: #cd62fb;
  border-color: #6f318a;
}
.dark.magenta {
  background-color: #b312f9;
  border-color: #620a89;
}
.lavender {
  background-color: #bebde9;
  border-color: #61617f;
}
.light.lavender {
  background-color: #dcdcf3;
  border-color: #717084;
}
.dark.lavender {
  background-color: #9f9fdf;
  border-color: #525279;
}
.cream {
  background-color: #e5f7cf;
  border-color: #798769;
}
.light.cream {
  background-color: #f8fdf2;
  border-color: #838a7b;
}
.dark.cream {
  background-color: #d2f1ac;
  border-color: #708458;
}
.charcoal {
  background-color: #4a5750;
  border-color: #29332e;
}
.light.charcoal {
  background-color: #5d6d64;
  border-color: #333f38;
}
.dark.charcoal {
  background-color: #37413c;
  border-color: #202824;
}
.crimson {
  background-color: #af1c30;
  border-color: #630f1b;
}
.light.crimson {
  background-color: #d2213a;
  border-color: #741220;
}
.dark.crimson {
  background-color: #8c1627;
  border-color: #510c16;
}
.clover {
  background-color: #39c43c;
  border-color: #1f6c20;
}
.light.clover {
  background-color: #57ce5a;
  border-color: #2e722f;
}
.dark.clover {
  background-color: #30a432;
  border-color: #1a5d1c;
}
.cobalt {
  background-color: #2484dd;
  border-color: #13487a;
}
.light.cobalt {
  background-color: #4798e2;
  border-color: #25527c;
}
.dark.cobalt {
  background-color: #1d6fbb;
  border-color: #103e69;
}
.graphite {
  background-color: #274269;
  border-color: #16273e;
}
.light.graphite {
  background-color: #325587;
  border-color: #1c304d;
}
.dark.graphite {
  background-color: #1c2f4b;
  border-color: #111d30;
}
.ruby {
  background-color: #98125c;
  border-color: #570a35;
}
.light.ruby {
  background-color: #bc1772;
  border-color: #6a0c40;
}
.dark.ruby {
  background-color: #740e46;
  border-color: #45082a;
}
.onyx {
  background-color: #374142;
  border-color: #202829;
}
.light.onyx {
  background-color: #495758;
  border-color: #293334;
}
.dark.onyx {
  background-color: #242b2c;
  border-color: #171d1e;
}
.pewter {
  background-color: #a1b394;
  border-color: #56624e;
}
.light.pewter {
  background-color: #b6c4ac;
  border-color: #616a5a;
}
.dark.pewter {
  background-color: #8ca27c;
  border-color: #4c5942;
}
.gunmetal {
  background-color: #3a768b;
  border-color: #20434f;
}
.light.gunmetal {
  background-color: #468fa8;
  border-color: #264f5e;
}
.dark.gunmetal {
  background-color: #2e5e6e;
  border-color: #1a3741;
}
.hotpink {
  background-color: #ea5fae;
  border-color: #80315e;
}
.light.hotpink {
  background-color: #ef83c0;
  border-color: #834367;
}
.dark.hotpink {
  background-color: #e53b9c;
  border-color: #7e1f55;
}
.neongreen {
  background-color: #32fc23;
  border-color: #1a8a11;
}
.light.neongreen {
  background-color: #57fd4b;
  border-color: #2d8b26;
}
.dark.neongreen {
  background-color: #14f203;
  border-color: #0b8602;
}
.electricblue {
  background-color: #2dc9f2;
  border-color: #176e85;
}
.light.electricblue {
  background-color: #54d3f4;
  border-color: #2a7386;
}
.dark.electricblue {
  background-color: #0ebae8;
  border-color: #086780;
}
.royalpurple {
  background-color: #6441ac;
  border-color: #372360;
}
.light.royalpurple {
  background-color: #7956bf;
  border-color: #412e6a;
}
.dark.royalpurple {
  background-color: #53368e;
  border-color: #2f1d51;
}
.lemon {
  background-color: #ecfc97;
  border-color: #808a4c;
}
.light.lemon {
  background-color: #f3fdbf;
  border-color: #848b60;
}
.dark.lemon {
  background-color: #e5fb6f;
  border-color: #7d8a38;
}
.lime {
  background-color: #7cf399;
  border-color: #3f8550;
}
.light.lime {
  background-color: #a1f6b6;
  border-color: #52875f;
}
.dark.lime {
  background-color: #57ef7c;
  border-color: #2c8342;
}
.tangerine {
  background-color: #ebb05c;
  border-color: #815f2f;
}
.light.tangerine {
  background-color: #efc280;
  border-color: #836841;
}
.dark.tangerine {
  background-color: #e79e38;
  border-color: #7f561d;
}
.grapefruit {
  background-color: #bb4e67;
  border-color: #672a38;
}
.light.grapefruit {
  background-color: #c66b80;
  border-color: #6d3844;
}
.dark.grapefruit {
  background-color: #a23e55;
  border-color: #5b222f;
}
.action,
.base-color {
  color: #012729;
  background: #12c2f0;
  border-color: #0a6b84;
}
.action.light,
.base-color.light {
  color: #012729;
  background: #38ccf2;
  border-color: #1d7085;
}
.action.dark,
.base-color.dark {
  color: #012729;
  background: #0da5cc;
  border-color: #075c72;
}
.reaction {
  background-color: #c35835;
  border-color: #6c301d;
}
.light.reaction {
  background-color: #d07051;
  border-color: #723c2b;
}
.dark.reaction {
  background-color: #a3492c;
  border-color: #5c2918;
}
.default {
  background-color: #26a1b4;
  border-color: #155a65;
}
.light.default {
  background-color: #30bed3;
  border-color: #1a6974;
}
.dark.default {
  background-color: #1f8392;
  border-color: #114b54;
}
.warm {
  background-color: #8993f3;
  border-color: #464c85;
}
.light.warm {
  background-color: #aeb5f7;
  border-color: #585c87;
}
.dark.warm {
  background-color: #6471ef;
  border-color: #333b83;
}
.cool {
  background-color: #41dbf2;
  border-color: #217885;
}
.light.cool {
  background-color: #67e3f5;
  border-color: #347c86;
}
.dark.cool {
  background-color: #1bd4f0;
  border-color: #0e7584;
}
.neutral {
  background-color: #75d779;
  border-color: #3d763f;
}
.light.neutral {
  background-color: #95e098;
  border-color: #4d7b4e;
}
.dark.neutral {
  background-color: #56ce5a;
  border-color: #2d712f;
}
.complement,
.second.triad {
  background-color: #c55936;
  border-color: #6d311d;
}
.light.complement,
.light.second.triad {
  background-color: #d07254;
  border-color: #733d2c;
}
.dark.complement,
.dark.second.triad {
  background-color: #a54b2d;
  border-color: #5d2a19;
}
.accent {
  background-color: #3b8df8;
  border-color: #1e4c88;
}
.light.accent {
  background-color: #62a4f9;
  border-color: #325789;
}
.dark.accent {
  background-color: #1476f6;
  border-color: #0a4087;
}
.second.accent {
  background-color: #3bf8cc;
  border-color: #1e886f;
}
.light.second.accent {
  background-color: #62f9d6;
  border-color: #328975;
}
.dark.second.accent {
  background-color: #14f6c2;
  border-color: #0a876a;
}
.split {
  background-color: #9133ee;
  border-color: #4f1a83;
}
.light.split {
  background-color: #a659f1;
  border-color: #592d84;
}
.dark.split {
  background-color: #7d13e5;
  border-color: #450a7e;
}
.second.split {
  background-color: #44ee36;
  border-color: #24831c;
}
.light.second.split {
  background-color: #67f15c;
  border-color: #35842f;
}
.dark.second.split {
  background-color: #24e714;
  border-color: #147f0b;
}
.triad {
  background-color: #3433ee;
  border-color: #1b1a83;
}
.light.triad {
  background-color: #5a59f1;
  border-color: #2e2d84;
}
.dark.triad {
  background-color: #1513e5;
  border-color: #0b0a7e;
}
.third.triad {
  background-color: #0eee5c;
  border-color: #088333;
}
.light.third.triad {
  background-color: #31f375;
  border-color: #19853f;
}
.dark.third.triad {
  background-color: #0cc74d;
  border-color: #06702b;
}
.tetrad {
  background-color: #0e3bee;
  border-color: #082183;
}
.light.tetrad {
  background-color: #3159f3;
  border-color: #192f86;
}
.dark.tetrad {
  background-color: #0c32c7;
  border-color: #061c70;
}
.second.tetrad {
  background-color: #c8339a;
  border-color: #6e1c55;
}
.light.second.tetrad {
  background-color: #d251ab;
  border-color: #742b5d;
}
.dark.second.tetrad {
  background-color: #a72b81;
  border-color: #5e1748;
}
.third.tetrad {
  background-color: #c8e636;
  border-color: #6e7e1c;
}
.light.third.tetrad {
  background-color: #d2ea5b;
  border-color: #73812e;
}
.dark.third.tetrad {
  background-color: #b8d81b;
  border-color: #66770f;
}
.fourth.tetrad {
  background-color: #0eee8a;
  border-color: #08834c;
}
.light.fourth.tetrad {
  background-color: #31f39d;
  border-color: #198555;
}
.dark.fourth.tetrad {
  background-color: #0cc774;
  border-color: #067041;
}
.highlight {
  background-color: #07f2f2;
  border-color: #048585;
}
.light.highlight {
  background-color: #2af8f9;
  border-color: #158889;
}
.dark.highlight {
  background-color: #06cacb;
  border-color: #037172;
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-margin-right {
  margin-right: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.no-margin-left {
  margin-left: 0 !important;
}
.no-padding {
  padding: 0;
}
.no-margin,
.no-gutter {
  margin: 0;
}
.no-side-margin,
.no-side-margins {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.no-margins {
  margin: 0 !important;
}
.no-margins * {
  margin: 0 !important;
}
.no-box-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  box-shadow: unset;
}
.no-text-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  text-shadow: unset;
}
.no-border,
.no-borders,
.no-borders * {
  border-width: 0 !important;
}
.no-background {
  background: transparent;
}
.no-text-indent {
  text-indent: 0;
}
.no-text-align {
  text-align: initial;
}
.no-user-select {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.no-pointer-events {
  pointer-events: none;
}
.no-list-style {
  list-style-type: none;
  margin-left: 0;
}
.no-grid-gap,
.no-column-gap {
  grid-gap: 0;
  column-gap: 0;
}
@media print {
  html {
    font-size: 62.5%;
  }
  * {
    box-shadow: unset !important;
    border: unset !important;
  }
  nav {
    display: none !important;
  }
  .page-width,
  .text-width,
  .container {
    all: unset;
  }
  .inner-page-width,
  .inner-text-width,
  .inner-aside-width {
    all: unset;
  }
}
