/* This project uses Cavepaint! (MIT License) */
/* https://github.com/cavepaint/cavepaintCSS */
* {
  margin: 0 0 1.62rem 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}
.button,
button {
  border-style: solid;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(25, 31, 39, 0.16);
  display: inline;
  position: relative;
  font-family: inherit;
  font-size: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  color: inherit;
  background-color: inherit;
  border-color: #7b633d;
  border-width: 1px;
  line-height: 1.6;
  text-align: center;
  vertical-align: middle;
  outline: none;
  white-space: nowrap;
  text-decoration: none;
  touch-action: manipulation;
  cursor: pointer;
  transform: scale(1);
  transition: 0.08s linear;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.button:active,
button:active {
  transform: scale(0.99);
  box-shadow: unset;
}
.bar {
  position: relative;
  width: 100%;
  display: block;
  vertical-align: middle;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.bar > * {
  display: inline;
  margin-right: 0.3236em;
  margin-left: 0.3236em;
  margin-bottom: 0;
}
.card {
  position: relative;
  overflow: hidden;
  padding: 1.62rem;
  border: 1px solid #ae8e5b;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(25, 31, 39, 0.16);
}
.card > *:first-child {
  margin-top: 0;
}
.card > *:last-child {
  margin-bottom: 0;
}
.badge {
  border-radius: 0.5em;
  line-height: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  padding-right: 0.6472em;
  padding-left: 0.6472em;
  vertical-align: middle;
  border-radius: 99px;
  white-space: nowrap;
}
.modal {
  display: none;
  max-width: none;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  position: fixed;
  bottom: 0;
  justify-content: center;
  flex: 0 1 auto;
  flex-direction: column;
  height: 100vh;
}
.modal > * {
  flex-direction: column;
  color: #272119;
  position: relative;
  background: #fefcf9;
  padding: 1.62rem;
  margin-bottom: 3.24rem;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(25, 31, 39, 0.16);
  margin: 1.62rem;
}
@media screen and (min-width: 41.24rem) {
  .modal > * {
    max-width: 61rem;
    margin: 0 auto;
  }
}
.overlay {
  margin: 0;
  padding: 0;
  position: relative;
}
.overlay .top,
.overlay .bottom,
.overlay .left,
.overlay .right {
  position: absolute;
}
.overlay .top {
  top: 0.3236em;
}
.overlay .bottom {
  bottom: 0.3236em;
}
.overlay .left {
  left: 0.3236em;
}
.overlay .right {
  right: 0.3236em;
}
.overlay.stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.overlay * {
  margin: 0;
  display: block;
}
.grid,
.two-column,
.three-column {
  display: grid;
  grid-gap: 1.62rem;
}
.grid.tablet,
.two-column.tablet,
.three-column.tablet,
.grid.mobile.tablet,
.two-column.mobile.tablet,
.three-column.mobile.tablet,
.grid.desktop,
.two-column.desktop,
.three-column.desktop {
  display: initial;
}
.grid {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.two-column {
  grid-template-columns: 1fr 1fr;
}
.two-column.golden {
  grid-template-columns: 1.618fr 1fr;
}
.two-column.golden.reverse {
  grid-template-columns: 1fr 1.618fr;
}
.three-column {
  grid-template-columns: 1fr 1fr 1fr;
}
.three-column.golden {
  grid-template-columns: 1fr 1.618fr 1fr;
}
.three-column.golden.leading {
  grid-template-columns: 1.618fr 1fr 1fr;
}
.three-column.golden.trailing {
  grid-template-columns: 1fr 1fr 1.618fr;
}
.grid .grid-width-one {
  grid-column: auto / span 1;
}
.grid .grid-width-two {
  grid-column: auto / span 2;
}
.grid .grid-width-three {
  grid-column: auto / span 3;
}
.grid .grid-width-four {
  grid-column: auto / span 4;
}
.grid .grid-width-five {
  grid-column: auto / span 5;
}
.grid .grid-width-six {
  grid-column: auto / span 6;
}
.grid .grid-width-seven {
  grid-column: auto / span 7;
}
.grid .grid-width-eight {
  grid-column: auto / span 8;
}
.grid .grid-width-nine {
  grid-column: auto / span 9;
}
.grid .grid-width-ten {
  grid-column: auto / span 10;
}
.grid .grid-width-eleven {
  grid-column: auto / span 11;
}
.grid .grid-width-twelve {
  grid-column: auto / span 12;
}
@media screen and (max-width: calc(41.24rem - 1px)) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: grid;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 41.24rem) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: initial;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: initial;
  }
  .grid.tablet,
  .two-column.tablet,
  .three-column.tablet {
    display: grid;
  }
  .grid.tablet > *,
  .two-column.tablet > *,
  .three-column.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (max-width: calc(61rem - 1px)) {
  .grid.mobile.tablet,
  .two-column.mobile.tablet,
  .three-column.mobile.tablet {
    display: grid;
  }
  .grid.mobile.tablet > *,
  .two-column.mobile.tablet > *,
  .three-column.mobile.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 61rem) {
  .grid.desktop,
  .two-column.desktop,
  .three-column.desktop {
    display: grid;
  }
  .grid.desktop > *,
  .two-column.desktop > *,
  .three-column.desktop > * {
    margin-bottom: 0;
  }
}
.responsive {
  column-gap: 0.619rem;
  grid-gap: 0.619rem;
}
.responsive.padding,
.modal,
.container {
  padding: 0.619rem;
}
.responsive.margin,
.container {
  margin: 0.619rem;
}
.responsive.gutter {
  margin: 1.238rem;
}
@media screen and (min-width: 41.24rem) {
  .responsive {
    column-gap: 1.001rem;
    grid-gap: 1.001rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.001rem;
  }
  .responsive.margin,
  .container {
    margin: 1.001rem;
  }
  .responsive.gutter {
    margin: 2.002rem;
  }
}
@media screen and (min-width: 61rem) {
  .responsive {
    column-gap: 1.62rem;
    grid-gap: 1.62rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.62rem;
  }
  .responsive.margin,
  .container {
    margin: 1.62rem;
  }
  .responsive.gutter {
    margin: 3.24rem;
  }
}
.background {
  background: #fefcf9;
}
.background-color {
  background-color: #fefcf9;
}
.border {
  border: 1px solid #ae8e5b;
}
.border-radius,
.rounded {
  border-radius: 0.5em;
}
.border-bottom {
  border-bottom: 1px solid #ae8e5b;
}
.border-left {
  border-left: 1px solid #ae8e5b;
}
.border-right {
  border-right: 1px solid #ae8e5b;
}
.border-style,
.button.border,
button.border {
  border-style: solid;
}
.border-top {
  border-top: 1px solid #ae8e5b;
}
.border-width,
.button.border,
button.border {
  border-width: 1px;
}
.max-width {
  max-width: 61rem;
}
.min-width {
  min-width: 23rem;
}
.align-content {
  align-content: stretch;
}
.align-items {
  align-items: stretch;
}
.align-self {
  align-self: auto;
}
.flex,
.vertical-center,
.center-vertical {
  flex: 0 1 auto;
}
.flex-basis {
  flex-basis: auto;
}
.flex-direction,
.vertical-center,
.center-vertical {
  flex-direction: column;
}
.flex-flow {
  flex-flow: column nowrap;
}
.flex-grow {
  flex-grow: 0;
}
.flex-shrink {
  flex-shrink: 1;
}
.flex-wrap {
  flex-wrap: nowrap;
}
.justify-content,
.vertical-center,
.center-vertical {
  justify-content: center;
}
.font-family {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.font-size {
  font-size: 18px;
}
.font-weight {
  font-weight: normal;
}
.list-style {
  list-style: disc inside none;
}
.list-style-type {
  list-style-type: disc;
}
.margin {
  margin: 1.62rem;
}
.margin-bottom {
  margin-bottom: 1.62rem;
}
.margin-left {
  margin-left: 1.62rem;
}
.margin-right {
  margin-right: 1.62rem;
}
.margin-top {
  margin-top: 1.62rem;
}
.column-gap {
  column-gap: 1.94em;
}
.column-rule {
  column-rule: 1px solid #ae8e5b;
}
.padding {
  padding: 1.62rem;
}
.padding-bottom {
  padding-bottom: 1.62rem;
}
.padding-left {
  padding-left: 1.62rem;
}
.padding-right {
  padding-right: 1.62rem;
}
.padding-top {
  padding-top: 1.62rem;
}
.text-align {
  text-align: left;
}
.text-align-last {
  text-align-last: left;
}
.text-indent {
  text-indent: 2ch;
}
.text-justify {
  text-justify: justify;
}
.text-overflow {
  text-overflow: hidden;
}
.text-shadow {
  text-shadow: 1.41px 1.41px 1.41px rgba(25, 31, 39, 0.16);
}
.line-height {
  line-height: 1.8;
}
.vertical-align {
  vertical-align: middle;
}
.letter-spacing {
  letter-spacing: 0;
}
.word-spacing {
  word-spacing: normal;
}
.white-space {
  white-space: nowrap;
}
.word-break {
  word-break: break-all;
}
.word-wrap {
  word-wrap: break-word;
}
.transform {
  transform: none;
}
.transition {
  transition: all 0s ease 0s;
}
.display {
  display: block;
}
.position {
  position: absolute;
}
.top {
  top: 0;
}
.right {
  right: 0;
}
.bottom {
  bottom: 0;
}
.left {
  left: 0;
}
.float {
  float: left;
}
.clear {
  clear: both;
}
.z-index {
  z-index: 10;
}
.overflow {
  overflow: hidden;
}
.overflow-x {
  overflow-x: hidden;
}
.cursor {
  cursor: pointer;
}
.box-shadow {
  box-shadow: 1.41px 1.41px 1.41px rgba(25, 31, 39, 0.16);
}
.gutter {
  margin: 3.24rem;
}
.gutter-top {
  margin-top: 3.24rem;
}
.gutter-right {
  margin-right: 3.24rem;
}
.gutter-bottom {
  margin-bottom: 3.24rem;
}
.gutter-left {
  margin-left: 3.24rem;
}
.text-padding {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-padding-top {
  padding-top: 0.18em;
}
.text-padding-right {
  padding-right: 0.3236em;
}
.text-padding-bottom {
  padding-bottom: 0.22em;
}
.text-padding-left {
  padding-left: 0.3236em;
}
.text-margin {
  margin: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-margin-top {
  margin-top: 0.18em;
}
.text-margin-right {
  margin-right: 0.3236em;
}
.text-margin-bottom {
  margin-bottom: 0.22em;
}
.text-margin-left {
  margin-left: 0.3236em;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.initial {
  display: initial;
}
.table {
  display: table;
}
.flex,
.vertical-center,
.center-vertical {
  display: flex;
}
.inline-block {
  display: inline-block;
}
.static {
  position: static;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.margin-auto,
.container {
  margin-left: auto;
  margin-right: auto;
}
.width-auto {
  width: auto;
}
.inset {
  box-shadow: inset 1.41px 1.41px 1.41px rgba(25, 31, 39, 0.16);
}
.viewport-height {
  height: 100vh;
}
.min-viewport-height {
  min-height: 100vh;
}
.overflow-hidden {
  overflow: hidden;
}
.dashed {
  border-style: dashed;
}
.dotted {
  border-style: dotted;
}
.thick {
  border-width: 2px;
}
.thin {
  border-width: 0.5px;
}
.current-color {
  border-color: currentColor;
}
.fade {
  opacity: 0.65;
}
.serif,
.font-family-serif {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "Droid Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
.monospace,
.font-family-monospace {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
}
.sans-serif,
.font-family-sans-serif {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.text-transparent {
  color: transparent;
}
.reset {
  all: initial;
}
.big {
  font-size: 125%;
  line-height: 2.25;
}
.big.font-size {
  font-size: 22.5px;
}
.small,
.badge {
  font-size: 87.5%;
  line-height: 1.575;
}
.small.font-size {
  font-size: 15.75px;
}
.huge {
  font-size: 160%;
}
.huge.font-size {
  font-size: 28.8px;
}
.text-trim {
  line-height: 1;
}
.text-align-center,
.text-center {
  text-align: center;
}
.text-align-left,
.text-left {
  text-align: left;
}
.text-align-right,
.text-right {
  text-align: right;
}
.text-align-justify,
.text-justify {
  text-align: justify;
}
.grid-gap-margin {
  grid-gap: 1.62rem;
}
.grid-gap-border-width {
  grid-gap: 1px;
}
.grid-gap-text-padding,
.grid-gap-text-margin {
  grid-gap: 0.3236em;
}
.shade,
.white,
.orange,
.yellow,
.olive,
.light.green,
.light.teal,
.cyan,
.skyblue,
.violet,
.light.gray,
.light.magenta,
.lavender,
.cream,
.clover,
.pewter,
.hotpink,
.neongreen,
.electricblue,
.lemon,
.lime,
.tangerine,
.light.reaction,
.light.default,
body,
input,
textarea,
.info,
.warning,
.light.success {
  color: #272119;
}
.tint,
.black,
.red,
.dark.olive,
.green,
.teal,
.blue,
.indigo,
.purple,
.gray,
.brown,
.magenta,
.charcoal,
.crimson,
.dark.clover,
.cobalt,
.graphite,
.ruby,
.onyx,
.gunmetal,
.dark.hotpink,
.royalpurple,
.grapefruit,
.reaction,
.default,
.success,
.failure {
  color: #fefcf9;
}
.transparent {
  background-color: transparent;
  color: inherit;
  border-color: inherit;
}
.transparent.light {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23FFF%22%20fill-opacity%3D%220.16%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.transparent.dark,
.modal {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23000%22%20fill-opacity%3D%220.25%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.trim,
.trim-inner *,
.trim-all,
.trim-all * {
  margin-bottom: 0;
}
.hidden {
  display: none !important;
}
.clearfix,
.clear {
  clear: both;
}
.clearfix::after,
.clear::after {
  display: block;
  clear: both;
  content: "";
}
.golden-width {
  max-width: calc(62% - 3.24rem);
}
.golden-width.reverse {
  max-width: 38%;
}
.aside-width {
  max-width: 23rem;
}
@media screen and (min-width: 41.24rem) {
  .text-width {
    max-width: 38rem;
  }
}
.page-width,
.container {
  max-width: 61rem;
}
.full-width,
.aside-width .aside-width,
.text-width .text-width,
.page-width .page-width {
  display: block;
  width: 100%;
}
.inner-aside-width {
  padding-left: calc(50% - 11.5rem);
  padding-right: calc(50% - 11.5rem);
}
.inner-aside-width.padding {
  padding-left: calc(50% - 9.88rem);
  padding-right: calc(50% - 9.88rem);
}
.inner-aside-width.responsive.padding {
  padding-left: calc(50% - 10.88rem);
  padding-right: calc(50% - 10.88rem);
}
.inner-text-width {
  padding-left: calc(50% - 19rem);
  padding-right: calc(50% - 19rem);
}
.inner-text-width.padding {
  padding-left: calc(50% - 17.38rem);
  padding-right: calc(50% - 17.38rem);
}
.inner-text-width.responsive.padding {
  padding-left: calc(50% - 18.38rem);
  padding-right: calc(50% - 18.38rem);
}
.inner-page-width {
  padding-left: calc(50% - 30.5rem);
  padding-right: calc(50% - 30.5rem);
}
.inner-page-width.padding {
  padding-left: calc(50% - 28.88rem);
  padding-right: calc(50% - 28.88rem);
}
.inner-page-width.responsive.padding {
  padding-left: calc(50% - 29.88rem);
  padding-right: calc(50% - 29.88rem);
}
@media screen and (max-width: calc(41.24rem - 1px)) {
  .inner-text-width {
    padding-left: initial;
    padding-right: initial;
  }
  .inner-text-width.padding {
    padding-left: 1.62rem;
    padding-right: 1.62rem;
  }
  .inner-text-width.responsive.padding {
    padding-left: 0.619rem;
    padding-right: 0.619rem;
  }
}
@media screen and (min-width: 41.24rem) {
  .inner-aside-width.tablet.padding {
    padding-left: calc(50% - 9.88rem);
    padding-right: calc(50% - 9.88rem);
  }
  .inner-aside-width.tablet.responsive.padding {
    padding-left: calc(50% - 10.5rem);
    padding-right: calc(50% - 10.5rem);
  }
  .inner-text-width.tablet.padding {
    padding-left: calc(50% - 17.38rem);
    padding-right: calc(50% - 17.38rem);
  }
  .inner-text-width.tablet.responsive.padding {
    padding-left: calc(50% - 18rem);
    padding-right: calc(50% - 18rem);
  }
  .inner-page-width.tablet.padding {
    padding-left: calc(50% - 28.88rem);
    padding-right: calc(50% - 28.88rem);
  }
  .inner-page-width.tablet.responsive.padding {
    padding-left: calc(50% - 29.5rem);
    padding-right: calc(50% - 29.5rem);
  }
}
@media screen and (min-width: 61rem) {
  .inner-aside-width.desktop.padding {
    padding-left: calc(50% - 9.88rem);
    padding-right: calc(50% - 9.88rem);
  }
  .inner-aside-width.desktop.responsive.padding {
    padding-left: calc(50% - 9.88rem);
    padding-right: calc(50% - 9.88rem);
  }
  .inner-text-width.desktop.padding {
    padding-left: calc(50% - 17.38rem);
    padding-right: calc(50% - 17.38rem);
  }
  .inner-text-width.desktop.responsive.padding {
    padding-left: calc(50% - 17.38rem);
    padding-right: calc(50% - 17.38rem);
  }
  .inner-page-width.desktop.padding {
    padding-left: calc(50% - 28.88rem);
    padding-right: calc(50% - 28.88rem);
  }
  .inner-page-width.desktop.responsive.padding {
    padding-left: calc(50% - 28.88rem);
    padding-right: calc(50% - 28.88rem);
  }
}
@media screen and (max-width: calc(61rem - 1px)) {
  .inner-page-width {
    padding-left: initial;
    padding-right: initial;
  }
  .inner-page-width.padding {
    padding-left: 1.62rem;
    padding-right: 1.62rem;
  }
  .inner-page-width.responsive.padding {
    padding-left: 0.619rem;
    padding-right: 0.619rem;
  }
}
.texture,
.pattern {
  background-position: top center;
}
.texture {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20width%3D'36'%20height%3D'18'%20viewBox%3D'0%200%203.175%201.588'%3E%3Cg%20fill%3D'%23272119'%20fill-opacity%3D'0.16'%3E%3Ccircle%20cx%3D'.397'%20cy%3D'.397'%20r%3D'.397'/%3E%3Ccircle%20r%3D'.397'%20cy%3D'.397'%20cx%3D'1.191'/%3E%3Ccircle%20r%3D'.397'%20cy%3D'.397'%20cx%3D'1.984'/%3E%3Ccircle%20cx%3D'2.778'%20cy%3D'.397'%20r%3D'.397'/%3E%3Ccircle%20r%3D'.397'%20cy%3D'1.191'/%3E%3Ccircle%20cx%3D'.794'%20cy%3D'1.191'%20r%3D'.397'/%3E%3Ccircle%20cx%3D'1.587'%20cy%3D'1.191'%20r%3D'.397'/%3E%3Ccircle%20r%3D'.397'%20cy%3D'1.191'%20cx%3D'2.381'/%3E%3Ccircle%20cx%3D'3.175'%20cy%3D'1.191'%20r%3D'.397'/%3E%3C/g%3E%3C/svg%3E");
}
.pattern {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20width%3D'80'%20height%3D'50'%20viewBox%3D'0%200%2021.167%2013.229'%3E%3Cpath%20fill%3D'%23272119'%20opacity%3D'0.16'%20d%3D'M0%200h21.167v6.615H0z'/%3E%3C/svg%3E");
}
.placeholder::before {
  content: " ";
  white-space: pre;
}
.placeholder::after {
  content: "";
}
.placeholder.image,
.placeholder.video,
.placeholder.avatar {
  position: relative;
}
.placeholder.image::before,
.placeholder.video::before,
.placeholder.avatar::before {
  position: absolute;
  top: calc(50% - 4rem);
  right: 0;
  bottom: 0;
  left: 0;
  display: inline-block;
  text-align: center;
  font-size: 4rem;
  vertical-align: middle;
}
.placeholder.image.small::before,
.placeholder.video.small::before,
.placeholder.avatar.small::before {
  top: calc(50% - 2rem);
  font-size: 2rem;
}
.placeholder.image.big::before,
.placeholder.video.big::before,
.placeholder.avatar.big::before {
  top: calc(50% - 6rem);
  font-size: 6rem;
}
.placeholder.image.huge::before,
.placeholder.video.huge::before,
.placeholder.avatar.huge::before {
  top: calc(50% - 8rem);
  font-size: 8rem;
}
.placeholder.image::after,
.placeholder.video::after,
.placeholder.avatar::after {
  display: block;
}
.placeholder.image::before {
  content: "\1f5bc";
}
.placeholder.image::after {
  padding-top: 75%;
}
.placeholder.video::before {
  content: "\25B6";
}
.placeholder.video::after {
  padding-top: 56.25%;
}
.placeholder.avatar::before {
  content: "\263A";
}
.placeholder.avatar::after {
  padding-top: 100%;
}
.placeholder.no-icon::before {
  content: "";
}
.hide {
  display: none;
}
.hide.tablet {
  display: initial;
}
.hide.desktop {
  display: initial;
}
@media screen and (max-width: calc(41.24rem - 1px)) {
  .hide.mobile {
    display: none;
  }
}
@media screen and (min-width: 41.24rem) {
  .hide.mobile {
    display: initial;
  }
  .hide.tablet {
    display: none;
  }
}
@media screen and (min-width: 61rem) {
  .hide.desktop {
    display: none;
  }
  .hide.mobile.tablet {
    display: initial;
  }
}
@media screen and (max-width: calc(61rem - 1px)) {
  .hide.mobile.tablet {
    display: none;
  }
}
body {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
  font-size: 18px;
  line-height: 1.8;
  margin: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
nav {
  z-index: 99;
}
nav a {
  text-decoration: none;
}
aside {
  margin: 0 auto;
  margin-bottom: 1.62rem;
  max-width: 23rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
  font-weight: bold;
  margin-top: 0.49443758em;
  margin-bottom: 0.74165637em;
  letter-spacing: -0.025em;
  color: inherit;
  line-height: 1.618;
}
h1 {
  font-size: 2.4em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1em;
}
p {
  margin-bottom: 1em;
}
p.gutter-bottom {
  margin-bottom: 1.618em;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: inherit;
  text-decoration: underline;
}
a.target-blank::after,
a.new-tab::after,
a.external-link::after {
  content: "\00A0\1F855";
}
form {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
  font-size: 18px;
  line-height: 1.8;
  border: 1px solid #ae8e5b;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input:focus {
  box-shadow: 0 0 2px #8dcae4;
}
fieldset {
  border: none;
  outline: none;
}
ol {
  padding-left: 4ch;
  margin-bottom: 1.62rem;
}
ol li {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
ul {
  margin-left: 1.62rem;
  margin-bottom: 1.62rem;
}
li {
  margin-bottom: 0.44em;
}
kbd {
  color: #fefcf9;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  white-space: nowrap;
}
b {
  padding: 0.18em 0 0.22em 0;
}
pre {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
  overflow: hidden;
  border-radius: 0.5em;
  background: #433e39;
  color: #fefcf9;
}
pre.white-space,
pre.word-break {
  white-space: pre-wrap;
}
pre > code {
  background: transparent;
  padding: 0;
}
code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
  color: #fefcf9;
  background-color: #393d5b;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
code.terminal::before {
  content: "$ ";
}
textarea {
  font-size: 18px;
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
  line-height: 1.8;
  border: 1px solid #ae8e5b;
  border-radius: 0.5em;
  margin-bottom: 1.62rem;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
textarea:focus {
  box-shadow: 0 0 2px #8dcae4;
}
.white,
body,
input,
textarea {
  background-color: #fefcf9;
  border-color: #8e8880;
}
.black {
  background-color: #272119;
  border-color: #13100c;
}
.ambient {
  color: #272119;
  background: #f1cc9b;
  border-color: #877051;
}
.ambient.light {
  color: #272119;
  background: #f6dfbf;
  border-color: #8a7963;
}
.ambient.dark {
  color: #272119;
  background: #edba77;
  border-color: #85673f;
}
.red,
.failure {
  background-color: #f31d0d;
  border-color: #891209;
}
.light.red,
.light.failure {
  background-color: #f54134;
  border-color: #8a241d;
}
.dark.red,
.dark.failure {
  background-color: #ce170a;
  border-color: #760f07;
}
.orange,
.warning {
  background-color: #fcac0a;
  border-color: #8e6107;
}
.light.orange,
.light.warning {
  background-color: #fdba32;
  border-color: #8e681b;
}
.dark.orange,
.dark.warning {
  background-color: #db9303;
  border-color: #7d5503;
}
.yellow {
  background-color: #f9f90b;
  border-color: #8c8c08;
}
.light.yellow {
  background-color: #fafa33;
  border-color: #8d8d1c;
}
.dark.yellow {
  background-color: #d6d605;
  border-color: #7b7b05;
}
.olive {
  background-color: #a5a00d;
  border-color: #625f09;
}
.light.olive {
  background-color: #cbc510;
  border-color: #74710b;
}
.dark.olive {
  background-color: #7f7b0a;
  border-color: #4f4c08;
}
.green,
.success {
  background-color: #289b0c;
  border-color: #195d09;
}
.light.green,
.light.success {
  background-color: #31c10f;
  border-color: #1e700a;
}
.dark.green,
.dark.success {
  background-color: #1e7509;
  border-color: #144a07;
}
.teal {
  background-color: #29a09a;
  border-color: #195d5a;
}
.light.teal {
  background-color: #31c1b9;
  border-color: #1d6e69;
}
.dark.teal {
  background-color: #20807a;
  border-color: #154d4a;
}
.cyan {
  background-color: #3af9f8;
  border-color: #1f8c8c;
}
.light.cyan {
  background-color: #61fafa;
  border-color: #338d8d;
}
.dark.cyan {
  background-color: #12f8f7;
  border-color: #0b8c8b;
}
.skyblue,
.info {
  background-color: #8dcae4;
  border-color: #4b7080;
}
.light.skyblue,
.light.info {
  background-color: #aedaec;
  border-color: #5b7884;
}
.dark.skyblue,
.dark.info {
  background-color: #6cbbdd;
  border-color: #3a687c;
}
.blue {
  background-color: #271bf8;
  border-color: #16108c;
}
.light.blue {
  background-color: #4c42f9;
  border-color: #29238c;
}
.dark.blue {
  background-color: #1207e4;
  border-color: #0c0582;
}
.indigo {
  background-color: #6e1c96;
  border-color: #421259;
}
.light.indigo {
  background-color: #8722b8;
  border-color: #4e156a;
}
.dark.indigo {
  background-color: #551573;
  border-color: #350f48;
}
.purple {
  background-color: #ae1fa4;
  border-color: #65135f;
}
.light.purple {
  background-color: #d125c5;
  border-color: #771670;
}
.dark.purple {
  background-color: #8c1984;
  border-color: #54104f;
}
.violet {
  background-color: #ea82e7;
  border-color: #834582;
}
.light.violet {
  background-color: #f0a5ee;
  border-color: #865685;
}
.dark.violet {
  background-color: #e45fe1;
  border-color: #80337e;
}
.gray {
  background-color: #918981;
  border-color: #534d48;
}
.light.gray {
  background-color: #a49d97;
  border-color: #5c5853;
}
.dark.gray {
  background-color: #7d746c;
  border-color: #48433e;
}
.brown {
  background-color: #a85b32;
  border-color: #61351e;
}
.light.brown {
  background-color: #c56d3d;
  border-color: #703e23;
}
.dark.brown {
  background-color: #884a28;
  border-color: #512d19;
}
.magenta {
  background-color: #ef2ceb;
  border-color: #871985;
}
.light.magenta {
  background-color: #f252ef;
  border-color: #882c86;
}
.dark.magenta {
  background-color: #e011dd;
  border-color: #7f0b7d;
}
.lavender {
  background-color: #cfbee4;
  border-color: #70657e;
}
.light.lavender {
  background-color: #e4daf0;
  border-color: #7b7384;
}
.dark.lavender {
  background-color: #baa1d7;
  border-color: #655678;
}
.cream {
  background-color: #f3f3ce;
  border-color: #87876c;
}
.light.cream {
  background-color: #fbfbef;
  border-color: #8b8b7c;
}
.dark.cream {
  background-color: #ebeaae;
  border-color: #83835b;
}
.charcoal {
  background-color: #6b4c37;
  border-color: #412f22;
}
.light.charcoal {
  background-color: #866045;
  border-color: #4f3829;
}
.dark.charcoal {
  background-color: #503929;
  border-color: #34251b;
}
.crimson {
  background-color: #bb1824;
  border-color: #6c0f16;
}
.light.crimson {
  background-color: #e01c2b;
  border-color: #7e111a;
}
.dark.crimson {
  background-color: #97131d;
  border-color: #5a0d13;
}
.clover {
  background-color: #5eba21;
  border-color: #376b14;
}
.light.clover {
  background-color: #70d92b;
  border-color: #407b19;
}
.dark.clover {
  background-color: #4c981b;
  border-color: #2e5a11;
}
.cobalt {
  background-color: #377fd5;
  border-color: #1f4879;
}
.light.cobalt {
  background-color: #5995dc;
  border-color: #30537c;
}
.dark.cobalt {
  background-color: #276bbc;
  border-color: #183e6c;
}
.graphite {
  background-color: #393d5b;
  border-color: #242638;
}
.light.graphite {
  background-color: #494e74;
  border-color: #2b2e45;
}
.dark.graphite {
  background-color: #292c42;
  border-color: #1c1e2c;
}
.ruby {
  background-color: #bf0e44;
  border-color: #6f0a29;
}
.light.ruby {
  background-color: #e51152;
  border-color: #820b30;
}
.dark.ruby {
  background-color: #990b37;
  border-color: #5c0822;
}
.onyx {
  background-color: #433e39;
  border-color: #2b2824;
}
.light.onyx {
  background-color: #59524c;
  border-color: #36322e;
}
.dark.onyx {
  background-color: #2d2926;
  border-color: #201e1b;
}
.pewter {
  background-color: #acaa8f;
  border-color: #605f4f;
}
.light.pewter {
  background-color: #bdbba7;
  border-color: #69685b;
}
.dark.pewter {
  background-color: #9a9878;
  border-color: #575643;
}
.gunmetal {
  background-color: #606c74;
  border-color: #383f44;
}
.light.gunmetal {
  background-color: #73808a;
  border-color: #41494f;
}
.dark.gunmetal {
  background-color: #4e575d;
  border-color: #2f3539;
}
.hotpink {
  background-color: #f55ea7;
  border-color: #8a325c;
}
.light.hotpink {
  background-color: #f885bc;
  border-color: #8b4567;
}
.dark.hotpink {
  background-color: #f33892;
  border-color: #891e52;
}
.neongreen {
  background-color: #44f517;
  border-color: #278a0e;
}
.light.neongreen {
  background-color: #64f73e;
  border-color: #378b21;
}
.dark.neongreen {
  background-color: #34da09;
  border-color: #1f7d07;
}
.electricblue {
  background-color: #42c1e8;
  border-color: #246d83;
}
.light.electricblue {
  background-color: #67cdec;
  border-color: #377385;
}
.dark.electricblue {
  background-color: #1eb5e4;
  border-color: #126780;
}
.royalpurple {
  background-color: #733e9e;
  border-color: #43255b;
}
.light.royalpurple {
  background-color: #884db8;
  border-color: #4d2c68;
}
.dark.royalpurple {
  background-color: #5e3380;
  border-color: #381f4d;
}
.lemon {
  background-color: #fcfa92;
  border-color: #8e8d4b;
}
.light.lemon {
  background-color: #fdfcb9;
  border-color: #8e8d5f;
}
.dark.lemon {
  background-color: #fbf86a;
  border-color: #8d8c37;
}
.lime {
  background-color: #a3ee8c;
  border-color: #57854a;
}
.light.lime {
  background-color: #bff3b0;
  border-color: #66885b;
}
.dark.lime {
  background-color: #86e969;
  border-color: #498338;
}
.tangerine {
  background-color: #f9ad54;
  border-color: #8c602c;
}
.light.tangerine {
  background-color: #fabf7b;
  border-color: #8d6940;
}
.dark.tangerine {
  background-color: #f79a2c;
  border-color: #8b5618;
}
.grapefruit {
  background-color: #db4651;
  border-color: #7b272d;
}
.light.grapefruit {
  background-color: #e16871;
  border-color: #7f383d;
}
.dark.grapefruit {
  background-color: #cf2835;
  border-color: #75181f;
}
.action,
.base-color {
  color: #272119;
  background: #bc8b68;
  border-color: #6a4e3a;
}
.action.light,
.base-color.light {
  color: #272119;
  background: #c9a184;
  border-color: #705948;
}
.action.dark,
.base-color.dark {
  color: #fefcf9;
  background: #ae764d;
  border-color: #63432c;
}
.reaction {
  background-color: #5f849e;
  border-color: #364b5a;
}
.light.reaction {
  background-color: #7897ae;
  border-color: #435562;
}
.dark.reaction {
  background-color: #506f84;
  border-color: #2f414d;
}
.default {
  background-color: #ae8e5b;
  border-color: #635134;
}
.light.default {
  background-color: #bba177;
  border-color: #695a41;
}
.dark.default {
  background-color: #96794a;
  border-color: #57462b;
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-margin-right {
  margin-right: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.no-margin-left {
  margin-left: 0 !important;
}
.no-padding {
  padding: 0;
}
.no-margin,
.no-gutter {
  margin: 0;
}
.no-side-margin,
.no-side-margins {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.no-margins {
  margin: 0 !important;
}
.no-margins * {
  margin: 0 !important;
}
.no-box-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  box-shadow: unset;
}
.no-text-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  text-shadow: unset;
}
.no-border,
.no-borders,
.no-borders * {
  border-width: 0 !important;
}
.no-background {
  background: transparent;
}
.no-text-indent {
  text-indent: 0;
}
.no-text-align {
  text-align: initial;
}
.no-user-select {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.no-pointer-events {
  pointer-events: none;
}
.no-list-style {
  list-style-type: none;
  margin-left: 0;
}
.no-grid-gap,
.no-column-gap {
  grid-gap: 0;
  column-gap: 0;
}
@media print {
  html {
    font-size: 62.5%;
  }
  * {
    box-shadow: unset !important;
    border: unset !important;
  }
  nav {
    display: none !important;
  }
  .page-width,
  .text-width,
  .container {
    all: unset;
  }
  .inner-page-width,
  .inner-text-width,
  .inner-aside-width {
    all: unset;
  }
}
