/* This project uses Cavepaint (MIT License) by Rex Riepe */
/* https://github.com/cavepaint/cavepaintCSS */
* {
  margin: 0 0 1.62rem 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  margin-bottom: 0;
}
.button,
button {
  border-style: solid;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(38, 30, 2, 0.16);
  display: inline;
  position: relative;
  font-family: inherit;
  font-size: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  color: inherit;
  background-color: inherit;
  border-color: #303b6b;
  border-width: 1px;
  line-height: 1.6;
  text-align: center;
  vertical-align: middle;
  outline: none;
  white-space: nowrap;
  text-decoration: none;
  touch-action: manipulation;
  cursor: pointer;
  transform: scale(1);
  transition: 0.08s linear;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.button:active,
button:active {
  transform: scale(0.99);
  box-shadow: unset;
}
.bar {
  position: relative;
  width: 100%;
  display: block;
  vertical-align: middle;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.bar > * {
  display: inline;
  margin-right: 0.3236em;
  margin-left: 0.3236em;
  margin-bottom: 0;
}
.card {
  position: relative;
  overflow: hidden;
  padding: 1.62rem;
  border: 1px solid #4a59a3;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(38, 30, 2, 0.16);
}
.card > *:first-child {
  margin-top: 0;
}
.card > *:last-child {
  margin-bottom: 0;
}
.badge {
  border-radius: 0.5em;
  line-height: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  padding-right: 0.6472em;
  padding-left: 0.6472em;
  vertical-align: middle;
  border-radius: 99px;
  white-space: nowrap;
}
.modal {
  display: none;
  max-width: none;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  position: fixed;
  bottom: 0;
  justify-content: center;
  flex: 0 1 auto;
  flex-direction: column;
  height: 100vh;
}
.modal > * {
  flex-direction: column;
  color: #020a26;
  position: relative;
  background: #f1f3fe;
  padding: 1.62rem;
  margin-bottom: 3.24rem;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(38, 30, 2, 0.16);
  margin: 1.62rem;
}
@media screen and (min-width: 50.24rem) {
  .modal > * {
    max-width: 76rem;
    margin: 0 auto;
  }
}
.overlay {
  margin: 0;
  padding: 0;
  position: relative;
}
.overlay .top,
.overlay .bottom,
.overlay .left,
.overlay .right {
  position: absolute;
}
.overlay .top {
  top: 0.3236em;
}
.overlay .bottom {
  bottom: 0.3236em;
}
.overlay .left {
  left: 0.3236em;
}
.overlay .right {
  right: 0.3236em;
}
.overlay.stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.overlay * {
  margin: 0;
  display: block;
}
.grid,
.two-column,
.three-column {
  display: grid;
  grid-gap: 1.62rem;
}
.grid.tablet,
.two-column.tablet,
.three-column.tablet,
.grid.mobile.tablet,
.two-column.mobile.tablet,
.three-column.mobile.tablet,
.grid.desktop,
.two-column.desktop,
.three-column.desktop {
  display: initial;
}
.grid {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.two-column {
  grid-template-columns: 1fr 1fr;
}
.two-column.golden {
  grid-template-columns: 1.618fr 1fr;
}
.two-column.golden.reverse {
  grid-template-columns: 1fr 1.618fr;
}
.three-column {
  grid-template-columns: 1fr 1fr 1fr;
}
.three-column.golden {
  grid-template-columns: 1fr 1.618fr 1fr;
}
.three-column.golden.leading {
  grid-template-columns: 1.618fr 1fr 1fr;
}
.three-column.golden.trailing {
  grid-template-columns: 1fr 1fr 1.618fr;
}
.grid-width-one {
  grid-column: auto / span 1;
}
.grid-width-two {
  grid-column: auto / span 2;
}
.grid-width-three {
  grid-column: auto / span 3;
}
.grid-width-four {
  grid-column: auto / span 4;
}
.grid-width-five {
  grid-column: auto / span 5;
}
.grid-width-six {
  grid-column: auto / span 6;
}
.grid-width-seven {
  grid-column: auto / span 7;
}
.grid-width-eight {
  grid-column: auto / span 8;
}
.grid-width-nine {
  grid-column: auto / span 9;
}
.grid-width-ten {
  grid-column: auto / span 10;
}
.grid-width-eleven {
  grid-column: auto / span 11;
}
.grid-width-twelve {
  grid-column: auto / span 12;
}
@media screen and (max-width: calc(50.24rem - 1px)) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: grid;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 50.24rem) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: initial;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: initial;
  }
  .grid.tablet,
  .two-column.tablet,
  .three-column.tablet {
    display: grid;
  }
  .grid.tablet > *,
  .two-column.tablet > *,
  .three-column.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (max-width: calc(76rem - 1px)) {
  .grid.mobile.tablet,
  .two-column.mobile.tablet,
  .three-column.mobile.tablet {
    display: grid;
  }
  .grid.mobile.tablet > *,
  .two-column.mobile.tablet > *,
  .three-column.mobile.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 76rem) {
  .grid.desktop,
  .two-column.desktop,
  .three-column.desktop {
    display: grid;
  }
  .grid.desktop > *,
  .two-column.desktop > *,
  .three-column.desktop > * {
    margin-bottom: 0;
  }
}
.responsive {
  column-gap: 0.619rem;
  grid-gap: 0.619rem;
}
.responsive.padding,
.modal,
.container {
  padding: 0.619rem;
}
.responsive.margin,
.container {
  margin: 0.619rem;
}
.responsive.gutter {
  margin: 1.238rem;
}
@media screen and (min-width: 50.24rem) {
  .responsive {
    column-gap: 1.001rem;
    grid-gap: 1.001rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.001rem;
  }
  .responsive.margin,
  .container {
    margin: 1.001rem;
  }
  .responsive.gutter {
    margin: 2.002rem;
  }
}
@media screen and (min-width: 76rem) {
  .responsive {
    column-gap: 1.62rem;
    grid-gap: 1.62rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.62rem;
  }
  .responsive.margin,
  .container {
    margin: 1.62rem;
  }
  .responsive.gutter {
    margin: 3.24rem;
  }
}
.background {
  background: #f1f3fe;
}
.background-color {
  background-color: #f1f3fe;
}
.border {
  border: 1px solid #4a59a3;
}
.border-radius,
.rounded {
  border-radius: 0.5em;
}
.border-bottom {
  border-bottom: 1px solid #4a59a3;
}
.border-left {
  border-left: 1px solid #4a59a3;
}
.border-right {
  border-right: 1px solid #4a59a3;
}
.border-style,
.button.border,
button.border {
  border-style: solid;
}
.border-top {
  border-top: 1px solid #4a59a3;
}
.border-width,
.button.border,
button.border {
  border-width: 1px;
}
.max-width {
  max-width: 76rem;
}
.min-width {
  min-width: 29rem;
}
.align-content {
  align-content: stretch;
}
.align-items {
  align-items: stretch;
}
.align-self {
  align-self: auto;
}
.flex,
.vertical-center,
.center-vertical {
  flex: 0 1 auto;
}
.flex-basis {
  flex-basis: auto;
}
.flex-direction,
.vertical-center,
.center-vertical {
  flex-direction: column;
}
.flex-flow {
  flex-flow: column nowrap;
}
.flex-grow {
  flex-grow: 0;
}
.flex-shrink {
  flex-shrink: 1;
}
.flex-wrap {
  flex-wrap: nowrap;
}
.justify-content,
.vertical-center,
.center-vertical {
  justify-content: center;
}
.font-family,
body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
}
.font-size {
  font-size: 19px;
}
.font-weight {
  font-weight: normal;
}
.list-style {
  list-style: disc inside none;
}
.list-style-type {
  list-style-type: disc;
}
.margin {
  margin: 1.62rem;
}
.margin-bottom {
  margin-bottom: 1.62rem;
}
.margin-left {
  margin-left: 1.62rem;
}
.margin-right {
  margin-right: 1.62rem;
}
.margin-top {
  margin-top: 1.62rem;
}
.column-gap {
  column-gap: 1.94em;
}
.column-rule {
  column-rule: 1px solid #4a59a3;
}
.padding {
  padding: 1.62rem;
}
.padding-bottom {
  padding-bottom: 1.62rem;
}
.padding-left {
  padding-left: 1.62rem;
}
.padding-right {
  padding-right: 1.62rem;
}
.padding-top {
  padding-top: 1.62rem;
}
.text-align {
  text-align: left;
}
.text-align-last {
  text-align-last: left;
}
.text-indent {
  text-indent: 2ch;
}
.text-justify {
  text-justify: justify;
}
.text-overflow {
  text-overflow: hidden;
}
.text-shadow {
  text-shadow: 1.41px 1.41px 1.41px rgba(38, 30, 2, 0.16);
}
.line-height {
  line-height: 1.8;
}
.vertical-align {
  vertical-align: middle;
}
.letter-spacing {
  letter-spacing: 0;
}
.word-spacing {
  word-spacing: normal;
}
.white-space {
  white-space: nowrap;
}
.word-break {
  word-break: break-all;
}
.word-wrap {
  word-wrap: break-word;
}
.transform {
  transform: none;
}
.transition {
  transition: all 0s ease 0s;
}
.display {
  display: block;
}
.position {
  position: absolute;
}
.top {
  top: 0;
}
.right {
  right: 0;
}
.bottom {
  bottom: 0;
}
.left {
  left: 0;
}
.float {
  float: left;
}
.clear {
  clear: both;
}
.z-index {
  z-index: 10;
}
.overflow {
  overflow: hidden;
}
.overflow-x {
  overflow-x: hidden;
}
.cursor {
  cursor: pointer;
}
.box-shadow {
  box-shadow: 1.41px 1.41px 1.41px rgba(38, 30, 2, 0.16);
}
.gutter {
  margin: 3.24rem;
}
.gutter-top {
  margin-top: 3.24rem;
}
.gutter-right {
  margin-right: 3.24rem;
}
.gutter-bottom {
  margin-bottom: 3.24rem;
}
.gutter-left {
  margin-left: 3.24rem;
}
.text-padding {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-padding-top {
  padding-top: 0.18em;
}
.text-padding-right {
  padding-right: 0.3236em;
}
.text-padding-bottom {
  padding-bottom: 0.22em;
}
.text-padding-left {
  padding-left: 0.3236em;
}
.text-margin {
  margin: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-margin-top {
  margin-top: 0.18em;
}
.text-margin-right {
  margin-right: 0.3236em;
}
.text-margin-bottom {
  margin-bottom: 0.22em;
}
.text-margin-left {
  margin-left: 0.3236em;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.initial {
  display: initial;
}
.table {
  display: table;
}
.flex,
.vertical-center,
.center-vertical {
  display: flex;
}
.inline-block {
  display: inline-block;
}
.static {
  position: static;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.margin-auto,
.container {
  margin-left: auto;
  margin-right: auto;
}
.width-auto {
  width: auto;
}
.inset {
  box-shadow: inset 1.41px 1.41px 1.41px rgba(38, 30, 2, 0.16);
}
.viewport-height {
  height: 100vh;
}
.min-viewport-height {
  min-height: 100vh;
}
.overflow-hidden {
  overflow: hidden;
}
.dashed {
  border-style: dashed;
}
.dotted {
  border-style: dotted;
}
.thick {
  border-width: 2px;
}
.thin {
  border-width: 0.5px;
}
.current-color {
  border-color: currentColor;
}
.fade {
  opacity: 0.65;
}
.serif,
.font-family-serif {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "Droid Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
.monospace,
.font-family-monospace,
pre,
code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
}
.sans-serif,
.font-family-sans-serif {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.text-transparent {
  color: transparent;
}
.reset {
  all: initial;
}
.big {
  font-size: 125%;
  line-height: 2.25;
}
.big.font-size {
  font-size: 23.75px;
}
.small,
.badge {
  font-size: 87.5%;
  line-height: 1.575;
}
.small.font-size {
  font-size: 16.625px;
}
.huge {
  font-size: 160%;
}
.huge.font-size {
  font-size: 30.4px;
}
.text-trim {
  line-height: 1;
}
.text-align-center,
.text-center {
  text-align: center;
}
.text-align-left,
.text-left {
  text-align: left;
}
.text-align-right,
.text-right {
  text-align: right;
}
.text-align-justify,
.text-justify {
  text-align: justify;
}
.grid-gap-margin {
  grid-gap: 1.62rem;
}
.grid-gap-border-width {
  grid-gap: 1px;
}
.grid-gap-text-padding,
.grid-gap-text-margin {
  grid-gap: 0.3236em;
}
.shade,
.white,
.orange,
.yellow,
.cyan,
.skyblue,
.light.violet,
.lavender,
.cream,
.light.clover,
.pewter,
.light.hotpink,
.neongreen,
.electricblue,
.lemon,
.lime,
.tangerine,
.light.cool,
body,
input,
textarea,
.info,
.warning {
  color: #020a26;
}
.tint,
.black,
.red,
.dark.orange,
.olive,
.green,
.teal,
.blue,
.indigo,
.purple,
.violet,
.gray,
.brown,
.magenta,
.charcoal,
.crimson,
.clover,
.cobalt,
.graphite,
.ruby,
.onyx,
.dark.pewter,
.gunmetal,
.hotpink,
.dark.electricblue,
.royalpurple,
.grapefruit,
.reaction,
.default,
.warm,
.cool,
.neutral,
.complement,
.accent,
.second.accent,
.split,
.second.split,
.triad,
.third.triad,
.tetrad,
.second.tetrad,
.third.tetrad,
.fourth.tetrad,
.highlight,
.dark.warning,
.success,
.failure,
.second.triad {
  color: #f1f3fe;
}
.transparent {
  background-color: transparent;
  color: inherit;
  border-color: inherit;
}
.transparent.light {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23FFF%22%20fill-opacity%3D%220.16%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.transparent.dark,
.modal {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23000%22%20fill-opacity%3D%220.25%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.trim,
.trim-inner *,
.trim-all,
.trim-all * {
  margin-bottom: 0;
}
.hidden {
  display: none !important;
}
.clearfix,
.clear {
  clear: both;
}
.clearfix::after,
.clear::after {
  display: block;
  clear: both;
  content: "";
}
.golden-width {
  max-width: calc(62% - 3.24rem);
}
.golden-width.reverse {
  max-width: 38%;
}
.aside-width {
  max-width: 29rem;
}
@media screen and (min-width: 50.24rem) {
  .text-width {
    max-width: 47rem;
  }
}
.page-width,
.container {
  max-width: 76rem;
}
.full-width,
.aside-width .aside-width,
.text-width .text-width,
.page-width .page-width {
  display: block;
  width: 100%;
}
.inner-aside-width {
  padding-left: calc(50% - 14.5rem);
  padding-right: calc(50% - 14.5rem);
}
.inner-aside-width.padding {
  padding-left: calc(50% - 12.88rem);
  padding-right: calc(50% - 12.88rem);
}
.inner-aside-width.responsive.padding {
  padding-left: calc(50% - 13.88rem);
  padding-right: calc(50% - 13.88rem);
}
@media screen and (max-width: calc(50.24rem - 1px)) {
  .inner-text-width {
    padding-left: initial;
    padding-right: initial;
  }
  .inner-text-width.padding {
    padding-left: 1.62rem;
    padding-right: 1.62rem;
  }
  .inner-text-width.responsive.padding {
    padding-left: 0.619rem;
    padding-right: 0.619rem;
  }
}
@media screen and (min-width: 50.24rem) {
  .inner-aside-width.tablet.padding {
    padding-left: calc(50% - 12.88rem);
    padding-right: calc(50% - 12.88rem);
  }
  .inner-aside-width.tablet.responsive.padding {
    padding-left: calc(50% - 13.5rem);
    padding-right: calc(50% - 13.5rem);
  }
  .inner-text-width {
    padding-left: calc(50% - 23.5rem);
    padding-right: calc(50% - 23.5rem);
  }
  .inner-text-width.padding {
    padding-left: calc(50% - 21.88rem);
    padding-right: calc(50% - 21.88rem);
  }
  .inner-text-width.responsive.padding {
    padding-left: calc(50% - 22.5rem);
    padding-right: calc(50% - 22.5rem);
  }
}
@media screen and (min-width: 76rem) {
  .inner-aside-width.desktop.padding {
    padding-left: calc(50% - 12.88rem);
    padding-right: calc(50% - 12.88rem);
  }
  .inner-aside-width.desktop.responsive.padding {
    padding-left: calc(50% - 12.88rem);
    padding-right: calc(50% - 12.88rem);
  }
  .inner-text-width.desktop.padding {
    padding-left: calc(50% - 21.88rem);
    padding-right: calc(50% - 21.88rem);
  }
  .inner-text-width.desktop.responsive.padding {
    padding-left: calc(50% - 21.88rem);
    padding-right: calc(50% - 21.88rem);
  }
  .inner-page-width {
    padding-left: calc(50% - 38rem);
    padding-right: calc(50% - 38rem);
  }
  .inner-page-width.padding {
    padding-left: calc(50% - 36.38rem);
    padding-right: calc(50% - 36.38rem);
  }
  .inner-page-width.responsive.padding {
    padding-left: calc(50% - 36.38rem);
    padding-right: calc(50% - 36.38rem);
  }
}
.texture,
.pattern {
  background-position: top center;
}
.texture {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20width%3D'80'%20height%3D'48'%3E%3Cpath%20d%3D'M19%200v11H0v26h19v11h2V37h38v11h2V37h19V11H61V0h-2v11H21V0h-2zM1%2013h38v22H1V13zm40%200h38v22H41V13z'%20fill%3D'%23f1f3fe'%20fill-opacity%3D'0.05'/%3E%3C/svg%3E");
}
.pattern {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20viewBox%3D'0%200%203.175%203.175'%20height%3D'12'%20width%3D'12'%3E%3Cpath%20opacity%3D'0.05'%20fill%3D'%23f1f3fe'%20d%3D'M0%200h1.587v1.587H0z'/%3E%3C/svg%3E");
}
.placeholder::before {
  content: " ";
  white-space: pre;
}
.placeholder::after {
  content: "";
}
.placeholder.image,
.placeholder.video,
.placeholder.avatar {
  position: relative;
}
.placeholder.image::before,
.placeholder.video::before,
.placeholder.avatar::before {
  position: absolute;
  top: calc(50% - 4rem);
  right: 0;
  bottom: 0;
  left: 0;
  display: inline-block;
  text-align: center;
  font-size: 4rem;
  vertical-align: middle;
}
.placeholder.image.small::before,
.placeholder.video.small::before,
.placeholder.avatar.small::before {
  top: calc(50% - 2rem);
  font-size: 2rem;
}
.placeholder.image.big::before,
.placeholder.video.big::before,
.placeholder.avatar.big::before {
  top: calc(50% - 6rem);
  font-size: 6rem;
}
.placeholder.image.huge::before,
.placeholder.video.huge::before,
.placeholder.avatar.huge::before {
  top: calc(50% - 8rem);
  font-size: 8rem;
}
.placeholder.image::after,
.placeholder.video::after,
.placeholder.avatar::after {
  display: block;
}
.placeholder.image::before {
  content: "\1f5bc";
}
.placeholder.image::after {
  padding-top: 75%;
}
.placeholder.video::before {
  content: "\25B6";
}
.placeholder.video::after {
  padding-top: 56.25%;
}
.placeholder.avatar::before {
  content: "\263A";
}
.placeholder.avatar::after {
  padding-top: 100%;
}
.placeholder.no-icon::before {
  content: "";
}
.hide {
  display: none;
}
.hide.tablet {
  display: initial;
}
.hide.desktop {
  display: initial;
}
@media screen and (max-width: calc(50.24rem - 1px)) {
  .hide.mobile {
    display: none;
  }
}
@media screen and (min-width: 50.24rem) {
  .hide.mobile {
    display: initial;
  }
  .hide.tablet {
    display: none;
  }
}
@media screen and (min-width: 76rem) {
  .hide.desktop {
    display: none;
  }
  .hide.mobile.tablet {
    display: initial;
  }
}
@media screen and (max-width: calc(76rem - 1px)) {
  .hide.mobile.tablet {
    display: none;
  }
}
body {
  font-size: 19px;
  line-height: 1.8;
  margin: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
nav {
  z-index: 99;
}
nav a {
  text-decoration: none;
}
aside {
  margin: 0 auto;
  margin-bottom: 1.62rem;
  max-width: 29rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-top: 0.49443758em;
  margin-bottom: 0.74165637em;
  letter-spacing: -0.025em;
  color: inherit;
  line-height: 1.618;
}
h1 {
  font-size: 2.4em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1em;
}
p {
  margin-bottom: 1em;
}
p.gutter-bottom {
  margin-bottom: 1.618em;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: inherit;
  text-decoration: underline;
}
a.target-blank::after,
a.new-tab::after,
a.external-link::after {
  content: "\00A0\1F855";
}
form {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input {
  font-size: 19px;
  line-height: 1.8;
  border: 1px solid #4a59a3;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input:focus {
  box-shadow: 0 0 2px #66adde;
}
fieldset {
  border: none;
  outline: none;
}
ol {
  padding-left: 4ch;
  margin-bottom: 1.62rem;
}
ol li {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
ul {
  margin-left: 1.62rem;
  margin-bottom: 1.62rem;
}
li {
  margin-bottom: 0.44em;
}
kbd {
  color: #f1f3fe;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  white-space: nowrap;
}
b {
  padding: 0.18em 0 0.22em 0;
}
pre {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  overflow: hidden;
  border-radius: 0.5em;
  background: #32313d;
  color: #f1f3fe;
}
pre.white-space,
pre.word-break {
  white-space: pre-wrap;
}
pre > code {
  background: transparent;
  padding: 0;
}
code {
  color: #f1f3fe;
  background-color: #232c5b;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
code.terminal::before {
  content: "$ ";
}
textarea {
  font-size: 19px;
  line-height: 1.8;
  border: 1px solid #4a59a3;
  border-radius: 0.5em;
  margin-bottom: 1.62rem;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
textarea:focus {
  box-shadow: 0 0 2px #66adde;
}
.white,
body,
input,
textarea {
  background-color: #f1f3fe;
  border-color: #797c89;
}
.black {
  background-color: #020a26;
  border-color: #010513;
}
.ambient {
  color: #f1f3fe;
  background: #0e3eee;
  border-color: #082281;
}
.ambient.light {
  color: #f1f3fe;
  background: #325bf3;
  border-color: #1a3083;
}
.ambient.dark {
  color: #f1f3fe;
  background: #0c34c7;
  border-color: #071d6e;
}
.red,
.failure {
  background-color: #ba0124;
  border-color: #670114;
}
.light.red,
.light.failure {
  background-color: #e3012c;
  border-color: #7c0118;
}
.dark.red,
.dark.failure {
  background-color: #92011c;
  border-color: #530110;
}
.orange,
.warning {
  background-color: #d39224;
  border-color: #734f13;
}
.light.orange,
.light.warning {
  background-color: #dfa440;
  border-color: #795821;
}
.dark.orange,
.dark.warning {
  background-color: #b07a1e;
  border-color: #614310;
}
.yellow {
  background-color: #cad924;
  border-color: #6e7613;
}
.light.yellow {
  background-color: #d4e045;
  border-color: #737924;
}
.dark.yellow {
  background-color: #aab61e;
  border-color: #5e6410;
}
.olive {
  background-color: #6b7224;
  border-color: #3d4214;
}
.light.olive {
  background-color: #88912e;
  border-color: #4c5119;
}
.dark.olive {
  background-color: #4e531a;
  border-color: #2f320f;
}
.green,
.success {
  background-color: #017324;
  border-color: #004415;
}
.light.green,
.light.success {
  background-color: #019c31;
  border-color: #01581c;
}
.dark.green,
.dark.success {
  background-color: #004a17;
  border-color: #00300f;
}
.teal {
  background-color: #01728e;
  border-color: #014152;
}
.light.teal {
  background-color: #0193b7;
  border-color: #015266;
}
.dark.teal {
  background-color: #015266;
  border-color: #00313d;
}
.cyan {
  background-color: #00cef0;
  border-color: #007082;
}
.light.cyan {
  background-color: #1bdfff;
  border-color: #0d788a;
}
.dark.cyan {
  background-color: #00abc7;
  border-color: #005f6e;
}
.skyblue,
.info {
  background-color: #66adde;
  border-color: #355c78;
}
.light.skyblue,
.light.info {
  background-color: #88bfe5;
  border-color: #45657c;
}
.dark.skyblue,
.dark.info {
  background-color: #449bd7;
  border-color: #245375;
}
.blue {
  background-color: #0000ef;
  border-color: #000082;
}
.light.blue {
  background-color: #1919ff;
  border-color: #0d0d8a;
}
.dark.blue {
  background-color: #0000c6;
  border-color: #00006d;
}
.indigo {
  background-color: #3f0191;
  border-color: #240053;
}
.light.indigo {
  background-color: #5101b9;
  border-color: #2d0167;
}
.dark.indigo {
  background-color: #2d0068;
  border-color: #1b003e;
}
.purple {
  background-color: #69018d;
  border-color: #3c0151;
}
.light.purple {
  background-color: #8702b5;
  border-color: #4b0165;
}
.dark.purple {
  background-color: #4b0164;
  border-color: #2d013d;
}
.violet {
  background-color: #bd69e1;
  border-color: #653679;
}
.light.violet {
  background-color: #cc8be8;
  border-color: #6d477d;
}
.dark.violet {
  background-color: #ae47da;
  border-color: #5e2576;
}
.gray {
  background-color: #676c88;
  border-color: #373a4b;
}
.light.gray {
  background-color: #7c809c;
  border-color: #424455;
}
.dark.gray {
  background-color: #565971;
  border-color: #2e3140;
}
.brown {
  background-color: #8d4a38;
  border-color: #4f291e;
}
.light.brown {
  background-color: #aa5944;
  border-color: #5d3024;
}
.dark.brown {
  background-color: #703b2c;
  border-color: #402119;
}
.magenta {
  background-color: #9b01d2;
  border-color: #550173;
}
.light.magenta {
  background-color: #b901fb;
  border-color: #640188;
}
.dark.magenta {
  background-color: #7d01aa;
  border-color: #46015f;
}
.lavender {
  background-color: #b8b0dc;
  border-color: #605a76;
}
.light.lavender {
  background-color: #d1cce9;
  border-color: #6c697c;
}
.dark.lavender {
  background-color: #9f93d0;
  border-color: #534c70;
}
.cream {
  background-color: #d8dfcf;
  border-color: #72766b;
}
.light.cream {
  background-color: #ecefe7;
  border-color: #7b7f77;
}
.dark.cream {
  background-color: #c4ceb7;
  border-color: #686e5f;
}
.charcoal {
  background-color: #3f2e47;
  border-color: #261a2b;
}
.light.charcoal {
  background-color: #553e60;
  border-color: #302237;
}
.dark.charcoal {
  background-color: #291e2f;
  border-color: #1b121f;
}
.crimson {
  background-color: #9d092b;
  border-color: #580518;
}
.light.crimson {
  background-color: #c30c36;
  border-color: #6c061e;
}
.dark.crimson {
  background-color: #760721;
  border-color: #450413;
}
.clover {
  background-color: #329535;
  border-color: #1b531d;
}
.light.clover {
  background-color: #3db340;
  border-color: #206222;
}
.dark.clover {
  background-color: #28762a;
  border-color: #164417;
}
.cobalt {
  background-color: #226dcc;
  border-color: #123b6f;
}
.light.cobalt {
  background-color: #3881de;
  border-color: #1d4578;
}
.dark.cobalt {
  background-color: #1c5aa9;
  border-color: #0f325e;
}
.graphite {
  background-color: #232c5b;
  border-color: #141936;
}
.light.graphite {
  background-color: #2e3a78;
  border-color: #192044;
}
.dark.graphite {
  background-color: #171e3d;
  border-color: #0e1227;
}
.ruby {
  background-color: #880051;
  border-color: #4f002e;
}
.light.ruby {
  background-color: #b10169;
  border-color: #63003b;
}
.dark.ruby {
  background-color: #600039;
  border-color: #3a0022;
}
.onyx {
  background-color: #32313d;
  border-color: #1d1c25;
}
.light.onyx {
  background-color: #444354;
  border-color: #262531;
}
.dark.onyx {
  background-color: #1f1f27;
  border-color: #13131a;
}
.pewter {
  background-color: #8d9189;
  border-color: #4b4f49;
}
.light.pewter {
  background-color: #a1a59e;
  border-color: #565953;
}
.dark.pewter {
  background-color: #787d75;
  border-color: #41453e;
}
.gunmetal {
  background-color: #344a78;
  border-color: #1c2944;
}
.light.gunmetal {
  background-color: #405c94;
  border-color: #233252;
}
.dark.gunmetal {
  background-color: #27395b;
  border-color: #162136;
}
.hotpink {
  background-color: #d351a2;
  border-color: #722a57;
}
.light.hotpink {
  background-color: #db72b3;
  border-color: #773b60;
}
.dark.hotpink {
  background-color: #c93390;
  border-color: #6d1b4e;
}
.neongreen {
  background-color: #2eda20;
  border-color: #197611;
}
.light.neongreen {
  background-color: #4ce340;
  border-color: #287b21;
}
.dark.neongreen {
  background-color: #27b61b;
  border-color: #15640f;
}
.electricblue {
  background-color: #2da5d4;
  border-color: #185973;
}
.light.electricblue {
  background-color: #4fb3db;
  border-color: #296176;
}
.dark.electricblue {
  background-color: #258bb3;
  border-color: #144c63;
}
.royalpurple {
  background-color: #542a90;
  border-color: #2f1751;
}
.light.royalpurple {
  background-color: #6734b0;
  border-color: #381c61;
}
.dark.royalpurple {
  background-color: #422171;
  border-color: #261341;
}
.lemon {
  background-color: #e5ea97;
  border-color: #7b7e4d;
}
.light.lemon {
  background-color: #edf1b9;
  border-color: #7f825e;
}
.dark.lemon {
  background-color: #dce475;
  border-color: #777b3c;
}
.lime {
  background-color: #7ccf97;
  border-color: #407050;
}
.light.lime {
  background-color: #99daae;
  border-color: #4f755b;
}
.dark.lime {
  background-color: #5ec47f;
  border-color: #316a44;
}
.tangerine {
  background-color: #dc9b5b;
  border-color: #77532f;
}
.light.tangerine {
  background-color: #e3b07d;
  border-color: #7b5d40;
}
.dark.tangerine {
  background-color: #d58739;
  border-color: #73491e;
}
.grapefruit {
  background-color: #a9295e;
  border-color: #5d1634;
}
.light.grapefruit {
  background-color: #ca3170;
  border-color: #6e1a3d;
}
.dark.grapefruit {
  background-color: #88214c;
  border-color: #4d122b;
}
.action,
.base-color {
  color: #f1f3fe;
  background: #1736b5;
  border-color: #0d1e64;
}
.action.light,
.base-color.light {
  color: #f1f3fe;
  background: #1c41d9;
  border-color: #0f2376;
}
.action.dark,
.base-color.dark {
  color: #f1f3fe;
  background: #122b91;
  border-color: #0a1852;
}
.reaction {
  background-color: #5a4f2f;
  border-color: #342e1a;
}
.light.reaction {
  background-color: #74673d;
  border-color: #423a21;
}
.dark.reaction {
  background-color: #3f3821;
  border-color: #272213;
}
.default {
  background-color: #4a59a3;
  border-color: #273059;
}
.light.default {
  background-color: #5f6eb7;
  border-color: #323b63;
}
.dark.default {
  background-color: #3d4a87;
  border-color: #21294b;
}
.warm {
  background-color: #6935c5;
  border-color: #391c6b;
}
.light.warm {
  background-color: #8053d1;
  border-color: #442b71;
}
.dark.warm {
  background-color: #582ca5;
  border-color: #30185b;
}
.cool {
  background-color: #018dd2;
  border-color: #014d73;
}
.light.cool {
  background-color: #01a8fb;
  border-color: #015b88;
}
.dark.cool {
  background-color: #0172a9;
  border-color: #01405f;
}
.neutral {
  background-color: #016f61;
  border-color: #014239;
}
.light.neutral {
  background-color: #029784;
  border-color: #01564b;
}
.dark.neutral {
  background-color: #01463e;
  border-color: #012e28;
}
.complement,
.second.triad {
  background-color: #6d6131;
  border-color: #3f371b;
}
.light.complement,
.light.second.triad {
  background-color: #897a3e;
  border-color: #4d4422;
}
.dark.complement,
.dark.second.triad {
  background-color: #514825;
  border-color: #302b15;
}
.accent {
  background-color: #2c0e98;
  border-color: #190856;
}
.light.accent {
  background-color: #3711be;
  border-color: #1e0969;
}
.dark.accent {
  background-color: #210a73;
  border-color: #130643;
}
.second.accent {
  background-color: #0d5b98;
  border-color: #073356;
}
.light.second.accent {
  background-color: #1071be;
  border-color: #093f69;
}
.dark.second.accent {
  background-color: #0a4573;
  border-color: #062843;
}
.split {
  background-color: #7a117e;
  border-color: #460948;
}
.light.split {
  background-color: #9e15a2;
  border-color: #580c5a;
}
.dark.split {
  background-color: #570c5a;
  border-color: #350736;
}
.second.split {
  background-color: #108354;
  border-color: #094b30;
}
.light.second.split {
  background-color: #14a76b;
  border-color: #0b5d3b;
}
.dark.second.split {
  background-color: #0b5f3c;
  border-color: #073924;
}
.triad {
  background-color: #65119e;
  border-color: #390959;
}
.light.triad {
  background-color: #7d15c3;
  border-color: #450b6b;
}
.dark.triad {
  background-color: #4e0d79;
  border-color: #2d0746;
}
.third.triad {
  background-color: #108389;
  border-color: #094b4e;
}
.light.third.triad {
  background-color: #14a6ae;
  border-color: #0b5c61;
}
.dark.third.triad {
  background-color: #0b6065;
  border-color: #07393c;
}
.tetrad {
  background-color: #4b119e;
  border-color: #2a0959;
}
.light.tetrad {
  background-color: #5c15c3;
  border-color: #330b6b;
}
.dark.tetrad {
  background-color: #390d79;
  border-color: #210746;
}
.second.tetrad {
  background-color: #7a1733;
  border-color: #460d1d;
}
.light.second.tetrad {
  background-color: #9d1d41;
  border-color: #581024;
}
.dark.second.tetrad {
  background-color: #581025;
  border-color: #350a16;
}
.third.tetrad {
  background-color: #3f8333;
  border-color: #234a1c;
}
.light.third.tetrad {
  background-color: #4da03e;
  border-color: #2a5822;
}
.dark.third.tetrad {
  background-color: #316628;
  border-color: #1c3b16;
}
.fourth.tetrad {
  background-color: #107d9e;
  border-color: #094659;
}
.light.fourth.tetrad {
  background-color: #139ac3;
  border-color: #0a556b;
}
.dark.fourth.tetrad {
  background-color: #0c6079;
  border-color: #073746;
}
.highlight {
  background-color: #6f07d8;
  border-color: #3d0476;
}
.light.highlight {
  background-color: #8411f7;
  border-color: #470986;
}
.dark.highlight {
  background-color: #5b06b0;
  border-color: #330362;
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-margin-right {
  margin-right: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.no-margin-left {
  margin-left: 0 !important;
}
.no-padding {
  padding: 0;
}
.no-margin,
.no-gutter {
  margin: 0;
}
.no-side-margin,
.no-side-margins {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.no-margins {
  margin: 0 !important;
}
.no-margins * {
  margin: 0 !important;
}
.no-box-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  box-shadow: unset;
}
.no-text-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  text-shadow: unset;
}
.no-border,
.no-borders,
.no-borders * {
  border-width: 0 !important;
}
.no-background {
  background: transparent;
}
.no-text-indent {
  text-indent: 0;
}
.no-text-align {
  text-align: initial;
}
.no-user-select {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.no-pointer-events {
  pointer-events: none;
}
.no-list-style {
  list-style-type: none;
  margin-left: 0;
}
.no-grid-gap,
.no-column-gap {
  grid-gap: 0;
  column-gap: 0;
}
@media print {
  html {
    font-size: 62.5%;
  }
  * {
    box-shadow: unset !important;
    border: unset !important;
  }
  nav {
    display: none !important;
  }
  .page-width,
  .text-width,
  .container {
    all: unset;
  }
  .inner-page-width,
  .inner-text-width,
  .inner-aside-width {
    all: unset;
  }
}
