/* This project uses Cavepaint (MIT License) by Rex Riepe */
/* https://github.com/cavepaint/cavepaintCSS */
* {
  margin: 0 0 1.62rem 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  margin-bottom: 0;
}
.button,
button {
  border-style: solid;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(17, 20, 35, 0.16);
  display: inline;
  position: relative;
  font-family: inherit;
  font-size: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  color: inherit;
  background-color: inherit;
  border-color: #746b4b;
  border-width: 1px;
  line-height: 1.6;
  text-align: center;
  vertical-align: middle;
  outline: none;
  white-space: nowrap;
  text-decoration: none;
  touch-action: manipulation;
  cursor: pointer;
  transform: scale(1);
  transition: 0.08s linear;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.button:active,
button:active {
  transform: scale(0.99);
  box-shadow: unset;
}
.bar {
  position: relative;
  width: 100%;
  display: block;
  vertical-align: middle;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.bar > * {
  display: inline;
  margin-right: 0.3236em;
  margin-left: 0.3236em;
  margin-bottom: 0;
}
.card {
  position: relative;
  overflow: hidden;
  padding: 1.62rem;
  border: 1px solid #a1976f;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(17, 20, 35, 0.16);
}
.card > *:first-child {
  margin-top: 0;
}
.card > *:last-child {
  margin-bottom: 0;
}
.badge {
  border-radius: 0.5em;
  line-height: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  padding-right: 0.6472em;
  padding-left: 0.6472em;
  vertical-align: middle;
  border-radius: 99px;
  white-space: nowrap;
}
.modal {
  display: none;
  max-width: none;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  position: fixed;
  bottom: 0;
  justify-content: center;
  flex: 0 1 auto;
  flex-direction: column;
  height: 100vh;
}
.modal > * {
  flex-direction: column;
  color: #232011;
  position: relative;
  background: #fdfcf6;
  padding: 1.62rem;
  margin-bottom: 3.24rem;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(17, 20, 35, 0.16);
  margin: 1.62rem;
}
@media screen and (min-width: 50.24rem) {
  .modal > * {
    max-width: 76rem;
    margin: 0 auto;
  }
}
.overlay {
  margin: 0;
  padding: 0;
  position: relative;
}
.overlay .top,
.overlay .bottom,
.overlay .left,
.overlay .right {
  position: absolute;
}
.overlay .top {
  top: 0.3236em;
}
.overlay .bottom {
  bottom: 0.3236em;
}
.overlay .left {
  left: 0.3236em;
}
.overlay .right {
  right: 0.3236em;
}
.overlay.stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.overlay * {
  margin: 0;
  display: block;
}
.grid,
.two-column,
.three-column {
  display: grid;
  grid-gap: 1.62rem;
}
.grid.tablet,
.two-column.tablet,
.three-column.tablet,
.grid.mobile.tablet,
.two-column.mobile.tablet,
.three-column.mobile.tablet,
.grid.desktop,
.two-column.desktop,
.three-column.desktop {
  display: initial;
}
.grid {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.two-column {
  grid-template-columns: 1fr 1fr;
}
.two-column.golden {
  grid-template-columns: 1.618fr 1fr;
}
.two-column.golden.reverse {
  grid-template-columns: 1fr 1.618fr;
}
.three-column {
  grid-template-columns: 1fr 1fr 1fr;
}
.three-column.golden {
  grid-template-columns: 1fr 1.618fr 1fr;
}
.three-column.golden.leading {
  grid-template-columns: 1.618fr 1fr 1fr;
}
.three-column.golden.trailing {
  grid-template-columns: 1fr 1fr 1.618fr;
}
.grid-width-one {
  grid-column: auto / span 1;
}
.grid-width-two {
  grid-column: auto / span 2;
}
.grid-width-three {
  grid-column: auto / span 3;
}
.grid-width-four {
  grid-column: auto / span 4;
}
.grid-width-five {
  grid-column: auto / span 5;
}
.grid-width-six {
  grid-column: auto / span 6;
}
.grid-width-seven {
  grid-column: auto / span 7;
}
.grid-width-eight {
  grid-column: auto / span 8;
}
.grid-width-nine {
  grid-column: auto / span 9;
}
.grid-width-ten {
  grid-column: auto / span 10;
}
.grid-width-eleven {
  grid-column: auto / span 11;
}
.grid-width-twelve {
  grid-column: auto / span 12;
}
@media screen and (max-width: calc(50.24rem - 1px)) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: grid;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 50.24rem) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: initial;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: initial;
  }
  .grid.tablet,
  .two-column.tablet,
  .three-column.tablet {
    display: grid;
  }
  .grid.tablet > *,
  .two-column.tablet > *,
  .three-column.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (max-width: calc(76rem - 1px)) {
  .grid.mobile.tablet,
  .two-column.mobile.tablet,
  .three-column.mobile.tablet {
    display: grid;
  }
  .grid.mobile.tablet > *,
  .two-column.mobile.tablet > *,
  .three-column.mobile.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 76rem) {
  .grid.desktop,
  .two-column.desktop,
  .three-column.desktop {
    display: grid;
  }
  .grid.desktop > *,
  .two-column.desktop > *,
  .three-column.desktop > * {
    margin-bottom: 0;
  }
}
.responsive {
  column-gap: 0.619rem;
  grid-gap: 0.619rem;
}
.responsive.padding,
.modal,
.container {
  padding: 0.619rem;
}
.responsive.margin,
.container {
  margin: 0.619rem;
}
.responsive.gutter {
  margin: 1.238rem;
}
@media screen and (min-width: 50.24rem) {
  .responsive {
    column-gap: 1.001rem;
    grid-gap: 1.001rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.001rem;
  }
  .responsive.margin,
  .container {
    margin: 1.001rem;
  }
  .responsive.gutter {
    margin: 2.002rem;
  }
}
@media screen and (min-width: 76rem) {
  .responsive {
    column-gap: 1.62rem;
    grid-gap: 1.62rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.62rem;
  }
  .responsive.margin,
  .container {
    margin: 1.62rem;
  }
  .responsive.gutter {
    margin: 3.24rem;
  }
}
.background {
  background: #fdfcf6;
}
.background-color {
  background-color: #fdfcf6;
}
.border {
  border: 1px solid #a1976f;
}
.border-radius,
.rounded {
  border-radius: 0.5em;
}
.border-bottom {
  border-bottom: 1px solid #a1976f;
}
.border-left {
  border-left: 1px solid #a1976f;
}
.border-right {
  border-right: 1px solid #a1976f;
}
.border-style,
.button.border,
button.border {
  border-style: solid;
}
.border-top {
  border-top: 1px solid #a1976f;
}
.border-width,
.button.border,
button.border {
  border-width: 1px;
}
.max-width {
  max-width: 76rem;
}
.min-width {
  min-width: 29rem;
}
.align-content {
  align-content: stretch;
}
.align-items {
  align-items: stretch;
}
.align-self {
  align-self: auto;
}
.flex,
.vertical-center,
.center-vertical {
  flex: 0 1 auto;
}
.flex-basis {
  flex-basis: auto;
}
.flex-direction,
.vertical-center,
.center-vertical {
  flex-direction: column;
}
.flex-flow {
  flex-flow: column nowrap;
}
.flex-grow {
  flex-grow: 0;
}
.flex-shrink {
  flex-shrink: 1;
}
.flex-wrap {
  flex-wrap: nowrap;
}
.justify-content,
.vertical-center,
.center-vertical {
  justify-content: center;
}
.font-family,
body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
}
.font-size {
  font-size: 16px;
}
.font-weight {
  font-weight: normal;
}
.list-style {
  list-style: disc inside none;
}
.list-style-type {
  list-style-type: disc;
}
.margin {
  margin: 1.62rem;
}
.margin-bottom {
  margin-bottom: 1.62rem;
}
.margin-left {
  margin-left: 1.62rem;
}
.margin-right {
  margin-right: 1.62rem;
}
.margin-top {
  margin-top: 1.62rem;
}
.column-gap {
  column-gap: 1.94em;
}
.column-rule {
  column-rule: 1px solid #a1976f;
}
.padding {
  padding: 1.62rem;
}
.padding-bottom {
  padding-bottom: 1.62rem;
}
.padding-left {
  padding-left: 1.62rem;
}
.padding-right {
  padding-right: 1.62rem;
}
.padding-top {
  padding-top: 1.62rem;
}
.text-align {
  text-align: left;
}
.text-align-last {
  text-align-last: left;
}
.text-indent {
  text-indent: 2ch;
}
.text-justify {
  text-justify: justify;
}
.text-overflow {
  text-overflow: hidden;
}
.text-shadow {
  text-shadow: 1.41px 1.41px 1.41px rgba(17, 20, 35, 0.16);
}
.line-height {
  line-height: 1.8;
}
.vertical-align {
  vertical-align: middle;
}
.letter-spacing {
  letter-spacing: 0;
}
.word-spacing {
  word-spacing: normal;
}
.white-space {
  white-space: nowrap;
}
.word-break {
  word-break: break-all;
}
.word-wrap {
  word-wrap: break-word;
}
.transform {
  transform: none;
}
.transition {
  transition: all 0s ease 0s;
}
.display {
  display: block;
}
.position {
  position: absolute;
}
.top {
  top: 0;
}
.right {
  right: 0;
}
.bottom {
  bottom: 0;
}
.left {
  left: 0;
}
.float {
  float: left;
}
.clear {
  clear: both;
}
.z-index {
  z-index: 10;
}
.overflow {
  overflow: hidden;
}
.overflow-x {
  overflow-x: hidden;
}
.cursor {
  cursor: pointer;
}
.box-shadow {
  box-shadow: 1.41px 1.41px 1.41px rgba(17, 20, 35, 0.16);
}
.gutter {
  margin: 3.24rem;
}
.gutter-top {
  margin-top: 3.24rem;
}
.gutter-right {
  margin-right: 3.24rem;
}
.gutter-bottom {
  margin-bottom: 3.24rem;
}
.gutter-left {
  margin-left: 3.24rem;
}
.text-padding {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-padding-top {
  padding-top: 0.18em;
}
.text-padding-right {
  padding-right: 0.3236em;
}
.text-padding-bottom {
  padding-bottom: 0.22em;
}
.text-padding-left {
  padding-left: 0.3236em;
}
.text-margin {
  margin: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-margin-top {
  margin-top: 0.18em;
}
.text-margin-right {
  margin-right: 0.3236em;
}
.text-margin-bottom {
  margin-bottom: 0.22em;
}
.text-margin-left {
  margin-left: 0.3236em;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.initial {
  display: initial;
}
.table {
  display: table;
}
.flex,
.vertical-center,
.center-vertical {
  display: flex;
}
.inline-block {
  display: inline-block;
}
.static {
  position: static;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.margin-auto,
.container {
  margin-left: auto;
  margin-right: auto;
}
.width-auto {
  width: auto;
}
.inset {
  box-shadow: inset 1.41px 1.41px 1.41px rgba(17, 20, 35, 0.16);
}
.viewport-height {
  height: 100vh;
}
.min-viewport-height {
  min-height: 100vh;
}
.overflow-hidden {
  overflow: hidden;
}
.dashed {
  border-style: dashed;
}
.dotted {
  border-style: dotted;
}
.thick {
  border-width: 2px;
}
.thin {
  border-width: 0.5px;
}
.current-color {
  border-color: currentColor;
}
.fade {
  opacity: 0.65;
}
.serif,
.font-family-serif {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "Droid Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
.monospace,
.font-family-monospace,
pre,
code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
}
.sans-serif,
.font-family-sans-serif {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.text-transparent {
  color: transparent;
}
.reset {
  all: initial;
}
.big {
  font-size: 125%;
  line-height: 2.25;
}
.big.font-size {
  font-size: 20px;
}
.small,
.badge {
  font-size: 87.5%;
  line-height: 1.575;
}
.small.font-size {
  font-size: 14px;
}
.huge {
  font-size: 160%;
}
.huge.font-size {
  font-size: 25.6px;
}
.text-trim {
  line-height: 1;
}
.text-align-center,
.text-center {
  text-align: center;
}
.text-align-left,
.text-left {
  text-align: left;
}
.text-align-right,
.text-right {
  text-align: right;
}
.text-align-justify,
.text-justify {
  text-align: justify;
}
.grid-gap-margin {
  grid-gap: 1.62rem;
}
.grid-gap-border-width {
  grid-gap: 1px;
}
.grid-gap-text-padding,
.grid-gap-text-margin {
  grid-gap: 0.3236em;
}
.shade,
.white,
.orange,
.yellow,
.light.olive,
.light.green,
.light.teal,
.cyan,
.skyblue,
.violet,
.light.gray,
.lavender,
.cream,
.clover,
.pewter,
.light.hotpink,
.neongreen,
.electricblue,
.lemon,
.lime,
.tangerine,
.default,
.warm,
.neutral,
.accent,
.second.accent,
.light.highlight,
body,
input,
textarea,
.info,
.warning,
.light.success {
  color: #232011;
}
.tint,
.black,
.red,
.olive,
.green,
.teal,
.blue,
.indigo,
.purple,
.dark.violet,
.gray,
.brown,
.magenta,
.charcoal,
.crimson,
.dark.clover,
.cobalt,
.graphite,
.ruby,
.onyx,
.dark.pewter,
.gunmetal,
.hotpink,
.royalpurple,
.grapefruit,
.reaction,
.dark.default,
.cool,
.complement,
.split,
.second.split,
.triad,
.third.triad,
.tetrad,
.second.tetrad,
.third.tetrad,
.fourth.tetrad,
.highlight,
.success,
.failure,
.second.triad {
  color: #fdfcf6;
}
.transparent {
  background-color: transparent;
  color: inherit;
  border-color: inherit;
}
.transparent.light {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23FFF%22%20fill-opacity%3D%220.16%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.transparent.dark,
.modal {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23000%22%20fill-opacity%3D%220.25%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.trim,
.trim-inner *,
.trim-all,
.trim-all * {
  margin-bottom: 0;
}
.hidden {
  display: none !important;
}
.clearfix,
.clear {
  clear: both;
}
.clearfix::after,
.clear::after {
  display: block;
  clear: both;
  content: "";
}
.golden-width {
  max-width: calc(62% - 3.24rem);
}
.golden-width.reverse {
  max-width: 38%;
}
.aside-width {
  max-width: 29rem;
}
@media screen and (min-width: 50.24rem) {
  .text-width {
    max-width: 47rem;
  }
}
.page-width,
.container {
  max-width: 76rem;
}
.full-width,
.aside-width .aside-width,
.text-width .text-width,
.page-width .page-width {
  display: block;
  width: 100%;
}
.inner-aside-width {
  padding-left: calc(50% - 14.5rem);
  padding-right: calc(50% - 14.5rem);
}
.inner-aside-width.padding {
  padding-left: calc(50% - 12.88rem);
  padding-right: calc(50% - 12.88rem);
}
.inner-aside-width.responsive.padding {
  padding-left: calc(50% - 13.88rem);
  padding-right: calc(50% - 13.88rem);
}
@media screen and (max-width: calc(50.24rem - 1px)) {
  .inner-text-width {
    padding-left: initial;
    padding-right: initial;
  }
  .inner-text-width.padding {
    padding-left: 1.62rem;
    padding-right: 1.62rem;
  }
  .inner-text-width.responsive.padding {
    padding-left: 0.619rem;
    padding-right: 0.619rem;
  }
}
@media screen and (min-width: 50.24rem) {
  .inner-aside-width.tablet.padding {
    padding-left: calc(50% - 12.88rem);
    padding-right: calc(50% - 12.88rem);
  }
  .inner-aside-width.tablet.responsive.padding {
    padding-left: calc(50% - 13.5rem);
    padding-right: calc(50% - 13.5rem);
  }
  .inner-text-width {
    padding-left: calc(50% - 23.5rem);
    padding-right: calc(50% - 23.5rem);
  }
  .inner-text-width.padding {
    padding-left: calc(50% - 21.88rem);
    padding-right: calc(50% - 21.88rem);
  }
  .inner-text-width.responsive.padding {
    padding-left: calc(50% - 22.5rem);
    padding-right: calc(50% - 22.5rem);
  }
}
@media screen and (min-width: 76rem) {
  .inner-aside-width.desktop.padding {
    padding-left: calc(50% - 12.88rem);
    padding-right: calc(50% - 12.88rem);
  }
  .inner-aside-width.desktop.responsive.padding {
    padding-left: calc(50% - 12.88rem);
    padding-right: calc(50% - 12.88rem);
  }
  .inner-text-width.desktop.padding {
    padding-left: calc(50% - 21.88rem);
    padding-right: calc(50% - 21.88rem);
  }
  .inner-text-width.desktop.responsive.padding {
    padding-left: calc(50% - 21.88rem);
    padding-right: calc(50% - 21.88rem);
  }
  .inner-page-width {
    padding-left: calc(50% - 38rem);
    padding-right: calc(50% - 38rem);
  }
  .inner-page-width.padding {
    padding-left: calc(50% - 36.38rem);
    padding-right: calc(50% - 36.38rem);
  }
  .inner-page-width.responsive.padding {
    padding-left: calc(50% - 36.38rem);
    padding-right: calc(50% - 36.38rem);
  }
}
.texture,
.pattern {
  background-position: top center;
}
.texture {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20width%3D'32'%20height%3D'16'%20viewBox%3D'0%200%203.175%201.588'%3E%3Cg%20fill%3D'%23fdfcf6'%20fill-opacity%3D'0.05'%3E%3Ccircle%20cx%3D'.397'%20cy%3D'.397'%20r%3D'.397'/%3E%3Ccircle%20r%3D'.397'%20cy%3D'.397'%20cx%3D'1.191'/%3E%3Ccircle%20r%3D'.397'%20cy%3D'.397'%20cx%3D'1.984'/%3E%3Ccircle%20cx%3D'2.778'%20cy%3D'.397'%20r%3D'.397'/%3E%3Ccircle%20r%3D'.397'%20cy%3D'1.191'/%3E%3Ccircle%20cx%3D'.794'%20cy%3D'1.191'%20r%3D'.397'/%3E%3Ccircle%20cx%3D'1.587'%20cy%3D'1.191'%20r%3D'.397'/%3E%3Ccircle%20r%3D'.397'%20cy%3D'1.191'%20cx%3D'2.381'/%3E%3Ccircle%20cx%3D'3.175'%20cy%3D'1.191'%20r%3D'.397'/%3E%3C/g%3E%3C/svg%3E");
}
.pattern {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20viewBox%3D'0%200%2052.917%2042.333'%20height%3D'160'%20width%3D'200'%3E%3Cpath%20d%3D'M28.07%2015.841a4.194%204.194%200%2000-3.804%202.422%202.936%202.936%200%2000-.824-.12%202.936%202.936%200%2000-2.926%202.729%201.68%201.68%200%2000-1.674%201.68%201.68%201.68%200%20001.68%201.677h11.74a2.517%202.517%200%20002.516-2.517%202.517%202.517%200%2000-2.517-2.517%202.517%202.517%200%2000-.082%200%204.194%204.194%200%2000-4.109-3.354z'%20fill%3D'%23fdfcf6'%20fill-opacity%3D'0.05'/%3E%3C/svg%3E");
}
.placeholder::before {
  content: " ";
  white-space: pre;
}
.placeholder::after {
  content: "";
}
.placeholder.image,
.placeholder.video,
.placeholder.avatar {
  position: relative;
}
.placeholder.image::before,
.placeholder.video::before,
.placeholder.avatar::before {
  position: absolute;
  top: calc(50% - 4rem);
  right: 0;
  bottom: 0;
  left: 0;
  display: inline-block;
  text-align: center;
  font-size: 4rem;
  vertical-align: middle;
}
.placeholder.image.small::before,
.placeholder.video.small::before,
.placeholder.avatar.small::before {
  top: calc(50% - 2rem);
  font-size: 2rem;
}
.placeholder.image.big::before,
.placeholder.video.big::before,
.placeholder.avatar.big::before {
  top: calc(50% - 6rem);
  font-size: 6rem;
}
.placeholder.image.huge::before,
.placeholder.video.huge::before,
.placeholder.avatar.huge::before {
  top: calc(50% - 8rem);
  font-size: 8rem;
}
.placeholder.image::after,
.placeholder.video::after,
.placeholder.avatar::after {
  display: block;
}
.placeholder.image::before {
  content: "\1f5bc";
}
.placeholder.image::after {
  padding-top: 75%;
}
.placeholder.video::before {
  content: "\25B6";
}
.placeholder.video::after {
  padding-top: 56.25%;
}
.placeholder.avatar::before {
  content: "\263A";
}
.placeholder.avatar::after {
  padding-top: 100%;
}
.placeholder.no-icon::before {
  content: "";
}
.hide {
  display: none;
}
.hide.tablet {
  display: initial;
}
.hide.desktop {
  display: initial;
}
@media screen and (max-width: calc(50.24rem - 1px)) {
  .hide.mobile {
    display: none;
  }
}
@media screen and (min-width: 50.24rem) {
  .hide.mobile {
    display: initial;
  }
  .hide.tablet {
    display: none;
  }
}
@media screen and (min-width: 76rem) {
  .hide.desktop {
    display: none;
  }
  .hide.mobile.tablet {
    display: initial;
  }
}
@media screen and (max-width: calc(76rem - 1px)) {
  .hide.mobile.tablet {
    display: none;
  }
}
body {
  font-size: 16px;
  line-height: 1.8;
  margin: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
nav {
  z-index: 99;
}
nav a {
  text-decoration: none;
}
aside {
  margin: 0 auto;
  margin-bottom: 1.62rem;
  max-width: 29rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-top: 0.49443758em;
  margin-bottom: 0.74165637em;
  letter-spacing: -0.025em;
  color: inherit;
  line-height: 1.618;
}
h1 {
  font-size: 2.4em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1em;
}
p {
  margin-bottom: 1em;
}
p.gutter-bottom {
  margin-bottom: 1.618em;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: inherit;
  text-decoration: underline;
}
a.target-blank::after,
a.new-tab::after,
a.external-link::after {
  content: "\00A0\1F855";
}
form {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input {
  font-size: 16px;
  line-height: 1.8;
  border: 1px solid #a1976f;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input:focus {
  box-shadow: 0 0 2px #88c6d8;
}
fieldset {
  border: none;
  outline: none;
}
ol {
  padding-left: 4ch;
  margin-bottom: 1.62rem;
}
ol li {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
ul {
  margin-left: 1.62rem;
  margin-bottom: 1.62rem;
}
li {
  margin-bottom: 0.44em;
}
kbd {
  color: #fdfcf6;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  white-space: nowrap;
}
b {
  padding: 0.18em 0 0.22em 0;
}
pre {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  overflow: hidden;
  border-radius: 0.5em;
  background: #3e3c35;
  color: #fdfcf6;
}
pre.white-space,
pre.word-break {
  white-space: pre-wrap;
}
pre > code {
  background: transparent;
  padding: 0;
}
code {
  color: #fdfcf6;
  background-color: #343a52;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
code.terminal::before {
  content: "$ ";
}
textarea {
  font-size: 16px;
  line-height: 1.8;
  border: 1px solid #a1976f;
  border-radius: 0.5em;
  margin-bottom: 1.62rem;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
textarea:focus {
  box-shadow: 0 0 2px #88c6d8;
}
.white,
body,
input,
textarea {
  background-color: #fdfcf6;
  border-color: #8a887e;
}
.black {
  background-color: #232011;
  border-color: #111008;
}
.ambient {
  color: #232011;
  background: #d8c66a;
  border-color: #776d38;
}
.ambient.light {
  color: #232011;
  background: #e1d28a;
  border-color: #7c7348;
}
.ambient.dark {
  color: #232011;
  background: #d0b949;
  border-color: #736728;
}
.red,
.failure {
  background-color: #e81a04;
  border-color: #811003;
}
.light.red,
.light.failure {
  background-color: #fb2f19;
  border-color: #8b1a0e;
}
.dark.red,
.dark.failure {
  background-color: #bf1603;
  border-color: #6d0d03;
}
.orange,
.warning {
  background-color: #f9a901;
  border-color: #8a5e02;
}
.light.orange,
.light.warning {
  background-color: #feb825;
  border-color: #8c6614;
}
.dark.orange,
.dark.warning {
  background-color: #d08e01;
  border-color: #765002;
}
.yellow {
  background-color: #f3f302;
  border-color: #878702;
}
.light.yellow {
  background-color: #fdfd21;
  border-color: #8c8c12;
}
.dark.yellow {
  background-color: #cbcb02;
  border-color: #737302;
}
.olive {
  background-color: #969304;
  border-color: #585703;
}
.light.olive {
  background-color: #beba05;
  border-color: #6c6a04;
}
.dark.olive {
  background-color: #6e6c03;
  border-color: #444303;
}
.green,
.success {
  background-color: #1f9103;
  border-color: #135603;
}
.light.green,
.light.success {
  background-color: #28b904;
  border-color: #186a03;
}
.dark.green,
.dark.success {
  background-color: #176902;
  border-color: #0f4203;
}
.teal {
  background-color: #209385;
  border-color: #13554d;
}
.light.teal {
  background-color: #27b5a3;
  border-color: #17665c;
}
.dark.teal {
  background-color: #197267;
  border-color: #10443e;
}
.cyan {
  background-color: #2df4e8;
  border-color: #188780;
}
.light.cyan {
  background-color: #54f6ec;
  border-color: #2c8882;
}
.dark.cyan {
  background-color: #0debde;
  border-color: #08827b;
}
.skyblue,
.info {
  background-color: #88c6d8;
  border-color: #486c77;
}
.light.skyblue,
.light.info {
  background-color: #a7d5e2;
  border-color: #57747c;
}
.dark.skyblue,
.dark.info {
  background-color: #69b7ce;
  border-color: #386572;
}
.blue {
  background-color: #1e18eb;
  border-color: #110e82;
}
.light.blue {
  background-color: #433eee;
  border-color: #242184;
}
.dark.blue {
  background-color: #1611c9;
  border-color: #0e0b71;
}
.indigo {
  background-color: #631985;
  border-color: #3b104e;
}
.light.indigo {
  background-color: #7d20a7;
  border-color: #48135f;
}
.dark.indigo {
  background-color: #4a1362;
  border-color: #2e0c3d;
}
.purple {
  background-color: #9a1c8a;
  border-color: #59114f;
}
.light.purple {
  background-color: #bd22a8;
  border-color: #6a145f;
}
.dark.purple {
  background-color: #78166b;
  border-color: #480e40;
}
.violet {
  background-color: #e480db;
  border-color: #7e4378;
}
.light.violet {
  background-color: #eba2e4;
  border-color: #81547d;
}
.dark.violet {
  background-color: #dd5fd1;
  border-color: #7a3273;
}
.gray {
  background-color: #8a8576;
  border-color: #4d4a41;
}
.light.gray {
  background-color: #9d998c;
  border-color: #57544c;
}
.dark.gray {
  background-color: #747063;
  border-color: #424038;
}
.brown {
  background-color: #a1582c;
  border-color: #5c321a;
}
.light.brown {
  background-color: #c16935;
  border-color: #6c3b1e;
}
.dark.brown {
  background-color: #814623;
  border-color: #4c2a15;
}
.magenta {
  background-color: #de28ce;
  border-color: #7b1672;
}
.light.magenta {
  background-color: #e44bd6;
  border-color: #7e2876;
}
.dark.magenta {
  background-color: #c01db2;
  border-color: #6c1164;
}
.lavender {
  background-color: #cbbcdb;
  border-color: #6d6377;
}
.light.lavender {
  background-color: #e0d7e9;
  border-color: #77707e;
}
.dark.lavender {
  background-color: #b7a1cd;
  border-color: #635670;
}
.cream {
  background-color: #ededca;
  border-color: #818169;
}
.light.cream {
  background-color: #f8f8e9;
  border-color: #878678;
}
.dark.cream {
  background-color: #e3e3ac;
  border-color: #7c7c5a;
}
.charcoal {
  background-color: #62482c;
  border-color: #3b2c1b;
}
.light.charcoal {
  background-color: #7e5d39;
  border-color: #493621;
}
.dark.charcoal {
  background-color: #453320;
  border-color: #2d2114;
}
.crimson {
  background-color: #b3161f;
  border-color: #660d12;
}
.light.crimson {
  background-color: #d81b25;
  border-color: #781015;
}
.dark.crimson {
  background-color: #8f1219;
  border-color: #540b0f;
}
.clover {
  background-color: #55b217;
  border-color: #31650e;
}
.light.clover {
  background-color: #66d61c;
  border-color: #397711;
}
.dark.clover {
  background-color: #438e13;
  border-color: #28530c;
}
.cobalt {
  background-color: #327bcb;
  border-color: #1d4571;
}
.light.cobalt {
  background-color: #5290d4;
  border-color: #2d4f75;
}
.dark.cobalt {
  background-color: #2a67ab;
  border-color: #193b61;
}
.graphite {
  background-color: #343a52;
  border-color: #202332;
}
.light.graphite {
  background-color: #444b6b;
  border-color: #272c3f;
}
.dark.graphite {
  background-color: #242839;
  border-color: #181a26;
}
.ruby {
  background-color: #b50d3a;
  border-color: #670822;
}
.light.ruby {
  background-color: #db0f46;
  border-color: #7a0a28;
}
.dark.ruby {
  background-color: #8f0a2e;
  border-color: #54071c;
}
.onyx {
  background-color: #3e3c35;
  border-color: #282620;
}
.light.onyx {
  background-color: #545147;
  border-color: #33302a;
}
.dark.onyx {
  background-color: #282622;
  border-color: #1d1b17;
}
.pewter {
  background-color: #a3a187;
  border-color: #5a5949;
}
.light.pewter {
  background-color: #b4b39e;
  border-color: #636255;
}
.dark.pewter {
  background-color: #919070;
  border-color: #51503e;
}
.gunmetal {
  background-color: #576665;
  border-color: #323b3b;
}
.light.gunmetal {
  background-color: #6a7c7b;
  border-color: #3b4646;
}
.dark.gunmetal {
  background-color: #44504f;
  border-color: #283030;
}
.hotpink {
  background-color: #ec5d9f;
  border-color: #823156;
}
.light.hotpink {
  background-color: #f082b4;
  border-color: #854361;
}
.dark.hotpink {
  background-color: #e83989;
  border-color: #801f4b;
}
.neongreen {
  background-color: #40ec13;
  border-color: #24830b;
}
.light.neongreen {
  background-color: #5eef38;
  border-color: #33841e;
}
.dark.neongreen {
  background-color: #35c610;
  border-color: #1f700a;
}
.electricblue {
  background-color: #3eb8d9;
  border-color: #226678;
}
.light.electricblue {
  background-color: #60c4df;
  border-color: #336c7b;
}
.dark.electricblue {
  background-color: #28a5c7;
  border-color: #175c6f;
}
.royalpurple {
  background-color: #6a3b90;
  border-color: #3d2252;
}
.light.royalpurple {
  background-color: #8046ad;
  border-color: #482861;
}
.dark.royalpurple {
  background-color: #552f73;
  border-color: #321c44;
}
.lemon {
  background-color: #f9f78e;
  border-color: #898849;
}
.light.lemon {
  background-color: #fbfab4;
  border-color: #8a8a5c;
}
.dark.lemon {
  background-color: #f7f467;
  border-color: #888735;
}
.lime {
  background-color: #9ee984;
  border-color: #548045;
}
.light.lime {
  background-color: #b9efa6;
  border-color: #628356;
}
.dark.lime {
  background-color: #83e261;
  border-color: #477d34;
}
.tangerine {
  background-color: #f2a950;
  border-color: #865c2a;
}
.light.tangerine {
  background-color: #f5bc76;
  border-color: #87663d;
}
.dark.tangerine {
  background-color: #f0962a;
  border-color: #855317;
}
.grapefruit {
  background-color: #d24246;
  border-color: #742527;
}
.light.grapefruit {
  background-color: #da6366;
  border-color: #783537;
}
.dark.grapefruit {
  background-color: #be2d31;
  border-color: #6a1a1c;
}
.action,
.base-color {
  color: #fdfcf6;
  background: #97854d;
  border-color: #554b2b;
}
.action.light,
.base-color.light {
  color: #232011;
  background: #ae9b5f;
  border-color: #615635;
}
.action.dark,
.base-color.dark {
  color: #fdfcf6;
  background: #7c6d3f;
  border-color: #483f25;
}
.reaction {
  background-color: #515971;
  border-color: #2e3341;
}
.light.reaction {
  background-color: #626c88;
  border-color: #373c4d;
}
.dark.reaction {
  background-color: #404659;
  border-color: #262a35;
}
.default {
  background-color: #a1976f;
  border-color: #5a543d;
}
.light.default {
  background-color: #b1a988;
  border-color: #625d49;
}
.dark.default {
  background-color: #8c825b;
  border-color: #4f4a33;
}
.warm {
  background-color: #f6f51e;
  border-color: #888710;
}
.light.warm {
  background-color: #f7f745;
  border-color: #898824;
}
.dark.warm {
  background-color: #e1e009;
  border-color: #7e7d06;
}
.cool {
  background-color: #a358a6;
  border-color: #5b315d;
}
.light.cool {
  background-color: #b273b5;
  border-color: #623f64;
}
.dark.cool {
  background-color: #894a8c;
  border-color: #4e2a50;
}
.neutral {
  background-color: #d0cb20;
  border-color: #747113;
}
.light.neutral {
  background-color: #e1dc38;
  border-color: #7c7a1f;
}
.dark.neutral {
  background-color: #aca81a;
  border-color: #626010;
}
.complement,
.second.triad {
  background-color: #565f7b;
  border-color: #303646;
}
.light.complement,
.light.second.triad {
  background-color: #667193;
  border-color: #393f52;
}
.dark.complement,
.dark.second.triad {
  background-color: #454c63;
  border-color: #282d3a;
}
.accent {
  background-color: #b5c66c;
  border-color: #646d3b;
}
.light.accent {
  background-color: #c4d18a;
  border-color: #6b7349;
}
.dark.accent {
  background-color: #a6ba4f;
  border-color: #5c672c;
}
.second.accent {
  background-color: #c78f6c;
  border-color: #6e4e3a;
}
.light.second.accent {
  background-color: #d2a68a;
  border-color: #745949;
}
.dark.second.accent {
  background-color: #bc784f;
  border-color: #68432c;
}
.split {
  background-color: #599052;
  border-color: #32522e;
}
.light.split {
  background-color: #6ca765;
  border-color: #3b5d38;
}
.dark.split {
  background-color: #497644;
  border-color: #2a4527;
}
.second.split {
  background-color: #935571;
  border-color: #532f40;
}
.light.second.split {
  background-color: #a86886;
  border-color: #5e394a;
}
.dark.second.split {
  background-color: #79465d;
  border-color: #462836;
}
.triad {
  background-color: #679042;
  border-color: #3b5226;
}
.light.triad {
  background-color: #7bac4f;
  border-color: #45602c;
}
.dark.triad {
  background-color: #537435;
  border-color: #31441f;
}
.third.triad {
  background-color: #935552;
  border-color: #53302e;
}
.light.third.triad {
  background-color: #a96764;
  border-color: #5e3937;
}
.dark.third.triad {
  background-color: #794543;
  border-color: #462827;
}
.tetrad {
  background-color: #769042;
  border-color: #435226;
}
.light.tetrad {
  background-color: #8cac4f;
  border-color: #4e602c;
}
.dark.tetrad {
  background-color: #5f7435;
  border-color: #38441f;
}
.second.tetrad {
  background-color: #599082;
  border-color: #325149;
}
.light.second.tetrad {
  background-color: #6da596;
  border-color: #3c5c53;
}
.dark.second.tetrad {
  background-color: #49776b;
  border-color: #2a453e;
}
.third.tetrad {
  background-color: #765582;
  border-color: #43304a;
}
.light.third.tetrad {
  background-color: #8d659a;
  border-color: #4f3856;
}
.dark.third.tetrad {
  background-color: #604469;
  border-color: #38283e;
}
.fourth.tetrad {
  background-color: #935542;
  border-color: #543026;
}
.light.fourth.tetrad {
  background-color: #af654f;
  border-color: #62382c;
}
.dark.fourth.tetrad {
  background-color: #774535;
  border-color: #45281f;
}
.highlight {
  background-color: #e740c4;
  border-color: #80226c;
}
.light.highlight {
  background-color: #eb64cf;
  border-color: #823472;
}
.dark.highlight {
  background-color: #e11db8;
  border-color: #7d1166;
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-margin-right {
  margin-right: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.no-margin-left {
  margin-left: 0 !important;
}
.no-padding {
  padding: 0;
}
.no-margin,
.no-gutter {
  margin: 0;
}
.no-side-margin,
.no-side-margins {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.no-margins {
  margin: 0 !important;
}
.no-margins * {
  margin: 0 !important;
}
.no-box-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  box-shadow: unset;
}
.no-text-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  text-shadow: unset;
}
.no-border,
.no-borders,
.no-borders * {
  border-width: 0 !important;
}
.no-background {
  background: transparent;
}
.no-text-indent {
  text-indent: 0;
}
.no-text-align {
  text-align: initial;
}
.no-user-select {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.no-pointer-events {
  pointer-events: none;
}
.no-list-style {
  list-style-type: none;
  margin-left: 0;
}
.no-grid-gap,
.no-column-gap {
  grid-gap: 0;
  column-gap: 0;
}
@media print {
  html {
    font-size: 62.5%;
  }
  * {
    box-shadow: unset !important;
    border: unset !important;
  }
  nav {
    display: none !important;
  }
  .page-width,
  .text-width,
  .container {
    all: unset;
  }
  .inner-page-width,
  .inner-text-width,
  .inner-aside-width {
    all: unset;
  }
}
