/* This project uses Cavepaint (MIT License) by Rex Riepe */
/* https://github.com/cavepaint/cavepaintCSS */
.background {
  background: #f1f1f4;
}
.background-color {
  background-color: #f1f1f4;
}
.border {
  border: 1px solid #6a6b84;
}
.border-radius,
.rounded {
  border-radius: 0.5em;
}
.border-bottom {
  border-bottom: 1px solid #6a6b84;
}
.border-left {
  border-left: 1px solid #6a6b84;
}
.border-right {
  border-right: 1px solid #6a6b84;
}
.border-style,
.button.border,
button.border {
  border-style: solid;
}
.border-top {
  border-top: 1px solid #6a6b84;
}
.border-width,
.button.border,
button.border {
  border-width: 1px;
}
.max-width {
  max-width: 59rem;
}
.min-width {
  min-width: 22rem;
}
.align-content {
  align-content: stretch;
}
.align-items {
  align-items: stretch;
}
.align-self {
  align-self: auto;
}
.flex,
.vertical-center,
.center-vertical {
  flex: 0 1 auto;
}
.flex-direction,
.vertical-center,
.center-vertical {
  flex-direction: column;
}
.justify-content,
.vertical-center,
.center-vertical {
  justify-content: center;
}
.font-family,
body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.font-size {
  font-size: 18px;
}
.font-weight {
  font-weight: normal;
}
.list-style {
  list-style: disc inside none;
}
.list-style-type {
  list-style-type: disc;
}
.margin {
  margin: 2rem;
}
.margin-bottom,
pre,
.bar,
.card {
  margin-bottom: 2rem;
}
.margin-left {
  margin-left: 2rem;
}
.margin-right {
  margin-right: 2rem;
}
.margin-top {
  margin-top: 2rem;
}
.column-gap {
  column-gap: 1.94em;
}
.column-rule {
  column-rule: 1px solid #6a6b84;
}
.padding {
  padding: 1rem;
}
.padding-bottom {
  padding-bottom: 1rem;
}
.padding-left {
  padding-left: 1rem;
}
.padding-right {
  padding-right: 1rem;
}
.padding-top {
  padding-top: 1rem;
}
.text-align {
  text-align: left;
}
.text-align-last {
  text-align-last: left;
}
.text-indent {
  text-indent: 2ch;
}
.text-justify {
  text-justify: justify;
}
.text-overflow {
  text-overflow: hidden;
}
.text-shadow {
  text-shadow: 1px 1px 1px rgba(2, 3, 12, 0.2);
}
.line-height {
  line-height: 1.8;
}
.vertical-align {
  vertical-align: middle;
}
.letter-spacing {
  letter-spacing: 0;
}
.word-spacing {
  word-spacing: normal;
}
.white-space {
  white-space: nowrap;
}
.word-break {
  word-break: break-all;
}
.word-wrap {
  word-wrap: break-word;
}
.transform {
  transform: none;
}
.transition {
  transition: all 0s ease 0s;
}
.display {
  display: block;
}
.position {
  position: absolute;
}
.top {
  top: 0;
}
.right {
  right: 0;
}
.bottom {
  bottom: 0;
}
.left {
  left: 0;
}
.float {
  float: left;
}
.clear {
  clear: both;
}
.z-index {
  z-index: 10;
}
.overflow {
  overflow: hidden;
}
.cursor {
  cursor: pointer;
}
.box-shadow {
  box-shadow: 1px 1px 1px rgba(2, 3, 12, 0.2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-size: 18px;
  line-height: 1.8;
  margin: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
nav {
  z-index: 99;
}
nav a {
  text-decoration: none;
}
aside {
  margin: 0 auto;
  margin-bottom: 2rem;
  max-width: 22rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-top: 0.49443758em;
  margin-bottom: 0.74165637em;
  letter-spacing: -0.025em;
  color: inherit;
  line-height: 1.618;
}
h1 {
  font-size: 2.4em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1em;
}
p {
  margin-bottom: 1em;
}
p.gutter-bottom {
  margin-bottom: 1.618em;
}
p.gutter {
  margin-bottom: 4rem;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: inherit;
  text-decoration: underline;
}
form {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input {
  font-size: 18px;
  line-height: 1.8;
  border: 1px solid #6a6b84;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input:focus {
  box-shadow: 0 0 2px #00c8e5;
}
fieldset {
  border: none;
  outline: none;
}
ol {
  padding-left: 4ch;
  margin-bottom: 2rem;
}
ol li {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
ul {
  margin-left: 1rem;
  margin-bottom: 2rem;
}
li {
  margin-bottom: 0.44em;
}
kbd {
  color: #f1f1f4;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  white-space: nowrap;
}
b {
  padding: 0.18em 0 0.22em 0;
}
pre {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  overflow: hidden;
  border-radius: 0.5em;
  background: #02030c;
  color: #f1f1f4;
}
pre.white-space,
pre.word-break {
  white-space: pre-wrap;
}
pre > code {
  background: transparent;
  padding: 0;
}
code {
  color: #f1f1f4;
  background-color: #02030c;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
code.terminal::before {
  content: "$ ";
}
textarea {
  font-size: 18px;
  line-height: 1.8;
  border: 1px solid #6a6b84;
  border-radius: 0.5em;
  margin-bottom: 2rem;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
textarea:focus {
  box-shadow: 0 0 2px #00c8e5;
}
.button,
button {
  border-style: solid;
  border-radius: 0.5em;
  box-shadow: 1px 1px 1px rgba(2, 3, 12, 0.2);
  display: inline;
  position: relative;
  font-family: inherit;
  font-size: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  color: inherit;
  background-color: inherit;
  border-color: #464757;
  border-width: 1px;
  line-height: 1.6;
  text-align: center;
  vertical-align: middle;
  outline: none;
  white-space: nowrap;
  text-decoration: none;
  touch-action: manipulation;
  cursor: pointer;
  transform: scale(1);
  transition: 0.08s linear;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.button:active,
button:active {
  transform: scale(0.99);
  box-shadow: unset;
}
.bar {
  position: relative;
  width: 100%;
  display: block;
  vertical-align: middle;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.bar > * {
  display: inline;
  margin-right: 0.3236em;
  margin-left: 0.3236em;
}
.card {
  position: relative;
  overflow: hidden;
  padding: 1rem;
  border: 1px solid #6a6b84;
  border-radius: 0.5em;
  box-shadow: 1px 1px 1px rgba(2, 3, 12, 0.2);
}
.card > *:first-child {
  margin-top: 0;
}
.badge {
  border-radius: 0.5em;
  line-height: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  padding-right: 0.6472em;
  padding-left: 0.6472em;
  vertical-align: middle;
  border-radius: 99px;
  white-space: nowrap;
}
.modal {
  display: none;
  max-width: none;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  position: fixed;
  bottom: 0;
  justify-content: center;
  flex: 0 1 auto;
  flex-direction: column;
  height: 100vh;
}
.modal > * {
  flex-direction: column;
  color: #02030c;
  position: relative;
  background: #f1f1f4;
  padding: 1rem;
  margin-bottom: 4rem;
  border-radius: 0.5em;
  box-shadow: 1px 1px 1px rgba(2, 3, 12, 0.2);
  margin: 1rem;
}
@media screen and (min-width: 41rem) {
  .modal > * {
    max-width: 59rem;
    margin: 0 auto;
  }
}
.overlay {
  margin: 0;
  padding: 0;
  position: relative;
}
.overlay .top,
.overlay .bottom,
.overlay .left,
.overlay .right {
  position: absolute;
}
.overlay .top {
  top: 0.3236em;
}
.overlay .bottom {
  bottom: 0.3236em;
}
.overlay .left {
  left: 0.3236em;
}
.overlay .right {
  right: 0.3236em;
}
.overlay.stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.overlay * {
  margin: 0;
  display: block;
}
.white,
body,
input,
textarea {
  background-color: #f1f1f4;
  border-color: #7a7a7d;
}
.white.light,
body.light,
input.light,
textarea.light {
  color: #02030c;
  background-color: #f8f8fa;
  border-color: #7d7d7f;
}
.white.dark,
body.dark,
input.dark,
textarea.dark {
  color: #02030c;
  background-color: #e3e3eb;
  border-color: #737378;
}
.black {
  background-color: #02030c;
  border-color: #010106;
}
.black.light {
  color: #f1f1f4;
  background-color: #080928;
  border-color: #050517;
}
.black.dark {
  color: #f1f1f4;
  background-color: #000001;
  border-color: #000004;
}
.ambient {
  color: #f1f1f4;
  background-color: #0e104d;
  border-color: #08092a;
}
.ambient.light {
  color: #f1f1f4;
  background-color: #2c3287;
  border-color: #171a46;
}
.ambient.dark {
  color: #f1f1f4;
  background-color: #01011c;
  border-color: #010112;
}
.ambient.bright {
  color: #f1f1f4;
  background-color: #2d359f;
  border-color: #171b53;
}
.red,
.failure {
  background-color: #c70000;
  border-color: #670000;
}
.light.red,
.light.failure {
  background-color: #d54446;
  border-color: #6d2324;
}
.dark.red,
.dark.failure {
  background-color: #8d0000;
  border-color: #4a0000;
}
.bright.red,
.bright.failure {
  background-color: #ff0101;
  border-color: #830101;
}
.orange,
.warning {
  background-color: #db8e00;
  border-color: #714900;
}
.light.orange,
.light.warning {
  background-color: #e3ac46;
  border-color: #755824;
}
.dark.orange,
.dark.warning {
  background-color: #9b6400;
  border-color: #513500;
}
.bright.orange,
.bright.warning {
  background-color: #ffa70f;
  border-color: #835608;
}
.yellow {
  background-color: #dadb00;
  border-color: #717100;
}
.light.yellow {
  background-color: #e3e346;
  border-color: #757524;
}
.dark.yellow {
  background-color: #9b9c00;
  border-color: #515200;
}
.bright.yellow {
  background-color: #ffff0f;
  border-color: #838308;
}
.green,
.success {
  background-color: #006400;
  border-color: #003600;
}
.light.green,
.light.success {
  background-color: #448e46;
  border-color: #234a24;
}
.dark.green,
.dark.success {
  background-color: #004700;
  border-color: #002700;
}
.bright.green,
.bright.success {
  background-color: #006900;
  border-color: #003800;
}
.teal {
  background-color: #006e78;
  border-color: #003a3f;
}
.light.teal {
  background-color: #44959d;
  border-color: #234d51;
}
.dark.teal {
  background-color: #004e57;
  border-color: #002a2f;
}
.bright.teal {
  background-color: #00748a;
  border-color: #003d48;
}
.cyan,
.info {
  background-color: #00c8e5;
  border-color: #006776;
}
.light.cyan,
.light.info {
  background-color: #44d5eb;
  border-color: #226e79;
}
.dark.cyan,
.dark.info {
  background-color: #008eab;
  border-color: #004a59;
}
.bright.cyan,
.bright.info {
  background-color: #14eeff;
  border-color: #0a7a83;
}
.blue {
  background-color: #0000e5;
  border-color: #000076;
}
.light.blue {
  background-color: #4444eb;
  border-color: #222379;
}
.dark.blue {
  background-color: #0000ab;
  border-color: #000059;
}
.bright.blue {
  background-color: #1414ff;
  border-color: #0a0a83;
}
.purple {
  background-color: #6d0077;
  border-color: #3a003f;
}
.light.purple {
  background-color: #94449d;
  border-color: #4d2351;
}
.dark.purple {
  background-color: #4d0057;
  border-color: #2a002f;
}
.bright.purple {
  background-color: #730089;
  border-color: #3d0048;
}
.magenta {
  background-color: #c700e6;
  border-color: #670077;
}
.light.magenta {
  background-color: #d544eb;
  border-color: #6d2279;
}
.dark.magenta {
  background-color: #8d00ac;
  border-color: #4a005a;
}
.bright.magenta {
  background-color: #ed15ff;
  border-color: #7a0a83;
}
.gray {
  background-color: #6e6e78;
  border-color: #38393e;
}
.light.gray {
  background-color: #94959d;
  border-color: #4c4c51;
}
.dark.gray {
  background-color: #4d4e57;
  border-color: #28282e;
}
.bright.gray {
  background-color: #6a6b7e;
  border-color: #363741;
}
.action,
.base-color {
  color: #f1f1f4;
  background-color: #17193e;
  border-color: #0c0e22;
}
.action.light,
.base-color.light {
  color: #f1f1f4;
  background-color: #414578;
  border-color: #22243f;
}
.action.dark,
.base-color.dark {
  color: #f1f1f4;
  background-color: #020314;
  border-color: #02020d;
}
.action.bright,
.base-color.bright {
  color: #f1f1f4;
  background-color: #1f2373;
  border-color: #10123d;
}
.reaction {
  background-color: #1d1c0c;
  border-color: #111107;
}
.light.reaction {
  background-color: #59584f;
  border-color: #2f2e29;
}
.dark.reaction {
  background-color: #141409;
  border-color: #0d0c05;
}
.bright.reaction {
  background-color: #1c1b05;
  border-color: #111003;
}
.default {
  background-color: #6a6b84;
  border-color: #373745;
}
.light.default {
  background-color: #9293a6;
  border-color: #4a4b55;
}
.dark.default {
  background-color: #4b4c61;
  border-color: #272733;
}
.bright.default {
  background-color: #636599;
  border-color: #33344f;
}
.complement,
.second.triad {
  background-color: #2d2c12;
  border-color: #19190a;
}
.light.complement,
.light.second.triad {
  color: #f1f1f4;
  background-color: #656453;
  border-color: #35342b;
}
.dark.complement,
.dark.second.triad {
  color: #f1f1f4;
  background-color: #201f0d;
  border-color: #131208;
}
.bright.complement,
.bright.second.triad {
  color: #f1f1f4;
  background-color: #262406;
  border-color: #161504;
}
.accent {
  background-color: #140a22;
  border-color: #0b0614;
}
.light.accent {
  color: #f1f1f4;
  background-color: #524b5f;
  border-color: #2b2732;
}
.dark.accent {
  color: #f1f1f4;
  background-color: #0e0719;
  border-color: #080410;
}
.bright.accent {
  color: #f1f1f4;
  background-color: #0b0321;
  border-color: #070214;
}
.second.accent {
  background-color: #0a1622;
  border-color: #060d14;
}
.light.second.accent {
  color: #f1f1f4;
  background-color: #4b545f;
  border-color: #272c32;
}
.dark.second.accent {
  color: #f1f1f4;
  background-color: #070f19;
  border-color: #040a10;
}
.bright.second.accent {
  color: #f1f1f4;
  background-color: #030d21;
  border-color: #020814;
}
.split {
  background-color: #2d1123;
  border-color: #190914;
}
.light.split {
  color: #f1f1f4;
  background-color: #655060;
  border-color: #352a32;
}
.dark.split {
  color: #f1f1f4;
  background-color: #200c1a;
  border-color: #13070f;
}
.bright.split {
  color: #f1f1f4;
  background-color: #260518;
  border-color: #16030e;
}
.second.split {
  background-color: #112d20;
  border-color: #091912;
}
.light.second.split {
  color: #f1f1f4;
  background-color: #50655d;
  border-color: #2a3531;
}
.dark.second.split {
  color: #f1f1f4;
  background-color: #0c2018;
  border-color: #07130e;
}
.bright.second.split {
  color: #f1f1f4;
  background-color: #052613;
  border-color: #03170b;
}
.triad {
  background-color: #2c1131;
  border-color: #18091b;
}
.light.triad {
  color: #f1f1f4;
  background-color: #64506a;
  border-color: #342a37;
}
.dark.triad {
  color: #f1f1f4;
  background-color: #1f0c24;
  border-color: #120715;
}
.bright.triad {
  color: #f1f1f4;
  background-color: #21052a;
  border-color: #130318;
}
.third.triad {
  background-color: #112d30;
  border-color: #09191b;
}
.light.third.triad {
  color: #f1f1f4;
  background-color: #506569;
  border-color: #2a3537;
}
.dark.third.triad {
  color: #f1f1f4;
  background-color: #0c2023;
  border-color: #071314;
}
.bright.third.triad {
  color: #f1f1f4;
  background-color: #052428;
  border-color: #031518;
}
.tetrad {
  background-color: #251131;
  border-color: #14091b;
}
.light.tetrad {
  color: #f1f1f4;
  background-color: #5f506a;
  border-color: #312a37;
}
.dark.tetrad {
  color: #f1f1f4;
  background-color: #1a0c24;
  border-color: #0f0715;
}
.bright.tetrad {
  color: #f1f1f4;
  background-color: #17052a;
  border-color: #0d0318;
}
.second.tetrad {
  background-color: #2d1612;
  border-color: #190c0a;
}
.light.second.tetrad {
  color: #f1f1f4;
  background-color: #655553;
  border-color: #352c2b;
}
.dark.second.tetrad {
  color: #f1f1f4;
  background-color: #20100d;
  border-color: #130908;
}
.bright.second.tetrad {
  color: #f1f1f4;
  background-color: #260906;
  border-color: #160504;
}
.third.tetrad {
  background-color: #192d12;
  border-color: #0e190a;
}
.light.third.tetrad {
  color: #f1f1f4;
  background-color: #576553;
  border-color: #2d352b;
}
.dark.third.tetrad {
  color: #f1f1f4;
  background-color: #12200d;
  border-color: #0a1308;
}
.bright.third.tetrad {
  color: #f1f1f4;
  background-color: #0c2606;
  border-color: #071604;
}
.fourth.tetrad {
  background-color: #112831;
  border-color: #09161b;
}
.light.fourth.tetrad {
  color: #f1f1f4;
  background-color: #50616a;
  border-color: #2a3337;
}
.dark.fourth.tetrad {
  color: #f1f1f4;
  background-color: #0c1c24;
  border-color: #071015;
}
.bright.fourth.tetrad {
  color: #f1f1f4;
  background-color: #051b2a;
  border-color: #031018;
}
.warm {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201%201%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23ad0f10%22%20opacity%3D%220.2%22%20d%3D%22M0%200h1v1H0z%22%2F%3E%3C%2Fsvg%3E");
}
.cool {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201%201%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23010182%22%20opacity%3D%220.2%22%20d%3D%22M0%200h1v1H0z%22%2F%3E%3C%2Fsvg%3E");
}
.neutral {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201%201%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23015701%22%20opacity%3D%220.16%22%20d%3D%22M0%200h1v1H0z%22%2F%3E%3C%2Fsvg%3E");
}
.dull {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201%201%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%2343434d%22%20opacity%3D%220.38%22%20d%3D%22M0%200h1v1H0z%22%2F%3E%3C%2Fsvg%3E");
}
.responsive {
  column-gap: 0.382rem;
  grid-gap: 0.382rem;
}
.responsive.padding,
.modal,
.container {
  padding: 0.382rem;
}
.responsive.margin,
.container {
  margin: 0.764rem;
}
.responsive.gutter {
  margin: 1.528rem;
}
@media screen and (min-width: 41rem) {
  .responsive {
    column-gap: 0.618rem;
    grid-gap: 0.618rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 0.618rem;
  }
  .responsive.margin,
  .container {
    margin: 1.236rem;
  }
  .responsive.gutter {
    margin: 2.472rem;
  }
}
@media screen and (min-width: 59rem) {
  .responsive {
    column-gap: 1rem;
    grid-gap: 1rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1rem;
  }
  .responsive.margin,
  .container {
    margin: 2rem;
  }
  .responsive.gutter {
    margin: 4rem;
  }
}
.grid,
.two-column,
.three-column {
  display: grid;
  grid-gap: 2rem;
  margin-bottom: 2rem;
}
.grid.tablet,
.two-column.tablet,
.three-column.tablet,
.grid.mobile.tablet,
.two-column.mobile.tablet,
.three-column.mobile.tablet,
.grid.desktop,
.two-column.desktop,
.three-column.desktop {
  display: unset;
}
.grid {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.two-column {
  grid-template-columns: 1fr 1fr;
}
.two-column.golden {
  grid-template-columns: 1.618fr 1fr;
}
.two-column.golden.reverse {
  grid-template-columns: 1fr 1.618fr;
}
.three-column {
  grid-template-columns: 1fr 1fr 1fr;
}
.three-column.golden {
  grid-template-columns: 1fr 1.618fr 1fr;
}
.three-column.golden.leading {
  grid-template-columns: 1.618fr 1fr 1fr;
}
.three-column.golden.trailing {
  grid-template-columns: 1fr 1fr 1.618fr;
}
.grid-width-one {
  grid-column: auto / span 1;
}
.grid-width-two {
  grid-column: auto / span 2;
}
.grid-width-three {
  grid-column: auto / span 3;
}
.grid-width-four {
  grid-column: auto / span 4;
}
.grid-width-five {
  grid-column: auto / span 5;
}
.grid-width-six {
  grid-column: auto / span 6;
}
.grid-width-seven {
  grid-column: auto / span 7;
}
.grid-width-eight {
  grid-column: auto / span 8;
}
.grid-width-nine {
  grid-column: auto / span 9;
}
.grid-width-ten {
  grid-column: auto / span 10;
}
.grid-width-eleven {
  grid-column: auto / span 11;
}
.grid-width-twelve {
  grid-column: auto / span 12;
}
@media screen and (max-width: calc(41rem - 1px)) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: grid;
  }
}
@media screen and (min-width: 41rem) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: initial;
  }
  .grid.tablet,
  .two-column.tablet,
  .three-column.tablet {
    display: grid;
  }
}
@media screen and (max-width: calc(59rem - 1px)) {
  .grid.mobile.tablet,
  .two-column.mobile.tablet,
  .three-column.mobile.tablet {
    display: grid;
  }
}
@media screen and (min-width: 59rem) {
  .grid.desktop,
  .two-column.desktop,
  .three-column.desktop {
    display: grid;
  }
}
.gutter {
  margin: 4rem;
}
.gutter-top {
  margin-top: 4rem;
}
.gutter-right {
  margin-right: 4rem;
}
.gutter-bottom {
  margin-bottom: 4rem;
}
.gutter-left {
  margin-left: 4rem;
}
.text-padding {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-padding-top {
  padding-top: 0.18em;
}
.text-padding-right {
  padding-right: 0.3236em;
}
.text-padding-bottom {
  padding-bottom: 0.22em;
}
.text-padding-left {
  padding-left: 0.3236em;
}
.text-margin {
  margin: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-margin-top {
  margin-top: 0.18em;
}
.text-margin-right {
  margin-right: 0.3236em;
}
.text-margin-bottom {
  margin-bottom: 0.22em;
}
.text-margin-left {
  margin-left: 0.3236em;
}
.bottom-margins * {
  margin-bottom: 2rem;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.initial {
  display: initial;
}
.table {
  display: table;
}
.flex,
.vertical-center,
.center-vertical {
  display: flex;
}
.inline-block {
  display: inline-block;
}
.static {
  position: static;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.margin-auto,
.container {
  margin-left: auto;
  margin-right: auto;
}
.width-auto {
  width: auto;
}
.inset {
  box-shadow: inset 1px 1px 1px rgba(2, 3, 12, 0.2);
}
.viewport-height {
  height: 100vh;
}
.min-viewport-height {
  min-height: 100vh;
}
.overflow-hidden {
  overflow: hidden;
}
.dashed {
  border-style: dashed;
}
.dotted {
  border-style: dotted;
}
.thick {
  border-width: 2px;
}
.thin {
  border-width: 0.5px;
}
.current-color {
  border-color: currentColor;
}
.fade {
  opacity: 0.65;
}
.monospace,
pre,
code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
}
.sans-serif {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.serif {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "Droid Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.text-transparent {
  color: transparent;
}
.big {
  font-size: 125%;
  line-height: 2.25;
}
.big.font-size {
  font-size: 22.5px;
}
.small,
.badge {
  font-size: 87.5%;
  line-height: 1.575;
}
.small.font-size {
  font-size: 15.75px;
}
.huge {
  font-size: 160%;
}
.huge.font-size {
  font-size: 28.8px;
}
.text-trim {
  line-height: 1;
}
.text-align-center,
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.grid-gap-margin {
  grid-gap: 2rem;
}
.grid-gap-border-width {
  grid-gap: 1px;
}
.grid-gap-text-padding,
.grid-gap-text-margin {
  grid-gap: 0.3236em;
}
.shade,
.white,
.orange,
.bright.orange,
.yellow,
.bright.yellow,
.cyan,
.bright.cyan,
.light.gray,
.light.default,
body,
input,
textarea,
.info,
.bright.info,
.warning,
.bright.warning {
  color: #02030c;
}
.tint,
.black,
.red,
.bright.red,
.dark.orange,
.green,
.bright.green,
.teal,
.bright.teal,
.dark.cyan,
.blue,
.bright.blue,
.purple,
.bright.purple,
.magenta,
.bright.magenta,
.gray,
.bright.gray,
.reaction,
.bright.reaction,
.default,
.bright.default,
.complement,
.accent,
.second.accent,
.split,
.second.split,
.triad,
.third.triad,
.tetrad,
.second.tetrad,
.third.tetrad,
.fourth.tetrad,
.dark.info,
.dark.warning,
.success,
.bright.success,
.failure,
.bright.failure,
.second.triad {
  color: #f1f1f4;
}
.transparent {
  background-color: transparent;
  color: inherit;
  border-color: inherit;
}
.transparent.light {
  background-color: rgba(241, 241, 244, 0.16);
}
.transparent.dark,
.modal {
  background-color: rgba(2, 3, 12, 0.25);
}
.trim,
.trim-inner *,
.trim-all,
.trim-all * {
  margin-bottom: 0;
}
.bump {
  position: relative;
}
.bump.up {
  top: -2px;
}
.bump.down {
  top: 2px;
}
.bump.left {
  left: -2px;
}
.bump.right {
  right: initial;
  left: 2px;
}
.hidden {
  display: none !important;
}
.clearfix,
.clear {
  clear: both;
}
.clearfix::after,
.clear::after {
  display: block;
  clear: both;
  content: "";
}
.character-width {
  max-width: 1ch;
}
.golden-width {
  max-width: calc(62% - 4rem);
}
.golden-width.reverse {
  max-width: 38%;
}
.aside-width {
  max-width: 22rem;
}
@media screen and (min-width: 41rem) {
  .text-width {
    max-width: 37rem;
  }
}
.page-width,
.container {
  max-width: 59rem;
}
.full-width,
.page-width .page-width {
  display: block;
  width: 100%;
}
.inner-aside-width {
  padding-left: calc(50% - 11rem);
  padding-right: calc(50% - 11rem);
}
.inner-aside-width.padding {
  padding-left: calc(50% - 10rem);
  padding-right: calc(50% - 10rem);
}
.inner-aside-width.responsive.padding {
  padding-left: calc(50% - 10.62rem);
  padding-right: calc(50% - 10.62rem);
}
@media screen and (max-width: calc(41rem - 1px)) {
  .inner-text-width {
    padding-left: initial;
    padding-right: initial;
  }
  .inner-text-width.padding {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .inner-text-width.responsive.padding {
    padding-left: 0.382rem;
    padding-right: 0.382rem;
  }
}
@media screen and (min-width: 41rem) {
  .inner-aside-width.tablet.padding {
    padding-left: calc(50% - 10rem);
    padding-right: calc(50% - 10rem);
  }
  .inner-aside-width.tablet.responsive.padding {
    padding-left: calc(50% - 10.38rem);
    padding-right: calc(50% - 10.38rem);
  }
  .inner-text-width {
    padding-left: calc(50% - 18.5rem);
    padding-right: calc(50% - 18.5rem);
  }
  .inner-text-width.padding {
    padding-left: calc(50% - 17.5rem);
    padding-right: calc(50% - 17.5rem);
  }
  .inner-text-width.responsive.padding {
    padding-left: calc(50% - 17.88rem);
    padding-right: calc(50% - 17.88rem);
  }
}
@media screen and (min-width: 59rem) {
  .inner-aside-width.desktop.padding {
    padding-left: calc(50% - 10rem);
    padding-right: calc(50% - 10rem);
  }
  .inner-aside-width.desktop.responsive.padding {
    padding-left: calc(50% - 10rem);
    padding-right: calc(50% - 10rem);
  }
  .inner-text-width.desktop.padding {
    padding-left: calc(50% - 17.5rem);
    padding-right: calc(50% - 17.5rem);
  }
  .inner-text-width.desktop.responsive.padding {
    padding-left: calc(50% - 17.5rem);
    padding-right: calc(50% - 17.5rem);
  }
  .inner-page-width {
    padding-left: calc(50% - 29.5rem);
    padding-right: calc(50% - 29.5rem);
  }
  .inner-page-width.padding {
    padding-left: calc(50% - 28.5rem);
    padding-right: calc(50% - 28.5rem);
  }
  .inner-page-width.responsive.padding {
    padding-left: calc(50% - 28.5rem);
    padding-right: calc(50% - 28.5rem);
  }
}
.placeholder {
  min-height: 10px;
}
.placeholder::before {
  content: " ";
  white-space: pre;
}
.placeholder::after {
  content: "";
  display: block;
}
.placeholder.square::after,
.placeholder.one-to-one::after {
  padding-top: 100%;
}
.placeholder.four-to-three::after {
  padding-top: 75%;
}
.placeholder.sixteen-to-nine::after {
  padding-top: 56.25%;
}
.hide {
  display: none;
}
.hide.tablet {
  display: initial;
}
.hide.desktop {
  display: initial;
}
@media screen and (max-width: calc(41rem - 1px)) {
  .hide.mobile {
    display: none;
  }
}
@media screen and (min-width: 41rem) {
  .hide.mobile {
    display: initial;
  }
  .hide.tablet {
    display: none;
  }
}
@media screen and (min-width: 59rem) {
  .hide.desktop {
    display: none;
  }
  .hide.mobile.tablet {
    display: initial;
  }
}
@media screen and (max-width: calc(59rem - 1px)) {
  .hide.mobile.tablet {
    display: none;
  }
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-margin-right {
  margin-right: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.no-margin-left {
  margin-left: 0 !important;
}
.no-padding {
  padding: 0;
}
.no-margin,
.no-gutter {
  margin: 0;
}
.no-side-margin,
.no-side-margins {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.no-margins {
  margin: 0 !important;
}
.no-margins * {
  margin: 0 !important;
}
.no-box-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  box-shadow: unset;
}
.no-text-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  text-shadow: unset;
}
.no-border,
.no-borders,
.no-borders * {
  border-width: 0 !important;
}
.no-background {
  background: transparent;
}
.no-text-indent {
  text-indent: 0;
}
.no-text,
.no-text * {
  text-indent: -9999px;
}
.no-text-align {
  text-align: initial;
}
.no-user-select {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.no-pointer-events {
  pointer-events: none;
}
.no-list-style {
  list-style-type: none;
  margin-left: 0;
}
.no-grid-gap,
.no-column-gap {
  grid-gap: 0;
  column-gap: 0;
}
