/* This project uses Cavepaint (MIT License) by Rex Riepe */
/* https://github.com/cavepaint/cavepaintCSS */
* {
  margin: 0 0 1.62rem 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  margin-bottom: 0;
}
.button,
button {
  border-style: solid;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(30, 39, 0, 0.16);
  display: inline;
  position: relative;
  font-family: inherit;
  font-size: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  color: inherit;
  background-color: inherit;
  border-color: #392a6c;
  border-width: 1px;
  line-height: 1.6;
  text-align: center;
  vertical-align: middle;
  outline: none;
  white-space: nowrap;
  text-decoration: none;
  touch-action: manipulation;
  cursor: pointer;
  transform: scale(1);
  transition: 0.08s linear;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.button:active,
button:active {
  transform: scale(0.99);
  box-shadow: unset;
}
.bar {
  position: relative;
  width: 100%;
  display: block;
  vertical-align: middle;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.bar > * {
  display: inline;
  margin-right: 0.3236em;
  margin-left: 0.3236em;
  margin-bottom: 0;
}
.card {
  position: relative;
  overflow: hidden;
  padding: 1.62rem;
  border: 1px solid #5941a7;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(30, 39, 0, 0.16);
}
.card > *:first-child {
  margin-top: 0;
}
.card > *:last-child {
  margin-bottom: 0;
}
.badge {
  border-radius: 0.5em;
  line-height: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  padding-right: 0.6472em;
  padding-left: 0.6472em;
  vertical-align: middle;
  border-radius: 99px;
  white-space: nowrap;
}
.modal {
  display: none;
  max-width: none;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  position: fixed;
  bottom: 0;
  justify-content: center;
  flex: 0 1 auto;
  flex-direction: column;
  height: 100vh;
}
.modal > * {
  flex-direction: column;
  color: #090027;
  position: relative;
  background: #f3f0fe;
  padding: 1.62rem;
  margin-bottom: 3.24rem;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(30, 39, 0, 0.16);
  margin: 1.62rem;
}
@media screen and (min-width: 46.24rem) {
  .modal > * {
    max-width: 69rem;
    margin: 0 auto;
  }
}
.overlay {
  margin: 0;
  padding: 0;
  position: relative;
}
.overlay .top,
.overlay .bottom,
.overlay .left,
.overlay .right {
  position: absolute;
}
.overlay .top {
  top: 0.3236em;
}
.overlay .bottom {
  bottom: 0.3236em;
}
.overlay .left {
  left: 0.3236em;
}
.overlay .right {
  right: 0.3236em;
}
.overlay.stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.overlay * {
  margin: 0;
  display: block;
}
.grid,
.two-column,
.three-column {
  display: grid;
  grid-gap: 1.62rem;
}
.grid.tablet,
.two-column.tablet,
.three-column.tablet,
.grid.mobile.tablet,
.two-column.mobile.tablet,
.three-column.mobile.tablet,
.grid.desktop,
.two-column.desktop,
.three-column.desktop {
  display: initial;
}
.grid {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.two-column {
  grid-template-columns: 1fr 1fr;
}
.two-column.golden {
  grid-template-columns: 1.618fr 1fr;
}
.two-column.golden.reverse {
  grid-template-columns: 1fr 1.618fr;
}
.three-column {
  grid-template-columns: 1fr 1fr 1fr;
}
.three-column.golden {
  grid-template-columns: 1fr 1.618fr 1fr;
}
.three-column.golden.leading {
  grid-template-columns: 1.618fr 1fr 1fr;
}
.three-column.golden.trailing {
  grid-template-columns: 1fr 1fr 1.618fr;
}
.grid-width-one {
  grid-column: auto / span 1;
}
.grid-width-two {
  grid-column: auto / span 2;
}
.grid-width-three {
  grid-column: auto / span 3;
}
.grid-width-four {
  grid-column: auto / span 4;
}
.grid-width-five {
  grid-column: auto / span 5;
}
.grid-width-six {
  grid-column: auto / span 6;
}
.grid-width-seven {
  grid-column: auto / span 7;
}
.grid-width-eight {
  grid-column: auto / span 8;
}
.grid-width-nine {
  grid-column: auto / span 9;
}
.grid-width-ten {
  grid-column: auto / span 10;
}
.grid-width-eleven {
  grid-column: auto / span 11;
}
.grid-width-twelve {
  grid-column: auto / span 12;
}
@media screen and (max-width: calc(46.24rem - 1px)) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: grid;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 46.24rem) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: initial;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: initial;
  }
  .grid.tablet,
  .two-column.tablet,
  .three-column.tablet {
    display: grid;
  }
  .grid.tablet > *,
  .two-column.tablet > *,
  .three-column.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (max-width: calc(69rem - 1px)) {
  .grid.mobile.tablet,
  .two-column.mobile.tablet,
  .three-column.mobile.tablet {
    display: grid;
  }
  .grid.mobile.tablet > *,
  .two-column.mobile.tablet > *,
  .three-column.mobile.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 69rem) {
  .grid.desktop,
  .two-column.desktop,
  .three-column.desktop {
    display: grid;
  }
  .grid.desktop > *,
  .two-column.desktop > *,
  .three-column.desktop > * {
    margin-bottom: 0;
  }
}
.responsive {
  column-gap: 0.619rem;
  grid-gap: 0.619rem;
}
.responsive.padding,
.modal,
.container {
  padding: 0.619rem;
}
.responsive.margin,
.container {
  margin: 0.619rem;
}
.responsive.gutter {
  margin: 1.238rem;
}
@media screen and (min-width: 46.24rem) {
  .responsive {
    column-gap: 1.001rem;
    grid-gap: 1.001rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.001rem;
  }
  .responsive.margin,
  .container {
    margin: 1.001rem;
  }
  .responsive.gutter {
    margin: 2.002rem;
  }
}
@media screen and (min-width: 69rem) {
  .responsive {
    column-gap: 1.62rem;
    grid-gap: 1.62rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.62rem;
  }
  .responsive.margin,
  .container {
    margin: 1.62rem;
  }
  .responsive.gutter {
    margin: 3.24rem;
  }
}
.background {
  background: #f3f0fe;
}
.background-color {
  background-color: #f3f0fe;
}
.border {
  border: 1px solid #5941a7;
}
.border-radius,
.rounded {
  border-radius: 0.5em;
}
.border-bottom {
  border-bottom: 1px solid #5941a7;
}
.border-left {
  border-left: 1px solid #5941a7;
}
.border-right {
  border-right: 1px solid #5941a7;
}
.border-style,
.button.border,
button.border {
  border-style: solid;
}
.border-top {
  border-top: 1px solid #5941a7;
}
.border-width,
.button.border,
button.border {
  border-width: 1px;
}
.max-width {
  max-width: 69rem;
}
.min-width {
  min-width: 26rem;
}
.align-content {
  align-content: stretch;
}
.align-items {
  align-items: stretch;
}
.align-self {
  align-self: auto;
}
.flex,
.vertical-center,
.center-vertical {
  flex: 0 1 auto;
}
.flex-basis {
  flex-basis: auto;
}
.flex-direction,
.vertical-center,
.center-vertical {
  flex-direction: column;
}
.flex-flow {
  flex-flow: column nowrap;
}
.flex-grow {
  flex-grow: 0;
}
.flex-shrink {
  flex-shrink: 1;
}
.flex-wrap {
  flex-wrap: nowrap;
}
.justify-content,
.vertical-center,
.center-vertical {
  justify-content: center;
}
.font-family,
body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "Droid Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
.font-size {
  font-size: 17px;
}
.font-weight {
  font-weight: normal;
}
.list-style {
  list-style: disc inside none;
}
.list-style-type {
  list-style-type: disc;
}
.margin {
  margin: 1.62rem;
}
.margin-bottom {
  margin-bottom: 1.62rem;
}
.margin-left {
  margin-left: 1.62rem;
}
.margin-right {
  margin-right: 1.62rem;
}
.margin-top {
  margin-top: 1.62rem;
}
.column-gap {
  column-gap: 1.94em;
}
.column-rule {
  column-rule: 1px solid #5941a7;
}
.padding {
  padding: 1.62rem;
}
.padding-bottom {
  padding-bottom: 1.62rem;
}
.padding-left {
  padding-left: 1.62rem;
}
.padding-right {
  padding-right: 1.62rem;
}
.padding-top {
  padding-top: 1.62rem;
}
.text-align {
  text-align: left;
}
.text-align-last {
  text-align-last: left;
}
.text-indent {
  text-indent: 2ch;
}
.text-justify {
  text-justify: justify;
}
.text-overflow {
  text-overflow: hidden;
}
.text-shadow {
  text-shadow: 1.41px 1.41px 1.41px rgba(30, 39, 0, 0.16);
}
.line-height {
  line-height: 1.8;
}
.vertical-align {
  vertical-align: middle;
}
.letter-spacing {
  letter-spacing: 0;
}
.word-spacing {
  word-spacing: normal;
}
.white-space {
  white-space: nowrap;
}
.word-break {
  word-break: break-all;
}
.word-wrap {
  word-wrap: break-word;
}
.transform {
  transform: none;
}
.transition {
  transition: all 0s ease 0s;
}
.display {
  display: block;
}
.position {
  position: absolute;
}
.top {
  top: 0;
}
.right {
  right: 0;
}
.bottom {
  bottom: 0;
}
.left {
  left: 0;
}
.float {
  float: left;
}
.clear {
  clear: both;
}
.z-index {
  z-index: 10;
}
.overflow {
  overflow: hidden;
}
.overflow-x {
  overflow-x: hidden;
}
.cursor {
  cursor: pointer;
}
.box-shadow {
  box-shadow: 1.41px 1.41px 1.41px rgba(30, 39, 0, 0.16);
}
.gutter {
  margin: 3.24rem;
}
.gutter-top {
  margin-top: 3.24rem;
}
.gutter-right {
  margin-right: 3.24rem;
}
.gutter-bottom {
  margin-bottom: 3.24rem;
}
.gutter-left {
  margin-left: 3.24rem;
}
.text-padding {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-padding-top {
  padding-top: 0.18em;
}
.text-padding-right {
  padding-right: 0.3236em;
}
.text-padding-bottom {
  padding-bottom: 0.22em;
}
.text-padding-left {
  padding-left: 0.3236em;
}
.text-margin {
  margin: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-margin-top {
  margin-top: 0.18em;
}
.text-margin-right {
  margin-right: 0.3236em;
}
.text-margin-bottom {
  margin-bottom: 0.22em;
}
.text-margin-left {
  margin-left: 0.3236em;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.initial {
  display: initial;
}
.table {
  display: table;
}
.flex,
.vertical-center,
.center-vertical {
  display: flex;
}
.inline-block {
  display: inline-block;
}
.static {
  position: static;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.margin-auto,
.container {
  margin-left: auto;
  margin-right: auto;
}
.width-auto {
  width: auto;
}
.inset {
  box-shadow: inset 1.41px 1.41px 1.41px rgba(30, 39, 0, 0.16);
}
.viewport-height {
  height: 100vh;
}
.min-viewport-height {
  min-height: 100vh;
}
.overflow-hidden {
  overflow: hidden;
}
.dashed {
  border-style: dashed;
}
.dotted {
  border-style: dotted;
}
.thick {
  border-width: 2px;
}
.thin {
  border-width: 0.5px;
}
.current-color {
  border-color: currentColor;
}
.fade {
  opacity: 0.65;
}
.serif,
.font-family-serif {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "Droid Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
.monospace,
.font-family-monospace,
pre,
code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
}
.sans-serif,
.font-family-sans-serif {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.text-transparent {
  color: transparent;
}
.reset {
  all: initial;
}
.big {
  font-size: 125%;
  line-height: 2.25;
}
.big.font-size {
  font-size: 21.25px;
}
.small,
.badge {
  font-size: 87.5%;
  line-height: 1.575;
}
.small.font-size {
  font-size: 14.875px;
}
.huge {
  font-size: 160%;
}
.huge.font-size {
  font-size: 27.2px;
}
.text-trim {
  line-height: 1;
}
.text-align-center,
.text-center {
  text-align: center;
}
.text-align-left,
.text-left {
  text-align: left;
}
.text-align-right,
.text-right {
  text-align: right;
}
.text-align-justify,
.text-justify {
  text-align: justify;
}
.grid-gap-margin {
  grid-gap: 1.62rem;
}
.grid-gap-border-width {
  grid-gap: 1px;
}
.grid-gap-text-padding,
.grid-gap-text-margin {
  grid-gap: 0.3236em;
}
.shade,
.white,
.orange,
.yellow,
.cyan,
.skyblue,
.light.violet,
.lavender,
.cream,
.light.clover,
.pewter,
.light.hotpink,
.neongreen,
.electricblue,
.lemon,
.lime,
.tangerine,
body,
input,
textarea,
.info,
.warning {
  color: #090027;
}
.tint,
.black,
.red,
.dark.orange,
.olive,
.green,
.teal,
.dark.cyan,
.dark.skyblue,
.blue,
.indigo,
.purple,
.violet,
.gray,
.brown,
.magenta,
.charcoal,
.crimson,
.clover,
.cobalt,
.graphite,
.ruby,
.onyx,
.dark.pewter,
.gunmetal,
.hotpink,
.dark.electricblue,
.royalpurple,
.grapefruit,
.reaction,
.default,
.warm,
.cool,
.neutral,
.complement,
.accent,
.second.accent,
.split,
.second.split,
.triad,
.third.triad,
.tetrad,
.second.tetrad,
.third.tetrad,
.fourth.tetrad,
.highlight,
.dark.info,
.dark.warning,
.success,
.failure,
.second.triad {
  color: #f3f0fe;
}
.transparent {
  background-color: transparent;
  color: inherit;
  border-color: inherit;
}
.transparent.light {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23FFF%22%20fill-opacity%3D%220.16%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.transparent.dark,
.modal {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23000%22%20fill-opacity%3D%220.25%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.trim,
.trim-inner *,
.trim-all,
.trim-all * {
  margin-bottom: 0;
}
.hidden {
  display: none !important;
}
.clearfix,
.clear {
  clear: both;
}
.clearfix::after,
.clear::after {
  display: block;
  clear: both;
  content: "";
}
.golden-width {
  max-width: calc(62% - 3.24rem);
}
.golden-width.reverse {
  max-width: 38%;
}
.aside-width {
  max-width: 26rem;
}
@media screen and (min-width: 46.24rem) {
  .text-width {
    max-width: 43rem;
  }
}
.page-width,
.container {
  max-width: 69rem;
}
.full-width,
.aside-width .aside-width,
.text-width .text-width,
.page-width .page-width {
  display: block;
  width: 100%;
}
.inner-aside-width {
  padding-left: calc(50% - 13rem);
  padding-right: calc(50% - 13rem);
}
.inner-aside-width.padding {
  padding-left: calc(50% - 11.38rem);
  padding-right: calc(50% - 11.38rem);
}
.inner-aside-width.responsive.padding {
  padding-left: calc(50% - 12.38rem);
  padding-right: calc(50% - 12.38rem);
}
@media screen and (max-width: calc(46.24rem - 1px)) {
  .inner-text-width {
    padding-left: initial;
    padding-right: initial;
  }
  .inner-text-width.padding {
    padding-left: 1.62rem;
    padding-right: 1.62rem;
  }
  .inner-text-width.responsive.padding {
    padding-left: 0.619rem;
    padding-right: 0.619rem;
  }
}
@media screen and (min-width: 46.24rem) {
  .inner-aside-width.tablet.padding {
    padding-left: calc(50% - 11.38rem);
    padding-right: calc(50% - 11.38rem);
  }
  .inner-aside-width.tablet.responsive.padding {
    padding-left: calc(50% - 12rem);
    padding-right: calc(50% - 12rem);
  }
  .inner-text-width {
    padding-left: calc(50% - 21.5rem);
    padding-right: calc(50% - 21.5rem);
  }
  .inner-text-width.padding {
    padding-left: calc(50% - 19.88rem);
    padding-right: calc(50% - 19.88rem);
  }
  .inner-text-width.responsive.padding {
    padding-left: calc(50% - 20.5rem);
    padding-right: calc(50% - 20.5rem);
  }
}
@media screen and (min-width: 69rem) {
  .inner-aside-width.desktop.padding {
    padding-left: calc(50% - 11.38rem);
    padding-right: calc(50% - 11.38rem);
  }
  .inner-aside-width.desktop.responsive.padding {
    padding-left: calc(50% - 11.38rem);
    padding-right: calc(50% - 11.38rem);
  }
  .inner-text-width.desktop.padding {
    padding-left: calc(50% - 19.88rem);
    padding-right: calc(50% - 19.88rem);
  }
  .inner-text-width.desktop.responsive.padding {
    padding-left: calc(50% - 19.88rem);
    padding-right: calc(50% - 19.88rem);
  }
  .inner-page-width {
    padding-left: calc(50% - 34.5rem);
    padding-right: calc(50% - 34.5rem);
  }
  .inner-page-width.padding {
    padding-left: calc(50% - 32.88rem);
    padding-right: calc(50% - 32.88rem);
  }
  .inner-page-width.responsive.padding {
    padding-left: calc(50% - 32.88rem);
    padding-right: calc(50% - 32.88rem);
  }
}
.texture,
.pattern {
  background-position: top center;
}
.texture {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20viewBox%3D'0%200%203.175%201.588'%20height%3D'17'%20width%3D'34'%3E%3Cg%20fill%3D'%23f3f0fe'%20fill-opacity%3D'0.05'%3E%3Cpath%20d%3D'M1.317%201.194h-.92l.23-.399.23-.398.23.398zM2.312%201.194l-.23-.399-.23-.398h.92l-.23.398z'/%3E%3C/g%3E%3C/svg%3E");
}
.pattern {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20viewBox%3D'0%200%2052.917%2042.333'%20height%3D'160'%20width%3D'200'%3E%3Cpath%20d%3D'M28.07%2015.841a4.194%204.194%200%2000-3.804%202.422%202.936%202.936%200%2000-.824-.12%202.936%202.936%200%2000-2.926%202.729%201.68%201.68%200%2000-1.674%201.68%201.68%201.68%200%20001.68%201.677h11.74a2.517%202.517%200%20002.516-2.517%202.517%202.517%200%2000-2.517-2.517%202.517%202.517%200%2000-.082%200%204.194%204.194%200%2000-4.109-3.354z'%20fill%3D'%23f3f0fe'%20fill-opacity%3D'0.05'/%3E%3C/svg%3E");
}
.placeholder::before {
  content: " ";
  white-space: pre;
}
.placeholder::after {
  content: "";
}
.placeholder.image,
.placeholder.video,
.placeholder.avatar {
  position: relative;
}
.placeholder.image::before,
.placeholder.video::before,
.placeholder.avatar::before {
  position: absolute;
  top: calc(50% - 4rem);
  right: 0;
  bottom: 0;
  left: 0;
  display: inline-block;
  text-align: center;
  font-size: 4rem;
  vertical-align: middle;
}
.placeholder.image.small::before,
.placeholder.video.small::before,
.placeholder.avatar.small::before {
  top: calc(50% - 2rem);
  font-size: 2rem;
}
.placeholder.image.big::before,
.placeholder.video.big::before,
.placeholder.avatar.big::before {
  top: calc(50% - 6rem);
  font-size: 6rem;
}
.placeholder.image.huge::before,
.placeholder.video.huge::before,
.placeholder.avatar.huge::before {
  top: calc(50% - 8rem);
  font-size: 8rem;
}
.placeholder.image::after,
.placeholder.video::after,
.placeholder.avatar::after {
  display: block;
}
.placeholder.image::before {
  content: "\1f5bc";
}
.placeholder.image::after {
  padding-top: 75%;
}
.placeholder.video::before {
  content: "\25B6";
}
.placeholder.video::after {
  padding-top: 56.25%;
}
.placeholder.avatar::before {
  content: "\263A";
}
.placeholder.avatar::after {
  padding-top: 100%;
}
.placeholder.no-icon::before {
  content: "";
}
.hide {
  display: none;
}
.hide.tablet {
  display: initial;
}
.hide.desktop {
  display: initial;
}
@media screen and (max-width: calc(46.24rem - 1px)) {
  .hide.mobile {
    display: none;
  }
}
@media screen and (min-width: 46.24rem) {
  .hide.mobile {
    display: initial;
  }
  .hide.tablet {
    display: none;
  }
}
@media screen and (min-width: 69rem) {
  .hide.desktop {
    display: none;
  }
  .hide.mobile.tablet {
    display: initial;
  }
}
@media screen and (max-width: calc(69rem - 1px)) {
  .hide.mobile.tablet {
    display: none;
  }
}
body {
  font-size: 17px;
  line-height: 1.8;
  margin: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
nav {
  z-index: 99;
}
nav a {
  text-decoration: none;
}
aside {
  margin: 0 auto;
  margin-bottom: 1.62rem;
  max-width: 26rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-top: 0.49443758em;
  margin-bottom: 0.74165637em;
  letter-spacing: -0.025em;
  color: inherit;
  line-height: 1.618;
}
h1 {
  font-size: 2.4em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1em;
}
p {
  margin-bottom: 1em;
}
p.gutter-bottom {
  margin-bottom: 1.618em;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: inherit;
  text-decoration: underline;
}
a.target-blank::after,
a.new-tab::after,
a.external-link::after {
  content: "\00A0\1F855";
}
form {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input {
  font-size: 17px;
  line-height: 1.8;
  border: 1px solid #5941a7;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input:focus {
  box-shadow: 0 0 2px #6c9ede;
}
fieldset {
  border: none;
  outline: none;
}
ol {
  padding-left: 4ch;
  margin-bottom: 1.62rem;
}
ol li {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
ul {
  margin-left: 1.62rem;
  margin-bottom: 1.62rem;
}
li {
  margin-bottom: 0.44em;
}
kbd {
  color: #f3f0fe;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  white-space: nowrap;
}
b {
  padding: 0.18em 0 0.22em 0;
}
pre {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  overflow: hidden;
  border-radius: 0.5em;
  background: #332f3e;
  color: #f3f0fe;
}
pre.white-space,
pre.word-break {
  white-space: pre-wrap;
}
pre > code {
  background: transparent;
  padding: 0;
}
code {
  color: #f3f0fe;
  background-color: #232a5b;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
code.terminal::before {
  content: "$ ";
}
textarea {
  font-size: 17px;
  line-height: 1.8;
  border: 1px solid #5941a7;
  border-radius: 0.5em;
  margin-bottom: 1.62rem;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
textarea:focus {
  box-shadow: 0 0 2px #6c9ede;
}
.white,
body,
input,
textarea {
  background-color: #f3f0fe;
  border-color: #7c7889;
}
.black {
  background-color: #090027;
  border-color: #050014;
}
.ambient {
  color: #f3f0fe;
  background: #3a00f5;
  border-color: #200085;
}
.ambient.light {
  color: #f3f0fe;
  background: #541fff;
  border-color: #2c0f8a;
}
.ambient.dark {
  color: #f3f0fe;
  background: #3100cc;
  border-color: #1b0070;
}
.red,
.failure {
  background-color: #c50026;
  border-color: #6d0015;
}
.light.red,
.light.failure {
  background-color: #ee002d;
  border-color: #810019;
}
.dark.red,
.dark.failure {
  background-color: #9c001e;
  border-color: #580011;
}
.orange,
.warning {
  background-color: #e08526;
  border-color: #794814;
}
.light.orange,
.light.warning {
  background-color: #e59949;
  border-color: #7c5226;
}
.dark.orange,
.dark.warning {
  background-color: #c1711c;
  border-color: #6a3d0f;
}
.yellow {
  background-color: #d7c626;
  border-color: #746b14;
}
.light.yellow {
  background-color: #dfd047;
  border-color: #787024;
}
.dark.yellow {
  background-color: #b4a620;
  border-color: #635b11;
}
.olive {
  background-color: #706726;
  border-color: #403b15;
}
.light.olive {
  background-color: #8f8430;
  border-color: #50491a;
}
.dark.olive {
  background-color: #524b1b;
  border-color: #312d10;
}
.green,
.success {
  background-color: #006826;
  border-color: #003e16;
}
.light.green,
.light.success {
  background-color: #009134;
  border-color: #00531e;
}
.dark.green,
.dark.success {
  background-color: #004017;
  border-color: #002a0f;
}
.teal {
  background-color: #00678f;
  border-color: #003b51;
}
.light.teal {
  background-color: #0085b7;
  border-color: #004a66;
}
.dark.teal {
  background-color: #004a66;
  border-color: #002c3d;
}
.cyan {
  background-color: #00b2f0;
  border-color: #006082;
}
.light.cyan {
  background-color: #1ac4ff;
  border-color: #0d698a;
}
.dark.cyan {
  background-color: #0094c7;
  border-color: #00516e;
}
.skyblue,
.info {
  background-color: #6c9ede;
  border-color: #375478;
}
.light.skyblue,
.light.info {
  background-color: #8eb4e6;
  border-color: #485f7c;
}
.dark.skyblue,
.dark.info {
  background-color: #4b88d7;
  border-color: #274974;
}
.blue {
  background-color: #0000ee;
  border-color: #000081;
}
.light.blue {
  background-color: #1818ff;
  border-color: #0c0c8a;
}
.dark.blue {
  background-color: #0000c6;
  border-color: #00006d;
}
.indigo {
  background-color: #420091;
  border-color: #260053;
}
.light.indigo {
  background-color: #5500ba;
  border-color: #2f0067;
}
.dark.indigo {
  background-color: #300068;
  border-color: #1c003e;
}
.purple {
  background-color: #6e008d;
  border-color: #3f0050;
}
.light.purple {
  background-color: #8e00b5;
  border-color: #4f0065;
}
.dark.purple {
  background-color: #4e0064;
  border-color: #2f003c;
}
.violet {
  background-color: #c860e1;
  border-color: #6c3179;
}
.light.violet {
  background-color: #d482e7;
  border-color: #71427c;
}
.dark.violet {
  background-color: #bd3dda;
  border-color: #662076;
}
.gray {
  background-color: #6e6289;
  border-color: #3b344b;
}
.light.gray {
  background-color: #82769d;
  border-color: #453e56;
}
.dark.gray {
  background-color: #5b5171;
  border-color: #322c3f;
}
.brown {
  background-color: #914738;
  border-color: #50261e;
}
.light.brown {
  background-color: #ae5544;
  border-color: #5f2e24;
}
.dark.brown {
  background-color: #73382d;
  border-color: #421f19;
}
.magenta {
  background-color: #aa00d2;
  border-color: #5d0073;
}
.light.magenta {
  background-color: #cc00fa;
  border-color: #6e0087;
}
.dark.magenta {
  background-color: #8900a9;
  border-color: #4d005e;
}
.lavender {
  background-color: #bda8dc;
  border-color: #635676;
}
.light.lavender {
  background-color: #d3c5e8;
  border-color: #6e657c;
}
.dark.lavender {
  background-color: #a78bd1;
  border-color: #584870;
}
.cream {
  background-color: #ded6cf;
  border-color: #76706a;
}
.light.cream {
  background-color: #eeeae7;
  border-color: #7e7a77;
}
.dark.cream {
  background-color: #cdc1b7;
  border-color: #6d655e;
}
.charcoal {
  background-color: #432a49;
  border-color: #28182c;
}
.light.charcoal {
  background-color: #5b3962;
  border-color: #341f39;
}
.dark.charcoal {
  background-color: #2b1b2f;
  border-color: #1c101f;
}
.crimson {
  background-color: #a1082c;
  border-color: #5a0518;
}
.light.crimson {
  background-color: #c70a36;
  border-color: #6d061e;
}
.dark.crimson {
  background-color: #7a0621;
  border-color: #470413;
}
.clover {
  background-color: #358837;
  border-color: #1d4c1e;
}
.light.clover {
  background-color: #40a542;
  border-color: #225a23;
}
.dark.clover {
  background-color: #296a2b;
  border-color: #173d18;
}
.cobalt {
  background-color: #2268cb;
  border-color: #12386f;
}
.light.cobalt {
  background-color: #387dde;
  border-color: #1d4378;
}
.dark.cobalt {
  background-color: #1c56a8;
  border-color: #0f2f5d;
}
.graphite {
  background-color: #232a5b;
  border-color: #141835;
}
.light.graphite {
  background-color: #2e3778;
  border-color: #191e44;
}
.dark.graphite {
  background-color: #181c3e;
  border-color: #0e1127;
}
.ruby {
  background-color: #910051;
  border-color: #52002e;
}
.light.ruby {
  background-color: #ba0068;
  border-color: #67003a;
}
.dark.ruby {
  background-color: #68003a;
  border-color: #3e0023;
}
.onyx {
  background-color: #332f3e;
  border-color: #1d1b26;
}
.light.onyx {
  background-color: #454155;
  border-color: #272431;
}
.dark.onyx {
  background-color: #201e26;
  border-color: #14121a;
}
.pewter {
  background-color: #908b89;
  border-color: #4f4a48;
}
.light.pewter {
  background-color: #a4a09e;
  border-color: #585452;
}
.dark.pewter {
  background-color: #7c7774;
  border-color: #44403e;
}
.gunmetal {
  background-color: #364379;
  border-color: #1d2544;
}
.light.gunmetal {
  background-color: #435395;
  border-color: #242d52;
}
.dark.gunmetal {
  background-color: #29345d;
  border-color: #171d36;
}
.hotpink {
  background-color: #d84da2;
  border-color: #752857;
}
.light.hotpink {
  background-color: #e06fb3;
  border-color: #793960;
}
.dark.hotpink {
  background-color: #d02d90;
  border-color: #71184e;
}
.neongreen {
  background-color: #2fd121;
  border-color: #197111;
}
.light.neongreen {
  background-color: #47e03a;
  border-color: #25791e;
}
.dark.neongreen {
  background-color: #27ad1b;
  border-color: #15600f;
}
.electricblue {
  background-color: #2d9ed3;
  border-color: #185572;
}
.light.electricblue {
  background-color: #4fadda;
  border-color: #295d76;
}
.dark.electricblue {
  background-color: #2585b2;
  border-color: #144962;
}
.royalpurple {
  background-color: #562890;
  border-color: #2f1551;
}
.light.royalpurple {
  background-color: #6930b0;
  border-color: #391a61;
}
.dark.royalpurple {
  background-color: #431f70;
  border-color: #261141;
}
.lemon {
  background-color: #ebe197;
  border-color: #7e784d;
}
.light.lemon {
  background-color: #f2ebb9;
  border-color: #827d5e;
}
.dark.lemon {
  background-color: #e5d775;
  border-color: #7b743c;
}
.lime {
  background-color: #83bd97;
  border-color: #446650;
}
.light.lime {
  background-color: #9ecbae;
  border-color: #516d5b;
}
.dark.lime {
  background-color: #68af81;
  border-color: #375f45;
}
.tangerine {
  background-color: #e2955b;
  border-color: #7a4f2f;
}
.light.tangerine {
  background-color: #e8ab7e;
  border-color: #7d5a40;
}
.dark.tangerine {
  background-color: #dc7e39;
  border-color: #77441e;
}
.grapefruit {
  background-color: #b3255f;
  border-color: #621434;
}
.light.grapefruit {
  background-color: #d42d71;
  border-color: #73183d;
}
.dark.grapefruit {
  background-color: #911e4d;
  border-color: #51102b;
}
.action,
.base-color {
  color: #f3f0fe;
  background: #3400c4;
  border-color: #1d006c;
}
.action.light,
.base-color.light {
  color: #f3f0fe;
  background: #3f00ed;
  border-color: #220080;
}
.action.dark,
.base-color.dark {
  color: #f3f0fe;
  background: #29009b;
  border-color: #170058;
}
.reaction {
  background-color: #4a5c26;
  border-color: #2b3615;
}
.light.reaction {
  background-color: #617931;
  border-color: #36451b;
}
.dark.reaction {
  background-color: #333f1a;
  border-color: #1f280f;
}
.default {
  background-color: #5941a7;
  border-color: #30225b;
}
.light.default {
  background-color: #6c53bd;
  border-color: #3a2c66;
}
.dark.default {
  background-color: #493589;
  border-color: #281d4d;
}
.warm {
  background-color: #7f28c5;
  border-color: #45156b;
}
.light.warm {
  background-color: #933dd8;
  border-color: #4f2075;
}
.dark.warm {
  background-color: #6921a3;
  border-color: #3a125a;
}
.cool {
  background-color: #0064d0;
  border-color: #003772;
}
.light.cool {
  background-color: #0077f9;
  border-color: #004187;
}
.dark.cool {
  background-color: #0050a7;
  border-color: #002d5e;
}
.neutral {
  background-color: #005766;
  border-color: #00343d;
}
.light.neutral {
  background-color: #007a8f;
  border-color: #004551;
}
.dark.neutral {
  background-color: #00343d;
  border-color: #002329;
}
.complement,
.second.triad {
  background-color: #5b7226;
  border-color: #344115;
}
.light.complement,
.light.second.triad {
  background-color: #749130;
  border-color: #40511a;
}
.dark.complement,
.dark.second.triad {
  background-color: #43531b;
  border-color: #283210;
}
.accent {
  background-color: #63009e;
  border-color: #380059;
}
.light.accent {
  background-color: #7c00c7;
  border-color: #45006e;
}
.dark.accent {
  background-color: #490076;
  border-color: #2b0045;
}
.second.accent {
  background-color: #001c9e;
  border-color: #001059;
}
.light.second.accent {
  background-color: #0023c7;
  border-color: #00136e;
}
.dark.second.accent {
  background-color: #001576;
  border-color: #000c45;
}
.split {
  background-color: #8c0044;
  border-color: #500027;
}
.light.split {
  background-color: #b50058;
  border-color: #640031;
}
.dark.split {
  background-color: #630030;
  border-color: #3c001d;
}
.second.split {
  background-color: #008189;
  border-color: #004a4f;
}
.light.second.split {
  background-color: #00a7b2;
  border-color: #005d63;
}
.dark.second.split {
  background-color: #005a61;
  border-color: #00373a;
}
.triad {
  background-color: #8c0085;
  border-color: #50004c;
}
.light.triad {
  background-color: #b500ac;
  border-color: #640060;
}
.dark.triad {
  background-color: #63005e;
  border-color: #3c0039;
}
.third.triad {
  background-color: #005ea8;
  border-color: #00355e;
}
.light.third.triad {
  background-color: #0075d1;
  border-color: #004072;
}
.dark.third.triad {
  background-color: #00487f;
  border-color: #00294a;
}
.tetrad {
  background-color: #8c00a6;
  border-color: #4e005d;
}
.light.tetrad {
  background-color: #ae00cf;
  border-color: #600071;
}
.dark.tetrad {
  background-color: #69007d;
  border-color: #3d0049;
}
.second.tetrad {
  background-color: #8c4226;
  border-color: #4e2514;
}
.light.second.tetrad {
  background-color: #ac512e;
  border-color: #5e2c19;
}
.dark.second.tetrad {
  background-color: #6c331d;
  border-color: #3e1d10;
}
.third.tetrad {
  background-color: #008128;
  border-color: #004a17;
}
.light.third.tetrad {
  background-color: #00a934;
  border-color: #005f1d;
}
.dark.third.tetrad {
  background-color: #00581b;
  border-color: #003611;
}
.fourth.tetrad {
  background-color: #003ea8;
  border-color: #00235e;
}
.light.fourth.tetrad {
  background-color: #004dd1;
  border-color: #002a72;
}
.dark.fourth.tetrad {
  background-color: #002f7f;
  border-color: #001b4a;
}
.highlight {
  background-color: #8e05dd;
  border-color: #4d0378;
}
.light.highlight {
  background-color: #a510fa;
  border-color: #590887;
}
.dark.highlight {
  background-color: #7404b5;
  border-color: #400264;
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-margin-right {
  margin-right: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.no-margin-left {
  margin-left: 0 !important;
}
.no-padding {
  padding: 0;
}
.no-margin,
.no-gutter {
  margin: 0;
}
.no-side-margin,
.no-side-margins {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.no-margins {
  margin: 0 !important;
}
.no-margins * {
  margin: 0 !important;
}
.no-box-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  box-shadow: unset;
}
.no-text-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  text-shadow: unset;
}
.no-border,
.no-borders,
.no-borders * {
  border-width: 0 !important;
}
.no-background {
  background: transparent;
}
.no-text-indent {
  text-indent: 0;
}
.no-text-align {
  text-align: initial;
}
.no-user-select {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.no-pointer-events {
  pointer-events: none;
}
.no-list-style {
  list-style-type: none;
  margin-left: 0;
}
.no-grid-gap,
.no-column-gap {
  grid-gap: 0;
  column-gap: 0;
}
@media print {
  html {
    font-size: 62.5%;
  }
  * {
    box-shadow: unset !important;
    border: unset !important;
  }
  nav {
    display: none !important;
  }
  .page-width,
  .text-width,
  .container {
    all: unset;
  }
  .inner-page-width,
  .inner-text-width,
  .inner-aside-width {
    all: unset;
  }
}
