/* This project uses Cavepaint (MIT License) by Rex Riepe */
/* https://github.com/cavepaint/cavepaintCSS */
* {
  margin: 0 0 1.62rem 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  margin-bottom: 0;
}
.button,
button {
  border-style: solid;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(22, 41, 23, 0.16);
  display: inline;
  position: relative;
  font-family: inherit;
  font-size: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  color: inherit;
  background-color: inherit;
  border-color: #793673;
  border-width: 1px;
  line-height: 1.6;
  text-align: center;
  vertical-align: middle;
  outline: none;
  white-space: nowrap;
  text-decoration: none;
  touch-action: manipulation;
  cursor: pointer;
  transform: scale(1);
  transition: 0.08s linear;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.button:active,
button:active {
  transform: scale(0.99);
  box-shadow: unset;
}
.bar {
  position: relative;
  width: 100%;
  display: block;
  vertical-align: middle;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.bar > * {
  display: inline;
  margin-right: 0.3236em;
  margin-left: 0.3236em;
  margin-bottom: 0;
}
.card {
  position: relative;
  overflow: hidden;
  padding: 1.62rem;
  border: 1px solid #b150a7;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(22, 41, 23, 0.16);
}
.card > *:first-child {
  margin-top: 0;
}
.card > *:last-child {
  margin-bottom: 0;
}
.badge {
  border-radius: 0.5em;
  line-height: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  padding-right: 0.6472em;
  padding-left: 0.6472em;
  vertical-align: middle;
  border-radius: 99px;
  white-space: nowrap;
}
.modal {
  display: none;
  max-width: none;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  position: fixed;
  bottom: 0;
  justify-content: center;
  flex: 0 1 auto;
  flex-direction: column;
  height: 100vh;
}
.modal > * {
  flex-direction: column;
  color: #291629;
  position: relative;
  background: #fff8ff;
  padding: 1.62rem;
  margin-bottom: 3.24rem;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(22, 41, 23, 0.16);
  margin: 1.62rem;
}
@media screen and (min-width: 49.24rem) {
  .modal > * {
    max-width: 74rem;
    margin: 0 auto;
  }
}
.overlay {
  margin: 0;
  padding: 0;
  position: relative;
}
.overlay .top,
.overlay .bottom,
.overlay .left,
.overlay .right {
  position: absolute;
}
.overlay .top {
  top: 0.3236em;
}
.overlay .bottom {
  bottom: 0.3236em;
}
.overlay .left {
  left: 0.3236em;
}
.overlay .right {
  right: 0.3236em;
}
.overlay.stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.overlay * {
  margin: 0;
  display: block;
}
.grid,
.two-column,
.three-column {
  display: grid;
  grid-gap: 1.62rem;
}
.grid.tablet,
.two-column.tablet,
.three-column.tablet,
.grid.mobile.tablet,
.two-column.mobile.tablet,
.three-column.mobile.tablet,
.grid.desktop,
.two-column.desktop,
.three-column.desktop {
  display: initial;
}
.grid {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.two-column {
  grid-template-columns: 1fr 1fr;
}
.two-column.golden {
  grid-template-columns: 1.618fr 1fr;
}
.two-column.golden.reverse {
  grid-template-columns: 1fr 1.618fr;
}
.three-column {
  grid-template-columns: 1fr 1fr 1fr;
}
.three-column.golden {
  grid-template-columns: 1fr 1.618fr 1fr;
}
.three-column.golden.leading {
  grid-template-columns: 1.618fr 1fr 1fr;
}
.three-column.golden.trailing {
  grid-template-columns: 1fr 1fr 1.618fr;
}
.grid-width-one {
  grid-column: auto / span 1;
}
.grid-width-two {
  grid-column: auto / span 2;
}
.grid-width-three {
  grid-column: auto / span 3;
}
.grid-width-four {
  grid-column: auto / span 4;
}
.grid-width-five {
  grid-column: auto / span 5;
}
.grid-width-six {
  grid-column: auto / span 6;
}
.grid-width-seven {
  grid-column: auto / span 7;
}
.grid-width-eight {
  grid-column: auto / span 8;
}
.grid-width-nine {
  grid-column: auto / span 9;
}
.grid-width-ten {
  grid-column: auto / span 10;
}
.grid-width-eleven {
  grid-column: auto / span 11;
}
.grid-width-twelve {
  grid-column: auto / span 12;
}
@media screen and (max-width: calc(49.24rem - 1px)) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: grid;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 49.24rem) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: initial;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: initial;
  }
  .grid.tablet,
  .two-column.tablet,
  .three-column.tablet {
    display: grid;
  }
  .grid.tablet > *,
  .two-column.tablet > *,
  .three-column.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (max-width: calc(74rem - 1px)) {
  .grid.mobile.tablet,
  .two-column.mobile.tablet,
  .three-column.mobile.tablet {
    display: grid;
  }
  .grid.mobile.tablet > *,
  .two-column.mobile.tablet > *,
  .three-column.mobile.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 74rem) {
  .grid.desktop,
  .two-column.desktop,
  .three-column.desktop {
    display: grid;
  }
  .grid.desktop > *,
  .two-column.desktop > *,
  .three-column.desktop > * {
    margin-bottom: 0;
  }
}
.responsive {
  column-gap: 0.619rem;
  grid-gap: 0.619rem;
}
.responsive.padding,
.modal,
.container {
  padding: 0.619rem;
}
.responsive.margin,
.container {
  margin: 0.619rem;
}
.responsive.gutter {
  margin: 1.238rem;
}
@media screen and (min-width: 49.24rem) {
  .responsive {
    column-gap: 1.001rem;
    grid-gap: 1.001rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.001rem;
  }
  .responsive.margin,
  .container {
    margin: 1.001rem;
  }
  .responsive.gutter {
    margin: 2.002rem;
  }
}
@media screen and (min-width: 74rem) {
  .responsive {
    column-gap: 1.62rem;
    grid-gap: 1.62rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.62rem;
  }
  .responsive.margin,
  .container {
    margin: 1.62rem;
  }
  .responsive.gutter {
    margin: 3.24rem;
  }
}
.background {
  background: #fff8ff;
}
.background-color {
  background-color: #fff8ff;
}
.border {
  border: 1px solid #b150a7;
}
.border-radius,
.rounded {
  border-radius: 0.5em;
}
.border-bottom {
  border-bottom: 1px solid #b150a7;
}
.border-left {
  border-left: 1px solid #b150a7;
}
.border-right {
  border-right: 1px solid #b150a7;
}
.border-style,
.button.border,
button.border {
  border-style: solid;
}
.border-top {
  border-top: 1px solid #b150a7;
}
.border-width,
.button.border,
button.border {
  border-width: 1px;
}
.max-width {
  max-width: 74rem;
}
.min-width {
  min-width: 28rem;
}
.align-content {
  align-content: stretch;
}
.align-items {
  align-items: stretch;
}
.align-self {
  align-self: auto;
}
.flex,
.vertical-center,
.center-vertical {
  flex: 0 1 auto;
}
.flex-basis {
  flex-basis: auto;
}
.flex-direction,
.vertical-center,
.center-vertical {
  flex-direction: column;
}
.flex-flow {
  flex-flow: column nowrap;
}
.flex-grow {
  flex-grow: 0;
}
.flex-shrink {
  flex-shrink: 1;
}
.flex-wrap {
  flex-wrap: nowrap;
}
.justify-content,
.vertical-center,
.center-vertical {
  justify-content: center;
}
.font-family,
body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.font-size {
  font-size: 19px;
}
.font-weight {
  font-weight: normal;
}
.list-style {
  list-style: disc inside none;
}
.list-style-type {
  list-style-type: disc;
}
.margin {
  margin: 1.62rem;
}
.margin-bottom {
  margin-bottom: 1.62rem;
}
.margin-left {
  margin-left: 1.62rem;
}
.margin-right {
  margin-right: 1.62rem;
}
.margin-top {
  margin-top: 1.62rem;
}
.column-gap {
  column-gap: 1.94em;
}
.column-rule {
  column-rule: 1px solid #b150a7;
}
.padding {
  padding: 1.62rem;
}
.padding-bottom {
  padding-bottom: 1.62rem;
}
.padding-left {
  padding-left: 1.62rem;
}
.padding-right {
  padding-right: 1.62rem;
}
.padding-top {
  padding-top: 1.62rem;
}
.text-align {
  text-align: left;
}
.text-align-last {
  text-align-last: left;
}
.text-indent {
  text-indent: 2ch;
}
.text-justify {
  text-justify: justify;
}
.text-overflow {
  text-overflow: hidden;
}
.text-shadow {
  text-shadow: 1.41px 1.41px 1.41px rgba(22, 41, 23, 0.16);
}
.line-height {
  line-height: 1.8;
}
.vertical-align {
  vertical-align: middle;
}
.letter-spacing {
  letter-spacing: 0;
}
.word-spacing {
  word-spacing: normal;
}
.white-space {
  white-space: nowrap;
}
.word-break {
  word-break: break-all;
}
.word-wrap {
  word-wrap: break-word;
}
.transform {
  transform: none;
}
.transition {
  transition: all 0s ease 0s;
}
.display {
  display: block;
}
.position {
  position: absolute;
}
.top {
  top: 0;
}
.right {
  right: 0;
}
.bottom {
  bottom: 0;
}
.left {
  left: 0;
}
.float {
  float: left;
}
.clear {
  clear: both;
}
.z-index {
  z-index: 10;
}
.overflow {
  overflow: hidden;
}
.overflow-x {
  overflow-x: hidden;
}
.cursor {
  cursor: pointer;
}
.box-shadow {
  box-shadow: 1.41px 1.41px 1.41px rgba(22, 41, 23, 0.16);
}
.gutter {
  margin: 3.24rem;
}
.gutter-top {
  margin-top: 3.24rem;
}
.gutter-right {
  margin-right: 3.24rem;
}
.gutter-bottom {
  margin-bottom: 3.24rem;
}
.gutter-left {
  margin-left: 3.24rem;
}
.text-padding {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-padding-top {
  padding-top: 0.18em;
}
.text-padding-right {
  padding-right: 0.3236em;
}
.text-padding-bottom {
  padding-bottom: 0.22em;
}
.text-padding-left {
  padding-left: 0.3236em;
}
.text-margin {
  margin: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-margin-top {
  margin-top: 0.18em;
}
.text-margin-right {
  margin-right: 0.3236em;
}
.text-margin-bottom {
  margin-bottom: 0.22em;
}
.text-margin-left {
  margin-left: 0.3236em;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.initial {
  display: initial;
}
.table {
  display: table;
}
.flex,
.vertical-center,
.center-vertical {
  display: flex;
}
.inline-block {
  display: inline-block;
}
.static {
  position: static;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.margin-auto,
.container {
  margin-left: auto;
  margin-right: auto;
}
.width-auto {
  width: auto;
}
.inset {
  box-shadow: inset 1.41px 1.41px 1.41px rgba(22, 41, 23, 0.16);
}
.viewport-height {
  height: 100vh;
}
.min-viewport-height {
  min-height: 100vh;
}
.overflow-hidden {
  overflow: hidden;
}
.dashed {
  border-style: dashed;
}
.dotted {
  border-style: dotted;
}
.thick {
  border-width: 2px;
}
.thin {
  border-width: 0.5px;
}
.current-color {
  border-color: currentColor;
}
.fade {
  opacity: 0.65;
}
.serif,
.font-family-serif {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "Droid Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
.monospace,
.font-family-monospace,
pre,
code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
}
.sans-serif,
.font-family-sans-serif {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.text-transparent {
  color: transparent;
}
.reset {
  all: initial;
}
.big {
  font-size: 125%;
  line-height: 2.25;
}
.big.font-size {
  font-size: 23.75px;
}
.small,
.badge {
  font-size: 87.5%;
  line-height: 1.575;
}
.small.font-size {
  font-size: 16.625px;
}
.huge {
  font-size: 160%;
}
.huge.font-size {
  font-size: 30.4px;
}
.text-trim {
  line-height: 1;
}
.text-align-center,
.text-center {
  text-align: center;
}
.text-align-left,
.text-left {
  text-align: left;
}
.text-align-right,
.text-right {
  text-align: right;
}
.text-align-justify,
.text-justify {
  text-align: justify;
}
.grid-gap-margin {
  grid-gap: 1.62rem;
}
.grid-gap-border-width {
  grid-gap: 1px;
}
.grid-gap-text-padding,
.grid-gap-text-margin {
  grid-gap: 0.3236em;
}
.shade,
.white,
.orange,
.yellow,
.olive,
.light.green,
.teal,
.cyan,
.skyblue,
.violet,
.light.gray,
.light.magenta,
.lavender,
.cream,
.clover,
.light.cobalt,
.pewter,
.hotpink,
.neongreen,
.electricblue,
.lemon,
.lime,
.tangerine,
.reaction,
.warm,
.cool,
.neutral,
.complement,
.split,
.second.tetrad,
.third.tetrad,
.highlight,
body,
input,
textarea,
.info,
.warning,
.light.success,
.second.triad {
  color: #291629;
}
.tint,
.black,
.red,
.dark.olive,
.green,
.dark.teal,
.blue,
.indigo,
.purple,
.gray,
.brown,
.magenta,
.charcoal,
.crimson,
.dark.clover,
.cobalt,
.graphite,
.ruby,
.onyx,
.gunmetal,
.dark.hotpink,
.royalpurple,
.grapefruit,
.default,
.accent,
.second.accent,
.second.split,
.triad,
.third.triad,
.tetrad,
.fourth.tetrad,
.success,
.failure {
  color: #fff8ff;
}
.transparent {
  background-color: transparent;
  color: inherit;
  border-color: inherit;
}
.transparent.light {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23FFF%22%20fill-opacity%3D%220.16%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.transparent.dark,
.modal {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23000%22%20fill-opacity%3D%220.25%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.trim,
.trim-inner *,
.trim-all,
.trim-all * {
  margin-bottom: 0;
}
.hidden {
  display: none !important;
}
.clearfix,
.clear {
  clear: both;
}
.clearfix::after,
.clear::after {
  display: block;
  clear: both;
  content: "";
}
.golden-width {
  max-width: calc(62% - 3.24rem);
}
.golden-width.reverse {
  max-width: 38%;
}
.aside-width {
  max-width: 28rem;
}
@media screen and (min-width: 49.24rem) {
  .text-width {
    max-width: 46rem;
  }
}
.page-width,
.container {
  max-width: 74rem;
}
.full-width,
.aside-width .aside-width,
.text-width .text-width,
.page-width .page-width {
  display: block;
  width: 100%;
}
.inner-aside-width {
  padding-left: calc(50% - 14rem);
  padding-right: calc(50% - 14rem);
}
.inner-aside-width.padding {
  padding-left: calc(50% - 12.38rem);
  padding-right: calc(50% - 12.38rem);
}
.inner-aside-width.responsive.padding {
  padding-left: calc(50% - 13.38rem);
  padding-right: calc(50% - 13.38rem);
}
@media screen and (max-width: calc(49.24rem - 1px)) {
  .inner-text-width {
    padding-left: initial;
    padding-right: initial;
  }
  .inner-text-width.padding {
    padding-left: 1.62rem;
    padding-right: 1.62rem;
  }
  .inner-text-width.responsive.padding {
    padding-left: 0.619rem;
    padding-right: 0.619rem;
  }
}
@media screen and (min-width: 49.24rem) {
  .inner-aside-width.tablet.padding {
    padding-left: calc(50% - 12.38rem);
    padding-right: calc(50% - 12.38rem);
  }
  .inner-aside-width.tablet.responsive.padding {
    padding-left: calc(50% - 13rem);
    padding-right: calc(50% - 13rem);
  }
  .inner-text-width {
    padding-left: calc(50% - 23rem);
    padding-right: calc(50% - 23rem);
  }
  .inner-text-width.padding {
    padding-left: calc(50% - 21.38rem);
    padding-right: calc(50% - 21.38rem);
  }
  .inner-text-width.responsive.padding {
    padding-left: calc(50% - 22rem);
    padding-right: calc(50% - 22rem);
  }
}
@media screen and (min-width: 74rem) {
  .inner-aside-width.desktop.padding {
    padding-left: calc(50% - 12.38rem);
    padding-right: calc(50% - 12.38rem);
  }
  .inner-aside-width.desktop.responsive.padding {
    padding-left: calc(50% - 12.38rem);
    padding-right: calc(50% - 12.38rem);
  }
  .inner-text-width.desktop.padding {
    padding-left: calc(50% - 21.38rem);
    padding-right: calc(50% - 21.38rem);
  }
  .inner-text-width.desktop.responsive.padding {
    padding-left: calc(50% - 21.38rem);
    padding-right: calc(50% - 21.38rem);
  }
  .inner-page-width {
    padding-left: calc(50% - 37rem);
    padding-right: calc(50% - 37rem);
  }
  .inner-page-width.padding {
    padding-left: calc(50% - 35.38rem);
    padding-right: calc(50% - 35.38rem);
  }
  .inner-page-width.responsive.padding {
    padding-left: calc(50% - 35.38rem);
    padding-right: calc(50% - 35.38rem);
  }
}
.texture,
.pattern {
  background-position: top center;
}
.texture {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20viewBox%3D'0%200%203.175%201.588'%20height%3D'19'%20width%3D'38'%3E%3Cg%20fill%3D'%23291629'%20fill-opacity%3D'0.05'%3E%3Cpath%20d%3D'M1.317%201.194h-.92l.23-.399.23-.398.23.398zM2.312%201.194l-.23-.399-.23-.398h.92l-.23.398z'/%3E%3C/g%3E%3C/svg%3E");
}
.pattern {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20width%3D'80'%20height%3D'50'%20viewBox%3D'0%200%2021.167%2013.229'%3E%3Cpath%20opacity%3D'0.05'%20fill%3D'%23291629'%20d%3D'M0%200h10.583v13.229H0z'/%3E%3C/svg%3E");
}
.placeholder::before {
  content: " ";
  white-space: pre;
}
.placeholder::after {
  content: "";
}
.placeholder.image,
.placeholder.video,
.placeholder.avatar {
  position: relative;
}
.placeholder.image::before,
.placeholder.video::before,
.placeholder.avatar::before {
  position: absolute;
  top: calc(50% - 4rem);
  right: 0;
  bottom: 0;
  left: 0;
  display: inline-block;
  text-align: center;
  font-size: 4rem;
  vertical-align: middle;
}
.placeholder.image.small::before,
.placeholder.video.small::before,
.placeholder.avatar.small::before {
  top: calc(50% - 2rem);
  font-size: 2rem;
}
.placeholder.image.big::before,
.placeholder.video.big::before,
.placeholder.avatar.big::before {
  top: calc(50% - 6rem);
  font-size: 6rem;
}
.placeholder.image.huge::before,
.placeholder.video.huge::before,
.placeholder.avatar.huge::before {
  top: calc(50% - 8rem);
  font-size: 8rem;
}
.placeholder.image::after,
.placeholder.video::after,
.placeholder.avatar::after {
  display: block;
}
.placeholder.image::before {
  content: "\1f5bc";
}
.placeholder.image::after {
  padding-top: 75%;
}
.placeholder.video::before {
  content: "\25B6";
}
.placeholder.video::after {
  padding-top: 56.25%;
}
.placeholder.avatar::before {
  content: "\263A";
}
.placeholder.avatar::after {
  padding-top: 100%;
}
.placeholder.no-icon::before {
  content: "";
}
.hide {
  display: none;
}
.hide.tablet {
  display: initial;
}
.hide.desktop {
  display: initial;
}
@media screen and (max-width: calc(49.24rem - 1px)) {
  .hide.mobile {
    display: none;
  }
}
@media screen and (min-width: 49.24rem) {
  .hide.mobile {
    display: initial;
  }
  .hide.tablet {
    display: none;
  }
}
@media screen and (min-width: 74rem) {
  .hide.desktop {
    display: none;
  }
  .hide.mobile.tablet {
    display: initial;
  }
}
@media screen and (max-width: calc(74rem - 1px)) {
  .hide.mobile.tablet {
    display: none;
  }
}
body {
  font-size: 19px;
  line-height: 1.8;
  margin: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
nav {
  z-index: 99;
}
nav a {
  text-decoration: none;
}
aside {
  margin: 0 auto;
  margin-bottom: 1.62rem;
  max-width: 28rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-top: 0.49443758em;
  margin-bottom: 0.74165637em;
  letter-spacing: -0.025em;
  color: inherit;
  line-height: 1.618;
}
h1 {
  font-size: 2.4em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1em;
}
p {
  margin-bottom: 1em;
}
p.gutter-bottom {
  margin-bottom: 1.618em;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: inherit;
  text-decoration: underline;
}
a.target-blank::after,
a.new-tab::after,
a.external-link::after {
  content: "\00A0\1F855";
}
form {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input {
  font-size: 19px;
  line-height: 1.8;
  border: 1px solid #b150a7;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input:focus {
  box-shadow: 0 0 2px #8ec9ed;
}
fieldset {
  border: none;
  outline: none;
}
ol {
  padding-left: 4ch;
  margin-bottom: 1.62rem;
}
ol li {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
ul {
  margin-left: 1.62rem;
  margin-bottom: 1.62rem;
}
li {
  margin-bottom: 0.44em;
}
kbd {
  color: #fff8ff;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  white-space: nowrap;
}
b {
  padding: 0.18em 0 0.22em 0;
}
pre {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  overflow: hidden;
  border-radius: 0.5em;
  background: #463842;
  color: #fff8ff;
}
pre.white-space,
pre.word-break {
  white-space: pre-wrap;
}
pre > code {
  background: transparent;
  padding: 0;
}
code {
  color: #fff8ff;
  background-color: #3a366a;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
code.terminal::before {
  content: "$ ";
}
textarea {
  font-size: 19px;
  line-height: 1.8;
  border: 1px solid #b150a7;
  border-radius: 0.5em;
  margin-bottom: 1.62rem;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
textarea:focus {
  box-shadow: 0 0 2px #8ec9ed;
}
.white,
body,
input,
textarea {
  background-color: #fff8ff;
  border-color: #8f7e8f;
}
.black {
  background-color: #291629;
  border-color: #140b14;
}
.ambient {
  color: #291629;
  background: #ff8bfd;
  border-color: #8f478e;
}
.ambient.light {
  color: #291629;
  background: #ffb4fe;
  border-color: #8f5b8e;
}
.ambient.dark {
  color: #291629;
  background: #ff62fd;
  border-color: #8f338e;
}
.red,
.failure {
  background-color: #fe0529;
  border-color: #8f0418;
}
.light.red,
.light.failure {
  background-color: #fe2d4c;
  border-color: #8f182a;
}
.dark.red,
.dark.failure {
  background-color: #da0120;
  border-color: #7c0214;
}
.orange,
.warning {
  background-color: #ffa628;
  border-color: #8f5d16;
}
.light.orange,
.light.warning {
  background-color: #ffb751;
  border-color: #8f652a;
}
.dark.orange,
.dark.warning {
  background-color: #fe9500;
  border-color: #8f5502;
}
.yellow {
  background-color: #ffff29;
  border-color: #8f8f16;
}
.light.yellow {
  background-color: #ffff51;
  border-color: #8f8f2a;
}
.dark.yellow {
  background-color: #fefe00;
  border-color: #8f8f02;
}
.olive {
  background-color: #b2a429;
  border-color: #665f19;
}
.light.olive {
  background-color: #d0c134;
  border-color: #756d1e;
}
.dark.olive {
  background-color: #918622;
  border-color: #564f15;
}
.green,
.success {
  background-color: #299c29;
  border-color: #195b19;
}
.light.green,
.light.success {
  background-color: #32bc31;
  border-color: #1d6b1d;
}
.dark.green,
.dark.success {
  background-color: #217b20;
  border-color: #154b14;
}
.teal {
  background-color: #2aa4b2;
  border-color: #195f66;
}
.light.teal {
  background-color: #35c0cf;
  border-color: #1e6d75;
}
.dark.teal {
  background-color: #228691;
  border-color: #154f56;
}
.cyan {
  background-color: #3fffff;
  border-color: #218f8f;
}
.light.cyan {
  background-color: #67ffff;
  border-color: #358f8f;
}
.dark.cyan {
  background-color: #16feff;
  border-color: #0c8f8f;
}
.skyblue,
.info {
  background-color: #8ec9ed;
  border-color: #4a6f84;
}
.light.skyblue,
.light.info {
  background-color: #b1daf3;
  border-color: #5c7787;
}
.dark.skyblue,
.dark.info {
  background-color: #6bb9e7;
  border-color: #396682;
}
.blue {
  background-color: #2904ff;
  border-color: #18048f;
}
.light.blue {
  background-color: #4c2dff;
  border-color: #2a188f;
}
.dark.blue {
  background-color: #2000da;
  border-color: #14027d;
}
.indigo {
  background-color: #7505ab;
  border-color: #450465;
}
.light.indigo {
  background-color: #9006d3;
  border-color: #530579;
}
.dark.indigo {
  background-color: #5a0384;
  border-color: #380451;
}
.purple {
  background-color: #c005c0;
  border-color: #700570;
}
.light.purple {
  background-color: #e806e8;
  border-color: #830583;
}
.dark.purple {
  background-color: #990499;
  border-color: #5c045c;
}
.violet {
  background-color: #f075f0;
  border-color: #863e86;
}
.light.violet {
  background-color: #f49af4;
  border-color: #885088;
}
.dark.violet {
  background-color: #ec51eb;
  border-color: #842b84;
}
.gray {
  background-color: #987e91;
  border-color: #564652;
}
.light.gray {
  background-color: #aa95a4;
  border-color: #5f525b;
}
.dark.gray {
  background-color: #83697c;
  border-color: #4c3c47;
}
.brown {
  background-color: #ae563d;
  border-color: #633123;
}
.light.brown {
  background-color: #c26a51;
  border-color: #6d3b2e;
}
.dark.brown {
  background-color: #904732;
  border-color: #542a1e;
}
.magenta {
  background-color: #fe07fe;
  border-color: #8f058f;
}
.light.magenta {
  background-color: #fe30fe;
  border-color: #8f1a8f;
}
.dark.magenta {
  background-color: #db01db;
  border-color: #7d027d;
}
.lavender {
  background-color: #d1baea;
  border-color: #716182;
}
.light.lavender {
  background-color: #e6d9f4;
  border-color: #7b7187;
}
.dark.lavender {
  background-color: #bc9ae1;
  border-color: #66527d;
}
.cream {
  background-color: #f9f8d0;
  border-color: #8b8a6b;
}
.light.cream {
  background-color: #fdfdf4;
  border-color: #8d8d7d;
}
.dark.cream {
  background-color: #f4f3ac;
  border-color: #888859;
}
.charcoal {
  background-color: #723d50;
  border-color: #442530;
}
.light.charcoal {
  background-color: #8d4b63;
  border-color: #522c39;
}
.dark.charcoal {
  background-color: #582f3d;
  border-color: #371e27;
}
.crimson {
  background-color: #c30c31;
  border-color: #70081d;
}
.light.crimson {
  background-color: #e90f3a;
  border-color: #840a22;
}
.dark.crimson {
  background-color: #9d0a27;
  border-color: #5d0718;
}
.clover {
  background-color: #61bd3c;
  border-color: #386b23;
}
.light.clover {
  background-color: #79ca58;
  border-color: #437230;
}
.dark.clover {
  background-color: #519e32;
  border-color: #305c1e;
}
.cobalt {
  background-color: #377ddf;
  border-color: #1f467d;
}
.light.cobalt {
  background-color: #5a93e4;
  border-color: #305180;
}
.dark.cobalt {
  background-color: #2168cc;
  border-color: #143c74;
}
.graphite {
  background-color: #3a366a;
  border-color: #232140;
}
.light.graphite {
  background-color: #494485;
  border-color: #2b284e;
}
.dark.graphite {
  background-color: #2b284f;
  border-color: #1c1a33;
}
.ruby {
  background-color: #c70259;
  border-color: #730335;
}
.light.ruby {
  background-color: #ef036b;
  border-color: #87033e;
}
.dark.ruby {
  background-color: #9e0247;
  border-color: #5f032b;
}
.onyx {
  background-color: #463842;
  border-color: #2d232a;
}
.light.onyx {
  background-color: #5d4a58;
  border-color: #382c35;
}
.dark.onyx {
  background-color: #2f252d;
  border-color: #221a20;
}
.pewter {
  background-color: #b5b095;
  border-color: #656251;
}
.light.pewter {
  background-color: #c6c2ad;
  border-color: #6e6b5e;
}
.dark.pewter {
  background-color: #a59e7d;
  border-color: #5d5945;
}
.gunmetal {
  background-color: #62628c;
  border-color: #383850;
}
.light.gunmetal {
  background-color: #7777a0;
  border-color: #43425a;
}
.dark.gunmetal {
  background-color: #525174;
  border-color: #303044;
}
.hotpink {
  background-color: #fe55af;
  border-color: #8f2c61;
}
.light.hotpink {
  background-color: #fe7dc2;
  border-color: #8f406a;
}
.dark.hotpink {
  background-color: #fe2c9c;
  border-color: #8f1857;
}
.neongreen {
  background-color: #45fe22;
  border-color: #268f13;
}
.light.neongreen {
  background-color: #68fe4b;
  border-color: #388f27;
}
.dark.neongreen {
  background-color: #28f701;
  border-color: #188b02;
}
.electricblue {
  background-color: #41c7f5;
  border-color: #23708a;
}
.light.electricblue {
  background-color: #68d3f7;
  border-color: #36758b;
}
.dark.electricblue {
  background-color: #1abcf3;
  border-color: #0f6a89;
}
.royalpurple {
  background-color: #7835ae;
  border-color: #451f64;
}
.light.royalpurple {
  background-color: #8d45c7;
  border-color: #502770;
}
.dark.royalpurple {
  background-color: #632b8f;
  border-color: #3a1a54;
}
.lemon {
  background-color: #fffd97;
  border-color: #8f8e4d;
}
.light.lemon {
  background-color: #fffec0;
  border-color: #8f8e61;
}
.dark.lemon {
  background-color: #fffc6e;
  border-color: #8f8e39;
}
.lime {
  background-color: #a4f39a;
  border-color: #568850;
}
.light.lime {
  background-color: #c4f7be;
  border-color: #668a62;
}
.dark.lime {
  background-color: #83ee75;
  border-color: #46853e;
}
.tangerine {
  background-color: #ffac5c;
  border-color: #8f5e30;
}
.light.tangerine {
  background-color: #ffc085;
  border-color: #8f6944;
}
.dark.tangerine {
  background-color: #fe9733;
  border-color: #8f541b;
}
.grapefruit {
  background-color: #e33367;
  border-color: #801c3a;
}
.light.grapefruit {
  background-color: #e85782;
  border-color: #822e47;
}
.dark.grapefruit {
  background-color: #d01d52;
  border-color: #76112f;
}
.action,
.base-color {
  color: #291629;
  background: #f65fe4;
  border-color: #8a3280;
}
.action.light,
.base-color.light {
  color: #291629;
  background: #f886eb;
  border-color: #8b4583;
}
.action.dark,
.base-color.dark {
  color: #fff8ff;
  background: #f438dd;
  border-color: #891e7c;
}
.reaction {
  background-color: #35f24b;
  border-color: #1d8829;
}
.light.reaction {
  background-color: #5bf46d;
  border-color: #30893a;
}
.dark.reaction {
  background-color: #10ee2a;
  border-color: #0a8619;
}
.default {
  background-color: #b150a7;
  border-color: #642d5f;
}
.light.default {
  background-color: #bd6cb6;
  border-color: #6b3c66;
}
.dark.default {
  background-color: #95438d;
  border-color: #562752;
}
.warm {
  background-color: #ffad6e;
  border-color: #8f5e39;
}
.light.warm {
  background-color: #ffc497;
  border-color: #8f6a4d;
}
.dark.warm {
  background-color: #ff9646;
  border-color: #8f5324;
}
.cool {
  background-color: #9abff1;
  border-color: #506887;
}
.light.cool {
  background-color: #bed6f6;
  border-color: #627389;
}
.dark.cool {
  background-color: #76a9ed;
  border-color: #3e5c85;
}
.neutral {
  background-color: #79bfda;
  border-color: #416a7a;
}
.light.neutral {
  background-color: #99cee3;
  border-color: #51727e;
}
.dark.neutral {
  background-color: #59b0d1;
  border-color: #316275;
}
.complement,
.second.triad {
  background-color: #48f35c;
  border-color: #268832;
}
.light.complement,
.light.second.triad {
  background-color: #6ef57e;
  border-color: #3a8a43;
}
.dark.complement,
.dark.second.triad {
  background-color: #22f03a;
  border-color: #138721;
}
.accent {
  background-color: #f8489c;
  border-color: #8c2656;
}
.light.accent {
  background-color: #fa6fb1;
  border-color: #8c3a61;
}
.dark.accent {
  background-color: #f72086;
  border-color: #8b124b;
}
.second.accent {
  background-color: #bf48f8;
  border-color: #6b268c;
}
.light.second.accent {
  background-color: #cd6ffa;
  border-color: #723a8c;
}
.dark.second.accent {
  background-color: #b220f7;
  border-color: #64128b;
}
.split {
  background-color: #f6ad56;
  border-color: #8a602d;
}
.light.split {
  background-color: #f8c07d;
  border-color: #8b6941;
}
.dark.split {
  background-color: #f39a30;
  border-color: #89561a;
}
.second.split {
  background-color: #5780f6;
  border-color: #2e468a;
}
.light.second.split {
  background-color: #7d9df8;
  border-color: #41548b;
}
.dark.second.split {
  background-color: #3063f3;
  border-color: #1a3789;
}
.triad {
  background-color: #f65056;
  border-color: #8a2a2e;
}
.light.triad {
  background-color: #f8767b;
  border-color: #8b3d40;
}
.dark.triad {
  background-color: #f32931;
  border-color: #89171b;
}
.third.triad {
  background-color: #6a39f6;
  border-color: #3a1f8a;
}
.light.third.triad {
  background-color: #8760f7;
  border-color: #49328b;
}
.dark.third.triad {
  background-color: #4c13f4;
  border-color: #2c0b89;
}
.tetrad {
  background-color: #f6396b;
  border-color: #8a1f3b;
}
.light.tetrad {
  background-color: #f76088;
  border-color: #8b324a;
}
.dark.tetrad {
  background-color: #f4134e;
  border-color: #890b2d;
}
.second.tetrad {
  background-color: #bbf456;
  border-color: #68892d;
}
.light.second.tetrad {
  background-color: #caf67c;
  border-color: #708a41;
}
.dark.second.tetrad {
  background-color: #abf130;
  border-color: #60881a;
}
.third.tetrad {
  background-color: #57f4e1;
  border-color: #2e897e;
}
.light.third.tetrad {
  background-color: #7df6e8;
  border-color: #418a81;
}
.dark.third.tetrad {
  background-color: #30f1da;
  border-color: #1a887a;
}
.fourth.tetrad {
  background-color: #9139f6;
  border-color: #511f8a;
}
.light.fourth.tetrad {
  background-color: #a760f7;
  border-color: #5c328b;
}
.dark.fourth.tetrad {
  background-color: #7c13f4;
  border-color: #460b89;
}
.highlight {
  background-color: #57feff;
  border-color: #2d8f8f;
}
.light.highlight {
  background-color: #80ffff;
  border-color: #428f8f;
}
.dark.highlight {
  background-color: #2efeff;
  border-color: #198f8f;
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-margin-right {
  margin-right: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.no-margin-left {
  margin-left: 0 !important;
}
.no-padding {
  padding: 0;
}
.no-margin,
.no-gutter {
  margin: 0;
}
.no-side-margin,
.no-side-margins {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.no-margins {
  margin: 0 !important;
}
.no-margins * {
  margin: 0 !important;
}
.no-box-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  box-shadow: unset;
}
.no-text-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  text-shadow: unset;
}
.no-border,
.no-borders,
.no-borders * {
  border-width: 0 !important;
}
.no-background {
  background: transparent;
}
.no-text-indent {
  text-indent: 0;
}
.no-text-align {
  text-align: initial;
}
.no-user-select {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.no-pointer-events {
  pointer-events: none;
}
.no-list-style {
  list-style-type: none;
  margin-left: 0;
}
.no-grid-gap,
.no-column-gap {
  grid-gap: 0;
  column-gap: 0;
}
@media print {
  html {
    font-size: 62.5%;
  }
  * {
    box-shadow: unset !important;
    border: unset !important;
  }
  nav {
    display: none !important;
  }
  .page-width,
  .text-width,
  .container {
    all: unset;
  }
  .inner-page-width,
  .inner-text-width,
  .inner-aside-width {
    all: unset;
  }
}
