/* This project uses Cavepaint (MIT License) by Rex Riepe */
/* https://github.com/cavepaint/cavepaintCSS */
.background {
  background: #f5fdf0;
}
.background-color {
  background-color: #f5fdf0;
}
.border {
  border: 1px solid #89c462;
}
.border-radius,
.rounded {
  border-radius: 0.5em;
}
.border-bottom {
  border-bottom: 1px solid #89c462;
}
.border-left {
  border-left: 1px solid #89c462;
}
.border-right {
  border-right: 1px solid #89c462;
}
.border-style,
.button.border,
button.border {
  border-style: solid;
}
.border-top {
  border-top: 1px solid #89c462;
}
.border-width,
.button.border,
button.border {
  border-width: 1px;
}
.max-width {
  max-width: 59rem;
}
.min-width {
  min-width: 22rem;
}
.align-content {
  align-content: stretch;
}
.align-items {
  align-items: stretch;
}
.align-self {
  align-self: auto;
}
.flex,
.vertical-center,
.center-vertical {
  flex: 0 1 auto;
}
.flex-direction,
.vertical-center,
.center-vertical {
  flex-direction: column;
}
.justify-content,
.vertical-center,
.center-vertical {
  justify-content: center;
}
.font-family,
body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.font-size {
  font-size: 18px;
}
.font-weight {
  font-weight: normal;
}
.list-style {
  list-style: disc inside none;
}
.list-style-type {
  list-style-type: disc;
}
.margin {
  margin: 2rem;
}
.margin-bottom,
pre,
.bar,
.card {
  margin-bottom: 2rem;
}
.margin-left {
  margin-left: 2rem;
}
.margin-right {
  margin-right: 2rem;
}
.margin-top {
  margin-top: 2rem;
}
.column-gap {
  column-gap: 1.94em;
}
.column-rule {
  column-rule: 1px solid #89c462;
}
.padding {
  padding: 1rem;
}
.padding-bottom {
  padding-bottom: 1rem;
}
.padding-left {
  padding-left: 1rem;
}
.padding-right {
  padding-right: 1rem;
}
.padding-top {
  padding-top: 1rem;
}
.text-align {
  text-align: left;
}
.text-align-last {
  text-align-last: left;
}
.text-indent {
  text-indent: 2ch;
}
.text-justify {
  text-justify: justify;
}
.text-overflow {
  text-overflow: hidden;
}
.text-shadow {
  text-shadow: 1px 1px 1px rgba(14, 36, 0, 0.2);
}
.line-height {
  line-height: 1.8;
}
.vertical-align {
  vertical-align: middle;
}
.letter-spacing {
  letter-spacing: 0;
}
.word-spacing {
  word-spacing: normal;
}
.white-space {
  white-space: nowrap;
}
.word-break {
  word-break: break-all;
}
.word-wrap {
  word-wrap: break-word;
}
.transform {
  transform: none;
}
.transition {
  transition: all 0s ease 0s;
}
.display {
  display: block;
}
.position {
  position: absolute;
}
.top {
  top: 0;
}
.right {
  right: 0;
}
.bottom {
  bottom: 0;
}
.left {
  left: 0;
}
.float {
  float: left;
}
.clear {
  clear: both;
}
.z-index {
  z-index: 10;
}
.overflow {
  overflow: hidden;
}
.cursor {
  cursor: pointer;
}
.box-shadow {
  box-shadow: 1px 1px 1px rgba(14, 36, 0, 0.2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-size: 18px;
  line-height: 1.8;
  margin: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
nav {
  z-index: 99;
}
nav a {
  text-decoration: none;
}
aside {
  margin: 0 auto;
  margin-bottom: 2rem;
  max-width: 22rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-top: 0.49443758em;
  margin-bottom: 0.74165637em;
  letter-spacing: -0.025em;
  color: inherit;
  line-height: 1.618;
}
h1 {
  font-size: 2.4em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1em;
}
p {
  margin-bottom: 1em;
}
p.gutter-bottom {
  margin-bottom: 1.618em;
}
p.gutter {
  margin-bottom: 4rem;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: inherit;
  text-decoration: underline;
}
form {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input {
  font-size: 18px;
  line-height: 1.8;
  border: 1px solid #89c462;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input:focus {
  box-shadow: 0 0 2px #00ffc1;
}
fieldset {
  border: none;
  outline: none;
}
ol {
  padding-left: 4ch;
  margin-bottom: 2rem;
}
ol li {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
ul {
  margin-left: 1rem;
  margin-bottom: 2rem;
}
li {
  margin-bottom: 0.44em;
}
kbd {
  color: #f5fdf0;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  white-space: nowrap;
}
b {
  padding: 0.18em 0 0.22em 0;
}
pre {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  overflow: hidden;
  border-radius: 0.5em;
  background: #0e2400;
  color: #f5fdf0;
}
pre.white-space,
pre.word-break {
  white-space: pre-wrap;
}
pre > code {
  background: transparent;
  padding: 0;
}
code {
  color: #f5fdf0;
  background-color: #0e2400;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
code.terminal::before {
  content: "$ ";
}
textarea {
  font-size: 18px;
  line-height: 1.8;
  border: 1px solid #89c462;
  border-radius: 0.5em;
  margin-bottom: 2rem;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
textarea:focus {
  box-shadow: 0 0 2px #00ffc1;
}
.button,
button {
  border-style: solid;
  border-radius: 0.5em;
  box-shadow: 1px 1px 1px rgba(14, 36, 0, 0.2);
  display: inline;
  position: relative;
  font-family: inherit;
  font-size: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  color: inherit;
  background-color: inherit;
  border-color: #619a3a;
  border-width: 1px;
  line-height: 1.6;
  text-align: center;
  vertical-align: middle;
  outline: none;
  white-space: nowrap;
  text-decoration: none;
  touch-action: manipulation;
  cursor: pointer;
  transform: scale(1);
  transition: 0.08s linear;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.button:active,
button:active {
  transform: scale(0.99);
  box-shadow: unset;
}
.bar {
  position: relative;
  width: 100%;
  display: block;
  vertical-align: middle;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.bar > * {
  display: inline;
  margin-right: 0.3236em;
  margin-left: 0.3236em;
}
.card {
  position: relative;
  overflow: hidden;
  padding: 1rem;
  border: 1px solid #89c462;
  border-radius: 0.5em;
  box-shadow: 1px 1px 1px rgba(14, 36, 0, 0.2);
}
.card > *:first-child {
  margin-top: 0;
}
.badge {
  border-radius: 0.5em;
  line-height: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  padding-right: 0.6472em;
  padding-left: 0.6472em;
  vertical-align: middle;
  border-radius: 99px;
  white-space: nowrap;
}
.modal {
  display: none;
  max-width: none;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  position: fixed;
  bottom: 0;
  justify-content: center;
  flex: 0 1 auto;
  flex-direction: column;
  height: 100vh;
}
.modal > * {
  flex-direction: column;
  color: #0e2400;
  position: relative;
  background: #f5fdf0;
  padding: 1rem;
  margin-bottom: 4rem;
  border-radius: 0.5em;
  box-shadow: 1px 1px 1px rgba(14, 36, 0, 0.2);
  margin: 1rem;
}
@media screen and (min-width: 41rem) {
  .modal > * {
    max-width: 59rem;
    margin: 0 auto;
  }
}
.overlay {
  margin: 0;
  padding: 0;
  position: relative;
}
.overlay .top,
.overlay .bottom,
.overlay .left,
.overlay .right {
  position: absolute;
}
.overlay .top {
  top: 0.3236em;
}
.overlay .bottom {
  bottom: 0.3236em;
}
.overlay .left {
  left: 0.3236em;
}
.overlay .right {
  right: 0.3236em;
}
.overlay.stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.overlay * {
  margin: 0;
  display: block;
}
.white,
body,
input,
textarea {
  background-color: #f5fdf0;
  border-color: #7f8979;
}
.white.light,
body.light,
input.light,
textarea.light {
  color: #0e2400;
  background-color: #fafef7;
  border-color: #81897c;
}
.white.dark,
body.dark,
input.dark,
textarea.dark {
  color: #0e2400;
  background-color: #ecfce1;
  border-color: #7b8871;
}
.black {
  background-color: #0e2400;
  border-color: #071200;
}
.black.light {
  color: #f5fdf0;
  background-color: #2d5e00;
  border-color: #1c3a00;
}
.black.dark {
  color: #f5fdf0;
  background-color: #010500;
  border-color: #020d00;
}
.ambient {
  color: #0e2400;
  background-color: #58e400;
  border-color: #307d00;
}
.ambient.light {
  color: #0e2400;
  background-color: #91f101;
  border-color: #4f8301;
}
.ambient.dark {
  color: #0e2400;
  background-color: #25d200;
  border-color: #147400;
}
.ambient.bright {
  color: #0e2400;
  background-color: #9eff0c;
  border-color: #568a06;
}
.red,
.failure {
  background-color: #eb3100;
  border-color: #811b00;
}
.light.red,
.light.failure {
  background-color: #f06e44;
  border-color: #823a22;
}
.dark.red,
.dark.failure {
  background-color: #b22700;
  border-color: #641600;
}
.bright.red,
.bright.failure {
  background-color: #ff2816;
  border-color: #8a150b;
}
.orange,
.warning {
  background-color: #f2b000;
  border-color: #846000;
}
.light.orange,
.light.warning {
  background-color: #f4c744;
  border-color: #856c22;
}
.dark.orange,
.dark.warning {
  background-color: #b78d00;
  border-color: #664f00;
}
.bright.orange,
.bright.warning {
  background-color: #ffd418;
  border-color: #8a730c;
}
.yellow {
  background-color: #f2ff00;
  border-color: #838a00;
}
.light.yellow {
  background-color: #f4ff44;
  border-color: #848a22;
}
.dark.yellow {
  background-color: #b7cf00;
  border-color: #657200;
}
.bright.yellow {
  background-color: #feff19;
  border-color: #8a8a0d;
}
.green,
.success {
  background-color: #009800;
  border-color: #005700;
}
.light.green,
.light.success {
  background-color: #47b744;
  border-color: #266424;
}
.dark.green,
.dark.success {
  background-color: #007900;
  border-color: #004700;
}
.bright.green,
.bright.success {
  background-color: #00c600;
  border-color: #006e00;
}
.teal {
  background-color: #00906c;
  border-color: #00533e;
}
.light.teal {
  background-color: #47b193;
  border-color: #266150;
}
.dark.teal {
  background-color: #00724b;
  border-color: #00442d;
}
.bright.teal {
  background-color: #00b869;
  border-color: #00673b;
}
.cyan,
.info {
  background-color: #00ffc1;
  border-color: #008a68;
}
.light.cyan,
.light.info {
  background-color: #47fed0;
  border-color: #238a70;
}
.dark.cyan,
.dark.info {
  background-color: #00cf87;
  border-color: #00724a;
}
.bright.cyan,
.bright.info {
  background-color: #19ffe3;
  border-color: #0d8a7b;
}
.blue {
  background-color: #0031c1;
  border-color: #001b6b;
}
.light.blue {
  background-color: #476ed0;
  border-color: #253b71;
}
.dark.blue {
  background-color: #002787;
  border-color: #00174e;
}
.bright.blue {
  background-color: #0015fa;
  border-color: #000b88;
}
.purple {
  background-color: #7a206c;
  border-color: #46123e;
}
.light.purple {
  background-color: #9f6293;
  border-color: #573450;
}
.dark.purple {
  background-color: #591a4b;
  border-color: #360f2d;
}
.bright.purple {
  background-color: #8c0a6e;
  border-color: #50053f;
}
.magenta {
  background-color: #ec31c1;
  border-color: #801968;
}
.light.magenta {
  background-color: #f06ed0;
  border-color: #823870;
}
.dark.magenta {
  background-color: #b22787;
  border-color: #62154a;
}
.bright.magenta {
  background-color: #fc2ce4;
  border-color: #89167b;
}
.gray {
  background-color: #7a906b;
  border-color: #424f39;
}
.light.gray {
  background-color: #9fb192;
  border-color: #54604d;
}
.dark.gray {
  background-color: #59724b;
  border-color: #314129;
}
.bright.gray {
  background-color: #81a969;
  border-color: #455c38;
}
.action,
.base-color {
  color: #f5fdf0;
  background-color: #44a503;
  border-color: #265d02;
}
.action.light,
.base-color.light {
  color: #0e2400;
  background-color: #7fcd0b;
  border-color: #467106;
}
.action.dark,
.base-color.dark {
  color: #f5fdf0;
  background-color: #187b00;
  border-color: #0e4900;
}
.action.bright,
.base-color.bright {
  color: #0e2400;
  background-color: #5ce500;
  border-color: #327d00;
}
.reaction {
  background-color: #582381;
  border-color: #321349;
}
.light.reaction {
  background-color: #8664a2;
  border-color: #493559;
}
.dark.reaction {
  background-color: #411c5a;
  border-color: #261036;
}
.bright.reaction {
  background-color: #480b99;
  border-color: #290657;
}
.default {
  background-color: #89c462;
  border-color: #4a6a33;
}
.light.default {
  background-color: #aad58b;
  border-color: #5a7348;
}
.dark.default {
  background-color: #659d44;
  border-color: #375725;
}
.bright.default {
  background-color: #a0e761;
  border-color: #557d32;
}
.complement,
.second.triad {
  background-color: #5d2387;
  border-color: #34134d;
}
.light.complement,
.light.second.triad {
  color: #f5fdf0;
  background-color: #8a64a7;
  border-color: #4b355b;
}
.dark.complement,
.dark.second.triad {
  color: #f5fdf0;
  background-color: #441c5f;
  border-color: #281038;
}
.bright.complement,
.bright.second.triad {
  color: #f5fdf0;
  background-color: #4f0ba7;
  border-color: #2c065e;
}
.accent {
  background-color: #08fc1c;
  border-color: #04890f;
}
.light.accent {
  color: #0e2400;
  background-color: #4dfd58;
  border-color: #26892d;
}
.dark.accent {
  color: #0e2400;
  background-color: #06cd13;
  border-color: #03710b;
}
.bright.accent {
  color: #0e2400;
  background-color: #1aff1f;
  border-color: #0d8a10;
}
.second.accent {
  background-color: #d8fc07;
  border-color: #758904;
}
.light.second.accent {
  color: #0e2400;
  background-color: #e2fd49;
  border-color: #7a8925;
}
.dark.second.accent {
  color: #0e2400;
  background-color: #a3cd05;
  border-color: #5a7103;
}
.bright.second.accent {
  color: #0e2400;
  background-color: #f4ff1a;
  border-color: #858a0d;
}
.split {
  background-color: #039f87;
  border-color: #025a4d;
}
.light.split {
  color: #0e2400;
  background-color: #49bca7;
  border-color: #27665b;
}
.dark.split {
  color: #f5fdf0;
  background-color: #027f5f;
  border-color: #014a37;
}
.bright.split {
  color: #0e2400;
  background-color: #00d1a3;
  border-color: #00735a;
}
.second.split {
  background-color: #993002;
  border-color: #571c01;
}
.light.second.split {
  color: #f5fdf0;
  background-color: #b56e45;
  border-color: #633b25;
}
.dark.second.split {
  color: #f5fdf0;
  background-color: #712702;
  border-color: #431701;
}
.bright.second.split {
  color: #f5fdf0;
  background-color: #c71500;
  border-color: #6e0c00;
}
.triad {
  background-color: #03ad52;
  border-color: #02612e;
}
.light.triad {
  color: #0e2400;
  background-color: #49c580;
  border-color: #266b45;
}
.dark.triad {
  color: #f5fdf0;
  background-color: #028a39;
  border-color: #015021;
}
.bright.triad {
  color: #0e2400;
  background-color: #00e43b;
  border-color: #007d21;
}
.third.triad {
  background-color: #997502;
  border-color: #574301;
}
.light.third.triad {
  color: #0e2400;
  background-color: #b59e45;
  border-color: #635625;
}
.dark.third.triad {
  color: #f5fdf0;
  background-color: #715c02;
  border-color: #433701;
}
.bright.third.triad {
  color: #f5fdf0;
  background-color: #c77c00;
  border-color: #6e4500;
}
.tetrad {
  background-color: #03ad31;
  border-color: #02611b;
}
.light.tetrad {
  color: #0e2400;
  background-color: #49c567;
  border-color: #266b37;
}
.dark.tetrad {
  color: #f5fdf0;
  background-color: #028a22;
  border-color: #015014;
}
.bright.tetrad {
  color: #0e2400;
  background-color: #00e415;
  border-color: #007d0c;
}
.second.tetrad {
  background-color: #033887;
  border-color: #02204e;
}
.light.second.tetrad {
  color: #f5fdf0;
  background-color: #4973a7;
  border-color: #273e5c;
}
.dark.second.tetrad {
  color: #f5fdf0;
  background-color: #022d5f;
  border-color: #011b3a;
}
.bright.second.tetrad {
  color: #f5fdf0;
  background-color: #001da8;
  border-color: #00105f;
}
.third.tetrad {
  background-color: #992359;
  border-color: #561332;
}
.light.third.tetrad {
  color: #f5fdf0;
  background-color: #b56485;
  border-color: #633547;
}
.dark.third.tetrad {
  color: #f5fdf0;
  background-color: #711c3e;
  border-color: #421024;
}
.bright.third.tetrad {
  color: #f5fdf0;
  background-color: #c60b47;
  border-color: #6d0627;
}
.fourth.tetrad {
  background-color: #999802;
  border-color: #575701;
}
.light.fourth.tetrad {
  color: #0e2400;
  background-color: #b5b645;
  border-color: #636425;
}
.dark.fourth.tetrad {
  color: #f5fdf0;
  background-color: #717902;
  border-color: #434701;
}
.bright.fourth.tetrad {
  color: #0e2400;
  background-color: #c7c500;
  border-color: #6e6d00;
}
.warm {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201%201%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23db7f41%22%20opacity%3D%220.2%22%20d%3D%22M0%200h1v1H0z%22%2F%3E%3C%2Fsvg%3E");
}
.cool {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201%201%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%231f63ac%22%20opacity%3D%220.2%22%20d%3D%22M0%200h1v1H0z%22%2F%3E%3C%2Fsvg%3E");
}
.neutral {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201%201%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%2304ba6f%22%20opacity%3D%220.16%22%20d%3D%22M0%200h1v1H0z%22%2F%3E%3C%2Fsvg%3E");
}
.dull {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201%201%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%2370915d%22%20opacity%3D%220.38%22%20d%3D%22M0%200h1v1H0z%22%2F%3E%3C%2Fsvg%3E");
}
.responsive {
  column-gap: 0.382rem;
  grid-gap: 0.382rem;
}
.responsive.padding,
.modal,
.container {
  padding: 0.382rem;
}
.responsive.margin,
.container {
  margin: 0.764rem;
}
.responsive.gutter {
  margin: 1.528rem;
}
@media screen and (min-width: 41rem) {
  .responsive {
    column-gap: 0.618rem;
    grid-gap: 0.618rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 0.618rem;
  }
  .responsive.margin,
  .container {
    margin: 1.236rem;
  }
  .responsive.gutter {
    margin: 2.472rem;
  }
}
@media screen and (min-width: 59rem) {
  .responsive {
    column-gap: 1rem;
    grid-gap: 1rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1rem;
  }
  .responsive.margin,
  .container {
    margin: 2rem;
  }
  .responsive.gutter {
    margin: 4rem;
  }
}
.grid,
.two-column,
.three-column {
  display: grid;
  grid-gap: 2rem;
  margin-bottom: 2rem;
}
.grid.tablet,
.two-column.tablet,
.three-column.tablet,
.grid.mobile.tablet,
.two-column.mobile.tablet,
.three-column.mobile.tablet,
.grid.desktop,
.two-column.desktop,
.three-column.desktop {
  display: unset;
}
.grid {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.two-column {
  grid-template-columns: 1fr 1fr;
}
.two-column.golden {
  grid-template-columns: 1.618fr 1fr;
}
.two-column.golden.reverse {
  grid-template-columns: 1fr 1.618fr;
}
.three-column {
  grid-template-columns: 1fr 1fr 1fr;
}
.three-column.golden {
  grid-template-columns: 1fr 1.618fr 1fr;
}
.three-column.golden.leading {
  grid-template-columns: 1.618fr 1fr 1fr;
}
.three-column.golden.trailing {
  grid-template-columns: 1fr 1fr 1.618fr;
}
.grid-width-one {
  grid-column: auto / span 1;
}
.grid-width-two {
  grid-column: auto / span 2;
}
.grid-width-three {
  grid-column: auto / span 3;
}
.grid-width-four {
  grid-column: auto / span 4;
}
.grid-width-five {
  grid-column: auto / span 5;
}
.grid-width-six {
  grid-column: auto / span 6;
}
.grid-width-seven {
  grid-column: auto / span 7;
}
.grid-width-eight {
  grid-column: auto / span 8;
}
.grid-width-nine {
  grid-column: auto / span 9;
}
.grid-width-ten {
  grid-column: auto / span 10;
}
.grid-width-eleven {
  grid-column: auto / span 11;
}
.grid-width-twelve {
  grid-column: auto / span 12;
}
@media screen and (max-width: calc(41rem - 1px)) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: grid;
  }
}
@media screen and (min-width: 41rem) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: initial;
  }
  .grid.tablet,
  .two-column.tablet,
  .three-column.tablet {
    display: grid;
  }
}
@media screen and (max-width: calc(59rem - 1px)) {
  .grid.mobile.tablet,
  .two-column.mobile.tablet,
  .three-column.mobile.tablet {
    display: grid;
  }
}
@media screen and (min-width: 59rem) {
  .grid.desktop,
  .two-column.desktop,
  .three-column.desktop {
    display: grid;
  }
}
.gutter {
  margin: 4rem;
}
.gutter-top {
  margin-top: 4rem;
}
.gutter-right {
  margin-right: 4rem;
}
.gutter-bottom {
  margin-bottom: 4rem;
}
.gutter-left {
  margin-left: 4rem;
}
.text-padding {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-padding-top {
  padding-top: 0.18em;
}
.text-padding-right {
  padding-right: 0.3236em;
}
.text-padding-bottom {
  padding-bottom: 0.22em;
}
.text-padding-left {
  padding-left: 0.3236em;
}
.text-margin {
  margin: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-margin-top {
  margin-top: 0.18em;
}
.text-margin-right {
  margin-right: 0.3236em;
}
.text-margin-bottom {
  margin-bottom: 0.22em;
}
.text-margin-left {
  margin-left: 0.3236em;
}
.bottom-margins * {
  margin-bottom: 2rem;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.initial {
  display: initial;
}
.table {
  display: table;
}
.flex,
.vertical-center,
.center-vertical {
  display: flex;
}
.inline-block {
  display: inline-block;
}
.static {
  position: static;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.margin-auto,
.container {
  margin-left: auto;
  margin-right: auto;
}
.width-auto {
  width: auto;
}
.inset {
  box-shadow: inset 1px 1px 1px rgba(14, 36, 0, 0.2);
}
.viewport-height {
  height: 100vh;
}
.min-viewport-height {
  min-height: 100vh;
}
.overflow-hidden {
  overflow: hidden;
}
.dashed {
  border-style: dashed;
}
.dotted {
  border-style: dotted;
}
.thick {
  border-width: 2px;
}
.thin {
  border-width: 0.5px;
}
.current-color {
  border-color: currentColor;
}
.fade {
  opacity: 0.65;
}
.monospace,
pre,
code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
}
.sans-serif {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.serif {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "Droid Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.text-transparent {
  color: transparent;
}
.big {
  font-size: 125%;
  line-height: 2.25;
}
.big.font-size {
  font-size: 22.5px;
}
.small,
.badge {
  font-size: 87.5%;
  line-height: 1.575;
}
.small.font-size {
  font-size: 15.75px;
}
.huge {
  font-size: 160%;
}
.huge.font-size {
  font-size: 28.8px;
}
.text-trim {
  line-height: 1;
}
.text-align-center,
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.grid-gap-margin {
  grid-gap: 2rem;
}
.grid-gap-border-width {
  grid-gap: 1px;
}
.grid-gap-text-padding,
.grid-gap-text-margin {
  grid-gap: 0.3236em;
}
.shade,
.white,
.light.red,
.orange,
.bright.orange,
.yellow,
.bright.yellow,
.light.green,
.bright.green,
.light.teal,
.bright.teal,
.cyan,
.bright.cyan,
.light.magenta,
.light.gray,
.bright.gray,
.default,
.bright.default,
.accent,
.second.accent,
.triad,
.tetrad,
.fourth.tetrad,
body,
input,
textarea,
.info,
.bright.info,
.warning,
.bright.warning,
.light.success,
.bright.success,
.light.failure {
  color: #0e2400;
}
.tint,
.black,
.red,
.bright.red,
.green,
.teal,
.blue,
.bright.blue,
.purple,
.bright.purple,
.magenta,
.bright.magenta,
.gray,
.reaction,
.bright.reaction,
.dark.default,
.complement,
.split,
.second.split,
.third.triad,
.second.tetrad,
.third.tetrad,
.success,
.failure,
.bright.failure,
.second.triad {
  color: #f5fdf0;
}
.transparent {
  background-color: transparent;
  color: inherit;
  border-color: inherit;
}
.transparent.light {
  background-color: rgba(245, 253, 240, 0.16);
}
.transparent.dark,
.modal {
  background-color: rgba(14, 36, 0, 0.25);
}
.trim,
.trim-inner *,
.trim-all,
.trim-all * {
  margin-bottom: 0;
}
.bump {
  position: relative;
}
.bump.up {
  top: -2px;
}
.bump.down {
  top: 2px;
}
.bump.left {
  left: -2px;
}
.bump.right {
  right: initial;
  left: 2px;
}
.hidden {
  display: none !important;
}
.clearfix,
.clear {
  clear: both;
}
.clearfix::after,
.clear::after {
  display: block;
  clear: both;
  content: "";
}
.character-width {
  max-width: 1ch;
}
.golden-width {
  max-width: calc(62% - 4rem);
}
.golden-width.reverse {
  max-width: 38%;
}
.aside-width {
  max-width: 22rem;
}
@media screen and (min-width: 41rem) {
  .text-width {
    max-width: 37rem;
  }
}
.page-width,
.container {
  max-width: 59rem;
}
.full-width,
.page-width .page-width {
  display: block;
  width: 100%;
}
.inner-aside-width {
  padding-left: calc(50% - 11rem);
  padding-right: calc(50% - 11rem);
}
.inner-aside-width.padding {
  padding-left: calc(50% - 10rem);
  padding-right: calc(50% - 10rem);
}
.inner-aside-width.responsive.padding {
  padding-left: calc(50% - 10.62rem);
  padding-right: calc(50% - 10.62rem);
}
@media screen and (max-width: calc(41rem - 1px)) {
  .inner-text-width {
    padding-left: initial;
    padding-right: initial;
  }
  .inner-text-width.padding {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .inner-text-width.responsive.padding {
    padding-left: 0.382rem;
    padding-right: 0.382rem;
  }
}
@media screen and (min-width: 41rem) {
  .inner-aside-width.tablet.padding {
    padding-left: calc(50% - 10rem);
    padding-right: calc(50% - 10rem);
  }
  .inner-aside-width.tablet.responsive.padding {
    padding-left: calc(50% - 10.38rem);
    padding-right: calc(50% - 10.38rem);
  }
  .inner-text-width {
    padding-left: calc(50% - 18.5rem);
    padding-right: calc(50% - 18.5rem);
  }
  .inner-text-width.padding {
    padding-left: calc(50% - 17.5rem);
    padding-right: calc(50% - 17.5rem);
  }
  .inner-text-width.responsive.padding {
    padding-left: calc(50% - 17.88rem);
    padding-right: calc(50% - 17.88rem);
  }
}
@media screen and (min-width: 59rem) {
  .inner-aside-width.desktop.padding {
    padding-left: calc(50% - 10rem);
    padding-right: calc(50% - 10rem);
  }
  .inner-aside-width.desktop.responsive.padding {
    padding-left: calc(50% - 10rem);
    padding-right: calc(50% - 10rem);
  }
  .inner-text-width.desktop.padding {
    padding-left: calc(50% - 17.5rem);
    padding-right: calc(50% - 17.5rem);
  }
  .inner-text-width.desktop.responsive.padding {
    padding-left: calc(50% - 17.5rem);
    padding-right: calc(50% - 17.5rem);
  }
  .inner-page-width {
    padding-left: calc(50% - 29.5rem);
    padding-right: calc(50% - 29.5rem);
  }
  .inner-page-width.padding {
    padding-left: calc(50% - 28.5rem);
    padding-right: calc(50% - 28.5rem);
  }
  .inner-page-width.responsive.padding {
    padding-left: calc(50% - 28.5rem);
    padding-right: calc(50% - 28.5rem);
  }
}
.placeholder {
  min-height: 10px;
}
.placeholder::before {
  content: " ";
  white-space: pre;
}
.placeholder::after {
  content: "";
  display: block;
}
.placeholder.square::after,
.placeholder.one-to-one::after {
  padding-top: 100%;
}
.placeholder.four-to-three::after {
  padding-top: 75%;
}
.placeholder.sixteen-to-nine::after {
  padding-top: 56.25%;
}
.hide {
  display: none;
}
.hide.tablet {
  display: initial;
}
.hide.desktop {
  display: initial;
}
@media screen and (max-width: calc(41rem - 1px)) {
  .hide.mobile {
    display: none;
  }
}
@media screen and (min-width: 41rem) {
  .hide.mobile {
    display: initial;
  }
  .hide.tablet {
    display: none;
  }
}
@media screen and (min-width: 59rem) {
  .hide.desktop {
    display: none;
  }
  .hide.mobile.tablet {
    display: initial;
  }
}
@media screen and (max-width: calc(59rem - 1px)) {
  .hide.mobile.tablet {
    display: none;
  }
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-margin-right {
  margin-right: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.no-margin-left {
  margin-left: 0 !important;
}
.no-padding {
  padding: 0;
}
.no-margin,
.no-gutter {
  margin: 0;
}
.no-side-margin,
.no-side-margins {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.no-margins {
  margin: 0 !important;
}
.no-margins * {
  margin: 0 !important;
}
.no-box-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  box-shadow: unset;
}
.no-text-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  text-shadow: unset;
}
.no-border,
.no-borders,
.no-borders * {
  border-width: 0 !important;
}
.no-background {
  background: transparent;
}
.no-text-indent {
  text-indent: 0;
}
.no-text,
.no-text * {
  text-indent: -9999px;
}
.no-text-align {
  text-align: initial;
}
.no-user-select {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.no-pointer-events {
  pointer-events: none;
}
.no-list-style {
  list-style-type: none;
  margin-left: 0;
}
.no-grid-gap,
.no-column-gap {
  grid-gap: 0;
  column-gap: 0;
}
