/* This project uses Cavepaint (MIT License) by Rex Riepe */
/* https://github.com/cavepaint/cavepaintCSS */
.background {
  background: #f3fdf0;
}
.background-color {
  background-color: #f3fdf0;
}
.border {
  border: 1px solid #7bbe66;
}
.border-radius,
.rounded {
  border-radius: 0.5em;
}
.border-bottom {
  border-bottom: 1px solid #7bbe66;
}
.border-left {
  border-left: 1px solid #7bbe66;
}
.border-right {
  border-right: 1px solid #7bbe66;
}
.border-style,
.button.border,
button.border {
  border-style: solid;
}
.border-top {
  border-top: 1px solid #7bbe66;
}
.border-width,
.button.border,
button.border {
  border-width: 1px;
}
.max-width {
  max-width: 59rem;
}
.min-width {
  min-width: 22rem;
}
.align-content {
  align-content: stretch;
}
.align-items {
  align-items: stretch;
}
.align-self {
  align-self: auto;
}
.flex,
.vertical-center,
.center-vertical {
  flex: 0 1 auto;
}
.flex-direction,
.vertical-center,
.center-vertical {
  flex-direction: column;
}
.justify-content,
.vertical-center,
.center-vertical {
  justify-content: center;
}
.font-family,
body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.font-size {
  font-size: 18px;
}
.font-weight {
  font-weight: normal;
}
.list-style {
  list-style: disc inside none;
}
.list-style-type {
  list-style-type: disc;
}
.margin {
  margin: 2rem;
}
.margin-bottom,
pre,
.bar,
.card {
  margin-bottom: 2rem;
}
.margin-left {
  margin-left: 2rem;
}
.margin-right {
  margin-right: 2rem;
}
.margin-top {
  margin-top: 2rem;
}
.column-gap {
  column-gap: 1.94em;
}
.column-rule {
  column-rule: 1px solid #7bbe66;
}
.padding {
  padding: 1rem;
}
.padding-bottom {
  padding-bottom: 1rem;
}
.padding-left {
  padding-left: 1rem;
}
.padding-right {
  padding-right: 1rem;
}
.padding-top {
  padding-top: 1rem;
}
.text-align {
  text-align: left;
}
.text-align-last {
  text-align-last: left;
}
.text-indent {
  text-indent: 2ch;
}
.text-justify {
  text-justify: justify;
}
.text-overflow {
  text-overflow: hidden;
}
.text-shadow {
  text-shadow: 1px 1px 1px rgba(8, 35, 1, 0.2);
}
.line-height {
  line-height: 1.8;
}
.vertical-align {
  vertical-align: middle;
}
.letter-spacing {
  letter-spacing: 0;
}
.word-spacing {
  word-spacing: normal;
}
.white-space {
  white-space: nowrap;
}
.word-break {
  word-break: break-all;
}
.word-wrap {
  word-wrap: break-word;
}
.transform {
  transform: none;
}
.transition {
  transition: all 0s ease 0s;
}
.display {
  display: block;
}
.position {
  position: absolute;
}
.top {
  top: 0;
}
.right {
  right: 0;
}
.bottom {
  bottom: 0;
}
.left {
  left: 0;
}
.float {
  float: left;
}
.clear {
  clear: both;
}
.z-index {
  z-index: 10;
}
.overflow {
  overflow: hidden;
}
.cursor {
  cursor: pointer;
}
.box-shadow {
  box-shadow: 1px 1px 1px rgba(8, 35, 1, 0.2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-size: 18px;
  line-height: 1.8;
  margin: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
nav {
  z-index: 99;
}
nav a {
  text-decoration: none;
}
aside {
  margin: 0 auto;
  margin-bottom: 2rem;
  max-width: 22rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-top: 0.49443758em;
  margin-bottom: 0.74165637em;
  letter-spacing: -0.025em;
  color: inherit;
  line-height: 1.618;
}
h1 {
  font-size: 2.4em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1em;
}
p {
  margin-bottom: 1em;
}
p.gutter-bottom {
  margin-bottom: 1.618em;
}
p.gutter {
  margin-bottom: 4rem;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: inherit;
  text-decoration: underline;
}
form {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input {
  font-size: 18px;
  line-height: 1.8;
  border: 1px solid #7bbe66;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input:focus {
  box-shadow: 0 0 2px #00ffc3;
}
fieldset {
  border: none;
  outline: none;
}
ol {
  padding-left: 4ch;
  margin-bottom: 2rem;
}
ol li {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
ul {
  margin-left: 1rem;
  margin-bottom: 2rem;
}
li {
  margin-bottom: 0.44em;
}
kbd {
  color: #f3fdf0;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  white-space: nowrap;
}
b {
  padding: 0.18em 0 0.22em 0;
}
pre {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  overflow: hidden;
  border-radius: 0.5em;
  background: #082301;
  color: #f3fdf0;
}
pre.white-space,
pre.word-break {
  white-space: pre-wrap;
}
pre > code {
  background: transparent;
  padding: 0;
}
code {
  color: #f3fdf0;
  background-color: #082301;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
code.terminal::before {
  content: "$ ";
}
textarea {
  font-size: 18px;
  line-height: 1.8;
  border: 1px solid #7bbe66;
  border-radius: 0.5em;
  margin-bottom: 2rem;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
textarea:focus {
  box-shadow: 0 0 2px #00ffc3;
}
.button,
button {
  border-style: solid;
  border-radius: 0.5em;
  box-shadow: 1px 1px 1px rgba(8, 35, 1, 0.2);
  display: inline;
  position: relative;
  font-family: inherit;
  font-size: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  color: inherit;
  background-color: inherit;
  border-color: #53943f;
  border-width: 1px;
  line-height: 1.6;
  text-align: center;
  vertical-align: middle;
  outline: none;
  white-space: nowrap;
  text-decoration: none;
  touch-action: manipulation;
  cursor: pointer;
  transform: scale(1);
  transition: 0.08s linear;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.button:active,
button:active {
  transform: scale(0.99);
  box-shadow: unset;
}
.bar {
  position: relative;
  width: 100%;
  display: block;
  vertical-align: middle;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.bar > * {
  display: inline;
  margin-right: 0.3236em;
  margin-left: 0.3236em;
}
.card {
  position: relative;
  overflow: hidden;
  padding: 1rem;
  border: 1px solid #7bbe66;
  border-radius: 0.5em;
  box-shadow: 1px 1px 1px rgba(8, 35, 1, 0.2);
}
.card > *:first-child {
  margin-top: 0;
}
.badge {
  border-radius: 0.5em;
  line-height: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  padding-right: 0.6472em;
  padding-left: 0.6472em;
  vertical-align: middle;
  border-radius: 99px;
  white-space: nowrap;
}
.modal {
  display: none;
  max-width: none;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  position: fixed;
  bottom: 0;
  justify-content: center;
  flex: 0 1 auto;
  flex-direction: column;
  height: 100vh;
}
.modal > * {
  flex-direction: column;
  color: #082301;
  position: relative;
  background: #f3fdf0;
  padding: 1rem;
  margin-bottom: 4rem;
  border-radius: 0.5em;
  box-shadow: 1px 1px 1px rgba(8, 35, 1, 0.2);
  margin: 1rem;
}
@media screen and (min-width: 41rem) {
  .modal > * {
    max-width: 59rem;
    margin: 0 auto;
  }
}
.overlay {
  margin: 0;
  padding: 0;
  position: relative;
}
.overlay .top,
.overlay .bottom,
.overlay .left,
.overlay .right {
  position: absolute;
}
.overlay .top {
  top: 0.3236em;
}
.overlay .bottom {
  bottom: 0.3236em;
}
.overlay .left {
  left: 0.3236em;
}
.overlay .right {
  right: 0.3236em;
}
.overlay.stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.overlay * {
  margin: 0;
  display: block;
}
.white,
body,
input,
textarea {
  background-color: #f3fdf0;
  border-color: #7c8879;
}
.white.light,
body.light,
input.light,
textarea.light {
  color: #082301;
  background-color: #f9fef7;
  border-color: #7f887d;
}
.white.dark,
body.dark,
input.dark,
textarea.dark {
  color: #082301;
  background-color: #e8fbe2;
  border-color: #778772;
}
.black {
  background-color: #082301;
  border-color: #041100;
}
.black.light {
  color: #f3fdf0;
  background-color: #1d5b03;
  border-color: #113802;
}
.black.dark {
  color: #f3fdf0;
  background-color: #000500;
  border-color: #010d00;
}
.ambient {
  color: #082301;
  background-color: #35d906;
  border-color: #1d7703;
}
.ambient.light {
  color: #082301;
  background-color: #6eeb13;
  border-color: #3c7f0a;
}
.ambient.dark {
  color: #082301;
  background-color: #0ec200;
  border-color: #086b00;
}
.ambient.bright {
  color: #082301;
  background-color: #7cf324;
  border-color: #428413;
}
.red,
.failure {
  background-color: #da2c00;
  border-color: #781800;
}
.light.red,
.light.failure {
  background-color: #e36a44;
  border-color: #7b3823;
}
.dark.red,
.dark.failure {
  background-color: #a02300;
  border-color: #5a1400;
}
.bright.red,
.bright.failure {
  background-color: #ff1e0f;
  border-color: #8a1007;
}
.orange,
.warning {
  background-color: #e7af00;
  border-color: #7e5f00;
}
.light.orange,
.light.warning {
  background-color: #ecc744;
  border-color: #806b23;
}
.dark.orange,
.dark.warning {
  background-color: #aa8b00;
  border-color: #5f4e00;
}
.bright.orange,
.bright.warning {
  background-color: #ffd415;
  border-color: #8a730b;
}
.yellow {
  background-color: #e7ff00;
  border-color: #7d8a00;
}
.light.yellow {
  background-color: #ecff44;
  border-color: #7f8a22;
}
.dark.yellow {
  background-color: #aace00;
  border-color: #5d7100;
}
.bright.yellow {
  background-color: #fbff19;
  border-color: #888a0d;
}
.green,
.success {
  background-color: #009600;
  border-color: #005500;
}
.light.green,
.light.success {
  background-color: #45b544;
  border-color: #256324;
}
.dark.green,
.dark.success {
  background-color: #007600;
  border-color: #004600;
}
.bright.green,
.bright.success {
  background-color: #00c200;
  border-color: #006b00;
}
.teal {
  background-color: #008e6c;
  border-color: #00523e;
}
.light.teal {
  background-color: #45af93;
  border-color: #256050;
}
.dark.teal {
  background-color: #00704c;
  border-color: #00422d;
}
.bright.teal {
  background-color: #00b56b;
  border-color: #00653c;
}
.cyan,
.info {
  background-color: #00ffc3;
  border-color: #008a6a;
}
.light.cyan,
.light.info {
  background-color: #45fed2;
  border-color: #238a71;
}
.dark.cyan,
.dark.info {
  background-color: #00ce89;
  border-color: #00714c;
}
.bright.cyan,
.bright.info {
  background-color: #19ffe6;
  border-color: #0d8a7c;
}
.blue {
  background-color: #002cc3;
  border-color: #00186c;
}
.light.blue {
  background-color: #456ad2;
  border-color: #243972;
}
.dark.blue {
  background-color: #002389;
  border-color: #00144f;
}
.bright.blue {
  background-color: #0011fc;
  border-color: #000989;
}
.purple {
  background-color: #741d6c;
  border-color: #43103e;
}
.light.purple {
  background-color: #9a5f93;
  border-color: #543351;
}
.dark.purple {
  background-color: #54184c;
  border-color: #320e2e;
}
.bright.purple {
  background-color: #820871;
  border-color: #4b0441;
}
.magenta {
  background-color: #da2cc3;
  border-color: #76176a;
}
.light.magenta {
  background-color: #e36ad2;
  border-color: #7b3671;
}
.dark.magenta {
  background-color: #a02389;
  border-color: #59134c;
}
.bright.magenta {
  background-color: #f627e6;
  border-color: #85147c;
}
.gray {
  background-color: #748e6c;
  border-color: #3e4e3a;
}
.light.gray {
  background-color: #9aaf93;
  border-color: #515f4d;
}
.dark.gray {
  background-color: #53704c;
  border-color: #2e3f29;
}
.bright.gray {
  background-color: #77a76a;
  border-color: #3f5b38;
}
.action,
.base-color {
  color: #f3fdf0;
  background-color: #31980e;
  border-color: #1c5608;
}
.action.light,
.base-color.light {
  color: #082301;
  background-color: #6ac42c;
  border-color: #3a6b17;
}
.action.dark,
.base-color.dark {
  color: #f3fdf0;
  background-color: #0c6b01;
  border-color: #074001;
}
.action.bright,
.base-color.bright {
  color: #082301;
  background-color: #3cde06;
  border-color: #217903;
}
.reaction {
  background-color: #5b276e;
  border-color: #34163f;
}
.light.reaction {
  background-color: #876795;
  border-color: #4a3751;
}
.dark.reaction {
  background-color: #41204d;
  border-color: #27122f;
}
.bright.reaction {
  background-color: #500f76;
  border-color: #2e0844;
}
.default {
  background-color: #7bbe66;
  border-color: #416735;
}
.light.default {
  background-color: #9fd18f;
  border-color: #53714a;
}
.dark.default {
  background-color: #589848;
  border-color: #305426;
}
.bright.default {
  background-color: #87e267;
  border-color: #477a35;
}
.complement,
.second.triad {
  background-color: #65297b;
  border-color: #391646;
}
.light.complement,
.light.second.triad {
  color: #f3fdf0;
  background-color: #8f689e;
  border-color: #4e3756;
}
.dark.complement,
.dark.second.triad {
  color: #f3fdf0;
  background-color: #492156;
  border-color: #2b1333;
}
.bright.complement,
.bright.second.triad {
  color: #f3fdf0;
  background-color: #600f8d;
  border-color: #360950;
}
.accent {
  background-color: #0fe339;
  border-color: #087b1f;
}
.light.accent {
  color: #082301;
  background-color: #50eb6e;
  border-color: #297f39;
}
.dark.accent {
  color: #082301;
  background-color: #0bb728;
  border-color: #066516;
}
.bright.accent {
  color: #082301;
  background-color: #17fd2d;
  border-color: #0c8918;
}
.second.accent {
  background-color: #9ce30e;
  border-color: #557b08;
}
.light.second.accent {
  color: #082301;
  background-color: #b7eb4e;
  border-color: #627f28;
}
.dark.second.accent {
  color: #082301;
  background-color: #72b70a;
  border-color: #3f6505;
}
.bright.second.accent {
  color: #082301;
  background-color: #bcfe16;
  border-color: #65890b;
}
.split {
  background-color: #0c807b;
  border-color: #074a47;
}
.light.split {
  color: #082301;
  background-color: #4ea69e;
  border-color: #2a5b56;
}
.dark.split {
  color: #f3fdf0;
  background-color: #096456;
  border-color: #053c33;
}
.bright.split {
  color: #f3fdf0;
  background-color: #019b8d;
  border-color: #015850;
}
.second.split {
  background-color: #83450b;
  border-color: #4b2806;
}
.light.second.split {
  color: #f3fdf0;
  background-color: #a57c4c;
  border-color: #5a4329;
}
.dark.second.split {
  color: #f3fdf0;
  background-color: #5f3708;
  border-color: #392105;
}
.bright.second.split {
  color: #f3fdf0;
  background-color: #a02d01;
  border-color: #5a1901;
}
.triad {
  background-color: #0c9d5e;
  border-color: #075835;
}
.light.triad {
  color: #082301;
  background-color: #4eba89;
  border-color: #29654a;
}
.dark.triad {
  color: #f3fdf0;
  background-color: #097c42;
  border-color: #054826;
}
.bright.triad {
  color: #082301;
  background-color: #01cd50;
  border-color: #01712c;
}
.third.triad {
  background-color: #83800b;
  border-color: #4b4906;
}
.light.third.triad {
  color: #082301;
  background-color: #a5a54c;
  border-color: #5a5b29;
}
.dark.third.triad {
  color: #f3fdf0;
  background-color: #5f6408;
  border-color: #393c05;
}
.bright.third.triad {
  color: #082301;
  background-color: #a09801;
  border-color: #5a5601;
}
.tetrad {
  background-color: #0c9d43;
  border-color: #075825;
}
.light.tetrad {
  color: #082301;
  background-color: #4eba75;
  border-color: #29653f;
}
.dark.tetrad {
  color: #f3fdf0;
  background-color: #097c2f;
  border-color: #05481b;
}
.bright.tetrad {
  color: #082301;
  background-color: #01cd28;
  border-color: #017116;
}
.second.tetrad {
  background-color: #0c297b;
  border-color: #071847;
}
.light.second.tetrad {
  color: #f3fdf0;
  background-color: #4e689e;
  border-color: #2a3857;
}
.dark.second.tetrad {
  color: #f3fdf0;
  background-color: #092156;
  border-color: #051435;
}
.bright.second.tetrad {
  color: #f3fdf0;
  background-color: #01108f;
  border-color: #010952;
}
.third.tetrad {
  background-color: #832943;
  border-color: #4a1626;
}
.light.third.tetrad {
  color: #f3fdf0;
  background-color: #a56875;
  border-color: #5a373f;
}
.dark.third.tetrad {
  color: #f3fdf0;
  background-color: #5f212f;
  border-color: #38121b;
}
.bright.third.tetrad {
  color: #f3fdf0;
  background-color: #9e0f2a;
  border-color: #590817;
}
.fourth.tetrad {
  background-color: #839d0b;
  border-color: #4a5806;
}
.light.fourth.tetrad {
  color: #082301;
  background-color: #a5ba4c;
  border-color: #596528;
}
.dark.fourth.tetrad {
  color: #f3fdf0;
  background-color: #5f7c08;
  border-color: #374805;
}
.bright.fourth.tetrad {
  color: #082301;
  background-color: #9acd01;
  border-color: #557101;
}
.warm {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201%201%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23cd7a3f%22%20opacity%3D%220.2%22%20d%3D%22M0%200h1v1H0z%22%2F%3E%3C%2Fsvg%3E");
}
.cool {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201%201%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%231e5ba7%22%20opacity%3D%220.2%22%20d%3D%22M0%200h1v1H0z%22%2F%3E%3C%2Fsvg%3E");
}
.neutral {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201%201%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%2306a766%22%20opacity%3D%220.16%22%20d%3D%22M0%200h1v1H0z%22%2F%3E%3C%2Fsvg%3E");
}
.dull {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201%201%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23678d5d%22%20opacity%3D%220.38%22%20d%3D%22M0%200h1v1H0z%22%2F%3E%3C%2Fsvg%3E");
}
.responsive {
  column-gap: 0.382rem;
  grid-gap: 0.382rem;
}
.responsive.padding,
.modal,
.container {
  padding: 0.382rem;
}
.responsive.margin,
.container {
  margin: 0.764rem;
}
.responsive.gutter {
  margin: 1.528rem;
}
@media screen and (min-width: 41rem) {
  .responsive {
    column-gap: 0.618rem;
    grid-gap: 0.618rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 0.618rem;
  }
  .responsive.margin,
  .container {
    margin: 1.236rem;
  }
  .responsive.gutter {
    margin: 2.472rem;
  }
}
@media screen and (min-width: 59rem) {
  .responsive {
    column-gap: 1rem;
    grid-gap: 1rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1rem;
  }
  .responsive.margin,
  .container {
    margin: 2rem;
  }
  .responsive.gutter {
    margin: 4rem;
  }
}
.grid,
.two-column,
.three-column {
  display: grid;
  grid-gap: 2rem;
  margin-bottom: 2rem;
}
.grid.tablet,
.two-column.tablet,
.three-column.tablet,
.grid.mobile.tablet,
.two-column.mobile.tablet,
.three-column.mobile.tablet,
.grid.desktop,
.two-column.desktop,
.three-column.desktop {
  display: unset;
}
.grid {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.two-column {
  grid-template-columns: 1fr 1fr;
}
.two-column.golden {
  grid-template-columns: 1.618fr 1fr;
}
.two-column.golden.reverse {
  grid-template-columns: 1fr 1.618fr;
}
.three-column {
  grid-template-columns: 1fr 1fr 1fr;
}
.three-column.golden {
  grid-template-columns: 1fr 1.618fr 1fr;
}
.three-column.golden.leading {
  grid-template-columns: 1.618fr 1fr 1fr;
}
.three-column.golden.trailing {
  grid-template-columns: 1fr 1fr 1.618fr;
}
.grid-width-one {
  grid-column: auto / span 1;
}
.grid-width-two {
  grid-column: auto / span 2;
}
.grid-width-three {
  grid-column: auto / span 3;
}
.grid-width-four {
  grid-column: auto / span 4;
}
.grid-width-five {
  grid-column: auto / span 5;
}
.grid-width-six {
  grid-column: auto / span 6;
}
.grid-width-seven {
  grid-column: auto / span 7;
}
.grid-width-eight {
  grid-column: auto / span 8;
}
.grid-width-nine {
  grid-column: auto / span 9;
}
.grid-width-ten {
  grid-column: auto / span 10;
}
.grid-width-eleven {
  grid-column: auto / span 11;
}
.grid-width-twelve {
  grid-column: auto / span 12;
}
@media screen and (max-width: calc(41rem - 1px)) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: grid;
  }
}
@media screen and (min-width: 41rem) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: initial;
  }
  .grid.tablet,
  .two-column.tablet,
  .three-column.tablet {
    display: grid;
  }
}
@media screen and (max-width: calc(59rem - 1px)) {
  .grid.mobile.tablet,
  .two-column.mobile.tablet,
  .three-column.mobile.tablet {
    display: grid;
  }
}
@media screen and (min-width: 59rem) {
  .grid.desktop,
  .two-column.desktop,
  .three-column.desktop {
    display: grid;
  }
}
.gutter {
  margin: 4rem;
}
.gutter-top {
  margin-top: 4rem;
}
.gutter-right {
  margin-right: 4rem;
}
.gutter-bottom {
  margin-bottom: 4rem;
}
.gutter-left {
  margin-left: 4rem;
}
.text-padding {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-padding-top {
  padding-top: 0.18em;
}
.text-padding-right {
  padding-right: 0.3236em;
}
.text-padding-bottom {
  padding-bottom: 0.22em;
}
.text-padding-left {
  padding-left: 0.3236em;
}
.text-margin {
  margin: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-margin-top {
  margin-top: 0.18em;
}
.text-margin-right {
  margin-right: 0.3236em;
}
.text-margin-bottom {
  margin-bottom: 0.22em;
}
.text-margin-left {
  margin-left: 0.3236em;
}
.bottom-margins * {
  margin-bottom: 2rem;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.initial {
  display: initial;
}
.table {
  display: table;
}
.flex,
.vertical-center,
.center-vertical {
  display: flex;
}
.inline-block {
  display: inline-block;
}
.static {
  position: static;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.margin-auto,
.container {
  margin-left: auto;
  margin-right: auto;
}
.width-auto {
  width: auto;
}
.inset {
  box-shadow: inset 1px 1px 1px rgba(8, 35, 1, 0.2);
}
.viewport-height {
  height: 100vh;
}
.min-viewport-height {
  min-height: 100vh;
}
.overflow-hidden {
  overflow: hidden;
}
.dashed {
  border-style: dashed;
}
.dotted {
  border-style: dotted;
}
.thick {
  border-width: 2px;
}
.thin {
  border-width: 0.5px;
}
.current-color {
  border-color: currentColor;
}
.fade {
  opacity: 0.65;
}
.monospace,
pre,
code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
}
.sans-serif {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.serif {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "Droid Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.text-transparent {
  color: transparent;
}
.big {
  font-size: 125%;
  line-height: 2.25;
}
.big.font-size {
  font-size: 22.5px;
}
.small,
.badge {
  font-size: 87.5%;
  line-height: 1.575;
}
.small.font-size {
  font-size: 15.75px;
}
.huge {
  font-size: 160%;
}
.huge.font-size {
  font-size: 28.8px;
}
.text-trim {
  line-height: 1;
}
.text-align-center,
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.grid-gap-margin {
  grid-gap: 2rem;
}
.grid-gap-border-width {
  grid-gap: 1px;
}
.grid-gap-text-padding,
.grid-gap-text-margin {
  grid-gap: 0.3236em;
}
.shade,
.white,
.orange,
.bright.orange,
.yellow,
.bright.yellow,
.light.green,
.bright.green,
.light.teal,
.bright.teal,
.cyan,
.bright.cyan,
.light.magenta,
.light.gray,
.bright.gray,
.default,
.bright.default,
.accent,
.second.accent,
.fourth.tetrad,
body,
input,
textarea,
.info,
.bright.info,
.warning,
.bright.warning,
.light.success,
.bright.success {
  color: #082301;
}
.tint,
.black,
.red,
.bright.red,
.dark.orange,
.green,
.teal,
.blue,
.bright.blue,
.purple,
.bright.purple,
.magenta,
.bright.magenta,
.gray,
.reaction,
.bright.reaction,
.dark.default,
.complement,
.split,
.second.split,
.triad,
.third.triad,
.tetrad,
.second.tetrad,
.third.tetrad,
.dark.warning,
.success,
.failure,
.bright.failure,
.second.triad {
  color: #f3fdf0;
}
.transparent {
  background-color: transparent;
  color: inherit;
  border-color: inherit;
}
.transparent.light {
  background-color: rgba(243, 253, 240, 0.16);
}
.transparent.dark,
.modal {
  background-color: rgba(8, 35, 1, 0.25);
}
.trim,
.trim-inner *,
.trim-all,
.trim-all * {
  margin-bottom: 0;
}
.bump {
  position: relative;
}
.bump.up {
  top: -2px;
}
.bump.down {
  top: 2px;
}
.bump.left {
  left: -2px;
}
.bump.right {
  right: initial;
  left: 2px;
}
.hidden {
  display: none !important;
}
.clearfix,
.clear {
  clear: both;
}
.clearfix::after,
.clear::after {
  display: block;
  clear: both;
  content: "";
}
.character-width {
  max-width: 1ch;
}
.golden-width {
  max-width: calc(62% - 4rem);
}
.golden-width.reverse {
  max-width: 38%;
}
.aside-width {
  max-width: 22rem;
}
@media screen and (min-width: 41rem) {
  .text-width {
    max-width: 37rem;
  }
}
.page-width,
.container {
  max-width: 59rem;
}
.full-width,
.page-width .page-width {
  display: block;
  width: 100%;
}
.inner-aside-width {
  padding-left: calc(50% - 11rem);
  padding-right: calc(50% - 11rem);
}
.inner-aside-width.padding {
  padding-left: calc(50% - 10rem);
  padding-right: calc(50% - 10rem);
}
.inner-aside-width.responsive.padding {
  padding-left: calc(50% - 10.62rem);
  padding-right: calc(50% - 10.62rem);
}
@media screen and (max-width: calc(41rem - 1px)) {
  .inner-text-width {
    padding-left: initial;
    padding-right: initial;
  }
  .inner-text-width.padding {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .inner-text-width.responsive.padding {
    padding-left: 0.382rem;
    padding-right: 0.382rem;
  }
}
@media screen and (min-width: 41rem) {
  .inner-aside-width.tablet.padding {
    padding-left: calc(50% - 10rem);
    padding-right: calc(50% - 10rem);
  }
  .inner-aside-width.tablet.responsive.padding {
    padding-left: calc(50% - 10.38rem);
    padding-right: calc(50% - 10.38rem);
  }
  .inner-text-width {
    padding-left: calc(50% - 18.5rem);
    padding-right: calc(50% - 18.5rem);
  }
  .inner-text-width.padding {
    padding-left: calc(50% - 17.5rem);
    padding-right: calc(50% - 17.5rem);
  }
  .inner-text-width.responsive.padding {
    padding-left: calc(50% - 17.88rem);
    padding-right: calc(50% - 17.88rem);
  }
}
@media screen and (min-width: 59rem) {
  .inner-aside-width.desktop.padding {
    padding-left: calc(50% - 10rem);
    padding-right: calc(50% - 10rem);
  }
  .inner-aside-width.desktop.responsive.padding {
    padding-left: calc(50% - 10rem);
    padding-right: calc(50% - 10rem);
  }
  .inner-text-width.desktop.padding {
    padding-left: calc(50% - 17.5rem);
    padding-right: calc(50% - 17.5rem);
  }
  .inner-text-width.desktop.responsive.padding {
    padding-left: calc(50% - 17.5rem);
    padding-right: calc(50% - 17.5rem);
  }
  .inner-page-width {
    padding-left: calc(50% - 29.5rem);
    padding-right: calc(50% - 29.5rem);
  }
  .inner-page-width.padding {
    padding-left: calc(50% - 28.5rem);
    padding-right: calc(50% - 28.5rem);
  }
  .inner-page-width.responsive.padding {
    padding-left: calc(50% - 28.5rem);
    padding-right: calc(50% - 28.5rem);
  }
}
.placeholder {
  min-height: 10px;
}
.placeholder::before {
  content: " ";
  white-space: pre;
}
.placeholder::after {
  content: "";
  display: block;
}
.placeholder.square::after,
.placeholder.one-to-one::after {
  padding-top: 100%;
}
.placeholder.four-to-three::after {
  padding-top: 75%;
}
.placeholder.sixteen-to-nine::after {
  padding-top: 56.25%;
}
.hide {
  display: none;
}
.hide.tablet {
  display: initial;
}
.hide.desktop {
  display: initial;
}
@media screen and (max-width: calc(41rem - 1px)) {
  .hide.mobile {
    display: none;
  }
}
@media screen and (min-width: 41rem) {
  .hide.mobile {
    display: initial;
  }
  .hide.tablet {
    display: none;
  }
}
@media screen and (min-width: 59rem) {
  .hide.desktop {
    display: none;
  }
  .hide.mobile.tablet {
    display: initial;
  }
}
@media screen and (max-width: calc(59rem - 1px)) {
  .hide.mobile.tablet {
    display: none;
  }
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-margin-right {
  margin-right: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.no-margin-left {
  margin-left: 0 !important;
}
.no-padding {
  padding: 0;
}
.no-margin,
.no-gutter {
  margin: 0;
}
.no-side-margin,
.no-side-margins {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.no-margins {
  margin: 0 !important;
}
.no-margins * {
  margin: 0 !important;
}
.no-box-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  box-shadow: unset;
}
.no-text-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  text-shadow: unset;
}
.no-border,
.no-borders,
.no-borders * {
  border-width: 0 !important;
}
.no-background {
  background: transparent;
}
.no-text-indent {
  text-indent: 0;
}
.no-text,
.no-text * {
  text-indent: -9999px;
}
.no-text-align {
  text-align: initial;
}
.no-user-select {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.no-pointer-events {
  pointer-events: none;
}
.no-list-style {
  list-style-type: none;
  margin-left: 0;
}
.no-grid-gap,
.no-column-gap {
  grid-gap: 0;
  column-gap: 0;
}
