/* This project uses Cavepaint! (MIT License) */
/* https://github.com/cavepaint/cavepaintCSS */
* {
  margin: 0 0 1.62rem 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}
.button,
button {
  border-style: solid;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(40, 40, 38, 0.16);
  display: inline;
  position: relative;
  font-family: inherit;
  font-size: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  color: inherit;
  background-color: inherit;
  border-color: #9b8a78;
  border-width: 1px;
  line-height: 1.6;
  text-align: center;
  vertical-align: middle;
  outline: none;
  white-space: nowrap;
  text-decoration: none;
  touch-action: manipulation;
  cursor: pointer;
  transform: scale(1);
  transition: 0.08s linear;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.button:active,
button:active {
  transform: scale(0.99);
  box-shadow: unset;
}
.bar {
  position: relative;
  width: 100%;
  display: block;
  vertical-align: middle;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.bar > * {
  display: inline;
  margin-right: 0.3236em;
  margin-left: 0.3236em;
  margin-bottom: 0;
}
.card {
  position: relative;
  overflow: hidden;
  padding: 1.62rem;
  border: 1px solid #bdb3a7;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(40, 40, 38, 0.16);
}
.card > *:first-child {
  margin-top: 0;
}
.card > *:last-child {
  margin-bottom: 0;
}
.badge {
  border-radius: 0.5em;
  line-height: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  padding-right: 0.6472em;
  padding-left: 0.6472em;
  vertical-align: middle;
  border-radius: 99px;
  white-space: nowrap;
}
.modal {
  display: none;
  max-width: none;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  position: fixed;
  bottom: 0;
  justify-content: center;
  flex: 0 1 auto;
  flex-direction: column;
  height: 100vh;
}
.modal > * {
  flex-direction: column;
  color: #262628;
  position: relative;
  background: #fefeff;
  padding: 1.62rem;
  margin-bottom: 3.24rem;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(40, 40, 38, 0.16);
  margin: 1.62rem;
}
@media screen and (min-width: 41.24rem) {
  .modal > * {
    max-width: 61rem;
    margin: 0 auto;
  }
}
.overlay {
  margin: 0;
  padding: 0;
  position: relative;
}
.overlay .top,
.overlay .bottom,
.overlay .left,
.overlay .right {
  position: absolute;
}
.overlay .top {
  top: 0.3236em;
}
.overlay .bottom {
  bottom: 0.3236em;
}
.overlay .left {
  left: 0.3236em;
}
.overlay .right {
  right: 0.3236em;
}
.overlay.stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.overlay * {
  margin: 0;
  display: block;
}
.grid,
.two-column,
.three-column {
  display: grid;
  grid-gap: 1.62rem;
}
.grid.tablet,
.two-column.tablet,
.three-column.tablet,
.grid.mobile.tablet,
.two-column.mobile.tablet,
.three-column.mobile.tablet,
.grid.desktop,
.two-column.desktop,
.three-column.desktop {
  display: initial;
}
.grid {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.two-column {
  grid-template-columns: 1fr 1fr;
}
.two-column.golden {
  grid-template-columns: 1.618fr 1fr;
}
.two-column.golden.reverse {
  grid-template-columns: 1fr 1.618fr;
}
.three-column {
  grid-template-columns: 1fr 1fr 1fr;
}
.three-column.golden {
  grid-template-columns: 1fr 1.618fr 1fr;
}
.three-column.golden.leading {
  grid-template-columns: 1.618fr 1fr 1fr;
}
.three-column.golden.trailing {
  grid-template-columns: 1fr 1fr 1.618fr;
}
.grid .grid-width-one {
  grid-column: auto / span 1;
}
.grid .grid-width-two {
  grid-column: auto / span 2;
}
.grid .grid-width-three {
  grid-column: auto / span 3;
}
.grid .grid-width-four {
  grid-column: auto / span 4;
}
.grid .grid-width-five {
  grid-column: auto / span 5;
}
.grid .grid-width-six {
  grid-column: auto / span 6;
}
.grid .grid-width-seven {
  grid-column: auto / span 7;
}
.grid .grid-width-eight {
  grid-column: auto / span 8;
}
.grid .grid-width-nine {
  grid-column: auto / span 9;
}
.grid .grid-width-ten {
  grid-column: auto / span 10;
}
.grid .grid-width-eleven {
  grid-column: auto / span 11;
}
.grid .grid-width-twelve {
  grid-column: auto / span 12;
}
@media screen and (max-width: calc(41.24rem - 1px)) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: grid;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 41.24rem) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: initial;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: initial;
  }
  .grid.tablet,
  .two-column.tablet,
  .three-column.tablet {
    display: grid;
  }
  .grid.tablet > *,
  .two-column.tablet > *,
  .three-column.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (max-width: calc(61rem - 1px)) {
  .grid.mobile.tablet,
  .two-column.mobile.tablet,
  .three-column.mobile.tablet {
    display: grid;
  }
  .grid.mobile.tablet > *,
  .two-column.mobile.tablet > *,
  .three-column.mobile.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 61rem) {
  .grid.desktop,
  .two-column.desktop,
  .three-column.desktop {
    display: grid;
  }
  .grid.desktop > *,
  .two-column.desktop > *,
  .three-column.desktop > * {
    margin-bottom: 0;
  }
}
.responsive {
  column-gap: 0.619rem;
  grid-gap: 0.619rem;
}
.responsive.padding,
.modal,
.container {
  padding: 0.619rem;
}
.responsive.margin,
.container {
  margin: 0.619rem;
}
.responsive.gutter {
  margin: 1.238rem;
}
@media screen and (min-width: 41.24rem) {
  .responsive {
    column-gap: 1.001rem;
    grid-gap: 1.001rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.001rem;
  }
  .responsive.margin,
  .container {
    margin: 1.001rem;
  }
  .responsive.gutter {
    margin: 2.002rem;
  }
}
@media screen and (min-width: 61rem) {
  .responsive {
    column-gap: 1.62rem;
    grid-gap: 1.62rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.62rem;
  }
  .responsive.margin,
  .container {
    margin: 1.62rem;
  }
  .responsive.gutter {
    margin: 3.24rem;
  }
}
.background {
  background: #fefeff;
}
.background-color {
  background-color: #fefeff;
}
.border {
  border: 1px solid #bdb3a7;
}
.border-radius,
.rounded {
  border-radius: 0.5em;
}
.border-bottom {
  border-bottom: 1px solid #bdb3a7;
}
.border-left {
  border-left: 1px solid #bdb3a7;
}
.border-right {
  border-right: 1px solid #bdb3a7;
}
.border-style,
.button.border,
button.border {
  border-style: solid;
}
.border-top {
  border-top: 1px solid #bdb3a7;
}
.border-width,
.button.border,
button.border {
  border-width: 1px;
}
.max-width {
  max-width: 61rem;
}
.min-width {
  min-width: 23rem;
}
.align-content {
  align-content: stretch;
}
.align-items {
  align-items: stretch;
}
.align-self {
  align-self: auto;
}
.flex,
.vertical-center,
.center-vertical {
  flex: 0 1 auto;
}
.flex-basis {
  flex-basis: auto;
}
.flex-direction,
.vertical-center,
.center-vertical {
  flex-direction: column;
}
.flex-flow {
  flex-flow: column nowrap;
}
.flex-grow {
  flex-grow: 0;
}
.flex-shrink {
  flex-shrink: 1;
}
.flex-wrap {
  flex-wrap: nowrap;
}
.justify-content,
.vertical-center,
.center-vertical {
  justify-content: center;
}
.font-family {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.font-size {
  font-size: 17px;
}
.font-weight {
  font-weight: normal;
}
.list-style {
  list-style: disc inside none;
}
.list-style-type {
  list-style-type: disc;
}
.margin {
  margin: 1.62rem;
}
.margin-bottom {
  margin-bottom: 1.62rem;
}
.margin-left {
  margin-left: 1.62rem;
}
.margin-right {
  margin-right: 1.62rem;
}
.margin-top {
  margin-top: 1.62rem;
}
.column-gap {
  column-gap: 1.94em;
}
.column-rule {
  column-rule: 1px solid #bdb3a7;
}
.padding {
  padding: 1.62rem;
}
.padding-bottom {
  padding-bottom: 1.62rem;
}
.padding-left {
  padding-left: 1.62rem;
}
.padding-right {
  padding-right: 1.62rem;
}
.padding-top {
  padding-top: 1.62rem;
}
.text-align {
  text-align: left;
}
.text-align-last {
  text-align-last: left;
}
.text-indent {
  text-indent: 2ch;
}
.text-justify {
  text-justify: justify;
}
.text-overflow {
  text-overflow: hidden;
}
.text-shadow {
  text-shadow: 1.41px 1.41px 1.41px rgba(40, 40, 38, 0.16);
}
.line-height {
  line-height: 1.8;
}
.vertical-align {
  vertical-align: middle;
}
.letter-spacing {
  letter-spacing: 0;
}
.word-spacing {
  word-spacing: normal;
}
.white-space {
  white-space: nowrap;
}
.word-break {
  word-break: break-all;
}
.word-wrap {
  word-wrap: break-word;
}
.transform {
  transform: none;
}
.transition {
  transition: all 0s ease 0s;
}
.display {
  display: block;
}
.position {
  position: absolute;
}
.top {
  top: 0;
}
.right {
  right: 0;
}
.bottom {
  bottom: 0;
}
.left {
  left: 0;
}
.float {
  float: left;
}
.clear {
  clear: both;
}
.z-index {
  z-index: 10;
}
.overflow {
  overflow: hidden;
}
.overflow-x {
  overflow-x: hidden;
}
.cursor {
  cursor: pointer;
}
.box-shadow {
  box-shadow: 1.41px 1.41px 1.41px rgba(40, 40, 38, 0.16);
}
.gutter {
  margin: 3.24rem;
}
.gutter-top {
  margin-top: 3.24rem;
}
.gutter-right {
  margin-right: 3.24rem;
}
.gutter-bottom {
  margin-bottom: 3.24rem;
}
.gutter-left {
  margin-left: 3.24rem;
}
.text-padding {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-padding-top {
  padding-top: 0.18em;
}
.text-padding-right {
  padding-right: 0.3236em;
}
.text-padding-bottom {
  padding-bottom: 0.22em;
}
.text-padding-left {
  padding-left: 0.3236em;
}
.text-margin {
  margin: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-margin-top {
  margin-top: 0.18em;
}
.text-margin-right {
  margin-right: 0.3236em;
}
.text-margin-bottom {
  margin-bottom: 0.22em;
}
.text-margin-left {
  margin-left: 0.3236em;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.initial {
  display: initial;
}
.table {
  display: table;
}
.flex,
.vertical-center,
.center-vertical {
  display: flex;
}
.inline-block {
  display: inline-block;
}
.static {
  position: static;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.margin-auto,
.container {
  margin-left: auto;
  margin-right: auto;
}
.width-auto {
  width: auto;
}
.inset {
  box-shadow: inset 1.41px 1.41px 1.41px rgba(40, 40, 38, 0.16);
}
.viewport-height {
  height: 100vh;
}
.min-viewport-height {
  min-height: 100vh;
}
.overflow-hidden {
  overflow: hidden;
}
.dashed {
  border-style: dashed;
}
.dotted {
  border-style: dotted;
}
.thick {
  border-width: 2px;
}
.thin {
  border-width: 0.5px;
}
.current-color {
  border-color: currentColor;
}
.fade {
  opacity: 0.65;
}
.serif,
.font-family-serif {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "Droid Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
.monospace,
.font-family-monospace {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
}
.sans-serif,
.font-family-sans-serif {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.text-transparent {
  color: transparent;
}
.reset {
  all: initial;
}
.big {
  font-size: 125%;
  line-height: 2.25;
}
.big.font-size {
  font-size: 21.25px;
}
.small,
.badge {
  font-size: 87.5%;
  line-height: 1.575;
}
.small.font-size {
  font-size: 14.875px;
}
.huge {
  font-size: 160%;
}
.huge.font-size {
  font-size: 27.2px;
}
.text-trim {
  line-height: 1;
}
.text-align-center,
.text-center {
  text-align: center;
}
.text-align-left,
.text-left {
  text-align: left;
}
.text-align-right,
.text-right {
  text-align: right;
}
.text-align-justify,
.text-justify {
  text-align: justify;
}
.grid-gap-margin {
  grid-gap: 1.62rem;
}
.grid-gap-border-width {
  grid-gap: 1px;
}
.grid-gap-text-padding,
.grid-gap-text-margin {
  grid-gap: 0.3236em;
}
.shade,
.white,
.light.red,
.orange,
.yellow,
.olive,
.light.green,
.teal,
.cyan,
.skyblue,
.violet,
.gray,
.magenta,
.lavender,
.cream,
.clover,
.light.cobalt,
.pewter,
.hotpink,
.neongreen,
.electricblue,
.lemon,
.lime,
.tangerine,
.light.grapefruit,
.reaction,
.default,
body,
input,
textarea,
.info,
.warning,
.light.success,
.light.failure {
  color: #262628;
}
.tint,
.black,
.red,
.dark.olive,
.green,
.dark.teal,
.blue,
.indigo,
.purple,
.dark.gray,
.brown,
.dark.magenta,
.charcoal,
.crimson,
.cobalt,
.graphite,
.ruby,
.onyx,
.gunmetal,
.dark.hotpink,
.royalpurple,
.grapefruit,
.success,
.failure {
  color: #fefeff;
}
.transparent {
  background-color: transparent;
  color: inherit;
  border-color: inherit;
}
.transparent.light {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23FFF%22%20fill-opacity%3D%220.16%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.transparent.dark,
.modal {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23000%22%20fill-opacity%3D%220.25%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.trim,
.trim-inner *,
.trim-all,
.trim-all * {
  margin-bottom: 0;
}
.hidden {
  display: none !important;
}
.clearfix,
.clear {
  clear: both;
}
.clearfix::after,
.clear::after {
  display: block;
  clear: both;
  content: "";
}
.golden-width {
  max-width: calc(62% - 3.24rem);
}
.golden-width.reverse {
  max-width: 38%;
}
.aside-width {
  max-width: 23rem;
}
@media screen and (min-width: 41.24rem) {
  .text-width {
    max-width: 38rem;
  }
}
.page-width,
.container {
  max-width: 61rem;
}
.full-width,
.aside-width .aside-width,
.text-width .text-width,
.page-width .page-width {
  display: block;
  width: 100%;
}
.inner-aside-width {
  padding-left: calc(50% - 11.5rem);
  padding-right: calc(50% - 11.5rem);
}
.inner-aside-width.padding {
  padding-left: calc(50% - 9.88rem);
  padding-right: calc(50% - 9.88rem);
}
.inner-aside-width.responsive.padding {
  padding-left: calc(50% - 10.88rem);
  padding-right: calc(50% - 10.88rem);
}
.inner-text-width {
  padding-left: calc(50% - 19rem);
  padding-right: calc(50% - 19rem);
}
.inner-text-width.padding {
  padding-left: calc(50% - 17.38rem);
  padding-right: calc(50% - 17.38rem);
}
.inner-text-width.responsive.padding {
  padding-left: calc(50% - 18.38rem);
  padding-right: calc(50% - 18.38rem);
}
.inner-page-width {
  padding-left: calc(50% - 30.5rem);
  padding-right: calc(50% - 30.5rem);
}
.inner-page-width.padding {
  padding-left: calc(50% - 28.88rem);
  padding-right: calc(50% - 28.88rem);
}
.inner-page-width.responsive.padding {
  padding-left: calc(50% - 29.88rem);
  padding-right: calc(50% - 29.88rem);
}
@media screen and (max-width: calc(41.24rem - 1px)) {
  .inner-text-width {
    padding-left: initial;
    padding-right: initial;
  }
  .inner-text-width.padding {
    padding-left: 1.62rem;
    padding-right: 1.62rem;
  }
  .inner-text-width.responsive.padding {
    padding-left: 0.619rem;
    padding-right: 0.619rem;
  }
}
@media screen and (min-width: 41.24rem) {
  .inner-aside-width.tablet.padding {
    padding-left: calc(50% - 9.88rem);
    padding-right: calc(50% - 9.88rem);
  }
  .inner-aside-width.tablet.responsive.padding {
    padding-left: calc(50% - 10.5rem);
    padding-right: calc(50% - 10.5rem);
  }
  .inner-text-width.tablet.padding {
    padding-left: calc(50% - 17.38rem);
    padding-right: calc(50% - 17.38rem);
  }
  .inner-text-width.tablet.responsive.padding {
    padding-left: calc(50% - 18rem);
    padding-right: calc(50% - 18rem);
  }
  .inner-page-width.tablet.padding {
    padding-left: calc(50% - 28.88rem);
    padding-right: calc(50% - 28.88rem);
  }
  .inner-page-width.tablet.responsive.padding {
    padding-left: calc(50% - 29.5rem);
    padding-right: calc(50% - 29.5rem);
  }
}
@media screen and (min-width: 61rem) {
  .inner-aside-width.desktop.padding {
    padding-left: calc(50% - 9.88rem);
    padding-right: calc(50% - 9.88rem);
  }
  .inner-aside-width.desktop.responsive.padding {
    padding-left: calc(50% - 9.88rem);
    padding-right: calc(50% - 9.88rem);
  }
  .inner-text-width.desktop.padding {
    padding-left: calc(50% - 17.38rem);
    padding-right: calc(50% - 17.38rem);
  }
  .inner-text-width.desktop.responsive.padding {
    padding-left: calc(50% - 17.38rem);
    padding-right: calc(50% - 17.38rem);
  }
  .inner-page-width.desktop.padding {
    padding-left: calc(50% - 28.88rem);
    padding-right: calc(50% - 28.88rem);
  }
  .inner-page-width.desktop.responsive.padding {
    padding-left: calc(50% - 28.88rem);
    padding-right: calc(50% - 28.88rem);
  }
}
@media screen and (max-width: calc(61rem - 1px)) {
  .inner-page-width {
    padding-left: initial;
    padding-right: initial;
  }
  .inner-page-width.padding {
    padding-left: 1.62rem;
    padding-right: 1.62rem;
  }
  .inner-page-width.responsive.padding {
    padding-left: 0.619rem;
    padding-right: 0.619rem;
  }
}
.texture,
.pattern {
  background-position: top center;
}
.texture {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20width%3D'34'%20height%3D'17'%20viewBox%3D'0%200%203.175%201.588'%3E%3Cg%20fill%3D'%23262628'%20fill-opacity%3D'0.16'%3E%3Ccircle%20cx%3D'.397'%20cy%3D'.397'%20r%3D'.397'/%3E%3Ccircle%20r%3D'.397'%20cy%3D'.397'%20cx%3D'1.191'/%3E%3Ccircle%20r%3D'.397'%20cy%3D'.397'%20cx%3D'1.984'/%3E%3Ccircle%20cx%3D'2.778'%20cy%3D'.397'%20r%3D'.397'/%3E%3Ccircle%20r%3D'.397'%20cy%3D'1.191'/%3E%3Ccircle%20cx%3D'.794'%20cy%3D'1.191'%20r%3D'.397'/%3E%3Ccircle%20cx%3D'1.587'%20cy%3D'1.191'%20r%3D'.397'/%3E%3Ccircle%20r%3D'.397'%20cy%3D'1.191'%20cx%3D'2.381'/%3E%3Ccircle%20cx%3D'3.175'%20cy%3D'1.191'%20r%3D'.397'/%3E%3C/g%3E%3C/svg%3E");
}
.pattern {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20width%3D'80'%20height%3D'50'%20viewBox%3D'0%200%2021.167%2013.229'%3E%3Cpath%20fill%3D'%23262628'%20opacity%3D'0.16'%20d%3D'M0%200h21.167v6.615H0z'/%3E%3C/svg%3E");
}
.placeholder::before {
  content: " ";
  white-space: pre;
}
.placeholder::after {
  content: "";
}
.placeholder.image,
.placeholder.video,
.placeholder.avatar {
  position: relative;
}
.placeholder.image::before,
.placeholder.video::before,
.placeholder.avatar::before {
  position: absolute;
  top: calc(50% - 4rem);
  right: 0;
  bottom: 0;
  left: 0;
  display: inline-block;
  text-align: center;
  font-size: 4rem;
  vertical-align: middle;
}
.placeholder.image.small::before,
.placeholder.video.small::before,
.placeholder.avatar.small::before {
  top: calc(50% - 2rem);
  font-size: 2rem;
}
.placeholder.image.big::before,
.placeholder.video.big::before,
.placeholder.avatar.big::before {
  top: calc(50% - 6rem);
  font-size: 6rem;
}
.placeholder.image.huge::before,
.placeholder.video.huge::before,
.placeholder.avatar.huge::before {
  top: calc(50% - 8rem);
  font-size: 8rem;
}
.placeholder.image::after,
.placeholder.video::after,
.placeholder.avatar::after {
  display: block;
}
.placeholder.image::before {
  content: "\1f5bc";
}
.placeholder.image::after {
  padding-top: 75%;
}
.placeholder.video::before {
  content: "\25B6";
}
.placeholder.video::after {
  padding-top: 56.25%;
}
.placeholder.avatar::before {
  content: "\263A";
}
.placeholder.avatar::after {
  padding-top: 100%;
}
.placeholder.no-icon::before {
  content: "";
}
.hide {
  display: none;
}
.hide.tablet {
  display: initial;
}
.hide.desktop {
  display: initial;
}
@media screen and (max-width: calc(41.24rem - 1px)) {
  .hide.mobile {
    display: none;
  }
}
@media screen and (min-width: 41.24rem) {
  .hide.mobile {
    display: initial;
  }
  .hide.tablet {
    display: none;
  }
}
@media screen and (min-width: 61rem) {
  .hide.desktop {
    display: none;
  }
  .hide.mobile.tablet {
    display: initial;
  }
}
@media screen and (max-width: calc(61rem - 1px)) {
  .hide.mobile.tablet {
    display: none;
  }
}
body {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
  font-size: 17px;
  line-height: 1.8;
  margin: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
nav {
  z-index: 99;
}
nav a {
  text-decoration: none;
}
aside {
  margin: 0 auto;
  margin-bottom: 1.62rem;
  max-width: 23rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
  font-weight: bold;
  margin-top: 0.49443758em;
  margin-bottom: 0.74165637em;
  letter-spacing: -0.025em;
  color: inherit;
  line-height: 1.618;
}
h1 {
  font-size: 2.4em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1em;
}
p {
  margin-bottom: 1em;
}
p.gutter-bottom {
  margin-bottom: 1.618em;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: inherit;
  text-decoration: underline;
}
a.target-blank::after,
a.new-tab::after,
a.external-link::after {
  content: "\00A0\1F855";
}
form {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
  font-size: 17px;
  line-height: 1.8;
  border: 1px solid #bdb3a7;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input:focus {
  box-shadow: 0 0 2px #93d2ec;
}
fieldset {
  border: none;
  outline: none;
}
ol {
  padding-left: 4ch;
  margin-bottom: 1.62rem;
}
ol li {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
ul {
  margin-left: 1.62rem;
  margin-bottom: 1.62rem;
}
li {
  margin-bottom: 0.44em;
}
kbd {
  color: #fefeff;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  white-space: nowrap;
}
b {
  padding: 0.18em 0 0.22em 0;
}
pre {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
  overflow: hidden;
  border-radius: 0.5em;
  background: #454446;
  color: #fefeff;
}
pre.white-space,
pre.word-break {
  white-space: pre-wrap;
}
pre > code {
  background: transparent;
  padding: 0;
}
code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
  color: #fefeff;
  background-color: #40486b;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
code.terminal::before {
  content: "$ ";
}
textarea {
  font-size: 17px;
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
  line-height: 1.8;
  border: 1px solid #bdb3a7;
  border-radius: 0.5em;
  margin-bottom: 1.62rem;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
textarea:focus {
  box-shadow: 0 0 2px #93d2ec;
}
.white,
body,
input,
textarea {
  background-color: #fefeff;
  border-color: #848590;
}
.black {
  background-color: #262628;
  border-color: #131314;
}
.ambient {
  color: #262628;
  background: #ededfc;
  border-color: #7c7c8f;
}
.ambient.light {
  color: #262628;
  background: #ffffff;
  border-color: #8b8a8a;
}
.ambient.dark {
  color: #262628;
  background: #caccf6;
  border-color: #6a6c8c;
}
.red,
.failure {
  background-color: #fb373b;
  border-color: #911f21;
}
.light.red,
.light.failure {
  background-color: #fc5f63;
  border-color: #913335;
}
.dark.red,
.dark.failure {
  background-color: #fa0f14;
  border-color: #900b0d;
}
.orange,
.warning {
  background-color: #feb32d;
  border-color: #926719;
}
.light.orange,
.light.warning {
  background-color: #fec155;
  border-color: #926e2d;
}
.dark.orange,
.dark.warning {
  background-color: #fea404;
  border-color: #925f05;
}
.yellow {
  background-color: #fdfd32;
  border-color: #92921c;
}
.light.yellow {
  background-color: #fdfd5a;
  border-color: #929230;
}
.dark.yellow {
  background-color: #fdfd09;
  border-color: #929207;
}
.olive {
  background-color: #adad3b;
  border-color: #666625;
}
.light.olive {
  background-color: #c3c34f;
  border-color: #70712e;
}
.dark.olive {
  background-color: #8f8f31;
  border-color: #57571f;
}
.green,
.success {
  background-color: #32a636;
  border-color: #1f6322;
}
.light.green,
.light.success {
  background-color: #3dc542;
  border-color: #257228;
}
.dark.green,
.dark.success {
  background-color: #29872c;
  border-color: #1b531d;
}
.teal {
  background-color: #37adaf;
  border-color: #226667;
}
.light.teal {
  background-color: #49c4c6;
  border-color: #2b7172;
}
.dark.teal {
  background-color: #2d8f90;
  border-color: #1d5757;
}
.cyan {
  background-color: #3ffdfd;
  border-color: #229292;
}
.light.cyan {
  background-color: #67fefe;
  border-color: #369292;
}
.dark.cyan {
  background-color: #16fdfd;
  border-color: #0e9292;
}
.skyblue,
.info {
  background-color: #93d2ec;
  border-color: #4f7787;
}
.light.skyblue,
.light.info {
  background-color: #b6e1f2;
  border-color: #607e8a;
}
.dark.skyblue,
.dark.info {
  background-color: #70c4e6;
  border-color: #3d6f84;
}
.blue {
  background-color: #2d2dfd;
  border-color: #191992;
}
.light.blue {
  background-color: #5556fd;
  border-color: #2e2e92;
}
.dark.blue {
  background-color: #0505fd;
  border-color: #050592;
}
.indigo {
  background-color: #7632aa;
  border-color: #472064;
}
.light.indigo {
  background-color: #8b3fc6;
  border-color: #512673;
}
.dark.indigo {
  background-color: #60298a;
  border-color: #3c1b55;
}
.purple {
  background-color: #bb41bd;
  border-color: #6d286e;
}
.light.purple {
  background-color: #c75fc8;
  border-color: #723673;
}
.dark.purple {
  background-color: #9d379f;
  border-color: #5e225e;
}
.violet {
  background-color: #ee8fef;
  border-color: #884c89;
}
.light.violet {
  background-color: #f4b3f4;
  border-color: #8b5e8b;
}
.dark.violet {
  background-color: #e96bea;
  border-color: #863b86;
}
.gray {
  background-color: #969497;
  border-color: #565557;
}
.light.gray {
  background-color: #aba9ab;
  border-color: #615f61;
}
.dark.gray {
  background-color: #828082;
  border-color: #4c4b4c;
}
.brown {
  background-color: #ad6645;
  border-color: #653c2a;
}
.light.brown {
  background-color: #be7b5d;
  border-color: #6e4736;
}
.dark.brown {
  background-color: #90543a;
  border-color: #563424;
}
.magenta {
  background-color: #fa51fa;
  border-color: #902c90;
}
.light.magenta {
  background-color: #fb79fb;
  border-color: #904090;
}
.dark.magenta {
  background-color: #f929f9;
  border-color: #8f188f;
}
.lavender {
  background-color: #d5c6ea;
  border-color: #756a84;
}
.light.lavender {
  background-color: #ebe4f5;
  border-color: #80798a;
}
.dark.lavender {
  background-color: #bfa8df;
  border-color: #6a5b7f;
}
.cream {
  background-color: #f8f8d9;
  border-color: #8d8d72;
}
.light.cream {
  background-color: #fefefb;
  border-color: #909083;
}
.dark.cream {
  background-color: #f1f1b6;
  border-color: #898960;
}
.charcoal {
  background-color: #705b57;
  border-color: #443835;
}
.light.charcoal {
  background-color: #876e69;
  border-color: #4f413e;
}
.dark.charcoal {
  background-color: #594845;
  border-color: #392e2c;
}
.crimson {
  background-color: #c1273b;
  border-color: #711924;
}
.light.crimson {
  background-color: #d7394e;
  border-color: #7c222e;
}
.dark.crimson {
  background-color: #9f2030;
  border-color: #60151f;
}
.clover {
  background-color: #67c448;
  border-color: #3c712b;
}
.light.clover {
  background-color: #80ce67;
  border-color: #49763a;
}
.dark.clover {
  background-color: #54ac37;
  border-color: #336622;
}
.cobalt {
  background-color: #408ade;
  border-color: #255080;
}
.light.cobalt {
  background-color: #639fe4;
  border-color: #365a83;
}
.dark.cobalt {
  background-color: #2475d0;
  border-color: #174579;
}
.graphite {
  background-color: #40486b;
  border-color: #292e42;
}
.light.graphite {
  background-color: #505a84;
  border-color: #31374f;
}
.dark.graphite {
  background-color: #313751;
  border-color: #212536;
}
.ruby {
  background-color: #c31c5f;
  border-color: #731239;
}
.light.ruby {
  background-color: #e02771;
  border-color: #811842;
}
.dark.ruby {
  background-color: #9f164d;
  border-color: #611031;
}
.onyx {
  background-color: #454446;
  border-color: #2e2d2e;
}
.light.onyx {
  background-color: #5a595a;
  border-color: #383738;
}
.dark.onyx {
  background-color: #313031;
  border-color: #242324;
}
.pewter {
  background-color: #b7b7a3;
  border-color: #68685c;
}
.light.pewter {
  background-color: #c9c9ba;
  border-color: #717167;
}
.dark.pewter {
  background-color: #a5a58c;
  border-color: #5f5f50;
}
.gunmetal {
  background-color: #697c8d;
  border-color: #3e4953;
}
.light.gunmetal {
  background-color: #7f90a0;
  border-color: #49535c;
}
.dark.gunmetal {
  background-color: #586776;
  border-color: #363f47;
}
.hotpink {
  background-color: #fc6eb5;
  border-color: #913a66;
}
.light.hotpink {
  background-color: #fd96ca;
  border-color: #914e70;
}
.dark.hotpink {
  background-color: #fb46a1;
  border-color: #91265c;
}
.neongreen {
  background-color: #50fc32;
  border-color: #2d911c;
}
.light.neongreen {
  background-color: #72fc5a;
  border-color: #3e9130;
}
.dark.neongreen {
  background-color: #2dfb09;
  border-color: #1c9108;
}
.electricblue {
  background-color: #52cdf2;
  border-color: #2d768b;
}
.light.electricblue {
  background-color: #78d8f5;
  border-color: #407b8d;
}
.dark.electricblue {
  background-color: #2cc2f0;
  border-color: #1a708a;
}
.royalpurple {
  background-color: #8052ae;
  border-color: #4b3165;
}
.light.royalpurple {
  background-color: #946ebb;
  border-color: #553f6c;
}
.dark.royalpurple {
  background-color: #6b4593;
  border-color: #412a58;
}
.lemon {
  background-color: #fefc9c;
  border-color: #929151;
}
.light.lemon {
  background-color: #fefdc4;
  border-color: #929265;
}
.dark.lemon {
  background-color: #fefb74;
  border-color: #92913d;
}
.lime {
  background-color: #a9f3a2;
  border-color: #5a8b55;
}
.light.lime {
  background-color: #caf8c6;
  border-color: #6b8d67;
}
.dark.lime {
  background-color: #87ef7d;
  border-color: #498943;
}
.tangerine {
  background-color: #fdb466;
  border-color: #926636;
}
.light.tangerine {
  background-color: #fdc88e;
  border-color: #926f4a;
}
.dark.tangerine {
  background-color: #fca13e;
  border-color: #915c22;
}
.grapefruit {
  background-color: #e15971;
  border-color: #823240;
}
.light.grapefruit {
  background-color: #e87c8f;
  border-color: #85434f;
}
.dark.grapefruit {
  background-color: #db3653;
  border-color: #7e2031;
}
.action,
.base-color {
  color: #262628;
  background: #b3b4db;
  border-color: #61627c;
}
.action.light,
.base-color.light {
  color: #262628;
  background: #cfcfe8;
  border-color: #6f7082;
}
.action.dark,
.base-color.dark {
  color: #262628;
  background: #9799ce;
  border-color: #545475;
}
.reaction {
  background-color: #cac992;
  border-color: #737251;
}
.light.reaction {
  background-color: #d8d6ad;
  border-color: #7a795f;
}
.dark.reaction {
  background-color: #bdbb77;
  border-color: #6c6b43;
}
.default {
  background-color: #bdb3a7;
  border-color: #6b645d;
}
.light.default {
  background-color: #cfc7be;
  border-color: #746f69;
}
.dark.default {
  background-color: #ac9f90;
  border-color: #625a52;
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-margin-right {
  margin-right: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.no-margin-left {
  margin-left: 0 !important;
}
.no-padding {
  padding: 0;
}
.no-margin,
.no-gutter {
  margin: 0;
}
.no-side-margin,
.no-side-margins {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.no-margins {
  margin: 0 !important;
}
.no-margins * {
  margin: 0 !important;
}
.no-box-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  box-shadow: unset;
}
.no-text-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  text-shadow: unset;
}
.no-border,
.no-borders,
.no-borders * {
  border-width: 0 !important;
}
.no-background {
  background: transparent;
}
.no-text-indent {
  text-indent: 0;
}
.no-text-align {
  text-align: initial;
}
.no-user-select {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.no-pointer-events {
  pointer-events: none;
}
.no-list-style {
  list-style-type: none;
  margin-left: 0;
}
.no-grid-gap,
.no-column-gap {
  grid-gap: 0;
  column-gap: 0;
}
@media print {
  html {
    font-size: 62.5%;
  }
  * {
    box-shadow: unset !important;
    border: unset !important;
  }
  nav {
    display: none !important;
  }
  .page-width,
  .text-width,
  .container {
    all: unset;
  }
  .inner-page-width,
  .inner-text-width,
  .inner-aside-width {
    all: unset;
  }
}
