/* This project uses Cavepaint (MIT License) by Rex Riepe */
/* https://github.com/cavepaint/cavepaintCSS */
* {
  margin: 0 0 1.62rem 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  margin-bottom: 0;
}
.button,
button {
  border-style: solid;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(2, 40, 10, 0.16);
  display: inline;
  position: relative;
  font-family: inherit;
  font-size: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  color: inherit;
  background-color: inherit;
  border-color: #843069;
  border-width: 1px;
  line-height: 1.6;
  text-align: center;
  vertical-align: middle;
  outline: none;
  white-space: nowrap;
  text-decoration: none;
  touch-action: manipulation;
  cursor: pointer;
  transform: scale(1);
  transition: 0.08s linear;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.button:active,
button:active {
  transform: scale(0.99);
  box-shadow: unset;
}
.bar {
  position: relative;
  width: 100%;
  display: block;
  vertical-align: middle;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.bar > * {
  display: inline;
  margin-right: 0.3236em;
  margin-left: 0.3236em;
  margin-bottom: 0;
}
.card {
  position: relative;
  overflow: hidden;
  padding: 1.62rem;
  border: 1px solid #bd4997;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(2, 40, 10, 0.16);
}
.card > *:first-child {
  margin-top: 0;
}
.card > *:last-child {
  margin-bottom: 0;
}
.badge {
  border-radius: 0.5em;
  line-height: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  padding-right: 0.6472em;
  padding-left: 0.6472em;
  vertical-align: middle;
  border-radius: 99px;
  white-space: nowrap;
}
.modal {
  display: none;
  max-width: none;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  position: fixed;
  bottom: 0;
  justify-content: center;
  flex: 0 1 auto;
  flex-direction: column;
  height: 100vh;
}
.modal > * {
  flex-direction: column;
  color: #280220;
  position: relative;
  background: #fff0fc;
  padding: 1.62rem;
  margin-bottom: 3.24rem;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(2, 40, 10, 0.16);
  margin: 1.62rem;
}
@media screen and (min-width: 37.24rem) {
  .modal > * {
    max-width: 55rem;
    margin: 0 auto;
  }
}
.overlay {
  margin: 0;
  padding: 0;
  position: relative;
}
.overlay .top,
.overlay .bottom,
.overlay .left,
.overlay .right {
  position: absolute;
}
.overlay .top {
  top: 0.3236em;
}
.overlay .bottom {
  bottom: 0.3236em;
}
.overlay .left {
  left: 0.3236em;
}
.overlay .right {
  right: 0.3236em;
}
.overlay.stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.overlay * {
  margin: 0;
  display: block;
}
.grid,
.two-column,
.three-column {
  display: grid;
  grid-gap: 1.62rem;
}
.grid.tablet,
.two-column.tablet,
.three-column.tablet,
.grid.mobile.tablet,
.two-column.mobile.tablet,
.three-column.mobile.tablet,
.grid.desktop,
.two-column.desktop,
.three-column.desktop {
  display: initial;
}
.grid {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.two-column {
  grid-template-columns: 1fr 1fr;
}
.two-column.golden {
  grid-template-columns: 1.618fr 1fr;
}
.two-column.golden.reverse {
  grid-template-columns: 1fr 1.618fr;
}
.three-column {
  grid-template-columns: 1fr 1fr 1fr;
}
.three-column.golden {
  grid-template-columns: 1fr 1.618fr 1fr;
}
.three-column.golden.leading {
  grid-template-columns: 1.618fr 1fr 1fr;
}
.three-column.golden.trailing {
  grid-template-columns: 1fr 1fr 1.618fr;
}
.grid-width-one {
  grid-column: auto / span 1;
}
.grid-width-two {
  grid-column: auto / span 2;
}
.grid-width-three {
  grid-column: auto / span 3;
}
.grid-width-four {
  grid-column: auto / span 4;
}
.grid-width-five {
  grid-column: auto / span 5;
}
.grid-width-six {
  grid-column: auto / span 6;
}
.grid-width-seven {
  grid-column: auto / span 7;
}
.grid-width-eight {
  grid-column: auto / span 8;
}
.grid-width-nine {
  grid-column: auto / span 9;
}
.grid-width-ten {
  grid-column: auto / span 10;
}
.grid-width-eleven {
  grid-column: auto / span 11;
}
.grid-width-twelve {
  grid-column: auto / span 12;
}
@media screen and (max-width: calc(37.24rem - 1px)) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: grid;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 37.24rem) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: initial;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: initial;
  }
  .grid.tablet,
  .two-column.tablet,
  .three-column.tablet {
    display: grid;
  }
  .grid.tablet > *,
  .two-column.tablet > *,
  .three-column.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (max-width: calc(55rem - 1px)) {
  .grid.mobile.tablet,
  .two-column.mobile.tablet,
  .three-column.mobile.tablet {
    display: grid;
  }
  .grid.mobile.tablet > *,
  .two-column.mobile.tablet > *,
  .three-column.mobile.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 55rem) {
  .grid.desktop,
  .two-column.desktop,
  .three-column.desktop {
    display: grid;
  }
  .grid.desktop > *,
  .two-column.desktop > *,
  .three-column.desktop > * {
    margin-bottom: 0;
  }
}
.responsive {
  column-gap: 0.619rem;
  grid-gap: 0.619rem;
}
.responsive.padding,
.modal,
.container {
  padding: 0.619rem;
}
.responsive.margin,
.container {
  margin: 0.619rem;
}
.responsive.gutter {
  margin: 1.238rem;
}
@media screen and (min-width: 37.24rem) {
  .responsive {
    column-gap: 1.001rem;
    grid-gap: 1.001rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.001rem;
  }
  .responsive.margin,
  .container {
    margin: 1.001rem;
  }
  .responsive.gutter {
    margin: 2.002rem;
  }
}
@media screen and (min-width: 55rem) {
  .responsive {
    column-gap: 1.62rem;
    grid-gap: 1.62rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.62rem;
  }
  .responsive.margin,
  .container {
    margin: 1.62rem;
  }
  .responsive.gutter {
    margin: 3.24rem;
  }
}
.background {
  background: #fff0fc;
}
.background-color {
  background-color: #fff0fc;
}
.border {
  border: 1px solid #bd4997;
}
.border-radius,
.rounded {
  border-radius: 0.5em;
}
.border-bottom {
  border-bottom: 1px solid #bd4997;
}
.border-left {
  border-left: 1px solid #bd4997;
}
.border-right {
  border-right: 1px solid #bd4997;
}
.border-style,
.button.border,
button.border {
  border-style: solid;
}
.border-top {
  border-top: 1px solid #bd4997;
}
.border-width,
.button.border,
button.border {
  border-width: 1px;
}
.max-width {
  max-width: 55rem;
}
.min-width {
  min-width: 21rem;
}
.align-content {
  align-content: stretch;
}
.align-items {
  align-items: stretch;
}
.align-self {
  align-self: auto;
}
.flex,
.vertical-center,
.center-vertical {
  flex: 0 1 auto;
}
.flex-basis {
  flex-basis: auto;
}
.flex-direction,
.vertical-center,
.center-vertical {
  flex-direction: column;
}
.flex-flow {
  flex-flow: column nowrap;
}
.flex-grow {
  flex-grow: 0;
}
.flex-shrink {
  flex-shrink: 1;
}
.flex-wrap {
  flex-wrap: nowrap;
}
.justify-content,
.vertical-center,
.center-vertical {
  justify-content: center;
}
.font-family,
body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.font-size {
  font-size: 23px;
}
.font-weight {
  font-weight: normal;
}
.list-style {
  list-style: disc inside none;
}
.list-style-type {
  list-style-type: disc;
}
.margin {
  margin: 1.62rem;
}
.margin-bottom {
  margin-bottom: 1.62rem;
}
.margin-left {
  margin-left: 1.62rem;
}
.margin-right {
  margin-right: 1.62rem;
}
.margin-top {
  margin-top: 1.62rem;
}
.column-gap {
  column-gap: 1.94em;
}
.column-rule {
  column-rule: 1px solid #bd4997;
}
.padding {
  padding: 1.62rem;
}
.padding-bottom {
  padding-bottom: 1.62rem;
}
.padding-left {
  padding-left: 1.62rem;
}
.padding-right {
  padding-right: 1.62rem;
}
.padding-top {
  padding-top: 1.62rem;
}
.text-align {
  text-align: left;
}
.text-align-last {
  text-align-last: left;
}
.text-indent {
  text-indent: 2ch;
}
.text-justify {
  text-justify: justify;
}
.text-overflow {
  text-overflow: hidden;
}
.text-shadow {
  text-shadow: 1.41px 1.41px 1.41px rgba(2, 40, 10, 0.16);
}
.line-height {
  line-height: 1.8;
}
.vertical-align {
  vertical-align: middle;
}
.letter-spacing {
  letter-spacing: 0;
}
.word-spacing {
  word-spacing: normal;
}
.white-space {
  white-space: nowrap;
}
.word-break {
  word-break: break-all;
}
.word-wrap {
  word-wrap: break-word;
}
.transform {
  transform: none;
}
.transition {
  transition: all 0s ease 0s;
}
.display {
  display: block;
}
.position {
  position: absolute;
}
.top {
  top: 0;
}
.right {
  right: 0;
}
.bottom {
  bottom: 0;
}
.left {
  left: 0;
}
.float {
  float: left;
}
.clear {
  clear: both;
}
.z-index {
  z-index: 10;
}
.overflow {
  overflow: hidden;
}
.overflow-x {
  overflow-x: hidden;
}
.cursor {
  cursor: pointer;
}
.box-shadow {
  box-shadow: 1.41px 1.41px 1.41px rgba(2, 40, 10, 0.16);
}
.gutter {
  margin: 3.24rem;
}
.gutter-top {
  margin-top: 3.24rem;
}
.gutter-right {
  margin-right: 3.24rem;
}
.gutter-bottom {
  margin-bottom: 3.24rem;
}
.gutter-left {
  margin-left: 3.24rem;
}
.text-padding {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-padding-top {
  padding-top: 0.18em;
}
.text-padding-right {
  padding-right: 0.3236em;
}
.text-padding-bottom {
  padding-bottom: 0.22em;
}
.text-padding-left {
  padding-left: 0.3236em;
}
.text-margin {
  margin: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-margin-top {
  margin-top: 0.18em;
}
.text-margin-right {
  margin-right: 0.3236em;
}
.text-margin-bottom {
  margin-bottom: 0.22em;
}
.text-margin-left {
  margin-left: 0.3236em;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.initial {
  display: initial;
}
.table {
  display: table;
}
.flex,
.vertical-center,
.center-vertical {
  display: flex;
}
.inline-block {
  display: inline-block;
}
.static {
  position: static;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.margin-auto,
.container {
  margin-left: auto;
  margin-right: auto;
}
.width-auto {
  width: auto;
}
.inset {
  box-shadow: inset 1.41px 1.41px 1.41px rgba(2, 40, 10, 0.16);
}
.viewport-height {
  height: 100vh;
}
.min-viewport-height {
  min-height: 100vh;
}
.overflow-hidden {
  overflow: hidden;
}
.dashed {
  border-style: dashed;
}
.dotted {
  border-style: dotted;
}
.thick {
  border-width: 2px;
}
.thin {
  border-width: 0.5px;
}
.current-color {
  border-color: currentColor;
}
.fade {
  opacity: 0.65;
}
.serif,
.font-family-serif {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "Droid Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
.monospace,
.font-family-monospace,
pre,
code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
}
.sans-serif,
.font-family-sans-serif {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.text-transparent {
  color: transparent;
}
.reset {
  all: initial;
}
.big {
  font-size: 125%;
  line-height: 2.25;
}
.big.font-size {
  font-size: 28.75px;
}
.small,
.badge {
  font-size: 87.5%;
  line-height: 1.575;
}
.small.font-size {
  font-size: 20.125px;
}
.huge {
  font-size: 160%;
}
.huge.font-size {
  font-size: 36.8px;
}
.text-trim {
  line-height: 1;
}
.text-align-center,
.text-center {
  text-align: center;
}
.text-align-left,
.text-left {
  text-align: left;
}
.text-align-right,
.text-right {
  text-align: right;
}
.text-align-justify,
.text-justify {
  text-align: justify;
}
.grid-gap-margin {
  grid-gap: 1.62rem;
}
.grid-gap-border-width {
  grid-gap: 1px;
}
.grid-gap-text-padding,
.grid-gap-text-margin {
  grid-gap: 0.3236em;
}
.shade,
.white,
.orange,
.yellow,
.light.olive,
.cyan,
.skyblue,
.violet,
.light.magenta,
.lavender,
.cream,
.light.clover,
.pewter,
.light.hotpink,
.neongreen,
.electricblue,
.lemon,
.lime,
.tangerine,
.light.reaction,
.light.warm,
.light.cool,
.split,
.second.tetrad,
.light.highlight,
body,
input,
textarea,
.info,
.warning {
  color: #280220;
}
.tint,
.black,
.red,
.olive,
.green,
.teal,
.dark.skyblue,
.blue,
.indigo,
.purple,
.dark.violet,
.gray,
.brown,
.magenta,
.charcoal,
.crimson,
.clover,
.cobalt,
.graphite,
.ruby,
.onyx,
.dark.pewter,
.gunmetal,
.hotpink,
.royalpurple,
.grapefruit,
.reaction,
.default,
.warm,
.cool,
.neutral,
.complement,
.accent,
.second.accent,
.second.split,
.triad,
.third.triad,
.tetrad,
.third.tetrad,
.fourth.tetrad,
.highlight,
.dark.info,
.success,
.failure,
.second.triad {
  color: #fff0fc;
}
.transparent {
  background-color: transparent;
  color: inherit;
  border-color: inherit;
}
.transparent.light {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23FFF%22%20fill-opacity%3D%220.16%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.transparent.dark,
.modal {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23000%22%20fill-opacity%3D%220.25%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.trim,
.trim-inner *,
.trim-all,
.trim-all * {
  margin-bottom: 0;
}
.hidden {
  display: none !important;
}
.clearfix,
.clear {
  clear: both;
}
.clearfix::after,
.clear::after {
  display: block;
  clear: both;
  content: "";
}
.golden-width {
  max-width: calc(62% - 3.24rem);
}
.golden-width.reverse {
  max-width: 38%;
}
.aside-width {
  max-width: 21rem;
}
@media screen and (min-width: 37.24rem) {
  .text-width {
    max-width: 34rem;
  }
}
.page-width,
.container {
  max-width: 55rem;
}
.full-width,
.aside-width .aside-width,
.text-width .text-width,
.page-width .page-width {
  display: block;
  width: 100%;
}
.inner-aside-width {
  padding-left: calc(50% - 10.5rem);
  padding-right: calc(50% - 10.5rem);
}
.inner-aside-width.padding {
  padding-left: calc(50% - 8.88rem);
  padding-right: calc(50% - 8.88rem);
}
.inner-aside-width.responsive.padding {
  padding-left: calc(50% - 9.88rem);
  padding-right: calc(50% - 9.88rem);
}
@media screen and (max-width: calc(37.24rem - 1px)) {
  .inner-text-width {
    padding-left: initial;
    padding-right: initial;
  }
  .inner-text-width.padding {
    padding-left: 1.62rem;
    padding-right: 1.62rem;
  }
  .inner-text-width.responsive.padding {
    padding-left: 0.619rem;
    padding-right: 0.619rem;
  }
}
@media screen and (min-width: 37.24rem) {
  .inner-aside-width.tablet.padding {
    padding-left: calc(50% - 8.88rem);
    padding-right: calc(50% - 8.88rem);
  }
  .inner-aside-width.tablet.responsive.padding {
    padding-left: calc(50% - 9.5rem);
    padding-right: calc(50% - 9.5rem);
  }
  .inner-text-width {
    padding-left: calc(50% - 17rem);
    padding-right: calc(50% - 17rem);
  }
  .inner-text-width.padding {
    padding-left: calc(50% - 15.38rem);
    padding-right: calc(50% - 15.38rem);
  }
  .inner-text-width.responsive.padding {
    padding-left: calc(50% - 16rem);
    padding-right: calc(50% - 16rem);
  }
}
@media screen and (min-width: 55rem) {
  .inner-aside-width.desktop.padding {
    padding-left: calc(50% - 8.88rem);
    padding-right: calc(50% - 8.88rem);
  }
  .inner-aside-width.desktop.responsive.padding {
    padding-left: calc(50% - 8.88rem);
    padding-right: calc(50% - 8.88rem);
  }
  .inner-text-width.desktop.padding {
    padding-left: calc(50% - 15.38rem);
    padding-right: calc(50% - 15.38rem);
  }
  .inner-text-width.desktop.responsive.padding {
    padding-left: calc(50% - 15.38rem);
    padding-right: calc(50% - 15.38rem);
  }
  .inner-page-width {
    padding-left: calc(50% - 27.5rem);
    padding-right: calc(50% - 27.5rem);
  }
  .inner-page-width.padding {
    padding-left: calc(50% - 25.88rem);
    padding-right: calc(50% - 25.88rem);
  }
  .inner-page-width.responsive.padding {
    padding-left: calc(50% - 25.88rem);
    padding-right: calc(50% - 25.88rem);
  }
}
.texture,
.pattern {
  background-position: top center;
}
.texture {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20width%3D'46'%20height%3D'23'%20viewBox%3D'0%200%203.175%201.588'%3E%3Cg%20fill%3D'%23fff0fc'%20fill-opacity%3D'0.05'%3E%3Ccircle%20cx%3D'.397'%20cy%3D'.397'%20r%3D'.397'/%3E%3Ccircle%20r%3D'.397'%20cy%3D'.397'%20cx%3D'1.191'/%3E%3Ccircle%20r%3D'.397'%20cy%3D'.397'%20cx%3D'1.984'/%3E%3Ccircle%20cx%3D'2.778'%20cy%3D'.397'%20r%3D'.397'/%3E%3Ccircle%20r%3D'.397'%20cy%3D'1.191'/%3E%3Ccircle%20cx%3D'.794'%20cy%3D'1.191'%20r%3D'.397'/%3E%3Ccircle%20cx%3D'1.587'%20cy%3D'1.191'%20r%3D'.397'/%3E%3Ccircle%20r%3D'.397'%20cy%3D'1.191'%20cx%3D'2.381'/%3E%3Ccircle%20cx%3D'3.175'%20cy%3D'1.191'%20r%3D'.397'/%3E%3C/g%3E%3C/svg%3E");
}
.pattern {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20width%3D'80'%20height%3D'50'%20viewBox%3D'0%200%2021.167%2013.229'%3E%3Cpath%20opacity%3D'0.05'%20fill%3D'%23fff0fc'%20d%3D'M0%200h10.583v13.229H0z'/%3E%3C/svg%3E");
}
.placeholder::before {
  content: " ";
  white-space: pre;
}
.placeholder::after {
  content: "";
}
.placeholder.image,
.placeholder.video,
.placeholder.avatar {
  position: relative;
}
.placeholder.image::before,
.placeholder.video::before,
.placeholder.avatar::before {
  position: absolute;
  top: calc(50% - 4rem);
  right: 0;
  bottom: 0;
  left: 0;
  display: inline-block;
  text-align: center;
  font-size: 4rem;
  vertical-align: middle;
}
.placeholder.image.small::before,
.placeholder.video.small::before,
.placeholder.avatar.small::before {
  top: calc(50% - 2rem);
  font-size: 2rem;
}
.placeholder.image.big::before,
.placeholder.video.big::before,
.placeholder.avatar.big::before {
  top: calc(50% - 6rem);
  font-size: 6rem;
}
.placeholder.image.huge::before,
.placeholder.video.huge::before,
.placeholder.avatar.huge::before {
  top: calc(50% - 8rem);
  font-size: 8rem;
}
.placeholder.image::after,
.placeholder.video::after,
.placeholder.avatar::after {
  display: block;
}
.placeholder.image::before {
  content: "\1f5bc";
}
.placeholder.image::after {
  padding-top: 75%;
}
.placeholder.video::before {
  content: "\25B6";
}
.placeholder.video::after {
  padding-top: 56.25%;
}
.placeholder.avatar::before {
  content: "\263A";
}
.placeholder.avatar::after {
  padding-top: 100%;
}
.placeholder.no-icon::before {
  content: "";
}
.hide {
  display: none;
}
.hide.tablet {
  display: initial;
}
.hide.desktop {
  display: initial;
}
@media screen and (max-width: calc(37.24rem - 1px)) {
  .hide.mobile {
    display: none;
  }
}
@media screen and (min-width: 37.24rem) {
  .hide.mobile {
    display: initial;
  }
  .hide.tablet {
    display: none;
  }
}
@media screen and (min-width: 55rem) {
  .hide.desktop {
    display: none;
  }
  .hide.mobile.tablet {
    display: initial;
  }
}
@media screen and (max-width: calc(55rem - 1px)) {
  .hide.mobile.tablet {
    display: none;
  }
}
body {
  font-size: 23px;
  line-height: 1.8;
  margin: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
nav {
  z-index: 99;
}
nav a {
  text-decoration: none;
}
aside {
  margin: 0 auto;
  margin-bottom: 1.62rem;
  max-width: 21rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-top: 0.49443758em;
  margin-bottom: 0.74165637em;
  letter-spacing: -0.025em;
  color: inherit;
  line-height: 1.618;
}
h1 {
  font-size: 2.4em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1em;
}
p {
  margin-bottom: 1em;
}
p.gutter-bottom {
  margin-bottom: 1.618em;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: inherit;
  text-decoration: underline;
}
a.target-blank::after,
a.new-tab::after,
a.external-link::after {
  content: "\00A0\1F855";
}
form {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input {
  font-size: 23px;
  line-height: 1.8;
  border: 1px solid #bd4997;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input:focus {
  box-shadow: 0 0 2px #8da5e2;
}
fieldset {
  border: none;
  outline: none;
}
ol {
  padding-left: 4ch;
  margin-bottom: 1.62rem;
}
ol li {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
ul {
  margin-left: 1.62rem;
  margin-bottom: 1.62rem;
}
li {
  margin-bottom: 0.44em;
}
kbd {
  color: #fff0fc;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  white-space: nowrap;
}
b {
  padding: 0.18em 0 0.22em 0;
}
pre {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  overflow: hidden;
  border-radius: 0.5em;
  background: #42313b;
  color: #fff0fc;
}
pre.white-space,
pre.word-break {
  white-space: pre-wrap;
}
pre > code {
  background: transparent;
  padding: 0;
}
code {
  color: #fff0fc;
  background-color: #372d5c;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
code.terminal::before {
  content: "$ ";
}
textarea {
  font-size: 23px;
  line-height: 1.8;
  border: 1px solid #bd4997;
  border-radius: 0.5em;
  margin-bottom: 1.62rem;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
textarea:focus {
  box-shadow: 0 0 2px #8da5e2;
}
.white,
body,
input,
textarea {
  background-color: #fff0fc;
  border-color: #8b7887;
}
.black {
  background-color: #280220;
  border-color: #140110;
}
.ambient {
  color: #fff0fc;
  background: #fd0bc9;
  border-color: #89066d;
}
.ambient.light {
  color: #280220;
  background: #fd33d2;
  border-color: #8a1a72;
}
.ambient.dark {
  color: #fff0fc;
  background: #dd02ae;
  border-color: #790160;
}
.red,
.failure {
  background-color: #ea0118;
  border-color: #80010d;
}
.light.red,
.light.failure {
  background-color: #fe152d;
  border-color: #8a0b18;
}
.dark.red,
.dark.failure {
  background-color: #c10114;
  border-color: #6c000b;
}
.orange,
.warning {
  background-color: #fa8918;
  border-color: #884a0c;
}
.light.orange,
.light.warning {
  background-color: #fb9e40;
  border-color: #885520;
}
.dark.orange,
.dark.warning {
  background-color: #e47505;
  border-color: #7d4003;
}
.yellow {
  background-color: #f5cf18;
  border-color: #85710c;
}
.light.yellow {
  background-color: #f6d73f;
  border-color: #867520;
}
.dark.yellow {
  background-color: #dab70a;
  border-color: #786405;
}
.olive {
  background-color: #9c7618;
  border-color: #58420d;
}
.light.olive {
  background-color: #c0911e;
  border-color: #6a5010;
}
.dark.olive {
  background-color: #795b13;
  border-color: #47350b;
}
.green,
.success {
  background-color: #297418;
  border-color: #17440e;
}
.light.green,
.light.success {
  background-color: #34961f;
  border-color: #1d5411;
}
.dark.green,
.dark.success {
  background-color: #1d5211;
  border-color: #11330a;
}
.teal {
  background-color: #297695;
  border-color: #164254;
}
.light.teal {
  background-color: #328fb5;
  border-color: #1b4f64;
}
.dark.teal {
  background-color: #205d75;
  border-color: #123644;
}
.cyan {
  background-color: #3dbcf4;
  border-color: #1f6685;
}
.light.cyan {
  background-color: #64caf6;
  border-color: #336d86;
}
.dark.cyan {
  background-color: #17aff2;
  border-color: #0c5f84;
}
.skyblue,
.info {
  background-color: #8da5e2;
  border-color: #48567a;
}
.light.skyblue,
.light.info {
  background-color: #adbeea;
  border-color: #58637f;
}
.dark.skyblue,
.dark.info {
  background-color: #6c8bda;
  border-color: #384976;
}
.blue {
  background-color: #2800f4;
  border-color: #160085;
}
.light.blue {
  background-color: #431eff;
  border-color: #240f8a;
}
.dark.blue {
  background-color: #2200cb;
  border-color: #130071;
}
.indigo {
  background-color: #6b0194;
  border-color: #3e0055;
}
.light.indigo {
  background-color: #8801bd;
  border-color: #4c016a;
}
.dark.indigo {
  background-color: #4e006b;
  border-color: #2f0041;
}
.purple {
  background-color: #a1019a;
  border-color: #5c0157;
}
.light.purple {
  background-color: #c902c0;
  border-color: #70016b;
}
.dark.purple {
  background-color: #780173;
  border-color: #470144;
}
.violet {
  background-color: #e662e5;
  border-color: #7d327c;
}
.light.violet {
  background-color: #ec85ea;
  border-color: #80447f;
}
.dark.violet {
  background-color: #e13fdf;
  border-color: #7a2179;
}
.gray {
  background-color: #916684;
  border-color: #503748;
}
.light.gray {
  background-color: #a37d98;
  border-color: #594252;
}
.dark.gray {
  background-color: #79556e;
  border-color: #442e3e;
}
.brown {
  background-color: #a44a34;
  border-color: #5b291c;
}
.light.brown {
  background-color: #c2593f;
  border-color: #6a3022;
}
.dark.brown {
  background-color: #853c2b;
  border-color: #4c2217;
}
.magenta {
  background-color: #e301df;
  border-color: #7c017a;
}
.light.magenta {
  background-color: #fe0ffa;
  border-color: #8a0888;
}
.dark.magenta {
  background-color: #ba01b7;
  border-color: #680166;
}
.lavender {
  background-color: #ccabe1;
  border-color: #6c5879;
}
.light.lavender {
  background-color: #dec9eb;
  border-color: #76677f;
}
.dark.lavender {
  background-color: #ba8dd6;
  border-color: #634974;
}
.cream {
  background-color: #efddce;
  border-color: #807469;
}
.light.cream {
  background-color: #f9f2ed;
  border-color: #867e78;
}
.dark.cream {
  background-color: #e5c8af;
  border-color: #7b695a;
}
.charcoal {
  background-color: #6a2e3f;
  border-color: #3e1924;
}
.light.charcoal {
  background-color: #873a50;
  border-color: #4c202d;
}
.dark.charcoal {
  background-color: #4e212e;
  border-color: #30131c;
}
.crimson {
  background-color: #b60928;
  border-color: #660516;
}
.light.crimson {
  background-color: #dd0b30;
  border-color: #79061a;
}
.dark.crimson {
  background-color: #8f071f;
  border-color: #520412;
}
.clover {
  background-color: #5c922b;
  border-color: #345218;
}
.light.clover {
  background-color: #70b235;
  border-color: #3d621c;
}
.dark.clover {
  background-color: #487322;
  border-color: #2a4313;
}
.cobalt {
  background-color: #356dd1;
  border-color: #1c3b72;
}
.light.cobalt {
  background-color: #5685d9;
  border-color: #2d4776;
}
.dark.cobalt {
  background-color: #295bb5;
  border-color: #163264;
}
.graphite {
  background-color: #372d5c;
  border-color: #201936;
}
.light.graphite {
  background-color: #483a77;
  border-color: #282044;
}
.dark.graphite {
  background-color: #271f40;
  border-color: #171329;
}
.ruby {
  background-color: #bb004b;
  border-color: #69002a;
}
.light.ruby {
  background-color: #e4015b;
  border-color: #7d0032;
}
.dark.ruby {
  background-color: #92003a;
  border-color: #540022;
}
.onyx {
  background-color: #42313b;
  border-color: #291c23;
}
.light.onyx {
  background-color: #5a4350;
  border-color: #34252e;
}
.dark.onyx {
  background-color: #2b2026;
  border-color: #1d1419;
}
.pewter {
  background-color: #a7948a;
  border-color: #5b4f49;
}
.light.pewter {
  background-color: #b8aaa2;
  border-color: #645a55;
}
.dark.pewter {
  background-color: #957f73;
  border-color: #52453d;
}
.gunmetal {
  background-color: #5d4a77;
  border-color: #342844;
}
.light.gunmetal {
  background-color: #715990;
  border-color: #3e3050;
}
.dark.gunmetal {
  background-color: #4a3a5e;
  border-color: #2a2037;
}
.hotpink {
  background-color: #ee4ea4;
  border-color: #812858;
}
.light.hotpink {
  background-color: #f173b7;
  border-color: #833b62;
}
.dark.hotpink {
  background-color: #ea2991;
  border-color: #7f154f;
}
.neongreen {
  background-color: #42dc1b;
  border-color: #24780f;
}
.light.neongreen {
  background-color: #5de739;
  border-color: #317e1e;
}
.dark.neongreen {
  background-color: #37b817;
  border-color: #1f660c;
}
.electricblue {
  background-color: #40a9df;
  border-color: #215b79;
}
.light.electricblue {
  background-color: #63b8e5;
  border-color: #33637c;
}
.dark.electricblue {
  background-color: #2497d2;
  border-color: #135273;
}
.royalpurple {
  background-color: #6d2b98;
  border-color: #3d1855;
}
.light.royalpurple {
  background-color: #8434b8;
  border-color: #481c65;
}
.dark.royalpurple {
  background-color: #562279;
  border-color: #311346;
}
.lemon {
  background-color: #f9e694;
  border-color: #877c4b;
}
.light.lemon {
  background-color: #fbefbb;
  border-color: #88805e;
}
.dark.lemon {
  background-color: #f7dd6d;
  border-color: #867737;
}
.lime {
  background-color: #a2c691;
  border-color: #566b4c;
}
.light.lime {
  background-color: #b9d4ac;
  border-color: #617259;
}
.dark.lime {
  background-color: #8bb876;
  border-color: #4a643e;
}
.tangerine {
  background-color: #f39957;
  border-color: #84522c;
}
.light.tangerine {
  background-color: #f6b07d;
  border-color: #865d3f;
}
.dark.tangerine {
  background-color: #f18231;
  border-color: #834619;
}
.grapefruit {
  background-color: #d52757;
  border-color: #75152f;
}
.light.grapefruit {
  background-color: #dd4871;
  border-color: #79253c;
}
.dark.grapefruit {
  background-color: #b32149;
  border-color: #631228;
}
.action,
.base-color {
  color: #fff0fc;
  background: #e01488;
  border-color: #7a0b4a;
}
.action.light,
.base-color.light {
  color: #fff0fc;
  background: #ed309b;
  border-color: #811954;
}
.action.dark,
.base-color.dark {
  color: #fff0fc;
  background: #bb1171;
  border-color: #68093f;
}
.reaction {
  background-color: #34845b;
  border-color: #1c4b33;
}
.light.reaction {
  background-color: #3fa16f;
  border-color: #22593d;
}
.dark.reaction {
  background-color: #286747;
  border-color: #173c29;
}
.default {
  background-color: #bd4997;
  border-color: #672752;
}
.light.default {
  background-color: #c867a8;
  border-color: #6d365b;
}
.dark.default {
  background-color: #a23b81;
  border-color: #5a2047;
}
.warm {
  background-color: #e75638;
  border-color: #7e2e1d;
}
.light.warm {
  background-color: #eb755d;
  border-color: #803d2f;
}
.dark.warm {
  background-color: #dc3c1b;
  border-color: #78200e;
}
.cool {
  background-color: #6375df;
  border-color: #333d79;
}
.light.cool {
  background-color: #8493e6;
  border-color: #444c7d;
}
.dark.cool {
  background-color: #4157d8;
  border-color: #222e76;
}
.neutral {
  background-color: #6b6842;
  border-color: #3d3c24;
}
.light.neutral {
  background-color: #848151;
  border-color: #4a482c;
}
.dark.neutral {
  background-color: #515032;
  border-color: #312f1c;
}
.complement,
.second.triad {
  background-color: #359564;
  border-color: #1d5438;
}
.light.complement,
.light.second.triad {
  background-color: #40b378;
  border-color: #226342;
}
.dark.complement,
.dark.second.triad {
  background-color: #2a7750;
  border-color: #18452e;
}
.accent {
  background-color: #c30b2e;
  border-color: #6c0619;
}
.light.accent {
  background-color: #ea0d37;
  border-color: #80071e;
}
.dark.accent {
  background-color: #9c0925;
  border-color: #590515;
}
.second.accent {
  background-color: #b90bbe;
  border-color: #67066a;
}
.light.second.accent {
  background-color: #df0de5;
  border-color: #7a077d;
}
.dark.second.accent {
  background-color: #930998;
  border-color: #540557;
}
.split {
  background-color: #c89727;
  border-color: #6e5315;
}
.light.split {
  background-color: #d9ab3e;
  border-color: #765d20;
}
.dark.split {
  background-color: #a57e20;
  border-color: #5d4612;
}
.second.split {
  background-color: #3619c3;
  border-color: #1e0d6c;
}
.light.second.split {
  background-color: #4321e3;
  border-color: #24127c;
}
.dark.second.split {
  background-color: #2c149f;
  border-color: #190b5a;
}
.triad {
  background-color: #c84e27;
  border-color: #6e2a15;
}
.light.triad {
  background-color: #d9643e;
  border-color: #763520;
}
.dark.triad {
  background-color: #a54120;
  border-color: #5d2412;
}
.third.triad {
  background-color: #750ec3;
  border-color: #41086c;
}
.light.third.triad {
  background-color: #8c11e9;
  border-color: #4c097f;
}
.dark.third.triad {
  background-color: #5e0c9d;
  border-color: #350759;
}
.tetrad {
  background-color: #c82927;
  border-color: #6e1615;
}
.light.tetrad {
  background-color: #d9403e;
  border-color: #762220;
}
.dark.tetrad {
  background-color: #a52220;
  border-color: #5d1312;
}
.second.tetrad {
  background-color: #65a227;
  border-color: #385a15;
}
.light.second.tetrad {
  background-color: #79c22f;
  border-color: #426b19;
}
.dark.second.tetrad {
  background-color: #50811f;
  border-color: #2e4a11;
}
.third.tetrad {
  background-color: #3687c3;
  border-color: #1d4a6b;
}
.light.third.tetrad {
  background-color: #539acf;
  border-color: #2c5371;
}
.dark.third.tetrad {
  background-color: #2d71a3;
  border-color: #193f5b;
}
.fourth.tetrad {
  background-color: #990ec3;
  border-color: #55086c;
}
.light.fourth.tetrad {
  background-color: #b711e9;
  border-color: #64097f;
}
.dark.fourth.tetrad {
  background-color: #7b0c9d;
  border-color: #460759;
}
.highlight {
  background-color: #ef02e9;
  border-color: #830180;
}
.light.highlight {
  background-color: #fe1cf8;
  border-color: #8a0e87;
}
.dark.highlight {
  background-color: #c601c2;
  border-color: #6e016c;
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-margin-right {
  margin-right: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.no-margin-left {
  margin-left: 0 !important;
}
.no-padding {
  padding: 0;
}
.no-margin,
.no-gutter {
  margin: 0;
}
.no-side-margin,
.no-side-margins {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.no-margins {
  margin: 0 !important;
}
.no-margins * {
  margin: 0 !important;
}
.no-box-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  box-shadow: unset;
}
.no-text-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  text-shadow: unset;
}
.no-border,
.no-borders,
.no-borders * {
  border-width: 0 !important;
}
.no-background {
  background: transparent;
}
.no-text-indent {
  text-indent: 0;
}
.no-text-align {
  text-align: initial;
}
.no-user-select {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.no-pointer-events {
  pointer-events: none;
}
.no-list-style {
  list-style-type: none;
  margin-left: 0;
}
.no-grid-gap,
.no-column-gap {
  grid-gap: 0;
  column-gap: 0;
}
@media print {
  html {
    font-size: 62.5%;
  }
  * {
    box-shadow: unset !important;
    border: unset !important;
  }
  nav {
    display: none !important;
  }
  .page-width,
  .text-width,
  .container {
    all: unset;
  }
  .inner-page-width,
  .inner-text-width,
  .inner-aside-width {
    all: unset;
  }
}
