/* This project uses Cavepaint (MIT License) by Rex Riepe */
/* https://github.com/cavepaint/cavepaintCSS */
* {
  margin: 0 0 1.62rem 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  margin-bottom: 0;
}
.button,
button {
  border-style: solid;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(30, 38, 36, 0.16);
  display: inline;
  position: relative;
  font-family: inherit;
  font-size: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  color: inherit;
  background-color: inherit;
  border-color: #90636e;
  border-width: 1px;
  line-height: 1.6;
  text-align: center;
  vertical-align: middle;
  outline: none;
  white-space: nowrap;
  text-decoration: none;
  touch-action: manipulation;
  cursor: pointer;
  transform: scale(1);
  transition: 0.08s linear;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.button:active,
button:active {
  transform: scale(0.99);
  box-shadow: unset;
}
.bar {
  position: relative;
  width: 100%;
  display: block;
  vertical-align: middle;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.bar > * {
  display: inline;
  margin-right: 0.3236em;
  margin-left: 0.3236em;
  margin-bottom: 0;
}
.card {
  position: relative;
  overflow: hidden;
  padding: 1.62rem;
  border: 1px solid #b4919a;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(30, 38, 36, 0.16);
}
.card > *:first-child {
  margin-top: 0;
}
.card > *:last-child {
  margin-bottom: 0;
}
.badge {
  border-radius: 0.5em;
  line-height: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  padding-right: 0.6472em;
  padding-left: 0.6472em;
  vertical-align: middle;
  border-radius: 99px;
  white-space: nowrap;
}
.modal {
  display: none;
  max-width: none;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  position: fixed;
  bottom: 0;
  justify-content: center;
  flex: 0 1 auto;
  flex-direction: column;
  height: 100vh;
}
.modal > * {
  flex-direction: column;
  color: #261e20;
  position: relative;
  background: #fefbfc;
  padding: 1.62rem;
  margin-bottom: 3.24rem;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(30, 38, 36, 0.16);
  margin: 1.62rem;
}
@media screen and (min-width: 42.24rem) {
  .modal > * {
    max-width: 63rem;
    margin: 0 auto;
  }
}
.overlay {
  margin: 0;
  padding: 0;
  position: relative;
}
.overlay .top,
.overlay .bottom,
.overlay .left,
.overlay .right {
  position: absolute;
}
.overlay .top {
  top: 0.3236em;
}
.overlay .bottom {
  bottom: 0.3236em;
}
.overlay .left {
  left: 0.3236em;
}
.overlay .right {
  right: 0.3236em;
}
.overlay.stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.overlay * {
  margin: 0;
  display: block;
}
.grid,
.two-column,
.three-column {
  display: grid;
  grid-gap: 1.62rem;
}
.grid.tablet,
.two-column.tablet,
.three-column.tablet,
.grid.mobile.tablet,
.two-column.mobile.tablet,
.three-column.mobile.tablet,
.grid.desktop,
.two-column.desktop,
.three-column.desktop {
  display: initial;
}
.grid {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.two-column {
  grid-template-columns: 1fr 1fr;
}
.two-column.golden {
  grid-template-columns: 1.618fr 1fr;
}
.two-column.golden.reverse {
  grid-template-columns: 1fr 1.618fr;
}
.three-column {
  grid-template-columns: 1fr 1fr 1fr;
}
.three-column.golden {
  grid-template-columns: 1fr 1.618fr 1fr;
}
.three-column.golden.leading {
  grid-template-columns: 1.618fr 1fr 1fr;
}
.three-column.golden.trailing {
  grid-template-columns: 1fr 1fr 1.618fr;
}
.grid-width-one {
  grid-column: auto / span 1;
}
.grid-width-two {
  grid-column: auto / span 2;
}
.grid-width-three {
  grid-column: auto / span 3;
}
.grid-width-four {
  grid-column: auto / span 4;
}
.grid-width-five {
  grid-column: auto / span 5;
}
.grid-width-six {
  grid-column: auto / span 6;
}
.grid-width-seven {
  grid-column: auto / span 7;
}
.grid-width-eight {
  grid-column: auto / span 8;
}
.grid-width-nine {
  grid-column: auto / span 9;
}
.grid-width-ten {
  grid-column: auto / span 10;
}
.grid-width-eleven {
  grid-column: auto / span 11;
}
.grid-width-twelve {
  grid-column: auto / span 12;
}
@media screen and (max-width: calc(42.24rem - 1px)) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: grid;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 42.24rem) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: initial;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: initial;
  }
  .grid.tablet,
  .two-column.tablet,
  .three-column.tablet {
    display: grid;
  }
  .grid.tablet > *,
  .two-column.tablet > *,
  .three-column.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (max-width: calc(63rem - 1px)) {
  .grid.mobile.tablet,
  .two-column.mobile.tablet,
  .three-column.mobile.tablet {
    display: grid;
  }
  .grid.mobile.tablet > *,
  .two-column.mobile.tablet > *,
  .three-column.mobile.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 63rem) {
  .grid.desktop,
  .two-column.desktop,
  .three-column.desktop {
    display: grid;
  }
  .grid.desktop > *,
  .two-column.desktop > *,
  .three-column.desktop > * {
    margin-bottom: 0;
  }
}
.responsive {
  column-gap: 0.619rem;
  grid-gap: 0.619rem;
}
.responsive.padding,
.modal,
.container {
  padding: 0.619rem;
}
.responsive.margin,
.container {
  margin: 0.619rem;
}
.responsive.gutter {
  margin: 1.238rem;
}
@media screen and (min-width: 42.24rem) {
  .responsive {
    column-gap: 1.001rem;
    grid-gap: 1.001rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.001rem;
  }
  .responsive.margin,
  .container {
    margin: 1.001rem;
  }
  .responsive.gutter {
    margin: 2.002rem;
  }
}
@media screen and (min-width: 63rem) {
  .responsive {
    column-gap: 1.62rem;
    grid-gap: 1.62rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.62rem;
  }
  .responsive.margin,
  .container {
    margin: 1.62rem;
  }
  .responsive.gutter {
    margin: 3.24rem;
  }
}
.background {
  background: #fefbfc;
}
.background-color {
  background-color: #fefbfc;
}
.border {
  border: 1px solid #b4919a;
}
.border-radius,
.rounded {
  border-radius: 0.5em;
}
.border-bottom {
  border-bottom: 1px solid #b4919a;
}
.border-left {
  border-left: 1px solid #b4919a;
}
.border-right {
  border-right: 1px solid #b4919a;
}
.border-style,
.button.border,
button.border {
  border-style: solid;
}
.border-top {
  border-top: 1px solid #b4919a;
}
.border-width,
.button.border,
button.border {
  border-width: 1px;
}
.max-width {
  max-width: 63rem;
}
.min-width {
  min-width: 24rem;
}
.align-content {
  align-content: stretch;
}
.align-items {
  align-items: stretch;
}
.align-self {
  align-self: auto;
}
.flex,
.vertical-center,
.center-vertical {
  flex: 0 1 auto;
}
.flex-basis {
  flex-basis: auto;
}
.flex-direction,
.vertical-center,
.center-vertical {
  flex-direction: column;
}
.flex-flow {
  flex-flow: column nowrap;
}
.flex-grow {
  flex-grow: 0;
}
.flex-shrink {
  flex-shrink: 1;
}
.flex-wrap {
  flex-wrap: nowrap;
}
.justify-content,
.vertical-center,
.center-vertical {
  justify-content: center;
}
.font-family,
body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "Droid Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
.font-size {
  font-size: 22px;
}
.font-weight {
  font-weight: normal;
}
.list-style {
  list-style: disc inside none;
}
.list-style-type {
  list-style-type: disc;
}
.margin {
  margin: 1.62rem;
}
.margin-bottom {
  margin-bottom: 1.62rem;
}
.margin-left {
  margin-left: 1.62rem;
}
.margin-right {
  margin-right: 1.62rem;
}
.margin-top {
  margin-top: 1.62rem;
}
.column-gap {
  column-gap: 1.94em;
}
.column-rule {
  column-rule: 1px solid #b4919a;
}
.padding {
  padding: 1.62rem;
}
.padding-bottom {
  padding-bottom: 1.62rem;
}
.padding-left {
  padding-left: 1.62rem;
}
.padding-right {
  padding-right: 1.62rem;
}
.padding-top {
  padding-top: 1.62rem;
}
.text-align {
  text-align: left;
}
.text-align-last {
  text-align-last: left;
}
.text-indent {
  text-indent: 2ch;
}
.text-justify {
  text-justify: justify;
}
.text-overflow {
  text-overflow: hidden;
}
.text-shadow {
  text-shadow: 1.41px 1.41px 1.41px rgba(30, 38, 36, 0.16);
}
.line-height {
  line-height: 1.8;
}
.vertical-align {
  vertical-align: middle;
}
.letter-spacing {
  letter-spacing: 0;
}
.word-spacing {
  word-spacing: normal;
}
.white-space {
  white-space: nowrap;
}
.word-break {
  word-break: break-all;
}
.word-wrap {
  word-wrap: break-word;
}
.transform {
  transform: none;
}
.transition {
  transition: all 0s ease 0s;
}
.display {
  display: block;
}
.position {
  position: absolute;
}
.top {
  top: 0;
}
.right {
  right: 0;
}
.bottom {
  bottom: 0;
}
.left {
  left: 0;
}
.float {
  float: left;
}
.clear {
  clear: both;
}
.z-index {
  z-index: 10;
}
.overflow {
  overflow: hidden;
}
.overflow-x {
  overflow-x: hidden;
}
.cursor {
  cursor: pointer;
}
.box-shadow {
  box-shadow: 1.41px 1.41px 1.41px rgba(30, 38, 36, 0.16);
}
.gutter {
  margin: 3.24rem;
}
.gutter-top {
  margin-top: 3.24rem;
}
.gutter-right {
  margin-right: 3.24rem;
}
.gutter-bottom {
  margin-bottom: 3.24rem;
}
.gutter-left {
  margin-left: 3.24rem;
}
.text-padding {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-padding-top {
  padding-top: 0.18em;
}
.text-padding-right {
  padding-right: 0.3236em;
}
.text-padding-bottom {
  padding-bottom: 0.22em;
}
.text-padding-left {
  padding-left: 0.3236em;
}
.text-margin {
  margin: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-margin-top {
  margin-top: 0.18em;
}
.text-margin-right {
  margin-right: 0.3236em;
}
.text-margin-bottom {
  margin-bottom: 0.22em;
}
.text-margin-left {
  margin-left: 0.3236em;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.initial {
  display: initial;
}
.table {
  display: table;
}
.flex,
.vertical-center,
.center-vertical {
  display: flex;
}
.inline-block {
  display: inline-block;
}
.static {
  position: static;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.margin-auto,
.container {
  margin-left: auto;
  margin-right: auto;
}
.width-auto {
  width: auto;
}
.inset {
  box-shadow: inset 1.41px 1.41px 1.41px rgba(30, 38, 36, 0.16);
}
.viewport-height {
  height: 100vh;
}
.min-viewport-height {
  min-height: 100vh;
}
.overflow-hidden {
  overflow: hidden;
}
.dashed {
  border-style: dashed;
}
.dotted {
  border-style: dotted;
}
.thick {
  border-width: 2px;
}
.thin {
  border-width: 0.5px;
}
.current-color {
  border-color: currentColor;
}
.fade {
  opacity: 0.65;
}
.serif,
.font-family-serif {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "Droid Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
.monospace,
.font-family-monospace,
pre,
code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
}
.sans-serif,
.font-family-sans-serif {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.text-transparent {
  color: transparent;
}
.reset {
  all: initial;
}
.big {
  font-size: 125%;
  line-height: 2.25;
}
.big.font-size {
  font-size: 27.5px;
}
.small,
.badge {
  font-size: 87.5%;
  line-height: 1.575;
}
.small.font-size {
  font-size: 19.25px;
}
.huge {
  font-size: 160%;
}
.huge.font-size {
  font-size: 35.2px;
}
.text-trim {
  line-height: 1;
}
.text-align-center,
.text-center {
  text-align: center;
}
.text-align-left,
.text-left {
  text-align: left;
}
.text-align-right,
.text-right {
  text-align: right;
}
.text-align-justify,
.text-justify {
  text-align: justify;
}
.grid-gap-margin {
  grid-gap: 1.62rem;
}
.grid-gap-border-width {
  grid-gap: 1px;
}
.grid-gap-text-padding,
.grid-gap-text-margin {
  grid-gap: 0.3236em;
}
.shade,
.white,
.orange,
.yellow,
.olive,
.light.green,
.light.teal,
.cyan,
.skyblue,
.violet,
.light.gray,
.light.magenta,
.lavender,
.cream,
.clover,
.pewter,
.hotpink,
.neongreen,
.electricblue,
.lemon,
.lime,
.tangerine,
.light.reaction,
.default,
.warm,
.cool,
.neutral,
.complement,
.accent,
.second.accent,
.split,
.triad,
.tetrad,
.second.tetrad,
.light.highlight,
body,
input,
textarea,
.info,
.warning,
.light.success,
.second.triad {
  color: #261e20;
}
.tint,
.black,
.red,
.dark.olive,
.green,
.teal,
.blue,
.indigo,
.purple,
.gray,
.brown,
.magenta,
.charcoal,
.crimson,
.dark.clover,
.cobalt,
.graphite,
.ruby,
.onyx,
.gunmetal,
.dark.hotpink,
.royalpurple,
.grapefruit,
.reaction,
.dark.default,
.second.split,
.third.triad,
.third.tetrad,
.fourth.tetrad,
.highlight,
.success,
.failure {
  color: #fefbfc;
}
.transparent {
  background-color: transparent;
  color: inherit;
  border-color: inherit;
}
.transparent.light {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23FFF%22%20fill-opacity%3D%220.16%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.transparent.dark,
.modal {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23000%22%20fill-opacity%3D%220.25%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.trim,
.trim-inner *,
.trim-all,
.trim-all * {
  margin-bottom: 0;
}
.hidden {
  display: none !important;
}
.clearfix,
.clear {
  clear: both;
}
.clearfix::after,
.clear::after {
  display: block;
  clear: both;
  content: "";
}
.golden-width {
  max-width: calc(62% - 3.24rem);
}
.golden-width.reverse {
  max-width: 38%;
}
.aside-width {
  max-width: 24rem;
}
@media screen and (min-width: 42.24rem) {
  .text-width {
    max-width: 39rem;
  }
}
.page-width,
.container {
  max-width: 63rem;
}
.full-width,
.aside-width .aside-width,
.text-width .text-width,
.page-width .page-width {
  display: block;
  width: 100%;
}
.inner-aside-width {
  padding-left: calc(50% - 12rem);
  padding-right: calc(50% - 12rem);
}
.inner-aside-width.padding {
  padding-left: calc(50% - 10.38rem);
  padding-right: calc(50% - 10.38rem);
}
.inner-aside-width.responsive.padding {
  padding-left: calc(50% - 11.38rem);
  padding-right: calc(50% - 11.38rem);
}
@media screen and (max-width: calc(42.24rem - 1px)) {
  .inner-text-width {
    padding-left: initial;
    padding-right: initial;
  }
  .inner-text-width.padding {
    padding-left: 1.62rem;
    padding-right: 1.62rem;
  }
  .inner-text-width.responsive.padding {
    padding-left: 0.619rem;
    padding-right: 0.619rem;
  }
}
@media screen and (min-width: 42.24rem) {
  .inner-aside-width.tablet.padding {
    padding-left: calc(50% - 10.38rem);
    padding-right: calc(50% - 10.38rem);
  }
  .inner-aside-width.tablet.responsive.padding {
    padding-left: calc(50% - 11rem);
    padding-right: calc(50% - 11rem);
  }
  .inner-text-width {
    padding-left: calc(50% - 19.5rem);
    padding-right: calc(50% - 19.5rem);
  }
  .inner-text-width.padding {
    padding-left: calc(50% - 17.88rem);
    padding-right: calc(50% - 17.88rem);
  }
  .inner-text-width.responsive.padding {
    padding-left: calc(50% - 18.5rem);
    padding-right: calc(50% - 18.5rem);
  }
}
@media screen and (min-width: 63rem) {
  .inner-aside-width.desktop.padding {
    padding-left: calc(50% - 10.38rem);
    padding-right: calc(50% - 10.38rem);
  }
  .inner-aside-width.desktop.responsive.padding {
    padding-left: calc(50% - 10.38rem);
    padding-right: calc(50% - 10.38rem);
  }
  .inner-text-width.desktop.padding {
    padding-left: calc(50% - 17.88rem);
    padding-right: calc(50% - 17.88rem);
  }
  .inner-text-width.desktop.responsive.padding {
    padding-left: calc(50% - 17.88rem);
    padding-right: calc(50% - 17.88rem);
  }
  .inner-page-width {
    padding-left: calc(50% - 31.5rem);
    padding-right: calc(50% - 31.5rem);
  }
  .inner-page-width.padding {
    padding-left: calc(50% - 29.88rem);
    padding-right: calc(50% - 29.88rem);
  }
  .inner-page-width.responsive.padding {
    padding-left: calc(50% - 29.88rem);
    padding-right: calc(50% - 29.88rem);
  }
}
.texture,
.pattern {
  background-position: top center;
}
.texture {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20viewBox%3D'0%200%203.175%201.588'%20height%3D'22'%20width%3D'44'%3E%3Cg%20fill%3D'%23fefbfc'%20fill-opacity%3D'0.05'%3E%3Cpath%20d%3D'M1.317%201.194h-.92l.23-.399.23-.398.23.398zM2.312%201.194l-.23-.399-.23-.398h.92l-.23.398z'/%3E%3C/g%3E%3C/svg%3E");
}
.pattern {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20width%3D'80'%20height%3D'50'%20viewBox%3D'0%200%2021.167%2013.229'%3E%3Cpath%20fill%3D'%23fefbfc'%20opacity%3D'0.05'%20d%3D'M0%200h21.167v6.615H0z'/%3E%3C/svg%3E");
}
.placeholder::before {
  content: " ";
  white-space: pre;
}
.placeholder::after {
  content: "";
}
.placeholder.image,
.placeholder.video,
.placeholder.avatar {
  position: relative;
}
.placeholder.image::before,
.placeholder.video::before,
.placeholder.avatar::before {
  position: absolute;
  top: calc(50% - 4rem);
  right: 0;
  bottom: 0;
  left: 0;
  display: inline-block;
  text-align: center;
  font-size: 4rem;
  vertical-align: middle;
}
.placeholder.image.small::before,
.placeholder.video.small::before,
.placeholder.avatar.small::before {
  top: calc(50% - 2rem);
  font-size: 2rem;
}
.placeholder.image.big::before,
.placeholder.video.big::before,
.placeholder.avatar.big::before {
  top: calc(50% - 6rem);
  font-size: 6rem;
}
.placeholder.image.huge::before,
.placeholder.video.huge::before,
.placeholder.avatar.huge::before {
  top: calc(50% - 8rem);
  font-size: 8rem;
}
.placeholder.image::after,
.placeholder.video::after,
.placeholder.avatar::after {
  display: block;
}
.placeholder.image::before {
  content: "\1f5bc";
}
.placeholder.image::after {
  padding-top: 75%;
}
.placeholder.video::before {
  content: "\25B6";
}
.placeholder.video::after {
  padding-top: 56.25%;
}
.placeholder.avatar::before {
  content: "\263A";
}
.placeholder.avatar::after {
  padding-top: 100%;
}
.placeholder.no-icon::before {
  content: "";
}
.hide {
  display: none;
}
.hide.tablet {
  display: initial;
}
.hide.desktop {
  display: initial;
}
@media screen and (max-width: calc(42.24rem - 1px)) {
  .hide.mobile {
    display: none;
  }
}
@media screen and (min-width: 42.24rem) {
  .hide.mobile {
    display: initial;
  }
  .hide.tablet {
    display: none;
  }
}
@media screen and (min-width: 63rem) {
  .hide.desktop {
    display: none;
  }
  .hide.mobile.tablet {
    display: initial;
  }
}
@media screen and (max-width: calc(63rem - 1px)) {
  .hide.mobile.tablet {
    display: none;
  }
}
body {
  font-size: 22px;
  line-height: 1.8;
  margin: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
nav {
  z-index: 99;
}
nav a {
  text-decoration: none;
}
aside {
  margin: 0 auto;
  margin-bottom: 1.62rem;
  max-width: 24rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-top: 0.49443758em;
  margin-bottom: 0.74165637em;
  letter-spacing: -0.025em;
  color: inherit;
  line-height: 1.618;
}
h1 {
  font-size: 2.4em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1em;
}
p {
  margin-bottom: 1em;
}
p.gutter-bottom {
  margin-bottom: 1.618em;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: inherit;
  text-decoration: underline;
}
a.target-blank::after,
a.new-tab::after,
a.external-link::after {
  content: "\00A0\1F855";
}
form {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input {
  font-size: 22px;
  line-height: 1.8;
  border: 1px solid #b4919a;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input:focus {
  box-shadow: 0 0 2px #8dc9e6;
}
fieldset {
  border: none;
  outline: none;
}
ol {
  padding-left: 4ch;
  margin-bottom: 1.62rem;
}
ol li {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
ul {
  margin-left: 1.62rem;
  margin-bottom: 1.62rem;
}
li {
  margin-bottom: 0.44em;
}
kbd {
  color: #fefbfc;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  white-space: nowrap;
}
b {
  padding: 0.18em 0 0.22em 0;
}
pre {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  overflow: hidden;
  border-radius: 0.5em;
  background: #423c3e;
  color: #fefbfc;
}
pre.white-space,
pre.word-break {
  white-space: pre-wrap;
}
pre > code {
  background: transparent;
  padding: 0;
}
code {
  color: #fefbfc;
  background-color: #393b5f;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
code.terminal::before {
  content: "$ ";
}
textarea {
  font-size: 22px;
  line-height: 1.8;
  border: 1px solid #b4919a;
  border-radius: 0.5em;
  margin-bottom: 1.62rem;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
textarea:focus {
  box-shadow: 0 0 2px #8dc9e6;
}
.white,
body,
input,
textarea {
  background-color: #fefbfc;
  border-color: #8d8285;
}
.black {
  background-color: #261e20;
  border-color: #130f10;
}
.ambient {
  color: #261e20;
  background: #eebcca;
  border-color: #85636d;
}
.ambient.light {
  color: #261e20;
  background: #f7dde4;
  border-color: #897379;
}
.ambient.dark {
  color: #261e20;
  background: #e69bb1;
  border-color: #815260;
}
.red,
.failure {
  background-color: #f2181d;
  border-color: #890f12;
}
.light.red,
.light.failure {
  background-color: #f43f43;
  border-color: #8a2225;
}
.dark.red,
.dark.failure {
  background-color: #d60c10;
  border-color: #7b090b;
}
.orange,
.warning {
  background-color: #fcaa19;
  border-color: #8e600f;
}
.light.orange,
.light.warning {
  background-color: #fcb941;
  border-color: #8f6823;
}
.dark.orange,
.dark.warning {
  background-color: #e99603;
  border-color: #855604;
}
.yellow {
  background-color: #f8f81a;
  border-color: #8d8c10;
}
.light.yellow {
  background-color: #faf942;
  border-color: #8d8d24;
}
.dark.yellow {
  background-color: #e4e306;
  border-color: #828206;
}
.olive {
  background-color: #a39c1d;
  border-color: #605c13;
}
.light.olive {
  background-color: #c6be23;
  border-color: #726d16;
}
.dark.olive {
  background-color: #817b17;
  border-color: #4f4c10;
}
.green,
.success {
  background-color: #27981c;
  border-color: #195b12;
}
.light.green,
.light.success {
  background-color: #30ba22;
  border-color: #1d6c15;
}
.dark.green,
.dark.success {
  background-color: #1e7515;
  border-color: #14490f;
}
.teal {
  background-color: #289c9e;
  border-color: #195c5d;
}
.light.teal {
  background-color: #31bdbf;
  border-color: #1d6c6d;
}
.dark.teal {
  background-color: #207c7e;
  border-color: #154c4d;
}
.cyan {
  background-color: #38f8f9;
  border-color: #1f8d8d;
}
.light.cyan {
  background-color: #60fafa;
  border-color: #328d8d;
}
.dark.cyan {
  background-color: #11f7f7;
  border-color: #0b8c8c;
}
.skyblue,
.info {
  background-color: #8dc9e6;
  border-color: #4b7081;
}
.light.skyblue,
.light.info {
  background-color: #aed9ed;
  border-color: #5c7885;
}
.dark.skyblue,
.dark.info {
  background-color: #6bb9de;
  border-color: #3a687d;
}
.blue {
  background-color: #2616f8;
  border-color: #160d8c;
}
.light.blue {
  background-color: #4b3df9;
  border-color: #29218d;
}
.dark.blue {
  background-color: #1607df;
  border-color: #0e0680;
}
.indigo {
  background-color: #6d179b;
  border-color: #420f5d;
}
.light.indigo {
  background-color: #861cbf;
  border-color: #4e126e;
}
.dark.indigo {
  background-color: #541278;
  border-color: #350d4b;
}
.purple {
  background-color: #ac1ba8;
  border-color: #651162;
}
.light.purple {
  background-color: #cf21ca;
  border-color: #771474;
}
.dark.purple {
  background-color: #891585;
  border-color: #530f51;
}
.violet {
  background-color: #ea80e8;
  border-color: #844483;
}
.light.violet {
  background-color: #efa3ef;
  border-color: #865586;
}
.dark.violet {
  background-color: #e45de2;
  border-color: #813380;
}
.gray {
  background-color: #918689;
  border-color: #524c4d;
}
.light.gray {
  background-color: #a49c9e;
  border-color: #5c5758;
}
.dark.gray {
  background-color: #7c7274;
  border-color: #484243;
}
.brown {
  background-color: #a75938;
  border-color: #613522;
}
.light.brown {
  background-color: #c16c46;
  border-color: #6e3e29;
}
.dark.brown {
  background-color: #88492e;
  border-color: #512c1c;
}
.magenta {
  background-color: #ed25ec;
  border-color: #861685;
}
.light.magenta {
  background-color: #f04aef;
  border-color: #882887;
}
.dark.magenta {
  background-color: #d812d6;
  border-color: #7b0c7b;
}
.lavender {
  background-color: #cfbde4;
  border-color: #71657f;
}
.light.lavender {
  background-color: #e4daf0;
  border-color: #7b7385;
}
.dark.lavender {
  background-color: #baa1d8;
  border-color: #665679;
}
.cream {
  background-color: #f2f2d0;
  border-color: #87876d;
}
.light.cream {
  background-color: #fbfbf1;
  border-color: #8b8b7d;
}
.dark.cream {
  background-color: #eae9b0;
  border-color: #83825d;
}
.charcoal {
  background-color: #6a4844;
  border-color: #402c29;
}
.light.charcoal {
  background-color: #835953;
  border-color: #4d3531;
}
.dark.charcoal {
  background-color: #513734;
  border-color: #342421;
}
.crimson {
  background-color: #ba162b;
  border-color: #6d0e1b;
}
.light.crimson {
  background-color: #df1a33;
  border-color: #7f111f;
}
.dark.crimson {
  background-color: #961223;
  border-color: #5a0c16;
}
.clover {
  background-color: #5db830;
  border-color: #366a1d;
}
.light.clover {
  background-color: #71ce42;
  border-color: #407526;
}
.dark.clover {
  background-color: #4d9727;
  border-color: #2e5a19;
}
.cobalt {
  background-color: #377ed6;
  border-color: #204879;
}
.light.cobalt {
  background-color: #5994dd;
  border-color: #31537d;
}
.dark.cobalt {
  background-color: #276abd;
  border-color: #183e6d;
}
.graphite {
  background-color: #393b5f;
  border-color: #24253b;
}
.light.graphite {
  background-color: #484b79;
  border-color: #2c2d48;
}
.dark.graphite {
  background-color: #2a2b46;
  border-color: #1c1d2e;
}
.ruby {
  background-color: #be0c4e;
  border-color: #6f092f;
}
.light.ruby {
  background-color: #e40e5e;
  border-color: #820a37;
}
.dark.ruby {
  background-color: #97093e;
  border-color: #5c0827;
}
.onyx {
  background-color: #423c3e;
  border-color: #2b2728;
}
.light.onyx {
  background-color: #575051;
  border-color: #363132;
}
.dark.onyx {
  background-color: #2d292a;
  border-color: #201d1e;
}
.pewter {
  background-color: #aaa893;
  border-color: #605e52;
}
.light.pewter {
  background-color: #bcbaaa;
  border-color: #69675d;
}
.dark.pewter {
  background-color: #98957c;
  border-color: #575547;
}
.gunmetal {
  background-color: #60687b;
  border-color: #383d48;
}
.light.gunmetal {
  background-color: #727c92;
  border-color: #414753;
}
.dark.gunmetal {
  background-color: #4e5564;
  border-color: #2f333d;
}
.hotpink {
  background-color: #f45da9;
  border-color: #8a325e;
}
.light.hotpink {
  background-color: #f783be;
  border-color: #8b4568;
}
.dark.hotpink {
  background-color: #f23795;
  border-color: #891e54;
}
.neongreen {
  background-color: #44f41e;
  border-color: #278a12;
}
.light.neongreen {
  background-color: #65f645;
  border-color: #378b25;
}
.dark.neongreen {
  background-color: #31df0b;
  border-color: #1d8008;
}
.electricblue {
  background-color: #43c0e7;
  border-color: #256c83;
}
.light.electricblue {
  background-color: #67ccec;
  border-color: #377285;
}
.dark.electricblue {
  background-color: #1fb4e3;
  border-color: #136681;
}
.royalpurple {
  background-color: #723d9f;
  border-color: #43255d;
}
.light.royalpurple {
  background-color: #874bba;
  border-color: #4d2c6a;
}
.dark.royalpurple {
  background-color: #5d3282;
  border-color: #381f4e;
}
.lemon {
  background-color: #fbfa95;
  border-color: #8e8d4d;
}
.light.lemon {
  background-color: #fdfcbc;
  border-color: #8f8e61;
}
.dark.lemon {
  background-color: #faf86d;
  border-color: #8d8c39;
}
.lime {
  background-color: #a2ed94;
  border-color: #57854e;
}
.light.lime {
  background-color: #c1f3b7;
  border-color: #66885f;
}
.dark.lime {
  background-color: #84e771;
  border-color: #48823c;
}
.tangerine {
  background-color: #f8ac59;
  border-color: #8c5f2f;
}
.light.tangerine {
  background-color: #fabf80;
  border-color: #8d6943;
}
.dark.tangerine {
  background-color: #f69832;
  border-color: #8b561c;
}
.grapefruit {
  background-color: #da425c;
  border-color: #7b2534;
}
.light.grapefruit {
  background-color: #e16479;
  border-color: #7f3643;
}
.dark.grapefruit {
  background-color: #cb2844;
  border-color: #741828;
}
.action,
.base-color {
  color: #fefbfc;
  background: #b67d89;
  border-color: #67464d;
}
.action.light,
.base-color.light {
  color: #261e20;
  background: #c597a1;
  border-color: #6e5358;
}
.action.dark,
.base-color.dark {
  color: #fefbfc;
  background: #a76371;
  border-color: #5f3941;
}
.reaction {
  background-color: #68968c;
  border-color: #3c5650;
}
.light.reaction {
  background-color: #80a79f;
  border-color: #485e5a;
}
.dark.reaction {
  background-color: #577e76;
  border-color: #334a45;
}
.default {
  background-color: #b4919a;
  border-color: #655055;
}
.light.default {
  background-color: #c4a9b0;
  border-color: #6d5d61;
}
.dark.default {
  background-color: #a37983;
  border-color: #5d444a;
}
.warm {
  background-color: #f9f769;
  border-color: #8d8c37;
}
.light.warm {
  background-color: #faf990;
  border-color: #8d8d4b;
}
.dark.warm {
  background-color: #f7f642;
  border-color: #8c8b23;
}
.cool {
  background-color: #83f7f8;
  border-color: #448c8c;
}
.light.cool {
  background-color: #a9fafa;
  border-color: #578d8d;
}
.dark.cool {
  background-color: #5cf5f6;
  border-color: #318b8b;
}
.neutral {
  background-color: #84c8cb;
  border-color: #487072;
}
.light.neutral {
  background-color: #a0d4d7;
  border-color: #567778;
}
.dark.neutral {
  background-color: #67bbbf;
  border-color: #3a6a6c;
}
.complement,
.second.triad {
  background-color: #74a097;
  border-color: #425b56;
}
.light.complement,
.light.second.triad {
  background-color: #8db0a9;
  border-color: #4e635f;
}
.dark.complement,
.dark.second.triad {
  background-color: #608b82;
  border-color: #38514b;
}
.accent {
  background-color: #d6b0a4;
  border-color: #786058;
}
.light.accent {
  background-color: #e3c9c0;
  border-color: #7e6c66;
}
.dark.accent {
  background-color: #ca9887;
  border-color: #71544a;
}
.second.accent {
  background-color: #d6a2c6;
  border-color: #78576e;
}
.light.second.accent {
  background-color: #e3bed8;
  border-color: #7e6676;
}
.dark.second.accent {
  background-color: #ca85b5;
  border-color: #724965;
}
.split {
  background-color: #a0a975;
  border-color: #5b6042;
}
.light.split {
  background-color: #b1b88e;
  border-color: #63684e;
}
.dark.split {
  background-color: #8d975e;
  border-color: #515736;
}
.second.split {
  background-color: #8a72aa;
  border-color: #4e4061;
}
.light.second.split {
  background-color: #9f8bba;
  border-color: #594d68;
}
.dark.second.split {
  background-color: #765b98;
  border-color: #443558;
}
.triad {
  background-color: #af9d75;
  border-color: #635942;
}
.light.triad {
  background-color: #beaf8e;
  border-color: #6a624e;
}
.dark.triad {
  background-color: #9f8a5c;
  border-color: #5b5035;
}
.third.triad {
  background-color: #a472aa;
  border-color: #5d4061;
}
.light.third.triad {
  background-color: #b48bba;
  border-color: #654d68;
}
.dark.third.triad {
  background-color: #915b98;
  border-color: #543558;
}
.tetrad {
  background-color: #af8f75;
  border-color: #635142;
}
.light.tetrad {
  background-color: #bea48e;
  border-color: #6a5b4e;
}
.dark.tetrad {
  background-color: #9f7b5c;
  border-color: #5b4735;
}
.second.tetrad {
  background-color: #7ba977;
  border-color: #466043;
}
.light.second.tetrad {
  background-color: #94b990;
  border-color: #52684f;
}
.dark.second.tetrad {
  background-color: #659760;
  border-color: #3a5737;
}
.third.tetrad {
  background-color: #7b8baa;
  border-color: #454e61;
}
.light.third.tetrad {
  background-color: #94a1ba;
  border-color: #525968;
}
.dark.third.tetrad {
  background-color: #63759a;
  border-color: #394458;
}
.fourth.tetrad {
  background-color: #af72a8;
  border-color: #63405f;
}
.light.fourth.tetrad {
  background-color: #bd8cb8;
  border-color: #6a4d67;
}
.dark.fourth.tetrad {
  background-color: #9e5a97;
  border-color: #5b3457;
}
.highlight {
  background-color: #f43af1;
  border-color: #8a2089;
}
.light.highlight {
  background-color: #f661f4;
  border-color: #8b338a;
}
.dark.highlight {
  background-color: #f213ef;
  border-color: #890c87;
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-margin-right {
  margin-right: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.no-margin-left {
  margin-left: 0 !important;
}
.no-padding {
  padding: 0;
}
.no-margin,
.no-gutter {
  margin: 0;
}
.no-side-margin,
.no-side-margins {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.no-margins {
  margin: 0 !important;
}
.no-margins * {
  margin: 0 !important;
}
.no-box-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  box-shadow: unset;
}
.no-text-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  text-shadow: unset;
}
.no-border,
.no-borders,
.no-borders * {
  border-width: 0 !important;
}
.no-background {
  background: transparent;
}
.no-text-indent {
  text-indent: 0;
}
.no-text-align {
  text-align: initial;
}
.no-user-select {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.no-pointer-events {
  pointer-events: none;
}
.no-list-style {
  list-style-type: none;
  margin-left: 0;
}
.no-grid-gap,
.no-column-gap {
  grid-gap: 0;
  column-gap: 0;
}
@media print {
  html {
    font-size: 62.5%;
  }
  * {
    box-shadow: unset !important;
    border: unset !important;
  }
  nav {
    display: none !important;
  }
  .page-width,
  .text-width,
  .container {
    all: unset;
  }
  .inner-page-width,
  .inner-text-width,
  .inner-aside-width {
    all: unset;
  }
}
