/* This project uses Cavepaint (MIT License) by Rex Riepe */
/* https://github.com/cavepaint/cavepaintCSS */
.background {
  background: #fbfef9;
}
.background-color {
  background-color: #fbfef9;
}
.border {
  border: 1px solid #6b8c5d;
}
.border-radius,
.rounded {
  border-radius: 0.5em;
}
.border-bottom {
  border-bottom: 1px solid #6b8c5d;
}
.border-left {
  border-left: 1px solid #6b8c5d;
}
.border-right {
  border-right: 1px solid #6b8c5d;
}
.border-style,
.button.border,
button.border {
  border-style: solid;
}
.border-top {
  border-top: 1px solid #6b8c5d;
}
.border-width,
.button.border,
button.border {
  border-width: 1px;
}
.max-width {
  max-width: 59rem;
}
.min-width {
  min-width: 22rem;
}
.align-content {
  align-content: stretch;
}
.align-items {
  align-items: stretch;
}
.align-self {
  align-self: auto;
}
.flex,
.vertical-center,
.center-vertical {
  flex: 0 1 auto;
}
.flex-direction,
.vertical-center,
.center-vertical {
  flex-direction: column;
}
.justify-content,
.vertical-center,
.center-vertical {
  justify-content: center;
}
.font-family,
body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.font-size {
  font-size: 18px;
}
.font-weight {
  font-weight: normal;
}
.list-style {
  list-style: disc inside none;
}
.list-style-type {
  list-style-type: disc;
}
.margin {
  margin: 2rem;
}
.margin-bottom,
pre,
.bar,
.card {
  margin-bottom: 2rem;
}
.margin-left {
  margin-left: 2rem;
}
.margin-right {
  margin-right: 2rem;
}
.margin-top {
  margin-top: 2rem;
}
.column-gap {
  column-gap: 1.94em;
}
.column-rule {
  column-rule: 1px solid #6b8c5d;
}
.padding {
  padding: 1rem;
}
.padding-bottom {
  padding-bottom: 1rem;
}
.padding-left {
  padding-left: 1rem;
}
.padding-right {
  padding-right: 1rem;
}
.padding-top {
  padding-top: 1rem;
}
.text-align {
  text-align: left;
}
.text-align-last {
  text-align-last: left;
}
.text-indent {
  text-indent: 2ch;
}
.text-justify {
  text-justify: justify;
}
.text-overflow {
  text-overflow: hidden;
}
.text-shadow {
  text-shadow: 1px 1px 1px rgba(29, 38, 25, 0.2);
}
.line-height {
  line-height: 1.8;
}
.vertical-align {
  vertical-align: middle;
}
.letter-spacing {
  letter-spacing: 0;
}
.word-spacing {
  word-spacing: normal;
}
.white-space {
  white-space: nowrap;
}
.word-break {
  word-break: break-all;
}
.word-wrap {
  word-wrap: break-word;
}
.transform {
  transform: none;
}
.transition {
  transition: all 0s ease 0s;
}
.display {
  display: block;
}
.position {
  position: absolute;
}
.top {
  top: 0;
}
.right {
  right: 0;
}
.bottom {
  bottom: 0;
}
.left {
  left: 0;
}
.float {
  float: left;
}
.clear {
  clear: both;
}
.z-index {
  z-index: 10;
}
.overflow {
  overflow: hidden;
}
.cursor {
  cursor: pointer;
}
.box-shadow {
  box-shadow: 1px 1px 1px rgba(29, 38, 25, 0.2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-size: 18px;
  line-height: 1.8;
  margin: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
nav {
  z-index: 99;
}
nav a {
  text-decoration: none;
}
aside {
  margin: 0 auto;
  margin-bottom: 2rem;
  max-width: 22rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-top: 0.49443758em;
  margin-bottom: 0.74165637em;
  letter-spacing: -0.025em;
  color: inherit;
  line-height: 1.618;
}
h1 {
  font-size: 2.4em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1em;
}
p {
  margin-bottom: 1em;
}
p.gutter-bottom {
  margin-bottom: 1.618em;
}
p.gutter {
  margin-bottom: 4rem;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: inherit;
  text-decoration: underline;
}
form {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input {
  font-size: 18px;
  line-height: 1.8;
  border: 1px solid #6b8c5d;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input:focus {
  box-shadow: 0 0 2px #1bffff;
}
fieldset {
  border: none;
  outline: none;
}
ol {
  padding-left: 4ch;
  margin-bottom: 2rem;
}
ol li {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
ul {
  margin-left: 1rem;
  margin-bottom: 2rem;
}
li {
  margin-bottom: 0.44em;
}
kbd {
  color: #fbfef9;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  white-space: nowrap;
}
b {
  padding: 0.18em 0 0.22em 0;
}
pre {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  overflow: hidden;
  border-radius: 0.5em;
  background: #1d2619;
  color: #fbfef9;
}
pre.white-space,
pre.word-break {
  white-space: pre-wrap;
}
pre > code {
  background: transparent;
  padding: 0;
}
code {
  color: #fbfef9;
  background-color: #1d2619;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
code.terminal::before {
  content: "$ ";
}
textarea {
  font-size: 18px;
  line-height: 1.8;
  border: 1px solid #6b8c5d;
  border-radius: 0.5em;
  margin-bottom: 2rem;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
textarea:focus {
  box-shadow: 0 0 2px #1bffff;
}
.button,
button {
  border-style: solid;
  border-radius: 0.5em;
  box-shadow: 1px 1px 1px rgba(29, 38, 25, 0.2);
  display: inline;
  position: relative;
  font-family: inherit;
  font-size: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  color: inherit;
  background-color: inherit;
  border-color: #455b3c;
  border-width: 1px;
  line-height: 1.6;
  text-align: center;
  vertical-align: middle;
  outline: none;
  white-space: nowrap;
  text-decoration: none;
  touch-action: manipulation;
  cursor: pointer;
  transform: scale(1);
  transition: 0.08s linear;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.button:active,
button:active {
  transform: scale(0.99);
  box-shadow: unset;
}
.bar {
  position: relative;
  width: 100%;
  display: block;
  vertical-align: middle;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.bar > * {
  display: inline;
  margin-right: 0.3236em;
  margin-left: 0.3236em;
}
.card {
  position: relative;
  overflow: hidden;
  padding: 1rem;
  border: 1px solid #6b8c5d;
  border-radius: 0.5em;
  box-shadow: 1px 1px 1px rgba(29, 38, 25, 0.2);
}
.card > *:first-child {
  margin-top: 0;
}
.badge {
  border-radius: 0.5em;
  line-height: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  padding-right: 0.6472em;
  padding-left: 0.6472em;
  vertical-align: middle;
  border-radius: 99px;
  white-space: nowrap;
}
.modal {
  display: none;
  max-width: none;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  position: fixed;
  bottom: 0;
  justify-content: center;
  flex: 0 1 auto;
  flex-direction: column;
  height: 100vh;
}
.modal > * {
  flex-direction: column;
  color: #1d2619;
  position: relative;
  background: #fbfef9;
  padding: 1rem;
  margin-bottom: 4rem;
  border-radius: 0.5em;
  box-shadow: 1px 1px 1px rgba(29, 38, 25, 0.2);
  margin: 1rem;
}
@media screen and (min-width: 41rem) {
  .modal > * {
    max-width: 59rem;
    margin: 0 auto;
  }
}
.overlay {
  margin: 0;
  padding: 0;
  position: relative;
}
.overlay .top,
.overlay .bottom,
.overlay .left,
.overlay .right {
  position: absolute;
}
.overlay .top {
  top: 0.3236em;
}
.overlay .bottom {
  bottom: 0.3236em;
}
.overlay .left {
  left: 0.3236em;
}
.overlay .right {
  right: 0.3236em;
}
.overlay.stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.overlay * {
  margin: 0;
  display: block;
}
.white,
body,
input,
textarea {
  background-color: #fbfef9;
  border-color: #848d80;
}
.white.light,
body.light,
input.light,
textarea.light {
  color: #1d2619;
  background-color: #fdfefc;
  border-color: #868d82;
}
.white.dark,
body.dark,
input.dark,
textarea.dark {
  color: #1d2619;
  background-color: #f7fdf4;
  border-color: #838d7e;
}
.black {
  background-color: #1d2619;
  border-color: #0f130c;
}
.black.light {
  color: #fbfef9;
  background-color: #516148;
  border-color: #313b2b;
}
.black.dark {
  color: #fbfef9;
  background-color: #030602;
  border-color: #090f07;
}
.ambient {
  color: #1d2619;
  background-color: #b6ee9b;
  border-color: #628551;
}
.ambient.light {
  color: #1d2619;
  background-color: #d6f6c5;
  border-color: #738a66;
}
.ambient.dark {
  color: #1d2619;
  background-color: #8ee36a;
  border-color: #4e7f39;
}
.ambient.bright {
  color: #1d2619;
  background-color: #e5fbda;
  border-color: #7a8c70;
}
.red,
.failure {
  background-color: #ff360d;
  border-color: #901f09;
}
.light.red,
.light.failure {
  background-color: #fe7253;
  border-color: #8f3d2b;
}
.dark.red,
.dark.failure {
  background-color: #cb2c0b;
  border-color: #751a08;
}
.bright.red,
.bright.failure {
  background-color: #ff2e1b;
  border-color: #901a0f;
}
.orange,
.warning {
  background-color: #ffb109;
  border-color: #906406;
}
.light.orange,
.light.warning {
  background-color: #fec84f;
  border-color: #8f7029;
}
.dark.orange,
.dark.warning {
  background-color: #cb8f07;
  border-color: #755306;
}
.bright.orange,
.bright.warning {
  background-color: #ffd51a;
  border-color: #90780f;
}
.yellow {
  background-color: #ffff09;
  border-color: #909006;
}
.light.yellow {
  background-color: #feff4f;
  border-color: #8f9029;
}
.dark.yellow {
  background-color: #cbd007;
  border-color: #757806;
}
.bright.yellow {
  background-color: #ffff1a;
  border-color: #90900f;
}
.green,
.success {
  background-color: #1b9b0d;
  border-color: #115d0a;
}
.light.green,
.light.success {
  background-color: #5db953;
  border-color: #35692f;
}
.dark.green,
.dark.success {
  background-color: #157c0b;
  border-color: #0f4d08;
}
.bright.green,
.bright.success {
  background-color: #06ca02;
  border-color: #057503;
}
.teal {
  background-color: #119285;
  border-color: #0c5850;
}
.light.teal {
  background-color: #56b2a8;
  border-color: #31655f;
}
.dark.teal {
  background-color: #0e7465;
  border-color: #0a493f;
}
.bright.teal {
  background-color: #03bb9f;
  border-color: #036d5d;
}
.cyan,
.info {
  background-color: #1bffff;
  border-color: #0f9090;
}
.light.cyan,
.light.info {
  background-color: #5dfffe;
  border-color: #308f8f;
}
.dark.cyan,
.dark.info {
  background-color: #15d0c9;
  border-color: #0e7773;
}
.bright.cyan,
.bright.info {
  background-color: #1fffff;
  border-color: #119090;
}
.blue {
  background-color: #1b36ff;
  border-color: #0f1e90;
}
.light.blue {
  background-color: #5d72fe;
  border-color: #303d8f;
}
.dark.blue {
  background-color: #152cc9;
  border-color: #0e1a73;
}
.bright.blue {
  background-color: #1f2fff;
  border-color: #111a90;
}
.purple {
  background-color: #892385;
  border-color: #52164f;
}
.light.purple {
  background-color: #ab65a8;
  border-color: #61395f;
}
.dark.purple {
  background-color: #6a1d65;
  border-color: #42133f;
}
.bright.purple {
  background-color: #aa0ba0;
  border-color: #64085f;
}
.magenta {
  background-color: #ff36ff;
  border-color: #901d90;
}
.light.magenta {
  background-color: #fe72fe;
  border-color: #8f3b8f;
}
.dark.magenta {
  background-color: #cb2cc9;
  border-color: #731a72;
}
.bright.magenta {
  background-color: #ff30ff;
  border-color: #901a90;
}
.gray {
  background-color: #899284;
  border-color: #4d534a;
}
.light.gray {
  background-color: #abb2a7;
  border-color: #5e635c;
}
.dark.gray {
  background-color: #6a7465;
  border-color: #3d443a;
}
.bright.gray {
  background-color: #9eac97;
  border-color: #586053;
}
.action,
.base-color {
  color: #1d2619;
  background-color: #79b568;
  border-color: #44663a;
}
.action.light,
.base-color.light {
  color: #1d2619;
  background-color: #aed7a0;
  border-color: #5e7756;
}
.action.dark,
.base-color.dark {
  color: #fbfef9;
  background-color: #489036;
  border-color: #2b5521;
}
.action.bright,
.base-color.bright {
  color: #1d2619;
  background-color: #98d387;
  border-color: #537649;
}
.reaction {
  background-color: #9667a4;
  border-color: #553a5d;
}
.light.reaction {
  background-color: #b594be;
  border-color: #64516a;
}
.dark.reaction {
  background-color: #75527f;
  border-color: #45304a;
}
.bright.reaction {
  background-color: #b266c5;
  border-color: #64396f;
}
.default {
  background-color: #6b8c5d;
  border-color: #3d5136;
}
.light.default {
  background-color: #96ae8b;
  border-color: #53624d;
}
.dark.default {
  background-color: #526f47;
  border-color: #31432a;
}
.bright.default {
  background-color: #63a94b;
  border-color: #39612c;
}
.complement,
.second.triad {
  background-color: #a476b1;
  border-color: #5c4164;
}
.light.complement,
.light.second.triad {
  color: #1d2619;
  background-color: #be9fc7;
  border-color: #69566f;
}
.dark.complement,
.dark.second.triad {
  color: #fbfef9;
  background-color: #805d89;
  border-color: #4a364f;
}
.bright.complement,
.bright.second.triad {
  color: #1d2619;
  background-color: #c680d6;
  border-color: #6e4578;
}
.accent {
  background-color: #abe0b6;
  border-color: #5b7d62;
}
.light.accent {
  color: #1d2619;
  background-color: #c3e9cb;
  border-color: #67816c;
}
.dark.accent {
  color: #1d2619;
  background-color: #86b68d;
  border-color: #4a664e;
}
.bright.accent {
  color: #1d2619;
  background-color: #defbe6;
  border-color: #728c7a;
}
.second.accent {
  background-color: #cfe0a8;
  border-color: #727d59;
}
.light.second.accent {
  color: #1d2619;
  background-color: #dde9c0;
  border-color: #798165;
}
.dark.second.accent {
  color: #1d2619;
  background-color: #a4b681;
  border-color: #5c6647;
}
.bright.second.accent {
  color: #1d2619;
  background-color: #f4fada;
  border-color: #868c70;
}
.split {
  background-color: #6ba7b1;
  border-color: #3c5e64;
}
.light.split {
  color: #1d2619;
  background-color: #96c1c7;
  border-color: #516b6f;
}
.dark.split {
  color: #fbfef9;
  background-color: #528689;
  border-color: #304e50;
}
.bright.split {
  color: #1d2619;
  background-color: #6dc9d5;
  border-color: #3b7178;
}
.second.split {
  background-color: #b48965;
  border-color: #664d39;
}
.light.second.split {
  color: #1d2619;
  background-color: #c9ac91;
  border-color: #705f4f;
}
.dark.second.split {
  color: #fbfef9;
  background-color: #8d6c4d;
  border-color: #523f2d;
}
.bright.second.split {
  color: #1d2619;
  background-color: #d89e65;
  border-color: #795837;
}
.triad {
  background-color: #6bbaa0;
  border-color: #3b695a;
}
.light.triad {
  color: #1d2619;
  background-color: #96cebb;
  border-color: #517368;
}
.dark.triad {
  color: #fbfef9;
  background-color: #52957b;
  border-color: #305647;
}
.bright.triad {
  color: #1d2619;
  background-color: #6edec2;
  border-color: #3b7d6c;
}
.third.triad {
  background-color: #b4ab65;
  border-color: #666039;
}
.light.third.triad {
  color: #1d2619;
  background-color: #c9c491;
  border-color: #706d4f;
}
.dark.third.triad {
  color: #fbfef9;
  background-color: #8d894d;
  border-color: #52502d;
}
.bright.third.triad {
  color: #1d2619;
  background-color: #d8ce65;
  border-color: #797337;
}
.tetrad {
  background-color: #6bba8d;
  border-color: #3b694f;
}
.light.tetrad {
  color: #1d2619;
  background-color: #96ceae;
  border-color: #51735f;
}
.dark.tetrad {
  color: #fbfef9;
  background-color: #52956c;
  border-color: #30563e;
}
.bright.tetrad {
  color: #1d2619;
  background-color: #6edea6;
  border-color: #3b7d5c;
}
.second.tetrad {
  background-color: #6d76b1;
  border-color: #3d4264;
}
.light.second.tetrad {
  color: #1d2619;
  background-color: #979fc7;
  border-color: #52576f;
}
.dark.second.tetrad {
  color: #fbfef9;
  background-color: #545d89;
  border-color: #313650;
}
.bright.second.tetrad {
  color: #fbfef9;
  background-color: #707fd5;
  border-color: #3d4578;
}
.third.tetrad {
  background-color: #b47689;
  border-color: #65414c;
}
.light.third.tetrad {
  color: #1d2619;
  background-color: #c99fab;
  border-color: #70565d;
}
.dark.third.tetrad {
  color: #fbfef9;
  background-color: #8d5d68;
  border-color: #51363c;
}
.bright.third.tetrad {
  color: #1d2619;
  background-color: #d980a0;
  border-color: #794558;
}
.fourth.tetrad {
  background-color: #b2ba65;
  border-color: #646939;
}
.light.fourth.tetrad {
  color: #1d2619;
  background-color: #c8ce91;
  border-color: #6f734e;
}
.dark.fourth.tetrad {
  color: #fbfef9;
  background-color: #8b954d;
  border-color: #51562d;
}
.bright.fourth.tetrad {
  color: #1d2619;
  background-color: #d6de65;
  border-color: #787d37;
}
.warm {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201%201%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23f78760%22%20opacity%3D%220.2%22%20d%3D%22M0%200h1v1H0z%22%2F%3E%3C%2Fsvg%3E");
}
.cool {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201%201%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%234364ee%22%20opacity%3D%220.2%22%20d%3D%22M0%200h1v1H0z%22%2F%3E%3C%2Fsvg%3E");
}
.neutral {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201%201%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%232ad8c2%22%20opacity%3D%220.16%22%20d%3D%22M0%200h1v1H0z%22%2F%3E%3C%2Fsvg%3E");
}
.dull {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201%201%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23adb7a7%22%20opacity%3D%220.38%22%20d%3D%22M0%200h1v1H0z%22%2F%3E%3C%2Fsvg%3E");
}
.responsive {
  column-gap: 0.382rem;
  grid-gap: 0.382rem;
}
.responsive.padding,
.modal,
.container {
  padding: 0.382rem;
}
.responsive.margin,
.container {
  margin: 0.764rem;
}
.responsive.gutter {
  margin: 1.528rem;
}
@media screen and (min-width: 41rem) {
  .responsive {
    column-gap: 0.618rem;
    grid-gap: 0.618rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 0.618rem;
  }
  .responsive.margin,
  .container {
    margin: 1.236rem;
  }
  .responsive.gutter {
    margin: 2.472rem;
  }
}
@media screen and (min-width: 59rem) {
  .responsive {
    column-gap: 1rem;
    grid-gap: 1rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1rem;
  }
  .responsive.margin,
  .container {
    margin: 2rem;
  }
  .responsive.gutter {
    margin: 4rem;
  }
}
.grid,
.two-column,
.three-column {
  display: grid;
  grid-gap: 2rem;
  margin-bottom: 2rem;
}
.grid.tablet,
.two-column.tablet,
.three-column.tablet,
.grid.mobile.tablet,
.two-column.mobile.tablet,
.three-column.mobile.tablet,
.grid.desktop,
.two-column.desktop,
.three-column.desktop {
  display: unset;
}
.grid {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.two-column {
  grid-template-columns: 1fr 1fr;
}
.two-column.golden {
  grid-template-columns: 1.618fr 1fr;
}
.two-column.golden.reverse {
  grid-template-columns: 1fr 1.618fr;
}
.three-column {
  grid-template-columns: 1fr 1fr 1fr;
}
.three-column.golden {
  grid-template-columns: 1fr 1.618fr 1fr;
}
.three-column.golden.leading {
  grid-template-columns: 1.618fr 1fr 1fr;
}
.three-column.golden.trailing {
  grid-template-columns: 1fr 1fr 1.618fr;
}
.grid-width-one {
  grid-column: auto / span 1;
}
.grid-width-two {
  grid-column: auto / span 2;
}
.grid-width-three {
  grid-column: auto / span 3;
}
.grid-width-four {
  grid-column: auto / span 4;
}
.grid-width-five {
  grid-column: auto / span 5;
}
.grid-width-six {
  grid-column: auto / span 6;
}
.grid-width-seven {
  grid-column: auto / span 7;
}
.grid-width-eight {
  grid-column: auto / span 8;
}
.grid-width-nine {
  grid-column: auto / span 9;
}
.grid-width-ten {
  grid-column: auto / span 10;
}
.grid-width-eleven {
  grid-column: auto / span 11;
}
.grid-width-twelve {
  grid-column: auto / span 12;
}
@media screen and (max-width: calc(41rem - 1px)) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: grid;
  }
}
@media screen and (min-width: 41rem) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: initial;
  }
  .grid.tablet,
  .two-column.tablet,
  .three-column.tablet {
    display: grid;
  }
}
@media screen and (max-width: calc(59rem - 1px)) {
  .grid.mobile.tablet,
  .two-column.mobile.tablet,
  .three-column.mobile.tablet {
    display: grid;
  }
}
@media screen and (min-width: 59rem) {
  .grid.desktop,
  .two-column.desktop,
  .three-column.desktop {
    display: grid;
  }
}
.gutter {
  margin: 4rem;
}
.gutter-top {
  margin-top: 4rem;
}
.gutter-right {
  margin-right: 4rem;
}
.gutter-bottom {
  margin-bottom: 4rem;
}
.gutter-left {
  margin-left: 4rem;
}
.text-padding {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-padding-top {
  padding-top: 0.18em;
}
.text-padding-right {
  padding-right: 0.3236em;
}
.text-padding-bottom {
  padding-bottom: 0.22em;
}
.text-padding-left {
  padding-left: 0.3236em;
}
.text-margin {
  margin: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-margin-top {
  margin-top: 0.18em;
}
.text-margin-right {
  margin-right: 0.3236em;
}
.text-margin-bottom {
  margin-bottom: 0.22em;
}
.text-margin-left {
  margin-left: 0.3236em;
}
.bottom-margins * {
  margin-bottom: 2rem;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.initial {
  display: initial;
}
.table {
  display: table;
}
.flex,
.vertical-center,
.center-vertical {
  display: flex;
}
.inline-block {
  display: inline-block;
}
.static {
  position: static;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.margin-auto,
.container {
  margin-left: auto;
  margin-right: auto;
}
.width-auto {
  width: auto;
}
.inset {
  box-shadow: inset 1px 1px 1px rgba(29, 38, 25, 0.2);
}
.viewport-height {
  height: 100vh;
}
.min-viewport-height {
  min-height: 100vh;
}
.overflow-hidden {
  overflow: hidden;
}
.dashed {
  border-style: dashed;
}
.dotted {
  border-style: dotted;
}
.thick {
  border-width: 2px;
}
.thin {
  border-width: 0.5px;
}
.current-color {
  border-color: currentColor;
}
.fade {
  opacity: 0.65;
}
.monospace,
pre,
code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
}
.sans-serif {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.serif {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "Droid Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.text-transparent {
  color: transparent;
}
.big {
  font-size: 125%;
  line-height: 2.25;
}
.big.font-size {
  font-size: 22.5px;
}
.small,
.badge {
  font-size: 87.5%;
  line-height: 1.575;
}
.small.font-size {
  font-size: 15.75px;
}
.huge {
  font-size: 160%;
}
.huge.font-size {
  font-size: 28.8px;
}
.text-trim {
  line-height: 1;
}
.text-align-center,
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.grid-gap-margin {
  grid-gap: 2rem;
}
.grid-gap-border-width {
  grid-gap: 1px;
}
.grid-gap-text-padding,
.grid-gap-text-margin {
  grid-gap: 0.3236em;
}
.shade,
.white,
.light.red,
.orange,
.bright.orange,
.yellow,
.bright.yellow,
.light.green,
.bright.green,
.light.teal,
.bright.teal,
.cyan,
.bright.cyan,
.magenta,
.bright.magenta,
.light.gray,
.bright.gray,
.light.reaction,
.light.default,
.bright.default,
.accent,
.second.accent,
.split,
.triad,
.third.triad,
.tetrad,
.fourth.tetrad,
body,
input,
textarea,
.info,
.bright.info,
.warning,
.bright.warning,
.light.success,
.bright.success,
.light.failure {
  color: #1d2619;
}
.tint,
.black,
.red,
.bright.red,
.green,
.teal,
.blue,
.bright.blue,
.purple,
.bright.purple,
.dark.magenta,
.gray,
.reaction,
.bright.reaction,
.default,
.complement,
.second.split,
.second.tetrad,
.third.tetrad,
.success,
.failure,
.bright.failure,
.second.triad {
  color: #fbfef9;
}
.transparent {
  background-color: transparent;
  color: inherit;
  border-color: inherit;
}
.transparent.light {
  background-color: rgba(251, 254, 249, 0.16);
}
.transparent.dark,
.modal {
  background-color: rgba(29, 38, 25, 0.25);
}
.trim,
.trim-inner *,
.trim-all,
.trim-all * {
  margin-bottom: 0;
}
.bump {
  position: relative;
}
.bump.up {
  top: -2px;
}
.bump.down {
  top: 2px;
}
.bump.left {
  left: -2px;
}
.bump.right {
  right: initial;
  left: 2px;
}
.hidden {
  display: none !important;
}
.clearfix,
.clear {
  clear: both;
}
.clearfix::after,
.clear::after {
  display: block;
  clear: both;
  content: "";
}
.character-width {
  max-width: 1ch;
}
.golden-width {
  max-width: calc(62% - 4rem);
}
.golden-width.reverse {
  max-width: 38%;
}
.aside-width {
  max-width: 22rem;
}
@media screen and (min-width: 41rem) {
  .text-width {
    max-width: 37rem;
  }
}
.page-width,
.container {
  max-width: 59rem;
}
.full-width,
.page-width .page-width {
  display: block;
  width: 100%;
}
.inner-aside-width {
  padding-left: calc(50% - 11rem);
  padding-right: calc(50% - 11rem);
}
.inner-aside-width.padding {
  padding-left: calc(50% - 10rem);
  padding-right: calc(50% - 10rem);
}
.inner-aside-width.responsive.padding {
  padding-left: calc(50% - 10.62rem);
  padding-right: calc(50% - 10.62rem);
}
@media screen and (max-width: calc(41rem - 1px)) {
  .inner-text-width {
    padding-left: initial;
    padding-right: initial;
  }
  .inner-text-width.padding {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .inner-text-width.responsive.padding {
    padding-left: 0.382rem;
    padding-right: 0.382rem;
  }
}
@media screen and (min-width: 41rem) {
  .inner-aside-width.tablet.padding {
    padding-left: calc(50% - 10rem);
    padding-right: calc(50% - 10rem);
  }
  .inner-aside-width.tablet.responsive.padding {
    padding-left: calc(50% - 10.38rem);
    padding-right: calc(50% - 10.38rem);
  }
  .inner-text-width {
    padding-left: calc(50% - 18.5rem);
    padding-right: calc(50% - 18.5rem);
  }
  .inner-text-width.padding {
    padding-left: calc(50% - 17.5rem);
    padding-right: calc(50% - 17.5rem);
  }
  .inner-text-width.responsive.padding {
    padding-left: calc(50% - 17.88rem);
    padding-right: calc(50% - 17.88rem);
  }
}
@media screen and (min-width: 59rem) {
  .inner-aside-width.desktop.padding {
    padding-left: calc(50% - 10rem);
    padding-right: calc(50% - 10rem);
  }
  .inner-aside-width.desktop.responsive.padding {
    padding-left: calc(50% - 10rem);
    padding-right: calc(50% - 10rem);
  }
  .inner-text-width.desktop.padding {
    padding-left: calc(50% - 17.5rem);
    padding-right: calc(50% - 17.5rem);
  }
  .inner-text-width.desktop.responsive.padding {
    padding-left: calc(50% - 17.5rem);
    padding-right: calc(50% - 17.5rem);
  }
  .inner-page-width {
    padding-left: calc(50% - 29.5rem);
    padding-right: calc(50% - 29.5rem);
  }
  .inner-page-width.padding {
    padding-left: calc(50% - 28.5rem);
    padding-right: calc(50% - 28.5rem);
  }
  .inner-page-width.responsive.padding {
    padding-left: calc(50% - 28.5rem);
    padding-right: calc(50% - 28.5rem);
  }
}
.placeholder {
  min-height: 10px;
}
.placeholder::before {
  content: " ";
  white-space: pre;
}
.placeholder::after {
  content: "";
  display: block;
}
.placeholder.square::after,
.placeholder.one-to-one::after {
  padding-top: 100%;
}
.placeholder.four-to-three::after {
  padding-top: 75%;
}
.placeholder.sixteen-to-nine::after {
  padding-top: 56.25%;
}
.hide {
  display: none;
}
.hide.tablet {
  display: initial;
}
.hide.desktop {
  display: initial;
}
@media screen and (max-width: calc(41rem - 1px)) {
  .hide.mobile {
    display: none;
  }
}
@media screen and (min-width: 41rem) {
  .hide.mobile {
    display: initial;
  }
  .hide.tablet {
    display: none;
  }
}
@media screen and (min-width: 59rem) {
  .hide.desktop {
    display: none;
  }
  .hide.mobile.tablet {
    display: initial;
  }
}
@media screen and (max-width: calc(59rem - 1px)) {
  .hide.mobile.tablet {
    display: none;
  }
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-margin-right {
  margin-right: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.no-margin-left {
  margin-left: 0 !important;
}
.no-padding {
  padding: 0;
}
.no-margin,
.no-gutter {
  margin: 0;
}
.no-side-margin,
.no-side-margins {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.no-margins {
  margin: 0 !important;
}
.no-margins * {
  margin: 0 !important;
}
.no-box-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  box-shadow: unset;
}
.no-text-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  text-shadow: unset;
}
.no-border,
.no-borders,
.no-borders * {
  border-width: 0 !important;
}
.no-background {
  background: transparent;
}
.no-text-indent {
  text-indent: 0;
}
.no-text,
.no-text * {
  text-indent: -9999px;
}
.no-text-align {
  text-align: initial;
}
.no-user-select {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.no-pointer-events {
  pointer-events: none;
}
.no-list-style {
  list-style-type: none;
  margin-left: 0;
}
.no-grid-gap,
.no-column-gap {
  grid-gap: 0;
  column-gap: 0;
}
