/* This project uses Cavepaint (MIT License) by Rex Riepe */
/* https://github.com/cavepaint/cavepaintCSS */
* {
  margin: 0 0 1.62rem 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  margin-bottom: 0;
}
.button,
button {
  border-style: solid;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(34, 1, 36, 0.16);
  display: inline;
  position: relative;
  font-family: inherit;
  font-size: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  color: inherit;
  background-color: inherit;
  border-color: #346c30;
  border-width: 1px;
  line-height: 1.6;
  text-align: center;
  vertical-align: middle;
  outline: none;
  white-space: nowrap;
  text-decoration: none;
  touch-action: manipulation;
  cursor: pointer;
  transform: scale(1);
  transition: 0.08s linear;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.button:active,
button:active {
  transform: scale(0.99);
  box-shadow: unset;
}
.bar {
  position: relative;
  width: 100%;
  display: block;
  vertical-align: middle;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.bar > * {
  display: inline;
  margin-right: 0.3236em;
  margin-left: 0.3236em;
  margin-bottom: 0;
}
.card {
  position: relative;
  overflow: hidden;
  padding: 1.62rem;
  border: 1px solid #50a44a;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(34, 1, 36, 0.16);
}
.card > *:first-child {
  margin-top: 0;
}
.card > *:last-child {
  margin-bottom: 0;
}
.badge {
  border-radius: 0.5em;
  line-height: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  padding-right: 0.6472em;
  padding-left: 0.6472em;
  vertical-align: middle;
  border-radius: 99px;
  white-space: nowrap;
}
.modal {
  display: none;
  max-width: none;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  position: fixed;
  bottom: 0;
  justify-content: center;
  flex: 0 1 auto;
  flex-direction: column;
  height: 100vh;
}
.modal > * {
  flex-direction: column;
  color: #032401;
  position: relative;
  background: #f1fdf0;
  padding: 1.62rem;
  margin-bottom: 3.24rem;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(34, 1, 36, 0.16);
  margin: 1.62rem;
}
@media screen and (min-width: 50.24rem) {
  .modal > * {
    max-width: 76rem;
    margin: 0 auto;
  }
}
.overlay {
  margin: 0;
  padding: 0;
  position: relative;
}
.overlay .top,
.overlay .bottom,
.overlay .left,
.overlay .right {
  position: absolute;
}
.overlay .top {
  top: 0.3236em;
}
.overlay .bottom {
  bottom: 0.3236em;
}
.overlay .left {
  left: 0.3236em;
}
.overlay .right {
  right: 0.3236em;
}
.overlay.stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.overlay * {
  margin: 0;
  display: block;
}
.grid,
.two-column,
.three-column {
  display: grid;
  grid-gap: 1.62rem;
}
.grid.tablet,
.two-column.tablet,
.three-column.tablet,
.grid.mobile.tablet,
.two-column.mobile.tablet,
.three-column.mobile.tablet,
.grid.desktop,
.two-column.desktop,
.three-column.desktop {
  display: initial;
}
.grid {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.two-column {
  grid-template-columns: 1fr 1fr;
}
.two-column.golden {
  grid-template-columns: 1.618fr 1fr;
}
.two-column.golden.reverse {
  grid-template-columns: 1fr 1.618fr;
}
.three-column {
  grid-template-columns: 1fr 1fr 1fr;
}
.three-column.golden {
  grid-template-columns: 1fr 1.618fr 1fr;
}
.three-column.golden.leading {
  grid-template-columns: 1.618fr 1fr 1fr;
}
.three-column.golden.trailing {
  grid-template-columns: 1fr 1fr 1.618fr;
}
.grid-width-one {
  grid-column: auto / span 1;
}
.grid-width-two {
  grid-column: auto / span 2;
}
.grid-width-three {
  grid-column: auto / span 3;
}
.grid-width-four {
  grid-column: auto / span 4;
}
.grid-width-five {
  grid-column: auto / span 5;
}
.grid-width-six {
  grid-column: auto / span 6;
}
.grid-width-seven {
  grid-column: auto / span 7;
}
.grid-width-eight {
  grid-column: auto / span 8;
}
.grid-width-nine {
  grid-column: auto / span 9;
}
.grid-width-ten {
  grid-column: auto / span 10;
}
.grid-width-eleven {
  grid-column: auto / span 11;
}
.grid-width-twelve {
  grid-column: auto / span 12;
}
@media screen and (max-width: calc(50.24rem - 1px)) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: grid;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 50.24rem) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: initial;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: initial;
  }
  .grid.tablet,
  .two-column.tablet,
  .three-column.tablet {
    display: grid;
  }
  .grid.tablet > *,
  .two-column.tablet > *,
  .three-column.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (max-width: calc(76rem - 1px)) {
  .grid.mobile.tablet,
  .two-column.mobile.tablet,
  .three-column.mobile.tablet {
    display: grid;
  }
  .grid.mobile.tablet > *,
  .two-column.mobile.tablet > *,
  .three-column.mobile.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 76rem) {
  .grid.desktop,
  .two-column.desktop,
  .three-column.desktop {
    display: grid;
  }
  .grid.desktop > *,
  .two-column.desktop > *,
  .three-column.desktop > * {
    margin-bottom: 0;
  }
}
.responsive {
  column-gap: 0.619rem;
  grid-gap: 0.619rem;
}
.responsive.padding,
.modal,
.container {
  padding: 0.619rem;
}
.responsive.margin,
.container {
  margin: 0.619rem;
}
.responsive.gutter {
  margin: 1.238rem;
}
@media screen and (min-width: 50.24rem) {
  .responsive {
    column-gap: 1.001rem;
    grid-gap: 1.001rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.001rem;
  }
  .responsive.margin,
  .container {
    margin: 1.001rem;
  }
  .responsive.gutter {
    margin: 2.002rem;
  }
}
@media screen and (min-width: 76rem) {
  .responsive {
    column-gap: 1.62rem;
    grid-gap: 1.62rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.62rem;
  }
  .responsive.margin,
  .container {
    margin: 1.62rem;
  }
  .responsive.gutter {
    margin: 3.24rem;
  }
}
.background {
  background: #f1fdf0;
}
.background-color {
  background-color: #f1fdf0;
}
.border {
  border: 1px solid #50a44a;
}
.border-radius,
.rounded {
  border-radius: 0.5em;
}
.border-bottom {
  border-bottom: 1px solid #50a44a;
}
.border-left {
  border-left: 1px solid #50a44a;
}
.border-right {
  border-right: 1px solid #50a44a;
}
.border-style,
.button.border,
button.border {
  border-style: solid;
}
.border-top {
  border-top: 1px solid #50a44a;
}
.border-width,
.button.border,
button.border {
  border-width: 1px;
}
.max-width {
  max-width: 76rem;
}
.min-width {
  min-width: 29rem;
}
.align-content {
  align-content: stretch;
}
.align-items {
  align-items: stretch;
}
.align-self {
  align-self: auto;
}
.flex,
.vertical-center,
.center-vertical {
  flex: 0 1 auto;
}
.flex-basis {
  flex-basis: auto;
}
.flex-direction,
.vertical-center,
.center-vertical {
  flex-direction: column;
}
.flex-flow {
  flex-flow: column nowrap;
}
.flex-grow {
  flex-grow: 0;
}
.flex-shrink {
  flex-shrink: 1;
}
.flex-wrap {
  flex-wrap: nowrap;
}
.justify-content,
.vertical-center,
.center-vertical {
  justify-content: center;
}
.font-family,
body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.font-size {
  font-size: 18px;
}
.font-weight {
  font-weight: normal;
}
.list-style {
  list-style: disc inside none;
}
.list-style-type {
  list-style-type: disc;
}
.margin {
  margin: 1.62rem;
}
.margin-bottom {
  margin-bottom: 1.62rem;
}
.margin-left {
  margin-left: 1.62rem;
}
.margin-right {
  margin-right: 1.62rem;
}
.margin-top {
  margin-top: 1.62rem;
}
.column-gap {
  column-gap: 1.94em;
}
.column-rule {
  column-rule: 1px solid #50a44a;
}
.padding {
  padding: 1.62rem;
}
.padding-bottom {
  padding-bottom: 1.62rem;
}
.padding-left {
  padding-left: 1.62rem;
}
.padding-right {
  padding-right: 1.62rem;
}
.padding-top {
  padding-top: 1.62rem;
}
.text-align {
  text-align: left;
}
.text-align-last {
  text-align-last: left;
}
.text-indent {
  text-indent: 2ch;
}
.text-justify {
  text-justify: justify;
}
.text-overflow {
  text-overflow: hidden;
}
.text-shadow {
  text-shadow: 1.41px 1.41px 1.41px rgba(34, 1, 36, 0.16);
}
.line-height {
  line-height: 1.8;
}
.vertical-align {
  vertical-align: middle;
}
.letter-spacing {
  letter-spacing: 0;
}
.word-spacing {
  word-spacing: normal;
}
.white-space {
  white-space: nowrap;
}
.word-break {
  word-break: break-all;
}
.word-wrap {
  word-wrap: break-word;
}
.transform {
  transform: none;
}
.transition {
  transition: all 0s ease 0s;
}
.display {
  display: block;
}
.position {
  position: absolute;
}
.top {
  top: 0;
}
.right {
  right: 0;
}
.bottom {
  bottom: 0;
}
.left {
  left: 0;
}
.float {
  float: left;
}
.clear {
  clear: both;
}
.z-index {
  z-index: 10;
}
.overflow {
  overflow: hidden;
}
.overflow-x {
  overflow-x: hidden;
}
.cursor {
  cursor: pointer;
}
.box-shadow {
  box-shadow: 1.41px 1.41px 1.41px rgba(34, 1, 36, 0.16);
}
.gutter {
  margin: 3.24rem;
}
.gutter-top {
  margin-top: 3.24rem;
}
.gutter-right {
  margin-right: 3.24rem;
}
.gutter-bottom {
  margin-bottom: 3.24rem;
}
.gutter-left {
  margin-left: 3.24rem;
}
.text-padding {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-padding-top {
  padding-top: 0.18em;
}
.text-padding-right {
  padding-right: 0.3236em;
}
.text-padding-bottom {
  padding-bottom: 0.22em;
}
.text-padding-left {
  padding-left: 0.3236em;
}
.text-margin {
  margin: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-margin-top {
  margin-top: 0.18em;
}
.text-margin-right {
  margin-right: 0.3236em;
}
.text-margin-bottom {
  margin-bottom: 0.22em;
}
.text-margin-left {
  margin-left: 0.3236em;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.initial {
  display: initial;
}
.table {
  display: table;
}
.flex,
.vertical-center,
.center-vertical {
  display: flex;
}
.inline-block {
  display: inline-block;
}
.static {
  position: static;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.margin-auto,
.container {
  margin-left: auto;
  margin-right: auto;
}
.width-auto {
  width: auto;
}
.inset {
  box-shadow: inset 1.41px 1.41px 1.41px rgba(34, 1, 36, 0.16);
}
.viewport-height {
  height: 100vh;
}
.min-viewport-height {
  min-height: 100vh;
}
.overflow-hidden {
  overflow: hidden;
}
.dashed {
  border-style: dashed;
}
.dotted {
  border-style: dotted;
}
.thick {
  border-width: 2px;
}
.thin {
  border-width: 0.5px;
}
.current-color {
  border-color: currentColor;
}
.fade {
  opacity: 0.65;
}
.serif,
.font-family-serif {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "Droid Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
.monospace,
.font-family-monospace,
pre,
code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
}
.sans-serif,
.font-family-sans-serif {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.text-transparent {
  color: transparent;
}
.reset {
  all: initial;
}
.big {
  font-size: 125%;
  line-height: 2.25;
}
.big.font-size {
  font-size: 22.5px;
}
.small,
.badge {
  font-size: 87.5%;
  line-height: 1.575;
}
.small.font-size {
  font-size: 15.75px;
}
.huge {
  font-size: 160%;
}
.huge.font-size {
  font-size: 28.8px;
}
.text-trim {
  line-height: 1;
}
.text-align-center,
.text-center {
  text-align: center;
}
.text-align-left,
.text-left {
  text-align: left;
}
.text-align-right,
.text-right {
  text-align: right;
}
.text-align-justify,
.text-justify {
  text-align: justify;
}
.grid-gap-margin {
  grid-gap: 1.62rem;
}
.grid-gap-border-width {
  grid-gap: 1px;
}
.grid-gap-text-padding,
.grid-gap-text-margin {
  grid-gap: 0.3236em;
}
.shade,
.white,
.orange,
.yellow,
.light.olive,
.light.green,
.light.teal,
.cyan,
.skyblue,
.violet,
.light.gray,
.lavender,
.cream,
.clover,
.pewter,
.light.hotpink,
.neongreen,
.electricblue,
.lemon,
.lime,
.tangerine,
.default,
.light.warm,
.neutral,
.accent,
.second.accent,
.fourth.tetrad,
body,
input,
textarea,
.info,
.warning,
.light.success {
  color: #032401;
}
.tint,
.black,
.red,
.dark.orange,
.olive,
.green,
.teal,
.blue,
.indigo,
.purple,
.dark.violet,
.gray,
.brown,
.magenta,
.charcoal,
.crimson,
.dark.clover,
.cobalt,
.graphite,
.ruby,
.onyx,
.dark.pewter,
.gunmetal,
.hotpink,
.dark.electricblue,
.royalpurple,
.grapefruit,
.reaction,
.dark.default,
.warm,
.cool,
.complement,
.split,
.second.split,
.triad,
.third.triad,
.tetrad,
.second.tetrad,
.third.tetrad,
.highlight,
.dark.warning,
.success,
.failure,
.second.triad {
  color: #f1fdf0;
}
.transparent {
  background-color: transparent;
  color: inherit;
  border-color: inherit;
}
.transparent.light {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23FFF%22%20fill-opacity%3D%220.16%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.transparent.dark,
.modal {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23000%22%20fill-opacity%3D%220.25%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.trim,
.trim-inner *,
.trim-all,
.trim-all * {
  margin-bottom: 0;
}
.hidden {
  display: none !important;
}
.clearfix,
.clear {
  clear: both;
}
.clearfix::after,
.clear::after {
  display: block;
  clear: both;
  content: "";
}
.golden-width {
  max-width: calc(62% - 3.24rem);
}
.golden-width.reverse {
  max-width: 38%;
}
.aside-width {
  max-width: 29rem;
}
@media screen and (min-width: 50.24rem) {
  .text-width {
    max-width: 47rem;
  }
}
.page-width,
.container {
  max-width: 76rem;
}
.full-width,
.aside-width .aside-width,
.text-width .text-width,
.page-width .page-width {
  display: block;
  width: 100%;
}
.inner-aside-width {
  padding-left: calc(50% - 14.5rem);
  padding-right: calc(50% - 14.5rem);
}
.inner-aside-width.padding {
  padding-left: calc(50% - 12.88rem);
  padding-right: calc(50% - 12.88rem);
}
.inner-aside-width.responsive.padding {
  padding-left: calc(50% - 13.88rem);
  padding-right: calc(50% - 13.88rem);
}
@media screen and (max-width: calc(50.24rem - 1px)) {
  .inner-text-width {
    padding-left: initial;
    padding-right: initial;
  }
  .inner-text-width.padding {
    padding-left: 1.62rem;
    padding-right: 1.62rem;
  }
  .inner-text-width.responsive.padding {
    padding-left: 0.619rem;
    padding-right: 0.619rem;
  }
}
@media screen and (min-width: 50.24rem) {
  .inner-aside-width.tablet.padding {
    padding-left: calc(50% - 12.88rem);
    padding-right: calc(50% - 12.88rem);
  }
  .inner-aside-width.tablet.responsive.padding {
    padding-left: calc(50% - 13.5rem);
    padding-right: calc(50% - 13.5rem);
  }
  .inner-text-width {
    padding-left: calc(50% - 23.5rem);
    padding-right: calc(50% - 23.5rem);
  }
  .inner-text-width.padding {
    padding-left: calc(50% - 21.88rem);
    padding-right: calc(50% - 21.88rem);
  }
  .inner-text-width.responsive.padding {
    padding-left: calc(50% - 22.5rem);
    padding-right: calc(50% - 22.5rem);
  }
}
@media screen and (min-width: 76rem) {
  .inner-aside-width.desktop.padding {
    padding-left: calc(50% - 12.88rem);
    padding-right: calc(50% - 12.88rem);
  }
  .inner-aside-width.desktop.responsive.padding {
    padding-left: calc(50% - 12.88rem);
    padding-right: calc(50% - 12.88rem);
  }
  .inner-text-width.desktop.padding {
    padding-left: calc(50% - 21.88rem);
    padding-right: calc(50% - 21.88rem);
  }
  .inner-text-width.desktop.responsive.padding {
    padding-left: calc(50% - 21.88rem);
    padding-right: calc(50% - 21.88rem);
  }
  .inner-page-width {
    padding-left: calc(50% - 38rem);
    padding-right: calc(50% - 38rem);
  }
  .inner-page-width.padding {
    padding-left: calc(50% - 36.38rem);
    padding-right: calc(50% - 36.38rem);
  }
  .inner-page-width.responsive.padding {
    padding-left: calc(50% - 36.38rem);
    padding-right: calc(50% - 36.38rem);
  }
}
.texture,
.pattern {
  background-position: top center;
}
.texture {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20width%3D'80'%20height%3D'48'%3E%3Cpath%20d%3D'M19%200v11H0v26h19v11h2V37h38v11h2V37h19V11H61V0h-2v11H21V0h-2zM1%2013h38v22H1V13zm40%200h38v22H41V13z'%20fill%3D'%23f1fdf0'%20fill-opacity%3D'0.05'/%3E%3C/svg%3E");
}
.pattern {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20viewBox%3D'0%200%2021.167%2013.229'%20height%3D'90'%20width%3D'144'%3E%3Cg%20fill%3D'%23f1fdf0'%20fill-opacity%3D'0.05'%3E%3Ccircle%20cx%3D'13.759'%20cy%3D'4.498'%20r%3D'1.323'/%3E%3Ccircle%20cy%3D'1.587'%20cx%3D'8.202'%20r%3D'.794'/%3E%3Ccircle%20r%3D'.794'%20cx%3D'4.498'%20cy%3D'9.26'/%3E%3Ccircle%20r%3D'.794'%20cx%3D'18.521'%20cy%3D'11.377'/%3E%3Ccircle%20cy%3D'11.112'%20cx%3D'12.171'%20r%3D'.529'/%3E%3Ccircle%20r%3D'.529'%20cx%3D'18.521'%20cy%3D'5.027'/%3E%3Ccircle%20r%3D'.529'%20cx%3D'8.731'%20cy%3D'6.614'/%3E%3Ccircle%20r%3D'.529'%20cx%3D'3.175'%20cy%3D'3.969'/%3E%3Ccircle%20r%3D'.529'%20cx%3D'.794'%20cy%3D'12.435'/%3E%3C/g%3E%3C/svg%3E");
}
.placeholder::before {
  content: " ";
  white-space: pre;
}
.placeholder::after {
  content: "";
}
.placeholder.image,
.placeholder.video,
.placeholder.avatar {
  position: relative;
}
.placeholder.image::before,
.placeholder.video::before,
.placeholder.avatar::before {
  position: absolute;
  top: calc(50% - 4rem);
  right: 0;
  bottom: 0;
  left: 0;
  display: inline-block;
  text-align: center;
  font-size: 4rem;
  vertical-align: middle;
}
.placeholder.image.small::before,
.placeholder.video.small::before,
.placeholder.avatar.small::before {
  top: calc(50% - 2rem);
  font-size: 2rem;
}
.placeholder.image.big::before,
.placeholder.video.big::before,
.placeholder.avatar.big::before {
  top: calc(50% - 6rem);
  font-size: 6rem;
}
.placeholder.image.huge::before,
.placeholder.video.huge::before,
.placeholder.avatar.huge::before {
  top: calc(50% - 8rem);
  font-size: 8rem;
}
.placeholder.image::after,
.placeholder.video::after,
.placeholder.avatar::after {
  display: block;
}
.placeholder.image::before {
  content: "\1f5bc";
}
.placeholder.image::after {
  padding-top: 75%;
}
.placeholder.video::before {
  content: "\25B6";
}
.placeholder.video::after {
  padding-top: 56.25%;
}
.placeholder.avatar::before {
  content: "\263A";
}
.placeholder.avatar::after {
  padding-top: 100%;
}
.placeholder.no-icon::before {
  content: "";
}
.hide {
  display: none;
}
.hide.tablet {
  display: initial;
}
.hide.desktop {
  display: initial;
}
@media screen and (max-width: calc(50.24rem - 1px)) {
  .hide.mobile {
    display: none;
  }
}
@media screen and (min-width: 50.24rem) {
  .hide.mobile {
    display: initial;
  }
  .hide.tablet {
    display: none;
  }
}
@media screen and (min-width: 76rem) {
  .hide.desktop {
    display: none;
  }
  .hide.mobile.tablet {
    display: initial;
  }
}
@media screen and (max-width: calc(76rem - 1px)) {
  .hide.mobile.tablet {
    display: none;
  }
}
body {
  font-size: 18px;
  line-height: 1.8;
  margin: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
nav {
  z-index: 99;
}
nav a {
  text-decoration: none;
}
aside {
  margin: 0 auto;
  margin-bottom: 1.62rem;
  max-width: 29rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-top: 0.49443758em;
  margin-bottom: 0.74165637em;
  letter-spacing: -0.025em;
  color: inherit;
  line-height: 1.618;
}
h1 {
  font-size: 2.4em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1em;
}
p {
  margin-bottom: 1em;
}
p.gutter-bottom {
  margin-bottom: 1.618em;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: inherit;
  text-decoration: underline;
}
a.target-blank::after,
a.new-tab::after,
a.external-link::after {
  content: "\00A0\1F855";
}
form {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input {
  font-size: 18px;
  line-height: 1.8;
  border: 1px solid #50a44a;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input:focus {
  box-shadow: 0 0 2px #66c7bb;
}
fieldset {
  border: none;
  outline: none;
}
ol {
  padding-left: 4ch;
  margin-bottom: 1.62rem;
}
ol li {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
ul {
  margin-left: 1.62rem;
  margin-bottom: 1.62rem;
}
li {
  margin-bottom: 0.44em;
}
kbd {
  color: #f1fdf0;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  white-space: nowrap;
}
b {
  padding: 0.18em 0 0.22em 0;
}
pre {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  overflow: hidden;
  border-radius: 0.5em;
  background: #333d31;
  color: #f1fdf0;
}
pre.white-space,
pre.word-break {
  white-space: pre-wrap;
}
pre > code {
  background: transparent;
  padding: 0;
}
code {
  color: #f1fdf0;
  background-color: #243b4d;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
code.terminal::before {
  content: "$ ";
}
textarea {
  font-size: 18px;
  line-height: 1.8;
  border: 1px solid #50a44a;
  border-radius: 0.5em;
  margin-bottom: 1.62rem;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
textarea:focus {
  box-shadow: 0 0 2px #66c7bb;
}
.white,
body,
input,
textarea {
  background-color: #f1fdf0;
  border-color: #7a8879;
}
.black {
  background-color: #032401;
  border-color: #011201;
}
.ambient {
  color: #032401;
  background: #12e006;
  border-color: #0a7b03;
}
.ambient.light {
  color: #032401;
  background: #22f817;
  border-color: #12870c;
}
.ambient.dark {
  color: #032401;
  background: #0fb805;
  border-color: #086703;
}
.red,
.failure {
  background-color: #c22001;
  border-color: #6c1200;
}
.light.red,
.light.failure {
  background-color: #eb2601;
  border-color: #801501;
}
.dark.red,
.dark.failure {
  background-color: #9a1901;
  border-color: #580e00;
}
.orange,
.warning {
  background-color: #d5ac00;
  border-color: #755f00;
}
.light.orange,
.light.warning {
  background-color: #fecd00;
  border-color: #8a6f00;
}
.dark.orange,
.dark.warning {
  background-color: #ad8b00;
  border-color: #614e00;
}
.yellow {
  background-color: #cff200;
  border-color: #718400;
}
.light.yellow {
  background-color: #deff1d;
  border-color: #788a0e;
}
.dark.yellow {
  background-color: #acc900;
  border-color: #5f6f00;
}
.olive {
  background-color: #739501;
  border-color: #425501;
}
.light.olive {
  background-color: #93bd01;
  border-color: #526901;
}
.dark.olive {
  background-color: #546c01;
  border-color: #324100;
}
.green,
.success {
  background-color: #019301;
  border-color: #005400;
}
.light.green,
.light.success {
  background-color: #01bc01;
  border-color: #006900;
}
.dark.green,
.dark.success {
  background-color: #006b00;
  border-color: #004000;
}
.teal {
  background-color: #019572;
  border-color: #015541;
}
.light.teal {
  background-color: #01bd91;
  border-color: #016950;
}
.dark.teal {
  background-color: #016c52;
  border-color: #004131;
}
.cyan {
  background-color: #00f3b9;
  border-color: #008464;
}
.light.cyan {
  background-color: #1dffc8;
  border-color: #0f8a6c;
}
.dark.cyan {
  background-color: #00ca9a;
  border-color: #007055;
}
.skyblue,
.info {
  background-color: #66c7bb;
  border-color: #366c65;
}
.light.skyblue,
.light.info {
  background-color: #84d2c8;
  border-color: #44726c;
}
.dark.skyblue,
.dark.info {
  background-color: #49bcae;
  border-color: #27675f;
}
.blue {
  background-color: #001fcc;
  border-color: #001171;
}
.light.blue {
  background-color: #0026f4;
  border-color: #001485;
}
.dark.blue {
  background-color: #0019a3;
  border-color: #000e5c;
}
.indigo {
  background-color: #431f72;
  border-color: #261242;
}
.light.indigo {
  background-color: #562892;
  border-color: #301652;
}
.dark.indigo {
  background-color: #301752;
  border-color: #1d0d32;
}
.purple {
  background-color: #762074;
  border-color: #441243;
}
.light.purple {
  background-color: #962994;
  border-color: #541653;
}
.dark.purple {
  background-color: #561754;
  border-color: #340d33;
}
.violet {
  background-color: #c183be;
  border-color: #684467;
}
.light.violet {
  background-color: #ce9ecc;
  border-color: #6f526e;
}
.dark.violet {
  background-color: #b368af;
  border-color: #62375f;
}
.gray {
  background-color: #6a8765;
  border-color: #394b36;
}
.light.gray {
  background-color: #7f9b79;
  border-color: #435540;
}
.dark.gray {
  background-color: #587053;
  border-color: #303f2d;
}
.brown {
  background-color: #915928;
  border-color: #513216;
}
.light.brown {
  background-color: #b16d30;
  border-color: #613b1a;
}
.dark.brown {
  background-color: #71451f;
  border-color: #412811;
}
.magenta {
  background-color: #a630a2;
  border-color: #5c1a5a;
}
.light.magenta {
  background-color: #c63ac0;
  border-color: #6c1f69;
}
.dark.magenta {
  background-color: #872783;
  border-color: #4c154a;
}
.lavender {
  background-color: #babbcd;
  border-color: #60616e;
}
.light.lavender {
  background-color: #d1d2de;
  border-color: #6c6d76;
}
.dark.lavender {
  background-color: #a2a4bc;
  border-color: #545565;
}
.cream {
  background-color: #dcecbc;
  border-color: #747f60;
}
.light.cream {
  background-color: #edf5dc;
  border-color: #7d8470;
}
.dark.cream {
  background-color: #cbe39c;
  border-color: #6c7b50;
}
.charcoal {
  background-color: #424d25;
  border-color: #282f15;
}
.light.charcoal {
  background-color: #5a6932;
  border-color: #343c1c;
}
.dark.charcoal {
  background-color: #2b3117;
  border-color: #1c210e;
}
.crimson {
  background-color: #a2181b;
  border-color: #5b0d0f;
}
.light.crimson {
  background-color: #c61d21;
  border-color: #6c1012;
}
.dark.crimson {
  background-color: #7e1315;
  border-color: #490a0c;
}
.clover {
  background-color: #34b312;
  border-color: #1d630a;
}
.light.clover {
  background-color: #3fd816;
  border-color: #22760c;
}
.dark.clover {
  background-color: #2a8e0e;
  border-color: #185108;
}
.cobalt {
  background-color: #227bbe;
  border-color: #124468;
}
.light.cobalt {
  background-color: #2f91da;
  border-color: #194e76;
}
.dark.cobalt {
  background-color: #1c659b;
  border-color: #0f3857;
}
.graphite {
  background-color: #243b4d;
  border-color: #15232f;
}
.light.graphite {
  background-color: #315169;
  border-color: #1b2e3c;
}
.dark.graphite {
  background-color: #172631;
  border-color: #0e1921;
}
.ruby {
  background-color: #8e0f2d;
  border-color: #51081a;
}
.light.ruby {
  background-color: #b21339;
  border-color: #630a20;
}
.dark.ruby {
  background-color: #690b21;
  border-color: #3e0614;
}
.onyx {
  background-color: #333d31;
  border-color: #1e261c;
}
.light.onyx {
  background-color: #465343;
  border-color: #273125;
}
.dark.onyx {
  background-color: #20261f;
  border-color: #141a13;
}
.pewter {
  background-color: #92a27a;
  border-color: #4f5840;
}
.light.pewter {
  background-color: #a6b392;
  border-color: #59614c;
}
.dark.pewter {
  background-color: #7e8f64;
  border-color: #454f35;
}
.gunmetal {
  background-color: #366957;
  border-color: #1e3d32;
}
.light.gunmetal {
  background-color: #43846e;
  border-color: #254a3d;
}
.dark.gunmetal {
  background-color: #284e41;
  border-color: #172f27;
}
.hotpink {
  background-color: #da5e93;
  border-color: #76304e;
}
.light.hotpink {
  background-color: #e17fa9;
  border-color: #7a4159;
}
.dark.hotpink {
  background-color: #d23c7d;
  border-color: #722043;
}
.neongreen {
  background-color: #2fea0f;
  border-color: #1a7f08;
}
.light.neongreen {
  background-color: #4df231;
  border-color: #288319;
}
.dark.neongreen {
  background-color: #28c40d;
  border-color: #166c07;
}
.electricblue {
  background-color: #2db6c9;
  border-color: #18636e;
}
.light.electricblue {
  background-color: #49c5d6;
  border-color: #266b74;
}
.dark.electricblue {
  background-color: #2698a8;
  border-color: #14545d;
}
.royalpurple {
  background-color: #593a86;
  border-color: #311f4b;
}
.light.royalpurple {
  background-color: #6b46a2;
  border-color: #3b2659;
}
.dark.royalpurple {
  background-color: #462d69;
  border-color: #28193d;
}
.lemon {
  background-color: #e7f685;
  border-color: #7d8543;
}
.light.lemon {
  background-color: #eff9ab;
  border-color: #808756;
}
.dark.lemon {
  background-color: #e0f45e;
  border-color: #798430;
}
.lime {
  background-color: #7ce871;
  border-color: #407e3a;
}
.light.lime {
  background-color: #9dee94;
  border-color: #50814b;
}
.dark.lime {
  background-color: #5ce34e;
  border-color: #307b28;
}
.tangerine {
  background-color: #e0a949;
  border-color: #7a5b26;
}
.light.tangerine {
  background-color: #e6b96c;
  border-color: #7d6337;
}
.dark.tangerine {
  background-color: #db9826;
  border-color: #775314;
}
.grapefruit {
  background-color: #af473b;
  border-color: #602620;
}
.light.grapefruit {
  background-color: #c45b4f;
  border-color: #6a3029;
}
.dark.grapefruit {
  background-color: #903a31;
  border-color: #51201a;
}
.action,
.base-color {
  color: #f1fdf0;
  background: #1aa00f;
  border-color: #0e5a08;
}
.action.light,
.base-color.light {
  color: #032401;
  background: #20c512;
  border-color: #126d0a;
}
.action.dark,
.base-color.dark {
  color: #f1fdf0;
  background: #147b0c;
  border-color: #0b4707;
}
.reaction {
  background-color: #702a76;
  border-color: #401744;
}
.light.reaction {
  background-color: #8c3594;
  border-color: #4e1d53;
}
.dark.reaction {
  background-color: #532058;
  border-color: #321235;
}
.default {
  background-color: #50a44a;
  border-color: #2b5a27;
}
.light.default {
  background-color: #65b85f;
  border-color: #366432;
}
.dark.default {
  background-color: #42883d;
  border-color: #244c21;
}
.warm {
  background-color: #8d8685;
  border-color: #4d4747;
}
.light.warm {
  background-color: #a19b9a;
  border-color: #575251;
}
.dark.warm {
  background-color: #797171;
  border-color: #433d3c;
}
.cool {
  background-color: #0155a3;
  border-color: #01305c;
}
.light.cool {
  background-color: #016bcb;
  border-color: #013b70;
}
.dark.cool {
  background-color: #01407a;
  border-color: #002648;
}
.neutral {
  background-color: #73d301;
  border-color: #3f7401;
}
.light.neutral {
  background-color: #89fc01;
  border-color: #4a8901;
}
.dark.neutral {
  background-color: #5dab01;
  border-color: #346001;
}
.complement,
.second.triad {
  background-color: #752b7b;
  border-color: #421846;
}
.light.complement,
.light.second.triad {
  background-color: #913599;
  border-color: #511d55;
}
.dark.complement,
.dark.second.triad {
  background-color: #58205d;
  border-color: #341237;
}
.accent {
  background-color: #0fec5d;
  border-color: #088032;
}
.light.accent {
  background-color: #33f276;
  border-color: #1a833f;
}
.dark.accent {
  background-color: #0dc64e;
  border-color: #076d2b;
}
.second.accent {
  background-color: #7aec0f;
  border-color: #438008;
}
.light.second.accent {
  background-color: #8ff232;
  border-color: #4d831a;
}
.dark.second.accent {
  background-color: #67c60d;
  border-color: #396d07;
}
.split {
  background-color: #0c707f;
  border-color: #074149;
}
.light.split {
  background-color: #1091a4;
  border-color: #09515c;
}
.dark.split {
  background-color: #094f5a;
  border-color: #053037;
}
.second.split {
  background-color: #815e0c;
  border-color: #4b3607;
}
.light.second.split {
  background-color: #a6790f;
  border-color: #5d4408;
}
.dark.second.split {
  background-color: #5c4308;
  border-color: #382905;
}
.triad {
  background-color: #0ca276;
  border-color: #075b42;
}
.light.triad {
  background-color: #0fc892;
  border-color: #086e50;
}
.dark.triad {
  background-color: #097c5b;
  border-color: #054835;
}
.third.triad {
  background-color: #81990c;
  border-color: #495707;
}
.light.third.triad {
  background-color: #a1bf0f;
  border-color: #596a08;
}
.dark.third.triad {
  background-color: #617309;
  border-color: #394405;
}
.tetrad {
  background-color: #0ca259;
  border-color: #075b32;
}
.light.tetrad {
  background-color: #0fc86e;
  border-color: #086e3d;
}
.dark.tetrad {
  background-color: #097c44;
  border-color: #054828;
}
.second.tetrad {
  background-color: #202b7f;
  border-color: #121849;
}
.light.second.tetrad {
  background-color: #29369f;
  border-color: #161e59;
}
.dark.second.tetrad {
  background-color: #18205e;
  border-color: #0e1338;
}
.third.tetrad {
  background-color: #812b31;
  border-color: #49181b;
}
.light.third.tetrad {
  background-color: #a0353d;
  border-color: #581d21;
}
.dark.third.tetrad {
  background-color: #622126;
  border-color: #3a1315;
}
.fourth.tetrad {
  background-color: #6da20c;
  border-color: #3d5b07;
}
.light.fourth.tetrad {
  background-color: #86c80f;
  border-color: #4a6e08;
}
.dark.fourth.tetrad {
  background-color: #537c09;
  border-color: #304805;
}
.highlight {
  background-color: #87567e;
  border-color: #4b2e46;
}
.light.highlight {
  background-color: #9e6895;
  border-color: #573751;
}
.dark.highlight {
  background-color: #6e4667;
  border-color: #3f263a;
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-margin-right {
  margin-right: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.no-margin-left {
  margin-left: 0 !important;
}
.no-padding {
  padding: 0;
}
.no-margin,
.no-gutter {
  margin: 0;
}
.no-side-margin,
.no-side-margins {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.no-margins {
  margin: 0 !important;
}
.no-margins * {
  margin: 0 !important;
}
.no-box-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  box-shadow: unset;
}
.no-text-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  text-shadow: unset;
}
.no-border,
.no-borders,
.no-borders * {
  border-width: 0 !important;
}
.no-background {
  background: transparent;
}
.no-text-indent {
  text-indent: 0;
}
.no-text-align {
  text-align: initial;
}
.no-user-select {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.no-pointer-events {
  pointer-events: none;
}
.no-list-style {
  list-style-type: none;
  margin-left: 0;
}
.no-grid-gap,
.no-column-gap {
  grid-gap: 0;
  column-gap: 0;
}
@media print {
  html {
    font-size: 62.5%;
  }
  * {
    box-shadow: unset !important;
    border: unset !important;
  }
  nav {
    display: none !important;
  }
  .page-width,
  .text-width,
  .container {
    all: unset;
  }
  .inner-page-width,
  .inner-text-width,
  .inner-aside-width {
    all: unset;
  }
}
