/* This project uses Cavepaint (MIT License) by Rex Riepe */
/* https://github.com/cavepaint/cavepaintCSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}
.button,
button {
  border-style: solid;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(1, 9, 22, 0.16);
  display: inline;
  position: relative;
  font-family: inherit;
  font-size: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  color: inherit;
  background-color: inherit;
  border-color: #3c3324;
  border-width: 1px;
  line-height: 1.6;
  text-align: center;
  vertical-align: middle;
  outline: none;
  white-space: nowrap;
  text-decoration: none;
  touch-action: manipulation;
  cursor: pointer;
  transform: scale(1);
  transition: 0.08s linear;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.button:active,
button:active {
  transform: scale(0.99);
  box-shadow: unset;
}
.bar {
  position: relative;
  width: 100%;
  display: block;
  vertical-align: middle;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.bar > * {
  display: inline;
  margin-right: 0.3236em;
  margin-left: 0.3236em;
}
.card {
  position: relative;
  overflow: hidden;
  padding: 1.62rem;
  border: 1px solid #6f5e42;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(1, 9, 22, 0.16);
}
.badge {
  border-radius: 0.5em;
  line-height: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  padding-right: 0.6472em;
  padding-left: 0.6472em;
  vertical-align: middle;
  border-radius: 99px;
  white-space: nowrap;
}
.modal {
  display: none;
  max-width: none;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  position: fixed;
  bottom: 0;
  justify-content: center;
  flex: 0 1 auto;
  flex-direction: column;
  height: 100vh;
}
.modal > * {
  flex-direction: column;
  color: #160e01;
  position: relative;
  background: #f8f5f0;
  padding: 1.62rem;
  margin-bottom: 3.24rem;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(1, 9, 22, 0.16);
  margin: 1.62rem;
}
@media screen and (min-width: 40.24rem) {
  .modal > * {
    max-width: 59rem;
    margin: 0 auto;
  }
}
.overlay {
  margin: 0;
  padding: 0;
  position: relative;
}
.overlay .top,
.overlay .bottom,
.overlay .left,
.overlay .right {
  position: absolute;
}
.overlay .top {
  top: 0.3236em;
}
.overlay .bottom {
  bottom: 0.3236em;
}
.overlay .left {
  left: 0.3236em;
}
.overlay .right {
  right: 0.3236em;
}
.overlay.stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.overlay * {
  margin: 0;
  display: block;
}
.grid,
.two-column,
.three-column {
  display: grid;
  grid-gap: 1.62rem;
  margin-bottom: 1.62rem;
}
.grid.tablet,
.two-column.tablet,
.three-column.tablet,
.grid.mobile.tablet,
.two-column.mobile.tablet,
.three-column.mobile.tablet,
.grid.desktop,
.two-column.desktop,
.three-column.desktop {
  display: unset;
}
.grid {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.two-column {
  grid-template-columns: 1fr 1fr;
}
.two-column.golden {
  grid-template-columns: 1.618fr 1fr;
}
.two-column.golden.reverse {
  grid-template-columns: 1fr 1.618fr;
}
.three-column {
  grid-template-columns: 1fr 1fr 1fr;
}
.three-column.golden {
  grid-template-columns: 1fr 1.618fr 1fr;
}
.three-column.golden.leading {
  grid-template-columns: 1.618fr 1fr 1fr;
}
.three-column.golden.trailing {
  grid-template-columns: 1fr 1fr 1.618fr;
}
.grid-width-one {
  grid-column: auto / span 1;
}
.grid-width-two {
  grid-column: auto / span 2;
}
.grid-width-three {
  grid-column: auto / span 3;
}
.grid-width-four {
  grid-column: auto / span 4;
}
.grid-width-five {
  grid-column: auto / span 5;
}
.grid-width-six {
  grid-column: auto / span 6;
}
.grid-width-seven {
  grid-column: auto / span 7;
}
.grid-width-eight {
  grid-column: auto / span 8;
}
.grid-width-nine {
  grid-column: auto / span 9;
}
.grid-width-ten {
  grid-column: auto / span 10;
}
.grid-width-eleven {
  grid-column: auto / span 11;
}
.grid-width-twelve {
  grid-column: auto / span 12;
}
@media screen and (max-width: calc(40.24rem - 1px)) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: grid;
  }
}
@media screen and (min-width: 40.24rem) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: initial;
  }
  .grid.tablet,
  .two-column.tablet,
  .three-column.tablet {
    display: grid;
  }
}
@media screen and (max-width: calc(59rem - 1px)) {
  .grid.mobile.tablet,
  .two-column.mobile.tablet,
  .three-column.mobile.tablet {
    display: grid;
  }
}
@media screen and (min-width: 59rem) {
  .grid.desktop,
  .two-column.desktop,
  .three-column.desktop {
    display: grid;
  }
}
.responsive {
  column-gap: 0.619rem;
  grid-gap: 0.619rem;
}
.responsive.padding,
.modal,
.container {
  padding: 0.619rem;
}
.responsive.margin,
.container {
  margin: 0.619rem;
}
.responsive.gutter {
  margin: 1.238rem;
}
@media screen and (min-width: 40.24rem) {
  .responsive {
    column-gap: 1.001rem;
    grid-gap: 1.001rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.001rem;
  }
  .responsive.margin,
  .container {
    margin: 1.001rem;
  }
  .responsive.gutter {
    margin: 2.002rem;
  }
}
@media screen and (min-width: 59rem) {
  .responsive {
    column-gap: 1.62rem;
    grid-gap: 1.62rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.62rem;
  }
  .responsive.margin,
  .container {
    margin: 1.62rem;
  }
  .responsive.gutter {
    margin: 3.24rem;
  }
}
.background {
  background: #f8f5f0;
}
.background-color {
  background-color: #f8f5f0;
}
.border {
  border: 1px solid #6f5e42;
}
.border-radius,
.rounded {
  border-radius: 0.5em;
}
.border-bottom {
  border-bottom: 1px solid #6f5e42;
}
.border-left {
  border-left: 1px solid #6f5e42;
}
.border-right {
  border-right: 1px solid #6f5e42;
}
.border-style,
.button.border,
button.border {
  border-style: solid;
}
.border-top {
  border-top: 1px solid #6f5e42;
}
.border-width,
.button.border,
button.border {
  border-width: 1px;
}
.max-width {
  max-width: 59rem;
}
.min-width {
  min-width: 22rem;
}
.align-content {
  align-content: stretch;
}
.align-items {
  align-items: stretch;
}
.align-self {
  align-self: auto;
}
.flex,
.vertical-center,
.center-vertical {
  flex: 0 1 auto;
}
.flex-direction,
.vertical-center,
.center-vertical {
  flex-direction: column;
}
.justify-content,
.vertical-center,
.center-vertical {
  justify-content: center;
}
.font-family,
body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.font-size {
  font-size: 18px;
}
.font-weight {
  font-weight: normal;
}
.list-style {
  list-style: disc inside none;
}
.list-style-type {
  list-style-type: disc;
}
.margin {
  margin: 1.62rem;
}
.margin-bottom,
.bar,
.card,
pre {
  margin-bottom: 1.62rem;
}
.margin-left {
  margin-left: 1.62rem;
}
.margin-right {
  margin-right: 1.62rem;
}
.margin-top {
  margin-top: 1.62rem;
}
.column-gap {
  column-gap: 1.94em;
}
.column-rule {
  column-rule: 1px solid #6f5e42;
}
.padding {
  padding: 1.62rem;
}
.padding-bottom {
  padding-bottom: 1.62rem;
}
.padding-left {
  padding-left: 1.62rem;
}
.padding-right {
  padding-right: 1.62rem;
}
.padding-top {
  padding-top: 1.62rem;
}
.text-align {
  text-align: left;
}
.text-align-last {
  text-align-last: left;
}
.text-indent {
  text-indent: 2ch;
}
.text-justify {
  text-justify: justify;
}
.text-overflow {
  text-overflow: hidden;
}
.text-shadow {
  text-shadow: 1.41px 1.41px 1.41px rgba(1, 9, 22, 0.16);
}
.line-height {
  line-height: 1.8;
}
.vertical-align {
  vertical-align: middle;
}
.letter-spacing {
  letter-spacing: 0;
}
.word-spacing {
  word-spacing: normal;
}
.white-space {
  white-space: nowrap;
}
.word-break {
  word-break: break-all;
}
.word-wrap {
  word-wrap: break-word;
}
.transform {
  transform: none;
}
.transition {
  transition: all 0s ease 0s;
}
.display {
  display: block;
}
.position {
  position: absolute;
}
.top {
  top: 0;
}
.right {
  right: 0;
}
.bottom {
  bottom: 0;
}
.left {
  left: 0;
}
.float {
  float: left;
}
.clear {
  clear: both;
}
.z-index {
  z-index: 10;
}
.overflow {
  overflow: hidden;
}
.cursor {
  cursor: pointer;
}
.box-shadow {
  box-shadow: 1.41px 1.41px 1.41px rgba(1, 9, 22, 0.16);
}
.gutter {
  margin: 3.24rem;
}
.gutter-top {
  margin-top: 3.24rem;
}
.gutter-right {
  margin-right: 3.24rem;
}
.gutter-bottom {
  margin-bottom: 3.24rem;
}
.gutter-left {
  margin-left: 3.24rem;
}
.text-padding {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-padding-top {
  padding-top: 0.18em;
}
.text-padding-right {
  padding-right: 0.3236em;
}
.text-padding-bottom {
  padding-bottom: 0.22em;
}
.text-padding-left {
  padding-left: 0.3236em;
}
.text-margin {
  margin: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-margin-top {
  margin-top: 0.18em;
}
.text-margin-right {
  margin-right: 0.3236em;
}
.text-margin-bottom {
  margin-bottom: 0.22em;
}
.text-margin-left {
  margin-left: 0.3236em;
}
.bottom-margins * {
  margin-bottom: 1.62rem;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.initial {
  display: initial;
}
.table {
  display: table;
}
.flex,
.vertical-center,
.center-vertical {
  display: flex;
}
.inline-block {
  display: inline-block;
}
.static {
  position: static;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.margin-auto,
.container {
  margin-left: auto;
  margin-right: auto;
}
.width-auto {
  width: auto;
}
.inset {
  box-shadow: inset 1.41px 1.41px 1.41px rgba(1, 9, 22, 0.16);
}
.viewport-height {
  height: 100vh;
}
.min-viewport-height {
  min-height: 100vh;
}
.overflow-hidden {
  overflow: hidden;
}
.dashed {
  border-style: dashed;
}
.dotted {
  border-style: dotted;
}
.thick {
  border-width: 2px;
}
.thin {
  border-width: 0.5px;
}
.current-color {
  border-color: currentColor;
}
.fade {
  opacity: 0.65;
}
.monospace,
pre,
code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
}
.sans-serif {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.serif {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "Droid Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.text-transparent {
  color: transparent;
}
.big {
  font-size: 125%;
  line-height: 2.25;
}
.big.font-size {
  font-size: 22.5px;
}
.small,
.badge {
  font-size: 87.5%;
  line-height: 1.575;
}
.small.font-size {
  font-size: 15.75px;
}
.huge {
  font-size: 160%;
}
.huge.font-size {
  font-size: 28.8px;
}
.text-trim {
  line-height: 1;
}
.text-align-center,
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.grid-gap-margin {
  grid-gap: 1.62rem;
}
.grid-gap-border-width {
  grid-gap: 1px;
}
.grid-gap-text-padding,
.grid-gap-text-margin {
  grid-gap: 0.3236em;
}
.shade,
.white,
.orange,
.yellow,
.cyan,
.skyblue,
.violet,
body,
input,
textarea,
.info,
.warning {
  color: #160e01;
}
.tint,
.black,
.red,
.olive,
.green,
.teal,
.dark.skyblue,
.blue,
.indigo,
.purple,
.dark.violet,
.gray,
.brown,
.reaction,
.default,
.complement,
.accent,
.second.accent,
.split,
.second.split,
.triad,
.third.triad,
.tetrad,
.second.tetrad,
.third.tetrad,
.fourth.tetrad,
.dark.info,
.success,
.failure,
.second.triad {
  color: #f8f5f0;
}
.transparent {
  background-color: transparent;
  color: inherit;
  border-color: inherit;
}
.transparent.light {
  background-color: rgba(248, 245, 240, 0.16);
}
.transparent.dark,
.modal {
  background-color: rgba(22, 14, 1, 0.25);
}
.trim,
.trim-inner *,
.trim-all,
.trim-all * {
  margin-bottom: 0;
}
.bump {
  position: relative;
}
.bump.up {
  top: -2px;
}
.bump.down {
  top: 2px;
}
.bump.left {
  left: -2px;
}
.bump.right {
  right: initial;
  left: 2px;
}
.hidden {
  display: none !important;
}
.clearfix,
.clear {
  clear: both;
}
.clearfix::after,
.clear::after {
  display: block;
  clear: both;
  content: "";
}
.golden-width {
  max-width: calc(62% - 3.24rem);
}
.golden-width.reverse {
  max-width: 38%;
}
.aside-width {
  max-width: 22rem;
}
@media screen and (min-width: 40.24rem) {
  .text-width {
    max-width: 37rem;
  }
}
.page-width,
.container {
  max-width: 59rem;
}
.full-width,
.aside-width .aside-width,
.text-width .text-width,
.page-width .page-width {
  display: block;
  width: 100%;
}
.inner-aside-width {
  padding-left: calc(50% - 11rem);
  padding-right: calc(50% - 11rem);
}
.inner-aside-width.padding {
  padding-left: calc(50% - 9.38rem);
  padding-right: calc(50% - 9.38rem);
}
.inner-aside-width.responsive.padding {
  padding-left: calc(50% - 10.38rem);
  padding-right: calc(50% - 10.38rem);
}
@media screen and (max-width: calc(40.24rem - 1px)) {
  .inner-text-width {
    padding-left: initial;
    padding-right: initial;
  }
  .inner-text-width.padding {
    padding-left: 1.62rem;
    padding-right: 1.62rem;
  }
  .inner-text-width.responsive.padding {
    padding-left: 0.619rem;
    padding-right: 0.619rem;
  }
}
@media screen and (min-width: 40.24rem) {
  .inner-aside-width.tablet.padding {
    padding-left: calc(50% - 9.38rem);
    padding-right: calc(50% - 9.38rem);
  }
  .inner-aside-width.tablet.responsive.padding {
    padding-left: calc(50% - 10rem);
    padding-right: calc(50% - 10rem);
  }
  .inner-text-width {
    padding-left: calc(50% - 18.5rem);
    padding-right: calc(50% - 18.5rem);
  }
  .inner-text-width.padding {
    padding-left: calc(50% - 16.88rem);
    padding-right: calc(50% - 16.88rem);
  }
  .inner-text-width.responsive.padding {
    padding-left: calc(50% - 17.5rem);
    padding-right: calc(50% - 17.5rem);
  }
}
@media screen and (min-width: 59rem) {
  .inner-aside-width.desktop.padding {
    padding-left: calc(50% - 9.38rem);
    padding-right: calc(50% - 9.38rem);
  }
  .inner-aside-width.desktop.responsive.padding {
    padding-left: calc(50% - 9.38rem);
    padding-right: calc(50% - 9.38rem);
  }
  .inner-text-width.desktop.padding {
    padding-left: calc(50% - 16.88rem);
    padding-right: calc(50% - 16.88rem);
  }
  .inner-text-width.desktop.responsive.padding {
    padding-left: calc(50% - 16.88rem);
    padding-right: calc(50% - 16.88rem);
  }
  .inner-page-width {
    padding-left: calc(50% - 29.5rem);
    padding-right: calc(50% - 29.5rem);
  }
  .inner-page-width.padding {
    padding-left: calc(50% - 27.88rem);
    padding-right: calc(50% - 27.88rem);
  }
  .inner-page-width.responsive.padding {
    padding-left: calc(50% - 27.88rem);
    padding-right: calc(50% - 27.88rem);
  }
}
.texture {
  background-position: top center;
}
.texture {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20viewBox%3D'0%200%203.175%203.175'%20height%3D'12'%20width%3D'12'%3E%3Cpath%20opacity%3D'0.075'%20fill%3D'%23f8f5f0'%20d%3D'M0%200h1.587v1.587H0z'/%3E%3C/svg%3E");
}
.warm {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201%201%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23c77400%22%20opacity%3D%220.16%22%20d%3D%22M0%200h1v1H0z%22%2F%3E%3C%2Fsvg%3E");
}
.warm.texture {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201%201%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23c77400%22%20opacity%3D%220.16%22%20d%3D%22M0%200h1v1H0z%22%2F%3E%3C%2Fsvg%3E"), url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20viewBox%3D'0%200%203.175%203.175'%20height%3D'12'%20width%3D'12'%3E%3Cpath%20opacity%3D'0.075'%20fill%3D'%23f8f5f0'%20d%3D'M0%200h1.587v1.587H0z'/%3E%3C/svg%3E");
}
.cool {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201%201%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%2306016e%22%20opacity%3D%220.16%22%20d%3D%22M0%200h1v1H0z%22%2F%3E%3C%2Fsvg%3E");
}
.cool.texture {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201%201%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%2306016e%22%20opacity%3D%220.16%22%20d%3D%22M0%200h1v1H0z%22%2F%3E%3C%2Fsvg%3E"), url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20viewBox%3D'0%200%203.175%203.175'%20height%3D'12'%20width%3D'12'%3E%3Cpath%20opacity%3D'0.075'%20fill%3D'%23f8f5f0'%20d%3D'M0%200h1.587v1.587H0z'/%3E%3C/svg%3E");
}
.neutral {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201%201%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23075140%22%20opacity%3D%220.16%22%20d%3D%22M0%200h1v1H0z%22%2F%3E%3C%2Fsvg%3E");
}
.neutral.texture {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201%201%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23075140%22%20opacity%3D%220.16%22%20d%3D%22M0%200h1v1H0z%22%2F%3E%3C%2Fsvg%3E"), url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20viewBox%3D'0%200%203.175%203.175'%20height%3D'12'%20width%3D'12'%3E%3Cpath%20opacity%3D'0.075'%20fill%3D'%23f8f5f0'%20d%3D'M0%200h1.587v1.587H0z'/%3E%3C/svg%3E");
}
.bright {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201%201%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23e6a74c%22%20opacity%3D%220.3%22%20d%3D%22M0%200h1v1H0z%22%2F%3E%3C%2Fsvg%3E");
}
.bright.texture {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201%201%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23e6a74c%22%20opacity%3D%220.3%22%20d%3D%22M0%200h1v1H0z%22%2F%3E%3C%2Fsvg%3E"), url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20viewBox%3D'0%200%203.175%203.175'%20height%3D'12'%20width%3D'12'%3E%3Cpath%20opacity%3D'0.075'%20fill%3D'%23f8f5f0'%20d%3D'M0%200h1.587v1.587H0z'/%3E%3C/svg%3E");
}
.dull {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201%201%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23685a48%22%20opacity%3D%220.28%22%20d%3D%22M0%200h1v1H0z%22%2F%3E%3C%2Fsvg%3E");
}
.dull.texture {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201%201%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23685a48%22%20opacity%3D%220.28%22%20d%3D%22M0%200h1v1H0z%22%2F%3E%3C%2Fsvg%3E"), url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20viewBox%3D'0%200%203.175%203.175'%20height%3D'12'%20width%3D'12'%3E%3Cpath%20opacity%3D'0.075'%20fill%3D'%23f8f5f0'%20d%3D'M0%200h1.587v1.587H0z'/%3E%3C/svg%3E");
}
.placeholder::before {
  content: " ";
  white-space: pre;
}
.placeholder::after {
  content: "";
  display: block;
}
.placeholder.square::after,
.placeholder.one-to-one::after {
  padding-top: 100%;
}
.placeholder.four-to-three::after {
  padding-top: 75%;
}
.placeholder.sixteen-to-nine::after {
  padding-top: 56.25%;
}
.hide {
  display: none;
}
.hide.tablet {
  display: initial;
}
.hide.desktop {
  display: initial;
}
@media screen and (max-width: calc(40.24rem - 1px)) {
  .hide.mobile {
    display: none;
  }
}
@media screen and (min-width: 40.24rem) {
  .hide.mobile {
    display: initial;
  }
  .hide.tablet {
    display: none;
  }
}
@media screen and (min-width: 59rem) {
  .hide.desktop {
    display: none;
  }
  .hide.mobile.tablet {
    display: initial;
  }
}
@media screen and (max-width: calc(59rem - 1px)) {
  .hide.mobile.tablet {
    display: none;
  }
}
body {
  font-size: 18px;
  line-height: 1.8;
  margin: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
nav {
  z-index: 99;
}
nav a {
  text-decoration: none;
}
aside {
  margin: 0 auto;
  margin-bottom: 1.62rem;
  max-width: 22rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-top: 0.49443758em;
  margin-bottom: 0.74165637em;
  letter-spacing: -0.025em;
  color: inherit;
  line-height: 1.618;
}
h1 {
  font-size: 2.4em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1em;
}
p {
  margin-bottom: 1em;
}
p.gutter-bottom {
  margin-bottom: 1.618em;
}
p.gutter {
  margin-bottom: 3.24rem;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: inherit;
  text-decoration: underline;
}
form {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input {
  font-size: 18px;
  line-height: 1.8;
  border: 1px solid #6f5e42;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input:focus {
  box-shadow: 0 0 2px #78afb2;
}
fieldset {
  border: none;
  outline: none;
}
ol {
  padding-left: 4ch;
  margin-bottom: 1.62rem;
}
ol li {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
ul {
  margin-left: 1.62rem;
  margin-bottom: 1.62rem;
}
li {
  margin-bottom: 0.44em;
}
kbd {
  color: #f8f5f0;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  white-space: nowrap;
}
b {
  padding: 0.18em 0 0.22em 0;
}
pre {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  overflow: hidden;
  border-radius: 0.5em;
  background: #160e01;
  color: #f8f5f0;
}
pre.white-space,
pre.word-break {
  white-space: pre-wrap;
}
pre > code {
  background: transparent;
  padding: 0;
}
code {
  color: #f8f5f0;
  background-color: #160e01;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
code.terminal::before {
  content: "$ ";
}
textarea {
  font-size: 18px;
  line-height: 1.8;
  border: 1px solid #6f5e42;
  border-radius: 0.5em;
  margin-bottom: 1.62rem;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
textarea:focus {
  box-shadow: 0 0 2px #78afb2;
}
.white,
body,
input,
textarea {
  background-color: #f8f5f0;
  border-color: #817e79;
}
.white.light,
body.light,
input.light,
textarea.light {
  color: #160e01;
  background-color: #fbfaf7;
  border-color: #82807d;
}
.white.dark,
body.dark,
input.dark,
textarea.dark {
  color: #160e01;
  background-color: #f2ece2;
  border-color: #7e7a72;
}
.black {
  background-color: #160e01;
  border-color: #0b0700;
}
.black.light {
  color: #f8f5f0;
  background-color: #412c02;
  border-color: #271a01;
}
.black.dark {
  color: #f8f5f0;
  background-color: #020100;
  border-color: #070300;
}
.ambient {
  color: #f8f5f0;
  background-color: #895604;
  border-color: #4b2f02;
}
.ambient.light {
  color: #160e01;
  background-color: #b88f0c;
  border-color: #624c06;
}
.ambient.dark {
  color: #f8f5f0;
  background-color: #552300;
  border-color: #311400;
}
.red,
.failure {
  background-color: #cd0000;
  border-color: #6d0000;
}
.light.red,
.light.failure {
  background-color: #d80101;
  border-color: #720101;
}
.dark.red,
.dark.failure {
  background-color: #bc0000;
  border-color: #640000;
}
.orange,
.warning {
  background-color: #f29500;
  border-color: #7f4e00;
}
.light.orange,
.light.warning {
  background-color: #f5aa00;
  border-color: #815900;
}
.dark.orange,
.dark.warning {
  background-color: #ee7900;
  border-color: #7d4000;
}
.yellow {
  background-color: #e6da00;
  border-color: #797300;
}
.light.yellow {
  background-color: #ece200;
  border-color: #7c7700;
}
.dark.yellow {
  background-color: #ddcc00;
  border-color: #756c00;
}
.olive {
  background-color: #716a00;
  border-color: #3f3b00;
}
.light.olive {
  background-color: #8c8501;
  border-color: #4c4801;
}
.dark.olive {
  background-color: #574e00;
  border-color: #322d00;
}
.green,
.success {
  background-color: #036e00;
  border-color: #023d00;
}
.light.green,
.light.success {
  background-color: #088801;
  border-color: #044a00;
}
.dark.green,
.dark.success {
  background-color: #025200;
  border-color: #012f00;
}
.teal {
  background-color: #046a5e;
  border-color: #023b34;
}
.light.teal {
  background-color: #088579;
  border-color: #054842;
}
.dark.teal {
  background-color: #024e41;
  border-color: #012d25;
}
.cyan {
  background-color: #05d4af;
  border-color: #03705d;
}
.light.cyan {
  background-color: #0cddbf;
  border-color: #067565;
}
.dark.cyan {
  background-color: #03c494;
  border-color: #02684f;
}
.skyblue,
.info {
  background-color: #78afb2;
  border-color: #3e5c5e;
}
.light.skyblue,
.light.info {
  background-color: #92bfc2;
  border-color: #4b6465;
}
.dark.skyblue,
.dark.info {
  background-color: #5d9698;
  border-color: #314f50;
}
.blue {
  background-color: #0300c2;
  border-color: #020067;
}
.light.blue {
  background-color: #0801ce;
  border-color: #04006d;
}
.dark.blue {
  background-color: #0200ab;
  border-color: #01005c;
}
.indigo {
  background-color: #460063;
  border-color: #270038;
}
.light.indigo {
  background-color: #64017d;
  border-color: #370045;
}
.dark.indigo {
  background-color: #310045;
  border-color: #1d0029;
}
.purple {
  background-color: #690157;
  border-color: #3b0031;
}
.light.purple {
  background-color: #850273;
  border-color: #49013f;
}
.dark.purple {
  background-color: #50003b;
  border-color: #2e0022;
}
.violet {
  background-color: #d76cb5;
  border-color: #70375e;
}
.light.violet {
  background-color: #e086c4;
  border-color: #754466;
}
.dark.violet {
  background-color: #c9509b;
  border-color: #692951;
}
.gray {
  background-color: #766d61;
  border-color: #3f3a32;
}
.light.gray {
  background-color: #90877b;
  border-color: #4c4740;
}
.dark.gray {
  background-color: #5c5143;
  border-color: #322c23;
}
.brown {
  background-color: #934926;
  border-color: #4f2714;
}
.light.brown {
  background-color: #a96640;
  border-color: #593621;
}
.dark.brown {
  background-color: #793216;
  border-color: #421b0c;
}
.action,
.base-color {
  color: #f8f5f0;
  background-color: #5e430b;
  border-color: #352606;
}
.action.light,
.base-color.light {
  color: #f8f5f0;
  background-color: #977e23;
  border-color: #514313;
}
.action.dark,
.base-color.dark {
  color: #f8f5f0;
  background-color: #2d1701;
  border-color: #1d0f00;
}
.reaction {
  background-color: #0a1834;
  border-color: #060e1f;
}
.light.reaction {
  background-color: #172e50;
  border-color: #0c1a2d;
}
.dark.reaction {
  background-color: #060e1f;
  border-color: #040915;
}
.default {
  background-color: #6f5e42;
  border-color: #3c3223;
}
.light.default {
  background-color: #8a7a5e;
  border-color: #494031;
}
.dark.default {
  background-color: #55432a;
  border-color: #2f2517;
}
.complement,
.second.triad {
  background-color: #0c1d3f;
  border-color: #071125;
}
.light.complement,
.light.second.triad {
  background-color: #153473;
  border-color: #0b1c3f;
}
.dark.complement,
.dark.second.triad {
  background-color: #02050b;
  border-color: #02050b;
}
.accent {
  background-color: #505807;
  border-color: #2d3204;
}
.light.accent {
  background-color: #84900c;
  border-color: #474e06;
}
.dark.accent {
  background-color: #1d1f03;
  border-color: #141502;
}
.second.accent {
  background-color: #5f1607;
  border-color: #350c04;
}
.light.second.accent {
  background-color: #97230c;
  border-color: #521306;
}
.dark.second.accent {
  background-color: #260903;
  border-color: #190602;
}
.split {
  background-color: #0d4f13;
  border-color: #072d0b;
}
.light.split {
  background-color: #158420;
  border-color: #0b4711;
}
.dark.split {
  background-color: #041a06;
  border-color: #031304;
}
.second.split {
  background-color: #55093c;
  border-color: #300522;
}
.light.second.split {
  background-color: #8d0f62;
  border-color: #4c0835;
}
.dark.second.split {
  background-color: #1e0315;
  border-color: #15020e;
}
.triad {
  background-color: #244f08;
  border-color: #152d05;
}
.light.triad {
  background-color: #3e860e;
  border-color: #224907;
}
.dark.triad {
  background-color: #0b1802;
  border-color: #081202;
}
.third.triad {
  background-color: #55091c;
  border-color: #300510;
}
.light.third.triad {
  background-color: #8d0f2f;
  border-color: #4c0819;
}
.dark.third.triad {
  background-color: #1e030a;
  border-color: #150207;
}
.tetrad {
  background-color: #374f08;
  border-color: #1f2d05;
}
.light.tetrad {
  background-color: #5d860e;
  border-color: #324907;
}
.dark.tetrad {
  background-color: #101802;
  border-color: #0c1202;
}
.second.tetrad {
  background-color: #0d4f42;
  border-color: #072d25;
}
.light.second.tetrad {
  background-color: #15846d;
  border-color: #0b473b;
}
.dark.second.tetrad {
  background-color: #041a16;
  border-color: #031310;
}
.third.tetrad {
  background-color: #2c0946;
  border-color: #190529;
}
.light.third.tetrad {
  background-color: #4d107c;
  border-color: #2a0944;
}
.dark.third.tetrad {
  background-color: #0a0210;
  border-color: #08020e;
}
.fourth.tetrad {
  background-color: #55090d;
  border-color: #300507;
}
.light.fourth.tetrad {
  background-color: #8d0f15;
  border-color: #4c080b;
}
.dark.fourth.tetrad {
  background-color: #1e0305;
  border-color: #150203;
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-margin-right {
  margin-right: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.no-margin-left {
  margin-left: 0 !important;
}
.no-padding {
  padding: 0;
}
.no-margin,
.no-gutter {
  margin: 0;
}
.no-side-margin,
.no-side-margins {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.no-margins {
  margin: 0 !important;
}
.no-margins * {
  margin: 0 !important;
}
.no-box-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  box-shadow: unset;
}
.no-text-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  text-shadow: unset;
}
.no-border,
.no-borders,
.no-borders * {
  border-width: 0 !important;
}
.no-background {
  background: transparent;
}
.no-text-indent {
  text-indent: 0;
}
.no-text-align {
  text-align: initial;
}
.no-user-select {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.no-pointer-events {
  pointer-events: none;
}
.no-list-style {
  list-style-type: none;
  margin-left: 0;
}
.no-grid-gap,
.no-column-gap {
  grid-gap: 0;
  column-gap: 0;
}
@media print {
  html {
    font-size: 62.5%;
  }
  * {
    box-shadow: unset !important;
    border: unset !important;
  }
  nav {
    display: none !important;
  }
  .page-width,
  .text-width,
  .container {
    all: unset;
  }
  .inner-page-width,
  .inner-text-width,
  .inner-aside-width {
    all: unset;
  }
}
