/* This project uses Cavepaint! (MIT License) */
/* https://github.com/cavepaint/cavepaintCSS */
* {
  margin: 0 0 1.62rem 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}
.button,
button {
  border-style: solid;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(7, 40, 6, 0.16);
  display: inline;
  position: relative;
  font-family: inherit;
  font-size: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  color: inherit;
  background-color: inherit;
  border-color: #662558;
  border-width: 1px;
  line-height: 1.6;
  text-align: center;
  vertical-align: middle;
  outline: none;
  white-space: nowrap;
  text-decoration: none;
  touch-action: manipulation;
  cursor: pointer;
  transform: scale(1);
  transition: 0.08s linear;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.button:active,
button:active {
  transform: scale(0.99);
  box-shadow: unset;
}
.bar {
  position: relative;
  width: 100%;
  display: block;
  vertical-align: middle;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.bar > * {
  display: inline;
  margin-right: 0.3236em;
  margin-left: 0.3236em;
  margin-bottom: 0;
}
.card {
  position: relative;
  overflow: hidden;
  padding: 1.62rem;
  border: 1px solid #a13b8c;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(7, 40, 6, 0.16);
}
.card > *:first-child {
  margin-top: 0;
}
.card > *:last-child {
  margin-bottom: 0;
}
.badge {
  border-radius: 0.5em;
  line-height: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  padding-right: 0.6472em;
  padding-left: 0.6472em;
  vertical-align: middle;
  border-radius: 99px;
  white-space: nowrap;
}
.modal {
  display: none;
  max-width: none;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  position: fixed;
  bottom: 0;
  justify-content: center;
  flex: 0 1 auto;
  flex-direction: column;
  height: 100vh;
}
.modal > * {
  flex-direction: column;
  color: #270628;
  position: relative;
  background: #fef2ff;
  padding: 1.62rem;
  margin-bottom: 3.24rem;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(7, 40, 6, 0.16);
  margin: 1.62rem;
}
@media screen and (min-width: 37.24rem) {
  .modal > * {
    max-width: 55rem;
    margin: 0 auto;
  }
}
.overlay {
  margin: 0;
  padding: 0;
  position: relative;
}
.overlay .top,
.overlay .bottom,
.overlay .left,
.overlay .right {
  position: absolute;
}
.overlay .top {
  top: 0.3236em;
}
.overlay .bottom {
  bottom: 0.3236em;
}
.overlay .left {
  left: 0.3236em;
}
.overlay .right {
  right: 0.3236em;
}
.overlay.stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.overlay * {
  margin: 0;
  display: block;
}
.grid,
.two-column,
.three-column {
  display: grid;
  grid-gap: 1.62rem;
}
.grid.tablet,
.two-column.tablet,
.three-column.tablet,
.grid.mobile.tablet,
.two-column.mobile.tablet,
.three-column.mobile.tablet,
.grid.desktop,
.two-column.desktop,
.three-column.desktop {
  display: initial;
}
.grid {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.two-column {
  grid-template-columns: 1fr 1fr;
}
.two-column.golden {
  grid-template-columns: 1.618fr 1fr;
}
.two-column.golden.reverse {
  grid-template-columns: 1fr 1.618fr;
}
.three-column {
  grid-template-columns: 1fr 1fr 1fr;
}
.three-column.golden {
  grid-template-columns: 1fr 1.618fr 1fr;
}
.three-column.golden.leading {
  grid-template-columns: 1.618fr 1fr 1fr;
}
.three-column.golden.trailing {
  grid-template-columns: 1fr 1fr 1.618fr;
}
.grid .grid-width-one {
  grid-column: auto / span 1;
}
.grid .grid-width-two {
  grid-column: auto / span 2;
}
.grid .grid-width-three {
  grid-column: auto / span 3;
}
.grid .grid-width-four {
  grid-column: auto / span 4;
}
.grid .grid-width-five {
  grid-column: auto / span 5;
}
.grid .grid-width-six {
  grid-column: auto / span 6;
}
.grid .grid-width-seven {
  grid-column: auto / span 7;
}
.grid .grid-width-eight {
  grid-column: auto / span 8;
}
.grid .grid-width-nine {
  grid-column: auto / span 9;
}
.grid .grid-width-ten {
  grid-column: auto / span 10;
}
.grid .grid-width-eleven {
  grid-column: auto / span 11;
}
.grid .grid-width-twelve {
  grid-column: auto / span 12;
}
@media screen and (max-width: calc(37.24rem - 1px)) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: grid;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 37.24rem) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: initial;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: initial;
  }
  .grid.tablet,
  .two-column.tablet,
  .three-column.tablet {
    display: grid;
  }
  .grid.tablet > *,
  .two-column.tablet > *,
  .three-column.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (max-width: calc(55rem - 1px)) {
  .grid.mobile.tablet,
  .two-column.mobile.tablet,
  .three-column.mobile.tablet {
    display: grid;
  }
  .grid.mobile.tablet > *,
  .two-column.mobile.tablet > *,
  .three-column.mobile.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 55rem) {
  .grid.desktop,
  .two-column.desktop,
  .three-column.desktop {
    display: grid;
  }
  .grid.desktop > *,
  .two-column.desktop > *,
  .three-column.desktop > * {
    margin-bottom: 0;
  }
}
.responsive {
  column-gap: 0.619rem;
  grid-gap: 0.619rem;
}
.responsive.padding,
.modal,
.container {
  padding: 0.619rem;
}
.responsive.margin,
.container {
  margin: 0.619rem;
}
.responsive.gutter {
  margin: 1.238rem;
}
@media screen and (min-width: 37.24rem) {
  .responsive {
    column-gap: 1.001rem;
    grid-gap: 1.001rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.001rem;
  }
  .responsive.margin,
  .container {
    margin: 1.001rem;
  }
  .responsive.gutter {
    margin: 2.002rem;
  }
}
@media screen and (min-width: 55rem) {
  .responsive {
    column-gap: 1.62rem;
    grid-gap: 1.62rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.62rem;
  }
  .responsive.margin,
  .container {
    margin: 1.62rem;
  }
  .responsive.gutter {
    margin: 3.24rem;
  }
}
.background {
  background: #fef2ff;
}
.background-color {
  background-color: #fef2ff;
}
.border {
  border: 1px solid #a13b8c;
}
.border-radius,
.rounded {
  border-radius: 0.5em;
}
.border-bottom {
  border-bottom: 1px solid #a13b8c;
}
.border-left {
  border-left: 1px solid #a13b8c;
}
.border-right {
  border-right: 1px solid #a13b8c;
}
.border-style,
.button.border,
button.border {
  border-style: solid;
}
.border-top {
  border-top: 1px solid #a13b8c;
}
.border-width,
.button.border,
button.border {
  border-width: 1px;
}
.max-width {
  max-width: 55rem;
}
.min-width {
  min-width: 21rem;
}
.align-content {
  align-content: stretch;
}
.align-items {
  align-items: stretch;
}
.align-self {
  align-self: auto;
}
.flex,
.vertical-center,
.center-vertical {
  flex: 0 1 auto;
}
.flex-basis {
  flex-basis: auto;
}
.flex-direction,
.vertical-center,
.center-vertical {
  flex-direction: column;
}
.flex-flow {
  flex-flow: column nowrap;
}
.flex-grow {
  flex-grow: 0;
}
.flex-shrink {
  flex-shrink: 1;
}
.flex-wrap {
  flex-wrap: nowrap;
}
.justify-content,
.vertical-center,
.center-vertical {
  justify-content: center;
}
.font-family {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
}
.font-size {
  font-size: 22px;
}
.font-weight {
  font-weight: normal;
}
.list-style {
  list-style: disc inside none;
}
.list-style-type {
  list-style-type: disc;
}
.margin {
  margin: 1.62rem;
}
.margin-bottom {
  margin-bottom: 1.62rem;
}
.margin-left {
  margin-left: 1.62rem;
}
.margin-right {
  margin-right: 1.62rem;
}
.margin-top {
  margin-top: 1.62rem;
}
.column-gap {
  column-gap: 1.94em;
}
.column-rule {
  column-rule: 1px solid #a13b8c;
}
.padding {
  padding: 1.62rem;
}
.padding-bottom {
  padding-bottom: 1.62rem;
}
.padding-left {
  padding-left: 1.62rem;
}
.padding-right {
  padding-right: 1.62rem;
}
.padding-top {
  padding-top: 1.62rem;
}
.text-align {
  text-align: left;
}
.text-align-last {
  text-align-last: left;
}
.text-indent {
  text-indent: 2ch;
}
.text-justify {
  text-justify: justify;
}
.text-overflow {
  text-overflow: hidden;
}
.text-shadow {
  text-shadow: 1.41px 1.41px 1.41px rgba(7, 40, 6, 0.16);
}
.line-height {
  line-height: 1.8;
}
.vertical-align {
  vertical-align: middle;
}
.letter-spacing {
  letter-spacing: 0;
}
.word-spacing {
  word-spacing: normal;
}
.white-space {
  white-space: nowrap;
}
.word-break {
  word-break: break-all;
}
.word-wrap {
  word-wrap: break-word;
}
.transform {
  transform: none;
}
.transition {
  transition: all 0s ease 0s;
}
.display {
  display: block;
}
.position {
  position: absolute;
}
.top {
  top: 0;
}
.right {
  right: 0;
}
.bottom {
  bottom: 0;
}
.left {
  left: 0;
}
.float {
  float: left;
}
.clear {
  clear: both;
}
.z-index {
  z-index: 10;
}
.overflow {
  overflow: hidden;
}
.overflow-x {
  overflow-x: hidden;
}
.cursor {
  cursor: pointer;
}
.box-shadow {
  box-shadow: 1.41px 1.41px 1.41px rgba(7, 40, 6, 0.16);
}
.gutter {
  margin: 3.24rem;
}
.gutter-top {
  margin-top: 3.24rem;
}
.gutter-right {
  margin-right: 3.24rem;
}
.gutter-bottom {
  margin-bottom: 3.24rem;
}
.gutter-left {
  margin-left: 3.24rem;
}
.text-padding {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-padding-top {
  padding-top: 0.18em;
}
.text-padding-right {
  padding-right: 0.3236em;
}
.text-padding-bottom {
  padding-bottom: 0.22em;
}
.text-padding-left {
  padding-left: 0.3236em;
}
.text-margin {
  margin: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-margin-top {
  margin-top: 0.18em;
}
.text-margin-right {
  margin-right: 0.3236em;
}
.text-margin-bottom {
  margin-bottom: 0.22em;
}
.text-margin-left {
  margin-left: 0.3236em;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.initial {
  display: initial;
}
.table {
  display: table;
}
.flex,
.vertical-center,
.center-vertical {
  display: flex;
}
.inline-block {
  display: inline-block;
}
.static {
  position: static;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.margin-auto,
.container {
  margin-left: auto;
  margin-right: auto;
}
.width-auto {
  width: auto;
}
.inset {
  box-shadow: inset 1.41px 1.41px 1.41px rgba(7, 40, 6, 0.16);
}
.viewport-height {
  height: 100vh;
}
.min-viewport-height {
  min-height: 100vh;
}
.overflow-hidden {
  overflow: hidden;
}
.dashed {
  border-style: dashed;
}
.dotted {
  border-style: dotted;
}
.thick {
  border-width: 2px;
}
.thin {
  border-width: 0.5px;
}
.current-color {
  border-color: currentColor;
}
.fade {
  opacity: 0.65;
}
.serif,
.font-family-serif {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "Droid Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
.monospace,
.font-family-monospace {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
}
.sans-serif,
.font-family-sans-serif {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.text-transparent {
  color: transparent;
}
.reset {
  all: initial;
}
.big {
  font-size: 125%;
  line-height: 2.25;
}
.big.font-size {
  font-size: 27.5px;
}
.small,
.badge {
  font-size: 87.5%;
  line-height: 1.575;
}
.small.font-size {
  font-size: 19.25px;
}
.huge {
  font-size: 160%;
}
.huge.font-size {
  font-size: 35.2px;
}
.text-trim {
  line-height: 1;
}
.text-align-center,
.text-center {
  text-align: center;
}
.text-align-left,
.text-left {
  text-align: left;
}
.text-align-right,
.text-right {
  text-align: right;
}
.text-align-justify,
.text-justify {
  text-align: justify;
}
.grid-gap-margin {
  grid-gap: 1.62rem;
}
.grid-gap-border-width {
  grid-gap: 1px;
}
.grid-gap-text-padding,
.grid-gap-text-margin {
  grid-gap: 0.3236em;
}
.shade,
.white,
.orange,
.yellow,
.light.olive,
.cyan,
.skyblue,
.violet,
.light.magenta,
.lavender,
.cream,
.light.clover,
.pewter,
.light.hotpink,
.neongreen,
.electricblue,
.lemon,
.lime,
.tangerine,
body,
input,
textarea,
.info,
.warning {
  color: #270628;
}
.tint,
.black,
.red,
.olive,
.green,
.teal,
.blue,
.indigo,
.purple,
.dark.violet,
.gray,
.brown,
.magenta,
.charcoal,
.crimson,
.clover,
.cobalt,
.graphite,
.ruby,
.onyx,
.dark.pewter,
.gunmetal,
.hotpink,
.royalpurple,
.grapefruit,
.reaction,
.default,
.success,
.failure {
  color: #fef2ff;
}
.transparent {
  background-color: transparent;
  color: inherit;
  border-color: inherit;
}
.transparent.light {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23FFF%22%20fill-opacity%3D%220.16%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.transparent.dark,
.modal {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23000%22%20fill-opacity%3D%220.25%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.trim,
.trim-inner *,
.trim-all,
.trim-all * {
  margin-bottom: 0;
}
.hidden {
  display: none !important;
}
.clearfix,
.clear {
  clear: both;
}
.clearfix::after,
.clear::after {
  display: block;
  clear: both;
  content: "";
}
.golden-width {
  max-width: calc(62% - 3.24rem);
}
.golden-width.reverse {
  max-width: 38%;
}
.aside-width {
  max-width: 21rem;
}
@media screen and (min-width: 37.24rem) {
  .text-width {
    max-width: 34rem;
  }
}
.page-width,
.container {
  max-width: 55rem;
}
.full-width,
.aside-width .aside-width,
.text-width .text-width,
.page-width .page-width {
  display: block;
  width: 100%;
}
.inner-aside-width {
  padding-left: calc(50% - 10.5rem);
  padding-right: calc(50% - 10.5rem);
}
.inner-aside-width.padding {
  padding-left: calc(50% - 8.88rem);
  padding-right: calc(50% - 8.88rem);
}
.inner-aside-width.responsive.padding {
  padding-left: calc(50% - 9.88rem);
  padding-right: calc(50% - 9.88rem);
}
.inner-text-width {
  padding-left: calc(50% - 17rem);
  padding-right: calc(50% - 17rem);
}
.inner-text-width.padding {
  padding-left: calc(50% - 15.38rem);
  padding-right: calc(50% - 15.38rem);
}
.inner-text-width.responsive.padding {
  padding-left: calc(50% - 16.38rem);
  padding-right: calc(50% - 16.38rem);
}
.inner-page-width {
  padding-left: calc(50% - 27.5rem);
  padding-right: calc(50% - 27.5rem);
}
.inner-page-width.padding {
  padding-left: calc(50% - 25.88rem);
  padding-right: calc(50% - 25.88rem);
}
.inner-page-width.responsive.padding {
  padding-left: calc(50% - 26.88rem);
  padding-right: calc(50% - 26.88rem);
}
@media screen and (max-width: calc(37.24rem - 1px)) {
  .inner-text-width {
    padding-left: initial;
    padding-right: initial;
  }
  .inner-text-width.padding {
    padding-left: 1.62rem;
    padding-right: 1.62rem;
  }
  .inner-text-width.responsive.padding {
    padding-left: 0.619rem;
    padding-right: 0.619rem;
  }
}
@media screen and (min-width: 37.24rem) {
  .inner-aside-width.tablet.padding {
    padding-left: calc(50% - 8.88rem);
    padding-right: calc(50% - 8.88rem);
  }
  .inner-aside-width.tablet.responsive.padding {
    padding-left: calc(50% - 9.5rem);
    padding-right: calc(50% - 9.5rem);
  }
  .inner-text-width.tablet.padding {
    padding-left: calc(50% - 15.38rem);
    padding-right: calc(50% - 15.38rem);
  }
  .inner-text-width.tablet.responsive.padding {
    padding-left: calc(50% - 16rem);
    padding-right: calc(50% - 16rem);
  }
  .inner-page-width.tablet.padding {
    padding-left: calc(50% - 25.88rem);
    padding-right: calc(50% - 25.88rem);
  }
  .inner-page-width.tablet.responsive.padding {
    padding-left: calc(50% - 26.5rem);
    padding-right: calc(50% - 26.5rem);
  }
}
@media screen and (min-width: 55rem) {
  .inner-aside-width.desktop.padding {
    padding-left: calc(50% - 8.88rem);
    padding-right: calc(50% - 8.88rem);
  }
  .inner-aside-width.desktop.responsive.padding {
    padding-left: calc(50% - 8.88rem);
    padding-right: calc(50% - 8.88rem);
  }
  .inner-text-width.desktop.padding {
    padding-left: calc(50% - 15.38rem);
    padding-right: calc(50% - 15.38rem);
  }
  .inner-text-width.desktop.responsive.padding {
    padding-left: calc(50% - 15.38rem);
    padding-right: calc(50% - 15.38rem);
  }
  .inner-page-width.desktop.padding {
    padding-left: calc(50% - 25.88rem);
    padding-right: calc(50% - 25.88rem);
  }
  .inner-page-width.desktop.responsive.padding {
    padding-left: calc(50% - 25.88rem);
    padding-right: calc(50% - 25.88rem);
  }
}
@media screen and (max-width: calc(55rem - 1px)) {
  .inner-page-width {
    padding-left: initial;
    padding-right: initial;
  }
  .inner-page-width.padding {
    padding-left: 1.62rem;
    padding-right: 1.62rem;
  }
  .inner-page-width.responsive.padding {
    padding-left: 0.619rem;
    padding-right: 0.619rem;
  }
}
.texture,
.pattern {
  background-position: top center;
}
.texture {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20viewBox%3D'0%200%203.175%201.588'%20height%3D'22'%20width%3D'44'%3E%3Cg%20fill%3D'%23fef2ff'%20fill-opacity%3D'0.16'%3E%3Cpath%20d%3D'M1.317%201.194h-.92l.23-.399.23-.398.23.398zM2.312%201.194l-.23-.399-.23-.398h.92l-.23.398z'/%3E%3C/g%3E%3C/svg%3E");
}
.pattern {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20viewBox%3D'0%200%2052.917%2042.333'%20height%3D'160'%20width%3D'200'%3E%3Cpath%20d%3D'M28.07%2015.841a4.194%204.194%200%2000-3.804%202.422%202.936%202.936%200%2000-.824-.12%202.936%202.936%200%2000-2.926%202.729%201.68%201.68%200%2000-1.674%201.68%201.68%201.68%200%20001.68%201.677h11.74a2.517%202.517%200%20002.516-2.517%202.517%202.517%200%2000-2.517-2.517%202.517%202.517%200%2000-.082%200%204.194%204.194%200%2000-4.109-3.354z'%20fill%3D'%23fef2ff'%20fill-opacity%3D'0.16'/%3E%3C/svg%3E");
}
.placeholder::before {
  content: " ";
  white-space: pre;
}
.placeholder::after {
  content: "";
}
.placeholder.image,
.placeholder.video,
.placeholder.avatar {
  position: relative;
}
.placeholder.image::before,
.placeholder.video::before,
.placeholder.avatar::before {
  position: absolute;
  top: calc(50% - 4rem);
  right: 0;
  bottom: 0;
  left: 0;
  display: inline-block;
  text-align: center;
  font-size: 4rem;
  vertical-align: middle;
}
.placeholder.image.small::before,
.placeholder.video.small::before,
.placeholder.avatar.small::before {
  top: calc(50% - 2rem);
  font-size: 2rem;
}
.placeholder.image.big::before,
.placeholder.video.big::before,
.placeholder.avatar.big::before {
  top: calc(50% - 6rem);
  font-size: 6rem;
}
.placeholder.image.huge::before,
.placeholder.video.huge::before,
.placeholder.avatar.huge::before {
  top: calc(50% - 8rem);
  font-size: 8rem;
}
.placeholder.image::after,
.placeholder.video::after,
.placeholder.avatar::after {
  display: block;
}
.placeholder.image::before {
  content: "\1f5bc";
}
.placeholder.image::after {
  padding-top: 75%;
}
.placeholder.video::before {
  content: "\25B6";
}
.placeholder.video::after {
  padding-top: 56.25%;
}
.placeholder.avatar::before {
  content: "\263A";
}
.placeholder.avatar::after {
  padding-top: 100%;
}
.placeholder.no-icon::before {
  content: "";
}
.hide {
  display: none;
}
.hide.tablet {
  display: initial;
}
.hide.desktop {
  display: initial;
}
@media screen and (max-width: calc(37.24rem - 1px)) {
  .hide.mobile {
    display: none;
  }
}
@media screen and (min-width: 37.24rem) {
  .hide.mobile {
    display: initial;
  }
  .hide.tablet {
    display: none;
  }
}
@media screen and (min-width: 55rem) {
  .hide.desktop {
    display: none;
  }
  .hide.mobile.tablet {
    display: initial;
  }
}
@media screen and (max-width: calc(55rem - 1px)) {
  .hide.mobile.tablet {
    display: none;
  }
}
body {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
  font-size: 22px;
  line-height: 1.8;
  margin: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
nav {
  z-index: 99;
}
nav a {
  text-decoration: none;
}
aside {
  margin: 0 auto;
  margin-bottom: 1.62rem;
  max-width: 21rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
  font-weight: bold;
  margin-top: 0.49443758em;
  margin-bottom: 0.74165637em;
  letter-spacing: -0.025em;
  color: inherit;
  line-height: 1.618;
}
h1 {
  font-size: 2.4em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1em;
}
p {
  margin-bottom: 1em;
}
p.gutter-bottom {
  margin-bottom: 1.618em;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: inherit;
  text-decoration: underline;
}
a.target-blank::after,
a.new-tab::after,
a.external-link::after {
  content: "\00A0\1F855";
}
form {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
  font-size: 22px;
  line-height: 1.8;
  border: 1px solid #a13b8c;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input:focus {
  box-shadow: 0 0 2px #8babe3;
}
fieldset {
  border: none;
  outline: none;
}
ol {
  padding-left: 4ch;
  margin-bottom: 1.62rem;
}
ol li {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
ul {
  margin-left: 1.62rem;
  margin-bottom: 1.62rem;
}
li {
  margin-bottom: 0.44em;
}
kbd {
  color: #fef2ff;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  white-space: nowrap;
}
b {
  padding: 0.18em 0 0.22em 0;
}
pre {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
  overflow: hidden;
  border-radius: 0.5em;
  background: #413240;
  color: #fef2ff;
}
pre.white-space,
pre.word-break {
  white-space: pre-wrap;
}
pre > code {
  background: transparent;
  padding: 0;
}
code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
  color: #fef2ff;
  background-color: #362e60;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
code.terminal::before {
  content: "$ ";
}
textarea {
  font-size: 22px;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
  line-height: 1.8;
  border: 1px solid #a13b8c;
  border-radius: 0.5em;
  margin-bottom: 1.62rem;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
textarea:focus {
  box-shadow: 0 0 2px #8babe3;
}
.white,
body,
input,
textarea {
  background-color: #fef2ff;
  border-color: #8a7a8b;
}
.black {
  background-color: #270628;
  border-color: #130314;
}
.ambient {
  color: #fef2ff;
  background: #f227f8;
  border-color: #841488;
}
.ambient.light {
  color: #270628;
  background: #f44ff9;
  border-color: #862888;
}
.ambient.dark {
  color: #fef2ff;
  background: #e808ef;
  border-color: #800583;
}
.red,
.failure {
  background-color: #e80228;
  border-color: #800117;
}
.light.red,
.light.failure {
  background-color: #fd163c;
  border-color: #8b0b21;
}
.dark.red,
.dark.failure {
  background-color: #c00121;
  border-color: #6c0113;
}
.orange,
.warning {
  background-color: #f98f27;
  border-color: #884e14;
}
.light.orange,
.light.warning {
  background-color: #faa44f;
  border-color: #895828;
}
.dark.orange,
.dark.warning {
  background-color: #f17b06;
  border-color: #844304;
}
.yellow {
  background-color: #f4d727;
  border-color: #857615;
}
.light.yellow {
  background-color: #f6de4e;
  border-color: #867928;
}
.dark.yellow {
  background-color: #e6c80c;
  border-color: #7f6e07;
}
.olive {
  background-color: #9a7928;
  border-color: #574516;
}
.light.olive {
  background-color: #ba9331;
  border-color: #67511b;
}
.dark.olive {
  background-color: #796020;
  border-color: #473812;
}
.green,
.success {
  background-color: #267828;
  border-color: #164617;
}
.light.green,
.light.success {
  background-color: #309732;
  border-color: #1a551c;
}
.dark.green,
.dark.success {
  background-color: #1c591d;
  border-color: #113612;
}
.teal {
  background-color: #26799a;
  border-color: #154557;
}
.light.teal {
  background-color: #2e93bb;
  border-color: #195168;
}
.dark.teal {
  background-color: #1e607a;
  border-color: #113847;
}
.cyan {
  background-color: #39c9f5;
  border-color: #1d6e86;
}
.light.cyan {
  background-color: #5fd4f7;
  border-color: #317387;
}
.dark.cyan {
  background-color: #12bef3;
  border-color: #0a6885;
}
.skyblue,
.info {
  background-color: #8babe3;
  border-color: #485b7c;
}
.light.skyblue,
.light.info {
  background-color: #acc3eb;
  border-color: #586780;
}
.dark.skyblue,
.dark.info {
  background-color: #6a93db;
  border-color: #374f78;
}
.blue {
  background-color: #2501f4;
  border-color: #150186;
}
.light.blue {
  background-color: #411ffe;
  border-color: #23108b;
}
.dark.blue {
  background-color: #1f01cb;
  border-color: #120172;
}
.indigo {
  background-color: #68019a;
  border-color: #3c0159;
}
.light.indigo {
  background-color: #8402c2;
  border-color: #4a016d;
}
.dark.indigo {
  background-color: #4d0172;
  border-color: #2f0145;
}
.purple {
  background-color: #9d039e;
  border-color: #5a025b;
}
.light.purple {
  background-color: #c503c6;
  border-color: #6e026f;
}
.dark.purple {
  background-color: #750276;
  border-color: #460247;
}
.violet {
  background-color: #e566e6;
  border-color: #7d357d;
}
.light.violet {
  background-color: #eb89eb;
  border-color: #804680;
}
.dark.violet {
  background-color: #e043e0;
  border-color: #7a237b;
}
.gray {
  background-color: #8f6b8c;
  border-color: #4f3a4e;
}
.light.gray {
  background-color: #a1819f;
  border-color: #584557;
}
.dark.gray {
  background-color: #775975;
  border-color: #443142;
}
.brown {
  background-color: #a34c3b;
  border-color: #5b2a20;
}
.light.brown {
  background-color: #bd5c49;
  border-color: #683227;
}
.dark.brown {
  background-color: #853e30;
  border-color: #4c231b;
}
.magenta {
  background-color: #e002e1;
  border-color: #7c027c;
}
.light.magenta {
  background-color: #fc0ffc;
  border-color: #8a088a;
}
.dark.magenta {
  background-color: #b802b8;
  border-color: #680168;
}
.lavender {
  background-color: #ccaee1;
  border-color: #6d5a7a;
}
.light.lavender {
  background-color: #dfccec;
  border-color: #76697f;
}
.dark.lavender {
  background-color: #b991d6;
  border-color: #634b74;
}
.cream {
  background-color: #eee0d0;
  border-color: #80776b;
}
.light.cream {
  background-color: #f9f4ee;
  border-color: #86807a;
}
.dark.cream {
  background-color: #e3cdb2;
  border-color: #7b6d5c;
}
.charcoal {
  background-color: #672f4c;
  border-color: #3d1b2c;
}
.light.charcoal {
  background-color: #833c61;
  border-color: #4b2237;
}
.dark.charcoal {
  background-color: #4b2337;
  border-color: #2f1522;
}
.crimson {
  background-color: #b40a2e;
  border-color: #66061a;
}
.light.crimson {
  background-color: #db0c38;
  border-color: #79071f;
}
.dark.crimson {
  background-color: #8e0824;
  border-color: #520515;
}
.clover {
  background-color: #5a973a;
  border-color: #325520;
}
.light.clover {
  background-color: #6bb545;
  border-color: #3b6425;
}
.dark.clover {
  background-color: #487a2e;
  border-color: #29461a;
}
.cobalt {
  background-color: #346fd2;
  border-color: #1c3c73;
}
.light.cobalt {
  background-color: #5686d9;
  border-color: #2d4877;
}
.dark.cobalt {
  background-color: #285cb5;
  border-color: #163365;
}
.graphite {
  background-color: #362e60;
  border-color: #1f1a39;
}
.light.graphite {
  background-color: #463b7c;
  border-color: #272147;
}
.dark.graphite {
  background-color: #262044;
  border-color: #18142b;
}
.ruby {
  background-color: #b90154;
  border-color: #680130;
}
.light.ruby {
  background-color: #e10166;
  border-color: #7d0139;
}
.dark.ruby {
  background-color: #900141;
  border-color: #540126;
}
.onyx {
  background-color: #413240;
  border-color: #281e27;
}
.light.onyx {
  background-color: #584456;
  border-color: #342633;
}
.dark.onyx {
  background-color: #2a2029;
  border-color: #1d151c;
}
.pewter {
  background-color: #a5968f;
  border-color: #5a514c;
}
.light.pewter {
  background-color: #b7aba5;
  border-color: #635b57;
}
.dark.pewter {
  background-color: #938178;
  border-color: #514641;
}
.gunmetal {
  background-color: #5b4c7f;
  border-color: #332a48;
}
.light.gunmetal {
  background-color: #6e5c99;
  border-color: #3c3255;
}
.dark.gunmetal {
  background-color: #493d66;
  border-color: #2a223b;
}
.hotpink {
  background-color: #ed50a7;
  border-color: #81295a;
}
.light.hotpink {
  background-color: #f075b9;
  border-color: #833c63;
}
.dark.hotpink {
  background-color: #e92b94;
  border-color: #7f1751;
}
.neongreen {
  background-color: #41df22;
  border-color: #247a13;
}
.light.neongreen {
  background-color: #60e446;
  border-color: #337d25;
}
.dark.neongreen {
  background-color: #36bd1c;
  border-color: #1e690f;
}
.electricblue {
  background-color: #40abde;
  border-color: #225d7a;
}
.light.electricblue {
  background-color: #62bae4;
  border-color: #33657d;
}
.dark.electricblue {
  background-color: #2499d1;
  border-color: #145473;
}
.royalpurple {
  background-color: #6c2d9a;
  border-color: #3d1957;
}
.light.royalpurple {
  background-color: #8236b9;
  border-color: #481e67;
}
.dark.royalpurple {
  background-color: #55247a;
  border-color: #311447;
}
.lemon {
  background-color: #f9ea97;
  border-color: #887f4d;
}
.light.lemon {
  background-color: #fbf2be;
  border-color: #898360;
}
.dark.lemon {
  background-color: #f7e271;
  border-color: #877b39;
}
.lime {
  background-color: #a1cd99;
  border-color: #557050;
}
.light.lime {
  background-color: #badbb4;
  border-color: #61765e;
}
.dark.lime {
  background-color: #88c07d;
  border-color: #486942;
}
.tangerine {
  background-color: #f39c5c;
  border-color: #85532f;
}
.light.tangerine {
  background-color: #f6b382;
  border-color: #865f42;
}
.dark.tangerine {
  background-color: #f08536;
  border-color: #83481c;
}
.grapefruit {
  background-color: #d42963;
  border-color: #741736;
}
.light.grapefruit {
  background-color: #dc4a7b;
  border-color: #782742;
}
.dark.grapefruit {
  background-color: #b22353;
  border-color: #63132e;
}
.action,
.base-color {
  color: #fef2ff;
  background: #bd29cd;
  border-color: #681671;
}
.action.light,
.base-color.light {
  color: #fef2ff;
  background: #cb45da;
  border-color: #6f2477;
}
.action.dark,
.base-color.dark {
  color: #fef2ff;
  background: #9e22ab;
  border-color: #581360;
}
.reaction {
  background-color: #467b3e;
  border-color: #274623;
}
.light.reaction {
  background-color: #55964c;
  border-color: #2f5429;
}
.dark.reaction {
  background-color: #366030;
  border-color: #1f391c;
}
.default {
  background-color: #a13b8c;
  border-color: #5a214e;
}
.light.default {
  background-color: #bc49a4;
  border-color: #68285a;
}
.dark.default {
  background-color: #843072;
  border-color: #4b1b41;
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-margin-right {
  margin-right: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.no-margin-left {
  margin-left: 0 !important;
}
.no-padding {
  padding: 0;
}
.no-margin,
.no-gutter {
  margin: 0;
}
.no-side-margin,
.no-side-margins {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.no-margins {
  margin: 0 !important;
}
.no-margins * {
  margin: 0 !important;
}
.no-box-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  box-shadow: unset;
}
.no-text-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  text-shadow: unset;
}
.no-border,
.no-borders,
.no-borders * {
  border-width: 0 !important;
}
.no-background {
  background: transparent;
}
.no-text-indent {
  text-indent: 0;
}
.no-text-align {
  text-align: initial;
}
.no-user-select {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.no-pointer-events {
  pointer-events: none;
}
.no-list-style {
  list-style-type: none;
  margin-left: 0;
}
.no-grid-gap,
.no-column-gap {
  grid-gap: 0;
  column-gap: 0;
}
@media print {
  html {
    font-size: 62.5%;
  }
  * {
    box-shadow: unset !important;
    border: unset !important;
  }
  nav {
    display: none !important;
  }
  .page-width,
  .text-width,
  .container {
    all: unset;
  }
  .inner-page-width,
  .inner-text-width,
  .inner-aside-width {
    all: unset;
  }
}
