/* This project uses Cavepaint! (MIT License) */
/* https://github.com/cavepaint/cavepaintCSS */
* {
  margin: 0 0 1.62rem 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}
.button,
button {
  border-style: solid;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(2, 39, 10, 0.16);
  display: inline;
  position: relative;
  font-family: inherit;
  font-size: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  color: inherit;
  background-color: inherit;
  border-color: #621d3b;
  border-width: 1px;
  line-height: 1.6;
  text-align: center;
  vertical-align: middle;
  outline: none;
  white-space: nowrap;
  text-decoration: none;
  touch-action: manipulation;
  cursor: pointer;
  transform: scale(1);
  transition: 0.08s linear;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.button:active,
button:active {
  transform: scale(0.99);
  box-shadow: unset;
}
.bar {
  position: relative;
  width: 100%;
  display: block;
  vertical-align: middle;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.bar > * {
  display: inline;
  margin-right: 0.3236em;
  margin-left: 0.3236em;
  margin-bottom: 0;
}
.card {
  position: relative;
  overflow: hidden;
  padding: 1.62rem;
  border: 1px solid #a13061;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(2, 39, 10, 0.16);
}
.card > *:first-child {
  margin-top: 0;
}
.card > *:last-child {
  margin-bottom: 0;
}
.badge {
  border-radius: 0.5em;
  line-height: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  padding-right: 0.6472em;
  padding-left: 0.6472em;
  vertical-align: middle;
  border-radius: 99px;
  white-space: nowrap;
}
.modal {
  display: none;
  max-width: none;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  position: fixed;
  bottom: 0;
  justify-content: center;
  flex: 0 1 auto;
  flex-direction: column;
  height: 100vh;
}
.modal > * {
  flex-direction: column;
  color: #27021f;
  position: relative;
  background: #fef1fb;
  padding: 1.62rem;
  margin-bottom: 3.24rem;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(2, 39, 10, 0.16);
  margin: 1.62rem;
}
@media screen and (min-width: 49.24rem) {
  .modal > * {
    max-width: 74rem;
    margin: 0 auto;
  }
}
.overlay {
  margin: 0;
  padding: 0;
  position: relative;
}
.overlay .top,
.overlay .bottom,
.overlay .left,
.overlay .right {
  position: absolute;
}
.overlay .top {
  top: 0.3236em;
}
.overlay .bottom {
  bottom: 0.3236em;
}
.overlay .left {
  left: 0.3236em;
}
.overlay .right {
  right: 0.3236em;
}
.overlay.stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.overlay * {
  margin: 0;
  display: block;
}
.grid,
.two-column,
.three-column {
  display: grid;
  grid-gap: 1.62rem;
}
.grid.tablet,
.two-column.tablet,
.three-column.tablet,
.grid.mobile.tablet,
.two-column.mobile.tablet,
.three-column.mobile.tablet,
.grid.desktop,
.two-column.desktop,
.three-column.desktop {
  display: initial;
}
.grid {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.two-column {
  grid-template-columns: 1fr 1fr;
}
.two-column.golden {
  grid-template-columns: 1.618fr 1fr;
}
.two-column.golden.reverse {
  grid-template-columns: 1fr 1.618fr;
}
.three-column {
  grid-template-columns: 1fr 1fr 1fr;
}
.three-column.golden {
  grid-template-columns: 1fr 1.618fr 1fr;
}
.three-column.golden.leading {
  grid-template-columns: 1.618fr 1fr 1fr;
}
.three-column.golden.trailing {
  grid-template-columns: 1fr 1fr 1.618fr;
}
.grid .grid-width-one {
  grid-column: auto / span 1;
}
.grid .grid-width-two {
  grid-column: auto / span 2;
}
.grid .grid-width-three {
  grid-column: auto / span 3;
}
.grid .grid-width-four {
  grid-column: auto / span 4;
}
.grid .grid-width-five {
  grid-column: auto / span 5;
}
.grid .grid-width-six {
  grid-column: auto / span 6;
}
.grid .grid-width-seven {
  grid-column: auto / span 7;
}
.grid .grid-width-eight {
  grid-column: auto / span 8;
}
.grid .grid-width-nine {
  grid-column: auto / span 9;
}
.grid .grid-width-ten {
  grid-column: auto / span 10;
}
.grid .grid-width-eleven {
  grid-column: auto / span 11;
}
.grid .grid-width-twelve {
  grid-column: auto / span 12;
}
@media screen and (max-width: calc(49.24rem - 1px)) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: grid;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 49.24rem) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: initial;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: initial;
  }
  .grid.tablet,
  .two-column.tablet,
  .three-column.tablet {
    display: grid;
  }
  .grid.tablet > *,
  .two-column.tablet > *,
  .three-column.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (max-width: calc(74rem - 1px)) {
  .grid.mobile.tablet,
  .two-column.mobile.tablet,
  .three-column.mobile.tablet {
    display: grid;
  }
  .grid.mobile.tablet > *,
  .two-column.mobile.tablet > *,
  .three-column.mobile.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 74rem) {
  .grid.desktop,
  .two-column.desktop,
  .three-column.desktop {
    display: grid;
  }
  .grid.desktop > *,
  .two-column.desktop > *,
  .three-column.desktop > * {
    margin-bottom: 0;
  }
}
.responsive {
  column-gap: 0.619rem;
  grid-gap: 0.619rem;
}
.responsive.padding,
.modal,
.container {
  padding: 0.619rem;
}
.responsive.margin,
.container {
  margin: 0.619rem;
}
.responsive.gutter {
  margin: 1.238rem;
}
@media screen and (min-width: 49.24rem) {
  .responsive {
    column-gap: 1.001rem;
    grid-gap: 1.001rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.001rem;
  }
  .responsive.margin,
  .container {
    margin: 1.001rem;
  }
  .responsive.gutter {
    margin: 2.002rem;
  }
}
@media screen and (min-width: 74rem) {
  .responsive {
    column-gap: 1.62rem;
    grid-gap: 1.62rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.62rem;
  }
  .responsive.margin,
  .container {
    margin: 1.62rem;
  }
  .responsive.gutter {
    margin: 3.24rem;
  }
}
.background {
  background: #fef1fb;
}
.background-color {
  background-color: #fef1fb;
}
.border {
  border: 1px solid #a13061;
}
.border-radius,
.rounded {
  border-radius: 0.5em;
}
.border-bottom {
  border-bottom: 1px solid #a13061;
}
.border-left {
  border-left: 1px solid #a13061;
}
.border-right {
  border-right: 1px solid #a13061;
}
.border-style,
.button.border,
button.border {
  border-style: solid;
}
.border-top {
  border-top: 1px solid #a13061;
}
.border-width,
.button.border,
button.border {
  border-width: 1px;
}
.max-width {
  max-width: 74rem;
}
.min-width {
  min-width: 28rem;
}
.align-content {
  align-content: stretch;
}
.align-items {
  align-items: stretch;
}
.align-self {
  align-self: auto;
}
.flex,
.vertical-center,
.center-vertical {
  flex: 0 1 auto;
}
.flex-basis {
  flex-basis: auto;
}
.flex-direction,
.vertical-center,
.center-vertical {
  flex-direction: column;
}
.flex-flow {
  flex-flow: column nowrap;
}
.flex-grow {
  flex-grow: 0;
}
.flex-shrink {
  flex-shrink: 1;
}
.flex-wrap {
  flex-wrap: nowrap;
}
.justify-content,
.vertical-center,
.center-vertical {
  justify-content: center;
}
.font-family {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.font-size {
  font-size: 17px;
}
.font-weight {
  font-weight: normal;
}
.list-style {
  list-style: disc inside none;
}
.list-style-type {
  list-style-type: disc;
}
.margin {
  margin: 1.62rem;
}
.margin-bottom {
  margin-bottom: 1.62rem;
}
.margin-left {
  margin-left: 1.62rem;
}
.margin-right {
  margin-right: 1.62rem;
}
.margin-top {
  margin-top: 1.62rem;
}
.column-gap {
  column-gap: 1.94em;
}
.column-rule {
  column-rule: 1px solid #a13061;
}
.padding {
  padding: 1.62rem;
}
.padding-bottom {
  padding-bottom: 1.62rem;
}
.padding-left {
  padding-left: 1.62rem;
}
.padding-right {
  padding-right: 1.62rem;
}
.padding-top {
  padding-top: 1.62rem;
}
.text-align {
  text-align: left;
}
.text-align-last {
  text-align-last: left;
}
.text-indent {
  text-indent: 2ch;
}
.text-justify {
  text-justify: justify;
}
.text-overflow {
  text-overflow: hidden;
}
.text-shadow {
  text-shadow: 1.41px 1.41px 1.41px rgba(2, 39, 10, 0.16);
}
.line-height {
  line-height: 1.8;
}
.vertical-align {
  vertical-align: middle;
}
.letter-spacing {
  letter-spacing: 0;
}
.word-spacing {
  word-spacing: normal;
}
.white-space {
  white-space: nowrap;
}
.word-break {
  word-break: break-all;
}
.word-wrap {
  word-wrap: break-word;
}
.transform {
  transform: none;
}
.transition {
  transition: all 0s ease 0s;
}
.display {
  display: block;
}
.position {
  position: absolute;
}
.top {
  top: 0;
}
.right {
  right: 0;
}
.bottom {
  bottom: 0;
}
.left {
  left: 0;
}
.float {
  float: left;
}
.clear {
  clear: both;
}
.z-index {
  z-index: 10;
}
.overflow {
  overflow: hidden;
}
.overflow-x {
  overflow-x: hidden;
}
.cursor {
  cursor: pointer;
}
.box-shadow {
  box-shadow: 1.41px 1.41px 1.41px rgba(2, 39, 10, 0.16);
}
.gutter {
  margin: 3.24rem;
}
.gutter-top {
  margin-top: 3.24rem;
}
.gutter-right {
  margin-right: 3.24rem;
}
.gutter-bottom {
  margin-bottom: 3.24rem;
}
.gutter-left {
  margin-left: 3.24rem;
}
.text-padding {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-padding-top {
  padding-top: 0.18em;
}
.text-padding-right {
  padding-right: 0.3236em;
}
.text-padding-bottom {
  padding-bottom: 0.22em;
}
.text-padding-left {
  padding-left: 0.3236em;
}
.text-margin {
  margin: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-margin-top {
  margin-top: 0.18em;
}
.text-margin-right {
  margin-right: 0.3236em;
}
.text-margin-bottom {
  margin-bottom: 0.22em;
}
.text-margin-left {
  margin-left: 0.3236em;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.initial {
  display: initial;
}
.table {
  display: table;
}
.flex,
.vertical-center,
.center-vertical {
  display: flex;
}
.inline-block {
  display: inline-block;
}
.static {
  position: static;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.margin-auto,
.container {
  margin-left: auto;
  margin-right: auto;
}
.width-auto {
  width: auto;
}
.inset {
  box-shadow: inset 1.41px 1.41px 1.41px rgba(2, 39, 10, 0.16);
}
.viewport-height {
  height: 100vh;
}
.min-viewport-height {
  min-height: 100vh;
}
.overflow-hidden {
  overflow: hidden;
}
.dashed {
  border-style: dashed;
}
.dotted {
  border-style: dotted;
}
.thick {
  border-width: 2px;
}
.thin {
  border-width: 0.5px;
}
.current-color {
  border-color: currentColor;
}
.fade {
  opacity: 0.65;
}
.serif,
.font-family-serif {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "Droid Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
.monospace,
.font-family-monospace {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
}
.sans-serif,
.font-family-sans-serif {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.text-transparent {
  color: transparent;
}
.reset {
  all: initial;
}
.big {
  font-size: 125%;
  line-height: 2.25;
}
.big.font-size {
  font-size: 21.25px;
}
.small,
.badge {
  font-size: 87.5%;
  line-height: 1.575;
}
.small.font-size {
  font-size: 14.875px;
}
.huge {
  font-size: 160%;
}
.huge.font-size {
  font-size: 27.2px;
}
.text-trim {
  line-height: 1;
}
.text-align-center,
.text-center {
  text-align: center;
}
.text-align-left,
.text-left {
  text-align: left;
}
.text-align-right,
.text-right {
  text-align: right;
}
.text-align-justify,
.text-justify {
  text-align: justify;
}
.grid-gap-margin {
  grid-gap: 1.62rem;
}
.grid-gap-border-width {
  grid-gap: 1px;
}
.grid-gap-text-padding,
.grid-gap-text-margin {
  grid-gap: 0.3236em;
}
.shade,
.white,
.orange,
.yellow,
.light.olive,
.cyan,
.skyblue,
.violet,
.light.magenta,
.lavender,
.cream,
.light.clover,
.pewter,
.light.hotpink,
.neongreen,
.electricblue,
.lemon,
.lime,
.tangerine,
body,
input,
textarea,
.info,
.warning {
  color: #27021f;
}
.tint,
.black,
.red,
.olive,
.green,
.teal,
.dark.skyblue,
.blue,
.indigo,
.purple,
.dark.violet,
.gray,
.brown,
.magenta,
.charcoal,
.crimson,
.clover,
.cobalt,
.graphite,
.ruby,
.onyx,
.dark.pewter,
.gunmetal,
.hotpink,
.dark.electricblue,
.royalpurple,
.grapefruit,
.reaction,
.default,
.dark.info,
.success,
.failure {
  color: #fef1fb;
}
.transparent {
  background-color: transparent;
  color: inherit;
  border-color: inherit;
}
.transparent.light {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23FFF%22%20fill-opacity%3D%220.16%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.transparent.dark,
.modal {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23000%22%20fill-opacity%3D%220.25%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.trim,
.trim-inner *,
.trim-all,
.trim-all * {
  margin-bottom: 0;
}
.hidden {
  display: none !important;
}
.clearfix,
.clear {
  clear: both;
}
.clearfix::after,
.clear::after {
  display: block;
  clear: both;
  content: "";
}
.golden-width {
  max-width: calc(62% - 3.24rem);
}
.golden-width.reverse {
  max-width: 38%;
}
.aside-width {
  max-width: 28rem;
}
@media screen and (min-width: 49.24rem) {
  .text-width {
    max-width: 46rem;
  }
}
.page-width,
.container {
  max-width: 74rem;
}
.full-width,
.aside-width .aside-width,
.text-width .text-width,
.page-width .page-width {
  display: block;
  width: 100%;
}
.inner-aside-width {
  padding-left: calc(50% - 14rem);
  padding-right: calc(50% - 14rem);
}
.inner-aside-width.padding {
  padding-left: calc(50% - 12.38rem);
  padding-right: calc(50% - 12.38rem);
}
.inner-aside-width.responsive.padding {
  padding-left: calc(50% - 13.38rem);
  padding-right: calc(50% - 13.38rem);
}
.inner-text-width {
  padding-left: calc(50% - 23rem);
  padding-right: calc(50% - 23rem);
}
.inner-text-width.padding {
  padding-left: calc(50% - 21.38rem);
  padding-right: calc(50% - 21.38rem);
}
.inner-text-width.responsive.padding {
  padding-left: calc(50% - 22.38rem);
  padding-right: calc(50% - 22.38rem);
}
.inner-page-width {
  padding-left: calc(50% - 37rem);
  padding-right: calc(50% - 37rem);
}
.inner-page-width.padding {
  padding-left: calc(50% - 35.38rem);
  padding-right: calc(50% - 35.38rem);
}
.inner-page-width.responsive.padding {
  padding-left: calc(50% - 36.38rem);
  padding-right: calc(50% - 36.38rem);
}
@media screen and (max-width: calc(49.24rem - 1px)) {
  .inner-text-width {
    padding-left: initial;
    padding-right: initial;
  }
  .inner-text-width.padding {
    padding-left: 1.62rem;
    padding-right: 1.62rem;
  }
  .inner-text-width.responsive.padding {
    padding-left: 0.619rem;
    padding-right: 0.619rem;
  }
}
@media screen and (min-width: 49.24rem) {
  .inner-aside-width.tablet.padding {
    padding-left: calc(50% - 12.38rem);
    padding-right: calc(50% - 12.38rem);
  }
  .inner-aside-width.tablet.responsive.padding {
    padding-left: calc(50% - 13rem);
    padding-right: calc(50% - 13rem);
  }
  .inner-text-width.tablet.padding {
    padding-left: calc(50% - 21.38rem);
    padding-right: calc(50% - 21.38rem);
  }
  .inner-text-width.tablet.responsive.padding {
    padding-left: calc(50% - 22rem);
    padding-right: calc(50% - 22rem);
  }
  .inner-page-width.tablet.padding {
    padding-left: calc(50% - 35.38rem);
    padding-right: calc(50% - 35.38rem);
  }
  .inner-page-width.tablet.responsive.padding {
    padding-left: calc(50% - 36rem);
    padding-right: calc(50% - 36rem);
  }
}
@media screen and (min-width: 74rem) {
  .inner-aside-width.desktop.padding {
    padding-left: calc(50% - 12.38rem);
    padding-right: calc(50% - 12.38rem);
  }
  .inner-aside-width.desktop.responsive.padding {
    padding-left: calc(50% - 12.38rem);
    padding-right: calc(50% - 12.38rem);
  }
  .inner-text-width.desktop.padding {
    padding-left: calc(50% - 21.38rem);
    padding-right: calc(50% - 21.38rem);
  }
  .inner-text-width.desktop.responsive.padding {
    padding-left: calc(50% - 21.38rem);
    padding-right: calc(50% - 21.38rem);
  }
  .inner-page-width.desktop.padding {
    padding-left: calc(50% - 35.38rem);
    padding-right: calc(50% - 35.38rem);
  }
  .inner-page-width.desktop.responsive.padding {
    padding-left: calc(50% - 35.38rem);
    padding-right: calc(50% - 35.38rem);
  }
}
@media screen and (max-width: calc(74rem - 1px)) {
  .inner-page-width {
    padding-left: initial;
    padding-right: initial;
  }
  .inner-page-width.padding {
    padding-left: 1.62rem;
    padding-right: 1.62rem;
  }
  .inner-page-width.responsive.padding {
    padding-left: 0.619rem;
    padding-right: 0.619rem;
  }
}
.texture,
.pattern {
  background-position: top center;
}
.texture {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20width%3D'34'%20height%3D'17'%20viewBox%3D'0%200%203.175%201.588'%3E%3Cg%20fill%3D'%23fef1fb'%20fill-opacity%3D'0.16'%3E%3Ccircle%20cx%3D'.397'%20cy%3D'.397'%20r%3D'.397'/%3E%3Ccircle%20r%3D'.397'%20cy%3D'.397'%20cx%3D'1.191'/%3E%3Ccircle%20r%3D'.397'%20cy%3D'.397'%20cx%3D'1.984'/%3E%3Ccircle%20cx%3D'2.778'%20cy%3D'.397'%20r%3D'.397'/%3E%3Ccircle%20r%3D'.397'%20cy%3D'1.191'/%3E%3Ccircle%20cx%3D'.794'%20cy%3D'1.191'%20r%3D'.397'/%3E%3Ccircle%20cx%3D'1.587'%20cy%3D'1.191'%20r%3D'.397'/%3E%3Ccircle%20r%3D'.397'%20cy%3D'1.191'%20cx%3D'2.381'/%3E%3Ccircle%20cx%3D'3.175'%20cy%3D'1.191'%20r%3D'.397'/%3E%3C/g%3E%3C/svg%3E");
}
.pattern {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20width%3D'80'%20height%3D'50'%20viewBox%3D'0%200%2021.167%2013.229'%3E%3Cpath%20fill%3D'%23fef1fb'%20opacity%3D'0.16'%20d%3D'M0%200h21.167v6.615H0z'/%3E%3C/svg%3E");
}
.placeholder::before {
  content: " ";
  white-space: pre;
}
.placeholder::after {
  content: "";
}
.placeholder.image,
.placeholder.video,
.placeholder.avatar {
  position: relative;
}
.placeholder.image::before,
.placeholder.video::before,
.placeholder.avatar::before {
  position: absolute;
  top: calc(50% - 4rem);
  right: 0;
  bottom: 0;
  left: 0;
  display: inline-block;
  text-align: center;
  font-size: 4rem;
  vertical-align: middle;
}
.placeholder.image.small::before,
.placeholder.video.small::before,
.placeholder.avatar.small::before {
  top: calc(50% - 2rem);
  font-size: 2rem;
}
.placeholder.image.big::before,
.placeholder.video.big::before,
.placeholder.avatar.big::before {
  top: calc(50% - 6rem);
  font-size: 6rem;
}
.placeholder.image.huge::before,
.placeholder.video.huge::before,
.placeholder.avatar.huge::before {
  top: calc(50% - 8rem);
  font-size: 8rem;
}
.placeholder.image::after,
.placeholder.video::after,
.placeholder.avatar::after {
  display: block;
}
.placeholder.image::before {
  content: "\1f5bc";
}
.placeholder.image::after {
  padding-top: 75%;
}
.placeholder.video::before {
  content: "\25B6";
}
.placeholder.video::after {
  padding-top: 56.25%;
}
.placeholder.avatar::before {
  content: "\263A";
}
.placeholder.avatar::after {
  padding-top: 100%;
}
.placeholder.no-icon::before {
  content: "";
}
.hide {
  display: none;
}
.hide.tablet {
  display: initial;
}
.hide.desktop {
  display: initial;
}
@media screen and (max-width: calc(49.24rem - 1px)) {
  .hide.mobile {
    display: none;
  }
}
@media screen and (min-width: 49.24rem) {
  .hide.mobile {
    display: initial;
  }
  .hide.tablet {
    display: none;
  }
}
@media screen and (min-width: 74rem) {
  .hide.desktop {
    display: none;
  }
  .hide.mobile.tablet {
    display: initial;
  }
}
@media screen and (max-width: calc(74rem - 1px)) {
  .hide.mobile.tablet {
    display: none;
  }
}
body {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
  font-size: 17px;
  line-height: 1.8;
  margin: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
nav {
  z-index: 99;
}
nav a {
  text-decoration: none;
}
aside {
  margin: 0 auto;
  margin-bottom: 1.62rem;
  max-width: 28rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
  font-weight: bold;
  margin-top: 0.49443758em;
  margin-bottom: 0.74165637em;
  letter-spacing: -0.025em;
  color: inherit;
  line-height: 1.618;
}
h1 {
  font-size: 2.4em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1em;
}
p {
  margin-bottom: 1em;
}
p.gutter-bottom {
  margin-bottom: 1.618em;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: inherit;
  text-decoration: underline;
}
a.target-blank::after,
a.new-tab::after,
a.external-link::after {
  content: "\00A0\1F855";
}
form {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
  font-size: 17px;
  line-height: 1.8;
  border: 1px solid #a13061;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input:focus {
  box-shadow: 0 0 2px #8ba4df;
}
fieldset {
  border: none;
  outline: none;
}
ol {
  padding-left: 4ch;
  margin-bottom: 1.62rem;
}
ol li {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
ul {
  margin-left: 1.62rem;
  margin-bottom: 1.62rem;
}
li {
  margin-bottom: 0.44em;
}
kbd {
  color: #fef1fb;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  white-space: nowrap;
}
b {
  padding: 0.18em 0 0.22em 0;
}
pre {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
  overflow: hidden;
  border-radius: 0.5em;
  background: #41313a;
  color: #fef1fb;
}
pre.white-space,
pre.word-break {
  white-space: pre-wrap;
}
pre > code {
  background: transparent;
  padding: 0;
}
code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
  color: #fef1fb;
  background-color: #362c59;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
code.terminal::before {
  content: "$ ";
}
textarea {
  font-size: 17px;
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
  line-height: 1.8;
  border: 1px solid #a13061;
  border-radius: 0.5em;
  margin-bottom: 1.62rem;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
textarea:focus {
  box-shadow: 0 0 2px #8ba4df;
}
.white,
body,
input,
textarea {
  background-color: #fef1fb;
  border-color: #8a7986;
}
.black {
  background-color: #27021f;
  border-color: #140110;
}
.ambient {
  color: #fef1fb;
  background: #f60ec3;
  border-color: #86086a;
}
.ambient.light {
  color: #fef1fb;
  background: #f835cd;
  border-color: #861b6f;
}
.ambient.dark {
  color: #fef1fb;
  background: #d408a7;
  border-color: #75045c;
}
.red,
.failure {
  background-color: #e50117;
  border-color: #7e010d;
}
.light.red,
.light.failure {
  background-color: #fe1127;
  border-color: #8a0915;
}
.dark.red,
.dark.failure {
  background-color: #bc0113;
  border-color: #69010b;
}
.orange,
.warning {
  background-color: #f98916;
  border-color: #874a0b;
}
.light.orange,
.light.warning {
  background-color: #fa9d3e;
  border-color: #88541f;
}
.dark.orange,
.dark.warning {
  background-color: #e07506;
  border-color: #7b4003;
}
.yellow {
  background-color: #f2ce16;
  border-color: #84700c;
}
.light.yellow {
  background-color: #f4d63d;
  border-color: #85741f;
}
.dark.yellow {
  background-color: #d4b30c;
  border-color: #746206;
}
.olive {
  background-color: #977217;
  border-color: #55400d;
}
.light.olive {
  background-color: #ba8c1c;
  border-color: #674e0f;
}
.dark.olive {
  background-color: #735711;
  border-color: #43330a;
}
.green,
.success {
  background-color: #277116;
  border-color: #16420d;
}
.light.green,
.light.success {
  background-color: #32931d;
  border-color: #1c5310;
}
.dark.green,
.dark.success {
  background-color: #1b4f10;
  border-color: #103109;
}
.teal {
  background-color: #27728f;
  border-color: #154051;
}
.light.teal {
  background-color: #308baf;
  border-color: #1a4d61;
}
.dark.teal {
  background-color: #1e586f;
  border-color: #113341;
}
.cyan {
  background-color: #3abcf2;
  border-color: #1e6583;
}
.light.cyan {
  background-color: #61c9f4;
  border-color: #316c85;
}
.dark.cyan {
  background-color: #14afef;
  border-color: #0b5f82;
}
.skyblue,
.info {
  background-color: #8ba4df;
  border-color: #485679;
}
.light.skyblue,
.light.info {
  background-color: #abbde8;
  border-color: #58637d;
}
.dark.skyblue,
.dark.info {
  background-color: #6b8bd7;
  border-color: #384974;
}
.blue {
  background-color: #2600f1;
  border-color: #150084;
}
.light.blue {
  background-color: #401cff;
  border-color: #220e8a;
}
.dark.blue {
  background-color: #2000c8;
  border-color: #12006f;
}
.indigo {
  background-color: #67018f;
  border-color: #3c0153;
}
.light.indigo {
  background-color: #8501b8;
  border-color: #4a0167;
}
.dark.indigo {
  background-color: #4a0067;
  border-color: #2d003e;
}
.purple {
  background-color: #980191;
  border-color: #570153;
}
.light.purple {
  background-color: #c102b7;
  border-color: #6b0166;
}
.dark.purple {
  background-color: #70016a;
  border-color: #430140;
}
.violet {
  background-color: #e462e2;
  border-color: #7c337b;
}
.light.violet {
  background-color: #ea85e8;
  border-color: #7f447e;
}
.dark.violet {
  background-color: #de3fdc;
  border-color: #792177;
}
.gray {
  background-color: #8e6682;
  border-color: #4f3647;
}
.light.gray {
  background-color: #a17c96;
  border-color: #584151;
}
.dark.gray {
  background-color: #77556c;
  border-color: #432e3d;
}
.brown {
  background-color: #a24933;
  border-color: #5a281c;
}
.light.brown {
  background-color: #c1573d;
  border-color: #692f21;
}
.dark.brown {
  background-color: #833b29;
  border-color: #4a2117;
}
.magenta {
  background-color: #dc01d7;
  border-color: #790176;
}
.light.magenta {
  background-color: #fe08f9;
  border-color: #8a0487;
}
.dark.magenta {
  background-color: #b301b0;
  border-color: #650163;
}
.lavender {
  background-color: #cbabde;
  border-color: #6c5878;
}
.light.lavender {
  background-color: #ddc8ea;
  border-color: #75677e;
}
.dark.lavender {
  background-color: #b98dd3;
  border-color: #634972;
}
.cream {
  background-color: #ecdbce;
  border-color: #7f7369;
}
.light.cream {
  background-color: #f8f1eb;
  border-color: #847d78;
}
.dark.cream {
  background-color: #e1c5b0;
  border-color: #79685b;
}
.charcoal {
  background-color: #672d3d;
  border-color: #3c1923;
}
.light.charcoal {
  background-color: #84394e;
  border-color: #4a1f2b;
}
.dark.charcoal {
  background-color: #4b202c;
  border-color: #2e131a;
}
.crimson {
  background-color: #b30926;
  border-color: #640515;
}
.light.crimson {
  background-color: #d90b2f;
  border-color: #77061a;
}
.dark.crimson {
  background-color: #8c071e;
  border-color: #500411;
}
.clover {
  background-color: #5a9029;
  border-color: #325117;
}
.light.clover {
  background-color: #6daf32;
  border-color: #3c611b;
}
.dark.clover {
  background-color: #467020;
  border-color: #284112;
}
.cobalt {
  background-color: #346bce;
  border-color: #1c3a70;
}
.light.cobalt {
  background-color: #5583d6;
  border-color: #2c4674;
}
.dark.cobalt {
  background-color: #2a5aaf;
  border-color: #173261;
}
.graphite {
  background-color: #362c59;
  border-color: #1f1935;
}
.light.graphite {
  background-color: #463974;
  border-color: #272042;
}
.dark.graphite {
  background-color: #251e3e;
  border-color: #171227;
}
.ruby {
  background-color: #b70048;
  border-color: #670029;
}
.light.ruby {
  background-color: #e00159;
  border-color: #7b0031;
}
.dark.ruby {
  background-color: #8f0038;
  border-color: #520021;
}
.onyx {
  background-color: #41313a;
  border-color: #281c23;
}
.light.onyx {
  background-color: #58424f;
  border-color: #33252d;
}
.dark.onyx {
  background-color: #291f25;
  border-color: #1c1318;
}
.pewter {
  background-color: #a39189;
  border-color: #594e48;
}
.light.pewter {
  background-color: #b5a79f;
  border-color: #625854;
}
.dark.pewter {
  background-color: #917c72;
  border-color: #50433d;
}
.gunmetal {
  background-color: #5b4873;
  border-color: #332741;
}
.light.gunmetal {
  background-color: #6f588c;
  border-color: #3d2f4e;
}
.dark.gunmetal {
  background-color: #47385a;
  border-color: #292035;
}
.hotpink {
  background-color: #ea4fa2;
  border-color: #7f2857;
}
.light.hotpink {
  background-color: #ee73b5;
  border-color: #813b61;
}
.dark.hotpink {
  background-color: #e52a8f;
  border-color: #7d164d;
}
.neongreen {
  background-color: #41d81a;
  border-color: #23760e;
}
.light.neongreen {
  background-color: #59e635;
  border-color: #307d1c;
}
.dark.neongreen {
  background-color: #36b416;
  border-color: #1e640c;
}
.electricblue {
  background-color: #3fa5d9;
  border-color: #215976;
}
.light.electricblue {
  background-color: #61b5e0;
  border-color: #32617a;
}
.dark.electricblue {
  background-color: #2792c8;
  border-color: #15506e;
}
.royalpurple {
  background-color: #6a2b93;
  border-color: #3b1753;
}
.light.royalpurple {
  background-color: #8034b3;
  border-color: #461c63;
}
.dark.royalpurple {
  background-color: #532174;
  border-color: #301343;
}
.lemon {
  background-color: #f8e594;
  border-color: #867b4a;
}
.light.lemon {
  background-color: #faeeba;
  border-color: #88805e;
}
.dark.lemon {
  background-color: #f5dc6d;
  border-color: #857737;
}
.lime {
  background-color: #a1c490;
  border-color: #556a4b;
}
.light.lime {
  background-color: #b8d2ab;
  border-color: #607159;
}
.dark.lime {
  background-color: #8ab676;
  border-color: #4a633e;
}
.tangerine {
  background-color: #f19856;
  border-color: #83512c;
}
.light.tangerine {
  background-color: #f4af7c;
  border-color: #845d3f;
}
.dark.tangerine {
  background-color: #ee8231;
  border-color: #814619;
}
.grapefruit {
  background-color: #d22755;
  border-color: #73152e;
}
.light.grapefruit {
  background-color: #dd456e;
  border-color: #78243b;
}
.dark.grapefruit {
  background-color: #af2147;
  border-color: #611227;
}
.action,
.base-color {
  color: #fef1fb;
  background: #c71783;
  border-color: #6e0d48;
}
.action.light,
.base-color.light {
  color: #fef1fb;
  background: #e5219a;
  border-color: #7d1253;
}
.action.dark,
.base-color.dark {
  color: #fef1fb;
  background: #a2136b;
  border-color: #5b0a3c;
}
.reaction {
  background-color: #33724d;
  border-color: #1c412c;
}
.light.reaction {
  background-color: #408e60;
  border-color: #234f35;
}
.dark.reaction {
  background-color: #26553a;
  border-color: #163322;
}
.default {
  background-color: #a13061;
  border-color: #591a36;
}
.light.default {
  background-color: #c03975;
  border-color: #691f3f;
}
.dark.default {
  background-color: #81264e;
  border-color: #4a152c;
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-margin-right {
  margin-right: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.no-margin-left {
  margin-left: 0 !important;
}
.no-padding {
  padding: 0;
}
.no-margin,
.no-gutter {
  margin: 0;
}
.no-side-margin,
.no-side-margins {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.no-margins {
  margin: 0 !important;
}
.no-margins * {
  margin: 0 !important;
}
.no-box-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  box-shadow: unset;
}
.no-text-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  text-shadow: unset;
}
.no-border,
.no-borders,
.no-borders * {
  border-width: 0 !important;
}
.no-background {
  background: transparent;
}
.no-text-indent {
  text-indent: 0;
}
.no-text-align {
  text-align: initial;
}
.no-user-select {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.no-pointer-events {
  pointer-events: none;
}
.no-list-style {
  list-style-type: none;
  margin-left: 0;
}
.no-grid-gap,
.no-column-gap {
  grid-gap: 0;
  column-gap: 0;
}
@media print {
  html {
    font-size: 62.5%;
  }
  * {
    box-shadow: unset !important;
    border: unset !important;
  }
  nav {
    display: none !important;
  }
  .page-width,
  .text-width,
  .container {
    all: unset;
  }
  .inner-page-width,
  .inner-text-width,
  .inner-aside-width {
    all: unset;
  }
}
