/* This project uses Cavepaint! (MIT License) */
/* https://github.com/cavepaint/cavepaintCSS */
* {
  margin: 0 0 1.62rem 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}
.button,
button {
  border-style: solid;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(14, 28, 38, 0.16);
  display: inline;
  position: relative;
  font-family: inherit;
  font-size: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  color: inherit;
  background-color: inherit;
  border-color: #654224;
  border-width: 1px;
  line-height: 1.6;
  text-align: center;
  vertical-align: middle;
  outline: none;
  white-space: nowrap;
  text-decoration: none;
  touch-action: manipulation;
  cursor: pointer;
  transform: scale(1);
  transition: 0.08s linear;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.button:active,
button:active {
  transform: scale(0.99);
  box-shadow: unset;
}
.bar {
  position: relative;
  width: 100%;
  display: block;
  vertical-align: middle;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.bar > * {
  display: inline;
  margin-right: 0.3236em;
  margin-left: 0.3236em;
  margin-bottom: 0;
}
.card {
  position: relative;
  overflow: hidden;
  padding: 1.62rem;
  border: 1px solid #a16939;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(14, 28, 38, 0.16);
}
.card > *:first-child {
  margin-top: 0;
}
.card > *:last-child {
  margin-bottom: 0;
}
.badge {
  border-radius: 0.5em;
  line-height: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  padding-right: 0.6472em;
  padding-left: 0.6472em;
  vertical-align: middle;
  border-radius: 99px;
  white-space: nowrap;
}
.modal {
  display: none;
  max-width: none;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  position: fixed;
  bottom: 0;
  justify-content: center;
  flex: 0 1 auto;
  flex-direction: column;
  height: 100vh;
}
.modal > * {
  flex-direction: column;
  color: #26180e;
  position: relative;
  background: #fef9f5;
  padding: 1.62rem;
  margin-bottom: 3.24rem;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(14, 28, 38, 0.16);
  margin: 1.62rem;
}
@media screen and (min-width: 40.24rem) {
  .modal > * {
    max-width: 59rem;
    margin: 0 auto;
  }
}
.overlay {
  margin: 0;
  padding: 0;
  position: relative;
}
.overlay .top,
.overlay .bottom,
.overlay .left,
.overlay .right {
  position: absolute;
}
.overlay .top {
  top: 0.3236em;
}
.overlay .bottom {
  bottom: 0.3236em;
}
.overlay .left {
  left: 0.3236em;
}
.overlay .right {
  right: 0.3236em;
}
.overlay.stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.overlay * {
  margin: 0;
  display: block;
}
.grid,
.two-column,
.three-column {
  display: grid;
  grid-gap: 1.62rem;
}
.grid.tablet,
.two-column.tablet,
.three-column.tablet,
.grid.mobile.tablet,
.two-column.mobile.tablet,
.three-column.mobile.tablet,
.grid.desktop,
.two-column.desktop,
.three-column.desktop {
  display: initial;
}
.grid {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.two-column {
  grid-template-columns: 1fr 1fr;
}
.two-column.golden {
  grid-template-columns: 1.618fr 1fr;
}
.two-column.golden.reverse {
  grid-template-columns: 1fr 1.618fr;
}
.three-column {
  grid-template-columns: 1fr 1fr 1fr;
}
.three-column.golden {
  grid-template-columns: 1fr 1.618fr 1fr;
}
.three-column.golden.leading {
  grid-template-columns: 1.618fr 1fr 1fr;
}
.three-column.golden.trailing {
  grid-template-columns: 1fr 1fr 1.618fr;
}
.grid .grid-width-one {
  grid-column: auto / span 1;
}
.grid .grid-width-two {
  grid-column: auto / span 2;
}
.grid .grid-width-three {
  grid-column: auto / span 3;
}
.grid .grid-width-four {
  grid-column: auto / span 4;
}
.grid .grid-width-five {
  grid-column: auto / span 5;
}
.grid .grid-width-six {
  grid-column: auto / span 6;
}
.grid .grid-width-seven {
  grid-column: auto / span 7;
}
.grid .grid-width-eight {
  grid-column: auto / span 8;
}
.grid .grid-width-nine {
  grid-column: auto / span 9;
}
.grid .grid-width-ten {
  grid-column: auto / span 10;
}
.grid .grid-width-eleven {
  grid-column: auto / span 11;
}
.grid .grid-width-twelve {
  grid-column: auto / span 12;
}
@media screen and (max-width: calc(40.24rem - 1px)) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: grid;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 40.24rem) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: initial;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: initial;
  }
  .grid.tablet,
  .two-column.tablet,
  .three-column.tablet {
    display: grid;
  }
  .grid.tablet > *,
  .two-column.tablet > *,
  .three-column.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (max-width: calc(59rem - 1px)) {
  .grid.mobile.tablet,
  .two-column.mobile.tablet,
  .three-column.mobile.tablet {
    display: grid;
  }
  .grid.mobile.tablet > *,
  .two-column.mobile.tablet > *,
  .three-column.mobile.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 59rem) {
  .grid.desktop,
  .two-column.desktop,
  .three-column.desktop {
    display: grid;
  }
  .grid.desktop > *,
  .two-column.desktop > *,
  .three-column.desktop > * {
    margin-bottom: 0;
  }
}
.responsive {
  column-gap: 0.619rem;
  grid-gap: 0.619rem;
}
.responsive.padding,
.modal,
.container {
  padding: 0.619rem;
}
.responsive.margin,
.container {
  margin: 0.619rem;
}
.responsive.gutter {
  margin: 1.238rem;
}
@media screen and (min-width: 40.24rem) {
  .responsive {
    column-gap: 1.001rem;
    grid-gap: 1.001rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.001rem;
  }
  .responsive.margin,
  .container {
    margin: 1.001rem;
  }
  .responsive.gutter {
    margin: 2.002rem;
  }
}
@media screen and (min-width: 59rem) {
  .responsive {
    column-gap: 1.62rem;
    grid-gap: 1.62rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.62rem;
  }
  .responsive.margin,
  .container {
    margin: 1.62rem;
  }
  .responsive.gutter {
    margin: 3.24rem;
  }
}
.background {
  background: #fef9f5;
}
.background-color {
  background-color: #fef9f5;
}
.border {
  border: 1px solid #a16939;
}
.border-radius,
.rounded {
  border-radius: 0.5em;
}
.border-bottom {
  border-bottom: 1px solid #a16939;
}
.border-left {
  border-left: 1px solid #a16939;
}
.border-right {
  border-right: 1px solid #a16939;
}
.border-style,
.button.border,
button.border {
  border-style: solid;
}
.border-top {
  border-top: 1px solid #a16939;
}
.border-width,
.button.border,
button.border {
  border-width: 1px;
}
.max-width {
  max-width: 59rem;
}
.min-width {
  min-width: 22rem;
}
.align-content {
  align-content: stretch;
}
.align-items {
  align-items: stretch;
}
.align-self {
  align-self: auto;
}
.flex,
.vertical-center,
.center-vertical {
  flex: 0 1 auto;
}
.flex-basis {
  flex-basis: auto;
}
.flex-direction,
.vertical-center,
.center-vertical {
  flex-direction: column;
}
.flex-flow {
  flex-flow: column nowrap;
}
.flex-grow {
  flex-grow: 0;
}
.flex-shrink {
  flex-shrink: 1;
}
.flex-wrap {
  flex-wrap: nowrap;
}
.justify-content,
.vertical-center,
.center-vertical {
  justify-content: center;
}
.font-family {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.font-size {
  font-size: 20px;
}
.font-weight {
  font-weight: normal;
}
.list-style {
  list-style: disc inside none;
}
.list-style-type {
  list-style-type: disc;
}
.margin {
  margin: 1.62rem;
}
.margin-bottom {
  margin-bottom: 1.62rem;
}
.margin-left {
  margin-left: 1.62rem;
}
.margin-right {
  margin-right: 1.62rem;
}
.margin-top {
  margin-top: 1.62rem;
}
.column-gap {
  column-gap: 1.94em;
}
.column-rule {
  column-rule: 1px solid #a16939;
}
.padding {
  padding: 1.62rem;
}
.padding-bottom {
  padding-bottom: 1.62rem;
}
.padding-left {
  padding-left: 1.62rem;
}
.padding-right {
  padding-right: 1.62rem;
}
.padding-top {
  padding-top: 1.62rem;
}
.text-align {
  text-align: left;
}
.text-align-last {
  text-align-last: left;
}
.text-indent {
  text-indent: 2ch;
}
.text-justify {
  text-justify: justify;
}
.text-overflow {
  text-overflow: hidden;
}
.text-shadow {
  text-shadow: 1.41px 1.41px 1.41px rgba(14, 28, 38, 0.16);
}
.line-height {
  line-height: 1.8;
}
.vertical-align {
  vertical-align: middle;
}
.letter-spacing {
  letter-spacing: 0;
}
.word-spacing {
  word-spacing: normal;
}
.white-space {
  white-space: nowrap;
}
.word-break {
  word-break: break-all;
}
.word-wrap {
  word-wrap: break-word;
}
.transform {
  transform: none;
}
.transition {
  transition: all 0s ease 0s;
}
.display {
  display: block;
}
.position {
  position: absolute;
}
.top {
  top: 0;
}
.right {
  right: 0;
}
.bottom {
  bottom: 0;
}
.left {
  left: 0;
}
.float {
  float: left;
}
.clear {
  clear: both;
}
.z-index {
  z-index: 10;
}
.overflow {
  overflow: hidden;
}
.overflow-x {
  overflow-x: hidden;
}
.cursor {
  cursor: pointer;
}
.box-shadow {
  box-shadow: 1.41px 1.41px 1.41px rgba(14, 28, 38, 0.16);
}
.gutter {
  margin: 3.24rem;
}
.gutter-top {
  margin-top: 3.24rem;
}
.gutter-right {
  margin-right: 3.24rem;
}
.gutter-bottom {
  margin-bottom: 3.24rem;
}
.gutter-left {
  margin-left: 3.24rem;
}
.text-padding {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-padding-top {
  padding-top: 0.18em;
}
.text-padding-right {
  padding-right: 0.3236em;
}
.text-padding-bottom {
  padding-bottom: 0.22em;
}
.text-padding-left {
  padding-left: 0.3236em;
}
.text-margin {
  margin: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-margin-top {
  margin-top: 0.18em;
}
.text-margin-right {
  margin-right: 0.3236em;
}
.text-margin-bottom {
  margin-bottom: 0.22em;
}
.text-margin-left {
  margin-left: 0.3236em;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.initial {
  display: initial;
}
.table {
  display: table;
}
.flex,
.vertical-center,
.center-vertical {
  display: flex;
}
.inline-block {
  display: inline-block;
}
.static {
  position: static;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.margin-auto,
.container {
  margin-left: auto;
  margin-right: auto;
}
.width-auto {
  width: auto;
}
.inset {
  box-shadow: inset 1.41px 1.41px 1.41px rgba(14, 28, 38, 0.16);
}
.viewport-height {
  height: 100vh;
}
.min-viewport-height {
  min-height: 100vh;
}
.overflow-hidden {
  overflow: hidden;
}
.dashed {
  border-style: dashed;
}
.dotted {
  border-style: dotted;
}
.thick {
  border-width: 2px;
}
.thin {
  border-width: 0.5px;
}
.current-color {
  border-color: currentColor;
}
.fade {
  opacity: 0.65;
}
.serif,
.font-family-serif {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "Droid Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
.monospace,
.font-family-monospace {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
}
.sans-serif,
.font-family-sans-serif {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.text-transparent {
  color: transparent;
}
.reset {
  all: initial;
}
.big {
  font-size: 125%;
  line-height: 2.25;
}
.big.font-size {
  font-size: 25px;
}
.small,
.badge {
  font-size: 87.5%;
  line-height: 1.575;
}
.small.font-size {
  font-size: 17.5px;
}
.huge {
  font-size: 160%;
}
.huge.font-size {
  font-size: 32px;
}
.text-trim {
  line-height: 1;
}
.text-align-center,
.text-center {
  text-align: center;
}
.text-align-left,
.text-left {
  text-align: left;
}
.text-align-right,
.text-right {
  text-align: right;
}
.text-align-justify,
.text-justify {
  text-align: justify;
}
.grid-gap-margin {
  grid-gap: 1.62rem;
}
.grid-gap-border-width {
  grid-gap: 1px;
}
.grid-gap-text-padding,
.grid-gap-text-margin {
  grid-gap: 0.3236em;
}
.shade,
.white,
.orange,
.yellow,
.light.olive,
.light.green,
.light.teal,
.cyan,
.skyblue,
.violet,
.light.gray,
.lavender,
.cream,
.clover,
.pewter,
.light.hotpink,
.neongreen,
.electricblue,
.lemon,
.lime,
.tangerine,
body,
input,
textarea,
.info,
.warning,
.light.success {
  color: #26180e;
}
.tint,
.black,
.red,
.olive,
.green,
.teal,
.blue,
.indigo,
.purple,
.dark.violet,
.gray,
.brown,
.magenta,
.charcoal,
.crimson,
.dark.clover,
.cobalt,
.graphite,
.ruby,
.onyx,
.dark.pewter,
.gunmetal,
.hotpink,
.royalpurple,
.grapefruit,
.reaction,
.default,
.success,
.failure {
  color: #fef9f5;
}
.transparent {
  background-color: transparent;
  color: inherit;
  border-color: inherit;
}
.transparent.light {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23FFF%22%20fill-opacity%3D%220.16%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.transparent.dark,
.modal {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23000%22%20fill-opacity%3D%220.25%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.trim,
.trim-inner *,
.trim-all,
.trim-all * {
  margin-bottom: 0;
}
.hidden {
  display: none !important;
}
.clearfix,
.clear {
  clear: both;
}
.clearfix::after,
.clear::after {
  display: block;
  clear: both;
  content: "";
}
.golden-width {
  max-width: calc(62% - 3.24rem);
}
.golden-width.reverse {
  max-width: 38%;
}
.aside-width {
  max-width: 22rem;
}
@media screen and (min-width: 40.24rem) {
  .text-width {
    max-width: 37rem;
  }
}
.page-width,
.container {
  max-width: 59rem;
}
.full-width,
.aside-width .aside-width,
.text-width .text-width,
.page-width .page-width {
  display: block;
  width: 100%;
}
.inner-aside-width {
  padding-left: calc(50% - 11rem);
  padding-right: calc(50% - 11rem);
}
.inner-aside-width.padding {
  padding-left: calc(50% - 9.38rem);
  padding-right: calc(50% - 9.38rem);
}
.inner-aside-width.responsive.padding {
  padding-left: calc(50% - 10.38rem);
  padding-right: calc(50% - 10.38rem);
}
.inner-text-width {
  padding-left: calc(50% - 18.5rem);
  padding-right: calc(50% - 18.5rem);
}
.inner-text-width.padding {
  padding-left: calc(50% - 16.88rem);
  padding-right: calc(50% - 16.88rem);
}
.inner-text-width.responsive.padding {
  padding-left: calc(50% - 17.88rem);
  padding-right: calc(50% - 17.88rem);
}
.inner-page-width {
  padding-left: calc(50% - 29.5rem);
  padding-right: calc(50% - 29.5rem);
}
.inner-page-width.padding {
  padding-left: calc(50% - 27.88rem);
  padding-right: calc(50% - 27.88rem);
}
.inner-page-width.responsive.padding {
  padding-left: calc(50% - 28.88rem);
  padding-right: calc(50% - 28.88rem);
}
@media screen and (max-width: calc(40.24rem - 1px)) {
  .inner-text-width {
    padding-left: initial;
    padding-right: initial;
  }
  .inner-text-width.padding {
    padding-left: 1.62rem;
    padding-right: 1.62rem;
  }
  .inner-text-width.responsive.padding {
    padding-left: 0.619rem;
    padding-right: 0.619rem;
  }
}
@media screen and (min-width: 40.24rem) {
  .inner-aside-width.tablet.padding {
    padding-left: calc(50% - 9.38rem);
    padding-right: calc(50% - 9.38rem);
  }
  .inner-aside-width.tablet.responsive.padding {
    padding-left: calc(50% - 10rem);
    padding-right: calc(50% - 10rem);
  }
  .inner-text-width.tablet.padding {
    padding-left: calc(50% - 16.88rem);
    padding-right: calc(50% - 16.88rem);
  }
  .inner-text-width.tablet.responsive.padding {
    padding-left: calc(50% - 17.5rem);
    padding-right: calc(50% - 17.5rem);
  }
  .inner-page-width.tablet.padding {
    padding-left: calc(50% - 27.88rem);
    padding-right: calc(50% - 27.88rem);
  }
  .inner-page-width.tablet.responsive.padding {
    padding-left: calc(50% - 28.5rem);
    padding-right: calc(50% - 28.5rem);
  }
}
@media screen and (min-width: 59rem) {
  .inner-aside-width.desktop.padding {
    padding-left: calc(50% - 9.38rem);
    padding-right: calc(50% - 9.38rem);
  }
  .inner-aside-width.desktop.responsive.padding {
    padding-left: calc(50% - 9.38rem);
    padding-right: calc(50% - 9.38rem);
  }
  .inner-text-width.desktop.padding {
    padding-left: calc(50% - 16.88rem);
    padding-right: calc(50% - 16.88rem);
  }
  .inner-text-width.desktop.responsive.padding {
    padding-left: calc(50% - 16.88rem);
    padding-right: calc(50% - 16.88rem);
  }
  .inner-page-width.desktop.padding {
    padding-left: calc(50% - 27.88rem);
    padding-right: calc(50% - 27.88rem);
  }
  .inner-page-width.desktop.responsive.padding {
    padding-left: calc(50% - 27.88rem);
    padding-right: calc(50% - 27.88rem);
  }
}
@media screen and (max-width: calc(59rem - 1px)) {
  .inner-page-width {
    padding-left: initial;
    padding-right: initial;
  }
  .inner-page-width.padding {
    padding-left: 1.62rem;
    padding-right: 1.62rem;
  }
  .inner-page-width.responsive.padding {
    padding-left: 0.619rem;
    padding-right: 0.619rem;
  }
}
.texture,
.pattern {
  background-position: top center;
}
.texture {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20viewBox%3D'0%200%203.175%201.588'%20height%3D'20'%20width%3D'40'%3E%3Cg%20fill%3D'%23fef9f5'%20fill-opacity%3D'0.16'%3E%3Cpath%20d%3D'M1.317%201.194h-.92l.23-.399.23-.398.23.398zM2.312%201.194l-.23-.399-.23-.398h.92l-.23.398z'/%3E%3C/g%3E%3C/svg%3E");
}
.pattern {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20width%3D'80'%20height%3D'50'%20viewBox%3D'0%200%2021.167%2013.229'%3E%3Cpath%20opacity%3D'0.16'%20fill%3D'%23fef9f5'%20d%3D'M0%200h10.583v13.229H0z'/%3E%3C/svg%3E");
}
.placeholder::before {
  content: " ";
  white-space: pre;
}
.placeholder::after {
  content: "";
}
.placeholder.image,
.placeholder.video,
.placeholder.avatar {
  position: relative;
}
.placeholder.image::before,
.placeholder.video::before,
.placeholder.avatar::before {
  position: absolute;
  top: calc(50% - 4rem);
  right: 0;
  bottom: 0;
  left: 0;
  display: inline-block;
  text-align: center;
  font-size: 4rem;
  vertical-align: middle;
}
.placeholder.image.small::before,
.placeholder.video.small::before,
.placeholder.avatar.small::before {
  top: calc(50% - 2rem);
  font-size: 2rem;
}
.placeholder.image.big::before,
.placeholder.video.big::before,
.placeholder.avatar.big::before {
  top: calc(50% - 6rem);
  font-size: 6rem;
}
.placeholder.image.huge::before,
.placeholder.video.huge::before,
.placeholder.avatar.huge::before {
  top: calc(50% - 8rem);
  font-size: 8rem;
}
.placeholder.image::after,
.placeholder.video::after,
.placeholder.avatar::after {
  display: block;
}
.placeholder.image::before {
  content: "\1f5bc";
}
.placeholder.image::after {
  padding-top: 75%;
}
.placeholder.video::before {
  content: "\25B6";
}
.placeholder.video::after {
  padding-top: 56.25%;
}
.placeholder.avatar::before {
  content: "\263A";
}
.placeholder.avatar::after {
  padding-top: 100%;
}
.placeholder.no-icon::before {
  content: "";
}
.hide {
  display: none;
}
.hide.tablet {
  display: initial;
}
.hide.desktop {
  display: initial;
}
@media screen and (max-width: calc(40.24rem - 1px)) {
  .hide.mobile {
    display: none;
  }
}
@media screen and (min-width: 40.24rem) {
  .hide.mobile {
    display: initial;
  }
  .hide.tablet {
    display: none;
  }
}
@media screen and (min-width: 59rem) {
  .hide.desktop {
    display: none;
  }
  .hide.mobile.tablet {
    display: initial;
  }
}
@media screen and (max-width: calc(59rem - 1px)) {
  .hide.mobile.tablet {
    display: none;
  }
}
body {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
  font-size: 20px;
  line-height: 1.8;
  margin: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
nav {
  z-index: 99;
}
nav a {
  text-decoration: none;
}
aside {
  margin: 0 auto;
  margin-bottom: 1.62rem;
  max-width: 22rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
  font-weight: bold;
  margin-top: 0.49443758em;
  margin-bottom: 0.74165637em;
  letter-spacing: -0.025em;
  color: inherit;
  line-height: 1.618;
}
h1 {
  font-size: 2.4em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1em;
}
p {
  margin-bottom: 1em;
}
p.gutter-bottom {
  margin-bottom: 1.618em;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: inherit;
  text-decoration: underline;
}
a.target-blank::after,
a.new-tab::after,
a.external-link::after {
  content: "\00A0\1F855";
}
form {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
  font-size: 20px;
  line-height: 1.8;
  border: 1px solid #a16939;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input:focus {
  box-shadow: 0 0 2px #8bc2d3;
}
fieldset {
  border: none;
  outline: none;
}
ol {
  padding-left: 4ch;
  margin-bottom: 1.62rem;
}
ol li {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
ul {
  margin-left: 1.62rem;
  margin-bottom: 1.62rem;
}
li {
  margin-bottom: 0.44em;
}
kbd {
  color: #fef9f5;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  white-space: nowrap;
}
b {
  padding: 0.18em 0 0.22em 0;
}
pre {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
  overflow: hidden;
  border-radius: 0.5em;
  background: #403734;
  color: #fef9f5;
}
pre.white-space,
pre.word-break {
  white-space: pre-wrap;
}
pre > code {
  background: transparent;
  padding: 0;
}
code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
  color: #fef9f5;
  background-color: #363352;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
code.terminal::before {
  content: "$ ";
}
textarea {
  font-size: 20px;
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
  line-height: 1.8;
  border: 1px solid #a16939;
  border-radius: 0.5em;
  margin-bottom: 1.62rem;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
textarea:focus {
  box-shadow: 0 0 2px #8bc2d3;
}
.white,
body,
input,
textarea {
  background-color: #fef9f5;
  border-color: #8b827d;
}
.black {
  background-color: #26180e;
  border-color: #130c07;
}
.ambient {
  color: #26180e;
  background: #ed9458;
  border-color: #83502e;
}
.ambient.light {
  color: #26180e;
  background: #f1ac7d;
  border-color: #855c41;
}
.ambient.dark {
  color: #26180e;
  background: #e97c33;
  border-color: #81441c;
}
.red,
.failure {
  background-color: #e90a03;
  border-color: #820603;
}
.light.red,
.light.failure {
  background-color: #fc1f19;
  border-color: #8b110d;
}
.dark.red,
.dark.failure {
  background-color: #c00803;
  border-color: #6d0502;
}
.orange,
.warning {
  background-color: #f9a401;
  border-color: #8a5b01;
}
.light.orange,
.light.warning {
  background-color: #feb325;
  border-color: #8d6313;
}
.dark.orange,
.dark.warning {
  background-color: #d18901;
  border-color: #764e01;
}
.yellow {
  background-color: #f4f202;
  border-color: #878602;
}
.light.yellow {
  background-color: #fefc21;
  border-color: #8c8b11;
}
.dark.yellow {
  background-color: #cbca01;
  border-color: #737202;
}
.olive {
  background-color: #998c03;
  border-color: #5a5203;
}
.light.olive {
  background-color: #c1b104;
  border-color: #6e6503;
}
.dark.olive {
  background-color: #716802;
  border-color: #464002;
}
.green,
.success {
  background-color: #258a02;
  border-color: #175202;
}
.light.green,
.light.success {
  background-color: #30b203;
  border-color: #1c6603;
}
.dark.green,
.dark.success {
  background-color: #1a6202;
  border-color: #113e02;
}
.teal {
  background-color: #268c82;
  border-color: #16514c;
}
.light.teal {
  background-color: #2faca0;
  border-color: #1b615b;
}
.dark.teal {
  background-color: #1d6c65;
  border-color: #12413d;
}
.cyan {
  background-color: #37f3e0;
  border-color: #1d867c;
}
.light.cyan {
  background-color: #5df5e6;
  border-color: #30877f;
}
.dark.cyan {
  background-color: #11f0da;
  border-color: #0a8579;
}
.skyblue,
.info {
  background-color: #8bc2d3;
  border-color: #496a74;
}
.light.skyblue,
.light.info {
  background-color: #a9d2de;
  border-color: #58727a;
}
.dark.skyblue,
.dark.info {
  background-color: #6db3c8;
  border-color: #3b626f;
}
.blue {
  background-color: #2508e6;
  border-color: #150580;
}
.light.blue {
  background-color: #3c20f7;
  border-color: #211189;
}
.dark.blue {
  background-color: #1e07bf;
  border-color: #12056c;
}
.indigo {
  background-color: #680982;
  border-color: #3e064e;
}
.light.indigo {
  background-color: #870ca8;
  border-color: #4e0761;
}
.dark.indigo {
  background-color: #49065c;
  border-color: #2f053b;
}
.purple {
  background-color: #9d0b87;
  border-color: #5b074e;
}
.light.purple {
  background-color: #c30ea7;
  border-color: #6e095f;
}
.dark.purple {
  background-color: #770966;
  border-color: #48063e;
}
.violet {
  background-color: #e577d6;
  border-color: #7e3e76;
}
.light.violet {
  background-color: #ec9ae0;
  border-color: #82507b;
}
.dark.violet {
  background-color: #df55cc;
  border-color: #7b2d70;
}
.gray {
  background-color: #8e7c73;
  border-color: #4f453f;
}
.light.gray {
  background-color: #a0918a;
  border-color: #594f4b;
}
.dark.gray {
  background-color: #776961;
  border-color: #443b36;
}
.brown {
  background-color: #a3522b;
  border-color: #5d2f19;
}
.light.brown {
  background-color: #c36334;
  border-color: #6d371d;
}
.dark.brown {
  background-color: #824223;
  border-color: #4c2715;
}
.magenta {
  background-color: #e00fc8;
  border-color: #7d096f;
}
.light.magenta {
  background-color: #f127d9;
  border-color: #851578;
}
.dark.magenta {
  background-color: #ba0ca6;
  border-color: #6a085e;
}
.lavender {
  background-color: #ccbad9;
  border-color: #6e6276;
}
.light.lavender {
  background-color: #dfd4e8;
  border-color: #776f7d;
}
.dark.lavender {
  background-color: #b99fcb;
  border-color: #64546f;
}
.cream {
  background-color: #eeedc8;
  border-color: #828168;
}
.light.cream {
  background-color: #f8f7e7;
  border-color: #878677;
}
.dark.cream {
  background-color: #e4e3a9;
  border-color: #7d7c58;
}
.charcoal {
  background-color: #663b2b;
  border-color: #3d231a;
}
.light.charcoal {
  background-color: #834c37;
  border-color: #4c2c20;
}
.dark.charcoal {
  background-color: #4a2b1f;
  border-color: #2f1b14;
}
.crimson {
  background-color: #b50e1e;
  border-color: #670912;
}
.light.crimson {
  background-color: #da1124;
  border-color: #7a0a15;
}
.dark.crimson {
  background-color: #8f0b18;
  border-color: #54070f;
}
.clover {
  background-color: #59ad16;
  border-color: #33620d;
}
.light.clover {
  background-color: #6cd11b;
  border-color: #3d7510;
}
.dark.clover {
  background-color: #478812;
  border-color: #2a500b;
}
.cobalt {
  background-color: #3577ca;
  border-color: #1e4270;
}
.light.cobalt {
  background-color: #548dd2;
  border-color: #2d4d74;
}
.dark.cobalt {
  background-color: #2c64a9;
  border-color: #193960;
}
.graphite {
  background-color: #363352;
  border-color: #211f32;
}
.light.graphite {
  background-color: #47436b;
  border-color: #29273f;
}
.dark.graphite {
  background-color: #262439;
  border-color: #181726;
}
.ruby {
  background-color: #b80537;
  border-color: #690420;
}
.light.ruby {
  background-color: #e00643;
  border-color: #7d0426;
}
.dark.ruby {
  background-color: #90042b;
  border-color: #55031a;
}
.onyx {
  background-color: #403734;
  border-color: #292220;
}
.light.onyx {
  background-color: #574a46;
  border-color: #342b29;
}
.dark.onyx {
  background-color: #2a2322;
  border-color: #1d1817;
}
.pewter {
  background-color: #a49f85;
  border-color: #5b5848;
}
.light.pewter {
  background-color: #b6b29c;
  border-color: #646154;
}
.dark.pewter {
  background-color: #938d6d;
  border-color: #524f3c;
}
.gunmetal {
  background-color: #5b5b63;
  border-color: #34343a;
}
.light.gunmetal {
  background-color: #6f6e78;
  border-color: #3e3d44;
}
.dark.gunmetal {
  background-color: #48474e;
  border-color: #2a2a2f;
}
.hotpink {
  background-color: #ed589d;
  border-color: #832e55;
}
.light.hotpink {
  background-color: #f17db2;
  border-color: #854060;
}
.dark.hotpink {
  background-color: #e93387;
  border-color: #811c4a;
}
.neongreen {
  background-color: #42ec12;
  border-color: #25830b;
}
.light.neongreen {
  background-color: #5ff037;
  border-color: #34851d;
}
.dark.neongreen {
  background-color: #37c60f;
  border-color: #207009;
}
.electricblue {
  background-color: #40b6d7;
  border-color: #236577;
}
.light.electricblue {
  background-color: #62c3de;
  border-color: #346b7b;
}
.dark.electricblue {
  background-color: #29a3c5;
  border-color: #185b6e;
}
.royalpurple {
  background-color: #6c348f;
  border-color: #3e1e52;
}
.light.royalpurple {
  background-color: #833ead;
  border-color: #492361;
}
.dark.royalpurple {
  background-color: #552971;
  border-color: #331843;
}
.lemon {
  background-color: #f9f78c;
  border-color: #898848;
}
.light.lemon {
  background-color: #fbfab3;
  border-color: #8a895b;
}
.dark.lemon {
  background-color: #f7f465;
  border-color: #888734;
}
.lime {
  background-color: #a1e781;
  border-color: #567f43;
}
.light.lime {
  background-color: #baeea3;
  border-color: #638354;
}
.dark.lime {
  background-color: #87e15e;
  border-color: #497c32;
}
.tangerine {
  background-color: #f3a64e;
  border-color: #865b29;
}
.light.tangerine {
  background-color: #f6b975;
  border-color: #87643c;
}
.dark.tangerine {
  background-color: #f09328;
  border-color: #855116;
}
.grapefruit {
  background-color: #d43544;
  border-color: #751d26;
}
.light.grapefruit {
  background-color: #db5663;
  border-color: #792e35;
}
.dark.grapefruit {
  background-color: #b82735;
  border-color: #68171e;
}
.action,
.base-color {
  color: #fef9f5;
  background: #b46444;
  border-color: #643826;
}
.action.light,
.base-color.light {
  color: #fef9f5;
  background: #c27b5e;
  border-color: #6c4333;
}
.action.dark,
.base-color.dark {
  color: #fef9f5;
  background: #965439;
  border-color: #563020;
}
.reaction {
  background-color: #4c6b77;
  border-color: #2b3e45;
}
.light.reaction {
  background-color: #5c8290;
  border-color: #334951;
}
.dark.reaction {
  background-color: #3c555e;
  border-color: #233238;
}
.default {
  background-color: #a16939;
  border-color: #5b3b21;
}
.light.default {
  background-color: #bd7d46;
  border-color: #694527;
}
.dark.default {
  background-color: #83552f;
  border-color: #4c321b;
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-margin-right {
  margin-right: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.no-margin-left {
  margin-left: 0 !important;
}
.no-padding {
  padding: 0;
}
.no-margin,
.no-gutter {
  margin: 0;
}
.no-side-margin,
.no-side-margins {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.no-margins {
  margin: 0 !important;
}
.no-margins * {
  margin: 0 !important;
}
.no-box-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  box-shadow: unset;
}
.no-text-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  text-shadow: unset;
}
.no-border,
.no-borders,
.no-borders * {
  border-width: 0 !important;
}
.no-background {
  background: transparent;
}
.no-text-indent {
  text-indent: 0;
}
.no-text-align {
  text-align: initial;
}
.no-user-select {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.no-pointer-events {
  pointer-events: none;
}
.no-list-style {
  list-style-type: none;
  margin-left: 0;
}
.no-grid-gap,
.no-column-gap {
  grid-gap: 0;
  column-gap: 0;
}
@media print {
  html {
    font-size: 62.5%;
  }
  * {
    box-shadow: unset !important;
    border: unset !important;
  }
  nav {
    display: none !important;
  }
  .page-width,
  .text-width,
  .container {
    all: unset;
  }
  .inner-page-width,
  .inner-text-width,
  .inner-aside-width {
    all: unset;
  }
}
