/* This project uses Cavepaint (MIT License) by Rex Riepe */
/* https://github.com/cavepaint/cavepaintCSS */
* {
  margin: 0 0 1.62rem 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  margin-bottom: 0;
}
.button,
button {
  border-style: solid;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(38, 14, 13, 0.16);
  display: inline;
  position: relative;
  font-family: inherit;
  font-size: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  color: inherit;
  background-color: inherit;
  border-color: #255458;
  border-width: 1px;
  line-height: 1.6;
  text-align: center;
  vertical-align: middle;
  outline: none;
  white-space: nowrap;
  text-decoration: none;
  touch-action: manipulation;
  cursor: pointer;
  transform: scale(1);
  transition: 0.08s linear;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.button:active,
button:active {
  transform: scale(0.99);
  box-shadow: unset;
}
.bar {
  position: relative;
  width: 100%;
  display: block;
  vertical-align: middle;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.bar > * {
  display: inline;
  margin-right: 0.3236em;
  margin-left: 0.3236em;
  margin-bottom: 0;
}
.card {
  position: relative;
  overflow: hidden;
  padding: 1.62rem;
  border: 1px solid #3e8a91;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(38, 14, 13, 0.16);
}
.card > *:first-child {
  margin-top: 0;
}
.card > *:last-child {
  margin-bottom: 0;
}
.badge {
  border-radius: 0.5em;
  line-height: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  padding-right: 0.6472em;
  padding-left: 0.6472em;
  vertical-align: middle;
  border-radius: 99px;
  white-space: nowrap;
}
.modal {
  display: none;
  max-width: none;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  position: fixed;
  bottom: 0;
  justify-content: center;
  flex: 0 1 auto;
  flex-direction: column;
  height: 100vh;
}
.modal > * {
  flex-direction: column;
  color: #0d2526;
  position: relative;
  background: #f4fdfe;
  padding: 1.62rem;
  margin-bottom: 3.24rem;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(38, 14, 13, 0.16);
  margin: 1.62rem;
}
@media screen and (min-width: 50.24rem) {
  .modal > * {
    max-width: 76rem;
    margin: 0 auto;
  }
}
.overlay {
  margin: 0;
  padding: 0;
  position: relative;
}
.overlay .top,
.overlay .bottom,
.overlay .left,
.overlay .right {
  position: absolute;
}
.overlay .top {
  top: 0.3236em;
}
.overlay .bottom {
  bottom: 0.3236em;
}
.overlay .left {
  left: 0.3236em;
}
.overlay .right {
  right: 0.3236em;
}
.overlay.stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.overlay * {
  margin: 0;
  display: block;
}
.grid,
.two-column,
.three-column {
  display: grid;
  grid-gap: 1.62rem;
}
.grid.tablet,
.two-column.tablet,
.three-column.tablet,
.grid.mobile.tablet,
.two-column.mobile.tablet,
.three-column.mobile.tablet,
.grid.desktop,
.two-column.desktop,
.three-column.desktop {
  display: initial;
}
.grid {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.two-column {
  grid-template-columns: 1fr 1fr;
}
.two-column.golden {
  grid-template-columns: 1.618fr 1fr;
}
.two-column.golden.reverse {
  grid-template-columns: 1fr 1.618fr;
}
.three-column {
  grid-template-columns: 1fr 1fr 1fr;
}
.three-column.golden {
  grid-template-columns: 1fr 1.618fr 1fr;
}
.three-column.golden.leading {
  grid-template-columns: 1.618fr 1fr 1fr;
}
.three-column.golden.trailing {
  grid-template-columns: 1fr 1fr 1.618fr;
}
.grid-width-one {
  grid-column: auto / span 1;
}
.grid-width-two {
  grid-column: auto / span 2;
}
.grid-width-three {
  grid-column: auto / span 3;
}
.grid-width-four {
  grid-column: auto / span 4;
}
.grid-width-five {
  grid-column: auto / span 5;
}
.grid-width-six {
  grid-column: auto / span 6;
}
.grid-width-seven {
  grid-column: auto / span 7;
}
.grid-width-eight {
  grid-column: auto / span 8;
}
.grid-width-nine {
  grid-column: auto / span 9;
}
.grid-width-ten {
  grid-column: auto / span 10;
}
.grid-width-eleven {
  grid-column: auto / span 11;
}
.grid-width-twelve {
  grid-column: auto / span 12;
}
@media screen and (max-width: calc(50.24rem - 1px)) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: grid;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 50.24rem) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: initial;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: initial;
  }
  .grid.tablet,
  .two-column.tablet,
  .three-column.tablet {
    display: grid;
  }
  .grid.tablet > *,
  .two-column.tablet > *,
  .three-column.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (max-width: calc(76rem - 1px)) {
  .grid.mobile.tablet,
  .two-column.mobile.tablet,
  .three-column.mobile.tablet {
    display: grid;
  }
  .grid.mobile.tablet > *,
  .two-column.mobile.tablet > *,
  .three-column.mobile.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 76rem) {
  .grid.desktop,
  .two-column.desktop,
  .three-column.desktop {
    display: grid;
  }
  .grid.desktop > *,
  .two-column.desktop > *,
  .three-column.desktop > * {
    margin-bottom: 0;
  }
}
.responsive {
  column-gap: 0.619rem;
  grid-gap: 0.619rem;
}
.responsive.padding,
.modal,
.container {
  padding: 0.619rem;
}
.responsive.margin,
.container {
  margin: 0.619rem;
}
.responsive.gutter {
  margin: 1.238rem;
}
@media screen and (min-width: 50.24rem) {
  .responsive {
    column-gap: 1.001rem;
    grid-gap: 1.001rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.001rem;
  }
  .responsive.margin,
  .container {
    margin: 1.001rem;
  }
  .responsive.gutter {
    margin: 2.002rem;
  }
}
@media screen and (min-width: 76rem) {
  .responsive {
    column-gap: 1.62rem;
    grid-gap: 1.62rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.62rem;
  }
  .responsive.margin,
  .container {
    margin: 1.62rem;
  }
  .responsive.gutter {
    margin: 3.24rem;
  }
}
.background {
  background: #f4fdfe;
}
.background-color {
  background-color: #f4fdfe;
}
.border {
  border: 1px solid #3e8a91;
}
.border-radius,
.rounded {
  border-radius: 0.5em;
}
.border-bottom {
  border-bottom: 1px solid #3e8a91;
}
.border-left {
  border-left: 1px solid #3e8a91;
}
.border-right {
  border-right: 1px solid #3e8a91;
}
.border-style,
.button.border,
button.border {
  border-style: solid;
}
.border-top {
  border-top: 1px solid #3e8a91;
}
.border-width,
.button.border,
button.border {
  border-width: 1px;
}
.max-width {
  max-width: 76rem;
}
.min-width {
  min-width: 29rem;
}
.align-content {
  align-content: stretch;
}
.align-items {
  align-items: stretch;
}
.align-self {
  align-self: auto;
}
.flex,
.vertical-center,
.center-vertical {
  flex: 0 1 auto;
}
.flex-basis {
  flex-basis: auto;
}
.flex-direction,
.vertical-center,
.center-vertical {
  flex-direction: column;
}
.flex-flow {
  flex-flow: column nowrap;
}
.flex-grow {
  flex-grow: 0;
}
.flex-shrink {
  flex-shrink: 1;
}
.flex-wrap {
  flex-wrap: nowrap;
}
.justify-content,
.vertical-center,
.center-vertical {
  justify-content: center;
}
.font-family,
body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.font-size {
  font-size: 19px;
}
.font-weight {
  font-weight: normal;
}
.list-style {
  list-style: disc inside none;
}
.list-style-type {
  list-style-type: disc;
}
.margin {
  margin: 1.62rem;
}
.margin-bottom {
  margin-bottom: 1.62rem;
}
.margin-left {
  margin-left: 1.62rem;
}
.margin-right {
  margin-right: 1.62rem;
}
.margin-top {
  margin-top: 1.62rem;
}
.column-gap {
  column-gap: 1.94em;
}
.column-rule {
  column-rule: 1px solid #3e8a91;
}
.padding {
  padding: 1.62rem;
}
.padding-bottom {
  padding-bottom: 1.62rem;
}
.padding-left {
  padding-left: 1.62rem;
}
.padding-right {
  padding-right: 1.62rem;
}
.padding-top {
  padding-top: 1.62rem;
}
.text-align {
  text-align: left;
}
.text-align-last {
  text-align-last: left;
}
.text-indent {
  text-indent: 2ch;
}
.text-justify {
  text-justify: justify;
}
.text-overflow {
  text-overflow: hidden;
}
.text-shadow {
  text-shadow: 1.41px 1.41px 1.41px rgba(38, 14, 13, 0.16);
}
.line-height {
  line-height: 1.8;
}
.vertical-align {
  vertical-align: middle;
}
.letter-spacing {
  letter-spacing: 0;
}
.word-spacing {
  word-spacing: normal;
}
.white-space {
  white-space: nowrap;
}
.word-break {
  word-break: break-all;
}
.word-wrap {
  word-wrap: break-word;
}
.transform {
  transform: none;
}
.transition {
  transition: all 0s ease 0s;
}
.display {
  display: block;
}
.position {
  position: absolute;
}
.top {
  top: 0;
}
.right {
  right: 0;
}
.bottom {
  bottom: 0;
}
.left {
  left: 0;
}
.float {
  float: left;
}
.clear {
  clear: both;
}
.z-index {
  z-index: 10;
}
.overflow {
  overflow: hidden;
}
.overflow-x {
  overflow-x: hidden;
}
.cursor {
  cursor: pointer;
}
.box-shadow {
  box-shadow: 1.41px 1.41px 1.41px rgba(38, 14, 13, 0.16);
}
.gutter {
  margin: 3.24rem;
}
.gutter-top {
  margin-top: 3.24rem;
}
.gutter-right {
  margin-right: 3.24rem;
}
.gutter-bottom {
  margin-bottom: 3.24rem;
}
.gutter-left {
  margin-left: 3.24rem;
}
.text-padding {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-padding-top {
  padding-top: 0.18em;
}
.text-padding-right {
  padding-right: 0.3236em;
}
.text-padding-bottom {
  padding-bottom: 0.22em;
}
.text-padding-left {
  padding-left: 0.3236em;
}
.text-margin {
  margin: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-margin-top {
  margin-top: 0.18em;
}
.text-margin-right {
  margin-right: 0.3236em;
}
.text-margin-bottom {
  margin-bottom: 0.22em;
}
.text-margin-left {
  margin-left: 0.3236em;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.initial {
  display: initial;
}
.table {
  display: table;
}
.flex,
.vertical-center,
.center-vertical {
  display: flex;
}
.inline-block {
  display: inline-block;
}
.static {
  position: static;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.margin-auto,
.container {
  margin-left: auto;
  margin-right: auto;
}
.width-auto {
  width: auto;
}
.inset {
  box-shadow: inset 1.41px 1.41px 1.41px rgba(38, 14, 13, 0.16);
}
.viewport-height {
  height: 100vh;
}
.min-viewport-height {
  min-height: 100vh;
}
.overflow-hidden {
  overflow: hidden;
}
.dashed {
  border-style: dashed;
}
.dotted {
  border-style: dotted;
}
.thick {
  border-width: 2px;
}
.thin {
  border-width: 0.5px;
}
.current-color {
  border-color: currentColor;
}
.fade {
  opacity: 0.65;
}
.serif,
.font-family-serif {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "Droid Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
.monospace,
.font-family-monospace,
pre,
code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
}
.sans-serif,
.font-family-sans-serif {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.text-transparent {
  color: transparent;
}
.reset {
  all: initial;
}
.big {
  font-size: 125%;
  line-height: 2.25;
}
.big.font-size {
  font-size: 23.75px;
}
.small,
.badge {
  font-size: 87.5%;
  line-height: 1.575;
}
.small.font-size {
  font-size: 16.625px;
}
.huge {
  font-size: 160%;
}
.huge.font-size {
  font-size: 30.4px;
}
.text-trim {
  line-height: 1;
}
.text-align-center,
.text-center {
  text-align: center;
}
.text-align-left,
.text-left {
  text-align: left;
}
.text-align-right,
.text-right {
  text-align: right;
}
.text-align-justify,
.text-justify {
  text-align: justify;
}
.grid-gap-margin {
  grid-gap: 1.62rem;
}
.grid-gap-border-width {
  grid-gap: 1px;
}
.grid-gap-text-padding,
.grid-gap-text-margin {
  grid-gap: 0.3236em;
}
.shade,
.white,
.orange,
.yellow,
.olive,
.light.green,
.light.teal,
.cyan,
.skyblue,
.violet,
.light.gray,
.lavender,
.cream,
.clover,
.pewter,
.light.hotpink,
.neongreen,
.electricblue,
.lemon,
.lime,
.tangerine,
.light.default,
.warm,
.cool,
.neutral,
.accent,
.second.accent,
.second.split,
.third.triad,
.third.tetrad,
.fourth.tetrad,
.light.highlight,
body,
input,
textarea,
.info,
.warning,
.light.success {
  color: #0d2526;
}
.tint,
.black,
.red,
.dark.olive,
.green,
.teal,
.blue,
.indigo,
.purple,
.dark.violet,
.gray,
.brown,
.magenta,
.charcoal,
.crimson,
.dark.clover,
.cobalt,
.graphite,
.ruby,
.onyx,
.dark.pewter,
.gunmetal,
.hotpink,
.royalpurple,
.grapefruit,
.reaction,
.default,
.dark.warm,
.complement,
.split,
.triad,
.tetrad,
.second.tetrad,
.highlight,
.success,
.failure,
.second.triad {
  color: #f4fdfe;
}
.transparent {
  background-color: transparent;
  color: inherit;
  border-color: inherit;
}
.transparent.light {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23FFF%22%20fill-opacity%3D%220.16%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.transparent.dark,
.modal {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23000%22%20fill-opacity%3D%220.25%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.trim,
.trim-inner *,
.trim-all,
.trim-all * {
  margin-bottom: 0;
}
.hidden {
  display: none !important;
}
.clearfix,
.clear {
  clear: both;
}
.clearfix::after,
.clear::after {
  display: block;
  clear: both;
  content: "";
}
.golden-width {
  max-width: calc(62% - 3.24rem);
}
.golden-width.reverse {
  max-width: 38%;
}
.aside-width {
  max-width: 29rem;
}
@media screen and (min-width: 50.24rem) {
  .text-width {
    max-width: 47rem;
  }
}
.page-width,
.container {
  max-width: 76rem;
}
.full-width,
.aside-width .aside-width,
.text-width .text-width,
.page-width .page-width {
  display: block;
  width: 100%;
}
.inner-aside-width {
  padding-left: calc(50% - 14.5rem);
  padding-right: calc(50% - 14.5rem);
}
.inner-aside-width.padding {
  padding-left: calc(50% - 12.88rem);
  padding-right: calc(50% - 12.88rem);
}
.inner-aside-width.responsive.padding {
  padding-left: calc(50% - 13.88rem);
  padding-right: calc(50% - 13.88rem);
}
@media screen and (max-width: calc(50.24rem - 1px)) {
  .inner-text-width {
    padding-left: initial;
    padding-right: initial;
  }
  .inner-text-width.padding {
    padding-left: 1.62rem;
    padding-right: 1.62rem;
  }
  .inner-text-width.responsive.padding {
    padding-left: 0.619rem;
    padding-right: 0.619rem;
  }
}
@media screen and (min-width: 50.24rem) {
  .inner-aside-width.tablet.padding {
    padding-left: calc(50% - 12.88rem);
    padding-right: calc(50% - 12.88rem);
  }
  .inner-aside-width.tablet.responsive.padding {
    padding-left: calc(50% - 13.5rem);
    padding-right: calc(50% - 13.5rem);
  }
  .inner-text-width {
    padding-left: calc(50% - 23.5rem);
    padding-right: calc(50% - 23.5rem);
  }
  .inner-text-width.padding {
    padding-left: calc(50% - 21.88rem);
    padding-right: calc(50% - 21.88rem);
  }
  .inner-text-width.responsive.padding {
    padding-left: calc(50% - 22.5rem);
    padding-right: calc(50% - 22.5rem);
  }
}
@media screen and (min-width: 76rem) {
  .inner-aside-width.desktop.padding {
    padding-left: calc(50% - 12.88rem);
    padding-right: calc(50% - 12.88rem);
  }
  .inner-aside-width.desktop.responsive.padding {
    padding-left: calc(50% - 12.88rem);
    padding-right: calc(50% - 12.88rem);
  }
  .inner-text-width.desktop.padding {
    padding-left: calc(50% - 21.88rem);
    padding-right: calc(50% - 21.88rem);
  }
  .inner-text-width.desktop.responsive.padding {
    padding-left: calc(50% - 21.88rem);
    padding-right: calc(50% - 21.88rem);
  }
  .inner-page-width {
    padding-left: calc(50% - 38rem);
    padding-right: calc(50% - 38rem);
  }
  .inner-page-width.padding {
    padding-left: calc(50% - 36.38rem);
    padding-right: calc(50% - 36.38rem);
  }
  .inner-page-width.responsive.padding {
    padding-left: calc(50% - 36.38rem);
    padding-right: calc(50% - 36.38rem);
  }
}
.texture,
.pattern {
  background-position: top center;
}
.texture {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20viewBox%3D'0%200%203.175%201.588'%20height%3D'19'%20width%3D'38'%3E%3Cg%20fill%3D'%230d2526'%20fill-opacity%3D'0.05'%3E%3Cpath%20d%3D'M1.317%201.194h-.92l.23-.399.23-.398.23.398zM2.312%201.194l-.23-.399-.23-.398h.92l-.23.398z'/%3E%3C/g%3E%3C/svg%3E");
}
.pattern {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20width%3D'80'%20height%3D'50'%20viewBox%3D'0%200%2021.167%2013.229'%3E%3Cpath%20opacity%3D'0.05'%20fill%3D'%230d2526'%20d%3D'M0%200h10.583v13.229H0z'/%3E%3C/svg%3E");
}
.placeholder::before {
  content: " ";
  white-space: pre;
}
.placeholder::after {
  content: "";
}
.placeholder.image,
.placeholder.video,
.placeholder.avatar {
  position: relative;
}
.placeholder.image::before,
.placeholder.video::before,
.placeholder.avatar::before {
  position: absolute;
  top: calc(50% - 4rem);
  right: 0;
  bottom: 0;
  left: 0;
  display: inline-block;
  text-align: center;
  font-size: 4rem;
  vertical-align: middle;
}
.placeholder.image.small::before,
.placeholder.video.small::before,
.placeholder.avatar.small::before {
  top: calc(50% - 2rem);
  font-size: 2rem;
}
.placeholder.image.big::before,
.placeholder.video.big::before,
.placeholder.avatar.big::before {
  top: calc(50% - 6rem);
  font-size: 6rem;
}
.placeholder.image.huge::before,
.placeholder.video.huge::before,
.placeholder.avatar.huge::before {
  top: calc(50% - 8rem);
  font-size: 8rem;
}
.placeholder.image::after,
.placeholder.video::after,
.placeholder.avatar::after {
  display: block;
}
.placeholder.image::before {
  content: "\1f5bc";
}
.placeholder.image::after {
  padding-top: 75%;
}
.placeholder.video::before {
  content: "\25B6";
}
.placeholder.video::after {
  padding-top: 56.25%;
}
.placeholder.avatar::before {
  content: "\263A";
}
.placeholder.avatar::after {
  padding-top: 100%;
}
.placeholder.no-icon::before {
  content: "";
}
.hide {
  display: none;
}
.hide.tablet {
  display: initial;
}
.hide.desktop {
  display: initial;
}
@media screen and (max-width: calc(50.24rem - 1px)) {
  .hide.mobile {
    display: none;
  }
}
@media screen and (min-width: 50.24rem) {
  .hide.mobile {
    display: initial;
  }
  .hide.tablet {
    display: none;
  }
}
@media screen and (min-width: 76rem) {
  .hide.desktop {
    display: none;
  }
  .hide.mobile.tablet {
    display: initial;
  }
}
@media screen and (max-width: calc(76rem - 1px)) {
  .hide.mobile.tablet {
    display: none;
  }
}
body {
  font-size: 19px;
  line-height: 1.8;
  margin: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
nav {
  z-index: 99;
}
nav a {
  text-decoration: none;
}
aside {
  margin: 0 auto;
  margin-bottom: 1.62rem;
  max-width: 29rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-top: 0.49443758em;
  margin-bottom: 0.74165637em;
  letter-spacing: -0.025em;
  color: inherit;
  line-height: 1.618;
}
h1 {
  font-size: 2.4em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1em;
}
p {
  margin-bottom: 1em;
}
p.gutter-bottom {
  margin-bottom: 1.618em;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: inherit;
  text-decoration: underline;
}
a.target-blank::after,
a.new-tab::after,
a.external-link::after {
  content: "\00A0\1F855";
}
form {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input {
  font-size: 19px;
  line-height: 1.8;
  border: 1px solid #3e8a91;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input:focus {
  box-shadow: 0 0 2px #71cbe6;
}
fieldset {
  border: none;
  outline: none;
}
ol {
  padding-left: 4ch;
  margin-bottom: 1.62rem;
}
ol li {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
ul {
  margin-left: 1.62rem;
  margin-bottom: 1.62rem;
}
li {
  margin-bottom: 0.44em;
}
kbd {
  color: #f4fdfe;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  white-space: nowrap;
}
b {
  padding: 0.18em 0 0.22em 0;
}
pre {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  overflow: hidden;
  border-radius: 0.5em;
  background: #363f40;
  color: #f4fdfe;
}
pre.white-space,
pre.word-break {
  white-space: pre-wrap;
}
pre > code {
  background: transparent;
  padding: 0;
}
code {
  color: #f4fdfe;
  background-color: #283f62;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
code.terminal::before {
  content: "$ ";
}
textarea {
  font-size: 19px;
  line-height: 1.8;
  border: 1px solid #3e8a91;
  border-radius: 0.5em;
  margin-bottom: 1.62rem;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
textarea:focus {
  box-shadow: 0 0 2px #71cbe6;
}
.white,
body,
input,
textarea {
  background-color: #f4fdfe;
  border-color: #7c8b8c;
}
.black {
  background-color: #0d2526;
  border-color: #061213;
}
.ambient {
  color: #0d2526;
  background: #4fe5ee;
  border-color: #297f84;
}
.ambient.light {
  color: #0d2526;
  background: #74ebf2;
  border-color: #3c8186;
}
.ambient.dark {
  color: #0d2526;
  background: #29e0eb;
  border-color: #177c82;
}
.red,
.failure {
  background-color: #de2427;
  border-color: #7c1416;
}
.light.red,
.light.failure {
  background-color: #e4474a;
  border-color: #7e2627;
}
.dark.red,
.dark.failure {
  background-color: #bd1c1f;
  border-color: #6b1012;
}
.orange,
.warning {
  background-color: #ebae24;
  border-color: #826114;
}
.light.orange,
.light.warning {
  background-color: #efbc4a;
  border-color: #846727;
}
.dark.orange,
.dark.warning {
  background-color: #d39913;
  border-color: #77560b;
}
.yellow {
  background-color: #e7f725;
  border-color: #808914;
}
.light.yellow {
  background-color: #ebf94c;
  border-color: #828a28;
}
.dark.yellow {
  background-color: #d9eb08;
  border-color: #798306;
}
.olive {
  background-color: #89a027;
  border-color: #4e5b16;
}
.light.olive {
  background-color: #a5c12f;
  border-color: #5d6c1a;
}
.dark.olive {
  background-color: #6d7f1f;
  border-color: #404b12;
}
.green,
.success {
  background-color: #039c26;
  border-color: #025b17;
}
.light.green,
.light.success {
  background-color: #03c430;
  border-color: #03701c;
}
.dark.green,
.dark.success {
  background-color: #02741c;
  border-color: #024712;
}
.teal {
  background-color: #03a0a1;
  border-color: #035d5e;
}
.light.teal {
  background-color: #04c7c9;
  border-color: #037172;
}
.dark.teal {
  background-color: #037879;
  border-color: #02494a;
}
.cyan {
  background-color: #02f8f8;
  border-color: #028a8a;
}
.light.cyan {
  background-color: #25fdfe;
  border-color: #138c8c;
}
.dark.cyan {
  background-color: #01cfcf;
  border-color: #027575;
}
.skyblue,
.info {
  background-color: #71cbe6;
  border-color: #3b6f7f;
}
.light.skyblue,
.light.info {
  background-color: #94d8ec;
  border-color: #4d7682;
}
.dark.skyblue,
.dark.info {
  background-color: #4fbee0;
  border-color: #2a697c;
}
.blue {
  background-color: #0222f7;
  border-color: #021489;
}
.light.blue {
  background-color: #2441fd;
  border-color: #13238c;
}
.dark.blue {
  background-color: #011dcf;
  border-color: #021175;
}
.indigo {
  background-color: #4f239f;
  border-color: #2d145b;
}
.light.indigo {
  background-color: #5f2ac0;
  border-color: #36186c;
}
.dark.indigo {
  background-color: #3e1c7d;
  border-color: #25114a;
}
.purple {
  background-color: #9125a9;
  border-color: #531660;
}
.light.purple {
  background-color: #ae2dca;
  border-color: #611971;
}
.dark.purple {
  background-color: #751e87;
  border-color: #44124f;
}
.violet {
  background-color: #d786e8;
  border-color: #764680;
}
.light.violet {
  background-color: #e2a8ef;
  border-color: #7b5783;
}
.dark.violet {
  background-color: #cb63e2;
  border-color: #70347d;
}
.gray {
  background-color: #768b8d;
  border-color: #414e4f;
}
.light.gray {
  background-color: #8d9ea0;
  border-color: #4c5859;
}
.dark.gray {
  background-color: #637677;
  border-color: #384344;
}
.brown {
  background-color: #9b5d3b;
  border-color: #583522;
}
.light.brown {
  background-color: #b96e46;
  border-color: #673d27;
}
.dark.brown {
  background-color: #7d4b30;
  border-color: #492c1c;
}
.magenta {
  background-color: #cf36ea;
  border-color: #721d82;
}
.light.magenta {
  background-color: #d85bee;
  border-color: #772f83;
}
.dark.magenta {
  background-color: #c118df;
  border-color: #6c0e7c;
}
.lavender {
  background-color: #c4bee3;
  border-color: #67637c;
}
.light.lavender {
  background-color: #dedaf0;
  border-color: #747182;
}
.dark.lavender {
  background-color: #aaa1d7;
  border-color: #5a5576;
}
.cream {
  background-color: #e9f1d0;
  border-color: #7e846b;
}
.light.cream {
  background-color: #f8faf0;
  border-color: #85887b;
}
.dark.cream {
  background-color: #dbe8b1;
  border-color: #777f5c;
}
.charcoal {
  background-color: #4c514c;
  border-color: #2c312c;
}
.light.charcoal {
  background-color: #60675f;
  border-color: #363c36;
}
.dark.charcoal {
  background-color: #383c38;
  border-color: #232722;
}
.crimson {
  background-color: #af1b2f;
  border-color: #64101b;
}
.light.crimson {
  background-color: #d22038;
  border-color: #751220;
}
.dark.crimson {
  background-color: #8b1525;
  border-color: #520d16;
}
.clover {
  background-color: #3dba38;
  border-color: #226820;
}
.light.clover {
  background-color: #55ca51;
  border-color: #2e702c;
}
.dark.clover {
  background-color: #339b2f;
  border-color: #1d591b;
}
.cobalt {
  background-color: #2680d5;
  border-color: #164777;
}
.light.cobalt {
  background-color: #4694de;
  border-color: #26517b;
}
.dark.cobalt {
  background-color: #206bb3;
  border-color: #123d65;
}
.graphite {
  background-color: #283f62;
  border-color: #18263c;
}
.light.graphite {
  background-color: #34527f;
  border-color: #1e2f4a;
}
.dark.graphite {
  background-color: #1c2c45;
  border-color: #121d2d;
}
.ruby {
  background-color: #a01155;
  border-color: #5d0b32;
}
.light.ruby {
  background-color: #c51569;
  border-color: #6f0d3c;
}
.dark.ruby {
  background-color: #7b0d42;
  border-color: #4a0928;
}
.onyx {
  background-color: #363f40;
  border-color: #212829;
}
.light.onyx {
  background-color: #495556;
  border-color: #2a3334;
}
.dark.onyx {
  background-color: #24292a;
  border-color: #181d1e;
}
.pewter {
  background-color: #9ea992;
  border-color: #575d4f;
}
.light.pewter {
  background-color: #b3bba9;
  border-color: #61665a;
}
.dark.pewter {
  background-color: #8a977c;
  border-color: #4c5444;
}
.gunmetal {
  background-color: #3f6f81;
  border-color: #24404b;
}
.light.gunmetal {
  background-color: #4d879c;
  border-color: #2b4c58;
}
.dark.gunmetal {
  background-color: #325866;
  border-color: #1d343d;
}
.hotpink {
  background-color: #ea60aa;
  border-color: #82325c;
}
.light.hotpink {
  background-color: #ef84bd;
  border-color: #844466;
}
.dark.hotpink {
  background-color: #e63c96;
  border-color: #7f2053;
}
.neongreen {
  background-color: #34f222;
  border-color: #1d8613;
}
.light.neongreen {
  background-color: #58f549;
  border-color: #2e8726;
}
.dark.neongreen {
  background-color: #1fdf0d;
  border-color: #127d08;
}
.electricblue {
  background-color: #32bfe5;
  border-color: #1b6a7f;
}
.light.electricblue {
  background-color: #56caea;
  border-color: #2d6f81;
}
.dark.electricblue {
  background-color: #1aacd4;
  border-color: #0f6077;
}
.royalpurple {
  background-color: #633fa0;
  border-color: #38245a;
}
.light.royalpurple {
  background-color: #764fb9;
  border-color: #422c67;
}
.dark.royalpurple {
  background-color: #513483;
  border-color: #2f1e4c;
}
.lemon {
  background-color: #f3f997;
  border-color: #868a4d;
}
.light.lemon {
  background-color: #f8fbbd;
  border-color: #888b60;
}
.dark.lemon {
  background-color: #eff770;
  border-color: #84893a;
}
.lime {
  background-color: #89ed98;
  border-color: #478350;
}
.light.lime {
  background-color: #adf2b7;
  border-color: #59855f;
}
.dark.lime {
  background-color: #66e879;
  border-color: #358040;
}
.tangerine {
  background-color: #efac5c;
  border-color: #845e30;
}
.light.tangerine {
  background-color: #f3bf81;
  border-color: #866742;
}
.dark.tangerine {
  background-color: #eb9a37;
  border-color: #82551d;
}
.grapefruit {
  background-color: #c54b63;
  border-color: #6e2936;
}
.light.grapefruit {
  background-color: #cf6a7d;
  border-color: #733844;
}
.dark.grapefruit {
  background-color: #af384f;
  border-color: #63202d;
}
.action,
.base-color {
  color: #0d2526;
  background: #3fa7b6;
  border-color: #235e66;
}
.action.light,
.base-color.light {
  color: #0d2526;
  background: #58b8c5;
  border-color: #30666e;
}
.action.dark,
.base-color.dark {
  color: #f4fdfe;
  background: #358b98;
  border-color: #1e5057;
}
.reaction {
  background-color: #8e5951;
  border-color: #51322d;
}
.light.reaction {
  background-color: #a66b62;
  border-color: #5d3b36;
}
.dark.reaction {
  background-color: #744942;
  border-color: #442a26;
}
.default {
  background-color: #3e8a91;
  border-color: #234f53;
}
.light.default {
  background-color: #4aa5ae;
  border-color: #295d62;
}
.dark.default {
  background-color: #316f75;
  border-color: #1d4145;
}
.warm {
  background-color: #b993ed;
  border-color: #634c83;
}
.light.warm {
  background-color: #d0b6f3;
  border-color: #6e5e86;
}
.dark.warm {
  background-color: #a270e7;
  border-color: #583b80;
}
.cool {
  background-color: #20fafb;
  border-color: #118b8b;
}
.light.cool {
  background-color: #48fbfb;
  border-color: #258b8b;
}
.dark.cool {
  background-color: #05eded;
  border-color: #048484;
}
.neutral {
  background-color: #94cf75;
  border-color: #50723e;
}
.light.neutral {
  background-color: #acd993;
  border-color: #5c784d;
}
.dark.neutral {
  background-color: #7dc457;
  border-color: #456d2f;
}
.complement,
.second.triad {
  background-color: #975d53;
  border-color: #55342e;
}
.light.complement,
.light.second.triad {
  background-color: #ab7168;
  border-color: #5f3e39;
}
.dark.complement,
.dark.second.triad {
  background-color: #7c4c45;
  border-color: #482c27;
}
.accent {
  background-color: #65a1dc;
  border-color: #35587a;
}
.light.accent {
  background-color: #86b5e4;
  border-color: #46627e;
}
.dark.accent {
  background-color: #438dd5;
  border-color: #254e76;
}
.second.accent {
  background-color: #65dcba;
  border-color: #357a66;
}
.light.second.accent {
  background-color: #86e3c9;
  border-color: #467d6d;
}
.dark.second.accent {
  background-color: #43d4ab;
  border-color: #25765f;
}
.split {
  background-color: #7653b3;
  border-color: #422e64;
}
.light.split {
  background-color: #8d6fc0;
  border-color: #4d3c6a;
}
.dark.split {
  background-color: #63449a;
  border-color: #382657;
}
.second.split {
  background-color: #5db255;
  border-color: #33632f;
}
.light.second.split {
  background-color: #77bf71;
  border-color: #416a3d;
}
.dark.second.split {
  background-color: #4c9945;
  border-color: #2b5727;
}
.triad {
  background-color: #4353b3;
  border-color: #252e64;
}
.light.triad {
  background-color: #5d6bc2;
  border-color: #323a6c;
}
.dark.triad {
  background-color: #384595;
  border-color: #202755;
}
.third.triad {
  background-color: #36b261;
  border-color: #1f6437;
}
.light.third.triad {
  background-color: #49c875;
  border-color: #286f41;
}
.dark.third.triad {
  background-color: #2d9350;
  border-color: #1a552e;
}
.tetrad {
  background-color: #365fb3;
  border-color: #1f3565;
}
.light.tetrad {
  background-color: #4a73c8;
  border-color: #283f6f;
}
.dark.tetrad {
  background-color: #2d4e94;
  border-color: #1a2d55;
}
.second.tetrad {
  background-color: #9d5390;
  border-color: #582e51;
}
.light.second.tetrad {
  background-color: #b069a3;
  border-color: #62395b;
}
.dark.second.tetrad {
  background-color: #824577;
  border-color: #4b2745;
}
.third.tetrad {
  background-color: #9da655;
  border-color: #585d2f;
}
.light.third.tetrad {
  background-color: #adb56f;
  border-color: #60653c;
}
.dark.third.tetrad {
  background-color: #838b47;
  border-color: #4b5028;
}
.fourth.tetrad {
  background-color: #36b279;
  border-color: #1f6444;
}
.light.fourth.tetrad {
  background-color: #49c88d;
  border-color: #286f4e;
}
.dark.fourth.tetrad {
  background-color: #2d9363;
  border-color: #1a5539;
}
.highlight {
  background-color: #b151ee;
  border-color: #612b84;
}
.light.highlight {
  background-color: #c277f1;
  border-color: #693d85;
}
.dark.highlight {
  background-color: #a02cea;
  border-color: #591882;
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-margin-right {
  margin-right: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.no-margin-left {
  margin-left: 0 !important;
}
.no-padding {
  padding: 0;
}
.no-margin,
.no-gutter {
  margin: 0;
}
.no-side-margin,
.no-side-margins {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.no-margins {
  margin: 0 !important;
}
.no-margins * {
  margin: 0 !important;
}
.no-box-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  box-shadow: unset;
}
.no-text-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  text-shadow: unset;
}
.no-border,
.no-borders,
.no-borders * {
  border-width: 0 !important;
}
.no-background {
  background: transparent;
}
.no-text-indent {
  text-indent: 0;
}
.no-text-align {
  text-align: initial;
}
.no-user-select {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.no-pointer-events {
  pointer-events: none;
}
.no-list-style {
  list-style-type: none;
  margin-left: 0;
}
.no-grid-gap,
.no-column-gap {
  grid-gap: 0;
  column-gap: 0;
}
@media print {
  html {
    font-size: 62.5%;
  }
  * {
    box-shadow: unset !important;
    border: unset !important;
  }
  nav {
    display: none !important;
  }
  .page-width,
  .text-width,
  .container {
    all: unset;
  }
  .inner-page-width,
  .inner-text-width,
  .inner-aside-width {
    all: unset;
  }
}
