/* This project uses Cavepaint (MIT License) by Rex Riepe */
/* https://github.com/cavepaint/cavepaintCSS */
* {
  margin: 0 0 1.62rem 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  margin-bottom: 0;
}
.button,
button {
  border-style: solid;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(1, 39, 7, 0.16);
  display: inline;
  position: relative;
  font-family: inherit;
  font-size: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  color: inherit;
  background-color: inherit;
  border-color: #712f63;
  border-width: 1px;
  line-height: 1.6;
  text-align: center;
  vertical-align: middle;
  outline: none;
  white-space: nowrap;
  text-decoration: none;
  touch-action: manipulation;
  cursor: pointer;
  transform: scale(1);
  transition: 0.08s linear;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.button:active,
button:active {
  transform: scale(0.99);
  box-shadow: unset;
}
.bar {
  position: relative;
  width: 100%;
  display: block;
  vertical-align: middle;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.bar > * {
  display: inline;
  margin-right: 0.3236em;
  margin-left: 0.3236em;
  margin-bottom: 0;
}
.card {
  position: relative;
  overflow: hidden;
  padding: 1.62rem;
  border: 1px solid #ab4695;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(1, 39, 7, 0.16);
}
.card > *:first-child {
  margin-top: 0;
}
.card > *:last-child {
  margin-bottom: 0;
}
.badge {
  border-radius: 0.5em;
  line-height: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  padding-right: 0.6472em;
  padding-left: 0.6472em;
  vertical-align: middle;
  border-radius: 99px;
  white-space: nowrap;
}
.modal {
  display: none;
  max-width: none;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  position: fixed;
  bottom: 0;
  justify-content: center;
  flex: 0 1 auto;
  flex-direction: column;
  height: 100vh;
}
.modal > * {
  flex-direction: column;
  color: #270121;
  position: relative;
  background: #fef0fc;
  padding: 1.62rem;
  margin-bottom: 3.24rem;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(1, 39, 7, 0.16);
  margin: 1.62rem;
}
@media screen and (min-width: 49.24rem) {
  .modal > * {
    max-width: 74rem;
    margin: 0 auto;
  }
}
.overlay {
  margin: 0;
  padding: 0;
  position: relative;
}
.overlay .top,
.overlay .bottom,
.overlay .left,
.overlay .right {
  position: absolute;
}
.overlay .top {
  top: 0.3236em;
}
.overlay .bottom {
  bottom: 0.3236em;
}
.overlay .left {
  left: 0.3236em;
}
.overlay .right {
  right: 0.3236em;
}
.overlay.stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.overlay * {
  margin: 0;
  display: block;
}
.grid,
.two-column,
.three-column {
  display: grid;
  grid-gap: 1.62rem;
}
.grid.tablet,
.two-column.tablet,
.three-column.tablet,
.grid.mobile.tablet,
.two-column.mobile.tablet,
.three-column.mobile.tablet,
.grid.desktop,
.two-column.desktop,
.three-column.desktop {
  display: initial;
}
.grid {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.two-column {
  grid-template-columns: 1fr 1fr;
}
.two-column.golden {
  grid-template-columns: 1.618fr 1fr;
}
.two-column.golden.reverse {
  grid-template-columns: 1fr 1.618fr;
}
.three-column {
  grid-template-columns: 1fr 1fr 1fr;
}
.three-column.golden {
  grid-template-columns: 1fr 1.618fr 1fr;
}
.three-column.golden.leading {
  grid-template-columns: 1.618fr 1fr 1fr;
}
.three-column.golden.trailing {
  grid-template-columns: 1fr 1fr 1.618fr;
}
.grid-width-one {
  grid-column: auto / span 1;
}
.grid-width-two {
  grid-column: auto / span 2;
}
.grid-width-three {
  grid-column: auto / span 3;
}
.grid-width-four {
  grid-column: auto / span 4;
}
.grid-width-five {
  grid-column: auto / span 5;
}
.grid-width-six {
  grid-column: auto / span 6;
}
.grid-width-seven {
  grid-column: auto / span 7;
}
.grid-width-eight {
  grid-column: auto / span 8;
}
.grid-width-nine {
  grid-column: auto / span 9;
}
.grid-width-ten {
  grid-column: auto / span 10;
}
.grid-width-eleven {
  grid-column: auto / span 11;
}
.grid-width-twelve {
  grid-column: auto / span 12;
}
@media screen and (max-width: calc(49.24rem - 1px)) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: grid;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 49.24rem) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: initial;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: initial;
  }
  .grid.tablet,
  .two-column.tablet,
  .three-column.tablet {
    display: grid;
  }
  .grid.tablet > *,
  .two-column.tablet > *,
  .three-column.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (max-width: calc(74rem - 1px)) {
  .grid.mobile.tablet,
  .two-column.mobile.tablet,
  .three-column.mobile.tablet {
    display: grid;
  }
  .grid.mobile.tablet > *,
  .two-column.mobile.tablet > *,
  .three-column.mobile.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 74rem) {
  .grid.desktop,
  .two-column.desktop,
  .three-column.desktop {
    display: grid;
  }
  .grid.desktop > *,
  .two-column.desktop > *,
  .three-column.desktop > * {
    margin-bottom: 0;
  }
}
.responsive {
  column-gap: 0.619rem;
  grid-gap: 0.619rem;
}
.responsive.padding,
.modal,
.container {
  padding: 0.619rem;
}
.responsive.margin,
.container {
  margin: 0.619rem;
}
.responsive.gutter {
  margin: 1.238rem;
}
@media screen and (min-width: 49.24rem) {
  .responsive {
    column-gap: 1.001rem;
    grid-gap: 1.001rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.001rem;
  }
  .responsive.margin,
  .container {
    margin: 1.001rem;
  }
  .responsive.gutter {
    margin: 2.002rem;
  }
}
@media screen and (min-width: 74rem) {
  .responsive {
    column-gap: 1.62rem;
    grid-gap: 1.62rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.62rem;
  }
  .responsive.margin,
  .container {
    margin: 1.62rem;
  }
  .responsive.gutter {
    margin: 3.24rem;
  }
}
.background {
  background: #fef0fc;
}
.background-color {
  background-color: #fef0fc;
}
.border {
  border: 1px solid #ab4695;
}
.border-radius,
.rounded {
  border-radius: 0.5em;
}
.border-bottom {
  border-bottom: 1px solid #ab4695;
}
.border-left {
  border-left: 1px solid #ab4695;
}
.border-right {
  border-right: 1px solid #ab4695;
}
.border-style,
.button.border,
button.border {
  border-style: solid;
}
.border-top {
  border-top: 1px solid #ab4695;
}
.border-width,
.button.border,
button.border {
  border-width: 1px;
}
.max-width {
  max-width: 74rem;
}
.min-width {
  min-width: 28rem;
}
.align-content {
  align-content: stretch;
}
.align-items {
  align-items: stretch;
}
.align-self {
  align-self: auto;
}
.flex,
.vertical-center,
.center-vertical {
  flex: 0 1 auto;
}
.flex-basis {
  flex-basis: auto;
}
.flex-direction,
.vertical-center,
.center-vertical {
  flex-direction: column;
}
.flex-flow {
  flex-flow: column nowrap;
}
.flex-grow {
  flex-grow: 0;
}
.flex-shrink {
  flex-shrink: 1;
}
.flex-wrap {
  flex-wrap: nowrap;
}
.justify-content,
.vertical-center,
.center-vertical {
  justify-content: center;
}
.font-family,
body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
}
.font-size {
  font-size: 17px;
}
.font-weight {
  font-weight: normal;
}
.list-style {
  list-style: disc inside none;
}
.list-style-type {
  list-style-type: disc;
}
.margin {
  margin: 1.62rem;
}
.margin-bottom {
  margin-bottom: 1.62rem;
}
.margin-left {
  margin-left: 1.62rem;
}
.margin-right {
  margin-right: 1.62rem;
}
.margin-top {
  margin-top: 1.62rem;
}
.column-gap {
  column-gap: 1.94em;
}
.column-rule {
  column-rule: 1px solid #ab4695;
}
.padding {
  padding: 1.62rem;
}
.padding-bottom {
  padding-bottom: 1.62rem;
}
.padding-left {
  padding-left: 1.62rem;
}
.padding-right {
  padding-right: 1.62rem;
}
.padding-top {
  padding-top: 1.62rem;
}
.text-align {
  text-align: left;
}
.text-align-last {
  text-align-last: left;
}
.text-indent {
  text-indent: 2ch;
}
.text-justify {
  text-justify: justify;
}
.text-overflow {
  text-overflow: hidden;
}
.text-shadow {
  text-shadow: 1.41px 1.41px 1.41px rgba(1, 39, 7, 0.16);
}
.line-height {
  line-height: 1.8;
}
.vertical-align {
  vertical-align: middle;
}
.letter-spacing {
  letter-spacing: 0;
}
.word-spacing {
  word-spacing: normal;
}
.white-space {
  white-space: nowrap;
}
.word-break {
  word-break: break-all;
}
.word-wrap {
  word-wrap: break-word;
}
.transform {
  transform: none;
}
.transition {
  transition: all 0s ease 0s;
}
.display {
  display: block;
}
.position {
  position: absolute;
}
.top {
  top: 0;
}
.right {
  right: 0;
}
.bottom {
  bottom: 0;
}
.left {
  left: 0;
}
.float {
  float: left;
}
.clear {
  clear: both;
}
.z-index {
  z-index: 10;
}
.overflow {
  overflow: hidden;
}
.overflow-x {
  overflow-x: hidden;
}
.cursor {
  cursor: pointer;
}
.box-shadow {
  box-shadow: 1.41px 1.41px 1.41px rgba(1, 39, 7, 0.16);
}
.gutter {
  margin: 3.24rem;
}
.gutter-top {
  margin-top: 3.24rem;
}
.gutter-right {
  margin-right: 3.24rem;
}
.gutter-bottom {
  margin-bottom: 3.24rem;
}
.gutter-left {
  margin-left: 3.24rem;
}
.text-padding {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-padding-top {
  padding-top: 0.18em;
}
.text-padding-right {
  padding-right: 0.3236em;
}
.text-padding-bottom {
  padding-bottom: 0.22em;
}
.text-padding-left {
  padding-left: 0.3236em;
}
.text-margin {
  margin: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-margin-top {
  margin-top: 0.18em;
}
.text-margin-right {
  margin-right: 0.3236em;
}
.text-margin-bottom {
  margin-bottom: 0.22em;
}
.text-margin-left {
  margin-left: 0.3236em;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.initial {
  display: initial;
}
.table {
  display: table;
}
.flex,
.vertical-center,
.center-vertical {
  display: flex;
}
.inline-block {
  display: inline-block;
}
.static {
  position: static;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.margin-auto,
.container {
  margin-left: auto;
  margin-right: auto;
}
.width-auto {
  width: auto;
}
.inset {
  box-shadow: inset 1.41px 1.41px 1.41px rgba(1, 39, 7, 0.16);
}
.viewport-height {
  height: 100vh;
}
.min-viewport-height {
  min-height: 100vh;
}
.overflow-hidden {
  overflow: hidden;
}
.dashed {
  border-style: dashed;
}
.dotted {
  border-style: dotted;
}
.thick {
  border-width: 2px;
}
.thin {
  border-width: 0.5px;
}
.current-color {
  border-color: currentColor;
}
.fade {
  opacity: 0.65;
}
.serif,
.font-family-serif {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "Droid Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
.monospace,
.font-family-monospace,
pre,
code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
}
.sans-serif,
.font-family-sans-serif {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.text-transparent {
  color: transparent;
}
.reset {
  all: initial;
}
.big {
  font-size: 125%;
  line-height: 2.25;
}
.big.font-size {
  font-size: 21.25px;
}
.small,
.badge {
  font-size: 87.5%;
  line-height: 1.575;
}
.small.font-size {
  font-size: 14.875px;
}
.huge {
  font-size: 160%;
}
.huge.font-size {
  font-size: 27.2px;
}
.text-trim {
  line-height: 1;
}
.text-align-center,
.text-center {
  text-align: center;
}
.text-align-left,
.text-left {
  text-align: left;
}
.text-align-right,
.text-right {
  text-align: right;
}
.text-align-justify,
.text-justify {
  text-align: justify;
}
.grid-gap-margin {
  grid-gap: 1.62rem;
}
.grid-gap-border-width {
  grid-gap: 1px;
}
.grid-gap-text-padding,
.grid-gap-text-margin {
  grid-gap: 0.3236em;
}
.shade,
.white,
.orange,
.yellow,
.light.olive,
.cyan,
.skyblue,
.violet,
.light.magenta,
.lavender,
.cream,
.light.clover,
.pewter,
.light.hotpink,
.neongreen,
.electricblue,
.lemon,
.lime,
.tangerine,
.warm,
.light.cool,
.light.highlight,
body,
input,
textarea,
.info,
.warning {
  color: #270121;
}
.tint,
.black,
.red,
.olive,
.green,
.teal,
.dark.skyblue,
.blue,
.indigo,
.purple,
.dark.violet,
.gray,
.brown,
.magenta,
.charcoal,
.crimson,
.clover,
.cobalt,
.graphite,
.ruby,
.onyx,
.dark.pewter,
.gunmetal,
.hotpink,
.dark.electricblue,
.royalpurple,
.grapefruit,
.reaction,
.default,
.dark.warm,
.cool,
.neutral,
.complement,
.accent,
.second.accent,
.split,
.second.split,
.triad,
.third.triad,
.tetrad,
.second.tetrad,
.third.tetrad,
.fourth.tetrad,
.highlight,
.dark.info,
.success,
.failure,
.second.triad {
  color: #fef0fc;
}
.transparent {
  background-color: transparent;
  color: inherit;
  border-color: inherit;
}
.transparent.light {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23FFF%22%20fill-opacity%3D%220.16%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.transparent.dark,
.modal {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23000%22%20fill-opacity%3D%220.25%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.trim,
.trim-inner *,
.trim-all,
.trim-all * {
  margin-bottom: 0;
}
.hidden {
  display: none !important;
}
.clearfix,
.clear {
  clear: both;
}
.clearfix::after,
.clear::after {
  display: block;
  clear: both;
  content: "";
}
.golden-width {
  max-width: calc(62% - 3.24rem);
}
.golden-width.reverse {
  max-width: 38%;
}
.aside-width {
  max-width: 28rem;
}
@media screen and (min-width: 49.24rem) {
  .text-width {
    max-width: 46rem;
  }
}
.page-width,
.container {
  max-width: 74rem;
}
.full-width,
.aside-width .aside-width,
.text-width .text-width,
.page-width .page-width {
  display: block;
  width: 100%;
}
.inner-aside-width {
  padding-left: calc(50% - 14rem);
  padding-right: calc(50% - 14rem);
}
.inner-aside-width.padding {
  padding-left: calc(50% - 12.38rem);
  padding-right: calc(50% - 12.38rem);
}
.inner-aside-width.responsive.padding {
  padding-left: calc(50% - 13.38rem);
  padding-right: calc(50% - 13.38rem);
}
@media screen and (max-width: calc(49.24rem - 1px)) {
  .inner-text-width {
    padding-left: initial;
    padding-right: initial;
  }
  .inner-text-width.padding {
    padding-left: 1.62rem;
    padding-right: 1.62rem;
  }
  .inner-text-width.responsive.padding {
    padding-left: 0.619rem;
    padding-right: 0.619rem;
  }
}
@media screen and (min-width: 49.24rem) {
  .inner-aside-width.tablet.padding {
    padding-left: calc(50% - 12.38rem);
    padding-right: calc(50% - 12.38rem);
  }
  .inner-aside-width.tablet.responsive.padding {
    padding-left: calc(50% - 13rem);
    padding-right: calc(50% - 13rem);
  }
  .inner-text-width {
    padding-left: calc(50% - 23rem);
    padding-right: calc(50% - 23rem);
  }
  .inner-text-width.padding {
    padding-left: calc(50% - 21.38rem);
    padding-right: calc(50% - 21.38rem);
  }
  .inner-text-width.responsive.padding {
    padding-left: calc(50% - 22rem);
    padding-right: calc(50% - 22rem);
  }
}
@media screen and (min-width: 74rem) {
  .inner-aside-width.desktop.padding {
    padding-left: calc(50% - 12.38rem);
    padding-right: calc(50% - 12.38rem);
  }
  .inner-aside-width.desktop.responsive.padding {
    padding-left: calc(50% - 12.38rem);
    padding-right: calc(50% - 12.38rem);
  }
  .inner-text-width.desktop.padding {
    padding-left: calc(50% - 21.38rem);
    padding-right: calc(50% - 21.38rem);
  }
  .inner-text-width.desktop.responsive.padding {
    padding-left: calc(50% - 21.38rem);
    padding-right: calc(50% - 21.38rem);
  }
  .inner-page-width {
    padding-left: calc(50% - 37rem);
    padding-right: calc(50% - 37rem);
  }
  .inner-page-width.padding {
    padding-left: calc(50% - 35.38rem);
    padding-right: calc(50% - 35.38rem);
  }
  .inner-page-width.responsive.padding {
    padding-left: calc(50% - 35.38rem);
    padding-right: calc(50% - 35.38rem);
  }
}
.texture,
.pattern {
  background-position: top center;
}
.texture {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20width%3D'34'%20height%3D'17'%20viewBox%3D'0%200%203.175%201.588'%3E%3Cg%20fill%3D'%23fef0fc'%20fill-opacity%3D'0.05'%3E%3Ccircle%20cx%3D'.397'%20cy%3D'.397'%20r%3D'.397'/%3E%3Ccircle%20r%3D'.397'%20cy%3D'.397'%20cx%3D'1.191'/%3E%3Ccircle%20r%3D'.397'%20cy%3D'.397'%20cx%3D'1.984'/%3E%3Ccircle%20cx%3D'2.778'%20cy%3D'.397'%20r%3D'.397'/%3E%3Ccircle%20r%3D'.397'%20cy%3D'1.191'/%3E%3Ccircle%20cx%3D'.794'%20cy%3D'1.191'%20r%3D'.397'/%3E%3Ccircle%20cx%3D'1.587'%20cy%3D'1.191'%20r%3D'.397'/%3E%3Ccircle%20r%3D'.397'%20cy%3D'1.191'%20cx%3D'2.381'/%3E%3Ccircle%20cx%3D'3.175'%20cy%3D'1.191'%20r%3D'.397'/%3E%3C/g%3E%3C/svg%3E");
}
.pattern {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20width%3D'80'%20height%3D'50'%20viewBox%3D'0%200%2021.167%2013.229'%3E%3Cpath%20opacity%3D'0.05'%20fill%3D'%23fef0fc'%20d%3D'M0%200h10.583v13.229H0z'/%3E%3C/svg%3E");
}
.placeholder::before {
  content: " ";
  white-space: pre;
}
.placeholder::after {
  content: "";
}
.placeholder.image,
.placeholder.video,
.placeholder.avatar {
  position: relative;
}
.placeholder.image::before,
.placeholder.video::before,
.placeholder.avatar::before {
  position: absolute;
  top: calc(50% - 4rem);
  right: 0;
  bottom: 0;
  left: 0;
  display: inline-block;
  text-align: center;
  font-size: 4rem;
  vertical-align: middle;
}
.placeholder.image.small::before,
.placeholder.video.small::before,
.placeholder.avatar.small::before {
  top: calc(50% - 2rem);
  font-size: 2rem;
}
.placeholder.image.big::before,
.placeholder.video.big::before,
.placeholder.avatar.big::before {
  top: calc(50% - 6rem);
  font-size: 6rem;
}
.placeholder.image.huge::before,
.placeholder.video.huge::before,
.placeholder.avatar.huge::before {
  top: calc(50% - 8rem);
  font-size: 8rem;
}
.placeholder.image::after,
.placeholder.video::after,
.placeholder.avatar::after {
  display: block;
}
.placeholder.image::before {
  content: "\1f5bc";
}
.placeholder.image::after {
  padding-top: 75%;
}
.placeholder.video::before {
  content: "\25B6";
}
.placeholder.video::after {
  padding-top: 56.25%;
}
.placeholder.avatar::before {
  content: "\263A";
}
.placeholder.avatar::after {
  padding-top: 100%;
}
.placeholder.no-icon::before {
  content: "";
}
.hide {
  display: none;
}
.hide.tablet {
  display: initial;
}
.hide.desktop {
  display: initial;
}
@media screen and (max-width: calc(49.24rem - 1px)) {
  .hide.mobile {
    display: none;
  }
}
@media screen and (min-width: 49.24rem) {
  .hide.mobile {
    display: initial;
  }
  .hide.tablet {
    display: none;
  }
}
@media screen and (min-width: 74rem) {
  .hide.desktop {
    display: none;
  }
  .hide.mobile.tablet {
    display: initial;
  }
}
@media screen and (max-width: calc(74rem - 1px)) {
  .hide.mobile.tablet {
    display: none;
  }
}
body {
  font-size: 17px;
  line-height: 1.8;
  margin: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
nav {
  z-index: 99;
}
nav a {
  text-decoration: none;
}
aside {
  margin: 0 auto;
  margin-bottom: 1.62rem;
  max-width: 28rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-top: 0.49443758em;
  margin-bottom: 0.74165637em;
  letter-spacing: -0.025em;
  color: inherit;
  line-height: 1.618;
}
h1 {
  font-size: 2.4em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1em;
}
p {
  margin-bottom: 1em;
}
p.gutter-bottom {
  margin-bottom: 1.618em;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: inherit;
  text-decoration: underline;
}
a.target-blank::after,
a.new-tab::after,
a.external-link::after {
  content: "\00A0\1F855";
}
form {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input {
  font-size: 17px;
  line-height: 1.8;
  border: 1px solid #ab4695;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input:focus {
  box-shadow: 0 0 2px #8aa1df;
}
fieldset {
  border: none;
  outline: none;
}
ol {
  padding-left: 4ch;
  margin-bottom: 1.62rem;
}
ol li {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
ul {
  margin-left: 1.62rem;
  margin-bottom: 1.62rem;
}
li {
  margin-bottom: 0.44em;
}
kbd {
  color: #fef0fc;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  white-space: nowrap;
}
b {
  padding: 0.18em 0 0.22em 0;
}
pre {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  overflow: hidden;
  border-radius: 0.5em;
  background: #40303b;
  color: #fef0fc;
}
pre.white-space,
pre.word-break {
  white-space: pre-wrap;
}
pre > code {
  background: transparent;
  padding: 0;
}
code {
  color: #fef0fc;
  background-color: #352b59;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
code.terminal::before {
  content: "$ ";
}
textarea {
  font-size: 17px;
  line-height: 1.8;
  border: 1px solid #ab4695;
  border-radius: 0.5em;
  margin-bottom: 1.62rem;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
textarea:focus {
  box-shadow: 0 0 2px #8aa1df;
}
.white,
body,
input,
textarea {
  background-color: #fef0fc;
  border-color: #897887;
}
.black {
  background-color: #270121;
  border-color: #130011;
}
.ambient {
  color: #fef0fc;
  background: #f206cf;
  border-color: #840370;
}
.ambient.light {
  color: #fef0fc;
  background: #fa27da;
  border-color: #871476;
}
.ambient.dark {
  color: #fef0fc;
  background: #cb05ad;
  border-color: #70035f;
}
.red,
.failure {
  background-color: #e3011a;
  border-color: #7c000e;
}
.light.red,
.light.failure {
  background-color: #fe0d28;
  border-color: #8a0715;
}
.dark.red,
.dark.failure {
  background-color: #ba0015;
  border-color: #67000c;
}
.orange,
.warning {
  background-color: #f88719;
  border-color: #86490d;
}
.light.orange,
.light.warning {
  background-color: #f99c41;
  border-color: #875321;
}
.dark.orange,
.dark.warning {
  background-color: #e27307;
  border-color: #7b3f04;
}
.yellow {
  background-color: #f1ca1a;
  border-color: #826d0d;
}
.light.yellow {
  background-color: #f3d340;
  border-color: #847221;
}
.dark.yellow {
  background-color: #d4b00d;
  border-color: #746107;
}
.olive {
  background-color: #946e1a;
  border-color: #533e0e;
}
.light.olive {
  background-color: #b68720;
  border-color: #654b11;
}
.dark.olive {
  background-color: #715414;
  border-color: #42310b;
}
.green,
.success {
  background-color: #256d1a;
  border-color: #15400e;
}
.light.green,
.light.success {
  background-color: #308e22;
  border-color: #1b5012;
}
.dark.green,
.dark.success {
  background-color: #1a4c12;
  border-color: #102f0b;
}
.teal {
  background-color: #256e8e;
  border-color: #143e50;
}
.light.teal {
  background-color: #2e87ae;
  border-color: #194a60;
}
.dark.teal {
  background-color: #1d556e;
  border-color: #103140;
}
.cyan {
  background-color: #38b7f1;
  border-color: #1d6282;
}
.light.cyan {
  background-color: #5ec5f4;
  border-color: #306984;
}
.dark.cyan {
  background-color: #12a9ee;
  border-color: #0a5c81;
}
.skyblue,
.info {
  background-color: #8aa1df;
  border-color: #475478;
}
.light.skyblue,
.light.info {
  background-color: #aabbe8;
  border-color: #57617d;
}
.dark.skyblue,
.dark.info {
  background-color: #6b87d6;
  border-color: #374774;
}
.blue {
  background-color: #2500f0;
  border-color: #140083;
}
.light.blue {
  background-color: #3d1aff;
  border-color: #200d8a;
}
.dark.blue {
  background-color: #1f00c7;
  border-color: #11006e;
}
.indigo {
  background-color: #65008f;
  border-color: #3a0052;
}
.light.indigo {
  background-color: #8201b8;
  border-color: #490066;
}
.dark.indigo {
  background-color: #490066;
  border-color: #2c003e;
}
.purple {
  background-color: #94018f;
  border-color: #550151;
}
.light.purple {
  background-color: #bd01b6;
  border-color: #690165;
}
.dark.purple {
  background-color: #6c0168;
  border-color: #40003e;
}
.violet {
  background-color: #e361e1;
  border-color: #7b327a;
}
.light.violet {
  background-color: #e983e8;
  border-color: #7e437d;
}
.dark.violet {
  background-color: #dd3edb;
  border-color: #782077;
}
.gray {
  background-color: #8d6483;
  border-color: #4e3548;
}
.light.gray {
  background-color: #a07997;
  border-color: #574052;
}
.dark.gray {
  background-color: #75536d;
  border-color: #422d3d;
}
.brown {
  background-color: #a04834;
  border-color: #59271c;
}
.light.brown {
  background-color: #bf563e;
  border-color: #682e21;
}
.dark.brown {
  background-color: #813a2a;
  border-color: #492017;
}
.magenta {
  background-color: #d801d5;
  border-color: #770075;
}
.light.magenta {
  background-color: #fe03fa;
  border-color: #8a0287;
}
.dark.magenta {
  background-color: #af01ad;
  border-color: #620061;
}
.lavender {
  background-color: #caa9de;
  border-color: #6b5777;
}
.light.lavender {
  background-color: #dcc7e9;
  border-color: #74667d;
}
.dark.lavender {
  background-color: #b88cd2;
  border-color: #624871;
}
.cream {
  background-color: #ebd9ce;
  border-color: #7e7169;
}
.light.cream {
  background-color: #f7efeb;
  border-color: #847c78;
}
.dark.cream {
  background-color: #dfc2b1;
  border-color: #78665b;
}
.charcoal {
  background-color: #652c3f;
  border-color: #3b1824;
}
.light.charcoal {
  background-color: #823851;
  border-color: #491e2d;
}
.dark.charcoal {
  background-color: #491f2e;
  border-color: #2d121b;
}
.crimson {
  background-color: #b10927;
  border-color: #630516;
}
.light.crimson {
  background-color: #d80b30;
  border-color: #76061a;
}
.dark.crimson {
  background-color: #8a071f;
  border-color: #4f0412;
}
.clover {
  background-color: #588c2c;
  border-color: #314f18;
}
.light.clover {
  background-color: #6bab36;
  border-color: #3b5e1d;
}
.dark.clover {
  background-color: #446d22;
  border-color: #273f13;
}
.cobalt {
  background-color: #336acd;
  border-color: #1b3970;
}
.light.cobalt {
  background-color: #5482d5;
  border-color: #2c4574;
}
.dark.cobalt {
  background-color: #2a59ad;
  border-color: #173160;
}
.graphite {
  background-color: #352b59;
  border-color: #1e1835;
}
.light.graphite {
  background-color: #453875;
  border-color: #261f42;
}
.dark.graphite {
  background-color: #241e3e;
  border-color: #161227;
}
.ruby {
  background-color: #b5004a;
  border-color: #650029;
}
.light.ruby {
  background-color: #de005b;
  border-color: #7a0032;
}
.dark.ruby {
  background-color: #8d0039;
  border-color: #510021;
}
.onyx {
  background-color: #40303b;
  border-color: #271c23;
}
.light.onyx {
  background-color: #574250;
  border-color: #33242e;
}
.dark.onyx {
  background-color: #291f25;
  border-color: #1b1319;
}
.pewter {
  background-color: #a18f88;
  border-color: #584c48;
}
.light.pewter {
  background-color: #b3a49f;
  border-color: #615753;
}
.dark.pewter {
  background-color: #8f7971;
  border-color: #4f413c;
}
.gunmetal {
  background-color: #594674;
  border-color: #312642;
}
.light.gunmetal {
  background-color: #6d558e;
  border-color: #3b2e4e;
}
.dark.gunmetal {
  background-color: #46375b;
  border-color: #281e35;
}
.hotpink {
  background-color: #e84ea2;
  border-color: #7e2857;
}
.light.hotpink {
  background-color: #ec72b5;
  border-color: #803a60;
}
.dark.hotpink {
  background-color: #e32a8f;
  border-color: #7b164d;
}
.neongreen {
  background-color: #40d51c;
  border-color: #23740f;
}
.light.neongreen {
  background-color: #57e535;
  border-color: #2e7c1b;
}
.dark.neongreen {
  background-color: #35b117;
  border-color: #1d620c;
}
.electricblue {
  background-color: #3ea2d7;
  border-color: #215875;
}
.light.electricblue {
  background-color: #60b2de;
  border-color: #316078;
}
.dark.electricblue {
  background-color: #298ec4;
  border-color: #164e6b;
}
.royalpurple {
  background-color: #682992;
  border-color: #3a1752;
}
.light.royalpurple {
  background-color: #7e32b2;
  border-color: #451b62;
}
.dark.royalpurple {
  background-color: #512072;
  border-color: #2f1242;
}
.lemon {
  background-color: #f7e394;
  border-color: #867a4b;
}
.light.lemon {
  background-color: #faedba;
  border-color: #877f5e;
}
.dark.lemon {
  background-color: #f4d96e;
  border-color: #847538;
}
.lime {
  background-color: #a0c192;
  border-color: #54684c;
}
.light.lime {
  background-color: #b7d0ac;
  border-color: #606f59;
}
.dark.lime {
  background-color: #89b278;
  border-color: #49613f;
}
.tangerine {
  background-color: #f09757;
  border-color: #82502c;
}
.light.tangerine {
  background-color: #f3ae7d;
  border-color: #835c3f;
}
.dark.tangerine {
  background-color: #ec8032;
  border-color: #80441a;
}
.grapefruit {
  background-color: #d02657;
  border-color: #71142f;
}
.light.grapefruit {
  background-color: #dd426f;
  border-color: #78223b;
}
.dark.grapefruit {
  background-color: #ad2049;
  border-color: #601128;
}
.action,
.base-color {
  color: #fef0fc;
  background: #be0e8d;
  border-color: #69084e;
}
.action.light,
.base-color.light {
  color: #fef0fc;
  background: #e411a9;
  border-color: #7c095c;
}
.action.dark,
.base-color.dark {
  color: #fef0fc;
  background: #980b71;
  border-color: #560640;
}
.reaction {
  background-color: #2d6b3f;
  border-color: #193e24;
}
.light.reaction {
  background-color: #398850;
  border-color: #1f4c2c;
}
.dark.reaction {
  background-color: #214e2e;
  border-color: #132f1b;
}
.default {
  background-color: #ab4695;
  border-color: #5e2652;
}
.light.default {
  background-color: #bd5ea8;
  border-color: #67315b;
}
.dark.default {
  background-color: #8e3b7c;
  border-color: #4f2045;
}
.warm {
  background-color: #dc7c3e;
  border-color: #784320;
}
.light.warm {
  background-color: #e39461;
  border-color: #7b4e32;
}
.dark.warm {
  background-color: #cd6725;
  border-color: #703814;
}
.cool {
  background-color: #5d6dd8;
  border-color: #303975;
}
.light.cool {
  background-color: #7e8be0;
  border-color: #404879;
}
.dark.cool {
  background-color: #3c50d1;
  border-color: #1f2b71;
}
.neutral {
  background-color: #625f46;
  border-color: #383726;
}
.light.neutral {
  background-color: #7a7757;
  border-color: #44422f;
}
.dark.neutral {
  background-color: #4a4835;
  border-color: #2d2b1e;
}
.complement,
.second.triad {
  background-color: #2e7b45;
  border-color: #194626;
}
.light.complement,
.light.second.triad {
  background-color: #399955;
  border-color: #1f552f;
}
.dark.complement,
.dark.second.triad {
  background-color: #235d34;
  border-color: #14371e;
}
.accent {
  background-color: #b90943;
  border-color: #670525;
}
.light.accent {
  background-color: #e00b51;
  border-color: #7a062c;
}
.dark.accent {
  background-color: #920735;
  border-color: #53041e;
}
.second.accent {
  background-color: #9a09b6;
  border-color: #560565;
}
.light.second.accent {
  background-color: #bb0bdd;
  border-color: #660678;
}
.dark.second.accent {
  background-color: #79078f;
  border-color: #450452;
}
.split {
  background-color: #ac6a24;
  border-color: #5f3b13;
}
.light.split {
  background-color: #ce7f2b;
  border-color: #704517;
}
.dark.split {
  background-color: #8a561d;
  border-color: #4e3010;
}
.second.split {
  background-color: #2f25a8;
  border-color: #19145d;
}
.light.second.split {
  background-color: #382dc9;
  border-color: #1e186e;
}
.dark.second.split {
  background-color: #251e86;
  border-color: #15104c;
}
.triad {
  background-color: #ac2c24;
  border-color: #5f1813;
}
.light.triad {
  background-color: #ce352b;
  border-color: #701c17;
}
.dark.triad {
  background-color: #8a241d;
  border-color: #4e1410;
}
.third.triad {
  background-color: #520aa8;
  border-color: #2e055e;
}
.light.third.triad {
  background-color: #640cce;
  border-color: #370771;
}
.dark.third.triad {
  background-color: #3f0881;
  border-color: #24044b;
}
.tetrad {
  background-color: #ac0d24;
  border-color: #600714;
}
.light.tetrad {
  background-color: #d2102c;
  border-color: #730918;
}
.dark.tetrad {
  background-color: #860a1c;
  border-color: #4d0610;
}
.second.tetrad {
  background-color: #6a8624;
  border-color: #3c4c14;
}
.light.second.tetrad {
  background-color: #83a62c;
  border-color: #495c18;
}
.dark.second.tetrad {
  background-color: #50661b;
  border-color: #2f3c0f;
}
.third.tetrad {
  background-color: #2f82a8;
  border-color: #19485d;
}
.light.third.tetrad {
  background-color: #389bc7;
  border-color: #1e546d;
}
.dark.third.tetrad {
  background-color: #266a88;
  border-color: #153b4d;
}
.fourth.tetrad {
  background-color: #710aa8;
  border-color: #3f055e;
}
.light.fourth.tetrad {
  background-color: #8b0cce;
  border-color: #4c0771;
}
.dark.fourth.tetrad {
  background-color: #570881;
  border-color: #32044b;
}
.highlight {
  background-color: #ec02e8;
  border-color: #81017e;
}
.light.highlight {
  background-color: #fd1af9;
  border-color: #890d87;
}
.dark.highlight {
  background-color: #c401c0;
  border-color: #6c016a;
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-margin-right {
  margin-right: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.no-margin-left {
  margin-left: 0 !important;
}
.no-padding {
  padding: 0;
}
.no-margin,
.no-gutter {
  margin: 0;
}
.no-side-margin,
.no-side-margins {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.no-margins {
  margin: 0 !important;
}
.no-margins * {
  margin: 0 !important;
}
.no-box-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  box-shadow: unset;
}
.no-text-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  text-shadow: unset;
}
.no-border,
.no-borders,
.no-borders * {
  border-width: 0 !important;
}
.no-background {
  background: transparent;
}
.no-text-indent {
  text-indent: 0;
}
.no-text-align {
  text-align: initial;
}
.no-user-select {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.no-pointer-events {
  pointer-events: none;
}
.no-list-style {
  list-style-type: none;
  margin-left: 0;
}
.no-grid-gap,
.no-column-gap {
  grid-gap: 0;
  column-gap: 0;
}
@media print {
  html {
    font-size: 62.5%;
  }
  * {
    box-shadow: unset !important;
    border: unset !important;
  }
  nav {
    display: none !important;
  }
  .page-width,
  .text-width,
  .container {
    all: unset;
  }
  .inner-page-width,
  .inner-text-width,
  .inner-aside-width {
    all: unset;
  }
}
