/* This project uses Cavepaint (MIT License) by Rex Riepe */
/* https://github.com/cavepaint/cavepaintCSS */
* {
  margin: 0 0 1.62rem 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  margin-bottom: 0;
}
.button,
button {
  border-style: solid;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(31, 10, 41, 0.16);
  display: inline;
  position: relative;
  font-family: inherit;
  font-size: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  color: inherit;
  background-color: inherit;
  border-color: #478632;
  border-width: 1px;
  line-height: 1.6;
  text-align: center;
  vertical-align: middle;
  outline: none;
  white-space: nowrap;
  text-decoration: none;
  touch-action: manipulation;
  cursor: pointer;
  transform: scale(1);
  transition: 0.08s linear;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.button:active,
button:active {
  transform: scale(0.99);
  box-shadow: unset;
}
.bar {
  position: relative;
  width: 100%;
  display: block;
  vertical-align: middle;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.bar > * {
  display: inline;
  margin-right: 0.3236em;
  margin-left: 0.3236em;
  margin-bottom: 0;
}
.card {
  position: relative;
  overflow: hidden;
  padding: 1.62rem;
  border: 1px solid #69bd4d;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(31, 10, 41, 0.16);
}
.card > *:first-child {
  margin-top: 0;
}
.card > *:last-child {
  margin-bottom: 0;
}
.badge {
  border-radius: 0.5em;
  line-height: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  padding-right: 0.6472em;
  padding-left: 0.6472em;
  vertical-align: middle;
  border-radius: 99px;
  white-space: nowrap;
}
.modal {
  display: none;
  max-width: none;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  position: fixed;
  bottom: 0;
  justify-content: center;
  flex: 0 1 auto;
  flex-direction: column;
  height: 100vh;
}
.modal > * {
  flex-direction: column;
  color: #14290a;
  position: relative;
  background: #f7fff3;
  padding: 1.62rem;
  margin-bottom: 3.24rem;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(31, 10, 41, 0.16);
  margin: 1.62rem;
}
@media screen and (min-width: 36.24rem) {
  .modal > * {
    max-width: 53rem;
    margin: 0 auto;
  }
}
.overlay {
  margin: 0;
  padding: 0;
  position: relative;
}
.overlay .top,
.overlay .bottom,
.overlay .left,
.overlay .right {
  position: absolute;
}
.overlay .top {
  top: 0.3236em;
}
.overlay .bottom {
  bottom: 0.3236em;
}
.overlay .left {
  left: 0.3236em;
}
.overlay .right {
  right: 0.3236em;
}
.overlay.stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.overlay * {
  margin: 0;
  display: block;
}
.grid,
.two-column,
.three-column {
  display: grid;
  grid-gap: 1.62rem;
}
.grid.tablet,
.two-column.tablet,
.three-column.tablet,
.grid.mobile.tablet,
.two-column.mobile.tablet,
.three-column.mobile.tablet,
.grid.desktop,
.two-column.desktop,
.three-column.desktop {
  display: initial;
}
.grid {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.two-column {
  grid-template-columns: 1fr 1fr;
}
.two-column.golden {
  grid-template-columns: 1.618fr 1fr;
}
.two-column.golden.reverse {
  grid-template-columns: 1fr 1.618fr;
}
.three-column {
  grid-template-columns: 1fr 1fr 1fr;
}
.three-column.golden {
  grid-template-columns: 1fr 1.618fr 1fr;
}
.three-column.golden.leading {
  grid-template-columns: 1.618fr 1fr 1fr;
}
.three-column.golden.trailing {
  grid-template-columns: 1fr 1fr 1.618fr;
}
.grid-width-one {
  grid-column: auto / span 1;
}
.grid-width-two {
  grid-column: auto / span 2;
}
.grid-width-three {
  grid-column: auto / span 3;
}
.grid-width-four {
  grid-column: auto / span 4;
}
.grid-width-five {
  grid-column: auto / span 5;
}
.grid-width-six {
  grid-column: auto / span 6;
}
.grid-width-seven {
  grid-column: auto / span 7;
}
.grid-width-eight {
  grid-column: auto / span 8;
}
.grid-width-nine {
  grid-column: auto / span 9;
}
.grid-width-ten {
  grid-column: auto / span 10;
}
.grid-width-eleven {
  grid-column: auto / span 11;
}
.grid-width-twelve {
  grid-column: auto / span 12;
}
@media screen and (max-width: calc(36.24rem - 1px)) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: grid;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 36.24rem) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: initial;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: initial;
  }
  .grid.tablet,
  .two-column.tablet,
  .three-column.tablet {
    display: grid;
  }
  .grid.tablet > *,
  .two-column.tablet > *,
  .three-column.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (max-width: calc(53rem - 1px)) {
  .grid.mobile.tablet,
  .two-column.mobile.tablet,
  .three-column.mobile.tablet {
    display: grid;
  }
  .grid.mobile.tablet > *,
  .two-column.mobile.tablet > *,
  .three-column.mobile.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 53rem) {
  .grid.desktop,
  .two-column.desktop,
  .three-column.desktop {
    display: grid;
  }
  .grid.desktop > *,
  .two-column.desktop > *,
  .three-column.desktop > * {
    margin-bottom: 0;
  }
}
.responsive {
  column-gap: 0.619rem;
  grid-gap: 0.619rem;
}
.responsive.padding,
.modal,
.container {
  padding: 0.619rem;
}
.responsive.margin,
.container {
  margin: 0.619rem;
}
.responsive.gutter {
  margin: 1.238rem;
}
@media screen and (min-width: 36.24rem) {
  .responsive {
    column-gap: 1.001rem;
    grid-gap: 1.001rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.001rem;
  }
  .responsive.margin,
  .container {
    margin: 1.001rem;
  }
  .responsive.gutter {
    margin: 2.002rem;
  }
}
@media screen and (min-width: 53rem) {
  .responsive {
    column-gap: 1.62rem;
    grid-gap: 1.62rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.62rem;
  }
  .responsive.margin,
  .container {
    margin: 1.62rem;
  }
  .responsive.gutter {
    margin: 3.24rem;
  }
}
.background {
  background: #f7fff3;
}
.background-color {
  background-color: #f7fff3;
}
.border {
  border: 1px solid #69bd4d;
}
.border-radius,
.rounded {
  border-radius: 0.5em;
}
.border-bottom {
  border-bottom: 1px solid #69bd4d;
}
.border-left {
  border-left: 1px solid #69bd4d;
}
.border-right {
  border-right: 1px solid #69bd4d;
}
.border-style,
.button.border,
button.border {
  border-style: solid;
}
.border-top {
  border-top: 1px solid #69bd4d;
}
.border-width,
.button.border,
button.border {
  border-width: 1px;
}
.max-width {
  max-width: 53rem;
}
.min-width {
  min-width: 20rem;
}
.align-content {
  align-content: stretch;
}
.align-items {
  align-items: stretch;
}
.align-self {
  align-self: auto;
}
.flex,
.vertical-center,
.center-vertical {
  flex: 0 1 auto;
}
.flex-basis {
  flex-basis: auto;
}
.flex-direction,
.vertical-center,
.center-vertical {
  flex-direction: column;
}
.flex-flow {
  flex-flow: column nowrap;
}
.flex-grow {
  flex-grow: 0;
}
.flex-shrink {
  flex-shrink: 1;
}
.flex-wrap {
  flex-wrap: nowrap;
}
.justify-content,
.vertical-center,
.center-vertical {
  justify-content: center;
}
.font-family,
body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.font-size {
  font-size: 20px;
}
.font-weight {
  font-weight: normal;
}
.list-style {
  list-style: disc inside none;
}
.list-style-type {
  list-style-type: disc;
}
.margin {
  margin: 1.62rem;
}
.margin-bottom {
  margin-bottom: 1.62rem;
}
.margin-left {
  margin-left: 1.62rem;
}
.margin-right {
  margin-right: 1.62rem;
}
.margin-top {
  margin-top: 1.62rem;
}
.column-gap {
  column-gap: 1.94em;
}
.column-rule {
  column-rule: 1px solid #69bd4d;
}
.padding {
  padding: 1.62rem;
}
.padding-bottom {
  padding-bottom: 1.62rem;
}
.padding-left {
  padding-left: 1.62rem;
}
.padding-right {
  padding-right: 1.62rem;
}
.padding-top {
  padding-top: 1.62rem;
}
.text-align {
  text-align: left;
}
.text-align-last {
  text-align-last: left;
}
.text-indent {
  text-indent: 2ch;
}
.text-justify {
  text-justify: justify;
}
.text-overflow {
  text-overflow: hidden;
}
.text-shadow {
  text-shadow: 1.41px 1.41px 1.41px rgba(31, 10, 41, 0.16);
}
.line-height {
  line-height: 1.8;
}
.vertical-align {
  vertical-align: middle;
}
.letter-spacing {
  letter-spacing: 0;
}
.word-spacing {
  word-spacing: normal;
}
.white-space {
  white-space: nowrap;
}
.word-break {
  word-break: break-all;
}
.word-wrap {
  word-wrap: break-word;
}
.transform {
  transform: none;
}
.transition {
  transition: all 0s ease 0s;
}
.display {
  display: block;
}
.position {
  position: absolute;
}
.top {
  top: 0;
}
.right {
  right: 0;
}
.bottom {
  bottom: 0;
}
.left {
  left: 0;
}
.float {
  float: left;
}
.clear {
  clear: both;
}
.z-index {
  z-index: 10;
}
.overflow {
  overflow: hidden;
}
.overflow-x {
  overflow-x: hidden;
}
.cursor {
  cursor: pointer;
}
.box-shadow {
  box-shadow: 1.41px 1.41px 1.41px rgba(31, 10, 41, 0.16);
}
.gutter {
  margin: 3.24rem;
}
.gutter-top {
  margin-top: 3.24rem;
}
.gutter-right {
  margin-right: 3.24rem;
}
.gutter-bottom {
  margin-bottom: 3.24rem;
}
.gutter-left {
  margin-left: 3.24rem;
}
.text-padding {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-padding-top {
  padding-top: 0.18em;
}
.text-padding-right {
  padding-right: 0.3236em;
}
.text-padding-bottom {
  padding-bottom: 0.22em;
}
.text-padding-left {
  padding-left: 0.3236em;
}
.text-margin {
  margin: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-margin-top {
  margin-top: 0.18em;
}
.text-margin-right {
  margin-right: 0.3236em;
}
.text-margin-bottom {
  margin-bottom: 0.22em;
}
.text-margin-left {
  margin-left: 0.3236em;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.initial {
  display: initial;
}
.table {
  display: table;
}
.flex,
.vertical-center,
.center-vertical {
  display: flex;
}
.inline-block {
  display: inline-block;
}
.static {
  position: static;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.margin-auto,
.container {
  margin-left: auto;
  margin-right: auto;
}
.width-auto {
  width: auto;
}
.inset {
  box-shadow: inset 1.41px 1.41px 1.41px rgba(31, 10, 41, 0.16);
}
.viewport-height {
  height: 100vh;
}
.min-viewport-height {
  min-height: 100vh;
}
.overflow-hidden {
  overflow: hidden;
}
.dashed {
  border-style: dashed;
}
.dotted {
  border-style: dotted;
}
.thick {
  border-width: 2px;
}
.thin {
  border-width: 0.5px;
}
.current-color {
  border-color: currentColor;
}
.fade {
  opacity: 0.65;
}
.serif,
.font-family-serif {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "Droid Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
.monospace,
.font-family-monospace,
pre,
code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
}
.sans-serif,
.font-family-sans-serif {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.text-transparent {
  color: transparent;
}
.reset {
  all: initial;
}
.big {
  font-size: 125%;
  line-height: 2.25;
}
.big.font-size {
  font-size: 25px;
}
.small,
.badge {
  font-size: 87.5%;
  line-height: 1.575;
}
.small.font-size {
  font-size: 17.5px;
}
.huge {
  font-size: 160%;
}
.huge.font-size {
  font-size: 32px;
}
.text-trim {
  line-height: 1;
}
.text-align-center,
.text-center {
  text-align: center;
}
.text-align-left,
.text-left {
  text-align: left;
}
.text-align-right,
.text-right {
  text-align: right;
}
.text-align-justify,
.text-justify {
  text-align: justify;
}
.grid-gap-margin {
  grid-gap: 1.62rem;
}
.grid-gap-border-width {
  grid-gap: 1px;
}
.grid-gap-text-padding,
.grid-gap-text-margin {
  grid-gap: 0.3236em;
}
.shade,
.white,
.orange,
.yellow,
.olive,
.green,
.teal,
.cyan,
.skyblue,
.violet,
.light.gray,
.magenta,
.lavender,
.cream,
.clover,
.light.cobalt,
.pewter,
.hotpink,
.neongreen,
.electricblue,
.lemon,
.lime,
.tangerine,
.light.grapefruit,
.reaction,
.default,
.warm,
.light.cool,
.neutral,
.accent,
.second.accent,
.split,
.second.split,
.triad,
.third.triad,
.tetrad,
.third.tetrad,
.fourth.tetrad,
.highlight,
body,
input,
textarea,
.info,
.warning,
.success {
  color: #14290a;
}
.tint,
.black,
.red,
.dark.olive,
.dark.green,
.dark.teal,
.blue,
.indigo,
.purple,
.gray,
.brown,
.dark.magenta,
.charcoal,
.crimson,
.dark.clover,
.cobalt,
.graphite,
.ruby,
.onyx,
.gunmetal,
.dark.hotpink,
.royalpurple,
.grapefruit,
.dark.reaction,
.dark.default,
.cool,
.dark.neutral,
.complement,
.second.tetrad,
.dark.success,
.failure,
.second.triad {
  color: #f7fff3;
}
.transparent {
  background-color: transparent;
  color: inherit;
  border-color: inherit;
}
.transparent.light {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23FFF%22%20fill-opacity%3D%220.16%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.transparent.dark,
.modal {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23000%22%20fill-opacity%3D%220.25%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.trim,
.trim-inner *,
.trim-all,
.trim-all * {
  margin-bottom: 0;
}
.hidden {
  display: none !important;
}
.clearfix,
.clear {
  clear: both;
}
.clearfix::after,
.clear::after {
  display: block;
  clear: both;
  content: "";
}
.golden-width {
  max-width: calc(62% - 3.24rem);
}
.golden-width.reverse {
  max-width: 38%;
}
.aside-width {
  max-width: 20rem;
}
@media screen and (min-width: 36.24rem) {
  .text-width {
    max-width: 33rem;
  }
}
.page-width,
.container {
  max-width: 53rem;
}
.full-width,
.aside-width .aside-width,
.text-width .text-width,
.page-width .page-width {
  display: block;
  width: 100%;
}
.inner-aside-width {
  padding-left: calc(50% - 10rem);
  padding-right: calc(50% - 10rem);
}
.inner-aside-width.padding {
  padding-left: calc(50% - 8.38rem);
  padding-right: calc(50% - 8.38rem);
}
.inner-aside-width.responsive.padding {
  padding-left: calc(50% - 9.38rem);
  padding-right: calc(50% - 9.38rem);
}
@media screen and (max-width: calc(36.24rem - 1px)) {
  .inner-text-width {
    padding-left: initial;
    padding-right: initial;
  }
  .inner-text-width.padding {
    padding-left: 1.62rem;
    padding-right: 1.62rem;
  }
  .inner-text-width.responsive.padding {
    padding-left: 0.619rem;
    padding-right: 0.619rem;
  }
}
@media screen and (min-width: 36.24rem) {
  .inner-aside-width.tablet.padding {
    padding-left: calc(50% - 8.38rem);
    padding-right: calc(50% - 8.38rem);
  }
  .inner-aside-width.tablet.responsive.padding {
    padding-left: calc(50% - 9rem);
    padding-right: calc(50% - 9rem);
  }
  .inner-text-width {
    padding-left: calc(50% - 16.5rem);
    padding-right: calc(50% - 16.5rem);
  }
  .inner-text-width.padding {
    padding-left: calc(50% - 14.88rem);
    padding-right: calc(50% - 14.88rem);
  }
  .inner-text-width.responsive.padding {
    padding-left: calc(50% - 15.5rem);
    padding-right: calc(50% - 15.5rem);
  }
}
@media screen and (min-width: 53rem) {
  .inner-aside-width.desktop.padding {
    padding-left: calc(50% - 8.38rem);
    padding-right: calc(50% - 8.38rem);
  }
  .inner-aside-width.desktop.responsive.padding {
    padding-left: calc(50% - 8.38rem);
    padding-right: calc(50% - 8.38rem);
  }
  .inner-text-width.desktop.padding {
    padding-left: calc(50% - 14.88rem);
    padding-right: calc(50% - 14.88rem);
  }
  .inner-text-width.desktop.responsive.padding {
    padding-left: calc(50% - 14.88rem);
    padding-right: calc(50% - 14.88rem);
  }
  .inner-page-width {
    padding-left: calc(50% - 26.5rem);
    padding-right: calc(50% - 26.5rem);
  }
  .inner-page-width.padding {
    padding-left: calc(50% - 24.88rem);
    padding-right: calc(50% - 24.88rem);
  }
  .inner-page-width.responsive.padding {
    padding-left: calc(50% - 24.88rem);
    padding-right: calc(50% - 24.88rem);
  }
}
.texture,
.pattern {
  background-position: top center;
}
.texture {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20width%3D'80'%20height%3D'48'%3E%3Cpath%20d%3D'M19%200v11H0v26h19v11h2V37h38v11h2V37h19V11H61V0h-2v11H21V0h-2zM1%2013h38v22H1V13zm40%200h38v22H41V13z'%20fill%3D'%23f7fff3'%20fill-opacity%3D'0.05'/%3E%3C/svg%3E");
}
.pattern {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20width%3D'80'%20height%3D'50'%20viewBox%3D'0%200%2021.167%2013.229'%3E%3Cpath%20fill%3D'%2314290a'%20opacity%3D'0.05'%20d%3D'M0%200h21.167v6.615H0z'/%3E%3C/svg%3E");
}
.placeholder::before {
  content: " ";
  white-space: pre;
}
.placeholder::after {
  content: "";
}
.placeholder.image,
.placeholder.video,
.placeholder.avatar {
  position: relative;
}
.placeholder.image::before,
.placeholder.video::before,
.placeholder.avatar::before {
  position: absolute;
  top: calc(50% - 4rem);
  right: 0;
  bottom: 0;
  left: 0;
  display: inline-block;
  text-align: center;
  font-size: 4rem;
  vertical-align: middle;
}
.placeholder.image.small::before,
.placeholder.video.small::before,
.placeholder.avatar.small::before {
  top: calc(50% - 2rem);
  font-size: 2rem;
}
.placeholder.image.big::before,
.placeholder.video.big::before,
.placeholder.avatar.big::before {
  top: calc(50% - 6rem);
  font-size: 6rem;
}
.placeholder.image.huge::before,
.placeholder.video.huge::before,
.placeholder.avatar.huge::before {
  top: calc(50% - 8rem);
  font-size: 8rem;
}
.placeholder.image::after,
.placeholder.video::after,
.placeholder.avatar::after {
  display: block;
}
.placeholder.image::before {
  content: "\1f5bc";
}
.placeholder.image::after {
  padding-top: 75%;
}
.placeholder.video::before {
  content: "\25B6";
}
.placeholder.video::after {
  padding-top: 56.25%;
}
.placeholder.avatar::before {
  content: "\263B";
}
.placeholder.avatar::after {
  padding-top: 100%;
}
.placeholder.no-icon::before {
  content: "";
}
.hide {
  display: none;
}
.hide.tablet {
  display: initial;
}
.hide.desktop {
  display: initial;
}
@media screen and (max-width: calc(36.24rem - 1px)) {
  .hide.mobile {
    display: none;
  }
}
@media screen and (min-width: 36.24rem) {
  .hide.mobile {
    display: initial;
  }
  .hide.tablet {
    display: none;
  }
}
@media screen and (min-width: 53rem) {
  .hide.desktop {
    display: none;
  }
  .hide.mobile.tablet {
    display: initial;
  }
}
@media screen and (max-width: calc(53rem - 1px)) {
  .hide.mobile.tablet {
    display: none;
  }
}
body {
  font-size: 20px;
  line-height: 1.8;
  margin: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
nav {
  z-index: 99;
}
nav a {
  text-decoration: none;
}
aside {
  margin: 0 auto;
  margin-bottom: 1.62rem;
  max-width: 20rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-top: 0.49443758em;
  margin-bottom: 0.74165637em;
  letter-spacing: -0.025em;
  color: inherit;
  line-height: 1.618;
}
h1 {
  font-size: 2.4em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1em;
}
p {
  margin-bottom: 1em;
}
p.gutter-bottom {
  margin-bottom: 1.618em;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: inherit;
  text-decoration: underline;
}
a.target-blank::after,
a.new-tab::after,
a.external-link::after {
  content: "\00A0\1F855";
}
form {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input {
  font-size: 20px;
  line-height: 1.8;
  border: 1px solid #69bd4d;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input:focus {
  box-shadow: 0 0 2px #80d4d7;
}
fieldset {
  border: none;
  outline: none;
}
ol {
  padding-left: 4ch;
  margin-bottom: 1.62rem;
}
ol li {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
ul {
  margin-left: 1.62rem;
  margin-bottom: 1.62rem;
}
li {
  margin-bottom: 0.44em;
}
kbd {
  color: #f7fff3;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  white-space: nowrap;
}
b {
  padding: 0.18em 0 0.22em 0;
}
pre {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  overflow: hidden;
  border-radius: 0.5em;
  background: #3d4538;
  color: #f7fff3;
}
pre.white-space,
pre.word-break {
  white-space: pre-wrap;
}
pre > code {
  background: transparent;
  padding: 0;
}
code {
  color: #f7fff3;
  background-color: #324a5e;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
code.terminal::before {
  content: "$ ";
}
textarea {
  font-size: 20px;
  line-height: 1.8;
  border: 1px solid #69bd4d;
  border-radius: 0.5em;
  margin-bottom: 1.62rem;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
textarea:focus {
  box-shadow: 0 0 2px #80d4d7;
}
.white,
body,
input,
textarea {
  background-color: #f7fff3;
  border-color: #818e7a;
}
.black {
  background-color: #14290a;
  border-color: #0a1405;
}
.ambient {
  color: #14290a;
  background: #7bff3c;
  border-color: #428e1f;
}
.ambient.light {
  color: #14290a;
  background: #96ff65;
  border-color: #508e33;
}
.ambient.dark {
  color: #14290a;
  background: #5fff13;
  border-color: #348e0a;
}
.red,
.failure {
  background-color: #fd3b14;
  border-color: #8c210b;
}
.light.red,
.light.failure {
  background-color: #fd5d3c;
  border-color: #8d311f;
}
.dark.red,
.dark.failure {
  background-color: #e62802;
  border-color: #811702;
}
.orange,
.warning {
  background-color: #fdb505;
  border-color: #8d6503;
}
.light.orange,
.light.warning {
  background-color: #fec12d;
  border-color: #8d6b18;
}
.dark.orange,
.dark.warning {
  background-color: #d89901;
  border-color: #7a5702;
}
.yellow {
  background-color: #fdff0a;
  border-color: #8d8d06;
}
.light.yellow {
  background-color: #fdff33;
  border-color: #8d8e1a;
}
.dark.yellow {
  background-color: #dee000;
  border-color: #7d7e01;
}
.olive {
  background-color: #a5b414;
  border-color: #5e670c;
}
.light.olive {
  background-color: #c6d918;
  border-color: #6f790e;
}
.dark.olive {
  background-color: #838f10;
  border-color: #4d550a;
}
.green,
.success {
  background-color: #10ac0f;
  border-color: #0a6309;
}
.light.green,
.light.success {
  background-color: #14d212;
  border-color: #0c760b;
}
.dark.green,
.dark.success {
  background-color: #0d870c;
  border-color: #085007;
}
.teal {
  background-color: #16b498;
  border-color: #0d6757;
}
.light.teal {
  background-color: #1ad8b6;
  border-color: #0f7966;
}
.dark.teal {
  background-color: #119079;
  border-color: #0a5547;
}
.cyan {
  background-color: #0bffde;
  border-color: #068d7b;
}
.light.cyan {
  background-color: #34ffe3;
  border-color: #1a8e7e;
}
.dark.cyan {
  background-color: #00e1c2;
  border-color: #017e6d;
}
.skyblue,
.info {
  background-color: #80d4d7;
  border-color: #437577;
}
.light.skyblue,
.light.info {
  background-color: #9fdfe1;
  border-color: #537a7c;
}
.dark.skyblue,
.dark.info {
  background-color: #61cacd;
  border-color: #347072;
}
.blue {
  background-color: #0b32e9;
  border-color: #071c82;
}
.light.blue {
  background-color: #284cf5;
  border-color: #152988;
}
.dark.blue {
  background-color: #092ac2;
  border-color: #06186f;
}
.indigo {
  background-color: #613690;
  border-color: #381f53;
}
.light.indigo {
  background-color: #7542ae;
  border-color: #422562;
}
.dark.indigo {
  background-color: #4d2b73;
  border-color: #2e1944;
}
.purple {
  background-color: #b744a9;
  border-color: #67265f;
}
.light.purple {
  background-color: #c460b8;
  border-color: #6d3466;
}
.dark.purple {
  background-color: #9a398e;
  border-color: #582051;
}
.violet {
  background-color: #ec91da;
  border-color: #834b77;
}
.light.violet {
  background-color: #f2b4e6;
  border-color: #865c7d;
}
.dark.violet {
  background-color: #e66ece;
  border-color: #803971;
}
.gray {
  background-color: #889677;
  border-color: #4b5441;
}
.light.gray {
  background-color: #9ca88e;
  border-color: #555d4d;
}
.dark.gray {
  background-color: #738163;
  border-color: #414a37;
}
.brown {
  background-color: #a96734;
  border-color: #603b1d;
}
.light.brown {
  background-color: #c57b40;
  border-color: #6e4423;
}
.dark.brown {
  background-color: #8a542a;
  border-color: #503118;
}
.magenta {
  background-color: #fc57dd;
  border-color: #8c2c7a;
}
.light.magenta {
  background-color: #fd7fe5;
  border-color: #8c407e;
}
.dark.magenta {
  background-color: #fb2fd5;
  border-color: #8b1876;
}
.lavender {
  background-color: #d1c5e1;
  border-color: #70677b;
}
.light.lavender {
  background-color: #e6e0ef;
  border-color: #7a7482;
}
.dark.lavender {
  background-color: #bcaad3;
  border-color: #655974;
}
.cream {
  background-color: #f8facb;
  border-color: #898a67;
}
.light.cream {
  background-color: #fdfdf0;
  border-color: #8b8c7a;
}
.dark.cream {
  background-color: #f4f6a6;
  border-color: #878855;
}
.charcoal {
  background-color: #5b5f32;
  border-color: #373a1e;
}
.light.charcoal {
  background-color: #757a40;
  border-color: #444725;
}
.dark.charcoal {
  background-color: #424524;
  border-color: #2b2d17;
}
.crimson {
  background-color: #bf2829;
  border-color: #6c1717;
}
.light.crimson {
  background-color: #d63a3b;
  border-color: #772020;
}
.dark.crimson {
  background-color: #9d2122;
  border-color: #5b1313;
}
.clover {
  background-color: #4ec922;
  border-color: #2c7113;
}
.light.clover {
  background-color: #62dd37;
  border-color: #367b1e;
}
.dark.clover {
  background-color: #40a61c;
  border-color: #255f10;
}
.cobalt {
  background-color: #318cd5;
  border-color: #1b4e77;
}
.light.cobalt {
  background-color: #539fdc;
  border-color: #2c577a;
}
.dark.cobalt {
  background-color: #2676b7;
  border-color: #154368;
}
.graphite {
  background-color: #324a5e;
  border-color: #1d2d39;
}
.light.graphite {
  background-color: #405f78;
  border-color: #253746;
}
.dark.graphite {
  background-color: #243543;
  border-color: #16222c;
}
.ruby {
  background-color: #b31d3f;
  border-color: #661124;
}
.light.ruby {
  background-color: #d6234b;
  border-color: #77142a;
}
.dark.ruby {
  background-color: #901832;
  border-color: #540e1e;
}
.onyx {
  background-color: #3d4538;
  border-color: #252c22;
}
.light.onyx {
  background-color: #515c4a;
  border-color: #2f372b;
}
.dark.onyx {
  background-color: #292f26;
  border-color: #1b2119;
}
.pewter {
  background-color: #b6bc93;
  border-color: #64684e;
}
.light.pewter {
  background-color: #c7ccac;
  border-color: #6d705b;
}
.dark.pewter {
  background-color: #a5ad7a;
  border-color: #5c6042;
}
.gunmetal {
  background-color: #4f8072;
  border-color: #2d4a41;
}
.light.gunmetal {
  background-color: #5f9988;
  border-color: #34574d;
}
.dark.gunmetal {
  background-color: #40675b;
  border-color: #253d36;
}
.hotpink {
  background-color: #fe6ea9;
  border-color: #8d385b;
}
.light.hotpink {
  background-color: #fe96c1;
  border-color: #8d4c67;
}
.dark.hotpink {
  background-color: #fe4591;
  border-color: #8d234f;
}
.neongreen {
  background-color: #43ff1e;
  border-color: #248d10;
}
.light.neongreen {
  background-color: #65ff47;
  border-color: #358d24;
}
.dark.neongreen {
  background-color: #28f400;
  border-color: #178801;
}
.electricblue {
  background-color: #44d0ec;
  border-color: #247383;
}
.light.electricblue {
  background-color: #69d9ef;
  border-color: #367885;
}
.dark.electricblue {
  background-color: #1fc7e8;
  border-color: #116f81;
}
.royalpurple {
  background-color: #7852a6;
  border-color: #432d5d;
}
.light.royalpurple {
  background-color: #8d6bb6;
  border-color: #4d3a65;
}
.dark.royalpurple {
  background-color: #64448b;
  border-color: #392750;
}
.lemon {
  background-color: #fefd8d;
  border-color: #8d8d47;
}
.light.lemon {
  background-color: #fefeb6;
  border-color: #8d8d5c;
}
.dark.lemon {
  background-color: #fefd65;
  border-color: #8d8c33;
}
.lime {
  background-color: #99f583;
  border-color: #508843;
}
.light.lime {
  background-color: #b8f8a9;
  border-color: #608956;
}
.dark.lime {
  background-color: #7af25d;
  border-color: #418630;
}
.tangerine {
  background-color: #feb655;
  border-color: #8d632b;
}
.light.tangerine {
  background-color: #fec77d;
  border-color: #8d6c40;
}
.dark.tangerine {
  background-color: #fea42c;
  border-color: #8d5a17;
}
.grapefruit {
  background-color: #de5c4f;
  border-color: #7c312a;
}
.light.grapefruit {
  background-color: #e57c71;
  border-color: #7f413b;
}
.dark.grapefruit {
  background-color: #d83c2c;
  border-color: #782119;
}
.action,
.base-color {
  color: #14290a;
  background: #56f735;
  border-color: #2e891c;
}
.action.light,
.base-color.light {
  color: #14290a;
  background: #77f95c;
  border-color: #3f8a2f;
}
.action.dark,
.base-color.dark {
  color: #14290a;
  background: #35f50e;
  border-color: #1e8808;
}
.reaction {
  background-color: #da6ae3;
  border-color: #78377e;
}
.light.reaction {
  background-color: #e28ce9;
  border-color: #7d4981;
}
.dark.reaction {
  background-color: #d147dd;
  border-color: #74267b;
}
.default {
  background-color: #69bd4d;
  border-color: #3a692a;
}
.light.default {
  background-color: #82c86b;
  border-color: #476f39;
}
.dark.default {
  background-color: #57a43d;
  border-color: #315d22;
}
.warm {
  background-color: #fa8b31;
  border-color: #8b4c19;
}
.light.warm {
  background-color: #fba259;
  border-color: #8b582d;
}
.dark.warm {
  background-color: #f97509;
  border-color: #8b4106;
}
.cool {
  background-color: #378aca;
  border-color: #1f4d71;
}
.light.cool {
  background-color: #589dd3;
  border-color: #2f5675;
}
.dark.cool {
  background-color: #2d74ac;
  border-color: #1a4262;
}
.neutral {
  background-color: #c9909f;
  border-color: #6f4d56;
}
.light.neutral {
  background-color: #d6acb7;
  border-color: #755a61;
}
.dark.neutral {
  background-color: #bb7588;
  border-color: #683f4a;
}
.complement,
.second.triad {
  background-color: #d864e3;
  border-color: #78347e;
}
.light.complement,
.light.second.triad {
  background-color: #e187e9;
  border-color: #7c4681;
}
.dark.complement,
.dark.second.triad {
  background-color: #d042dc;
  border-color: #73237b;
}
.accent {
  background-color: #64fb89;
  border-color: #338b49;
}
.light.accent {
  background-color: #8cfca8;
  border-color: #478c58;
}
.dark.accent {
  background-color: #3cfa6b;
  border-color: #1f8b3a;
}
.second.accent {
  background-color: #c8fb5c;
  border-color: #6e8b2f;
}
.light.second.accent {
  background-color: #d5fc84;
  border-color: #748c43;
}
.dark.second.accent {
  background-color: #bafa34;
  border-color: #678b1b;
}
.split {
  background-color: #41c6e3;
  border-color: #236e7e;
}
.light.split {
  background-color: #64d1e8;
  border-color: #347381;
}
.dark.split {
  background-color: #21b9da;
  border-color: #12687a;
}
.second.split {
  background-color: #f6923c;
  border-color: #89501f;
}
.light.second.split {
  background-color: #f8a863;
  border-color: #895b33;
}
.dark.second.split {
  background-color: #f47c15;
  border-color: #88450c;
}
.triad {
  background-color: #41f9c6;
  border-color: #218a6d;
}
.light.triad {
  background-color: #68fad2;
  border-color: #358b73;
}
.dark.triad {
  background-color: #19f7ba;
  border-color: #0e8967;
}
.third.triad {
  background-color: #f6df3c;
  border-color: #897b1f;
}
.light.third.triad {
  background-color: #f8e563;
  border-color: #897f33;
}
.dark.third.triad {
  background-color: #f4d815;
  border-color: #88780c;
}
.tetrad {
  background-color: #41f99c;
  border-color: #218a56;
}
.light.tetrad {
  background-color: #68fab1;
  border-color: #358b60;
}
.dark.tetrad {
  background-color: #19f788;
  border-color: #0e894b;
}
.second.tetrad {
  background-color: #4f60e3;
  border-color: #2a337e;
}
.light.second.tetrad {
  background-color: #727fe8;
  border-color: #3b4381;
}
.dark.second.tetrad {
  background-color: #2c40dd;
  border-color: #18237b;
}
.third.tetrad {
  background-color: #f66082;
  border-color: #883145;
}
.light.third.tetrad {
  background-color: #f886a0;
  border-color: #8a4454;
}
.dark.third.tetrad {
  background-color: #f43963;
  border-color: #871e36;
}
.fourth.tetrad {
  background-color: #e7f93c;
  border-color: #808a1f;
}
.light.fourth.tetrad {
  background-color: #ecfa63;
  border-color: #838b33;
}
.dark.fourth.tetrad {
  background-color: #e3f714;
  border-color: #7e890b;
}
.highlight {
  background-color: #faff0a;
  border-color: #8b8d06;
}
.light.highlight {
  background-color: #fbff33;
  border-color: #8b8d1a;
}
.dark.highlight {
  background-color: #dbe000;
  border-color: #7b7e01;
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-margin-right {
  margin-right: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.no-margin-left {
  margin-left: 0 !important;
}
.no-padding {
  padding: 0;
}
.no-margin,
.no-gutter {
  margin: 0;
}
.no-side-margin,
.no-side-margins {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.no-margins {
  margin: 0 !important;
}
.no-margins * {
  margin: 0 !important;
}
.no-box-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  box-shadow: unset;
}
.no-text-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  text-shadow: unset;
}
.no-border,
.no-borders,
.no-borders * {
  border-width: 0 !important;
}
.no-background {
  background: transparent;
}
.no-text-indent {
  text-indent: 0;
}
.no-text-align {
  text-align: initial;
}
.no-user-select {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.no-pointer-events {
  pointer-events: none;
}
.no-list-style {
  list-style-type: none;
  margin-left: 0;
}
.no-grid-gap,
.no-column-gap {
  grid-gap: 0;
  column-gap: 0;
}
@media print {
  html {
    font-size: 62.5%;
  }
  * {
    box-shadow: unset !important;
    border: unset !important;
  }
  nav {
    display: none !important;
  }
  .page-width,
  .text-width,
  .container {
    all: unset;
  }
  .inner-page-width,
  .inner-text-width,
  .inner-aside-width {
    all: unset;
  }
}
