/* This project uses Cavepaint! (MIT License) */
/* https://github.com/cavepaint/cavepaintCSS */
* {
  margin: 0 0 1.62rem 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}
.button,
button {
  border-style: solid;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(5, 7, 41, 0.16);
  display: inline;
  position: relative;
  font-family: inherit;
  font-size: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  color: inherit;
  background-color: inherit;
  border-color: #917f25;
  border-width: 1px;
  line-height: 1.6;
  text-align: center;
  vertical-align: middle;
  outline: none;
  white-space: nowrap;
  text-decoration: none;
  touch-action: manipulation;
  cursor: pointer;
  transform: scale(1);
  transition: 0.08s linear;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.button:active,
button:active {
  transform: scale(0.99);
  box-shadow: unset;
}
.bar {
  position: relative;
  width: 100%;
  display: block;
  vertical-align: middle;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.bar > * {
  display: inline;
  margin-right: 0.3236em;
  margin-left: 0.3236em;
  margin-bottom: 0;
}
.card {
  position: relative;
  overflow: hidden;
  padding: 1.62rem;
  border: 1px solid #cdb53a;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(5, 7, 41, 0.16);
}
.card > *:first-child {
  margin-top: 0;
}
.card > *:last-child {
  margin-bottom: 0;
}
.badge {
  border-radius: 0.5em;
  line-height: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  padding-right: 0.6472em;
  padding-left: 0.6472em;
  vertical-align: middle;
  border-radius: 99px;
  white-space: nowrap;
}
.modal {
  display: none;
  max-width: none;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  position: fixed;
  bottom: 0;
  justify-content: center;
  flex: 0 1 auto;
  flex-direction: column;
  height: 100vh;
}
.modal > * {
  flex-direction: column;
  color: #292705;
  position: relative;
  background: #fffef2;
  padding: 1.62rem;
  margin-bottom: 3.24rem;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(5, 7, 41, 0.16);
  margin: 1.62rem;
}
@media screen and (min-width: 36.24rem) {
  .modal > * {
    max-width: 53rem;
    margin: 0 auto;
  }
}
.overlay {
  margin: 0;
  padding: 0;
  position: relative;
}
.overlay .top,
.overlay .bottom,
.overlay .left,
.overlay .right {
  position: absolute;
}
.overlay .top {
  top: 0.3236em;
}
.overlay .bottom {
  bottom: 0.3236em;
}
.overlay .left {
  left: 0.3236em;
}
.overlay .right {
  right: 0.3236em;
}
.overlay.stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.overlay * {
  margin: 0;
  display: block;
}
.grid,
.two-column,
.three-column {
  display: grid;
  grid-gap: 1.62rem;
}
.grid.tablet,
.two-column.tablet,
.three-column.tablet,
.grid.mobile.tablet,
.two-column.mobile.tablet,
.three-column.mobile.tablet,
.grid.desktop,
.two-column.desktop,
.three-column.desktop {
  display: initial;
}
.grid {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.two-column {
  grid-template-columns: 1fr 1fr;
}
.two-column.golden {
  grid-template-columns: 1.618fr 1fr;
}
.two-column.golden.reverse {
  grid-template-columns: 1fr 1.618fr;
}
.three-column {
  grid-template-columns: 1fr 1fr 1fr;
}
.three-column.golden {
  grid-template-columns: 1fr 1.618fr 1fr;
}
.three-column.golden.leading {
  grid-template-columns: 1.618fr 1fr 1fr;
}
.three-column.golden.trailing {
  grid-template-columns: 1fr 1fr 1.618fr;
}
.grid .grid-width-one {
  grid-column: auto / span 1;
}
.grid .grid-width-two {
  grid-column: auto / span 2;
}
.grid .grid-width-three {
  grid-column: auto / span 3;
}
.grid .grid-width-four {
  grid-column: auto / span 4;
}
.grid .grid-width-five {
  grid-column: auto / span 5;
}
.grid .grid-width-six {
  grid-column: auto / span 6;
}
.grid .grid-width-seven {
  grid-column: auto / span 7;
}
.grid .grid-width-eight {
  grid-column: auto / span 8;
}
.grid .grid-width-nine {
  grid-column: auto / span 9;
}
.grid .grid-width-ten {
  grid-column: auto / span 10;
}
.grid .grid-width-eleven {
  grid-column: auto / span 11;
}
.grid .grid-width-twelve {
  grid-column: auto / span 12;
}
@media screen and (max-width: calc(36.24rem - 1px)) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: grid;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 36.24rem) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: initial;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: initial;
  }
  .grid.tablet,
  .two-column.tablet,
  .three-column.tablet {
    display: grid;
  }
  .grid.tablet > *,
  .two-column.tablet > *,
  .three-column.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (max-width: calc(53rem - 1px)) {
  .grid.mobile.tablet,
  .two-column.mobile.tablet,
  .three-column.mobile.tablet {
    display: grid;
  }
  .grid.mobile.tablet > *,
  .two-column.mobile.tablet > *,
  .three-column.mobile.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 53rem) {
  .grid.desktop,
  .two-column.desktop,
  .three-column.desktop {
    display: grid;
  }
  .grid.desktop > *,
  .two-column.desktop > *,
  .three-column.desktop > * {
    margin-bottom: 0;
  }
}
.responsive {
  column-gap: 0.619rem;
  grid-gap: 0.619rem;
}
.responsive.padding,
.modal,
.container {
  padding: 0.619rem;
}
.responsive.margin,
.container {
  margin: 0.619rem;
}
.responsive.gutter {
  margin: 1.238rem;
}
@media screen and (min-width: 36.24rem) {
  .responsive {
    column-gap: 1.001rem;
    grid-gap: 1.001rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.001rem;
  }
  .responsive.margin,
  .container {
    margin: 1.001rem;
  }
  .responsive.gutter {
    margin: 2.002rem;
  }
}
@media screen and (min-width: 53rem) {
  .responsive {
    column-gap: 1.62rem;
    grid-gap: 1.62rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.62rem;
  }
  .responsive.margin,
  .container {
    margin: 1.62rem;
  }
  .responsive.gutter {
    margin: 3.24rem;
  }
}
.background {
  background: #fffef2;
}
.background-color {
  background-color: #fffef2;
}
.border {
  border: 1px solid #cdb53a;
}
.border-radius,
.rounded {
  border-radius: 0.5em;
}
.border-bottom {
  border-bottom: 1px solid #cdb53a;
}
.border-left {
  border-left: 1px solid #cdb53a;
}
.border-right {
  border-right: 1px solid #cdb53a;
}
.border-style,
.button.border,
button.border {
  border-style: solid;
}
.border-top {
  border-top: 1px solid #cdb53a;
}
.border-width,
.button.border,
button.border {
  border-width: 1px;
}
.max-width {
  max-width: 53rem;
}
.min-width {
  min-width: 20rem;
}
.align-content {
  align-content: stretch;
}
.align-items {
  align-items: stretch;
}
.align-self {
  align-self: auto;
}
.flex,
.vertical-center,
.center-vertical {
  flex: 0 1 auto;
}
.flex-basis {
  flex-basis: auto;
}
.flex-direction,
.vertical-center,
.center-vertical {
  flex-direction: column;
}
.flex-flow {
  flex-flow: column nowrap;
}
.flex-grow {
  flex-grow: 0;
}
.flex-shrink {
  flex-shrink: 1;
}
.flex-wrap {
  flex-wrap: nowrap;
}
.justify-content,
.vertical-center,
.center-vertical {
  justify-content: center;
}
.font-family {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "Droid Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
.font-size {
  font-size: 22px;
}
.font-weight {
  font-weight: normal;
}
.list-style {
  list-style: disc inside none;
}
.list-style-type {
  list-style-type: disc;
}
.margin {
  margin: 1.62rem;
}
.margin-bottom {
  margin-bottom: 1.62rem;
}
.margin-left {
  margin-left: 1.62rem;
}
.margin-right {
  margin-right: 1.62rem;
}
.margin-top {
  margin-top: 1.62rem;
}
.column-gap {
  column-gap: 1.94em;
}
.column-rule {
  column-rule: 1px solid #cdb53a;
}
.padding {
  padding: 1.62rem;
}
.padding-bottom {
  padding-bottom: 1.62rem;
}
.padding-left {
  padding-left: 1.62rem;
}
.padding-right {
  padding-right: 1.62rem;
}
.padding-top {
  padding-top: 1.62rem;
}
.text-align {
  text-align: left;
}
.text-align-last {
  text-align-last: left;
}
.text-indent {
  text-indent: 2ch;
}
.text-justify {
  text-justify: justify;
}
.text-overflow {
  text-overflow: hidden;
}
.text-shadow {
  text-shadow: 1.41px 1.41px 1.41px rgba(5, 7, 41, 0.16);
}
.line-height {
  line-height: 1.8;
}
.vertical-align {
  vertical-align: middle;
}
.letter-spacing {
  letter-spacing: 0;
}
.word-spacing {
  word-spacing: normal;
}
.white-space {
  white-space: nowrap;
}
.word-break {
  word-break: break-all;
}
.word-wrap {
  word-wrap: break-word;
}
.transform {
  transform: none;
}
.transition {
  transition: all 0s ease 0s;
}
.display {
  display: block;
}
.position {
  position: absolute;
}
.top {
  top: 0;
}
.right {
  right: 0;
}
.bottom {
  bottom: 0;
}
.left {
  left: 0;
}
.float {
  float: left;
}
.clear {
  clear: both;
}
.z-index {
  z-index: 10;
}
.overflow {
  overflow: hidden;
}
.overflow-x {
  overflow-x: hidden;
}
.cursor {
  cursor: pointer;
}
.box-shadow {
  box-shadow: 1.41px 1.41px 1.41px rgba(5, 7, 41, 0.16);
}
.gutter {
  margin: 3.24rem;
}
.gutter-top {
  margin-top: 3.24rem;
}
.gutter-right {
  margin-right: 3.24rem;
}
.gutter-bottom {
  margin-bottom: 3.24rem;
}
.gutter-left {
  margin-left: 3.24rem;
}
.text-padding {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-padding-top {
  padding-top: 0.18em;
}
.text-padding-right {
  padding-right: 0.3236em;
}
.text-padding-bottom {
  padding-bottom: 0.22em;
}
.text-padding-left {
  padding-left: 0.3236em;
}
.text-margin {
  margin: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-margin-top {
  margin-top: 0.18em;
}
.text-margin-right {
  margin-right: 0.3236em;
}
.text-margin-bottom {
  margin-bottom: 0.22em;
}
.text-margin-left {
  margin-left: 0.3236em;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.initial {
  display: initial;
}
.table {
  display: table;
}
.flex,
.vertical-center,
.center-vertical {
  display: flex;
}
.inline-block {
  display: inline-block;
}
.static {
  position: static;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.margin-auto,
.container {
  margin-left: auto;
  margin-right: auto;
}
.width-auto {
  width: auto;
}
.inset {
  box-shadow: inset 1.41px 1.41px 1.41px rgba(5, 7, 41, 0.16);
}
.viewport-height {
  height: 100vh;
}
.min-viewport-height {
  min-height: 100vh;
}
.overflow-hidden {
  overflow: hidden;
}
.dashed {
  border-style: dashed;
}
.dotted {
  border-style: dotted;
}
.thick {
  border-width: 2px;
}
.thin {
  border-width: 0.5px;
}
.current-color {
  border-color: currentColor;
}
.fade {
  opacity: 0.65;
}
.serif,
.font-family-serif {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "Droid Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
.monospace,
.font-family-monospace {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
}
.sans-serif,
.font-family-sans-serif {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.text-transparent {
  color: transparent;
}
.reset {
  all: initial;
}
.big {
  font-size: 125%;
  line-height: 2.25;
}
.big.font-size {
  font-size: 27.5px;
}
.small,
.badge {
  font-size: 87.5%;
  line-height: 1.575;
}
.small.font-size {
  font-size: 19.25px;
}
.huge {
  font-size: 160%;
}
.huge.font-size {
  font-size: 35.2px;
}
.text-trim {
  line-height: 1;
}
.text-align-center,
.text-center {
  text-align: center;
}
.text-align-left,
.text-left {
  text-align: left;
}
.text-align-right,
.text-right {
  text-align: right;
}
.text-align-justify,
.text-justify {
  text-align: justify;
}
.grid-gap-margin {
  grid-gap: 1.62rem;
}
.grid-gap-border-width {
  grid-gap: 1px;
}
.grid-gap-text-padding,
.grid-gap-text-margin {
  grid-gap: 0.3236em;
}
.shade,
.white,
.orange,
.yellow,
.olive,
.light.green,
.teal,
.cyan,
.skyblue,
.violet,
.light.gray,
.light.magenta,
.lavender,
.cream,
.clover,
.light.cobalt,
.pewter,
.hotpink,
.neongreen,
.electricblue,
.lemon,
.lime,
.tangerine,
.light.grapefruit,
.default,
body,
input,
textarea,
.info,
.warning,
.light.success {
  color: #292705;
}
.tint,
.black,
.red,
.dark.olive,
.green,
.dark.teal,
.blue,
.indigo,
.purple,
.gray,
.brown,
.magenta,
.charcoal,
.crimson,
.dark.clover,
.cobalt,
.graphite,
.ruby,
.onyx,
.gunmetal,
.dark.hotpink,
.royalpurple,
.grapefruit,
.reaction,
.success,
.failure {
  color: #fffef2;
}
.transparent {
  background-color: transparent;
  color: inherit;
  border-color: inherit;
}
.transparent.light {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23FFF%22%20fill-opacity%3D%220.16%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.transparent.dark,
.modal {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23000%22%20fill-opacity%3D%220.25%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.trim,
.trim-inner *,
.trim-all,
.trim-all * {
  margin-bottom: 0;
}
.hidden {
  display: none !important;
}
.clearfix,
.clear {
  clear: both;
}
.clearfix::after,
.clear::after {
  display: block;
  clear: both;
  content: "";
}
.golden-width {
  max-width: calc(62% - 3.24rem);
}
.golden-width.reverse {
  max-width: 38%;
}
.aside-width {
  max-width: 20rem;
}
@media screen and (min-width: 36.24rem) {
  .text-width {
    max-width: 33rem;
  }
}
.page-width,
.container {
  max-width: 53rem;
}
.full-width,
.aside-width .aside-width,
.text-width .text-width,
.page-width .page-width {
  display: block;
  width: 100%;
}
.inner-aside-width {
  padding-left: calc(50% - 10rem);
  padding-right: calc(50% - 10rem);
}
.inner-aside-width.padding {
  padding-left: calc(50% - 8.38rem);
  padding-right: calc(50% - 8.38rem);
}
.inner-aside-width.responsive.padding {
  padding-left: calc(50% - 9.38rem);
  padding-right: calc(50% - 9.38rem);
}
.inner-text-width {
  padding-left: calc(50% - 16.5rem);
  padding-right: calc(50% - 16.5rem);
}
.inner-text-width.padding {
  padding-left: calc(50% - 14.88rem);
  padding-right: calc(50% - 14.88rem);
}
.inner-text-width.responsive.padding {
  padding-left: calc(50% - 15.88rem);
  padding-right: calc(50% - 15.88rem);
}
.inner-page-width {
  padding-left: calc(50% - 26.5rem);
  padding-right: calc(50% - 26.5rem);
}
.inner-page-width.padding {
  padding-left: calc(50% - 24.88rem);
  padding-right: calc(50% - 24.88rem);
}
.inner-page-width.responsive.padding {
  padding-left: calc(50% - 25.88rem);
  padding-right: calc(50% - 25.88rem);
}
@media screen and (max-width: calc(36.24rem - 1px)) {
  .inner-text-width {
    padding-left: initial;
    padding-right: initial;
  }
  .inner-text-width.padding {
    padding-left: 1.62rem;
    padding-right: 1.62rem;
  }
  .inner-text-width.responsive.padding {
    padding-left: 0.619rem;
    padding-right: 0.619rem;
  }
}
@media screen and (min-width: 36.24rem) {
  .inner-aside-width.tablet.padding {
    padding-left: calc(50% - 8.38rem);
    padding-right: calc(50% - 8.38rem);
  }
  .inner-aside-width.tablet.responsive.padding {
    padding-left: calc(50% - 9rem);
    padding-right: calc(50% - 9rem);
  }
  .inner-text-width.tablet.padding {
    padding-left: calc(50% - 14.88rem);
    padding-right: calc(50% - 14.88rem);
  }
  .inner-text-width.tablet.responsive.padding {
    padding-left: calc(50% - 15.5rem);
    padding-right: calc(50% - 15.5rem);
  }
  .inner-page-width.tablet.padding {
    padding-left: calc(50% - 24.88rem);
    padding-right: calc(50% - 24.88rem);
  }
  .inner-page-width.tablet.responsive.padding {
    padding-left: calc(50% - 25.5rem);
    padding-right: calc(50% - 25.5rem);
  }
}
@media screen and (min-width: 53rem) {
  .inner-aside-width.desktop.padding {
    padding-left: calc(50% - 8.38rem);
    padding-right: calc(50% - 8.38rem);
  }
  .inner-aside-width.desktop.responsive.padding {
    padding-left: calc(50% - 8.38rem);
    padding-right: calc(50% - 8.38rem);
  }
  .inner-text-width.desktop.padding {
    padding-left: calc(50% - 14.88rem);
    padding-right: calc(50% - 14.88rem);
  }
  .inner-text-width.desktop.responsive.padding {
    padding-left: calc(50% - 14.88rem);
    padding-right: calc(50% - 14.88rem);
  }
  .inner-page-width.desktop.padding {
    padding-left: calc(50% - 24.88rem);
    padding-right: calc(50% - 24.88rem);
  }
  .inner-page-width.desktop.responsive.padding {
    padding-left: calc(50% - 24.88rem);
    padding-right: calc(50% - 24.88rem);
  }
}
@media screen and (max-width: calc(53rem - 1px)) {
  .inner-page-width {
    padding-left: initial;
    padding-right: initial;
  }
  .inner-page-width.padding {
    padding-left: 1.62rem;
    padding-right: 1.62rem;
  }
  .inner-page-width.responsive.padding {
    padding-left: 0.619rem;
    padding-right: 0.619rem;
  }
}
.texture,
.pattern {
  background-position: top center;
}
.texture {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20viewBox%3D'0%200%203.175%201.588'%20height%3D'22'%20width%3D'44'%3E%3Cg%20fill%3D'%23292705'%20fill-opacity%3D'0.16'%3E%3Cpath%20d%3D'M1.317%201.194h-.92l.23-.399.23-.398.23.398zM2.312%201.194l-.23-.399-.23-.398h.92l-.23.398z'/%3E%3C/g%3E%3C/svg%3E");
}
.pattern {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20width%3D'80'%20height%3D'50'%20viewBox%3D'0%200%2021.167%2013.229'%3E%3Cpath%20fill%3D'%23292705'%20opacity%3D'0.16'%20d%3D'M0%200h21.167v6.615H0z'/%3E%3C/svg%3E");
}
.placeholder::before {
  content: " ";
  white-space: pre;
}
.placeholder::after {
  content: "";
}
.placeholder.image,
.placeholder.video,
.placeholder.avatar {
  position: relative;
}
.placeholder.image::before,
.placeholder.video::before,
.placeholder.avatar::before {
  position: absolute;
  top: calc(50% - 4rem);
  right: 0;
  bottom: 0;
  left: 0;
  display: inline-block;
  text-align: center;
  font-size: 4rem;
  vertical-align: middle;
}
.placeholder.image.small::before,
.placeholder.video.small::before,
.placeholder.avatar.small::before {
  top: calc(50% - 2rem);
  font-size: 2rem;
}
.placeholder.image.big::before,
.placeholder.video.big::before,
.placeholder.avatar.big::before {
  top: calc(50% - 6rem);
  font-size: 6rem;
}
.placeholder.image.huge::before,
.placeholder.video.huge::before,
.placeholder.avatar.huge::before {
  top: calc(50% - 8rem);
  font-size: 8rem;
}
.placeholder.image::after,
.placeholder.video::after,
.placeholder.avatar::after {
  display: block;
}
.placeholder.image::before {
  content: "\1f5bc";
}
.placeholder.image::after {
  padding-top: 75%;
}
.placeholder.video::before {
  content: "\25B6";
}
.placeholder.video::after {
  padding-top: 56.25%;
}
.placeholder.avatar::before {
  content: "\263B";
}
.placeholder.avatar::after {
  padding-top: 100%;
}
.placeholder.no-icon::before {
  content: "";
}
.hide {
  display: none;
}
.hide.tablet {
  display: initial;
}
.hide.desktop {
  display: initial;
}
@media screen and (max-width: calc(36.24rem - 1px)) {
  .hide.mobile {
    display: none;
  }
}
@media screen and (min-width: 36.24rem) {
  .hide.mobile {
    display: initial;
  }
  .hide.tablet {
    display: none;
  }
}
@media screen and (min-width: 53rem) {
  .hide.desktop {
    display: none;
  }
  .hide.mobile.tablet {
    display: initial;
  }
}
@media screen and (max-width: calc(53rem - 1px)) {
  .hide.mobile.tablet {
    display: none;
  }
}
body {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "Droid Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  font-size: 22px;
  line-height: 1.8;
  margin: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
nav {
  z-index: 99;
}
nav a {
  text-decoration: none;
}
aside {
  margin: 0 auto;
  margin-bottom: 1.62rem;
  max-width: 20rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "Droid Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  font-weight: bold;
  margin-top: 0.49443758em;
  margin-bottom: 0.74165637em;
  letter-spacing: -0.025em;
  color: inherit;
  line-height: 1.618;
}
h1 {
  font-size: 2.4em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1em;
}
p {
  margin-bottom: 1em;
}
p.gutter-bottom {
  margin-bottom: 1.618em;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: inherit;
  text-decoration: underline;
}
a.target-blank::after,
a.new-tab::after,
a.external-link::after {
  content: "\00A0\1F855";
}
form {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "Droid Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  font-size: 22px;
  line-height: 1.8;
  border: 1px solid #cdb53a;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input:focus {
  box-shadow: 0 0 2px #8fd1ce;
}
fieldset {
  border: none;
  outline: none;
}
ol {
  padding-left: 4ch;
  margin-bottom: 1.62rem;
}
ol li {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
ul {
  margin-left: 1.62rem;
  margin-bottom: 1.62rem;
}
li {
  margin-bottom: 0.44em;
}
kbd {
  color: #fffef2;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  white-space: nowrap;
}
b {
  padding: 0.18em 0 0.22em 0;
}
pre {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
  overflow: hidden;
  border-radius: 0.5em;
  background: #474235;
  color: #fffef2;
}
pre.white-space,
pre.word-break {
  white-space: pre-wrap;
}
pre > code {
  background: transparent;
  padding: 0;
}
code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
  color: #fffef2;
  background-color: #3c4459;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
code.terminal::before {
  content: "$ ";
}
textarea {
  font-size: 22px;
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "Droid Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  line-height: 1.8;
  border: 1px solid #cdb53a;
  border-radius: 0.5em;
  margin-bottom: 1.62rem;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
textarea:focus {
  box-shadow: 0 0 2px #8fd1ce;
}
.white,
body,
input,
textarea {
  background-color: #fffef2;
  border-color: #8d8c79;
}
.black {
  background-color: #292705;
  border-color: #141303;
}
.ambient {
  color: #292705;
  background: #fef221;
  border-color: #8c8611;
}
.ambient.light {
  color: #292705;
  background: #fef54a;
  border-color: #8d8725;
}
.ambient.dark {
  color: #292705;
  background: #f5e801;
  border-color: #888101;
}
.red,
.failure {
  background-color: #fe2b06;
  border-color: #8c1804;
}
.light.red,
.light.failure {
  background-color: #fe4d2f;
  border-color: #8c2918;
}
.dark.red,
.dark.failure {
  background-color: #da2101;
  border-color: #7a1301;
}
.orange,
.warning {
  background-color: #ffb202;
  border-color: #8d6301;
}
.light.orange,
.light.warning {
  background-color: #ffbf2a;
  border-color: #8d6916;
}
.dark.orange,
.dark.warning {
  background-color: #d79600;
  border-color: #795501;
}
.yellow {
  background-color: #fefe03;
  border-color: #8d8d02;
}
.light.yellow {
  background-color: #fefe2c;
  border-color: #8d8d16;
}
.dark.yellow {
  background-color: #d8d801;
  border-color: #7a7a01;
}
.olive {
  background-color: #b2b106;
  border-color: #666604;
}
.light.olive {
  background-color: #dad808;
  border-color: #7a7905;
}
.dark.olive {
  background-color: #8b8a05;
  border-color: #535203;
}
.green,
.success {
  background-color: #2da905;
  border-color: #1a6203;
}
.light.green,
.light.success {
  background-color: #37d106;
  border-color: #1f7604;
}
.dark.green,
.dark.success {
  background-color: #228204;
  border-color: #154e02;
}
.teal {
  background-color: #2eb190;
  border-color: #1a6451;
}
.light.teal {
  background-color: #3ccca8;
  border-color: #21715d;
}
.dark.teal {
  background-color: #269176;
  border-color: #165444;
}
.cyan {
  background-color: #40fed0;
  border-color: #218d72;
}
.light.cyan {
  background-color: #69ffda;
  border-color: #358d77;
}
.dark.cyan {
  background-color: #18fec6;
  border-color: #0c8d6d;
}
.skyblue,
.info {
  background-color: #8fd1ce;
  border-color: #4b7371;
}
.light.skyblue,
.light.info {
  background-color: #acddda;
  border-color: #5a7977;
}
.dark.skyblue,
.dark.info {
  background-color: #73c5c1;
  border-color: #3d6d6b;
}
.blue {
  background-color: #2b28e0;
  border-color: #18167c;
}
.light.blue {
  background-color: #4e4be5;
  border-color: #29277f;
}
.dark.blue {
  background-color: #1f1cc3;
  border-color: #12106e;
}
.indigo {
  background-color: #76298a;
  border-color: #451750;
}
.light.indigo {
  background-color: #9133a9;
  border-color: #521c60;
}
.dark.indigo {
  background-color: #5b206a;
  border-color: #371340;
}
.purple {
  background-color: #c12ea0;
  border-color: #6c1959;
}
.light.purple {
  background-color: #d345b3;
  border-color: #752563;
}
.dark.purple {
  background-color: #a02685;
  border-color: #5c154c;
}
.violet {
  background-color: #f089d1;
  border-color: #844671;
}
.light.violet {
  background-color: #f4addf;
  border-color: #865878;
}
.dark.violet {
  background-color: #eb65c2;
  border-color: #82346a;
}
.gray {
  background-color: #98906f;
  border-color: #55513c;
}
.light.gray {
  background-color: #a9a387;
  border-color: #5e5a48;
}
.dark.gray {
  background-color: #827b5c;
  border-color: #4a4633;
}
.brown {
  background-color: #ae622d;
  border-color: #623719;
}
.light.brown {
  background-color: #cc7438;
  border-color: #71401f;
}
.dark.brown {
  background-color: #8e5025;
  border-color: #522e15;
}
.magenta {
  background-color: #fd40cf;
  border-color: #8c2172;
}
.light.magenta {
  background-color: #fe69d9;
  border-color: #8c3577;
}
.dark.magenta {
  background-color: #fd18c5;
  border-color: #8c0c6d;
}
.lavender {
  background-color: #d2c0dc;
  border-color: #716478;
}
.light.lavender {
  background-color: #e4daea;
  border-color: #7a717f;
}
.dark.lavender {
  background-color: #bfa5cd;
  border-color: #675770;
}
.cream {
  background-color: #f8f8c2;
  border-color: #898962;
}
.light.cream {
  background-color: #fcfce7;
  border-color: #8b8b75;
}
.dark.cream {
  background-color: #f5f49d;
  border-color: #878750;
}
.charcoal {
  background-color: #73582c;
  border-color: #443419;
}
.light.charcoal {
  background-color: #916f37;
  border-color: #533f1f;
}
.dark.charcoal {
  background-color: #564220;
  border-color: #352914;
}
.crimson {
  background-color: #c31f21;
  border-color: #6e1112;
}
.light.crimson {
  background-color: #de2c2f;
  border-color: #7b1819;
}
.dark.crimson {
  background-color: #a0191b;
  border-color: #5c0e0f;
}
.clover {
  background-color: #64c618;
  border-color: #386f0e;
}
.light.clover {
  background-color: #77e423;
  border-color: #427e13;
}
.dark.clover {
  background-color: #51a214;
  border-color: #2f5d0b;
}
.cobalt {
  background-color: #3a86d0;
  border-color: #1f4a73;
}
.light.cobalt {
  background-color: #5b9ad7;
  border-color: #305477;
}
.dark.cobalt {
  background-color: #2c72b5;
  border-color: #184066;
}
.graphite {
  background-color: #3c4459;
  border-color: #232836;
}
.light.graphite {
  background-color: #4d5772;
  border-color: #2b3142;
}
.dark.graphite {
  background-color: #2c3241;
  border-color: #1b1f2a;
}
.ruby {
  background-color: #c71535;
  border-color: #700c1e;
}
.light.ruby {
  background-color: #e71d42;
  border-color: #801024;
}
.dark.ruby {
  background-color: #a2112b;
  border-color: #5d0a19;
}
.onyx {
  background-color: #474235;
  border-color: #2c291f;
}
.light.onyx {
  background-color: #5e5847;
  border-color: #383428;
}
.dark.onyx {
  background-color: #2f2c24;
  border-color: #211e17;
}
.pewter {
  background-color: #b6b688;
  border-color: #656448;
}
.light.pewter {
  background-color: #c6c5a1;
  border-color: #6c6c55;
}
.dark.pewter {
  background-color: #a7a66f;
  border-color: #5d5d3c;
}
.gunmetal {
  background-color: #65796a;
  border-color: #38453b;
}
.light.gunmetal {
  background-color: #788e7d;
  border-color: #415045;
}
.dark.gunmetal {
  background-color: #526256;
  border-color: #2e3a31;
}
.hotpink {
  background-color: #fe63a1;
  border-color: #8c3256;
}
.light.hotpink {
  background-color: #fe8bb9;
  border-color: #8d4662;
}
.dark.hotpink {
  background-color: #fe3a88;
  border-color: #8c1e4a;
}
.neongreen {
  background-color: #48fe14;
  border-color: #288c0a;
}
.light.neongreen {
  background-color: #68fe3c;
  border-color: #378d1f;
}
.dark.neongreen {
  background-color: #35e801;
  border-color: #1e8101;
}
.electricblue {
  background-color: #45cce6;
  border-color: #24707f;
}
.light.electricblue {
  background-color: #69d6eb;
  border-color: #367582;
}
.dark.electricblue {
  background-color: #21c2e1;
  border-color: #126b7d;
}
.royalpurple {
  background-color: #7b469f;
  border-color: #45265a;
}
.light.royalpurple {
  background-color: #9058b6;
  border-color: #502f65;
}
.dark.royalpurple {
  background-color: #653983;
  border-color: #3a204c;
}
.lemon {
  background-color: #fffd88;
  border-color: #8d8c44;
}
.light.lemon {
  background-color: #fffeb0;
  border-color: #8d8c59;
}
.dark.lemon {
  background-color: #fffc5f;
  border-color: #8d8b30;
}
.lime {
  background-color: #a5f478;
  border-color: #58873d;
}
.light.lime {
  background-color: #bef79e;
  border-color: #658850;
}
.dark.lime {
  background-color: #8cf153;
  border-color: #4b852a;
}
.tangerine {
  background-color: #feb24d;
  border-color: #8d6127;
}
.light.tangerine {
  background-color: #fec375;
  border-color: #8d6a3b;
}
.dark.tangerine {
  background-color: #fea024;
  border-color: #8d5813;
}
.grapefruit {
  background-color: #e35144;
  border-color: #7e2b24;
}
.light.grapefruit {
  background-color: #e87268;
  border-color: #803c36;
}
.dark.grapefruit {
  background-color: #dd3021;
  border-color: #7b1b12;
}
.action,
.base-color {
  color: #292705;
  background: #e9be25;
  border-color: #816914;
}
.action.light,
.base-color.light {
  color: #292705;
  background: #edc94a;
  border-color: #836f26;
}
.action.dark,
.base-color.dark {
  color: #292705;
  background: #d0a715;
  border-color: #755e0c;
}
.reaction {
  background-color: #4a6bce;
  border-color: #283b72;
}
.light.reaction {
  background-color: #6a86d6;
  border-color: #384876;
}
.dark.reaction {
  background-color: #3356bc;
  border-color: #1c3069;
}
.default {
  background-color: #cdb53a;
  border-color: #72651f;
}
.light.default {
  background-color: #d6c25b;
  border-color: #766b30;
}
.dark.default {
  background-color: #b29c2d;
  border-color: #645819;
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-margin-right {
  margin-right: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.no-margin-left {
  margin-left: 0 !important;
}
.no-padding {
  padding: 0;
}
.no-margin,
.no-gutter {
  margin: 0;
}
.no-side-margin,
.no-side-margins {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.no-margins {
  margin: 0 !important;
}
.no-margins * {
  margin: 0 !important;
}
.no-box-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  box-shadow: unset;
}
.no-text-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  text-shadow: unset;
}
.no-border,
.no-borders,
.no-borders * {
  border-width: 0 !important;
}
.no-background {
  background: transparent;
}
.no-text-indent {
  text-indent: 0;
}
.no-text-align {
  text-align: initial;
}
.no-user-select {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.no-pointer-events {
  pointer-events: none;
}
.no-list-style {
  list-style-type: none;
  margin-left: 0;
}
.no-grid-gap,
.no-column-gap {
  grid-gap: 0;
  column-gap: 0;
}
@media print {
  html {
    font-size: 62.5%;
  }
  * {
    box-shadow: unset !important;
    border: unset !important;
  }
  nav {
    display: none !important;
  }
  .page-width,
  .text-width,
  .container {
    all: unset;
  }
  .inner-page-width,
  .inner-text-width,
  .inner-aside-width {
    all: unset;
  }
}
