/* This project uses Cavepaint! (MIT License) */
/* https://github.com/cavepaint/cavepaintCSS */
* {
  margin: 0 0 1.62rem 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}
.button,
button {
  border-style: solid;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(1, 1, 10, 0.16);
  display: inline;
  position: relative;
  font-family: inherit;
  font-size: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  color: inherit;
  background-color: inherit;
  border-color: #000000;
  border-width: 1px;
  line-height: 1.6;
  text-align: center;
  vertical-align: middle;
  outline: none;
  white-space: nowrap;
  text-decoration: none;
  touch-action: manipulation;
  cursor: pointer;
  transform: scale(1);
  transition: 0.08s linear;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.button:active,
button:active {
  transform: scale(0.99);
  box-shadow: unset;
}
.bar {
  position: relative;
  width: 100%;
  display: block;
  vertical-align: middle;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.bar > * {
  display: inline;
  margin-right: 0.3236em;
  margin-left: 0.3236em;
  margin-bottom: 0;
}
.card {
  position: relative;
  overflow: hidden;
  padding: 1.62rem;
  border: 1px solid #393112;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(1, 1, 10, 0.16);
}
.card > *:first-child {
  margin-top: 0;
}
.card > *:last-child {
  margin-bottom: 0;
}
.badge {
  border-radius: 0.5em;
  line-height: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  padding-right: 0.6472em;
  padding-left: 0.6472em;
  vertical-align: middle;
  border-radius: 99px;
  white-space: nowrap;
}
.modal {
  display: none;
  max-width: none;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  position: fixed;
  bottom: 0;
  justify-content: center;
  flex: 0 1 auto;
  flex-direction: column;
  height: 100vh;
}
.modal > * {
  flex-direction: column;
  color: #0a0a01;
  position: relative;
  background: #f3f3f0;
  padding: 1.62rem;
  margin-bottom: 3.24rem;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(1, 1, 10, 0.16);
  margin: 1.62rem;
}
@media screen and (min-width: 37.24rem) {
  .modal > * {
    max-width: 55rem;
    margin: 0 auto;
  }
}
.overlay {
  margin: 0;
  padding: 0;
  position: relative;
}
.overlay .top,
.overlay .bottom,
.overlay .left,
.overlay .right {
  position: absolute;
}
.overlay .top {
  top: 0.3236em;
}
.overlay .bottom {
  bottom: 0.3236em;
}
.overlay .left {
  left: 0.3236em;
}
.overlay .right {
  right: 0.3236em;
}
.overlay.stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.overlay * {
  margin: 0;
  display: block;
}
.grid,
.two-column,
.three-column {
  display: grid;
  grid-gap: 1.62rem;
}
.grid.tablet,
.two-column.tablet,
.three-column.tablet,
.grid.mobile.tablet,
.two-column.mobile.tablet,
.three-column.mobile.tablet,
.grid.desktop,
.two-column.desktop,
.three-column.desktop {
  display: initial;
}
.grid {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.two-column {
  grid-template-columns: 1fr 1fr;
}
.two-column.golden {
  grid-template-columns: 1.618fr 1fr;
}
.two-column.golden.reverse {
  grid-template-columns: 1fr 1.618fr;
}
.three-column {
  grid-template-columns: 1fr 1fr 1fr;
}
.three-column.golden {
  grid-template-columns: 1fr 1.618fr 1fr;
}
.three-column.golden.leading {
  grid-template-columns: 1.618fr 1fr 1fr;
}
.three-column.golden.trailing {
  grid-template-columns: 1fr 1fr 1.618fr;
}
.grid .grid-width-one {
  grid-column: auto / span 1;
}
.grid .grid-width-two {
  grid-column: auto / span 2;
}
.grid .grid-width-three {
  grid-column: auto / span 3;
}
.grid .grid-width-four {
  grid-column: auto / span 4;
}
.grid .grid-width-five {
  grid-column: auto / span 5;
}
.grid .grid-width-six {
  grid-column: auto / span 6;
}
.grid .grid-width-seven {
  grid-column: auto / span 7;
}
.grid .grid-width-eight {
  grid-column: auto / span 8;
}
.grid .grid-width-nine {
  grid-column: auto / span 9;
}
.grid .grid-width-ten {
  grid-column: auto / span 10;
}
.grid .grid-width-eleven {
  grid-column: auto / span 11;
}
.grid .grid-width-twelve {
  grid-column: auto / span 12;
}
@media screen and (max-width: calc(37.24rem - 1px)) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: grid;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 37.24rem) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: initial;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: initial;
  }
  .grid.tablet,
  .two-column.tablet,
  .three-column.tablet {
    display: grid;
  }
  .grid.tablet > *,
  .two-column.tablet > *,
  .three-column.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (max-width: calc(55rem - 1px)) {
  .grid.mobile.tablet,
  .two-column.mobile.tablet,
  .three-column.mobile.tablet {
    display: grid;
  }
  .grid.mobile.tablet > *,
  .two-column.mobile.tablet > *,
  .three-column.mobile.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 55rem) {
  .grid.desktop,
  .two-column.desktop,
  .three-column.desktop {
    display: grid;
  }
  .grid.desktop > *,
  .two-column.desktop > *,
  .three-column.desktop > * {
    margin-bottom: 0;
  }
}
.responsive {
  column-gap: 0.619rem;
  grid-gap: 0.619rem;
}
.responsive.padding,
.modal,
.container {
  padding: 0.619rem;
}
.responsive.margin,
.container {
  margin: 0.619rem;
}
.responsive.gutter {
  margin: 1.238rem;
}
@media screen and (min-width: 37.24rem) {
  .responsive {
    column-gap: 1.001rem;
    grid-gap: 1.001rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.001rem;
  }
  .responsive.margin,
  .container {
    margin: 1.001rem;
  }
  .responsive.gutter {
    margin: 2.002rem;
  }
}
@media screen and (min-width: 55rem) {
  .responsive {
    column-gap: 1.62rem;
    grid-gap: 1.62rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.62rem;
  }
  .responsive.margin,
  .container {
    margin: 1.62rem;
  }
  .responsive.gutter {
    margin: 3.24rem;
  }
}
.background {
  background: #f3f3f0;
}
.background-color {
  background-color: #f3f3f0;
}
.border {
  border: 1px solid #393112;
}
.border-radius,
.rounded {
  border-radius: 0.5em;
}
.border-bottom {
  border-bottom: 1px solid #393112;
}
.border-left {
  border-left: 1px solid #393112;
}
.border-right {
  border-right: 1px solid #393112;
}
.border-style,
.button.border,
button.border {
  border-style: solid;
}
.border-top {
  border-top: 1px solid #393112;
}
.border-width,
.button.border,
button.border {
  border-width: 1px;
}
.max-width {
  max-width: 55rem;
}
.min-width {
  min-width: 21rem;
}
.align-content {
  align-content: stretch;
}
.align-items {
  align-items: stretch;
}
.align-self {
  align-self: auto;
}
.flex,
.vertical-center,
.center-vertical {
  flex: 0 1 auto;
}
.flex-basis {
  flex-basis: auto;
}
.flex-direction,
.vertical-center,
.center-vertical {
  flex-direction: column;
}
.flex-flow {
  flex-flow: column nowrap;
}
.flex-grow {
  flex-grow: 0;
}
.flex-shrink {
  flex-shrink: 1;
}
.flex-wrap {
  flex-wrap: nowrap;
}
.justify-content,
.vertical-center,
.center-vertical {
  justify-content: center;
}
.font-family {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.font-size {
  font-size: 19px;
}
.font-weight {
  font-weight: normal;
}
.list-style {
  list-style: disc inside none;
}
.list-style-type {
  list-style-type: disc;
}
.margin {
  margin: 1.62rem;
}
.margin-bottom {
  margin-bottom: 1.62rem;
}
.margin-left {
  margin-left: 1.62rem;
}
.margin-right {
  margin-right: 1.62rem;
}
.margin-top {
  margin-top: 1.62rem;
}
.column-gap {
  column-gap: 1.94em;
}
.column-rule {
  column-rule: 1px solid #393112;
}
.padding {
  padding: 1.62rem;
}
.padding-bottom {
  padding-bottom: 1.62rem;
}
.padding-left {
  padding-left: 1.62rem;
}
.padding-right {
  padding-right: 1.62rem;
}
.padding-top {
  padding-top: 1.62rem;
}
.text-align {
  text-align: left;
}
.text-align-last {
  text-align-last: left;
}
.text-indent {
  text-indent: 2ch;
}
.text-justify {
  text-justify: justify;
}
.text-overflow {
  text-overflow: hidden;
}
.text-shadow {
  text-shadow: 1.41px 1.41px 1.41px rgba(1, 1, 10, 0.16);
}
.line-height {
  line-height: 1.8;
}
.vertical-align {
  vertical-align: middle;
}
.letter-spacing {
  letter-spacing: 0;
}
.word-spacing {
  word-spacing: normal;
}
.white-space {
  white-space: nowrap;
}
.word-break {
  word-break: break-all;
}
.word-wrap {
  word-wrap: break-word;
}
.transform {
  transform: none;
}
.transition {
  transition: all 0s ease 0s;
}
.display {
  display: block;
}
.position {
  position: absolute;
}
.top {
  top: 0;
}
.right {
  right: 0;
}
.bottom {
  bottom: 0;
}
.left {
  left: 0;
}
.float {
  float: left;
}
.clear {
  clear: both;
}
.z-index {
  z-index: 10;
}
.overflow {
  overflow: hidden;
}
.overflow-x {
  overflow-x: hidden;
}
.cursor {
  cursor: pointer;
}
.box-shadow {
  box-shadow: 1.41px 1.41px 1.41px rgba(1, 1, 10, 0.16);
}
.gutter {
  margin: 3.24rem;
}
.gutter-top {
  margin-top: 3.24rem;
}
.gutter-right {
  margin-right: 3.24rem;
}
.gutter-bottom {
  margin-bottom: 3.24rem;
}
.gutter-left {
  margin-left: 3.24rem;
}
.text-padding {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-padding-top {
  padding-top: 0.18em;
}
.text-padding-right {
  padding-right: 0.3236em;
}
.text-padding-bottom {
  padding-bottom: 0.22em;
}
.text-padding-left {
  padding-left: 0.3236em;
}
.text-margin {
  margin: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-margin-top {
  margin-top: 0.18em;
}
.text-margin-right {
  margin-right: 0.3236em;
}
.text-margin-bottom {
  margin-bottom: 0.22em;
}
.text-margin-left {
  margin-left: 0.3236em;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.initial {
  display: initial;
}
.table {
  display: table;
}
.flex,
.vertical-center,
.center-vertical {
  display: flex;
}
.inline-block {
  display: inline-block;
}
.static {
  position: static;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.margin-auto,
.container {
  margin-left: auto;
  margin-right: auto;
}
.width-auto {
  width: auto;
}
.inset {
  box-shadow: inset 1.41px 1.41px 1.41px rgba(1, 1, 10, 0.16);
}
.viewport-height {
  height: 100vh;
}
.min-viewport-height {
  min-height: 100vh;
}
.overflow-hidden {
  overflow: hidden;
}
.dashed {
  border-style: dashed;
}
.dotted {
  border-style: dotted;
}
.thick {
  border-width: 2px;
}
.thin {
  border-width: 0.5px;
}
.current-color {
  border-color: currentColor;
}
.fade {
  opacity: 0.65;
}
.serif,
.font-family-serif {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "Droid Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
.monospace,
.font-family-monospace {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
}
.sans-serif,
.font-family-sans-serif {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.text-transparent {
  color: transparent;
}
.reset {
  all: initial;
}
.big {
  font-size: 125%;
  line-height: 2.25;
}
.big.font-size {
  font-size: 23.75px;
}
.small,
.badge {
  font-size: 87.5%;
  line-height: 1.575;
}
.small.font-size {
  font-size: 16.625px;
}
.huge {
  font-size: 160%;
}
.huge.font-size {
  font-size: 30.4px;
}
.text-trim {
  line-height: 1;
}
.text-align-center,
.text-center {
  text-align: center;
}
.text-align-left,
.text-left {
  text-align: left;
}
.text-align-right,
.text-right {
  text-align: right;
}
.text-align-justify,
.text-justify {
  text-align: justify;
}
.grid-gap-margin {
  grid-gap: 1.62rem;
}
.grid-gap-border-width {
  grid-gap: 1px;
}
.grid-gap-text-padding,
.grid-gap-text-margin {
  grid-gap: 0.3236em;
}
.shade,
.white,
.orange,
.yellow,
.cyan,
.skyblue,
.light.violet,
.lavender,
.cream,
.light.clover,
.light.pewter,
.light.hotpink,
.neongreen,
.light.electricblue,
.lemon,
.lime,
.tangerine,
body,
input,
textarea,
.info,
.warning {
  color: #0a0a01;
}
.tint,
.black,
.red,
.dark.orange,
.olive,
.green,
.teal,
.dark.cyan,
.dark.skyblue,
.blue,
.indigo,
.purple,
.violet,
.gray,
.brown,
.magenta,
.charcoal,
.crimson,
.clover,
.cobalt,
.graphite,
.ruby,
.onyx,
.pewter,
.gunmetal,
.hotpink,
.electricblue,
.royalpurple,
.grapefruit,
.reaction,
.default,
.dark.info,
.dark.warning,
.success,
.failure {
  color: #f3f3f0;
}
.transparent {
  background-color: transparent;
  color: inherit;
  border-color: inherit;
}
.transparent.light {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23FFF%22%20fill-opacity%3D%220.16%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.transparent.dark,
.modal {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23000%22%20fill-opacity%3D%220.25%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.trim,
.trim-inner *,
.trim-all,
.trim-all * {
  margin-bottom: 0;
}
.hidden {
  display: none !important;
}
.clearfix,
.clear {
  clear: both;
}
.clearfix::after,
.clear::after {
  display: block;
  clear: both;
  content: "";
}
.golden-width {
  max-width: calc(62% - 3.24rem);
}
.golden-width.reverse {
  max-width: 38%;
}
.aside-width {
  max-width: 21rem;
}
@media screen and (min-width: 37.24rem) {
  .text-width {
    max-width: 34rem;
  }
}
.page-width,
.container {
  max-width: 55rem;
}
.full-width,
.aside-width .aside-width,
.text-width .text-width,
.page-width .page-width {
  display: block;
  width: 100%;
}
.inner-aside-width {
  padding-left: calc(50% - 10.5rem);
  padding-right: calc(50% - 10.5rem);
}
.inner-aside-width.padding {
  padding-left: calc(50% - 8.88rem);
  padding-right: calc(50% - 8.88rem);
}
.inner-aside-width.responsive.padding {
  padding-left: calc(50% - 9.88rem);
  padding-right: calc(50% - 9.88rem);
}
.inner-text-width {
  padding-left: calc(50% - 17rem);
  padding-right: calc(50% - 17rem);
}
.inner-text-width.padding {
  padding-left: calc(50% - 15.38rem);
  padding-right: calc(50% - 15.38rem);
}
.inner-text-width.responsive.padding {
  padding-left: calc(50% - 16.38rem);
  padding-right: calc(50% - 16.38rem);
}
.inner-page-width {
  padding-left: calc(50% - 27.5rem);
  padding-right: calc(50% - 27.5rem);
}
.inner-page-width.padding {
  padding-left: calc(50% - 25.88rem);
  padding-right: calc(50% - 25.88rem);
}
.inner-page-width.responsive.padding {
  padding-left: calc(50% - 26.88rem);
  padding-right: calc(50% - 26.88rem);
}
@media screen and (max-width: calc(37.24rem - 1px)) {
  .inner-text-width {
    padding-left: initial;
    padding-right: initial;
  }
  .inner-text-width.padding {
    padding-left: 1.62rem;
    padding-right: 1.62rem;
  }
  .inner-text-width.responsive.padding {
    padding-left: 0.619rem;
    padding-right: 0.619rem;
  }
}
@media screen and (min-width: 37.24rem) {
  .inner-aside-width.tablet.padding {
    padding-left: calc(50% - 8.88rem);
    padding-right: calc(50% - 8.88rem);
  }
  .inner-aside-width.tablet.responsive.padding {
    padding-left: calc(50% - 9.5rem);
    padding-right: calc(50% - 9.5rem);
  }
  .inner-text-width.tablet.padding {
    padding-left: calc(50% - 15.38rem);
    padding-right: calc(50% - 15.38rem);
  }
  .inner-text-width.tablet.responsive.padding {
    padding-left: calc(50% - 16rem);
    padding-right: calc(50% - 16rem);
  }
  .inner-page-width.tablet.padding {
    padding-left: calc(50% - 25.88rem);
    padding-right: calc(50% - 25.88rem);
  }
  .inner-page-width.tablet.responsive.padding {
    padding-left: calc(50% - 26.5rem);
    padding-right: calc(50% - 26.5rem);
  }
}
@media screen and (min-width: 55rem) {
  .inner-aside-width.desktop.padding {
    padding-left: calc(50% - 8.88rem);
    padding-right: calc(50% - 8.88rem);
  }
  .inner-aside-width.desktop.responsive.padding {
    padding-left: calc(50% - 8.88rem);
    padding-right: calc(50% - 8.88rem);
  }
  .inner-text-width.desktop.padding {
    padding-left: calc(50% - 15.38rem);
    padding-right: calc(50% - 15.38rem);
  }
  .inner-text-width.desktop.responsive.padding {
    padding-left: calc(50% - 15.38rem);
    padding-right: calc(50% - 15.38rem);
  }
  .inner-page-width.desktop.padding {
    padding-left: calc(50% - 25.88rem);
    padding-right: calc(50% - 25.88rem);
  }
  .inner-page-width.desktop.responsive.padding {
    padding-left: calc(50% - 25.88rem);
    padding-right: calc(50% - 25.88rem);
  }
}
@media screen and (max-width: calc(55rem - 1px)) {
  .inner-page-width {
    padding-left: initial;
    padding-right: initial;
  }
  .inner-page-width.padding {
    padding-left: 1.62rem;
    padding-right: 1.62rem;
  }
  .inner-page-width.responsive.padding {
    padding-left: 0.619rem;
    padding-right: 0.619rem;
  }
}
.texture,
.pattern {
  background-position: top center;
}
.texture {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20width%3D'80'%20height%3D'48'%3E%3Cpath%20d%3D'M19%200v11H0v26h19v11h2V37h38v11h2V37h19V11H61V0h-2v11H21V0h-2zM1%2013h38v22H1V13zm40%200h38v22H41V13z'%20fill%3D'%23f3f3f0'%20fill-opacity%3D'0.16'/%3E%3C/svg%3E");
}
.pattern {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20viewBox%3D'0%200%203.175%203.175'%20height%3D'12'%20width%3D'12'%3E%3Cpath%20opacity%3D'0.16'%20fill%3D'%23f3f3f0'%20d%3D'M0%200h1.587v1.587H0z'/%3E%3C/svg%3E");
}
.placeholder::before {
  content: " ";
  white-space: pre;
}
.placeholder::after {
  content: "";
}
.placeholder.image,
.placeholder.video,
.placeholder.avatar {
  position: relative;
}
.placeholder.image::before,
.placeholder.video::before,
.placeholder.avatar::before {
  position: absolute;
  top: calc(50% - 4rem);
  right: 0;
  bottom: 0;
  left: 0;
  display: inline-block;
  text-align: center;
  font-size: 4rem;
  vertical-align: middle;
}
.placeholder.image.small::before,
.placeholder.video.small::before,
.placeholder.avatar.small::before {
  top: calc(50% - 2rem);
  font-size: 2rem;
}
.placeholder.image.big::before,
.placeholder.video.big::before,
.placeholder.avatar.big::before {
  top: calc(50% - 6rem);
  font-size: 6rem;
}
.placeholder.image.huge::before,
.placeholder.video.huge::before,
.placeholder.avatar.huge::before {
  top: calc(50% - 8rem);
  font-size: 8rem;
}
.placeholder.image::after,
.placeholder.video::after,
.placeholder.avatar::after {
  display: block;
}
.placeholder.image::before {
  content: "\1f5bc";
}
.placeholder.image::after {
  padding-top: 75%;
}
.placeholder.video::before {
  content: "\25B6";
}
.placeholder.video::after {
  padding-top: 56.25%;
}
.placeholder.avatar::before {
  content: "\263A";
}
.placeholder.avatar::after {
  padding-top: 100%;
}
.placeholder.no-icon::before {
  content: "";
}
.hide {
  display: none;
}
.hide.tablet {
  display: initial;
}
.hide.desktop {
  display: initial;
}
@media screen and (max-width: calc(37.24rem - 1px)) {
  .hide.mobile {
    display: none;
  }
}
@media screen and (min-width: 37.24rem) {
  .hide.mobile {
    display: initial;
  }
  .hide.tablet {
    display: none;
  }
}
@media screen and (min-width: 55rem) {
  .hide.desktop {
    display: none;
  }
  .hide.mobile.tablet {
    display: initial;
  }
}
@media screen and (max-width: calc(55rem - 1px)) {
  .hide.mobile.tablet {
    display: none;
  }
}
body {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
  font-size: 19px;
  line-height: 1.8;
  margin: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
nav {
  z-index: 99;
}
nav a {
  text-decoration: none;
}
aside {
  margin: 0 auto;
  margin-bottom: 1.62rem;
  max-width: 21rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
  font-weight: bold;
  margin-top: 0.49443758em;
  margin-bottom: 0.74165637em;
  letter-spacing: -0.025em;
  color: inherit;
  line-height: 1.618;
}
h1 {
  font-size: 2.4em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1em;
}
p {
  margin-bottom: 1em;
}
p.gutter-bottom {
  margin-bottom: 1.618em;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: inherit;
  text-decoration: underline;
}
a.target-blank::after,
a.new-tab::after,
a.external-link::after {
  content: "\00A0\1F855";
}
form {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
  font-size: 19px;
  line-height: 1.8;
  border: 1px solid #393112;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input:focus {
  box-shadow: 0 0 2px #6ca7b0;
}
fieldset {
  border: none;
  outline: none;
}
ol {
  padding-left: 4ch;
  margin-bottom: 1.62rem;
}
ol li {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
ul {
  margin-left: 1.62rem;
  margin-bottom: 1.62rem;
}
li {
  margin-bottom: 0.44em;
}
kbd {
  color: #f3f3f0;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  white-space: nowrap;
}
b {
  padding: 0.18em 0 0.22em 0;
}
pre {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
  overflow: hidden;
  border-radius: 0.5em;
  background: #302f2e;
  color: #f3f3f0;
}
pre.white-space,
pre.word-break {
  white-space: pre-wrap;
}
pre > code {
  background: transparent;
  padding: 0;
}
code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
  color: #f3f3f0;
  background-color: #212842;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
code.terminal::before {
  content: "$ ";
}
textarea {
  font-size: 19px;
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
  line-height: 1.8;
  border: 1px solid #393112;
  border-radius: 0.5em;
  margin-bottom: 1.62rem;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
textarea:focus {
  box-shadow: 0 0 2px #6ca7b0;
}
.white,
body,
input,
textarea {
  background-color: #f3f3f0;
  border-color: #7c7c79;
}
.black {
  background-color: #0a0a01;
  border-color: #050500;
}
.ambient {
  color: #f3f3f0;
  background: #3e3e05;
  border-color: #222203;
}
.ambient.light {
  color: #f3f3f0;
  background: #646408;
  border-color: #353504;
}
.ambient.dark {
  color: #f3f3f0;
  background: #181802;
  border-color: #0f0f01;
}
.red,
.failure {
  background-color: #b50100;
  border-color: #5e0000;
}
.light.red,
.light.failure {
  background-color: #de0101;
  border-color: #720000;
}
.dark.red,
.dark.failure {
  background-color: #8c0000;
  border-color: #490000;
}
.orange,
.warning {
  background-color: #dd8f00;
  border-color: #714900;
}
.light.orange,
.light.warning {
  background-color: #ffa707;
  border-color: #825603;
}
.dark.orange,
.dark.warning {
  background-color: #b47500;
  border-color: #5d3c00;
}
.yellow {
  background-color: #d0d000;
  border-color: #6b6b00;
}
.light.yellow {
  background-color: #f8f800;
  border-color: #7f7f00;
}
.dark.yellow {
  background-color: #a7a700;
  border-color: #565600;
}
.olive {
  background-color: #606000;
  border-color: #333300;
}
.light.olive {
  background-color: #888801;
  border-color: #474700;
}
.dark.olive {
  background-color: #373700;
  border-color: #1f1f00;
}
.green,
.success {
  background-color: #006500;
  border-color: #003600;
}
.light.green,
.light.success {
  background-color: #018e00;
  border-color: #004a00;
}
.dark.green,
.dark.success {
  background-color: #003d00;
  border-color: #002100;
}
.teal {
  background-color: #016058;
  border-color: #00332f;
}
.light.teal {
  background-color: #01887e;
  border-color: #004742;
}
.dark.teal {
  background-color: #003733;
  border-color: #001f1c;
}
.cyan {
  background-color: #00c6ad;
  border-color: #006659;
}
.light.cyan {
  background-color: #00efd1;
  border-color: #007a6b;
}
.dark.cyan {
  background-color: #009d89;
  border-color: #005247;
}
.skyblue,
.info {
  background-color: #6ca7b0;
  border-color: #37565a;
}
.light.skyblue,
.light.info {
  background-color: #87b7be;
  border-color: #445d61;
}
.dark.skyblue,
.dark.info {
  background-color: #55959e;
  border-color: #2b4c51;
}
.blue {
  background-color: #0000bf;
  border-color: #000063;
}
.light.blue {
  background-color: #0000e8;
  border-color: #000077;
}
.dark.blue {
  background-color: #000097;
  border-color: #00004e;
}
.indigo {
  background-color: #3b005f;
  border-color: #200032;
}
.light.indigo {
  background-color: #550187;
  border-color: #2c0047;
}
.dark.indigo {
  background-color: #220036;
  border-color: #13001e;
}
.purple {
  background-color: #55014e;
  border-color: #2d002a;
}
.light.purple {
  background-color: #7d0174;
  border-color: #42013d;
}
.dark.purple {
  background-color: #2d0029;
  border-color: #190017;
}
.violet {
  background-color: #c268b2;
  border-color: #63355b;
}
.light.violet {
  background-color: #cd85c1;
  border-color: #694363;
}
.dark.violet {
  background-color: #b64ba4;
  border-color: #5d2654;
}
.gray {
  background-color: #696860;
  border-color: #363631;
}
.light.gray {
  background-color: #7e7d73;
  border-color: #41403b;
}
.dark.gray {
  background-color: #53534c;
  border-color: #2c2b27;
}
.brown {
  background-color: #894625;
  border-color: #472413;
}
.light.brown {
  background-color: #aa572e;
  border-color: #572d18;
}
.dark.brown {
  background-color: #69361d;
  border-color: #371c0f;
}
.magenta {
  background-color: #930181;
  border-color: #4d0043;
}
.light.magenta {
  background-color: #bc01a5;
  border-color: #610155;
}
.dark.magenta {
  background-color: #6b015d;
  border-color: #380031;
}
.lavender {
  background-color: #b9aec3;
  border-color: #5e5863;
}
.light.lavender {
  background-color: #cdc5d4;
  border-color: #68646c;
}
.dark.lavender {
  background-color: #a596b1;
  border-color: #544c5b;
}
.cream {
  background-color: #d6d6bc;
  border-color: #6d6d5f;
}
.light.cream {
  background-color: #e5e5d5;
  border-color: #75756b;
}
.dark.cream {
  background-color: #c7c7a2;
  border-color: #656552;
}
.charcoal {
  background-color: #3d2b21;
  border-color: #211711;
}
.light.charcoal {
  background-color: #583d2f;
  border-color: #2e2018;
}
.dark.charcoal {
  background-color: #221813;
  border-color: #130d0a;
}
.crimson {
  background-color: #970918;
  border-color: #4e040d;
}
.light.crimson {
  background-color: #bd0b1f;
  border-color: #610610;
}
.dark.crimson {
  background-color: #700612;
  border-color: #3b030a;
}
.clover {
  background-color: #318810;
  border-color: #1a4708;
}
.light.clover {
  background-color: #3fad15;
  border-color: #20590b;
}
.dark.clover {
  background-color: #24640c;
  border-color: #133506;
}
.cobalt {
  background-color: #2167b0;
  border-color: #11355a;
}
.light.cobalt {
  background-color: #287bd2;
  border-color: #143f6c;
}
.dark.cobalt {
  background-color: #1b538d;
  border-color: #0e2b49;
}
.graphite {
  background-color: #212842;
  border-color: #111523;
}
.light.graphite {
  background-color: #2f395d;
  border-color: #181e31;
}
.dark.graphite {
  background-color: #141827;
  border-color: #0b0d16;
}
.ruby {
  background-color: #890029;
  border-color: #470015;
}
.light.ruby {
  background-color: #b10035;
  border-color: #5c001b;
}
.dark.ruby {
  background-color: #60001c;
  border-color: #33000f;
}
.onyx {
  background-color: #302f2e;
  border-color: #1a1918;
}
.light.onyx {
  background-color: #444442;
  border-color: #242422;
}
.dark.onyx {
  background-color: #1b1b1a;
  border-color: #0f0f0e;
}
.pewter {
  background-color: #858571;
  border-color: #44443a;
}
.light.pewter {
  background-color: #989886;
  border-color: #4e4e44;
}
.dark.pewter {
  background-color: #6f6f5e;
  border-color: #393930;
}
.gunmetal {
  background-color: #33434a;
  border-color: #1b2327;
}
.light.gunmetal {
  background-color: #445962;
  border-color: #232e33;
}
.dark.gunmetal {
  background-color: #222d32;
  border-color: #12181b;
}
.hotpink {
  background-color: #cc5189;
  border-color: #682946;
}
.light.hotpink {
  background-color: #d5709f;
  border-color: #6d3951;
}
.dark.hotpink {
  background-color: #bc3874;
  border-color: #601c3c;
}
.neongreen {
  background-color: #2dcc0f;
  border-color: #176908;
}
.light.neongreen {
  background-color: #38ee16;
  border-color: #1d7a0b;
}
.dark.neongreen {
  background-color: #25a60c;
  border-color: #135606;
}
.electricblue {
  background-color: #2d97b0;
  border-color: #174d5a;
}
.light.electricblue {
  background-color: #3ab0cc;
  border-color: #1e5a69;
}
.dark.electricblue {
  background-color: #257b8f;
  border-color: #13404a;
}
.royalpurple {
  background-color: #4d2670;
  border-color: #28143a;
}
.light.royalpurple {
  background-color: #62318e;
  border-color: #331949;
}
.dark.royalpurple {
  background-color: #381c51;
  border-color: #1e0f2b;
}
.lemon {
  background-color: #e7e685;
  border-color: #767543;
}
.light.lemon {
  background-color: #eeeda7;
  border-color: #7a7954;
}
.dark.lemon {
  background-color: #e1df63;
  border-color: #737232;
}
.lime {
  background-color: #83c671;
  border-color: #426639;
}
.light.lime {
  background-color: #9cd28e;
  border-color: #4f6b48;
}
.dark.lime {
  background-color: #69bb53;
  border-color: #36602a;
}
.tangerine {
  background-color: #d9964a;
  border-color: #6f4d25;
}
.light.tangerine {
  background-color: #e0aa6b;
  border-color: #735636;
}
.dark.tangerine {
  background-color: #cf832b;
  border-color: #6a4316;
}
.grapefruit {
  background-color: #a92737;
  border-color: #57141c;
}
.light.grapefruit {
  background-color: #ca2f41;
  border-color: #671821;
}
.dark.grapefruit {
  background-color: #88202c;
  border-color: #461017;
}
.action,
.base-color {
  color: #f3f3f0;
  background: #36360d;
  border-color: #1e1e07;
}
.action.light,
.base-color.light {
  color: #f3f3f0;
  background: #575715;
  border-color: #2e2e0b;
}
.action.dark,
.base-color.dark {
  color: #f3f3f0;
  background: #151505;
  border-color: #0d0d03;
}
.reaction {
  background-color: #08081d;
  border-color: #040411;
}
.light.reaction {
  background-color: #10103d;
  border-color: #090921;
}
.dark.reaction {
  background-color: #000000;
  border-color: #020101;
}
.default {
  background-color: #393112;
  border-color: #1f1a0a;
}
.light.default {
  background-color: #574c1c;
  border-color: #2e280f;
}
.dark.default {
  background-color: #1a1608;
  border-color: #0f0d05;
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-margin-right {
  margin-right: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.no-margin-left {
  margin-left: 0 !important;
}
.no-padding {
  padding: 0;
}
.no-margin,
.no-gutter {
  margin: 0;
}
.no-side-margin,
.no-side-margins {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.no-margins {
  margin: 0 !important;
}
.no-margins * {
  margin: 0 !important;
}
.no-box-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  box-shadow: unset;
}
.no-text-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  text-shadow: unset;
}
.no-border,
.no-borders,
.no-borders * {
  border-width: 0 !important;
}
.no-background {
  background: transparent;
}
.no-text-indent {
  text-indent: 0;
}
.no-text-align {
  text-align: initial;
}
.no-user-select {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.no-pointer-events {
  pointer-events: none;
}
.no-list-style {
  list-style-type: none;
  margin-left: 0;
}
.no-grid-gap,
.no-column-gap {
  grid-gap: 0;
  column-gap: 0;
}
@media print {
  html {
    font-size: 62.5%;
  }
  * {
    box-shadow: unset !important;
    border: unset !important;
  }
  nav {
    display: none !important;
  }
  .page-width,
  .text-width,
  .container {
    all: unset;
  }
  .inner-page-width,
  .inner-text-width,
  .inner-aside-width {
    all: unset;
  }
}
