/* This project uses Cavepaint (MIT License) by Rex Riepe */
/* https://github.com/cavepaint/cavepaintCSS */
.background {
  background: #fdf9fe;
}
.background-color {
  background-color: #fdf9fe;
}
.border {
  border: 1px solid #c2a3cf;
}
.border-radius,
.rounded {
  border-radius: 0.5em;
}
.border-bottom {
  border-bottom: 1px solid #c2a3cf;
}
.border-left {
  border-left: 1px solid #c2a3cf;
}
.border-right {
  border-right: 1px solid #c2a3cf;
}
.border-style,
.button.border,
button.border {
  border-style: solid;
}
.border-top {
  border-top: 1px solid #c2a3cf;
}
.border-width,
.button.border,
button.border {
  border-width: 1px;
}
.max-width {
  max-width: 59rem;
}
.min-width {
  min-width: 22rem;
}
.align-content {
  align-content: stretch;
}
.align-items {
  align-items: stretch;
}
.align-self {
  align-self: auto;
}
.flex,
.vertical-center,
.center-vertical {
  flex: 0 1 auto;
}
.flex-direction,
.vertical-center,
.center-vertical {
  flex-direction: column;
}
.justify-content,
.vertical-center,
.center-vertical {
  justify-content: center;
}
.font-family,
body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.font-size {
  font-size: 18px;
}
.font-weight {
  font-weight: normal;
}
.list-style {
  list-style: disc inside none;
}
.list-style-type {
  list-style-type: disc;
}
.margin {
  margin: 2rem;
}
.margin-bottom,
pre,
.bar,
.card {
  margin-bottom: 2rem;
}
.margin-left {
  margin-left: 2rem;
}
.margin-right {
  margin-right: 2rem;
}
.margin-top {
  margin-top: 2rem;
}
.column-gap {
  column-gap: 1.94em;
}
.column-rule {
  column-rule: 1px solid #c2a3cf;
}
.padding {
  padding: 1rem;
}
.padding-bottom {
  padding-bottom: 1rem;
}
.padding-left {
  padding-left: 1rem;
}
.padding-right {
  padding-right: 1rem;
}
.padding-top {
  padding-top: 1rem;
}
.text-align {
  text-align: left;
}
.text-align-last {
  text-align-last: left;
}
.text-indent {
  text-indent: 2ch;
}
.text-justify {
  text-justify: justify;
}
.text-overflow {
  text-overflow: hidden;
}
.text-shadow {
  text-shadow: 1px 1px 1px rgba(36, 24, 39, 0.2);
}
.line-height {
  line-height: 1.8;
}
.vertical-align {
  vertical-align: middle;
}
.letter-spacing {
  letter-spacing: 0;
}
.word-spacing {
  word-spacing: normal;
}
.white-space {
  white-space: nowrap;
}
.word-break {
  word-break: break-all;
}
.word-wrap {
  word-wrap: break-word;
}
.transform {
  transform: none;
}
.transition {
  transition: all 0s ease 0s;
}
.display {
  display: block;
}
.position {
  position: absolute;
}
.top {
  top: 0;
}
.right {
  right: 0;
}
.bottom {
  bottom: 0;
}
.left {
  left: 0;
}
.float {
  float: left;
}
.clear {
  clear: both;
}
.z-index {
  z-index: 10;
}
.overflow {
  overflow: hidden;
}
.cursor {
  cursor: pointer;
}
.box-shadow {
  box-shadow: 1px 1px 1px rgba(36, 24, 39, 0.2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-size: 18px;
  line-height: 1.8;
  margin: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
nav {
  z-index: 99;
}
nav a {
  text-decoration: none;
}
aside {
  margin: 0 auto;
  margin-bottom: 2rem;
  max-width: 22rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-top: 0.49443758em;
  margin-bottom: 0.74165637em;
  letter-spacing: -0.025em;
  color: inherit;
  line-height: 1.618;
}
h1 {
  font-size: 2.4em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1em;
}
p {
  margin-bottom: 1em;
}
p.gutter-bottom {
  margin-bottom: 1.618em;
}
p.gutter {
  margin-bottom: 4rem;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: inherit;
  text-decoration: underline;
}
form {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input {
  font-size: 18px;
  line-height: 1.8;
  border: 1px solid #c2a3cf;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input:focus {
  box-shadow: 0 0 2px #30ffff;
}
fieldset {
  border: none;
  outline: none;
}
ol {
  padding-left: 4ch;
  margin-bottom: 2rem;
}
ol li {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
ul {
  margin-left: 1rem;
  margin-bottom: 2rem;
}
li {
  margin-bottom: 0.44em;
}
kbd {
  color: #fdf9fe;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  white-space: nowrap;
}
b {
  padding: 0.18em 0 0.22em 0;
}
pre {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  overflow: hidden;
  border-radius: 0.5em;
  background: #241827;
  color: #fdf9fe;
}
pre.white-space,
pre.word-break {
  white-space: pre-wrap;
}
pre > code {
  background: transparent;
  padding: 0;
}
code {
  color: #fdf9fe;
  background-color: #241827;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
code.terminal::before {
  content: "$ ";
}
textarea {
  font-size: 18px;
  line-height: 1.8;
  border: 1px solid #c2a3cf;
  border-radius: 0.5em;
  margin-bottom: 2rem;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
textarea:focus {
  box-shadow: 0 0 2px #30ffff;
}
.button,
button {
  border-style: solid;
  border-radius: 0.5em;
  box-shadow: 1px 1px 1px rgba(36, 24, 39, 0.2);
  display: inline;
  position: relative;
  font-family: inherit;
  font-size: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  color: inherit;
  background-color: inherit;
  border-color: #9f6eb2;
  border-width: 1px;
  line-height: 1.6;
  text-align: center;
  vertical-align: middle;
  outline: none;
  white-space: nowrap;
  text-decoration: none;
  touch-action: manipulation;
  cursor: pointer;
  transform: scale(1);
  transition: 0.08s linear;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.button:active,
button:active {
  transform: scale(0.99);
  box-shadow: unset;
}
.bar {
  position: relative;
  width: 100%;
  display: block;
  vertical-align: middle;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.bar > * {
  display: inline;
  margin-right: 0.3236em;
  margin-left: 0.3236em;
}
.card {
  position: relative;
  overflow: hidden;
  padding: 1rem;
  border: 1px solid #c2a3cf;
  border-radius: 0.5em;
  box-shadow: 1px 1px 1px rgba(36, 24, 39, 0.2);
}
.card > *:first-child {
  margin-top: 0;
}
.badge {
  border-radius: 0.5em;
  line-height: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  padding-right: 0.6472em;
  padding-left: 0.6472em;
  vertical-align: middle;
  border-radius: 99px;
  white-space: nowrap;
}
.modal {
  display: none;
  max-width: none;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  position: fixed;
  bottom: 0;
  justify-content: center;
  flex: 0 1 auto;
  flex-direction: column;
  height: 100vh;
}
.modal > * {
  flex-direction: column;
  color: #241827;
  position: relative;
  background: #fdf9fe;
  padding: 1rem;
  margin-bottom: 4rem;
  border-radius: 0.5em;
  box-shadow: 1px 1px 1px rgba(36, 24, 39, 0.2);
  margin: 1rem;
}
@media screen and (min-width: 41rem) {
  .modal > * {
    max-width: 59rem;
    margin: 0 auto;
  }
}
.overlay {
  margin: 0;
  padding: 0;
  position: relative;
}
.overlay .top,
.overlay .bottom,
.overlay .left,
.overlay .right {
  position: absolute;
}
.overlay .top {
  top: 0.3236em;
}
.overlay .bottom {
  bottom: 0.3236em;
}
.overlay .left {
  left: 0.3236em;
}
.overlay .right {
  right: 0.3236em;
}
.overlay.stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.overlay * {
  margin: 0;
  display: block;
}
.white,
body,
input,
textarea {
  background-color: #fdf9fe;
  border-color: #8b7f8e;
}
.white.light,
body.light,
input.light,
textarea.light {
  color: #241827;
  background-color: #fefcff;
  border-color: #8b818e;
}
.white.dark,
body.dark,
input.dark,
textarea.dark {
  color: #241827;
  background-color: #fcf4fe;
  border-color: #8a7d8e;
}
.black {
  background-color: #241827;
  border-color: #120c14;
}
.black.light {
  color: #fdf9fe;
  background-color: #5e4663;
  border-color: #392a3c;
}
.black.dark {
  color: #fdf9fe;
  background-color: #050206;
  border-color: #0d060f;
}
.ambient {
  color: #241827;
  background-color: #e297f5;
  border-color: #7d4f89;
}
.ambient.light {
  color: #241827;
  background-color: #f0c2fa;
  border-color: #84648c;
}
.ambient.dark {
  color: #241827;
  background-color: #cf66ee;
  border-color: #733685;
}
.ambient.bright {
  color: #241827;
  background-color: #f6d9fd;
  border-color: #886f8d;
}
.red,
.failure {
  background-color: #ff0c39;
  border-color: #8f0821;
}
.light.red,
.light.failure {
  background-color: #ff5174;
  border-color: #8f2a3f;
}
.dark.red,
.dark.failure {
  background-color: #cf0a2e;
  border-color: #76071c;
}
.bright.red,
.bright.failure {
  background-color: #ff1b31;
  border-color: #8f0f1b;
}
.orange,
.warning {
  background-color: #ffa825;
  border-color: #8f5e14;
}
.light.orange,
.light.warning {
  background-color: #ffc066;
  border-color: #8f6a35;
}
.dark.orange,
.dark.warning {
  background-color: #cf811f;
  border-color: #754a13;
}
.bright.orange,
.bright.warning {
  background-color: #ffc925;
  border-color: #8f7114;
}
.yellow {
  background-color: #ffff25;
  border-color: #8f8f14;
}
.light.yellow {
  background-color: #fffe66;
  border-color: #8f8f35;
}
.dark.yellow {
  background-color: #cfc81f;
  border-color: #757213;
}
.bright.yellow {
  background-color: #ffff25;
  border-color: #8f8f14;
}
.green,
.success {
  background-color: #308639;
  border-color: #1d4f22;
}
.light.green,
.light.success {
  background-color: #6da974;
  border-color: #3d5f41;
}
.dark.green,
.dark.success {
  background-color: #27662e;
  border-color: #193f1d;
}
.bright.green,
.bright.success {
  background-color: #15a31e;
  border-color: #0e6013;
}
.teal {
  background-color: #1f8493;
  border-color: #144e57;
}
.light.teal {
  background-color: #62a7b3;
  border-color: #375e65;
}
.dark.teal {
  background-color: #1a6475;
  border-color: #113e48;
}
.bright.teal {
  background-color: #099dbc;
  border-color: #075b6d;
}
.cyan,
.info {
  background-color: #30ffff;
  border-color: #1a8f8f;
}
.light.cyan,
.light.info {
  background-color: #6dfeff;
  border-color: #388f8f;
}
.dark.cyan,
.dark.info {
  background-color: #27c8d0;
  border-color: #177176;
}
.bright.cyan,
.bright.info {
  background-color: #2bffff;
  border-color: #178f8f;
}
.blue {
  background-color: #300cff;
  border-color: #1c088f;
}
.light.blue {
  background-color: #6d51ff;
  border-color: #3b2a8f;
}
.dark.blue {
  background-color: #270ad0;
  border-color: #170777;
}
.bright.blue {
  background-color: #2a1bff;
  border-color: #170f8f;
}
.purple {
  background-color: #900893;
  border-color: #570659;
}
.light.purple {
  background-color: #b14eb3;
  border-color: #642d65;
}
.dark.purple {
  background-color: #720775;
  border-color: #48064a;
}
.bright.purple {
  background-color: #b701bd;
  border-color: #6b026e;
}
.magenta {
  background-color: #ff0cff;
  border-color: #8f088f;
}
.light.magenta {
  background-color: #ff51ff;
  border-color: #8f2a8f;
}
.dark.magenta {
  background-color: #cf0ad0;
  border-color: #760777;
}
.bright.magenta {
  background-color: #ff1bff;
  border-color: #8f0f8f;
}
.gray {
  background-color: #908493;
  border-color: #514a53;
}
.light.gray {
  background-color: #b1a7b3;
  border-color: #625b63;
}
.dark.gray {
  background-color: #726475;
  border-color: #423a44;
}
.bright.gray {
  background-color: #a996ae;
  border-color: #5e5261;
}
.action,
.base-color {
  color: #fdf9fe;
  background-color: #a266c3;
  border-color: #5b386e;
}
.action.light,
.base-color.light {
  color: #241827;
  background-color: #cb9edf;
  border-color: #6f547c;
}
.action.dark,
.base-color.dark {
  color: #fdf9fe;
  background-color: #7834a3;
  border-color: #451f5e;
}
.action.bright,
.base-color.bright {
  color: #241827;
  background-color: #bf89dd;
  border-color: #6a497b;
}
.reaction {
  background-color: #6d9556;
  border-color: #3e5531;
}
.light.reaction {
  background-color: #98b389;
  border-color: #54644b;
}
.dark.reaction {
  background-color: #567245;
  border-color: #334429;
}
.bright.reaction {
  background-color: #67b941;
  border-color: #3b6925;
}
.default {
  background-color: #c2a3cf;
  border-color: #6b5873;
}
.light.default {
  background-color: #d4bddd;
  border-color: #74657a;
}
.dark.default {
  background-color: #9c7ea8;
  border-color: #58465e;
}
.bright.default {
  background-color: #ebd1f2;
  border-color: #806d86;
}
.complement,
.second.triad {
  background-color: #88b570;
  border-color: #4c663e;
}
.light.complement,
.light.second.triad {
  color: #241827;
  background-color: #abca9a;
  border-color: #5e7053;
}
.dark.complement,
.dark.second.triad {
  color: #fdf9fe;
  background-color: #6b8c59;
  border-color: #3e5133;
}
.bright.complement,
.bright.second.triad {
  color: #241827;
  background-color: #9ed976;
  border-color: #577a3f;
}
.accent {
  background-color: #d66ccb;
  border-color: #783b71;
}
.light.accent {
  color: #241827;
  background-color: #e296da;
  border-color: #7e5079;
}
.dark.accent {
  color: #fdf9fe;
  background-color: #ad52a4;
  border-color: #622f5d;
}
.bright.accent {
  color: #241827;
  background-color: #f474ed;
  border-color: #893c84;
}
.second.accent {
  background-color: #886cd8;
  border-color: #4a3b79;
}
.light.second.accent {
  color: #241827;
  background-color: #ab96e3;
  border-color: #5c4f7f;
}
.dark.second.accent {
  color: #fdf9fe;
  background-color: #6b52af;
  border-color: #3d2f63;
}
.bright.second.accent {
  color: #fdf9fe;
  background-color: #a074f5;
  border-color: #573c89;
}
.split {
  background-color: #bc6970;
  border-color: #6a3a3e;
}
.light.split {
  color: #241827;
  background-color: #d0949b;
  border-color: #745054;
}
.dark.split {
  color: #fdf9fe;
  background-color: #975059;
  border-color: #572e33;
}
.bright.split {
  color: #fdf9fe;
  background-color: #e06c76;
  border-color: #7e3a40;
}
.second.split {
  background-color: #6ca8be;
  border-color: #3c5e6b;
}
.light.second.split {
  color: #241827;
  background-color: #97c1d1;
  border-color: #516a74;
}
.dark.second.split {
  color: #fdf9fe;
  background-color: #558299;
  border-color: #314a58;
}
.bright.second.split {
  color: #241827;
  background-color: #70cbe2;
  border-color: #3c717e;
}
.triad {
  background-color: #bc5c8b;
  border-color: #6a344e;
}
.light.triad {
  color: #241827;
  background-color: #d08bae;
  border-color: #744b60;
}
.dark.triad {
  color: #fdf9fe;
  background-color: #97466f;
  border-color: #572940;
}
.bright.triad {
  color: #fdf9fe;
  background-color: #e058a2;
  border-color: #7e305a;
}
.third.triad {
  background-color: #6c7cbe;
  border-color: #3c456b;
}
.light.third.triad {
  color: #241827;
  background-color: #97a1d1;
  border-color: #515774;
}
.dark.third.triad {
  color: #fdf9fe;
  background-color: #555e99;
  border-color: #313658;
}
.bright.third.triad {
  color: #fdf9fe;
  background-color: #7089e2;
  border-color: #3c4b7e;
}
.tetrad {
  background-color: #bc5c9f;
  border-color: #6a3459;
}
.light.tetrad {
  color: #241827;
  background-color: #d08bbc;
  border-color: #744b68;
}
.dark.tetrad {
  color: #fdf9fe;
  background-color: #97467f;
  border-color: #57294a;
}
.bright.tetrad {
  color: #fdf9fe;
  background-color: #e058bf;
  border-color: #7e306b;
}
.second.tetrad {
  background-color: #bcac70;
  border-color: #6a603e;
}
.light.second.tetrad {
  color: #241827;
  background-color: #d0c39b;
  border-color: #736c53;
}
.dark.second.tetrad {
  color: #fdf9fe;
  background-color: #978459;
  border-color: #564c33;
}
.bright.second.tetrad {
  color: #241827;
  background-color: #e0d077;
  border-color: #7e743f;
}
.third.tetrad {
  background-color: #6cb58f;
  border-color: #3c6650;
}
.light.third.tetrad {
  color: #241827;
  background-color: #97cab0;
  border-color: #527061;
}
.dark.third.tetrad {
  color: #fdf9fe;
  background-color: #558c72;
  border-color: #315142;
}
.bright.third.tetrad {
  color: #241827;
  background-color: #6fd9a8;
  border-color: #3c7a5d;
}
.fourth.tetrad {
  background-color: #6c65be;
  border-color: #3c386b;
}
.light.fourth.tetrad {
  color: #241827;
  background-color: #9791d1;
  border-color: #524e74;
}
.dark.fourth.tetrad {
  color: #fdf9fe;
  background-color: #554d99;
  border-color: #312c58;
}
.bright.fourth.tetrad {
  color: #fdf9fe;
  background-color: #6f66e2;
  border-color: #3c377f;
}
.warm {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201%201%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23f0b97a%22%20opacity%3D%220.2%22%20d%3D%22M0%200h1v1H0z%22%2F%3E%3C%2Fsvg%3E");
}
.cool {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201%201%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%233bdee2%22%20opacity%3D%220.2%22%20d%3D%22M0%200h1v1H0z%22%2F%3E%3C%2Fsvg%3E");
}
.neutral {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201%201%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%2345a555%22%20opacity%3D%220.16%22%20d%3D%22M0%200h1v1H0z%22%2F%3E%3C%2Fsvg%3E");
}
.dull {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201%201%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23b5a8b8%22%20opacity%3D%220.38%22%20d%3D%22M0%200h1v1H0z%22%2F%3E%3C%2Fsvg%3E");
}
.responsive {
  column-gap: 0.382rem;
  grid-gap: 0.382rem;
}
.responsive.padding,
.modal,
.container {
  padding: 0.382rem;
}
.responsive.margin,
.container {
  margin: 0.764rem;
}
.responsive.gutter {
  margin: 1.528rem;
}
@media screen and (min-width: 41rem) {
  .responsive {
    column-gap: 0.618rem;
    grid-gap: 0.618rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 0.618rem;
  }
  .responsive.margin,
  .container {
    margin: 1.236rem;
  }
  .responsive.gutter {
    margin: 2.472rem;
  }
}
@media screen and (min-width: 59rem) {
  .responsive {
    column-gap: 1rem;
    grid-gap: 1rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1rem;
  }
  .responsive.margin,
  .container {
    margin: 2rem;
  }
  .responsive.gutter {
    margin: 4rem;
  }
}
.grid,
.two-column,
.three-column {
  display: grid;
  grid-gap: 2rem;
  margin-bottom: 2rem;
}
.grid.tablet,
.two-column.tablet,
.three-column.tablet,
.grid.mobile.tablet,
.two-column.mobile.tablet,
.three-column.mobile.tablet,
.grid.desktop,
.two-column.desktop,
.three-column.desktop {
  display: unset;
}
.grid {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.two-column {
  grid-template-columns: 1fr 1fr;
}
.two-column.golden {
  grid-template-columns: 1.618fr 1fr;
}
.two-column.golden.reverse {
  grid-template-columns: 1fr 1.618fr;
}
.three-column {
  grid-template-columns: 1fr 1fr 1fr;
}
.three-column.golden {
  grid-template-columns: 1fr 1.618fr 1fr;
}
.three-column.golden.leading {
  grid-template-columns: 1.618fr 1fr 1fr;
}
.three-column.golden.trailing {
  grid-template-columns: 1fr 1fr 1.618fr;
}
.grid-width-one {
  grid-column: auto / span 1;
}
.grid-width-two {
  grid-column: auto / span 2;
}
.grid-width-three {
  grid-column: auto / span 3;
}
.grid-width-four {
  grid-column: auto / span 4;
}
.grid-width-five {
  grid-column: auto / span 5;
}
.grid-width-six {
  grid-column: auto / span 6;
}
.grid-width-seven {
  grid-column: auto / span 7;
}
.grid-width-eight {
  grid-column: auto / span 8;
}
.grid-width-nine {
  grid-column: auto / span 9;
}
.grid-width-ten {
  grid-column: auto / span 10;
}
.grid-width-eleven {
  grid-column: auto / span 11;
}
.grid-width-twelve {
  grid-column: auto / span 12;
}
@media screen and (max-width: calc(41rem - 1px)) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: grid;
  }
}
@media screen and (min-width: 41rem) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: initial;
  }
  .grid.tablet,
  .two-column.tablet,
  .three-column.tablet {
    display: grid;
  }
}
@media screen and (max-width: calc(59rem - 1px)) {
  .grid.mobile.tablet,
  .two-column.mobile.tablet,
  .three-column.mobile.tablet {
    display: grid;
  }
}
@media screen and (min-width: 59rem) {
  .grid.desktop,
  .two-column.desktop,
  .three-column.desktop {
    display: grid;
  }
}
.gutter {
  margin: 4rem;
}
.gutter-top {
  margin-top: 4rem;
}
.gutter-right {
  margin-right: 4rem;
}
.gutter-bottom {
  margin-bottom: 4rem;
}
.gutter-left {
  margin-left: 4rem;
}
.text-padding {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-padding-top {
  padding-top: 0.18em;
}
.text-padding-right {
  padding-right: 0.3236em;
}
.text-padding-bottom {
  padding-bottom: 0.22em;
}
.text-padding-left {
  padding-left: 0.3236em;
}
.text-margin {
  margin: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-margin-top {
  margin-top: 0.18em;
}
.text-margin-right {
  margin-right: 0.3236em;
}
.text-margin-bottom {
  margin-bottom: 0.22em;
}
.text-margin-left {
  margin-left: 0.3236em;
}
.bottom-margins * {
  margin-bottom: 2rem;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.initial {
  display: initial;
}
.table {
  display: table;
}
.flex,
.vertical-center,
.center-vertical {
  display: flex;
}
.inline-block {
  display: inline-block;
}
.static {
  position: static;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.margin-auto,
.container {
  margin-left: auto;
  margin-right: auto;
}
.width-auto {
  width: auto;
}
.inset {
  box-shadow: inset 1px 1px 1px rgba(36, 24, 39, 0.2);
}
.viewport-height {
  height: 100vh;
}
.min-viewport-height {
  min-height: 100vh;
}
.overflow-hidden {
  overflow: hidden;
}
.dashed {
  border-style: dashed;
}
.dotted {
  border-style: dotted;
}
.thick {
  border-width: 2px;
}
.thin {
  border-width: 0.5px;
}
.current-color {
  border-color: currentColor;
}
.fade {
  opacity: 0.65;
}
.monospace,
pre,
code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
}
.sans-serif {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.serif {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "Droid Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.text-transparent {
  color: transparent;
}
.big {
  font-size: 125%;
  line-height: 2.25;
}
.big.font-size {
  font-size: 22.5px;
}
.small,
.badge {
  font-size: 87.5%;
  line-height: 1.575;
}
.small.font-size {
  font-size: 15.75px;
}
.huge {
  font-size: 160%;
}
.huge.font-size {
  font-size: 28.8px;
}
.text-trim {
  line-height: 1;
}
.text-align-center,
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.grid-gap-margin {
  grid-gap: 2rem;
}
.grid-gap-border-width {
  grid-gap: 1px;
}
.grid-gap-text-padding,
.grid-gap-text-margin {
  grid-gap: 0.3236em;
}
.shade,
.white,
.orange,
.bright.orange,
.yellow,
.bright.yellow,
.light.green,
.light.teal,
.cyan,
.bright.cyan,
.magenta,
.bright.magenta,
.light.gray,
.bright.gray,
.light.reaction,
.bright.reaction,
.default,
.bright.default,
.complement,
.accent,
.second.split,
.second.tetrad,
.third.tetrad,
body,
input,
textarea,
.info,
.bright.info,
.warning,
.bright.warning,
.light.success,
.second.triad {
  color: #241827;
}
.tint,
.black,
.red,
.bright.red,
.green,
.bright.green,
.teal,
.bright.teal,
.blue,
.bright.blue,
.purple,
.bright.purple,
.dark.magenta,
.gray,
.reaction,
.dark.default,
.second.accent,
.split,
.triad,
.third.triad,
.tetrad,
.fourth.tetrad,
.success,
.bright.success,
.failure,
.bright.failure {
  color: #fdf9fe;
}
.transparent {
  background-color: transparent;
  color: inherit;
  border-color: inherit;
}
.transparent.light {
  background-color: rgba(253, 249, 254, 0.16);
}
.transparent.dark,
.modal {
  background-color: rgba(36, 24, 39, 0.25);
}
.trim,
.trim-inner *,
.trim-all,
.trim-all * {
  margin-bottom: 0;
}
.bump {
  position: relative;
}
.bump.up {
  top: -2px;
}
.bump.down {
  top: 2px;
}
.bump.left {
  left: -2px;
}
.bump.right {
  right: initial;
  left: 2px;
}
.hidden {
  display: none !important;
}
.clearfix,
.clear {
  clear: both;
}
.clearfix::after,
.clear::after {
  display: block;
  clear: both;
  content: "";
}
.character-width {
  max-width: 1ch;
}
.golden-width {
  max-width: calc(62% - 4rem);
}
.golden-width.reverse {
  max-width: 38%;
}
.aside-width {
  max-width: 22rem;
}
@media screen and (min-width: 41rem) {
  .text-width {
    max-width: 37rem;
  }
}
.page-width,
.container {
  max-width: 59rem;
}
.full-width,
.page-width .page-width {
  display: block;
  width: 100%;
}
.inner-aside-width {
  padding-left: calc(50% - 11rem);
  padding-right: calc(50% - 11rem);
}
.inner-aside-width.padding {
  padding-left: calc(50% - 10rem);
  padding-right: calc(50% - 10rem);
}
.inner-aside-width.responsive.padding {
  padding-left: calc(50% - 10.62rem);
  padding-right: calc(50% - 10.62rem);
}
@media screen and (max-width: calc(41rem - 1px)) {
  .inner-text-width {
    padding-left: initial;
    padding-right: initial;
  }
  .inner-text-width.padding {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .inner-text-width.responsive.padding {
    padding-left: 0.382rem;
    padding-right: 0.382rem;
  }
}
@media screen and (min-width: 41rem) {
  .inner-aside-width.tablet.padding {
    padding-left: calc(50% - 10rem);
    padding-right: calc(50% - 10rem);
  }
  .inner-aside-width.tablet.responsive.padding {
    padding-left: calc(50% - 10.38rem);
    padding-right: calc(50% - 10.38rem);
  }
  .inner-text-width {
    padding-left: calc(50% - 18.5rem);
    padding-right: calc(50% - 18.5rem);
  }
  .inner-text-width.padding {
    padding-left: calc(50% - 17.5rem);
    padding-right: calc(50% - 17.5rem);
  }
  .inner-text-width.responsive.padding {
    padding-left: calc(50% - 17.88rem);
    padding-right: calc(50% - 17.88rem);
  }
}
@media screen and (min-width: 59rem) {
  .inner-aside-width.desktop.padding {
    padding-left: calc(50% - 10rem);
    padding-right: calc(50% - 10rem);
  }
  .inner-aside-width.desktop.responsive.padding {
    padding-left: calc(50% - 10rem);
    padding-right: calc(50% - 10rem);
  }
  .inner-text-width.desktop.padding {
    padding-left: calc(50% - 17.5rem);
    padding-right: calc(50% - 17.5rem);
  }
  .inner-text-width.desktop.responsive.padding {
    padding-left: calc(50% - 17.5rem);
    padding-right: calc(50% - 17.5rem);
  }
  .inner-page-width {
    padding-left: calc(50% - 29.5rem);
    padding-right: calc(50% - 29.5rem);
  }
  .inner-page-width.padding {
    padding-left: calc(50% - 28.5rem);
    padding-right: calc(50% - 28.5rem);
  }
  .inner-page-width.responsive.padding {
    padding-left: calc(50% - 28.5rem);
    padding-right: calc(50% - 28.5rem);
  }
}
.placeholder {
  min-height: 10px;
}
.placeholder::before {
  content: " ";
  white-space: pre;
}
.placeholder::after {
  content: "";
  display: block;
}
.placeholder.square::after,
.placeholder.one-to-one::after {
  padding-top: 100%;
}
.placeholder.four-to-three::after {
  padding-top: 75%;
}
.placeholder.sixteen-to-nine::after {
  padding-top: 56.25%;
}
.hide {
  display: none;
}
.hide.tablet {
  display: initial;
}
.hide.desktop {
  display: initial;
}
@media screen and (max-width: calc(41rem - 1px)) {
  .hide.mobile {
    display: none;
  }
}
@media screen and (min-width: 41rem) {
  .hide.mobile {
    display: initial;
  }
  .hide.tablet {
    display: none;
  }
}
@media screen and (min-width: 59rem) {
  .hide.desktop {
    display: none;
  }
  .hide.mobile.tablet {
    display: initial;
  }
}
@media screen and (max-width: calc(59rem - 1px)) {
  .hide.mobile.tablet {
    display: none;
  }
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-margin-right {
  margin-right: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.no-margin-left {
  margin-left: 0 !important;
}
.no-padding {
  padding: 0;
}
.no-margin,
.no-gutter {
  margin: 0;
}
.no-side-margin,
.no-side-margins {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.no-margins {
  margin: 0 !important;
}
.no-margins * {
  margin: 0 !important;
}
.no-box-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  box-shadow: unset;
}
.no-text-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  text-shadow: unset;
}
.no-border,
.no-borders,
.no-borders * {
  border-width: 0 !important;
}
.no-background {
  background: transparent;
}
.no-text-indent {
  text-indent: 0;
}
.no-text,
.no-text * {
  text-indent: -9999px;
}
.no-text-align {
  text-align: initial;
}
.no-user-select {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.no-pointer-events {
  pointer-events: none;
}
.no-list-style {
  list-style-type: none;
  margin-left: 0;
}
.no-grid-gap,
.no-column-gap {
  grid-gap: 0;
  column-gap: 0;
}
