/* This project uses Cavepaint! (MIT License) */
/* https://github.com/cavepaint/cavepaintCSS */
* {
  margin: 0 0 1.62rem 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}
.button,
button {
  border-style: solid;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(13, 11, 39, 0.16);
  display: inline;
  position: relative;
  font-family: inherit;
  font-size: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  color: inherit;
  background-color: inherit;
  border-color: #75772a;
  border-width: 1px;
  line-height: 1.6;
  text-align: center;
  vertical-align: middle;
  outline: none;
  white-space: nowrap;
  text-decoration: none;
  touch-action: manipulation;
  cursor: pointer;
  transform: scale(1);
  transition: 0.08s linear;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.button:active,
button:active {
  transform: scale(0.99);
  box-shadow: unset;
}
.bar {
  position: relative;
  width: 100%;
  display: block;
  vertical-align: middle;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.bar > * {
  display: inline;
  margin-right: 0.3236em;
  margin-left: 0.3236em;
  margin-bottom: 0;
}
.card {
  position: relative;
  overflow: hidden;
  padding: 1.62rem;
  border: 1px solid #b0b340;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(13, 11, 39, 0.16);
}
.card > *:first-child {
  margin-top: 0;
}
.card > *:last-child {
  margin-bottom: 0;
}
.badge {
  border-radius: 0.5em;
  line-height: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  padding-right: 0.6472em;
  padding-left: 0.6472em;
  vertical-align: middle;
  border-radius: 99px;
  white-space: nowrap;
}
.modal {
  display: none;
  max-width: none;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  position: fixed;
  bottom: 0;
  justify-content: center;
  flex: 0 1 auto;
  flex-direction: column;
  height: 100vh;
}
.modal > * {
  flex-direction: column;
  color: #24270b;
  position: relative;
  background: #fdfef4;
  padding: 1.62rem;
  margin-bottom: 3.24rem;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(13, 11, 39, 0.16);
  margin: 1.62rem;
}
@media screen and (min-width: 48.24rem) {
  .modal > * {
    max-width: 72rem;
    margin: 0 auto;
  }
}
.overlay {
  margin: 0;
  padding: 0;
  position: relative;
}
.overlay .top,
.overlay .bottom,
.overlay .left,
.overlay .right {
  position: absolute;
}
.overlay .top {
  top: 0.3236em;
}
.overlay .bottom {
  bottom: 0.3236em;
}
.overlay .left {
  left: 0.3236em;
}
.overlay .right {
  right: 0.3236em;
}
.overlay.stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.overlay * {
  margin: 0;
  display: block;
}
.grid,
.two-column,
.three-column {
  display: grid;
  grid-gap: 1.62rem;
}
.grid.tablet,
.two-column.tablet,
.three-column.tablet,
.grid.mobile.tablet,
.two-column.mobile.tablet,
.three-column.mobile.tablet,
.grid.desktop,
.two-column.desktop,
.three-column.desktop {
  display: initial;
}
.grid {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.two-column {
  grid-template-columns: 1fr 1fr;
}
.two-column.golden {
  grid-template-columns: 1.618fr 1fr;
}
.two-column.golden.reverse {
  grid-template-columns: 1fr 1.618fr;
}
.three-column {
  grid-template-columns: 1fr 1fr 1fr;
}
.three-column.golden {
  grid-template-columns: 1fr 1.618fr 1fr;
}
.three-column.golden.leading {
  grid-template-columns: 1.618fr 1fr 1fr;
}
.three-column.golden.trailing {
  grid-template-columns: 1fr 1fr 1.618fr;
}
.grid .grid-width-one {
  grid-column: auto / span 1;
}
.grid .grid-width-two {
  grid-column: auto / span 2;
}
.grid .grid-width-three {
  grid-column: auto / span 3;
}
.grid .grid-width-four {
  grid-column: auto / span 4;
}
.grid .grid-width-five {
  grid-column: auto / span 5;
}
.grid .grid-width-six {
  grid-column: auto / span 6;
}
.grid .grid-width-seven {
  grid-column: auto / span 7;
}
.grid .grid-width-eight {
  grid-column: auto / span 8;
}
.grid .grid-width-nine {
  grid-column: auto / span 9;
}
.grid .grid-width-ten {
  grid-column: auto / span 10;
}
.grid .grid-width-eleven {
  grid-column: auto / span 11;
}
.grid .grid-width-twelve {
  grid-column: auto / span 12;
}
@media screen and (max-width: calc(48.24rem - 1px)) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: grid;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 48.24rem) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: initial;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: initial;
  }
  .grid.tablet,
  .two-column.tablet,
  .three-column.tablet {
    display: grid;
  }
  .grid.tablet > *,
  .two-column.tablet > *,
  .three-column.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (max-width: calc(72rem - 1px)) {
  .grid.mobile.tablet,
  .two-column.mobile.tablet,
  .three-column.mobile.tablet {
    display: grid;
  }
  .grid.mobile.tablet > *,
  .two-column.mobile.tablet > *,
  .three-column.mobile.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 72rem) {
  .grid.desktop,
  .two-column.desktop,
  .three-column.desktop {
    display: grid;
  }
  .grid.desktop > *,
  .two-column.desktop > *,
  .three-column.desktop > * {
    margin-bottom: 0;
  }
}
.responsive {
  column-gap: 0.619rem;
  grid-gap: 0.619rem;
}
.responsive.padding,
.modal,
.container {
  padding: 0.619rem;
}
.responsive.margin,
.container {
  margin: 0.619rem;
}
.responsive.gutter {
  margin: 1.238rem;
}
@media screen and (min-width: 48.24rem) {
  .responsive {
    column-gap: 1.001rem;
    grid-gap: 1.001rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.001rem;
  }
  .responsive.margin,
  .container {
    margin: 1.001rem;
  }
  .responsive.gutter {
    margin: 2.002rem;
  }
}
@media screen and (min-width: 72rem) {
  .responsive {
    column-gap: 1.62rem;
    grid-gap: 1.62rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.62rem;
  }
  .responsive.margin,
  .container {
    margin: 1.62rem;
  }
  .responsive.gutter {
    margin: 3.24rem;
  }
}
.background {
  background: #fdfef4;
}
.background-color {
  background-color: #fdfef4;
}
.border {
  border: 1px solid #b0b340;
}
.border-radius,
.rounded {
  border-radius: 0.5em;
}
.border-bottom {
  border-bottom: 1px solid #b0b340;
}
.border-left {
  border-left: 1px solid #b0b340;
}
.border-right {
  border-right: 1px solid #b0b340;
}
.border-style,
.button.border,
button.border {
  border-style: solid;
}
.border-top {
  border-top: 1px solid #b0b340;
}
.border-width,
.button.border,
button.border {
  border-width: 1px;
}
.max-width {
  max-width: 72rem;
}
.min-width {
  min-width: 27rem;
}
.align-content {
  align-content: stretch;
}
.align-items {
  align-items: stretch;
}
.align-self {
  align-self: auto;
}
.flex,
.vertical-center,
.center-vertical {
  flex: 0 1 auto;
}
.flex-basis {
  flex-basis: auto;
}
.flex-direction,
.vertical-center,
.center-vertical {
  flex-direction: column;
}
.flex-flow {
  flex-flow: column nowrap;
}
.flex-grow {
  flex-grow: 0;
}
.flex-shrink {
  flex-shrink: 1;
}
.flex-wrap {
  flex-wrap: nowrap;
}
.justify-content,
.vertical-center,
.center-vertical {
  justify-content: center;
}
.font-family {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.font-size {
  font-size: 16px;
}
.font-weight {
  font-weight: normal;
}
.list-style {
  list-style: disc inside none;
}
.list-style-type {
  list-style-type: disc;
}
.margin {
  margin: 1.62rem;
}
.margin-bottom {
  margin-bottom: 1.62rem;
}
.margin-left {
  margin-left: 1.62rem;
}
.margin-right {
  margin-right: 1.62rem;
}
.margin-top {
  margin-top: 1.62rem;
}
.column-gap {
  column-gap: 1.94em;
}
.column-rule {
  column-rule: 1px solid #b0b340;
}
.padding {
  padding: 1.62rem;
}
.padding-bottom {
  padding-bottom: 1.62rem;
}
.padding-left {
  padding-left: 1.62rem;
}
.padding-right {
  padding-right: 1.62rem;
}
.padding-top {
  padding-top: 1.62rem;
}
.text-align {
  text-align: left;
}
.text-align-last {
  text-align-last: left;
}
.text-indent {
  text-indent: 2ch;
}
.text-justify {
  text-justify: justify;
}
.text-overflow {
  text-overflow: hidden;
}
.text-shadow {
  text-shadow: 1.41px 1.41px 1.41px rgba(13, 11, 39, 0.16);
}
.line-height {
  line-height: 1.8;
}
.vertical-align {
  vertical-align: middle;
}
.letter-spacing {
  letter-spacing: 0;
}
.word-spacing {
  word-spacing: normal;
}
.white-space {
  white-space: nowrap;
}
.word-break {
  word-break: break-all;
}
.word-wrap {
  word-wrap: break-word;
}
.transform {
  transform: none;
}
.transition {
  transition: all 0s ease 0s;
}
.display {
  display: block;
}
.position {
  position: absolute;
}
.top {
  top: 0;
}
.right {
  right: 0;
}
.bottom {
  bottom: 0;
}
.left {
  left: 0;
}
.float {
  float: left;
}
.clear {
  clear: both;
}
.z-index {
  z-index: 10;
}
.overflow {
  overflow: hidden;
}
.overflow-x {
  overflow-x: hidden;
}
.cursor {
  cursor: pointer;
}
.box-shadow {
  box-shadow: 1.41px 1.41px 1.41px rgba(13, 11, 39, 0.16);
}
.gutter {
  margin: 3.24rem;
}
.gutter-top {
  margin-top: 3.24rem;
}
.gutter-right {
  margin-right: 3.24rem;
}
.gutter-bottom {
  margin-bottom: 3.24rem;
}
.gutter-left {
  margin-left: 3.24rem;
}
.text-padding {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-padding-top {
  padding-top: 0.18em;
}
.text-padding-right {
  padding-right: 0.3236em;
}
.text-padding-bottom {
  padding-bottom: 0.22em;
}
.text-padding-left {
  padding-left: 0.3236em;
}
.text-margin {
  margin: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-margin-top {
  margin-top: 0.18em;
}
.text-margin-right {
  margin-right: 0.3236em;
}
.text-margin-bottom {
  margin-bottom: 0.22em;
}
.text-margin-left {
  margin-left: 0.3236em;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.initial {
  display: initial;
}
.table {
  display: table;
}
.flex,
.vertical-center,
.center-vertical {
  display: flex;
}
.inline-block {
  display: inline-block;
}
.static {
  position: static;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.margin-auto,
.container {
  margin-left: auto;
  margin-right: auto;
}
.width-auto {
  width: auto;
}
.inset {
  box-shadow: inset 1.41px 1.41px 1.41px rgba(13, 11, 39, 0.16);
}
.viewport-height {
  height: 100vh;
}
.min-viewport-height {
  min-height: 100vh;
}
.overflow-hidden {
  overflow: hidden;
}
.dashed {
  border-style: dashed;
}
.dotted {
  border-style: dotted;
}
.thick {
  border-width: 2px;
}
.thin {
  border-width: 0.5px;
}
.current-color {
  border-color: currentColor;
}
.fade {
  opacity: 0.65;
}
.serif,
.font-family-serif {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "Droid Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
.monospace,
.font-family-monospace {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
}
.sans-serif,
.font-family-sans-serif {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.text-transparent {
  color: transparent;
}
.reset {
  all: initial;
}
.big {
  font-size: 125%;
  line-height: 2.25;
}
.big.font-size {
  font-size: 20px;
}
.small,
.badge {
  font-size: 87.5%;
  line-height: 1.575;
}
.small.font-size {
  font-size: 14px;
}
.huge {
  font-size: 160%;
}
.huge.font-size {
  font-size: 25.6px;
}
.text-trim {
  line-height: 1;
}
.text-align-center,
.text-center {
  text-align: center;
}
.text-align-left,
.text-left {
  text-align: left;
}
.text-align-right,
.text-right {
  text-align: right;
}
.text-align-justify,
.text-justify {
  text-align: justify;
}
.grid-gap-margin {
  grid-gap: 1.62rem;
}
.grid-gap-border-width {
  grid-gap: 1px;
}
.grid-gap-text-padding,
.grid-gap-text-margin {
  grid-gap: 0.3236em;
}
.shade,
.white,
.orange,
.yellow,
.olive,
.light.green,
.teal,
.cyan,
.skyblue,
.violet,
.light.gray,
.light.magenta,
.lavender,
.cream,
.clover,
.pewter,
.hotpink,
.neongreen,
.electricblue,
.lemon,
.lime,
.tangerine,
.default,
body,
input,
textarea,
.info,
.warning,
.light.success {
  color: #24270b;
}
.tint,
.black,
.red,
.dark.olive,
.green,
.dark.teal,
.blue,
.indigo,
.purple,
.gray,
.brown,
.magenta,
.charcoal,
.crimson,
.dark.clover,
.cobalt,
.graphite,
.ruby,
.onyx,
.gunmetal,
.dark.hotpink,
.royalpurple,
.grapefruit,
.reaction,
.dark.default,
.success,
.failure {
  color: #fdfef4;
}
.transparent {
  background-color: transparent;
  color: inherit;
  border-color: inherit;
}
.transparent.light {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23FFF%22%20fill-opacity%3D%220.16%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.transparent.dark,
.modal {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23000%22%20fill-opacity%3D%220.25%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.trim,
.trim-inner *,
.trim-all,
.trim-all * {
  margin-bottom: 0;
}
.hidden {
  display: none !important;
}
.clearfix,
.clear {
  clear: both;
}
.clearfix::after,
.clear::after {
  display: block;
  clear: both;
  content: "";
}
.golden-width {
  max-width: calc(62% - 3.24rem);
}
.golden-width.reverse {
  max-width: 38%;
}
.aside-width {
  max-width: 27rem;
}
@media screen and (min-width: 48.24rem) {
  .text-width {
    max-width: 45rem;
  }
}
.page-width,
.container {
  max-width: 72rem;
}
.full-width,
.aside-width .aside-width,
.text-width .text-width,
.page-width .page-width {
  display: block;
  width: 100%;
}
.inner-aside-width {
  padding-left: calc(50% - 13.5rem);
  padding-right: calc(50% - 13.5rem);
}
.inner-aside-width.padding {
  padding-left: calc(50% - 11.88rem);
  padding-right: calc(50% - 11.88rem);
}
.inner-aside-width.responsive.padding {
  padding-left: calc(50% - 12.88rem);
  padding-right: calc(50% - 12.88rem);
}
.inner-text-width {
  padding-left: calc(50% - 22.5rem);
  padding-right: calc(50% - 22.5rem);
}
.inner-text-width.padding {
  padding-left: calc(50% - 20.88rem);
  padding-right: calc(50% - 20.88rem);
}
.inner-text-width.responsive.padding {
  padding-left: calc(50% - 21.88rem);
  padding-right: calc(50% - 21.88rem);
}
.inner-page-width {
  padding-left: calc(50% - 36rem);
  padding-right: calc(50% - 36rem);
}
.inner-page-width.padding {
  padding-left: calc(50% - 34.38rem);
  padding-right: calc(50% - 34.38rem);
}
.inner-page-width.responsive.padding {
  padding-left: calc(50% - 35.38rem);
  padding-right: calc(50% - 35.38rem);
}
@media screen and (max-width: calc(48.24rem - 1px)) {
  .inner-text-width {
    padding-left: initial;
    padding-right: initial;
  }
  .inner-text-width.padding {
    padding-left: 1.62rem;
    padding-right: 1.62rem;
  }
  .inner-text-width.responsive.padding {
    padding-left: 0.619rem;
    padding-right: 0.619rem;
  }
}
@media screen and (min-width: 48.24rem) {
  .inner-aside-width.tablet.padding {
    padding-left: calc(50% - 11.88rem);
    padding-right: calc(50% - 11.88rem);
  }
  .inner-aside-width.tablet.responsive.padding {
    padding-left: calc(50% - 12.5rem);
    padding-right: calc(50% - 12.5rem);
  }
  .inner-text-width.tablet.padding {
    padding-left: calc(50% - 20.88rem);
    padding-right: calc(50% - 20.88rem);
  }
  .inner-text-width.tablet.responsive.padding {
    padding-left: calc(50% - 21.5rem);
    padding-right: calc(50% - 21.5rem);
  }
  .inner-page-width.tablet.padding {
    padding-left: calc(50% - 34.38rem);
    padding-right: calc(50% - 34.38rem);
  }
  .inner-page-width.tablet.responsive.padding {
    padding-left: calc(50% - 35rem);
    padding-right: calc(50% - 35rem);
  }
}
@media screen and (min-width: 72rem) {
  .inner-aside-width.desktop.padding {
    padding-left: calc(50% - 11.88rem);
    padding-right: calc(50% - 11.88rem);
  }
  .inner-aside-width.desktop.responsive.padding {
    padding-left: calc(50% - 11.88rem);
    padding-right: calc(50% - 11.88rem);
  }
  .inner-text-width.desktop.padding {
    padding-left: calc(50% - 20.88rem);
    padding-right: calc(50% - 20.88rem);
  }
  .inner-text-width.desktop.responsive.padding {
    padding-left: calc(50% - 20.88rem);
    padding-right: calc(50% - 20.88rem);
  }
  .inner-page-width.desktop.padding {
    padding-left: calc(50% - 34.38rem);
    padding-right: calc(50% - 34.38rem);
  }
  .inner-page-width.desktop.responsive.padding {
    padding-left: calc(50% - 34.38rem);
    padding-right: calc(50% - 34.38rem);
  }
}
@media screen and (max-width: calc(72rem - 1px)) {
  .inner-page-width {
    padding-left: initial;
    padding-right: initial;
  }
  .inner-page-width.padding {
    padding-left: 1.62rem;
    padding-right: 1.62rem;
  }
  .inner-page-width.responsive.padding {
    padding-left: 0.619rem;
    padding-right: 0.619rem;
  }
}
.texture,
.pattern {
  background-position: top center;
}
.texture {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20width%3D'32'%20height%3D'16'%20viewBox%3D'0%200%203.175%201.588'%3E%3Cg%20fill%3D'%2324270b'%20fill-opacity%3D'0.16'%3E%3Ccircle%20cx%3D'.397'%20cy%3D'.397'%20r%3D'.397'/%3E%3Ccircle%20r%3D'.397'%20cy%3D'.397'%20cx%3D'1.191'/%3E%3Ccircle%20r%3D'.397'%20cy%3D'.397'%20cx%3D'1.984'/%3E%3Ccircle%20cx%3D'2.778'%20cy%3D'.397'%20r%3D'.397'/%3E%3Ccircle%20r%3D'.397'%20cy%3D'1.191'/%3E%3Ccircle%20cx%3D'.794'%20cy%3D'1.191'%20r%3D'.397'/%3E%3Ccircle%20cx%3D'1.587'%20cy%3D'1.191'%20r%3D'.397'/%3E%3Ccircle%20r%3D'.397'%20cy%3D'1.191'%20cx%3D'2.381'/%3E%3Ccircle%20cx%3D'3.175'%20cy%3D'1.191'%20r%3D'.397'/%3E%3C/g%3E%3C/svg%3E");
}
.pattern {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20width%3D'80'%20height%3D'50'%20viewBox%3D'0%200%2021.167%2013.229'%3E%3Cpath%20fill%3D'%2324270b'%20opacity%3D'0.16'%20d%3D'M0%200h21.167v6.615H0z'/%3E%3C/svg%3E");
}
.placeholder::before {
  content: " ";
  white-space: pre;
}
.placeholder::after {
  content: "";
}
.placeholder.image,
.placeholder.video,
.placeholder.avatar {
  position: relative;
}
.placeholder.image::before,
.placeholder.video::before,
.placeholder.avatar::before {
  position: absolute;
  top: calc(50% - 4rem);
  right: 0;
  bottom: 0;
  left: 0;
  display: inline-block;
  text-align: center;
  font-size: 4rem;
  vertical-align: middle;
}
.placeholder.image.small::before,
.placeholder.video.small::before,
.placeholder.avatar.small::before {
  top: calc(50% - 2rem);
  font-size: 2rem;
}
.placeholder.image.big::before,
.placeholder.video.big::before,
.placeholder.avatar.big::before {
  top: calc(50% - 6rem);
  font-size: 6rem;
}
.placeholder.image.huge::before,
.placeholder.video.huge::before,
.placeholder.avatar.huge::before {
  top: calc(50% - 8rem);
  font-size: 8rem;
}
.placeholder.image::after,
.placeholder.video::after,
.placeholder.avatar::after {
  display: block;
}
.placeholder.image::before {
  content: "\1f5bc";
}
.placeholder.image::after {
  padding-top: 75%;
}
.placeholder.video::before {
  content: "\25B6";
}
.placeholder.video::after {
  padding-top: 56.25%;
}
.placeholder.avatar::before {
  content: "\263A";
}
.placeholder.avatar::after {
  padding-top: 100%;
}
.placeholder.no-icon::before {
  content: "";
}
.hide {
  display: none;
}
.hide.tablet {
  display: initial;
}
.hide.desktop {
  display: initial;
}
@media screen and (max-width: calc(48.24rem - 1px)) {
  .hide.mobile {
    display: none;
  }
}
@media screen and (min-width: 48.24rem) {
  .hide.mobile {
    display: initial;
  }
  .hide.tablet {
    display: none;
  }
}
@media screen and (min-width: 72rem) {
  .hide.desktop {
    display: none;
  }
  .hide.mobile.tablet {
    display: initial;
  }
}
@media screen and (max-width: calc(72rem - 1px)) {
  .hide.mobile.tablet {
    display: none;
  }
}
body {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
  font-size: 16px;
  line-height: 1.8;
  margin: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
nav {
  z-index: 99;
}
nav a {
  text-decoration: none;
}
aside {
  margin: 0 auto;
  margin-bottom: 1.62rem;
  max-width: 27rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
  font-weight: bold;
  margin-top: 0.49443758em;
  margin-bottom: 0.74165637em;
  letter-spacing: -0.025em;
  color: inherit;
  line-height: 1.618;
}
h1 {
  font-size: 2.4em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1em;
}
p {
  margin-bottom: 1em;
}
p.gutter-bottom {
  margin-bottom: 1.618em;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: inherit;
  text-decoration: underline;
}
a.target-blank::after,
a.new-tab::after,
a.external-link::after {
  content: "\00A0\1F855";
}
form {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
  font-size: 16px;
  line-height: 1.8;
  border: 1px solid #b0b340;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input:focus {
  box-shadow: 0 0 2px #8acfd5;
}
fieldset {
  border: none;
  outline: none;
}
ol {
  padding-left: 4ch;
  margin-bottom: 1.62rem;
}
ol li {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
ul {
  margin-left: 1.62rem;
  margin-bottom: 1.62rem;
}
li {
  margin-bottom: 0.44em;
}
kbd {
  color: #fdfef4;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  white-space: nowrap;
}
b {
  padding: 0.18em 0 0.22em 0;
}
pre {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
  overflow: hidden;
  border-radius: 0.5em;
  background: #424235;
  color: #fdfef4;
}
pre.white-space,
pre.word-break {
  white-space: pre-wrap;
}
pre > code {
  background: transparent;
  padding: 0;
}
code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
  color: #fdfef4;
  background-color: #384358;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
code.terminal::before {
  content: "$ ";
}
textarea {
  font-size: 16px;
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
  line-height: 1.8;
  border: 1px solid #b0b340;
  border-radius: 0.5em;
  margin-bottom: 1.62rem;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
textarea:focus {
  box-shadow: 0 0 2px #8acfd5;
}
.white,
body,
input,
textarea {
  background-color: #fdfef4;
  border-color: #8b8c7b;
}
.black {
  background-color: #24270b;
  border-color: #121305;
}
.ambient {
  color: #24270b;
  background: #e3f344;
  border-color: #7e8723;
}
.ambient.light {
  color: #24270b;
  background: #e9f66a;
  border-color: #818836;
}
.ambient.dark {
  color: #24270b;
  background: #ddf11d;
  border-color: #7b8610;
}
.red,
.failure {
  background-color: #f82804;
  border-color: #8a1703;
}
.light.red,
.light.failure {
  background-color: #fc4929;
  border-color: #8c2715;
}
.dark.red,
.dark.failure {
  background-color: #d02203;
  border-color: #761403;
}
.orange,
.warning {
  background-color: #fdb101;
  border-color: #8d6301;
}
.light.orange,
.light.warning {
  background-color: #febe29;
  border-color: #8d6915;
}
.dark.orange,
.dark.warning {
  background-color: #d59501;
  border-color: #785401;
}
.yellow {
  background-color: #fcfc02;
  border-color: #8c8c02;
}
.light.yellow {
  background-color: #fdfd29;
  border-color: #8d8d15;
}
.dark.yellow {
  background-color: #d3d302;
  border-color: #777702;
}
.olive {
  background-color: #a9ab04;
  border-color: #626303;
}
.light.olive {
  background-color: #d1d305;
  border-color: #767703;
}
.dark.olive {
  background-color: #828303;
  border-color: #4e4f02;
}
.green,
.success {
  background-color: #22a503;
  border-color: #156002;
}
.light.green,
.light.success {
  background-color: #2bcd03;
  border-color: #197403;
}
.dark.green,
.dark.success {
  background-color: #1a7d02;
  border-color: #114c02;
}
.teal {
  background-color: #23ab91;
  border-color: #146253;
}
.light.teal {
  background-color: #2acdae;
  border-color: #187361;
}
.dark.teal {
  background-color: #1c8974;
  border-color: #115144;
}
.cyan {
  background-color: #32fcde;
  border-color: #1a8c7b;
}
.light.cyan {
  background-color: #5afde5;
  border-color: #2e8c7e;
}
.dark.cyan {
  background-color: #0afbd8;
  border-color: #068b78;
}
.skyblue,
.info {
  background-color: #8acfd5;
  border-color: #497275;
}
.light.skyblue,
.light.info {
  background-color: #a8dbe0;
  border-color: #58787b;
}
.dark.skyblue,
.dark.info {
  background-color: #6cc2ca;
  border-color: #3a6c70;
}
.blue {
  background-color: #2227e8;
  border-color: #131681;
}
.light.blue {
  background-color: #474bec;
  border-color: #252883;
}
.dark.blue {
  background-color: #151acc;
  border-color: #0c0f73;
}
.indigo {
  background-color: #6d288c;
  border-color: #401751;
}
.light.indigo {
  background-color: #8631ac;
  border-color: #4c1c61;
}
.dark.indigo {
  background-color: #541f6c;
  border-color: #331342;
}
.purple {
  background-color: #b62a9e;
  border-color: #67185a;
}
.light.purple {
  background-color: #d138b7;
  border-color: #741f66;
}
.dark.purple {
  background-color: #952382;
  border-color: #56144b;
}
.violet {
  background-color: #ec88d8;
  border-color: #824776;
}
.light.violet {
  background-color: #f2ace3;
  border-color: #85587c;
}
.dark.violet {
  background-color: #e665cc;
  border-color: #803570;
}
.gray {
  background-color: #919073;
  border-color: #52513f;
}
.light.gray {
  background-color: #a3a28a;
  border-color: #5b5a4b;
}
.dark.gray {
  background-color: #7b7a61;
  border-color: #474636;
}
.brown {
  background-color: #a9602d;
  border-color: #603719;
}
.light.brown {
  background-color: #ca7235;
  border-color: #71401e;
}
.dark.brown {
  background-color: #894e24;
  border-color: #502d15;
}
.magenta {
  background-color: #f53dd7;
  border-color: #882077;
}
.light.magenta {
  background-color: #f764df;
  border-color: #89337b;
}
.dark.magenta {
  background-color: #f316cf;
  border-color: #870c73;
}
.lavender {
  background-color: #cfbfdd;
  border-color: #6f6479;
}
.light.lavender {
  background-color: #e3d9eb;
  border-color: #797180;
}
.dark.lavender {
  background-color: #bba4cf;
  border-color: #655772;
}
.cream {
  background-color: #f5f5c5;
  border-color: #878765;
}
.light.cream {
  background-color: #fbfbe8;
  border-color: #8a8a77;
}
.dark.cream {
  background-color: #eff0a2;
  border-color: #848454;
}
.charcoal {
  background-color: #6a572d;
  border-color: #40341a;
}
.light.charcoal {
  background-color: #876e39;
  border-color: #4e4020;
}
.dark.charcoal {
  background-color: #4e3f21;
  border-color: #312814;
}
.crimson {
  background-color: #be1d20;
  border-color: #6c1112;
}
.light.crimson {
  background-color: #de2629;
  border-color: #7b1517;
}
.dark.crimson {
  background-color: #9b181a;
  border-color: #5a0e0f;
}
.clover {
  background-color: #5bc217;
  border-color: #346e0e;
}
.light.clover {
  background-color: #6de41e;
  border-color: #3d7f11;
}
.dark.clover {
  background-color: #4a9d13;
  border-color: #2b5b0b;
}
.cobalt {
  background-color: #3584d0;
  border-color: #1d4974;
}
.light.cobalt {
  background-color: #5698d8;
  border-color: #2e5378;
}
.dark.cobalt {
  background-color: #296fb3;
  border-color: #183f65;
}
.graphite {
  background-color: #384358;
  border-color: #212836;
}
.light.graphite {
  background-color: #475671;
  border-color: #293142;
}
.dark.graphite {
  background-color: #28303f;
  border-color: #191f29;
}
.ruby {
  background-color: #c01338;
  border-color: #6d0c20;
}
.light.ruby {
  background-color: #e51743;
  border-color: #7f0d25;
}
.dark.ruby {
  background-color: #9b102d;
  border-color: #5a0a1b;
}
.onyx {
  background-color: #424235;
  border-color: #2a2a20;
}
.light.onyx {
  background-color: #595848;
  border-color: #36352a;
}
.dark.onyx {
  background-color: #2c2b23;
  border-color: #1f1e17;
}
.pewter {
  background-color: #afb089;
  border-color: #61614a;
}
.light.pewter {
  background-color: #bfc0a1;
  border-color: #696a56;
}
.dark.pewter {
  background-color: #9e9f70;
  border-color: #59593d;
}
.gunmetal {
  background-color: #5d766a;
  border-color: #34443c;
}
.light.gunmetal {
  background-color: #6f8c7e;
  border-color: #3d4f47;
}
.dark.gunmetal {
  background-color: #4b5f55;
  border-color: #2b3932;
}
.hotpink {
  background-color: #f961a1;
  border-color: #8a3257;
}
.light.hotpink {
  background-color: #fb88b9;
  border-color: #8b4563;
}
.dark.hotpink {
  background-color: #f83a8a;
  border-color: #8a1e4b;
}
.neongreen {
  background-color: #43f912;
  border-color: #258a0a;
}
.light.neongreen {
  background-color: #62fa3a;
  border-color: #358b1e;
}
.dark.neongreen {
  background-color: #33de05;
  border-color: #1d7c04;
}
.electricblue {
  background-color: #40c7e5;
  border-color: #226e7f;
}
.light.electricblue {
  background-color: #64d1ea;
  border-color: #347382;
}
.dark.electricblue {
  background-color: #1ebade;
  border-color: #11687b;
}
.royalpurple {
  background-color: #74439c;
  border-color: #422659;
}
.light.royalpurple {
  background-color: #8953b5;
  border-color: #4c2e65;
}
.dark.royalpurple {
  background-color: #5f377f;
  border-color: #37204a;
}
.lemon {
  background-color: #fdfb8a;
  border-color: #8c8b46;
}
.light.lemon {
  background-color: #fefdb2;
  border-color: #8d8c5a;
}
.dark.lemon {
  background-color: #fdfa62;
  border-color: #8c8b32;
}
.lime {
  background-color: #a0f17d;
  border-color: #558640;
}
.light.lime {
  background-color: #bbf5a2;
  border-color: #638853;
}
.dark.lime {
  background-color: #85ee58;
  border-color: #48842e;
}
.tangerine {
  background-color: #fbb04d;
  border-color: #8b6028;
}
.light.tangerine {
  background-color: #fcc175;
  border-color: #8c693c;
}
.dark.tangerine {
  background-color: #fa9e25;
  border-color: #8b5714;
}
.grapefruit {
  background-color: #de4f45;
  border-color: #7b2b25;
}
.light.grapefruit {
  background-color: #e47068;
  border-color: #7e3b37;
}
.dark.grapefruit {
  background-color: #d43126;
  border-color: #761c16;
}
.action,
.base-color {
  color: #24270b;
  background: #a4c039;
  border-color: #5c6b20;
}
.action.light,
.base-color.light {
  color: #24270b;
  background: #b4cd55;
  border-color: #64722e;
}
.action.dark,
.base-color.dark {
  color: #24270b;
  background: #89a130;
  border-color: #4e5c1b;
}
.reaction {
  background-color: #6854ac;
  border-color: #3a2f60;
}
.light.reaction {
  background-color: #8070ba;
  border-color: #463c67;
}
.dark.reaction {
  background-color: #574691;
  border-color: #312853;
}
.default {
  background-color: #b0b340;
  border-color: #636423;
}
.light.default {
  background-color: #c1c458;
  border-color: #6b6d2f;
}
.dark.default {
  background-color: #929535;
  border-color: #54551e;
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-margin-right {
  margin-right: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.no-margin-left {
  margin-left: 0 !important;
}
.no-padding {
  padding: 0;
}
.no-margin,
.no-gutter {
  margin: 0;
}
.no-side-margin,
.no-side-margins {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.no-margins {
  margin: 0 !important;
}
.no-margins * {
  margin: 0 !important;
}
.no-box-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  box-shadow: unset;
}
.no-text-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  text-shadow: unset;
}
.no-border,
.no-borders,
.no-borders * {
  border-width: 0 !important;
}
.no-background {
  background: transparent;
}
.no-text-indent {
  text-indent: 0;
}
.no-text-align {
  text-align: initial;
}
.no-user-select {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.no-pointer-events {
  pointer-events: none;
}
.no-list-style {
  list-style-type: none;
  margin-left: 0;
}
.no-grid-gap,
.no-column-gap {
  grid-gap: 0;
  column-gap: 0;
}
@media print {
  html {
    font-size: 62.5%;
  }
  * {
    box-shadow: unset !important;
    border: unset !important;
  }
  nav {
    display: none !important;
  }
  .page-width,
  .text-width,
  .container {
    all: unset;
  }
  .inner-page-width,
  .inner-text-width,
  .inner-aside-width {
    all: unset;
  }
}
