/* This project uses Cavepaint! (MIT License) */
/* https://github.com/cavepaint/cavepaintCSS */
* {
  margin: 0 0 1.62rem 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}
.button,
button {
  border-style: solid;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(11, 40, 7, 0.16);
  display: inline;
  position: relative;
  font-family: inherit;
  font-size: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  color: inherit;
  background-color: inherit;
  border-color: #642860;
  border-width: 1px;
  line-height: 1.6;
  text-align: center;
  vertical-align: middle;
  outline: none;
  white-space: nowrap;
  text-decoration: none;
  touch-action: manipulation;
  cursor: pointer;
  transform: scale(1);
  transition: 0.08s linear;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.button:active,
button:active {
  transform: scale(0.99);
  box-shadow: unset;
}
.bar {
  position: relative;
  width: 100%;
  display: block;
  vertical-align: middle;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.bar > * {
  display: inline;
  margin-right: 0.3236em;
  margin-left: 0.3236em;
  margin-bottom: 0;
}
.card {
  position: relative;
  overflow: hidden;
  padding: 1.62rem;
  border: 1px solid #9f3f98;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(11, 40, 7, 0.16);
}
.card > *:first-child {
  margin-top: 0;
}
.card > *:last-child {
  margin-bottom: 0;
}
.badge {
  border-radius: 0.5em;
  line-height: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  padding-right: 0.6472em;
  padding-left: 0.6472em;
  vertical-align: middle;
  border-radius: 99px;
  white-space: nowrap;
}
.modal {
  display: none;
  max-width: none;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  position: fixed;
  bottom: 0;
  justify-content: center;
  flex: 0 1 auto;
  flex-direction: column;
  height: 100vh;
}
.modal > * {
  flex-direction: column;
  color: #250728;
  position: relative;
  background: #fef2ff;
  padding: 1.62rem;
  margin-bottom: 3.24rem;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(11, 40, 7, 0.16);
  margin: 1.62rem;
}
@media screen and (min-width: 42.24rem) {
  .modal > * {
    max-width: 63rem;
    margin: 0 auto;
  }
}
.overlay {
  margin: 0;
  padding: 0;
  position: relative;
}
.overlay .top,
.overlay .bottom,
.overlay .left,
.overlay .right {
  position: absolute;
}
.overlay .top {
  top: 0.3236em;
}
.overlay .bottom {
  bottom: 0.3236em;
}
.overlay .left {
  left: 0.3236em;
}
.overlay .right {
  right: 0.3236em;
}
.overlay.stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.overlay * {
  margin: 0;
  display: block;
}
.grid,
.two-column,
.three-column {
  display: grid;
  grid-gap: 1.62rem;
}
.grid.tablet,
.two-column.tablet,
.three-column.tablet,
.grid.mobile.tablet,
.two-column.mobile.tablet,
.three-column.mobile.tablet,
.grid.desktop,
.two-column.desktop,
.three-column.desktop {
  display: initial;
}
.grid {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.two-column {
  grid-template-columns: 1fr 1fr;
}
.two-column.golden {
  grid-template-columns: 1.618fr 1fr;
}
.two-column.golden.reverse {
  grid-template-columns: 1fr 1.618fr;
}
.three-column {
  grid-template-columns: 1fr 1fr 1fr;
}
.three-column.golden {
  grid-template-columns: 1fr 1.618fr 1fr;
}
.three-column.golden.leading {
  grid-template-columns: 1.618fr 1fr 1fr;
}
.three-column.golden.trailing {
  grid-template-columns: 1fr 1fr 1.618fr;
}
.grid .grid-width-one {
  grid-column: auto / span 1;
}
.grid .grid-width-two {
  grid-column: auto / span 2;
}
.grid .grid-width-three {
  grid-column: auto / span 3;
}
.grid .grid-width-four {
  grid-column: auto / span 4;
}
.grid .grid-width-five {
  grid-column: auto / span 5;
}
.grid .grid-width-six {
  grid-column: auto / span 6;
}
.grid .grid-width-seven {
  grid-column: auto / span 7;
}
.grid .grid-width-eight {
  grid-column: auto / span 8;
}
.grid .grid-width-nine {
  grid-column: auto / span 9;
}
.grid .grid-width-ten {
  grid-column: auto / span 10;
}
.grid .grid-width-eleven {
  grid-column: auto / span 11;
}
.grid .grid-width-twelve {
  grid-column: auto / span 12;
}
@media screen and (max-width: calc(42.24rem - 1px)) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: grid;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 42.24rem) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: initial;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: initial;
  }
  .grid.tablet,
  .two-column.tablet,
  .three-column.tablet {
    display: grid;
  }
  .grid.tablet > *,
  .two-column.tablet > *,
  .three-column.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (max-width: calc(63rem - 1px)) {
  .grid.mobile.tablet,
  .two-column.mobile.tablet,
  .three-column.mobile.tablet {
    display: grid;
  }
  .grid.mobile.tablet > *,
  .two-column.mobile.tablet > *,
  .three-column.mobile.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 63rem) {
  .grid.desktop,
  .two-column.desktop,
  .three-column.desktop {
    display: grid;
  }
  .grid.desktop > *,
  .two-column.desktop > *,
  .three-column.desktop > * {
    margin-bottom: 0;
  }
}
.responsive {
  column-gap: 0.619rem;
  grid-gap: 0.619rem;
}
.responsive.padding,
.modal,
.container {
  padding: 0.619rem;
}
.responsive.margin,
.container {
  margin: 0.619rem;
}
.responsive.gutter {
  margin: 1.238rem;
}
@media screen and (min-width: 42.24rem) {
  .responsive {
    column-gap: 1.001rem;
    grid-gap: 1.001rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.001rem;
  }
  .responsive.margin,
  .container {
    margin: 1.001rem;
  }
  .responsive.gutter {
    margin: 2.002rem;
  }
}
@media screen and (min-width: 63rem) {
  .responsive {
    column-gap: 1.62rem;
    grid-gap: 1.62rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.62rem;
  }
  .responsive.margin,
  .container {
    margin: 1.62rem;
  }
  .responsive.gutter {
    margin: 3.24rem;
  }
}
.background {
  background: #fef2ff;
}
.background-color {
  background-color: #fef2ff;
}
.border {
  border: 1px solid #9f3f98;
}
.border-radius,
.rounded {
  border-radius: 0.5em;
}
.border-bottom {
  border-bottom: 1px solid #9f3f98;
}
.border-left {
  border-left: 1px solid #9f3f98;
}
.border-right {
  border-right: 1px solid #9f3f98;
}
.border-style,
.button.border,
button.border {
  border-style: solid;
}
.border-top {
  border-top: 1px solid #9f3f98;
}
.border-width,
.button.border,
button.border {
  border-width: 1px;
}
.max-width {
  max-width: 63rem;
}
.min-width {
  min-width: 24rem;
}
.align-content {
  align-content: stretch;
}
.align-items {
  align-items: stretch;
}
.align-self {
  align-self: auto;
}
.flex,
.vertical-center,
.center-vertical {
  flex: 0 1 auto;
}
.flex-basis {
  flex-basis: auto;
}
.flex-direction,
.vertical-center,
.center-vertical {
  flex-direction: column;
}
.flex-flow {
  flex-flow: column nowrap;
}
.flex-grow {
  flex-grow: 0;
}
.flex-shrink {
  flex-shrink: 1;
}
.flex-wrap {
  flex-wrap: nowrap;
}
.justify-content,
.vertical-center,
.center-vertical {
  justify-content: center;
}
.font-family {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.font-size {
  font-size: 22px;
}
.font-weight {
  font-weight: normal;
}
.list-style {
  list-style: disc inside none;
}
.list-style-type {
  list-style-type: disc;
}
.margin {
  margin: 1.62rem;
}
.margin-bottom {
  margin-bottom: 1.62rem;
}
.margin-left {
  margin-left: 1.62rem;
}
.margin-right {
  margin-right: 1.62rem;
}
.margin-top {
  margin-top: 1.62rem;
}
.column-gap {
  column-gap: 1.94em;
}
.column-rule {
  column-rule: 1px solid #9f3f98;
}
.padding {
  padding: 1.62rem;
}
.padding-bottom {
  padding-bottom: 1.62rem;
}
.padding-left {
  padding-left: 1.62rem;
}
.padding-right {
  padding-right: 1.62rem;
}
.padding-top {
  padding-top: 1.62rem;
}
.text-align {
  text-align: left;
}
.text-align-last {
  text-align-last: left;
}
.text-indent {
  text-indent: 2ch;
}
.text-justify {
  text-justify: justify;
}
.text-overflow {
  text-overflow: hidden;
}
.text-shadow {
  text-shadow: 1.41px 1.41px 1.41px rgba(11, 40, 7, 0.16);
}
.line-height {
  line-height: 1.8;
}
.vertical-align {
  vertical-align: middle;
}
.letter-spacing {
  letter-spacing: 0;
}
.word-spacing {
  word-spacing: normal;
}
.white-space {
  white-space: nowrap;
}
.word-break {
  word-break: break-all;
}
.word-wrap {
  word-wrap: break-word;
}
.transform {
  transform: none;
}
.transition {
  transition: all 0s ease 0s;
}
.display {
  display: block;
}
.position {
  position: absolute;
}
.top {
  top: 0;
}
.right {
  right: 0;
}
.bottom {
  bottom: 0;
}
.left {
  left: 0;
}
.float {
  float: left;
}
.clear {
  clear: both;
}
.z-index {
  z-index: 10;
}
.overflow {
  overflow: hidden;
}
.overflow-x {
  overflow-x: hidden;
}
.cursor {
  cursor: pointer;
}
.box-shadow {
  box-shadow: 1.41px 1.41px 1.41px rgba(11, 40, 7, 0.16);
}
.gutter {
  margin: 3.24rem;
}
.gutter-top {
  margin-top: 3.24rem;
}
.gutter-right {
  margin-right: 3.24rem;
}
.gutter-bottom {
  margin-bottom: 3.24rem;
}
.gutter-left {
  margin-left: 3.24rem;
}
.text-padding {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-padding-top {
  padding-top: 0.18em;
}
.text-padding-right {
  padding-right: 0.3236em;
}
.text-padding-bottom {
  padding-bottom: 0.22em;
}
.text-padding-left {
  padding-left: 0.3236em;
}
.text-margin {
  margin: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-margin-top {
  margin-top: 0.18em;
}
.text-margin-right {
  margin-right: 0.3236em;
}
.text-margin-bottom {
  margin-bottom: 0.22em;
}
.text-margin-left {
  margin-left: 0.3236em;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.initial {
  display: initial;
}
.table {
  display: table;
}
.flex,
.vertical-center,
.center-vertical {
  display: flex;
}
.inline-block {
  display: inline-block;
}
.static {
  position: static;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.margin-auto,
.container {
  margin-left: auto;
  margin-right: auto;
}
.width-auto {
  width: auto;
}
.inset {
  box-shadow: inset 1.41px 1.41px 1.41px rgba(11, 40, 7, 0.16);
}
.viewport-height {
  height: 100vh;
}
.min-viewport-height {
  min-height: 100vh;
}
.overflow-hidden {
  overflow: hidden;
}
.dashed {
  border-style: dashed;
}
.dotted {
  border-style: dotted;
}
.thick {
  border-width: 2px;
}
.thin {
  border-width: 0.5px;
}
.current-color {
  border-color: currentColor;
}
.fade {
  opacity: 0.65;
}
.serif,
.font-family-serif {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "Droid Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
.monospace,
.font-family-monospace {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
}
.sans-serif,
.font-family-sans-serif {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.text-transparent {
  color: transparent;
}
.reset {
  all: initial;
}
.big {
  font-size: 125%;
  line-height: 2.25;
}
.big.font-size {
  font-size: 27.5px;
}
.small,
.badge {
  font-size: 87.5%;
  line-height: 1.575;
}
.small.font-size {
  font-size: 19.25px;
}
.huge {
  font-size: 160%;
}
.huge.font-size {
  font-size: 35.2px;
}
.text-trim {
  line-height: 1;
}
.text-align-center,
.text-center {
  text-align: center;
}
.text-align-left,
.text-left {
  text-align: left;
}
.text-align-right,
.text-right {
  text-align: right;
}
.text-align-justify,
.text-justify {
  text-align: justify;
}
.grid-gap-margin {
  grid-gap: 1.62rem;
}
.grid-gap-border-width {
  grid-gap: 1px;
}
.grid-gap-text-padding,
.grid-gap-text-margin {
  grid-gap: 0.3236em;
}
.shade,
.white,
.orange,
.yellow,
.light.olive,
.cyan,
.skyblue,
.violet,
.light.magenta,
.lavender,
.cream,
.light.clover,
.pewter,
.light.hotpink,
.neongreen,
.electricblue,
.lemon,
.lime,
.tangerine,
.light.reaction,
body,
input,
textarea,
.info,
.warning {
  color: #250728;
}
.tint,
.black,
.red,
.olive,
.green,
.teal,
.blue,
.indigo,
.purple,
.dark.violet,
.gray,
.brown,
.magenta,
.charcoal,
.crimson,
.clover,
.cobalt,
.graphite,
.ruby,
.onyx,
.dark.pewter,
.gunmetal,
.hotpink,
.royalpurple,
.grapefruit,
.reaction,
.default,
.success,
.failure {
  color: #fef2ff;
}
.transparent {
  background-color: transparent;
  color: inherit;
  border-color: inherit;
}
.transparent.light {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23FFF%22%20fill-opacity%3D%220.16%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.transparent.dark,
.modal {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23000%22%20fill-opacity%3D%220.25%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.trim,
.trim-inner *,
.trim-all,
.trim-all * {
  margin-bottom: 0;
}
.hidden {
  display: none !important;
}
.clearfix,
.clear {
  clear: both;
}
.clearfix::after,
.clear::after {
  display: block;
  clear: both;
  content: "";
}
.golden-width {
  max-width: calc(62% - 3.24rem);
}
.golden-width.reverse {
  max-width: 38%;
}
.aside-width {
  max-width: 24rem;
}
@media screen and (min-width: 42.24rem) {
  .text-width {
    max-width: 39rem;
  }
}
.page-width,
.container {
  max-width: 63rem;
}
.full-width,
.aside-width .aside-width,
.text-width .text-width,
.page-width .page-width {
  display: block;
  width: 100%;
}
.inner-aside-width {
  padding-left: calc(50% - 12rem);
  padding-right: calc(50% - 12rem);
}
.inner-aside-width.padding {
  padding-left: calc(50% - 10.38rem);
  padding-right: calc(50% - 10.38rem);
}
.inner-aside-width.responsive.padding {
  padding-left: calc(50% - 11.38rem);
  padding-right: calc(50% - 11.38rem);
}
.inner-text-width {
  padding-left: calc(50% - 19.5rem);
  padding-right: calc(50% - 19.5rem);
}
.inner-text-width.padding {
  padding-left: calc(50% - 17.88rem);
  padding-right: calc(50% - 17.88rem);
}
.inner-text-width.responsive.padding {
  padding-left: calc(50% - 18.88rem);
  padding-right: calc(50% - 18.88rem);
}
.inner-page-width {
  padding-left: calc(50% - 31.5rem);
  padding-right: calc(50% - 31.5rem);
}
.inner-page-width.padding {
  padding-left: calc(50% - 29.88rem);
  padding-right: calc(50% - 29.88rem);
}
.inner-page-width.responsive.padding {
  padding-left: calc(50% - 30.88rem);
  padding-right: calc(50% - 30.88rem);
}
@media screen and (max-width: calc(42.24rem - 1px)) {
  .inner-text-width {
    padding-left: initial;
    padding-right: initial;
  }
  .inner-text-width.padding {
    padding-left: 1.62rem;
    padding-right: 1.62rem;
  }
  .inner-text-width.responsive.padding {
    padding-left: 0.619rem;
    padding-right: 0.619rem;
  }
}
@media screen and (min-width: 42.24rem) {
  .inner-aside-width.tablet.padding {
    padding-left: calc(50% - 10.38rem);
    padding-right: calc(50% - 10.38rem);
  }
  .inner-aside-width.tablet.responsive.padding {
    padding-left: calc(50% - 11rem);
    padding-right: calc(50% - 11rem);
  }
  .inner-text-width.tablet.padding {
    padding-left: calc(50% - 17.88rem);
    padding-right: calc(50% - 17.88rem);
  }
  .inner-text-width.tablet.responsive.padding {
    padding-left: calc(50% - 18.5rem);
    padding-right: calc(50% - 18.5rem);
  }
  .inner-page-width.tablet.padding {
    padding-left: calc(50% - 29.88rem);
    padding-right: calc(50% - 29.88rem);
  }
  .inner-page-width.tablet.responsive.padding {
    padding-left: calc(50% - 30.5rem);
    padding-right: calc(50% - 30.5rem);
  }
}
@media screen and (min-width: 63rem) {
  .inner-aside-width.desktop.padding {
    padding-left: calc(50% - 10.38rem);
    padding-right: calc(50% - 10.38rem);
  }
  .inner-aside-width.desktop.responsive.padding {
    padding-left: calc(50% - 10.38rem);
    padding-right: calc(50% - 10.38rem);
  }
  .inner-text-width.desktop.padding {
    padding-left: calc(50% - 17.88rem);
    padding-right: calc(50% - 17.88rem);
  }
  .inner-text-width.desktop.responsive.padding {
    padding-left: calc(50% - 17.88rem);
    padding-right: calc(50% - 17.88rem);
  }
  .inner-page-width.desktop.padding {
    padding-left: calc(50% - 29.88rem);
    padding-right: calc(50% - 29.88rem);
  }
  .inner-page-width.desktop.responsive.padding {
    padding-left: calc(50% - 29.88rem);
    padding-right: calc(50% - 29.88rem);
  }
}
@media screen and (max-width: calc(63rem - 1px)) {
  .inner-page-width {
    padding-left: initial;
    padding-right: initial;
  }
  .inner-page-width.padding {
    padding-left: 1.62rem;
    padding-right: 1.62rem;
  }
  .inner-page-width.responsive.padding {
    padding-left: 0.619rem;
    padding-right: 0.619rem;
  }
}
.texture,
.pattern {
  background-position: top center;
}
.texture {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20width%3D'44'%20height%3D'22'%20viewBox%3D'0%200%203.175%201.588'%3E%3Cg%20fill%3D'%23fef2ff'%20fill-opacity%3D'0.16'%3E%3Ccircle%20cx%3D'.397'%20cy%3D'.397'%20r%3D'.397'/%3E%3Ccircle%20r%3D'.397'%20cy%3D'.397'%20cx%3D'1.191'/%3E%3Ccircle%20r%3D'.397'%20cy%3D'.397'%20cx%3D'1.984'/%3E%3Ccircle%20cx%3D'2.778'%20cy%3D'.397'%20r%3D'.397'/%3E%3Ccircle%20r%3D'.397'%20cy%3D'1.191'/%3E%3Ccircle%20cx%3D'.794'%20cy%3D'1.191'%20r%3D'.397'/%3E%3Ccircle%20cx%3D'1.587'%20cy%3D'1.191'%20r%3D'.397'/%3E%3Ccircle%20r%3D'.397'%20cy%3D'1.191'%20cx%3D'2.381'/%3E%3Ccircle%20cx%3D'3.175'%20cy%3D'1.191'%20r%3D'.397'/%3E%3C/g%3E%3C/svg%3E");
}
.pattern {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20viewBox%3D'0%200%203.175%203.175'%20height%3D'12'%20width%3D'12'%3E%3Cpath%20opacity%3D'0.16'%20fill%3D'%23fef2ff'%20d%3D'M0%200h1.587v1.587H0z'/%3E%3C/svg%3E");
}
.placeholder::before {
  content: " ";
  white-space: pre;
}
.placeholder::after {
  content: "";
}
.placeholder.image,
.placeholder.video,
.placeholder.avatar {
  position: relative;
}
.placeholder.image::before,
.placeholder.video::before,
.placeholder.avatar::before {
  position: absolute;
  top: calc(50% - 4rem);
  right: 0;
  bottom: 0;
  left: 0;
  display: inline-block;
  text-align: center;
  font-size: 4rem;
  vertical-align: middle;
}
.placeholder.image.small::before,
.placeholder.video.small::before,
.placeholder.avatar.small::before {
  top: calc(50% - 2rem);
  font-size: 2rem;
}
.placeholder.image.big::before,
.placeholder.video.big::before,
.placeholder.avatar.big::before {
  top: calc(50% - 6rem);
  font-size: 6rem;
}
.placeholder.image.huge::before,
.placeholder.video.huge::before,
.placeholder.avatar.huge::before {
  top: calc(50% - 8rem);
  font-size: 8rem;
}
.placeholder.image::after,
.placeholder.video::after,
.placeholder.avatar::after {
  display: block;
}
.placeholder.image::before {
  content: "\1f5bc";
}
.placeholder.image::after {
  padding-top: 75%;
}
.placeholder.video::before {
  content: "\25B6";
}
.placeholder.video::after {
  padding-top: 56.25%;
}
.placeholder.avatar::before {
  content: "\263A";
}
.placeholder.avatar::after {
  padding-top: 100%;
}
.placeholder.no-icon::before {
  content: "";
}
.hide {
  display: none;
}
.hide.tablet {
  display: initial;
}
.hide.desktop {
  display: initial;
}
@media screen and (max-width: calc(42.24rem - 1px)) {
  .hide.mobile {
    display: none;
  }
}
@media screen and (min-width: 42.24rem) {
  .hide.mobile {
    display: initial;
  }
  .hide.tablet {
    display: none;
  }
}
@media screen and (min-width: 63rem) {
  .hide.desktop {
    display: none;
  }
  .hide.mobile.tablet {
    display: initial;
  }
}
@media screen and (max-width: calc(63rem - 1px)) {
  .hide.mobile.tablet {
    display: none;
  }
}
body {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
  font-size: 22px;
  line-height: 1.8;
  margin: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
nav {
  z-index: 99;
}
nav a {
  text-decoration: none;
}
aside {
  margin: 0 auto;
  margin-bottom: 1.62rem;
  max-width: 24rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
  font-weight: bold;
  margin-top: 0.49443758em;
  margin-bottom: 0.74165637em;
  letter-spacing: -0.025em;
  color: inherit;
  line-height: 1.618;
}
h1 {
  font-size: 2.4em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1em;
}
p {
  margin-bottom: 1em;
}
p.gutter-bottom {
  margin-bottom: 1.618em;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: inherit;
  text-decoration: underline;
}
a.target-blank::after,
a.new-tab::after,
a.external-link::after {
  content: "\00A0\1F855";
}
form {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
  font-size: 22px;
  line-height: 1.8;
  border: 1px solid #9f3f98;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input:focus {
  box-shadow: 0 0 2px #89ade5;
}
fieldset {
  border: none;
  outline: none;
}
ol {
  padding-left: 4ch;
  margin-bottom: 1.62rem;
}
ol li {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
ul {
  margin-left: 1.62rem;
  margin-bottom: 1.62rem;
}
li {
  margin-bottom: 0.44em;
}
kbd {
  color: #fef2ff;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  white-space: nowrap;
}
b {
  padding: 0.18em 0 0.22em 0;
}
pre {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
  overflow: hidden;
  border-radius: 0.5em;
  background: #403240;
  color: #fef2ff;
}
pre.white-space,
pre.word-break {
  white-space: pre-wrap;
}
pre > code {
  background: transparent;
  padding: 0;
}
code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
  color: #fef2ff;
  background-color: #352e62;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
code.terminal::before {
  content: "$ ";
}
textarea {
  font-size: 22px;
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
  line-height: 1.8;
  border: 1px solid #9f3f98;
  border-radius: 0.5em;
  margin-bottom: 1.62rem;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
textarea:focus {
  box-shadow: 0 0 2px #89ade5;
}
.white,
body,
input,
textarea {
  background-color: #fef2ff;
  border-color: #8a7a8c;
}
.black {
  background-color: #250728;
  border-color: #120414;
}
.ambient {
  color: #fef2ff;
  background: #e72cfd;
  border-color: #7e178b;
}
.ambient.light {
  color: #250728;
  background: #eb55fd;
  border-color: #812b8b;
}
.ambient.dark {
  color: #fef2ff;
  background: #e204fd;
  border-color: #7c038b;
}
.red,
.failure {
  background-color: #eb0129;
  border-color: #820117;
}
.light.red,
.light.failure {
  background-color: #fe173f;
  border-color: #8b0c22;
}
.dark.red,
.dark.failure {
  background-color: #c20122;
  border-color: #6d0114;
}
.orange,
.warning {
  background-color: #fa9128;
  border-color: #894f15;
}
.light.orange,
.light.warning {
  background-color: #fba550;
  border-color: #8a5929;
}
.dark.orange,
.dark.warning {
  background-color: #f47c06;
  border-color: #864404;
}
.yellow {
  background-color: #f5da29;
  border-color: #867715;
}
.light.yellow {
  background-color: #f7e150;
  border-color: #877b29;
}
.dark.yellow {
  background-color: #eacd0b;
  border-color: #817106;
}
.olive {
  background-color: #9b7d29;
  border-color: #584717;
}
.light.olive {
  background-color: #bb9732;
  border-color: #68541c;
}
.dark.olive {
  background-color: #7a6321;
  border-color: #483a13;
}
.green,
.success {
  background-color: #227b29;
  border-color: #144718;
}
.light.green,
.light.success {
  background-color: #2b9a34;
  border-color: #18571d;
}
.dark.green,
.dark.success {
  background-color: #195b1e;
  border-color: #0f3812;
}
.teal {
  background-color: #227d9e;
  border-color: #13475a;
}
.light.teal {
  background-color: #2998bf;
  border-color: #17546a;
}
.dark.teal {
  background-color: #1b637c;
  border-color: #103a49;
}
.cyan {
  background-color: #33cdf6;
  border-color: #1a7087;
}
.light.cyan {
  background-color: #5ad6f8;
  border-color: #2e7588;
}
.dark.cyan {
  background-color: #0cc3f5;
  border-color: #076b86;
}
.skyblue,
.info {
  background-color: #89ade5;
  border-color: #475c7d;
}
.light.skyblue,
.light.info {
  background-color: #abc4ec;
  border-color: #586881;
}
.dark.skyblue,
.dark.info {
  background-color: #6896dd;
  border-color: #365179;
}
.blue {
  background-color: #2201f5;
  border-color: #130187;
}
.light.blue {
  background-color: #3e20fe;
  border-color: #21118c;
}
.dark.blue {
  background-color: #1c01cd;
  border-color: #100173;
}
.indigo {
  background-color: #67019d;
  border-color: #3c015b;
}
.light.indigo {
  background-color: #8101c5;
  border-color: #49016f;
}
.dark.indigo {
  background-color: #4c0174;
  border-color: #2e0146;
}
.purple {
  background-color: #a002a3;
  border-color: #5c025e;
}
.light.purple {
  background-color: #c702cb;
  border-color: #700272;
}
.dark.purple {
  background-color: #78017a;
  border-color: #480149;
}
.violet {
  background-color: #e667e7;
  border-color: #7e357f;
}
.light.violet {
  background-color: #ec8aed;
  border-color: #814781;
}
.dark.violet {
  background-color: #e144e2;
  border-color: #7b247c;
}
.gray {
  background-color: #8e6c8d;
  border-color: #4f3a4f;
}
.light.gray {
  background-color: #a082a0;
  border-color: #584658;
}
.dark.gray {
  background-color: #765a76;
  border-color: #433243;
}
.brown {
  background-color: #a34c3b;
  border-color: #5b2a21;
}
.light.brown {
  background-color: #bd5d4a;
  border-color: #683328;
}
.dark.brown {
  background-color: #863e30;
  border-color: #4d231b;
}
.magenta {
  background-color: #e302e5;
  border-color: #7e017f;
}
.light.magenta {
  background-color: #fc12fd;
  border-color: #8a0a8b;
}
.dark.magenta {
  background-color: #bb01bc;
  border-color: #6a016a;
}
.lavender {
  background-color: #ccafe2;
  border-color: #6d5a7b;
}
.light.lavender {
  background-color: #dfcded;
  border-color: #766980;
}
.dark.lavender {
  background-color: #b991d7;
  border-color: #634b75;
}
.cream {
  background-color: #efe2d0;
  border-color: #82786b;
}
.light.cream {
  background-color: #f9f5ee;
  border-color: #87817a;
}
.dark.cream {
  background-color: #e5d0b1;
  border-color: #7c6f5c;
}
.charcoal {
  background-color: #66304d;
  border-color: #3c1c2d;
}
.light.charcoal {
  background-color: #823d63;
  border-color: #4a2238;
}
.dark.charcoal {
  background-color: #4a2338;
  border-color: #2e1523;
}
.crimson {
  background-color: #b60a2f;
  border-color: #67061b;
}
.light.crimson {
  background-color: #dc0c39;
  border-color: #7a0720;
}
.dark.crimson {
  background-color: #8f0825;
  border-color: #530516;
}
.clover {
  background-color: #579a3b;
  border-color: #315721;
}
.light.clover {
  background-color: #68b846;
  border-color: #396626;
}
.dark.clover {
  background-color: #477d30;
  border-color: #28481b;
}
.cobalt {
  background-color: #3370d3;
  border-color: #1c3d74;
}
.light.cobalt {
  background-color: #5487db;
  border-color: #2c4978;
}
.dark.cobalt {
  background-color: #275db6;
  border-color: #163466;
}
.graphite {
  background-color: #352e62;
  border-color: #1f1b3a;
}
.light.graphite {
  background-color: #443b7d;
  border-color: #262148;
}
.dark.graphite {
  background-color: #262146;
  border-color: #17142c;
}
.ruby {
  background-color: #b80155;
  border-color: #680131;
}
.light.ruby {
  background-color: #e10168;
  border-color: #7d013a;
}
.dark.ruby {
  background-color: #900143;
  border-color: #540127;
}
.onyx {
  background-color: #403240;
  border-color: #281e28;
}
.light.onyx {
  background-color: #574457;
  border-color: #342734;
}
.dark.onyx {
  background-color: #292029;
  border-color: #1d151d;
}
.pewter {
  background-color: #a6998f;
  border-color: #5b524c;
}
.light.pewter {
  background-color: #b8ada6;
  border-color: #645d58;
}
.dark.pewter {
  background-color: #948479;
  border-color: #524841;
}
.gunmetal {
  background-color: #594e82;
  border-color: #312b49;
}
.light.gunmetal {
  background-color: #6a5d9b;
  border-color: #3a3356;
}
.dark.gunmetal {
  background-color: #473f68;
  border-color: #29233d;
}
.hotpink {
  background-color: #ef50a8;
  border-color: #83295b;
}
.light.hotpink {
  background-color: #f276bb;
  border-color: #853c64;
}
.dark.hotpink {
  background-color: #eb2b96;
  border-color: #811752;
}
.neongreen {
  background-color: #40e223;
  border-color: #237c13;
}
.light.neongreen {
  background-color: #5fe747;
  border-color: #337f25;
}
.dark.neongreen {
  background-color: #34c21a;
  border-color: #1d6c0e;
}
.electricblue {
  background-color: #3eaee1;
  border-color: #215f7c;
}
.light.electricblue {
  background-color: #61bce7;
  border-color: #32667e;
}
.dark.electricblue {
  background-color: #219cd5;
  border-color: #125676;
}
.royalpurple {
  background-color: #6c2d9d;
  border-color: #3d1959;
}
.light.royalpurple {
  background-color: #8236bc;
  border-color: #481e68;
}
.dark.royalpurple {
  background-color: #56247d;
  border-color: #321549;
}
.lemon {
  background-color: #faeb98;
  border-color: #89804d;
}
.light.lemon {
  background-color: #fcf3be;
  border-color: #8a8460;
}
.dark.lemon {
  background-color: #f8e471;
  border-color: #887c39;
}
.lime {
  background-color: #9fd099;
  border-color: #547150;
}
.light.lime {
  background-color: #baddb5;
  border-color: #61785e;
}
.dark.lime {
  background-color: #85c37e;
  border-color: #476b42;
}
.tangerine {
  background-color: #f49d5d;
  border-color: #86542f;
}
.light.tangerine {
  background-color: #f7b483;
  border-color: #876043;
}
.dark.tangerine {
  background-color: #f28636;
  border-color: #84491c;
}
.grapefruit {
  background-color: #d52964;
  border-color: #751737;
}
.light.grapefruit {
  background-color: #dc4b7d;
  border-color: #792843;
}
.dark.grapefruit {
  background-color: #b32354;
  border-color: #64132f;
}
.action,
.base-color {
  color: #fef2ff;
  background: #a92ce3;
  border-color: #5d187d;
}
.action.light,
.base-color.light {
  color: #fef2ff;
  background: #b850e8;
  border-color: #642a7f;
}
.action.dark,
.base-color.dark {
  color: #fef2ff;
  background: #931bcb;
  border-color: #520f71;
}
.reaction {
  background-color: #588b3a;
  border-color: #324f20;
}
.light.reaction {
  background-color: #6aa845;
  border-color: #3b5d26;
}
.dark.reaction {
  background-color: #466e2e;
  border-color: #28411a;
}
.default {
  background-color: #9f3f98;
  border-color: #592355;
}
.light.default {
  background-color: #b94eb1;
  border-color: #662a62;
}
.dark.default {
  background-color: #81337c;
  border-color: #4a1d47;
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-margin-right {
  margin-right: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.no-margin-left {
  margin-left: 0 !important;
}
.no-padding {
  padding: 0;
}
.no-margin,
.no-gutter {
  margin: 0;
}
.no-side-margin,
.no-side-margins {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.no-margins {
  margin: 0 !important;
}
.no-margins * {
  margin: 0 !important;
}
.no-box-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  box-shadow: unset;
}
.no-text-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  text-shadow: unset;
}
.no-border,
.no-borders,
.no-borders * {
  border-width: 0 !important;
}
.no-background {
  background: transparent;
}
.no-text-indent {
  text-indent: 0;
}
.no-text-align {
  text-align: initial;
}
.no-user-select {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.no-pointer-events {
  pointer-events: none;
}
.no-list-style {
  list-style-type: none;
  margin-left: 0;
}
.no-grid-gap,
.no-column-gap {
  grid-gap: 0;
  column-gap: 0;
}
@media print {
  html {
    font-size: 62.5%;
  }
  * {
    box-shadow: unset !important;
    border: unset !important;
  }
  nav {
    display: none !important;
  }
  .page-width,
  .text-width,
  .container {
    all: unset;
  }
  .inner-page-width,
  .inner-text-width,
  .inner-aside-width {
    all: unset;
  }
}
