/* This project uses Cavepaint (MIT License) by Rex Riepe */
/* https://github.com/cavepaint/cavepaintCSS */
.background {
  background: #fdfff7;
}
.background-color {
  background-color: #fdfff7;
}
.border {
  border: 1px solid #809a4d;
}
.border-radius,
.rounded {
  border-radius: 0.5em;
}
.border-bottom {
  border-bottom: 1px solid #809a4d;
}
.border-left {
  border-left: 1px solid #809a4d;
}
.border-right {
  border-right: 1px solid #809a4d;
}
.border-style,
.button.border,
button.border {
  border-style: solid;
}
.border-top {
  border-top: 1px solid #809a4d;
}
.border-width,
.button.border,
button.border {
  border-width: 1px;
}
.max-width {
  max-width: 59rem;
}
.min-width {
  min-width: 22rem;
}
.align-content {
  align-content: stretch;
}
.align-items {
  align-items: stretch;
}
.align-self {
  align-self: auto;
}
.flex,
.vertical-center,
.center-vertical {
  flex: 0 1 auto;
}
.flex-direction,
.vertical-center,
.center-vertical {
  flex-direction: column;
}
.justify-content,
.vertical-center,
.center-vertical {
  justify-content: center;
}
.font-family,
body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.font-size {
  font-size: 18px;
}
.font-weight {
  font-weight: normal;
}
.list-style {
  list-style: disc inside none;
}
.list-style-type {
  list-style-type: disc;
}
.margin {
  margin: 2rem;
}
.margin-bottom,
pre,
.bar,
.card {
  margin-bottom: 2rem;
}
.margin-left {
  margin-left: 2rem;
}
.margin-right {
  margin-right: 2rem;
}
.margin-top {
  margin-top: 2rem;
}
.column-gap {
  column-gap: 1.94em;
}
.column-rule {
  column-rule: 1px solid #809a4d;
}
.padding {
  padding: 1rem;
}
.padding-bottom {
  padding-bottom: 1rem;
}
.padding-left {
  padding-left: 1rem;
}
.padding-right {
  padding-right: 1rem;
}
.padding-top {
  padding-top: 1rem;
}
.text-align {
  text-align: left;
}
.text-align-last {
  text-align-last: left;
}
.text-indent {
  text-indent: 2ch;
}
.text-justify {
  text-justify: justify;
}
.text-overflow {
  text-overflow: hidden;
}
.text-shadow {
  text-shadow: 1px 1px 1px rgba(35, 40, 20, 0.2);
}
.line-height {
  line-height: 1.8;
}
.vertical-align {
  vertical-align: middle;
}
.letter-spacing {
  letter-spacing: 0;
}
.word-spacing {
  word-spacing: normal;
}
.white-space {
  white-space: nowrap;
}
.word-break {
  word-break: break-all;
}
.word-wrap {
  word-wrap: break-word;
}
.transform {
  transform: none;
}
.transition {
  transition: all 0s ease 0s;
}
.display {
  display: block;
}
.position {
  position: absolute;
}
.top {
  top: 0;
}
.right {
  right: 0;
}
.bottom {
  bottom: 0;
}
.left {
  left: 0;
}
.float {
  float: left;
}
.clear {
  clear: both;
}
.z-index {
  z-index: 10;
}
.overflow {
  overflow: hidden;
}
.cursor {
  cursor: pointer;
}
.box-shadow {
  box-shadow: 1px 1px 1px rgba(35, 40, 20, 0.2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-size: 18px;
  line-height: 1.8;
  margin: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
nav {
  z-index: 99;
}
nav a {
  text-decoration: none;
}
aside {
  margin: 0 auto;
  margin-bottom: 2rem;
  max-width: 22rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-top: 0.49443758em;
  margin-bottom: 0.74165637em;
  letter-spacing: -0.025em;
  color: inherit;
  line-height: 1.618;
}
h1 {
  font-size: 2.4em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1em;
}
p {
  margin-bottom: 1em;
}
p.gutter-bottom {
  margin-bottom: 1.618em;
}
p.gutter {
  margin-bottom: 4rem;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: inherit;
  text-decoration: underline;
}
form {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input {
  font-size: 18px;
  line-height: 1.8;
  border: 1px solid #809a4d;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input:focus {
  box-shadow: 0 0 2px #2dfffd;
}
fieldset {
  border: none;
  outline: none;
}
ol {
  padding-left: 4ch;
  margin-bottom: 2rem;
}
ol li {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
ul {
  margin-left: 1rem;
  margin-bottom: 2rem;
}
li {
  margin-bottom: 0.44em;
}
kbd {
  color: #fdfff7;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  white-space: nowrap;
}
b {
  padding: 0.18em 0 0.22em 0;
}
pre {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  overflow: hidden;
  border-radius: 0.5em;
  background: #232814;
  color: #fdfff7;
}
pre.white-space,
pre.word-break {
  white-space: pre-wrap;
}
pre > code {
  background: transparent;
  padding: 0;
}
code {
  color: #fdfff7;
  background-color: #232814;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
code.terminal::before {
  content: "$ ";
}
textarea {
  font-size: 18px;
  line-height: 1.8;
  border: 1px solid #809a4d;
  border-radius: 0.5em;
  margin-bottom: 2rem;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
textarea:focus {
  box-shadow: 0 0 2px #2dfffd;
}
.button,
button {
  border-style: solid;
  border-radius: 0.5em;
  box-shadow: 1px 1px 1px rgba(35, 40, 20, 0.2);
  display: inline;
  position: relative;
  font-family: inherit;
  font-size: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  color: inherit;
  background-color: inherit;
  border-color: #536432;
  border-width: 1px;
  line-height: 1.6;
  text-align: center;
  vertical-align: middle;
  outline: none;
  white-space: nowrap;
  text-decoration: none;
  touch-action: manipulation;
  cursor: pointer;
  transform: scale(1);
  transition: 0.08s linear;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.button:active,
button:active {
  transform: scale(0.99);
  box-shadow: unset;
}
.bar {
  position: relative;
  width: 100%;
  display: block;
  vertical-align: middle;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.bar > * {
  display: inline;
  margin-right: 0.3236em;
  margin-left: 0.3236em;
}
.card {
  position: relative;
  overflow: hidden;
  padding: 1rem;
  border: 1px solid #809a4d;
  border-radius: 0.5em;
  box-shadow: 1px 1px 1px rgba(35, 40, 20, 0.2);
}
.card > *:first-child {
  margin-top: 0;
}
.badge {
  border-radius: 0.5em;
  line-height: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  padding-right: 0.6472em;
  padding-left: 0.6472em;
  vertical-align: middle;
  border-radius: 99px;
  white-space: nowrap;
}
.modal {
  display: none;
  max-width: none;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  position: fixed;
  bottom: 0;
  justify-content: center;
  flex: 0 1 auto;
  flex-direction: column;
  height: 100vh;
}
.modal > * {
  flex-direction: column;
  color: #232814;
  position: relative;
  background: #fdfff7;
  padding: 1rem;
  margin-bottom: 4rem;
  border-radius: 0.5em;
  box-shadow: 1px 1px 1px rgba(35, 40, 20, 0.2);
  margin: 1rem;
}
@media screen and (min-width: 41rem) {
  .modal > * {
    max-width: 59rem;
    margin: 0 auto;
  }
}
.overlay {
  margin: 0;
  padding: 0;
  position: relative;
}
.overlay .top,
.overlay .bottom,
.overlay .left,
.overlay .right {
  position: absolute;
}
.overlay .top {
  top: 0.3236em;
}
.overlay .bottom {
  bottom: 0.3236em;
}
.overlay .left {
  left: 0.3236em;
}
.overlay .right {
  right: 0.3236em;
}
.overlay.stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.overlay * {
  margin: 0;
  display: block;
}
.white,
body,
input,
textarea {
  background-color: #fdfff7;
  border-color: #8b8f7d;
}
.white.light,
body.light,
input.light,
textarea.light {
  color: #232814;
  background-color: #fefffb;
  border-color: #8b8f7f;
}
.white.dark,
body.dark,
input.dark,
textarea.dark {
  color: #232814;
  background-color: #fbfff1;
  border-color: #8a8f7a;
}
.black {
  background-color: #232814;
  border-color: #12140a;
}
.black.light {
  color: #fdfff7;
  background-color: #5c653c;
  border-color: #383d24;
}
.black.dark {
  color: #fdfff7;
  background-color: #050602;
  border-color: #0d1105;
}
.ambient {
  color: #232814;
  background-color: #dcfb7b;
  border-color: #7a8d3f;
}
.ambient.light {
  color: #232814;
  background-color: #ecfdad;
  border-color: #838e58;
}
.ambient.dark {
  color: #232814;
  background-color: #c6f945;
  border-color: #6f8c24;
}
.ambient.bright {
  color: #232814;
  background-color: #f3ffc5;
  border-color: #869064;
}
.red,
.failure {
  background-color: #ff3d00;
  border-color: #8f2302;
}
.light.red,
.light.failure {
  background-color: #ff7748;
  border-color: #8f4125;
}
.dark.red,
.dark.failure {
  background-color: #ce3101;
  border-color: #771d02;
}
.bright.red,
.bright.failure {
  background-color: #ff331a;
  border-color: #901d0e;
}
.orange,
.warning {
  background-color: #ffb300;
  border-color: #8f6501;
}
.light.orange,
.light.warning {
  background-color: #ffca48;
  border-color: #8f7125;
}
.dark.orange,
.dark.warning {
  background-color: #ce9100;
  border-color: #775402;
}
.bright.orange,
.bright.warning {
  background-color: #ffd61a;
  border-color: #90790e;
}
.yellow {
  background-color: #ffff00;
  border-color: #8f8f01;
}
.light.yellow {
  background-color: #ffff48;
  border-color: #8f8f25;
}
.dark.yellow {
  background-color: #ced101;
  border-color: #777802;
}
.bright.yellow {
  background-color: #ffff1a;
  border-color: #90900e;
}
.green,
.success {
  background-color: #2d9f00;
  border-color: #1c5f02;
}
.light.green,
.light.success {
  background-color: #6bbb48;
  border-color: #3d6a29;
}
.dark.green,
.dark.success {
  background-color: #247f01;
  border-color: #185002;
}
.bright.green,
.bright.success {
  background-color: #12d000;
  border-color: #0c7801;
}
.teal {
  background-color: #1e9480;
  border-color: #12584c;
}
.light.teal {
  background-color: #60b4a3;
  border-color: #36665c;
}
.dark.teal {
  background-color: #18775f;
  border-color: #10493b;
}
.bright.teal {
  background-color: #08be93;
  border-color: #066e56;
}
.cyan,
.info {
  background-color: #2dfffd;
  border-color: #188f8e;
}
.light.cyan,
.light.info {
  background-color: #6bfffc;
  border-color: #378f8e;
}
.dark.cyan,
.dark.info {
  background-color: #24d1c3;
  border-color: #16766f;
}
.bright.cyan,
.bright.info {
  background-color: #2affff;
  border-color: #16908f;
}
.blue {
  background-color: #2d3dfd;
  border-color: #18218e;
}
.light.blue {
  background-color: #6b77fc;
  border-color: #373e8e;
}
.dark.blue {
  background-color: #2431c3;
  border-color: #161d70;
}
.bright.blue {
  background-color: #2a35ff;
  border-color: #161d8f;
}
.purple {
  background-color: #8f2880;
  border-color: #55184c;
}
.light.purple {
  background-color: #b068a4;
  border-color: #643a5c;
}
.dark.purple {
  background-color: #71215f;
  border-color: #46153b;
}
.bright.purple {
  background-color: #b50e93;
  border-color: #690a56;
}
.magenta {
  background-color: #ff3dfd;
  border-color: #8f208e;
}
.light.magenta {
  background-color: #ff77fc;
  border-color: #8f3d8e;
}
.dark.magenta {
  background-color: #ce31c3;
  border-color: #751c6e;
}
.bright.magenta {
  background-color: #ff36ff;
  border-color: #901d8f;
}
.gray {
  background-color: #8f947f;
  border-color: #515447;
}
.light.gray {
  background-color: #b0b4a3;
  border-color: #616459;
}
.dark.gray {
  background-color: #71765f;
  border-color: #424537;
}
.bright.gray {
  background-color: #a8af8e;
  border-color: #5e624e;
}
.action,
.base-color {
  color: #232814;
  background-color: #9bd956;
  border-color: #567a2f;
}
.action.light,
.base-color.light {
  color: #232814;
  background-color: #c6eb90;
  border-color: #6d844c;
}
.action.dark,
.base-color.dark {
  color: #232814;
  background-color: #6fc326;
  border-color: #406f16;
}
.action.bright,
.base-color.bright {
  color: #232814;
  background-color: #b9ed7f;
  border-color: #668543;
}
.reaction {
  background-color: #9e6cd7;
  border-color: #573a79;
}
.light.reaction {
  background-color: #ba98e1;
  border-color: #66517e;
}
.dark.reaction {
  background-color: #7d56a5;
  border-color: #47315e;
}
.bright.reaction {
  background-color: #c074f4;
  border-color: #6a3c89;
}
.default {
  background-color: #809a4d;
  border-color: #4a592c;
}
.light.default {
  background-color: #a5b87f;
  border-color: #5c6746;
}
.dark.default {
  background-color: #647c3a;
  border-color: #3c4a23;
}
.bright.default {
  background-color: #8fc334;
  border-color: #516f1e;
}
.complement,
.second.triad {
  background-color: #a06fd7;
  border-color: #583c79;
}
.light.complement,
.light.second.triad {
  color: #232814;
  background-color: #bc9ae2;
  border-color: #66517e;
}
.dark.complement,
.dark.second.triad {
  color: #fdfff7;
  background-color: #7f58a5;
  border-color: #48325e;
}
.bright.complement,
.bright.second.triad {
  color: #232814;
  background-color: #c278f4;
  border-color: #6b3f89;
}
.accent {
  background-color: #b2f2a5;
  border-color: #5e8855;
}
.light.accent {
  color: #232814;
  background-color: #c9f6be;
  border-color: #698962;
}
.dark.accent {
  color: #232814;
  background-color: #8ec67d;
  border-color: #4e6f44;
}
.bright.accent {
  color: #232814;
  background-color: #e3fed8;
  border-color: #778f6e;
}
.second.accent {
  background-color: #f2f1a5;
  border-color: #878655;
}
.light.second.accent {
  color: #232814;
  background-color: #f5f5be;
  border-color: #898962;
}
.dark.second.accent {
  color: #232814;
  background-color: #c3c57d;
  border-color: #6d6e44;
}
.bright.second.accent {
  color: #232814;
  background-color: #fefed8;
  border-color: #8f8f6e;
}
.split {
  background-color: #68dfd4;
  border-color: #387d77;
}
.light.split {
  color: #232814;
  background-color: #95e8df;
  border-color: #4e827c;
}
.dark.split {
  color: #232814;
  background-color: #52b5a3;
  border-color: #2e675c;
}
.bright.split {
  color: #232814;
  background-color: #6ef8f2;
  border-color: #398b88;
}
.second.split {
  background-color: #dd6f58;
  border-color: #7c3d2f;
}
.light.second.split {
  color: #232814;
  background-color: #e79a87;
  border-color: #815347;
}
.dark.second.split {
  color: #fdfff7;
  background-color: #b25841;
  border-color: #663326;
}
.bright.second.split {
  color: #232814;
  background-color: #f77454;
  border-color: #8b3f2c;
}
.triad {
  background-color: #68df92;
  border-color: #387d50;
}
.light.triad {
  color: #232814;
  background-color: #95e8b1;
  border-color: #4e825f;
}
.dark.triad {
  color: #232814;
  background-color: #52b56e;
  border-color: #2e673e;
}
.bright.triad {
  color: #232814;
  background-color: #6ef8af;
  border-color: #398b60;
}
.third.triad {
  background-color: #dda454;
  border-color: #7c5b2e;
}
.light.third.triad {
  color: #232814;
  background-color: #e7bf84;
  border-color: #816946;
}
.dark.third.triad {
  color: #fdfff7;
  background-color: #b2843f;
  border-color: #664b24;
}
.bright.third.triad {
  color: #232814;
  background-color: #f7c650;
  border-color: #8b6e2a;
}
.tetrad {
  background-color: #68df71;
  border-color: #387d3d;
}
.light.tetrad {
  color: #232814;
  background-color: #95e899;
  border-color: #4e8251;
}
.dark.tetrad {
  color: #232814;
  background-color: #52b555;
  border-color: #2e6730;
}
.bright.tetrad {
  color: #232814;
  background-color: #6ef87b;
  border-color: #398b41;
}
.second.tetrad {
  background-color: #688ed7;
  border-color: #384e79;
}
.light.second.tetrad {
  color: #232814;
  background-color: #95b0e2;
  border-color: #4f5f7e;
}
.dark.second.tetrad {
  color: #fdfff7;
  background-color: #5271a5;
  border-color: #2f415e;
}
.bright.second.tetrad {
  color: #232814;
  background-color: #6da9f4;
  border-color: #395c89;
}
.third.tetrad {
  background-color: #dd6fba;
  border-color: #7c3b67;
}
.light.third.tetrad {
  color: #232814;
  background-color: #e79acd;
  border-color: #815171;
}
.dark.third.tetrad {
  color: #fdfff7;
  background-color: #b2588e;
  border-color: #653250;
}
.bright.third.tetrad {
  color: #232814;
  background-color: #f779df;
  border-color: #8b3f7c;
}
.fourth.tetrad {
  background-color: #ddc054;
  border-color: #7c6c2e;
}
.light.fourth.tetrad {
  color: #232814;
  background-color: #e7d384;
  border-color: #817546;
}
.dark.fourth.tetrad {
  color: #232814;
  background-color: #b29b3f;
  border-color: #665924;
}
.bright.fourth.tetrad {
  color: #232814;
  background-color: #f7e350;
  border-color: #8b802a;
}
.warm {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201%201%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23fdd55e%22%20opacity%3D%220.2%22%20d%3D%22M0%200h1v1H0z%22%2F%3E%3C%2Fsvg%3E");
}
.cool {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201%201%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%236173f7%22%20opacity%3D%220.2%22%20d%3D%22M0%200h1v1H0z%22%2F%3E%3C%2Fsvg%3E");
}
.neutral {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201%201%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%234bdfbb%22%20opacity%3D%220.16%22%20d%3D%22M0%200h1v1H0z%22%2F%3E%3C%2Fsvg%3E");
}
.dull {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201%201%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23afb59c%22%20opacity%3D%220.38%22%20d%3D%22M0%200h1v1H0z%22%2F%3E%3C%2Fsvg%3E");
}
.responsive {
  column-gap: 0.382rem;
  grid-gap: 0.382rem;
}
.responsive.padding,
.modal,
.container {
  padding: 0.382rem;
}
.responsive.margin,
.container {
  margin: 0.764rem;
}
.responsive.gutter {
  margin: 1.528rem;
}
@media screen and (min-width: 41rem) {
  .responsive {
    column-gap: 0.618rem;
    grid-gap: 0.618rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 0.618rem;
  }
  .responsive.margin,
  .container {
    margin: 1.236rem;
  }
  .responsive.gutter {
    margin: 2.472rem;
  }
}
@media screen and (min-width: 59rem) {
  .responsive {
    column-gap: 1rem;
    grid-gap: 1rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1rem;
  }
  .responsive.margin,
  .container {
    margin: 2rem;
  }
  .responsive.gutter {
    margin: 4rem;
  }
}
.grid,
.two-column,
.three-column {
  display: grid;
  grid-gap: 2rem;
  margin-bottom: 2rem;
}
.grid.tablet,
.two-column.tablet,
.three-column.tablet,
.grid.mobile.tablet,
.two-column.mobile.tablet,
.three-column.mobile.tablet,
.grid.desktop,
.two-column.desktop,
.three-column.desktop {
  display: unset;
}
.grid {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.two-column {
  grid-template-columns: 1fr 1fr;
}
.two-column.golden {
  grid-template-columns: 1.618fr 1fr;
}
.two-column.golden.reverse {
  grid-template-columns: 1fr 1.618fr;
}
.three-column {
  grid-template-columns: 1fr 1fr 1fr;
}
.three-column.golden {
  grid-template-columns: 1fr 1.618fr 1fr;
}
.three-column.golden.leading {
  grid-template-columns: 1.618fr 1fr 1fr;
}
.three-column.golden.trailing {
  grid-template-columns: 1fr 1fr 1.618fr;
}
.grid-width-one {
  grid-column: auto / span 1;
}
.grid-width-two {
  grid-column: auto / span 2;
}
.grid-width-three {
  grid-column: auto / span 3;
}
.grid-width-four {
  grid-column: auto / span 4;
}
.grid-width-five {
  grid-column: auto / span 5;
}
.grid-width-six {
  grid-column: auto / span 6;
}
.grid-width-seven {
  grid-column: auto / span 7;
}
.grid-width-eight {
  grid-column: auto / span 8;
}
.grid-width-nine {
  grid-column: auto / span 9;
}
.grid-width-ten {
  grid-column: auto / span 10;
}
.grid-width-eleven {
  grid-column: auto / span 11;
}
.grid-width-twelve {
  grid-column: auto / span 12;
}
@media screen and (max-width: calc(41rem - 1px)) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: grid;
  }
}
@media screen and (min-width: 41rem) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: initial;
  }
  .grid.tablet,
  .two-column.tablet,
  .three-column.tablet {
    display: grid;
  }
}
@media screen and (max-width: calc(59rem - 1px)) {
  .grid.mobile.tablet,
  .two-column.mobile.tablet,
  .three-column.mobile.tablet {
    display: grid;
  }
}
@media screen and (min-width: 59rem) {
  .grid.desktop,
  .two-column.desktop,
  .three-column.desktop {
    display: grid;
  }
}
.gutter {
  margin: 4rem;
}
.gutter-top {
  margin-top: 4rem;
}
.gutter-right {
  margin-right: 4rem;
}
.gutter-bottom {
  margin-bottom: 4rem;
}
.gutter-left {
  margin-left: 4rem;
}
.text-padding {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-padding-top {
  padding-top: 0.18em;
}
.text-padding-right {
  padding-right: 0.3236em;
}
.text-padding-bottom {
  padding-bottom: 0.22em;
}
.text-padding-left {
  padding-left: 0.3236em;
}
.text-margin {
  margin: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-margin-top {
  margin-top: 0.18em;
}
.text-margin-right {
  margin-right: 0.3236em;
}
.text-margin-bottom {
  margin-bottom: 0.22em;
}
.text-margin-left {
  margin-left: 0.3236em;
}
.bottom-margins * {
  margin-bottom: 2rem;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.initial {
  display: initial;
}
.table {
  display: table;
}
.flex,
.vertical-center,
.center-vertical {
  display: flex;
}
.inline-block {
  display: inline-block;
}
.static {
  position: static;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.margin-auto,
.container {
  margin-left: auto;
  margin-right: auto;
}
.width-auto {
  width: auto;
}
.inset {
  box-shadow: inset 1px 1px 1px rgba(35, 40, 20, 0.2);
}
.viewport-height {
  height: 100vh;
}
.min-viewport-height {
  min-height: 100vh;
}
.overflow-hidden {
  overflow: hidden;
}
.dashed {
  border-style: dashed;
}
.dotted {
  border-style: dotted;
}
.thick {
  border-width: 2px;
}
.thin {
  border-width: 0.5px;
}
.current-color {
  border-color: currentColor;
}
.fade {
  opacity: 0.65;
}
.monospace,
pre,
code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
}
.sans-serif {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.serif {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "Droid Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.text-transparent {
  color: transparent;
}
.big {
  font-size: 125%;
  line-height: 2.25;
}
.big.font-size {
  font-size: 22.5px;
}
.small,
.badge {
  font-size: 87.5%;
  line-height: 1.575;
}
.small.font-size {
  font-size: 15.75px;
}
.huge {
  font-size: 160%;
}
.huge.font-size {
  font-size: 28.8px;
}
.text-trim {
  line-height: 1;
}
.text-align-center,
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.grid-gap-margin {
  grid-gap: 2rem;
}
.grid-gap-border-width {
  grid-gap: 1px;
}
.grid-gap-text-padding,
.grid-gap-text-margin {
  grid-gap: 0.3236em;
}
.shade,
.white,
.light.red,
.orange,
.bright.orange,
.yellow,
.bright.yellow,
.light.green,
.bright.green,
.light.teal,
.bright.teal,
.cyan,
.bright.cyan,
.magenta,
.bright.magenta,
.light.gray,
.bright.gray,
.light.reaction,
.bright.reaction,
.light.default,
.bright.default,
.accent,
.second.accent,
.split,
.triad,
.third.triad,
.tetrad,
.third.tetrad,
.fourth.tetrad,
body,
input,
textarea,
.info,
.bright.info,
.warning,
.bright.warning,
.light.success,
.bright.success,
.light.failure {
  color: #232814;
}
.tint,
.black,
.red,
.bright.red,
.green,
.teal,
.blue,
.bright.blue,
.purple,
.bright.purple,
.dark.magenta,
.gray,
.reaction,
.default,
.complement,
.second.split,
.second.tetrad,
.success,
.failure,
.bright.failure,
.second.triad {
  color: #fdfff7;
}
.transparent {
  background-color: transparent;
  color: inherit;
  border-color: inherit;
}
.transparent.light {
  background-color: rgba(253, 255, 247, 0.16);
}
.transparent.dark,
.modal {
  background-color: rgba(35, 40, 20, 0.25);
}
.trim,
.trim-inner *,
.trim-all,
.trim-all * {
  margin-bottom: 0;
}
.bump {
  position: relative;
}
.bump.up {
  top: -2px;
}
.bump.down {
  top: 2px;
}
.bump.left {
  left: -2px;
}
.bump.right {
  right: initial;
  left: 2px;
}
.hidden {
  display: none !important;
}
.clearfix,
.clear {
  clear: both;
}
.clearfix::after,
.clear::after {
  display: block;
  clear: both;
  content: "";
}
.character-width {
  max-width: 1ch;
}
.golden-width {
  max-width: calc(62% - 4rem);
}
.golden-width.reverse {
  max-width: 38%;
}
.aside-width {
  max-width: 22rem;
}
@media screen and (min-width: 41rem) {
  .text-width {
    max-width: 37rem;
  }
}
.page-width,
.container {
  max-width: 59rem;
}
.full-width,
.page-width .page-width {
  display: block;
  width: 100%;
}
.inner-aside-width {
  padding-left: calc(50% - 11rem);
  padding-right: calc(50% - 11rem);
}
.inner-aside-width.padding {
  padding-left: calc(50% - 10rem);
  padding-right: calc(50% - 10rem);
}
.inner-aside-width.responsive.padding {
  padding-left: calc(50% - 10.62rem);
  padding-right: calc(50% - 10.62rem);
}
@media screen and (max-width: calc(41rem - 1px)) {
  .inner-text-width {
    padding-left: initial;
    padding-right: initial;
  }
  .inner-text-width.padding {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .inner-text-width.responsive.padding {
    padding-left: 0.382rem;
    padding-right: 0.382rem;
  }
}
@media screen and (min-width: 41rem) {
  .inner-aside-width.tablet.padding {
    padding-left: calc(50% - 10rem);
    padding-right: calc(50% - 10rem);
  }
  .inner-aside-width.tablet.responsive.padding {
    padding-left: calc(50% - 10.38rem);
    padding-right: calc(50% - 10.38rem);
  }
  .inner-text-width {
    padding-left: calc(50% - 18.5rem);
    padding-right: calc(50% - 18.5rem);
  }
  .inner-text-width.padding {
    padding-left: calc(50% - 17.5rem);
    padding-right: calc(50% - 17.5rem);
  }
  .inner-text-width.responsive.padding {
    padding-left: calc(50% - 17.88rem);
    padding-right: calc(50% - 17.88rem);
  }
}
@media screen and (min-width: 59rem) {
  .inner-aside-width.desktop.padding {
    padding-left: calc(50% - 10rem);
    padding-right: calc(50% - 10rem);
  }
  .inner-aside-width.desktop.responsive.padding {
    padding-left: calc(50% - 10rem);
    padding-right: calc(50% - 10rem);
  }
  .inner-text-width.desktop.padding {
    padding-left: calc(50% - 17.5rem);
    padding-right: calc(50% - 17.5rem);
  }
  .inner-text-width.desktop.responsive.padding {
    padding-left: calc(50% - 17.5rem);
    padding-right: calc(50% - 17.5rem);
  }
  .inner-page-width {
    padding-left: calc(50% - 29.5rem);
    padding-right: calc(50% - 29.5rem);
  }
  .inner-page-width.padding {
    padding-left: calc(50% - 28.5rem);
    padding-right: calc(50% - 28.5rem);
  }
  .inner-page-width.responsive.padding {
    padding-left: calc(50% - 28.5rem);
    padding-right: calc(50% - 28.5rem);
  }
}
.placeholder {
  min-height: 10px;
}
.placeholder::before {
  content: " ";
  white-space: pre;
}
.placeholder::after {
  content: "";
  display: block;
}
.placeholder.square::after,
.placeholder.one-to-one::after {
  padding-top: 100%;
}
.placeholder.four-to-three::after {
  padding-top: 75%;
}
.placeholder.sixteen-to-nine::after {
  padding-top: 56.25%;
}
.hide {
  display: none;
}
.hide.tablet {
  display: initial;
}
.hide.desktop {
  display: initial;
}
@media screen and (max-width: calc(41rem - 1px)) {
  .hide.mobile {
    display: none;
  }
}
@media screen and (min-width: 41rem) {
  .hide.mobile {
    display: initial;
  }
  .hide.tablet {
    display: none;
  }
}
@media screen and (min-width: 59rem) {
  .hide.desktop {
    display: none;
  }
  .hide.mobile.tablet {
    display: initial;
  }
}
@media screen and (max-width: calc(59rem - 1px)) {
  .hide.mobile.tablet {
    display: none;
  }
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-margin-right {
  margin-right: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.no-margin-left {
  margin-left: 0 !important;
}
.no-padding {
  padding: 0;
}
.no-margin,
.no-gutter {
  margin: 0;
}
.no-side-margin,
.no-side-margins {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.no-margins {
  margin: 0 !important;
}
.no-margins * {
  margin: 0 !important;
}
.no-box-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  box-shadow: unset;
}
.no-text-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  text-shadow: unset;
}
.no-border,
.no-borders,
.no-borders * {
  border-width: 0 !important;
}
.no-background {
  background: transparent;
}
.no-text-indent {
  text-indent: 0;
}
.no-text,
.no-text * {
  text-indent: -9999px;
}
.no-text-align {
  text-align: initial;
}
.no-user-select {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.no-pointer-events {
  pointer-events: none;
}
.no-list-style {
  list-style-type: none;
  margin-left: 0;
}
.no-grid-gap,
.no-column-gap {
  grid-gap: 0;
  column-gap: 0;
}
