/* This project uses Cavepaint (MIT License) by Rex Riepe */
/* https://github.com/cavepaint/cavepaintCSS */
* {
  margin: 0 0 1.62rem 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  margin-bottom: 0;
}
.button,
button {
  border-style: solid;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(40, 2, 2, 0.16);
  display: inline;
  position: relative;
  font-family: inherit;
  font-size: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  color: inherit;
  background-color: inherit;
  border-color: #1a716d;
  border-width: 1px;
  line-height: 1.6;
  text-align: center;
  vertical-align: middle;
  outline: none;
  white-space: nowrap;
  text-decoration: none;
  touch-action: manipulation;
  cursor: pointer;
  transform: scale(1);
  transition: 0.08s linear;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.button:active,
button:active {
  transform: scale(0.99);
  box-shadow: unset;
}
.bar {
  position: relative;
  width: 100%;
  display: block;
  vertical-align: middle;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.bar > * {
  display: inline;
  margin-right: 0.3236em;
  margin-left: 0.3236em;
  margin-bottom: 0;
}
.card {
  position: relative;
  overflow: hidden;
  padding: 1.62rem;
  border: 1px solid #2ab3ae;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(40, 2, 2, 0.16);
}
.card > *:first-child {
  margin-top: 0;
}
.card > *:last-child {
  margin-bottom: 0;
}
.badge {
  border-radius: 0.5em;
  line-height: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  padding-right: 0.6472em;
  padding-left: 0.6472em;
  vertical-align: middle;
  border-radius: 99px;
  white-space: nowrap;
}
.modal {
  display: none;
  max-width: none;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  position: fixed;
  bottom: 0;
  justify-content: center;
  flex: 0 1 auto;
  flex-direction: column;
  height: 100vh;
}
.modal > * {
  flex-direction: column;
  color: #022828;
  position: relative;
  background: #f0ffff;
  padding: 1.62rem;
  margin-bottom: 3.24rem;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(40, 2, 2, 0.16);
  margin: 1.62rem;
}
@media screen and (min-width: 49.24rem) {
  .modal > * {
    max-width: 74rem;
    margin: 0 auto;
  }
}
.overlay {
  margin: 0;
  padding: 0;
  position: relative;
}
.overlay .top,
.overlay .bottom,
.overlay .left,
.overlay .right {
  position: absolute;
}
.overlay .top {
  top: 0.3236em;
}
.overlay .bottom {
  bottom: 0.3236em;
}
.overlay .left {
  left: 0.3236em;
}
.overlay .right {
  right: 0.3236em;
}
.overlay.stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.overlay * {
  margin: 0;
  display: block;
}
.grid,
.two-column,
.three-column {
  display: grid;
  grid-gap: 1.62rem;
}
.grid.tablet,
.two-column.tablet,
.three-column.tablet,
.grid.mobile.tablet,
.two-column.mobile.tablet,
.three-column.mobile.tablet,
.grid.desktop,
.two-column.desktop,
.three-column.desktop {
  display: initial;
}
.grid {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.two-column {
  grid-template-columns: 1fr 1fr;
}
.two-column.golden {
  grid-template-columns: 1.618fr 1fr;
}
.two-column.golden.reverse {
  grid-template-columns: 1fr 1.618fr;
}
.three-column {
  grid-template-columns: 1fr 1fr 1fr;
}
.three-column.golden {
  grid-template-columns: 1fr 1.618fr 1fr;
}
.three-column.golden.leading {
  grid-template-columns: 1.618fr 1fr 1fr;
}
.three-column.golden.trailing {
  grid-template-columns: 1fr 1fr 1.618fr;
}
.grid-width-one {
  grid-column: auto / span 1;
}
.grid-width-two {
  grid-column: auto / span 2;
}
.grid-width-three {
  grid-column: auto / span 3;
}
.grid-width-four {
  grid-column: auto / span 4;
}
.grid-width-five {
  grid-column: auto / span 5;
}
.grid-width-six {
  grid-column: auto / span 6;
}
.grid-width-seven {
  grid-column: auto / span 7;
}
.grid-width-eight {
  grid-column: auto / span 8;
}
.grid-width-nine {
  grid-column: auto / span 9;
}
.grid-width-ten {
  grid-column: auto / span 10;
}
.grid-width-eleven {
  grid-column: auto / span 11;
}
.grid-width-twelve {
  grid-column: auto / span 12;
}
@media screen and (max-width: calc(49.24rem - 1px)) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: grid;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 49.24rem) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: initial;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: initial;
  }
  .grid.tablet,
  .two-column.tablet,
  .three-column.tablet {
    display: grid;
  }
  .grid.tablet > *,
  .two-column.tablet > *,
  .three-column.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (max-width: calc(74rem - 1px)) {
  .grid.mobile.tablet,
  .two-column.mobile.tablet,
  .three-column.mobile.tablet {
    display: grid;
  }
  .grid.mobile.tablet > *,
  .two-column.mobile.tablet > *,
  .three-column.mobile.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 74rem) {
  .grid.desktop,
  .two-column.desktop,
  .three-column.desktop {
    display: grid;
  }
  .grid.desktop > *,
  .two-column.desktop > *,
  .three-column.desktop > * {
    margin-bottom: 0;
  }
}
.responsive {
  column-gap: 0.619rem;
  grid-gap: 0.619rem;
}
.responsive.padding,
.modal,
.container {
  padding: 0.619rem;
}
.responsive.margin,
.container {
  margin: 0.619rem;
}
.responsive.gutter {
  margin: 1.238rem;
}
@media screen and (min-width: 49.24rem) {
  .responsive {
    column-gap: 1.001rem;
    grid-gap: 1.001rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.001rem;
  }
  .responsive.margin,
  .container {
    margin: 1.001rem;
  }
  .responsive.gutter {
    margin: 2.002rem;
  }
}
@media screen and (min-width: 74rem) {
  .responsive {
    column-gap: 1.62rem;
    grid-gap: 1.62rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.62rem;
  }
  .responsive.margin,
  .container {
    margin: 1.62rem;
  }
  .responsive.gutter {
    margin: 3.24rem;
  }
}
.background {
  background: #f0ffff;
}
.background-color {
  background-color: #f0ffff;
}
.border {
  border: 1px solid #2ab3ae;
}
.border-radius,
.rounded {
  border-radius: 0.5em;
}
.border-bottom {
  border-bottom: 1px solid #2ab3ae;
}
.border-left {
  border-left: 1px solid #2ab3ae;
}
.border-right {
  border-right: 1px solid #2ab3ae;
}
.border-style,
.button.border,
button.border {
  border-style: solid;
}
.border-top {
  border-top: 1px solid #2ab3ae;
}
.border-width,
.button.border,
button.border {
  border-width: 1px;
}
.max-width {
  max-width: 74rem;
}
.min-width {
  min-width: 28rem;
}
.align-content {
  align-content: stretch;
}
.align-items {
  align-items: stretch;
}
.align-self {
  align-self: auto;
}
.flex,
.vertical-center,
.center-vertical {
  flex: 0 1 auto;
}
.flex-basis {
  flex-basis: auto;
}
.flex-direction,
.vertical-center,
.center-vertical {
  flex-direction: column;
}
.flex-flow {
  flex-flow: column nowrap;
}
.flex-grow {
  flex-grow: 0;
}
.flex-shrink {
  flex-shrink: 1;
}
.flex-wrap {
  flex-wrap: nowrap;
}
.justify-content,
.vertical-center,
.center-vertical {
  justify-content: center;
}
.font-family,
body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "Droid Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
.font-size {
  font-size: 16px;
}
.font-weight {
  font-weight: normal;
}
.list-style {
  list-style: disc inside none;
}
.list-style-type {
  list-style-type: disc;
}
.margin {
  margin: 1.62rem;
}
.margin-bottom {
  margin-bottom: 1.62rem;
}
.margin-left {
  margin-left: 1.62rem;
}
.margin-right {
  margin-right: 1.62rem;
}
.margin-top {
  margin-top: 1.62rem;
}
.column-gap {
  column-gap: 1.94em;
}
.column-rule {
  column-rule: 1px solid #2ab3ae;
}
.padding {
  padding: 1.62rem;
}
.padding-bottom {
  padding-bottom: 1.62rem;
}
.padding-left {
  padding-left: 1.62rem;
}
.padding-right {
  padding-right: 1.62rem;
}
.padding-top {
  padding-top: 1.62rem;
}
.text-align {
  text-align: left;
}
.text-align-last {
  text-align-last: left;
}
.text-indent {
  text-indent: 2ch;
}
.text-justify {
  text-justify: justify;
}
.text-overflow {
  text-overflow: hidden;
}
.text-shadow {
  text-shadow: 1.41px 1.41px 1.41px rgba(40, 2, 2, 0.16);
}
.line-height {
  line-height: 1.8;
}
.vertical-align {
  vertical-align: middle;
}
.letter-spacing {
  letter-spacing: 0;
}
.word-spacing {
  word-spacing: normal;
}
.white-space {
  white-space: nowrap;
}
.word-break {
  word-break: break-all;
}
.word-wrap {
  word-wrap: break-word;
}
.transform {
  transform: none;
}
.transition {
  transition: all 0s ease 0s;
}
.display {
  display: block;
}
.position {
  position: absolute;
}
.top {
  top: 0;
}
.right {
  right: 0;
}
.bottom {
  bottom: 0;
}
.left {
  left: 0;
}
.float {
  float: left;
}
.clear {
  clear: both;
}
.z-index {
  z-index: 10;
}
.overflow {
  overflow: hidden;
}
.overflow-x {
  overflow-x: hidden;
}
.cursor {
  cursor: pointer;
}
.box-shadow {
  box-shadow: 1.41px 1.41px 1.41px rgba(40, 2, 2, 0.16);
}
.gutter {
  margin: 3.24rem;
}
.gutter-top {
  margin-top: 3.24rem;
}
.gutter-right {
  margin-right: 3.24rem;
}
.gutter-bottom {
  margin-bottom: 3.24rem;
}
.gutter-left {
  margin-left: 3.24rem;
}
.text-padding {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-padding-top {
  padding-top: 0.18em;
}
.text-padding-right {
  padding-right: 0.3236em;
}
.text-padding-bottom {
  padding-bottom: 0.22em;
}
.text-padding-left {
  padding-left: 0.3236em;
}
.text-margin {
  margin: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-margin-top {
  margin-top: 0.18em;
}
.text-margin-right {
  margin-right: 0.3236em;
}
.text-margin-bottom {
  margin-bottom: 0.22em;
}
.text-margin-left {
  margin-left: 0.3236em;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.initial {
  display: initial;
}
.table {
  display: table;
}
.flex,
.vertical-center,
.center-vertical {
  display: flex;
}
.inline-block {
  display: inline-block;
}
.static {
  position: static;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.margin-auto,
.container {
  margin-left: auto;
  margin-right: auto;
}
.width-auto {
  width: auto;
}
.inset {
  box-shadow: inset 1.41px 1.41px 1.41px rgba(40, 2, 2, 0.16);
}
.viewport-height {
  height: 100vh;
}
.min-viewport-height {
  min-height: 100vh;
}
.overflow-hidden {
  overflow: hidden;
}
.dashed {
  border-style: dashed;
}
.dotted {
  border-style: dotted;
}
.thick {
  border-width: 2px;
}
.thin {
  border-width: 0.5px;
}
.current-color {
  border-color: currentColor;
}
.fade {
  opacity: 0.65;
}
.serif,
.font-family-serif {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "Droid Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
.monospace,
.font-family-monospace,
pre,
code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
}
.sans-serif,
.font-family-sans-serif {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.text-transparent {
  color: transparent;
}
.reset {
  all: initial;
}
.big {
  font-size: 125%;
  line-height: 2.25;
}
.big.font-size {
  font-size: 20px;
}
.small,
.badge {
  font-size: 87.5%;
  line-height: 1.575;
}
.small.font-size {
  font-size: 14px;
}
.huge {
  font-size: 160%;
}
.huge.font-size {
  font-size: 25.6px;
}
.text-trim {
  line-height: 1;
}
.text-align-center,
.text-center {
  text-align: center;
}
.text-align-left,
.text-left {
  text-align: left;
}
.text-align-right,
.text-right {
  text-align: right;
}
.text-align-justify,
.text-justify {
  text-align: justify;
}
.grid-gap-margin {
  grid-gap: 1.62rem;
}
.grid-gap-border-width {
  grid-gap: 1px;
}
.grid-gap-text-padding,
.grid-gap-text-margin {
  grid-gap: 0.3236em;
}
.shade,
.white,
.orange,
.yellow,
.olive,
.light.green,
.teal,
.cyan,
.skyblue,
.violet,
.light.gray,
.light.magenta,
.lavender,
.cream,
.clover,
.light.cobalt,
.pewter,
.hotpink,
.neongreen,
.electricblue,
.lemon,
.lime,
.tangerine,
.default,
.warm,
.cool,
.light.neutral,
.accent,
.second.accent,
.second.split,
.third.triad,
.third.tetrad,
.fourth.tetrad,
.highlight,
body,
input,
textarea,
.info,
.warning,
.light.success {
  color: #022828;
}
.tint,
.black,
.red,
.dark.olive,
.green,
.dark.teal,
.blue,
.indigo,
.purple,
.dark.violet,
.gray,
.brown,
.magenta,
.charcoal,
.crimson,
.dark.clover,
.cobalt,
.graphite,
.ruby,
.onyx,
.gunmetal,
.dark.hotpink,
.royalpurple,
.grapefruit,
.reaction,
.dark.default,
.dark.warm,
.neutral,
.complement,
.split,
.triad,
.tetrad,
.second.tetrad,
.success,
.failure,
.second.triad {
  color: #f0ffff;
}
.transparent {
  background-color: transparent;
  color: inherit;
  border-color: inherit;
}
.transparent.light {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23FFF%22%20fill-opacity%3D%220.16%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.transparent.dark,
.modal {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23000%22%20fill-opacity%3D%220.25%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.trim,
.trim-inner *,
.trim-all,
.trim-all * {
  margin-bottom: 0;
}
.hidden {
  display: none !important;
}
.clearfix,
.clear {
  clear: both;
}
.clearfix::after,
.clear::after {
  display: block;
  clear: both;
  content: "";
}
.golden-width {
  max-width: calc(62% - 3.24rem);
}
.golden-width.reverse {
  max-width: 38%;
}
.aside-width {
  max-width: 28rem;
}
@media screen and (min-width: 49.24rem) {
  .text-width {
    max-width: 46rem;
  }
}
.page-width,
.container {
  max-width: 74rem;
}
.full-width,
.aside-width .aside-width,
.text-width .text-width,
.page-width .page-width {
  display: block;
  width: 100%;
}
.inner-aside-width {
  padding-left: calc(50% - 14rem);
  padding-right: calc(50% - 14rem);
}
.inner-aside-width.padding {
  padding-left: calc(50% - 12.38rem);
  padding-right: calc(50% - 12.38rem);
}
.inner-aside-width.responsive.padding {
  padding-left: calc(50% - 13.38rem);
  padding-right: calc(50% - 13.38rem);
}
@media screen and (max-width: calc(49.24rem - 1px)) {
  .inner-text-width {
    padding-left: initial;
    padding-right: initial;
  }
  .inner-text-width.padding {
    padding-left: 1.62rem;
    padding-right: 1.62rem;
  }
  .inner-text-width.responsive.padding {
    padding-left: 0.619rem;
    padding-right: 0.619rem;
  }
}
@media screen and (min-width: 49.24rem) {
  .inner-aside-width.tablet.padding {
    padding-left: calc(50% - 12.38rem);
    padding-right: calc(50% - 12.38rem);
  }
  .inner-aside-width.tablet.responsive.padding {
    padding-left: calc(50% - 13rem);
    padding-right: calc(50% - 13rem);
  }
  .inner-text-width {
    padding-left: calc(50% - 23rem);
    padding-right: calc(50% - 23rem);
  }
  .inner-text-width.padding {
    padding-left: calc(50% - 21.38rem);
    padding-right: calc(50% - 21.38rem);
  }
  .inner-text-width.responsive.padding {
    padding-left: calc(50% - 22rem);
    padding-right: calc(50% - 22rem);
  }
}
@media screen and (min-width: 74rem) {
  .inner-aside-width.desktop.padding {
    padding-left: calc(50% - 12.38rem);
    padding-right: calc(50% - 12.38rem);
  }
  .inner-aside-width.desktop.responsive.padding {
    padding-left: calc(50% - 12.38rem);
    padding-right: calc(50% - 12.38rem);
  }
  .inner-text-width.desktop.padding {
    padding-left: calc(50% - 21.38rem);
    padding-right: calc(50% - 21.38rem);
  }
  .inner-text-width.desktop.responsive.padding {
    padding-left: calc(50% - 21.38rem);
    padding-right: calc(50% - 21.38rem);
  }
  .inner-page-width {
    padding-left: calc(50% - 37rem);
    padding-right: calc(50% - 37rem);
  }
  .inner-page-width.padding {
    padding-left: calc(50% - 35.38rem);
    padding-right: calc(50% - 35.38rem);
  }
  .inner-page-width.responsive.padding {
    padding-left: calc(50% - 35.38rem);
    padding-right: calc(50% - 35.38rem);
  }
}
.texture,
.pattern {
  background-position: top center;
}
.texture {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20width%3D'80'%20height%3D'48'%3E%3Cpath%20d%3D'M19%200v11H0v26h19v11h2V37h38v11h2V37h19V11H61V0h-2v11H21V0h-2zM1%2013h38v22H1V13zm40%200h38v22H41V13z'%20fill%3D'%23f0ffff'%20fill-opacity%3D'0.05'/%3E%3C/svg%3E");
}
.pattern {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20viewBox%3D'0%200%2021.167%2013.229'%20height%3D'80'%20width%3D'128'%3E%3Cg%20fill%3D'%23f0ffff'%20fill-opacity%3D'0.05'%3E%3Ccircle%20cx%3D'13.759'%20cy%3D'4.498'%20r%3D'1.323'/%3E%3Ccircle%20cy%3D'1.587'%20cx%3D'8.202'%20r%3D'.794'/%3E%3Ccircle%20r%3D'.794'%20cx%3D'4.498'%20cy%3D'9.26'/%3E%3Ccircle%20r%3D'.794'%20cx%3D'18.521'%20cy%3D'11.377'/%3E%3Ccircle%20cy%3D'11.112'%20cx%3D'12.171'%20r%3D'.529'/%3E%3Ccircle%20r%3D'.529'%20cx%3D'18.521'%20cy%3D'5.027'/%3E%3Ccircle%20r%3D'.529'%20cx%3D'8.731'%20cy%3D'6.614'/%3E%3Ccircle%20r%3D'.529'%20cx%3D'3.175'%20cy%3D'3.969'/%3E%3Ccircle%20r%3D'.529'%20cx%3D'.794'%20cy%3D'12.435'/%3E%3C/g%3E%3C/svg%3E");
}
.placeholder::before {
  content: " ";
  white-space: pre;
}
.placeholder::after {
  content: "";
}
.placeholder.image,
.placeholder.video,
.placeholder.avatar {
  position: relative;
}
.placeholder.image::before,
.placeholder.video::before,
.placeholder.avatar::before {
  position: absolute;
  top: calc(50% - 4rem);
  right: 0;
  bottom: 0;
  left: 0;
  display: inline-block;
  text-align: center;
  font-size: 4rem;
  vertical-align: middle;
}
.placeholder.image.small::before,
.placeholder.video.small::before,
.placeholder.avatar.small::before {
  top: calc(50% - 2rem);
  font-size: 2rem;
}
.placeholder.image.big::before,
.placeholder.video.big::before,
.placeholder.avatar.big::before {
  top: calc(50% - 6rem);
  font-size: 6rem;
}
.placeholder.image.huge::before,
.placeholder.video.huge::before,
.placeholder.avatar.huge::before {
  top: calc(50% - 8rem);
  font-size: 8rem;
}
.placeholder.image::after,
.placeholder.video::after,
.placeholder.avatar::after {
  display: block;
}
.placeholder.image::before {
  content: "\1f5bc";
}
.placeholder.image::after {
  padding-top: 75%;
}
.placeholder.video::before {
  content: "\25B6";
}
.placeholder.video::after {
  padding-top: 56.25%;
}
.placeholder.avatar::before {
  content: "\263B";
}
.placeholder.avatar::after {
  padding-top: 100%;
}
.placeholder.no-icon::before {
  content: "";
}
.hide {
  display: none;
}
.hide.tablet {
  display: initial;
}
.hide.desktop {
  display: initial;
}
@media screen and (max-width: calc(49.24rem - 1px)) {
  .hide.mobile {
    display: none;
  }
}
@media screen and (min-width: 49.24rem) {
  .hide.mobile {
    display: initial;
  }
  .hide.tablet {
    display: none;
  }
}
@media screen and (min-width: 74rem) {
  .hide.desktop {
    display: none;
  }
  .hide.mobile.tablet {
    display: initial;
  }
}
@media screen and (max-width: calc(74rem - 1px)) {
  .hide.mobile.tablet {
    display: none;
  }
}
body {
  font-size: 16px;
  line-height: 1.8;
  margin: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
nav {
  z-index: 99;
}
nav a {
  text-decoration: none;
}
aside {
  margin: 0 auto;
  margin-bottom: 1.62rem;
  max-width: 28rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-top: 0.49443758em;
  margin-bottom: 0.74165637em;
  letter-spacing: -0.025em;
  color: inherit;
  line-height: 1.618;
}
h1 {
  font-size: 2.4em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1em;
}
p {
  margin-bottom: 1em;
}
p.gutter-bottom {
  margin-bottom: 1.618em;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: inherit;
  text-decoration: underline;
}
a.target-blank::after,
a.new-tab::after,
a.external-link::after {
  content: "\00A0\1F855";
}
form {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input {
  font-size: 16px;
  line-height: 1.8;
  border: 1px solid #2ab3ae;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input:focus {
  box-shadow: 0 0 2px #67d1ed;
}
fieldset {
  border: none;
  outline: none;
}
ol {
  padding-left: 4ch;
  margin-bottom: 1.62rem;
}
ol li {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
ul {
  margin-left: 1.62rem;
  margin-bottom: 1.62rem;
}
li {
  margin-bottom: 0.44em;
}
kbd {
  color: #f0ffff;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  white-space: nowrap;
}
b {
  padding: 0.18em 0 0.22em 0;
}
pre {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  overflow: hidden;
  border-radius: 0.5em;
  background: #374242;
  color: #f0ffff;
}
pre.white-space,
pre.word-break {
  white-space: pre-wrap;
}
pre > code {
  background: transparent;
  padding: 0;
}
code {
  color: #f0ffff;
  background-color: #28446a;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
code.terminal::before {
  content: "$ ";
}
textarea {
  font-size: 16px;
  line-height: 1.8;
  border: 1px solid #2ab3ae;
  border-radius: 0.5em;
  margin-bottom: 1.62rem;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
textarea:focus {
  box-shadow: 0 0 2px #67d1ed;
}
.white,
body,
input,
textarea {
  background-color: #f0ffff;
  border-color: #788c8c;
}
.black {
  background-color: #022828;
  border-color: #011414;
}
.ambient {
  color: #022828;
  background: #0afcf8;
  border-color: #058a88;
}
.ambient.light {
  color: #022828;
  background: #32fcfa;
  border-color: #198a89;
}
.ambient.dark {
  color: #022828;
  background: #03dad7;
  border-color: #027978;
}
.red,
.failure {
  background-color: #d82a29;
  border-color: #771616;
}
.light.red,
.light.failure {
  background-color: #de4c4b;
  border-color: #7a2827;
}
.dark.red,
.dark.failure {
  background-color: #b72221;
  border-color: #661312;
}
.orange,
.warning {
  background-color: #d9b327;
  border-color: #786315;
}
.light.orange,
.light.warning {
  background-color: #dfbf4a;
  border-color: #7b6926;
}
.dark.orange,
.dark.warning {
  background-color: #b79720;
  border-color: #675412;
}
.yellow {
  background-color: #d9fe28;
  border-color: #778c14;
}
.light.yellow {
  background-color: #e0fe50;
  border-color: #7a8c28;
}
.dark.yellow {
  background-color: #d0fd01;
  border-color: #738b01;
}
.olive {
  background-color: #8cb229;
  border-color: #4e6416;
}
.light.olive {
  background-color: #a4d033;
  border-color: #5a731b;
}
.dark.olive {
  background-color: #729121;
  border-color: #415312;
}
.green,
.success {
  background-color: #02aa28;
  border-color: #016217;
}
.light.green,
.light.success {
  background-color: #02d332;
  border-color: #01761c;
}
.dark.green,
.dark.success {
  background-color: #01821f;
  border-color: #014d12;
}
.teal {
  background-color: #02b2b2;
  border-color: #016565;
}
.light.teal {
  background-color: #02dada;
  border-color: #017a79;
}
.dark.teal {
  background-color: #028a89;
  border-color: #015151;
}
.cyan {
  background-color: #01fefe;
  border-color: #018c8c;
}
.light.cyan {
  background-color: #2affff;
  border-color: #158c8c;
}
.dark.cyan {
  background-color: #00d6d6;
  border-color: #007878;
}
.skyblue,
.info {
  background-color: #67d1ed;
  border-color: #347282;
}
.light.skyblue,
.light.info {
  background-color: #8bdcf1;
  border-color: #477784;
}
.dark.skyblue,
.dark.info {
  background-color: #42c6e8;
  border-color: #226c80;
}
.blue {
  background-color: #0129fe;
  border-color: #01168c;
}
.light.blue {
  background-color: #2a4bfe;
  border-color: #15288c;
}
.dark.blue {
  background-color: #0122d6;
  border-color: #001378;
}
.indigo {
  background-color: #4e29ab;
  border-color: #2b1760;
}
.light.indigo {
  background-color: #5c31cc;
  border-color: #331b71;
}
.dark.indigo {
  background-color: #3f218b;
  border-color: #241350;
}
.purple {
  background-color: #9b2bc1;
  border-color: #56176b;
}
.light.purple {
  background-color: #af40d5;
  border-color: #602275;
}
.dark.purple {
  background-color: #80239f;
  border-color: #49135b;
}
.violet {
  background-color: #ca89ef;
  border-color: #6c4683;
}
.light.violet {
  background-color: #daadf4;
  border-color: #755885;
}
.dark.violet {
  background-color: #b965ea;
  border-color: #643481;
}
.gray {
  background-color: #719190;
  border-color: #3d5150;
}
.light.gray {
  background-color: #88a2a2;
  border-color: #485a59;
}
.dark.gray {
  background-color: #5e7a79;
  border-color: #334545;
}
.brown {
  background-color: #9b613d;
  border-color: #583621;
}
.light.brown {
  background-color: #b87449;
  border-color: #663f27;
}
.dark.brown {
  background-color: #7e4f31;
  border-color: #492d1b;
}
.magenta {
  background-color: #c43ffd;
  border-color: #6b208b;
}
.light.magenta {
  background-color: #d068fe;
  border-color: #71348b;
}
.dark.magenta {
  background-color: #b717fd;
  border-color: #640c8b;
}
.lavender {
  background-color: #bebeea;
  border-color: #62627f;
}
.light.lavender {
  background-color: #ddddf4;
  border-color: #717184;
}
.dark.lavender {
  background-color: #a09fe0;
  border-color: #52527a;
}
.cream {
  background-color: #e6f8cf;
  border-color: #7a8769;
}
.light.cream {
  background-color: #f9fdf3;
  border-color: #838a7b;
}
.dark.cream {
  background-color: #d4f3ac;
  border-color: #718557;
}
.charcoal {
  background-color: #4b594f;
  border-color: #2a352d;
}
.light.charcoal {
  background-color: #5e7063;
  border-color: #334037;
}
.dark.charcoal {
  background-color: #39433c;
  border-color: #212a23;
}
.crimson {
  background-color: #b11d31;
  border-color: #64101b;
}
.light.crimson {
  background-color: #d4233a;
  border-color: #751320;
}
.dark.crimson {
  background-color: #8e1827;
  border-color: #520d16;
}
.clover {
  background-color: #3ac73b;
  border-color: #1f6e20;
}
.light.clover {
  background-color: #5ad05b;
  border-color: #2f7230;
}
.dark.clover {
  background-color: #30a831;
  border-color: #1a5e1b;
}
.cobalt {
  background-color: #2486de;
  border-color: #14497a;
}
.light.cobalt {
  background-color: #4899e4;
  border-color: #25537d;
}
.dark.cobalt {
  background-color: #1c71bd;
  border-color: #103f6a;
}
.graphite {
  background-color: #28446a;
  border-color: #17283f;
}
.light.graphite {
  background-color: #335787;
  border-color: #1c314e;
}
.dark.graphite {
  background-color: #1d314c;
  border-color: #111e30;
}
.ruby {
  background-color: #9a145c;
  border-color: #580b34;
}
.light.ruby {
  background-color: #be1971;
  border-color: #6a0e3f;
}
.dark.ruby {
  background-color: #760f46;
  border-color: #46092a;
}
.onyx {
  background-color: #374242;
  border-color: #202929;
}
.light.onyx {
  background-color: #4a5958;
  border-color: #293434;
}
.dark.onyx {
  background-color: #252c2c;
  border-color: #171e1e;
}
.pewter {
  background-color: #a3b595;
  border-color: #57634f;
}
.light.pewter {
  background-color: #b8c6ad;
  border-color: #626b5b;
}
.dark.pewter {
  background-color: #8ea47d;
  border-color: #4d5b43;
}
.gunmetal {
  background-color: #3b798c;
  border-color: #21454f;
}
.light.gunmetal {
  background-color: #4792a8;
  border-color: #27515e;
}
.dark.gunmetal {
  background-color: #2f606f;
  border-color: #1a3841;
}
.hotpink {
  background-color: #ec60af;
  border-color: #82315e;
}
.light.hotpink {
  background-color: #f085c1;
  border-color: #844468;
}
.dark.hotpink {
  background-color: #e83c9d;
  border-color: #7f1f55;
}
.neongreen {
  background-color: #33fe23;
  border-color: #1a8b11;
}
.light.neongreen {
  background-color: #58fe4b;
  border-color: #2d8c26;
}
.dark.neongreen {
  background-color: #13f701;
  border-color: #0b8801;
}
.electricblue {
  background-color: #2ecbf5;
  border-color: #186f86;
}
.light.electricblue {
  background-color: #55d5f6;
  border-color: #2b7487;
}
.dark.electricblue {
  background-color: #0cbfee;
  border-color: #076983;
}
.royalpurple {
  background-color: #6643ae;
  border-color: #382461;
}
.light.royalpurple {
  background-color: #7c5bbf;
  border-color: #43306a;
}
.dark.royalpurple {
  background-color: #553890;
  border-color: #301f52;
}
.lemon {
  background-color: #edfd97;
  border-color: #818b4c;
}
.light.lemon {
  background-color: #f4febf;
  border-color: #848b60;
}
.dark.lemon {
  background-color: #e6fc6f;
  border-color: #7d8a38;
}
.lime {
  background-color: #7df499;
  border-color: #3f8650;
}
.light.lime {
  background-color: #a2f7b6;
  border-color: #52875f;
}
.dark.lime {
  background-color: #57f17b;
  border-color: #2c8441;
}
.tangerine {
  background-color: #ecb15c;
  border-color: #82602f;
}
.light.tangerine {
  background-color: #f1c380;
  border-color: #846941;
}
.dark.tangerine {
  background-color: #e8a037;
  border-color: #80571d;
}
.grapefruit {
  background-color: #bd5066;
  border-color: #682b37;
}
.light.grapefruit {
  background-color: #c86e80;
  border-color: #6e3a44;
}
.dark.grapefruit {
  background-color: #a63f54;
  border-color: #5d222e;
}
.action,
.base-color {
  color: #022828;
  background: #13dace;
  border-color: #0a7972;
}
.action.light,
.base-color.light {
  color: #022828;
  background: #29ece1;
  border-color: #16827b;
}
.action.dark,
.base-color.dark {
  color: #022828;
  background: #10b4ab;
  border-color: #096660;
}
.reaction {
  background-color: #c83b45;
  border-color: #6f2025;
}
.light.reaction {
  background-color: #d15b64;
  border-color: #733035;
}
.dark.reaction {
  background-color: #ab3039;
  border-color: #601a1f;
}
.default {
  background-color: #2ab3ae;
  border-color: #176461;
}
.light.default {
  background-color: #36d0ca;
  border-color: #1d736f;
}
.dark.default {
  background-color: #22928d;
  border-color: #135451;
}
.warm {
  background-color: #8b99f3;
  border-color: #474f85;
}
.light.warm {
  background-color: #b0baf7;
  border-color: #595f87;
}
.dark.warm {
  background-color: #6678ef;
  border-color: #343f83;
}
.cool {
  background-color: #44def3;
  border-color: #237985;
}
.light.cool {
  background-color: #6be5f5;
  border-color: #367d87;
}
.dark.cool {
  background-color: #1ed7f0;
  border-color: #107684;
}
.neutral {
  background-color: #7f7bdf;
  border-color: #423f7a;
}
.light.neutral {
  background-color: #9f9ce7;
  border-color: #52507e;
}
.dark.neutral {
  background-color: #605ad8;
  border-color: #322f76;
}
.complement,
.second.triad {
  background-color: #c43b44;
  border-color: #6c2025;
}
.light.complement,
.light.second.triad {
  background-color: #cd5a62;
  border-color: #712f34;
}
.dark.complement,
.dark.second.triad {
  background-color: #a43139;
  border-color: #5d1b20;
}
.accent {
  background-color: #46b9f5;
  border-color: #236587;
}
.light.accent {
  background-color: #6cc8f7;
  border-color: #376c88;
}
.dark.accent {
  background-color: #1fabf3;
  border-color: #105d85;
}
.second.accent {
  background-color: #46f5a8;
  border-color: #23875b;
}
.light.second.accent {
  background-color: #6cf7ba;
  border-color: #378864;
}
.dark.second.accent {
  background-color: #1ff396;
  border-color: #108652;
}
.split {
  background-color: #5f3ae7;
  border-color: #331e7f;
}
.light.split {
  background-color: #7c5eeb;
  border-color: #423081;
}
.dark.split {
  background-color: #451bdc;
  border-color: #260f7a;
}
.second.split {
  background-color: #74e739;
  border-color: #3f7f1d;
}
.light.second.split {
  background-color: #8eeb5d;
  border-color: #4b8130;
}
.dark.second.split {
  background-color: #5ddc1b;
  border-color: #33790f;
}
.triad {
  background-color: #1244e7;
  border-color: #0a257f;
}
.light.triad {
  background-color: #335fef;
  border-color: #1a3383;
}
.dark.triad {
  background-color: #0f39c1;
  border-color: #08206c;
}
.third.triad {
  background-color: #1de739;
  border-color: #0f7f1f;
}
.light.third.triad {
  background-color: #41eb59;
  border-color: #22812f;
}
.dark.third.triad {
  background-color: #15c62e;
  border-color: #0c6e19;
}
.tetrad {
  background-color: #126fe7;
  border-color: #0a3d7f;
}
.light.tetrad {
  background-color: #3385ef;
  border-color: #1a4883;
}
.dark.tetrad {
  background-color: #0f5dc1;
  border-color: #08346c;
}
.second.tetrad {
  background-color: #c13ac6;
  border-color: #6b1f6d;
}
.light.second.tetrad {
  background-color: #cb59cf;
  border-color: #702f72;
}
.dark.second.tetrad {
  background-color: #a230a6;
  border-color: #5b1a5d;
}
.third.tetrad {
  background-color: #c1b139;
  border-color: #6b621f;
}
.light.third.tetrad {
  background-color: #cdbf55;
  border-color: #71692d;
}
.dark.third.tetrad {
  background-color: #a1942f;
  border-color: #5b531a;
}
.fourth.tetrad {
  background-color: #12e75a;
  border-color: #0a7f31;
}
.light.fourth.tetrad {
  background-color: #33ef72;
  border-color: #1a833e;
}
.dark.fourth.tetrad {
  background-color: #0fc14b;
  border-color: #086c2a;
}
.highlight {
  background-color: #07f3f3;
  border-color: #048686;
}
.light.highlight {
  background-color: #2af9f9;
  border-color: #168989;
}
.dark.highlight {
  background-color: #06cccc;
  border-color: #037272;
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-margin-right {
  margin-right: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.no-margin-left {
  margin-left: 0 !important;
}
.no-padding {
  padding: 0;
}
.no-margin,
.no-gutter {
  margin: 0;
}
.no-side-margin,
.no-side-margins {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.no-margins {
  margin: 0 !important;
}
.no-margins * {
  margin: 0 !important;
}
.no-box-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  box-shadow: unset;
}
.no-text-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  text-shadow: unset;
}
.no-border,
.no-borders,
.no-borders * {
  border-width: 0 !important;
}
.no-background {
  background: transparent;
}
.no-text-indent {
  text-indent: 0;
}
.no-text-align {
  text-align: initial;
}
.no-user-select {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.no-pointer-events {
  pointer-events: none;
}
.no-list-style {
  list-style-type: none;
  margin-left: 0;
}
.no-grid-gap,
.no-column-gap {
  grid-gap: 0;
  column-gap: 0;
}
@media print {
  html {
    font-size: 62.5%;
  }
  * {
    box-shadow: unset !important;
    border: unset !important;
  }
  nav {
    display: none !important;
  }
  .page-width,
  .text-width,
  .container {
    all: unset;
  }
  .inner-page-width,
  .inner-text-width,
  .inner-aside-width {
    all: unset;
  }
}
