/* This project uses Cavepaint! (MIT License) */
/* https://github.com/cavepaint/cavepaintCSS */
* {
  margin: 0 0 1.62rem 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}
.button,
button {
  border-style: solid;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(0, 13, 21, 0.16);
  display: inline;
  position: relative;
  font-family: inherit;
  font-size: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  color: inherit;
  background-color: inherit;
  border-color: #0d0803;
  border-width: 1px;
  line-height: 1.6;
  text-align: center;
  vertical-align: middle;
  outline: none;
  white-space: nowrap;
  text-decoration: none;
  touch-action: manipulation;
  cursor: pointer;
  transform: scale(1);
  transition: 0.08s linear;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.button:active,
button:active {
  transform: scale(0.99);
  box-shadow: unset;
}
.bar {
  position: relative;
  width: 100%;
  display: block;
  vertical-align: middle;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.bar > * {
  display: inline;
  margin-right: 0.3236em;
  margin-left: 0.3236em;
  margin-bottom: 0;
}
.card {
  position: relative;
  overflow: hidden;
  padding: 1.62rem;
  border: 1px solid #513010;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(0, 13, 21, 0.16);
}
.card > *:first-child {
  margin-top: 0;
}
.card > *:last-child {
  margin-bottom: 0;
}
.badge {
  border-radius: 0.5em;
  line-height: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  padding-right: 0.6472em;
  padding-left: 0.6472em;
  vertical-align: middle;
  border-radius: 99px;
  white-space: nowrap;
}
.modal {
  display: none;
  max-width: none;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  position: fixed;
  bottom: 0;
  justify-content: center;
  flex: 0 1 auto;
  flex-direction: column;
  height: 100vh;
}
.modal > * {
  flex-direction: column;
  color: #150800;
  position: relative;
  background: #f7f3f0;
  padding: 1.62rem;
  margin-bottom: 3.24rem;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(0, 13, 21, 0.16);
  margin: 1.62rem;
}
@media screen and (min-width: 36.24rem) {
  .modal > * {
    max-width: 53rem;
    margin: 0 auto;
  }
}
.overlay {
  margin: 0;
  padding: 0;
  position: relative;
}
.overlay .top,
.overlay .bottom,
.overlay .left,
.overlay .right {
  position: absolute;
}
.overlay .top {
  top: 0.3236em;
}
.overlay .bottom {
  bottom: 0.3236em;
}
.overlay .left {
  left: 0.3236em;
}
.overlay .right {
  right: 0.3236em;
}
.overlay.stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.overlay * {
  margin: 0;
  display: block;
}
.grid,
.two-column,
.three-column {
  display: grid;
  grid-gap: 1.62rem;
}
.grid.tablet,
.two-column.tablet,
.three-column.tablet,
.grid.mobile.tablet,
.two-column.mobile.tablet,
.three-column.mobile.tablet,
.grid.desktop,
.two-column.desktop,
.three-column.desktop {
  display: initial;
}
.grid {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.two-column {
  grid-template-columns: 1fr 1fr;
}
.two-column.golden {
  grid-template-columns: 1.618fr 1fr;
}
.two-column.golden.reverse {
  grid-template-columns: 1fr 1.618fr;
}
.three-column {
  grid-template-columns: 1fr 1fr 1fr;
}
.three-column.golden {
  grid-template-columns: 1fr 1.618fr 1fr;
}
.three-column.golden.leading {
  grid-template-columns: 1.618fr 1fr 1fr;
}
.three-column.golden.trailing {
  grid-template-columns: 1fr 1fr 1.618fr;
}
.grid .grid-width-one {
  grid-column: auto / span 1;
}
.grid .grid-width-two {
  grid-column: auto / span 2;
}
.grid .grid-width-three {
  grid-column: auto / span 3;
}
.grid .grid-width-four {
  grid-column: auto / span 4;
}
.grid .grid-width-five {
  grid-column: auto / span 5;
}
.grid .grid-width-six {
  grid-column: auto / span 6;
}
.grid .grid-width-seven {
  grid-column: auto / span 7;
}
.grid .grid-width-eight {
  grid-column: auto / span 8;
}
.grid .grid-width-nine {
  grid-column: auto / span 9;
}
.grid .grid-width-ten {
  grid-column: auto / span 10;
}
.grid .grid-width-eleven {
  grid-column: auto / span 11;
}
.grid .grid-width-twelve {
  grid-column: auto / span 12;
}
@media screen and (max-width: calc(36.24rem - 1px)) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: grid;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 36.24rem) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: initial;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: initial;
  }
  .grid.tablet,
  .two-column.tablet,
  .three-column.tablet {
    display: grid;
  }
  .grid.tablet > *,
  .two-column.tablet > *,
  .three-column.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (max-width: calc(53rem - 1px)) {
  .grid.mobile.tablet,
  .two-column.mobile.tablet,
  .three-column.mobile.tablet {
    display: grid;
  }
  .grid.mobile.tablet > *,
  .two-column.mobile.tablet > *,
  .three-column.mobile.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 53rem) {
  .grid.desktop,
  .two-column.desktop,
  .three-column.desktop {
    display: grid;
  }
  .grid.desktop > *,
  .two-column.desktop > *,
  .three-column.desktop > * {
    margin-bottom: 0;
  }
}
.responsive {
  column-gap: 0.619rem;
  grid-gap: 0.619rem;
}
.responsive.padding,
.modal,
.container {
  padding: 0.619rem;
}
.responsive.margin,
.container {
  margin: 0.619rem;
}
.responsive.gutter {
  margin: 1.238rem;
}
@media screen and (min-width: 36.24rem) {
  .responsive {
    column-gap: 1.001rem;
    grid-gap: 1.001rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.001rem;
  }
  .responsive.margin,
  .container {
    margin: 1.001rem;
  }
  .responsive.gutter {
    margin: 2.002rem;
  }
}
@media screen and (min-width: 53rem) {
  .responsive {
    column-gap: 1.62rem;
    grid-gap: 1.62rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.62rem;
  }
  .responsive.margin,
  .container {
    margin: 1.62rem;
  }
  .responsive.gutter {
    margin: 3.24rem;
  }
}
.background {
  background: #f7f3f0;
}
.background-color {
  background-color: #f7f3f0;
}
.border {
  border: 1px solid #513010;
}
.border-radius,
.rounded {
  border-radius: 0.5em;
}
.border-bottom {
  border-bottom: 1px solid #513010;
}
.border-left {
  border-left: 1px solid #513010;
}
.border-right {
  border-right: 1px solid #513010;
}
.border-style,
.button.border,
button.border {
  border-style: solid;
}
.border-top {
  border-top: 1px solid #513010;
}
.border-width,
.button.border,
button.border {
  border-width: 1px;
}
.max-width {
  max-width: 53rem;
}
.min-width {
  min-width: 20rem;
}
.align-content {
  align-content: stretch;
}
.align-items {
  align-items: stretch;
}
.align-self {
  align-self: auto;
}
.flex,
.vertical-center,
.center-vertical {
  flex: 0 1 auto;
}
.flex-basis {
  flex-basis: auto;
}
.flex-direction,
.vertical-center,
.center-vertical {
  flex-direction: column;
}
.flex-flow {
  flex-flow: column nowrap;
}
.flex-grow {
  flex-grow: 0;
}
.flex-shrink {
  flex-shrink: 1;
}
.flex-wrap {
  flex-wrap: nowrap;
}
.justify-content,
.vertical-center,
.center-vertical {
  justify-content: center;
}
.font-family {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.font-size {
  font-size: 17px;
}
.font-weight {
  font-weight: normal;
}
.list-style {
  list-style: disc inside none;
}
.list-style-type {
  list-style-type: disc;
}
.margin {
  margin: 1.62rem;
}
.margin-bottom {
  margin-bottom: 1.62rem;
}
.margin-left {
  margin-left: 1.62rem;
}
.margin-right {
  margin-right: 1.62rem;
}
.margin-top {
  margin-top: 1.62rem;
}
.column-gap {
  column-gap: 1.94em;
}
.column-rule {
  column-rule: 1px solid #513010;
}
.padding {
  padding: 1.62rem;
}
.padding-bottom {
  padding-bottom: 1.62rem;
}
.padding-left {
  padding-left: 1.62rem;
}
.padding-right {
  padding-right: 1.62rem;
}
.padding-top {
  padding-top: 1.62rem;
}
.text-align {
  text-align: left;
}
.text-align-last {
  text-align-last: left;
}
.text-indent {
  text-indent: 2ch;
}
.text-justify {
  text-justify: justify;
}
.text-overflow {
  text-overflow: hidden;
}
.text-shadow {
  text-shadow: 1.41px 1.41px 1.41px rgba(0, 13, 21, 0.16);
}
.line-height {
  line-height: 1.8;
}
.vertical-align {
  vertical-align: middle;
}
.letter-spacing {
  letter-spacing: 0;
}
.word-spacing {
  word-spacing: normal;
}
.white-space {
  white-space: nowrap;
}
.word-break {
  word-break: break-all;
}
.word-wrap {
  word-wrap: break-word;
}
.transform {
  transform: none;
}
.transition {
  transition: all 0s ease 0s;
}
.display {
  display: block;
}
.position {
  position: absolute;
}
.top {
  top: 0;
}
.right {
  right: 0;
}
.bottom {
  bottom: 0;
}
.left {
  left: 0;
}
.float {
  float: left;
}
.clear {
  clear: both;
}
.z-index {
  z-index: 10;
}
.overflow {
  overflow: hidden;
}
.overflow-x {
  overflow-x: hidden;
}
.cursor {
  cursor: pointer;
}
.box-shadow {
  box-shadow: 1.41px 1.41px 1.41px rgba(0, 13, 21, 0.16);
}
.gutter {
  margin: 3.24rem;
}
.gutter-top {
  margin-top: 3.24rem;
}
.gutter-right {
  margin-right: 3.24rem;
}
.gutter-bottom {
  margin-bottom: 3.24rem;
}
.gutter-left {
  margin-left: 3.24rem;
}
.text-padding {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-padding-top {
  padding-top: 0.18em;
}
.text-padding-right {
  padding-right: 0.3236em;
}
.text-padding-bottom {
  padding-bottom: 0.22em;
}
.text-padding-left {
  padding-left: 0.3236em;
}
.text-margin {
  margin: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-margin-top {
  margin-top: 0.18em;
}
.text-margin-right {
  margin-right: 0.3236em;
}
.text-margin-bottom {
  margin-bottom: 0.22em;
}
.text-margin-left {
  margin-left: 0.3236em;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.initial {
  display: initial;
}
.table {
  display: table;
}
.flex,
.vertical-center,
.center-vertical {
  display: flex;
}
.inline-block {
  display: inline-block;
}
.static {
  position: static;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.margin-auto,
.container {
  margin-left: auto;
  margin-right: auto;
}
.width-auto {
  width: auto;
}
.inset {
  box-shadow: inset 1.41px 1.41px 1.41px rgba(0, 13, 21, 0.16);
}
.viewport-height {
  height: 100vh;
}
.min-viewport-height {
  min-height: 100vh;
}
.overflow-hidden {
  overflow: hidden;
}
.dashed {
  border-style: dashed;
}
.dotted {
  border-style: dotted;
}
.thick {
  border-width: 2px;
}
.thin {
  border-width: 0.5px;
}
.current-color {
  border-color: currentColor;
}
.fade {
  opacity: 0.65;
}
.serif,
.font-family-serif {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "Droid Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
.monospace,
.font-family-monospace {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
}
.sans-serif,
.font-family-sans-serif {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.text-transparent {
  color: transparent;
}
.reset {
  all: initial;
}
.big {
  font-size: 125%;
  line-height: 2.25;
}
.big.font-size {
  font-size: 21.25px;
}
.small,
.badge {
  font-size: 87.5%;
  line-height: 1.575;
}
.small.font-size {
  font-size: 14.875px;
}
.huge {
  font-size: 160%;
}
.huge.font-size {
  font-size: 27.2px;
}
.text-trim {
  line-height: 1;
}
.text-align-center,
.text-center {
  text-align: center;
}
.text-align-left,
.text-left {
  text-align: left;
}
.text-align-right,
.text-right {
  text-align: right;
}
.text-align-justify,
.text-justify {
  text-align: justify;
}
.grid-gap-margin {
  grid-gap: 1.62rem;
}
.grid-gap-border-width {
  grid-gap: 1px;
}
.grid-gap-text-padding,
.grid-gap-text-margin {
  grid-gap: 0.3236em;
}
.shade,
.white,
.orange,
.yellow,
.cyan,
.skyblue,
.violet,
.lavender,
.cream,
.light.clover,
.light.pewter,
.light.hotpink,
.neongreen,
.light.electricblue,
.lemon,
.lime,
.tangerine,
body,
input,
textarea,
.info,
.warning {
  color: #150800;
}
.tint,
.black,
.red,
.dark.orange,
.olive,
.green,
.teal,
.dark.cyan,
.dark.skyblue,
.blue,
.indigo,
.purple,
.dark.violet,
.gray,
.brown,
.magenta,
.charcoal,
.crimson,
.clover,
.cobalt,
.graphite,
.ruby,
.onyx,
.pewter,
.gunmetal,
.hotpink,
.electricblue,
.royalpurple,
.grapefruit,
.reaction,
.default,
.dark.info,
.dark.warning,
.success,
.failure {
  color: #f7f3f0;
}
.transparent {
  background-color: transparent;
  color: inherit;
  border-color: inherit;
}
.transparent.light {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23FFF%22%20fill-opacity%3D%220.16%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.transparent.dark,
.modal {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23000%22%20fill-opacity%3D%220.25%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.trim,
.trim-inner *,
.trim-all,
.trim-all * {
  margin-bottom: 0;
}
.hidden {
  display: none !important;
}
.clearfix,
.clear {
  clear: both;
}
.clearfix::after,
.clear::after {
  display: block;
  clear: both;
  content: "";
}
.golden-width {
  max-width: calc(62% - 3.24rem);
}
.golden-width.reverse {
  max-width: 38%;
}
.aside-width {
  max-width: 20rem;
}
@media screen and (min-width: 36.24rem) {
  .text-width {
    max-width: 33rem;
  }
}
.page-width,
.container {
  max-width: 53rem;
}
.full-width,
.aside-width .aside-width,
.text-width .text-width,
.page-width .page-width {
  display: block;
  width: 100%;
}
.inner-aside-width {
  padding-left: calc(50% - 10rem);
  padding-right: calc(50% - 10rem);
}
.inner-aside-width.padding {
  padding-left: calc(50% - 8.38rem);
  padding-right: calc(50% - 8.38rem);
}
.inner-aside-width.responsive.padding {
  padding-left: calc(50% - 9.38rem);
  padding-right: calc(50% - 9.38rem);
}
.inner-text-width {
  padding-left: calc(50% - 16.5rem);
  padding-right: calc(50% - 16.5rem);
}
.inner-text-width.padding {
  padding-left: calc(50% - 14.88rem);
  padding-right: calc(50% - 14.88rem);
}
.inner-text-width.responsive.padding {
  padding-left: calc(50% - 15.88rem);
  padding-right: calc(50% - 15.88rem);
}
.inner-page-width {
  padding-left: calc(50% - 26.5rem);
  padding-right: calc(50% - 26.5rem);
}
.inner-page-width.padding {
  padding-left: calc(50% - 24.88rem);
  padding-right: calc(50% - 24.88rem);
}
.inner-page-width.responsive.padding {
  padding-left: calc(50% - 25.88rem);
  padding-right: calc(50% - 25.88rem);
}
@media screen and (max-width: calc(36.24rem - 1px)) {
  .inner-text-width {
    padding-left: initial;
    padding-right: initial;
  }
  .inner-text-width.padding {
    padding-left: 1.62rem;
    padding-right: 1.62rem;
  }
  .inner-text-width.responsive.padding {
    padding-left: 0.619rem;
    padding-right: 0.619rem;
  }
}
@media screen and (min-width: 36.24rem) {
  .inner-aside-width.tablet.padding {
    padding-left: calc(50% - 8.38rem);
    padding-right: calc(50% - 8.38rem);
  }
  .inner-aside-width.tablet.responsive.padding {
    padding-left: calc(50% - 9rem);
    padding-right: calc(50% - 9rem);
  }
  .inner-text-width.tablet.padding {
    padding-left: calc(50% - 14.88rem);
    padding-right: calc(50% - 14.88rem);
  }
  .inner-text-width.tablet.responsive.padding {
    padding-left: calc(50% - 15.5rem);
    padding-right: calc(50% - 15.5rem);
  }
  .inner-page-width.tablet.padding {
    padding-left: calc(50% - 24.88rem);
    padding-right: calc(50% - 24.88rem);
  }
  .inner-page-width.tablet.responsive.padding {
    padding-left: calc(50% - 25.5rem);
    padding-right: calc(50% - 25.5rem);
  }
}
@media screen and (min-width: 53rem) {
  .inner-aside-width.desktop.padding {
    padding-left: calc(50% - 8.38rem);
    padding-right: calc(50% - 8.38rem);
  }
  .inner-aside-width.desktop.responsive.padding {
    padding-left: calc(50% - 8.38rem);
    padding-right: calc(50% - 8.38rem);
  }
  .inner-text-width.desktop.padding {
    padding-left: calc(50% - 14.88rem);
    padding-right: calc(50% - 14.88rem);
  }
  .inner-text-width.desktop.responsive.padding {
    padding-left: calc(50% - 14.88rem);
    padding-right: calc(50% - 14.88rem);
  }
  .inner-page-width.desktop.padding {
    padding-left: calc(50% - 24.88rem);
    padding-right: calc(50% - 24.88rem);
  }
  .inner-page-width.desktop.responsive.padding {
    padding-left: calc(50% - 24.88rem);
    padding-right: calc(50% - 24.88rem);
  }
}
@media screen and (max-width: calc(53rem - 1px)) {
  .inner-page-width {
    padding-left: initial;
    padding-right: initial;
  }
  .inner-page-width.padding {
    padding-left: 1.62rem;
    padding-right: 1.62rem;
  }
  .inner-page-width.responsive.padding {
    padding-left: 0.619rem;
    padding-right: 0.619rem;
  }
}
.texture,
.pattern {
  background-position: top center;
}
.texture {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20xmlns%3Axlink%3D'http%3A//www.w3.org/1999/xlink'%20viewBox%3D'0%200%202.646%204.233'%20height%3D'16'%20width%3D'10'%3E%3Crect%20ry%3D'.269'%20rx%3D'.279'%20y%3D'-.529'%20x%3D'-.265'%20height%3D'1.058'%20width%3D'.529'%20id%3D'a'%20opacity%3D'1'%20fill%3D'%23000'%20stroke-width%3D'0'%20stroke-linecap%3D'round'%20fill-opacity%3D'0.16'/%3E%3Cuse%20height%3D'100%25'%20width%3D'100%25'%20transform%3D'translate%280%204.233%29'%20xlink%3Ahref%3D'%23a'/%3E%3Cuse%20height%3D'100%25'%20width%3D'100%25'%20transform%3D'translate%281.323%202.117%29'%20xlink%3Ahref%3D'%23a'/%3E%3Cuse%20height%3D'100%25'%20width%3D'100%25'%20transform%3D'translate%282.646%29'%20xlink%3Ahref%3D'%23a'/%3E%3Cuse%20height%3D'100%25'%20width%3D'100%25'%20transform%3D'translate%282.646%204.233%29'%20xlink%3Ahref%3D'%23a'/%3E%3C/svg%3E");
}
.pattern {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20viewBox%3D'0%200%203.175%203.175'%20height%3D'12'%20width%3D'12'%3E%3Cpath%20opacity%3D'0.16'%20fill%3D'%23f7f3f0'%20d%3D'M0%200h1.587v1.587H0z'/%3E%3C/svg%3E");
}
.placeholder::before {
  content: " ";
  white-space: pre;
}
.placeholder::after {
  content: "";
}
.placeholder.image,
.placeholder.video,
.placeholder.avatar {
  position: relative;
}
.placeholder.image::before,
.placeholder.video::before,
.placeholder.avatar::before {
  position: absolute;
  top: calc(50% - 4rem);
  right: 0;
  bottom: 0;
  left: 0;
  display: inline-block;
  text-align: center;
  font-size: 4rem;
  vertical-align: middle;
}
.placeholder.image.small::before,
.placeholder.video.small::before,
.placeholder.avatar.small::before {
  top: calc(50% - 2rem);
  font-size: 2rem;
}
.placeholder.image.big::before,
.placeholder.video.big::before,
.placeholder.avatar.big::before {
  top: calc(50% - 6rem);
  font-size: 6rem;
}
.placeholder.image.huge::before,
.placeholder.video.huge::before,
.placeholder.avatar.huge::before {
  top: calc(50% - 8rem);
  font-size: 8rem;
}
.placeholder.image::after,
.placeholder.video::after,
.placeholder.avatar::after {
  display: block;
}
.placeholder.image::before {
  content: "\1f5bc";
}
.placeholder.image::after {
  padding-top: 75%;
}
.placeholder.video::before {
  content: "\25B6";
}
.placeholder.video::after {
  padding-top: 56.25%;
}
.placeholder.avatar::before {
  content: "\263A";
}
.placeholder.avatar::after {
  padding-top: 100%;
}
.placeholder.no-icon::before {
  content: "";
}
.hide {
  display: none;
}
.hide.tablet {
  display: initial;
}
.hide.desktop {
  display: initial;
}
@media screen and (max-width: calc(36.24rem - 1px)) {
  .hide.mobile {
    display: none;
  }
}
@media screen and (min-width: 36.24rem) {
  .hide.mobile {
    display: initial;
  }
  .hide.tablet {
    display: none;
  }
}
@media screen and (min-width: 53rem) {
  .hide.desktop {
    display: none;
  }
  .hide.mobile.tablet {
    display: initial;
  }
}
@media screen and (max-width: calc(53rem - 1px)) {
  .hide.mobile.tablet {
    display: none;
  }
}
body {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
  font-size: 17px;
  line-height: 1.8;
  margin: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
nav {
  z-index: 99;
}
nav a {
  text-decoration: none;
}
aside {
  margin: 0 auto;
  margin-bottom: 1.62rem;
  max-width: 20rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
  font-weight: bold;
  margin-top: 0.49443758em;
  margin-bottom: 0.74165637em;
  letter-spacing: -0.025em;
  color: inherit;
  line-height: 1.618;
}
h1 {
  font-size: 2.4em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1em;
}
p {
  margin-bottom: 1em;
}
p.gutter-bottom {
  margin-bottom: 1.618em;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: inherit;
  text-decoration: underline;
}
a.target-blank::after,
a.new-tab::after,
a.external-link::after {
  content: "\00A0\1F855";
}
form {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
  font-size: 17px;
  line-height: 1.8;
  border: 1px solid #513010;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input:focus {
  box-shadow: 0 0 2px #76a5b1;
}
fieldset {
  border: none;
  outline: none;
}
ol {
  padding-left: 4ch;
  margin-bottom: 1.62rem;
}
ol li {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
ul {
  margin-left: 1.62rem;
  margin-bottom: 1.62rem;
}
li {
  margin-bottom: 0.44em;
}
kbd {
  color: #f7f3f0;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  white-space: nowrap;
}
b {
  padding: 0.18em 0 0.22em 0;
}
pre {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
  overflow: hidden;
  border-radius: 0.5em;
  background: #322f2e;
  color: #f7f3f0;
}
pre.white-space,
pre.word-break {
  white-space: pre-wrap;
}
pre > code {
  background: transparent;
  padding: 0;
}
code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
  color: #f7f3f0;
  background-color: #232844;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
code.terminal::before {
  content: "$ ";
}
textarea {
  font-size: 17px;
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
  line-height: 1.8;
  border: 1px solid #513010;
  border-radius: 0.5em;
  margin-bottom: 1.62rem;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
textarea:focus {
  box-shadow: 0 0 2px #76a5b1;
}
.white,
body,
input,
textarea {
  background-color: #f7f3f0;
  border-color: #807c79;
}
.black {
  background-color: #150800;
  border-color: #0a0400;
}
.ambient {
  color: #f7f3f0;
  background: #823000;
  border-color: #471a00;
}
.ambient.light {
  color: #f7f3f0;
  background: #ab3f00;
  border-color: #5b2100;
}
.ambient.dark {
  color: #f7f3f0;
  background: #592100;
  border-color: #321200;
}
.red,
.failure {
  background-color: #ca0000;
  border-color: #6b0000;
}
.light.red,
.light.failure {
  background-color: #f30000;
  border-color: #7f0000;
}
.dark.red,
.dark.failure {
  background-color: #a10000;
  border-color: #560000;
}
.orange,
.warning {
  background-color: #f28d00;
  border-color: #7e4a00;
}
.light.orange,
.light.warning {
  background-color: #ffa01c;
  border-color: #85530e;
}
.dark.orange,
.dark.warning {
  background-color: #c97500;
  border-color: #6a3e00;
}
.yellow {
  background-color: #e4cd00;
  border-color: #786c00;
}
.light.yellow {
  background-color: #ffe70e;
  border-color: #857807;
}
.dark.yellow {
  background-color: #bca900;
  border-color: #635900;
}
.olive {
  background-color: #6d6200;
  border-color: #3c3600;
}
.light.olive {
  background-color: #968600;
  border-color: #514800;
}
.dark.olive {
  background-color: #453d00;
  border-color: #282400;
}
.green,
.success {
  background-color: #016600;
  border-color: #003900;
}
.light.green,
.light.success {
  background-color: #018f00;
  border-color: #014d00;
}
.dark.green,
.dark.success {
  background-color: #013d00;
  border-color: #002400;
}
.teal {
  background-color: #01625b;
  border-color: #013733;
}
.light.teal {
  background-color: #018a81;
  border-color: #014b46;
}
.dark.teal {
  background-color: #013936;
  border-color: #002220;
}
.cyan {
  background-color: #01c1ad;
  border-color: #01665b;
}
.light.cyan {
  background-color: #02ead1;
  border-color: #017b6d;
}
.dark.cyan {
  background-color: #019989;
  border-color: #015249;
}
.skyblue,
.info {
  background-color: #76a5b1;
  border-color: #3d565c;
}
.light.skyblue,
.light.info {
  background-color: #90b6c0;
  border-color: #4a5f64;
}
.dark.skyblue,
.dark.info {
  background-color: #5c94a2;
  border-color: #304d55;
}
.blue {
  background-color: #0100c0;
  border-color: #000066;
}
.light.blue {
  background-color: #0100e9;
  border-color: #01007a;
}
.dark.blue {
  background-color: #010097;
  border-color: #000051;
}
.indigo {
  background-color: #430061;
  border-color: #250036;
}
.light.indigo {
  background-color: #5f008a;
  border-color: #34004a;
}
.dark.indigo {
  background-color: #270038;
  border-color: #170022;
}
.purple {
  background-color: #640053;
  border-color: #37002e;
}
.light.purple {
  background-color: #8c0075;
  border-color: #4c003f;
}
.dark.purple {
  background-color: #3b0031;
  border-color: #23001d;
}
.violet {
  background-color: #d566b3;
  border-color: #6f345d;
}
.light.violet {
  background-color: #de86c3;
  border-color: #744465;
}
.dark.violet {
  background-color: #cc46a3;
  border-color: #6b2455;
}
.gray {
  background-color: #746660;
  border-color: #3e3632;
}
.light.gray {
  background-color: #8a7a72;
  border-color: #49403b;
}
.dark.gray {
  background-color: #5e534d;
  border-color: #332c28;
}
.brown {
  background-color: #914625;
  border-color: #4d2513;
}
.light.brown {
  background-color: #b1562e;
  border-color: #5d2d18;
}
.dark.brown {
  background-color: #71371d;
  border-color: #3d1d0f;
}
.magenta {
  background-color: #af0084;
  border-color: #5d0046;
}
.light.magenta {
  background-color: #d800a3;
  border-color: #720056;
}
.dark.magenta {
  background-color: #870066;
  border-color: #490037;
}
.lavender {
  background-color: #c2acc4;
  border-color: #655866;
}
.light.lavender {
  background-color: #d3c4d5;
  border-color: #6d646e;
}
.dark.lavender {
  background-color: #b094b3;
  border-color: #5c4c5d;
}
.cream {
  background-color: #e1d6bb;
  border-color: #756e5f;
}
.light.cream {
  background-color: #ede7d7;
  border-color: #7b776d;
}
.dark.cream {
  background-color: #d4c59f;
  border-color: #6e6651;
}
.charcoal {
  background-color: #452a21;
  border-color: #271712;
}
.light.charcoal {
  background-color: #603b2e;
  border-color: #342018;
}
.dark.charcoal {
  background-color: #291914;
  border-color: #190f0b;
}
.crimson {
  background-color: #9f0819;
  border-color: #55040d;
}
.light.crimson {
  background-color: #c60a1f;
  border-color: #690510;
}
.dark.crimson {
  background-color: #790613;
  border-color: #42030a;
}
.clover {
  background-color: #378810;
  border-color: #1e4909;
}
.light.clover {
  background-color: #46ad14;
  border-color: #255c0b;
}
.dark.clover {
  background-color: #29640c;
  border-color: #163706;
}
.cobalt {
  background-color: #2367b1;
  border-color: #12365e;
}
.light.cobalt {
  background-color: #2a7bd3;
  border-color: #16406f;
}
.dark.cobalt {
  background-color: #1c538f;
  border-color: #0f2c4d;
}
.graphite {
  background-color: #232844;
  border-color: #131626;
}
.light.graphite {
  background-color: #31395f;
  border-color: #1a1e33;
}
.dark.graphite {
  background-color: #151829;
  border-color: #0c0e19;
}
.ruby {
  background-color: #990028;
  border-color: #520016;
}
.light.ruby {
  background-color: #c10033;
  border-color: #66001b;
}
.dark.ruby {
  background-color: #70001e;
  border-color: #3e0010;
}
.onyx {
  background-color: #322f2e;
  border-color: #1d1a19;
}
.light.onyx {
  background-color: #474342;
  border-color: #272423;
}
.dark.onyx {
  background-color: #1d1b1b;
  border-color: #12100f;
}
.pewter {
  background-color: #8d8672;
  border-color: #4a463b;
}
.light.pewter {
  background-color: #9f9a88;
  border-color: #535046;
}
.dark.pewter {
  background-color: #77715f;
  border-color: #3f3c32;
}
.gunmetal {
  background-color: #39434c;
  border-color: #1e242a;
}
.light.gunmetal {
  background-color: #4a5863;
  border-color: #272f35;
}
.dark.gunmetal {
  background-color: #272e34;
  border-color: #151a1e;
}
.hotpink {
  background-color: #d7508a;
  border-color: #702948;
}
.light.hotpink {
  background-color: #df71a0;
  border-color: #743953;
}
.dark.hotpink {
  background-color: #cf2f74;
  border-color: #6c183d;
}
.neongreen {
  background-color: #30cd0f;
  border-color: #196c08;
}
.light.neongreen {
  background-color: #3cee16;
  border-color: #1f7c0b;
}
.dark.neongreen {
  background-color: #27a70c;
  border-color: #155906;
}
.electricblue {
  background-color: #2f98b3;
  border-color: #19505e;
}
.light.electricblue {
  background-color: #3fafcc;
  border-color: #205c6b;
}
.dark.electricblue {
  background-color: #277d93;
  border-color: #14424e;
}
.royalpurple {
  background-color: #532673;
  border-color: #2c143e;
}
.light.royalpurple {
  background-color: #683191;
  border-color: #37194d;
}
.dark.royalpurple {
  background-color: #3d1c54;
  border-color: #210f2f;
}
.lemon {
  background-color: #f2e584;
  border-color: #7e7743;
}
.light.lemon {
  background-color: #f6eda9;
  border-color: #807b55;
}
.dark.lemon {
  background-color: #eedd5f;
  border-color: #7c7330;
}
.lime {
  background-color: #8fc470;
  border-color: #4a6739;
}
.light.lime {
  background-color: #a5d08d;
  border-color: #556d48;
}
.dark.lime {
  background-color: #78b953;
  border-color: #3e612b;
}
.tangerine {
  background-color: #e49649;
  border-color: #774e25;
}
.light.tangerine {
  background-color: #eaaa6d;
  border-color: #7a5837;
}
.dark.tangerine {
  background-color: #df8126;
  border-color: #754313;
}
.grapefruit {
  background-color: #bb2737;
  border-color: #62141c;
}
.light.grapefruit {
  background-color: #d53546;
  border-color: #701b24;
}
.dark.grapefruit {
  background-color: #99202d;
  border-color: #511118;
}
.action,
.base-color {
  color: #f7f3f0;
  background: #5a2e03;
  border-color: #321a02;
}
.action.light,
.base-color.light {
  color: #f7f3f0;
  background: #814204;
  border-color: #462402;
}
.action.dark,
.base-color.dark {
  color: #f7f3f0;
  background: #331a02;
  border-color: #1f1001;
}
.reaction {
  background-color: #031a2e;
  border-color: #02101d;
}
.light.reaction {
  background-color: #053055;
  border-color: #031b30;
}
.dark.reaction {
  background-color: #000408;
  border-color: #000509;
}
.default {
  background-color: #513010;
  border-color: #2e1b09;
}
.light.default {
  background-color: #734417;
  border-color: #3f250c;
}
.dark.default {
  background-color: #2f1c09;
  border-color: #1d1105;
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-margin-right {
  margin-right: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.no-margin-left {
  margin-left: 0 !important;
}
.no-padding {
  padding: 0;
}
.no-margin,
.no-gutter {
  margin: 0;
}
.no-side-margin,
.no-side-margins {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.no-margins {
  margin: 0 !important;
}
.no-margins * {
  margin: 0 !important;
}
.no-box-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  box-shadow: unset;
}
.no-text-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  text-shadow: unset;
}
.no-border,
.no-borders,
.no-borders * {
  border-width: 0 !important;
}
.no-background {
  background: transparent;
}
.no-text-indent {
  text-indent: 0;
}
.no-text-align {
  text-align: initial;
}
.no-user-select {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.no-pointer-events {
  pointer-events: none;
}
.no-list-style {
  list-style-type: none;
  margin-left: 0;
}
.no-grid-gap,
.no-column-gap {
  grid-gap: 0;
  column-gap: 0;
}
@media print {
  html {
    font-size: 62.5%;
  }
  * {
    box-shadow: unset !important;
    border: unset !important;
  }
  nav {
    display: none !important;
  }
  .page-width,
  .text-width,
  .container {
    all: unset;
  }
  .inner-page-width,
  .inner-text-width,
  .inner-aside-width {
    all: unset;
  }
}
