/* This project uses Cavepaint (MIT License) by Rex Riepe */
/* https://github.com/cavepaint/cavepaintCSS */
.background {
  background: #fefdfe;
}
.background-color {
  background-color: #fefdfe;
}
.border {
  border: 1px solid #887f89;
}
.border-radius,
.rounded {
  border-radius: 0.5em;
}
.border-bottom {
  border-bottom: 1px solid #887f89;
}
.border-left {
  border-left: 1px solid #887f89;
}
.border-right {
  border-right: 1px solid #887f89;
}
.border-style,
.button.border,
button.border {
  border-style: solid;
}
.border-top {
  border-top: 1px solid #887f89;
}
.border-width,
.button.border,
button.border {
  border-width: 1px;
}
.max-width {
  max-width: 59rem;
}
.min-width {
  min-width: 22rem;
}
.align-content {
  align-content: stretch;
}
.align-items {
  align-items: stretch;
}
.align-self {
  align-self: auto;
}
.flex,
.vertical-center,
.center-vertical {
  flex: 0 1 auto;
}
.flex-direction,
.vertical-center,
.center-vertical {
  flex-direction: column;
}
.justify-content,
.vertical-center,
.center-vertical {
  justify-content: center;
}
.font-family,
body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.font-size {
  font-size: 18px;
}
.font-weight {
  font-weight: normal;
}
.list-style {
  list-style: disc inside none;
}
.list-style-type {
  list-style-type: disc;
}
.margin {
  margin: 2rem;
}
.margin-bottom,
pre,
.bar,
.card {
  margin-bottom: 2rem;
}
.margin-left {
  margin-left: 2rem;
}
.margin-right {
  margin-right: 2rem;
}
.margin-top {
  margin-top: 2rem;
}
.column-gap {
  column-gap: 1.94em;
}
.column-rule {
  column-rule: 1px solid #887f89;
}
.padding {
  padding: 1rem;
}
.padding-bottom {
  padding-bottom: 1rem;
}
.padding-left {
  padding-left: 1rem;
}
.padding-right {
  padding-right: 1rem;
}
.padding-top {
  padding-top: 1rem;
}
.text-align {
  text-align: left;
}
.text-align-last {
  text-align-last: left;
}
.text-indent {
  text-indent: 2ch;
}
.text-justify {
  text-justify: justify;
}
.text-overflow {
  text-overflow: hidden;
}
.text-shadow {
  text-shadow: 1px 1px 1px rgba(37, 35, 38, 0.2);
}
.line-height {
  line-height: 1.8;
}
.vertical-align {
  vertical-align: middle;
}
.letter-spacing {
  letter-spacing: 0;
}
.word-spacing {
  word-spacing: normal;
}
.white-space {
  white-space: nowrap;
}
.word-break {
  word-break: break-all;
}
.word-wrap {
  word-wrap: break-word;
}
.transform {
  transform: none;
}
.transition {
  transition: all 0s ease 0s;
}
.display {
  display: block;
}
.position {
  position: absolute;
}
.top {
  top: 0;
}
.right {
  right: 0;
}
.bottom {
  bottom: 0;
}
.left {
  left: 0;
}
.float {
  float: left;
}
.clear {
  clear: both;
}
.z-index {
  z-index: 10;
}
.overflow {
  overflow: hidden;
}
.cursor {
  cursor: pointer;
}
.box-shadow {
  box-shadow: 1px 1px 1px rgba(37, 35, 38, 0.2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-size: 18px;
  line-height: 1.8;
  margin: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
nav {
  z-index: 99;
}
nav a {
  text-decoration: none;
}
aside {
  margin: 0 auto;
  margin-bottom: 2rem;
  max-width: 22rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-top: 0.49443758em;
  margin-bottom: 0.74165637em;
  letter-spacing: -0.025em;
  color: inherit;
  line-height: 1.618;
}
h1 {
  font-size: 2.4em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1em;
}
p {
  margin-bottom: 1em;
}
p.gutter-bottom {
  margin-bottom: 1.618em;
}
p.gutter {
  margin-bottom: 4rem;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: inherit;
  text-decoration: underline;
}
form {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input {
  font-size: 18px;
  line-height: 1.8;
  border: 1px solid #887f89;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input:focus {
  box-shadow: 0 0 2px #33ffff;
}
fieldset {
  border: none;
  outline: none;
}
ol {
  padding-left: 4ch;
  margin-bottom: 2rem;
}
ol li {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
ul {
  margin-left: 1rem;
  margin-bottom: 2rem;
}
li {
  margin-bottom: 0.44em;
}
kbd {
  color: #fefdfe;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  white-space: nowrap;
}
b {
  padding: 0.18em 0 0.22em 0;
}
em {
  display: inline;
  font-style: italic;
}
pre {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  overflow: hidden;
  border-radius: 0.5em;
  background: #252326;
  color: #fefdfe;
}
pre.white-space,
pre.word-break {
  white-space: pre-wrap;
}
pre > code {
  background: transparent;
  padding: 0;
}
code {
  color: #fefdfe;
  background-color: #252326;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
code.terminal::before {
  content: "$ ";
}
textarea {
  font-size: 18px;
  line-height: 1.8;
  border: 1px solid #887f89;
  border-radius: 0.5em;
  margin-bottom: 2rem;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
textarea:focus {
  box-shadow: 0 0 2px #33ffff;
}
.button,
button {
  border-style: solid;
  border-radius: 0.5em;
  box-shadow: 1px 1px 1px rgba(37, 35, 38, 0.2);
  display: inline;
  position: relative;
  font-family: inherit;
  font-size: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  color: inherit;
  background-color: inherit;
  border-color: #5e585f;
  border-width: 1px;
  line-height: 1.6;
  text-align: center;
  vertical-align: middle;
  outline: none;
  white-space: nowrap;
  text-decoration: none;
  touch-action: manipulation;
  cursor: pointer;
  transform: scale(1);
  transition: 0.08s linear;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.button:active,
button:active {
  transform: scale(0.99);
  box-shadow: unset;
}
.bar {
  position: relative;
  width: 100%;
  display: block;
  vertical-align: middle;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.bar > * {
  display: inline;
  margin-right: 0.3236em;
  margin-left: 0.3236em;
}
.card {
  position: relative;
  overflow: hidden;
  padding: 1rem;
  border: 1px solid #887f89;
  border-radius: 0.5em;
  box-shadow: 1px 1px 1px rgba(37, 35, 38, 0.2);
}
.card > *:first-child {
  margin-top: 0;
}
.badge {
  border-radius: 0.5em;
  line-height: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  padding-right: 0.6472em;
  padding-left: 0.6472em;
  vertical-align: middle;
  border-radius: 99px;
  white-space: nowrap;
}
.modal {
  display: none;
  max-width: none;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  position: fixed;
  bottom: 0;
  justify-content: center;
  flex: 0 1 auto;
  flex-direction: column;
  height: 100vh;
}
.modal > * {
  flex-direction: column;
  color: #252326;
  position: relative;
  background: #fefdfe;
  padding: 1rem;
  margin-bottom: 4rem;
  border-radius: 0.5em;
  box-shadow: 1px 1px 1px rgba(37, 35, 38, 0.2);
  margin: 1rem;
}
@media screen and (min-width: 41rem) {
  .modal > * {
    max-width: 59rem;
    margin: 0 auto;
  }
}
.overlay {
  margin: 0;
  padding: 0;
  position: relative;
}
.overlay .top,
.overlay .bottom,
.overlay .left,
.overlay .right {
  position: absolute;
  z-index: 10;
}
.overlay .top {
  top: 0.3236em;
}
.overlay .bottom {
  bottom: 0.3236em;
}
.overlay .left {
  left: 0.3236em;
}
.overlay .right {
  right: 0.3236em;
}
.overlay.stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.overlay > * {
  margin: 0;
  display: block;
}
.white,
body,
input,
textarea {
  background-color: #fefdfe;
  border-color: #8a868b;
}
.white.light,
body.light,
input.light,
textarea.light {
  color: #252326;
  background-color: #fefefe;
  border-color: #8b878c;
}
.white.dark,
body.dark,
input.dark,
textarea.dark {
  color: #252326;
  background-color: #fdfbfd;
  border-color: #8a868b;
}
.black {
  background-color: #252326;
  border-color: #131213;
}
.black.light {
  color: #fefdfe;
  background-color: #605c60;
  border-color: #3a383b;
}
.black.dark {
  color: #fefdfe;
  background-color: #050506;
  border-color: #0d0c0e;
}
.ambient {
  color: #252326;
  background-color: #e8dbea;
  border-color: #807582;
}
.ambient.light {
  color: #252326;
  background-color: #f3ecf4;
  border-color: #857e87;
}
.ambient.dark {
  color: #252326;
  background-color: #d9c5dd;
  border-color: #786a7b;
}
.ambient.bright {
  color: #252326;
  background-color: #fdfcfe;
  border-color: #8b868c;
}
.red,
.failure {
  background-color: #ff2d34;
  border-color: #91191d;
}
.light.red,
.light.failure {
  background-color: #ff6b71;
  border-color: #91383b;
}
.dark.red,
.dark.failure {
  background-color: #cf242a;
  border-color: #77171a;
}
.bright.red,
.bright.failure {
  background-color: #ff292e;
  border-color: #91171a;
}
.orange,
.warning {
  background-color: #ffaf22;
  border-color: #916414;
}
.light.orange,
.light.warning {
  background-color: #ffc764;
  border-color: #917034;
}
.dark.orange,
.dark.warning {
  background-color: #cf8c1c;
  border-color: #785112;
}
.bright.orange,
.bright.warning {
  background-color: #ffd223;
  border-color: #917814;
}
.yellow {
  background-color: #ffff22;
  border-color: #919114;
}
.light.yellow {
  background-color: #ffff64;
  border-color: #919134;
}
.dark.yellow {
  background-color: #cfce1c;
  border-color: #787712;
}
.bright.yellow {
  background-color: #ffff23;
  border-color: #919114;
}
.green,
.success {
  background-color: #339734;
  border-color: #205921;
}
.light.green,
.light.success {
  background-color: #70b571;
  border-color: #3f6740;
}
.dark.green,
.dark.success {
  background-color: #29772a;
  border-color: #1b4a1c;
}
.bright.green,
.bright.success {
  background-color: #17c018;
  border-color: #107010;
}
.teal {
  background-color: #218f91;
  border-color: #165658;
}
.light.teal {
  background-color: #63b0b2;
  border-color: #396566;
}
.dark.teal {
  background-color: #1c7173;
  border-color: #134749;
}
.bright.teal {
  background-color: #0ab4b9;
  border-color: #086b6e;
}
.cyan,
.info {
  background-color: #33ffff;
  border-color: #1c9191;
}
.light.cyan,
.light.info {
  background-color: #70ffff;
  border-color: #3a9191;
}
.dark.cyan,
.dark.info {
  background-color: #29cecf;
  border-color: #1a7677;
}
.bright.cyan,
.bright.info {
  background-color: #2effff;
  border-color: #199191;
}
.blue {
  background-color: #332dff;
  border-color: #1c1991;
}
.light.blue {
  background-color: #706bff;
  border-color: #3b3891;
}
.dark.blue {
  background-color: #2924cf;
  border-color: #1a1777;
}
.bright.blue {
  background-color: #2d29ff;
  border-color: #191791;
}
.purple {
  background-color: #911d91;
  border-color: #581458;
}
.light.purple {
  background-color: #b260b2;
  border-color: #663766;
}
.dark.purple {
  background-color: #731874;
  border-color: #491149;
}
.bright.purple {
  background-color: #b908b9;
  border-color: #6d076e;
}
.magenta {
  background-color: #ff2dff;
  border-color: #911991;
}
.light.magenta {
  background-color: #ff6bff;
  border-color: #913891;
}
.dark.magenta {
  background-color: #cf24cf;
  border-color: #771777;
}
.bright.magenta {
  background-color: #ff29ff;
  border-color: #911791;
}
.gray {
  background-color: #918f91;
  border-color: #535153;
}
.light.gray {
  background-color: #b1b0b2;
  border-color: #636263;
}
.dark.gray {
  background-color: #737073;
  border-color: #444244;
}
.bright.gray {
  background-color: #aca9ad;
  border-color: #605e61;
}
.action,
.base-color {
  color: #252326;
  background-color: #ab9aaf;
  border-color: #605663;
}
.action.light,
.base-color.light {
  color: #252326;
  background-color: #d0c5d3;
  border-color: #736c75;
}
.action.dark,
.base-color.dark {
  color: #fefdfe;
  background-color: #836e88;
  border-color: #4c404f;
}
.action.bright,
.base-color.bright {
  color: #252326;
  background-color: #ccb5d1;
  border-color: #716375;
}
.reaction {
  background-color: #889a83;
  border-color: #4d584b;
}
.light.reaction {
  background-color: #abb8a8;
  border-color: #5f675d;
}
.dark.reaction {
  background-color: #6b7a68;
  border-color: #3f483d;
}
.bright.reaction {
  background-color: #9dba96;
  border-color: #586954;
}
.default {
  background-color: #887f89;
  border-color: #4e494f;
}
.light.default {
  background-color: #aba5ac;
  border-color: #605c61;
}
.dark.default {
  background-color: #6b636d;
  border-color: #403b41;
}
.bright.default {
  background-color: #9b8d9e;
  border-color: #58505a;
}
.complement,
.second.triad {
  background-color: #9fae9b;
  border-color: #596257;
}
.light.complement,
.light.second.triad {
  color: #252326;
  background-color: #bbc6b9;
  border-color: #676e66;
}
.dark.complement,
.dark.second.triad {
  color: #fefdfe;
  background-color: #7f8b7c;
  border-color: #495048;
}
.bright.complement,
.bright.second.triad {
  color: #252326;
  background-color: #c5d6c1;
  border-color: #6c7769;
}
.accent {
  background-color: #dcced8;
  border-color: #7a7077;
}
.light.accent {
  color: #252326;
  background-color: #e6dce4;
  border-color: #7f777d;
}
.dark.accent {
  color: #252326;
  background-color: #b2a6af;
  border-color: #645c62;
}
.bright.accent {
  color: #252326;
  background-color: #fefdfe;
  border-color: #8c868a;
}
.second.accent {
  background-color: #d3cedc;
  border-color: #73707a;
}
.light.second.accent {
  color: #252326;
  background-color: #e0dce6;
  border-color: #7a777f;
}
.dark.second.accent {
  color: #252326;
  background-color: #aba6b2;
  border-color: #5f5c64;
}
.bright.second.accent {
  color: #252326;
  background-color: #fefdfe;
  border-color: #88868c;
}
.split {
  background-color: #b0a09c;
  border-color: #635a57;
}
.light.split {
  color: #252326;
  background-color: #c7bcb9;
  border-color: #6f6866;
}
.dark.split {
  color: #fefdfe;
  background-color: #8d7f7c;
  border-color: #514948;
}
.bright.split {
  color: #252326;
  background-color: #d8c6c1;
  border-color: #786c69;
}
.second.split {
  background-color: #9ba8b0;
  border-color: #575e63;
}
.light.second.split {
  color: #252326;
  background-color: #b9c1c7;
  border-color: #666b6f;
}
.dark.second.split {
  color: #fefdfe;
  background-color: #7c868d;
  border-color: #474d51;
}
.bright.second.split {
  color: #252326;
  background-color: #c1cfd8;
  border-color: #697278;
}
.triad {
  background-color: #b0999f;
  border-color: #635659;
}
.light.triad {
  color: #252326;
  background-color: #c7b7bc;
  border-color: #6f6568;
}
.dark.triad {
  color: #fefdfe;
  background-color: #8d797f;
  border-color: #51464a;
}
.bright.triad {
  color: #252326;
  background-color: #d7bec5;
  border-color: #78676c;
}
.third.triad {
  background-color: #9b9db0;
  border-color: #575863;
}
.light.third.triad {
  color: #252326;
  background-color: #b9bac7;
  border-color: #66666f;
}
.dark.third.triad {
  color: #fefdfe;
  background-color: #7c7d8d;
  border-color: #474851;
}
.bright.third.triad {
  color: #252326;
  background-color: #c1c3d8;
  border-color: #696a78;
}
.tetrad {
  background-color: #b099a5;
  border-color: #63565c;
}
.light.tetrad {
  color: #252326;
  background-color: #c7b7bf;
  border-color: #6f656a;
}
.dark.tetrad {
  color: #fefdfe;
  background-color: #8d7984;
  border-color: #51464c;
}
.bright.tetrad {
  color: #252326;
  background-color: #d7becb;
  border-color: #786770;
}
.second.tetrad {
  background-color: #afae9c;
  border-color: #626257;
}
.light.second.tetrad {
  color: #252326;
  background-color: #c6c6b9;
  border-color: #6e6e66;
}
.dark.second.tetrad {
  color: #fefdfe;
  background-color: #8c8b7c;
  border-color: #515048;
}
.bright.second.tetrad {
  color: #252326;
  background-color: #d6d6c1;
  border-color: #777769;
}
.third.tetrad {
  background-color: #9baea7;
  border-color: #57625e;
}
.light.third.tetrad {
  color: #252326;
  background-color: #b9c6c1;
  border-color: #666e6b;
}
.dark.third.tetrad {
  color: #fefdfe;
  background-color: #7c8b86;
  border-color: #47504d;
}
.bright.third.tetrad {
  color: #252326;
  background-color: #c0d6ce;
  border-color: #697772;
}
.fourth.tetrad {
  background-color: #9c99b0;
  border-color: #585663;
}
.light.fourth.tetrad {
  color: #252326;
  background-color: #bab7c7;
  border-color: #66656f;
}
.dark.fourth.tetrad {
  color: #fefdfe;
  background-color: #7d798d;
  border-color: #484652;
}
.bright.fourth.tetrad {
  color: #252326;
  background-color: #c2bed8;
  border-color: #6a6778;
}
.warm {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201%201%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23f9ca7a%22%20opacity%3D%220.2%22%20d%3D%22M0%200h1v1H0z%22%2F%3E%3C%2Fsvg%3E");
}
.cool {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201%201%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%2344f2f2%22%20opacity%3D%220.2%22%20d%3D%22M0%200h1v1H0z%22%2F%3E%3C%2Fsvg%3E");
}
.neutral {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201%201%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%2347c9cd%22%20opacity%3D%220.16%22%20d%3D%22M0%200h1v1H0z%22%2F%3E%3C%2Fsvg%3E");
}
.dull {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201%201%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23c3c1c3%22%20opacity%3D%220.38%22%20d%3D%22M0%200h1v1H0z%22%2F%3E%3C%2Fsvg%3E");
}
.responsive {
  column-gap: 0.382rem;
  grid-gap: 0.382rem;
}
.responsive.padding,
.modal,
.container {
  padding: 0.382rem;
}
.responsive.margin,
.container {
  margin: 0.764rem;
}
.responsive.gutter {
  margin: 1.528rem;
}
@media screen and (min-width: 41rem) {
  .responsive {
    column-gap: 0.618rem;
    grid-gap: 0.618rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 0.618rem;
  }
  .responsive.margin,
  .container {
    margin: 1.236rem;
  }
  .responsive.gutter {
    margin: 2.472rem;
  }
}
@media screen and (min-width: 59rem) {
  .responsive {
    column-gap: 1rem;
    grid-gap: 1rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1rem;
  }
  .responsive.margin,
  .container {
    margin: 2rem;
  }
  .responsive.gutter {
    margin: 4rem;
  }
}
.grid,
.two-column,
.three-column {
  display: grid;
  grid-gap: 2rem;
  margin-bottom: 2rem;
}
.grid.tablet,
.two-column.tablet,
.three-column.tablet,
.grid.mobile.tablet,
.two-column.mobile.tablet,
.three-column.mobile.tablet,
.grid.desktop,
.two-column.desktop,
.three-column.desktop {
  display: unset;
}
.grid {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.two-column {
  grid-template-columns: 1fr 1fr;
}
.two-column.golden {
  grid-template-columns: 1.618fr 1fr;
}
.two-column.golden.reverse {
  grid-template-columns: 1fr 1.618fr;
}
.three-column {
  grid-template-columns: 1fr 1fr 1fr;
}
.three-column.golden {
  grid-template-columns: 1fr 1.618fr 1fr;
}
.three-column.golden.leading {
  grid-template-columns: 1.618fr 1fr 1fr;
}
.three-column.golden.trailing {
  grid-template-columns: 1fr 1fr 1.618fr;
}
.grid-width-one {
  grid-column: auto / span 1;
}
.grid-width-two {
  grid-column: auto / span 2;
}
.grid-width-three {
  grid-column: auto / span 3;
}
.grid-width-four {
  grid-column: auto / span 4;
}
.grid-width-five {
  grid-column: auto / span 5;
}
.grid-width-six {
  grid-column: auto / span 6;
}
.grid-width-seven {
  grid-column: auto / span 7;
}
.grid-width-eight {
  grid-column: auto / span 8;
}
.grid-width-nine {
  grid-column: auto / span 9;
}
.grid-width-ten {
  grid-column: auto / span 10;
}
.grid-width-eleven {
  grid-column: auto / span 11;
}
.grid-width-twelve {
  grid-column: auto / span 12;
}
@media screen and (max-width: calc(41rem - 1px)) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: grid;
  }
}
@media screen and (min-width: 41rem) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: initial;
  }
  .grid.tablet,
  .two-column.tablet,
  .three-column.tablet {
    display: grid;
  }
}
@media screen and (max-width: calc(59rem - 1px)) {
  .grid.mobile.tablet,
  .two-column.mobile.tablet,
  .three-column.mobile.tablet {
    display: grid;
  }
}
@media screen and (min-width: 59rem) {
  .grid.desktop,
  .two-column.desktop,
  .three-column.desktop {
    display: grid;
  }
}
.gutter {
  margin: 4rem;
}
.gutter-top {
  margin-top: 4rem;
}
.gutter-right {
  margin-right: 4rem;
}
.gutter-bottom {
  margin-bottom: 4rem;
}
.gutter-left {
  margin-left: 4rem;
}
.text-padding {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-padding-top {
  padding-top: 0.18em;
}
.text-padding-right {
  padding-right: 0.3236em;
}
.text-padding-bottom {
  padding-bottom: 0.22em;
}
.text-padding-left {
  padding-left: 0.3236em;
}
.text-margin {
  margin: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-margin-top {
  margin-top: 0.18em;
}
.text-margin-right {
  margin-right: 0.3236em;
}
.text-margin-bottom {
  margin-bottom: 0.22em;
}
.text-margin-left {
  margin-left: 0.3236em;
}
.bottom-margins * {
  margin-bottom: 2rem;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.inline-break::after {
  content: "\A";
  white-space: pre;
}
.initial {
  display: initial;
}
.table {
  display: table;
}
.flex,
.vertical-center,
.center-vertical {
  display: flex;
}
.inline-block {
  display: inline-block;
}
.static {
  position: static;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.margin-auto,
.container {
  margin-left: auto !important;
  margin-right: auto !important;
}
.width-auto {
  width: auto;
}
.inset {
  box-shadow: inset 1px 1px 1px rgba(37, 35, 38, 0.2);
}
.inset.shallow {
  box-shadow: inset 0.5px 0.5px 1px rgba(37, 35, 38, 0.2);
}
.inset.deep {
  box-shadow: inset 2px 2px 1px rgba(37, 35, 38, 0.2);
}
.box-shadow.shallow {
  box-shadow: 0.5px 0.5px 1px rgba(37, 35, 38, 0.2);
}
.box-shadow.deep {
  box-shadow: 2px 2px 1px rgba(37, 35, 38, 0.2);
}
.viewport-height {
  height: 100vh;
}
.min-viewport-height {
  min-height: 100vh;
}
.overflow-hidden {
  overflow: hidden;
}
.dashed {
  border-style: dashed;
}
.dotted {
  border-style: dotted;
}
.thick {
  border-width: 2px;
}
.thin {
  border-width: 0.5px;
}
.current-color {
  border-color: currentColor;
}
.fade {
  opacity: 0.65;
}
.monospace,
pre,
code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
}
.sans-serif {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.serif {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "Droid Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.text-transparent {
  color: transparent;
}
.big {
  font-size: 125%;
  line-height: 2.25;
}
.big.font-size {
  font-size: 22.5px;
}
.small,
.badge {
  font-size: 87.5%;
  line-height: 1.575;
}
.small.font-size {
  font-size: 15.75px;
}
.huge {
  font-size: 160%;
}
.huge.font-size {
  font-size: 28.8px;
}
.text-trim {
  line-height: 1;
}
.text-align-center,
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.grid-gap-margin {
  grid-gap: 2rem;
}
.grid-gap-border-width {
  grid-gap: 1px;
}
.grid-gap-text-padding,
.grid-gap-text-margin {
  grid-gap: 0.3236em;
}
.shade,
.white,
.light.red,
.orange,
.bright.orange,
.yellow,
.bright.yellow,
.light.green,
.bright.green,
.light.teal,
.bright.teal,
.cyan,
.bright.cyan,
.magenta,
.bright.magenta,
.light.gray,
.bright.gray,
.reaction,
.bright.reaction,
.light.default,
.complement,
.accent,
.second.accent,
.split,
.second.split,
.triad,
.third.triad,
.tetrad,
.second.tetrad,
.third.tetrad,
.fourth.tetrad,
body,
input,
textarea,
.info,
.bright.info,
.warning,
.bright.warning,
.light.success,
.bright.success,
.light.failure,
.second.triad {
  color: #252326;
}
.tint,
.black,
.red,
.bright.red,
.green,
.teal,
.blue,
.bright.blue,
.purple,
.bright.purple,
.dark.magenta,
.gray,
.dark.reaction,
.default,
.bright.default,
.success,
.failure,
.bright.failure {
  color: #fefdfe;
}
.transparent {
  background-color: transparent;
  color: inherit;
  border-color: inherit;
}
.transparent.light {
  background-color: rgba(254, 253, 254, 0.16);
}
.transparent.dark,
.modal {
  background-color: rgba(37, 35, 38, 0.25);
}
.trim,
.trim-inner *,
.trim-all,
.trim-all * {
  margin-bottom: 0;
}
.bump {
  position: relative;
}
.bump.up {
  top: -2px;
}
.bump.down {
  top: 2px;
}
.bump.left {
  left: -2px;
}
.bump.right {
  right: initial;
  left: 2px;
}
.hidden {
  display: none !important;
}
.clearfix,
.clear {
  clear: both;
}
.clearfix::after,
.clear::after {
  display: block;
  clear: both;
  content: "";
}
.character-width {
  max-width: 1ch;
}
.golden-width {
  max-width: calc(62% - 4rem);
}
.golden-width.reverse {
  max-width: 38%;
}
.aside-width {
  max-width: 22rem;
}
@media screen and (min-width: 41rem) {
  .text-width {
    max-width: 37rem;
  }
}
.page-width,
.container {
  max-width: 59rem;
}
.full-width,
.page-width .page-width {
  display: block;
  width: 100%;
}
.inner-aside-width {
  padding-left: calc(50% - 11rem);
  padding-right: calc(50% - 11rem);
}
.inner-aside-width.padding {
  padding-left: calc(50% - 10rem);
  padding-right: calc(50% - 10rem);
}
.inner-aside-width.responsive.padding {
  padding-left: calc(50% - 10.62rem);
  padding-right: calc(50% - 10.62rem);
}
@media screen and (max-width: calc(41rem - 1px)) {
  .inner-text-width {
    padding-left: initial;
    padding-right: initial;
  }
  .inner-text-width.padding {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .inner-text-width.responsive.padding {
    padding-left: 0.382rem;
    padding-right: 0.382rem;
  }
}
@media screen and (min-width: 41rem) {
  .inner-aside-width.tablet.padding {
    padding-left: calc(50% - 10rem);
    padding-right: calc(50% - 10rem);
  }
  .inner-aside-width.tablet.responsive.padding {
    padding-left: calc(50% - 10.38rem);
    padding-right: calc(50% - 10.38rem);
  }
  .inner-text-width {
    padding-left: calc(50% - 18.5rem);
    padding-right: calc(50% - 18.5rem);
  }
  .inner-text-width.padding {
    padding-left: calc(50% - 17.5rem);
    padding-right: calc(50% - 17.5rem);
  }
  .inner-text-width.responsive.padding {
    padding-left: calc(50% - 17.88rem);
    padding-right: calc(50% - 17.88rem);
  }
}
@media screen and (min-width: 59rem) {
  .inner-aside-width.desktop.padding {
    padding-left: calc(50% - 10rem);
    padding-right: calc(50% - 10rem);
  }
  .inner-aside-width.desktop.responsive.padding {
    padding-left: calc(50% - 10rem);
    padding-right: calc(50% - 10rem);
  }
  .inner-text-width.desktop.padding {
    padding-left: calc(50% - 17.5rem);
    padding-right: calc(50% - 17.5rem);
  }
  .inner-text-width.desktop.responsive.padding {
    padding-left: calc(50% - 17.5rem);
    padding-right: calc(50% - 17.5rem);
  }
  .inner-page-width {
    padding-left: calc(50% - 29.5rem);
    padding-right: calc(50% - 29.5rem);
  }
  .inner-page-width.padding {
    padding-left: calc(50% - 28.5rem);
    padding-right: calc(50% - 28.5rem);
  }
  .inner-page-width.responsive.padding {
    padding-left: calc(50% - 28.5rem);
    padding-right: calc(50% - 28.5rem);
  }
}
.placeholder {
  min-height: 10px;
}
.placeholder::after {
  content: " ";
  white-space: pre;
}
.square::before,
.one-to-one::before,
.four-to-three::before,
.sixteen-to-nine::before,
.two-to-one::before {
  content: "";
  display: block;
  width: 0;
}
.square::before,
.one-to-one::before {
  padding-top: 100%;
}
.four-to-three::before {
  padding-top: 75%;
}
.sixteen-to-nine::before {
  padding-top: 56.25%;
}
.two-to-one::before {
  padding-top: 50%;
}
.hide {
  display: none;
}
.hide.tablet {
  display: initial;
}
.hide.desktop {
  display: initial;
}
@media screen and (max-width: calc(41rem - 1px)) {
  .hide.mobile {
    display: none;
  }
}
@media screen and (min-width: 41rem) {
  .hide.mobile {
    display: initial;
  }
  .hide.tablet {
    display: none;
  }
}
@media screen and (min-width: 59rem) {
  .hide.desktop {
    display: none;
  }
  .hide.mobile.tablet {
    display: initial;
  }
}
@media screen and (max-width: calc(59rem - 1px)) {
  .hide.mobile.tablet {
    display: none;
  }
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-margin-right {
  margin-right: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.no-margin-left {
  margin-left: 0 !important;
}
.no-padding {
  padding: 0;
}
.no-margin,
.no-gutter {
  margin: 0;
}
.no-side-margin,
.no-side-margins {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.no-margins {
  margin: 0 !important;
}
.no-margins * {
  margin: 0 !important;
}
.no-box-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  box-shadow: unset;
}
.no-text-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  text-shadow: unset;
}
.no-border,
.no-borders,
.no-borders * {
  border-width: 0 !important;
}
.no-background {
  background: transparent;
}
.no-text-indent {
  text-indent: 0;
}
.no-text,
.no-text * {
  text-indent: -9999px;
}
.no-text-align {
  text-align: initial;
}
.no-underline {
  text-decoration: none;
}
.no-user-select {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.no-pointer-events {
  pointer-events: none;
}
.no-list-style {
  list-style-type: none;
  margin-left: 0;
}
.no-grid-gap,
.no-column-gap {
  grid-gap: 0;
  column-gap: 0;
}
