/* This project uses Cavepaint (MIT License) by Rex Riepe */
/* https://github.com/cavepaint/cavepaintCSS */
.background {
  background: #f3f8f3;
}
.background-color {
  background-color: #f3f8f3;
}
.border {
  border: 1px solid #799d79;
}
.border-radius,
.rounded {
  border-radius: 0.5em;
}
.border-bottom {
  border-bottom: 1px solid #799d79;
}
.border-left {
  border-left: 1px solid #799d79;
}
.border-right {
  border-right: 1px solid #799d79;
}
.border-style,
.button.border,
button.border {
  border-style: solid;
}
.border-top {
  border-top: 1px solid #799d79;
}
.border-width,
.button.border,
button.border {
  border-width: 1px;
}
.max-width {
  max-width: 59rem;
}
.min-width {
  min-width: 22rem;
}
.align-content {
  align-content: stretch;
}
.align-items {
  align-items: stretch;
}
.align-self {
  align-self: auto;
}
.flex,
.vertical-center,
.center-vertical {
  flex: 0 1 auto;
}
.flex-direction,
.vertical-center,
.center-vertical {
  flex-direction: column;
}
.justify-content,
.vertical-center,
.center-vertical {
  justify-content: center;
}
.font-family,
body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.font-size {
  font-size: 18px;
}
.font-weight {
  font-weight: normal;
}
.list-style {
  list-style: disc inside none;
}
.list-style-type {
  list-style-type: disc;
}
.margin {
  margin: 2rem;
}
.margin-bottom,
pre,
.bar,
.card {
  margin-bottom: 2rem;
}
.margin-left {
  margin-left: 2rem;
}
.margin-right {
  margin-right: 2rem;
}
.margin-top {
  margin-top: 2rem;
}
.column-gap {
  column-gap: 1.94em;
}
.column-rule {
  column-rule: 1px solid #799d79;
}
.padding {
  padding: 1rem;
}
.padding-bottom {
  padding-bottom: 1rem;
}
.padding-left {
  padding-left: 1rem;
}
.padding-right {
  padding-right: 1rem;
}
.padding-top {
  padding-top: 1rem;
}
.text-align {
  text-align: left;
}
.text-align-last {
  text-align-last: left;
}
.text-indent {
  text-indent: 2ch;
}
.text-justify {
  text-justify: justify;
}
.text-overflow {
  text-overflow: hidden;
}
.text-shadow {
  text-shadow: 1px 1px 1px rgba(8, 22, 8, 0.2);
}
.line-height {
  line-height: 1.8;
}
.vertical-align {
  vertical-align: middle;
}
.letter-spacing {
  letter-spacing: 0;
}
.word-spacing {
  word-spacing: normal;
}
.white-space {
  white-space: nowrap;
}
.word-break {
  word-break: break-all;
}
.word-wrap {
  word-wrap: break-word;
}
.transform {
  transform: none;
}
.transition {
  transition: all 0s ease 0s;
}
.display {
  display: block;
}
.position {
  position: absolute;
}
.top {
  top: 0;
}
.right {
  right: 0;
}
.bottom {
  bottom: 0;
}
.left {
  left: 0;
}
.float {
  float: left;
}
.clear {
  clear: both;
}
.z-index {
  z-index: 10;
}
.overflow {
  overflow: hidden;
}
.cursor {
  cursor: pointer;
}
.box-shadow {
  box-shadow: 1px 1px 1px rgba(8, 22, 8, 0.2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-size: 18px;
  line-height: 1.8;
  margin: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
nav {
  z-index: 99;
}
nav a {
  text-decoration: none;
}
aside {
  margin: 0 auto;
  margin-bottom: 2rem;
  max-width: 22rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-top: 0.49443758em;
  margin-bottom: 0.74165637em;
  letter-spacing: -0.025em;
  color: inherit;
  line-height: 1.618;
}
h1 {
  font-size: 2.4em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1em;
}
p {
  margin-bottom: 1em;
}
p.gutter-bottom {
  margin-bottom: 1.618em;
}
p.gutter {
  margin-bottom: 4rem;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: inherit;
  text-decoration: underline;
}
form {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input {
  font-size: 18px;
  line-height: 1.8;
  border: 1px solid #799d79;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input:focus {
  box-shadow: 0 0 2px #00fed8;
}
fieldset {
  border: none;
  outline: none;
}
ol {
  padding-left: 4ch;
  margin-bottom: 2rem;
}
ol li {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
ul {
  margin-left: 1rem;
  margin-bottom: 2rem;
}
li {
  margin-bottom: 0.44em;
}
kbd {
  color: #f3f8f3;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  white-space: nowrap;
}
b {
  padding: 0.18em 0 0.22em 0;
}
em {
  display: inline;
  font-style: italic;
}
pre {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  overflow: hidden;
  border-radius: 0.5em;
  background: #081608;
  color: #f3f8f3;
}
pre.white-space,
pre.word-break {
  white-space: pre-wrap;
}
pre > code {
  background: transparent;
  padding: 0;
}
code {
  color: #f3f8f3;
  background-color: #081608;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
code.terminal::before {
  content: "$ ";
}
textarea {
  font-size: 18px;
  line-height: 1.8;
  border: 1px solid #799d79;
  border-radius: 0.5em;
  margin-bottom: 2rem;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
textarea:focus {
  box-shadow: 0 0 2px #00fed8;
}
.button,
button {
  border-style: solid;
  border-radius: 0.5em;
  box-shadow: 1px 1px 1px rgba(8, 22, 8, 0.2);
  display: inline;
  position: relative;
  font-family: inherit;
  font-size: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  color: inherit;
  background-color: inherit;
  border-color: #537153;
  border-width: 1px;
  line-height: 1.6;
  text-align: center;
  vertical-align: middle;
  outline: none;
  white-space: nowrap;
  text-decoration: none;
  touch-action: manipulation;
  cursor: pointer;
  transform: scale(1);
  transition: 0.08s linear;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.button:active,
button:active {
  transform: scale(0.99);
  box-shadow: unset;
}
.bar {
  position: relative;
  width: 100%;
  display: block;
  vertical-align: middle;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.bar > * {
  display: inline;
  margin-right: 0.3236em;
  margin-left: 0.3236em;
}
.card {
  position: relative;
  overflow: hidden;
  padding: 1rem;
  border: 1px solid #799d79;
  border-radius: 0.5em;
  box-shadow: 1px 1px 1px rgba(8, 22, 8, 0.2);
}
.card > *:first-child {
  margin-top: 0;
}
.badge {
  border-radius: 0.5em;
  line-height: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  padding-right: 0.6472em;
  padding-left: 0.6472em;
  vertical-align: middle;
  border-radius: 99px;
  white-space: nowrap;
}
.modal {
  display: none;
  max-width: none;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  position: fixed;
  bottom: 0;
  justify-content: center;
  flex: 0 1 auto;
  flex-direction: column;
  height: 100vh;
}
.modal > * {
  flex-direction: column;
  color: #081608;
  position: relative;
  background: #f3f8f3;
  padding: 1rem;
  margin-bottom: 4rem;
  border-radius: 0.5em;
  box-shadow: 1px 1px 1px rgba(8, 22, 8, 0.2);
  margin: 1rem;
}
@media screen and (min-width: 41rem) {
  .modal > * {
    max-width: 59rem;
    margin: 0 auto;
  }
}
.overlay {
  margin: 0;
  padding: 0;
  position: relative;
}
.overlay .top,
.overlay .bottom,
.overlay .left,
.overlay .right {
  position: absolute;
  z-index: 10;
}
.overlay .top {
  top: 0.3236em;
}
.overlay .bottom {
  bottom: 0.3236em;
}
.overlay .left {
  left: 0.3236em;
}
.overlay .right {
  right: 0.3236em;
}
.overlay.stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.overlay > * {
  margin: 0;
  display: block;
}
.white,
body,
input,
textarea {
  background-color: #f3f8f3;
  border-color: #7c817c;
}
.white.light,
body.light,
input.light,
textarea.light {
  color: #081608;
  background-color: #f9fbf9;
  border-color: #7f837f;
}
.white.dark,
body.dark,
input.dark,
textarea.dark {
  color: #081608;
  background-color: #e7f2e8;
  border-color: #767e77;
}
.black {
  background-color: #081608;
  border-color: #040b04;
}
.black.light {
  color: #f3f8f3;
  background-color: #1a411b;
  border-color: #0f2610;
}
.black.dark {
  color: #f3f8f3;
  background-color: #000200;
  border-color: #010801;
}
.ambient {
  color: #f3f8f3;
  background-color: #308731;
  border-color: #1a4a1b;
}
.ambient.light {
  color: #081608;
  background-color: #68b76a;
  border-color: #376138;
}
.ambient.dark {
  color: #f3f8f3;
  background-color: #0b530c;
  border-color: #073007;
}
.ambient.bright {
  color: #081608;
  background-color: #75c477;
  border-color: #3d683e;
}
.red,
.failure {
  background-color: #d70400;
  border-color: #730301;
}
.light.red,
.light.failure {
  background-color: #e14b45;
  border-color: #772724;
}
.dark.red,
.dark.failure {
  background-color: #9d0300;
  border-color: #560201;
}
.bright.red,
.bright.failure {
  background-color: #ff0d0d;
  border-color: #870707;
}
.orange,
.warning {
  background-color: #e5a600;
  border-color: #7a5901;
}
.light.orange,
.light.warning {
  background-color: #ebbf45;
  border-color: #7c6524;
}
.dark.orange,
.dark.warning {
  background-color: #a87f00;
  border-color: #5b4501;
}
.bright.orange,
.bright.warning {
  background-color: #ffc914;
  border-color: #876b0b;
}
.yellow {
  background-color: #e5ff00;
  border-color: #7a8701;
}
.light.yellow {
  background-color: #ebfe45;
  border-color: #7c8623;
}
.dark.yellow {
  background-color: #a8c600;
  border-color: #5a6b01;
}
.bright.yellow {
  background-color: #faff19;
  border-color: #85870d;
}
.green,
.success {
  background-color: #008200;
  border-color: #014801;
}
.light.green,
.light.success {
  background-color: #45a545;
  border-color: #255825;
}
.dark.green,
.dark.success {
  background-color: #006200;
  border-color: #013801;
}
.bright.green,
.bright.success {
  background-color: #009d00;
  border-color: #015601;
}
.teal {
  background-color: #008173;
  border-color: #014841;
}
.light.teal {
  background-color: #45a599;
  border-color: #255852;
}
.dark.teal {
  background-color: #006153;
  border-color: #013830;
}
.bright.teal {
  background-color: #009c7d;
  border-color: #015645;
}
.cyan,
.info {
  background-color: #00fed8;
  border-color: #018773;
}
.light.cyan,
.light.info {
  background-color: #45fde1;
  border-color: #238677;
}
.dark.cyan,
.dark.info {
  background-color: #00c69e;
  border-color: #016b55;
}
.bright.cyan,
.bright.info {
  background-color: #19fff4;
  border-color: #0d8781;
}
.blue {
  background-color: #0004d8;
  border-color: #010374;
}
.light.blue {
  background-color: #454be1;
  border-color: #242777;
}
.dark.blue {
  background-color: #00039e;
  border-color: #010257;
}
.bright.blue {
  background-color: #0e0eff;
  border-color: #070787;
}
.purple {
  background-color: #730373;
  border-color: #410241;
}
.light.purple {
  background-color: #994a99;
  border-color: #522852;
}
.dark.purple {
  background-color: #530253;
  border-color: #310231;
}
.bright.purple {
  background-color: #810082;
  border-color: #480148;
}
.magenta {
  background-color: #d804d9;
  border-color: #730374;
}
.light.magenta {
  background-color: #e14be2;
  border-color: #772778;
}
.dark.magenta {
  background-color: #9e039e;
  border-color: #560257;
}
.bright.magenta {
  background-color: #fe0eff;
  border-color: #870887;
}
.gray {
  background-color: #738173;
  border-color: #3d453d;
}
.light.gray {
  background-color: #99a599;
  border-color: #505750;
}
.dark.gray {
  background-color: #536153;
  border-color: #2d352d;
}
.bright.gray {
  background-color: #749074;
  border-color: #3d4d3d;
}
.action,
.base-color {
  color: #f3f8f3;
  background-color: #2e5d2f;
  border-color: #1a341a;
}
.action.light,
.base-color.light {
  color: #f3f8f3;
  background-color: #669768;
  border-color: #365037;
}
.action.dark,
.base-color.dark {
  color: #f3f8f3;
  background-color: #0b2c0b;
  border-color: #071c07;
}
.action.bright,
.base-color.bright {
  color: #f3f8f3;
  background-color: #369238;
  border-color: #1d4f1e;
}
.reaction {
  background-color: #372137;
  border-color: #211321;
}
.light.reaction {
  background-color: #6d606d;
  border-color: #3b333b;
}
.dark.reaction {
  background-color: #281927;
  border-color: #190f19;
}
.bright.reaction {
  background-color: #2b0f2a;
  border-color: #1b0a1b;
}
.default {
  background-color: #799d79;
  border-color: #3f5440;
}
.light.default {
  background-color: #9db99e;
  border-color: #526152;
}
.dark.default {
  background-color: #577857;
  border-color: #2e412f;
}
.bright.default {
  background-color: #83bd84;
  border-color: #446445;
}
.complement,
.second.triad {
  background-color: #4a2b4a;
  border-color: #2a182a;
}
.light.complement,
.light.second.triad {
  color: #f3f8f3;
  background-color: #7b677b;
  border-color: #423742;
}
.dark.complement,
.dark.second.triad {
  color: #f3f8f3;
  background-color: #352135;
  border-color: #201320;
}
.bright.complement,
.bright.second.triad {
  color: #f3f8f3;
  background-color: #3e153d;
  border-color: #250c25;
}
.accent {
  background-color: #27613f;
  border-color: #163623;
}
.light.accent {
  color: #f3f8f3;
  background-color: #628d73;
  border-color: #344c3e;
}
.dark.accent {
  color: #f3f8f3;
  background-color: #1c492e;
  border-color: #102a1a;
}
.bright.accent {
  color: #f3f8f3;
  background-color: #105f29;
  border-color: #093618;
}
.second.accent {
  background-color: #3d6127;
  border-color: #223616;
}
.light.second.accent {
  color: #f3f8f3;
  background-color: #728d62;
  border-color: #3d4c34;
}
.dark.second.accent {
  color: #f3f8f3;
  background-color: #2c491c;
  border-color: #1a2a10;
}
.bright.second.accent {
  color: #f3f8f3;
  background-color: #265f10;
  border-color: #163609;
}
.split {
  background-color: #253f4a;
  border-color: #15242b;
}
.light.split {
  color: #f3f8f3;
  background-color: #60757b;
  border-color: #333f43;
}
.dark.split {
  color: #f3f8f3;
  background-color: #1a2f36;
  border-color: #101d20;
}
.bright.split {
  color: #f3f8f3;
  background-color: #102d40;
  border-color: #0a1b26;
}
.second.split {
  background-color: #4a4025;
  border-color: #2b2515;
}
.light.second.split {
  color: #f3f8f3;
  background-color: #7b7660;
  border-color: #434033;
}
.dark.second.split {
  color: #f3f8f3;
  background-color: #35311b;
  border-color: #201d10;
}
.bright.second.split {
  color: #f3f8f3;
  background-color: #403010;
  border-color: #261d0a;
}
.triad {
  background-color: #25534a;
  border-color: #152f2a;
}
.light.triad {
  color: #f3f8f3;
  background-color: #60847b;
  border-color: #334742;
}
.dark.triad {
  color: #f3f8f3;
  background-color: #1a3f36;
  border-color: #102520;
}
.bright.triad {
  color: #f3f8f3;
  background-color: #0f4c3c;
  border-color: #092d24;
}
.third.triad {
  background-color: #495425;
  border-color: #2a3015;
}
.light.third.triad {
  color: #f3f8f3;
  background-color: #7b8560;
  border-color: #424733;
}
.dark.third.triad {
  color: #f3f8f3;
  background-color: #353f1b;
  border-color: #1f2610;
}
.bright.third.triad {
  color: #f3f8f3;
  background-color: #3b4d0f;
  border-color: #222d09;
}
.tetrad {
  background-color: #255442;
  border-color: #153025;
}
.light.tetrad {
  color: #f3f8f3;
  background-color: #608575;
  border-color: #33473f;
}
.dark.tetrad {
  color: #f3f8f3;
  background-color: #1a3f2f;
  border-color: #10261c;
}
.bright.tetrad {
  color: #f3f8f3;
  background-color: #0f4d2f;
  border-color: #092d1c;
}
.second.tetrad {
  background-color: #2f2b4a;
  border-color: #1b182b;
}
.light.second.tetrad {
  color: #f3f8f3;
  background-color: #67677b;
  border-color: #373743;
}
.dark.second.tetrad {
  color: #f3f8f3;
  background-color: #222136;
  border-color: #141320;
}
.bright.second.tetrad {
  color: #f3f8f3;
  background-color: #19153f;
  border-color: #0f0c25;
}
.third.tetrad {
  background-color: #4a2b2d;
  border-color: #2a181a;
}
.light.third.tetrad {
  color: #f3f8f3;
  background-color: #7b6766;
  border-color: #423736;
}
.dark.third.tetrad {
  color: #f3f8f3;
  background-color: #352121;
  border-color: #201313;
}
.bright.third.tetrad {
  color: #f3f8f3;
  background-color: #3e1517;
  border-color: #250c0e;
}
.fourth.tetrad {
  background-color: #405425;
  border-color: #243015;
}
.light.fourth.tetrad {
  color: #f3f8f3;
  background-color: #748560;
  border-color: #3e4733;
}
.dark.fourth.tetrad {
  color: #f3f8f3;
  background-color: #2e3f1b;
  border-color: #1b2610;
}
.bright.fourth.tetrad {
  color: #f3f8f3;
  background-color: #2d4d0f;
  border-color: #1a2d09;
}
.warm {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201%201%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23bf4f43%22%20opacity%3D%220.2%22%20d%3D%22M0%200h1v1H0z%22%2F%3E%3C%2Fsvg%3E");
}
.cool {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201%201%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23212999%22%20opacity%3D%220.2%22%20d%3D%22M0%200h1v1H0z%22%2F%3E%3C%2Fsvg%3E");
}
.neutral {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201%201%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23047b04%22%20opacity%3D%220.16%22%20d%3D%22M0%200h1v1H0z%22%2F%3E%3C%2Fsvg%3E");
}
.dull {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201%201%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%235d705d%22%20opacity%3D%220.38%22%20d%3D%22M0%200h1v1H0z%22%2F%3E%3C%2Fsvg%3E");
}
.responsive {
  column-gap: 0.382rem;
  grid-gap: 0.382rem;
}
.responsive.padding,
.modal,
.container {
  padding: 0.382rem;
}
.responsive.margin,
.container {
  margin: 0.764rem;
}
.responsive.gutter {
  margin: 1.528rem;
}
@media screen and (min-width: 41rem) {
  .responsive {
    column-gap: 0.618rem;
    grid-gap: 0.618rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 0.618rem;
  }
  .responsive.margin,
  .container {
    margin: 1.236rem;
  }
  .responsive.gutter {
    margin: 2.472rem;
  }
}
@media screen and (min-width: 59rem) {
  .responsive {
    column-gap: 1rem;
    grid-gap: 1rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1rem;
  }
  .responsive.margin,
  .container {
    margin: 2rem;
  }
  .responsive.gutter {
    margin: 4rem;
  }
}
.grid,
.two-column,
.three-column {
  display: grid;
  grid-gap: 2rem;
  margin-bottom: 2rem;
}
.grid.tablet,
.two-column.tablet,
.three-column.tablet,
.grid.mobile.tablet,
.two-column.mobile.tablet,
.three-column.mobile.tablet,
.grid.desktop,
.two-column.desktop,
.three-column.desktop {
  display: unset;
}
.grid {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.two-column {
  grid-template-columns: 1fr 1fr;
}
.two-column.golden {
  grid-template-columns: 1.618fr 1fr;
}
.two-column.golden.reverse {
  grid-template-columns: 1fr 1.618fr;
}
.three-column {
  grid-template-columns: 1fr 1fr 1fr;
}
.three-column.golden {
  grid-template-columns: 1fr 1.618fr 1fr;
}
.three-column.golden.leading {
  grid-template-columns: 1.618fr 1fr 1fr;
}
.three-column.golden.trailing {
  grid-template-columns: 1fr 1fr 1.618fr;
}
.grid-width-one {
  grid-column: auto / span 1;
}
.grid-width-two {
  grid-column: auto / span 2;
}
.grid-width-three {
  grid-column: auto / span 3;
}
.grid-width-four {
  grid-column: auto / span 4;
}
.grid-width-five {
  grid-column: auto / span 5;
}
.grid-width-six {
  grid-column: auto / span 6;
}
.grid-width-seven {
  grid-column: auto / span 7;
}
.grid-width-eight {
  grid-column: auto / span 8;
}
.grid-width-nine {
  grid-column: auto / span 9;
}
.grid-width-ten {
  grid-column: auto / span 10;
}
.grid-width-eleven {
  grid-column: auto / span 11;
}
.grid-width-twelve {
  grid-column: auto / span 12;
}
@media screen and (max-width: calc(41rem - 1px)) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: grid;
  }
}
@media screen and (min-width: 41rem) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: initial;
  }
  .grid.tablet,
  .two-column.tablet,
  .three-column.tablet {
    display: grid;
  }
}
@media screen and (max-width: calc(59rem - 1px)) {
  .grid.mobile.tablet,
  .two-column.mobile.tablet,
  .three-column.mobile.tablet {
    display: grid;
  }
}
@media screen and (min-width: 59rem) {
  .grid.desktop,
  .two-column.desktop,
  .three-column.desktop {
    display: grid;
  }
}
.gutter {
  margin: 4rem;
}
.gutter-top {
  margin-top: 4rem;
}
.gutter-right {
  margin-right: 4rem;
}
.gutter-bottom {
  margin-bottom: 4rem;
}
.gutter-left {
  margin-left: 4rem;
}
.text-padding {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-padding-top {
  padding-top: 0.18em;
}
.text-padding-right {
  padding-right: 0.3236em;
}
.text-padding-bottom {
  padding-bottom: 0.22em;
}
.text-padding-left {
  padding-left: 0.3236em;
}
.text-margin {
  margin: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-margin-top {
  margin-top: 0.18em;
}
.text-margin-right {
  margin-right: 0.3236em;
}
.text-margin-bottom {
  margin-bottom: 0.22em;
}
.text-margin-left {
  margin-left: 0.3236em;
}
.bottom-margins * {
  margin-bottom: 2rem;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.inline-break::after {
  content: "\A";
  white-space: pre;
}
.initial {
  display: initial;
}
.table {
  display: table;
}
.flex,
.vertical-center,
.center-vertical {
  display: flex;
}
.inline-block {
  display: inline-block;
}
.static {
  position: static;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.margin-auto,
.container {
  margin-left: auto !important;
  margin-right: auto !important;
}
.width-auto {
  width: auto;
}
.inset {
  box-shadow: inset 1px 1px 1px rgba(8, 22, 8, 0.2);
}
.inset.shallow {
  box-shadow: inset 0.5px 0.5px 1px rgba(8, 22, 8, 0.2);
}
.inset.deep {
  box-shadow: inset 2px 2px 1px rgba(8, 22, 8, 0.2);
}
.box-shadow.shallow {
  box-shadow: 0.5px 0.5px 1px rgba(8, 22, 8, 0.2);
}
.box-shadow.deep {
  box-shadow: 2px 2px 1px rgba(8, 22, 8, 0.2);
}
.viewport-height {
  height: 100vh;
}
.min-viewport-height {
  min-height: 100vh;
}
.overflow-hidden {
  overflow: hidden;
}
.dashed {
  border-style: dashed;
}
.dotted {
  border-style: dotted;
}
.thick {
  border-width: 2px;
}
.thin {
  border-width: 0.5px;
}
.current-color {
  border-color: currentColor;
}
.fade {
  opacity: 0.65;
}
.monospace,
pre,
code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
}
.sans-serif {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.serif {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "Droid Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.text-transparent {
  color: transparent;
}
.big {
  font-size: 125%;
  line-height: 2.25;
}
.big.font-size {
  font-size: 22.5px;
}
.small,
.badge {
  font-size: 87.5%;
  line-height: 1.575;
}
.small.font-size {
  font-size: 15.75px;
}
.huge {
  font-size: 160%;
}
.huge.font-size {
  font-size: 28.8px;
}
.text-trim {
  line-height: 1;
}
.text-align-center,
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.grid-gap-margin {
  grid-gap: 2rem;
}
.grid-gap-border-width {
  grid-gap: 1px;
}
.grid-gap-text-padding,
.grid-gap-text-margin {
  grid-gap: 0.3236em;
}
.shade,
.white,
.orange,
.bright.orange,
.yellow,
.bright.yellow,
.light.green,
.light.teal,
.cyan,
.bright.cyan,
.bright.magenta,
.light.gray,
.default,
.bright.default,
body,
input,
textarea,
.info,
.bright.info,
.warning,
.bright.warning,
.light.success {
  color: #081608;
}
.tint,
.black,
.red,
.bright.red,
.dark.orange,
.green,
.bright.green,
.teal,
.bright.teal,
.blue,
.bright.blue,
.purple,
.bright.purple,
.magenta,
.gray,
.bright.gray,
.reaction,
.bright.reaction,
.dark.default,
.complement,
.accent,
.second.accent,
.split,
.second.split,
.triad,
.third.triad,
.tetrad,
.second.tetrad,
.third.tetrad,
.fourth.tetrad,
.dark.warning,
.success,
.bright.success,
.failure,
.bright.failure,
.second.triad {
  color: #f3f8f3;
}
.transparent {
  background-color: transparent;
  color: inherit;
  border-color: inherit;
}
.transparent.light {
  background-color: rgba(243, 248, 243, 0.16);
}
.transparent.dark,
.modal {
  background-color: rgba(8, 22, 8, 0.25);
}
.trim,
.trim-inner *,
.trim-all,
.trim-all * {
  margin-bottom: 0;
}
.bump {
  position: relative;
}
.bump.up {
  top: -2px;
}
.bump.down {
  top: 2px;
}
.bump.left {
  left: -2px;
}
.bump.right {
  right: initial;
  left: 2px;
}
.hidden {
  display: none !important;
}
.clearfix,
.clear {
  clear: both;
}
.clearfix::after,
.clear::after {
  display: block;
  clear: both;
  content: "";
}
.character-width {
  max-width: 1ch;
}
.golden-width {
  max-width: calc(62% - 4rem);
}
.golden-width.reverse {
  max-width: 38%;
}
.aside-width {
  max-width: 22rem;
}
@media screen and (min-width: 41rem) {
  .text-width {
    max-width: 37rem;
  }
}
.page-width,
.container {
  max-width: 59rem;
}
.full-width,
.page-width .page-width {
  display: block;
  width: 100%;
}
.inner-aside-width {
  padding-left: calc(50% - 11rem);
  padding-right: calc(50% - 11rem);
}
.inner-aside-width.padding {
  padding-left: calc(50% - 10rem);
  padding-right: calc(50% - 10rem);
}
.inner-aside-width.responsive.padding {
  padding-left: calc(50% - 10.62rem);
  padding-right: calc(50% - 10.62rem);
}
@media screen and (max-width: calc(41rem - 1px)) {
  .inner-text-width {
    padding-left: initial;
    padding-right: initial;
  }
  .inner-text-width.padding {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .inner-text-width.responsive.padding {
    padding-left: 0.382rem;
    padding-right: 0.382rem;
  }
}
@media screen and (min-width: 41rem) {
  .inner-aside-width.tablet.padding {
    padding-left: calc(50% - 10rem);
    padding-right: calc(50% - 10rem);
  }
  .inner-aside-width.tablet.responsive.padding {
    padding-left: calc(50% - 10.38rem);
    padding-right: calc(50% - 10.38rem);
  }
  .inner-text-width {
    padding-left: calc(50% - 18.5rem);
    padding-right: calc(50% - 18.5rem);
  }
  .inner-text-width.padding {
    padding-left: calc(50% - 17.5rem);
    padding-right: calc(50% - 17.5rem);
  }
  .inner-text-width.responsive.padding {
    padding-left: calc(50% - 17.88rem);
    padding-right: calc(50% - 17.88rem);
  }
}
@media screen and (min-width: 59rem) {
  .inner-aside-width.desktop.padding {
    padding-left: calc(50% - 10rem);
    padding-right: calc(50% - 10rem);
  }
  .inner-aside-width.desktop.responsive.padding {
    padding-left: calc(50% - 10rem);
    padding-right: calc(50% - 10rem);
  }
  .inner-text-width.desktop.padding {
    padding-left: calc(50% - 17.5rem);
    padding-right: calc(50% - 17.5rem);
  }
  .inner-text-width.desktop.responsive.padding {
    padding-left: calc(50% - 17.5rem);
    padding-right: calc(50% - 17.5rem);
  }
  .inner-page-width {
    padding-left: calc(50% - 29.5rem);
    padding-right: calc(50% - 29.5rem);
  }
  .inner-page-width.padding {
    padding-left: calc(50% - 28.5rem);
    padding-right: calc(50% - 28.5rem);
  }
  .inner-page-width.responsive.padding {
    padding-left: calc(50% - 28.5rem);
    padding-right: calc(50% - 28.5rem);
  }
}
.placeholder {
  min-height: 10px;
}
.placeholder::after {
  content: " ";
  white-space: pre;
}
.square::before,
.one-to-one::before,
.four-to-three::before,
.sixteen-to-nine::before,
.two-to-one::before {
  content: "";
  display: block;
  width: 0;
}
.square::before,
.one-to-one::before {
  padding-top: 100%;
}
.four-to-three::before {
  padding-top: 75%;
}
.sixteen-to-nine::before {
  padding-top: 56.25%;
}
.two-to-one::before {
  padding-top: 50%;
}
.hide {
  display: none;
}
.hide.tablet {
  display: initial;
}
.hide.desktop {
  display: initial;
}
@media screen and (max-width: calc(41rem - 1px)) {
  .hide.mobile {
    display: none;
  }
}
@media screen and (min-width: 41rem) {
  .hide.mobile {
    display: initial;
  }
  .hide.tablet {
    display: none;
  }
}
@media screen and (min-width: 59rem) {
  .hide.desktop {
    display: none;
  }
  .hide.mobile.tablet {
    display: initial;
  }
}
@media screen and (max-width: calc(59rem - 1px)) {
  .hide.mobile.tablet {
    display: none;
  }
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-margin-right {
  margin-right: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.no-margin-left {
  margin-left: 0 !important;
}
.no-padding {
  padding: 0;
}
.no-margin,
.no-gutter {
  margin: 0;
}
.no-side-margin,
.no-side-margins {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.no-margins {
  margin: 0 !important;
}
.no-margins * {
  margin: 0 !important;
}
.no-box-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  box-shadow: unset;
}
.no-text-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  text-shadow: unset;
}
.no-border,
.no-borders,
.no-borders * {
  border-width: 0 !important;
}
.no-background {
  background: transparent;
}
.no-text-indent {
  text-indent: 0;
}
.no-text,
.no-text * {
  text-indent: -9999px;
}
.no-text-align {
  text-align: initial;
}
.no-underline {
  text-decoration: none;
}
.no-user-select {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.no-pointer-events {
  pointer-events: none;
}
.no-list-style {
  list-style-type: none;
  margin-left: 0;
}
.no-grid-gap,
.no-column-gap {
  grid-gap: 0;
  column-gap: 0;
}
