/* This project uses Cavepaint (MIT License) by Rex Riepe */
/* https://github.com/cavepaint/cavepaintCSS */
* {
  margin: 0 0 1.62rem 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  margin-bottom: 0;
}
.button,
button {
  border-style: solid;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(2, 41, 10, 0.16);
  display: inline;
  position: relative;
  font-family: inherit;
  font-size: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  color: inherit;
  background-color: inherit;
  border-color: #8a2f6b;
  border-width: 1px;
  line-height: 1.6;
  text-align: center;
  vertical-align: middle;
  outline: none;
  white-space: nowrap;
  text-decoration: none;
  touch-action: manipulation;
  cursor: pointer;
  transform: scale(1);
  transition: 0.08s linear;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.button:active,
button:active {
  transform: scale(0.99);
  box-shadow: unset;
}
.bar {
  position: relative;
  width: 100%;
  display: block;
  vertical-align: middle;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.bar > * {
  display: inline;
  margin-right: 0.3236em;
  margin-left: 0.3236em;
  margin-bottom: 0;
}
.card {
  position: relative;
  overflow: hidden;
  padding: 1.62rem;
  border: 1px solid #c14a99;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(2, 41, 10, 0.16);
}
.card > *:first-child {
  margin-top: 0;
}
.card > *:last-child {
  margin-bottom: 0;
}
.badge {
  border-radius: 0.5em;
  line-height: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  padding-right: 0.6472em;
  padding-left: 0.6472em;
  vertical-align: middle;
  border-radius: 99px;
  white-space: nowrap;
}
.modal {
  display: none;
  max-width: none;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  position: fixed;
  bottom: 0;
  justify-content: center;
  flex: 0 1 auto;
  flex-direction: column;
  height: 100vh;
}
.modal > * {
  flex-direction: column;
  color: #290220;
  position: relative;
  background: #fff0fc;
  padding: 1.62rem;
  margin-bottom: 3.24rem;
  border-radius: 0.5em;
  box-shadow: 1.41px 1.41px 1.41px rgba(2, 41, 10, 0.16);
  margin: 1.62rem;
}
@media screen and (min-width: 49.24rem) {
  .modal > * {
    max-width: 74rem;
    margin: 0 auto;
  }
}
.overlay {
  margin: 0;
  padding: 0;
  position: relative;
}
.overlay .top,
.overlay .bottom,
.overlay .left,
.overlay .right {
  position: absolute;
}
.overlay .top {
  top: 0.3236em;
}
.overlay .bottom {
  bottom: 0.3236em;
}
.overlay .left {
  left: 0.3236em;
}
.overlay .right {
  right: 0.3236em;
}
.overlay.stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.overlay * {
  margin: 0;
  display: block;
}
.grid,
.two-column,
.three-column {
  display: grid;
  grid-gap: 1.62rem;
}
.grid.tablet,
.two-column.tablet,
.three-column.tablet,
.grid.mobile.tablet,
.two-column.mobile.tablet,
.three-column.mobile.tablet,
.grid.desktop,
.two-column.desktop,
.three-column.desktop {
  display: initial;
}
.grid {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.two-column {
  grid-template-columns: 1fr 1fr;
}
.two-column.golden {
  grid-template-columns: 1.618fr 1fr;
}
.two-column.golden.reverse {
  grid-template-columns: 1fr 1.618fr;
}
.three-column {
  grid-template-columns: 1fr 1fr 1fr;
}
.three-column.golden {
  grid-template-columns: 1fr 1.618fr 1fr;
}
.three-column.golden.leading {
  grid-template-columns: 1.618fr 1fr 1fr;
}
.three-column.golden.trailing {
  grid-template-columns: 1fr 1fr 1.618fr;
}
.grid-width-one {
  grid-column: auto / span 1;
}
.grid-width-two {
  grid-column: auto / span 2;
}
.grid-width-three {
  grid-column: auto / span 3;
}
.grid-width-four {
  grid-column: auto / span 4;
}
.grid-width-five {
  grid-column: auto / span 5;
}
.grid-width-six {
  grid-column: auto / span 6;
}
.grid-width-seven {
  grid-column: auto / span 7;
}
.grid-width-eight {
  grid-column: auto / span 8;
}
.grid-width-nine {
  grid-column: auto / span 9;
}
.grid-width-ten {
  grid-column: auto / span 10;
}
.grid-width-eleven {
  grid-column: auto / span 11;
}
.grid-width-twelve {
  grid-column: auto / span 12;
}
@media screen and (max-width: calc(49.24rem - 1px)) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: grid;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 49.24rem) {
  .grid.mobile,
  .two-column.mobile,
  .three-column.mobile {
    display: initial;
  }
  .grid.mobile > *,
  .two-column.mobile > *,
  .three-column.mobile > * {
    margin-bottom: initial;
  }
  .grid.tablet,
  .two-column.tablet,
  .three-column.tablet {
    display: grid;
  }
  .grid.tablet > *,
  .two-column.tablet > *,
  .three-column.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (max-width: calc(74rem - 1px)) {
  .grid.mobile.tablet,
  .two-column.mobile.tablet,
  .three-column.mobile.tablet {
    display: grid;
  }
  .grid.mobile.tablet > *,
  .two-column.mobile.tablet > *,
  .three-column.mobile.tablet > * {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 74rem) {
  .grid.desktop,
  .two-column.desktop,
  .three-column.desktop {
    display: grid;
  }
  .grid.desktop > *,
  .two-column.desktop > *,
  .three-column.desktop > * {
    margin-bottom: 0;
  }
}
.responsive {
  column-gap: 0.619rem;
  grid-gap: 0.619rem;
}
.responsive.padding,
.modal,
.container {
  padding: 0.619rem;
}
.responsive.margin,
.container {
  margin: 0.619rem;
}
.responsive.gutter {
  margin: 1.238rem;
}
@media screen and (min-width: 49.24rem) {
  .responsive {
    column-gap: 1.001rem;
    grid-gap: 1.001rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.001rem;
  }
  .responsive.margin,
  .container {
    margin: 1.001rem;
  }
  .responsive.gutter {
    margin: 2.002rem;
  }
}
@media screen and (min-width: 74rem) {
  .responsive {
    column-gap: 1.62rem;
    grid-gap: 1.62rem;
  }
  .responsive.padding,
  .modal,
  .container {
    padding: 1.62rem;
  }
  .responsive.margin,
  .container {
    margin: 1.62rem;
  }
  .responsive.gutter {
    margin: 3.24rem;
  }
}
.background {
  background: #fff0fc;
}
.background-color {
  background-color: #fff0fc;
}
.border {
  border: 1px solid #c14a99;
}
.border-radius,
.rounded {
  border-radius: 0.5em;
}
.border-bottom {
  border-bottom: 1px solid #c14a99;
}
.border-left {
  border-left: 1px solid #c14a99;
}
.border-right {
  border-right: 1px solid #c14a99;
}
.border-style,
.button.border,
button.border {
  border-style: solid;
}
.border-top {
  border-top: 1px solid #c14a99;
}
.border-width,
.button.border,
button.border {
  border-width: 1px;
}
.max-width {
  max-width: 74rem;
}
.min-width {
  min-width: 28rem;
}
.align-content {
  align-content: stretch;
}
.align-items {
  align-items: stretch;
}
.align-self {
  align-self: auto;
}
.flex,
.vertical-center,
.center-vertical {
  flex: 0 1 auto;
}
.flex-basis {
  flex-basis: auto;
}
.flex-direction,
.vertical-center,
.center-vertical {
  flex-direction: column;
}
.flex-flow {
  flex-flow: column nowrap;
}
.flex-grow {
  flex-grow: 0;
}
.flex-shrink {
  flex-shrink: 1;
}
.flex-wrap {
  flex-wrap: nowrap;
}
.justify-content,
.vertical-center,
.center-vertical {
  justify-content: center;
}
.font-family,
body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
}
.font-size {
  font-size: 22px;
}
.font-weight {
  font-weight: normal;
}
.list-style {
  list-style: disc inside none;
}
.list-style-type {
  list-style-type: disc;
}
.margin {
  margin: 1.62rem;
}
.margin-bottom {
  margin-bottom: 1.62rem;
}
.margin-left {
  margin-left: 1.62rem;
}
.margin-right {
  margin-right: 1.62rem;
}
.margin-top {
  margin-top: 1.62rem;
}
.column-gap {
  column-gap: 1.94em;
}
.column-rule {
  column-rule: 1px solid #c14a99;
}
.padding {
  padding: 1.62rem;
}
.padding-bottom {
  padding-bottom: 1.62rem;
}
.padding-left {
  padding-left: 1.62rem;
}
.padding-right {
  padding-right: 1.62rem;
}
.padding-top {
  padding-top: 1.62rem;
}
.text-align {
  text-align: left;
}
.text-align-last {
  text-align-last: left;
}
.text-indent {
  text-indent: 2ch;
}
.text-justify {
  text-justify: justify;
}
.text-overflow {
  text-overflow: hidden;
}
.text-shadow {
  text-shadow: 1.41px 1.41px 1.41px rgba(2, 41, 10, 0.16);
}
.line-height {
  line-height: 1.8;
}
.vertical-align {
  vertical-align: middle;
}
.letter-spacing {
  letter-spacing: 0;
}
.word-spacing {
  word-spacing: normal;
}
.white-space {
  white-space: nowrap;
}
.word-break {
  word-break: break-all;
}
.word-wrap {
  word-wrap: break-word;
}
.transform {
  transform: none;
}
.transition {
  transition: all 0s ease 0s;
}
.display {
  display: block;
}
.position {
  position: absolute;
}
.top {
  top: 0;
}
.right {
  right: 0;
}
.bottom {
  bottom: 0;
}
.left {
  left: 0;
}
.float {
  float: left;
}
.clear {
  clear: both;
}
.z-index {
  z-index: 10;
}
.overflow {
  overflow: hidden;
}
.overflow-x {
  overflow-x: hidden;
}
.cursor {
  cursor: pointer;
}
.box-shadow {
  box-shadow: 1.41px 1.41px 1.41px rgba(2, 41, 10, 0.16);
}
.gutter {
  margin: 3.24rem;
}
.gutter-top {
  margin-top: 3.24rem;
}
.gutter-right {
  margin-right: 3.24rem;
}
.gutter-bottom {
  margin-bottom: 3.24rem;
}
.gutter-left {
  margin-left: 3.24rem;
}
.text-padding {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-padding-top {
  padding-top: 0.18em;
}
.text-padding-right {
  padding-right: 0.3236em;
}
.text-padding-bottom {
  padding-bottom: 0.22em;
}
.text-padding-left {
  padding-left: 0.3236em;
}
.text-margin {
  margin: 0.18em 0.3236em 0.22em 0.3236em;
}
.text-margin-top {
  margin-top: 0.18em;
}
.text-margin-right {
  margin-right: 0.3236em;
}
.text-margin-bottom {
  margin-bottom: 0.22em;
}
.text-margin-left {
  margin-left: 0.3236em;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.initial {
  display: initial;
}
.table {
  display: table;
}
.flex,
.vertical-center,
.center-vertical {
  display: flex;
}
.inline-block {
  display: inline-block;
}
.static {
  position: static;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.margin-auto,
.container {
  margin-left: auto;
  margin-right: auto;
}
.width-auto {
  width: auto;
}
.inset {
  box-shadow: inset 1.41px 1.41px 1.41px rgba(2, 41, 10, 0.16);
}
.viewport-height {
  height: 100vh;
}
.min-viewport-height {
  min-height: 100vh;
}
.overflow-hidden {
  overflow: hidden;
}
.dashed {
  border-style: dashed;
}
.dotted {
  border-style: dotted;
}
.thick {
  border-width: 2px;
}
.thin {
  border-width: 0.5px;
}
.current-color {
  border-color: currentColor;
}
.fade {
  opacity: 0.65;
}
.serif,
.font-family-serif {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "Droid Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
.monospace,
.font-family-monospace,
pre,
code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
}
.sans-serif,
.font-family-sans-serif {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.text-transparent {
  color: transparent;
}
.reset {
  all: initial;
}
.big {
  font-size: 125%;
  line-height: 2.25;
}
.big.font-size {
  font-size: 27.5px;
}
.small,
.badge {
  font-size: 87.5%;
  line-height: 1.575;
}
.small.font-size {
  font-size: 19.25px;
}
.huge {
  font-size: 160%;
}
.huge.font-size {
  font-size: 35.2px;
}
.text-trim {
  line-height: 1;
}
.text-align-center,
.text-center {
  text-align: center;
}
.text-align-left,
.text-left {
  text-align: left;
}
.text-align-right,
.text-right {
  text-align: right;
}
.text-align-justify,
.text-justify {
  text-align: justify;
}
.grid-gap-margin {
  grid-gap: 1.62rem;
}
.grid-gap-border-width {
  grid-gap: 1px;
}
.grid-gap-text-padding,
.grid-gap-text-margin {
  grid-gap: 0.3236em;
}
.shade,
.white,
.orange,
.yellow,
.light.olive,
.cyan,
.skyblue,
.violet,
.light.magenta,
.lavender,
.cream,
.light.clover,
.pewter,
.light.hotpink,
.neongreen,
.electricblue,
.lemon,
.lime,
.tangerine,
.light.reaction,
.light.warm,
.light.cool,
.split,
.second.tetrad,
.light.highlight,
body,
input,
textarea,
.info,
.warning {
  color: #290220;
}
.tint,
.black,
.red,
.olive,
.green,
.teal,
.blue,
.indigo,
.purple,
.dark.violet,
.gray,
.brown,
.magenta,
.charcoal,
.crimson,
.clover,
.cobalt,
.graphite,
.ruby,
.onyx,
.dark.pewter,
.gunmetal,
.hotpink,
.royalpurple,
.grapefruit,
.reaction,
.default,
.warm,
.cool,
.neutral,
.complement,
.accent,
.second.accent,
.second.split,
.triad,
.third.triad,
.tetrad,
.third.tetrad,
.fourth.tetrad,
.highlight,
.success,
.failure,
.second.triad {
  color: #fff0fc;
}
.transparent {
  background-color: transparent;
  color: inherit;
  border-color: inherit;
}
.transparent.light {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23FFF%22%20fill-opacity%3D%220.16%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.transparent.dark,
.modal {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22%23000%22%20fill-opacity%3D%220.25%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.trim,
.trim-inner *,
.trim-all,
.trim-all * {
  margin-bottom: 0;
}
.hidden {
  display: none !important;
}
.clearfix,
.clear {
  clear: both;
}
.clearfix::after,
.clear::after {
  display: block;
  clear: both;
  content: "";
}
.golden-width {
  max-width: calc(62% - 3.24rem);
}
.golden-width.reverse {
  max-width: 38%;
}
.aside-width {
  max-width: 28rem;
}
@media screen and (min-width: 49.24rem) {
  .text-width {
    max-width: 46rem;
  }
}
.page-width,
.container {
  max-width: 74rem;
}
.full-width,
.aside-width .aside-width,
.text-width .text-width,
.page-width .page-width {
  display: block;
  width: 100%;
}
.inner-aside-width {
  padding-left: calc(50% - 14rem);
  padding-right: calc(50% - 14rem);
}
.inner-aside-width.padding {
  padding-left: calc(50% - 12.38rem);
  padding-right: calc(50% - 12.38rem);
}
.inner-aside-width.responsive.padding {
  padding-left: calc(50% - 13.38rem);
  padding-right: calc(50% - 13.38rem);
}
@media screen and (max-width: calc(49.24rem - 1px)) {
  .inner-text-width {
    padding-left: initial;
    padding-right: initial;
  }
  .inner-text-width.padding {
    padding-left: 1.62rem;
    padding-right: 1.62rem;
  }
  .inner-text-width.responsive.padding {
    padding-left: 0.619rem;
    padding-right: 0.619rem;
  }
}
@media screen and (min-width: 49.24rem) {
  .inner-aside-width.tablet.padding {
    padding-left: calc(50% - 12.38rem);
    padding-right: calc(50% - 12.38rem);
  }
  .inner-aside-width.tablet.responsive.padding {
    padding-left: calc(50% - 13rem);
    padding-right: calc(50% - 13rem);
  }
  .inner-text-width {
    padding-left: calc(50% - 23rem);
    padding-right: calc(50% - 23rem);
  }
  .inner-text-width.padding {
    padding-left: calc(50% - 21.38rem);
    padding-right: calc(50% - 21.38rem);
  }
  .inner-text-width.responsive.padding {
    padding-left: calc(50% - 22rem);
    padding-right: calc(50% - 22rem);
  }
}
@media screen and (min-width: 74rem) {
  .inner-aside-width.desktop.padding {
    padding-left: calc(50% - 12.38rem);
    padding-right: calc(50% - 12.38rem);
  }
  .inner-aside-width.desktop.responsive.padding {
    padding-left: calc(50% - 12.38rem);
    padding-right: calc(50% - 12.38rem);
  }
  .inner-text-width.desktop.padding {
    padding-left: calc(50% - 21.38rem);
    padding-right: calc(50% - 21.38rem);
  }
  .inner-text-width.desktop.responsive.padding {
    padding-left: calc(50% - 21.38rem);
    padding-right: calc(50% - 21.38rem);
  }
  .inner-page-width {
    padding-left: calc(50% - 37rem);
    padding-right: calc(50% - 37rem);
  }
  .inner-page-width.padding {
    padding-left: calc(50% - 35.38rem);
    padding-right: calc(50% - 35.38rem);
  }
  .inner-page-width.responsive.padding {
    padding-left: calc(50% - 35.38rem);
    padding-right: calc(50% - 35.38rem);
  }
}
.texture,
.pattern {
  background-position: top center;
}
.texture {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20viewBox%3D'0%200%203.175%201.588'%20height%3D'22'%20width%3D'44'%3E%3Cg%20fill%3D'%23fff0fc'%20fill-opacity%3D'0.05'%3E%3Cpath%20d%3D'M1.317%201.194h-.92l.23-.399.23-.398.23.398zM2.312%201.194l-.23-.399-.23-.398h.92l-.23.398z'/%3E%3C/g%3E%3C/svg%3E");
}
.pattern {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20width%3D'80'%20height%3D'50'%20viewBox%3D'0%200%2021.167%2013.229'%3E%3Cpath%20fill%3D'%23fff0fc'%20opacity%3D'0.05'%20d%3D'M0%200h21.167v6.615H0z'/%3E%3C/svg%3E");
}
.placeholder::before {
  content: " ";
  white-space: pre;
}
.placeholder::after {
  content: "";
}
.placeholder.image,
.placeholder.video,
.placeholder.avatar {
  position: relative;
}
.placeholder.image::before,
.placeholder.video::before,
.placeholder.avatar::before {
  position: absolute;
  top: calc(50% - 4rem);
  right: 0;
  bottom: 0;
  left: 0;
  display: inline-block;
  text-align: center;
  font-size: 4rem;
  vertical-align: middle;
}
.placeholder.image.small::before,
.placeholder.video.small::before,
.placeholder.avatar.small::before {
  top: calc(50% - 2rem);
  font-size: 2rem;
}
.placeholder.image.big::before,
.placeholder.video.big::before,
.placeholder.avatar.big::before {
  top: calc(50% - 6rem);
  font-size: 6rem;
}
.placeholder.image.huge::before,
.placeholder.video.huge::before,
.placeholder.avatar.huge::before {
  top: calc(50% - 8rem);
  font-size: 8rem;
}
.placeholder.image::after,
.placeholder.video::after,
.placeholder.avatar::after {
  display: block;
}
.placeholder.image::before {
  content: "\1f5bc";
}
.placeholder.image::after {
  padding-top: 75%;
}
.placeholder.video::before {
  content: "\25B6";
}
.placeholder.video::after {
  padding-top: 56.25%;
}
.placeholder.avatar::before {
  content: "\263A";
}
.placeholder.avatar::after {
  padding-top: 100%;
}
.placeholder.no-icon::before {
  content: "";
}
.hide {
  display: none;
}
.hide.tablet {
  display: initial;
}
.hide.desktop {
  display: initial;
}
@media screen and (max-width: calc(49.24rem - 1px)) {
  .hide.mobile {
    display: none;
  }
}
@media screen and (min-width: 49.24rem) {
  .hide.mobile {
    display: initial;
  }
  .hide.tablet {
    display: none;
  }
}
@media screen and (min-width: 74rem) {
  .hide.desktop {
    display: none;
  }
  .hide.mobile.tablet {
    display: initial;
  }
}
@media screen and (max-width: calc(74rem - 1px)) {
  .hide.mobile.tablet {
    display: none;
  }
}
body {
  font-size: 22px;
  line-height: 1.8;
  margin: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
nav {
  z-index: 99;
}
nav a {
  text-decoration: none;
}
aside {
  margin: 0 auto;
  margin-bottom: 1.62rem;
  max-width: 28rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-top: 0.49443758em;
  margin-bottom: 0.74165637em;
  letter-spacing: -0.025em;
  color: inherit;
  line-height: 1.618;
}
h1 {
  font-size: 2.4em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1em;
}
p {
  margin-bottom: 1em;
}
p.gutter-bottom {
  margin-bottom: 1.618em;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: inherit;
  text-decoration: underline;
}
a.target-blank::after,
a.new-tab::after,
a.external-link::after {
  content: "\00A0\1F855";
}
form {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input {
  font-size: 22px;
  line-height: 1.8;
  border: 1px solid #c14a99;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input:focus {
  box-shadow: 0 0 2px #8da6e3;
}
fieldset {
  border: none;
  outline: none;
}
ol {
  padding-left: 4ch;
  margin-bottom: 1.62rem;
}
ol li {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
ul {
  margin-left: 1.62rem;
  margin-bottom: 1.62rem;
}
li {
  margin-bottom: 0.44em;
}
kbd {
  color: #fff0fc;
  border-radius: 0.5em;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  white-space: nowrap;
}
b {
  padding: 0.18em 0 0.22em 0;
}
pre {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  overflow: hidden;
  border-radius: 0.5em;
  background: #43323b;
  color: #fff0fc;
}
pre.white-space,
pre.word-break {
  white-space: pre-wrap;
}
pre > code {
  background: transparent;
  padding: 0;
}
code {
  color: #fff0fc;
  background-color: #372d5d;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
code.terminal::before {
  content: "$ ";
}
textarea {
  font-size: 22px;
  line-height: 1.8;
  border: 1px solid #c14a99;
  border-radius: 0.5em;
  margin-bottom: 1.62rem;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
textarea:focus {
  box-shadow: 0 0 2px #8da6e3;
}
.white,
body,
input,
textarea {
  background-color: #fff0fc;
  border-color: #8b7887;
}
.black {
  background-color: #290220;
  border-color: #140110;
}
.ambient {
  color: #fff0fc;
  background: #fe0dca;
  border-color: #8a076e;
}
.ambient.light {
  color: #290220;
  background: #fe36d3;
  border-color: #8a1b72;
}
.ambient.dark {
  color: #fff0fc;
  background: #e101b1;
  border-color: #7c0161;
}
.red,
.failure {
  background-color: #ec0119;
  border-color: #81010e;
}
.light.red,
.light.failure {
  background-color: #fe172f;
  border-color: #8a0c19;
}
.dark.red,
.dark.failure {
  background-color: #c30115;
  border-color: #6d010c;
}
.orange,
.warning {
  background-color: #fa8a18;
  border-color: #884b0c;
}
.light.orange,
.light.warning {
  background-color: #fb9e40;
  border-color: #895520;
}
.dark.orange,
.dark.warning {
  background-color: #e57605;
  border-color: #7e4103;
}
.yellow {
  background-color: #f5d118;
  border-color: #86710d;
}
.light.yellow {
  background-color: #f7d840;
  border-color: #867520;
}
.dark.yellow {
  background-color: #dcb909;
  border-color: #796605;
}
.olive {
  background-color: #9e7819;
  border-color: #59440e;
}
.light.olive {
  background-color: #c2931e;
  border-color: #6b5111;
}
.dark.olive {
  background-color: #7b5d13;
  border-color: #48360b;
}
.green,
.success {
  background-color: #297519;
  border-color: #18450e;
}
.light.green,
.light.success {
  background-color: #359720;
  border-color: #1d5511;
}
.dark.green,
.dark.success {
  background-color: #1d5412;
  border-color: #12340a;
}
.teal {
  background-color: #297897;
  border-color: #174355;
}
.light.teal {
  background-color: #3292b7;
  border-color: #1b5065;
}
.dark.teal {
  background-color: #215f77;
  border-color: #123745;
}
.cyan {
  background-color: #3ebef5;
  border-color: #206785;
}
.light.cyan {
  background-color: #65cbf7;
  border-color: #336d86;
}
.dark.cyan {
  background-color: #17b1f3;
  border-color: #0c6084;
}
.skyblue,
.info {
  background-color: #8da6e3;
  border-color: #48577b;
}
.light.skyblue,
.light.info {
  background-color: #aebfeb;
  border-color: #59647f;
}
.dark.skyblue,
.dark.info {
  background-color: #6c8cdb;
  border-color: #384a77;
}
.blue {
  background-color: #2900f5;
  border-color: #160086;
}
.light.blue {
  background-color: #441fff;
  border-color: #24108b;
}
.dark.blue {
  background-color: #2200cc;
  border-color: #130071;
}
.indigo {
  background-color: #6c0196;
  border-color: #3e0156;
}
.light.indigo {
  background-color: #8901be;
  border-color: #4d016a;
}
.dark.indigo {
  background-color: #4f006d;
  border-color: #300042;
}
.purple {
  background-color: #a3019c;
  border-color: #5d0159;
}
.light.purple {
  background-color: #cc02c3;
  border-color: #71016c;
}
.dark.purple {
  background-color: #7b0176;
  border-color: #490146;
}
.violet {
  background-color: #e762e5;
  border-color: #7e327d;
}
.light.violet {
  background-color: #ed86eb;
  border-color: #804480;
}
.dark.violet {
  background-color: #e23fe0;
  border-color: #7b217a;
}
.gray {
  background-color: #926785;
  border-color: #513749;
}
.light.gray {
  background-color: #a47d98;
  border-color: #5a4253;
}
.dark.gray {
  background-color: #7a566f;
  border-color: #452f3e;
}
.brown {
  background-color: #a54b35;
  border-color: #5c291d;
}
.light.brown {
  background-color: #c25a40;
  border-color: #6a3022;
}
.dark.brown {
  background-color: #863d2b;
  border-color: #4c2218;
}
.magenta {
  background-color: #e501e2;
  border-color: #7e017c;
}
.light.magenta {
  background-color: #fe11fa;
  border-color: #8a0988;
}
.dark.magenta {
  background-color: #bc01ba;
  border-color: #690168;
}
.lavender {
  background-color: #cdabe1;
  border-color: #6d587a;
}
.light.lavender {
  background-color: #dfc9ec;
  border-color: #76677f;
}
.dark.lavender {
  background-color: #ba8dd7;
  border-color: #644974;
}
.cream {
  background-color: #f0dece;
  border-color: #817569;
}
.light.cream {
  background-color: #f9f3ed;
  border-color: #867f79;
}
.dark.cream {
  background-color: #e6c9af;
  border-color: #7c6a5a;
}
.charcoal {
  background-color: #6b2e40;
  border-color: #3e1a24;
}
.light.charcoal {
  background-color: #883a51;
  border-color: #4d202d;
}
.dark.charcoal {
  background-color: #4f222f;
  border-color: #30141c;
}
.crimson {
  background-color: #b70928;
  border-color: #660516;
}
.light.crimson {
  background-color: #de0b30;
  border-color: #7a061b;
}
.dark.crimson {
  background-color: #90071f;
  border-color: #530412;
}
.clover {
  background-color: #5d942c;
  border-color: #345318;
}
.light.clover {
  background-color: #71b335;
  border-color: #3e631d;
}
.dark.clover {
  background-color: #497422;
  border-color: #2a4413;
}
.cobalt {
  background-color: #366dd2;
  border-color: #1c3b73;
}
.light.cobalt {
  background-color: #5785da;
  border-color: #2d4777;
}
.dark.cobalt {
  background-color: #295bb6;
  border-color: #163265;
}
.graphite {
  background-color: #372d5d;
  border-color: #201a37;
}
.light.graphite {
  background-color: #483a78;
  border-color: #282045;
}
.dark.graphite {
  background-color: #272041;
  border-color: #181329;
}
.ruby {
  background-color: #bc004b;
  border-color: #69002a;
}
.light.ruby {
  background-color: #e5015b;
  border-color: #7e0032;
}
.dark.ruby {
  background-color: #93003b;
  border-color: #550022;
}
.onyx {
  background-color: #43323b;
  border-color: #291d24;
}
.light.onyx {
  background-color: #5a4350;
  border-color: #35252e;
}
.dark.onyx {
  background-color: #2b2026;
  border-color: #1d1419;
}
.pewter {
  background-color: #a8968b;
  border-color: #5c5049;
}
.light.pewter {
  background-color: #b9aba3;
  border-color: #645b55;
}
.dark.pewter {
  background-color: #968174;
  border-color: #53463e;
}
.gunmetal {
  background-color: #5e4b78;
  border-color: #342944;
}
.light.gunmetal {
  background-color: #725a92;
  border-color: #3e3051;
}
.dark.gunmetal {
  background-color: #4a3b5f;
  border-color: #2b2138;
}
.hotpink {
  background-color: #ef4ea5;
  border-color: #822859;
}
.light.hotpink {
  background-color: #f274b8;
  border-color: #843b62;
}
.dark.hotpink {
  background-color: #ec2992;
  border-color: #80154f;
}
.neongreen {
  background-color: #43de1b;
  border-color: #24790f;
}
.light.neongreen {
  background-color: #5ee73b;
  border-color: #327e1e;
}
.dark.neongreen {
  background-color: #38b917;
  border-color: #1f670c;
}
.electricblue {
  background-color: #40aae0;
  border-color: #215c7a;
}
.light.electricblue {
  background-color: #63bae6;
  border-color: #33647d;
}
.dark.electricblue {
  background-color: #2299d6;
  border-color: #125475;
}
.royalpurple {
  background-color: #6e2c9a;
  border-color: #3d1856;
}
.light.royalpurple {
  background-color: #8535ba;
  border-color: #491d66;
}
.dark.royalpurple {
  background-color: #57237a;
  border-color: #321346;
}
.lemon {
  background-color: #fae794;
  border-color: #887c4b;
}
.light.lemon {
  background-color: #fcefbb;
  border-color: #89815e;
}
.dark.lemon {
  background-color: #f8de6d;
  border-color: #877837;
}
.lime {
  background-color: #a2c792;
  border-color: #566c4c;
}
.light.lime {
  background-color: #b9d5ac;
  border-color: #617359;
}
.dark.lime {
  background-color: #8cb977;
  border-color: #4b653e;
}
.tangerine {
  background-color: #f49a57;
  border-color: #85522c;
}
.light.tangerine {
  background-color: #f7b17d;
  border-color: #865e3f;
}
.dark.tangerine {
  background-color: #f28331;
  border-color: #844619;
}
.grapefruit {
  background-color: #d72758;
  border-color: #751530;
}
.light.grapefruit {
  background-color: #de4972;
  border-color: #79263d;
}
.dark.grapefruit {
  background-color: #b4214a;
  border-color: #641229;
}
.action,
.base-color {
  color: #fff0fc;
  background: #e71689;
  border-color: #7e0c4b;
}
.action.light,
.base-color.light {
  color: #fff0fc;
  background: #ec3a9c;
  border-color: #811e54;
}
.action.dark,
.base-color.dark {
  color: #fff0fc;
  background: #c21273;
  border-color: #6b0a40;
}
.reaction {
  background-color: #358a61;
  border-color: #1d4e36;
}
.light.reaction {
  background-color: #41a776;
  border-color: #235c41;
}
.dark.reaction {
  background-color: #2a6c4c;
  border-color: #173f2c;
}
.default {
  background-color: #c14a99;
  border-color: #692753;
}
.light.default {
  background-color: #cb68aa;
  border-color: #6f375c;
}
.dark.default {
  background-color: #a83a83;
  border-color: #5d1f48;
}
.warm {
  background-color: #e85739;
  border-color: #7e2e1d;
}
.light.warm {
  background-color: #ec765d;
  border-color: #813e30;
}
.dark.warm {
  background-color: #df3c1a;
  border-color: #7a210e;
}
.cool {
  background-color: #6378e1;
  border-color: #333f7a;
}
.light.cool {
  background-color: #8595e7;
  border-color: #444e7e;
}
.dark.cool {
  background-color: #415ada;
  border-color: #223077;
}
.neutral {
  background-color: #6b6a42;
  border-color: #3e3d25;
}
.light.neutral {
  background-color: #848352;
  border-color: #4a4a2c;
}
.dark.neutral {
  background-color: #525133;
  border-color: #31311d;
}
.complement,
.second.triad {
  background-color: #379b6a;
  border-color: #1e573b;
}
.light.complement,
.light.second.triad {
  background-color: #42b97f;
  border-color: #236645;
}
.dark.complement,
.dark.second.triad {
  background-color: #2c7d56;
  border-color: #194831;
}
.accent {
  background-color: #c40b2c;
  border-color: #6d0618;
}
.light.accent {
  background-color: #eb0e34;
  border-color: #80071d;
}
.dark.accent {
  background-color: #9e0923;
  border-color: #5a0514;
}
.second.accent {
  background-color: #bd0bc0;
  border-color: #69066b;
}
.light.second.accent {
  background-color: #e30ee6;
  border-color: #7c077e;
}
.dark.second.accent {
  background-color: #970999;
  border-color: #560558;
}
.split {
  background-color: #cda029;
  border-color: #705816;
}
.light.split {
  background-color: #dab145;
  border-color: #776024;
}
.dark.split {
  background-color: #ab8622;
  border-color: #5f4a13;
}
.second.split {
  background-color: #3818c9;
  border-color: #1f0d6f;
}
.light.second.split {
  background-color: #4824e5;
  border-color: #27137d;
}
.dark.second.split {
  background-color: #2e13a5;
  border-color: #1a0b5d;
}
.triad {
  background-color: #cd5429;
  border-color: #702e16;
}
.light.triad {
  background-color: #da6c45;
  border-color: #773a24;
}
.dark.triad {
  background-color: #ab4622;
  border-color: #5f2713;
}
.third.triad {
  background-color: #7b10c9;
  border-color: #44096f;
}
.light.third.triad {
  background-color: #9216ec;
  border-color: #4f0c81;
}
.dark.third.triad {
  background-color: #640da4;
  border-color: #39075c;
}
.tetrad {
  background-color: #cd2e29;
  border-color: #701916;
}
.light.tetrad {
  background-color: #da4a45;
  border-color: #772724;
}
.dark.tetrad {
  background-color: #ab2722;
  border-color: #5f1513;
}
.second.tetrad {
  background-color: #65a829;
  border-color: #385d16;
}
.light.second.tetrad {
  background-color: #79c831;
  border-color: #426e1a;
}
.dark.second.tetrad {
  background-color: #518721;
  border-color: #2e4d12;
}
.third.tetrad {
  background-color: #3889c9;
  border-color: #1e4b6e;
}
.light.third.tetrad {
  background-color: #589cd2;
  border-color: #2e5472;
}
.dark.third.tetrad {
  background-color: #2e74ab;
  border-color: #19405f;
}
.fourth.tetrad {
  background-color: #a010c9;
  border-color: #59096f;
}
.light.fourth.tetrad {
  background-color: #bd16ec;
  border-color: #670c81;
}
.dark.fourth.tetrad {
  background-color: #820da4;
  border-color: #4a075c;
}
.highlight {
  background-color: #f002eb;
  border-color: #830180;
}
.light.highlight {
  background-color: #fe1df9;
  border-color: #8a0f87;
}
.dark.highlight {
  background-color: #c701c3;
  border-color: #6f016c;
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-margin-right {
  margin-right: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.no-margin-left {
  margin-left: 0 !important;
}
.no-padding {
  padding: 0;
}
.no-margin,
.no-gutter {
  margin: 0;
}
.no-side-margin,
.no-side-margins {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.no-margins {
  margin: 0 !important;
}
.no-margins * {
  margin: 0 !important;
}
.no-box-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  box-shadow: unset;
}
.no-text-shadow,
.no-shadow,
.no-shadows,
.no-shadows *,
.flatten,
.flatten * {
  text-shadow: unset;
}
.no-border,
.no-borders,
.no-borders * {
  border-width: 0 !important;
}
.no-background {
  background: transparent;
}
.no-text-indent {
  text-indent: 0;
}
.no-text-align {
  text-align: initial;
}
.no-user-select {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.no-pointer-events {
  pointer-events: none;
}
.no-list-style {
  list-style-type: none;
  margin-left: 0;
}
.no-grid-gap,
.no-column-gap {
  grid-gap: 0;
  column-gap: 0;
}
@media print {
  html {
    font-size: 62.5%;
  }
  * {
    box-shadow: unset !important;
    border: unset !important;
  }
  nav {
    display: none !important;
  }
  .page-width,
  .text-width,
  .container {
    all: unset;
  }
  .inner-page-width,
  .inner-text-width,
  .inner-aside-width {
    all: unset;
  }
}
