@amethyst-base: mix(#b875eb, hardlight(@ambient, #9555c5), 60%);
@amethyst: .set-color(~"amethyst", @amethyst-base, (1/4), 1.1)[];
.set-color(~"amethyst", @amethyst-base, (1/4), 1.1, @outputs: true);

@aquamarine-base: aquamarine;
@aquamarine: .set-color(~"aquamarine", @aquamarine-base, (1/2), 1.1)[];
.set-color(~"aquamarine", @aquamarine-base, (1/2), 1.1, @outputs: true);

@bronze-base: mix(peru, gold, 80%);
@bronze: .set-color(~"bronze", @bronze-base, (1/3), 1)[];
.set-color(~"bronze", @bronze-base, (1/3), 1, @outputs: true);

@charcoal-base: .set-average(black, black, black, darkslategray, brown, burlywood;)[];
@charcoal: .set-color(~"charcoal", @charcoal-base, (1/6), 1)[];
.set-color(~"charcoal", @charcoal-base, (1/6), 1, @outputs: true);

@cobalt-base: #287cdb;
@cobalt: .set-color(~"cobalt", @cobalt-base, (1/5), 1.1)[];
.set-color(~"cobalt", @cobalt-base, (1/5), 1.1, @outputs: true);

@copper-base: .set-average(pink, orange, darkorange, brown;)[];
@copper: .set-color(~"copper", @copper-base, (1/2), 1.1)[];
.set-color(~"copper", @copper-base, (1/2), 1.1, @outputs: true);

@emerald-base: mix(#00743e, hardlight(@ambient, #00743e), 80%);
@emerald: .set-color(~"emerald", @emerald-base, (1/3), 1.1)[];
.set-color(~"emerald", @emerald-base, (1/3), 1.1, @outputs: true);

@garnet-base: mix(#fd0001, hardlight(@ambient, #fd0001), 70%);
@garnet: .set-color(~"garnet", @garnet-base, (1/5), 1.1)[];
.set-color(~"garnet", @garnet-base, (1/5), 1.1, @outputs: true);

@gold-base: .set-average(gold, gold, white;)[];
@gold: .set-color(~"gold", @gold-base, (1/4), 1)[];
.set-color(~"gold", @gold-base, (1/4), 1, @outputs: true);

@granite-base: #d1b9b4;
@granite: .set-color(~"granite", @granite-base, (1/2), 1)[];
.set-color(~"granite", @granite-base, (1/2), 1, @outputs: true);

@graphite-base: average(average(black, navy), average(darkslategray, dimgray));
@graphite: .set-color(~"graphite", @graphite-base, (1/6), 1.1)[];
.set-color(~"graphite", @graphite-base, (1/6), 1.1, @outputs: true);

@gunmetal-base: .set-average(steelblue, gray, black;)[];
@gunmetal: .set-color(~"gunmetal", @gunmetal-base, (1/4), 1)[];
.set-color(~"gunmetal", @gunmetal-base, (1/4), 1, @outputs: true);

@iron-base: .set-average(darkred, brown, darkslategray, black;)[];
@iron: .set-color(~"iron", @iron-base, (1/4), 1)[];
.set-color(~"iron", @iron-base, (1/4), 1, @outputs: true);

@manganese-base: #027cf6;
@manganese: .set-color(~"manganese", @manganese-base, (1/3), 1)[];
.set-color(~"manganese", @manganese-base, (1/3), 1, @outputs: true);

@onyx-base: #333;
@onyx: .set-color(~"onyx", @onyx-base, (1/12), 1.12)[];
.set-color(~"onyx", @onyx-base, (1/12), 1.12, @outputs: true);

@pewter-base: #b3b3a1;
@pewter: .set-color(~"pewter", @pewter-base, (1/3), 1.1)[];
.set-color(~"pewter", @pewter-base, (1/3), 1.1, @outputs: true);

@platinum-base: #E5E4E2;
@platinum: .set-color(~"platinum", @platinum-base, (1/4), 1.1)[];
.set-color(~"platinum", @platinum-base, (1/4), 1.1, @outputs: true);

@ruby-base: mix(#a7003c, hardlight(@ambient, #a7003c), 80%);
@ruby: .set-color(~"ruby", @ruby-base, (1/6), 1.1)[];
.set-color(~"ruby", @ruby-base, (1/6), 1.1, @outputs: true);

@sapphire-base: mix(#0F52BA, hardlight(@ambient, #0F52BA), 70%);
@sapphire: .set-color(~"sapphire", @sapphire-base, (1/2), 1.1)[];
.set-color(~"sapphire", @sapphire-base, (1/2), 1.1, @outputs: true);

@silver-base: mix(silver, gold, 90%);
@silver: .set-color(~"silver", @silver-base, (1/4), 1)[];
.set-color(~"silver", @silver-base, (1/4), 1, @outputs: true);

@slate-base: .set-average(slateblue, darkslateblue, slategray, darkslategray, darkslategray, black;)[];
@slate: .set-color(~"slate", @slate-base, (2/3), 1)[];
.set-color(~"slate", @slate-base, (2/3), 1, @outputs: true);

@steel-base: .set-average(steelblue, lightsteelblue, gray, white;)[];
@steel: .set-color(~"steel", @steel-base, (1/3), 1.1)[];
.set-color(~"steel", @steel-base, (1/3), 1.1, @outputs: true);

@turquoise-base: turquoise;
@turquoise: .set-color(~"turquoise", @turquoise-base, (1/3), 1)[];
.set-color(~"turquoise", @turquoise-base, (1/3), 1, @outputs: true);

@ultramarine-base: #120A8F;
@ultramarine: .set-color(~"ultramarine", @ultramarine-base, (2/3), 1.1)[];
.set-color(~"ultramarine", @ultramarine-base, (2/3), 1.1, @outputs: true);

