.no-padding-top { padding-top: 0;}
.no-padding-right { padding-right: 0;}
.no-padding-bottom { padding-bottom: 0;}
.no-padding-left { padding-left: 0;}

.no-margin-top { margin-top: 0;}
.no-margin-right { margin-right: 0;}
.no-margin-bottom { margin-bottom: 0;}
.no-margin-left { margin-left: 0;}

.no-padding { padding: 0;}
.no-margin, .no-gutter { margin: 0;}

.no-margins {
    margin: 0;

    * {
        margin: 0;
    }
}

.no-min-width {
    min-width: 0 !important;
}

.no-max-width {
    max-width: 0 !important;
}

.no-min-height {
    min-height: 0 !important;
}

.no-max-height {
    max-height: 0 !important;
}

.no-box-shadow { box-shadow: unset;}
.no-text-shadow { text-shadow: unset;}

.no-shadow, .no-shadows, .no-shadows *, .flatten, .flatten * {
    box-shadow: unset;
    text-shadow: unset;
}

.no-border-radius {
    border-radius: 0 !important;
}

.no-border, .no-borders, .no-borders * {
    border-width: 0 !important;
}

.no-border-top {
    border-top-width: 0 !important;
}

.no-border-right {
    border-right-width: 0 !important;
}

.no-border-bottom {
    border-bottom-width: 0 !important;
}

.no-border-left {
    border-left-width: 0 !important;
}

.no-background {
    background: transparent !important;
}

.no-bold {
    font-weight: normal;
}

.no-overflow, .no-overflow * {
    overflow: hidden;
}

.no-line-height {
    line-height: 1;
}

.no-text-indent {
    text-indent: 0;
}

.no-text, .no-text * {
    text-indent: -9999px;
    display: inline-block;
}

.no-text-align {
    text-align: initial;
}

.no-underline {
    text-decoration: none !important;
}

.no-underlines * {
    text-decoration: none !important;
}

.no-user-select {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.no-pointer-events {
    pointer-events: none;
}

.no-list-style {
    list-style-type: none;
    margin-left: 0;
}

.no-fade {
    opacity: 1;
}

.no-gap, .no-column-gap {
    gap: 0;
    column-gap: 0;
}