// environment

@import "core/properties";
@import "core/settings";
@import "mixins/mixins";

@import "core/targets";
@import "core/viewports";

@import "core/random"; // dev only
@import "core/patterns"; // TODO


// css output

@import "core/reset";
@import "core/css-variables";
@import "core/property-classes";

@import "composables/grid";
@import "composables/two-column";
@import "composables/three-column";
// @import "composables/group";
@import "composables/bar";
@import "composables/card";
@import "composables/light";
@import "composables/dark";
@import "composables/feature";
@import "composables/overlay";
@import "composables/badge";
@import "composables/modal";
@import "composables/hide";
@import "composables/button";

@import "colors/colors";
@import "core/grunts";
@import "core/inner-width";
@import "core/width";
@import "core/nullifiers";
@import "core/print";

@import "elements/body";
@import "elements/main";
@import "elements/nav";
@import "elements/section";
@import "elements/aside";
@import "elements/footer";
@import "elements/headline";
@import "elements/p";
@import "elements/button";
@import "elements/img";
@import "elements/a";
@import "elements/form";
@import "elements/fieldset";
@import "elements/ol";
@import "elements/ul";
@import "elements/li";
@import "elements/span";
@import "elements/mark";
@import "elements/kbd";
@import "elements/b";
@import "elements/pre";
@import "elements/code";
@import "elements/blockquote";
@import "elements/textarea";

// add any other Less/CSS here


// demo site CSS

// .base-color { .contrast(color, @base-color); background: @base-color;}

// .text-on-blue {
//     .contrast(color, blue); background: blue;
// }

// #blue_headline_example {
//     .contrast(color, blue, 3); background: blue;
// }

// #blue_headline_example2 {
//     .contrast(color, blue, 3);
//     background: blue;
//     p {
//         border-style: solid;
//         border-width: 1px;
//         .contrast(border-color, blue, 9);
//     }
// }

// #blue_headline_example3 {
//     .contrast(color, blue, 3);
//     background: blue;
//     p {
//         border-style: solid;
//         border-width: 1px;
//         .contrast(border-color, blue, 9, shade);
//     }
// }

// .docs-color {

//     margin-bottom: @padding/2;

//     position: relative;
//     padding: @text-padding;
//     overflow: hidden;
//     text-align: center;
//     margin-bottom: 0;

//     width: 100%;

//     .default(border-width);
//     .default(border-radius);

//     &::before {
//         display: block;
//         position: absolute;
//         content:"";
//         width: 100%;
//         height: 16%;
//         bottom: 0;
//         right: 0;
//         .dark;
//     }

//     &::after {
//         display: block;
//         position: absolute;
//         content:"";
//         width: 100%;
//         height: 16%;
//         top: 0;
//         left: 0;
//         .light;
//     }

//     &:last-child {
//         .clearfix();
//     }
// }

// .pattern-example {
//     width: 100%;
//     height: 250px;
//     .default(margin-bottom);

//     &::after {
//         .small;
//         .set-tone(@base-color);
//         @color: mix(@base-color, @tone, 75%);
//         .contrast(color, @color);
//         background: @color;
//         padding: @text-padding;
//     }
// }
