form {
    padding: @text-padding;
}

input {
    .default(font-family);
    .default(font-size);
    .default(line-height);
    .default(border);
    .default(border-radius);

    .contrast(color; @main-background; 9;);
    padding: @text-padding;

    &:focus {
        box-shadow: 0 0 2px @info;
    }
}