h1, h2, h3, h4, h5, h6 {
  .default(font-family);
  font-weight: bold;
  margin-top: (1em / @golden-ratio)*.8;
  margin-bottom: (1em / @golden-ratio)*1.2;
  letter-spacing: -.025em;
  color: inherit;
  line-height: @golden-ratio;

  &:only-child {
    margin-top: 0;
    margin-bottom: 0;
  }
}

// font sizes

.headline-size(@size;) {
  font-size: @size;

  // &.feature { font-size: @size*1.31;}
}

h1 { .headline-size(2.2em)}
h2 { .headline-size(1.8em)}
h3 { .headline-size(1.4em)}
h4 { .headline-size(1.2em)}
h5 { .headline-size(1.1em)}
h6 { .headline-size(1em)}