.set-color(@color-name, @base, @luma-modifier: 1/2, @ambient-modifier: 1, @outputs: false) {
	// @color-name: the name of the color, which will be the class name
	// @base: the base representative color
	// @luma-modifier: [0 - 1] how much the color is luma-matched to @base-color
	// @ambient-modifier: [.9 - 1.1 works best] how much the ambient light affects the color

	// generate the color
	@color-base: .set-lumafix(@base; @strength: @color-strength*@luma-modifier;)[];
	@base-contrast-ceiling: .set-contrast-ratio(@color, @white)[];

	// figure out if we're tinting or shading for the base color
	@white-text: boolean(@base-contrast-ceiling >= 3);
	@black-text: boolean(@base-contrast-ceiling < 3);

	@faux-overlay-white: mix(@color, white, 16%);
	@faux-overlay-black: mix(@color, black, 16%);

	// find ceilings for .light and .dark variants
	@light-ceiling: .set-contrast-ratio(@faux-overlay-white, @white)[];
	@dark-ceiling: .set-contrast-ratio(@faux-overlay-black, @white)[];

	// sometimes it needs white text when darkened
	@white-text-dark: boolean(@dark-ceiling < 3);

	// or black text when lightened
	@black-text-light: boolean(@light-ceiling >= 3);

	@color: mix(@color-base, overlay(@ambient, @color-base), @ambient-mix*@ambient-modifier);

	

	// finalize the color
	.finalize() when (@black-text) 
	and (@output-color-classes = true) 
	and (@outputs = true) {
        .@{color-name} { 
			&:extend(.shade);
			background-color: @color;
			border-color: .set-lumafix(@color, @black, 50%)[];

			& when (@white-text-dark) { 
				&.dark { 
					&:extend(.tint);
				}
			}
		}
	}

	.finalize() when (@white-text) 
	and (@output-color-classes = true) 
	and (@outputs = true) {		
		.@{color-name} { 
			&:extend(.tint);
			background-color: @color;
			border-color: .set-lumafix(@color, @black, 50%)[];

			& when (@black-text-light) { 
				&.light { 
					&:extend(.shade);
					// color: @black;
				}
			}
		}
	}


	.finalize();
}

// used in building other colors
@import "white";
@import "black";
@import "ambient";
@import "core";

// // default colors
@import "gray";
@import "brown";
@import "magenta";
@import "lavender";
@import "cream";
@import "charcoal";
@import "crimson";
@import "clover";
@import "cobalt";
@import "graphite";
@import "ruby";
@import "onyx";
@import "pewter";
@import "gunmetal";
@import "hotpink";
@import "neongreen";
@import "electricblue";
@import "royalpurple";
@import "lemon";
@import "lime";
@import "tangerine";
@import "grapefruit";

// // semantic colors
@import "action";
@import "reaction";
@import "info";
@import "warning";
@import "success";
@import "failure";
@import "default";