.in-print({
    html { font-size: 62.5%;}
    * { box-shadow: unset !important; border: unset !important;}
    nav { display: none !important;}
    .page-width, .text-width { all: unset;}
    .inner-page-width, .inner-text-width, .inner-aside-width { all: unset;}
});

.in-print(@rules) {
    @media print { @rules();}
}