// this outputs every CSS property as a class, with its
// value as the default value found in properties.less

each(@css-property-names, {   
    .@{value} { 
      @{value}: @@value;
    };
});

// gutter isn't a property but gets similar rules

.gutter { margin: @gutter;}

.gutter-top { margin-top: @gutter;}

.gutter-right { margin-right: @gutter;}

.gutter-bottom { margin-bottom: @gutter;}

.gutter-left { margin-left: @gutter;}