@base-color: #acacd6;

// important CSS properties
@line-height: 1.8;
@font-size: 18px;
@font-family: @font-family-sans-serif;
@padding: 1rem;
@margin: @padding;
@gutter: @margin*2;
@border-radius: .5em;

// cavepaint widths
@text-measure: 62; // an estimate of intended characters per line
@text-width: floor(@text-measure * .6rem);
@card-width: floor(@text-width / @golden-ratio);
@page-width: floor(@text-width * @golden-ratio);
@feature-width: floor(@page-width * @golden-ratio);

// design variables
@grid-columns: 12;
@golden-ratio: 1.618;
@shadow-color-base: @black;
@shadow-color: fade(@shadow-color-base, 20%);
@shadow-length: 1px;
@shadow-blur: @shadow-length;
@light-source-position: @shadow-length @shadow-length; // top left
@shallow-light-source-position: @shadow-length/2 @shadow-length/2; // top left
@deep-light-source-position: @shadow-length*2 @shadow-length*2; // top left
@box-shadow: @light-source-position @shadow-blur @shadow-color;
@shallow-box-shadow: @shallow-light-source-position @shadow-blur/2 @shadow-color;
@deep-box-shadow: @deep-light-source-position @shadow-blur*2 @shadow-color;

// color mixing settings
@color-strength: 90% + 10%*(unit(luma(@base-color))/100); // how much of original color stays in
@ambient-mix: 90%; // mix of ambient lighting
@tone: .set-tone(@base-color)[];

// text settings
@text-padding: .25em;
@text-margin: var(--text-padding);
@text-border-radius: var(--text-padding);
@text-shadow: @box-shadow;

@margin: @padding;
@margin-bottom: @margin;
@margin-left: @margin;
@margin-right: @margin;
@margin-top: @margin;

@border: @border-width @border-style @border-color; // Sets the width, style, and color for all four sides of an element's border.
@border-style: solid; // Sets the style of the border on all the four sides of an element.
@border-width: 1px;
@border-color: @gray;

// font stacks
@font-family-monospace: 
    "SFMono-Regular",
    Consolas,
    "Liberation Mono",
    Menlo,
    "DejaVu Sans Mono",
    Courier,
    monospace;

@font-family-serif: 
    Constantia, 
    "Lucida Bright", 
    Lucidabright, 
    "Lucida Serif", 
    Lucida, 
    "Droid Serif",
    "Bitstream Vera Serif", 
    "Liberation Serif", 
    Georgia,
    serif;

@font-family-sans-serif:  
    "Helvetica Neue",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen-Sans,
    Ubuntu,
    Cantarell,
    sans-serif;

@tablet: @text-width + @gutter;
@desktop: @page-width + @gutter;
@mobile-padding: .6*@padding;
@tablet-padding: .8*@padding;
@desktop-padding: 1*@padding;

:root {
    --font-size: 18px;
    --font-family: var(--sans-serif);
    --line-height: 1.8;
    --headline-size: 1em;
    --spacer: 1rem;
    --text-padding: .25em;
    --grid-gap: var(--spacer);
    --h: round(hue(@white), 1);
    --s: round(saturation(@white), 1);
    --l: round(lightness(@white), 1);
    --border-width: 1px;
    --border-style: solid;
    --border-h: var(--h);
    --border-s: var(--s);
    --border-l: clamp(0%, calc(var(--l) * .4), 30%);
    --border-color: hsl(var(--border-h), var(--border-s), var(--border-l));
    --border: var(--border-width) var(--border-style) var(--border-color);
    --border-thin: calc(var(--border-width) / 2);
    --border-thick: calc(var(--border-width) * 2);
    --border-radius: var(--text-padding);
    --tablet: ~"calc(var(--text-width) + var(--gutter))";
    --desktop: ~"calc(var(--page-width) + var(--gutter))";
    --card-width: @card-width;
    --text-width: @text-width;
    --page-width: @page-width;
    --box-shadow: var(--shadow-position) var(--shadow-position) var(--shadow-blur) var(--shadow-color);
    --shadow-position: 1px;
    --shadow-blur: 1px;
    --shadow-color: @shadow-color;
    --warm: @warm-gradient;
    --cool: @cool-gradient;
    --neutral: @neutral-gradient;
    --dull: @dull-gradient;
    --monospace: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
    --serif: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "Droid Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
    --sans-serif: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;

    .on-mobile({
        --padding: calc(.6 * var(--spacer));
        --margin: calc(.6 * var(--spacer));
        --gutter: calc(1.2 * var(--spacer));
        --font-size: 16px;
        --headline-size: 1em;
    });

    .on-tablet({
        --padding: calc(.8 * var(--spacer));
        --margin: calc(.8 * var(--spacer));
        --gutter: calc(1.6 * var(--spacer));
        --font-size: 18px;
        --headline-size: 1.1em;
    });

    .on-desktop({
        --padding: calc(1 * var(--spacer));
        --margin: calc(1 * var(--spacer));
        --gutter: calc(2 * var(--spacer));
        --font-size: 20px;
        --headline-size: 1.2em;
    });
}