.on-mobile(@rules) {
   @tablet: @text-width + @gutter;
    @media screen and (max-width: ~"calc(@{tablet} - 1px)") { @rules();}
 }
 
 .on-tablet(@rules) {
   @tablet: @text-width + @gutter;
    @media screen and (min-width: @tablet) { @rules();}
 }
 
 .on-desktop(@rules) {
    @desktop: @page-width + @gutter;
    @media screen and (min-width: @desktop) { @rules();}
 }