@grid-columns: 12;

.grid, .two-column, .three-column {

    display: grid;
    grid-gap: @margin;

    &.tablet, &.mobile.tablet, &.desktop { 
        display: initial;
    }
}

.grid {
    grid-template-columns: repeat(@grid-columns, minmax(0, 1fr));
}

.two-column {
    grid-template-columns: 1fr 1fr;

    &.golden {
        grid-template-columns: 1fr*@golden-ratio 1fr;
    }

    &.golden.reverse {
        grid-template-columns: 1fr 1fr*@golden-ratio;
    }
}

.three-column {
    grid-template-columns: 1fr 1fr 1fr;
    
    &.golden {
        grid-template-columns: 1fr 1fr*@golden-ratio 1fr;
    }

    &.golden.leading {
        grid-template-columns: 1fr*@golden-ratio 1fr 1fr;
    }

    &.golden.trailing {
        grid-template-columns: 1fr 1fr 1fr*@golden-ratio;
    }
}

.grid .grid-width-one {
    grid-column: auto / span 1;
}
.grid .grid-width-two {
    grid-column: auto / span 2;
}
.grid .grid-width-three when (@grid-columns >= 3) {
    grid-column: auto / span 3;
}
.grid .grid-width-four when (@grid-columns >= 4) {
    grid-column: auto / span 4;
}
.grid .grid-width-five when (@grid-columns >= 5) {
    grid-column: auto / span 5;
}
.grid .grid-width-six when (@grid-columns >= 6) {
    grid-column: auto / span 6;
}
.grid .grid-width-seven when (@grid-columns >= 7) {
    grid-column: auto / span 7;
}
.grid .grid-width-eight when (@grid-columns >= 8) {
    grid-column: auto / span 8;
}
.grid .grid-width-nine when (@grid-columns >= 9) {
  grid-column: auto / span 9;
}
.grid .grid-width-ten when (@grid-columns >= 10) {
  grid-column: auto / span 10;
}
.grid .grid-width-eleven when (@grid-columns >= 11) {
  grid-column: auto / span 11;
}
.grid .grid-width-twelve when (@grid-columns >= 12) {
  grid-column: auto / span 12;
}

.on-mobile({
    .grid, .two-column, .three-column {
        &.mobile {
            display: grid;
            > * {
                margin-bottom: 0;
            }
        }
    }
});

.on-tablet({
    .grid, .two-column, .three-column {
        &.mobile {
            display: initial;
            > * {
                margin-bottom: initial;
            }
        }
        &.tablet {
            display: grid;
            > * {
                margin-bottom: 0;
            }
        }
    }
});

.under-desktop({
    .grid, .two-column, .three-column {
        &.mobile.tablet {
            display: grid;
            > * {
                margin-bottom: 0;
            }
        }
    }
});

.on-desktop({
    .grid, .two-column, .three-column {
        &.desktop {
            display: grid;
            > * {
                margin-bottom: 0;
            }
        }
    } 
});
