.overlay {
    margin: 0;
    padding: 0;
    position: relative;

    .top, .bottom, .left, .right {
        position: absolute;
    }

    .top { top: @text-padding-right;}
    .bottom { bottom: @text-padding-right;}
    .left { left: @text-padding-right;}
    .right { right: @text-padding-right;}

    &.stretch { position: absolute; top: 0; left: 0; right: 0;}

    * {
        margin: 0;
        display: block;
    }
}