.two-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: @padding;

    &.golden {
        grid-template-columns: 1fr*@golden-ratio 1fr;

        &.reverse {
            grid-template-columns: 1fr 1fr*@golden-ratio;
        }
    }

    &.mobile {
        & { display: initial;}
        .on-mobile({
            display: grid;
        });
    }

    &.tablet {
        & { display: initial;}
        > * { margin-bottom: inherit;}
        .on-tablet({
            display: grid;
        });
    }

    &.mobile.tablet {
        & { display: initial;}
        > * { margin-bottom: inherit;}
        .under-desktop({
            display: grid;
        });
    }

    &.desktop {
        & { display: initial;}
        > * { margin-bottom: inherit;}
        .on-desktop({
            display: grid;
        });
    }
}